extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_cs-form.pug


block meta 
    - var componentId = "CS0062"
    - var componentName = "Right to Repair_Registration_Privacy"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    mixin formCheckbox2(label, colorLabel, linkLabel, name, val, id, count = "false", disabled = false, link=true)
        .c-checkbox-item
            label.checkbox(for=`${id}`)
                if(disabled)
                    input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`, aria-label="", disabled="disabled")&attributes(attributes)
                else 
                    input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`, aria-label="")&attributes(attributes)

                if(label)
                    span.label.font-m-normal-12.font-w-normal-20= label
                        span.require.font-m-normal-12.font-w-normal-20= colorLabel 
                        a(href="daum.net").link.font-m-normal-12.font-w-normal-20= linkLabel
                        -if(count >= 0 & count != "false") // for filter
                            sup.count= count 
                else 
                    if block 
                        span.label
                            block


    // Component Markup
    .guide-text-type Right to Repair_Registration_Privacy 
    
    // Component Markup
    .c-wrapper.CS0062.type-text
        .component.type-form
            .CS0062__container
                .c-text-contents.c-text-contents__line-type
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                            p If you are professional repairer, here is procedure to register for access to repair information. Please, register the required document &amp; evidence and then click the submit.
                            .c-text-contents__list
                                span 1. 
                                | Business registration certificate of customer
                            .c-text-contents__list
                                span 2. 
                                | Liability insurance
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "About you")
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .container
                    .cs-form 
                        .cs-form__wrap     
                            .cmp-form
                                +csForm_Input({id: 'firstName', label: 'First name', type:"text", formDefalut: 'true', requireMsg: 'First name is required.', invalidMsg: "First name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" }).
                            .cmp-form
                                +csForm_Input({id: 'lastName', label: 'Last name', type:"text", formDefalut: 'true', requireMsg: 'Last name is required.', invalidMsg: "Last name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your last name" })
                            .cmp-form
                                +csForm_Input({id: 'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email address is required.', invalidMsg: "Email address is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address" })

                            .cmp-form
                                +csForm_Input({id: 'confirmEmail', label: 'Confirm email', type:"text", formDefalut: 'true', requireMsg: 'Confirm email account is required.', invalidMsg: "Confirm email account is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address again" })
                                .c-warning.c-confirmEmail-notmatch Email and confirm email do not match.
                            .cmp-form
                                +csForm_Input({id: 'telePhone', label: 'Telephone', type:"text", formDefalut: 'true', info:'true', infoMsg:'Please input phone number without space.',requireMsg: 'Telephone is required.', invalidMsg: "Telephone is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your telephone number" })
                            .cmp-form
                                +csForm_Input({id: 'mobilePhone', label: 'Mobile phone', type:"text", formDefalut: 'true', info:'true', infoMsg:'Please input phone number without space.', requireMsg: 'Mobile phone number is required.', invalidMsg: "Mobile phone number is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your mobile phone number" })

                            // select case - country
                            .cmp-form
                                +csForm_Select({id: 'contry', label: 'Country', formDefalut: 'true', requireMsg: 'Country is required.', value_01: 'Type your country', value_02: 'Type your country' , class:"c-sdate-valid"})

                            .cmp-form
                            // input case - country
                            //.cmp-form
                                label(for="contry").c-select-label.font-m-normal-16.font-w-normal-24 Country #[em.require *]#[span.sr-only Required Field]
                                input#contry.font-m-normal-16.font-w-normal-20.c-country-valid(type="text" required="required" aria-label="" placeholder="Type your country")
                                .c-warning.c-country-required Country is required.
                    // 20230321 Component #62 is connected to component #63, so the button is deleted.
                    // .c-button-wrap
                        .button.c-cta
                            +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})(aria-label="")
                            +defaultButton({name: 'Next', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="c-submit" aria-label="")

    // Component Markup
    .guide-text-type ES type
    
    // Component Markup
    .c-wrapper.CS0062.type-text
        .component.type-form
            .CS0062__container
                .c-text-contents.c-text-contents__line-type
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                            p Please note that this form is for requesting repair information from professional repairers only.
                                br
                                | Have the client's commercial registration certificate and liability insurance available, at the end click send.
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "About you")
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .container
                    .cs-form 
                        .cs-form__wrap     
                            .cmp-form
                                +csForm_Input({id: 'firstName', label: 'First name', type:"text", formDefalut: 'true', requireMsg: 'First name is required.', invalidMsg: "First name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" }).
                            .cmp-form
                                +csForm_Input({id: 'lastName', label: 'Last name', type:"text", formDefalut: 'true', requireMsg: 'Last name is required.', invalidMsg: "Last name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your last name" })
                            .cmp-form
                                +csForm_Input({id: 'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email address is required.', invalidMsg: "Email address is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address" })

                            .cmp-form
                                +csForm_Input({id: 'confirmEmail', label: 'Confirm email', type:"text", formDefalut: 'true', requireMsg: 'Confirm email account is required.', invalidMsg: "Confirm email account is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address again" })
                                .c-warning.c-confirmEmail-notmatch Email and confirm email do not match.
                            .cmp-form
                                +csForm_Input({id: 'mobilePhone', label: 'Mobile phone', type:"text", formDefalut: 'true', info:'true', infoMsg:'Please input phone number without space.', requireMsg: 'Mobile phone number is required.', invalidMsg: "Mobile phone number is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your mobile phone number" })
                            .cmp-form
                                +csForm_Input({id: 'contry', label: 'Country', require: 'false', type:"text", placeholder:"Type your country", formDefalut: 'false', disabled:'disabled', value:'España'})
                            .cmp-form

                            // input case - country
                            //.cmp-form
                                label(for="contry").c-select-label.font-m-normal-16.font-w-normal-24 Country #[em.require *]#[span.sr-only Required Field]
                                input#contry.font-m-normal-16.font-w-normal-20.c-country-valid(type="text" required="required" aria-label="" placeholder="Type your country")
                                .c-warning.c-country-required Country is required.
                    // 20230321 Component #62 is connected to component #63, so the button is deleted.
                    // .c-button-wrap
                        .button.c-cta
                            +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})(aria-label="")
                            +defaultButton({name: 'Next', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="c-submit" aria-label="")
