extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug


block meta 
    - var componentId = "AL0007"
    - var componentName = "Chart(Google API)"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")



block content
    mixin chartApi(params)
        case params
            when 2
                ul.c-chart-api-area.row
                    li.c-chart-api-box.row
                        p Google API
                    li.c-chart-api-box.row
                        p Google API
                - break
            default
                .c-chart-api-area
                    .c-chart-api-box
                        p Google API


    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-chart-api.c-text-contents
                    .c-chart-api-headline
                        +headline(class1, h2, name = "Headline")
                        .text.c-text-contents__bodycopy
                            p.cmp-text.c-chart-api-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
                    +chartApi(1)
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-chart-api.c-text-contents
                    .c-chart-api-headline
                        +headline(class1, h2, name = "Headline")
                        .text.c-text-contents__bodycopy
                            p.cmp-text.c-chart-api-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
                    +chartApi(2)


                    