extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_hero-banner.pug
include ../_common/_carousel.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "AL3"
    - var AL0022 = "AL0022"
    - var componentName = "Sustainability"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href=`../${AL0022}/${AL0022}`+".css")

block scripts
    script(src=componentId+".js" type="module")
    script(src=`../${AL0022}/${AL0022}`+".js" type="module")

block content
    .c-wrapper.ST0003.type-template-title.bg-lightgray.margin-top.margin-bottom(class=componentId)
        //- block : ST0003 
        .component
            .cmp-container.align-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline
                        // 2022-11-18 change the default font size
                        h2.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Sustainability

    .c-wrapper.ST0001.width-narrow.type-default.bg-lightgray.margin-bottom(class=componentId)
        .component
            .cmp-container
                +hero-banner-case-image({
                    width : "wide",
                    heroType : "default",
                    dateType : "none",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headline : "", 
                    bodycopy : "",
                })
    mixin roleList(item)
        if item 
            .c-list__item(role="listitem")
                if block
                    block
        else
            .c-list__item
                if block
                    block

    mixin textListItem(params)
        - var option={contents:both, useQuote:false, isList:false, headline:'', bodycopy:'', ...params}
            +roleList(option.isList)
                //- block : text-contents                 
                div(class=`c-text-contents ${option.bodycopy}`)
                    .title.c-text-contents__headline
                        +headline(option.headline.class1, option.headline.tagname, option.headline.name)
                        //- +headline(`${option.headline}`)
                    case option.contents
                        when "list"
                            .text.c-text-contents__bodycopy
                                .cmp-text(data-cmp-data-layer="")
                                    //- element : list
                                    ul
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

                        when "desc"
                            .text.c-text-contents__bodycopy 
                                .cmp-text(data-cmp-data-layer="") 
                                    p Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters.
                        
                        default
                            .text.c-text-contents__bodycopy 
                                .cmp-text(data-cmp-data-layer="") 
                                    //- p Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters.
                                    p= option.bodytext
                            //- element : list
                            //- .text.c-text-contents__bodycopy
                            //-     .cmp-text(data-cmp-data-layer="")
                            //-         ul
                            //-             li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            //-             li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            //-             li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    //- block :cta 
                    .button.c-cta
                        +defaultButton({name: 'Agree', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
                    //- block :cta 
                    //- .button.c-cta
                    //-     +linkButton({type:"text", icon:true})
                    //- element : quote
                    if option.useQuote
                        .c-text-contents__quote 
                            .text.c-text-contents__quote-text
                                .cmp-text.font-w-semibold-28.font-m-semibold-20(data-cmp-data-layer="") 
                                    p “Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo”
                            .text.c-text-contents__quote-name
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                                    p Lorem ipsum dolor sit amet

    .c-wrapper.ST0010.margin-bottom.bg-lightgray(class=componentId)
        // Add class by column
        .component.column1.type-text
            .cmp-container
                // block : list
                .c-list
                    // block : textListItem
                    +textListItem({
                        useQuote:false,
                        isList:false,
                        headline:{
                            class1:"font-w-light-56 font-m-light-28",
                            tagname:"",
                            name:"Enhancing your life with LG's products comes with great values, benefits, promise and personality.",
                        }, 
                        bodycopy:'font-w-normal-24 font-m-normal-16',
                        bodytext: `You are linking to a website outside the control of LG Electronics UK which is intended for international viewing. The information contained in this website may not apply in the United Kingdom You should refer to and rely on the marketing and informational materials distributed in your home country. This website also contains "forward-looking statements;" that is, statements related to future, not past, events. Forward-looking statements by their nature address matters that are, to different degrees, uncertain. These uncertainties may cause LG's actual future results to be materially different from those expressed in the forward-looking statements on this website.`
                    })

    mixin globalList (param)
        - var size_pc = "80x80";
        - var size_mo = "64x64";
        each data in param 
            div.cmp-carousel__item.swiper-slide.c-list__item(class=`${param.length >= 4 ? 'c-list__item--four' : ''}`)
                .c-list-item__contents.c-text-contents
                    .title.c-text-contents__title
                        strong.cmp-title.font-w-light-36.font-m-normal-20(data-cmp-data-layer="")= data.titleName
                    .text.c-text-contents__bodycopy
                        p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")!= data.bodyCopy
                    //- +linkButton({type:"box-outlined", color:"black", size:"small", name: "LEARN MORE"})
                    +linkButton({type:"text",color:"black", underline:false,comment:false, outlink:true, name: "LEARN MORE"})(target='_blank' data-link-name="learn_more" data-link-destination="" data-link-menu="" data-link-page-type="")
                .c-list-item__img
                    +printLazyPicture(
                        `https://via.placeholder.com/${size_mo}`, 
                        `https://via.placeholder.com/${size_pc}`
                    )

    .c-wrapper.ST0023.margin-bottom.AL3.AL0022
        .component
            .cmp-container
                +component-title-area({
                    headline : {
                        text : "More from Global"
                    }
                })
                //- //- block : text-contents
                //- .c-text-contents
                //-     .title.c-text-contents__headline
                //-         // 2022-11-18 change the default font size
                //-         h1.cmp-title.font-w-semibold-40.font-m-semibold-26(data-cmp-data-layer="") More from Global
            .cmp-container
                .carousel
                    //- +contentsList({num:'3',headline:'font-w-semibold-32 font-m-semibold-24',bodycopy:'font-w-normal-16 font-m-normal-16'})
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.swiper-wrapper.c-list
                            +globalList([
                                {
                                    titleName: "Global LG",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                                {
                                    titleName: "ESG",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                                {
                                    titleName: "Investor Relations",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                            ])