extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0075"
    - var componentName = "Input Form_Temporarily saved"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    //- .guide 
    //-     .grid-1600 
    //-     .grid-1440
    //-     .inner
    //-         .guide-list
    //-             a(href="../../list-st.html") List 
    //-         .guide-title #{componentId}. #{componentName}
    //-         .guide-wrapper
    //-             script. 
    //-                 const guideList = {
    //-                     '.c-wrapper' : [
    //-                         {
    //-                             'name' : 'Top margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-top'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'Bottom margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-bottom'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'BG Color',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-text, .type-disclaimer' : [
    //-                         {
    //-                             'name' : 'Text Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
    //-                             ]
    //-                         }
    //-                     ],                        
    //-                     '.type-disclaimer .component' : [
    //-                         {
    //-                             'name' : 'Width Size',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'width-1440', 'remove' : 'width-1600'},
    //-                                 {'toggle' : false, 'add' : 'width-1600', 'remove' : 'width-1440'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-side' : [
    //-                         {
    //-                             'name' : 'Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-right'},
    //-                                 {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
    //-                         {
    //-                             'name' : 'Font Options',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
    //-                                 {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
    //-                                 {'toggle' : true, 'add' : 'font-italic'},
    //-                                 {'toggle' : true, 'add' : 'font-underline'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                 };

    mixin categoryItem 
        .c-prd-info__wrap
            .c-prd-info__box
                +printLazyPicture('https://via.placeholder.com/48x48/ccc/eee/?text=48x48', 'https://via.placeholder.com/80x80/ccc/eee/?text=80x80')
                .c-prd-info__inner 
                    dl 
                        dt.font-m-normal-12.font-w-normal-12 Model number
                        dd.font-m-normal-14.font-w-normal-16 27MP500-B
                            .c-warning.font-m-normal-16.font-w-normal-20 27MP500-B
                    dl
                        dt.font-m-normal-12.font-w-normal-12 Serial number
                        dd.font-m-normal-14.font-w-normal-16 SE220928MO
                            .c-warning.font-m-normal-14i.font-w-normal-14i It is invalid.
                    dl
                        dt.font-m-normal-12.font-w-normal-12 Install date
                        dd.font-m-normal-14.font-w-normal-16 22/09/28
                    dl
                        dt.font-m-normal-12.font-w-normal-12 Warranty expire date
                        dd.font-m-normal-14.font-w-normal-16 05/25/2024
                    dl
                        dt.font-m-normal-12.font-w-normal-12 Proof of purchase
                        dd.font-m-normal-14.font-w-normal-16
                            img(src="../../assets/icon/icon-fileclip-gray-24-24.svg")
                            span.c-file-name aaaa.jpg
            .button.c-cta
                +linkButton({type:"text", icon:false, name:'Edit'})(role="button")
                +linkButton({type:"text", icon:false, name:'Delete'})(role="button")

    .guide-text-type Input Form_Temporarily saved	

    // Component Markup 
    .c-wrapper.CS0075.type-text.margin-top
        .component
            .CS0075__container
                .c-temp-saved
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Temporarily saved ')
                            // If you log in, but there is no purchased product, hide the subcopy
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                    span You can save products temporarily up to 5.
                    
                    .c-result-area
                        .c-result-area__result.productcollection__results-count.font-m-normal-12.font-w-normal-16
                            strong.c-result-area__count 5 
                            span products
                        .button.c-cta
                            +linkButton({type: "text",size:"large", name:'Delete all'})(role="button")
                    .c-prd-info
                        - for (var x = 0; x < 5; x++)
                            +categoryItem("home")
                
                .c-btn-submit__group  
                    .button.c-cta
                        +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                        +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(role="button" data-link-name)

                        //- +button({type: "box-outlined",size:"large", name:'cancel'})(aria-label="")
                        //- +button({type: "box", color:"red", size:"large", name:'submit'})(type="submit" aria-label="")              
