extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_cs-form.pug
//- include ../_common/_carousel.pug
//- include ../_common/_video.pug
//- include ../_common/_hero-banner.pug
//- include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0021"
    - var componentName = "CS Inquiry Status"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    //- .guide 
    //-     .grid-1600 
    //-     .grid-1440
    //-     .inner
    //-         .guide-list
    //-             a(href="../../list-st.html") List 
    //-         .guide-title #{componentId}. #{componentName}
    //-         .guide-wrapper
    //-             script. 
    //-                 const guideList = {
    //-                     '.c-wrapper' : [
    //-                         {
    //-                             'name' : 'Top margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-top'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'Bottom margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-bottom'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'BG Color',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-text, .type-disclaimer' : [
    //-                         {
    //-                             'name' : 'Text Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
    //-                             ]
    //-                         }
    //-                     ],                        
    //-                     '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
    //-                         {
    //-                             'name' : 'Font Options',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
    //-                                 {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
    //-                                 {'toggle' : true, 'add' : 'font-italic'},
    //-                                 {'toggle' : true, 'add' : 'font-underline'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                 };           
                    
    .guide-text-type CS Inquiry Status
    .guide-text-option Case 01. Inquiries can only be made by email.

    // Component Markup
    // Case 01. Email
    .c-wrapper.CS0021.type-text
        .component.type-form
            .CS0021__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Check your inquiry status')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 

                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cmp-form
                                +csForm_Input({id:'receiptNumber', label: 'Receipt number', type:"text", info:'true', infoMsg:'Receipt number starting with GNU', formDefalut: 'true', requireMsg: 'Receipt number is required.', class:"c-checkEmail-email-valid", placeholder:"(e.g. GCE1234567890)" ,invalidMsg:'Sorry. The information you entered is not correct. Please check the case number or the e-mail address again.'})
                            .cmp-form
                                +csForm_Input({id:'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email is required.', class:"c-checkEmail-email-valid", placeholder:"(e.g. lg@domain.com)" ,invalidMsg:'This email address is invalid.'})

                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton:'none'})(role="button")
                        +defaultButton({name: 'Track status', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})(class="c-checkEmail-trackStatus-submit" aria-label="")
                        
    .guide-text-option Case 02. If it is possible to check with Call Appointment.
    // Component Markup
    // Case 02. Call Appointment
    .c-wrapper.CS0021.type-text
        .component.type-form
            .CS0021__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Check your inquiry status')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 

                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cmp-form
                                +csForm_Input({id:'receiptNumber', label: 'Receipt number', type:"text", info:'true', infoMsg:'Receipt number starting with GNU', formDefalut: 'true', requireMsg: 'Receipt number is required.', class:"c-checkEmail-email-valid", placeholder:"(e.g. GCE1234567890)" ,invalidMsg:'Sorry. The information you entered is not correct. Please check the case number or the e-mail address again.'})
                            .cmp-form
                                +csForm_Input({id: 'telephone', label: 'Telephone', type:"text", formDefalut: 'true', requireMsg: 'Phone number is required.​', invalidMsg: "Incorrect phone number.", class:"c-checkTel-telephone-valid", placeholder:"(e.g. 1231231234)"})
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton:'none'})
                        +defaultButton({name: 'Track status', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})(class="c-checkEmail-trackStatus-submit" aria-label="")
