extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
block meta 
    - var componentId = "AL0013"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    .c-wrapper(class=componentId)
        .component
            mixin findJobLists (param)
                each data in param 
                    li.cmp-find-job-list
                        a.c-text-contents(href=data.listURL data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                            .title.c-text-contents__title.cmp-find-job-item
                                .cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="")= data.listTitle
                                //- strong.cmp-find-job-title.cmp-title.font-w-semibold-24.font-m-semibold-24(data-cmp-data-layer="")= data.listTitle
                            .date.c-text-contents__date.cmp-find-job-posted
                                span.cmp-date.font-w-normal-16.font-m-normal-12.cmp-find-job-post(data-cmp-data-layer="")= data.postedList

            .cmp-container
                .c-find-job-list
                    ul.cmp-find-job
                        +findJobLists([
                            {
                                listURL :"/",
                                listTitle :"Heading can be up to 100 characters lorem ipsum dolor",
                                postedList :"Month DD,YYYY",
                            },
                            {
                                listURL :"/",
                                listTitle :"Heading can be up to 100 characters lorem ipsum dolor",
                                postedList :"Month DD,YYYY",
                            },
                            {
                                listURL :"/",
                                listTitle :"Heading can be up to 100 characters lorem ipsum dolor Heading can be up to 100 characters lorem ipsum dolor",
                                postedList :"Month DD,YYYY",
                            },
                            {
                                listURL :"/",
                                listTitle :"Heading can be up to 100 characters lorem ipsum dolor",
                                postedList :"Month DD,YYYY",
                            },
                            {
                                listURL :"/",
                                listTitle :"Heading can be up to 100 characters lorem ipsum dolor",
                                postedList :"Month DD,YYYY",
                            },
                        ])
                .cmp-button.align-text-center
                    +textButton({name: 'View More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
