extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
//- include ../_common/_video.pug
//- include ../_common/_hero-banner.pug
//- include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0006"
    - var componentName = "My Product"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            }
                        ],
                        '.type-text, .type-disclaimer' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ],                        
                        '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };
    // When using separate gallery component
    mixin galleryItem(type)
        case type
            when 1
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                   .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Your registed product
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    // role="link" before login, role="dialog" after login
                                    +defaultButton({name: 'Go to detail', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
            
            when 2
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                   .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Your registed product
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    +defaultButton({name: 'Go to detail', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
            // 20230531 When the area is a link
            when 3
                .cmp-carousel__item.swiper-slide.c-carousel__item.emptyCard.c-hidden-mo(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    // Insert emptycard when data is less than 3 (added class .emptyCard)
                    .c-prd-register
                        a.c-prd-register__to-list(href="#" aria-label="Go to product registration page" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
            when 4 
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                   .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Register products with ThinQ
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    +defaultButton({name: 'Quick registeration', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
            // 20230531 When the area is not a link
            when 5
                .cmp-carousel__item.swiper-slide.c-carousel__item.emptyCard.c-hidden-mo(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    // Insert emptycard when data is less than 3 (added class .emptyCard)
                    .c-prd-register
                        p.c-prd-register__to-list             
        if block
            block

    mixin carouselPaginationUI 
        // 23.02.14 modified markup - added ".c-carousel__handler--dial", ".c-carousel__handler--away-from-carousel"
        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"prev"})
            +carouselPagination
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"next"})

    .guide-text-type My Product

    // Component Markup
    .guide-text-type Multiple Select

    .guide-text-option Select Toggle (When there are 1 or more registered products) - added class .type-card__slide--multiselect

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.type-card__slide--multiselect.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(3)
                            +galleryItem(3)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})
                        
    
    .guide-text-option Select Toggle (When there are 2 registered products)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.type-card__slide--multiselect.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(5)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})
    
    .guide-text-option Select Toggle (When there are 3 registered products)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.type-card__slide--multiselect.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(1)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})
                        

    .guide-text-option Select Toggle (When there are 4 or more registered products)
    
    .c-wrapper.CS0006.type-text
        .component.type-card__slide.type-card__slide--multiselect.full
            .CS0006__container
                // 20230308 When used with header (At this time, the button markup position is changed)
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Your product')
                // button class added .c-viewMore-btn
                .button.c-cta.c-viewMore-btn 
                    +linkButton({type:"text", icon:true, name:'View all my product'})
                .carousel.panelcontainer
                    
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(1)
                        +carouselPaginationUI
                     

    .guide-text-type Non Select

    .guide-text-option Non Select (When there is one registered product)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(2)
                            +galleryItem(3)
                            +galleryItem(3)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})
    
    .guide-text-option Non Select (When there are 2 registered products)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(2)
                            +galleryItem(2)
                            +galleryItem(3)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})
    
    .guide-text-option Non Select (When there are 3 registered products)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(2)
                            +galleryItem(2)
                            +galleryItem(2)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})

    .guide-text-option Non Select (When there are 4 or more registered products)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.full
            .CS0006__container
                // 20230308 When used with header (At this time, the button markup position is changed)
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Your product')
                // button class added .c-viewMore-btn
                .button.c-cta.c-viewMore-btn
                    +linkButton({type:"text", icon:true, name:'View all my product'})
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(2)
                            +galleryItem(2)
                            +galleryItem(2)
                            +galleryItem(2)
                        +carouselPaginationUI
                      

    .guide-text-type Single Select

    .guide-text-option Single select (When there are 1 or more registered products) - added class .type-card__slide--select

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.type-card__slide--select.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(3)
                            +galleryItem(3)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})
    
    .guide-text-option Single select (When there are 2 registered products)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.type-card__slide--select.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(3)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})
    
    .guide-text-option Single select (When there are 3 registered products)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.type-card__slide--select.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(1)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})
    .guide-text-option Single select (When there are 4 or more registered products)

    .c-wrapper.CS0006.type-text
        .component.type-card__slide.type-card__slide--select.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(1)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                             +linkButton({color:"white", type:"text", icon:true, name:'View all my product'})

    .guide-text-option ThinQ
    // added .type-thinq 240426
    .c-wrapper.CS0006.type-text.type-thinq
        .component.type-card__slide.type-card__slide--select.full
            .CS0006__container
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(4)
                            +galleryItem(4)
                            +galleryItem(4)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                            +button({color:"white", type:"text", icon:true, name:'View all my product'})
                        //- #toast.toast Registration Successful!
                        //-     img.closeBtn(src="../../assets/icon/icon-close-white-16-16.svg" role="close button")   
