mixin PD0042(option=false, count= false)
    mixin productInfo
        .c-compare-selling__item
            +productCard({
                    sku:'GSJV70PZTF', 
                    ufn:'LG OLED evo C2 55" 4K Smart TV',
                    signature: false,
                    gradeIs:true,
                    grade: 'a',
                    gradeBlock2: true,
                    promotion: "",
                    membership: '£1,866.98',
                    soldOut: false,
                    outOfStock: false , 
                    imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                    modelid: 'GSJV70PZTF',
                    review: false,
                    repair:true,
                    Ab:true,
                    lumpsum:true,
                    plInfoTxt:true,
                }
            )

    .c-wrapper.PD0042.margin-top.margin-bottom.no-crop.border-top.bg-default
        .component
            .cmp-container
                // block - region header
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Compare Product"
                    }
                })
                    .c-compare-selling__controls.c-compare-selling__controls--dial.hidden
                        button(type='button' class='c-compare-selling__scroll-left js-scroll-left' aria-controls='compareSelling' data-cmp-data-layer)
                            span.cmp-button-text.sr-only Scroll Left
                        button(type='button' class='c-compare-selling__scroll-right js-scroll-right' aria-controls='compareSelling' data-cmp-data-layer)
                            span.cmp-button-text.sr-only Scroll Right
                .c-compare-selling__product__wrapper
                    .c-compare-selling__product__container
                        .c-compare-selling.c-compare-selling__wrap.c-compare-selling__wrap--active(class=`${count > 1 ? `c-compare-selling__wrap--active--${count}` : `.c-compare-selling`}`)
                            .c-compare-selling__product
                                +productInfo
                            .c-compare-selling__spec
                                +specList("Product Type", "Washer Only")
                                +specList("Max Wash Capacity(kg)", "10.5")
                                +specList("Body Color", "Graphite")
                                +specList("Product Dimensions (WxHxD mm)", "600 x 565 x 850")
                                +specList("[ESG] Energy Consumption per 100 cycle (kWh)", "61")
                                +specList("Noise Level for Spinning (sound power level) (dBA)", "73 (B)")
                                +specList("Max spin speed (RPM)", "1360")
                                +specList("Downloaded Cycle", "-")
                                +specList("ezDispense", "-")
                                +specList("Inverter DirectDrive", "Yes")
                        //(class="c-region-header--vacate-side")
                            if()
                        #compareSelling.c-compare-selling.js-compare-scroll-area(class=`${count > 1 ? `c-compare-selling-multi c-compare-selling-multi--${count}` : `.c-compare-selling`}`)
                            button.c-compare-selling__coach-swipe(type='button')
                                span.c-compare-selling__swipe-icon
                                span.sr-only You can view it by swiping the screen.
                            .c-compare-selling__inner
                                .c-compare-selling__wrap
                                    .c-compare-selling__product
                                        .c-compare-selling__product-wrap
                                            .c-compare-selling__product-list
                                                - for (var x = 1; x < count; x++)
                                                    +productInfo
                                    .c-compare-selling__spec
                                        +specList("Product Type", "Washer Only", count)
                                        +specList("Max Wash Capacity(kg)", "10.5", count)
                                        +specList("Body Color", "Graphite", count)
                                        +specList("Product Dimensions (WxHxD mm)", "600 x 565 x 850", count)
                                        +specList("[ESG] Energy Consumption per 100 cycle (kWh)", "61", count)
                                        +specList("Noise Level for Spinning (sound power level) (dBA)", "73 (B)", count)
                                        +specList("Max spin speed (RPM)", "1360", count)
                                        +specList("Downloaded Cycle", "-", count)
                                        +specList("ezDispense", "-", count)
                                        +specList("Inverter DirectDrive", "Yes", count)
                    //- // block - cta
                    //- .button.c-cta
                    //-     button.cmp-button.c-button.c-button--text-icon.down.m-small.w-large.c-compare-selling__expand-btn.js-compare-selling-expand(type='button' data-cmp-data-layer='' aria-expanded='false' aria-controls='compareSelling' aria-describedby='compareSelling')
                    //-         span.cmp-button__text.c-button__text.expand View All
                    //-         span.cmp-button__text.c-button__text.collapse Collapse All

