extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_specs.pug

block meta 
    - var componentId = "PD0042"
    - var componentName = "Compare Products"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    // Component Markup

    style.
    //-     .test {position: relative; z-index: 100; padding: 25px 30px; background: #f0ece4; text-align: center; color: black; border-bottom: 1px solid #cbc8c2; }

    //- .can-sticky.test
    //-     span for Scroll Test

    include ./PD0042-inc.pug
    .guide-text-option TYPE1. Default
    +PD0042(false, 4)
    .guide-text-option TYPE2. 3 compare
    +PD0042(false, 3)
    .guide-text-option TYPE3. 2 compare
    +PD0042(false, 2)

    //- // test
    //- div(style='height:3000px')