extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "SE0004"
    - var componentName = "Search results for"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-al.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                    }
                script(type='text/javascript').
                    window.addEventListener('DOMContentLoaded', function() {
                        document.getElementById('typeDark').addEventListener('click', async () => {
                            const target = document.querySelector(".type-signature").closest(".c-wrapper");
                            document.body.classList.add('dark-theme');
                        });
                    }, false);
            .button-wrapper
                .guide-column
                    .target Dark Theme
                    ul.btn-list
                        li.btn-item 
                            +button({class:"type-dark", name:"Dark Theme", roleButton:"true", size: "small"})(id="typeDark")

    mixin experienceImg
        .c-image-area
            // block - image
            .image.c-image
                +printLazyImage(`https://via.placeholder.com/960x600`, '')

    mixin experienceItem(itemType, idx) 
        if (itemType == 'lastest')
            .c-image-area
                .image.c-image
                    +printLazyImage('https://www.lg.com/content/dam/channel/wcms/uk/2023_promotion/40off-speakers/_Desktop_1920x720_tandc_change_s.jpg', '')
            .c-text-contents
                .text.c-text-contents__eyebrow
                    +textButton({name: 'textButton', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                .title.c-text-contents__headline
                    p.cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="") Knock twice, see inside! The all new LG InstaView Door-in-Door™
                .text.c-text-contents__editor
                    span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Dec.12, 2022 dd/mm/yyyy
                    span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") By Adrian Back
                .text.c-text-contents__editor
                    span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") By Adrian Back
                .text.c-text-contents__editor
                    span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Dec.12, 2022 dd/mm/yyyy
                    
                .button.c-cta
                    +defaultButton({name: 'Learn more', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                    +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                    +textButton({name : 'Learn More', wSize : 'medium', mSize : 'small', buttonStyle : "default", isButton : false})(role="button")

        else
            .c-experience-list__item--top
                +experienceImg
                .c-text-contents
                    .text.c-text-contents__eyebrow
                        +textButton({name: 'Inspiration', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                    .title.c-text-contents__headline
                        p.cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="") Knock twice, see inside! The all new LG InstaView
                    if idx > 3
                        .text.c-text-contents__bodycopy
                            span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Of course, foods that are easily contaminated, like meat and fish, should be kept in the fridge at all times. But vegetables vegetables vegetables vegetables
                    .text.c-text-contents__editor
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Dec.12, 2022 dd/mm/yyyy
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") By Adrian Back
                    .text.c-text-contents__editor
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") By Adrian Back
                    .text.c-text-contents__editor
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Dec.12, 2022 dd/mm/yyyy
            .c-experience-list__item--bottom
                .button.c-cta
                    if idx === 0 || idx % 3 == 0
                        +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                    else if idx === 1 || idx % 3 == 1
                        +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                    else
                        +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        
    .c-wrapper.margin-bottom(class=componentId)
        .component.type-signature
            .cmp-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline.al-headline
                        h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Search results for 
                            span.font-w-light-56.font-m-light-24 #Search results TEST
                .c-sort-filter
                    .c-finder
                        //- block : search
                        .c-search-box
                            //- block : .c-search-box__body(--multi, --double)
                            .c-search-box__body.c-search-box__body--multi.cmp-form
                                //- element : c-search-box__form
                                .c-search-box__form
                                    .c-search-box__form-item
                                        p.font-w-normal-24.font-m-normal-16 Category
                                        +formSelect("", "category", "All Topics", true)
                                            option(value="") All
                                            option(value="Up & Coming") Up & Coming
                                            option(value="Helpful Hints") Helpful Hints
                                            option(value="LG Lab") LG Lab
                                            option(value="Inspiration") Inspiration
                                            option(value="Our Stories") Our Stories
                                    .c-search-box__form-item
                                        p.font-w-normal-24.font-m-normal-16 Sort by
                                        +formSelect("", "sortBy", "Sort by", true)
                                            option(value="2022") Recent
                                            option(value="2021") Past
                                .button.c-search-box__button    
                                    +defaultButton({name: 'Search', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})

                .c-result-area
                    .c-result-area__controls
                        .c-result-area__result
                            span.sr-only Filter:
                            strong.c-result-area__count 9,999 
                            span Total results
                // block : list
                .c-experience-list
                    ul.c-experience-list__list
                        - for (var x=0; x<9; x++)
                            li.c-experience-list__item
                                +experienceItem('', x)
                    .c-load-more
                        +pagination
                // error
                .c-error-area
                    .c-error.c-error--404
                        .c-error__img
                        .c-text-contents.align-text-left
                            .title.c-text-contents__headline
                                h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                                    | We're sorry, your search did not return any results on LG Home.
                            .text.c-text-contents__bodycopy 
                                p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                    | Check out other LG Home articles.

                            .button.c-cta
                                +defaultButton({
                                    name: 'Go to LG Home', 
                                    wSize: 'medium', 
                                    mSize: 'small', 
                                    buttonStyle: 'highlight', 
                                    isButton: true
                                })
