extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_forms.pug
include ../_common/_brand-detail.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "CS0036"
    - var componentName = "Parts list"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    .guide-text-type Parts list
    // 20230323
    mixin c-list__item(linkType)
        if linkType 
            a.cmp-carousel__item.swiper-slide.c-carousel__item(href="#" role="listitem" data-cmp-data-layer="" data-cmp-hook-carousel="item")
                dl.c-list__item
                    dd.c-list__image 
                        +printLazyImage("https://via.placeholder.com/100x100/000/333/?text=Image", "")
                    div
                        dt.font-m-normal-16.font-w-normal-32 AKB74855401
                        dd.font-m-normal-12.font-w-normal-16 Product sheet :
                            span TV (Remote)
                        dd.font-m-normal-12.font-w-normal-16 Price :             
                            span 300
                        dd.font-m-normal-12.font-w-normal-16 Quantity :
                            span in stock
        else 
            dl.c-list__item
                dd.c-list__image 
                    +printLazyImage("https://via.placeholder.com/100x100/000/333/?text=Image", "")
                div
                    dt.font-m-normal-16.font-w-normal-32 AKB74855401
                    dd.font-m-normal-12.font-w-normal-16 Product sheet :
                        span TV (Remote)
                    dd.font-m-normal-12.font-w-normal-16 Price :             
                        span 300
                    dd.font-m-normal-12.font-w-normal-16 Quantity :
                        span in stock

    // Component Markup
    //- .guide-text-option Type. Parts List (Hongkong) - case1. When the list is less than 3
    //- .c-wrapper.CS0036.type-text
    //-     .component.component
    //-         .CS0036__container 
    //-             // block : search(common area)
    //-             .c-search-box.c-no-title.bg-lightgray
    //-                 // block : .c-search-box__body(--multi, --double)
    //-                 form(action="#" method="get")
    //-                     .cs-form
    //-                         .cmp-form
    //-                             .cs-form__inner
    //-                                 div
    //-                                     label(for="keyword").font-m-semibold-14.font-w-semibold-16 Search by Keyword 
    //-                                     input#keyword.font-m-normal-14.font-w-normal-14(type="text" required="required" aria-label="" placeholder="Type the keyword")
    //-                                 .button.c-cta
    //-                                     +button({color:"red", type:"box", size:"medium",name:"SEARCH"}, "submit")(aria-label="")
    //-             // Type. Parts List (Hongkong) - case1. lWhen the list is less than 3, add .c-list__parts.c-list__parts-flex
    //-             .c-list.c-list__parts.c-list__parts-flex
    //-                 dl.c-list__item
    //-                     dd.c-list__image 
    //-                         +printLazyImage("https://via.placeholder.com/100x100/000/333/?text=Image", "")
    //-                     div
    //-                         dt.font-m-semibold-20.font-w-semibold-20 SERVICCE &amp; Spare parts
    //-                         dd.font-m-regular-14.font-w-regular-16 Product sheet
    //-                             span TV (Remote)
    //-                         dd.font-m-regular-14.font-w-regular-16 Price                     
    //-                             span 300
    //-                         dd.font-m-regular-14.font-w-regular-16 Quantity
    //-                             span.font-w-regular-16 in stock Quantity
    //-                             span in stock
    //-             .button.c-cta
    //-                 +button({type:"box-outlined-icon", color:"black", size:"medium", name: "VIEW MORE", icon: true})(aria-label="")

    // Component Markup
    .guide-text-option Default : Parts List (VN, HK, HK_EN)
    .c-wrapper.CS0036.type-text
        .component.component
            .CS0036__container 
                //- // block : search(common area)
                //- .c-search-box.c-no-title.bg-lightgray
                //-     // block : .c-search-box__body(--multi, --double)
                //-     form(action="#" method="get")
                //-         .cs-form
                //-             .cmp-form
                //-                 .cs-form__inner
                //-                     div
                //-                         label(for="keyword").font-m-semibold-14.font-w-semibold-16 Search by Keyword 
                //-                         input#keyword.font-m-normal-14.font-w-normal-14(type="text" required="required" placeholder="Type the keyword")
                //-                     .button.c-cta
                //-                         +button({color:"red", type:"box", size:"medium",name:"SEARCH"}, "submit")(aria-label="")
                // 20230323
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Parts & Accessories')
                        .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                    span Discover accessories for LG products from appliances, computers, televisions and more!
                .searchbar
                    p.font-m-normal-16.font-w-normal-20 Search by keyword
                    #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                        .searchBar__searchInner
                            form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                                span.fieldIcons__root
                                    span.fieldIcons__input
                                        input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Please type model number')
                                        button(type="button").c-button-delete delete button
                                    //- button(type="button" title="search").fieldIcons__before.c-hidden-mo
                                    //-     span.icon__root
                                    //-         span.sr-only Search
                                p.message__root
                                .searchBar__SearchAutocompleteWrapper
                            .c-warning.c-subject-required Keyword is required.
                            .c-warning.c-subject-invalid 3-digit kewords is required.
                        .button
                            +defaultButton({name: 'Search', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(class="c-check-keyword" role="button")
                
                // Type. Parts List (Hongkong) - case2. When there are more than four lists, add .c-list__parts
                .carousel.panelcontainer
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.c-list.c-list__parts
                            - for (var x = 0; x < 12; x++)
                                +c-list__item(true)
                        +pagination


    // Component Markup
    //- .guide-text-option Type. Parts list (Hongkong) - case2. When there are more than four lists(Link Type)
    //- .c-wrapper.CS0036.type-text
    //-     .component.component
    //-         .CS0036__container 
    //-             //- // block : search(common area)
    //-             //- .c-search-box.c-no-title.bg-lightgray
    //-             //-     // block : .c-search-box__body(--multi, --double)
    //-             //-     form(action="#" method="get")
    //-             //-         .cs-form
    //-             //-             .cmp-form
    //-             //-                 .cs-form__inner
    //-             //-                     div
    //-             //-                         label(for="keyword").font-m-semibold-14.font-w-semibold-16 Search by Keyword 
    //-             //-                         input#keyword.font-m-normal-14.font-w-normal-14(type="text" required="required" placeholder="Type the keyword")
    //-             //-                     .button.c-cta
    //-             //-                         +button({color:"red", type:"box", size:"medium",name:"SEARCH"}, "submit")(aria-label="")
    //-             // 20230323
    //-             .c-cs-header
    //-                 // block : text-contents
    //-                 .c-text-contents
    //-                     .title.c-text-contents__headline
    //-                         +headline('font-w-light-56 font-m-light-28',h2,'Parts & Accessories')
    //-                     .text.c-text-contents__bodycopy
    //-                             .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
    //-                                 span Discover accessories for LG products from appliances, computers, televisions and more!
    //-             .searchbar
    //-                 p.font-m-normal-16.font-w-normal-20 Search by keyword
    //-                 #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
    //-                     .searchBar__searchInner
    //-                         form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
    //-                             span.fieldIcons__root
    //-                                 span.fieldIcons__input
    //-                                     label(for="textInput__input").sr-only Search
    //-                                     input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="" placeholder='Please type model number')
    //-                                     button(type="button").c-button-delete delete button
    //-                                 button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
    //-                                     span.icon__root
    //-                                         span.sr-only Search
    //-                             p.message__root
    //-                             .searchBar__SearchAutocompleteWrapper

                
    //-             // Type. Parts List (Hongkong) - case2. When there are more than four lists, add .c-list__parts
    //-             .carousel.panelcontainer
    //-                 .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
    //-                     .cmp-carousel__content.c-list.c-list__parts
    //-                         - for (var x = 0; x < 12; x++)
    //-                             +c-list__item(true)
    //-                     +pagination
                       
    //-             //- .button.c-cta
    //-             //-     +button({type:"text", color:"black", size:"medium", name: "View More", icon: true})(aria-label="")



    //- .guide-text-option Type2. search bar
    //- .c-wrapper.CS0036.type-text
    //-     .component.component
    //-         .CS0036__container 
    //-              .searchbar
    //-                 p.font-m-normal-16.font-w-normal-20 Search by keyword
    //-                 #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
    //-                     .searchBar__searchInner
    //-                         form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
    //-                             span.fieldIcons__root
    //-                                 span.fieldIcons__input
    //-                                     label(for="textInput__input").sr-only Search
    //-                                     input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="" placeholder='Please type model number')
    //-                                     button(type="button").c-button-delete delete button
    //-                                 button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
    //-                                     span.icon__root
    //-                                         span.sr-only Search
    //-                             p.message__root
    //-                             .searchBar__SearchAutocompleteWrapper

    .guide-text-option No result
    .c-wrapper.CS0036.type-text
        .component.type-box
            .CS0036__container 
                .searchbar
                    p.font-m-normal-16.font-w-normal-24 Search by keyword
                    #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                        .searchBar__searchInner
                            form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                                span.fieldIcons__root
                                    span.fieldIcons__input
                                        //- label(for="textInput__input").sr-only Search
                                        input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="" placeholder='Please type model number')
                                        button(type="button").c-button-delete delete button
                                    //- button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
                                    //-     span.icon__root
                                    //-         span.sr-only Search
                                p.message__root
                                .searchBar__SearchAutocompleteWrapper 
                            .c-warning.c-subject-required Keyword is required.
                            .c-warning.c-subject-invalid 3-digit kewords is required.                      
                        .button
                            +defaultButton({name: 'Search', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(class="c-check-keyword" role="button" href="javascript:;")
                    
                p.searchBar__infoText.font-m-normal-14.font-w-normal-16
                    | Matching results for
                    span.searchBar__removeBtn.font-m-normal-14.font-w-normal-16
                        | test
                        button(tyep="button" aria-label="").search-remove X

                .c-no-result 
                    .c-no-result__wrap
                        span.c-no-result__icon 
                        p.font-m-normal-16.font-w-normal-20 No results
                        p.c-no-result__subtext.font-m-normal-12.font-w-normal-16 TIP : try entering another keyword
