extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_filter.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "AL0012"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    .guide-text-type Type1.default
    .c-wrapper(class=componentId)
        .component
            .cmp-container
                .c-find-job-list
                    .c-find-job-top
                        .c-find-job-headline
                            +headline(class1, h2, name = "Find a Job")
                    .c-find-job-form__container
                        .c-find-job-form
                            form.c-form.cmp-form
                                .c-form-box
                                    +formSelect("Event List sort", "ELSort", "Event List sort", false, true)
                                        option(value="Areas of Work" selected) Areas of Work
                                        option(value="Areas of Work") Areas of Work
                        //- .button 
                        //-     +defaultButton({name: 'Search', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})

            mixin findJobLists (param)
                each data in param 
                    li.cmp-find-job-list.c-text-contents
                        a(href=data.listURL data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                            .cmp-find-job-item
                                .title.c-text-contents__title
                                strong.c-list-item-content__title.cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="")= data.listTitle
                                if data.listText
                                    .cmp-find-job-text__container.text.c-text-contents__bodycopy
                                        p.cmp-text.font-w-normal-20.font-m-normal-14.cmp-find-job-text.cmp-find-job-text--bold(data-cmp-data-layer="")= data.listText
                                        if data.listTextSecond
                                            p.cmp-find-job-text= data.listTextSecond
                                        // [Start] 2023-04-25 : UPDATE - change .date depth	
                                        .date.c-text-contents__date.cmp-find-job-posted Date posted: 
                                            span.cmp-date.font-w-normal-16.font-m-normal-12.cmp-find-job-post(data-cmp-data-layer="")= data.postedList
                                        // [End] 2023-04-25 : UPDATE - change .date depth	
                            .cmp-find-job-info.text.c-text-contents__subcopy(class=`${!data.listWriter ? 'c-text-contents__subcopy--no-writer' : ''}`)
                                if data.listWriter
                                    p.cmp-writer.font-w-normal-16.font-m-normal-12.cmp-find-job-writer(data-cmp-data-layer="")= data.listWriter
                                p.cmp-term.font-w-normal-16.font-m-normal-12.cmp-find-job-term(data-cmp-data-layer="")= data.listTerm

            .cmp-container
                .c-detail-area
                    ul.cmp-find-job
                        +findJobLists([
                            {
                                listURL :"/",
                                listTitle :"HE - National Account Manager",
                                listText :"R&D",
                                listTextSecond :"CDI",
                                listWriter :"Weybridge, Surrey",
                                listTerm : "31/03/2022 ~ 31/03/2022",
                                postedList :"31/03/2022",
                            },
                            {
                                listURL :"/",
                                listTitle :"Credit Controller",
                                listText :"R&D",
                                listWriter :"Weybridge, Surrey",
                                listTerm : "31/03/2022 ~ 31/03/2022",
                                postedList :"31/03/2022",
                            },
                            {
                                listURL :"/",
                                listTitle :"Credit Control Administrator",
                                listText :"Marketing",
                                listTextSecond :"",
                                listWriter :"Weybridge, Surrey",
                                listTerm : "31/03/2022 ~ ",
                                postedList :"31/03/2022",
                            },
                            {
                                listURL :"/",
                                listTitle :"General Affairs - Assistant Manager",
                                listText :"Marketing",
                                listWriter :"Weybridge, Surrey",
                                listTerm : "31/03/2022 ~ 31/03/2022",
                                postedList :"31/03/2022",
                            },
                            {
                                listURL :"/",
                                listTitle :"PR Assistant (12 months FTC)",
                                listText :"Marketing",
                                listWriter :"",
                                listTerm : "31/03/2022 ~ 31/03/2022",
                                postedList :"31/03/2022",
                            },
                            {
                                listURL :"/",
                                listTitle :"Credit Controller",
                                listText :"Marketing",
                                listWriter :"Weybridge, Surrey",
                                listTerm : "31/03/2022 ~ 31/03/2022",
                                postedList :"31/03/2022",
                            },
                            {
                                listURL :"/",
                                listTitle :"Credit Control Administrator",
                                listText :"Marketing",
                                listWriter :"Weybridge, Surrey",
                                listTerm : "31/03/2022 ~ 31/03/2022",
                                postedList :"31/03/2022",
                            },
                            {
                                listURL :"/",
                                listTitle :"General Affairs - Assistant Manager",
                                listText :"Marketing",
                                listTextSecond :"CDI",
                                listWriter :"",
                                listTerm : "31/03/2022 ~ ",
                            },
                            {
                                listURL :"/",
                                listTitle :"PR Assistant (12 months FTC)",
                                listText :"Marketing",
                                listWriter :"",
                                listTerm : "31/03/2022 ~ ",
                                postedList :"31/03/2022",
                            },
                            {
                                listURL :"/",
                                listTitle :"PR Assistant (12 months FTC)",
                                listText :"Marketing",
                                listWriter :"",
                                listTerm : "31/03/2022 ~ ",
                                postedList :"31/03/2022",
                            },
                        ])
                +pagination
                //- .c-result-area__more 
                //-     .cmp-button 
                //-         +textButton({name: 'More', wSize: 'large', mSize: 'small', buttonStyle: 'down', isButton: true})

                    //- +pagination

            //-     .button.more-btn
            //-         +button({type:"box-outlined", color:"black", size:"medium", icon: true, name: "More"})
                
            //- .cmp-container
            //-     ul.cmp-find-job
            //-         li.cmp-find-job-list.noData
            //-             .cmp-find-job-item.noData-item
            //-                 p.cmp-find-job-text.noData-text
            //-                     | Sorry, We're not hiring
            //-                     br
            //-                     | right now
    .guide-text-type Type2.no data
    .c-wrapper(class=componentId)
        .component
            .cmp-container
                .c-find-job-list
                    .c-find-job-top
                        .c-find-job-headline
                            +headline(class1, h2, name = "Find a Job")
                    .c-find-job-form__container
                        .c-find-job-form
                            form.c-form.cmp-form
                                .c-form-box
                                    +formSelect("Event List sort", "ELSort", "Event List sort", false, true)
                                        option(value="Areas of Work" selected) Areas of Work
                                        option(value="Areas of Work") Areas of Work
                        //- .button 
                        //-     +defaultButton({name: 'Search', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
            .cmp-container
                .noData
                    .noData-item
                        p.noData-text.cmp-text.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Sorry, no matches were found. Try a new search.