extends ../_common/_layout.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_pop-msg.pug
include ../_common/_resource.pug

block meta
    - var componentId = "PD0017"
    - var componentName = "PDP Resources"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide
        .grid-1600
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };


    mixin guideBodyCopy
        .c-text-contents
            .c-text-contents__bodycopy
                .cmp-text.font-w-normal-16.font-m-normal-14
                    p To access more technical documentation and downloads, please visit the 
                        // GA4
                        a(href="#" class="font-underline" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") LG B2B Partner Portal.

    // Component Markup
    .guide-text-type Type1. Spec Sheet
    .c-wrapper.PD0017.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                .c-text-contents
                    .title.c-text-contents__headline
                        +headline("font-w-light-36 font-m-light-24", pass, "Specs Sheet")
                .c-resources
                    - for(var x = 0 ; x < 3; x++)
                        +specSheetItem('pdf')
                +guideBodyCopy

    .guide-text-type Type2. Button Version
    .c-wrapper.PD0017.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                .c-text-contents
                    .title.c-text-contents__headline
                        +headline("font-w-light-36 font-m-light-24", pass, "Specs Sheet")
                .c-resources
                    - for(var x = 0 ; x < 6; x++)
                        +buttonVersionItem('html', false)
                +guideBodyCopy


    .guide-text-type Type3. Category Title
    .c-wrapper.PD0017.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                .c-text-contents
                    .title.c-text-contents__headline
                        +headline("font-w-light-36 font-m-light-24", pass, "Specs Sheet")
                .c-resources
                    +specSheetItem('pdf')
                    +buttonVersionItem('zip', true, 1)
                    +specSheetItem('html')
                    +buttonVersionItem('xls', true, 2)
                    +specSheetItem('txt')
                +guideBodyCopy


    .guide-text-option Extension
    .c-wrapper.PD0017.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                .c-resources__item
                    .c-resources__item--extension.c-resources__item--extension-txt
                        span.sr-only extension : txt
                    .c-resources__item--extension.c-resources__item--extension-pdf
                        span.sr-only extension : pdf
                    .c-resources__item--extension.c-resources__item--extension-etc
                        span.sr-only extension : etc
                    .c-resources__item--extension.c-resources__item--extension-djvu
                        span.sr-only extension : djvu
                    .c-resources__item--extension.c-resources__item--extension-zip
                        span.sr-only extension : zip
                    .c-resources__item--extension.c-resources__item--extension-html
                        span.sr-only extension : html
                    .c-resources__item--extension.c-resources__item--extension-dwg
                        span.sr-only extension : dwg

block modal
    // modal - Reference
    each hash in [1,2]
        +printLayerPopup(`popReference${hash}`)
