extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug

block meta 
    - var componentId = "PD0024"
    - var componentName = "Compliance MDA"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
block styles
    link(rel="stylesheet", href=componentId+".css")
block scripts
    //- script(src=componentId+".js" type="module")
block content 
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        
                        '.component.type-image' : [
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-default'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray'},
                                ]
                            },
                        ],

                        '.component.type-image > .cmp-container' : [
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    // Type1. MDA Category Text
    .guide-text-type Type1. MDA Category Text
    .c-wrapper.PD0024.bg-default
        .component
            .cmp-container
                .c-text-contents
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") LG recommends Windows
                .button
                    +textButton({name:"Informações de atualização do Windows 10", wSize: "medium", mSize : "small", buttonStyle : "default", underline:true, isButton : false})

    // Type2. MDA-WIN (CTA)
    .guide-text-type Type2. MDA-WIN (CTA)
    .c-wrapper.PD0024.bg-default
        .component
            .cmp-container
                .c-text-contents
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") LG recommends Windows
                .button
                    +defaultButton({name: 'Windows 10 Update Information', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})
                    //+button({type: "box", color:"red", size:"medium", name: 'Windows 10 Update Information'})
                    
    // Type3. Image
    .guide-text-type Type3. Image - Default Background Color is Warm Gray
    .c-wrapper.PD0024.bg-default
        .component.type-image
            .cmp-container
                // GA4
                a.image.c-image(href="#", target="_blank", rel="noopener noreferrer" data-link-name="")
                    +printLazyImage('https://via.placeholder.com/274x40/999999/333333')
