extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_button.pug
include ../_common/_forms.pug
include ../_common/_link-banner.pug
include ../_common/_my-component.pug


block meta 
    - var componentId = "ML000N"
    - var componentName = "My Subscriptions"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

mixin ML000N
    .c-wrapper.ML000N
        .component
            .fluid-container
                +myComponentSubMenu({
                    title:"My Subscriptions",
                    subMenu:['m1', 'm2', 'm3']
                })              
                .my-component__wrap.border-only-web.my-component--my-subscriptions
                    .my-component
                        .my-subscriptions
                            .font-w-normal-32.font-m-normal-20 Newsletter
                            .my-subscriptions__item       
                                label.font-w-normal-16.font-m-normal-14.my-formFile__title Subscriptions Option
                                +formCheckbox('General Subscriptions', "name", "val1", `checkId1`, count="false")                    
                        .button.c-cta.my-button
                            +defaultButton({name: "Save", wSize: "large", mSize: "medium", buttonStyle: 'highlight'})(href="#changeCompleted", class="js-pop-open", roleButton="true")
                         
block content
    // Component Markup
    +ML000N
