extends ../_common/_layout.pug
include ../_common/_rolling-banner.pug
include ../_common/_title-area.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "PR0009"
    - var componentName = "Rolling Banner"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            }
                        ],
                        '.c-promotion-banner__title-area' : [
                            {
                                'name' : 'Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'}
                                ]
                            },
                        ],
                    };

    // Component Markup

    .guide-text-option Option - Banner count is 1
    .c-wrapper.PR0009.type-default.margin-top.margin-bottom
        .component
            .cmp-container
                .c-promotion-banner(style="background-image:url(https://via.placeholder.com/1920x650/808080/bbb?text=1920xflexible)")
                    .c-promotion-banner__container
                        //- title area
                        .c-promotion-banner__title-area
                            +component-title-area({
                                alignment:"",
                                headline : {
                                    text : "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Co",
                                },
                                description : {
                                    text : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed explicabo nobis in facere optio aliquam nulla tempore ea itaque minus doloremque, modi accusantium fugit expedita assumenda dignissimos qui",
                                }
                            })(class="c-region-header--vacate-side")
                        //- banner
                        .c-promotion-banner__rolling-area
                            +rolling-banner({
                                itemList : [
                                    {},
                                ]
                            })
    .guide-text-option Option - Banner count is 2
    .c-wrapper.PR0009.type-default.margin-top.margin-bottom
        .component
            .cmp-container
                .c-promotion-banner(style="background-image:url(https://via.placeholder.com/1920x650/808080/bbb?text=1920xflexible)")
                    .c-promotion-banner__container
                        //- title area
                        .c-promotion-banner__title-area
                            +component-title-area({
                                headline : {
                                    text : "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Co",
                                },
                                description : {
                                    text : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed explicabo nobis in facere optio aliquam nulla tempore ea itaque minus doloremque, modi accusantium fugit expedita assumenda dignissimos qui",
                                }
                            })(class="c-region-header--vacate-side")
                        //- banner
                        .c-promotion-banner__rolling-area
                            +rolling-banner({
                                itemList : [
                                    {},
                                    {},
                                ]
                            })
    .guide-text-option Option - Banner count 3 and more
    .c-wrapper.PR0009.type-default.margin-top.margin-bottom
        .component
            .cmp-container
                .c-promotion-banner(style="background-image:url(https://via.placeholder.com/1920x650/808080/bbb?text=1920xflexible)")
                    .c-promotion-banner__container
                        //- title area
                        .c-promotion-banner__title-area
                            +component-title-area({
                                headline : {
                                    text : "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Co",
                                },
                                description : {
                                    text : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed explicabo nobis in facere optio aliquam nulla tempore ea itaque minus doloremque, modi accusantium fugit expedita assumenda dignissimos qui",
                                }
                            })(class="c-region-header--vacate-side")
                        //- banner
                        .c-promotion-banner__rolling-area
                            +rolling-banner({
                                itemList : [
                                    {},
                                    {},
                                    {},
                                    {},
                                    {},
                                ]
                            })