extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug

block meta 
    - var componentId = "ST0029"
    - var componentName = "Event Banner"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content 
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                        '.cmp-container' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left'},
                                ]
                            }
                        ],
                        '.c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };
    mixin bodycopy 
        .text.c-text-contents__bodycopy 
            p.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    // Component Markup

    .guide-text-option Align Left
    // block : ST0029 (data-start-date, data-end-date 작성 필요)
    .c-wrapper.ST0029.bg-default.margin-top.margin-bottom(data-start-date="25 December 2021 17:30:00", data-end-date="25 December 2032 17:30:00")
        .component
            .cmp-container.align-left
                // block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline 
                        +headline("font-w-light-56 font-m-light-28", "pass", "Lorem ipsum dolor sit amet, consectetuer")
                    .text.c-text-contents__subtitle
                        .cmp-text(class='font-w-normal-24 font-m-normal-16' data-cmp-data-layer="") 
                            p Lorem ipsum
                    +bodycopy
                // block :cta 
                .button.c-cta
                    +defaultButton({name: 'Button text', wSize: 'large', mSize: 'small', buttonStyle: 'highlight', isButton: false})

    .guide-text-option Align Right
    // block : ST0029 (data-start-date, data-end-date 작성 필요)
    .c-wrapper.ST0029.bg-default.margin-top.margin-bottom(data-start-date="25 December 2021 17:30:00", data-end-date="25 December 2032 17:30:00")
        // block : ST0029 
        .component
            .cmp-container.align-right
                // block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline 
                        +headline("font-w-light-56 font-m-light-28", "pass", "Lorem ipsum dolor sit amet, consectetuer")
                    .text.c-text-contents__subtitle
                        .cmp-text(class='font-w-normal-24 font-m-normal-16' data-cmp-data-layer="") 
                            p Lorem ipsum
                    +bodycopy
                // block :cta 
                .button.c-cta
                    +defaultButton({name: 'Button text', wSize: 'large', mSize: 'small', buttonStyle: 'highlight', isButton: false})

