extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "ST0030"
    - var componentName = "Event Map"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content 
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        '.c-region-header__text' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };

    // Component Markup

    .guide-text-type Type1. Google Map, Baidu  
    //- block : ST0030 
    .c-wrapper.ST0030.bg-default.margin-top.margin-bottom
        .component
            .cmp-container
                +component-title-area({
                    headline : {
                        text : "Metropolitan West, New York City"
                    },
                    description : {
                        style : 'font-w-normal-24 font-m-normal-12',
                        text : "639 West 46th Street, New York, NY 10036"
                    },
                })
                .c-map
                    .c-map__pin
                    //- google map

    .guide-text-type Type2. Map Image
    //- block : ST0030 
    .c-wrapper.ST0030.bg-default.margin-top.margin-bottom
        .component
            .cmp-container
                +component-title-area({
                    headline : {
                        text : "Metropolitan West, New York City"
                    },
                    description : {
                        style : 'font-w-normal-24 font-m-normal-12',
                        text : "639 West 46th Street, New York, NY 10036"
                    },
                })
                //- block : c-map
                .c-map
                    .image.c-image 
                        //- +printLazyPicture(`https://via.placeholder.com/750x520/999999/333333`, `https://via.placeholder.com/1440x730/999999/333333`)
                        +printLazyPicture(`https://placeimg.com/750/520/nature`, `https://placeimg.com/1440/730/nature`)