extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "GN0005"
    - var componentName = "Press List"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-gn.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    .c-wrapper.margin-top.margin-bottom.border-top(class=componentId)
        mixin categoryList (param) 
            each data in param 
                li.c-list__item
                    .c-list-inner
                        .c-list-item__img
                            +printLazyImage(
                                `https://via.placeholder.com/464x290`
                            )
                        .c-list-item__contents.c-text-contents
                            .c-category
                                if data.category
                                    +textButton({name: data.category, wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})

                            .title.c-text-contents-title
                                strong.cmp-title.c-list-item__contents__title.font-w-light-36.font-m-light-24(data-cmp-data-layer="")= data.titleName

                            if data.titlePreview
                                .text.c-text-contents-bodycopy
                                    p.cmp-text.c-list-item__contents__preview.font-w-normal-16.font-m-normal-14= data.titlePreview

                            .date.c-text-contents-date
                                span.cmp-date.font-w-normal-16.font-m-normal-14= data.date

                    .c-category-contents__btn
                        +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                        +textButton({name : 'Learn More', wSize : 'medium', mSize : 'small', buttonStyle : "default", isButton : false})(role="button")

        .component
            .cmp-container
                .c-category
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.cmp-title.font-w-semibold-56.font-m-semibold-28(data-cmp-data-layer="") Exclusive Corner
                    .c-category-contents
                        - let lengthMobile = 3;
                        - let lengthDesktop = 6;
                        ul.c-list(role="list", data-length-mobile=lengthMobile, data-length-desktop=lengthDesktop)
                            +categoryList([
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                    date: "dd/mm/yyyy",
                                },
                            ])
                        .cmp-button.align-text-center.more-btn
                            +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})



