extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "PR0012"
    - var componentName = "Select Shop Recommended Products"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };
            .button-wrapper
                .guide-column
                    .target Popup Btns
                    ul.btn-list
                        li.btn-item 
                            +linkButton({href:"#popSshopMove", type:"guide", class:"js-pop-open", name:"Check my package", roleButton:"true"})
                        li.btn-item 
                            +linkButton({href:"#printCheckedPopup", type:"guide", class:"js-pop-open", name:"printCheckedPopup", roleButton:"true"})
    // Component Markup
    mixin printTab(div, num, selected)
        if selected
            li.cmp-tabs__tab.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", data-cmp-hook-tabs="tab", aria-selected="true")
                if block
                    block
        else 
            li.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", data-cmp-hook-tabs="tab", aria-selected="false")
                if block
                    block

    mixin printTabPanel(div, num, selected)
        if selected 
            .cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block
        else 
            .cmp-tabs__tabpanel(id=`tabs-1-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-1-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block

    mixin product-carousel-list
        - var num = 10
        - var options = {handlerStyle : null, ...params}
        .c-product-list.c-product-list--carousel.js-product-list
            .carousel.panelcontainer
                // block - carousel
                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                    .cmp-carousel__content.swiper-wrapper
                        - var baseOptions = {imageUrl:'https://via.placeholder.com/350x350/999999/000000', packageDeal : true, flag: false, compare : false,wishlist : false,grade : "a",review : true,type:false,groups:null,signature : false,thinq : false,youreko : true,noprice : false,writeAReview : false,campaignArea : false,keyfeature : false, retailer : false,promotion: false,limited: false,membership: '£1,866.98',vip: false,installment: false,soldOut: false}
                        +productItemSlide( 
                            {
                                ...baseOptions,
                                outOfStock: false,
                                sku:'GSJV70PZTF', 
                                ufn:'LG Soundbar SQC1',
                                gradeIs:true,
                            }
                        )
                        +productItemSlide( 
                            {
                                ...baseOptions,
                                 outOfStock: false,
                                sku:'GSJV70PZTF', 
                                ufn:'LG Soundbar SQC1',
                                gradeIs:true,
                            }
                        )
                        +productItemSlide( 
                            {
                                ...baseOptions,
                                outOfStock: false,
                                sku:'GSJV70PZTF', 
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser5',
                                gradeIs:true,
                            }
                        )
                        +productItemSlide( 
                            {
                                ...baseOptions,
                                outOfStock: false,
                                sku:'GSJV70PZTF', 
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser5',
                                gradeIs:true,
                            }
                        )

                    .c-carousel__handler(class="c-carousel__handler--dial c-carousel__handler--away-from-carousel")
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"prev"})
                        +carouselPagination
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"next"})

    .guide-text-option Option : 1 tab
    .c-wrapper.PR0012.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Headline",
                    }
                })(class="c-region-header--vacate-side")
                //- .c-text-contents
                //-     .title.c-text-contents__headline.font-w-light-56.font-m-light-28
                //-         strong Exciting Offers for You
                .PR0012__render
                    +product-carousel-list(4, carouselOptions)

    .guide-text-option Option : 1 tab (no-data)
    .c-wrapper.PR0012.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Headline",
                    }
                })(class="c-region-header--vacate-side")
                //- .c-text-contents
                //-     .title.c-text-contents__headline.font-w-light-56.font-m-light-28
                //-         strong Exciting Offers for You
                .PR0012__render
                    .c-no-data-wrap
                        .c-no-data
                            strong.font-w-normal-16.font-m-normal-16  There is no available product.

    .guide-text-option Option : multiple tabs
    .c-wrapper.PR0012.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Headline",
                    }
                })(class="c-region-header--vacate-side")
                //- .c-text-contents
                //-     .title.c-text-contents__headline.font-w-light-56.font-m-light-28
                //-         strong Exciting Offers for You
                .tabs.panelcontainer.tabs-margin
                    .cmp-tabs(data-cmp-data-layer="", data-placeholder-text="false")
                        .cmp-tabs__inner
                            ul.cmp-tabs__tablist(role="tablist", aria-multiselectable="false")
                                +printTab(1, 1, true) Tab1
                                +printTab(1, 2, false) Tab2
                                +printTab(1, 3, false) Tab3
                                +printTab(1, 4, false) Tab4 test
                                +printTab(1, 5, false) Tab5 test

                        .PR0012__render
                            +printTabPanel(1, 1, true)
                                +product-carousel-list(4, carouselOptions)
                            +printTabPanel(1, 2, false)
                                .c-no-data-wrap
                                    .c-no-data
                                        strong.font-w-normal-16.font-m-normal-16 There is no available product.
                            +printTabPanel(1, 3, false)
                                +product-carousel-list(4, carouselOptions)
                            +printTabPanel(1, 4, false)
                                +product-carousel-list(4, carouselOptions)
                            +printTabPanel(1, 5, false)
                                +product-carousel-list(4, carouselOptions)

block modal
    +printSuccessPopup('popSshopMove', {desc: 'Product added to package.', btn1: 'Close', btn2: 'Check my package '})
    +checkedPopup('printCheckedPopup', {desc: 'This benefit is only available for members. Sign-in to continue', checkdesc:'Don’t show again' , btn1: 'Close', btn2: 'Sign In'})
    
