extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_title-area.pug
include ../_common/_countdown.pug
include ../_common/_carousel.pug
include ../_common/_promotion.pug

block meta 
    - var componentId = "GN0002"
    - var componentName = "Multimedia"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-gn.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };
                    
    mixin title-area 
        +component-title-area({
            headline : {
                text : "Multimedia",
            },
        })(class="c-region-header--vacate-side")

    // Component Markup
    .c-wrapper.margin-top.margin-bottom.bg-default(class=componentId)
        .component
            .cmp-container
                +title-area 
                .c-multimedia
                    .c-multimedia__item.c-floating-contents.area-main
                        .c-floating-contents__floor
                            //- block : image
                            .c-image
                                +printLazyImage("https://via.placeholder.com/952x600/999999/333333/?text=952x600")
                        .c-floating-contents__floating.font-white
                            .c-text-contents
                                .c-text-contents__headline LG’s Gallery Design and Rollable TVs showcase
                                .button.c-cta
                                    +defaultButton({wSize:'medium', mSize : 'small', buttonStyle : 'default', isButton : false, name: 'Learn more'})(href="#")
                                    +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})(href="#")
                    .c-multimedia__item.c-floating-contents.area-sub1.area-sub
                        .c-floating-contents__floor
                            //- block : image
                            .c-image
                                +printLazyImage("https://via.placeholder.com/952x600/999999/333333/?text=952x600")
                        .c-floating-contents__floating.font-black
                            .c-text-contents
                                .c-text-contents__headline LG’s Gallery Design and Rollable TVs showcase
                                .button.c-cta
                                    +defaultButton({wSize:'medium', mSize : 'small', buttonStyle : 'default', isButton : false, name: 'Learn more'})(href="#")
                                    +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})(href="#")
                    .c-multimedia__item.c-floating-contents.area-sub2.area-sub
                        .c-floating-contents__floor
                            //- block : image
                            .c-image
                                +printLazyImage("https://via.placeholder.com/952x600/999999/333333/?text=952x600")
                        .c-floating-contents__floating.font-white
                            .c-text-contents
                                .c-text-contents__headline LG’s Gallery Design and Rollable TVs showcase
                                .button.c-cta
                                    +defaultButton({wSize:'medium', mSize : 'small', buttonStyle : 'default', isButton : false, name: 'Learn more'})(href="#")
                                    +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})(href="#")




