extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug


block meta 
    - var componentId = "AL0009"
    - var componentName = "Event Timeline"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")



block content
    mixin trigger(controlsId, controls)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded=`${controls}` aria-controls=`${controlsId}`)
                span.c-accordion__button-text.expand.sr-only Expand
                span.c-accordion__button-text.collapse.sr-only Collapse


    mixin eventTimeline(params)
        each data, index in params
            - let controlsId = `Timeline0${index}`; 
            - let firstEl = (index < 1) ? {class:"c-accordion__box--expand",controls: true} : {class:"",controls: false};
            li.c-accordion__box.js-accordion-handle-target.c-text-contents(class=`${firstEl.class}`)
                .c-accordion__head.title.c-text-contents__title
                    .cmp-text.font-w-normal-20.font-m-normal-18.c-accordion__head-text.c-text-contents(data-cmp-data-layer="")= data.title
                    if params.length > 1
                        +trigger(controlsId, firstEl.controls)
                .c-accordion__body(id=controlsId)
                    .c-text-contents.c-accordion__body-text
                        .c-accordion__initial
                            ul.c-event-timeline__timeline.c-text-contents
                                each timeline in data.timeline
                                    li.c-event-timeline__item.title.c-text-contents__title
                                        p.cmp-text.font-w-semibold-20.font-m-semibold-20.c-event-timeline__title(data-cmp-data-layer="")= timeline.title
                                        if data.timeline.length < 2
                                            ul.c-event-timeline-list.row.c-text-contents
                                                each item in timeline.itemlist
                                                    li.c-event-timeline-list__item.row
                                                        .date.c-text-contents__date
                                                            span.cmp-date.font-w-normal-16.font-m-normal-16.c-event-timeline-list__date(data-cmp-data-layer="")= item.date
                                                        .title.c-text-contents__title
                                                            p.cmp-title.font-w-semibold-28.font-m-semibold-24.c-event-timeline-list__title(data-cmp-data-layer="")= item.title
                                                        if item.text
                                                            .text
                                                                p.cmp-text.font-w-normal-20.font-m-normal-16.c-event-timeline-list__text(data-cmp-data-layer="")= item.text
                                        if data.timeline.length > 1
                                            ul.c-event-timeline-list.c-text-contents
                                                each item in timeline.itemlist
                                                    li.c-event-timeline-list__item
                                                        .date.c-text-contents__date
                                                            span.cmp-date.font-w-normal-16.font-m-normal-16.c-event-timeline-list__date(data-cmp-data-layer="")= item.date
                                                        .title.c-text-contents__title
                                                            p.cmp-title.font-w-semibold-28.font-m-semibold-24.c-event-timeline-list__title(data-cmp-data-layer="")= item.title
                                                        if item.text
                                                            .text
                                                                p.cmp-text.font-w-normal-20.font-m-normal-16.c-event-timeline-list__text(data-cmp-data-layer="")= item.text

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-event-timeline
                    .c-event-timeline-headline
                        +headline(class1, h2, name = "Timeline")
                        
                    ul.c-accordion.js-accordion
                        +eventTimeline([
                            {
                                title:"Day 1, September 15",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Afternoon",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Evening",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                       ],
                                    },
                                ],
                            },
                            {
                                title:"Day 2, September 16",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Evening",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                ],
                            },
                            {
                                title:"Day 3, September 17",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                ],
                            },
                        ])
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-event-timeline
                    .c-event-timeline-headline
                        +headline(class1, h2, name = "Timeline")
                        
                    ul.c-accordion.js-accordion
                        +eventTimeline([
                            {
                                title:"Day 2, September 15",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Evening",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                ],
                            },
                            {
                                title:"Day 1, September 16",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Afternoon",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Evening",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                       ],
                                    },
                                ],
                            },
                            {
                                title:"Day 3, September 17",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                ],
                            },
                        ])
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-event-timeline
                    .c-event-timeline-headline
                        +headline(class1, h2, name = "Timeline")
                        
                    ul.c-accordion.js-accordion
                        +eventTimeline([
                            {
                                title:"Day 3, September 15",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                ],
                            },
                            {
                                title:"Day 1, September 16",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Afternoon",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Evening",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                        },
                                       ],
                                    },
                                ],
                            },
                            {
                                title:"Day 2, September 17",
                                timeline: [
                                    {
                                       title:"Morning",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                    {
                                       title:"Evening",
                                       itemlist:[
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"",
                                        },
                                        {
                                            date:"9:30 a.m. – 10:00 a.m",
                                            title:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                                            text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.",
                                        },
                                       ],
                                    },
                                ],
                            },
                        ])