extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_forms.pug

block meta 
    - var componentId = "CS0064"
    - var componentName = "Inquiry Result"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content   

    mixin roleList(item)
        if item 
            .c-list__item(role="listitem")
                if block
                    block
        else
            .c-list__item
                if block
                    block

    mixin textListItem2(params)
        - var option={contents:both, useQuote:false, isList:false, headline:'', bodycopy:'', ...params}
            +roleList(option.isList)
                // 20230320 markup change
                // block : text-contents                 
                div(class=`c-text-contents ${option.bodycopy}`)
                    //- .title.c-text-contents__headline
                    //-     +headline(`${option.headline}`,h2,'Consumer Support')
                    case option.contents
                        when "desc"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'Consumer support')
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            | Monday - Friday 
                                            span.font-m-normal-16.font-w-normal-24 9:00am - 5:00pm
                                        p 
                                            | Saturday 
                                            span.font-m-normal-16.font-w-normal-24 9:00am - 3:00pm
                                    div
                                        p 
                                            | Closed 
                                            span.font-m-normal-16.font-w-normal-24 Sunday and bank holidays
                                        p 
                                            | UK 
                                            span.font-m-normal-16.font-w-normal-24 0344 847 5454
                                        p 
                                            | IE 
                                            span.font-m-normal-16.font-w-normal-24 01 686 9454

                        when "schedule"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'Email inquiry information')
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            | Receipt number
                                            span.font-m-normal-16.font-w-normal-24 GCU220823087973
                                        p 
                                            | Request type 
                                            span.font-m-normal-16.font-w-normal-24 Email
                                        p 
                                            | Request date
                                            span.font-m-normal-16.font-w-normal-24 19/10/2022
                                        
                                    div
                                        p 
                                            | Model number 
                                            span.font-m-normal-16.font-w-normal-24 
                                                a(href="") NP7550W
                                        p 
                                            | Type of inquiry 
                                            span.font-m-normal-16.font-w-normal-24 Online shop

                        when "schedule2"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'Email inquiry information')
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            | Receipt number
                                            span.font-m-normal-16.font-w-normal-24 GCU220823087973
                                        p 
                                            | Customer Name
                                            span.font-m-normal-16.font-w-normal-24 Kildong Hong
                                            
                                        p 
                                            | Request type 
                                            span.font-m-normal-16.font-w-normal-24 Email
                                        
                                    div
                                        p                            
                                            | Request date
                                            span.font-m-normal-16.font-w-normal-24 19/10/2022
                                        p 
                                            | Model number 
                                            span.font-m-normal-16.font-w-normal-24 
                                                a(href="") NP7550W
                                        p 
                                            | Type of inquiry 
                                            span.font-m-normal-16.font-w-normal-24 Online shop


                        when "global_call"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'Appointment information')
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            | Receipt number
                                            span.font-m-normal-16.font-w-normal-24 CN180920019378
                                        p 
                                            | Request type 
                                            span.font-m-normal-16.font-w-normal-24 Call appointment
                                        p 
                                            | Request date
                                            span.font-m-normal-16.font-w-normal-24 19/10/2022
                                        
                                    div
                                        p 
                                            | Customer name
                                            span.font-m-normal-16.font-w-normal-24 Tes***

                                        p 
                                            | Model number 
                                            span.font-m-normal-16.font-w-normal-24 
                                                a(href="") NP7550W
                                        p 
                                            | Symptom
                                            span.font-m-normal-16.font-w-normal-24 Product operation
 
                                    div
                                        p.c-flex-start 
                                            | Appiontment date &amp; time
                                            span.font-m-normal-16.font-w-normal-24 1/28/2022 
                                                br
                                                | 11:00 am ~ 12:00 pm
                                        p 
                                            | Message
                                            span.font-m-normal-16.font-w-normal-24 Test
 
                        when "global_video"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'Appointment information')
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            span Receipt number
                                            span.font-m-normal-16.font-w-normal-24 CN180920019378
                                        p 
                                            span Request type 
                                            span.font-m-normal-16.font-w-normal-24 Video consultation appointment
                                        p 
                                            span Request date
                                            span.font-m-normal-16.font-w-normal-24 19/10/2022
                                        
                                    div
                                        p 
                                            span Customer name
                                            span.font-m-normal-16.font-w-normal-24 Tes***

                                        p 
                                            span Model number 
                                            span.font-m-normal-16.font-w-normal-24 
                                                a(href="") NP7550W
                                        p 
                                            span Symptom
                                            span.font-m-normal-16.font-w-normal-24 Product operation
 
                                    div
                                        p.c-flex-start 
                                            span Appiontment date &amp; time
                                            span.font-m-normal-16.font-w-normal-24 1/28/2022 
                                                br
                                                | 11:00 am ~ 12:00 pm

                                        p 
                                            span Message
                                            span.font-m-normal-16.font-w-normal-24 Test
                        when "global_in"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'Consumer support')
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    p 24 hrs, 7 days a week, except national holidays
                                .cmp-text.font-m-normal-16.font-w-normal-24(data-cmp-data-layer="") 
                                    p 08069379999
                        when "global_pe1"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'1. Información sobre la Reclamación')
                            .text.c-text-contents__bodycopy.global-type02
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            span Número de Reclamación
                                            span.font-m-normal-16.font-w-normal-24 ID022901-2023
                                        p 
                                            span Departamento
                                            span.font-m-normal-16.font-w-normal-24 Amazonas
                                        p 
                                            span Distrito
                                            span.font-m-normal-16.font-w-normal-24 Aramango
                                        p 
                                            span Email
                                            span.font-m-normal-16.font-w-normal-24 lge@lge.com
                                        p 
                                            span Otro Teléfono (Opcional)
                                            span.font-m-normal-16.font-w-normal-24 -
                                        p 
                                            span Número de documento
                                            span.font-m-normal-16.font-w-normal-24 20375755344
                                        p 
                                            span Mayor de edad
                                            span.font-m-normal-16.font-w-normal-24 Si
                                        
                                    div
                                        p 
                                            span Nombre del Cliente
                                            span.font-m-normal-16.font-w-normal-24 Lg kim
                                        p 
                                            span Provincia
                                            span.font-m-normal-16.font-w-normal-24 Bagua
                                        p 
                                            span Dirección
                                            span.font-m-normal-16.font-w-normal-24 AV. REPUBLIC OF COLOMBIA 791 12th Floor
                                        p 
                                            span Teléfono móvil
                                            span.font-m-normal-16.font-w-normal-24 20375755344
                                        p 
                                            span Tipo de documento
                                            span.font-m-normal-16.font-w-normal-24 DNI
                                        p 
                                            span Razón Social (En caso el reclamante sea persona jurídica)
                                            span.font-m-normal-16.font-w-normal-24 -
                                        p 
                                            span Fecha de Creación
                                            span.font-m-normal-16.font-w-normal-24 19/09/2023
                            
                        when "global_pe2"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'2. Identificación del bien contratado')
                            .text.c-text-contents__bodycopy.global-type02
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            span Tipo de bien
                                            span.font-m-normal-16.font-w-normal-24 Servicio
                                        p 
                                            span Monto del bien
                                            span.font-m-normal-16.font-w-normal-24 10000000
                                        
                                    div
                                        p 
                                            span Descripción
                                            span.font-m-normal-16.font-w-normal-24 IdentServicioificación del bien contratado
                        when "global_pe3"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'3. Detalle de la reclamación')
                            .text.c-text-contents__bodycopy.global-type02
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            span Tipo de reclamación
                                            span.font-m-normal-16.font-w-normal-24 Reclamo
                                        p 
                                            span ero de Pedido (Opcional)
                                            span.font-m-normal-16.font-w-normal-24 -
                                        
                                    div
                                        p 
                                            span Detalle
                                            span.font-m-normal-16.font-w-normal-24 IdentServicioificación del bien contratado
                                        p 
                                            span Pedido (Qué solicita)
                                            span.font-m-normal-16.font-w-normal-24 IdentServicioificación del bien contratado
                        when "global_pe1-underage"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'1. Información sobre la Reclamación')
                            .text.c-text-contents__bodycopy.global-type02
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            span Número de Reclamación
                                            span.font-m-normal-16.font-w-normal-24 ID022901-2023
                                        p 
                                            span Departamento
                                            span.font-m-normal-16.font-w-normal-24 Amazonas
                                        p 
                                            span Distrito
                                            span.font-m-normal-16.font-w-normal-24 Aramango
                                        p 
                                            span Email
                                            span.font-m-normal-16.font-w-normal-24 lge@lge.com
                                        p 
                                            span Otro Teléfono (Opcional)
                                            span.font-m-normal-16.font-w-normal-24 -
                                        p 
                                            span Número de documento
                                            span.font-m-normal-16.font-w-normal-24 20375755344
                                        p 
                                            span Mayor de edad
                                            span.font-m-normal-16.font-w-normal-24 No
                                        
                                    div
                                        p 
                                            span Nombre del Cliente
                                            span.font-m-normal-16.font-w-normal-24 Lg kim
                                        p 
                                            span Provincia
                                            span.font-m-normal-16.font-w-normal-24 Bagua
                                        p 
                                            span Dirección
                                            span.font-m-normal-16.font-w-normal-24 AV. REPUBLIC OF COLOMBIA 791 12th Floor
                                        p 
                                            span Teléfono móvil
                                            span.font-m-normal-16.font-w-normal-24 20375755344
                                        p 
                                            span Tipo de documento
                                            span.font-m-normal-16.font-w-normal-24 DNI
                                        p 
                                            span Razón Social (En caso el reclamante sea persona jurídica)
                                            span.font-m-normal-16.font-w-normal-24 -
                                        p 
                                            span Fecha de Creación
                                            span.font-m-normal-16.font-w-normal-24 19/09/2023
                        when "global_pe-underage"
                            .title.c-text-contents__headline
                                +headline(`${option.headline}`,h2,'Identificación de los padres o representante legal')
                            .text.c-text-contents__bodycopy.global-type02
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p 
                                            span Nombre completo del Adulto
                                            span.font-m-normal-16.font-w-normal-24 Jean-Paul
                                        p 
                                            span Teléfono del Adulto
                                            span.font-m-normal-16.font-w-normal-24 005134146432234
                                        
                                    div
                                        p 
                                            span Documento de Identidad del Adulto
                                            span.font-m-normal-16.font-w-normal-24 42181478-9
                                        p 
                                            span Email del Adulto
                                            span.font-m-normal-16.font-w-normal-24 lge@lge.com
                            

                        default
                            .text.c-text-contents__bodycopy 
                                .cmp-text(data-cmp-data-layer="") 
                                    p Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters.
                            // element : list
                            .text.c-text-contents__bodycopy
                                .cmp-text(data-cmp-data-layer="")
                                    ul
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    .button.c-cta
                        +defaultButton({name: 'Go to contact us', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(data-link-destination)

                    // element : quote
                    if option.useQuote
                        .c-text-contents__quote 
                            .text.c-text-contents__quote-text
                                .cmp-text.font-w-semibold-28.font-m-semibold-20(data-cmp-data-layer="") 
                                    p “Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo”
                            .text.c-text-contents__quote-name
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                                    p Lorem ipsum dolor sit amet
    

    .guide-text-type Inquiry Result 
    .guide-text-option [B2C] 2. Repairer Registration Complete   
    // Component Markup
    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component.type-grid.type-tabs
            .CS0064__container    
                .c-regist__complete
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Thanks for registration')
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                    div We typically respond in 1-2 business days. Please check your email you provided for us.
                                        br
                                        | If you don’t hear from us, please review your email status with your receipt number.
                        // 20230313 case1) Countries where membership can be registered (default)
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Share your feedback', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                    .c-list(role="desc")
                        // block : textListItem
                        +textListItem2({contents:"schedule", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})

    .guide-text-option [B2C] 2. Repairer Registration Failed   
    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component
            .CS0064__container
                .c-regist__failed
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Sorry for your inconvenience')
                            // 20230314 text edit
                            // Different wording for each process
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Please try again or contact consumer support center to fix this problem.
                        // 20230314 button markup & position change
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Retry', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                    .c-list(role="desc")
                        // block : textListItem
                        +textListItem2({contents:"desc", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-20 font-m-normal-24'})

    .guide-text-option [Global]
    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component.type-grid.type-tabs
            .CS0064__container    
                .c-regist__complete
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Call appointment has been scheduled!')
                        // Complete-Call Appointment (non-login)
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Share your feedback', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                        // Complete-Call Appointment (at login)
                        // .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Go to my inquiry', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
                    .c-list(role="global_call")
                        // block : textListItem
                        +textListItem2({contents:"global_call", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})

    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component.type-grid.type-tabs
            .CS0064__container    
                .c-regist__complete
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Video consultation appointment has been submitted successfully!')
                        // Complete-Video consultation Appointment (when not logged in)
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Share your feedback', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                        // Complete-Video consultation Appointment (at login)
                        // .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Go to my inquiry', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
                    .c-list(role="global_video")
                        // block : textListItem
                        +textListItem2({contents:"global_video", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})

    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component
            .CS0064__container
                .c-regist__failed
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Sorry for your inconvenience')
                            // 20230314 text edit
                            // Different wording for each process
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Please try again or contact consumer support center to fix this problem.
                        // 20230314 button markup & position change
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Retry', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                    .c-list(role="desc")
                        // block : textListItem
                        +textListItem2({contents:"desc", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-20 font-m-normal-24'})

                
    
    .guide-text-option Global_India(IN)
    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component
            .CS0064__container
                .c-regist__failed
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Sorry for your inconvenience')
                            // 20230314 text edit
                            // Different wording for each process
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Please try again or contact consumer support center to fix this problem.
                        // 20230314 button markup & position change
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Retry', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                    .c-list(role="desc")
                        // block : textListItem
                        +textListItem2({contents:"global_in", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-20 font-m-normal-24'})

                
    .guide-text-option [PE] Libro de Reclamaciones Virtual_Complete
    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component.type-grid.type-tabs
            .CS0064__container    
                .c-regist__complete.c-global-type02
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Su reclamación ha sido enviado exitosamente')
                        // Complete-Call Appointment (non-login)
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Regresar a la Página de Soporte', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                        // Complete-Call Appointment (at login)
                    .c-list
                        // block : textListItem
                        +textListItem2({contents:"global_pe1", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})
                    .c-list
                        +textListItem2({contents:"global_pe2", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})
                    .c-list
                        +textListItem2({contents:"global_pe3", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})

    .guide-text-option [PE] Libro de Reclamaciones Virtual_Complete - Minors
    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component.type-grid.type-tabs
            .CS0064__container    
                .c-regist__complete.c-global-type02
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Su reclamación ha sido enviado exitosamente')
                        // Complete-Call Appointment (non-login)
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Regresar a la Página de Soporte', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                        // Complete-Call Appointment (at login)
                    .c-list
                        // block : textListItem
                        +textListItem2({contents:"global_pe1-underage", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})
                    .c-list
                        // block : textListItem
                        +textListItem2({contents:"global_pe-underage", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})

                    .c-list
                        +textListItem2({contents:"global_pe2", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})
                    .c-list
                        +textListItem2({contents:"global_pe3", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})


    .guide-text-option [PE] Libro de Reclamaciones Virtual_Failed
    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component
            .CS0064__container
                .c-regist__failed
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Please try again or contact consumer support center to fix this problem.')
                            // 20230314 text edit
                            // Different wording for each process
                        // 20230314 button markup & position change
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Regresar a la Página de Soporte', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Retry', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
                
    .guide-text-type Email Result 
    .guide-text-option Completed page after filling in Email Us
    // Component Markup
    .c-wrapper.CS0064.type-text.margin-top.margin-bottom
        .component.type-grid.type-tabs
            .CS0064__container    
                .c-regist__complete
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Thanks for your email')
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                    div We typically respond in 1-2 business days. Please check your email you provided for us.
                                        br
                                        | If you don’t hear from us, please review your email status with your receipt number.
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                    div Your entered personal information is different from your LG Accounts. Update your personal information to your LG accounts.

                        // 20230313 case1) Countries where membership can be registered (default)
                        .button__group
                            .button.c-cta
                                //-  before login 
                                +defaultButton({name: 'Go to support home', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Share your feedback', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                                //-  after login 
                                    +defaultButton({name: 'Go to support home', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                    +defaultButton({name: 'Go to My Inquiry', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                    .c-list(role="desc")
                        // block : textListItem
                        +textListItem2({contents:"schedule2", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-16 font-m-normal-16'})
