extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    - var CS0078country = "CS0301"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=`../${componentId}/${componentId}`+".css")
    link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=`../${componentId}/${componentId}`+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsList = [
            {
                'prdName': 'Lشاشات تلفاز إل إي دي / إل إس دي/ بي دي',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'الصوت والفيديو',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'الثلاجات',
                'month':'ضمان لمدة سنتين',
                'specialTxt':'10 سنوات على الكمبرسور فقط بعد انتهاء صلاحية الضمان لمدة عامين خلال سنوات 10 المذكورة أعلاه، سيتم فرض رسوم على المستهلك مقابل تكاليف مثل العمالة والزيارة والغاز وما إلى ذلك. ومع ذلك، لن تكون هناك رسوم على قطع الغيار المطبقة المطلوبة.',
                'special':'10 سنوات على الكمبرسور فقط'
            },
            {
                'prdName': 'غسالات الملابس',
                'month':'ضمان لمدة سنتين',
                'specialTxt':'10 سنوات على موتور دايركت درايف فقط بعد انتهاء صلاحية الضمان لمدة عامين خلال سنوات 10 المذكورة أعلاه، سيتم فرض رسوم على المستهلك مقابل تكاليف مثل العمالة والزيارة والغاز وما إلى ذلك. ومع ذلك، لن تكون هناك رسوم على قطع الغيار المطبقة المطلوبة.',
                'special':'10 سنوات على موتور دايركت درايف فقط'
            },
            {
                'prdName': 'غسالات الأطباق',
                'month':'ضمان لمدة سنتين',
                'specialTxt':'10 سنوات على موتور دايركت درايف فقط بعد انتهاء صلاحية الضمان لمدة عامين خلال سنوات 10 المذكورة أعلاه، سيتم فرض رسوم على المستهلك مقابل تكاليف مثل العمالة والزيارة والغاز وما إلى ذلك. ومع ذلك، لن تكون هناك رسوم على قطع الغيار المطبقة المطلوبة.',
                'special':'10 سنوات على موتور دايركت درايف فقط'

            },
            {
                'prdName': 'الأفران',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'المايكرويف',
                'month':'ضمان لمدة سنتين',
                'specialTxt':'10 سنوات على الماقنترون فقط بعد انتهاء صلاحية الضمان لمدة عامين خلال سنوات 10 المذكورة أعلاه، سيتم فرض رسوم على المستهلك مقابل تكاليف مثل العمالة والزيارة والغاز وما إلى ذلك. ومع ذلك، لن تكون هناك رسوم على قطع الغيار المطبقة المطلوبة.',
                'special':'10 سنوات على الماقنترون فقط'

            },
            {
                'prdName': 'مكيفات',
                'month':'ضمان لمدة سنتين',

            },
            {
                'prdName': 'شاشات الكمبيوتر',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'اللاب توب',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'شاشات العرض',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'التخزين الرقمي',
                'month':'ضمان لمدة سنتين',
            },
        ]   
    - 
        const itemsList_1 = [
            {
                'prdName': 'Lشاشات تلفاز إل إي دي / إل إس دي/ بي دي',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'الصوت والفيديو',
                'month':'ضمان لمدة سنتين',
            },
        ]   
    - 
        const itemsList_2 = [
            {
                'prdName': 'الثلاجات',
                'month':'ضمان لمدة سنتين',
                'specialTxt':'10 سنوات على الكمبرسور فقط بعد انتهاء صلاحية الضمان لمدة عامين خلال سنوات 10 المذكورة أعلاه، سيتم فرض رسوم على المستهلك مقابل تكاليف مثل العمالة والزيارة والغاز وما إلى ذلك. ومع ذلك، لن تكون هناك رسوم على قطع الغيار المطبقة المطلوبة.',
                'special':'10 سنوات على الكمبرسور فقط'
            },
            {
                'prdName': 'غسالات الملابس',
                'month':'ضمان لمدة سنتين',
                'specialTxt':'10 سنوات على موتور دايركت درايف فقط بعد انتهاء صلاحية الضمان لمدة عامين خلال سنوات 10 المذكورة أعلاه، سيتم فرض رسوم على المستهلك مقابل تكاليف مثل العمالة والزيارة والغاز وما إلى ذلك. ومع ذلك، لن تكون هناك رسوم على قطع الغيار المطبقة المطلوبة.',
                'special':'10 سنوات على موتور دايركت درايف فقط'
            },
            {
                'prdName': 'غسالات الأطباق',
                'month':'ضمان لمدة سنتين',
                'specialTxt':'10 سنوات على موتور دايركت درايف فقط بعد انتهاء صلاحية الضمان لمدة عامين خلال سنوات 10 المذكورة أعلاه، سيتم فرض رسوم على المستهلك مقابل تكاليف مثل العمالة والزيارة والغاز وما إلى ذلك. ومع ذلك، لن تكون هناك رسوم على قطع الغيار المطبقة المطلوبة.',
                'special':'10 سنوات على موتور دايركت درايف فقط'

            },
            {
                'prdName': 'الأفران',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'المايكرويف',
                'month':'ضمان لمدة سنتين',
                'specialTxt':'10 سنوات على الماقنترون فقط بعد انتهاء صلاحية الضمان لمدة عامين خلال سنوات 10 المذكورة أعلاه، سيتم فرض رسوم على المستهلك مقابل تكاليف مثل العمالة والزيارة والغاز وما إلى ذلك. ومع ذلك، لن تكون هناك رسوم على قطع الغيار المطبقة المطلوبة.',
                'special':'10 سنوات على الماقنترون فقط'

            },
        ]   
    - 
        const itemsList_3 = [
            {
                'prdName': 'مكيفات',
                'month':'ضمان لمدة سنتين',

            },
        ]   
    - 
        const itemsList_4 = [
            {
                'prdName': 'شاشات الكمبيوتر',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'اللاب توب',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'شاشات العرض',
                'month':'ضمان لمدة سنتين',
            },
            {
                'prdName': 'التخزين الرقمي',
                'month':'ضمان لمدة سنتين',
            },
        ]   
    - 
        const itemsList2 = [
            {
                'prdName': 'Chłodziarko-zamrażarka',
                'month':'10 lat gwarancji na kompresory - liniowy oraz inwerterowy',
                'month2':'20 lat gwarancji na kompresory w lodówkach Signature',
            },
            {
                'prdName': 'Pralka Direct-Drive',
                'month':'10 lat gwarancji na silnik Direct Drive',
                'month2':'20 lat gwarancji na kompresor w pralkach Signature',
            },
            {
                'prdName': 'Suszarka',
                'month':'10 lat gwarancji na podwójną sprężarkę inwerterową',
                'month2':'10 lat gwarancji na silnik inwerterowy',
            },
            {
                'prdName': 'Szafa parowa LG Styler',
                'month':'10 lat gwarancji na kompresor',
            },
            {
                'prdName': 'Zmywarka',
                'month':'10 lat gwarancji na silnik Direct Drive pompy myjącej',
            },
        ]   
    -
        const faqList = [
            {
                'headline':'الضمان القياسى لشركة إل جي:',
                'useImg':true,
                'text1':'يتعهد الباعة المعتمدين بصيانة منتجات ال جى مجاناً عند استخدام هذه المنتجات فى ظل الظروف الطبيعية، و إذا كانت هذه المنتجات معيبة من حيث الجودة أو الأداء أو أى من وظائفها. فترة ضمان المنتج تحتسب من تاريخ الشراء، و يتم تحديد تاريخ الشراء عن طريق:',
                'text2':'I. بإستخدام وثيقة إثبات المُنتج الأصلى للشراء الصادرة من البائع المعتمد',
                'text3':'II. بطاقة ضمان المُنتج التى إستلمها المشترى عند شراء المُنتج.',
                'text4':'هذا الضمان ينطبق على المنتجات التى تم شراؤها من البائعين المعتمدين.',
                'text5':'لتطبيق هذا الضمان, يجب أن يكون الشخص الذي احضر المُنتج ليتم خدمته هو الشخص الذي اشترى المُنتج من البائع المعتمد.',
                'text6':'يجب أن تتم الصيانة من قبل',
                'text7':'I. مركز خدمة معتمد من قبلنا',
                'text8':'II. مركز الخدمة المقدم من قبل البائع المعتمد (كلاهما يشار إليه في «مركز الصيانة").',
                'text9':'يجب على المشتري إحضار المُنتج إلى مركز الصيانة الموجود في البلد الذي اشترى منه المُنتج. يجب على المشتري تقديم وثيقة إثبات الشراء الأصلية و بطاقة ضمان المُنتج الأصلية إلى مركز الصيانة. إذا لم يقدم المشتري وثيقة إثبات الشراء الأصلية أو بطاقة ضمان المُنتج الأصلية، فإن الضمان يكون غير مطبق ويكون لمركز الصيانة الحق في رفض خدمة المنتج. يجب أن يكون المُنتج الأصلى من إل جى و أن يكون الرقم التسلسلى ظاهر على المنتج و مرئي، أيضاً يتعين على مركز الصيانة أخذ صورة للعلامة التسلسلية لأغراض التسجيل. ولا يمكن تطبيق هذا الضمان على المنتجات ذات العلامات التسلسلية المشوهة أو المفقودة.',
                'text10':'لا ينطبق هذا الضمان أيضًا على المنتجات التي تم تجديدها أو على المنتجات المستعملة.',
            },
            {
                'headline': 'لا يغطي الضمان أي مما يلي:',
                'useImg':false,
                'list':true,
                'list1':'المنتجات التي تمت إزالة الرقم التسلسلي منها أو المنتجات التي تحتوي على رقم تسلسلي غير مقروء.',
                'list2':'صيانة أو إستبدال الأجزاء أو المواد القابلة للإستهلاك المتضررة نتيجة الاستخدام العادي.',
                'list3':'الإصلاح التجميلي أو اصلاح الاضرار المادية التي اصابت المُنتج.',
                'list4':'الخلل أو الأضرار التي لحقت بالهوائيات إلا إذا كان سببها خلل او عيب في المواد أو صنعها.',
                'list5':'إذا كانت الدوائر القصيرة للبطارية أو أختام البطارية مكسورة أو اذا ظهر دليل يبين ان البطارية استخدمت في الجهاز بغير الطريقة التي خصصت لإجلها البطارية.',
                'list6':'التلف الناتج عن تذبذب التيار أو استخدام مولد كهربائي غير مطابق لمواصفات الوحدة.',
                'list7':'العيوب أو الأضرار الناجمة عن كسر أو العبث فى شاشة الكريستال السائل «LCD».',
                'list8':'الحوادث أو الإهمال أو سوء الإستخدام أو الكوارث الطبيعية.',
                'list9':'الأجهزة التي تم عليها تعديلات أو إصلاحات من قبل شخص آخر غير مركز الصيانة المعتمد من إل جي.',
                'list10':'الأجهزة التي تم عليها تعديلات غير المصرح بها أو غيرها من الأفعال، بما في ذلك انسكابات الطعام أو السوائل، أو التدخل الخارجي الذي لا يعد خطأ تصنيعيا أو خطأ فى المواد.',
                'list11':'استخدام المُنتج خارج الغرض المقصود منه.',
                'list12':'الأضرار أو العيوب الناجمة عن استخدام، أو التي تتعلق في ،الاكسسوارات، البرامج، و/ أو الخدمات التي لا يتم تصنيعها أو توريدها أو تكون مرخصة من قبل شركة إل جي.',
                'list13':'المنتجات المستعملة التي اشتراها المشتري، المنتجات المزيفة والمنتجات المشتراة من شخص آخر غير البائع المعتمد مستثناة من هذا الضمان. نحن لسنا مسؤولين عن أي خسارة فيما يتعلق بالمنتجات التي لا يغطيها هذا الضمان.',
                'list14':'ينطبق هذا الضمان على المنتجات التي يتم شراؤها من قبل المستهلكين النهائيين.',

                'listDesc':'للمنتجات التي تم شراؤها للاستخدام التجاري، مثل تلفزيونات الفندق، شاشات عرض المعلومات، مكيفات الهواء المركزية، وما إلى ذلك، فإن أحكام الضمان المعمول بها يكون وفقا لاتفاق المبيعات ذات الصلة.',
                'listDescTit':'※يرجى الملاحظة:',
                'listDesc2':'للحصول على شروط وأحكام الضمان الإضافية، يرجى الرجوع إلى بطاقة ضمان المنتج التي تأتي مع المنتج وقت الشراء. المعلومات الواردة هنا ليست سوى دليل. قد تختلف البنود والشروط المطبقة على المنتج المحدد والنموذج المحدد. إذا كنت بحاجة إلى المساعدة مع المنتج الخاص بك يرجى الرجوع إلى الدليل الخاص بك،',
            },
         
        ]
    -
        const accordBodyList = [
            {
                'text1':'Our authorized vendors promise to repair purchasers of LG-brand products free of charge when such products have been used under normal conditions and if such products are defective in terms of quality, performance, or function. The period during which such a warranty will be in place will be calculated based on the product’s purchase date. The purchase date is determined using:',
                'text2':'I. The product’s original proof-or-purchase document issued by the authorized seller',
                'text3':'II. The product warranty card the consumer received upon purchasing the product.',
                'text4':'This warranty is only applicable to products purchased from our authorized sellers listed in the chart below.',
                'text5':'For this warranty to apply, the person who brings the product to be serviced must be the person who originally purchased the product from the authorized seller.',
                'text6':'The repairs must be conducted by:',
                'text7':'I. A service center that is authorized by us.',
                'text8':'II. Our authorized seller’s service center (either is a “Servicer”).',
                'text9':'The purchaser must present the Servicer with the original proof-of-purchase document and original product warranty card. If the consumer does not provide the original proof-of-purchase document or the original product warranty card, this warranty will not apply and the Servicer will have the right to decline to serve the product. The product’s original LG model and serial tag must be on the product and visible, as the Servicer will take a photo of the Serial Tag for record purposes. Unfortunately, this warranty cannot apply to products with defaced or missing serial tags. This warranty does not apply to products that have been refurbished or second-hand purchased products.',
                'text10':'No accessories should be sent with the unit otherwise, the service center will not be responsible for any loss or damage to such accessories.',
            },
            {
                'list':true,
                'list1':'aaaaaa',
            }
         
        ]
    mixin pack(faq, useImg, controlsId)
        .c-accordion__box.js-accordion-handle-target
            .c-accordion__head
                // SUPPORT FAQ EYEBROW ADDED
                span.c-accordion__head-flag.font-m-normal-14.font-w-normal-14 #{faq.eyebrow}
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-w-normal-24.font-m-normal-16(aria-hidden="true") Q.
                    .text.c-text-contents__headline
                        .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                            strong #{faq.headline} 
                +trigger(controlsId)
            .c-accordion__body(id=`${controlsId}`)
                +contentsBody(faq)

    mixin trigger(controlsId)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded="false" aria-controls=`${controlsId}` aria-label="")
                span.c-accordion__button-text.expand.sr-only Expand
                span.c-accordion__button-text.collapse.sr-only Collapse

    mixin contentsBody(faq)
        .c-text-contents.c-accordion__body-text.c-flex
            span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-semibold(aria-hidden="true") A.
            .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16
                if faq.text1
                    span.cmp-text(data-cmp-data-layer="") #{faq.text1}
                        br
                        | #{faq.text2}
                        br
                        | #{faq.text3}
                        br
                        | #{faq.text4}
                        br
                        | #{faq.text5}
                        br
                        span.cs-bold #{faq.text6}
                        br
                        | #{faq.text7}
                        br
                        | #{faq.text8}
                        br
                        | #{faq.text9}
                        br
                        | #{faq.text10}
                if faq.list 
                    ul 
                        li #{faq.list1}
                        li #{faq.list2}
                        li #{faq.list3}
                        li #{faq.list4}
                        li #{faq.list5}
                        li #{faq.list6}
                        li #{faq.list7}
                        li #{faq.list8}
                        li #{faq.list9}
                        li #{faq.list10}
                        li #{faq.list11}
                        li #{faq.list12}
                        li #{faq.list13}
                        li #{faq.list14}
                    div 
                        | #{faq.listDesc}
                        br
                        span.cs-bold #{faq.listDescTit}
                        br
                        | #{faq.listDesc2}

    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - SA

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-SA
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 ضمان
                        
                .fullWidth
                    .sectCont
                        .cs-warrantyTxt.cs-warrantyTxtWrap
                            #container.container.second-container
                                .button.c-print-area
                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"اطبع", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                                // CONTENT
                                section.c-cs-warranty.c-warranty__wrap
                                    .contents-area
                                        //- .cs-second-tabbg
                                        .c-cs-header
                                            // block : text-contents
                                            .c-text-contents
                                                .title.c-text-contents__headline
                                                    h2.font-w-light-56.font-m-light-28 الضمان القياسى لشركة إل جي:
                                                .text.c-text-contents__bodycopy
                                                    .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") تقدم شركة إل جى ضمانات تتماشى مع قوانين حماية المستهلك فى المملكة العربية السعودية, و المتعلقة بعيوب المُنتج.

                                        .cs-tab.cs-second-tab
                                            input#tab1-1(checked='checked' type='radio' name='category')
                                            input#tab2-1(type='radio' name='category')
                                            input#tab3-1(type='radio' name='category')
                                            input#tab4-1(type='radio' name='category')
                                            input#tab5-1(type='radio' name='category')
                                            input#tab6-1(type='radio' name='category')
                                            .c-carousel__handler
                                                .cmp-carousel__actions.prev
                                                    +carouselBtn({type:"pagination", direction:"prev"})(aria-label="")
                                                .cmp-carousel__actions.next
                                                    +carouselBtn({type:"pagination", direction:"next"})(aria-label="")
                                            .tabs.swiper-container.csSwiper.csSwiper2.swiper
                                                .tabs__items.swiper-wrapper
                                                    .tab1-1.swiper-slide.on
                                                        label.c-tabs(for='tab1-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-all-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 All
                                                    .tab2-1.swiper-slide
                                                        label.c-tabs(for='tab2-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-tv-audio-video-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 أجهزة المنزلي الترفيه
                                                    .tab3-1.swiper-slide
                                                        label.c-tabs(for='tab3-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-appliance-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 أجهزة المنزلي الترفيه
                                                    .tab4-1.swiper-slide
                                                        label.c-tabs(for='tab4-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-aircon-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 مكيفات الهواء

                                                    .tab5-1.swiper-slide
                                                        label.c-tabs(for='tab5-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-it-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 تكنولوجيا المعلومات 

                                            section.c-second-section.c-sticky__contents
                                                .tab1-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14 مدة الضمان
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}
                                                
                                                .tab2-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList_1
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14 مدة الضمان
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}

                                                .tab3-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                             .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList_2
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14 مدة الضمان
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}

                                                .tab4-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList_3
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14 مدة الضمان
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}

                                                .tab5-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList_4
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14 مدة الضمان
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}
                                            .type-accordion.type-accordion__offEye
                                                .c-accordion.js-accordion
                                                    each faq, index in faqList
                                                        - var controlsId = `faq-set-0${index}`; 
                                                        +pack(faq, faq.useImg, controlsId)