extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0117"
    - var componentName = "Border"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-border-line' : [
                            {
                                'name' : 'PC',
                                'buttons' : [ 
                                    {'toggle' : true, 'add' : 'border-1920', 'remove' : 'border-1600, border-1440, border-1150, border-860'},
                                    {'toggle' : true, 'add' : 'border-1600', 'remove' : 'border-1920, border-1440, border-1150, border-860'},
                                    {'toggle' : true, 'add' : 'border-1440', 'remove' : 'border-1920, border-1600, border-1150, border-860'},
                                    {'toggle' : true, 'add' : 'border-1150', 'remove' : 'border-1920, border-1600, border-1440, border-860'},
                                    {'toggle' : true, 'add' : 'border-860', 'remove' : 'border-1920, border-1600, border-1440, border-1150'},
                                   
                                ]
                            },
                            {
                                'name' : 'MO',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-360', 'remove' : 'border-1920, border-1600, border-1440, border-1150, border-860, border-328'},
                                    {'toggle' : true, 'add' : 'border-328', 'remove' : 'border-1920, border-1600, border-1440, border-1150, border-860, border-360'},
                                ]
                            },
                        ],
                    };
    // Component Markup
    .guide-text-type Border
    
    // Component Markup              
    .c-wrapper.CS0117.type-text
        .component.type-form
            .c-border-line.border-1920
                    