extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_carousel.pug
include ../_common/_image.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "CS0017"
    - var componentName = "QR Code Location"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-warmgray', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            }
                        ],                     
                    };

    
    .guide-text-type QR Code Location

    // Component Markup
    .c-wrapper.CS0017.type-text 
        .component.c-qrcode-location.type-img__slide.type-home
            .CS0017__container
                +component-title-area({
                    headline : {
                        text : "Heading can be up to  60 characters lorem ipsum",
                    },
                    description : {
                        text : "Life’s good campaign",
                        style : "font-w-normal-20 font-m-normal-12"
                    }
                })(class="c-region-header--vacate-side")

                .carousel.panelcontainer.c-gallery.c-gallery-container.c-product-qrcode.c-pc-block    
                    // swiper                    
                    .c-product-qrcode__wrap.cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
                        // swiper-wrapper
                        .c-product-qrcode__list.cmp-carousel__content.swiper-wrapper
                            // swiper-slide
                            - for (var i=0; i<7; i++)
                                .c-product-qrcode__item.swiper-slide(tabindex=0)
                                    p.c-product-qrcode__name.font-w-normal-24 RefrigeratorRefrigeratorRefrigeratorRefrigeratorRefrigeratorRefrigerator
                                    +printLazyImage("https://via.placeholder.com/120x120/000/333/?text=Image")
                        .c-carousel__handler
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})


                .c-mobile-block 
                    .cmp-form
                        label(for="orderBy").c-select-label.font-w-semibold-16.font-m-semibold-14 Find order by #[em.require *]#[span.sr-only Required Field]
                        select#orderBy.font-m-normal-16.font-w-normal-14(required="required")
                            option(value="refrigerator" data-change-label="Refrigerator") Refrigerator
                            option(value="WineCellar" data-change-label="Wine Cellar") Wine cellar
                            option(value="test" data-change-label="test") test
                    .c-product-qrcode
                        .c-product-qrcode__item
                            +printLazyImage("https://via.placeholder.com/160x160/000/333/?text=Image")
                            p.c-product-qrcode__name.font-m-semibold-16.font-w-semibold-16 Refrigerator
                