extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0038"
    - var componentName = "Product Service and Support"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            }
                        ],
                        '.type-text, .type-disclaimer' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ],                        
                        '.type-disclaimer .component' : [
                            {
                                'name' : 'Width Size',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'width-1440', 'remove' : 'width-1600'},
                                    {'toggle' : false, 'add' : 'width-1600', 'remove' : 'width-1440'},
                                ]
                            }
                        ],
                        '.type-side' : [
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left'},
                                ]
                            }
                        ],
                        '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };

    mixin textContents(params)
        - var option={type:'', title: true, bodycopy: false, button: false, ...params}
        .c-text-contents
            if option.title
                .title.c-text-contents__headline
                    .cmp-title.font-w-semibold-20.font-m-semibold-16(data-cmp-data-layer="")
                        // Heading Tag Option - div or h1 or h2 or h3 or h4 or h5 or h6
                        case option.type
                            when "step1"
                                h3 Step1.
                                | Choose the way to register.
                            when "step2"
                                h3 Step2.
                                | Enter or Select your model and serial number.
                            when "step3"
                                h3 Step3.
                                | Fill in other purchase related information.
                            when "step4"
                                h3 Step4.
                                | Register and enjoy your benefits.
                            when "step5"
                                h3 Step5.
                                | Register and enjoy your benefits.
                            when "11"
                                h3 Step1.
                                | Choose the way to register.
                            when "22"
                                h3 Step2.
                                | Enter or Select your model and serial number.
                            when "33"
                                h3 Step3.
                                | Fill in other purchase related information.
                            when "44"
                                h3 Step4.
                                | Register and enjoy your benefits.
                            when "55"
                                h3 Step5.
                                | Register and enjoy your benefits.
                            when "buttonNone"
                                h3 Step1.
                                | Choose the way to register.
                            default
                                h3 
            if option.bodycopy
                .text.c-text-contents__bodycopy
                    .cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")                
                        case option.type
                            when "step1"
                                p Scan barcode or QR code helps to input model and serial number at once. 
                            when "step2"
                                p You have four options to input model number.
                            when "step3"
                                p Expedited support and service on questions and issues.
                            when "step4"
                                p You can find registered product at MyLG page.
                            when "step5"
                                p You can find registered product at MyLG page.
                            when "1"
                                p Scan barcode or QR code helps to input model and serial number at once. 
                            when "2"
                                p You have four options to input model number.
                            when "3"
                                p Expedited support and service on questions and issues.
                            when "4"
                                p You can find registered product at MyLG page.
                            when "5"
                                p You can find registered product at MyLG page.
                            when "buttonNone"
                                p You can find registered product at MyLG page.
                            default
                                p 
        if option.button
            case option.type
                when "buttonNone"
                    //- .button.c-cta
                    //-     +linkButton({type:'box-outlined', size: 'small', name:'LEARN MORE'})
                default 
                    .button.c-cta
                        +linkButton({type:'box-outlined', size: 'small', name:'Learn more'})

    mixin textListItem2(params)
        - var option={name:'', type:'', title: false, bodycopy: false, button: false, ...params}
        li.c-list__item
            // block : text-contents
            if(option.type == 'div')
                .c-list__link
                    +image2
                    +textContents({type:`${option.name}`, bodycopy: `${option.bodycopy}`, button: `${option.button}`})
            if(option.type == 'a')
                // option : target (_blank or _self)
                a(href="#" class="c-list__link")
                    +image2
                    +textContents({type:`${option.name}`, title: `${option.title}`, bodycopy: `${option.bodycopy}`, button: `${option.button}`})
            if(option.type == 'popup')
                // popup : Please enter the input url, popup width and height, and add class 'js-popup'.
                a(href="https://www.lgechat.com/us/index.html" target="popup" class="c-list__link js-open-popup"  data-width="344" data-height="553" title="Opens in a new popup window")
                    +image2
                    +textContents({type:`${option.name}`, title: `${option.title}`, bodycopy: `${option.bodycopy}`, button: `${option.button}`})
                    
    mixin image2
        // block : image
        .image.c-image
            +printLazyImage('https://via.placeholder.com/48x48/cccccc/333333')
            if block
                block            
   
    .guide-text-type Product Service and Support

    // Component Markup
    .guide-text-type All case
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'How it works')
                        //- .text.c-text-contents__bodycopy
                        //-     .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                        //-         span You can choose how to register your product in easiest way.
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div', title: true, bodycopy: true, button: true})
                    +textListItem2({name:'step2', type:'div'})
                    +textListItem2({name:'step3', type:'div'})
                    +textListItem2({name:'step4', type:'div'})
                    +textListItem2({name:'step5', type:'div'})
                .c-text-contents
                        .title.c-text-contents__disclaimer Body text can be up to 100 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing.

    // Component Markup
    .guide-text-type Option: 1column
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div'})
    
    // Component Markup
    .guide-text-type Option: 2column
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div'})
                    +textListItem2({name:'step2', type:'div'})
    
    // Component Markup
    .guide-text-type Option: 3column
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div'})
                    +textListItem2({name:'step2', type:'div'})
                    +textListItem2({name:'step3', type:'div'})
    
    // Component Markup
    .guide-text-type Option: 4column
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div'})
                    +textListItem2({name:'step2', type:'div'})
                    +textListItem2({name:'step3', type:'div'})
                    +textListItem2({name:'step4', type:'div'})
    
    // Component Markup
    .guide-text-type Option: 5column
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div'})
                    +textListItem2({name:'step2', type:'div'})
                    +textListItem2({name:'step3', type:'div'})
                    +textListItem2({name:'step4', type:'div'})
                    +textListItem2({name:'step5', type:'div'})
    
    // Component Markup
    .guide-text-type Option: large title
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                // Option: large title add .c-list__large-title
                ul.c-list.c-list__large-title
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div'})
                    +textListItem2({name:'step2', type:'div'})
                    +textListItem2({name:'step3', type:'div'})
                    +textListItem2({name:'step4', type:'div'})
                    +textListItem2({name:'step5', type:'div'})
    
    // Component Markup
    .guide-text-type Option: none title
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'1', type:'div'})
                    +textListItem2({name:'2', type:'div'})
                    +textListItem2({name:'3', type:'div'})
                    +textListItem2({name:'4', type:'div'})
                    +textListItem2({name:'5', type:'div'})

    .guide-text-type Option: none bodycopy
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div'})
                    +textListItem2({name:'step2', type:'div'})
                    +textListItem2({name:'step3', type:'div'})
                    +textListItem2({name:'step4', type:'div'})
                    +textListItem2({name:'step5', type:'div'})
    
    .guide-text-type Option: none button
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                ul.c-list
                    // block : textListItem
                    +textListItem2({name:'buttonNone', type:'div'})
                    +textListItem2({name:'buttonNone', type:'div'})
                    +textListItem2({name:'buttonNone', type:'div'})
                    +textListItem2({name:'buttonNone', type:'div'})
                    +textListItem2({name:'buttonNone', type:'div'})
    
    // Component Markup
    .guide-text-type Option: italic
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                // Option: large title add .c-list--italic
                ul.c-list.c-list--italic
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div', title: false})
                    +textListItem2({name:'step2', type:'div'})
                    +textListItem2({name:'step3', type:'div'})
                    +textListItem2({name:'step4', type:'div'})
                    +textListItem2({name:'step5', type:'div'})
    
    // Component Markup
    .guide-text-type Option: underline
    .c-wrapper.CS0038.type-text.margin-top.margin-bottom
        .component.full.type-card__list.column4
            .CS0038__container
                // Option: large title add .c-list--underline
                ul.c-list.c-list--underline
                    // block : textListItem
                    +textListItem2({name:'step1', type:'div', title: false})
                    +textListItem2({name:'step2', type:'div'})
                    +textListItem2({name:'step3', type:'div'})
                    +textListItem2({name:'step4', type:'div'})
                    +textListItem2({name:'step5', type:'div'})



