extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug

block meta 
    - var componentId = "CS0071"
    - var componentName = "Track My Repair_Result"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
 
block content

    mixin trackBtns
        // block : cta
        .button.c-cta
            +defaultButton({name: 'Send a Message', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
            +defaultButton({name: 'Print Out', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})(href="#" class="c-print c-hidden-mo" role="print")
            +defaultButton({name: 'Previous', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})

    .guide-text-type Track My Repair_Result
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Track my repair")
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Review your requested repair service.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Inquiry further', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-regist__complete-wrap
                    .c-prd-info
                        .c-step-progress 
                            ol.c-step-progress__list
                                // 현재상태 클래스 '.c-step-progress__item--active'
                                // 완료 된 상태 '.c-step-progress__item--success'
                                li.c-step-progress__item.c-step-progress__item--active 
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 1
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Receipt
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 2
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Progress
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 3
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Completed
                            button(type="button").c-step-progress__cancel
                                span.c-close__icon
                                p.font-m-normal-14.font-w-normal-12 Cancel

                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Receipt 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 Tận Nhà
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 How to install and operate &lt; Drain hose
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
                            p.font-m-light-24.font-w-light-36 Request information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Your request
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Service provider 
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Advance video Ir
                                        <br> 410-494-7195
                    +trackBtns
    .guide-text-type Track My Repair_Result(Progress)
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Track my repair")
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Review your requested repair service.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Inquiry further', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-regist__complete-wrap
                    .c-prd-info
                        .c-step-progress 
                            ol.c-step-progress__list
                                // 현재상태 클래스 '.c-step-progress__item--active'
                                // 완료 된 상태 '.c-step-progress__item--success'
                                li.c-step-progress__item.c-step-progress__item--success 
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 1
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Receipt
                                li.c-step-progress__item.c-step-progress__item--active
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 2
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Progress
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 3
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Completed
                            button(type="button").c-step-progress__cancel
                                span.c-close__icon
                                p.font-m-normal-14.font-w-normal-12 Cancel

                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Progress 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 Tận Nhà
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 How to install and operate &lt; Drain hose
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
                            p.font-m-light-24.font-w-light-36 Request information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Your request
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Service provider 
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Advance video Ir
                                        <br> 410-494-7195
                    +trackBtns

    .guide-text-type Track My Repair_Result(Completed)
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Track my repair")
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Review your requested repair service.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Inquiry further', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-regist__complete-wrap
                    .c-prd-info
                        .c-step-progress 
                            ol.c-step-progress__list
                                // 현재상태 클래스 '.c-step-progress__item--active'
                                // 완료 된 상태 '.c-step-progress__item--success'
                                li.c-step-progress__item.c-step-progress__item--success 
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 1
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Receipt
                                li.c-step-progress__item.c-step-progress__item--success
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 2
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Progress
                                li.c-step-progress__item.c-step-progress__item--active
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 3
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Completed
                            button(type="button").c-step-progress__cancel
                                span.c-close__icon
                                p.font-m-normal-14.font-w-normal-12 Cancel

                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Completed 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 Tận Nhà
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 How to install and operate &lt; Drain hose
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
                            p.font-m-light-24.font-w-light-36 Request information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Your request
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Service provider 
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Advance video Ir
                                        <br> 410-494-7195
                    +trackBtns
    .guide-text-type Track My Repair_Result(Cancel)
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Track my repair")
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Review your requested repair service.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Inquiry further', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-regist__complete-wrap
                    .c-prd-info
                        .c-step-progress 
                            ol.c-step-progress__list
                                // 현재상태 클래스 '.c-step-progress__item--active'
                                // 완료 된 상태 '.c-step-progress__item--success'
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 1
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Receipt
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 2
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Progress
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 3
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Completed
                            button(type="button").c-step-progress__cancel.c-step-progress__cancel--active
                                span.c-close__icon
                                p.font-m-normal-14.font-w-normal-12 Cancel

                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Cancel 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 Tận Nhà
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 How to install and operate &lt; Drain hose
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
                            p.font-m-light-24.font-w-light-36 Request information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Your request
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Service provider 
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Advance video Ir
                                        <br> 410-494-7195
                    +trackBtns

    .guide-text-option BR_Send Phone
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-regist__complete-wrap
                    .c-prd-info
                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Receipt 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 LG collect
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 How to install and operate &lt; Power supply
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
                            p.font-m-light-24.font-w-light-36 Service center information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Your request
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Authorized technical assistance
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") World Service
                                        <br>RUA MARIA CARLOTA 118 VILA ESPERANCA-PENHA 11 29588642
      
                            p.font-m-light-24.font-w-light-36 Application information
                            .c-prd-info__group
                                dl.c-wide
                                    dt.font-m-normal-16.font-w-normal-20 Last status update
                                    dd.font-m-normal-16.font-w-normal-20
                                        .c-flex 
                                            p.c-date 31/03/2023
                                            p.c-situation Repair completed, awaiting pickup or delivery
                                        .c-flex 
                                            p.c-date 31/03/2023
                                            p.c-situation Under repair in the lab
                                        .c-flex 
                                            p.c-date 31/03/2023
                                            p.c-situation In process of technical analysis

                            p.font-m-light-24.font-w-light-36
                                | Delivery details<br>
                                span.font-m-normal-16.font-w-normal-20 Customer for technical assistance
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Posting date
                                    dd.font-m-normal-16.font-w-normal-20 07/04/2016
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Tracking code
                                    dd.font-m-normal-16.font-w-normal-20 DN980786849BR
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Last status
                                    dd.font-m-normal-16.font-w-normal-20 Data:06/08/2019 - Objeto entregue ao destinatario
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Tracking
                                    dd.font-m-normal-16.font-w-normal-20
                                        .button.c-cta
                                            +linkButton({type:"text", icon:true, name:'Detail view', class:'c-button-view'})(role="button")

                            p.font-m-normal-16.font-w-normal-20 Customer technical assistance
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Posting date
                                    dd.font-m-normal-16.font-w-normal-20 07/04/2016
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Tracking code
                                    dd.font-m-normal-16.font-w-normal-20 DN980786849BR
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Last status
                                    dd.font-m-normal-16.font-w-normal-20 Data:06/08/2019 - Objeto entregue ao destinatario
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Tracking
                                    dd.font-m-normal-16.font-w-normal-20
                                        .button.c-cta
                                            +linkButton({type:"text", icon:true, name:'Detail view', class:'c-button-view'})(role="button")
            
    
    .guide-text-option FR
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-detail-content__content.c-detail-content__feedback 
                    .c-model-content-wrap
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-m-light-24 font-w-light-56',h2,'Comments on the article')
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .cs-form
                        .cmp-form 
                            label(for="request").font-m-normal-16.font-w-normal-24 1. Did the information help you? #[em.require *]#[span.sr-only Required Field]
                            .c-form-box
                                .c-radio-item.showForm
                                    label.radio(for="yes")
                                        input(type="radio" name="feedback" id="yes" aria-label="").c-feedback-valid
                                        span.label.font-m-normal-16.font-w-normal-16 Yes
                                .c-radio-item.noShowForm
                                    label.radio(for="no")
                                        input(type="radio" name="feedback" id="no" aria-label="").c-feedback-valid
                                        span.label.font-m-normal-16.font-w-normal-16 No
                            .c-warning.c-feedback-required Please fill out the required field.
                        .cmp-form 
                            label(for="request").font-m-normal-16.font-w-normal-24 1-1. Overall, are you satisfied with the usefulness of this information? #[em.require *]#[span.sr-only Required Field]
                            .c-rating-star
                                .c-rating-star__wrap  
                                    input(type="radio" id="star5" name="rating" value="5" aria-label="").c-star-valid
                                    label(for="star5")
                                    input(type="radio" id="star4" name="rating" value="4" aria-label="").c-star-valid
                                    label(for="star4")
                                    input(type="radio" id="star3" name="rating" value="3" aria-label="").c-star-valid
                                    label(for="star3")
                                    input(type="radio" id="star2" name="rating" value="2" aria-label="").c-star-valid
                                    label(for="star2")
                                    input(type="radio" id="star1" name="rating" value="1" aria-label="").c-star-valid
                                    label(for="star1")
                            .c-warning.c-star-required Please fill out the required field.
                        .cmp-form 
                            label(for="request").font-m-normal-16.font-w-normal-24 2. How did you improve the information? #[em.require *]#[span.sr-only Required Field]
                            .c-textarea-box
                                textarea#description.font-m-normal-14.font-w-normal-14.c-message-valid(required="required" aria-label="" placeholder="Enter your valuable feedback.")
                                p.font-m-normal-12.font-w-normal-16 0 / 500 Characters
                            .c-warning.c-message-required Please fill out the required field.
                    .button
                        +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'medium'})(type="submit" role="button" class="c-btn-submit")

    .guide-text-option FR (case2)
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                // Article Feedback complete add class .c-regist__complete 
                .c-detail-content__content.c-detail-content__feedback.c-regist__complete 
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-m-light-24 font-w-light-56',h2,'Comments on the article')
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-36 font-m-light-24',h2,'Thank you for your feedback!')

    .guide-text-type FR_Track My Repair
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Track my repair")
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Review your requested repair service.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Inquiry further', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-regist__complete-wrap
                    .c-prd-info
                        .c-step-progress 
                            ol.c-step-progress__list
                                // 현재상태 클래스 '.c-step-progress__item--active'
                                // 완료 된 상태 '.c-step-progress__item--success'
                                li.c-step-progress__item.c-step-progress__item--active 
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 1
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Receipt
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 2
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Progress
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 3
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Completed
                            button(type="button").c-step-progress__cancel
                                span.c-close__icon
                                p.font-m-normal-14.font-w-normal-12 Cancel

                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Receipt 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 Tận Nhà
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 How to install and operate &lt; Drain hose
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
                            p.font-m-light-24.font-w-light-36 Informations supplémentaires
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Votre RDV
                                    dd.font-m-normal-16.font-w-normal-20 07/12/2023 10:00 ~ 10:59
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Réparateur 
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") LGEFS CS TECHNICIANS TEAM
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Phone
                                    dd.font-m-normal-16.font-w-normal-20 0662442998
    
                            p.font-m-light-24.font-w-light-36 Pièces commandées
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Information sur les commandes
                                    dd.font-m-normal-16.font-w-normal-20 6601EN1003D
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Date de commande
                                    dd.font-m-normal-16.font-w-normal-20 05/23/2020 19:01:50
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Information sur les commandes
                                    dd.font-m-normal-16.font-w-normal-20 6601EN1003D
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Date de commande
                                    dd.font-m-normal-16.font-w-normal-20 05/23/2020 19:01:50
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Information sur les commandes
                                    dd.font-m-normal-16.font-w-normal-20 6601EN1003D
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Date de commande
                                    dd.font-m-normal-16.font-w-normal-20 05/23/2020 19:01:50
                               
    

    .guide-text-type TH/TR_Track My Repair_Result (Pending)
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Track my repair")
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Review your requested repair service.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Inquiry further', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-regist__complete-wrap
                    .c-prd-info
                        .c-step-progress 
                            ol.c-step-progress__list
                                // 현재상태 클래스 '.c-step-progress__item--active'
                                // 완료 된 상태 '.c-step-progress__item--success'
                                li.c-step-progress__item.c-step-progress__item--success 
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 1
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Receipt
                                li.c-step-progress__item.c-step-progress__item--active
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 2
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Progress
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 3
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Completed
                            button(type="button").c-step-progress__cancel
                                span.c-close__icon
                                p.font-m-normal-14.font-w-normal-12 Cancel

                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Progress 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 Tận Nhà
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 How to install and operate &lt; Drain hose
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
                            p.font-m-light-24.font-w-light-36 Request information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Your request
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Service provider 
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Advance video Ir
                                        <br> 410-494-7195
                            
                            p.font-m-light-24.font-w-light-36 Request information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Number
                                    dd.font-m-normal-16.font-w-normal-20 001
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Date 
                                    dd.font-m-normal-16.font-w-normal-20 03/25/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Reason
                                    dd.font-m-normal-16.font-w-normal-20 Currently procuring spare parts
                            
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Number
                                    dd.font-m-normal-16.font-w-normal-20 002
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Date 
                                    dd.font-m-normal-16.font-w-normal-20 03/26/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Reason
                                    dd.font-m-normal-16.font-w-normal-20 Repair work completed / waiting to send the device back
                            
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Number
                                    dd.font-m-normal-16.font-w-normal-20 003
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Date 
                                    dd.font-m-normal-16.font-w-normal-20 03/27/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Reason
                                    dd.font-m-normal-16.font-w-normal-20 Repair work completed / waiting for information to close work in the system
                            
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Number
                                    dd.font-m-normal-16.font-w-normal-20 004
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Date 
                                    dd.font-m-normal-16.font-w-normal-20 03/28/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Pending Reason
                                    dd.font-m-normal-16.font-w-normal-20 Repair work completed / waiting for information to close work in the system
    
    .guide-text-type BR_Track My Repair_Result (Pending)
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Track my repair")
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Review your requested repair service.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Inquiry further', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-regist__complete-wrap
                    .c-prd-info
                        .c-step-progress 
                            ol.c-step-progress__list
                                // 현재상태 클래스 '.c-step-progress__item--active'
                                // 완료 된 상태 '.c-step-progress__item--success'
                                li.c-step-progress__item.c-step-progress__item--success 
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 1
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Receipt
                                li.c-step-progress__item.c-step-progress__item--active
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 2
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Progress
                                li.c-step-progress__item
                                    span.c-step-progress__number.font-m-normal-16.font-w-normal-16 3
                                    p.c-step-progress__text.font-m-normal-14.font-w-normal-12 Completed
                            button(type="button").c-step-progress__cancel
                                span.c-close__icon
                                p.font-m-normal-14.font-w-normal-12 Cancel

                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Progress 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 Tận Nhà
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 How to install and operate &lt; Drain hose
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
                            p.font-m-light-24.font-w-light-36 Request information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Your request
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Service provider 
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Advance video Ir
                                        <br> 410-494-7195
                            
                            p.font-m-light-24.font-w-light-36 Application information
                            .c-prd-info__group
                                dl.c-wide
                                    dt.font-m-normal-16.font-w-normal-20 Last status update
                                    dd.font-m-normal-16.font-w-normal-20
                                        .c-flex 
                                            p.c-date 31/03/2023
                                            p.c-situation Repair completed, awaiting pickup or delivery
                                        .c-flex 
                                            p.c-date 31/03/2023
                                            p.c-situation Under repair in the lab
                                        .c-flex 
                                            p.c-date 31/03/2023
                                            p.c-situation In process of technical analysis

    .guide-text-type PL_Track My Repair_Result (Intensive repair)
    .c-wrapper.CS0071.type-text.margin-top.margin-bottom
        .component.c-repair__review
            .CS0071__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Track my repair")
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Review your requested repair service.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Inquiry further', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-regist__complete-wrap
                    .c-prd-info

                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/300x300/ccc/eee/?text=300x300')
                        .c-prd-info__inner 
                            p.font-m-light-24.font-w-light-36 Service information
                            .c-prd-info__group
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Receipt number
                                    dd.font-m-normal-16.font-w-normal-20 CNP220821567949
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Status
                                    dd.font-m-normal-16.font-w-normal-20 Receipt 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Service type
                                    dd.font-m-normal-16.font-w-normal-20 Home repair
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Receipt date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Last update date
                                    dd.font-m-normal-16.font-w-normal-20 31/03/2023
                            
                            p.font-m-light-24.font-w-light-36 Customer / Product information
                            .c-prd-info__group
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Customer name
                                    dd.font-m-normal-16.font-w-normal-20 TEST***
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Symptom
                                    dd.font-m-normal-16.font-w-normal-20 Sales &gt; Availability / Price
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Product number
                                    dd.font-m-normal-16.font-w-normal-20 
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") GSXV90MCDE
                            
