extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_carousel.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_cs-select-model.pug
include ../_common/_cs-form.pug

block meta 
    - var componentId = "CS0051"
    - var componentName = "Input Form_Scan QR"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content

    .guide-text-option Input Form_Scan QR
    // 20230313 full markup change
    .c-wrapper.CS0051.type-text
        .component.full.type-form
            .CS0051__container
                +uploadbox({mhide:true})

                .container
                    .c-model-content-wrap
                        .c-model-contents
                            a(tabindex="0" class="find-number font-m-normal-14 font-w-normal-16" aria-label="" role="dialog") How to find my model number?
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .c-container__inner
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +csForm_Input({id: 'modelNumber', label: 'Model number', type:"text", placeholder:"Select a model number", require: 'true', disabled:'true', requireMsg: 'Model number is required.', invalidMsg: "This model number is invalid." ,class:'c-modelNumber-valid' })
                                    .button.c-cta 
                                        +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(aria-label="")
                                .cmp-form
                                    +csForm_Input({id: 'serialNumber', label: 'Serial number', type:"text", disabled:'true',placeholder:"Scan your QR code", formDefalut: 'true', requireMsg: 'Serial number is required.​​​', invalidMsg: "This serial number is invalid." ,class:'c-serialNumber-valid' })
                                .cmp-form 
                                    +csForm_Input({id: 'purchaseDate', label: 'Purchase date', type:"date",placeholder:"YYYY/MM/DD", formDefalut: 'true', requireMsg: 'Purchase date is required.​​​' ,class:'c-purchaseDate-valid' })
                                .cmp-form
                                    +csForm_Input({id: 'placePurchase', label: 'Place of purchase', type:"text",placeholder:"Type a place of purchase", formDefalut: 'true', requireMsg: 'Place of purchase is required.​​​' ,class:'c-placePurchase-valid' })
                                .cmp-form
                                    label(for="proofPurchase").font-m-normal-16.font-w-normal-24 Proof of purchase (optional) 
                                    .c-btn-upload
                                        #preview
                                            p.cs-preview__file File name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                .cmp-form

                    .c-button-wrap
                        .button.c-cta
                            +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                            +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-submit")
    
    .guide-text-option Global - Brazil (BR)
    // 20230313 full markup change
    .c-wrapper.CS0051.type-text
        .component.full.type-form
            .CS0051__container
                .c-upload-box
                    .c-barcode-box
                        +printLazyPicture('https://via.placeholder.com/150x150/ccc/000/?text=150x150', 'https://via.placeholder.com/195x120/ccc/000/?text=195x120 ')
                        .c-barcode-box__inner    
                            p.c-hidden-mo.font-w-normal-20 Available only for some products with QR codes
                            .c-btn-group   
                                .button.c-cta 
                                    +defaultButton({name: 'Scan your QR code', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                    
                    // after upload
                    .c-selected-model
                        +printLazyPicture('https://via.placeholder.com/40x40/fff/000/?text=40x40', 'https://via.placeholder.com/80x80/fff/000/?text=64x64')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-32 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-20 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-20 Parts 24 months
                        button(type="button" aria-label="").c-btn-close 
                            img(src="../../assets/icon/icon-close-black-12-12.svg")

                .container
                    .c-model-content-wrap
                        .c-model-contents
                            a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
                        .c-require.font-m-normal-12.font-w-normal-24 #[em.require *] Required fields 
                    .c-container__inner
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +csForm_Input({id: 'modelNumber', label: 'Model number', type:"text", placeholder:"Select a model number", require: 'true', disabled:'true', requireMsg: 'Model number is required.', invalidMsg: "This model number is invalid." ,class:'c-modelNumber-valid' })

                                    .button.c-cta 
                                        +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(aria-label="")
                                .cmp-form
                                    +csForm_Input({id: 'serialNumber', label: 'Serial number', type:"text", disabled:'true',placeholder:"Scan your QR code", formDefalut: 'true', requireMsg: 'Serial number is required.​​​', invalidMsg: "This serial number is invalid." ,class:'c-serialNumber-valid' })

                                .cmp-form 
                                    +csForm_Input({id: 'purchaseDate', label: 'Purchase date', type:"date",placeholder:"YYYY/MM/DD", formDefalut: 'true', requireMsg: 'Purchase date is required.​​​' ,class:'c-purchaseDate-valid' })
                                .cmp-form
                                    +csForm_Input({id: 'placePurchase', label: 'Place of purchase', type:"text",placeholder:"Type a place of purchase", formDefalut: 'true', requireMsg: 'Place of purchase is required.​​​',class:'c-placePurchase-valid' })

                                .cmp-form 
                                    +csForm_Input({id: 'promotionCode', label: 'Promotion code ', type:"text",placeholder:"Type a promotion code", requireMsg: 'Promotion code  is required.​​​',class:'c-promotionCode-valid' })

                                    //- label(for="promotionCode").font-m-normal-16.font-w-normal-24 Promotion code 
                                    //- input#promotionCode.font-m-normal-14.font-w-normal-14.c-promotionCode-valid(type="text" required="required"  aria-label="" placeholder="Type a promotion code")
                                    //- .c-warning.font-m-normal-16.font-w-normal-16.c-promotionCode-required Promotion code  is required.
                                .cmp-form
                                    label(for="proofPurchase").font-m-normal-16.font-w-normal-24 Proof of purchase (optional) 
                                    .c-btn-upload
                                        #preview
                                            p.cs-preview__file File name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                .cmp-form
                
                    .c-button-wrap
                        .button.c-cta
                            +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                            +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-submit")

    .guide-text-option Global - Thailand (TH)
    // 20230313 full markup change
    .c-wrapper.CS0051.type-text
        .component.full.type-form
            .CS0051__container
                .c-upload-box
                    .c-barcode-box
                        +printLazyPicture('https://via.placeholder.com/150x150/ccc/000/?text=150x150', 'https://via.placeholder.com/195x120/ccc/000/?text=195x120 ')
                        .c-barcode-box__inner    
                            p.c-hidden-mo.font-w-normal-20 Available only for some products with QR codes
                            .c-btn-group   
                                .button.c-cta 
                                    +defaultButton({name: 'Scan your QR code', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                    
                    // after upload
                    .c-selected-model
                        +printLazyPicture('https://via.placeholder.com/40x40/fff/000/?text=40x40', 'https://via.placeholder.com/80x80/fff/000/?text=64x64')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-32 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-20 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-20 Parts 24 months
                        button(type="button" aria-label="").c-btn-close 
                            img(src="../../assets/icon/icon-close-black-12-12.svg")

                .container
                    .c-model-content-wrap
                        .c-model-contents
                            a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
                        .c-require.font-m-normal-12.font-w-normal-24 #[em.require *] Required fields 
                    .c-container__inner
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +csForm_Input({id: 'modelNumber', label: 'Model number', type:"text", placeholder:"Select a model number", require: 'true', disabled:'true', requireMsg: 'Model number is required.', invalidMsg: "This model number is invalid." ,class:'c-modelNumber-valid' })
                                    .button.c-cta 
                                        +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(aria-label="")

                                .cmp-form
                                    +csForm_Input({id: 'serialNumber', label: 'Serial number', type:"text",placeholder:"Scan your QR code", formDefalut: 'true', requireMsg: 'Serial number is required.​​​', invalidMsg: "This serial number is invalid." ,class:'c-serialNumber-valid' })

                                .cmp-form 
                                    +csForm_Input({id: 'purchaseDate', label: 'Purchase date', type:"date",placeholder:"YYYY/MM/DD", formDefalut: 'true', requireMsg: 'Purchase date is required.​​​' ,class:'c-purchaseDate-valid' })

                                .cmp-form
                                    +csForm_Input({id: 'placePurchase', label: 'Place of purchase', type:"text",placeholder:"Type a place of purchase", formDefalut: 'true', requireMsg: 'Place of purchase is required.​​​',class:'c-placePurchase-valid' })

                                .cmp-form
                                    label(for="survey").c-select-label.font-m-normal-16.font-w-normal-24 Survey #[em.require *]#[span.sr-only Required Field]
                                    span.c-label-subtext.font-m-normal-16.font-w-normal-16 From what channels did you know about product registration?
                                    select#survey.font-m-normal-16.font-w-normal-24.c-country-valid(required="required" aria-label="")              
                                        option(value="survey1" data-change-label="survey1") survey
                                        option(value="survey-2" data-change-label="survey-2") survey-2
                                    .c-warning.font-m-normal-16.font-w-normal-16.c-placePurchase-required Survey is required.
                                .cmp-form
                                    label(for="proofPurchase").font-m-normal-16.font-w-normal-24 Proof of purchase (optional) 
                                    .c-btn-upload
                                        #preview
                                            p.cs-preview__file File name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                .cmp-form
                
                    .c-button-wrap
                        .button.c-cta
                            +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                            +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-submit")


    .guide-text-option Mobile
    // 20230425 markup add
    .c-wrapper.CS0051.type-text.margin-bottom
        .component.full.type-form
            .CS0051__container
                .c-upload-box
                    .c-barcode-box.c-mo-view
                        +printLazyPicture('https://via.placeholder.com/133x133/ccc/000/?text=133x133')
                        .c-barcode-box__inner  
                            p.font-m-normal-16 Available only for some products with QR codes
                            .c-btn-group   
                                .button.c-cta 
                                    +defaultButton({name: 'Scan your QR code', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                

                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
