extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_carousel.pug

block meta 
    - var componentId = "AL0017"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    //- .guide 
    //-     .grid-1600 
    //-     .grid-1440
    //-     .inner
    //-         .guide-list
    //-             a(href="../../list-cm.html") List 
    //-         .guide-title #{componentId}. #{componentName}
    //-         .guide-wrapper
    //-              script. 
    //-                 const guideList = {
    //-                     '.c-list__item__inner': [
    //-                         {
    //-                             'name' : 'BG Color',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray'},
    //-                                 {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white'},
    //-                             ]
    //-                         },
    //-                     ],
    //-                     '.cmp-container .c-text-contents__title .cmp-title' : [
    //-                         {
    //-                             'name' : 'Web Headline Font Size',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-w-bold-64', 'remove' : 'font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-w-regular-64', 'remove' : 'font-w-bold-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-w-semibold-60', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-w-regular-54', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-w-semibold-46', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-w-bold-40', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-semibold-40, font-w-semibold-32, font-w-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-w-semibold-40', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-32, font-w-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-w-semibold-32', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-24'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'Mobile Headline Font Size',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-m-bold-40', 'remove' : 'font-m-regular-40, font-m-semibold-32, font-m-bold-30, font-m-semibold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-m-regular-40', 'remove' : 'font-m-bold-40, font-m-semibold-32, font-m-bold-30, font-m-semibold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-m-semibold-32', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-bold-30, font-m-semibold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-m-bold-30', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-semibold-32, font-m-semibold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-m-semibold-30', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-semibold-32, font-m-bold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-m-regular-30', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-semibold-32, font-m-bold-30, font-m-semibold-30, font-m-semibold-26, font-m-semibold-24'},
    //-                                 {'toggle' : false, 'add' : 'font-m-semibold-26', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-semibold-32, font-m-bold-30, font-m-semibold-30, font-m-regular-30, font-m-semibold-24'},
    //-                             ],
    //-                         },
    //-                     ],
    //-                     '.cmp-container .c-text-contents__bodycopy .cmp-text' : [
    //-                         {
    //-                             'name' : 'Font Options',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
    //-                                 {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
    //-                                 {'toggle' : true, 'add' : 'font-italic'},
    //-                                 {'toggle' : true, 'add' : 'font-underline'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                 }

    mixin AL0017List (param)
        each data in param 
            div.cmp-carousel__item.swiper-slide.c-list__item
                .c-list__item__inner
                    if data.isURL
                        .c-list-item__img
                            img(src=data.isURL, alt=data.isALT)
                    .c-text-contents.c-list-item__contents 
                        .title.c-text-contents__title
                            strong.cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="")= data.titleName
                        .text.c-text-contents__bodycopy
                            p.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")= data.bodyCopy
        

    - var carouselOptions = {handlerStyle : "c-carousel__handler--dial c-carousel__handler--away-from-carousel"}
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.swiper-wrapper.c-list.column3
                            +AL0017List([
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "Great opportunities",
                                    titleName: "Great opportunities",
                                    bodyCopy: `LG offers opportunities for fast growth to talented individuals and technical experts in offices and hubs around the world.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "Great spirit",
                                    titleName: "Great spirit",
                                    bodyCopy: `LG looks after those who are determined to succeed, and who demonstrate great initiative and professional skills.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "Great rewards",
                                    titleName: "Great rewards",
                                    bodyCopy: `LG offers guaranteed rewards for exceptional employee performance.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "A global corporation",
                                    titleName: "A global corporation",
                                    bodyCopy: `LG Electronics is a global corporation with 82,000 employees working for its 81 subsidiaries around the world. LG Electronics strives to provide its customers with new products and technologies. LG Electronics is a world-class electronics/telecommunication giant.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "LG’s Heritage",
                                    titleName: "LG’s Heritage",
                                    bodyCopy: `Since its establishment in 1958, LG Electronics has, over the past 50 years, developed cutting-edge technologies and products in the areas of electronics, information & communications technology. LG Electronics is now the global leader in the electronics, information & communications technology industries.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "Business domains",
                                    titleName: "Business domains",
                                    bodyCopy: `LG Electronics has secured global product leadership and market leadership through bold R&D investments, positive global marketing efforts, and ongoing activities. LG Electronics is the first to launch state-of-the-art products such as next-generation mobile handsets, digital TVs, and Internet-capable home appliances.`,
                                },
                            ])
                        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

                    //- .c-carousel__handler
                    //-     .cmp-carousel__actions
                    //-         +carouselBtn({type:"pagination", direction:"prev"})
                    //-     +carouselPagination
                    //-     .cmp-carousel__actions
                    //-         +carouselBtn({type:"pagination", direction:"next"})

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.swiper-wrapper.c-list.column3
                            +AL0017List([
                                {
                                    isURL: "",
                                    isALT: "Creativity and autonomy",
                                    titleName: "Great opportunities",
                                    bodyCopy: `LG offers opportunities for fast growth to talented individuals and technical experts in offices and hubs around the world.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Great spirit",
                                    titleName: "Great spirit",
                                    bodyCopy: `LG looks after those who are determined to succeed, and who demonstrate great initiative and professional skills.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Great rewards",
                                    titleName: "Great rewards",
                                    bodyCopy: `LG offers guaranteed rewards for exceptional employee performance.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "A global corporation",
                                    titleName: "A global corporation",
                                    bodyCopy: `LG Electronics is a global corporation with 82,000 employees working for its 81 subsidiaries around the world. LG Electronics strives to provide its customers with new products and technologies. LG Electronics is a world-class electronics/telecommunication giant.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "LG’s Heritage",
                                    titleName: "LG’s Heritage",
                                    bodyCopy: `Since its establishment in 1958, LG Electronics has, over the past 50 years, developed cutting-edge technologies and products in the areas of electronics, information & communications technology. LG Electronics is now the global leader in the electronics, information & communications technology industries.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Business domains",
                                    titleName: "Business domains",
                                    bodyCopy: `LG Electronics has secured global product leadership and market leadership through bold R&D investments, positive global marketing efforts, and ongoing activities. LG Electronics is the first to launch state-of-the-art products such as next-generation mobile handsets, digital TVs, and Internet-capable home appliances.`,
                                },
                            ])

                        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.swiper-wrapper.c-list
                            +AL0017List([
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "Great opportunities",
                                    titleName: "Great opportunities",
                                    bodyCopy: `LG offers opportunities for fast growth to talented individuals and technical experts in offices and hubs around the world.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "Great spirit",
                                    titleName: "Great spirit",
                                    bodyCopy: `LG looks after those who are determined to succeed, and who demonstrate great initiative and professional skills.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "A global corporation",
                                    titleName: "A global corporation",
                                    bodyCopy: `LG Electronics is a global corporation with 82,000 employees working for its 81 subsidiaries around the world. LG Electronics strives to provide its customers with new products and technologies. LG Electronics is a world-class electronics/telecommunication giant.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/80x80",
                                    isALT: "LG’s Heritage",
                                    titleName: "LG’s Heritage",
                                    bodyCopy: `Since its establishment in 1958, LG Electronics has, over the past 50 years, developed cutting-edge technologies and products in the areas of electronics, information & communications technology. LG Electronics is now the global leader in the electronics, information & communications technology industries.`,
                                },
                            ])

                        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .c-text-contents
                            .title.c-text-contents__headline
                                // 2022-11-18 change the default font size
                                h2.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Our human resources                    
                        .cmp-carousel__content.swiper-wrapper.c-list
                            +AL0017List([
                                {
                                    isURL: "",
                                    isALT: "Creativity and autonomy",
                                    titleName: "Creativity and autonomy",
                                    bodyCopy: `An individual's creativity is the basis for value creation. LG Electronics respects diversity and autonomy, allowing each of its employees to exercise their creativity to the full.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Competence",
                                    titleName: "Competence",
                                    bodyCopy: `Competence is the cornerstone of performance and thus we take competence to be the most important factor our personnel decisions.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Performance-based Rewards",
                                    titleName: "Performance-based Rewards",
                                    bodyCopy: `Rewards based on performance are essential for motivation. LG Electronics evaluates performance results fairly and rewards them accordingly.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Equal Opportunities",
                                    titleName: "Equal Opportunities",
                                    bodyCopy: `Equal opportunities build trust among people. LG Electronics ensures equal opportunities regardless of gender, race, age, religion, or nationality.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Long-term Perspective",
                                    titleName: "Long-term Perspective",
                                    bodyCopy: `Maintaining a long-term perspective is the foundation for LG's human resource policies. LG's human resource programs are designed with a long-term perspective and implemented with dedication and persistence.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Training",
                                    titleName: "Training",
                                    bodyCopy: `Through its education centers worldwide, LG Electronics offers diverse educational programs to its employees. These opportunities are accorded by rank and job to encourage growth and development—to instill the professional capabilities they’ll most need, such as enabling them to apply the latest technologies to their wor`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Rewards",
                                    titleName: "Rewards",
                                    bodyCopy: `LG Electronics employs a competitive, unique rewards system that takes account of employee working situations by nation, region, and job. This rewards system motivates employees to perform better by helping enhance their quality of life.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "LG's rewards system features both fixed salaries and flexible salaries.",
                                    titleName: "LG's rewards system features both fixed salaries and flexible salaries.",
                                    bodyCopy: `Fixed salaries are determined every year through a fair evaluation process. Flexible salaries are immediate rewards given to individual employees for their performance and competence.`,
                                },
                            ])

                        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container.align-text-center
            .cmp-container
                .carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        //- .c-text-contents
                        //-     .title.c-text-contents__headline
                        //-         // 2022-11-18 change the default font size
                        //-         h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Our human resources
                        .cmp-carousel__content.swiper-wrapper.c-list.column4.box-white
                            +AL0017List([
                                {
                                    isURL: "https://via.placeholder.com/60x60",
                                    isALT: "Great opportunities",
                                    titleName: "Great opportunities",
                                    bodyCopy: `LG offers opportunities for fast growth to talented individuals and technical experts in offices and hubs around the world.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/60x60",
                                    isALT: "Great Spirit",
                                    titleName: "Great Spirit",
                                    bodyCopy: `LG looks after those who are determined to succeed, and who demonstrate great initiative and professional skills.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/60x60",
                                    isALT: "Great Rewards",
                                    titleName: "Great Rewards",
                                    bodyCopy: `LG offers guaranteed rewards for exceptional employee performance.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/60x60",
                                    isALT: "Great Rewards",
                                    titleName: "Great Rewards",
                                    bodyCopy: `LG offers guaranteed rewards for exceptional employee performance.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/60x60",
                                    isALT: "A Global Corporation",
                                    titleName: "A Global Corporation",
                                    bodyCopy: `LG Electronics is a global corporation with 82,000 employees working for its 81 subsidiaries around the world. LG Electronics strives to provide its customers with new products and technologies. LG Electronics is a world-class electronics/telecommunication giant.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/60x60",
                                    isALT: "LG’s Heritage",
                                    titleName: "LG’s Heritage",
                                    bodyCopy: `Since its establishment in 1958, LG Electronics has, over the past 50 years, developed cutting-edge technologies and products in the areas of electronics, information & communications technology. LG Electronics is now the global leader in the electronics, information & communications technology industries.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/60x60",
                                    isALT: "Business Domains",
                                    titleName: "Business Domains",
                                    bodyCopy: `LG Electronics has secured global product leadership and market leadership through bold R&D investments, positive global marketing efforts, and ongoing activities. LG Electronics is the first to launch state-of-the-art products such as next-generation mobile handsets, digital TVs, and Internet-capable home appliances.`,
                                },
                                {
                                    isURL: "https://via.placeholder.com/60x60",
                                    isALT: "Business Domains",
                                    titleName: "Business Domains",
                                    bodyCopy: `LG Electronics has secured global product leadership and market leadership through bold R&D investments, positive global marketing efforts, and ongoing activities. LG Electronics is the first to launch state-of-the-art products such as next-generation mobile handsets, digital TVs, and Internet-capable home appliances.`,
                                },
                            ])

                        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container.align-text-center
                //- block : text-contents
            .cmp-container
                .carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        //- .c-text-contents
                        //-     .title.c-text-contents__headline
                        //-         // 2022-11-18 change the default font size
                        //-         h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Our human resources
                        .cmp-carousel__content.swiper-wrapper.c-list.column4.box-white
                            +AL0017List([
                                {
                                    isURL: "",
                                    isALT: "Great opportunities",
                                    titleName: "Great opportunities",
                                    bodyCopy: `LG offers opportunities for fast growth to talented individuals and technical experts in offices and hubs around the world.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Great Spirit",
                                    titleName: "Great Spirit",
                                    bodyCopy: `LG looks after those who are determined to succeed, and who demonstrate great initiative and professional skills.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Great Rewards",
                                    titleName: "Great Rewards",
                                    bodyCopy: `LG offers guaranteed rewards for exceptional employee performance.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Great Rewards",
                                    titleName: "Great Rewards",
                                    bodyCopy: `LG offers guaranteed rewards for exceptional employee performance.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "A Global Corporation",
                                    titleName: "A Global Corporation",
                                    bodyCopy: `LG Electronics is a global corporation with 82,000 employees working for its 81 subsidiaries around the world. LG Electronics strives to provide its customers with new products and technologies. LG Electronics is a world-class electronics/telecommunication giant.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "LG’s Heritage",
                                    titleName: "LG’s Heritage",
                                    bodyCopy: `Since its establishment in 1958, LG Electronics has, over the past 50 years, developed cutting-edge technologies and products in the areas of electronics, information & communications technology. LG Electronics is now the global leader in the electronics, information & communications technology industries.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Business Domains",
                                    titleName: "Business Domains",
                                    bodyCopy: `LG Electronics has secured global product leadership and market leadership through bold R&D investments, positive global marketing efforts, and ongoing activities. LG Electronics is the first to launch state-of-the-art products such as next-generation mobile handsets, digital TVs, and Internet-capable home appliances.`,
                                },
                                {
                                    isURL: "",
                                    isALT: "Business Domains",
                                    titleName: "Business Domains",
                                    bodyCopy: `LG Electronics has secured global product leadership and market leadership through bold R&D investments, positive global marketing efforts, and ongoing activities. LG Electronics is the first to launch state-of-the-art products such as next-generation mobile handsets, digital TVs, and Internet-capable home appliances.`,
                                },
                            ])

                        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})