extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_forms.pug

block meta 
    - var componentId = "AL0015"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

//- block scripts
//-     script(src=componentId+".js" type="module")

block content

    .c-wrapper(class=componentId)
        .component
            .cmp-container
                .c-finder
                    //- block : search
                    .c-search-box
                        .c-text-contents.c-search-box__header
                            .c-text-contents__headline.align-text-left
                                +headline("font-w-light-56 font-m-light-28", "h2", "Email to a friend")
                        //- block : .c-search-box__body(--multi, --double)
                        .cmp-form.c-search-box__body.c-search-box__body--double
                            //- element : c-search-box__form
                            .c-search-box__form
                                +formText('text', 'Name', 'friendName', true, 'Type your name', false)
                                +formText('text', "Email", 'friendEmail', true, "Type an email", false)
                            .button.c-search-box__button
                                //- +button({color:"black", type:"box-outlined", size:"medium",name:"SUBMIT"}, 'Submit')
                                +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})
