extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug


block meta 
    - var componentId = "ST0022"
    - var componentName = "Hidden Promotion"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content 
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-darkgray'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white'},
                                ]
                            },
                            {
                                'name' : 'Checked',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'checked',},
                                ]
                            }
                        ],
                    };

    // Component Markup

    mixin textContents
        .c-text-contents
            // tag heading tag
            .title.c-text-contents__headline.font-w-semibold-40.font-m-semibold-24
                +headline('font-w-semibold-40 font-m-semibold-24', "h2", "Hidden Promotion")
            .non-member
                .text.c-text-contents__bodycopy.font-w-normal-20.font-m-normal-16 
                    p.cmp-text(data-cmp-data-layer="") To enjoy this exclusive offer.
                //- block :cta 
                .button.c-cta
                    +linkButton
                    +linkButton({type:"box", color:'red'})
            .member
                .text.c-text-contents__bodycopy.font-w-normal-20.font-m-normal-16 
                    p.cmp-text(data-cmp-data-layer="") To enjoy this exclusive offer apply the code at checkout!
                .text
                    .cmp-text.c-text-contents__code.font-w-semibold-20.font-m-semibold-16(data-cmp-data-layer="")
                        span.c-text-contents__code-subject Coupon Code
                        span.c-text-contents__code-number OLED1234567890127583 
                //- block :cta 
                .button.c-cta
                    +linkButton({type:"box", color:'red'})

    // Type - Section Title
    .guide-text-type Type1. Default
    .c-wrapper.ST0022
        //- block : ST0022 
        .component
            .cmp-container
                //- block : text-contents
                +textContents
            

    .guide-text-option Option : Add Class - checked
    .c-wrapper.ST0022.checked
        //- block : ST0022 
        .component
            .cmp-container
                //- block : text-contents
                +textContents
