extends ../_common/_layout.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_button.pug
include ../_common/_headline.pug

block meta 
    - var componentId = "PD0014"
    - var componentName = "Sticky Compare"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {                    
                        '.c-wrapper' : [ 
                            {
                                'name' : 'Display',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'hidden', 'remove' : 'hidden'},
                                ]
                            },
                        ],
                    }


    include ./PD0014-inc.pug
    +PD0014()

    // for test
    div(style="width: 100%; height: 5000px;")