extends ../_common/_layout.pug

block meta 
    - var componentId = "ML0100"
    - var componentName = "Dashboard"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    // Component Markup
    include ./ML0100-inc.pug
    .guide-text-option Option : OBS + Point Member
    +ML0100("OBS + Point Member")
    .guide-text-option Option : OBS + Point VIP
    +ML0100("OBS + Point VIP")
    .guide-text-option Option : OBS + No Point Member
    +ML0100("OBS + No Point Member")
    .guide-text-option Option : OBS + No Point VIP
    +ML0100("OBS + No Point VIP")
    .guide-text-option Option : Non OBS + No Point
    +ML0100("Non OBS + No Point")