extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "ML0100M"
    - var componentName = "Dashboard"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")


block scripts
    script(src=componentId+".js" type="module")

block content
   
    // Component Markup
    //- include ./ML0100M-inc.pug
    .guide-text-option Option : Education Member
    .c-wrapper.ML0100M 
        .component
                .fluid-container
                    .my-component 
                        .my-profile
                            .my-profile__namebox.my-component__title-section
                                .my-profile__name
                                    // [multishop] 2024-04-25 : Education Member
                                    .my-profile-education.font-w-bold-14.font-m-bold-12 Education
                                    a(href='#' title='move to My account page' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                        .font-w-normal-24.font-m-normal-20
                                            | Hi Reberteotu ********** Steveeeee **********
                                            .my-profile__more
                                                span.sr-only icon more 
                            .my-profile__info 
                                .my-profile__info__container     
                                    .my-purchase
                                        .my-purchase__inner 
                                            p.my-purchase__title.font-w-normal-12.font-m-normal-12 Membership Purchase Limit 
                                            .purchase-progress
                                                .purchase-progress__inner 
                                                    span.purchase-progress__status(style="width: 50%")
                                            p.my-purchase__total
                                                // 2024-05-09 폰트 스타일 수정 적용
                                                span.font-w-normal-16.font-m-normal-16  Total Available Qty :
                                                // 2024-05-09 폰트 스타일 수정 적용
                                                strong.font-w-normal-16.font-m-normal-16 200,000,000  
                                            div.my-purchase__desc
                                                p.my-purchase__txt
                                                    span.font-w-normal-12.font-m-normal-12  Purchase Limit : 
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    strong.font-w-normal-12.font-m-normal-14 100,000,000  
                                                p.my-purchase__txt
                                                    span.font-w-normal-12.font-m-normal-12 Purchased :
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    strong.font-w-normal-12.font-m-normal-14 100,000,000
                                // 2024-04-25 .category-info-list 추가
                                .my-profile__info-list.category-info-list
                                    p.my-profile__title.font-w-normal-12.font-m-normal-12 Category Purchase Limit
                                    .my-profile__swiper-wrap.carousel
                                        .swiper.my-profile__swiper
                                            // 2024-04-25 .swiper-wrapper.swiper-wrapper--category-purchase  추가(스와이퍼 리스트가 4이하만 있을때는 스와이퍼 플러그인 실행되지 않게 적용함)
                                            ul.swiper-wrapper.swiper-wrapper--category-purchase 
                                                li.swiper-slide 
                                                    .my-profile__swiper-item
                                                        .my-profile__list-icon
                                                            span.my-profile__icon.my-profile__icon--cart orders
                                                            // 2024-04-25 .my-profile-icon-name 추가
                                                            span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Orders Orders Orders Orders Orders
                                                        .my-profile__list-count
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.font-w-normal-24.font-m-normal-20 5
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.my-profile__list-total.font-w-normal-24.font-m-normal-12 100
                                                         
                                                li.swiper-slide 
                                                    .my-profile__swiper-item
                                                        .my-profile__list-icon
                                                            span.my-profile__icon.my-profile__icon--product products
                                                            // 2024-04-25 .my-profile-icon-name 추가
                                                            span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Products
                                                        .my-profile__list-count
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.font-w-normal-24.font-m-normal-20 3
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.my-profile__list-total.font-w-normal-24.font-m-normal-12 100

                                                            
                                                li.swiper-slide 
                                                    .my-profile__swiper-item
                                                        .my-profile__list-icon
                                                            span.my-profile__icon.my-profile__icon--request repair request
                                                            // 2024-04-25 .my-profile-icon-name 추가
                                                            span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Repair Request
                                                        .my-profile__list-count
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.font-w-normal-24.font-m-normal-20 223
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.my-profile__list-total.font-w-normal-24.font-m-normal-12 100
                                                li.swiper-slide 
                                                    .my-profile__swiper-item
                                                        .my-profile__list-icon
                                                            span.my-profile__icon.my-profile__icon--inquires inquires
                                                            // 2024-04-25 .my-profile-icon-name 추가
                                                            span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Inquires
                                                        .my-profile__list-count
                                                            span.font-w-semibold-24.font-m-semibold-18 7
                                                            span.my-profile__list-total.font-w-normal-20.font-m-normal-12 100
                                                li.swiper-slide 
                                                    .my-profile__swiper-item
                                                        .my-profile__list-icon
                                                            span.my-profile__icon.my-profile__icon--review review
                                                            // 2024-04-25 .my-profile-icon-name 추가
                                                            span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Review
                                                        .my-profile__list-count
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.font-w-normal-24.font-m-normal-20 8
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.my-profile__list-total.font-w-normal-24.font-m-normal-12 100
                                        
                                        .c-carousel__handler
                                            .cmp-carousel__actions
                                                +carouselBtn({type:"pagination", direction:"prev"})
                                            +carouselPagination
                                            .cmp-carousel__actions
                                                +carouselBtn({type:"pagination", direction:"next"})
                            
                            .my-profile__desc.font-w-normal-14.font-m-normal-12 * Please note, the purchase limit only applies to the order history from this store. The limit will be restored when the order is cancelled or returned.
                            
                            .my-profile__info 
                                //-2024-04-25 .info-etc-list 추가
                                .my-profile__info-list.info-etc-list
                                    ul
                                        li
                                            a(href='#' title='view more' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                                .my-profile-coupon__info
                                                    i.my-profile-coupon__icon
                                                        span.sr-only coupon
                                                    .my-profile-coupon__text.font-w-normal-16.font-m-normal-12 Coupons
                                                .my-profile__list-count
                                                    span.font-w-semibold-24.font-m-semibold-18 5
                                        li
                                            a(href='#' title='view more' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                                .my-profile__list-icon
                                                    span.my-profile__icon.my-profile__icon--orders orders
                                                    span.font-w-normal-16.font-m-normal-12 Orders
                                                .my-profile__list-count
                                                    span.font-w-semibold-24.font-m-semibold-18 3


    .guide-text-option Option : Education Member + VIP
    .c-wrapper.ML0100M 
        .component
                .fluid-container
                    .my-component 
                        .my-profile
                            .my-profile__namebox.my-component__title-section
                                .my-profile__name
                                    // [multishop] 2024-04-25 : Education Member
                                    .my-profile-education.font-w-bold-14.font-m-bold-12 Education
                                    i.my-profile-vip__icon
                                        span.sr-only vip
                                    .my-profile-vip.font-w-bold-14.font-m-bold-12 VIP
                                    a(href='#' title='move to My account page' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                        .font-w-normal-24.font-m-normal-20
                                            | Hi Reberteotu ********** Steveeeee **********
                                            .my-profile__more
                                                span.sr-only icon more 
                            .my-profile__info 
                                .my-profile__info__container     
                                    .my-purchase
                                        .my-purchase__inner 
                                            p.my-purchase__title.font-w-normal-12.font-m-normal-12 Membership Purchase Limit 
                                            .purchase-progress
                                                .purchase-progress__inner 
                                                    span.purchase-progress__status(style="width: 50%")
                                            p.my-purchase__total
                                                // 2024-05-09 폰트 스타일 수정 적용
                                                span.font-w-normal-16.font-m-normal-16  Total Available Amount : 
                                                // 2024-05-09 폰트 스타일 수정 적용
                                                strong.font-w-normal-16.font-m-normal-16 2,000.00 €  
                                            div.my-purchase__desc
                                                p.my-purchase__txt
                                                    span.font-w-normal-12.font-m-normal-12  Purchase Limit : 
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    strong.font-w-normal-12.font-m-normal-12 100,000,000  
                                                p.my-purchase__txt
                                                    span.font-w-normal-12.font-m-normal-12 Purchased :
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    strong.font-w-normal-12.font-m-normal-12 100,000,000

                            
                            .my-profile__desc.font-w-normal-14.font-m-normal-12 * Please note, the purchase limit only applies to the order history from this store. The limit will be restored when the order is cancelled or returned.

                            .my-profile__info 
                                //-2024-04-25 .info-etc-list 추가
                                .my-profile__info-list.info-etc-list
                                    ul
                                        li
                                            a(href='#' title='view more' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                                .my-profile-coupon__info
                                                    i.my-profile-coupon__icon
                                                        span.sr-only coupon
                                                    .my-profile-coupon__text.font-w-normal-16.font-m-normal-12 Coupons
                                                .my-profile__list-count
                                                        // 2024-05-09 폰트 스타일 수정 적용
                                                        span.font-w-normal-24.font-m-normal-20 5
                                                       
                                        li
                                            a(href='#' title='view more' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                                .my-profile__list-icon
                                                    span.my-profile__icon.my-profile__icon--orders orders
                                                    span.font-w-normal-16.font-m-normal-12 Orders
                                                .my-profile__list-count
                                                        // 2024-05-09 폰트 스타일 수정 적용
                                                        span.font-w-normal-24.font-m-normal-20 3

    .guide-text-option Option : Employee Member
    .c-wrapper.ML0100M 
        .component
                .fluid-container
                    .my-component 
                        .my-profile
                            .my-profile__namebox.my-component__title-section
                                .my-profile__name
                                    // [multishop] 2024-04-25 : Employee Member
                                    .my-profile-employee.font-w-bold-14.font-m-bold-12 Employee
                                    a(href='#' title='move to My account page' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                        .font-w-normal-24.font-m-normal-20
                                            | Hi Reberteotu ********** Steveeeee **********
                                            .my-profile__more
                                                span.sr-only icon more 
                            .my-profile__info 
                                .my-profile__info__container     
                                    .my-purchase
                                        .my-purchase__inner 
                                            p.my-purchase__title.font-w-normal-12.font-m-normal-12 Membership Purchase Limit 
                                            .purchase-progress
                                                .purchase-progress__inner 
                                                    span.purchase-progress__status(style="width: 50%")
                                            p.my-purchase__total
                                                // 2024-05-09 폰트 스타일 수정 적용
                                                span.font-w-normal-16.font-m-normal-16  Total Available Qty :
                                                // 2024-05-09 폰트 스타일 수정 적용
                                                strong.font-w-normal-16.font-m-normal-16 200,000,000  
                                            div.my-purchase__desc
                                                p.my-purchase__txt
                                                    span.font-w-normal-12.font-m-normal-12  Purchase Limit : 
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    strong.font-w-normal-12.font-m-normal-14 100,000,000  
                                                p.my-purchase__txt
                                                    span.font-w-normal-12.font-m-normal-12 Purchased :
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    strong.font-w-normal-12.font-m-normal-14 100,000,000

                                // 2024-04-25 .category-info-list 추가
                                .my-profile__info-list.category-info-list
                                    p.my-profile__title.font-w-normal-12.font-m-normal-12 Category Purchase Limit
                                    // 2024-04-25 .my-profile__swiper-wrap 추가
                                    .my-profile__swiper-wrap.carousel
                                        // 2024-04-25 .swiper.my-profile__swiper 추가
                                        .swiper.my-profile__swiper
                                            // 2024-04-25 .swiper-wrapper.swiper-wrapper--category-purchase  추가(스와이퍼 리스트가 4이하만 있을때는 스와이퍼 플러그인 실행되지 않게 적용함)
                                            ul.carousel.swiper-wrapper.swiper-wrapper--category-purchase 
                                                li.swiper-slide 
                                                    .my-profile__swiper-item
                                                        .my-profile__list-icon
                                                            span.my-profile__icon.my-profile__icon--cart orders
                                                            // 2024-04-25 .my-profile-icon-name 추가
                                                            span.font-w-normal-16.font-m-normal-12.my-profile-icon-name OrdersOrdersOrdersOrdersOrders
                                                        .my-profile__list-count
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.font-w-normal-24.font-m-normal-20 5
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.my-profile__list-total.font-w-normal-24.font-m-normal-12 100
                                                li.swiper-slide 
                                                    .my-profile__swiper-item
                                                        .my-profile__list-icon
                                                            span.my-profile__icon.my-profile__icon--product products
                                                            // 2024-04-25 .my-profile-icon-name 추가
                                                            span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Products
                                                        .my-profile__list-count
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.font-w-normal-24.font-m-normal-20 3
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.my-profile__list-total.font-w-normal-24.font-m-normal-12 100
                                                li.swiper-slide 
                                                    .my-profile__swiper-item
                                                        .my-profile__list-icon
                                                            span.my-profile__icon.my-profile__icon--request repair request
                                                            // 2024-04-25 .my-profile-icon-name 추가
                                                            span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Repair Request
                                                        .my-profile__list-count
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.font-w-normal-24.font-m-normal-20 5
                                                            // 2024-05-09 폰트 스타일 수정 적용
                                                            span.my-profile__list-total.font-w-normal-24.font-m-normal-12 100
                                                //- li.swiper-slide 
                                                //-     .my-profile__swiper-item
                                                //-         .my-profile__list-icon
                                                //-             span.my-profile__icon.my-profile__icon--inquires inquires
                                                //-             // 2024-04-25 .my-profile-icon-name 추가
                                                //-             span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Inquires
                                                //-         .my-profile__list-count
                                                //-             span.font-w-semibold-24.font-m-semibold-18 7
                                                //-             span.my-profile__list-total.font-w-normal-20.font-m-normal-12 100
                                                //- li.swiper-slide 
                                                //-     .my-profile__swiper-item
                                                //-         .my-profile__list-icon
                                                //-             span.my-profile__icon.my-profile__icon--review review
                                                //-             // 2024-04-25 .my-profile-icon-name 추가
                                                //-             span.font-w-normal-16.font-m-normal-12.my-profile-icon-name Review
                                                //-         .my-profile__list-count
                                                //-             span.font-w-normal-24.font-m-normal-18 8
                                                //-             span.my-profile__list-total.font-w-normal-20.font-m-normal-12 100
                                        
                                        .c-carousel__handler
                                            .cmp-carousel__actions
                                                +carouselBtn({type:"pagination", direction:"prev"})
                                            +carouselPagination
                                            .cmp-carousel__actions
                                                +carouselBtn({type:"pagination", direction:"next"})
                                        

                            // 2024-04-25 .my-profile__desc 추가
                            .my-profile__desc.font-w-normal-14.font-m-normal-12 * Please note, the purchase limit only applies to the order history from this store. The limit will be restored when the order is cancelled or returned.
                            
                            .my-profile__info 
                                //2024-04-25 .info-etc-list 추가
                                .my-profile__info-list.info-etc-list
                                    ul
                                        li
                                            a(href='#' title='view more' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                                .my-profile-coupon__info
                                                    i.my-profile-coupon__icon
                                                        span.sr-only coupon
                                                    .my-profile-coupon__text.font-w-normal-16.font-m-normal-12 Coupons
                                                .my-profile__list-count
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    span.font-w-semibold-24.font-m-semibold-20 3
                                        li
                                            a(href='#' title='view more' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                                .my-profile__list-icon
                                                    span.my-profile__icon.my-profile__icon--orders orders
                                                    span.font-w-normal-16.font-m-normal-12 Orders
                                                .my-profile__list-count
                                                    // 2024-05-09 폰트 스타일 수정 적용                                            
                                                    span.font-w-semibold-24.font-m-semibold-20 3

    .guide-text-option Option : Employee Member + VIP
    .c-wrapper.ML0100M 
        .component
                .fluid-container
                    .my-component 
                        .my-profile
                            .my-profile__namebox.my-component__title-section
                                .my-profile__name
                                    // [multishop] 2024-04-25 : Employee Member
                                    .my-profile-employee.font-w-bold-14.font-m-bold-12 Employee
                                    i.my-profile-vip__icon
                                        span.sr-only vip
                                    .my-profile-vip.font-w-bold-14.font-m-bold-12 VIP
                                    a(href='#' title='move to My account page' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                        .font-w-normal-24.font-m-normal-20
                                            | Hi Reberteotu ********** Steveeeee **********
                                            .my-profile__more
                                                span.sr-only icon more 
                            .my-profile__info 
                                .my-profile__info__container     
                                    .my-purchase
                                        .my-purchase__inner 
                                            p.my-purchase__title.font-w-normal-12.font-m-normal-12 Membership Purchase Limit 
                                            .purchase-progress
                                                .purchase-progress__inner 
                                                    span.purchase-progress__status(style="width: 50%")
                                            p.my-purchase__total
                                                // 2024-05-09 폰트 스타일 수정 적용
                                                span.font-w-normal-16.font-m-normal-16  Total Available Amount : 
                                                strong.font-w-semibold-16.font-m-semibold-16 2,000.00 €  
                                            div.my-purchase__desc
                                                p.my-purchase__txt
                                                    span.font-w-normal-12.font-m-normal-12  Purchase Limit : 
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    strong.font-w-normal-12.font-m-normal-14 100,000,000  
                                                p.my-purchase__txt
                                                    span.font-w-normal-12.font-m-normal-12 Purchased :
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    strong.font-w-normal-12.font-m-normal-14 100,000,000

                            
                            .my-profile__desc.font-w-normal-14.font-m-normal-12 * Please note, the purchase limit only applies to the order history from this store. The limit will be restored when the order is cancelled or returned.

                            .my-profile__info 
                                //-2024-04-25 .info-etc-list 추가
                                .my-profile__info-list.info-etc-list
                                    ul
                                        li
                                            a(href='#' title='view more' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                                .my-profile-coupon__info
                                                    i.my-profile-coupon__icon
                                                        span.sr-only coupon
                                                    .my-profile-coupon__text.font-w-normal-16.font-m-normal-12 Coupons
                                                .my-profile__list-count
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    span.font-w-semibold-24.font-m-semibold-20 5
                                        li
                                            a(href='#' title='view more' data-link-name='' data-link-destination='' data-link-menu='' data-link-page-type='')
                                                .my-profile__list-icon
                                                    span.my-profile__icon.my-profile__icon--orders orders
                                                    span.font-w-normal-16.font-m-normal-12 Orders
                                                .my-profile__list-count
                                                    // 2024-05-09 폰트 스타일 수정 적용
                                                    span.font-w-semibold-24.font-m-semibold-20 3
                                        
    //- .guide-text-option Option : OBS + Point VIP
    //- +ML0100("OBS + Point VIP")
    //- .guide-text-option Option : OBS + No Point Member
    //- +ML0100("OBS + No Point Member")
    //- .guide-text-option Option : OBS + No Point VIP
    //- +ML0100("OBS + No Point VIP")
    //- .guide-text-option Option : Non OBS + No Point
    //- +ML0100("Non OBS + No Point")
    //- .guide-text-option Option : 2024-04-23 추가
    //- +ML0100("Non OBS + No Point")