extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_forms.pug

block meta 
    - var componentId = "CS0121"
    - var componentName = "CS Share Your Feedback"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
   

    .guide-text-type JP Live Remote Service

    // 20230322 full markup change
    // Component Markup
    .c-wrapper.CS0121.type-text.margin-bottom 
        .component
            .CS0121__container
                .live-remote-service
                    .cmp-contents-box
                        .cmp-contents-box__title
                            span.font-m-normal-14.font-w-normal-16 対応OS
                        .cmp-contents-box__text
                            span.font-m-normal-14.font-w-normal-16 Windows 10 (日本語版)、Windows 11 (日本語版)

                        .cmp-contents-box__title
                            span.font-m-normal-14.font-w-normal-16 サポート範囲
                        .cmp-contents-box__text
                            span.font-m-normal-14.font-w-normal-16 故障診断ならびに付随する操作方法
                                br
                                br
                                | &lt;サポート対象外&gt;
                                ul.policyList__basic
                                    li - Microsoft Officeなどアプリケーションソフトの設置や操作・不具合
                                    li - パソコンウィルスの除去
                                    li - プリンター、スキャナーなどの外部機器の接続
                                    li - その他、当社が「サポートの対象外」と判断した内容など


                        .cmp-contents-box__title
                            span.font-m-normal-14.font-w-normal-16 ブラウザー
                        .cmp-contents-box__text
                            span.font-m-normal-14.font-w-normal-16 Internet Explorer 11、Microsoft Edge、Google Chrome
                        .cmp-contents-box__title

                            span.font-m-normal-14.font-w-normal-16 インターネット回線
                        .cmp-contents-box__text
                            span.font-m-normal-14.font-w-normal-16 ブロードバンド回線（ADSL/CATV/光ファイバ等）

                    .c-cs-header.margin-top
                        span.cmp-text.font-m-normal-12.font-w-normal-14 * ご利用の環境によっては、接続できない場合がございます。


                
                    
            .cmp-container
                // block : text-contents
                .c-text-contents
                    .text.c-text-contents__bodycopy 
                        p.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") リモートサポートサービスをご利用の方は、以下のご利用条件をご確認のうえ、同意いただける場合には「ご利用条件に同意する」をクリックしてください。リモートサポートサービスの専用ページを表示します。
                // block :cta 
                .button__group
                    .button.c-cta
                        +defaultButton({name: 'ご利用条件に同意する', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
            
            .CS0121__container.second__container
                .cmp-contents-box.type-white.type-scroll
                    .cmp-contents-box__title
                        span.font-m-normal-14.font-w-normal-16 LG リモートサポートサービス
                    .cmp-contents-box__text
                        span.font-m-normal-14.font-w-normal-16 LG Electronics Japan株式会社（以下、「当社」といいます）は、リモートサポートサービスご利用規約（以下、「本規約」といいます）に基づきお客様にリモートサポートサービスを提供いたします。

                    .cmp-contents-box__title
                        span.font-m-normal-14.font-w-normal-16 1. リモートサポートサービスの定義
                    .cmp-contents-box__text
                        span.font-m-normal-14.font-w-normal-16 「リモートサポートサービス」（以下、「本サービス」といいます）とは、お客様のパソコンと当社サポートエージェントのパソコンを、 インターネットを通して接続し、当社が、お客様のパソコンの画面に表示された内容を共有しながら、各種操作・設定方 法やトラブル診断に必要な操作方法をご案内するリモートサポートサービスのことをいいます。 但し、状況によりお客様の同意を得て、サポートエージェントがお客様のパソコンを直接操作もいたします。

                    .cmp-contents-box__title
                        span.font-m-normal-14.font-w-normal-16 2. 本規約の適用範囲
                    .cmp-contents-box__text
                        span.font-m-normal-14.font-w-normal-16 
                            ol.policyList__demical
                                li 当社は、本条を含め本規約の規定に従ってお客さまに本サービスを提供させていただきますので、あらかじめ本規約にご同意をいただいたうえで、本サービスをご利用くださいますようお願いいたします。
                                li 当社は、お客様が当社カスタマーセンターにお電話を掛け、本サービスのご利用の依頼をされた時点で、お客様が本規 約の内容をすべて承諾したものとみなします。
                                li お客様の相談内容により、当社サポートエージェントの判断により本サービスをお断り、中断をする場合がございます。
                                li 本規約と本サービスに関わる他の規約等の定めが異なるまたは矛盾する場合には、本規約の定めを優先して適用す るものとします。

                    .cmp-contents-box__title
                        span.font-m-normal-14.font-w-normal-16 2. 本規約の適用範囲
                    .cmp-contents-box__text
                        span.font-m-normal-14.font-w-normal-16 
                            ol.policyList__demical
                                li 当社は、本条を含め本規約の規定に従ってお客さまに本サービスを提供させていただきますので、あらかじめ本規約にご同意をいただいたうえで、本サービスをご利用くださいますようお願いいたします。
                                li 当社は、お客様が当社カスタマーセンターにお電話を掛け、本サービスのご利用の依頼をされた時点で、お客様が本規 約の内容をすべて承諾したものとみなします。
                                li お客様の相談内容により、当社サポートエージェントの判断により本サービスをお断り、中断をする場合がございます。
                                li 本規約と本サービスに関わる他の規約等の定めが異なるまたは矛盾する場合には、本規約の定めを優先して適用す るものとします。

                    .cmp-contents-box__title
                        span.font-m-normal-14.font-w-normal-16 2. 本規約の適用範囲
                    .cmp-contents-box__text
                        span.font-m-normal-14.font-w-normal-16 
                            ol.policyList__demical
                                li 当社は、本条を含め本規約の規定に従ってお客さまに本サービスを提供させていただきますので、あらかじめ本規約にご同意をいただいたうえで、本サービスをご利用くださいますようお願いいたします。
                                li 当社は、お客様が当社カスタマーセンターにお電話を掛け、本サービスのご利用の依頼をされた時点で、お客様が本規 約の内容をすべて承諾したものとみなします。
                                li お客様の相談内容により、当社サポートエージェントの判断により本サービスをお断り、中断をする場合がございます。
                                li 本規約と本サービスに関わる他の規約等の定めが異なるまたは矛盾する場合には、本規約の定めを優先して適用す るものとします。



