extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_cs-product-category-select.pug

block meta 
    - var componentId = "CS0040"
    - var componentName = "Repair Request_Select Model Number"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    -
        const prdCategoryName = [
            {
                'prdName':'TV/Audio/Video',
                'img':'../../assets/icon/icon-tv-audio-video-80-80_normal.svg',
            },
            {
                'prdName':'Appliances',
                'img': '../../assets/icon/icon-appliances-80-80_normal.svg',
            },
            {
                'prdName':'Computer products',
                'img': '../../assets/icon/icon-computer-80-80_normal.svg',
            },
            {
                'prdName':'Mobile & Tablets',
                'img': '../../assets/icon/icon-mo-tablet-80-80_normal.svg',
            },
            {
                'prdName':'Information display',
                'img': '../../assets/icon/icon-display-80-80_normal.svg',
            },
            {
                'prdName':'Air conditioning system',
                'img': '../../assets/icon/icon-aircon-80-80_normal.svg',
            },
        ]

    .guide-text-type Repair Request_Select Model Number
    // 20230317 full markup change
    // Component Markup
    .c-wrapper.CS0040.type-text
        .component.type-grid.type-tabs
            .CS0040__container   
                // 20230321 markup added(header add)   
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Product support')          
                // 20230305 SEARCH LAYER
                P.searchBar__infoMsg.font-m-normal-14.font-w-normal-20 * After entering the model number, please select the product from the search result. (Enter key does not work)
                
                .searchbar
                    #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                        .searchBar__searchInner
                            form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                                span.fieldIcons__root
                                    span.fieldIcons__input
                                        input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Please type model number')
                                        button(type="button").c-button-delete delete button
                                    //- button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
                                    //-     span.icon__root
                                    //-         span.sr-only Search
                                p.message__root
                                .searchBar__SearchAutocompleteWrapper

                    .c-model-contents
                        a(tabindex="0" class="c-modal-open find-number font-m-normal-14 font-w-normal-16" aria-label="" aria-controls="CS0027" role="dialog") How to find my model number?

                    // Note) search ux follows SE component.
                    .searchLayer 
                        #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                            .searchBar__searchInner
                                form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                                    span.fieldIcons__root
                                        span.fieldIcons__input
                                            input#textInput__input2.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Please type model number')
                                            button(type="button").c-button-delete delete button
                                        //- button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-pc
                                            span.icon__root
                                                span.sr-only Search
                                    p.message__root
                            button(type="button" title="cancel" role="search box cancel" aria-label="" aria-describedby="").c-cancel.c-hidden-pc.font-m-normal-16 Cancel

                        // When there are no search results
                        .c-recent__nosearches 
                            .font-m-light-28.font-w-light-36 There are no related products
                            .font-m-normal-14.font-w-normal-24 Please check the spelling and try your search again.

                        // Recent searches 
                        //- .c-recent__searches.c-border__top 
                        //-     .c-recent__tit
                        //-         .font-m-normal-20.font-w-normal-24 Recent searches 
                        //-         .button.c-cta
                        //-             +linkButton({type: "text", name:'Clear All', icon:false})
                        //-     ul 
                        //-         li.font-w-normal-16.font-m-normal-14 Oled
                        //-             button(type="button").c-btn__delete
                        //-         li.font-w-normal-16.font-m-normal-14 OLED TV
                        //-             button(type="button").c-btn__delete
                        //-         li.font-w-normal-16.font-m-normal-14 OLED TV
                        //-             button(type="button").c-btn__delete
                        //-         li.font-w-normal-16.font-m-normal-14 OLED TV
                        //-             button(type="button").c-btn__delete
                        //-         li.font-w-normal-16.font-m-normal-14 OLED TV
                        //-             button(type="button").c-btn__delete

                        // search result
                        ul(role="grid" aria-label="Find my product list")
                            li(role="row") 
                                a(href="#")
                                    span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                    div 
                                        .c-search-prd-name.font-m-normal-16.font-w-normal-32 55’’ LG     
                                            span OLED 
                                            | TV - B7
                                        .c-search-category-name.font-m-normal-12 TVs
                            li(role="row") 
                                a(href="#")
                                    span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                    div 
                                        .c-search-prd-name.font-m-normal-16.font-w-normal-32 55’’ LG     
                                            span OLED 
                                            | TV - B7
                                        .c-search-category-name.font-m-normal-12 TVs

                .tab-panels
                    section.tab-panel
                        +productCategorySelect({type:"page"})
                        .c-tabs__desc.font-m-normal-14.font-w-normal-16 *Includes business-only products.
                