extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_forms.pug

block meta
    - var componentId = "CS0043"
    - var componentName = "Repair Main Block"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    mixin formCheckbox(label, linkLabel, name, val, id, count = "false", disabled = false, link=true)
        .c-checkbox-item
            label.checkbox(for=`${id}`)
                if(disabled)
                    input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`, aria-label="", disabled="disabled")&attributes(attributes)
                else 
                    input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`, aria-label="")&attributes(attributes)

                if(label)
                    span.label.font-m-normal-12.font-w-normal-20= label 
                        a(href="daum.net").link.font-m-normal-12.font-w-normal-20= linkLabel
                        -if(count >= 0 & count != "false") // for filter
                            sup.count= count 
                else 
                    if block 
                        span.label
                            block   

    .guide-text-type Repair Main Block - after login
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p Need a repair for your LG product? Repair request online.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Let’s start a request', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                .c-model-content-wrap.after-login
                    .cmp-container
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                            .text.c-text-contents__subtitle
                                .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                    p Go to My LG to check the status.
                        // block :cta
                        .button__group
                            .button.c-cta.c-submit
                                +defaultButton({name: 'View repair status', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})

    .guide-text-type Repair Main Block - before login
    // 20230420 case1 markup added
    .guide-text-option Asia - VN, TH, HK_EN, HK, HK, SG
                        |<br> EU – DE, FR, TR, HU, PL, MX
                        |<br> America – BR, CL, CO, PE, CAC_EN
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Continue as guest', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Request as a member', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields

                .c-container__inner
                    .cs-form
                        div
                            .cmp-form.c-repair__type
                                label(for="receiptNumber").font-m-normal-16.font-w-normal-24 * Receipt number / Serial number / ESMI
                                // Required Input Value Message Exposed add .c-error
                                input#receiptNumber.font-m-normal-16.font-w-normal-20.repair-normal-receipt(type="text" required="required" aria-label="" placeholder="Type a receipt number")
                                // error message
                                .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. RNN123456789123
                                .c-warning.receipt-required Receipt number is required.
                                .c-warning.c-not-finded Sorry. The information you entered is not correct. Please enter again.
                                
                .c-button-wrap
                    .button.c-cta.c-submit
                        +defaultButton({name: 'Track repair', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: "none"})(class="c-btn-next")

    // 20230420 case2 markup added
    .guide-text-option Asia – CN, ID, IN, ID
                        br
                        | EU – PT, NL, BE_FR
                        br
                        | America – CA_EN, CA_FR
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Continue as guest', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Request as a member', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields

                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cs-form-div
                                .cmp-form.c-repair__type
                                    label(for="receiptNumber2").font-m-normal-16.font-w-normal-24 Receipt number #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#receiptNumber2.font-m-normal-16.font-w-normal-20.repair-normal-receipt(type="text" required="required" aria-label="" placeholder="Type a receipt number")
                                    // error message
                                    .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. RNN123456789123
                                    .c-warning.receipt-required Receipt number is required.
                                    .c-warning.c-not-finded Sorry. The information you entered is not correct. Please enter again.
                                    
                            .cs-form-div
                                .cmp-form.c-repair__type
                                    label(for="phoneNumber").font-m-normal-16.font-w-normal-24 Phone number #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#phoneNumber.font-m-normal-16.font-w-normal-20.repair-normal-phone(type="text" required="required" aria-label="" placeholder="Type a phone number without space")
                                    .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. 1234567890
                                    .c-warning.phone-required Phone number is required.
                                    .c-warning.c-not-finded.phone-not-finded Sorry. The information you entered is not correct. Please enter again.
                                    
                .c-button-wrap
                    .button.c-cta.c-submit
                        +defaultButton({name: 'Track repair', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: "none"})(class="c-btn-next")

    // 20230420 case2 markup added
    .guide-text-option Case2 - TW
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Continue as guest', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Request as a member', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields

                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cs-form-div
                                .cmp-form.c-repair__type
                                    label(for="receiptNumber2").font-m-normal-16.font-w-normal-24 Receipt number #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#receiptNumber2.font-m-normal-16.font-w-normal-20.repair-normal-receipt(type="text" required="required" aria-label="" placeholder="Type a receipt number")
                                    // error message
                                    .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. RNN123456789123
                                    .c-warning.receipt-required Receipt number is required.
                                    .c-warning.c-not-finded Sorry. The information you entered is not correct. Please enter again.
                                        
                            .cs-form-div
                                .cmp-form.c-repair__type
                                    label(for="phoneNumber").font-m-normal-16.font-w-normal-24 Phone number #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#phoneNumber.font-m-normal-16.font-w-normal-20.repair-normal-phone(type="text" required="required" aria-label="" placeholder="Type a phone number without space")
                                    // error message
                                    .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. 1234567890
                                    .c-warning.phone-required Phone number is required.
                                    .c-warning.c-not-finded.phone-not-finded Sorry. The information you entered is not correct. Please enter again.
                                    
                .cs-noti-txt.font-m-normal-12.font-w-normal-16 紀錄您的維修單號，以便查詢您的維修進度 (若您透過官網申請維修，系統提供的CNP單號為接收編號，此編號無法查詢維修進度， 請輸入簡訊中的RNP單號查詢，謝謝)
                .c-button-wrap
                    .button.c-cta.c-submit
                        +defaultButton({name: 'Track repair', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: "none"})(class="c-btn-next")

    // 20230420 case2 markup added
    .guide-text-option Case2 - JP
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Continue as guest', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Request as a member', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields

                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cs-form-div
                                .cmp-form.c-repair__type
                                    label(for="receiptNumber2").font-m-normal-16.font-w-normal-24 Receipt number #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#receiptNumber2.font-m-normal-16.font-w-normal-20.repair-normal-receipt(type="text" required="required" aria-label="" placeholder="Type a receipt number")
                                    // error message
                                    .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. RNN123456789123
                                    .c-warning.receipt-required Receipt number is required.
                                    .c-warning.c-not-finded Sorry. The information you entered is not correct. Please enter again.
                                    
                            .cs-form-div
                                .cmp-form.c-repair__type
                                    label(for="phoneNumber").font-m-normal-16.font-w-normal-24 Phone number #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#phoneNumber.font-m-normal-16.font-w-normal-20.repair-normal-phone(type="text" required="required" aria-label="" placeholder="Type a phone number without space")
                                    // error message
                                    .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. 090XXXXXXXX (enter without hyphens)
                                    .c-warning.phone-required Phone number is required.
                                    .c-warning.c-not-finded.phone-not-finded Sorry. The information you entered is not correct. Please enter again.
                                    
                                    
                .cs-noti-txt.font-m-normal-12.font-w-normal-16 ご注意： 「CNP」で始まる番号は 『お問合わせの履歴情報』 のため、修理状況の照会はできません
                .c-button-wrap
                    .button.c-cta.c-submit
                        +defaultButton({name: 'Track repair', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: "none"})(class="c-btn-next")

    // 20230420 case3 markup added
    .guide-text-option KZ
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Continue as guest', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Request as a member', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields
                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cmp-form.c-support__column2x2.type1.cs-form-div
                                .c-radio-label.font-m-normal-16.font-w-normal-24 Type #[em.require *]#[span.sr-only Required Field]
                                .c-form__box.c-form__radio-box
                                    .c-form-box
                                        +formRadio("CNU","sort", "FT00000001", "FV00000001", "FT00000001_FV00000001")(aria-controls="resultTarget" aria-label="" checked)
                                    .c-form-box
                                        +formRadio("Serial number","sort", "FT00000001", "FV00000002", "FT00000001_FV00000002")(aria-controls="resultTarget" aria-label="")
                            .cs-form-div.c-repair__type1
                                .cmp-form.c-repair__type
                                    label(for="receiptNumber").font-m-normal-16.font-w-normal-24 CNU​ #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#receiptNumber.font-m-normal-16.font-w-normal-20.repair-normal-cnu(type="text" required="required" aria-label="" placeholder="e.g. CNU123456789123​")
                                    // error message
                                    .c-warning.cnu-required CNU is required.
                                .cmp-form.c-repair__type
                                    .c-input-item--tel
                                        label(for="phoneNumber1").font-m-normal-16.font-w-normal-24 Phone number #[em.require *]#[span.sr-only Required Field]
                                        // Required Input Value Message Exposed add .c-error
                                        .c-input-item
                                            input#phoneNumber1.font-m-normal-16.font-w-normal-20.repair-normal-phone(type="text" required="required" aria-label="" placeholder="Type a phone number without space")
                                            .my-form-number.font-w-normal-16.font-m-normal-16 +7
                                    // error message
                                    .c-warning.phone-required Phone number is required.
                                    .c-warning.c-not-finded.phone-not-finded Sorry. The information you entered is not correct. Please enter again.

                            .cs-form-div.c-repair__type2
                                .cmp-form.c-repair__type
                                    label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#serialNumber.font-m-normal-16.font-w-normal-20.repair-normal-serial(type="text" required="required" aria-label="" placeholder="e.g. RNN123456789123")
                                    // error message
                                    .c-warning.serial-required Serial number is required.
                                .cmp-form.c-repair__type
                                    .c-input-item--tel
                                        label(for="phoneNumber2").font-m-normal-16.font-w-normal-24 Phone number #[em.require *]#[span.sr-only Required Field]
                                        // Required Input Value Message Exposed add .c-error
                                        .c-input-item
                                            input#phoneNumber2.font-m-normal-16.font-w-normal-20.repair-normal-phone2(type="text" required="required" aria-label="" placeholder="Type a phone number without space")
                                            .my-form-number.font-w-normal-16.font-m-normal-16 +7
                                    // error message
                                    .c-warning.phone-required2 Phone number is required.
                                    .c-warning.c-not-finded.phone-not-finded2 Sorry. The information you entered is not correct. Please enter again.

                                
                                   
                .c-button-wrap
                    .button.c-cta.c-submit
                        +defaultButton({name: 'Track repair', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: "none"})(class="c-btn-next")

    // 20240412 ES markup added
    .guide-text-option ES
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Continue as guest', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Request as a member', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields
                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cmp-form.c-support__column2x2.type1.cs-form-div
                                .c-radio-label.font-m-normal-16.font-w-normal-24 Type #[em.require *]#[span.sr-only Required Field]
                                .c-form__box.c-form__radio-box
                                    .c-form-box
                                        +formRadio("RNU","sort1", "FT00000003", "FV00000003", "FT00000003_FV00000003")(aria-controls="resultTarget" aria-label="" checked)
                                    .c-form-box
                                        +formRadio("Serial number","sort1", "FT00000003", "FV00000004", "FT00000003_FV00000004")(aria-controls="resultTarget" aria-label="")
                            .cs-form-div.c-repair__type1
                                .cmp-form.c-repair__type
                                    label(for="receiptNumber2").font-m-normal-16.font-w-normal-24 RNU​ #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#receiptNumber2.font-m-normal-16.font-w-normal-20.repair-normal-cnu(type="text" required="required" aria-label="" placeholder="e.g. RNU123456789123​")
                                    // error message
                                    .c-warning.cnu-required RNU is required.
                                .cmp-form.c-repair__type
                                    .c-input-item--tel
                                        label(for="phoneNumber2").font-m-normal-16.font-w-normal-24 Phone number #[em.require *]#[span.sr-only Required Field]
                                        // Required Input Value Message Exposed add .c-error
                                        .c-input-item
                                            input#phoneNumber2.font-m-normal-16.font-w-normal-20.repair-normal-phone(type="text" required="required" aria-label="" placeholder="Type a phone number without space")
                                            .my-form-number.font-w-normal-16.font-m-normal-16 +7
                                    // error message
                                    .c-warning.phone-required Phone number is required.
                                    .c-warning.c-not-finded.phone-not-finded Sorry. The information you entered is not correct. Please enter again.

                            .cs-form-div.c-repair__type2
                                .cmp-form.c-repair__type
                                    label(for="serialNumber2").font-m-normal-16.font-w-normal-24 Serial number #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#serialNumber2.font-m-normal-16.font-w-normal-20.repair-normal-serial(type="text" required="required" aria-label="" placeholder="e.g. RNN123456789123")
                                    // error message
                                    .c-warning.serial-required Serial number is required.
                                .cmp-form.c-repair__type
                                    .c-input-item--tel
                                        label(for="phoneNumber2").font-m-normal-16.font-w-normal-24 Phone number #[em.require *]#[span.sr-only Required Field]
                                        // Required Input Value Message Exposed add .c-error
                                        .c-input-item
                                            input#phoneNumber2.font-m-normal-16.font-w-normal-20.repair-normal-phone2(type="text" required="required" aria-label="" placeholder="Type a phone number without space")
                                            .my-form-number.font-w-normal-16.font-m-normal-16 +7
                                    // error message
                                    .c-warning.phone-required2 Phone number is required.
                                    .c-warning.c-not-finded.phone-not-finded2 Sorry. The information you entered is not correct. Please enter again.

                        p.font-m-light-24.font-w-light-36.c-prd-info-tit Información Básica en Materia de Protección de Datos
                        .c-prd-info
                            .c-prd-info__inner 
                                .c-prd-info__group
                                    dl
                                        dt.font-m-normal-16.font-w-normal-20 Responsable
                                        dd.font-m-normal-16.font-w-normal-20 LG Electronics España S.A.U. (en adelante, « LGEES »).
                                            br 
                                            | NIF: A-81304487
                                            br
                                            | Domicilio: Calle Chile 1, 28290, Las Rozas, Madrid.
                                            br
                                            | Datos de contacto : 
                                            a(href="mailto:lgees.legal@lge.com") lgees.legal@lge.com
                                    dl
                                        dt.font-m-normal-16.font-w-normal-20 Legitimación
                                        dd.font-m-normal-16.font-w-normal-20 En caso de solicitud de reparación de un producto LG, atender, gestionar y tramitar dicha solicitud de reparación.
                                    dl
                                        dt.font-m-normal-16.font-w-normal-20 Derechos
                                        dd.font-m-normal-16.font-w-normal-20 Acceso, rectificación, supresión, limitación, oposición, a la portabilidad de sus datos, así como a revocar los consentimientos otorgados a través de los medios habilitados indicados en la Política de Privacidad.
                                            
                                    dl 
                                        dt.font-m-normal-16.font-w-normal-20 Información adicional
                                        dd.font-m-normal-16.font-w-normal-20 Access, rectification, deletion, limitation, opposition, portability and revocation of consent.
                                    dl
                                        dt.font-m-normal-16.font-w-normal-20 Additional information
                                        dd.font-m-normal-16.font-w-normal-20 Puede consultar información adicional y detallada sobre nuestra Política de Privacidad pinchando 
                                            a(href="https://www.lg.com/es/privacy" target="_blank") aquí
                        // 20230601 using recaptcha v3
                        .cs-form__chk
                            p.c-form-tit.font-m-light-24.font-w-light-36 Política de Privacidad
                            +formCheckbox('He leído y acepto la ', '*Política de Privacidad', "name", "val1", "privacyPolicyCheck02", count="false", false)
                            .c-warning.c-privacyPolicy-checked Policy Agreement is not checked
                                   
                .c-button-wrap
                    .button.c-cta.c-submit
                        +defaultButton({name: 'Track repair', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: "none"})(class="c-btn-next")

    // 20230420 case3 markup added
    .guide-text-option EG_EN
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Continue as guest', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Request as a member', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                .c-button-wrap
                    .button.c-cta.c-submit
                        +defaultButton({name: 'Track repair', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: "none"})(class="c-btn-next")

    .guide-text-option EG_EN - after login
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: "Let's start a request", wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                .c-model-content-wrap.after-login
                    .cmp-container
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                            .text.c-text-contents__subtitle
                                .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                    p Go to My LG to check the status.
                        // block :cta
                        .button__group
                            .button.c-cta.c-submit
                                +defaultButton({name: 'Track repair', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})

    // 20230420 case4 markup added
    .guide-text-option Case4 - IT
    .c-wrapper.CS0043.margin-top.type-text.margin-bottom
        .component
            .CS0043__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Repair request')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p If you are a member, you can get fast service based on your product.
                    // block :cta
                    .button__group
                        .button.c-cta.c-submit
                            +defaultButton({name: 'Continue as guest', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Request as a member', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Track my repair')
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields
                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cmp-form.c-support__column2x2.type2
                                .c-radio-label.font-m-normal-16.font-w-normal-24 Type #[em.require *]#[span.sr-only Required Field]
                                .c-form__box.c-form__radio-box.col
                                    .c-form-box
                                        +formRadio("Smartphone repair status","sort2", "FT00000002", "FV00000003", "FT00000002_FV00000003")(aria-controls="resultTarget" aria-label="" checked)
                                    .c-form-box
                                        +formRadio("Repair status other products","sort2", "FT00000002", "FV00000004", "FT00000002_FV00000004")(aria-controls="resultTarget" aria-label="")
                            .cs-form-div
                                .cmp-form.c-repair__type.c-repair__type5
                                    //- label(for="cnuNumber").font-m-normal-16.font-w-normal-24 CNU #[em.require *]#[span.sr-only Required Field]
                                    //- // Required Input Value Message Exposed add .c-error
                                    //- input#cnuNumber.font-m-normal-16.font-w-normal-20(type="text" required="required" aria-label="" placeholder="Type a receipt number")
                                    //- .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. RNN123456789123
                                    //- // error message
                                    //- .c-warning Receipt number is required.
                                .cmp-form.c-repair__type.c-repair__type6(style='display:none')
                                    label(for="serialNumber").font-m-normal-16.font-w-normal-24 Receipt number / Serial number / IMEI #[em.require *]#[span.sr-only Required Field]
                                    // Required Input Value Message Exposed add .c-error
                                    input#serialNumber.font-m-normal-16.font-w-normal-20.repair-normal-serial(type="text" required="required" aria-label="" placeholder="e.g. RNN123456789123")
                                    // error message
                                    .c-info-msg.font-m-normal-16.font-w-normal-16 e.g. 1234567890
                                    .c-warning.serial-required Serial number is required.

                .c-button-wrap
                    .button.c-cta.c-submit
                        +defaultButton({name: 'Track repair', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: "none"})(class="c-btn-next")