extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug

block meta 
    - var componentId = "CS0052"
    - var componentName = "Register_Result"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug

    mixin roleList2(item)
        if item 
            .c-list__item(role="listitem")
                if block
                    block
        else
            .c-list__item
                if block
                    block

    mixin textListItem2(params)
        - var option={contents:both, useQuote:false, isList:false, headline:'', bodycopy:'', ...params}
            +roleList2(option.isList)
                // block : text-contents                 
                div(class=`c-text-contents ${option.bodycopy}`)
                    .title.c-text-contents__headline
                        +headline(`${option.headline}`,h2,'Consumer support')
                    case option.contents
                        when "desc"
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-12.font-w-normal-16(data-cmp-data-layer="") 
                                    div
                                        p Monday - Friday 
                                            span.font-m-normal-16.font-w-normal-24 9:00am - 5:00pm
                                        p Saturday 
                                            span.font-m-normal-16.font-w-normal-24 9:00am - 3:00pm
                                    div
                                        p Closed 
                                            span.font-m-normal-16.font-w-normal-24 Sunday and bank holidays
                                        p Telephone 
                                            span.font-m-normal-16.font-w-normal-24 0344 847 5454
                                        p IE 
                                            span.font-m-normal-16.font-w-normal-24 01 686 9454

                        default
                            .text.c-text-contents__bodycopy 
                                .cmp-text(data-cmp-data-layer="") 
                                    p Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters.
                            // element : list
                            .text.c-text-contents__bodycopy
                                .cmp-text(data-cmp-data-layer="")
                                    ul
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    .button.c-cta
                        +defaultButton({name: 'Go to contact us', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(data-link-destination)

                    // element : quote
                    if option.useQuote
                        .c-text-contents__quote 
                            .text.c-text-contents__quote-text
                                .cmp-text.font-w-semibold-28.font-m-semibold-20(data-cmp-data-layer="") 
                                    p “Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo”
                            .text.c-text-contents__quote-name
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                                    p Lorem ipsum dolor sit amet
    mixin galleryItem(type)
        case type
            when 1
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                //- p.font-m-normal-12.font-w-normal-16 Your registed product
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    // role="link" before login, role="dialog" after login
                                    +defaultButton({name: 'Go to detail', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})

            when 2
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                //- p.font-m-normal-12.font-w-normal-16 Your registed product
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    +defaultButton({name: 'Go to detail', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})

            // 20230531 When the area is a link
            when 3
                .cmp-carousel__item.swiper-slide.c-carousel__item.emptyCard.c-hidden-mo(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    // Insert emptycard when data is less than 3 (added class .emptyCard)
                    .c-prd-register
                        a.c-prd-register__to-list(href="#" aria-label="Go to product registration page" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
            when 4 
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                //- p.font-m-normal-12.font-w-normal-16 Register products with ThinQ
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    +defaultButton({name: 'Quick registration', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false, class:'toastOpen'})(aria-describedby="toastOpen")
            // 20230531 When the area is not a link
            when 5
                .cmp-carousel__item.swiper-slide.c-carousel__item.emptyCard.c-hidden-mo(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    // Insert emptycard when data is less than 3 (added class .emptyCard)
                    .c-prd-register
                        p.c-prd-register__to-list 
        if block
            block

    mixin carouselPaginationUI 
        // 23.02.14 modified markup - added ".c-carousel__handler--dial", ".c-carousel__handler--away-from-carousel"
        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"prev"})
            +carouselPagination
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"next"})



    .guide-text-type B2C 
    .guide-text-option Case 01. complete
    .c-wrapper.CS0052.type-text.margin-bottom.c-default-margin
        .component.c-repair__review.c-regist__complete
            .CS0052__container
                .c-regist__complete-wrap
                    // 20230313 Markup change according to LGness
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "Thanks for registration")
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                    span The LG product you entered has been successfully registered. See registration information below.
                        // 20230313 case1) Countries where membership can be registered (default)
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to my product', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Register more product', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
                        // 20230313 case2) Countries to become members after product registration (CTA different)
                        // .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to my product', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Go to login', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
                        // 20230313 case3) For non-members who do not require email verification (CTA is different)
                        // .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to my product', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Create an account', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                    // 20230313 markup change
                    .c-prd-info
                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/360x360/ccc/eee/?text=360x360')
                        .c-prd-info__inner 
                            .c-prd-info__group
                                //- p.font-m-semibold-20.font-w-semibold-24 Product Detail
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Name
                                    dd.font-m-normal-16.font-w-normal-20 Hong Gildong
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Email address
                                    dd.font-m-normal-16.font-w-normal-20 hong@naver.com 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Product category
                                    dd.font-m-normal-16.font-w-normal-20 TV &amp; Home Enter.
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Model number
                                    dd.font-m-normal-16.font-w-normal-20 GSXV90MCDE
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Serial number
                                    dd.font-m-normal-16.font-w-normal-20 503PWJFRFFEES0684
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Purchase date
                                    dd.font-m-normal-16.font-w-normal-20 01/25/2022
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Proof of purchase
                                    dd.font-m-normal-16.font-w-normal-20 Receipt.jpeg
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Place of purchase
                                    dd.font-m-normal-16.font-w-normal-20 Receipt.jpeg
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Install date
                                    dd.font-m-normal-16.font-w-normal-20 Receipt.jpeg
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 ThinQ connected date
                                    dd.font-m-normal-16.font-w-normal-20 17/09/22
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Total number of registrations
                                    dd.font-m-normal-16.font-w-normal-20 {9} products
                                        .button.c-cta 
                                            +linkButton({type:"text", icon:true, outlink:true, comment:false, name:"View all registered product"})(target='_blank')
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Uploaded registration form
                                    dd.font-m-normal-16.font-w-normal-20 Registration form.csv



    .c-wrapper.CS0052.type-text.margin-bottom.c-default-margin
        .component.c-repair__review.c-regist__complete.c-featured-info.full
            .CS0052__container
                // block : featured-info
                .c-spec-info
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Now you can get information for registered product')
                    .c-spec-info__container
                        .c-spec-info__item
                            .c-text-contents
                                .c-text-contents__wrap
                                    // Add an icon image
                                    +printLazyPicture("../../assets/icon/icon-product-32-32.svg", "../../assets/icon/icon-product-60-60.svg", "View product support")
                                    .cmp-title(class="c-text-contents__headline font-w-light-36 font-m-normal-16")
                                        strong.cmp-title__text View product support
                                // Add button
                                .button.c-cta
                                    +buttonArrow({color:'black', border:'yes', wsize:'large'}) 
                        .c-spec-info__item
                            // block : carousel
                            .c-text-contents
                                .c-text-contents__wrap
                                    // Add an icon image
                                    +printLazyPicture("../../assets/icon/icon-request-32-32.svg", "../../assets/icon/icon-request-60-60.svg", "Repair request")
                                    .cmp-title(class="c-text-contents__headline font-w-light-36 font-m-normal-16")
                                        strong.cmp-title__text Repair request
                                // Add button
                                .button.c-cta
                                    +buttonArrow({color:'black', border:'yes', wsize:'large'}) 


    .guide-text-option Case 02. failed
    .c-wrapper.CS0052.type-text.margin-top.margin-bottom
        .component.c-regist__failed
            .CS0052__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Sorry for your inconvenience')
                        // 20230314 text edit
                        // Different wording for each process
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Please try again or contact consumer support center to fix this problem.
                    // 20230314 button markup & position change
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Go to support hub', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Retry', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                .c-list(role="desc")
                    // block : textListItem
                    +textListItem2({contents:"desc", useQuote:false, isList:false, headline:'font-w-normal-32 font-m-normal-24', bodycopy:'font-w-normal-20 font-m-normal-24'})



    .guide-text-option ThinQ Flag
    .c-wrapper.CS0052.type-text.margin-bottom.c-default-margin
        .component.c-repair__review
            .CS0052__container
                .c-prd-info
                    // Flag only when thinQ product
                    span.c-flag-thinq ThinQ
                    +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/360x360/ccc/eee/?text=360x360')
                    .c-prd-info__inner 
                        .c-prd-info__group
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Name
                                dd.font-m-normal-16.font-w-normal-20 Hong Gildong
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Email address
                                dd.font-m-normal-16.font-w-normal-20 hong@naver.com 
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Product category
                                dd.font-m-normal-16.font-w-normal-20 TV &amp; Home Enter.
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 Model number
                                dd.font-m-normal-16.font-w-normal-20 GSXV90MCDE
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 Serial number
                                dd.font-m-normal-16.font-w-normal-20 503PWJFRFFEES0684
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 Purchase date
                                dd.font-m-normal-16.font-w-normal-20 01/25/2022
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 Place of purchase
                                dd.font-m-normal-16.font-w-normal-20 Dublin
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 Proof of purchase
                                dd.font-m-normal-16.font-w-normal-20 Receipt.jpeg
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 ThinQ connected 
                                    br 
                                    | Date
                                dd.font-m-normal-16.font-w-normal-20 17/09/22

                //- .c-btn-group
                //-     .button.c-cta
                //-         +linkButton({name:'GO TO MY LG', size:'large'})
                //-         +linkButton({type:'box', name:'REGISTER MORE PRODUCT', size:'large', color:'red'})

    // 20230314 markup added
    .c-wrapper.CS0052.type-text
        // component class added .c-with-toast
        .component.type-card__slide.type-card__slide--select.full.c-with-toast
            .CS0052__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Register products with ThinQ')
                // button class added .c-viewMore-btn
                .button.c-cta.c-viewMore-btn
                    +linkButton({type:"text", icon:true, name:'Select another registered product'})(data-link-name data-link-destination data-link-menu data-link-page-type role="dialog" href="http://daum.net")
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(4)
                            +galleryItem(4)
                            +galleryItem(4)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                            +button({color:"white", type:"text", icon:true, name:'View all my product'})
                        //- #toast.toast Registration Successful!
                        //-     img.closeBtn(src="../../assets/icon/icon-close-white-16-16.svg" role="close button")   
                        // block : featured-info

    .c-wrapper.CS0052.type-text.margin-bottom.c-default-margin
        .component.c-repair__review.c-regist__complete.c-featured-info.full
            .CS0052__container
                // block : featured-info
                .c-spec-info
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Now you can get information for registered product')
                    .c-spec-info__container
                        .c-spec-info__item
                            .c-text-contents
                                .c-text-contents__wrap
                                    // Add an icon image
                                    +printLazyPicture("../../assets/icon/icon-product-32-32.svg", "../../assets/icon/icon-product-60-60.svg", "View product support")
                                    .cmp-title(class="c-text-contents__headline font-w-light-36 font-m-normal-16")
                                        strong.cmp-title__text View product supportView product supportView product supportView product supportView product supportView product supportView product support
                                // Add button
                                .button.c-cta
                                    +buttonArrow({color:'black', border:'yes', wsize:'large'}) 
                        .c-spec-info__item
                            // block : carousel
                            .c-text-contents
                                .c-text-contents__wrap
                                    // Add an icon image
                                    +printLazyPicture("../../assets/icon/icon-request-32-32.svg", "../../assets/icon/icon-request-60-60.svg", "Repair request")
                                    .cmp-title(class="c-text-contents__headline font-w-light-36 font-m-normal-16")
                                        strong.cmp-title__text Repair request
                                // Add button
                                .button.c-cta
                                    +buttonArrow({color:'black', border:'yes', wsize:'large'}) 
    .guide-text-option Bulk Registration
    .c-wrapper.CS0052.type-text.margin-bottom.c-default-margin
        .component.c-repair__review.c-regist__complete
            .CS0052__container
                .c-regist__complete-wrap
                    // 20230313 Markup change according to LGness
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "Thanks for registration")
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                    span The LG product you entered has been successfully registered. See registration information below.
                        // 20230313 case1) Countries where membership can be registered (default)
                        .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to my product', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Register more product', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
                        // 20230313 case2) Countries to become members after product registration (CTA different)
                        // .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to my product', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Go to login', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
                        // 20230313 case3) For non-members who do not require email verification (CTA is different)
                        // .button__group
                            .button.c-cta
                                +defaultButton({name: 'Go to my product', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                                +defaultButton({name: 'Create an account', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})

                    // 20230313 markup change
                    .c-prd-info
                        +printLazyPicture('https://via.placeholder.com/230x230/ccc/eee/?text=230x230', 'https://via.placeholder.com/360x360/ccc/eee/?text=360x360')
                        .c-prd-info__inner 
                            .c-prd-info__group
                                //- p.font-m-semibold-20.font-w-semibold-24 Product Detail
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Name
                                    dd.font-m-normal-16.font-w-normal-20 Hong Gildong
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Email address
                                    dd.font-m-normal-16.font-w-normal-20 hong@naver.com 
                                dl
                                    dt.font-m-normal-16.font-w-normal-20 Product category
                                    dd.font-m-normal-16.font-w-normal-20 TV &amp; Home Enter.
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Model number
                                    dd.font-m-normal-16.font-w-normal-20 GSXV90MCDE
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Serial number
                                    dd.font-m-normal-16.font-w-normal-20 503PWJFRFFEES0684
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Proof of purchase
                                    dd.font-m-normal-16.font-w-normal-20 Receipt.jpeg
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Total number of registrations
                                    dd.font-m-normal-16.font-w-normal-20 {9} products
                                        .button.c-cta 
                                            +linkButton({type:"text", icon:true, outlink:true, comment:false, name:"View all registered product"})(target='_blank')
                                dl 
                                    dt.font-m-normal-16.font-w-normal-20 Uploaded registration form
                                    dd.font-m-normal-16.font-w-normal-20 Registration form.csv
                // 20230328 case added 
                .c-regist__results 
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "Product registration results")
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                    span For products that have failed to register, check the serial number below and try again.
                    .c-resultList__wrap
                        .c-result__list 
                            p.font-m-normal-16.font-w-normal-20 {7} product register successfully
                            ul.font-m-normal-16.font-w-normal-20 
                                li 505NZFQ023707
                                li 606NZFQ023706
                                li 707NZFQ023705
                                li 808NZFQ023704
                                li 909NZFQ023703
                                li 404NZFQ023702
                                li 303NZFQ023701
                        .c-result__list 
                            p.font-m-normal-16.font-w-normal-20 {9} product registration failed
                            ul.font-m-normal-16.font-w-normal-20 
                                li 505NZFQ023707
                                li 606NZFQ023706
                                li 707NZFQ023705
                                li 808NZFQ023704
                                li 909NZFQ023703
                                li 404NZFQ023702
                                li 303NZFQ023701
                                li 404NZFQ023702
                                li 303NZFQ023701
    .c-wrapper.CS0052.type-text.margin-bottom.c-default-margin
        .component.c-repair__review.c-regist__complete.c-featured-info.full
            .CS0052__container
                // block : featured-info
                .c-spec-info
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Now you can get information for registered product')
                    .c-spec-info__container
                        .c-spec-info__item
                            .c-text-contents
                                .c-text-contents__wrap
                                    // Add an icon image
                                    +printLazyPicture("../../assets/icon/icon-product-32-32.svg", "../../assets/icon/icon-product-60-60.svg", "View product support")
                                    .cmp-title(class="c-text-contents__headline font-w-light-36 font-m-normal-16")
                                        strong.cmp-title__text View product support
                                // Add button
                                .button.c-cta
                                    +buttonArrow({color:'black', border:'yes', wsize:'large'}) 
                        .c-spec-info__item
                            // block : carousel
                            .c-text-contents
                                .c-text-contents__wrap
                                    // Add an icon image
                                    +printLazyPicture("../../assets/icon/icon-request-32-32.svg", "../../assets/icon/icon-request-60-60.svg", "Repair request")
                                    .cmp-title(class="c-text-contents__headline font-w-light-36 font-m-normal-16")
                                        strong.cmp-title__text Repair request
                                // Add button
                                .button.c-cta
                                    +buttonArrow({color:'black', border:'yes', wsize:'large'}) 