extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_resource.pug

block meta 
    - var componentId = "AL0006"
    - var componentName = "Sustainability File Download"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

//- block scripts
//-     script(src=componentId+".js" type="module")

mixin buttonVersionItem(extension, hasInformation, hash)
    .c-resources__item
        if(extension == 'pdf' || extension == 'txt' || extension == 'djvu' || extension == 'zip' || extension == 'html' || extension == 'dwg')
            div(class=`c-resources__item--extension c-resources__item--extension-${extension}`)
                span.sr-only= `extension : ${extension}`
        else
            div(class=`c-resources__item--extension c-resources__item--extension-etc`)
                span.sr-only= `extension : ${extension}`
        .c-resources__item--download
            .c-resources__item--download-info
                span.c-resources__item--download-info-name.font-w-semibold-16.font-m-semibold-16= `Specs Sheet_File_Name(English).${extension}`
                if(hasInformation)
                    .c-resources__item--download-info-wrapper.font-w-normal-14.font-m-normal-14
                        .c-resources__item--download-info-ref
                            button(type="button" class="font-underline js-pop-open" aria-controls=`popReference${hash}`) Reference
                            
                        .c-resources__item--download-info-size
                            span 1,923 KB
                        .c-resources__item--download-info-date
                            span 14/12/2021
            .c-resources__item--download-button
                +defaultButton({name: 'Download', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true}, 'submit')(role="button")

block content
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-file-download
                    .c-file-download-headline
                        +headline(class1, h2, name = "Previous Reports")
                        .c-text-contents
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-12.c-file-download-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-finder
                                //- block : search
                                .c-search-box
                                    //- block : .c-search-box__body(--multi, --double)
                                    .c-search-box__body.c-search-box__body--double.cmp-form
                                        //- element : c-search-box__form
                                        .c-search-box__form
                                            +formSelect("", "Sustainability1", "ASelect Yearll", true)
                                                option(value="") Select Year
                                                option(value="Select Year") Select Year
                                        .button.c-search-box__button
                                            +defaultButton({name: 'Download', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true}, 'submit')
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Environmental Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-finder
                                //- block : search
                                .c-search-box
                                    //- block : .c-search-box__body(--multi, --double)
                                    .c-search-box__body.c-search-box__body--double.cmp-form
                                        //- element : c-search-box__form
                                        .c-search-box__form
                                            +formSelect("", "Environmental", "Select Year", true)
                                                option(value="") Select Year
                                                option(value="Select Year") Select Year
                                        .button.c-search-box__button
                                            +defaultButton({name: 'Download', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true}, 'submit')

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-file-download
                    .c-file-download-headline.align-text-center
                        +headline(class1, h2, name = "Previous Reports")
                    .c-text-contents.align-text-center
                        .text.c-text-contents__bodycopy
                            p.cmp-text.font-w-normal-24.font-m-normal-12.c-file-download-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-finder.only
                                //- block : search
                                .c-search-box
                                    //- block : .c-search-box__body(--multi, --double)
                                    .c-search-box__body.c-search-box__body--double.cmp-form
                                        //- element : c-search-box__form
                                        .c-search-box__form
                                            +formSelect("", "Sustainability2", "ASelect Yearll", true)
                                                option(value="") Select Year
                                                option(value="Select Year") Select Year
                                        .button.c-search-box__button
                                            +defaultButton({name: 'Download', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true}, 'submit')
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-file-download-reports__resources
                                .c-resources
                                    +buttonVersionItem('pdf', false)
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Environmental Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-finder.only
                                //- block : search
                                .c-search-box
                                    //- block : .c-search-box__body(--multi, --double)
                                    .c-search-box__body.c-search-box__body--double.cmp-form
                                        //- element : c-search-box__form
                                        .c-search-box__form
                                            +formSelect("", "Sustainability2", "ASelect Yearll", true)
                                                option(value="") Select Year
                                                option(value="Select Year") Select Year
                                        .button.c-search-box__button
                                            +defaultButton({name: 'Download', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true}, 'submit')
                    
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-file-download
                    .c-file-download-headline
                        +headline(class1, h2, name = "Previous Reports")
                        .c-text-contents
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-20.font-m-normal-16.c-file-download-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-file-download-reports__resources
                                .c-resources
                                    +buttonVersionItem('pdf', false)
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-file-download-reports__resources
                                .c-resources
                                    +buttonVersionItem('pdf', false)
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-file-download-reports__resources
                                .c-resources
                                    +buttonVersionItem('pdf', false)

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-file-download
                    .c-file-download-headline.align-text-right
                        +headline(class1, h2, name = "Previous Reports")
                        .c-text-contents
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-12.c-file-download-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-file-download-reports__resources
                                .c-resources
                                    +buttonVersionItem('pdf', false)

    .c-wrapper.margin-top.bg-black.subtract-color.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-file-download
                    .c-file-download-headline
                        +headline(class1, h2, name = "Previous Reports")
                        .c-text-contents
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-12.c-file-download-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-file-download-reports__resources
                                .c-resources
                                    +buttonVersionItem('pdf', false)
                    .c-file-download-reports
                        .c-file-download-reports__box
                            h4.c-file-download-reports__title Environmental Reports
                            p.c-file-download-reports__text PDF Download
                            .c-finder.only
                                //- block : search
                                .c-search-box
                                    //- block : .c-search-box__body(--multi, --double)
                                    .c-search-box__body.c-search-box__body--double.cmp-form
                                        //- element : c-search-box__form
                                        .c-search-box__form
                                            +formSelect("", "Sustainability3", "ASelect Yearll", true)
                                                option(value="") Select Year
                                                option(value="Select Year") Select Year
                                        .button.c-search-box__button
                                            +defaultButton({name: 'Download', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true}, 'submit')
                    .c-file-download-reports
                        .c-file-download-reports__box.c-text-contents
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-normal-32.font-m-normal-20.c-file-download-reports__title(data-cmp-data-layer="")  Sustainability Reports
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  PDF Download
                            .c-file-download-reports__resources
                                .c-resources
                                    +buttonVersionItem('pdf', false)
                        .c-file-download-reports__box
                            h4.c-file-download-reports__title Environmental Reports
                            p.c-file-download-reports__text PDF Download
                            .c-finder.only
                                //- block : search
                                .c-search-box
                                    //- block : .c-search-box__body(--multi, --double)
                                    .c-search-box__body.c-search-box__body--double.cmp-form
                                        //- element : c-search-box__form
                                        .c-search-box__form
                                            +formSelect("", "Sustainability3", "ASelect Yearll", true)
                                                option(value="") Select Year
                                                option(value="Select Year") Select Year
                                        .button.c-search-box__button
                                            +defaultButton({name: 'Download', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true}, 'submit')
    mixin resourceYear(year)
        .c-table__year= year
    mixin resourceType(type)
        .c-table__type= type
    mixin resourceDownload(name, extension="")
        a(href="#", target="_blank" role="download").c-table__title.font-w-normal-16.font-m-normal-16
            .c-table__icon-box
                if(extension == 'pdf' || extension == 'txt' || extension == 'djvu' || extension == 'zip' || extension == 'html' || extension == 'dwg')
                    span(class=`c-resources__item--extension c-resources__item--extension-${extension}`)
                        span.sr-only= `extension : ${extension}`
                    span= `${name}.${extension}`
                    span.c-table__title--icon
                        span.c-icon-button.c-icon-button--download

    //- mixin resourceSize(extension, size)
    //-     .c-table__size
    //-         if(extension == 'pdf' || extension == 'txt' || extension == 'djvu' || extension == 'zip' || extension == 'html' || extension == 'dwg')
    //-             span(class=`c-resources__item--extension c-resources__item--extension-${extension}`)
    //-                 span.sr-only= `extension : ${extension}`
    //-             span= size
    //-         else
    //-             span(class=`c-resources__item--extension c-resources__item--extension-etc`)
    //-                 span.sr-only= `extension : ${extension}`
    //-             span= size
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-file-download
                    .c-file-download-headline
                        +headline(class1, h2, name = "Previous Reports")
                        .c-text-contents
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-20.font-m-normal-16.c-file-download-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    .c-file-download-reports.type02
                        .c-file-download-reports__box
                            .c-file-download-reports
                                .c-file-download-reports__box.c-text-contents
                                    .text.c-text-contents__bodycopy
                                        p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  Year
                                    .c-finder
                                        //- block : search
                                        .c-search-box
                                            //- block : .c-search-box__body(--multi, --double)
                                            .c-search-box__body.c-search-box__body--double.cmp-form
                                                //- element : c-search-box__form
                                                .c-search-box__form
                                                    +formSelect("", "Sustainability1", "ASelect Yearll", true)
                                                        option(value="") Select Year
                                                        option(value="Select Year") Select Year
                                .c-file-download-reports__box.c-text-contents
                                    .text.c-text-contents__bodycopy
                                        p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  Year
                                    .c-finder
                                        //- block : search
                                        .c-search-box
                                            //- block : .c-search-box__body(--multi, --double)
                                            .c-search-box__body.c-search-box__body--double.cmp-form
                                                //- element : c-search-box__form
                                                .c-search-box__form
                                                    +formSelect("", "Environmental", "Select Year", true)
                                                        option(value="") Select Year
                                                        option(value="Select Year") Select Year
                                                .button.c-search-box__button
                                                    +defaultButton({name: 'Search', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true}, 'submit')
                    .c-file-download-table
                        .c-file-download-table__total
                            b 20 
                            |  Total Results
                        // block : c-table
                        .c-table
                            table
                                caption Year, Reports Type, Reports Type
                                colgroup
                                    col(width="").cell-size.year
                                    col(width="").cell-size.type
                                    col(width="50%")
                                thead
                                    tr
                                        th(scope="col") Year
                                        th(scope="col") Reports Type
                                        th(scope="col") Title
                                tbody
                                    - for(var x = 0 ; x < 10; x++)
                                        tr
                                            td.year 
                                                +resourceYear("2011")
                                            td.type 
                                                +resourceType("Sustainability Reports")
                                            td
                                                +resourceDownload('CH Declaration of Conformity LG 335N1T - V5_DOC', 'pdf')
                                                //- +resourceSize('pdf', "8.864K")
                        .button.align-text-center
                            +button({type:"text", color:"black", size:"medium", icon: true, name: "View More"})

    .c-wrapper.margin-top.margin-bottom.bg-black(class=componentId)
        .component
            .cmp-container
                .c-file-download
                    .c-file-download-headline
                        +headline(class1, h2, name = "Previous Reports")
                        .c-text-contents
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-20.font-m-normal-16.c-file-download-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    .c-file-download-reports.type02
                        .c-file-download-reports__box
                            .c-file-download-reports
                                .c-file-download-reports__box.c-text-contents
                                    .text.c-text-contents__bodycopy
                                        p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  Year
                                    .c-finder
                                        //- block : search
                                        .c-search-box
                                            //- block : .c-search-box__body(--multi, --double)
                                            .c-search-box__body.c-search-box__body--double.cmp-form
                                                //- element : c-search-box__form
                                                .c-search-box__form
                                                    +formSelect("", "Sustainability1", "ASelect Yearll", true)
                                                        option(value="") Select Year
                                                        option(value="Select Year") Select Year
                                .c-file-download-reports__box.c-text-contents
                                    .text.c-text-contents__bodycopy
                                        p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="")  Year
                                    .c-finder
                                        //- block : search
                                        .c-search-box
                                            //- block : .c-search-box__body(--multi, --double)
                                            .c-search-box__body.c-search-box__body--double.cmp-form
                                                //- element : c-search-box__form
                                                .c-search-box__form
                                                    +formSelect("", "Environmental", "Select Year", true)
                                                        option(value="") Select Year
                                                        option(value="Select Year") Select Year
                                                .button.c-search-box__button
                                                    +defaultButton({name: 'Search', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true}, 'submit')
                    .c-file-download-table
                        .c-file-download-table__total
                            b 20 
                            |  Total Results
                        // block : c-table
                        .c-table
                            table
                                caption Year, Reports Type, Reports Type
                                colgroup
                                    col(width="").cell-size.year
                                    col(width="").cell-size.type
                                    col(width="50%")
                                thead
                                    tr
                                        th(scope="col") Year
                                        th(scope="col") Reports Type
                                        th(scope="col") Title
                                tbody
                                    - for(var x = 0 ; x < 10; x++)
                                        tr
                                            td.year 
                                                +resourceYear("2011")
                                            td.type 
                                                +resourceType("Sustainability Reports")
                                            td
                                                +resourceDownload('CH Declaration of Conformity LG 335N1T - V5_DOC', 'pdf')
                                                //- +resourceSize('pdf', "8.864K")
                        .button.align-text-center
                            +button({type:"text", color:"black", size:"medium", icon: true, name: "View More"})

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-file-download
                    .c-file-download-headline.c-file-download-headline--pc-center
                        +headline(class1, h2, name = "Previous Reports")
                        .c-text-contents
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-20.font-m-normal-16.c-file-download-headline__subheadline(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    .c-file-download-reports.type02
                        .c-file-download-reports__box
                            .c-file-download-reports
                                .c-file-download-reports__box.c-text-contents
                                    .text.c-text-contents__bodycopy
                                        p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="") Year
                                    .c-finder
                                        //- block : search
                                        .c-search-box
                                            //- block : .c-search-box__body(--multi, --double)
                                            .c-search-box__body.c-search-box__body--double.cmp-form
                                                //- element : c-search-box__form
                                                .c-search-box__form
                                                    +formSelect("", "Sustainability1", "ASelect Yearll", true)
                                                        option(value="") Select Year
                                                        option(value="Select Year") Select Year
                                .c-file-download-reports__box.c-text-contents
                                    .text.c-text-contents__bodycopy
                                        p.cmp-text.font-w-normal-24.font-m-normal-16.c-file-download-reports__text(data-cmp-data-layer="") Year
                                    .c-finder
                                        //- block : search
                                        .c-search-box
                                            //- block : .c-search-box__body(--multi, --double)
                                            .c-search-box__body.c-search-box__body--double.cmp-form
                                                //- element : c-search-box__form
                                                .c-search-box__form
                                                    +formSelect("", "Environmental", "Select Year", true)
                                                        option(value="") Select Year
                                                        option(value="Select Year") Select Year
                                                .button.c-search-box__button
                                                    +defaultButton({name: 'Search', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true}, 'submit')
                    .c-file-download-table
                        .c-table--nodata
                            p.c-table__nodata Sorry, no matches were found. Try a new search.
