extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "CM0002"
    - var componentName = "Footer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block footer
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-cm.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper    

    include ./CM0002-inc.pug
    .guide-text-option UK
    +CM0002()
    .guide-text-option CN
    +CM0002('cn')
    .guide-text-option VN
    +CM0002('vn')
    .guide-text-option BR
    +CM0002('br')
    .guide-text-option IT
    +CM0002('it')
    .guide-text-option SA
    +CM0002('sa')
    .guide-text-option TR
    +CM0002('tr')
    .guide-text-option Other Countries
    +CM0002('other')
    
