mixin CM0002(option=false)
    mixin footerDepth0 
        li.c-footer__column
            if block
                block
    mixin footerDepth1Block(text, num=null, noSubMenu = false)
        .c-footer__name
            if noSubMenu 
                // GA4
                a.c-footer__depth1(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" id=`aria-depth1_${num}`)= text
            else
                strong.c-footer__depth1(id=`aria-depth1_${num}`)= text
            if(num != null)
                button(type="button", aria-labelledby=`aria-depth1_${num}`, aria-expanded="false", aria-controls=`footerDepth1Area${num}`)
                    span.sr-only toggle Menu
    mixin footerDepth1Link(text, num=null)
        .c-footer__name 
            // GA4
            a.c-footer__depth1(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" id=`aria-depth1_${num}`)&attributes(attributes)= text
            if(num != null)
                button(type="button", aria-labelledby=`aria-depth1_${num}`, aria-expanded="false", aria-controls=`footerDepth1Area${num}`)
                    span.sr-only toggle Menu
        if block 
            block
    mixin footerULDepth2(num=null)
        if(num == null)
            ul.c-footer__depth2
                if block
                    block
        else 
            ul.c-footer__depth2.folded(id=`footerDepth1Area${num}`)
                if block
                    block
    mixin footerULDepth3(num=null)
        if(num == null)
            ul.c-footer__depth3
                if block
                    block
        else 
            ul.c-footer__depth3.folded(id=`footerDepth2Area${num}`)
                if block
                    block
    mixin footerItemDepth2(text, link=true, button=false, num=0) 
        if (link == true)
            li.c-footer__item 
                // Depth 2
                .c-footer__name 
                    // GA4
                    a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" id=`aria-depth2_${num}`)&attributes(attributes)= text
                    if(button == true)
                        button(type="button", aria-labelledby=`aria-depth2_${num}`, aria-expanded="false", aria-controls=`footerDepth2Area${num}`)
                            span.sr-only toggle Menu
                if block 
                    block
        else
            li.c-footer__item
                // Depth 2
                .c-footer__name 
                    strong(id=`aria-depth2_${num}`)= text
                    if(button == true)
                        button(type="button", aria-labelledby=`aria-depth2_${num}`, aria-expanded="false", aria-controls=`footerDepth2Area${num}`)
                            span.sr-only toggle Menu
                if block 
                    block
    mixin footerItemDepth3(text)
        if text == "Chat With Us"
            li.c-footer__item 
                a(href="#CM0007" role="button")&attributes(attributes)= text
        else if text == "WhatsApp"
            li.c-footer__item 
                // GA4
                a(href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")&attributes(attributes)= text
        else
            li.c-footer__item 
                // GA4
                a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")&attributes(attributes)= text

    mixin footerLink(text, id, buttonClass, className)
        li.c-footer__link
            if buttonClass
                button(type='button' id=`${id}` class=`${className}`)= text
            else
                if(id)
                    // GA4
                    a(href="#" id=`${id}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" class=`${className}`)= text
                else
                    // GA4
                    a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" class=`${className}`)= text
    // 2023-05-22 (BR, IT, SA)
    mixin footerLink2(text, id, buttonClass, className='', isButton = true)
        li.c-footer__link
            if isButton
                button(type='button' id=`${id}` class=`${className}` )= text
            else
                if(id)
                    // GA4
                    a(href=`${buttonClass}` id=`${id}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" class=`${className}`)= text
                else
                    // GA4
                    a(href=`${buttonClass}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" class=`${className}`)= text

    - var noSubMenu = true
    .c-wrapper.CM0002
        .component
            .cmp-container
                footer.c-footer.font-w-normal-16.font-m-normal-16(id="footer")
                    //- .c-footer__top 
                    //-     button.c-footer__top--button(type="button")
                    //-         span.sr-only Go to page top
                    
                    if !option
                        .c-footer__text
                            .c-footer__text-wrap
                                .c-footer__inner
                                    p
                                        | Find commercial appliances and electronics from LG for your business and help make life good. 
                            .c-footer__text-wrap
                                .c-footer__inner
                                    .c-footer__text--more#seoArea
                                        | LG Business offers solutions for hotels, restaurants, offices, shops and more, keeping them comfortable, secure and stylish. 
                                    button.more(type='button' aria-expanded='false' aria-controls='seoArea' data-text='More,Close') More
                            .c-footer__text-wrap
                                .c-footer__inner
                                    .c-footer__text--more#pdpArea
                                        | LG Business offers solutions for hotels, restaurants, offices, shops and more, keeping them comfortable, secure and stylish.
                                        | LG Business offers solutions for hotels, restaurants, offices, shops and more, keeping them comfortable, secure and stylish.
                                        | LG Business offers solutions for hotels, restaurants, offices, shops and more, keeping them comfortable, secure and stylish.
                                        // GA4
                                        a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Choose from a range of commercial displays, enterprise mobility solutions and solar modules providing specialized solutions for a range of business types. <br>
                                        | Find commercial appliances and electronics from LG for your business and help make life good. <br>
                                    button.more(type='button' aria-expanded='false' aria-controls='pdpArea' data-text='More,Close') More

                    nav.c-footer__navigation
                        // Footer links in mobile view
                        .c-footer__inner.mobile-only
                            ul.c-footer__columns
                                +footerDepth0
                                    // Depth 1
                                    +footerDepth1Block("Shop", 1)
                                    +footerULDepth2(1)
                                        +footerItemDepth2("Shop the Latest")
                                        +footerItemDepth2("All Offers")
                                        +footerItemDepth2("Select Shop")
                                +footerDepth0
                                    // Depth 1
                                    +footerDepth1Block("TV/Audio/Video", 2)
                                    +footerULDepth2(2)
                                        +footerItemDepth2("TVs & Soundbars", true, true, 1)
                                            +footerULDepth3(1)
                                                +footerItemDepth3("LG SIGNATURE OLED")
                                                +footerItemDepth3("OLED evo")
                                                +footerItemDepth3("OLED")
                                                +footerItemDepth3("QNED")
                                                +footerItemDepth3("NanoCell")
                                                +footerItemDepth3("8K TVs")
                                                +footerItemDepth3("Ultra Big TVs")
                                                +footerItemDepth3("4K UHD TVs")
                                                +footerItemDepth3("Smart TVs")
                                                +footerItemDepth3("TV Accessory")
                                                +footerItemDepth3("Soundbars")
                                        +footerItemDepth2("Lifestyle Screens", true, true, 2)
                                            +footerULDepth3(2)
                                                +footerItemDepth3("All Lifestyle Screens")
                                                +footerItemDepth3("Objet Collection - Easel")
                                                +footerItemDepth3("Objet Collection - Pose")
                                                +footerItemDepth3("Flex")
                                                +footerItemDepth3("StanbyME")
                                        +footerItemDepth2("Wireless Earbuds", true, true, 3)
                                            +footerULDepth3(3)
                                                +footerItemDepth3("All Wireless Earbuds")
                                                +footerItemDepth3("TONE Free")
                                                +footerItemDepth3("TONE Free fit")
                                                +footerItemDepth3("Active Noise Cancelling")
                                                +footerItemDepth3("Earbuds")
                                                +footerItemDepth3("UVnano Earbuds")
                                        +footerItemDepth2("Speakers", true, true, 4)
                                            +footerULDepth3(4)
                                                +footerItemDepth3("All Speakers")
                                                +footerItemDepth3("XBOOM")
                                                +footerItemDepth3("XBOOM Go")
                                                +footerItemDepth3("XBOOM 360")
                                                +footerItemDepth3("Soundbars")
                                                +footerItemDepth3("Portable Speakers")
                                                +footerItemDepth3("Gaming Speakers")
                                                +footerItemDepth3("Party Speakers")
                                                +footerItemDepth3("Hi Fi System")
                                        +footerItemDepth2("Projectors", true, true, 5)
                                            +footerULDepth3(5)
                                                +footerItemDepth3("All Projectors")
                                                +footerItemDepth3("Home Cinema Projectors")
                                                +footerItemDepth3("Portable & Lifestyle Projectors")
                                        +footerItemDepth2("Video", false, true, 6)
                                            +footerULDepth3(6)
                                                +footerItemDepth3("Blu-Ray & DVD Players")
                                        +footerItemDepth2("Product Finder")
                                        +footerItemDepth2("Buying Guide", true, true, 7)
                                            +footerULDepth3(7)
                                                +footerItemDepth3("Earbuds")
                                                +footerItemDepth3("Speakers")
                                                +footerItemDepth3("TV & Soundbars")
                                        +footerItemDepth2("Discover", false, true, 8)
                                            +footerULDepth3(8)
                                                +footerItemDepth3("LG Signature")
                                                +footerItemDepth3("Experience")
                                                +footerItemDepth3("Virtual Showroom")
                                +footerDepth0
                                    // Depth 1
                                    +footerDepth1Block("Appliances", 3)
                                    +footerULDepth2(3)
                                        +footerItemDepth2("Explore Appliances")
                                        +footerItemDepth2("Fridge Freezers", true, true, 9)
                                            +footerULDepth3(9)
                                                +footerItemDepth3("All Fridge Freezers")
                                                +footerItemDepth3("Amarican Style Fridge Freezers")
                                                +footerItemDepth3("Multi Door Fridge Freezers")
                                                +footerItemDepth3("Tall Fridge Freezers")
                                        +footerItemDepth2("Laundry", true, true, 10)
                                            +footerULDepth3(10)
                                                +footerItemDepth3("All Laundry")
                                                +footerItemDepth3("Washing Machines")
                                                +footerItemDepth3("Washer Dryers")
                                                +footerItemDepth3("Tumble Dryers")
                                                +footerItemDepth3("WashTower")
                                                +footerItemDepth3("Styler")
                                        +footerItemDepth2("Dishwashers")
                                        +footerItemDepth2("Wine Cellar")
                                        +footerItemDepth2("Appliance Finder", true, true, 11)
                                            +footerULDepth3(11)
                                                +footerItemDepth3("Fridge Freezers")
                                                +footerItemDepth3("Laundry Finder")
                                        +footerItemDepth2("Buying Guide", true, true, 12)
                                            +footerULDepth3(12)
                                                +footerItemDepth3("Fridge Freezers")
                                                +footerItemDepth3("Laundry Finder")
                                        +footerItemDepth2("Discover", false, true, 13)
                                            +footerULDepth3(13)
                                                +footerItemDepth3("LG Signature")
                                                +footerItemDepth3("Experience")
                                                +footerItemDepth3("Virtual Showroom")
                                +footerDepth0
                                    // Depth 1
                                    +footerDepth1Block("Air Solution", 4)
                                    +footerULDepth2(4)
                                        +footerItemDepth2("Residential Air Conditioner", true, true, 14)
                                            +footerULDepth3(14)
                                                +footerItemDepth3("All Air Conditioner")
                                                +footerItemDepth3("Residential Air Conditioner")
                                                +footerItemDepth3("Wallmounted")
                                        +footerItemDepth2("Heating Solution (AWHP)", true, true, 15)
                                            +footerULDepth3(15)
                                                +footerItemDepth3("All Heating Solution")
                                                +footerItemDepth3("Split")
                                                +footerItemDepth3("Hydrosplit")
                                                +footerItemDepth3("Monobloc")
                                        +footerItemDepth2("Buying Guide", true, true, 16)
                                            +footerULDepth3(16)
                                                +footerItemDepth3("Residential Air Conditioner")
                                        +footerItemDepth2("Discover", false, true, 17)
                                            +footerULDepth3(17)
                                                +footerItemDepth3("LG Signature")
                                                +footerItemDepth3("Experience")
                                                +footerItemDepth3("Virtual Showroom")
                                +footerDepth0
                                    // Depth 1
                                    +footerDepth1Block("Computer Products", 5)
                                    +footerULDepth2(5)
                                        +footerItemDepth2("Monitors", true, true, 18)
                                            +footerULDepth3(18)
                                                +footerItemDepth3("All Monitors")
                                                +footerItemDepth3("Gaming")
                                                +footerItemDepth3("UltraWide")
                                                +footerItemDepth3("UHD 4K & 5K")
                                                +footerItemDepth3("FHD & QHD")
                                                +footerItemDepth3("Ergo Monitors")
                                                +footerItemDepth3("TV Monitors")
                                                +footerItemDepth3("Smart Monitors")
                                        +footerItemDepth2("Laptops", true, true, 19)
                                            +footerULDepth3(19)
                                                +footerItemDepth3("All Laptops")
                                                +footerItemDepth3("gram")
                                                +footerItemDepth3("gram 2in1")
                                                +footerItemDepth3("Ultra PC")
                                        +footerItemDepth2("Computer Accessories", true, true, 20)
                                            +footerULDepth3(20)
                                                +footerItemDepth3("gram +view")
                                        +footerItemDepth2("Product Finder")
                                        +footerItemDepth2("Buying Guide", true  , true, 21)
                                            +footerULDepth3(21)
                                                +footerItemDepth3("Why LG UltraGear")
                                                +footerItemDepth3("Why LG gram")
                                        +footerItemDepth2("Discover", false, true, 22)
                                            +footerULDepth3(22)
                                                +footerItemDepth3("LG Signature")
                                                +footerItemDepth3("Experience")
                                                +footerItemDepth3("Virtual Showroom")
                                +footerDepth0
                                    // Depth 1
                                    +footerDepth1Link("Support", 6)(target="_blank")
                                    +footerULDepth2(6)
                                        +footerItemDepth2("Product Support", true, true, 23)
                                            +footerULDepth3(23)
                                                +footerItemDepth3("Product Registration")
                                                +footerItemDepth3("Manuals & Software")
                                                +footerItemDepth3("Troubleshoot")
                                                +footerItemDepth3("Request a Repair")
                                                +footerItemDepth3("Right to Repair")
                                                +footerItemDepth3("Warranty")
                                        +footerItemDepth2("Order Support", true, true, 24)
                                            +footerULDepth3(24)
                                                +footerItemDepth3("Track My Order")
                                                +footerItemDepth3("Frequently Asked Questions")
                                        +footerItemDepth2("Additional Support", true, true, 25)(target="_blank")
                                            +footerULDepth3(25)
                                                +footerItemDepth3("ThinQ")
                                                +footerItemDepth3("Part & Accessories")(target="_blank")
                                                +footerItemDepth3("Smart Share")
                                                +footerItemDepth3("Smart Diagnosis")
                                                +footerItemDepth3("Announcements")
                                                +footerItemDepth3("Environmental")
                                        +footerItemDepth2("Contact Us", true, true, 26)
                                            +footerULDepth3(26)
                                                +footerItemDepth3("Email Us")
                                                +footerItemDepth3("Chat With Us")
                                                +footerItemDepth3("Call Us")
                                                +footerItemDepth3("WhatsApp")
                                                +footerItemDepth3("Inquiry Status")
                                                +footerItemDepth3("Document Upload")
                                                +footerItemDepth3("Share Your Feedback")
                                                +footerItemDepth3("Share Your Voice With The LG President")
                                                +footerItemDepth3("Find a Store")
                                +footerDepth0
                                    // Depth 1
                                    +footerDepth1Block("Discover", 7)
                                    +footerULDepth2(7)
                                        +footerItemDepth2("LG SIGNATURE")
                                        +footerItemDepth2("Experience")
                                        +footerItemDepth2("Virtual Showroom")
                                +footerDepth0
                                    // Depth 1
                                    +footerDepth1Link("About LG", 8)
                                    +footerULDepth2(8)
                                        +footerItemDepth2("Careers")
                                        +footerItemDepth2("Newsroom")
                                        +footerItemDepth2("Sustainability")

                        // Footer links in desktop view
                        .c-footer__inner.desktop-only
                            ul.c-footer__columns
                                +footerDepth0
                                    +footerDepth1Block("Shop")
                                    +footerULDepth2
                                        +footerItemDepth2("Shop the Latest")
                                        +footerItemDepth2("All Offers")
                                        +footerItemDepth2("Select Shop")
                                +footerDepth0
                                    +footerDepth1Block("TV/Audio/Video")
                                    +footerULDepth2
                                        +footerItemDepth2("TVs & Soundbars")
                                        +footerItemDepth2("Lifestyle Screens")
                                        +footerItemDepth2("Wireless Earbuds")
                                        +footerItemDepth2("Speakers")
                                        +footerItemDepth2("Projectors")
                                        +footerItemDepth2("Video")
                                        +footerItemDepth2("Product Finder")
                                        +footerItemDepth2("Buying Guide")
                                +footerDepth0
                                    +footerDepth1Block("Appliances")
                                    +footerULDepth2
                                        +footerItemDepth2("Explore Appliances")
                                        +footerItemDepth2("Fridge Freezers")
                                        +footerItemDepth2("Laundry")
                                        +footerItemDepth2("Dishwashers")
                                        +footerItemDepth2("Wine Cellar")
                                        +footerItemDepth2("Appliance Finder")
                                        +footerItemDepth2("Buying Guide")
                                +footerDepth0
                                    +footerDepth1Block("Air Solution")
                                    +footerULDepth2
                                        +footerItemDepth2("Residential Air Conditioner")
                                        +footerItemDepth2("Heating Solution (AWHP)")
                                        +footerItemDepth2("Buying Guide")
                                    +footerDepth1Block("Computer Products")
                                    +footerULDepth2
                                        +footerItemDepth2("Monitors")
                                        +footerItemDepth2("Laptops")
                                        +footerItemDepth2("Computer Accessories")
                                        +footerItemDepth2("Product Finder")
                                        +footerItemDepth2("Buying Guide")
                                +footerDepth0
                                    +footerDepth1Link("Support")(target="_blank" title="Opens in a new window")
                                    +footerULDepth2
                                        +footerItemDepth2("Product Support")
                                        +footerItemDepth2("Order Support")
                                        +footerItemDepth2("Additional Support")(target="_blank" title="Opens in a new window")
                                        +footerItemDepth2("Contact Us")
                                +footerDepth0
                                    +footerDepth1Block("Discover")
                                    +footerULDepth2
                                        +footerItemDepth2("LG SIGNATURE")
                                        +footerItemDepth2("Experience")
                                        +footerItemDepth2("Virtual Showroom")
                                    +footerDepth1Link("About LG")
                                    +footerULDepth2
                                        +footerItemDepth2("Careers")
                                        +footerItemDepth2("Newsroom")
                                        +footerItemDepth2("Sustainability")

                    .c-footer__share
                        .c-footer__inner
                            .c-footer__country
                                form(action="https://www.lg.com/common/index.jsp", method="post", target="_blank")
                                    if option == 'vn'
                                        input(type="hidden", name="countryVal", value="ASIA & PACIFIC")
                                        img(src="../../assets/flag/vietnam.png", class="icon-flag" alt="" loading="lazy")
                                        button.font-w-normal-16.font-m-normal-16(type="submit" title="Select Reguion and Language")
                                            span Việt Nam, Việt Nam
                                    else if option == 'cn'
                                        input(type="hidden", name="countryVal", value="ASIA & PACIFIC")
                                        img(src="../../assets/flag/china.png", class="icon-flag" alt="" loading="lazy")
                                        button.font-w-normal-16.font-m-normal-16(type="submit" title="Select Reguion and Language")
                                            span 中国, 中文
                                    else if option == 'br'
                                        //- 2023-05-22(br)
                                        input(type="hidden", name="countryVal", value="ASIA & PACIFIC")
                                        img(src="../../assets/flag/brazil.png", class="icon-flag" alt="" loading="lazy")
                                        button.font-w-normal-16.font-m-normal-16(type="submit" title="Select Reguion and Language")
                                            span Brazil, Português
                                    else if option == 'it'
                                        //- 2023-05-22(it)
                                        input(type="hidden", name="countryVal", value="EUROPE")
                                        img(src="../../assets/flag/italy.png", class="icon-flag" alt="" loading="lazy")
                                        button.font-w-normal-16.font-m-normal-16(type="submit" title="Select Reguion and Language")
                                            span Italia, Italiano
                                    else if option == 'sa'
                                        //- 2023-05-22(sa)
                                        input(type="hidden", name="countryVal", value="ASIA & PACIFIC")
                                        img(src="../../assets/flag/saudi-arabia.png", class="icon-flag" alt="" loading="lazy")
                                        button.font-w-normal-16.font-m-normal-16(type="submit" title="Select Reguion and Language")
                                            span المملكة العربية السعودية, العربية
                                    else if option == 'other'
                                        input(type="hidden", name="countryVal", value="ASIA & PACIFIC")
                                        img(src="../../assets/flag/australia.png", class="icon-flag" alt="" loading="lazy")
                                        button.font-w-normal-16.font-m-normal-16(type="submit" title="Select Reguion and Language")
                                            span Australia, Engilsh
                                    else
                                        input(type="hidden", name="countryVal", value="EUROPE")
                                        button.font-w-normal-16.font-m-normal-16(type="submit" title="Select Reguion and Language") 
                                            span UK, English
                            .c-footer__social 
                                ul.c-footer__sociallist
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-facebook-gray3-32-32.svg", alt="LG UK facebook" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-twitter-X-gray3-32-32.svg", alt="LG UK twitter-X" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-instagram-gray3-35-35.svg", alt="LG UK instagram" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-pinterest-gray3-32-32.svg", alt="LG UK pinterest" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-youtube-gray3-35-35.svg", alt="LG UK youtube" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-email-gray3-32-32.svg", alt="email" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-whatsapp-gray3-35-35.svg", alt="Whats App" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-snapchat-gray3-35-35.svg", alt="snapchat" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-aparat-gray3-35-35.svg", alt="aparat" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-draugiem-gray3-35-35.svg", alt="draugiem" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-weibo-gray3-35-35.svg", alt="weibo" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-wechat-gray3-35-35.svg", alt="wechat" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-linkedin-gray3-35-35.svg", alt="Linkedin" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-ok-gray3-35-35.svg", alt="OK" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-vk-gray3-35-35.svg", alt="VK" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-enews-gray3-35-35.svg", alt="enews" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-flickr1-gray3-35-35.svg", alt="Flickr" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-flickr2-gray3-35-35.svg", alt="Flickr" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-lg-blog-gray3-35-35.svg", alt="LG Blog" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-lg-magazine-gray3-35-35.svg", alt="LG Magazine" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-viber-gray3-35-35.svg", alt="Viber Chat" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-du-gray3-32-32.svg", alt="Bai Du" loading="lazy")
                                    li.c-footer__socialitem
                                        // GA4
                                        a(href="#", target="_blank", title="Opens in a new window", rel="noopener noreferrer" data-link-name="")
                                            img(src="../../assets/icon/icon-line-gray3-32-32.svg", alt="Line" loading="lazy")

                    .c-footer__bottom
                        .c-footer__inner
                            .c-footer__left-area
                                if option == 'cn'
                                    ul.c-footer__links
                                        +footerLink("我的LG支持", false, 'https://www.lg.com/cn/mylg/login')
                                        +footerLink("网站地图", false, 'https://www.lg.com/cn/sitemap')
                                        +footerLink("«LGE 服务使用条款»", false, 'https://www.lg.com/cn/lge-terms')
                                        +footerLink("«隐私政策»", false, 'https://www.lg.com/cn/privacy')
                                        +footerLink("«Cookie 政策»", false, 'https://www.lg.com/cn/privacy?tabType=empCookie')
                                        +footerLink("法律声明", false, 'https://www.lg.com/cn/legal')
                                        +footerLink("针对商业", false, 'https://www.lg.com/cn/business')
                                        +footerLink("Sales Policy", false, 'https://www.lg.com/cn')
                                    .c-footer__copyright
                                        // GA4
                                        a.description(href='https://www.lgcorp.com/about/companies' target='_blank'  title="Opens in a new window" data-link-name="") 这是LG电子的官方主页，如果您想连接LG公司或其他LG附属公司，请单击
                                        p.copy 版权归LG电子©2009-2023所有，并保留所有权利。
                                else if option == 'vn'
                                    ul.c-footer__links
                                        +footerLink("SITEMAP", false, 'https://www.lg.com/vn/sitemap')
                                        +footerLink("Điều khoản Sử dụng Dịch vụ LGE", false, 'https://www.lg.com/vn/lge-terms')
                                        +footerLink("Chính sách Quyền riêng tư", false, 'https://www.lg.com/vn/privacy')
                                        +footerLink("Chính sách Cookie", false, 'https://www.lg.com/vn/privacy?tabType=empCookie')
                                        +footerLink("PHÁP LÝ", false, 'https://www.lg.com/vn/legal')
                                        +footerLink("CHÍNH SÁCH MUA HÀNG VÀ ĐỔI TRẢ", false, 'https://www.lg.com/vn/chinhsachmuahangvadoitra')
                                    .c-footer__copyright
                                        p.copy Bản quyền © 2009-2023 Công ty LG Electronics Việt Nam Hải Phòng bảo lưu mọi quyền
                                        // GA4
                                        a.description(href='https://www.lgcorp.com/about/companies' target='_blank'  title="Opens in a new window" data-link-name="") Đây là trang chủ chính thức của LG Electronics.<br> Nếu bạn muốn kết nối với tập đoàn LG hoặc các chi nhánh khác của LG, vui lòng nhấn chuột tại đây
                                        .info 
                                            p Công ty TNHH LG Electronics Việt Nam Hải Phòng Địa chỉ trụ sở chính: Lô CN2, KCN Tràng Duệ, xã Lê Lợi, huyện An Dương, thành phố Hải Phòng, Việt Nam.
                                            p ĐT: 024 3934 5151
                                            // GA4
                                            p Email: <a href="mailto:lgcarecenter@lge.com" role="button">lgcarecenter@lge.com</a>
                                            p Số giấy ĐKKD: 0201311397 được cấp bởi Sở Kế hoạch và Đầu tư thành phố Hải Phòng.                                
                                else if option == 'br'
                                    // 2023-05-22 (BR)
                                    ul.c-footer__links
                                        +footerLink2("Para Empresas", "", 'https://www.lg.com/br/business')
                                        +footerLink2("MAPA DO SITE", "", 'https://www.lg.com/br/sitemap')
                                        +footerLink2("Termos de utilização do serviço LGE", "", 'https://www.lg.com/br/lge-terms')
                                        +footerLink2("Política de privacidade", "", 'https://www.lg.com/br/privacidade')
                                        +footerLink2("Política de cookies", "", 'https://www.lg.com/br/privacidade?tabType=empCookie')
                                        +footerLink2("LGPD", "", 'https://www.lg.com/br/suporte/lgpd')
                                        +footerLink2("LEGAL", "", 'https://www.lg.com/br/legal')
                                        +footerLink2("Ajudar a acessibilidade", "", 'https://www.lg.com/br/webaccessibility')
                                    .c-footer__copyright
                                        p.copy Copyright © 2009-2023 LG Electronics. Todos os direitos reservados.
                                        // GA4
                                        a.description(href='https://www.lgcorp.com/about/companies' target='_blank'  title="Opens in a new window" data-link-name="") Esta é a página oficial da LG Electronics. Se você deseja se conectar à LG Corp. ou a outras afiliadas da LG, clique aqui.
                                        .info.ty2 
                                            p LG ELECTRONICS DO BRASIL LTDA &nbsp; | &nbsp; CNPJ: 01.166.372/0011-27
                                            p Av. Ribeirão dos Cristais, 200 - CEP 07775-240 - Cajamar, SP
                                else if option == 'it'
                                    // 2023-05-22 (IT) 
                                    ul.c-footer__links
                                        +footerLink2("Mappa del sito", "", 'https://www.lg.com/it/sitemap')
                                        +footerLink2("Termini di utilizzo del servizio LGE", "", 'https://www.lg.com/it/lge-terms')
                                        +footerLink2("Politica sulla privacy", "", 'https://www.lg.com/it/privacy')
                                        +footerLink2("Politica sui cookie", "", 'https://www.lg.com/it/privacy?tabType=empCookie')
                                        +footerLink2("Termini d'uso e Note Legali", "", 'https://www.lg.com/it/legal')
                                        +footerLink2("ACCESSIBILITA’", "", 'https://www.lg.com/it/webaccessibility')
                                        +footerLink2("Condizioni di vendita", "", 'https://www.lg.com/it/condizioni-generali-di-vendita')
                                        +footerLink2("Glossary", "", 'https://www.lg.com/it/glossary')
                                        +footerLink2("Compliance Information", "", 'https://www.lg.com/global/support/cedoc/cedoc','ico-blank')
                                    .c-footer__copyright
                                        p.copy Copyright © 2009-2023 LG Electronics. Tutti i diritti riservati.
                                        // GA4
                                        .info.ty2
                                            p LG Electronics Italia S.p.A. - Società con socio unico - Sede legale Via Aldo Rossi 4, 20149 Milano -
                                            p iscriz. Registro Imprese Milano - codice Fiscale e Partita IVA 11704130159 - REA n. 1492318 -
                                            p Capitale Sociale Euro 1.000.000 i.v. - Iscr. Registro AEE IT08020000002343
                                        a.description(href='https://www.lgcorp.com/about/companies' target='_blank'  title="Opens in a new window" data-link-name="") Questa e l'Home Page ufficiale di LG Electronics. Clicca se vuoi connetterti a LG Corp o altri affiliati LG fai click qui                                        
                                else if option == 'sa'
                                    // 2023-05-22 (SA) 
                                    ul.c-footer__links                                        
                                        +footerLink2("خريطة الموقع", "", 'https://www.lg.com/sa/sitemap')
                                        +footerLink2("قانونية", "", 'https://www.lg.com/sa/legal')
                                        +footerLink2("بنود استخدام خدمة LGE", "", 'https://www.lg.com/sa/lge-terms')
                                        +footerLink2("سياسة الخصوصية", "", 'https://www.lg.com/sa/privacy')
                                        +footerLink2("سياسة ملفات تعريف الارتباط (الكوكيز)", "", 'https://www.lg.com/sa/privacy?tabType=empCookie')
                                        +footerLink2("سهولة الإتاحة", "", 'https://www.lg.com/sa/webaccessibility')
                                    .c-footer__copyright
                                        p.copy حقوق النشر © 2009-2023 من LG Electronics. كل الحقوق محفوظة
                                        // GA4
                                        a.description(href='https://www.lgcorp.com/about/companies' target='_blank'  title="Opens in a new window" data-link-name="") هذه هي الصفحة الرئيسية الرسمية لشركة LG Electronics. إذا كنت تريد الاتصال بشركة LG Corp ، أو الشركات التابعة الأخرى لشركة LG ، فيرجى النقر 
                                else if option == 'other'
                                    ul.c-footer__links
                                        +footerLink("Site Map")
                                        +footerLink("Legal")
                                        +footerLink("LGE Service Terms of Use")
                                        +footerLink("Privacy Policy")
                                        +footerLink("Cookie Policy")
                                        //- +footerLink("Accessibility Help", "lgAccHelp")
                                        +footerLink("TERMS & CONDITIONS OF SALE")
                                    .c-footer__copyright
                                        p.copy Copyright © 2009-2023 LG Electronics. All Rights Reserved. ABN 98 064 531 264.
                                        // GA4
                                        a.description(href='http://www.lgcorp.com/about/affiliatesList.dev' target='_blank'  title="Opens in a new window" data-link-name="") This is LG Electronics&apos; official homepage. If you want to connect to LG Corp., or other LG affiliates, please click
                                else if option == 'tr'
                                    ul.c-footer__links
                                        +footerLink("Site Haritasi")
                                        +footerLink("Kullanım Koşulları")
                                        +footerLink("LGE Hizmeti Kullanım Koşulları")
                                        +footerLink("Satış Koşulları")
                                        +footerLink("Gizlilik Politikası")
                                        +footerLink("Çerez Politikası")
                                        +footerLink("Erişim Kolaylığı")
                                        +footerLink("Kişisel Veri Güvenliği")
                                        +footerLink("Elektronik Ticaret İşlem Rehber")
                                    .c-footer__copyright
                                        p.copy Telif Hakkı © 2009-2024 LG Electronics. Her Hakkı Saklıdır
                                        // GA4
                                        a.description(href='http://www.lgcorp.com/about/affiliatesList.dev' target='_blank'  title="Opens in a new window" data-link-name="") Bu LG Electronics ' resmi ana sayfası. LG Corp. veya diğer LG bağlı kuruluşlarına bağlanmak istiyorsanız, lütfen tıklayın<span class="sr-only">(opens in a new tab)</span>
                                else
                                    ul.c-footer__links
                                        +footerLink("For Business")
                                        +footerLink("Site Map")
                                        +footerLink("LGE Service Terms of Use")
                                        +footerLink("Privacy Policy")
                                        +footerLink("Cookie Policy")
                                        +footerLink("Cookie Setting","cookieLayer","js-cookie-open")
                                        +footerLink("Legal")
                                        +footerLink("Accessibility Help", "lgAccHelp")
                                    .c-footer__copyright
                                        p.copy Copyright &copy; 2009-2019 LG Electronics. All Rights Reserved
                                        // GA4
                                        a.description(href='http://www.lgcorp.com/about/affiliatesList.dev' target='_blank'  title="Opens in a new window" data-link-name="") This is LG Electronics&apos; official homepage. If you want to connect to LG Corp., or other LG affiliates, please click
                                
                            // modified 2023-01-31 
                            .c-footer__right-area
                                if option == 'vn'
                                    // GA4
                                    a.link-text.link-text--vn(href='#' target='_blank'  title="Opens in a new window" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                                        img(src="../../assets/image/banner-vn-176-66.png", alt="" loading="lazy")
                                if option == 'cn'
                                    // GA4
                                    a.link-text.link-text--cn1(href='#' target='_blank'  title="Opens in a new window" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                                        img(src="../../assets/image/banner-cn-164-50.png", alt="" loading="lazy")
                                    // GA4
                                    a.link-text.link-text--cn2(href='#' target='_blank'  title="Opens in a new window" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                                        img(src="../../assets/image/banner-cn-35-41.png", alt="" loading="lazy")
                                        span 京ICP备10034732号 
                                            br
                                            | 京公网安备11010502036426号
                                if option == 'tr'
                                    a.link-text.link-text--trQR(href='#' target='_blank'  title="Opens in a new window" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                                        img.img-QR(src="https://www.lg.com/content/dam/channel/wcms/tr/footer/img-QR_ETBIS.png", alt="")
                                        span ETBİS’e Kayıtlıdır.

                                if !option
                                    // GA4
                                    a.link-text(href='#' target='_blank'  title="Opens in a new window" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                                        span UK Slacery Act Statement
                                // GA4
                                a.link-text.link-text--jeongdo(href='http://ethics.lg.co.kr/main/en.do' target='_blank'  title="Opens in a new window" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                                    span LG Jeong-Do Management Ethics Hotline
                            // // modified 2023-01-31 

