extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_forms.pug
include ../_common/_carousel.pug
include ../_common/_pop-msg.pug
include ../_common/_summary-gallery.pug

block meta 
    - var componentId = "PD0003M"
    - var componentName = "[Multi]Product Summary"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            //- {
                            //-     'name' : 'Margin',
                            //-     'buttons' : [
                            //-         {'toggle' : true, 'add' : 'margin-top'},
                            //-         {'toggle' : true, 'add' : 'margin-bottom'},
                            //-     ]
                            //- },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    include ./PD0003M-inc.pug
    +PD0003M('full')

block modal
    +printLayerPopup('popFindModel')
    +printLayerPopup('popRecommendedBanner')
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popProductSpecs')
    +printLayerPopup('popPayWithAfterpay')
    +printLayerPopup('popCopyComplete')
    +printLayerPopup('popSummaryGallery')
    +printLayerPopup('popStockAlert')
    +printLayerPopup('popSelectDate')
    +printLayerPopup('popFindRelayPoint')