extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_video.pug
include ../_common/_carousel.pug
include ../_common/_spec-info.pug
include ../_common/_img-banner-text.pug

block meta 
    - var componentId = "ST0016"
    - var componentName = "Image - Text (folding feature)"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper:not(.ST0020)' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                            
                        ],
                        '.c-folding__folding-area' : [
                            {
                                'name' : 'Width Size',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'width-1000', 'remove' : 'width-1440'},
                                    {'toggle' : false, 'add' : 'width-1440', 'remove' : 'width-1000'},
                                ]
                            }
                        ],
                        '.c-folding__text' : [
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                                ]
                            },
                        ],
                        '.c-folding__under' : [
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                                ]
                            },
                        ],
                        '.c-folding__toggle' : [
                            {
                                'name' : 'Button Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'black', 'remove' : 'white'},
                                    {'toggle' : false, 'add' : 'white', 'remove' : 'black'},
                                ]
                            },
                        ],
                        '.c-text-contents__interviewee-name, .c-text-contents__interviewee-info, .c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                        '.c-floating-contents__floating' : [
                            {
                                'name' : 'Button Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'},
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                ]
                            },
                        ],
                        '.c-floating-contents' : [
                            {
                                'name' : 'Shape',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'shape-horizontal', 'remove' : 'shape-vertical'},
                                    {'toggle' : false, 'add' : 'shape-vertical', 'remove' : 'shape-horizontal'},
                                ]
                            },
                        ],
                        '.c-floating-contents__sub-contents' : [
                            {
                                'name' : 'Vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'pos-top', 'remove' : 'pos-middle, pos-bottom'},
                                    {'toggle' : false, 'add' : 'pos-middle', 'remove' : 'pos-top, pos-bottom'},
                                    {'toggle' : false, 'add' : 'pos-bottom', 'remove' : 'pos-top, pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Horizon',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'pos-left', 'remove' : 'pos-center, pos-right'},
                                    {'toggle' : false, 'add' : 'pos-center', 'remove' : 'pos-left, pos-right'},
                                    {'toggle' : false, 'add' : 'pos-right', 'remove' : 'pos-left, pos-center'},
                                ]
                            },
                        ],
                        '.c-icon-block-contents' : [
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black, bg-darkwarmgray, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black, bg-darkwarmgray, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black, bg-darkwarmgray, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-darkwarmgray, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-darkwarmgray', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-transparent', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black, bg-darkwarmgray'},
                                ]
                            },
                            {
                                'name' : 'Text color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'},
                                ]
                            },
                            {
                                'name' : 'Type',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'type-a', 'remove' : 'type-b, type-c'},
                                    {'toggle' : false, 'add' : 'type-b', 'remove' : 'type-a, type-c'},
                                    {'toggle' : false, 'add' : 'type-c', 'remove' : 'type-a, type-b'},
                                ],
                            },
                        ],
                        '.c-spec-info .c-text-contents' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            },
                            
                        ],
                    };

    // Component Markup
    mixin text-contents(describedby)
        .c-folding__text
            // block : text-contents
            .c-text-contents
                .text.c-text-contents__eyebrow
                    .cmp-text(class='font-w-normal-20 font-m-normal-14' data-cmp-data-layer="" id=describedby) 
                        p Lorem ipsum
                .title.c-text-contents__headline
                    .cmp-title(class='font-w-light-80 font-m-light-36' data-cmp-data-layer="")
                        // Heading Tag Option - div or h1 or h2 or h3 or h4 or h5 or h6
                        h2.cmp-title__text Heading can be up to 60 characters lorem ipsum dolor sit amet
                .text.c-text-contents__interviewee-name
                    .cmp-text(class='font-w-normal-24 font-m-normal-16' data-cmp-data-layer="") 
                        p Lorem ipsum dolor
                .text.c-text-contents__interviewee-info
                    .cmp-text(class='font-w-normal-16 font-m-normal-14' data-cmp-data-layer="") 
                        p Lorem ipsum dolor sit amet
                .text.c-text-contents__bodycopy
                    .cmp-text(class='font-w-normal-24 font-m-normal-16' data-cmp-data-layer="") 
                        p Body of text can be up to 350 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                // block :cta 
                .button.c-cta
                    +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                    +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                .button.c-cta
                    +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                    +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})

    mixin inner-text-contents
        .c-folding__text 
            // block : text-contents
            .c-text-contents
                .title.c-text-contents__headline
                    .cmp-title(class='font-w-light-56 font-m-light-28' data-cmp-data-layer="")
                        strong.cmp-title__text How to find the best TV for my lifestyle.
                .text.c-text-contents__bodycopy
                    .cmp-text(class='font-w-normal-24 font-m-normal-16' data-cmp-data-layer="") 
                        p Body of text can be up to 350 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                // block :cta 
                .button.c-cta
                    +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                    +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                .button.c-cta
                    +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                    +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})

    mixin image(size1, size2=false, imgOfText)
        // block : image
        if (imgOfText)
            .image.c-image
                if(size2)
                    +printLazyPicture(`https://via.placeholder.com/${size1}/999999/333333`, `https://via.placeholder.com/${size2}/999999/333333`, max="1024", min="1025")(aria-hidden="true")                    
                    +imgOfText
                else 
                    +printLazyImage(`https://via.placeholder.com/${size1}/999999/333333`)(aria-hidden="true")
                    +imgOfText
                if block
                    block
        else
            .image.c-image
                if(size2)
                    +printLazyPicture(`https://via.placeholder.com/${size1}/999999/333333`, `https://via.placeholder.com/${size2}/999999/333333`, max="1024", min="1025")(aria-hidden="true")
                else 
                    +printLazyImage(`https://via.placeholder.com/${size1}/999999/333333`)(aria-hidden="true")
                if block
                    block

    mixin video-contents(size1, size2, videoType)
        // Display only when video is registered
        // block : media contents
        .c-media-contents
            // Video case
            +image(size1, size2)
                +floating-video(videoType)
    
    mixin inner-video-contents(size1, videoType)
        // Display only when video is registered
        // block : media contents
        .c-media-contents
            // Video case
            +image(size1)
                +floating-video(videoType)
    
    mixin ani-contents(size1, size2)
            // block : media contents
            .c-media-contents
                // Animation case
                +image(size1, size2)
                    +bg-video

    mixin inner-ani-contents(size1)
            // block : media contents
            .c-media-contents
                // Animation case
                +image(size1)
                    +bg-video

    mixin img-contents(size1, size2, isLink = true, imgOfText)
        // block : media contents
        if(isLink === true)
            // option : target (_blank or _self)
            // If there is no link, you can change the a tag to div.
            // GA4
            a(href="#" class="c-media-contents" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                // Image case
                +image(size1, size2, imgOfText)
        else
            div(class="c-media-contents")
                // Image case
                +image(size1, size2, imgOfText)

    mixin inner-img-contents(size1, imgOfText)
        // block : media contents
        div(class="c-media-contents")
            // Image case
            if (imgOfText)
                .image.c-image
                    +image(size1, false, imgOfText)
                    +imgOfText
            else 
                +image(size1)

    mixin carouselItem
        .cmp-carousel__item.swiper-slide(data-cmp-data-layer="" data-cmp-hook-carousel="item")
            +inner-text-contents
            +inner-video-contents('1440x666', 'youtube')
            if block
                block

    .guide-text-option Option. Media Contents : image / Folding Area Arrange type : list
    .c-wrapper.ST0016.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : folding
                .c-folding
                    .c-folding__wrapper
                        .c-folding__basic-area
                            .c-folding__inner
                                +text-contents('describedby__1')
                                +img-contents('768x576', '1600x700')
                                .button
                                    // color option : black or white
                                    button(class="cmp-button c-folding__toggle white" type="button" aria-expanded="false" aria-controls="foldContents1" data-cmp-data-layer=""  aria-describedby="describedby__1")
                                        span.cmp-button__text.sr-only Toggle Contents
                        // Folding Area - Arrange type : list
                        // The class is changed according to the arrangement type. (list/child-card)
                        .c-folding__folding-area.list(id="foldContents1")
                            .c-folding__inner
                                // block : list
                                .c-list
                                    .c-list__item
                                        +inner-text-contents
                                        +inner-img-contents('1440x666')
                                    .c-list__item
                                        +inner-text-contents
                                        +inner-video-contents('1440x666', 'youtube')
                                // close button
                                .button.c-folding__buttons
                                    button(class="cmp-button c-folding__close" type="button" aria-expanded="false" aria-controls="foldContents1" data-cmp-data-layer="")
                                        span.cmp-button__text.sr-only Close Contents
                    .c-folding__under
                        .c-folding__inner
                            // block : text-contents
                            .c-text-contents
                                .text.c-text-contents__disclaimer
                                    .cmp-text(class='font-w-normal-16 font-m-normal-12' data-cmp-data-layer="") 
                                        p Disclaimer text can be up to 100 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing.
                                        
    .guide-text-option Option. Media Contents : video / Folding Area Arrange type : list
    .c-wrapper.ST0016.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : folding
                .c-folding
                    .c-folding__wrapper
                        .c-folding__basic-area
                            .c-folding__inner
                                +text-contents('describedby__2')
                                +video-contents('768x576', '1600x700', 'brightcove')
                                .button
                                    // color option : black or white
                                    button(class="cmp-button c-folding__toggle white" type="button" aria-expanded="false" aria-controls="foldContents1" data-cmp-data-layer="" aria-describedby="describedby__2")
                                        span.cmp-button__text.sr-only Toggle Contents
                        // Folding Area - Arrange type : list
                        // The class is changed according to the arrangement type. (list/child-card)
                        .c-folding__folding-area.list(id="foldContents1")
                            .c-folding__inner
                                // block : list
                                .c-list
                                    .c-list__item
                                        +inner-text-contents
                                        +inner-video-contents('1440x666', 'youtube')
                                    .c-list__item
                                        +inner-text-contents
                                        +inner-ani-contents('1440x666')
                                // close button
                                .button.c-folding__buttons
                                    button(class="cmp-button c-folding__close" type="button" aria-expanded="false" aria-controls="foldContents1" data-cmp-data-layer="")
                                        span.cmp-button__text.sr-only Close Contents
                    .c-folding__under
                        .c-folding__inner
                            // block : text-contents
                            .c-text-contents
                                .text.c-text-contents__disclaimer
                                    .cmp-text(class='font-w-normal-16 font-m-normal-12' data-cmp-data-layer="") 
                                        p Disclaimer text can be up to 100 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing.

    .guide-text-option Option. Media Contents : animation / Folding Area Arrange type : child card
    .c-wrapper.ST0016.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : folding
                .c-folding
                    .c-folding__wrapper
                        .c-folding__basic-area
                            .c-folding__inner
                                +text-contents('describedby__3')
                                +ani-contents('768x576', '1600x700')
                                .button
                                    // color option : black or white
                                    button(class="cmp-button c-folding__toggle white" type="button" aria-expanded="false" aria-controls="foldContents2" data-cmp-data-layer="" aria-describedby="describedby__3")
                                        span.cmp-button__text.sr-only Toggle Contents
                        // Folding Area - Arrange type : child card
                        // The class is changed according to the arrangement type. (list/child-card)
                        .c-folding__folding-area.child-card(id="foldContents2")
                            .c-folding__inner
                                // carousel
                                .carousel.panelcontainer
                                    // block : carousel
                                    .cmp-carousel.swiper.c-carousel.c-carousel__card(data-cmp-data-layer="")
                                        .cmp-carousel__content.swiper-wrapper
                                            - for (var x = 0; x < 3; x++)
                                                +carouselItem
                                        .c-carousel__handler
                                            .cmp-carousel__actions
                                                +carouselBtn({type:"pagination", direction:"prev"})
                                            +carouselPagination
                                            .cmp-carousel__actions
                                                +carouselBtn({type:"pagination", direction:"next"})
                                // close button
                                .button.c-folding__buttons
                                    button(class="cmp-button c-folding__close" type="button" aria-expanded="false" aria-controls="foldContents2" data-cmp-data-layer="")
                                        span.cmp-button__text.sr-only Close Contents
                    .c-folding__under
                        .c-folding__inner
                            // block : text-contents
                            .c-text-contents
                                .text.c-text-contents__disclaimer
                                    .cmp-text(class='font-w-normal-16 font-m-normal-12' data-cmp-data-layer="") 
                                        p Disclaimer text can be up to 100 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing.

    .guide-text-option Option. Media Contents : image + icon block / Folding Area Arrange type : child card
    .c-wrapper.ST0016.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : folding
                .c-folding
                    .c-folding__wrapper
                        .c-folding__basic-area
                            .c-folding__inner
                                +text-contents('describedby__4')
                                //- block : floating contents
                                .c-floating-contents.shape-horizontal
                                    .c-floating-contents__floor
                                        +img-contents('768x1200', '1600x1400', false)
                                    // The color value of the 'icon-block' indicator varies according to the color option value of this.
                                    .c-floating-contents__floating.font-black
                                        .c-floating-contents__sub-contents.pos-top
                                            //- spec
                                            .c-wrapper.ST0020 
                                                .component
                                                    .cmp-container
                                                        +spec-info({initialClass : "bg-white font-black", mobileType : "swiper"})
                                .button
                                    // color option : black or white
                                    button(class="cmp-button c-folding__toggle white" type="button" aria-expanded="false" aria-controls="foldContents3" data-cmp-data-layer="" aria-describedby="describedby__4")
                                        span.cmp-button__text.sr-only Toggle Contents
                        // Folding Area - Arrange type : child card
                        // The class is changed according to the arrangement type. (list/child-card)
                        .c-folding__folding-area.child-card(id="foldContents3")
                            .c-folding__inner
                                // carousel
                                .carousel.panelcontainer
                                    // block : carousel
                                    .cmp-carousel.swiper.c-carousel.c-carousel__card(data-cmp-data-layer="")
                                        .cmp-carousel__content.swiper-wrapper
                                            - for (var x = 0; x < 3; x++)
                                                +carouselItem
                                        .c-carousel__handler
                                            .cmp-carousel__actions
                                                +carouselBtn({type:"pagination", direction:"prev"})
                                            +carouselPagination
                                            .cmp-carousel__actions
                                                +carouselBtn({type:"pagination", direction:"next"})
                                // close button
                                .button.c-folding__buttons
                                    button(class="cmp-button c-folding__close" type="button" aria-expanded="false" aria-controls="foldContents3" data-cmp-data-layer="")
                                        span.cmp-button__text.sr-only Close Contents
                    .c-folding__under
                        .c-folding__inner
                            // block : text-contents
                            .c-text-contents
                                .text.c-text-contents__disclaimer
                                    .cmp-text(class='font-w-normal-16 font-m-normal-12' data-cmp-data-layer="")
                                        p Disclaimer text can be up to 100 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing.


    .guide-text-option Option. Media Contents : none
    .c-wrapper.ST0016.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : folding
                .c-folding
                    .c-folding__wrapper
                        .c-folding__basic-area
                            .c-folding__inner
                                +text-contents
                    .c-folding__under
                        .c-folding__inner
                            // block : text-contents
                            .c-text-contents
                                .text.c-text-contents__disclaimer
                                    .cmp-text(class='font-w-normal-16 font-m-normal-12' data-cmp-data-layer="")
                                        p Disclaimer text can be up to 100 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing.

    .guide-text-option Option. Media Contents : Img Of Text / Folding Area Arrange type : list
    .c-wrapper.ST0016.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : folding
                .c-folding
                    .c-folding__wrapper
                        .c-folding__basic-area
                            .c-folding__inner
                                +text-contents('describedby__1')
                                +img-contents('768x576', '1600x700' , true, true)
                                .button
                                    // color option : black or white
                                    button(class="cmp-button c-folding__toggle white" type="button" aria-expanded="false" aria-controls="foldContents1" data-cmp-data-layer=""  aria-describedby="describedby__1")
                                        span.cmp-button__text.sr-only Toggle Contents
                        // Folding Area - Arrange type : list
                        // The class is changed according to the arrangement type. (list/child-card)
                        .c-folding__folding-area.list(id="foldContents1")
                            .c-folding__inner
                                // block : list
                                .c-list
                                    .c-list__item
                                        +inner-text-contents
                                        +inner-img-contents('1440x666', true)
                                    .c-list__item
                                        +inner-text-contents
                                        +inner-video-contents('1440x666', 'youtube')
                                // close button
                                .button.c-folding__buttons
                                    button(class="cmp-button c-folding__close" type="button" aria-expanded="false" aria-controls="foldContents1" data-cmp-data-layer="")
                                        span.cmp-button__text.sr-only Close Contents
                    .c-folding__under
                        .c-folding__inner
                            // block : text-contents
                            .c-text-contents
                                .text.c-text-contents__disclaimer
                                    .cmp-text(class='font-w-normal-16 font-m-normal-12' data-cmp-data-layer="") 
                                        p If the image has text Handling aria-hidden in images Provides an additional image                                    
                                    