extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_brand-detail.pug

block meta 
    - var componentId = "CS0115"
    - var componentName = "Step Block"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    //- // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-warmgray, bg-lightgray, bg-midgray1, bg-midgray2, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-warmgray', 'remove' : 'bg-white, bg-lightgray, bg-midgray1, bg-midgray2, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-warmgray, bg-midgray1, bg-midgray2, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-midgray1', 'remove' : 'bg-white, bg-warmgray, bg-lightgray, bg-midgray2, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-midgray2', 'remove' : 'bg-white, bg-warmgray, bg-lightgray, bg-midgray1, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-warmgray, bg-lightgray, bg-midgray1, bg-midgray2'},
                                ]
                            }
                        ],
                        '.type-text, .type-disclaimer' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ],                        
                  
                        '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                        // type : box-color
                        '.c-step-option-list__item' : [
                             {
                                'name' : 'Box Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'box-white', 'remove' : 'box-warmgray, box-lightgray,box-midgray1,box-midgray2, box-black'},
                                    {'toggle' : false, 'add' : 'box-warmgray', 'remove' : 'box-white, box-lightgray,box-midgray1,box-midgray2, box-black'},
                                    {'toggle' : false, 'add' : 'box-lightgray', 'remove' : 'box-white, box-warmgray, box-midgray1, box-midgray2, box-black'},
                                    {'toggle' : false, 'add' : 'box-midgray1', 'remove' : 'box-white, box-warmgray,  box-lightgray, box-midgray2, box-black'},
                                    {'toggle' : false, 'add' : 'box-midgray2', 'remove' : 'box-white, box-warmgray, box-lightgray, box-midgray1, box-black'},
                                    {'toggle' : false, 'add' : 'box-black', 'remove' : 'box-white, box-warmgray, box-lightgray, box-midgray1, box-midgray2'},
                                ]
                            }
                        ]
                    };


    mixin step-option-card(type)
        case type 
            when 1 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step01-01.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 1

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Clique abaixo e preencha o formulário para recebermos seu pedido de reparo.
                                
                        .button.c-cta
                            +linkButton({type:'text', name:'Solicitar Reparo', size:'small', icon:true})
                            +button({name:'Windows', size:'medium', icon:true})(aria-label="")
            when 2 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step01-02.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 2

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Nosso SAC fará o processamento e lhe dará resposta no próximo dia útil.
            when 3 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step01-03.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 3

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Você receberá uma Ordem de Serviço e um número de E-ticket via SMS e e-mail.
            when 4 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step01-04.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 4

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Pronto! Vá até uma agência dos correios e poste seu produto.
            when 5 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step01-05.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 5

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | O que enviar na Caixa? Preciso enviar nota fiscal?
                                
                        .button.c-cta
                            +linkButton({type:'text', name:'Instruções de Postagem', size:'small', icon:true})

    mixin step-option-card2(type)
        case type 
            when 1 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step02-01.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 1

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Clique abaixo e preencha o formulário para recebermos seu pedido de reparo.
                                
                        .button.c-cta
                            +linkButton({type:'text', name:'Solicitar Reparo', size:'small', icon:true})
                            +button({name:'Windows', size:'medium', icon:true})(aria-label="")
            when 2 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step02-02.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 2

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Nosso SAC fará o processamento e lhe dará resposta no próximo dia útil.
            when 3 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step02-03.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 3

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Você receberá um e-mail com uma solicitação de pagamento no valor de R$ 30,00 (Taxa Mínima de Diagnóstico*)
            when 4 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step02-04.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 4

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Após confirmação de pagamento, você receberá uma Ordem de Serviço e um número de E-ticket via SMS e e-mail.
            when 5 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step02-05.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 5

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Pronto! Vá até uma agencia dos Correios e poste o seu produto.
                                
                        .button.c-cta
                            +linkButton({type:'text', name:'Instruções de Postagem', size:'small', icon:true})

    mixin step-option-card3(type)
        case type 
            when 1 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step03-01.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 1

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Assim que o produto chegar na assistência, um técnico LG irá analisar seu produto em um prazo de 48h.
            when 2 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step03-02.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 2

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Após analise, entraremos em contato para solicitar sua aprovação do orçamento.
            when 3 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step03-03.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 3

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Uma solicitação de pagamento será gerada com o valor aprovado e encaminhada para seu e-mail.
            when 4 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem" tabindex="0")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')
                        +printLazyPicture('../../mocks/CS0115/step03-04.png')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 4

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Pronto! Após confirmação do pagamento o produto reparado será devolvido em até 30 dias corridos, a contar desta data.

    .guide-text-type Solicitando LG collect

    .c-wrapper.CS0115.type-text.margin-top.margin-bottom
        .component.type-card__img2.type-card__align
            .CS0115__container
                .c-cs-header
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Solicitando LG collect")
                            .text.c-text-contents__bodycopy 
                                p.cmp-sub-tit-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Lorem ipsum dolor
                            
                                p.cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") São esses os passos para o conserto dos aparelhos dentro da garantia LG. O prazo máximo para reparo e retorno do seu aparelho é de 30 dias corridos após o recebimento do aparelho. A Assistência que receberá o seu produto para reparo é definida pela LG de acordo com a disponibilidade e proximidade do local do remetente. Para acompanhar o reparo do seu produto, tenha a Ordem de Serviço em mãos e acesse o link Acompanhar Reparo.
                    .button__group
                        .button.c-cta
                            +defaultButton({name: 'Button text', wSize: 'medium', mSize: 'medium', buttonStyle: 'default'})
                            +defaultButton({name: 'Button text', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', buttonStyle: 'highlight'})
                        .button.c-cta
                            +linkButton({type:'text', name:'Button text', size:'small', icon:true})
                            +linkButton({type:'text', name:'Button text', size:'small', icon:true})
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            +step-option-card(1)
                            +step-option-card(2)
                            +step-option-card(3)
                            +step-option-card(4)
                            +step-option-card(5)
    
    
    .guide-text-type Ooops!... Meu celular está fora de garantia

    .c-wrapper.CS0115.type-text.margin-top.margin-bottom
        .component.type-card__img2.type-card__align
            .CS0115__container
                .c-cs-header
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Ooops!... Meu celular está fora de garantia")
                            .text.c-text-contents__bodycopy 
                                p.cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                                    | Quebrou a tela e não tem assistência para reparo próximo a sua casa? Acabou o período de 1 ano de garantia?
                                    br
                                    | Calma, temos uma solução para você:

                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            +step-option-card2(1)
                            +step-option-card2(2)
                            +step-option-card2(3)
                            +step-option-card2(4)
                            +step-option-card2(5)
                    
                        .cmp-text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer="") 
                            p * A taxa de diagnóstico corresponde aos custos de envio e retorno do produto e a análise do problema.
    
    .guide-text-type Mas como saberei o valor para reparo?

    .c-wrapper.CS0115.type-text.margin-top.margin-bottom
        .component.type-card__img2.type-card__align
            .CS0115__container
                .c-cs-header
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Mas como saberei o valor para reparo?")
                            .text.c-text-contents__bodycopy 
                                p.cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                                    | Quebrou a tela e não tem assistência para reparo próximo a sua casa? Acabou o período de 1 ano de garantia?
                                    br
                                    | Calma, temos uma solução para você:

                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            +step-option-card3(1)
                            +step-option-card3(2)
                            +step-option-card3(3)
                            +step-option-card3(4)
                    
                        .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                            .cmp-text-tit
                                p.font-w-normal-20.font-m-normal-16 O pagamento de taxa de diagnóstico e orçamento é realizado via PagSeguro e poderá ser pago via boleto, cartão de débito e crédito a vista ou parcelado em até 3x sem juros ou 18x com juros da 
                            .cmp-text-txt
                                p.font-w-normal-20.font-m-normal-16 O pagamento de taxa de diagnóstico e orçamento é realizado via PagSeguro e poderá ser pago via boleto, cartão de débito e crédito a vista ou parcelado em até 3x sem juros ou 18x com juros da operadora

                        .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                            p Você terá até 10 dias, após receber a solicitação de pagamento da Taxa de diagnóstico, para optar pelo serviço de diagnóstico e efetuar o pagamento da taxa. Passados os 10 dias, a solicitação será automaticamente cancelada. O valor de orçamento para reparo do aparelho será valido por 48 horas, após esse período a solicitação de pagamento será automaticamente cancelada e o produto reenviado sem reparo.
                        .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                            p O diagnóstico e reparo de produtos fora de garantia é feito exclusivamente pela assistência técnica própria LG, localizada no Setor Comercial Norte - Quadra 1 Bloco A, Asa Norte, Edifício Number One Loja 109 - Brasília/DF