extends ../_common/_layout.pug
include ../_common/_index.pug

block meta
    - var componentId = "PD0015"
    - var componentName = "Promotion - Product List"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide
        .grid-1600
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    mixin promotion-brief(date, endDate, startEnd = false, isCountdown = true)
        - var bodyCopyText = "With smart technology, AIDD™ provides 18% more fabric protection, keeping your wardrobe fresh for longer."
        .c-promotion-brief
            .c-promotion-brief__inner.c-text-contents
                .text.c-text-contents__eyebrow.font-w-normal-20.font-m-normal-14
                    p.cmp-text(data-cmp-data-layer="") New
                    p.cmp-text(data-cmp-data-layer="") Pre-Order
                .title.c-text-contents__headline
                    .cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="")
                        strong.cmp-title__text Save 10% on Home appliances
                .text.c-text-contents__date.font-w-light-36.font-normal-20                    
                    if startEnd == true
                        p.cmp-text.start-end-type(data-cmp-data-layer="")
                            span=date
                            span ~
                            span=endDate
                    else
                        p.cmp-text(data-cmp-data-layer="")=date
                .text.c-text-contents__bodycopy.font-w-normal-24.font-normal-20
                    p.cmp-text(data-cmp-data-layer="")=bodyCopyText
                .c-tooltip
                    .button
                        button.cmp-button.c-icon-button.c-icon-button--more-info.c-tooltip__button(type="button" aria-expanded="false", data-cmp-data-layer="")
                            span.sr-only More information
                    .c-tooltip__container(class='bottom-right')
                        .c-tooltip__contents.has-close
                            button.c-tooltip__close(type='button')
                                span.sr-only Close
                            .c-text-contents
                                .text.c-text-contents__bodycopy
                                    .cmp-text.font-w-normal-14.font-m-normal-14(data-cmp-data-layer="")
                                        p= bodyCopyText
                if isCountdown == true
                    // time deal [s]
                    .c-promotion-brief__count.bg-default.can-sticky
                        .c-promotion-brief__count-inner
                            +dateCountDown("31 December 2024 23:59:59","font-w-normal-20 font-normal-16")(class="c-countdown--small")
                    // time deal [e]

    mixin rollSelector
        - var nameFontStyle = "font-w-semibold-16 font-m-normal-14i font-semibold"
        - var descFontStyle = "font-w-normal-14 font-m-normal-14"
        - var useAnchor = false
        - var useActiveImage = true
        .c-floating-wrap.can-sticky.bg-default
            +roll-selector([
                {useDualImage: true, useActiveImage, name:"All", description:"", nameFontStyle, descFontStyle},
                {useDualImage: true, name:"Tv/Audio/Video", description:"", nameFontStyle, descFontStyle },
                {useDualImage: true, name:"Appliances", description:"", nameFontStyle, descFontStyle },
                {useDualImage: true, name:"Air Solution", description:"", nameFontStyle, descFontStyle },
                {useDualImage: true, name:"Computer Products", description:"", nameFontStyle, descFontStyle },
                {useDualImage: true, name:"LG SIGNATURE", description:"", nameFontStyle, descFontStyle },
                {useDualImage: true, name:"Category Name", description:"", nameFontStyle, descFontStyle },
                {useDualImage: true, name:"Category Name", description:"", nameFontStyle, descFontStyle },
            ], useAnchor, 'tab', false)

    mixin promotionProductList(params)
        //- 230816 : Added .c-result-area__product-list area
        .c-result-area__product-list(id="resultTarget")
            //- 230816 : Added class .productcollection__items
            ul.c-product-list.productcollection__items
                //- 230816 : Added class .productcollection__item
                - for(var x = 0; x < 8; x++)
                    li.c-product-list__item.productcollection__item(data-cmp-data-layer="")
                        +productCard(
                            {
                                flag: ['New','Pre order'],
                                compare: false,
                                wishlist: false,
                                modelid: 'MD07258328',
                                sku: 'GSJV70PZTF',
                                ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                                gradeIs:true,
                                gradeBlock2: true,
                                grade: 'a',
                                review: false,
                                type:false,
                                repair: true,
                                groups:false,
                                youreko: true,
                                signature: false,
                                thinq: false,
                                soldOut: false,
                                outOfStock: false,
                                discontinued: false,
                                promotion: "",
                                limited: false,
                                vip: false,
                                installment: false,
                                membership: '£1,999.98',
                                onlyBuynowCta: true,
                                ehf: false,
                                lumpsum: true,
                                plInfoTxt: true,
                                Ab:true,
                            }
                        )
            .c-load-more.align-center
                +pagination


    // Component Markup
    .guide-text-option Option : Has filter
    .c-wrapper.PD0015.no-crop.margin-bottom.bg-default
        //- 230816 : for has-filter
        .component.has-filter
            .cmp-container
                +promotion-brief('11/09/2024 15:00', '11/09/2024 20:00', true, false)            
                +rollSelector
                //- 230816 : Below area added for filter
                .productlist.productcollection
                    .c-category__root
                        .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                            +filter
                            .c-result-area
                                .c-result-area__controls
                                    .c-result-area__result.productcollection__results-count
                                        span.sr-only Filter:
                                        strong.c-result-area__count 30 
                                        span &nbsp;Results
                                    .c-result-area__sort
                                        +formSelect("Sort by", "sort", "", false)
                                            option(value="") Newest
                                            option(value="") Most Popular
                                            option(value="") Consumer Rating
                                +promotionProductList

    .guide-text-option Option : No filter
    .c-wrapper.PD0015.no-crop.margin-bottom.bg-default
        //- 230816 : for no-filter
        .component.no-filter
            .cmp-container
                +promotion-brief('11/09/2024 15:00', '11/09/2024 20:00', true, false)  
                +rollSelector
                //- 230816 : Below area added for filter
                .productlist.productcollection
                    .c-category__root
                        .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                            .c-result-area
                                .c-result-area__controls
                                    .c-result-area__result.productcollection__results-count
                                        span.sr-only Filter:
                                        strong.c-result-area__count 30 
                                        span &nbsp;Results
                                    .c-result-area__sort
                                        +formSelect("Sort by", "sort", "", false)
                                            option(value="") Newest
                                            option(value="") Most Popular
                                            option(value="") Consumer Rating
                                +promotionProductList

//- block modal
//-     +printLayerPopup('popCopyComplete')
