extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_cs-product-category-select.pug
include ../_common/_cs-form.pug

block meta 
    - var componentId = "CS0068"
    - var componentName = "Voice to The President_Privacy"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug



    -
        const prdCategoryName = [
            {
                'prdName':'TV/Audio/Video',
                'img':'../../assets/icon/icon-tv-audio-video-80-80_normal.svg',
            },
            {
                'prdName':'Appliances',
                'img': '../../assets/icon/icon-appliances-80-80_normal.svg',
            },
            {
                'prdName':'Computer products',
                'img': '../../assets/icon/icon-computer-80-80_normal.svg',
            },
            {
                'prdName':'Mobile & Tablets',
                'img': '../../assets/icon/icon-mo-tablet-80-80_normal.svg',
            },
            {
                'prdName':'Information display',
                'img': '../../assets/icon/icon-display-80-80_normal.svg',
            },
            {
                'prdName':'Air conditioning system',
                'img': '../../assets/icon/icon-aircon-80-80_normal.svg',
            },
        ]

    // When using separate gallery component
    mixin galleryItem(type)
        case type
            when 1
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Your registed product
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    // role="link" before login, role="dialog" after login
                                    +defaultButton({name: 'Choose to inquiry', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})

            when 2
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Your registed product
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    +defaultButton({name: 'Choose to inquiry', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})

            // 20230531 When the area is a link
            when 3
                .cmp-carousel__item.swiper-slide.c-carousel__item.emptyCard.c-hidden-mo(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    // Insert emptycard when data is less than 3 (added class .emptyCard)
                    .c-prd-register
                        a.c-prd-register__to-list(href="#" aria-label="Go to product registration page" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
            when 4 
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Register products with ThinQ
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    +button({color:"black", name: "QUICK REGISTERATION", class:'toastOpen'})(aria-describedby="toastOpen")
            // 20230531 When the area is not a link
            when 5
                .cmp-carousel__item.swiper-slide.c-carousel__item.emptyCard.c-hidden-mo(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    // Insert emptycard when data is less than 3 (added class .emptyCard)
                    .c-prd-register
                        p.c-prd-register__to-list   

        if block
            block

    mixin carouselPaginationUI 
        // 23.02.14 modified markup - added ".c-carousel__handler--dial", ".c-carousel__handler--away-from-carousel"
        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"prev"})
            +carouselPagination
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"next"})

    // Component Markup
    .guide-text-type Non-login - before category selection(default)
    // Component Markup
    .c-wrapper.CS0068
        .component.type-accordion
            .CS0068__container
                .c-accordion__body
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Find my product')
                    P.searchBar__infoMsg.font-m-normal-14.font-w-normal-20 * After entering the model number, please select the product from the search result. (Enter key does not work)
                    .searchbar
                        #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                            .searchBar__searchInner
                                form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                                    span.fieldIcons__root
                                        span.fieldIcons__input
                                            input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Please type model number')
                                            button(type="button").c-button-delete delete button
                                        //- button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
                                        //-     span.icon__root
                                        //-         span.sr-only Search
                                    p.message__root
                                    .searchBar__SearchAutocompleteWrapper

                        .c-model-contents
                            a(tabindex="0" class="c-modal-open find-number font-m-normal-14 font-w-normal-16" aria-label="" aria-controls="CS0027" role="dialog") How to find my model number?
                    .c-text-contents.c-accordion__body-text
                        +productCategorySelect({type:"page"})
                        .c-tabs__desc.font-m-normal-14.font-w-normal-16 *Includes business-only products.

                        
                        //.button.c-cta.c-btn__next 
                            +defaultButton({name: 'Next', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: "none"})
    .c-wrapper.CS0068.type-border
        .component.type-form
            .CS0068__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "About you")
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .container
                    .cs-form 
                        .cs-form__wrap 
                            // select case - country
                            .cmp-form
                                +csForm_Select({id: 'contry', label: 'Country', require: 'true', requireMsg: 'Country is required.', value_01: 'Type your country', value_02: 'Type your country' , class:"c-sdate-valid"})
                            // input case - country
                            //.cmp-form
                                label(for="contry").c-select-label.font-m-normal-16.font-w-normal-24 Country #[em.require *]#[span.sr-only Required Field]
                                input#contry.font-m-normal-16.font-w-normal-20.c-country-valid(type="text" required="required" aria-label="" placeholder="Type your country")
                                .c-warning.c-country-required Country is required.
                            .cmp-form
                                +csForm_Input({id: 'telephone', label: 'Telephone', type:"text", formDefalut: 'true', requireMsg: 'Telephone number is required.', invalidMsg: "Telephone number is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" ,info:'true', infoMsg:'Please input phone number without space. '})
                            .cmp-form
                                +csForm_Input({id: 'firstName', label: 'First name', type:"text", formDefalut: 'true', requireMsg: 'First name is required.', invalidMsg: "First name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" }).
                            .cmp-form
                                +csForm_Input({id: 'lastName', label: 'Last name', type:"text", formDefalut: 'true', requireMsg: 'Last name is required.', invalidMsg: "Last name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your last name" })

                            .cmp-form
                                +csForm_Input({id: 'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email address is required.', invalidMsg: "Email address is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address" })
                            .cmp-form
                                +csForm_Input({id: 'confirmEmail', label: 'Confirm email', type:"text", formDefalut: 'true', requireMsg: 'Confirm email account is required.', invalidMsg: "Confirm email account is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address again" })
                            .cmp-form


    .guide-text-option Non-Login - After selecting a category
    .c-wrapper.CS0068
        .component.type-accordion
            .CS0068__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Find my product")
                .c-accordion__body
                    .breadcrumb
                        .breadcrumb__wrap
                            p.cmp-breadcrumb__tit.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")

                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14i.font-w-normal-14i.swiper-wrapper
                                    +bcItem2({text:"Appliances"})
                                    +bcItem2({text:"Fridge freezers"})
                                    +bcItem2({text:"American style"})
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                        .c-selected-model-Num 
                            +printLazyPicture('https://via.placeholder.com/40x40/fff/000/?text=40x40', 'https://via.placeholder.com/64x64/fff/000/?text=64x64')
                            .c-selected-model-Info 
                                .font-m-normal-12.font-w-normal-16 Searched product
                                .c-serialNum.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-prdName.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                                .c-warrantyInfo.font-m-normal-14.font-w-normal-16 Warranty info
                                    span.c-hidden-mo :
                                    br.c-hidden-pc
                                    span Labor 12 months | Parts 12 months
                        button(type="button" aria-label="" role="button").c-btn-close 
                            img(src="../../assets/icon/icon-close-black-12-12.svg")
    .c-wrapper.CS0068.type-border
        .component.type-form
            .CS0068__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "About you")
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .container
                    .cs-form 
                        .cs-form__wrap 
                            // select case - country
                            .cmp-form
                                +csForm_Select({id: 'contry', label: 'Country', require: 'true', requireMsg: 'Country is required.', value_01: 'Type your country', value_02: 'Type your country' , class:"c-sdate-valid"})
                            // input case - country
                            //.cmp-form
                                label(for="contry").c-select-label.font-m-normal-16.font-w-normal-24 Country #[em.require *]#[span.sr-only Required Field]
                                input#contry.font-m-normal-16.font-w-normal-20.c-country-valid(type="text" required="required" aria-label="" placeholder="Type your country")
                                .c-warning.c-country-required Country is required.
                            .cmp-form
                                +csForm_Input({id: 'telephone', label: 'Telephone', type:"text", formDefalut: 'true', requireMsg: 'Telephone number is required.', invalidMsg: "Telephone number is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" ,info:'true', infoMsg:'Please input phone number without space. '}) 
                            .cmp-form
                                +csForm_Input({id: 'firstName', label: 'First name', type:"text", formDefalut: 'true', requireMsg: 'First name is required.', invalidMsg: "First name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" }).
                            .cmp-form
                                +csForm_Input({id: 'lastName', label: 'Last name', type:"text", formDefalut: 'true', requireMsg: 'Last name is required.', invalidMsg: "Last name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your last name" })
                            .cmp-form
                                +csForm_Input({id: 'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email address is required.', invalidMsg: "Email address is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address" })
                            .cmp-form
                                +csForm_Input({id: 'confirmEmail', label: 'Confirm email', type:"text", formDefalut: 'true', requireMsg: 'Confirm email account is required.', invalidMsg: "Confirm email account is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address again" })
                            .cmp-form


    .guide-text-option If there is a registered product when logging in
    .c-wrapper.CS0068
        .component.type-card__slide.type-card__slide--select.full
            .CS0068__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", h2, "Find my product")
                .carousel.panelcontainer
                    // block - carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="" role="group")
                        .cmp-carousel__content.swiper-wrapper
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(1)
                            +galleryItem(1)
                        +carouselPaginationUI
                        // button class added .c-viewMore-btn
                        .button.c-cta.c-viewMore-btn
                            +linkButton({type:"text", icon:true, name:'Select another registered product'})(data-link-destination="" role="dialog" data-link-name href="http://daum.net")
                P.searchBar__infoMsg.font-m-normal-14.font-w-normal-20 * After entering the model number, please select the product from the search result. (Enter key does not work)

                .searchbar
                    #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                        .searchBar__searchInner
                            form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                                span.fieldIcons__root
                                    span.fieldIcons__input
                                        input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Please type model number')
                                        button(type="button").c-button-delete delete button
                                    //- button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
                                    //-     span.icon__root
                                    //-         span.sr-only Search
                                p.message__root
                                .searchBar__SearchAutocompleteWrapper

                    .c-model-contents
                        a(tabindex="0" class="c-modal-open find-number font-m-normal-14 font-w-normal-16" aria-label="" aria-controls="CS0027" role="dialog") How to find my model number?
                .c-text-contents.c-accordion__body-text
                    +productCategorySelect({type:"page"})
                    .c-tabs__desc.font-m-normal-14.font-w-normal-16 *Includes business-only products.

                    
                // When there is a registered product when logging in - when selecting a registered product
                .component.c-selecting__prd 
                    .c-selected-registered-prd 
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/64x64/fff/000/?text=64x64')
                        .c-selected-model-Info 
                            .c-active-red.font-m-normal-12.font-w-normal-16 My product
                            .c-serialNum.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                            .c-prdName.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-warrantyInfo.font-m-normal-14.font-w-normal-16 Warranty info
                                span.c-hidden-mo :
                                br.c-hidden-pc
                                span Labor 12 months | Parts 12 months
                        button(type="button" aria-label="" role="button").c-btn-close 
                            img(src="../../assets/icon/icon-close-black-12-12.svg")
    .c-wrapper.CS0068.type-border
        .component.type-form
            .CS0068__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "About you")
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .container
                    .cs-form 
                        .cs-form__wrap 
                            // select case - country
                            .cmp-form
                                +csForm_Select({id: 'contry', label: 'Country', require: 'true', requireMsg: 'Country is required.', value_01: 'Type your country', value_02: 'Type your country' , class:"c-sdate-valid"})
                            // input case - country
                            //.cmp-form
                                label(for="contry").c-select-label.font-m-normal-16.font-w-normal-24 Country #[em.require *]#[span.sr-only Required Field]
                                input#contry.font-m-normal-16.font-w-normal-20.c-country-valid(type="text" required="required" aria-label="" placeholder="Type your country")
                                .c-warning.c-country-required Country is required.
                            .cmp-form
                                +csForm_Input({id: 'telephone', label: 'Telephone', type:"text", formDefalut: 'true', requireMsg: 'Telephone number  is required.', invalidMsg: "Telephone number is invalid.", class:"c-subject-rquired-valid", placeholder:"Type number only" }).

                            .cmp-form
                                +csForm_Input({id: 'firstName', label: 'First name', type:"text", formDefalut: 'true', requireMsg: 'First name is required.', invalidMsg: "First name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" }).
                            .cmp-form
                                +csForm_Input({id: 'lastName', label: 'Last name', type:"text", formDefalut: 'true', requireMsg: 'Last name is required.', invalidMsg: "Last name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your last name" })
                            .cmp-form
                                +csForm_Input({id: 'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email address is required.', invalidMsg: "Email address is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address" })
                            .cmp-form
                                +csForm_Input({id: 'confirmEmail', label: 'Confirm email', type:"text", formDefalut: 'true', requireMsg: 'Confirm email account is required.', invalidMsg: "Confirm email account is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address again" })
                            .cmp-form

    
    
    .guide-text-option CA
    .c-wrapper.CS0068.type-border
        .component.type-form
            .CS0068__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "About you")
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .container
                    .cs-form 
                        .cs-form__wrap 
                            .cmp-form
                                +csForm_Input({id: 'firstName', label: 'First name', type:"text", require: 'true', requireMsg: 'First name is required.', invalidMsg: "First name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" })
                            .cmp-form
                                +csForm_Input({id: 'lastName', label: 'Last name', type:"text", formDefalut: 'true', requireMsg: 'Last name is required.', invalidMsg: "Last name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your last name" })
                            .cmp-form
                                +csForm_Input({id: 'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email address is required.', invalidMsg: "Email address is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address" })
                            .cmp-form
                                +csForm_Input({id: 'confirmEmail', label: 'Confirm email', type:"text", formDefalut: 'true', requireMsg: 'Confirm email account is required.', invalidMsg: "Confirm email account is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address again" })
                                .c-warning.c-confirmEmail-notmatch Email and confirm email do not match.
                            .cmp-form
                                +csForm_Input({id: 'telePhone', label: 'Telephone phone', type:"text", formDefalut: 'true', info:'true', infoMsg:'Please input phone number without space.', requireMsg: 'Telephone phone is required.', invalidMsg: "Telephone phone is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your telephone number" })
                                //- .c-file-msg.font-m-normal-16.font-w-normal-16 
                            .cmp-form
                                +csForm_Input({id: 'mobilePhone', label: 'Mobile phone', type:"text", formDefalut: 'true', info:'true', infoMsg:'Please input phone number without space.', requireMsg: 'Mobile phone number is required.', invalidMsg: "Mobile phone number is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your mobile phone number" })
                                //- .c-file-msg.font-m-normal-16.font-w-normal-16 Please input phone number without space. 
                            .cmp-form
                                +csForm_Input({id: 'contry', label: 'Country', type:"text", formDefalut: 'true', class:"c-text-valid", placeholder:'Canada', disabled:"true"})         
                            .cmp-form



    
    .guide-text-option IN
    .c-wrapper.CS0068.type-border
        .component.type-form
            .CS0068__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "About you")
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .container
                    .cs-form 
                        .cs-form__wrap 
                            // select case - country
                            .cmp-form
                                +csForm_Input({id: 'contry', disabled:"true" ,label: 'Country', type:"text", formDefalut: 'true', requireMsg: 'contry is required.', invalidMsg: "contry is invalid.", class:"c-subject-rquired-valid", placeholder:"India" })           
                            .cmp-form
                                +csForm_Input({id: 'mobilePhone', label: 'Mobile phone', type:"text", formDefalut: 'true', requireMsg: 'Mobile phone number is required.', invalidMsg: "Mobile phone number is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your mobile phone number" })
                            .cmp-form
                                +csForm_Input({id: 'firstName', label: 'First name', type:"text", formDefalut: 'true', requireMsg: 'First name is required.', invalidMsg: "First name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" })
                            .cmp-form
                                +csForm_Input({id: 'lastName', label: 'Last name', type:"text", formDefalut: 'true', requireMsg: 'Last name is required.', invalidMsg: "Last name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your last name" })
                            .cmp-form
                                +csForm_Input({id: 'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email address is required.', invalidMsg: "Email address is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address" })
                            .cmp-form
                                +csForm_Input({id: 'confirmEmail', label: 'Confirm email', type:"text", formDefalut: 'true', requireMsg: 'Confirm email account is required.', invalidMsg: "Confirm email account is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address again" })
                                .c-warning.c-confirmEmail-notmatch Email and confirm email do not match.
                            .cmp-form
                                +csForm_Select({id: 'state', label: 'State', formDefalut: 'true', requireMsg: 'State is required.', value_01: 'Type your state', value_02: 'Type your state-2' , class:"c-sdate-valid"})
                            .cmp-form
                                +csForm_Input({id: 'city', label: 'City', type:"text", formDefalut: 'true', requireMsg: 'City is required.', invalidMsg: "City is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your city" })
                            .cmp-form


    .guide-text-option ES
    .c-wrapper.CS0068.type-border
        .component.type-form
            .CS0068__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-light-56 font-m-light-28", h2, "About you")
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .container
                    .cs-form 
                        .cs-form__wrap 
                            .cmp-form
                                +csForm_Input({id: 'firstName', label: 'First name', type:"text", formDefalut: 'true', requireMsg: 'First name is required.', invalidMsg: "First name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your first name" })
                            .cmp-form
                                +csForm_Input({id: 'lastName', label: 'Last name', type:"text", formDefalut: 'true', requireMsg: 'Last name is required.', invalidMsg: "Last name is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your last name" })
                            .cmp-form
                                +csForm_Input({id: 'email', label: 'Email', type:"text", formDefalut: 'true', requireMsg: 'Email address is required.', invalidMsg: "Email address is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address" })
                            .cmp-form
                                +csForm_Input({id: 'confirmEmail', label: 'Confirm email', type:"text", formDefalut: 'true', requireMsg: 'Confirm email account is required.', invalidMsg: "Confirm email account is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your email address again" })
                                .c-warning.c-confirmEmail-notmatch Email and confirm email do not match.
                            .cmp-form
                                +csForm_Input({id: 'contry', label: 'Country', type:"text", disabled:'true', formDefalut: 'true', class:"c-text-valid", placeholder:"Spain", disabled:"true"})                              
                            .cmp-form
                                +csForm_Input({id: 'telePhone', label: 'Telephone phone', type:"text", formDefalut: 'true', requireMsg: 'Telephone phone is required.', invalidMsg: "Telephone phone is invalid.", class:"c-subject-rquired-valid", placeholder:"Type your telephone number" })
                            .cmp-form

