extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug

block meta 
    - var componentId = "ST0034"
    - var componentName = "Vertical Selector"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [ 
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        '.c-list' : [
                            {
                                'name' : 'Column',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-vertical-selector--column2', 'remove' : 'c-vertical-selector--column3, c-vertical-selector--column4, c-vertical-selector--column5'},
                                    {'toggle' : false, 'add' : 'c-vertical-selector--column3', 'remove' : 'c-vertical-selector--column2, c-vertical-selector--column4, c-vertical-selector--column5'},
                                    {'toggle' : false, 'add' : 'c-vertical-selector--column4', 'remove' : 'c-vertical-selector--column2, c-vertical-selector--column3, c-vertical-selector--column5'},
                                    {'toggle' : false, 'add' : 'c-vertical-selector--column5', 'remove' : 'c-vertical-selector--column2, c-vertical-selector--column3, c-vertical-selector--column4'},
                                ]
                            },
                        ],
                    };

    mixin list-item
        li.c-vertical-selector__item
            // GA4
            a(href=`#` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")&attributes(attributes)
                // block : image
                .c-image
                    +printLazyImage(`https://via.placeholder.com/180x180/999999/333333`)
            
            //- block - cta
            .button.c-cta
                +defaultButton({name: 'Button Text', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: false})
            
    // Component Markup
    .c-wrapper.ST0034.margin-top.margin-bottom.bg-default
        .component
            .cmp-container

                // block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline
                        +headline("font-w-light-56 font-m-light-28", pass, "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean.")

                // block : list
                ul.c-list.c-vertical-selector.c-vertical-selector--column5
                    - for(var i=0; i<9; i++)
                        +list-item