mixin filterResult(count=12, banner=false, multi=false, useFlagFeatureIcon = true, countryName = '', useCount = false, useSort = false)
    .c-result-area
        if(useCount || useSort)
            .c-result-area__controls
                if(useCount)
                    .c-result-area__result.productcollection__results-count
                        span.sr-only Filter:
                        strong.c-result-area__count 30 
                        span &nbsp;Results
                if(useSort)
                    .c-result-area__sort
                        +formSelect("Sort by", "sort", "", false)
                            option(value="") Newest
                            option(value="") Most Popular
                            option(value="") Consumer Rating
        if(!multi && countryName =='DE')
            .c-result-area__product-list(id="resultTarget")
                // block - product list
                ul.c-product-list.productcollection__items
                    li.c-product-list__item.productcollection__item(data-cmp-data-layer="")
                        +productCard(
                            {
                                flag: ['New','Pre Order'],
                                compare: true,
                                wishlist: false,
                                modelid: 'OLED65C26LD',
                                sku: 'GSJV70PZTF',
                                ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                                gradeIs:true,
                                grade: 'a',
                                gradeBlock2: false,
                                review: true,
                                type:'inch',
                                groups:['55','66','77','55','66','77','55','66','77'],
                                youreko: false,
                                signature: false,                                
                                soldOut: false,
                                outOfStock: false,
                                discontinued: false,
                                prmRed: true,
                                promotion: "Promotion Red Text",
                                limited: false,
                                vip: false,
                                installment: true,
                                installmentTxt:[{txt:'Der niedrigste Preis der letzten 30 Tage',icon:''}],
                                membership: '€2.199,00',
                                repair: false,
                                omnibus : true,
                                Ab:[true],
                                ehf:false,
                                chpay:false,
                                vnpay:false,
                                jppay:false,
                                discountTxt:false,
                                lumpsum:false,
                                plInfoTxt:false,
                                priceValue:"€2.199,00",
                                priceAreaColumn:false,
                            }
                        )
                    li.c-product-list__item.productcollection__item(data-cmp-data-layer="")
                        +productCard(
                            {
                                flag: ['New','Pre Order'],
                                compare: true,
                                wishlist: false,
                                modelid: 'OLED65C26LD',
                                sku: 'GSJV70PZTF',
                                ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                                gradeIs:true,
                                grade: 'a',
                                gradeBlock2: false,
                                review: true,
                                type:'inch',
                                groups:['55','66','77','55','66','77','55','66','77'],
                                youreko: false,
                                signature: false,
                                soldOut: false,
                                outOfStock: false,
                                discontinued: false,
                                promotion: "Promotion Text",
                                limited: false,
                                vip: false,
                                installment: true,
                                installmentTxt:[{txt:'Der niedrigste Preis der letzten 30 Tage',icon:''}],
                                membership: '€2.199,00',
                                repair: false,
                                omnibus : true,
                                Ab:true,
                                ehf:false,
                                chpay:false,
                                vnpay:false,
                                jppay:false,
                                discountTxt:false,
                                lumpsum:false,
                                plInfoTxt:false,
                                priceValue:"€2.199,00",
                                priceAreaColumn:false,
                            }
                        )
                .c-result-area__more
                    +pagination
        else if(!multi && countryName =='BR')
            .c-result-area__product-list(id="resultTarget")
                // block - product list
                ul.c-product-list.productcollection__items
                    - for(var x = 0; x < 2; x++)
                        li.c-product-list__item.productcollection__item(data-cmp-data-layer="")
                            +productCard(
                                {
                                    flag: ['BEST'],
                                    compare: false,
                                    wishlist: false,
                                    modelid: 'OLED65C26LD',
                                    sku: 'GSJV70PZTF',
                                    ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                                    gradeIs:false,
                                    grade: 'a',
                                    gradeBlock2: false,
                                    review: true,
                                    youreko: false,
                                    signature: false,                                
                                    soldOut: false,
                                    outOfStock: false,
                                    discontinued: false,
                                    prmRed: true,
                                    promotion: "Promotion Red Text",
                                    limited: false,
                                    vip: false,                                
                                    membership: 'R$2.670,00',
                                    repair: false,
                                    Ab:false,
                                    ehf:false,
                                    chpay:false,
                                    discountTxt:true,
                                    lumpsum:true,
                                    lumpsumTxt:'No PIX 5% off',
                                    plInfoTxt:false,
                                    priceValue:"R$2.670,00",
                                    priceValueBold:true,
                                    installment: true,
                                    installmentTxt:[{txt:'À vista no cartão ou em até 12x s/juros',installmentNoButton: true}],
                                }
                            )
                        li.c-product-list__item.productcollection__item(data-cmp-data-layer="")
                            +productCard(
                                {
                                    flag: ['BETTER'],
                                    compare: false ,
                                    wishlist: false,
                                    modelid: 'OLED65C26LD',
                                    sku: 'GSJV70PZTF',
                                    ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                                    gradeIs:false,
                                    grade: 'a',
                                    gradeBlock2: false,
                                    review: true,
                                    youreko: false,
                                    signature: false,                                
                                    soldOut: false,
                                    outOfStock: false,
                                    discontinued: false,
                                    promotion: "Promotional info",
                                    limited: false,
                                    vip: false,                                
                                    membership: 'R$2.670,00',
                                    repair: false,
                                    Ab:false,
                                    ehf:false,
                                    chpay:false,
                                    discountTxt:true,
                                    lumpsum:true,
                                    lumpsumTxt:'No PIX 5% off',
                                    plInfoTxt:false,
                                    priceValue:"R$2.670,00",
                                    priceValueBold:true,
                                    installment: true,
                                    installmentTxt:[{txt:'À vista no cartão ou em até 12x s/juros',installmentNoButton: true}],
                                }
                            )
                        li.c-product-list__item.productcollection__item(data-cmp-data-layer="")
                            +productCard(
                                {
                                    flag: ['GOOD'],
                                    compare: false,
                                    wishlist: false,
                                    modelid: 'OLED65C26LD',
                                    sku: 'GSJV70PZTF',
                                    ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                                    gradeIs:false,
                                    grade: 'a',
                                    gradeBlock2: false,
                                    review: true,
                                    youreko: false,
                                    signature: false,                                
                                    soldOut: false,
                                    outOfStock: false,
                                    discontinued: false,
                                    prmRed: true,
                                    promotion: "Promotion Red Text",
                                    limited: false,
                                    vip: false,                                
                                    membership: 'R$2.670,00',
                                    repair: false,
                                    Ab:false,
                                    ehf:false,
                                    chpay:false,
                                    discountTxt:true,
                                    lumpsum:true,
                                    lumpsumTxt:'No PIX 5% off',
                                    plInfoTxt:false,
                                    priceValue:"R$2.670,00",
                                    priceValueBold:true,
                                    installment: true,
                                    installmentTxt:[{txt:'À vista no cartão ou em até 12x s/juros',installmentNoButton: true}],
                                }
                            )
                        li.c-product-list__item.productcollection__item(data-cmp-data-layer="")
                            +productCard(
                                {
                                    flag: [],
                                    compare: false,
                                    wishlist: false,
                                    modelid: 'OLED65C26LD',
                                    sku: 'GSJV70PZTF',
                                    ufn: 'American Fridge Freezer 635L Water & Ice Dispenser American Fridge Freezer 635L Water & Ice Dispenser',
                                    gradeIs:false,
                                    grade: 'a',
                                    gradeBlock2: false,
                                    review: true,
                                    youreko: false,
                                    signature: false,                                
                                    soldOut: false,
                                    outOfStock: false,
                                    discontinued: false,
                                    prmRed: true,
                                    promotion: "Promotion Red Text",
                                    limited: false,
                                    vip: false,                                
                                    membership: 'R$2.670,00',
                                    repair: false,
                                    Ab:false,
                                    ehf:false,
                                    chpay:false,
                                    discountTxt:true,
                                    lumpsum:true,
                                    lumpsumTxt:'No PIX 5% off',
                                    plInfoTxt:false,
                                    priceValue:"R$2.670,00",
                                    priceValueBold:true,
                                    installment: true,
                                    installmentTxt:[{txt:'À vista no cartão ou em até 12x s/juros',installmentNoButton: true}],
                                }
                            )
                .c-result-area__more
                    +pagination
        else
            .c-result-area__product-list(id="resultTarget")
                - for(var y = 0; y < 3; y++)
                    .c-result-area__category-name.font-w-semibold-28.font-m-semibold-26 Category Name
                    .c-result-area__multi
                        // block - product list
                        ul.c-product-list.productcollection__items
                            - all = count == 0 ? 6 : count;
                            - for(var x = 0; x < all; x++)
                                li.c-product-list__item.productcollection__item(data-cmp-data-layer="")
                                    if (x == 0)
                                        +productCard(
                                            {
                                                flag:[],
                                                useFlagFeatureIcon,
                                                signature: false,
                                                promotion: "",
                                                limited: true,
                                                vip: true,
                                                installment: true,
                                                membership: '£1,866.98',
                                                soldOut: false,
                                                outOfStock: false ,
                                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                                type:'color',
                                                groups:['HA_Black-Stainless-Steel', 'white', 'black', 'HA_Styler_Mirror', 'HA_REF_White','red','HE_RP4_Blue_Green'],
                                                sku:'GSJV70PZTF',
                                                modelid: 'MD07258328',
                                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                                gradeIs:true,
                                                grade:'f',
                                                review: true,
                                                repair: true,
                                                chpay:true,
                                                discount:true,
                                                lumpsum:true,
                                                plInfoTxt:true
                                            }
                                        )
                                    if (x == 1)
                                        +productCard(
                                            {
                                                flag:[],
                                                useFlagFeatureIcon,
                                                promotion: "",
                                                limited: false,
                                                vip: false,
                                                installment: false,
                                                membership: '£1,866.98',
                                                soldOut: false,
                                                outOfStock: false ,
                                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                                type:'color',
                                                groups:['white','black','HE_RP4_Burgundy'],
                                                sku:'GSJV70PZTF',
                                                modelid: 'MD07535404',
                                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                                gradeIs:true,
                                                grade:'f',
                                                review: true,
                                                chpay:false,
                                                discount:false,
                                                lumpsum:false,
                                                plInfoTxt:false
                                            }
                                        )
                                    if (x == 2)
                                        +productCard(
                                            {
                                                flag:["Pre Order"],
                                                useFlagFeatureIcon,
                                                promotion: "",
                                                limited: false,
                                                vip: false,
                                                installment: true,
                                                membership: '£1,866.98',
                                                soldOut: false,
                                                outOfStock: false ,
                                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                                type:'inch',
                                                groups:['55','66','77'],
                                                sku:'GSJV70PZTF',
                                                modelid: 'MD07535502',
                                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                                gradeIs:true,
                                                grade:'f',
                                                review: true,
                                                chpay:false,
                                                discount:false,
                                                lumpsum:false,
                                                plInfoTxt:false
                                            }
                                        )
                                    if (x == 3)
                                        +productCard(
                                            {
                                                flag:[],
                                                useFlagFeatureIcon,
                                                promotion: "",
                                                limited: false,
                                                vip: false,
                                                installment: true,
                                                membership: '£1,866.98',
                                                soldOut: false,
                                                outOfStock: false ,
                                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                                type:'inch',
                                                groups:['55','66','77','55','66','77','55','66','77'],
                                                sku:'GSJV70PZTF',
                                                modelid: 'MD07358328',
                                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                                gradeIs:true,
                                                grade:'f',
                                                review: true,
                                                chpay:false,
                                                discount:false,
                                                lumpsum:false,
                                                plInfoTxt:false
                                            }
                                        )

                        .c-result-area__more
                            +button({type:"box-outlined", color:"black", size:"medium", icon: true, name: "View all Promotion "})

mixin carousel-item-component(id, set) 
    - var bgColor = ["#ffffff", "#000000", "#333333", "#f6f3eb", "#f6f7f8", "#262626", "#e6e1d6"]
    - var index = Math.floor(Math.random() * 7);
    .c-wrapper(class=`${id}`)&attributes(attributes)
        .component
            .cmp-container(style=`background-color:${bgColor[index]};`)
                +hero-banner-case-select(set)

mixin carousel-nested-component(id, type = "", itemOption)
    .carousel.panelcontainer
        // block : carousel
        .cmp-carousel.swiper.c-carousel(data-cmp-autoplay="autoplay" data-cmp-timedelay="5000" data-cmp-autopause="true" style="--heroTimer:5s" data-cmp-data-layer="")&attributes(attributes)
            .cmp-carousel__content.swiper-wrapper
                - for (var i=0; i < itemOption.length; i++)
                    - var set = itemOption[i]
                    .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" data-title="Multi Door Fridge Freezers")
                        +carousel-item-component(id, set)(class=`${type}`)
            +hero-controls

mixin PD0055(option=false)
    if (option == 'selectMaxLength')
        .c-wrapper.PD0055.bg-default.no-crop
                .component.no-filter
                    .cmp-container
                        .c-product-selector
                            .c-text-contents
                                .title.c-text-contents__headline
                                    p.cmp-text.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Select your LG TV
                            .c-product-selector__wrapper 
                                .c-product-selector__form-box 
                                    +formSelect("TV Category", "test3", "TV Category", false)
                                        option(value="") QNED TV
                                        option(value="country1") QNED TV
                                        option(value="country2") QNED TV
                                        option(value="country3") QNED TV
                                    +formSelect("TV Model", "test3", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    +formSelect("Screen size", "test3", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    +formSelect("Subject 1", "Subject 1", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    +formSelect("Subject 2", "Subject 2", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    .c-product-selector__form-box__button
                                        +defaultButton({name: 'Find the proper model', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
                                .c-product-selector__box__img
                                    .image.c-image
                                        +printLazyImage('https://via.placeholder.com/240x240/999999/000000')    
                                    .c-text-contents.align-text-left
                                        .title.c-text-contents__bodycopy
                                            p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") QNED TVs are a revolutionary leap in the world of 21st century television from LG.
                        .productlist.productcollection
                            .productlist__container
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        p.cmp-text.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Recommended products
                                .c-category__root
                                    .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                        +filterResult(1, 'type-four-nine', false, true, 'BR', false, false)   
    else if (option == 'noData')
        .c-wrapper.PD0055.bg-default.no-crop
                .component.no-filter
                    .cmp-container
                        .c-product-selector
                            .c-text-contents
                                .title.c-text-contents__headline
                                    p.cmp-text.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Select your LG TV
                            .c-product-selector__wrapper 
                                .c-product-selector__form-box 
                                    +formSelect("TV Category", "test3", "TV Category", false)
                                        option(value="") QNED TV
                                        option(value="country1") QNED TV
                                        option(value="country2") QNED TV
                                        option(value="country3") QNED TV
                                    +formSelect("TV Model", "test3", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    +formSelect("Screen size", "test3", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    +formSelect("Subject 1", "Subject 1", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    +formSelect("Subject 2", "Subject 2", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    .c-product-selector__form-box__button
                                        +defaultButton({name: 'Find the proper model', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
                                .c-product-selector__box__img
                                    .image.c-image
                                        +printLazyImage('https://via.placeholder.com/240x240/999999/000000')    
                                    .c-text-contents.align-text-left
                                        .title.c-text-contents__bodycopy
                                            p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") QNED TVs are a revolutionary leap in the world of 21st century television from LG.
                        .productlist.productcollection--no-data
                            .c-no-data-wrap
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        p.cmp-text.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Recommended products
                                .c-no-data
                                    strong.font-w-normal-16.font-m-normal-16 There are no results.
    else 
        .c-wrapper.PD0055.bg-default.no-crop
                .component.no-filter
                    .cmp-container
                        .c-product-selector
                            .c-text-contents
                                .title.c-text-contents__headline
                                    p.cmp-text.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Select your LG TV
                            .c-product-selector__wrapper 
                                .c-product-selector__form-box 
                                    +formSelect("TV Category", "test3", "TV Category", false)
                                        option(value="") QNED TV
                                        option(value="country1") QNED TV
                                        option(value="country2") QNED TV
                                        option(value="country3") QNED TV
                                    +formSelect("TV Model", "test3", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    +formSelect("Screen size", "test3", "Select option", false)
                                        option(value="") Select option
                                        option(value="country1") Select option
                                        option(value="country2") Select option
                                        option(value="country3") Select option
                                    .c-product-selector__form-box__button
                                        +defaultButton({name: 'Find the proper model', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
                                .c-product-selector__box__img
                                    .image.c-image
                                        +printLazyImage('https://via.placeholder.com/240x240/999999/000000')    
                                    .c-text-contents.align-text-left
                                        .title.c-text-contents__bodycopy
                                            p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") QNED TVs are a revolutionary leap in the world of 21st century television from LG.
                        .productlist.productcollection
                            .productlist__container
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        p.cmp-text.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Recommended products
                                .c-category__root
                                    .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                        +filterResult(1, 'type-four-nine', false, true, 'BR', false, false)   