extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_pagination.pug

//- include ../_common/_carousel.pug
//- include ../_common/_video.pug
//- include ../_common/_hero-banner.pug
//- include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0004"
    - var componentName = "CS FAQ"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-warmgray'},
                                    {'toggle' : false, 'add' : 'bg-warmgray', 'remove' : 'bg-white'},
                                ]
                            }
                        ],

                    };

    mixin trigger(controlsId)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded="false" aria-controls=`${controlsId}` aria-labelledby=`${controlsId}-head`)
                span.c-accordion__button-text.expand.sr-only Button


    mixin contentsBody(useImg)
        // block - text contents
        .c-text-contents.c-accordion__body-text

            span.c-accordion__initial.font-w-normal-20.font-m-normal-16.font-semibold A.
            ul.text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-12
                li.cmp-text(data-cmp-data-layer="") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam similique tempore culpa aliquam itaque quis doloribus, fugiat, optio dolorum vero odio at atque repellat non, nulla numquam eaque quasi voluptas eos! Quae quidem dolorum temporibus dolore rerum. Possimus, esse quod.
            // block - cta
            //- .button.c-cta
            //-     +linkButton
        if useImg
            .image.c-image.c-accordion__body-image
                +printLazyImage("https://via.placeholder.com/1600x900/000/333/?text=Image", "")

    mixin pack(faq, useImg, controlsId)
        .c-accordion__box.js-accordion-handle-target(role='doc-qna')
            .c-accordion__head(id=`${controlsId}-head`)
                // SUPPORT FAQ EYEBROW ADDED
                span.c-accordion__head-flag.font-m-normal-12.font-w-normal-14 #{faq.eyebrow}
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-m-normal-16.font-w-normal-20 Q.
                    .text.c-text-contents__headline
                        .cmp-text.font-m-normal-16.font-w-normal-20(data-cmp-data-layer="") 
                            strong #{faq.headline} 
                +trigger(controlsId)
            .c-accordion__body(id=`${controlsId}`)
                +contentsBody(useImg)
    -
        const faqList = [
            {
                'eyebrow':'Delivery',
                'headline':'What should i do if the courier does not find me at home at the time of delivery?',
                'useImg':false
            },
            {
                'eyebrow':'Payment',
                'headline': 'What are the available payment methods?',
                'useImg':false
            },
            {
                'eyebrow':'Your orders',
                'headline': 'Do i need to be registered to make a purchase?',
                'useImg':false
            }
        ]

    mixin printTab(div, num, selected)
        if selected
            li.swiper-slide.cmp-tabs__tab.cmp-tabs__tab--active(href="#" role="presentation", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true")
                a(role="tab" aria-label="")
                    if block
                        block
        else 
            li.swiper-slide.cmp-tabs__tab(role="presentation", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false")
                a(role="tab" aria-label="")
                    if block
                        block

    mixin printTabPanel(div, num, selected)
        if selected 
            .c-tabs__tabpanel.c-tabs__tabpanel--active.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="")
                if block
                    block
        else 
            .c-tabs__tabpanel.cmp-tabs__tabpanel(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="")
                if block
                    block

    mixin pack2(useImg, controlsId)
        .c-accordion__box.js-accordion-handle-target
            .c-accordion__head
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-semibold Q.
                        span.c-accordion__head-flag.font-m-normal-14.font-w-semibold-18  Delivery

                    .text.c-text-contents__headline
                        .cmp-text.font-w-normal-20.font-m-normal-18(data-cmp-data-layer="") 
                            strong Do you have too many product to type each information?
                +trigger(controlsId)
            .c-accordion__body(id=`${controlsId}`)
                +contentsBody(useImg)
    
    mixin listLinkResetArticle(text)
        a(href="#")
            .c-list-link__eyebrow.font-m-normal-12.font-w-normal-14= text.eyebrow
            .c-list-link__head-text
                //- span.c-list-link__initial.font-m-normal-16.font-w-normal-20 Q.
                .c-list-link__headline.font-m-normal-16.font-w-normal-20= text.headline

    mixin listLinkArticles(list)
        .c-list-link(role="list")
            each set, index in list
                - var primaryItem = set.primary 
                .c-list-link__item(role="listitem", class=`${primaryItem ? "c-list__item--primary" : ""} ${index > lengthDesktop ? "hidden" : ""}`)
                    +listLinkArticleCard(set)
    
    mixin listLinkArticleCard({eyebrow, headline})
        +listLinkResetArticle({eyebrow, headline})

    .guide-text-type CS FAQ
    .guide-text-option All Case

    // Component Markup
    .c-wrapper.CS0004.type-text.margin-top.margin-bottom
        .component.type-accordion.type-tabs
            .CS0004__container
                // 20230309 change markup
                .c-header-wrap
                    // c-cs-headr, headline, bodybopy Optionally available. -> Delete (or hide) the tag
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                //20230628 uppercase change
                                +headline('font-w-light-56 font-m-light-28',h2,'Frequently asked questions')
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                    span Lorem ipsum dolor sit amet, Aenean commodo ligula
                    .button
                        //20230628 uppercase change
                        +defaultButton({name: 'View all', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                        
                .c-tabs.tabs.panelcontainer
                    .cmp-tabs(data-cmp-data-layer="" data-placeholder-text="false")
                        .c-tabs__inner.swiper
                            //20230628 uppercase change
                            ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist" aria-multiselectable="false")
                                +printTab(1, 1, true)
                                    h3 Your orders
                                +printTab(1, 2, false)
                                    h3 Changes to order
                                +printTab(1, 3, false)
                                    h3 Delivery
                                +printTab(1, 4, false)
                                    h3 Payment

                        +printTabPanel(1, 1, true)
                            .c-accordion.js-accordion
                                each faq, index in faqList
                                    - var controlsId = `faq-set-0${index}`; 
                                    +pack(faq, faq.useImg, controlsId)
                        +printTabPanel(1, 2, false)
                            p 2
                        +printTabPanel(1, 3, false)
                            .c-accordion.js-accordion
                                each faq, index in faqList
                                    - var controlsId = `faq-set-0${index}`; 
                                    +pack(faq, faq.useImg, controlsId)
                        +printTabPanel(1, 4, false)
                            p 4
                // 20230309 change markup
                // pagination
                +pagination

                // button
                // 20230308 button type modified
                .button.c-cta
                    //20230628 uppercase change
                    +linkButton({type:"text", color:"black", size:"large", name: "View more"})(role="toggle")

    .guide-text-option WIDE TAB - add class .type-tabs__wide

    .c-wrapper.CS0004.type-text.margin-top.margin-bottom
        // Add class when using widetab - type-tabs__wide
        .component.type-accordion.type-tabs.type-tabs__wide.full
            .CS0004__container
                // 20230309 change markup
                .c-header-wrap
                    // c-cs-headr, headline, bodybopy Optionally available. -> Delete (or hide) the tag
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Frequently asked questions')
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                    span Lorem ipsum dolor sit amet, Aenean commodo ligula
                    .button
                        +defaultButton({name: 'View all', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})

                .c-tabs.tabs.panelcontainer
                    .cmp-tabs(data-cmp-data-layer="" data-placeholder-text="false")
                        .c-tabs__inner.swiper
                            ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist" aria-multiselectable="false")
                                +printTab(2, 1, true)
                                    h3 Your orders
                                +printTab(2, 2, false)
                                    h3 Changes to order
                                +printTab(2, 3, false)
                                    h3 Delivery
                                +printTab(2, 4, false)
                                    h3 Payment

                        +printTabPanel(2, 1, true)
                            .c-accordion.js-accordion
                                each faq, index in faqList
                                    - var controlsId = `faq-set-0${index}`; 
                                    +pack(faq, faq.useImg, controlsId)
                        +printTabPanel(2, 2, false)
                            p 2
                        +printTabPanel(2, 3, false)
                            .c-accordion.js-accordion
                                each faq, index in faqList
                                    - var controlsId = `faq-set-0${index}`; 
                                    +pack(faq, faq.useImg, controlsId)
                        +printTabPanel(2, 4, false)
                            p 4

    .guide-text-option NONE TAB

    .c-wrapper.CS0004.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0004__container
                // 20230309 change markup
                .c-header-wrap
                    // c-cs-headr, headline, bodybopy Optionally available. -> Delete (or hide) the tag
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Frequently asked questions')
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                    span Lorem ipsum dolor sit amet, Aenean commodo ligula
                    .button
                        +defaultButton({name: 'View all', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                        
                .c-accordion.js-accordion
                    each faq, index in faqList
                        - var controlsId = `faq-set-0${index}`; 
                        +pack(faq, faq.useImg, controlsId)

    .guide-text-option NONE EYEBROW, NONE QA MARKS - add class .type-accordion__offEye or tag delete(hide)

    .c-wrapper.CS0004.type-text.margin-top.margin-bottom
        .component.type-accordion.type-accordion__offEye
            .CS0004__container
                // Hiding when not using headcopy 
                //- .c-header-wrap
                //-     // c-cs-headr, headline, bodybopy Optionally available. -> Delete (or hide) the tag
                //-     .c-cs-header
                //-         // block : text-contents
                //-         .c-text-contents
                //-             .title.c-text-contents__headline
                //-                 +headline('font-w-light-56 font-m-light-28',h2,'Frequently Asked Questions')
                //-             .text.c-text-contents__bodycopy
                //-                 .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                //-                     span Lorem ipsum dolor sit amet, Aenean commodo ligula
                //-     .button
                //-         +button({name:"View All", size:'medium'})
                .c-accordion.js-accordion
                    each faq, index in faqList
                        - var controlsId = `faq-set-0${index}`; 
                        +pack(faq, faq.useImg, controlsId)
    
    .guide-text-option Link Type

    // add link type
    .c-wrapper.CS0004.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0004__container
                // Hiding when not using headcopy 
                //- .c-header-wrap
                //-     // c-cs-headr, headline, bodybopy Optionally available. -> Delete (or hide) the tag
                //-     .c-cs-header
                //-         // block : text-contents
                //-         .c-text-contents
                //-             .title.c-text-contents__headline
                //-                 +headline('font-w-light-56 font-m-light-28',h2,'Frequently Asked Questions')
                //-             .text.c-text-contents__bodycopy
                //-                 .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                //-                     span Lorem ipsum dolor sit amet, Aenean commodo ligula
                //-     .button
                //-         +button({name:"View All", size:'medium'})
                +listLinkArticles([
                    {eyebrow: 'Operation', headline : 'How to change your LG refrigerator water filter?'},
                    {eyebrow: 'Installation', headline : 'Ice has bad taste resolving bad tasting ice or water'},
                    {eyebrow: 'Troubleshooting', headline : 'How to use LG Side-by-Side refrigerator ice and water dispenser?'},
                ])
