extends ../_common/_layout.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta
    - var componentId = "ST0001"
    - var componentName = "Hero Image"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding.
    // Please do not use it during development.
    .guide
        .grid-1600
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        'body' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'dark-theme'},
                                ]
                            }
                        ],
                        // width 옵션을 개발에 맞춰 수정 함
                        // Modify the location of ST0001 options to match AEM
                        '.ST0001' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                        '.c-hero-banner' : [
                            {
                                'name' : 'Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'}
                                ]
                            },
                            {
                                'name' : 'Text Color - mobile ',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white-mobile', 'remove' : 'font-black-mobile'},
                                    {'toggle' : false, 'add' : 'font-black-mobile', 'remove' : 'font-white-mobile'}
                                ]
                            }
                        ],
                        '.c-hero-banner .c-floating-contents__main-contents .c-text-contents' : [
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide'},
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow'},
                                ]
                            }
                        ],
                        '.c-hero-banner .c-floating-contents__main-contents .c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            },
                        ],

                        // type : default
                        //- '.type-default' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-default .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical - mobile',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top-mobile', 'remove' : 'c-hero-banner--main-pos-middle-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-middle-mobile'},
                                ]
                            },
                        ],

                        // type : PDP
                        //- '.type-pdp' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             // 22.11.04 - added missing option : width-content
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-content, width-narrow', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-content, width-wide', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-narrow, width-wide', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-pdp .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                        ],

                        // type : thin
                        //- '.type-thin' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-thin .c-hero-banner' : [
                            //- {
                            //-     'name' : 'Width',
                            //-     'buttons' : [ 
                            //-         {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                            //-         {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                            //-         {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                            //-     ]
                            //- },
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                        ],
                        '.type-thin .c-hero-banner.c-hero-banner--main-pos-center' : [
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                        ],
                        
                        // type : promotion
                        //- '.type-promotion' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-promotion .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical - mobile',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top-mobile', 'remove' : 'c-hero-banner--main-pos-middle-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-middle-mobile'},
                                ]
                            },
                        ],

                        // type : bg-image
                        //- '.type-bg-image' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-         ]
                        //-     },
                        //- ],
                        '.type-bg-image .c-hero-banner' : [                            
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            }
                        ],
                        

                        // type : image 
                        //- '.type-image' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-image .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical - mobile',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top-mobile', 'remove' : 'c-hero-banner--main-pos-middle-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-middle-mobile'},
                                ]
                            },
                        ],
                        //- '.type-image .c-hero-banner .c-floating-contents__main-contents .c-text-contents' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide'},
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow'},
                        //-         ]
                        //-     }
                        //- ],

                        // type : blog 
                        //- '.type-blog' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-blog .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            }
                        ],

                        // type : icon block
                        // the following options for "type:icon-block"
                        '.type-icon-block' : [
                            {
                                'name' : 'Shape',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'shape-horizontal', 'remove' : 'shape-vertical'},
                                    {'toggle' : false, 'add' : 'shape-vertical', 'remove' : 'shape-horizontal'},
                                ]
                            },
                            {
                                'name' : 'Text Block Vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'text-vertical-top', 'remove' : 'text-vertical-middle, text-vertical-bottom'},
                                    {'toggle' : false, 'add' : 'text-vertical-middle', 'remove' : 'text-vertical-top, text-vertical-bottom'},
                                    {'toggle' : false, 'add' : 'text-vertical-bottom', 'remove' : 'text-vertical-top, text-vertical-middle'},
                                ]
                            },
                            {
                                'name' : 'Text Block Vertical - Mobile',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'text-vertical-top--mobile', 'remove' : 'text-vertical-middle--mobile, text-vertical-bottom--mobile'},
                                    {'toggle' : false, 'add' : 'text-vertical-middle--mobile', 'remove' : 'text-vertical-top--mobile, text-vertical-bottom--mobile'},
                                    {'toggle' : false, 'add' : 'text-vertical-bottom--mobile', 'remove' : 'text-vertical-top--mobile, text-vertical-middle--mobile'},
                                ]
                            },
                        ],
                        '.type-icon-block .c-hero-banner' : [
                            {
                                'name' : 'Text Block Horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Icon block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-top', 'remove' : 'c-hero-banner--sub-pos-middle, c-hero-banner--sub-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-middle', 'remove' : 'c-hero-banner--sub-pos-top, c-hero-banner--sub-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-bottom', 'remove' : 'c-hero-banner--sub-pos-top, c-hero-banner--sub-pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Icon block Horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-left', 'remove' : 'c-hero-banner--sub-pos-center, c-hero-banner--sub-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-center', 'remove' : 'c-hero-banner--sub-pos-left, c-hero-banner--sub-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-right', 'remove' : 'c-hero-banner--sub-pos-left, c-hero-banner--sub-pos-center'},
                                ]
                            },
                        ],

                        // type : blog icon block
                        '.type-blog-icon-block' : [
                            {
                                'name' : 'Shape',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'shape-horizontal', 'remove' : 'shape-vertical'},
                                    {'toggle' : false, 'add' : 'shape-vertical', 'remove' : 'shape-horizontal'},
                                ]
                            },
                            {
                                'name' : 'Text Block Vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'text-vertical-top', 'remove' : 'text-vertical-middle, text-vertical-bottom'},
                                    {'toggle' : false, 'add' : 'text-vertical-middle', 'remove' : 'text-vertical-top, text-vertical-bottom'},
                                    {'toggle' : false, 'add' : 'text-vertical-bottom', 'remove' : 'text-vertical-top, text-vertical-middle'},
                                ]
                            },
                            {
                                'name' : 'Text Block Vertical - Mobile',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'text-vertical-top--mobile', 'remove' : 'text-vertical-middle--mobile, text-vertical-bottom--mobile'},
                                    {'toggle' : false, 'add' : 'text-vertical-middle--mobile', 'remove' : 'text-vertical-top--mobile, text-vertical-bottom--mobile'},
                                    {'toggle' : false, 'add' : 'text-vertical-bottom--mobile', 'remove' : 'text-vertical-top--mobile, text-vertical-middle--mobile'},
                                ]
                            },
                        ],
                        '.type-blog-icon-block .c-hero-banner' : [
                            {
                                'name' : 'Text Block Horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Icon block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-top', 'remove' : 'c-hero-banner--sub-pos-middle, c-hero-banner--sub-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-middle', 'remove' : 'c-hero-banner--sub-pos-top, c-hero-banner--sub-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-bottom', 'remove' : 'c-hero-banner--sub-pos-top, c-hero-banner--sub-pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Icon block Horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-left', 'remove' : 'c-hero-banner--sub-pos-center, c-hero-banner--sub-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-center', 'remove' : 'c-hero-banner--sub-pos-left, c-hero-banner--sub-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-right', 'remove' : 'c-hero-banner--sub-pos-left, c-hero-banner--sub-pos-center'},
                                ]
                            },
                        ],

                        // icon block options
                        '.c-spec-info .c-icon-block-contents' : [
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-transparent'},
                                    {'toggle' : false, 'add' : 'bg-transparent', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                ]
                            },
                            {
                                'name' : 'Text color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'},
                                ]
                            },
                            {
                                'name' : 'Type',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'type-a', 'remove' : 'type-b, type-c'},
                                    {'toggle' : false, 'add' : 'type-b', 'remove' : 'type-a, type-c'},
                                    {'toggle' : false, 'add' : 'type-c', 'remove' : 'type-a, type-b'},
                                ],
                            },
                        ],
                        '.c-spec-info .c-text-contents' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            },
                        ],
                    };

    include ./ST0001-inc.pug

    //- .guide-text-option Full Hero - Sample
    //- .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
    //-     .component.type-default
    //-         .cmp-container
    //-             +hero-banner-case-image({
    //-                 width : "wide",
    //-                 heroType : "default",
    //-                 dateType : "none",
    //-                 useEyebrow : true,
    //-                 cta : "box",
    //-                 textAlign : "left",
    //-                 headlineSize : 'font-w-light-80 font-m-light-36',
    //-                 headline : "Lorem ipsum dolor sit amet consectetur.", 
    //-                 bodycopy : "",
    //-             })
    .guide-text-type Type - Default
    //- .guide-text-option Available options - 1. CTA( button | text link ), 2. Video, 3. Animation, 4. Countdown, 5. Schedule display usability
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-default
            .cmp-container
                +hero-banner-case-image({
                    width : "wide",
                    heroType : "default",
                    dateType : "none",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headlineSize : 'font-w-light-80 font-m-light-36',
                    headline : "Lorem ipsum dolor sit amet consectetur.", 
                    bodycopy : "",
                })
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-default
            .cmp-container
                +hero-banner-case-video({
                    width : "narrow",
                    heroType : "default",
                    dateType : "countdown",
                    useEyebrow : true,
                    cta : "text",
                    textAlign : "left",
                    headline : "Lorem ipsum dolor sit amet consectetur.", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?",
                })
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-default
            .cmp-container
                // 22.12.02 - apply mobile source registration.
                +hero-banner-case-animation({
                    width : "content",
                    heroType : "default",
                    dateType : "none",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "center",
                    headline : "Lorem ipsum", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?",
                    useMobileSource : true, 
                    useMute : true,
                })
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-default
            .cmp-container
                +hero-banner-case-video({
                    width : "narrow",
                    heroType : "default",
                    dateType : "bigCountDown",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headlineSize : 'font-w-semibold-56 font-m-semibold-28',
                    headline : "Lorem ipsum dolor sit amet consectetur.", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?",
                })
    //- Type - timeSale
    //- [START] 2024-04-02 REMOVE : remove ST0001 > timeSale
    //- .guide-text-type Type - timeSale 
    //- .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
    //-     .component.type-default
    //-         .cmp-container
    //-             +hero-banner-case-image({
    //-                 width : "narrow",
    //-                 heroType : "default",
    //-                 dateType : "rangeTime",
    //-                 useEyebrow : false,
    //-                 cta : "single",
    //-                 textAlign : "left",
    //-                 headlineSize : 'font-w-light-80 font-m-light-36',
    //-                 headline : "Lorem ipsum dolor sit amet posuere.", 
    //-                 bodycopy : "00-00:00:00",
    //-             })
    //- [END] 2024-04-02 REMOVE : remove ST0001 > timeSale
    // Type - PDP
    .guide-text-type Type - PDP 
    //- .guide-text-option Available options - 1. CTA( button | text link ), 2. Video, 3. Animation, 4. Nugget
    // PDP type do not use carousel.
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-pdp
            .cmp-container
                +hero-banner-case-image({
                    width : "narrow",
                    heroType : "pdp",
                    dateType : "none",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "center",
                    headlineSize : 'font-w-light-80 font-m-light-36',
                    headline : "", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit.",
                })
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-pdp
            .cmp-container
                +hero-banner-case-video({
                    width : "narrow",
                    heroType : "pdp",
                    dateType : "none",
                    useEyebrow : true,
                    cta : "text",
                    textAlign : "left",
                    headline : "", 
                    bodycopy : "",
                })
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-pdp
            .cmp-container
                +hero-banner-case-animation({
                    width : "narrow",
                    heroType : "pdp",
                    dateType : "none",
                    useEyebrow : false,
                    cta : "box",
                    textAlign : "right",
                    headline : "", 
                    bodycopy : "",
                })

    // Type - Thin
    .guide-text-type Type - Thin
    //- .guide-text-option Available options - 1. CTA( button | text link ), 2. Video, 3. Animation, 4. Countdown, 5. Schedule display usability
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-thin
            .cmp-container
                +hero-banner-case-image({
                    width : "wide",
                    heroType : "thin",
                    dateType : "none",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headline : "", 
                    bodycopy : "",
                })
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-thin
            .cmp-container
                +hero-banner-case-video({
                    width : "narrow",
                    heroType : "thin",
                    dateType : "countdown",
                    useEyebrow : true,
                    cta : "text",
                    textAlign : "center",
                    headline : "", 
                    bodycopy : "",
                })
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-thin
            .cmp-container
                // 22.12.02 - apply mobile source registration.
                +hero-banner-case-animation({
                    width : "content",
                    heroType : "thin",
                    dateType : "range",
                    useEyebrow : false,
                    cta : "box",
                    textAlign : "center",
                    headline : "", 
                    bodycopy : "",
                    useMobileSource : true,
                })
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-thin
            .cmp-container
                +hero-banner-case-video({
                    width : "narrow",
                    heroType : "thin countdown",
                    dateType : "bigCountDown",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headlineSize : 'font-w-semibold-56 font-m-semibold-28',
                    headline : "Lorem ipsum dolor sit amet consectetur.", 
                    bodycopy : "",
                })

    // Type - Promotion hero
    .guide-text-type Type - Promotion hero 
    //- .guide-text-option Available options - 1. Schedule display usability
    // Promotion type do not use carousel.
    - var set = {width : "narrow", heroType : "promotion", dateType : "range", useEyebrow : false, cta : "none", textAlign : "left", headline : "", headlineSize : 'font-w-light-80 font-m-light-36', bodycopy : ""}
    
    .c-wrapper.ST0001.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-promotion
            .cmp-container
                +hero-banner-case-image(set)

    // 22.11.11 - from ST0055
    // Type - BG Image
    .guide-text-type Type - BG Image
    //- .guide-text-option Available options - 1. Video, 2. Animation 
    
    - var commonSet = {width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : true, cta : "none", textAlign : "center"}
    .c-wrapper.ST0001.subtract-color.shape-horizontal.text-vertical-top.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-bg-image
            .cmp-container
                +hero-banner-case-image({...commonSet, caseSelect : "image", headlineSize : 'font-w-light-80 font-m-light-36'})
    .c-wrapper.ST0001.subtract-color.shape-horizontal.text-vertical-top.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-bg-image
            .cmp-container
                +hero-banner-case-video({...commonSet, caseSelect : "video"})
    .c-wrapper.ST0001.subtract-color.shape-horizontal.text-vertical-top.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-bg-image
            .cmp-container
                +hero-banner-case-animation({...commonSet, caseSelect : "animation"})

    // Type - Image
    .guide-text-type Type - Image
    //- .guide-text-option Available options - 1. CTA( button | text link ), 2. Video, 3. Animation
    
    - var commonSet = {width : "narrow", heroType : "image", dateType : "none"}
    .c-wrapper.ST0001.subtract-color.shape-horizontal.text-vertical-top.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-image
            .cmp-container
                +hero-banner-case-image({...commonSet, caseSelect : "image", useEyebrow : true, cta : "box", textAlign : "right", headlineSize : 'font-w-light-80 font-m-light-36'})
    .c-wrapper.ST0001.subtract-color.shape-horizontal.text-vertical-top.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-image
            .cmp-container
                +hero-banner-case-video({...commonSet, caseSelect : "video", useEyebrow : true, cta : "text", textAlign : "left", headline : "Lorem, ipsum dolor sit amet consectetur adipisicing elit."})
    .c-wrapper.ST0001.subtract-color.shape-horizontal.text-vertical-top.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-image
            .cmp-container
                // 22.12.02 - apply mobile source registration.
                +hero-banner-case-animation({...commonSet, caseSelect : "animation", useEyebrow : false, cta : "box", textAlign : "center", useMobileSource : true})

    // Type - Blog
    .guide-text-type Type - Blog
    //- .guide-text-option Available options - 1. Video
    // blog type is no use carousel
    - var set = {caseSelect : "video", width : "narrow", heroType : "blog", dateType : "at time", useEyebrow : false, bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?", cta : "none", textAlign : "center"}
    .c-wrapper.ST0001.subtract-color.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-blog
            .cmp-container
                +hero-banner-case-video(set)

    // Type - Icon block
    .guide-text-type Type - Icon block 
    //- .guide-text-option Available options - 1. CTA( button | text link ), 2. Schedule display usability
    // Icon block type is no use carousel
    - var set = {width : "spec", heroType : "default", dateType : "range", useEyebrow : false, cta : "box", textAlign : "left", headline : "", bodycopy : ""}
    .c-wrapper.ST0001.subtract-color.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-icon-block.text-vertical-top.shape-horizontal
            .cmp-container
                +hero-banner-case-spec(set)
                    //- spec
                    .c-wrapper.ST0020 
                        .component
                            .cmp-container
                                +spec-info({initialClass : "bg-white font-black", mobileType : "swiper"})

    // Type 9. Blog Icon block
    .guide-text-type Type 9. Blog Icon block 
    //- .guide-text-option Available options - 1. Video
    // Icon block type is no use carousel
    - var set = {useVideo: true, width : "spec", heroType : "default", dateType : "at time", useEyebrow : false, cta : "none", textAlign : "center"}
    .c-wrapper.ST0001.subtract-color.bg-default.margin-top.margin-bottom.width-narrow
        .component.type-blog-icon-block.text-vertical-top.shape-horizontal
            .cmp-container
                +hero-banner-case-spec(set)
                    //- spec
                    .c-wrapper.ST0020 
                        .component
                            .cmp-container
                                +spec-info({initialClass : "bg-white font-black", mobileType : "swiper"})

    //- WAI
    .guide-text-option Img Of Text - Sample
    .c-wrapper.ST0001.margin-top.margin-bottom
        .component.type-default.width-wide
            .cmp-container(style="background-color:#808080")
                +hero-banner-case-image({
                    width : "wide",
                    heroType : "default",
                    dateType : "none",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headlineSize : 'font-w-light-36 font-m-light-36',
                    headline : "If the image has text Handling aria-hidden in images", 
                    bodycopy : "Provides an additional image description textfield",
                    imgOfText : true,
                })