extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug

block meta 
    - var componentId = "MB000I"
    - var componentName = "Reset Password (Complete)"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet" href=componentId+".css")

block scripts

mixin myLinkBtnContent(params)
    - let data = {...params}
    .my-link-content
        .c-text-contents
            .title.c-text-contents__headline.my-link-content__title
                +headline("font-w-light-56 font-m-light-28", "h3", data.title)
            .text.c-text-contents__bodycopy.my-link-content__desc
                p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") !{data.desc}
        if data
            .button.c-cta(class=`${data.margin ? data.margin : ''}`)
                //- +linkButton({type:"box-outlined", color:"black", size:"medium", name: data.buttonFirst})
                +defaultButton({name: data.buttonFirst, wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: true})
                //- if data.buttonSecond
                //-     +linkButton({type:`${data.buttonSecondType ? 'box' : 'box-outlined'}`, color:`${data.buttonSecondType == "box"? 'red' : 'black'}`, size:"medium", name: data.buttonSecond})

mixin MB000I
    .MB000I
        .my-component__wrap
            .my-component.no-crop
                .c-text-contents
                    .title.c-text-contents__headline
                        +headline("font-w-light-56 font-m-light-28", h3, "My LG Account")

        .my-component
            .my-reset-complete
                +myLinkBtnContent({
                    title: "Your password has been reset successfully.",
                    desc: "Sign in to your My LG account with your new password.",
                    buttonFirst: "Sign In",
                })
block content
    // Component Markup
    .c-wrapper
        .component
            .fluid-container
                +MB000I

