extends ../_common/_layout.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_hero-banner.pug
include ../_common/_image.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "PD0041"
    - var componentName = "Hot & New/Best"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        'body' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'dark-theme'},
                                ]
                            }
                        ],
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                            {
                                'name' : 'height',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'height-w-550', 'remove' : 'height-w-360'},
                                    {'toggle' : false, 'add' : 'height-w-360', 'remove' : 'height-w-550'},
                                ]
                            },
                        ],
                        '.c-carousel .c-hero-banner' : [
                            {
                                'name' : 'Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'},
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                ]
                            }
                        ],
                        '.c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                        ],
                        '.c-hero-badge' : [
                            {
                                'name' : 'color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-badge--white', 'remove' : 'c-hero-badge--black, c-hero-badge--red'},
                                    {'toggle' : false, 'add' : 'c-hero-badge--black', 'remove' : 'c-hero-badge--white, c-hero-badge--red'},
                                    {'toggle' : false, 'add' : 'c-hero-badge--red', 'remove' : 'c-hero-badge--white, c-hero-badge--black'},
                                ]
                            }
                        ],
                        '.c-hero-banner__contents' : [
                            {
                                'name' : 'Icon(align olny left)',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'has-icon'},
        
                                ]
                            },
                        ],
                    };

    include ./PD0041-inc.pug

    .guide-text-option Column 1
    +PD0041('COLUMN1')

    .guide-text-option Column 2
    +PD0041('COLUMN2')

    .guide-text-option Column 2 (sample)
    +PD0041('COLUMN2S')

    .guide-text-option Column 3
    +PD0041('COLUMN3')

    .guide-text-option Column 3 (sample)
    +PD0041('COLUMN3S')