extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "CS0092"
    - var componentName = "Magazine"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content                         
    
    // Component Markup
    .guide-text-type Magazine
    .c-wrapper.CS0092.type-text
        .component
            .CS0092__container
                .container
                    .c-cs-header
                        label.font-m-normal-16.font-w-normal-20.c-cs-header-tit Search by keyword
                        .searchbar
                            #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                                .searchBar__searchInner
                                    form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                                        span.fieldIcons__root
                                            span.fieldIcons__input
                                                input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Enter the keyword')
                                                button(type="button").c-button-delete delete button
                                            button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
                                                span.icon__root
                                                    span.sr-only Search
                                        p.message__root
                                        .searchBar__SearchAutocompleteWrapper
                    .c-cs-content
                        .c-list 
                            - for (var x = 0; x < 10; x++)
                                a(href="").c-list__item
                                    +printLazyImage('https://via.placeholder.com/328x218/999999/333333')
                                    dl 
                                        dt.font-m-light-24.font-w-light-36 How to make sure your home is ready for summer
                                        dd.font-m-normal-12.font-w-normal-16 31/03/2022 
                        +pagination
                    