extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "PR0013"
    - var componentName = "Member Days_Hot Deal"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            //- {
                            //-     'name' : 'BG Color',
                            //-     'buttons' : [
                            //-         {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray'},
                            //-         {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-default'},
                            //-         {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-default'},
                            //-     ]
                            //- },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    mixin product-carousel-list(params)
        - var num = 40
        - var options = {handlerStyle : null,  ...params}
        .c-product-list.c-product-list--carousel(class=`${options.handlerStyle}`)
            .carousel.panelcontainer
                // block - carousel
                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                    .cmp-carousel__content.swiper-wrapper
                        +productItemSlide( 
                            {
                                flag:['Limited to 100 units','19% Off'], 
                                flagHighlight: true,
                                promotion: "",
                                installment: true,
                                installmentTxt:[{txt:'€52.5 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto  €2.099.98',icon:''}],
                                membership: '£1,866.98',
                                soldOut: false,
                                outOfStock: false ,
                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                type:'inch',
                                groups:['55','66','77','55','66','77','55','66','77'],
                                sku:'GSJV70PZTF', 
                                modelid: 'MD07553044',
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                gradeIs:true,
                                gradeBlock2: true,
                                grade:'a',
                                repair: false,
                                Ab: false,
                                review: true,
                                wishlist:false,
                                ehf: false,
                                lumpsum:true,
                                plInfoTxt:false,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag:['Limited to 100 units','33% Off'], 
                                flagHighlight: true,
                                promotion: "",
                                installment: true,
                                installmentTxt:[{txt:'€52.5 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto  €2.099.98',icon:''}],
                                membership: '£1,866.98',
                                soldOut: true,
                                outOfStock: false ,
                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                type:'inch',
                                groups:['55','66','77','55','66','77','55','66','77'],
                                sku:'GSJV70PZTF', 
                                modelid: 'MD07553044',
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                gradeIs:true,
                                gradeBlock2: true,
                                grade:'a',
                                repair: false,
                                Ab: false,
                                review: true,
                                wishlist:false,
                                ehf: false,
                                lumpsum:true,
                                plInfoTxt:false,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag:['Pre Order'], 
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                soldOut: false,
                                outOfStock: false ,
                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                type:'color',
                                groups:['HA_Black-Stainless-Steel', 'white', 'black', 'HA_Styler_Mirror', 'HA_REF_White','red','HE_RP4_Blue_Green'],
                                sku:'GSJV70PZTF', 
                                modelid: 'MD07535502',
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                grade:'f',
                                review: true,
                                wishlist:false,
                                onlyBuynowCta: true,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag:['New','Pre Order'],  
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                soldOut: false,
                                outOfStock: true , 
                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                type:'color',
                                groups:['white','black','HE_RP4_Burgundy'],
                                sku:'GSJV70PZTF', 
                                modelid: 'MD07536888',
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                grade:'f',
                                review: true,
                                wishlist:false,
                            }
                        )
                        - if(num > 4)
                            - for(var x = 0; x < num-4; x++)
                                +productItemSlide( 
                                    {
                                        flag:['New','Pre Order'], 
                                        promotion: "",
                                        installment: true,
                                        membership: '£1,866.98',
                                        soldOut: false,
                                        outOfStock: false , 
                                        imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                        type:'color',
                                        groups:['white','black','HE_RP4_Burgundy'],
                                        sku:'GSJV70PZTF', 
                                        modelid: 'MD07536888',
                                        ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                        grade:'f',
                                        review: true,
                                        wishlist:false,
                                    }
                                )

                    .c-carousel__handler
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"prev"})
                        +carouselPagination
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"next"})

    .guide-text-option Option : default - type1 (PC:4X1 / MO:1X1)

    .c-wrapper.PR0013.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                //- +component-title-area({
                //-     alignment:"",
                //-     headline : {
                //-         text : "Exciting Offers for You",
                //-     }
                //- })(class="c-region-header--vacate-side")
                .PR0013__render
                    +product-carousel-list({handlerStyle:"js-product-list"})
                    .btn-bottom-container
                        +defaultButton({name:'Membership Info',wSize: 'large', mSize: 'medium',buttonStyle: 'default',isButton:false})(href="#none")

    .guide-text-option Option : type2 (PC:4X2 / MO:1X1)

    .c-wrapper.PR0013.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                .PR0013__render
                    +product-carousel-list({handlerStyle:"multirow2"})
                    .btn-bottom-container
                        +defaultButton({name:'Membership Info',wSize: 'large', mSize: 'medium',buttonStyle: 'default',isButton:false})(href="#none")

    .guide-text-option Option : type3 (PC:4X3 / MO:1X1)

    .c-wrapper.PR0013.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                .PR0013__render
                    +product-carousel-list({handlerStyle:"multirow3"})
                    .btn-bottom-container
                        +defaultButton({name:'Membership Info',wSize: 'large', mSize: 'medium',buttonStyle: 'default',isButton:false})(href="#none")



block modal
