extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug

block meta 
    - var componentId = "CS0090"
    - var componentName = "CS Vertical Selector"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js")
    script(src=componentId+".js" type="module")


block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'contents border',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'border-top', 'remove' : 'border-bottom'},
                                    {'toggle' : false, 'add' : 'border-bottom', 'remove' : 'border-top'},
                                ]
                            },
                        ],
                        
                        '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],

                        '.c-code-list__wrap' : [
                            {
                                'name' : 'Box Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left'},
                                ]
                            }
                        ],   
                        
                    };

    -
        const channelList = [
            {
                'title':'Shopee shopping',
                'pc_img':'../../mocks/CS0090/channels_1_w.png',
                'mo_img':'../../mocks/CS0090/channels_1_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'Shopee mall',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'YAHOO super mall',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'YAHOO mall',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'MOMO shopping network',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'PChome 24h shopping',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'486 group buying network',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'Yidiantong international shopping network',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'Shopee shopping',
                'pc_img':'../../mocks/CS0090/channels_1_w.png',
                'mo_img':'../../mocks/CS0090/channels_1_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'Shopee mall',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'YAHOO super mall',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'YAHOO mall',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'MOMO shopping network',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'PChome 24h shopping',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'486 group buying network',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'Yidiantong international shopping network',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            },
            {
                'title':'Yidiantong international shopping network',
                'pc_img':'../../mocks/CS0090/channels_2_w.png',
                'mo_img':'../../mocks/CS0090/channels_2_m.png',
                'global_img':'../../mocks/CS0090/channels_1_global.png',
                'global_icon':'../../assets/icon/icon-refrigerator-64-64.svg'
            }
        ]

    -
        const channelList2 = [
            {
                'title':'Москва',
                'pc_img':'../../mocks/CS0090/localmap_1_w.png',
                'mo_img':'../../mocks/CS0090/localmap_1_m.png'
            },
            {
                'title':'Волгоград',
                'pc_img':'../../mocks/CS0090/localmap_2_w.png',
                'mo_img':'../../mocks/CS0090/localmap_2_m.png'
            },
            {
                'title':'Казань',
                'pc_img':'../../mocks/CS0090/localmap_3_w.png',
                'mo_img':'../../mocks/CS0090/localmap_3_m.png'
            },
            {
                'title':'Нижний Новгород',
                'pc_img':'../../mocks/CS0090/localmap_4_w.png',
                'mo_img':'../../mocks/CS0090/localmap_4_m.png'
            },
            {
                'title':'Омск',
                'pc_img':'../../mocks/CS0090/localmap_5_w.png',
                'mo_img':'../../mocks/CS0090/localmap_5_m.png'
            },
            {
                'title':'Ростов-на-Дону',
                'pc_img':'../../mocks/CS0090/localmap_6_w.png',
                'mo_img':'../../mocks/CS0090/localmap_6_m.png'
            },
            {
                'title':'Самара',
                'pc_img':'../../mocks/CS0090/localmap_7_w.png',
                'mo_img':'../../mocks/CS0090/localmap_7_m.png'
            },
            {
                'title':'Санкт-Петербург',
                'pc_img':'../../mocks/CS0090/localmap_8_w.png',
                'mo_img':'../../mocks/CS0090/localmap_8_m.png'
            },
            {
                'title':'Уфа',
                'pc_img':'../../mocks/CS0090/localmap_9_w.png',
                'mo_img':'../../mocks/CS0090/localmap_9_m.png'
            },
            {
                'title':'Хабаровск',
                'pc_img':'../../mocks/CS0090/localmap_10_w.png',
                'mo_img':'../../mocks/CS0090/localmap_10_m.png'
            },
            {
                'title':'Воронеж',
                'pc_img':'../../mocks/CS0090/localmap_11_w.png',
                'mo_img':'../../mocks/CS0090/localmap_11_m.png'
            },
            {
                'title':'Краснодар',
                'pc_img':'../../mocks/CS0090/localmap_12_w.png',
                'mo_img':'../../mocks/CS0090/localmap_12_m.png'
            },
            {
                'title':'Новосибирск',
                'pc_img':'../../mocks/CS0090/localmap_13_w.png',
                'mo_img':'../../mocks/CS0090/localmap_13_m.png'
            },
            {
                'title':'Владивосток',
                'pc_img':'../../mocks/CS0090/localmap_14_w.png',
                'mo_img':'../../mocks/CS0090/localmap_14_m.png'
            },
            {
                'title':'Минск',
                'pc_img':'../../mocks/CS0090/localmap_15_w.png',
                'mo_img':'../../mocks/CS0090/localmap_15_m.png'
            },
        ]
    
    -
        const channelList3 = [
            {
                'title':'Garantia de Fábrica de 6 meses',
                'pc_img':'../../mocks/CS0090/localIcon_1_w.png',
                'mo_img':'../../mocks/CS0090/localIcon_1_m.png'
            },
            {
                'title':'Parcelamento no Cartão de Crédito',
                'pc_img':'../../mocks/CS0090/localIcon_2_w.png',
                'mo_img':'../../mocks/CS0090/localIcon_2_m.png'
            },
            {
                'title':'Segurança na Instalação',
                'pc_img':'../../mocks/CS0090/localIcon_3_w.png',
                'mo_img':'../../mocks/CS0090/localIcon_3_m.png'
            },
            {
                'title':'Qualidade Garantida LG',
                'pc_img':'../../mocks/CS0090/localIcon_4_w.png',
                'mo_img':'../../mocks/CS0090/localIcon_4_m.png'
            },
        ]

    mixin codeList(type)
        each list, index in channelList
            case type
                when 1
                    .c-code-list
                        .c-code-list__inner                     
                            .c-code-list__img  
                                +printLazyImage(`${list.pc_img}`)

                            .c-code-list__txt 
                                .c-code-list__title.font-m-normal-16.font-w-normal-20 #{list.title}
                                .button.c-cta
                                    +defaultButton({name: 'Button text', wSize: 'small', mSize: 'small', buttonStyle: 'default'}) Learn more
                when 2
                    .c-code-list
                        .c-code-list__inner                     
                            .c-code-list__img 
                                +printLazyImage(`${list.global_img}`)
                
                when 3
                    .cmp-carousel__item.swiper-slide(tabindex="0")
                        .c-code-list
                            .c-code-list__inner                     
                                .c-code-list__img 
                                    +printLazyImage(`${list.global_icon}`)

                                .c-code-list__txt 
                                    .c-code-list__title.font-m-normal-16.font-w-normal-20 #{list.title}

                when 4
                    .c-code-list
                        .c-code-list__inner                     
                            .c-code-list__img 
                                +printLazyImage(`${list.pc_img}`)

                            .c-code-list__txt 
                                .c-code-list__title.font-m-normal-16.font-w-normal-20 #{list.title}
    
    
    mixin codeList2(type)
        each list, index in channelList2
            case type
                when 1
                    .c-code-list
                        .c-code-list__inner                     
                            .c-code-list__img  
                                +printLazyImage(`${list.pc_img}`)

                            .c-code-list__txt 
                                .c-code-list__title.font-m-normal-16.font-w-normal-20 #{list.title}
    
    mixin codeList3(type)
        each list, index in channelList3
            case type
                when 1
                    .c-code-list
                        .c-code-list__inner                     
                            .c-code-list__img  
                                +printLazyImage(`${list.pc_img}`)

                            .c-code-list__txt 
                                .c-code-list__title.font-m-normal-16.font-w-normal-20 #{list.title}

    mixin carouselPaginationUI 
        // 23.02.14 modified markup - added ".c-carousel__handler--dial", ".c-carousel__handler--away-from-carousel"
        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"prev"})
            +carouselPagination
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"next"})                          
    
    // Component Markup
    .guide-text-type Type 1 – Link Type
    .c-wrapper.CS0090.type-text
        .component
            .CS0090__container
                .cmp-container
                    .c-cs-header
                        .c-text-contents
                            .title.c-text-contents__headline
                                //- .cmp-text-eyebrow.font-w-normal-16.font-m-normal-12 text eyebrow
                                +headline('font-w-light-56 font-m-light-28',h2,'Lorem Ipsum is simply dummy text of the printing and typesetting')
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                    strong Lorem ipsum dolor
                                    span Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            
                        .button.c-cta.c-viewMore-btn
                            //- +linkButton({type:"box", color:'white',size:'large', icon:true, name:'Sign In'})
                            .block
                                +defaultButton({name: 'Button text', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(href="https://www.lg.com/uk")
                                +defaultButton({name: 'Button text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})(href="https://www.lg.com/uk")
                            .block
                                +textButton({type:"box", color:'white',size:'large', icon:true, name:'Button text'})
                                +textButton({type:"box", color:'white',size:'large', icon:true, name:'Button text'})
                            
                .c-code-list__wrap
                    - for (var x = 0; x < 1; x++)
                        +codeList(1)

                .c-cs-header
                    .c-text-contents
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                span Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            
    // Component Markup
    .guide-text-type Type 1 – Link Type (Non CTA)
    .c-wrapper.CS0090.type-text
        .component
            .CS0090__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Online sales channels')
                .c-code-list__wrap
                    - for (var x = 0; x < 1; x++)
                        +codeList(1)
    
    .guide-text-type Type 2 – Thumbnail Type
    .c-wrapper.CS0090.type-text
        .component
            .CS0090__container
                .c-code-list__wrap.type2
                    - for (var x = 0; x < 1; x++)
                        +codeList(2)
    
    //- .guide-text-type global - Brazil (BR)
    //- .c-wrapper.CS0090.type-text
    //-     .component.type-img__slide.type-home
    //-         .CS0090__container
    //-             .c-cs-header
    //-                 // block : text-contents
    //-                 .c-text-contents
    //-                     .title.c-text-contents__headline
    //-                         +headline('font-w-light-56 font-m-light-28',h2,'Additional Support')

    //-             .c-gallery.c-gallery-container
    //-                     .carousel.panelcontainer
    //-                         .cmp-carousel.swiper.c-carousel.c-carousel--gallery.second-swiper(data-cmp-data-layer="")
    //-                             .cmp-carousel__content.swiper-wrapper.c-code-list__wrap.type2.type-icon
    //-                                 - for (var x = 0; x < 1; x++)
    //-                                         +codeList(3)
    //-                             +carouselPaginationUI
    
    // Component Markup
    //- .guide-text-type Center Type
    //- .c-wrapper.CS0090.type-text
    //-     .component
    //-         .CS0090__container
    //-             .c-code-list__wrap.type-local
    //-                 - for (var x = 0; x < 1; x++)
    //-                     +codeList(4)
                        
    // Component Markup
    .guide-text-type LG Signature service
    .c-wrapper.CS0090.type-text
        .component
            .CS0090__container
                .c-code-list__wrap.type-center
                    - for (var x = 0; x < 1; x++)
                        +codeList2(1)
    // Component Markup
    .guide-text-type Installs your product
    .c-wrapper.CS0090.type-text
        .component
            .CS0090__container
                .c-code-list__wrap.type-local
                    - for (var x = 0; x < 1; x++)
                        +codeList3(1)
                        