extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_toast.pug
include ../_common/_pop-msg.pug
include ../../components/MB000L/MB000L-inc.pug

block meta 
    - var componentId = "MB000L"
    - var componentName = "Sign up - terms agreement"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet" href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")
    //- recaptcha
    //- script(src="https://www.google.com/recaptcha/api.js?render=explicit&onload=onRecaptchaLoadCallback" async)
    
    //- script(type='text/javascript').
    //-     onRecaptchaLoadCallback = function(){
    //-         var clientId = grecaptcha.render('security-box', {
    //-             'sitekey': '6Le3NdgaAAAAAK8TXN0_DHQfP-FtiHoGCdiK1QQT',
    //-             'badge': 'inline',
    //-             'size': 'invisible',
    //-         });
    //-         grecaptcha.ready(function() {
    //-             grecaptcha.execute(clientId, {action: 'homepage'})
    //-             .then(function(token) {
    //-                 // token
    //-                 document.getElementById('g-recaptcha').value = token;
    //-             });
    //-         });
    //-     }

block content
    // Component Markup
    .guide-text-type signup 약관동의
    +MB000L('all')
    //- .guide-text-type signup 약관동의 이탈리아 (IT)
    //- +MB000L('it')   
    //- .guide-text-type signup 약관동의 스페인 (ES)
    //- +MB000L('es')   
    //- .guide-text-type signup 약관동의 중국 (CN)
    //- +MB000L('cn')   
    //- .guide-text-type signup 약관동의 터키 (TR)
    //- +MB000L('tr')   
    //- .guide-text-type signup 약관동의 캐나다 (CA_EN, CA_FR)
    //- +MB000L('ca')   
    //- .guide-text-type signup 약관동의 홍콩 (HK, HK_EN)
    //- +MB000L('hk')   
    //- .guide-text-type signup 약관동의 사우디_en (SA_EN)
    //- +MB000L('sa')   
