mixin formCheckbox(label, name, val, id, count = "false", disabled = false, required)
    .c-checkbox-item&attributes(attributes)
        label.checkbox(for=`${id}`)
            if(disabled)
                input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`, disabled="disabled")&attributes(attributes)
            else 
                input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`)&attributes(attributes)
            if(label)
                span.label= label
                    -if(count >= 0 & count != "false") // for filter
                        sup.count= count 
                    if required
                        em.c-required *
                            span.sr-only Required fields
            else 
                if block 
                    span.label
                        block

mixin MB000L(option=false)
    if option == 'all'
        .component.MB000L
            .my-check
                .button.custom-item
                    +formCheckbox("", "name", "val1_all", 'checkId2_all', count="false")
                        span I agree with the terms of use.
                            em.c-required *
                                span.sr-only Required fields
                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read more', href:"/uk/lge-terms/",})(target='_blank')
                .button.custom-item
                    +formCheckbox('', "name", "val1_all", `checkId3_all`, count="false")
                        span I have read and understand the privacy policy and cookie policy.
                            em.c-required *
                                span.sr-only Required fields
                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read more', href:"/uk/privacy/",})(target='_blank')
                .button
                    +formCheckbox('Receipt of marketing messages (optional)', "name", "val1", `checkId4`, count="false")
                div.my-check--receipt-text I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE 
                    +linkButton({type: 'text', color: 'black', underline: true, name: 'Privacy Policy.', href:"/uk/privacy?tabType=empMktPolicy/",})(target='_blank')                               
               
    else if option == 'it'
        .c-wrapper.MB000L.margin-bottom
            .component
                .fluid-container
                    .my-component
                        p.my-form-required.font-w-normal-16.font-m-normal-12
                            em.c-required * 
                                span.sr-only Required fields
                            | Required fields 
                        .my-formbox
                            .my-check                            
                                .button.custom-item
                                    +formCheckbox("", "name", "val1_it", 'checkId1_it', count="false")
                                        span Accetto i Termini d’uso.
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Leggi di più', href:"/uk/lge-terms/",})(target='_blank')
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_it", `checkId2_it`, count="false")
                                        span Ho letto e compreso la Politica sulla privacy e la Politica sui cookie.
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Leggi di più', href:"/uk/privacy/",})(target='_blank')                                        
                                .button.js-optional-check
                                    +formCheckbox('Ricezione di messaggi di marketing (Opzionale)', "name", "val3_it", `checkId3_it`, count="false")
                                    div.my-check--receipt-text.w-full Acconsento ad essere contattato da LGE e dai suoi affiliati in merito alle ultime novità e alle offerte speciali tramite e-mail, SMS, notifica push, telefonata, siti di social media e/o altre forme di messaggi elettronici. Posso cambiare idea in qualsiasi momento seguendo le istruzioni fornite mediante ogni canale di comunicazione, incluso, ma non solo, l'e-mail e in conformità
                                        +linkButton({type: 'text', color: 'black', underline: true, name: 'con l’Informativa sulla privacy', href:"/uk/privacy?tabType=empMktPolicy/",})(target='_blank')       
                                        span di LGE.    
                                        .optional-check
                                            +formCheckbox('', "name", "val4_it", `checkId4_it`, count="false")
                                                span Dò il consenso al trattamento dei dati personali per analisi di abitudini, interessi e preferenze al fine di elaborare dei profili e ricevere comunicazioni e offerte mirate sulla base degli stessi (ad es. offerte e buoni sconto personalizzati come lo sconto in occasione del compleanno
                                            +formCheckbox('', "name", "val5_it", `checkId5_it`, count="false")
                                                span Dò il consenso al trattamento dei dati personali per la comunicazione a terzi partner commerciali per finalità di marketing tramite email
                 
    else if option == 'es'
        .c-wrapper.MB000L.margin-bottom
            .component
                .fluid-container
                    .my-component
                        p.my-form-required.font-w-normal-16.font-m-normal-12
                            em.c-required * 
                                span.sr-only Required fields
                            | Required fields 
                        .my-formbox
                            .my-check-terms
                                .my-check-terms-item
                                    .my-check-terms-title Responsible
                                    .my-check-terms-content LG Electronics España S.A.U. (en adelante, « LGEES »).<br /> NIF: A-81304487<br />Domicilio : Calle Chile 1, 28290, Las Rozas, Madrid.

                                .my-check-terms-item
                                    .my-check-terms-title Finalidades
                                    .my-check-terms-content
                                        ol 
                                            li Gestión de la creación de cuenta en LG.com/es, así como de la relación contractual como usuario registrado en dicha página web.
                                            li Gestionar las incidencias y/o reparaciones de su producto LG, así como facilitar información sobre el estado de tramitación de las mismas, en el caso de haberlo solicitado.
                                            li Gestionar la garantía de su producto LG y la reparación del mismo siempre y cuando la garantía esté vigente y usted haya solicitado una reparación del mismo.
                                            li Gestionar el registro de su producto LG, para poder solicitar información sobre la garantía del producto y obtener guías y manuales del mismo, y contactar con el servicio postventa.
                                            li En caso de que haya marcado la casilla correspondiente, tratamiento información del interesado obtenida por fuentes propias, esto es, acciones realizadas ante LGEES, y obtenida por fuentes de terceros, esto es, acciones realizadas ante entidades independientes que podamos tener colaboración para (i) fines estadísticos con el objeto de poder mejorar nuestros productos y servicios y (ii), en caso de que haya otorgado su consentimiento para recibir comunicaciones comerciales, para personalizar las mismas con base en dicho perfil.
                                            li En caso de que haya marcado expresamente la casilla correspondiente, gestionar el envío de comunicaciones electrónicas, telemáticas o mediante medios convencionales, así como a través de las redes sociales con las que el interesado cuente con información relativa a productos, servicios, promociones, ofertas, eventos o noticias de LG.
                                    
                                .my-check-terms-item
                                    .my-check-terms-title Legitimation
                                    .my-check-terms-content
                                        ol 
                                            li Ejecución de la relación contractual.
                                            li Ejecución de la relación contractual.
                                            li Obligación legal
                                            li Consentimiento
                                            li Consentimiento
                                            li Consentimiento

                                .my-check-terms-item
                                    .my-check-terms-title Derechos
                                    .my-check-terms-content Acceso, rectificación, oposición, no ser objeto de decisiones automatizadas, supresión, limitación, portabilidad y revocación del consentimiento.

                                .my-check-terms-item
                                    .my-check-terms-title Información adicional
                                    .my-check-terms-content Puede consultar información adicional y detallada sobre nuestra Política de Privacidad pinchando aquí
                            .my-check                            
                                .button.custom-item
                                    +formCheckbox("", "name", "val1_es", 'checkId1_es', count="false")
                                        span Acepto los Términos de Uso de LGE Service
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Leer más', href:"/uk/lge-terms/",})(target='_blank')
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_es", `checkId2_es`, count="false")
                                        span He leído y comprendo la Política de privacidad y Política de Cookies.
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Leer más', href:"/uk/privacy/",})(target='_blank')                                        
                                .button
                                    +formCheckbox('Recepción de mensajes de marketing (Opcional)', "name", "val3_es", `checkId3_es`, count="false")
                                    div.my-check--receipt-text.w-full Doy consentimiento a ser contactado por LGE y sus afiliados acerca de las últimas noticias y ofertas especiales por correo electrónico, SMS, notificaciones push, llamadas telefónicas, sitios de medios sociales y/o otra forma de mensajes electrónicas. Puedo cambiar de opinión en cualquier momento siguiendo las instrucciones dadas en cada canal de comunicación incluyendo pero sin limitarse al correo electrónico y de conformidad con la
                                        +linkButton({type: 'text', color: 'black', underline: true, name: 'Política de Privacidad', href:"/uk/privacy?tabType=empMktPolicy/",})(target='_blank')       
                                        span di LGE.    
                                
                                .button.custom-item
                                    +formCheckbox('', "name", "val4_es", `checkId4_es`, count="false")
                                        span Deseo que LG trate información obtenida por medios propios, así como procedente de terceras entidades con las que LG pueda tener colaboración con el fin de realizar un perfil para, por un lado, fines estadísticos con el fin de mejorar los servicios y productos y, por otro lado, en caso de que haya autorizado la recepción de comunicaciones comerciales, para personalizar las mismas con base en dicho perfil. (opcional)
                                                                   
                   
    
    else if option == 'cn'
        .c-wrapper.MB000L.margin-bottom
            .component
                .fluid-container
                    .my-component
                        p.my-form-required.font-w-normal-16.font-m-normal-12
                            em.c-required * 
                                span.sr-only Required fields
                            | Required fields 
                        .my-formbox
                            .my-check                            
                                .button.custom-item
                                    +formCheckbox("", "name", "val1_cn", 'checkId1_cn', count="false")
                                        span 我同意使用条款
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: '阅读政策', href:"/uk/lge-terms/",})(target='_blank')
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_cn", `checkId2_cn`, count="false")
                                        span 我已阅读并理解隐私政策和 Cookie 政策。
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: '阅读政策', href:"/uk/privacy/",})(target='_blank')                                        
                                .button
                                    +formCheckbox('', "name", "val3_cn", `checkId3_cn`, count="false")
                                        span 数据跨境传输声明
                                            em.c-required *
                                                span.sr-only Required fields
                                    div.my-check--receipt-text.w-full 为确保LG集团的全球统一管理以及为实现《隐私政策》中所述的目的，《隐私政策》中提及的您的个人信息将由LGE传输出境并存储在中国境外的系统中。在将数据转移出境前，我们将遵守适用的中国个人信息保护相关法律法规的规定。您可以通过我们的《隐私政策》所载明的联系方式联系LGE以行使您的数据主体权利。
                                    div.my-check--receipt-text.w-full 您还可以通过下表查阅其他境外接收方的名称和联系方式、处理目的和方式、处理的个人信息类型以及您行使权利的方式和程序。
                                    div.my-check--receipt-text.w-full.bg-gray 第三方数据接收方名称 : LG Electronics Inc.<br />
                                        p 联系方式及所在国家/地区 : contact.lgaccount@lge.com 韩国<br />提供的个人信息和数据 : 一般个人信息(姓名，手机号码，电子邮箱，IP地址及设备IMEI信息)、敏感个人信息(联系地址)<br />理目的 : 用户信息数据全球统一使用同一个数据库，数据库载体服务器部署在韩国，因此涉及到数据跨境传输 处理方式 : 接口加密传输
                                        p 第三方数据接收方名称 : [Google]<br />联系方式及所在国家/地区 : https://support.google.com/google-ads/gethelp 美国<br />提供的个人信息和数据 : 哈希加密的用户号码、App操作系统版本、App使用信息<br />处理目的 : 改善App运行方式<br />处理方式 : 通过服务器发送
                                .button
                                    +formCheckbox('接收营销信息（可选）', "name", "val4_cn", `checkId4_cn`, count="false")
                                    div.my-check--receipt-text.w-full 本人同意接收LGE 及其附属公司通过电子邮件、短信、推送通知、电话、社交媒体网站和/或其他形式的电子信息提供的产品或服务的最新消息及特别优惠。本人可以随时通过各通讯平台（包括但不限于电子邮件）中的说明并依据 LGE 私隐政策 变更上述决定。
                  
    else if option == 'tr'
        .c-wrapper.MB000L.margin-bottom
            .component
                .fluid-container
                    .my-component
                        p.my-form-required.font-w-normal-16.font-m-normal-12
                            em.c-required * 
                                span.sr-only Required fields
                            | Required fields 
                        .my-formbox
                            .my-check                            
                                .button.custom-item
                                    +formCheckbox("", "name", "val1_tr", 'checkId1_tr', count="false")
                                        span Kullanım Koşullarını kabul ediyorum
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Daha Fazla Bilgi', href:"/uk/lge-terms/",})(target='_blank')
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_tr", `checkId2_tr`, count="false")
                                        span Gizlilik İlkesini ve Çerez İlkesini okudum ve anladım.
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Daha Fazla Bilgi', href:"/uk/privacy/",})(target='_blank')                                        
                                .button
                                    +formCheckbox('Verilerin Uluslararası Aktarımı', "name", "val3_tr", `checkId3_tr`, count="false")
                                    div.my-check--receipt-text.w-full Gizlilik Politikasını ve Genel Kullanım koşulları kapsamında kişisel verilerimin ürün ve hizmetlere yönelik bilgi verilmesi, etkinlik, tanıtım, pazarlama, kampanya faaliyetlerinin yürütülmesi ve pazarlama analizi çalışmaları yapılması amacıyla işlenmesine, iş ortakları ile paylaşılmasına ve yurtdışına aktarılmasına izin veriyorum.
                                .button
                                    +formCheckbox('Pazarlama mesajlarının alınması (İsteğe bağlı)', "name", "val4_tr", `checkId4_tr`, count="false")
                                    div.my-check--receipt-text.w-full I LGE ve onun bağlı kuruluşlarının en son haberler ve özel teklifler hakkında e-posta, SMS, anlık bildirim, telefon çağrısı, sosyal medya siteleri ve/ya diğer elektronik ileti biçimleri yoluyla benimle iletişime geçmesine izin veriyorum. E-posta dâhil ancak bununla sınırlı olmamak üzere, her iletişim kanalında sağlanan talimatları izleyerek ve LGE Gizlilik Politikasına uygun olarak fikrimi herhangi bir zaman değiştirebilirim.                            
                                        
                                    
    else if option == 'ca'
        .c-wrapper.MB000L.margin-bottom
            .component
                .fluid-container
                    .my-component
                        .my-formbox
                            .my-check                            
                                //- .button.custom-item
                                //-     +formCheckbox("", "name", "val1_ca", 'checkId1_ca', count="false")
                                //-         span 14 years old or older.
                                //-             em.c-required *
                                //-                     span.sr-only Required fields
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_ca", `checkId2_ca`, count="false")
                                        span I agree with the Terms of Use.
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read more', href:"/uk/privacy/",})(target='_blank')                                        
                                .button.custom-item
                                    +formCheckbox('', "name", "val3_ca", `checkId3_ca`, count="false")
                                        span I have read and understand the Privacy Policy and Cookie Policy.
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read more', href:"/uk/privacy/",})(target='_blank')                                        
                                .button
                                    +formCheckbox('Receipt of marketing messages(Optional)', "name", "val4_ca", `checkId4_ca`, count="false")
                                    div.my-check--receipt-text.w-full I consent to being contacted by *LG Electronics, Inc. and **LG Electronics Canada, Inc. about the latest news and special offers by email, SMS, push notification and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE 
                                        +linkButton({type: 'text', color: 'black', underline: true, name: 'Privacy Policy', href:"/uk/privacy/",})(target='_blank')                                        
                            p.add-comment You can access both of your sites using different languages through single sign in.
                        .my-form-etc
                            ul 
                                li *LG Electronics Inc. – LG Twin tower, 128 Yeoui—daero, Yeongdeungpo-gu, Seoul, Republic of Korea
                                li **LG Electronics Canada, Inc. – 20 Norelco Drive, North York, Ontario M9L 2X6, Canada. 
                                    a(href="http://www.lg.com/ca_en") www.lg.com/ca_en                
                 
                    .my-component
                        .my-formbox
                            .my-check                            
                                //- .button.custom-item
                                //-     +formCheckbox("", "name", "val1_ca2", 'checkId1_ca2', count="false")
                                //-         span 14 ans ou plus.
                                //-             em.c-required *
                                //-                     span.sr-only Required fields
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_ca2", `checkId2_ca2`, count="false")
                                        span J’accepte les conditions générales d’utilisation
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read more', href:"/uk/privacy/",})(target='_blank')                                        
                                .button.custom-item
                                    +formCheckbox('', "name", "val3_ca2", `checkId3_ca2`, count="false")
                                        span Je confirme avoir lu et compris la Politique de confidentialité et la Politique en matière de cookies.
                                            em.c-required *
                                                    span.sr-only Required fields
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read more', href:"/uk/privacy/",})(target='_blank')                                        
                                .button
                                    +formCheckbox('Réception de messages publicitaires (facultatif)', "name", "val4_ca2", `checkId4_ca2`, count="false")
                                    div.my-check--receipt-text.w-full Je consens à ce que *LG Electronics Inc. et **LG Electronics Canada, Inc. communiquent avec moi au sujet des nouveautés et des offres spéciales par courriel, par message texte, par notification poussée, ou par toute autre forme de message électronique. Je peux changer d’avis à tout moment en suivant les directives fournies dans chaque voie de communication, y compris, mais sans s’y limiter, les courriels, et conformément à lapolitique de confidentialité de LGE.
                                        +linkButton({type: 'text', color: 'black', underline: true, name: 'Privacy Policy', href:"/uk/privacy/",})(target='_blank')                                        
                            p.add-comment Vous pouvez accéder à nos deux sites dans différentes langues grâce à l’inscription unique.
                        .my-form-etc
                            ul 
                                li *LG Electronics Inc. – LG Twin tower, 128 Yeoui—daero, Yeongdeungpo-gu, Seoul, Republic of Korea
                                li **LG Electronics Canada, Inc. – 20 Norelco Drive, North York, Ontario M9L 2X6, Canada. 
                                    a(href="http://www.lg.com/ca_fr") www.lg.com/ca_fr           
                                    
    
    else if option == 'hk'
        .c-wrapper.MB000L.margin-bottom
            .component
                .fluid-container
                    .my-component
                        .my-formbox
                            .my-check                            
                                .button.custom-item
                                    +formCheckbox("", "name", "val1_hk", 'checkId1_hk', count="false")
                                        span 本人同意使用條款
                                            em.c-required *
                                                span.sr-only 閱讀更多
                                            +linkButton({type: 'text', color: 'black', underline: true, name: '閱讀更多', href:"/uk/privacy/",})(target='_blank')                                        
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_hk", `checkId2_hk`, count="false")
                                        span 本人已閱讀和明白《私隱政策》及《Cookie 政策》。
                                            em.c-required *
                                                span.sr-only 閱讀更多
                                            +linkButton({type: 'text', color: 'black', underline: true, name: '閱讀更多', href:"/uk/privacy/",})(target='_blank')                                                                 
                                .button
                                    +formCheckbox('接收行銷資訊（可選）', "name", "val3_hk", `checkId3_hk`, count="false")
                                    div.my-check--receipt-text.w-full 本人同意 LGE 及其附屬公司 透過電子信件、簡訊、推播通知、電話、社交媒體網站和/或其他形式的電子資訊提供<br />的最新消息和特別優惠。 本人可以隨時透過按照各通訊管道（包括但不限於電子信件）中的說明並依據《LGE
                                        +linkButton({type: 'text', color: 'black', underline: true, name: '閱讀更多', href:"/uk/privacy/",})(target='_blank')                                        
                            p.add-comment 您可透過單一登入，以不同語言版本存取兩個網站。
                             

                    .my-component
                        .my-formbox
                            .my-check                            
                                .button.custom-item
                                    +formCheckbox("", "name", "val1_hk2", 'checkId1_hk2', count="false")
                                        span I agree with the Terms of Use
                                            em.c-required *
                                                span.sr-only Read More
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read More', href:"/uk/privacy/",})(target='_blank')  
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_hk2", `checkId2_hk2`, count="false")
                                        span I have read and understood the Privacy Policy and Cookie Policy.
                                            em.c-required *
                                                    span.sr-only Read More
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read more', href:"/uk/privacy/",})(target='_blank')                                        
                                .button
                                    +formCheckbox('Receipt of marketing messages (Optional)', "name", "val3_hk2", `checkId3_hk2`, count="false")
                                    div.my-check--receipt-text.w-full I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE 
                                        +linkButton({type: 'text', color: 'black', underline: true, name: 'Privacy Policy', href:"/uk/privacy/",})(target='_blank')                                        
                            p.add-comment You can access both of your sites using different languages through single sign in.  

    else if option == 'sa'
        .c-wrapper.MB000L.margin-bottom
            .component
                .fluid-container
                    .my-component
                        .my-formbox
                            .my-check                            
                                .button.custom-item
                                    +formCheckbox("", "name", "val1_sa2", 'checkId1_sa2', count="false")
                                        span I agree with the Terms of Use
                                            em.c-required *
                                                span.sr-only Read More
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read More', href:"/uk/privacy/",})(target='_blank')  
                                .button.custom-item
                                    +formCheckbox('', "name", "val2_sa2", `checkId2_sa2`, count="false")
                                        span I have read and understood the Privacy Policy and Cookie Policy.
                                            em.c-required *
                                                    span.sr-only Read More
                                            +linkButton({type: 'text', color: 'black', underline: true, name: 'Read more', href:"/uk/privacy/",})(target='_blank')                                        
                                .button
                                    +formCheckbox('Receipt of marketing messages (Optional)', "name", "val3_sa2", `checkId3_sa2`, count="false")
                                    div.my-check--receipt-text.w-full I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE
                                        +linkButton({type: 'text', color: 'black', underline: true, name: 'Privacy Policy', href:"/uk/privacy/",})(target='_blank')                                        
                            p.add-comment You can access both of your sites using different languages through single sign in.    
