extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_button.pug

block meta 
    - var componentId = "GN0008"
    - var componentName = "Recommended Article"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-gn.html") List
            .guide-title #{componentId}. #{componentName}

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        mixin recommendList
            .c-article-list
                .carousel.panelcontainer
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.swiper-wrapper
                            - for (var i = 0; i < 5; i++)
                                +recommendItem(i)
                        .c-carousel__handler
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

        mixin recommendItem(idx)
            .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item")
                // block - hero banner
                .c-article-list__item
                    .c-article-list__item--top
                        .image.c-image
                            +printLazyImage('https://via.placeholder.com/960x600/999999/333333')
                        // block - text contents
                        .c-text-contents
                            .text.c-text-contents__eyebrow
                                +textButton({name: 'LG Story', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                                //- p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="") Helpful Hints
                            .title.c-text-contents__headline
                                h3.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="") Knock twice, see inside! The all new LG InstaView Door-in-Door™
                            if idx > 0
                                .text.c-text-contents__bodycopy
                                    p.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") The LG InstaView Door-in-Door™ refrigerator will save you the hassle of opening the door every time you want to peek inside. Now, just knock twice, and see inside!
                    .c-article-list__item--bottom
                        // block cta 
                        .button.c-cta
                            +defaultButton({name: 'Learn more', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})

        // Component Markup
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Recommended Article",
                    }
                })(class="c-region-header--vacate-side")

                +recommendList


