extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0077"
    - var componentName = "Choose your product Popup"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content

    mixin roleList(item)
        if item 
            .c-list__item(role="listitem")
                if block
                    block
        else
            .c-list__item
                if block
                    block

    mixin modelList(params)
        - var option={contents:both, serialType: false, isList:false, modelNumber: '', modelName: '', ...params}
            if option.serialType
                +roleList(option.isList)
                    // block : text-contents 
                    a(href="https://daum.net")
                        div(class="c-text-contents c-serial-type")
                            +headline("font-w-normal-20 font-m-normal-16", "h2", `${option.modelNumber}`)
            else 
                +roleList(option.isList)
                    // block : text-contents 
                    a(href="https://daum.net")
                        div(class="c-text-contents")
                            +printLazyPicture('https://placeimg.com/40/40/arch', 'https://placeimg.com/80/80/arch')       
                            .title.c-text-contents__headline
                                +headline("font-w-normal-20 font-m-normal-16", "h2", `${option.modelNumber}`)
                                p.c-text-contents__modelnumber.font-m-normal-12.font-w-normal-12 #{option.modelName} 
    
    mixin productTit(params)
        - var option = { title: 'title', subtit: 'subtit', ...params }
        h6.c-modal__content-title.font-m-normal-16.font-w-normal-24 #{option.title}
        if option.subtit            
            p.c-modal__content-subtitle.font-m-normal-12.font-w-normal-16 #{option.subtit}
        else 
            block 

    .guide-text-type Choose your product Popup	

    // Component Markup 
    .guide-text-option Model number
    .c-wrapper.CS0077.type-text
        .component.cs-component
            .CS0020__container
                // Delete the style below when using a single popup
                .c-modal(style="position:initial")
                    .c-modal__dimmed
                    .c-modal__box
                        .c-modal-head__wrap
                            .c-modal__head.c-cs-header
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        +headline('font-w-light-56 font-m-light-28',h2,'Choose your model')
                                button(type="button").c-modal__closebtn close btn                      
                        .c-modal__content         
                            .c-modal__content-scroll-box
                                .c-modal__content-box        
                                    .c-modal__content-top 
                                        +productTit({title:'Model number', subtit:'There are several matching models. Please choose the product information you bought.'})
                                        .c-result.font-m-normal-12.font-w-normal-16
                                            span.c-result__number 50
                                            | result       

                                    // block : list
                                    .c-list(role="list")
                                        // block : modelList
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})    
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})    
                        .c-modal__bottom 
                            .button.c-cta 
                                +defaultButton({name: 'submit', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
    
    .guide-text-option Serial number
    .c-wrapper.CS0077.type-text
        .component.cs-component
            .CS0077__container
                // Delete the style below when using a single popup
                .c-modal(style="position:initial")
                    .c-modal__dimmed
                    .c-modal__box
                        .c-modal-head__wrap
                            .c-modal__head.c-cs-header
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        +headline('font-w-light-56 font-m-light-28',h2,'Choose your model')
                                button(type="button").c-modal__closebtn close btn                      
                        .c-modal__content         
                            .c-modal__content-scroll-box
                                .c-modal__content-box        
                                    .c-modal__content-top 
                                        +productTit({title:'Serial number', subtit:'There are several matching models. Please choose the product information you bought.'})
                                        .c-result.font-m-normal-12.font-w-normal-16
                                            span.c-result__number 50
                                            | result        

                                    // block : list
                                    .c-list.c-list__serial-type(role="list")
                                        // block : modelList
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})    
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'}) 
                        .c-modal__bottom 
                            .button.c-cta
                                +defaultButton({name: 'submit', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                                
    .guide-text-option Model number + Serial number
    .c-wrapper.CS0077.type-text
        .component.cs-component
            .CS0077__container
                // Delete the style below when using a single popup
                .c-modal(style="position:initial")
                    .c-modal__dimmed
                    .c-modal__box
                        .c-modal-head__wrap
                            .c-modal__head.c-cs-header
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        +headline('font-w-light-56 font-m-light-28',h2,'Choose your model')
                                button(type="button" role="button").c-modal__closebtn close btn  
                            .c-step-progress 
                                ul.c-step-progress__list 
                                    // When the steps change, add class .c-step-progress__item--active
                                    li.c-step-progress__item.c-step-progress__item--active.font-m-normal-16.font-w-normal-16 Model number
                                    li.c-step-progress__item.font-m-normal-16.font-w-normal-16 Serial number

                        .c-modal__content         
                            .c-modal__content-scroll-box
                                .c-modal__content-box        
                                    .c-modal__content-top 
                                        +productTit({title:'', subtit:'There are several matching models. Please choose the product information you bought.'})
                                        .c-result.font-m-normal-12.font-w-normal-16
                                            span.c-result__number 50
                                            | result        

                                    // block : list
                                    .c-list.c-list__serial-type(role="list")
                                        // block : modelList
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})    
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'})  
                                        +modelList({serialType: true, isList:true, modelNumber: 'GSXV90MCDE', modelName: 'LG InstaView Door-in-Door™'}) 
                        .c-modal__bottom 
                            .button.c-cta
                                +defaultButton({name: 'Previous step', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                                +defaultButton({name: 'submit', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(disabled="disabled")