extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_cs-product-category-select.pug

block meta 
    - var componentId = "CS0032"
    - var componentName = "Right to Repair_Inquiry Parts"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug

    -
        const prdCategoryName = [
            {
                'prdName':'Digital signage',
                'img':'../../assets/icon/icon-signage-64-64.svg',
            },
            {
                'prdName':'Dishwashers',
                'img': '../../assets/icon/icon-dishwasher-64-64.svg',
            },
            {
                'prdName':'Fridge freezers',
                'img': '../../assets/icon/icon-refrigerator-64-64.svg',
            },
            {
                'prdName':'Hotel TV',
                'img': '../../assets/icon/icon-tv-audio-64-64.svg',
            },
            {
                'prdName':'LED signage',
                'img': '../../assets/icon/icon-signage-64-64.svg',
            },
            {
                'prdName':'Monitors',
                'img': '../../assets/icon/icon-monitors-64-64.svg',
            },
            {
                'prdName':'TVs',
                'img': '../../assets/icon/icon-tv-audio-64-64.svg',
            },
            {
                'prdName':'Video wall',
                'img': '../../assets/icon/icon-signage-64-64.svg',
            },
            {
                'prdName':'Washing machines',
                'img': '../../assets/icon/icon-washing-machine-64-64.svg',
            },
        ]

    mixin tableContent(t)
        if t == 1
            td 1PZZJQ3018A
        else if t == 2
            td Pin,Customized
        else if t == 3
            td 01/6465158
        else if t == 4
            td https://www.lgextra.com/
        else if t == 5
            td info@tsnova.cz
        else 
            td(colspan='2') Search for your product above.

    mixin tableDisclaimerBtm()
        .c-text-contents.font-m-normal-14i.font-w-normal-14i
            .text.c-text-contents__disclaimer 
                .cmp-text(data-cmp-data-layer="") 
                    p *Note : only TV, monitor, REF, washer, dryer, dish washer sold after January 2021 can be inquired

    .guide-text-type Right to repair_inquiry Parts
    .guide-text-option INQUIRY PARTS BY MODEL - Before Product Selection
    // 20230316 full markup change
    // Component Markup
    .c-wrapper.CS0032.type-text
        .component.type-grid.type-tabs.full
            .CS0032__container 
                // Before selecting a product
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Find my product')
                .tab-panels
                    section.tab-panel
                        +productCategorySelect({
                            type:"page"
                        }) 
                .c-table-box2
                    .c-table2
                        table
                            caption Table Caption
                            thead
                                tr
                                    th(scope='col') Part number
                                    th(scope='col') Description
                            tbody
                                // Depending on the input data, text or images are output. There may or may not be a link.
                                tr
                                    +tableContent()
                    +tableDisclaimerBtm

    .guide-text-option INQUIRY PARTS BY MODEL - After selecting a product 
    // Component Markup
    // 20230316 full markup change
    .c-wrapper.CS0032.type-text
        .component.type-grid.full
            .CS0032__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Find my product')

                .breadcrumb
                    .breadcrumb__wrap
                        p.cmp-breadcrumb__tit.font-w-normal-14i.font-m-normal-14i Product reselect : 
                        nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")

                            ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14i.font-w-normal-14i.swiper-wrapper
                                +bcItem({text:"Appliances"})
                                +bcItem({text:"Fridge freezers"})
                                +bcItem({text:"American style"})
                                +bcItem({text:"GSXV90MCDE", current:true})
                    .c-selected-model-Num 
                        +printLazyPicture('https://via.placeholder.com/40x40/fff/000/?text=40x40', 'https://via.placeholder.com/64x64/fff/000/?text=64x64')
                        .c-selected-model-Info 
                            .font-m-normal-12.font-w-normal-16 Searched product
                            .c-serialNum.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                            .c-prdName.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-warrantyInfo.font-m-normal-14.font-w-normal-16 Warranty info
                                span.c-hidden-mo :
                                br.c-hidden-pc
                                span Labor 12 months | Parts 12 months
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                .c-table-box2
                    .c-table2.c-table__scroll-type
                        table
                            caption Table Caption
                            thead
                                tr
                                    th(scope='col') Part number
                                    th(scope='col') Description
                            tbody
                                // Depending on the input data, text or images are output. There may or may not be a link.
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                                tr
                                    +tableContent(1)
                                    +tableContent(2)
                    +tableDisclaimerBtm