extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug

block meta 
    - var componentId = "CS0087"
    - var componentName = "CS Table"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    //- script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            //- {
                            //-     'name' : 'Top Border',
                            //-     'buttons' : [
                            //-         {'toggle' : true, 'add' : 'border-top'},
                            //-     ]
                            //- },
                            //- {
                            //-     'name' : 'Width Size',
                            //-     'buttons' : [
                            //-         {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow'},
                            //-         {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide'},
                            //-     ]
                            //- }
                        ],
                        //- '.c-text-contents__disclaimer' : [
                        //-     {
                        //-         'name' : 'Text Align',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                        //-             {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                        //-             {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                        //-         ]
                        //-     }
                        //- ]
                    };

    
    mixin tableRowspan(t)
        if t == 1
            td data text
        else if t == 2
            td 
                img(src="https://placeimg.com/150/150/nature/grayscale", alt="alt text", loading="lazy")
        else if t == 3
            td(rowspan="2") data text
        else 
            td(rowspan="3") data text

    -
        const titleList = [
            [
                //- num0:: Table (Text + Image) / Header Row 1
                [
                    {'text': 'A'},
                    {'text': 'B'},
                    {'text': 'C'},
                    {'text': 'D'},
                ],
            ],
            [
                //- num1:: Table (Text) / Header Row 2 horizontal scrolling Type
                [
                    {'colspan': '4', 'text': 'A'},
                    {'colspan': '2', 'text': 'B'},
                    {'colspan': '2', 'text': 'C'},
                ],
                [
                    {'text': 'D'},
                    {'text': 'E'},
                    {'text': 'F'},
                    {'text': 'G'},
                    {'text': 'H'},
                    {'text': 'I'},
                    {'text': 'J'},
                    {'text': 'K'},
                ],
            ],
            [
                //- num2:: Table (Text) / Header Row 1
                [
                    {'text': 'STT'},
                    {'text': 'Name of service center'},
                    {'text': 'Area'},
                    {'text': 'Province/City'},
                    {'text': 'Contact phone number'},
                    {'text': 'Address of service center'},
                ],
            ],
            [
                //- num3:: Table (Text) / Header Row 1 + Header Column 2
                [
                    {'text': ''},
                    {'text': ''},
                    {'text': 'エアコン'},
                    {'text': 'ブラウン管式テレビ'},
                    {'text': '液晶・プラズマ式テレビ'},
                    {'text': '冷蔵庫'},
                    {'text': '洗濯機'},
                    {'text': '全体'},
                ],
            ],
            [
                //- num4:: Top Text Table (Text) / Header Row 1 + Header Column 2
                [
                    {'text': ''},
                    {'text': ''},
                    {'text': 'エアコン'},
                    {'text': 'ブラウン管式テレビ'},
                    {'text': '液晶・プラズマ式テレビ'},
                    {'text': '冷蔵庫'},
                    {'text': '洗濯機'},
                    {'text': '全体'},
                ],
            ],
        ]

    -
        const contList = [
            [
                //- num0:: Table (Text + Image) / Header Row 1
                [4, 3, 1, 2],
                [1, 2],
                [1, 1, 2],
                [4, 4, 1, 2],
                [1, 2],
                [1, 2],
            ],
            {
                //- num1:: Table (Text) / Header Row 2 horizontal scrolling Type
                'row': 9,
                'col': 8, //- including rowspan
                'alignLeft': 3,
                'text': 'text'
            },
            {
                //- num2:: Table (Text) / Header Row 1
                'row': 4,
                'col': 6,
                'text': [
                            "THAO PHAT Refrigeration One Member LLC",
                            "Southern",
                            "AN GIANG",
                            "1800-1503",
                            "No. 107B, Nguyen Hue B, My Long Ward, Long Xuyen, An Giang"
                        ],
            },
            [
                //- num3:: Table (Text) / Header Row 1 + Header Column 2
                {
                    'th': [
                        {'text': '引取台数(台)', 'rowspan': 2},
                        {'text': '引取場所'},
                    ],
                    'td': {'text':'3%'},
                },
                {
                    'th': {'text': '処理工場'},
                    'td': {'text':'3%'},
                },
                {
                    'th': {'text': '処理台数(台)', 'colspan': 2},
                    'td': {'text':'3%'},
                },
                {
                    'th': {'text': '処理重量(kg)', 'colspan': 2},
                    'td': {'text':'3%'},
                },
                {
                    'th': {'text': '再商品化量(kg)', 'colspan': 2},
                    'td': {'text':'3%'},
                },
                {
                    'th': {'text': '再商品化率(％)', 'colspan': 2},
                    'td': {'text':'3%', "class": 'hightlight'},
                },
                {
                    'th': {'text': '再商品化率 (法基準) (％)', 'colspan': 2},
                    'td': {'text':'3%'},
                },
            ],
            [
                //- num4:: Top Text Type Table (Text) / Header Row 1 + Header Column 2
                {
                    'th': [
                        {'text': '引取台数(台)', 'rowspan': 2},
                        {'text': '引取場所'},
                    ],
                    'td': {'text':'3%'},
                },
                {
                    'th': {'text': '処理工場'},
                    'td': {'text':'3%'},
                },
            ]
        ]
    
    mixin pack(category, num)
        case category
            when 'title'
                - for (let i = 0; i < titleList[num].length; i++)
                    tr
                        - for (let j = 0; j < titleList[num][i].length; j++)
                            th(scope = "col" colspan = titleList[num][i][j].colspan)= titleList[num][i][j].text
            when 'contents'
                // Depending on the input data, text or images are output. There may or may not be a link.
                case num
                    when 0
                        - for (let i = 0; i < contList[num].length; i++)
                            tr
                                for n in contList[num][i]
                                    +tableRowspan(n)
                    when 1
                        - for (let i = 0; i < contList[num].row; i++)
                            tr
                                if (i != 0)
                                    - for (let j = 0; j < (contList[num].col - 1); j++)
                                        if (j < contList[num].alignLeft)
                                            td(class="align-text-left") #{contList[num].text}
                                        else
                                            td #{contList[num].text}
                                else
                                    - for (let j = 0; j < contList[num].col; j++)
                                        if (j == 0)
                                            td(rowspan=contList[num].row) #{contList[num].text}
                                        else if (j < contList[num].alignLeft && j > 0)
                                            td(class="align-text-left") #{contList[num].text}
                                        else if (j == contList[num].alignLeft)
                                            td(class="align-text-left border-right") #{contList[num].text}
                                        else
                                            td #{contList[num].text}
                    when 2
                        - for (let i = 0; i < contList[num].row; i++)
                            tr
                                - for (let j = 0; j < contList[num].col; j++)
                                    if (j == 0)
                                        td= (i + 1)
                                    else
                                        td= contList[num].text[j-1]
                    when 3
                    when 4
                        - for (let i = 0; i < contList[num].length; i++)
                            tr
                                if (contList[num][i].th.length > 1)
                                    - for (let j = 0; j < contList[num][i].th.length; j++)
                                        th(scope="row" rowspan=contList[num][i].th[j].rowspan colspan=contList[num][i].th[j].colspan)= contList[num][i].th[j].text
                                else
                                    th(scope="row" rowspan=contList[num][i].th.rowspan colspan=contList[num][i].th.colspan)= contList[num][i].th.text
                                - for (let k = 0; k < (titleList[3][0].length - 2); k++)
                                    td(class=contList[num][i].td.class)= contList[num][i].td.text


    //  Type1. 
    .guide-text-type Table (Text + Image) / Header Row 1
    .c-wrapper.CS0087.type-horizontal
        .component
            .cmp-container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'LG genuine parts center')
                .c-table
                    table
                        caption Table Caption
                        thead
                            +pack('title', 0)
                        tbody
                            +pack('contents', 0)


    //  Type2. 
    .guide-text-type Table (Text) / Header Row 2 horizontal scrolling Type

    .c-wrapper.CS0087.type-horizontal
        .component
            .cmp-container.c-text-contents__disclaimer
                .c-table
                    table
                        caption Table Caption
                        thead
                            +pack('title', 1)
                        tbody
                            +pack('contents', 1)
    
    .guide-text-type Table (Text) / Header Row 1
    .c-wrapper.CS0087.type-vertical.type5
        .component
            .cmp-container
                .c-table
                    table(cellpadding='1' cellspacing='0' border='1')
                        tbody
                            +pack('title', 2)
                            +pack('contents', 2)
                                
    .guide-text-type Table (Text) / Header Row 1 + Header Column 2
    .c-wrapper.CS0087.type-vertical.type5
        .component
            .cmp-container      
                .c-table
                    table(cellpadding='1' cellspacing='0' border='1')
                        tbody
                            +pack('title', 3)
                            +pack('contents', 3)


    .guide-text-type Top Text Type
                    | Table (Text) / Header Row 1 + Header Column 2

    .c-wrapper.CS0087.type-vertical.type5
        .component
            .cmp-container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'液晶・プラズマ式テレビ')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-32.font-m-normal-18(data-cmp-data-layer="")  エアコン
                            .cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")  ブラウン管式テレビ
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-32.font-m-normal-18(data-cmp-data-layer="")  エアコン
                                
                .c-table
                    table(cellpadding='1' cellspacing='0' border='1')
                        tbody
                            +pack('title', 4)
                            +pack('contents', 4)