extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug

block meta 
    - var componentId = "ST0008"
    - var componentName = "Slider Image"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content 
    
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
                //- span(style="width: 5px;") 
                //- a.del(href="#") Close 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            }
                        ],
                        '.type-vertical-tb .c-text-contents, .type-horizontal-tb .c-text-contents' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                                ]
                            }
                        ],
                        '.type-vertical-lr .c-text-contents, .type-horizontal-lr .c-text-contents' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ],
                        '.c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                        '.c-image-compare__text' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            },
                            {
                                'name' : 'Vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'pos-top', 'remove' : 'pos-middle, pos-bottom'},
                                    {'toggle' : false, 'add' : 'pos-middle', 'remove' : 'pos-top, pos-bottom'},
                                    {'toggle' : false, 'add' : 'pos-bottom', 'remove' : 'pos-top, pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'pos-left', 'remove' : 'pos-center, pos-right'},
                                    {'toggle' : false, 'add' : 'pos-center', 'remove' : 'pos-left, pos-right'},
                                    {'toggle' : false, 'add' : 'pos-right', 'remove' : 'pos-left, pos-center'},
                                ]
                            },
                            {
                                'name' : 'Font Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'},
                                ]
                            },
                        ],
                        '.c-image-compare__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            },
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ],
                    };

    // Component Markup

    mixin textContents(typeNumber)
        - var class1 = 'font-w-light-56 font-m-light-28';
        - var class2 = 'font-w-normal-24 font-m-normal-16';
        - var align = 'align-left';
        if (typeNumber == 2 || typeNumber == 4)
            - class1 = 'font-w-light-36 font-m-light-28';
            - class2 = 'font-w-normal-16 font-m-normal-16';
            - align = 'align-text-left';

        .c-text-contents
            .align-container 
                .c-text-contents__inner 
                    .title.c-text-contents__headline
                        +headline(class1)
                    .text.c-text-contents__bodycopy.font-regular 
                        .cmp-text(class=class2 data-cmp-data-layer="") 
                            p Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters.
                    // block cta 
                    .button.c-cta
                        +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                    // or
                    // block cta 
                    .button.c-cta
                        +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
    
    mixin imgContents(typeNumber)
        .c-image-compare 
            .c-image-compare__image
                .image.c-image-compare__default.c-image 
                    case typeNumber 
                        when 2
                            +printLazyPicture('https://via.placeholder.com/768x512/333333', 'https://via.placeholder.com/763x429/333333')
                        when 4
                            +printLazyPicture('https://via.placeholder.com/768x512/333333', 'https://via.placeholder.com/763x429/333333')
                        default 
                            +printLazyPicture('https://via.placeholder.com/768x576/333333', 'https://www.lg.com/de/images/mnt-ultragear-32gq950-02-2-2-with-atw-desktop.jpg')

                    .text.c-image-compare__text.pos-center.pos-middle.font-regular.font-white
                        p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetuer adipiscingLorem ipsum dolor sit amet, consectetuer adipiscingLorem ipsum dolor sit amet, consectetuer adipiscingLorem ipsum dolor sit amet, consectetuer adipiscing
                .image.c-image-compare__cover.c-image 
                    case typeNumber 
                        when 2
                            +printLazyPicture('https://via.placeholder.com/768x512/666666', 'https://via.placeholder.com/763x429/666666')
                        when 4
                            +printLazyPicture('https://via.placeholder.com/768x512/666666', 'https://via.placeholder.com/763x429/666666')
                        default 
                            +printLazyPicture('https://via.placeholder.com/768x576/666666', 'https://www.lg.com/de/images/mnt-ultragear-32gq950-02-2-2-with-atw-desktop.jpg')
                    .text.c-image-compare__text.pos-center.pos-middle.font-regular.font-black 
                        p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetuer adipiscing
                .button.c-image-compare__track
                    button.cmp-button.c-image-compare__handle.move-left(type="button", aria-label="Move the slider to see more!", data-cmp-data-layer="")
                    button.cmp-button.c-image-compare__handle.move-right(type="button", aria-label="Move the slider to see more!", data-cmp-data-layer="")
            .text.c-image-compare__disclaimer
                .cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                    p Disclaimer text can be up to 100 characters. Lorem ipsum dolor sit it amet, consectetuer adipiscing.

    //  Type1. Top Bottom Text 
    .guide-text-type Type 1 : Horizontal (Top Bottom Text) 
    .guide-text-option Option : Text Placement - Top
    .c-wrapper.ST0008.margin-top.margin-bottom.bg-default
        .component.type-horizontal-tb
            .cmp-container
        
                // block : text-contents
                +textContents(1)

                // block : Image compare
                +imgContents(1)

    .guide-text-option Option : Text Placement - Bottom
    .c-wrapper.ST0008.margin-top.margin-bottom.bg-default
        .component.type-horizontal-tb
            .cmp-container

                // block : Image compare
                +imgContents(1)
        
                // block : text-contents
                +textContents(1)

    //  Type2. Horizontal (Left Right Text)
    .guide-text-type Type2. Horizontal (Left Right Text)
    .guide-text-option Option : Text Placement - Right
    .c-wrapper.ST0008.margin-top.margin-bottom.bg-default
        .component.type-horizontal-lr
            .cmp-container

                // block : Image compare
                +imgContents(2)
        
                // block : text-contents
                +textContents(2)

    .guide-text-option Option : Text Placement - Left
    .c-wrapper.ST0008.margin-top.margin-bottom.bg-default
        .component.type-horizontal-lr
            .cmp-container
        
                // block : text-contents
                +textContents(2)

                // block : Image compare
                +imgContents(2)

    //  Type 3 : Vertical (Top Bottom Text)
    .guide-text-type Type 3 : Vertical (Top Bottom Text)
    .guide-text-option Option : Text Placement - Top
    .c-wrapper.ST0008.margin-top.margin-bottom.bg-default
        .component.type-vertical-tb
            .cmp-container
        
                // block : text-contents
                +textContents(3)

                // block : Image compare
                +imgContents(3)

    .guide-text-option Option : Text Placement - Bottom
    .c-wrapper.ST0008.margin-top.margin-bottom.bg-default
        .component.type-vertical-tb
            .cmp-container

                // block : Image compare
                +imgContents(3)
        
                // block : text-contents
                +textContents(3)


    // Type 4 : Vertical (Left Right Text)
    .guide-text-type Type 4 : Vertical (Left Right Text)
    .guide-text-option Option : Text Placement - Right
    .c-wrapper.ST0008.margin-top.margin-bottom.bg-default
        .component.type-vertical-lr
            .cmp-container

                // block : Image compare
                +imgContents(4)
        
                // block : text-contents
                +textContents(4)

    .guide-text-option Option : Text Placement - Left
    .c-wrapper.ST0008.margin-top.margin-bottom.bg-default
        .component.type-vertical-lr
            .cmp-container
        
                // block : text-contents
                +textContents(4)

                // block : Image compare
                +imgContents(4)
