extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					top: 14px;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Hilfe zur Barrierefreiheit"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : 'Auf dieser Seite wird erklärt, wie Sie die von Windows, Webbrowsern oder LG.COM angebotenen Zugänglichkeitsfunktionen nutzen können, um Benutzern die Nutzung von LG.COM zu erleichtern. Wenn Sie statt einer Maus eine Tastatur oder Hilfsmittel verwenden, wählen Sie bitte die Registerkarte „Tastatursteuerung“. Wenn Sie nicht sehr gut sehen können, wählen Sie bitte die Registerkarte „Sehbehinderung“. Wenn Sie nicht sehr gut hören können, wählen Sie bitte die Registerkarte „Hörschädigung“.'
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") Tastatursteuerung
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") Sehbehinderung
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") Hörschädigung
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Tastatursteuerung', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In diesem Abschnitt erfahren Sie, wie Sie:')
							ul.col02
								+how-list-link('','Bypass-Blöcke verwenden')(href="#keyboard-controls-1")
								+how-list-link('','Datumswähler verwenden')(href="#keyboard-controls-2")
								+how-list-link('','Schieberegler verwenden')(href="#keyboard-controls-3")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Bypass-Blöcke verwenden', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box('Sobald Sie auf LG.com sind, drücken Sie Tab auf Ihrer Tastatur. Sie sehen einen Link mit der Aufschrift „Zum Inhalt springen“. Drücken Sie Enter, um direkt zum Hauptinhalt zu gelangen.')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box('Drücken Sie zweimal die Tabulatortaste auf Ihrer Tastatur auf LG.com. Ein Link mit der Aufschrift „Zur Hilfe für Barrierefreiheit“ wird angezeigt. Drücken Sie Enter, um direkt zur Eingabehilfe zu gelangen.')(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('Datumswähler verwenden', 'h2', 'title2')
							//- +head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_03.jpg')
								.text-box
									+text-box('Die Kalenderebene erscheint immer dann, wenn ein Eingabefeld mit Kalendersymbol fokussiert ist. Drücken Sie Strg + Pfeiltasten auf Ihrer Tastatur, um sich in der Kalenderebene vor und zurück zu bewegen.')(data-number="01")
									+text-box('Wenn Sie zum vorherigen oder nächsten Monat wechseln möchten, drücken Sie die Taste Seite nach oben oder Seite nach unten.')(data-number="02")
									+text-box('Sie können das Datum auch direkt über die Zifferntaste eingeben, ohne die Kalenderebene zu verwenden.')(data-number="03")
									
						div#keyboard-controls-3.how-to-use-content
							+head-text('Schieberegler verwenden', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box('Drücken Sie die Tabulatortaste, um den Fokus auf den Schieberegler zu setzen und verwenden Sie die Pfeiltasten, um die Schiebereglerwerte einzustellen.')(data-number="01")
									+text-box('Wenn Sie ein Bildschirmleseprogramm (JAWS oder NVDA) verwenden, drücken Sie die Tabulatortaste, um den Fokus auf den Schieberegler zu setzen und verwenden Sie die Alt- und Pfeiltasten, um die Schiebereglerwerte einzustellen.')(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('Sehbehinderung', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('In diesem Abschnitt erfahren Sie, wie Sie:')
							ul
								+how-list-link('die Zoomfunktion verwenden - ', 'Microsoft Edge (Aktuell), Firefox (Aktuell-1), Chrome (Aktuell-1)')(href="#visually-impaired-1")
								+how-list-link('', 'die Lupe, die eingebaute Vergrößerungsfunktion in Windows verwenden')(href="#visually-impaired-2")
								+how-list-link('', 'die Lupe auf automatischen Start einstellen')(href="#visually-impaired-3")
								+how-list-link('Hintergrund- und Textfarben ändern - ', 'Microsoft Edge (Aktuell), Firefox (Aktuell-1), Chrome (Aktuell-1)')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Zoomfunktion in Microsoft Edge (Aktuell)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box('Wenn Sie Microsoft Edge verwenden, klicken Sie bitte oben rechts im Browser auf „---“.')(data-number="01")
										+text-box('Klicken Sie in der Liste der Optionen auf „Zoom“. Sie sehen, dass sich ein Seitenmenü öffnet.')(data-number="02")
										+text-box('Wählen Sie die vordefinierte Zoomstufe oder geben Sie eine benutzerdefinierte Stufe an, indem Sie auf „Benutzerdefiniert“ klicken und einen Zoomwert eingeben.')(data-number="03")
									.how-to-use-menu
										+how-menu('In Microsoft Edge kann die Textgröße auch mit Tastaturkürzeln geändert werden:')
										ul
											+how-list(
												'Drücken Sie Strg und + vergrößern Sie die Größe',
												'Drücken Sie Strg und - verkleinern Sie die Größe',
												'Drücken Sie Strg und 0, um die Standardgröße wiederherzustellen.',
											)

							+head-text('Zoomfunktion in Firefox (aktuell)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box('Wenn Sie Firefox verwenden, klicken Sie bitte auf „☰„ in der oberen rechten Ecke des Browsers.')(data-number="01")
										+text-box('Drücken Sie im Bereich „Zoom“ der Liste auf „-“ oder „+“, um das gewünschte Verhältnis zu erhöhen oder zu verringern.')(data-number="02")
										+text-box('Sie können auch zum Vollbild wechseln, indem Sie die Schaltfläche „↕“ oder „F11“ auf der rechten Seite drücken.')(data-number="03")
									.how-to-use-menu
										+how-menu('In Firefox kann die Textgröße auch mit Tastaturkürzeln geändert werden:')
										ul
											+how-list(
												'Drücken Sie Strg und + vergrößern Sie die Größe',
												'Drücken Sie Strg und - verkleinern Sie die Größe',
												'Drücken Sie Strg und 0, um die Standardgröße wiederherzustellen.',
											)

							+head-text('Zoomfunktion in Chrome (Aktuell)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box('Wenn Sie Firefox verwenden, klicken Sie bitte auf „⁝“ in der oberen rechten Ecke des Browsers.')(data-number="01")
										+text-box('Drücken Sie im Bereich „Zoom“ der Liste auf „-“ oder „+“, um das gewünschte Verhältnis zu erhöhen oder zu verringern.')(data-number="02")
										+text-box('Sie können auch zum Vollbild wechseln, indem Sie die Schaltfläche „□“ oder „F11“ auf der rechten Seite drücken.')(data-number="03")
									.how-to-use-menu
										+how-menu('In Chrome kann die Textgröße auch mit Tastaturkürzeln geändert werden:')
										ul
											+how-list(
												'Drücken Sie Strg und + vergrößern Sie die Größe',
												'Drücken Sie Strg und - verkleinern Sie die Größe',
												'Drücken Sie Strg und 0, um die Standardgröße wiederherzustellen.',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('Verwenden Sie die Lupe, die eingebaute Vergrößerungsfunktion von Windows', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
								.text-box
									+text-box('Wählen Sie im Steuerungspanel die Option „Erleichterter Zugriff“.')(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
								.text-box
									+text-box('Wählen Sie „Center für erleichterten Zugriff“.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
								.text-box
									+text-box('Wählen Sie das Menü „Lupe starten“, um die Lupe zu starten.')(data-number="03")
								//- .box03
								//- 	.image-box.c-image
								//- 		+printLazyImage('images/img-03.jpg')
								//- 	.text-box
								//- 		+text-box("Control it with the provided Magnifier remote control or use the following hotkeys to control the magnifier.")(data-number="04")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('Die folgenden Tastenkombinationen sind bei der Verwendung der Lupe verfügbar.')
								ul.col02
									+how-list(
										"Drücken Sie die Windows-Taste und + zum Vergrößern.",
										"Drücken Sie Strg, Alt und R, um die Größe der Linse zu ändern.",
										"Drücken Sie die Windows-Taste und - zum Verkleinern.",
										"Drücken Sie Strg, Alt und D, um in den „angedockten“ Modus zu wechseln.",
										"Drücken Sie Strg, Alt und Leertaste, um eine Vorschau des Desktops im Vollbildmodus anzuzeigen.",
										"Drücken Sie Strg, Alt und I, um die Farben im Vergrößerungsfenster zu invertieren.",
										"Drücken Sie Strg, Alt und L, um in den Modus „Objektiv“ zu wechseln.",
										"Drücken Sie Strg, Alt und die Pfeiltasten, um den Fokus in die gewünschte Richtung zu bewegen.",
										"Drücken Sie Strg, Alt und R, um die Größe der Linse zu ändern.",
										"Drücken Sie die Windows-Taste und Esc, um Magnifier zu beenden.",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('Use Magnifier, the Built-in Magnification Feature in Windows', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('Hintergrund- und Textfarben in Microsoft Edge (Aktuell) ändern', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Wenn Sie Microsoft Edge verwenden, müssen Sie ein Plug-In installieren, um die Hintergrundfarben zu ändern.
								br
								| Hier finden Sie eine Reihe von Plug-ins für die Barrierefreiheit:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Microsoft Edge Add-ons', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('Hintergrund- und Textfarben in Firefox (Aktuell) ändern', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Wenn Sie Firefox verwenden, müssen Sie ein Plug-In installieren, um die Hintergrundfarben zu ändern.
								br
								| Hier finden Sie eine Reihe von Plug-ins für die Barrierefreiheit:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Firefox-Add-ons', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('Hintergrund- und Textfarben in Chrome ändern (Aktuell)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Wenn Sie Google Chrome verwenden, müssen Sie einige Erweiterungen installieren, um die Hintergrundfarben zu ändern.
								br
								| Hier finden Sie eine Reihe von Plug-ins für die Barrierefreiheit:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Chrome-Erweiterungen', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('Hörschädigung', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('In diesem Abschnitt erfahren Sie, wie Sie:')
							ul
								+how-list-link('', 'die Systemlautstärke anpassen')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('die Systemlautstärke anpassen', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
								.text-box
									+text-box('Wählen Sie „Hardware und Klang“ in der Systemsteuerung.')(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
								.text-box
									+text-box('Wählen Sie „Systemlautstärke anpassen“ unter „Klang“.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
								.text-box
									+text-box('Stellen Sie den Schieberegler für „Master-Lautstärke“ auf dem rechten Bedienfeld auf den gewünschten Klang ein.')(data-number="03")

			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Hilfe zur Barrierefreiheit"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Wir bei LG sind bestrebt, unseren Kunden barrierefreie Produkte anzubieten. Unten finden Sie eine Liste von Funktionen, die Benutzern mit eingeschränktem Seh- oder Hörvermögen oder eingeschränkter Fingerfertigkeit helfen."
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In diesem Abschnitt erfahren Sie mehr zum Zugriff auf:')
							ul.col02
								+how-list-link('','Sichtfunktionen')(href="#android-1")
								+how-list-link('','Hörfunktionen')(href="#android-2")
								+how-list-link('','Motorische und kognitive Funktionen')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Sichtfunktionen', 'h2', 'title2')
							
							//- 1
							+head-text('Schriftgrößenanpassung', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box('Wählen Sie „Sichtverbesserungen“ unter „Barrierefreiheit“.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box('Wählen Sie „Schriftgröße und -stil“ unter „Sichtverbesserungen“.')(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box('Passen Sie die Schriftgröße an.')(data-number="04")

							+head-text('Berührungstasten-Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie unter „Barrierefreiheit“ die Option „Sichtverbesserungen“.')(data-number="02")
									+text-box('Wählen Sie „Vergrößerung“ unter „Sichtverbesserungen“.')(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box('Aktivieren Sie die Option „Vergrößerungs-Verknüpfung“.')(data-number="04")

							+head-text('Rückmeldung', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie unter „Barrierefreiheit“ die Option „Rückmeldung“.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box('Schalten Sie die Option „Rückmeldung“ ein.')(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box('Wählen Sie „Rückmeldung“, um die gewünschten Optionen einzustellen.')(data-number="04")


							+head-text('Anpassung der Bildschirmfarbe', 'h3', 'title3')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Sichtverbesserungen“ unter „Barrierefreiheit“.')(data-number="02")
									+text-box('Wählen Sie „Farbanpassung“ unter „Sichtverbesserungen“.')(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box('Aktivieren Sie die Option „Farbanpassung“.')(data-number="04")
									+text-box('Wählen Sie die Farbtonoption, die Sie ändern möchten.')(data-number="05")

						//- 2
						div#android-2.how-to-use-content
							+head-text('Hörfunktionen', 'h2', 'title2')

							+head-text('Bildunterschriften', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Hörverbesserungen“ unter „Barrierefreiheit“.')(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box('Wählen Sie unter „Barrierefreiheit“ die Option „Einstellungen bei Bildunterschriften“.')(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box('Wählen Sie „Größe und Stil der Bildunterschrift“ unter „Einstellungen bei Bildunterschriften“.')(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box('Wählen Sie „Textgröße“, „Stil der Bildunterschrift“.')(data-number="05")


							+head-text('Blitzalarm', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Erweiterte Einstellungen“ unter „Barrierefreiheit“.')(data-number="02")
									+text-box('Wählen Sie „Blitzbenachrichtigung“ in „Erweiterte Einstellungen“.')(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box('Aktivieren Sie die Option „Kamera-Blitzbenachrichtigung“ unter „Blitzbenachrichtigung“.')(data-number="04")


							+head-text('Mono-Audio', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Hörverbesserungen“ unter „Barrierefreiheit“.')(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box('Aktivieren Sie die Option „Mono-Audio“ unter „Hörverbesserungen“.')(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('Motorische und kognitive Funktionen', 'h2', 'title2')

							+head-text('Berührungstastenassistent', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Interaktion und Fingerfertigkeit“ unter „Barrierefreiheit“.')(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box('Schalten Sie die Option „Assistentenmenü“ in „Interaktion und Fingerfertigkeit“ ein.')(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box('Wählen Sie die Schaltfläche auf der rechten Seite.')(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box('Wählen Sie die Schaltfläche für die von Ihnen gewünschte Aktion.')(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In diesem Abschnitt erfahren Sie mehr zum Zugriff auf:')
							ul.col02
								+how-list-link('','Sichtfunktionen')(href="#ios-1")
								+how-list-link('','Hörfunktionen')(href="#ios-2")
								+how-list-link('','Motorische und kognitive Funktionen')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Sichtfunktionen', 'h2', 'title2')
							
							//- 1
							+head-text('Schriftgrößenanpassung', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box('Wählen Sie „Anzeige und Textgröße“ in „Barrierefreiheit“.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box('Wählen Sie „Größerer Text“ in „Anzeige und Textgröße“.')(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box('Schriftgröße anpassen')(data-number="04")

							//- Zoom
							+head-text('Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Zoom“ unter „Barrierefreiheit“.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box('Wählen Sie die Zoom-Methode und den Zoom-Bereich.')(data-number="03")
									
							//- VoiceOver
							+head-text('VoiceOver', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „VoiceOver“ unter „Barrierefreiheit“.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box('Passen Sie „Sprechgeschwindigkeit“ an.')(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('Hörfunktionen', 'h2', 'title2')

							//- Captions
							+head-text('Bildunterschriften', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Untertitel und Untertitelung“ unter „Barrierefreiheit“.')(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box('Wählen Sie „Stil“ in „Untertitel und Untertitelung“.')(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box('Wählen Sie die gewünschte Option.')(data-number="04")


							//- Flash Alert
							+head-text('Blitzalarm', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Audio/Visuell“ unter „Barrierefreiheit“.')(data-number="02")
									+text-box('Wählen Sie „LED-Blitz für Warnungen“ unter „Audio/Visuell“.')(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box('Wählen Sie die gewünschte Option.')(data-number="04")

							//- Mono Audio
							+head-text('Mono-Audio', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Audio/Visuell“ unter „Barrierefreiheit“.')(data-number="02")
									+text-box('Wählen Sie „Mono-Audio“ unter „Audio/Visuell“.')(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('Motorische und kognitive Funktionen', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('Berührungstastenassistent', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box('Wählen Sie unter „Einstellungen“ die Option „Barrierefreiheit“.')(data-number="01")
									+text-box('Wählen Sie „Berührung“ unter „Barrierefreiheit“.')(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box('Wählen Sie in „Berührung“ die Option „Anpassungen bei Berührungen“.')(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box('Wählen Sie die gewünschten Einstellungen.')(data-number="04")
		//- [END] You can put it in the code component up to this point.	