extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					top: 14px;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Ayuda de accesibilidad"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Esta página explica como utillizar las funciones de accesibilidad ofrecidas por Windows, los navegadores web, o LG.COM para ayudar a los usuarios a utilizar LG.COM de manera más accesible. Si estás utilizando un teclado o tecnologías de ayuda en lugar de utilizar un ratón, selecciona la pestaña Controles del teclado ('Keyboard Controls'). Si no puedes ver bien, selecciona la pestaña Discapacitado visual ('Visually Impaired'). Si no escuchas bien, selecciona la pestaña Discapacitado auditivo ('Hearing Impaired')."
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") Controles del teclado
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") Discapacitado visual
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") Discapacitado auditivo
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Keyboard Controls', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('En esta sección puedes encontrar cómo:')
							ul.col02
								+how-list-link('','Usar bloques de derivación')(href="#keyboard-controls-1")
								+how-list-link('','Usar control deslizante')(href="#keyboard-controls-2")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Usar bloques de derivación', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box('Una vez que estés en LG.com, presiona Tab en tu teclado. Verás un enlace que dice Saltar al contenido (“Skip to Contents”). Presiona Enter para ir directamente al contenido principal. ')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box('Presiona Tab en tu teclado dos veces en LG.com. Aparecerá un enlace que dice Pasar a Ayuda de accesibilidad (“Skip to Accessibility Help”).  Presiona Enter para ir directamente a la ayuda de accesibilidad.')(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('Usar control deslizante', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box('Presiona la tecla Tab para establecer el enfoque en el control deslizante y usa las teclas de flecha para establecer los valores del control deslizante.')(data-number="01")
									+text-box('Cuando utilices el programa de lector de pantalla (JAWS o NVDA), presiona la tecla Tab para establecer el enfoque en el control deslizante y usa las teclas Alt + Flecha para configurar los valores del control deslizante.')(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('Discapacitado visual', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('En esta sección, puedes encontrar cómo:')
							ul
								+how-list-link('Utiliza la función de zoom: Microsoft Edge (más reciente), Firefox (actual –1), Chrome (actual –1)')(href="#visually-impaired-1")
								+how-list-link('', 'Utiliza la lupa, la función de ampliación integrada en Windows')(href="#visually-impaired-2")
								+how-list-link('', 'Configurar la lupa para que se inicie automáticamente')(href="#visually-impaired-3")
								+how-list-link('Cambiar colores de fondo y texto: Microsoft Edge (más reciente), Firefox (actual –1), Chrome (actual –1)')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Función de zoom en Microsoft Edge (más reciente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box("Si estás utilizando Microsoft Edge, haz clic en '···' en la parte superior derecha del navegador.")(data-number="01")
										+text-box("En la lista de opciones, haz clic en 'Zoom'. Verás que se abre un menú lateral.")(data-number="02")
										+text-box("Selecciona el nivel de zoom predefinido o especifica un nivel personalizado haciendo clic en \"Personalizado\" e ingresando un valor de zoom.")(data-number="03")
									.how-to-use-menu
										+how-menu('Microsoft Edge también permite cambiar el tamaño del texto con atajos de teclado:')
										ul
											+how-list(
												'Presiona Ctrl y + aumenta el tamaño',
												'Presiona Ctrl y - disminuye el tamaño',
												'Presiona Ctrl y 0 vuelve al tamaño predeterminado',
											)

							+head-text('Función de zoom en Firefox (más reciente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box("Si estás utilizando Firefox, haz clic en '☰' en la esquina superior derecha del navegador.")(data-number="01")
										+text-box("En el área 'Zoom' de la lista, presiona '-' o '+' para aumentar o disminuir la proporción deseada.")(data-number="02")
										+text-box("También puedes cambiar a pantalla completa presionando el botón '↕' o 'F11' a la derecha.")(data-number="03")
									.how-to-use-menu
										+how-menu('Firefox también permite cambiar el tamaño del texto con atajos de teclado:')
										ul
											+how-list(
												'Presiona Ctrl y + aumenta el tamaño',
												'Presiona Ctrl y - disminuye el tamaño',
												'Presiona Ctrl y 0 vuelve al tamaño predeterminado',
											)

							+head-text('Función de zoom en Chrome (más reciente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box("Si estás utilizando Firefox, haz clic en '⁝' en la esquina superior derecha del navegador.")(data-number="01")
										+text-box("En el área 'Zoom' de la lista, presiona '-' o '+' para aumentar o disminuir la proporción deseada.")(data-number="02")
										+text-box("También puedes cambiar a pantalla completa presionando el botón '□' o 'F11' a la derecha.")(data-number="03")
									.how-to-use-menu
										+how-menu('Chrome también permite cambiar el tamaño del texto con atajos de teclado:')
										ul
											+how-list(
												'Presiona Ctrl y + aumenta el tamaño',
												'Presiona Ctrl y - disminuye el tamaño',
												'Presiona Ctrl y 0 vuelve al tamaño predeterminado',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('Utiliza la lupa, la función de ampliación integrada en Windows', 'h2', 'title2')
							
							.how-to-use-box.type02 
								.box1 
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
								.box2 
									.text-box 
										+text-box("Selecciona 'Facilidad de acceso' en el panel de control.")(data-number="01")

							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
								.box02
									.text-box
										+text-box("Selecciona 'Centro de facilidad de acceso'.")(data-number="02")

							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('//content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
								.box02
									.text-box
										+text-box("Selecciona el menú 'Iniciar Lupa' para iniciar la Lupa.")(data-number="03")

										
							//- .how-to-use-box.type03
							//- 	.box01
							//- 		.image-box.c-image
							//- 			+printLazyImage('images/img-01.jpg')
							//- 		.text-box
							//- 			+text-box("Selecciona 'Facilidad de acceso' en el panel de control.")(data-number="01")
							//- 	.box02
							//- 		.image-box.c-image
							//- 			+printLazyImage('images/img-02.jpg')
							//- 		.text-box
							//- 			+text-box("Selecciona 'Centro de facilidad de acceso'.")(data-number="02")
										
							//- 	.box03
							//- 		.image-box.c-image
							//- 			+printLazyImage('images/img-03.jpg')
							//- 		.text-box
							//- 			+text-box("Selecciona el menú 'Iniciar Lupa' para iniciar la Lupa.")(data-number="03")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('Los siguientes atajos de teclado están disponibles cuando se utiliza la Lupa.')
								ul.col02
									+how-list(
										"Presiona la tecla Windows y + para acercar.",
										"Presiona Ctrl, Alt y R para cambiar el tamaño de la lente.",
										"Presiona la tecla Windows y - para alejar la imagen.",
										"Presiona Ctrl, Alt y D para cambiar al modo \"acoplado\".",
										"Presiona Ctrl, Alt y la barra espaciadora para obtener una vista previa del escritorio en modo de pantalla completa.",
										"Presiona Ctrl, Alt e I para invertir los colores en la ventana de ampliación.",
										"Presiona Ctrl, Alt y L para cambiar al modo 'Lente'.",
										"Presiona las teclas Ctrl, Alt y Flecha para mover el enfoque en la dirección elegida.",
										"Presiona Ctrl, Alt y R para cambiar el tamaño de la lente.",
										"Presiona la tecla Windows y Esc para salir de la Lupa.",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('Use Magnifier, the Built-in Magnification Feature in Windows', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('Cambiar los colores de fondo y texto en Microsoft Edge (más reciente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Si estás utilizando Microsoft Edge, debes instalar un complemento para cambiar los colores de fondo.
								br
								| Varios complementos de accesibilidad están disponibles aquí:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Complementos de Microsoft Edge', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('Cambiar colores de fondo y texto en Firefox (más reciente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Si estás utilizando Firefox, debes instalar un complemento para cambiar los colores de fondo.
								br
								| Varios complementos de accesibilidad están disponibles aquí:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Complementos de Firefox', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('Cambiar colores de fondo y texto en Chrome (más reciente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Si estás utilizando Google Chrome, debes instalar algunas extensiones para cambiar los colores de fondo.
								br
								| Varios complementos de accesibilidad están disponibles aquí:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Extensiones de Chrome', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('Discapacitado auditivo', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('En esta sección, puedes encontrar cómo:')
							ul
								+how-list-link('', 'Ajustar el volumen del sistema')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('Ajustar el volumen del sistema', 'h2', 'title2')

							.how-to-use-box.type02 
								.box1 
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
								.box2 
									.text-box 
										+text-box("Selecciona \"Hardware y sonido\" en el panel de control.")(data-number="01")

							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
								.box02
									.text-box
										+text-box("Selecciona \"Ajustar el volumen del sistema\" en \"Sonido\".")(data-number="02")

							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
								.box02
									.text-box
										+text-box("Ajusta el control deslizante de 'Volumen maestro' en el panel derecho para que coincida con el sonido deseado.")(data-number="03")
							//- .how-to-use-box.type03
							//- 	.box01
							//- 		.image-box.c-image
							//- 			+printLazyImage('images/img-04.jpg')
							//- 		.text-box
							//- 			+text-box("Selecciona \"Hardware y sonido\" en el panel de control.")(data-number="01")
							//- 	.box02
							//- 		.image-box.c-image
							//- 			+printLazyImage('images/img-05.jpg')
							//- 		.text-box
							//- 			+text-box("Selecciona \"Ajustar el volumen del sistema\" en \"Sonido\".")(data-number="02")
							//- 			+text-box("Ajusta el control deslizante de 'Volumen maestro' en el panel derecho para que coincida con el sonido deseado.")(data-number="03")


			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Ayuda de accesibilidad"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "En LG, nos comprometemos a ofrecer productos accesibles a nuestros clientes. A continuación encontrarás una lista de funciones para ayudar a los usuarios con problemas de visión, audición o destreza reducida."
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('En esta sección, puedes encontrar cómo :')
							ul.col02
								+how-list-link('','Funciones de la visión')(href="#android-1")
								+how-list-link('','Funciones de audición')(href="#android-2")
								+how-list-link('','Funciones motoras y cognitivas')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Funciones de visión', 'h2', 'title2')
							
							//- 1
							+head-text('Ajuste del tamaño de fuente', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box("Selecciona 'Accesibilidad' en 'Configuración'.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box("Selecciona ‘Mejoras de visibilidad’ en ‘Accesibilidad’.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box("Selecciona ‘Tamaño y estilo de fuente’ en 'Mejoras de visibilidad'")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box("Ajustar tamaño de fuente'.")(data-number="04")

							+head-text('Zoom táctil', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona ‘Mejoras visuales’ en ‘Accesibilidad’.")(data-number="02")
									+text-box("Selecciona ‘Aumento’ en ‘Mejoras visuales’.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box("Activa la opción ‘Acceso directo a aumento’.")(data-number="04")

							+head-text('TalkBack', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona 'Talk Back' en 'Accesibilidad'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box("Activa la opción 'Talk Back.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box("Selecciona las opciones de configuración detallada de ‘Talk Back’ que desees.")(data-number="04")


							+head-text('Ajuste de color de la pantalla', 'h3', 'title3')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona 'Mejoras de visibilidad' en 'Accesibilidad'.")(data-number="02")
									+text-box("Selecciona 'Ajustes de color' en 'Mejoras de visibilidad'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box("Activa la opción 'Ajuste de color'.")(data-number="04")
									+text-box("Selecciona la opción de tono de color que deseas cambiar.")(data-number="05")

						//- 2
						div#android-2.how-to-use-content
							+head-text('Funciones auditivas', 'h2', 'title2')

							+head-text('Subtítulos', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box("Selecciona 'Accesibilidad' en 'Configuración'")(data-number="01")
									+text-box("Selecciona ‘Mejoras auditivas’ en 'Accesibilidad'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box("Seleccione \"Preferencia de subtítulos\" en \"Accesibilidad\".")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box("Selecciona ‘Tamaño y estilo de subtítulo’ en ‘Preferencias de subtítulo’.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box("Selecciona 'Tamaño del texto', 'Estilo de subtítulo'.")(data-number="05")


							+head-text('Alerta de flash', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona ‘Configuración avanzada’ en ‘Accesibilidad’.")(data-number="02")
									+text-box("Selecciona ‘Notificación flash’ en ‘Configuración avanzada’.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box("Activa la opción ‘Notificación de flash de cámara’ en ‘Notificación de flash’.")(data-number="04")


							+head-text('Audio mono', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona ‘Mejoras auditivas’ en ‘Accesibilidad’.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box("Activa la opción ‘Audio mono’ en ‘Mejoras auditivas’.")(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('Funciones motoras y cognitivas', 'h2', 'title2')

							+head-text('Asistente táctil', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona ‘Interacción y destreza’ en ‘Accesibilidad’.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box("Activa la opción ‘Menú asistente’ en ‘Interacción y destreza’.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box("Selecciona el botón flotante de la derecha.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box("Selecciona el botón de la acción que desees.")(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('En esta sección, puedes encontrar cómo:')
							ul.col02
								+how-list-link('','Funciones de la visión')(href="#ios-1")
								+how-list-link('','Funciones de audición')(href="#ios-2")
								+how-list-link('','Funciones motoras y cognitivas')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Funciones visuales', 'h2', 'title2')
							
							//- 1
							+head-text('Ajuste del tamaño de la fuente', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box("Selecciona ‘Visualización y tamaño del texto’ en ‘Accesibilidad’.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box("Selecciona ‘Texto más grande’ en ‘Visualización y tamaño del texto’.")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box("Ajusta el tamaño de la fuente.")(data-number="04")

							//- Zoom
							+head-text('Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona 'Zoom' en 'Accesibilidad'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box("Selecciona el método de zoom y el rango de zoom.")(data-number="03")
									
							//- VoiceOver
							+head-text('VoiceOver', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona 'Voice Over' en 'Accesibilidad'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box("Ajusta 'Tasa de habla'.")(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('Funciones auditivas', 'h2', 'title2')

							//- Captions
							+head-text('Subtítulos', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona ‘Subtítulos y subtitulado’ en ‘Accesibilidad’.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box("Selecciona ‘Estilo’ en ‘Subtítulos y subtitulado’.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box("Selecciona la opción que deseas.")(data-number="04")


							//- Flash Alert
							+head-text('Alerta de Flash', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona ‘Audio/Visual’ en 'Accesibilidad'.")(data-number="02")
									+text-box("Selecciona ‘Flash LED para alertas’ en ‘Audio/Visual’.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box("Selecciona la opción que deseas.")(data-number="04")

							//- Mono Audio
							+head-text('Audio mono', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona ‘Audio/Visual’ en 'Accesibilidad'.")(data-number="02")
									+text-box("Selecciona ‘Audio mono’ en 'Audio/Visual'.")(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('Funciones motoras y cognitivas', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('Asistente táctil', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box("Selecciona ‘Accesibilidad’ en ‘Configuración’.")(data-number="01")
									+text-box("Selecciona ‘Táctil’ en 'Accesibilidad'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box("Selecciona ‘Ajustes táctiles’ en Táctil.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box("Selecciona la configuración que desees.")(data-number="04")
		// [END] You can put it in the code component up to this point.	