extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					top: 14px;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Bantuan Aksesibilitas"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Halaman ini menjelaskan cara menggunakan fitur aksesibilitas yang ditawarkan oleh Windows, Peramban Web, atau LG.COM untuk membantu pengguna menggunakan LG.COM dengan cara yang lebih mudah diakses. Jika Anda menggunakan keyboard atau teknologi bantu alih-alih menggunakan mouse, silakan pilih tab 'Kontrol Keyboard'. Jika Anda tidak dapat melihat dengan baik, silakan pilih tab 'Visually Impaired'. Jika Anda tidak dapat mendengar dengan baik, silakan pilih tab 'Hearing Impaired'."
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") Kontrol Keyboard
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") Visually Impaired
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") Hearing Impaired 
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Kontrol Keyboard', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Di bagian ini, Anda dapat menemukan cara:')
							ul.col02
								+how-list-link('','Menggunakan Blok Bypass')(href="#keyboard-controls-1")
								+how-list-link('','Menggunakan Pemilih Tanggal')(href="#keyboard-controls-2")
								+how-list-link('','Menggunakan Penggeser')(href="#keyboard-controls-3")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Menggunakan Blok Bypass', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box('Setelah Anda berada di LG.com, tekan Tab pada keyboard Anda. Anda akan melihat tautan bertuliskan “Lewati ke Isi”. Tekan Enter untuk langsung menuju ke konten utama.')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box('Tekan Tab pada keyboard Anda dua kali di LG.com. Tautan bertuliskan “Lewati ke Bantuan Aksesibilitas” akan muncul. Tekan Enter untuk langsung membuka bantuan aksesibilitas.')(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('Menggunakan Pemilih Tanggal', 'h2', 'title2')
							//- +head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_03.jpg')
								.text-box
									+text-box('Lapisan kalender muncul setiap kali kotak input dengan ikon kalender difokuskan. Tekan tombol Ctrl + Panah pada keyboard Anda untuk bergerak maju mundur di lapisan kalender.')(data-number="01")
									+text-box('Jika Anda ingin berpindah ke bulan sebelumnya atau berikutnya, tekan tombol page up atau page down.')(data-number="02")
									+text-box('Anda juga dapat memasukkan tanggal secara langsung menggunakan tombol numerik tanpa menggunakan Lapisan Kalender.')(data-number="03")
									
						div#keyboard-controls-3.how-to-use-content
							+head-text('Menggunakan Penggeser', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box('Tekan tombol Tab untuk mengatur fokus pada penggeser dan gunakan tombol Panah untuk mengatur nilai penggeser.')(data-number="01")
									+text-box('Saat menggunakan Program Pembaca Layar (JAWS atau NVDA), tekan tombol Tab untuk mengatur fokus ke penggeser dan gunakan tombol Alt + Panah untuk mengatur nilai penggeser.')(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('Visually Impaired', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('Di bagian ini, Anda dapat menemukan cara:')
							ul
								+how-list-link('Menggunakan Fungsi Zoom – ', 'Microsoft Edge(Terbaru), Firefox(Saat ini –1), Chrome(Saat ini –1)')(href="#visually-impaired-1")
								+how-list-link('', 'Menggunakan Magnifier, Fitur Pembesaran Bawaan di Windows')(href="#visually-impaired-2")
								+how-list-link('', 'Mengatur Magnifier untuk Memulai Secara Otomatis')(href="#visually-impaired-3")
								+how-list-link('Mengubah Latar Belakang dan Warna Teks -', 'Mengubah Latar Belakang dan Warna Teks -Microsoft Edge(Terbaru), Firefox(Saat ini –1), Chrome(Saat ini –1)')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Fungsi Zoom di Microsoft Edge (Terbaru)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box("Jika Anda menggunakan Microsoft Edge, silakan klik '···' di kanan atas peramban.")(data-number="01")
										+text-box("Dari daftar opsi, klik 'Zoom'. Anda akan melihat menu samping terbuka.")(data-number="02")
										+text-box("Pilih tingkat zoom yang telah ditentukan sebelumnya, atau tentukan tingkat khusus dengan mengklik 'Custom' dan masukkan nilai zoom.")(data-number="03")
									.how-to-use-menu
										+how-menu('Microsoft Edge juga memungkinkan ukuran teks diubah dengan pintasan keyboard:')
										ul
											+how-list(
												'Tekan Ctrl dan + perbesar ukurannya',
												'Tekan Ctrl dan - kecilkan ukurannya',
												'Tekan Ctrl dan 0 kembali ke ukuran default',
											)

							+head-text('Fungsi Zoom di Firefox (Terbaru)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box("Jika Anda menggunakan Firefox, silakan klik '☰' di pojok kanan atas peramban.")(data-number="01")
										+text-box("Di area 'Zoom' pada daftar, tekan '-' atau '+' untuk menambah atau mengurangi rasio yang diinginkan.")(data-number="02")
										+text-box("Anda juga dapat beralih ke layar penuh dengan menekan tombol '↕' atau 'F11' di sebelah kanan.")(data-number="03")
									.how-to-use-menu
										+how-menu('Firefox juga mengizinkan ukuran teks diubah dengan pintasan keyboard:')
										ul
											+how-list(
												'Tekan Ctrl dan + perbesar ukurannya',
												'Tekan Ctrl dan - kecilkan ukurannya',
												'Tekan Ctrl dan 0 kembali ke ukuran default',
											)

							+head-text('Fungsi Zoom di Chrome (Terbaru)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box("Jika Anda menggunakan Firefox, silakan klik '⁝' di pojok kanan atas peramban.")(data-number="01")
										+text-box("Di area 'Zoom' pada daftar, tekan '-' atau '+' untuk menambah atau mengurangi rasio yang diinginkan.")(data-number="02")
										+text-box("Anda juga dapat beralih ke layar penuh dengan menekan tombol '□' atau 'F11' di sebelah kanan.")(data-number="03")
									.how-to-use-menu
										+how-menu('Chrome juga mengizinkan ukuran teks diubah dengan pintasan keyboard:')
										ul
											+how-list(
												'Tekan Ctrl dan + perbesar ukurannya',
												'Tekan Ctrl dan - kecilkan ukurannya',
												'Tekan Ctrl dan 0 kembali ke ukuran default',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('Gunakan Magnifier, Fitur Pembesaran Bawaan di Windows', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
								.text-box
									+text-box("Pilih 'Kemudahan Akses' di panel kontrol.")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
								.text-box
									+text-box("Pilih 'Pusat Kemudahan Akses'.")(data-number="02")
									//- +text-box("Select the 'Turn on Magnifier' menu on the right Magnifier panel and change it to 'On'.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
								.text-box
									+text-box("Pilih menu 'Mulai Magnifier' untuk memulai Kaca Pembesar.")(data-number="03")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('Pintasan keyboard berikut tersedia saat menggunakan Magnifier.')
								ul.col02
									+how-list(
										"Tekan tombol Windows dan + untuk memperbesar.",
										"Tekan Ctrl, Alt dan R untuk mengubah ukuran lensa.",
										"Tekan tombol Windows dan - untuk memperkecil.",
										"Tekan Ctrl, Alt dan D untuk beralih ke mode 'Docked'.",
										"Tekan Ctrl, Alt dan Spacebar untuk melihat pratinjau desktop dalam mode layar penuh.",
										"Tekan Ctrl, Alt dan I untuk membalikkan warna di jendela pembesaran.",
										"Tekan Ctrl, Alt dan L untuk beralih ke mode 'Lensa'.",
										"Tekan tombol Ctrl, Alt dan Panah untuk memindahkan fokus ke arah yang dipilih.",
										" Tekan Ctrl, Alt dan R untuk mengubah ukuran lensa.",
										"Tekan tombol Windows dan Esc untuk keluar dari Magnifier.",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('Use Magnifier, the Built-in Magnification Feature in Windows', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('Mengubah Warna Latar Belakang dan Teks di Microsoft Edge (Terbaru)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Jika Anda menggunakan Microsoft Edge, Anda perlu memasang plugin untuk mengubah warna latar belakang.
								br
								| Sejumlah plugin aksesibilitas tersedia di sini:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Microsoft Edge Add-ons', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('Mengubah Warna Latar Belakang dan Teks di Firefox (Terbaru)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Jika Anda menggunakan Firefox, Anda perlu memasang plugin untuk mengubah warna latar belakang.
								br
								| Sejumlah plugin aksesibilitas tersedia di sini:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Firefox Add-ons', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('Mengubah Warna Latar Belakang dan Teks di Chrome (Terbaru)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Jika Anda menggunakan Google Chrome, Anda perlu memasang beberapa ekstensi untuk mengubah warna latar belakang.
								br
								| Sejumlah plugin aksesibilitas tersedia di sini:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Chrome Extensions', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('Hearing Impaired', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('Di bagian ini, Anda dapat menemukan cara:')
							ul
								+how-list-link('', 'Menyesuaikan Volume Sistem')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('Adjust System Volume', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
								.text-box
									+text-box("Pilih 'Perangkat Keras dan Suara' di panel kontrol.")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
								.text-box
									+text-box("Pilih 'Sesuaikan volume sistem' di bawah 'Suara'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
								.text-box
									+text-box("Sesuaikan penggeser 'Volume induk' di panel kanan agar sesuai dengan suara yang diinginkan.")(data-number="03")

			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Bantuan Aksesibilitas"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Di LG, kami berkomitmen untuk menyediakan produk yang dapat diakses oleh pelanggan kami. Lihat daftar di bawah untuk melihat fitur yang membantu pengguna dengan gangguan penglihatan, pendengaran, atau berkurangnya ketangkasan."
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Di bagian ini, Anda dapat menemukan cara untuk mengatur:')
							ul.col02
								+how-list-link('','Fitur Penglihatan')(href="#android-1")
								+how-list-link('','Fitur Pendengaran')(href="#android-2")
								+how-list-link('','Fitur Motorik & Kognisi')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Fitur Penglihatan', 'h2', 'title2')
							
							//- 1
							+head-text('Penyesuaian Ukuran Font', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box("Pilih 'Peningkatan visibilitas' di 'Aksesibilitas'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box("Pilih 'Ukuran dan gaya font' di 'Peningkatan visibilitas'")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box("Sesuaikan ukuran Font.'.")(data-number="04")

							+head-text('Touch Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Peningkatan visibilitas' di 'Aksesibilitas'.")(data-number="02")
									+text-box("Pilih 'Pembesaran' di 'Peningkatan visibilitas'.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box("Aktifkan opsi 'Pintasan pembesaran'.")(data-number="04")

							+head-text('TalkBack', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Talk Back' di 'Aksesibilitas'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box("Aktifkan opsi 'Talk Back'.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box("Pilih opsi pengaturan detail 'Talk Back' yang Anda inginkan.")(data-number="04")


							+head-text('Penyesuaian Warna Layar', 'h3', 'title3')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Peningkatan visibilitas' di 'Aksesibilitas'.")(data-number="02")
									+text-box("Pilih 'Penyesuaian Warna' di 'Peningkatan visibilitas'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box("Aktifkan opsi 'Penyesuaian warna'.")(data-number="04")
									+text-box("Pilih opsi nada warna yang ingin Anda ubah.")(data-number="05")

						//- 2
						div#android-2.how-to-use-content
							+head-text('Fitur Pendengaran', 'h2', 'title2')

							+head-text('Teks', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'")(data-number="01")
									+text-box("Pilih 'Peningkatan pendengaran' di 'Aksesibilitas'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box("Pilih 'Preferensi teks' di 'Aksesibilitas'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box("Pilih 'Ukuran dan gaya teks' di 'Preferensi teks'.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box("Pilih 'Ukuran teks', 'Gaya teks'.")(data-number="05")


							+head-text('Peringatan Flash', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Pengaturan lanjutan' di 'Aksesibilitas'.")(data-number="02")
									+text-box("Pilih 'Pemberitahuan flash' di 'Pengaturan lanjutan'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box("Aktifkan opsi 'Pemberitahuan flash kamera' di 'Pemberitahuan flash'.")(data-number="04")


							+head-text('Mono Audio', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Peningkatan pendengaran' di 'Aksesibilitas'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box("Aktifkan opsi 'Audio mono' di 'Peningkatan pendengaran'.")(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('Fitur Motorik & Kognisi', 'h2', 'title2')

							+head-text('Bantuan Sentuhan', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Interaksi dan ketangkasan' di 'Aksesibilitas'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box("Aktifkan opsi 'Menu bantuan' di 'Interaksi dan ketangkasan'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box("Pilih tombol yang mengambang di sisi kanan.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box("Pilih tombol untuk tindakan yang Anda inginkan.")(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Di bagian ini, Anda dapat menemukan cara untuk mengatur:')
							ul.col02
								+how-list-link('','Fitur Penglihatan')(href="#ios-1")
								+how-list-link('','Fitur Pendengaran')(href="#ios-2")
								+how-list-link('','Fitur Motorik & Kognisi')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Fitur Penglihatan', 'h2', 'title2')
							
							//- 1
							+head-text('Penyesuaian Ukuran Font', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box("Pilih 'Tampilan & Ukuran Teks' di 'Aksesibilitas'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box("Pilih 'Teks Lebih Besar' di 'Tampilan & Ukuran Teks'.")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box("Sesuaikan ukuran Font")(data-number="04")

							//- Zoom
							+head-text('Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Zoom' di 'Aksesibilitas'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box("Pilih metode pembesaran dan rentang pembesaran.")(data-number="03")
									
							//- VoiceOver
							+head-text('VoiceOver', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Voice Over' di 'Aksesibilitas'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box("Sesuaikan 'Kecepatan bicara'.")(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('Fitur Pendengaran', 'h2', 'title2')

							//- Captions
							+head-text('Teks', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Subtitle & Teks' di 'Aksesibilitas'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box("Pilih 'Gaya' di 'Subtitle & Teks'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box("Pilih opsi yang Anda inginkan.")(data-number="04")


							//- Flash Alert
							+head-text('Peringatan Flash', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Audio/Visual' di 'Aksesibilitas'.")(data-number="02")
									+text-box("Pilih 'LED Flash untuk Peringatan' di 'Audio/Visual'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box("Pilih opsi yang Anda inginkan.")(data-number="04")

							//- Mono Audio
							+head-text('Mono Audio', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Audio/Visual' di 'Aksesibilitas'.")(data-number="02")
									+text-box("Pilih 'Audio Mono' di 'Audio/Visual'.")(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('Fitur Motorik & Kognisi', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('Bantuan Sentuhan', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box("Pilih 'Aksesibilitas' di 'Pengaturan'.")(data-number="01")
									+text-box("Pilih 'Sentuh' di 'Aksesibilitas'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box("Pilih 'Akomodasi Sentuh' di Sentuh.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box("Pilih pengaturan yang Anda inginkan.")(data-number="04")
		// [END] You can put it in the code component up to this point.	