extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					bottom: 50%;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Accessibility Help"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "This page explains how to use accessibility features offered by Windows, Web Browsers, or LG.COM in order to help users to use LG.COM in a more accessible way. If you are using a keyboard or assistive technologies instead of using a mouse, please select 'Keyboard Controls' tab. If you can't see very well, please select 'Visually Impaired' tab. If you can't hear very well, please select 'Hearing Impaired' tab."
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") Keyboard Controls
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") Visually Impaired
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") Hearing Impaired 
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Keyboard Controls', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In this section, you can find how to:')
							ul.col02
								+how-list-link('','Use Bypass Blocks')(href="#keyboard-controls-1")
								+how-list-link('','Use Date-picker')(href="#keyboard-controls-2")
								+how-list-link('','Use Slider')(href="#keyboard-controls-3")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Use Bypass Blocks', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box('Once you are on LG.com, press Tab on your keyboard. You will see a link that reads “Skip to Contents”. Press Enter to directly go to main content. ')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box('Press Tab on your keyboard twice on LG.com. A link that reads “Skip to Accessibility Help” will appear. Press Enter to directly go to accessibility help.')(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('Use Date Picker', 'h2', 'title2')
							//- +head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_03.jpg')
								.text-box
									+text-box('Calendar layer appears whenever an input box with calendar icon is focused. Press Ctrl + Arrow keys on your keyboard to move back and forth in the calendar layer.')(data-number="01")
									+text-box('If you want to move to the previous or next month, press the page up or page down key.')(data-number="02")
									+text-box('You can also input the date directly using the numeric key without using the Calendar Layer.')(data-number="03")
									
						div#keyboard-controls-3.how-to-use-content
							+head-text('Use Slider', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box('Press Tab key to set focus to the slider and use the Arrow keys to set the slider values.')(data-number="01")
									+text-box('When using the Screen Reader Program (JAWS or NVDA), press Tab key to set focus to the slider and use the Alt + Arrow keys to set the slider values.')(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('Visually Impaired', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('In this section, you can find how to:')
							ul
								+how-list-link('Use the Zoom Function – ', 'Microsoft Edge(Latest), Firefox(Current –1), Chrome(Current –1)')(href="#visually-impaired-1")
								+how-list-link('', 'Use Magnifier, the Built-in Magnification Feature in Windows')(href="#visually-impaired-2")
								+how-list-link('', 'Set Magnifier to Start Automatically')(href="#visually-impaired-3")
								+how-list-link('Change Background and Text Colors -', 'Microsoft Edge(Latest), Firefox(Current –1), Chrome(Current –1)')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Zoom Function in Microsoft Edge (Latest)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box("If you are using Microsoft Edge, please click '···' at the top right of the browser.")(data-number="01")
										+text-box("From the list of options, click 'Zoom'. You will see a side menu open up.")(data-number="02")
										+text-box("Select the predefined zoom level, or specify a custom level by clicking 'Custom' and entering a zoom value.")(data-number="03")
									.how-to-use-menu
										+how-menu('Microsoft Edge also allows the text size to be changed with keyboard shortcuts:')
										ul
											+how-list(
												'Press Ctrl and + increase the size',
												'Press Ctrl and - decrease the size',
												'Press Ctrl and 0 go back to the default size',
											)

							+head-text('Zoom Function in Firefox (Latest)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box("If you are using Firefox, please click '☰' in the upper right corner of the browser.")(data-number="01")
										+text-box("In the 'Zoom' area of the list, press '-' or '+' to increase or decrease the desired ratio.")(data-number="02")
										+text-box("You can also switch to full screen by pressing the '↕' or 'F11' button on the right.	")(data-number="03")
									.how-to-use-menu
										+how-menu('Firefox also allows the text size to be changed with keyboard shortcuts:')
										ul
											+how-list(
												'Press Ctrl and + increase the size',
												'Press Ctrl and - decrease the size',
												'Press Ctrl and 0 go back to the default size',
											)

							+head-text('Zoom Function in Chrome (Latest)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box("If you are using Firefox, please click '⁝' in the upper right corner of the browser.")(data-number="01")
										+text-box("In the 'Zoom' area of the list, press '-' or '+' to increase or decrease the desired ratio.")(data-number="02")
										+text-box("You can also switch to full screen by pressing the '□' or 'F11' button on the right.")(data-number="03")
									.how-to-use-menu
										+how-menu('Chrome also allows the text size to be changed with keyboard shortcuts:')
										ul
											+how-list(
												'Press Ctrl and + increase the size',
												'Press Ctrl and - decrease the size',
												'Press Ctrl and 0 go back to the default size',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('Use Magnifier, the Built-in Magnification Feature in Windows', 'h2', 'title2')
							.how-to-use-box.type03
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
									.text-box
										+text-box("Select 'Ease of Access' in control panel.")(data-number="01")
								.box02
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
									.text-box
										+text-box("Select 'Magnifier' Menu.")(data-number="02")
										+text-box("Select the 'Turn on Magnifier' menu on the right Magnifier panel and change it to 'On'.")(data-number="03")
								.box03
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
									.text-box
										+text-box("Control it with the provided Magnifier remote control or use the following hotkeys to control the magnifier.")(data-number="04")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('The following keyboard shortcuts are available when using Magnifier.')
								ul.col02
									+how-list(
										"Press Windows key and + to zoom in.",
										"Press Ctrl, Alt and R to resize the lens.",
										"Press Windows key and - to zoom out.",
										"Press Ctrl, Alt and D to switch to 'Docked' mode.",
										"Press Ctrl, Alt and Spacebar to preview the desktop in full-screen mode.",
										"Press Ctrl, Alt and I to invert the colors in magnification window.",
										"Press Ctrl, Alt and L to switch to 'Lens' mode.",
										"Press Ctrl, Alt and Arrow keys to move the focus in direction chosen.",
										"Press Ctrl, Alt and R to resize the lens.",
										"Press Windows key and Esc to exit Magnifier.",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('Use Magnifier, the Built-in Magnification Feature in Windows', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('Change Background and Text Colors in Microsoft Edge (Latest)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| If you are using Microsoft Edge, you need to install a plug in to change the background colors. 
								br
								| A number of accessibility plug ins are available here:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Microsoft Edge Add-ons', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('Change Background and Text Colors in Firefox (Latest)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| If you are using Firefox, you need to install a plug in to change the background colors.
								br
								| A number of accessibility plug ins are available here:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Firefox Add-ons', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('Change Background and Text Colors in Chrome (Latest)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								|If you are using Google Chrome, you need to install some extensions to change the background colors.
								br
								| A number of accessibility plug ins are available here:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Chrome Extensions', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('Hearing Impaired', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('In this section, you can find how to:')
							ul
								+how-list-link('', 'Adjust System Volume')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('Adjust System Volume', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
								.text-box
									+text-box("Select ‘Hardware and Sound’ in control panel.")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
								.text-box
									+text-box("Select ‘Adjust system volume' under 'Sound'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
								.text-box
									+text-box("Adjust the slider of 'Master volume' on the right panel to match the desired sound.")(data-number="03")

			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Mobile Accessibility"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "At LG, we're committed to providing accessible products for our customers. See below for a list of features to help users who have impaired vision, hearing, or reduced dexterity."
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In this section, you can find how to :')
							ul.col02
								+how-list-link('','Vision Features')(href="#android-1")
								+how-list-link('','Hearing Features')(href="#android-2")
								+how-list-link('','Motor & Cognition Features')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Vision Features', 'h2', 'title2')
							
							//- 1
							+head-text('Font Size Adjustment', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box("Select the 'Accessibility' in 'Settings'.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box("Select ‘Visibility enhancements’ in 'Accessibility'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box("Select ‘Font size and style’ in 'Visibility enhancements'")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box("Adjust Font size.'.")(data-number="04")

							+head-text('Touch Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box("Select the 'Accessibility' in 'Settings'.")(data-number="01")
									+text-box("Select 'Vision enhancements' in 'Accessibility'.")(data-number="02")
									+text-box("Select 'Magnification' in 'Vision enhancements'.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box("Turn on 'Magnification shortcut' option.")(data-number="04")

							+head-text('TalkBack', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box("Select the 'Accessibility' in 'Settings'.")(data-number="01")
									+text-box("Select 'Talk Back' in 'Accessibility'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box("Turn on 'Talk Back' option.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box("Select 'Talk Back' detail setting options you want.")(data-number="04")


							+head-text('Screen Color Adjustment', 'h3', 'title3')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box("Select the 'Accessibility' in 'Settings'.")(data-number="01")
									+text-box("Select 'Visibility enhancements' in 'Accessibility'.")(data-number="02")
									+text-box("Select 'Color Adjustment' in 'Visibility enhancements'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box("Turn on 'Color adjustment' option.")(data-number="04")
									+text-box("Select color tone option you want to change.")(data-number="05")

						//- 2
						div#android-2.how-to-use-content
							+head-text('Hearing Features', 'h2', 'title2')

							+head-text('Captions', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box("Select the 'Accessibility' in 'Settings'.")(data-number="01")
									+text-box("Select ‘Hearing enhancements’ in 'Accessibility'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box("Select 'Caption preference' in 'Accessibility'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box("Select 'Caption size and style' in 'Caption preference'.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box("Select 'Text size', 'Caption style'.")(data-number="05")


							+head-text('Flash Alert', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box("Select the 'Accessibility' in 'Settings'.")(data-number="01")
									+text-box("Select 'Advanced settings' in 'Accessibility'.")(data-number="02")
									+text-box("Select 'Flash notification' in 'Advanced settings'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box("Turn on 'Camera flash notification' option in 'Flash notitificatiion'.")(data-number="04")


							+head-text('Mono Audio', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box("Select the 'Accessibility' in 'Settings'.")(data-number="01")
									+text-box("Select 'Hearing enhancements' in 'Accessibility'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box("Turn on 'Mono audio' option in 'Hearing enhancements'.")(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('Motor & Cognition Features', 'h2', 'title2')

							+head-text('Touch Assistant', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box("Select the 'Accessibility' in 'Settings'.")(data-number="01")
									+text-box("Select 'Interaction and dexterity' in 'Accessibility'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box("Turn on 'Assistant menu' option in 'Interaction and dexterity'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box("Select the button floating in right side.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box("Select the button for the action you want.")(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In this section, you can find how to :')
							ul.col02
								+how-list-link('','Vision Features')(href="#ios-1")
								+how-list-link('','Hearing Features')(href="#ios-2")
								+how-list-link('','Motor & Cognition Features')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Vision Features', 'h2', 'title2')
							
							//- 1
							+head-text('Font Size Adjustment', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box("Select ‘Accessibility’ in 'Settings'.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box("Select ‘Display & Text Size’ in 'Accessibility'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box("Select ‘Larger Text’ in 'Display & Text Size'.")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box("Adjust Font size.")(data-number="04")

							//- Zoom
							+head-text('Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box("Select ‘Accessibility’ in 'Settings'.")(data-number="01")
									+text-box("Select 'Zoom' in 'Accessibility'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box("Select the zooming method and zoom range.")(data-number="03")
									
							//- VoiceOver
							+head-text('VoiceOver', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box("Select ‘Accessibility’ in 'Settings'.")(data-number="01")
									+text-box("Select 'Voice Over' in 'Accessibility'.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box("Adjust 'Speaking rate'.")(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('Hearing Features', 'h2', 'title2')

							//- Captions
							+head-text('Captions', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box("Select ‘Accessibility’ in 'Settings'.")(data-number="01")
									+text-box("Select 'Subtitles & Captioning' in 'Accessibility'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box("Select ‘Style’ in 'Subtitles & Captioning'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box("Select the option you want.")(data-number="04")


							//- Flash Alert
							+head-text('Flash Alert', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box("Select ‘Accessibility’ in 'Settings'.")(data-number="01")
									+text-box("Select ‘Audio/Visual’ in 'Accessibility'.")(data-number="02")
									+text-box("Select ‘LED Flash for Alerts’ in 'Audio/Visual'.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box("Select the option you want.")(data-number="04")

							//- Mono Audio
							+head-text('Mono Audio', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box("Select ‘Accessibility’ in 'Settings'.")(data-number="01")
									+text-box("Select ‘Audio/Visual’ in 'Accessibility'.")(data-number="02")
									+text-box("Select ‘Mono Audio’ in 'Audio/Visual'.")(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('Motor & Cognition Features', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('Touch Assistant', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box("Select ‘Accessibility’ in 'Settings'.")(data-number="01")
									+text-box("Select ‘Touch’ in 'Accessibility'.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box("Select ‘Touch Accommodations’ in Touch.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box("Select the settings you want.")(data-number="04")
		// [END] You can put it in the code component up to this point.	