extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					top: 14px;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Trợ giúp về trợ năng"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Trang này giải thích cách sử dụng các tính năng trợ năng do Windows, Trình duyệt web hoặc LG.COM cung cấp nhằm giúp người dùng sử dụng LG.COM dễ dàng hơn. Nếu bạn sử dụng bàn phím hoặc công nghệ hỗ trợ thay cho chuột, chọn tab “Điều khiển bằng bàn phím”. Nếu thị lực của bạn không tốt, chọn tab “Suy giảm thị lực”. Nếu thính lực của bạn không tốt, chọn tab “Suy giảm thính lực”."
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") Điều khiển bằng bàn phím
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") Suy giảm thị lực
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") Suy giảm thính lực 
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Điều khiển bằng bàn phím', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Trong mục này, bạn có thể thấy nội dung về cách:')
							ul.col02
								+how-list-link('','Sử dụng Bỏ qua khối nội dung')(href="#keyboard-controls-1")
								+how-list-link('','Sử dụng Trình chọn ngày')(href="#keyboard-controls-2")
								+how-list-link('','Sử dụng Thanh trượt')(href="#keyboard-controls-3")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Sử dụng Bỏ qua khối nội dung', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box('Sau khi truy cập vào LG.com, hãy nhấn phím Tab trên bàn phím. Bạn sẽ thấy một liên kết có nội dung “Chuyển đến nội dung”. Nhấn phím Enter để chuyển trực tiếp đến nội dung chính. ')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box('Tại LG.com, nhấn phím Tab trên bàn phím hai lần. Liên kết có nội dung “Chuyển đến Trợ giúp về trợ năng” sẽ xuất hiện. Nhấn phím Enter để chuyển trực tiếp đến trợ giúp về trợ năng.')(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('Sử dụng Trình chọn ngày', 'h2', 'title2')
							//- +head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_03.jpg')
								.text-box
									+text-box('Lớp lịch xuất hiện mỗi lần tiêu điểm nằm ở hộp nhập liệu có biểu tượng lịch. Nhấn Ctrl + phím Mũi tên trên bàn phím để di chuyển qua lại trong lớp lịch.')(data-number="01")
									+text-box('Nếu muốn chuyển sang tháng trước hoặc tháng sau thì nhấn phím page up hoặc page down.')(data-number="02")
									+text-box('Bạn cũng có thể nhập ngày trực tiếp bằng phím số mà không cần sử dụng Lớp lịch.')(data-number="03")
									
						div#keyboard-controls-3.how-to-use-content
							+head-text('Sử dụng Thanh trượt', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box('Nhấn phím Tab để đặt tiêu điểm vào thanh trượt và sử dụng các phím Mũi tên để đặt giá trị cho thanh trượt.')(data-number="01")
									+text-box('Khi sử dụng Chương trình đọc màn hình (JAWS hoặc NVDA), nhấn phím Tab để đặt tiêu điểm vào thanh trượt và sử dụng Alt + phím Mũi tên để đặt giá trị cho thanh trượt.')(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('Suy giảm thị lực', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('Trong mục này, bạn có thể thấy nội dung về cách:')
							ul
								+how-list-link('Sử dụng Chức năng thu phóng – Microsoft Edge(Mới nhất), Firefox(Hiện tại –1), Chrome(Hiện tại –1)')(href="#visually-impaired-1")
								+how-list-link('', 'Sử dụng Kính lúp, Tính năng phóng to tích hợp trong Windows')(href="#visually-impaired-2")
								+how-list-link('', 'Đặt Kính lúp thành Tự động khởi động')(href="#visually-impaired-3")
								+how-list-link('Thay đổi màu nền và màu văn bản - Microsoft Edge (Mới nhất), Firefox (Hiện tại –1), Chrome (Hiện tại –1)')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Chức năng thu phóng trong Microsoft Edge (Mới nhất)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box("Nếu bạn sử dụng Microsoft Edge, nhấp vào “···” ở trên cùng bên phải trình duyệt.")(data-number="01")
										+text-box("Từ danh sách tùy chọn, nhấp vào “Thu phóng”. Bạn sẽ thấy một menu bên mở ra.")(data-number="02")
										+text-box("Chọn mức thu phóng định sẵn hoặc chỉ định mức tùy chỉnh bằng cách nhấp vào “Tùy chỉnh” và nhập giá trị thu phóng.")(data-number="03")
									.how-to-use-menu
										+how-menu('Microsoft Edge cũng cho phép thay đổi kích thước văn bản bằng phím tắt:')
										ul
											+how-list(
												'Nhấn phím Ctrl và + để tăng kích thước',
												'Nhấn phím Ctrl và - để giảm kích thước',
												'Nhấn phím Ctrl và 0 để trở về kích thước mặc định',
											)

							+head-text('Chức năng thu phóng trong Firefox (Mới nhất)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box("Nếu bạn sử dụng Firefox, nhấp vào “☰” ở góc trên bên phải trình duyệt.")(data-number="01")
										+text-box("Tại khu vực “Thu phóng” trong danh sách, nhấn phím “-” hoặc “+” để tăng hoặc giảm đến tỷ lệ mong muốn.")(data-number="02")
										+text-box("Bạn cũng có thể nhấn nút “↕” hoặc “F11” ở bên phải để chuyển sang chế độ toàn màn hình.	")(data-number="03")
									.how-to-use-menu
										+how-menu('Firefox cũng cho phép thay đổi kích thước văn bản bằng phím tắt:')
										ul
											+how-list(
												'Nhấn phím Ctrl và + để tăng kích thước',
												'Nhấn phím Ctrl và - để giảm kích thước',
												'Nhấn phím Ctrl và 0 để trở về kích thước mặc định',
											)

							+head-text('Chức năng thu phóng trong Chrome (Mới nhất)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box("Nếu bạn sử dụng Firefox, nhấp vào “⁝” ở góc trên bên phải trình duyệt.")(data-number="01")
										+text-box("Tại khu vực “Thu phóng” trong danh sách, nhấn phím “-” hoặc “+” để tăng hoặc giảm đến tỷ lệ mong muốn.")(data-number="02")
										+text-box("Bạn cũng có thể nhấn nút “□” hoặc “F11” ở bên phải để chuyển sang chế độ toàn màn hình.")(data-number="03")
									.how-to-use-menu
										+how-menu('Chrome cũng cho phép thay đổi kích thước văn bản bằng phím tắt:')
										ul
											+how-list(
												'Nhấn phím Ctrl và + để tăng kích thước',
												'Nhấn phím Ctrl và - để giảm kích thước',
												'Nhấn phím Ctrl và 0 để trở về kích thước mặc định',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('Sử dụng Kính lúp, Tính năng phóng to tích hợp trong Windows', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
								.text-box
										+text-box("Chọn “Dễ truy cập” trong bảng điều khiển.")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
								.text-box
										+text-box("Chọn “Trung tâm Dễ truy cập”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
								.text-box
										+text-box("Chọn menu “Khởi động Kính lúp'” để khởi động Kính lúp.")(data-number="03")
								//- .box03
								//- 	.image-box.c-image
								//- 		+printLazyImage('images/img-03.jpg')
								//- 	.text-box
								//- 		+text-box("Control it with the provided Magnifier remote control or use the following hotkeys to control the magnifier.")(data-number="04")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('Các phím tắt sau đây khả dụng khi sử dụng Kính lúp.')
								ul.col02
									+how-list(
										"Nhấn phím Windows và + để phóng to.",
										"Nhấn phím Ctrl, Alt và R để thay đổi kích thước ống kính.",
										"Nhấn phím Windows và - để thu nhỏ.",
										"Nhấn phím Ctrl, Alt và D để chuyển sang chế độ “Gắn cạnh”.",
										"Nhấn phím Ctrl, Alt và Phím cách để xem trước màn hình nền ở chế độ toàn màn hình.",
										"Nhấn phím Ctrl, Alt và I để đảo màu trong cửa sổ phóng to.",
										"Nhấn phím Ctrl, Alt và L để chuyển sang chế độ “Ống kính”.",
										"Nhấn phím Ctrl, Alt và phím Mũi tên để di chuyển tiêu điểm theo hướng đã chọn.",
										"Nhấn phím Ctrl, Alt và R để thay đổi kích thước ống kính.",
										"Nhấn phím Windows và Esc để thoát Kính lúp.",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('Sử dụng Kính lúp, Tính năng phóng to tích hợp trong Windows', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('Thay đổi màu nền và màu văn bản trong Microsoft Edge (Mới nhất)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Nếu sử dụng Microsoft Edge, bạn cần cài đặt plugin để thay đổi màu nền. 
								br
								| Một số plugin trợ năng có sẵn tại đây:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Tiện ích bổ sung Microsoft Edge', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('Thay đổi màu nền và màu văn bản trong Firefox (Mới nhất)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Nếu sử dụng Firefox, bạn cần cài đặt plugin để thay đổi màu nền.
								br
								| Một số plugin trợ năng có sẵn tại đây:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Tiện ích bổ sung Firefox', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('Thay đổi màu nền và màu văn bản trong Chrome (Mới nhất)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Nếu sử dụng Google Chrome, bạn cần cài đặt một số tiện ích mở rộng để thay đổi màu nền.
								br
								| Một số plugin trợ năng có sẵn tại đây:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Tiện ích Chrome', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('Suy giảm thính lực', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('Trong mục này, bạn có thể thấy nội dung về cách:')
							ul
								+how-list-link('', 'Điều chỉnh âm lượng hệ thống')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('Điều chỉnh âm lượng hệ thống', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
								.text-box
									+text-box('Chọn “Phần cứng và âm thanh” trong bảng điều khiển.')(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
								.text-box
									+text-box('Chọn “Điều chỉnh âm lượng hệ thống” trong “Âm thanh”.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
								.text-box
									+text-box('Điều chỉnh thanh trượt “Âm lượng chính” ở bảng bên phải để đạt đến âm thanh mong muốn.')(data-number="03")

			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Trợ giúp về trợ năng"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Tại LG, chúng tôi cam kết cung cấp các sản phẩm dễ tiếp cận cho khách hàng. Xem bên dưới để biết danh sách các tính năng hỗ trợ người dùng bị suy giảm thị lực, thính lực hoặc suy giảm khả năng thao tác."
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Trong mục này, bạn có thể tìm hiểu về:')
							ul.col02
								+how-list-link('','Tính năng hỗ trợ thị giác')(href="#android-1")
								+how-list-link('','Tính năng hỗ trợ thính giác')(href="#android-2")
								+how-list-link('','Tính năng hỗ trợ vận động & nhận thức')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Tính năng hỗ trợ thị giác', 'h2', 'title2')

							//- 1
							+head-text('Điều chỉnh kích thước phông chữ', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box("Chọn “Hỗ trợ” trong “Cài đặt”.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box("Chọn “Cải thiện khả năng hiển thị” trong “Hỗ trợ”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box("Chọn “Cỡ font và kiểu font” trong “Cải thiện khả năng hiển thị”")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box("Điều chỉnh kích thước phông chữ.'.")(data-number="04")

							+head-text('Thu phóng cảm ứng', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box("Chọn “Hỗ trợ” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Cải thiện khả năng hiển thị” trong “Hỗ trợ”.")(data-number="02")
									+text-box("Chọn “Phóng to” trong “Cải thiện khả năng hiển thị”.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box("Bật tùy chọn “Phím tắt phóng to”.")(data-number="04")

							+head-text('TalkBack', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box("Chọn “Hỗ trợ” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Talk Back” trong “Hỗ trợ”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box("Bật tùy chọn “Talk Back”.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box("Chọn tùy chọn cài đặt chi tiết cho “Talk Back” mà bạn muốn.")(data-number="04")

							+head-text('Điều chỉnh màu sắc màn hình', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box("Chọn “Hỗ trợ” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Cải thiện khả năng hiển thị” trong “Hỗ trợ”.")(data-number="02")
									+text-box("Chọn “Điều chỉnh màu” trong “Cải thiện khả năng hiển thị”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box("Bật tùy chọn “Điều chỉnh màu”.")(data-number="04")
									+text-box("Chọn tùy chọn tông màu bạn muốn thay đổi.")(data-number="05")


						//- 2
						div#android-2.how-to-use-content
							+head-text('Tính năng hỗ trợ thính giác', 'h2', 'title2')

							+head-text('Chú thích', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box("Chọn “Hỗ trợ” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Nâng cao thính giác” trong “Hỗ trợ”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box("Chọn “Tùy chọn phụ đề” trong “Hỗ trợ”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box("Chọn “Cỡ và kiểu phụ đề” trong “Tùy chọn phụ đề”.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box("Chọn “Cỡ chữ”, “Kiểu phụ đề”.")(data-number="05")


							+head-text('Đèn flash cảnh báo', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box("Chọn “Hỗ trợ” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Cài đặt nâng cao” trong “Hỗ trợ”.")(data-number="02")
									+text-box("Chọn “Đèn flash thông báo” trong “Cài đặt nâng cao”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box("Bật tùy chọn “Thông báo đèn flash máy ảnh” trong “Đèn flash thông báo”.")(data-number="04")


							+head-text('Âm thanh đơn kênh', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box("Chọn “Hỗ trợ” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Nâng cao thính giác” trong “Hỗ trợ”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box("Bật tùy chọn “Âm thanh mono” trong “Nâng cao thính giác”.")(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('Tính năng hỗ trợ vận động & nhận thức', 'h2', 'title2')

							+head-text('Hỗ trợ cảm ứng', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box("Chọn “Hỗ trợ” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Tương tác và thao tác” trong “Hỗ trợ”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box("Bật tùy chọn “Menu hỗ trợ” trong “Tương tác và thao tác”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box("Chọn nút nổi ở bên phải.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box("Chọn nút cho hành động bạn muốn.")(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Trong mục này, bạn có thể tìm hiểu về:')
							ul.col02
								+how-list-link('','Tính năng hỗ trợ thị giác')(href="#ios-1")
								+how-list-link('','Tính năng hỗ trợ thính giác')(href="#ios-2")
								+how-list-link('','Tính năng hỗ trợ vận động & nhận thức')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Tính năng hỗ trợ thị giác', 'h2', 'title2')
							
							//- 1
							+head-text('Điều chỉnh kích thước phông chữ', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box("Chọn “Trợ năng” trong “Cài đặt”.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box("Chọn “Màn hình & Cỡ chữ” trong “Trợ năng”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box("Chọn “Chữ lớn hơn” trong “Màn hình & Cỡ chữ”.")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box("Điều chỉnh kích thước phông chữ")(data-number="04")

							//- Zoom
							+head-text('Thu phóng', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box("Chọn “Trợ năng” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Thu phóng” trong “Trợ năng”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box("Chọn phương pháp thu phóng và phạm vi thu phóng.")(data-number="03")
									
							//- VoiceOver
							+head-text('VoiceOver', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box("Chọn “Trợ năng” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Voice Over” trong “Trợ năng”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box("Điều chỉnh “Tốc độ đọc”.")(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('Tính năng hỗ trợ thính giác', 'h2', 'title2')

							//- Captions
							+head-text('Chú thích', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box("Chọn “Trợ năng” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Phụ đề & Chú thích” trong “Trợ năng”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box("Chọn “Kiểu” trong “Phụ đề & Chú thích”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box("Chọn tùy chọn bạn muốn.")(data-number="04")

							//- Flash Alert
							+head-text('Đèn flash cảnh báo', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box("Chọn “Trợ năng” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Âm thanh/Hình ảnh” trong “Trợ năng”.")(data-number="02")
									+text-box("Chọn “Đèn LED để cảnh báo” trong “Âm thanh/Hình ảnh”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box("Chọn tùy chọn bạn muốn.")(data-number="04")

							//- Mono Audio
							+head-text('Âm thanh đơn kênh', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box("Chọn “Trợ năng” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Âm thanh/Hình ảnh” trong “Trợ năng”.")(data-number="02")
									+text-box("Chọn “Đơn âm sắc” trong “Âm thanh/Hình ảnh”.")(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('Tính năng hỗ trợ vận động & nhận thức', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('Hỗ trợ cảm ứng', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box("Chọn “Trợ năng” trong “Cài đặt”.")(data-number="01")
									+text-box("Chọn “Cảm ứng” trong “Trợ năng”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box("Chọn “Thích nghi cảm ứng” trong Cảm ứng.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box("Chọn cài đặt bạn muốn.")(data-number="04")
		// [END] You can put it in the code component up to this point.	