extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					top: 14px;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Aide à l’accessibilité"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Cette page explique comment utiliser les fonctionnalités d’accessibilité offertes par Windows, les navigateurs web ou LG.COM afin d’aider les utilisateurs à utiliser LG.COM de manière plus accessible. Si vous utilisez un clavier ou des technologies d’assistance plutôt qu’une souris, veuillez sélectionner l’onglet « Commandes du clavier » : Si vous avez de problèmes de vue, sélectionnez l’onglet « Malvoyant ». Si vous avez de problèmes auditifs, sélectionnez l’onglet « Malentendant »."
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") Commandes du clavier
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") Malvoyant
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") Malentendant
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Commandes du clavier', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Dans cette section, vous découvrirez comment :')
							ul.col02
								+how-list-link('','Utiliser les blocs Bypass')(href="#keyboard-controls-1")
								+how-list-link('','Utiliser le sélecteur de date')(href="#keyboard-controls-2")
								+how-list-link('','Utiliser le curseur')(href="#keyboard-controls-3")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Utiliser les blocs Bypass', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box("Une fois sur LG.com, appuyez sur Tab sur votre clavier. Vous verre un lien indiquant « Passer aux contenus ». Appuyez sur Entrée pour vous rendre directement au contenu principal.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box("Appuyez sur la touche Tab de votre clavier deux fois sur LG.com. Un lien indiquant « Passer à l’Aide à l’accessibilité » apparaîtra. Appuyez sur Entrée pour aller directement à l’aide à l’accessibilité.")(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('Utilisez le sélecteur de date', 'h2', 'title2')
							//- +head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_03.jpg')
								.text-box
									+text-box("Une option de calendrier apparaît quand une fenêtre de saisie avec une icône de calendrier est mise en valeur. Appuyez sur Ctrl + Flèches directionnelles sur votre clavier pour avancer ou reculer dans l’option de calendrier.")(data-number="01")
									+text-box("Si vous voulez passer au mois précédent ou suivant, appuyez sur la touche Page Up ou Page Down.")(data-number="02")
									+text-box("Vous pouvez aussi saisir la date directement en utilisant la touche numérique sans utiliser l’option de Calendrier.")(data-number="03")
									
						div#keyboard-controls-3.how-to-use-content
							+head-text('Utilisez le curseur', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box("Appuyez sur la touche Tab pour mettre la focalisation sur le curseur et utilisez les touches directionnelles pour configurer les valeurs du curseur.")(data-number="01")
									+text-box("Lorsque vous utilisez le Programme de lecteur d’écran (JAWS ou NVDA), appuyez sur la touche Tab pour mettre la focalisation sur le curseur  et utilisez les touchez Alt + touche directionnelles pour configurer les valeurs du curseur.")(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('Malvoyant', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('Dans cette section, vous découvrirez comment :')
							ul
								+how-list-link('Utiliser la fonction Zoom – ', 'Microsoft Edge(Plus récente), Firefox(Actuellement –1), Chrome(Actuellement –1)')(href="#visually-impaired-1")
								+how-list-link('', 'Utilisez la Loupe, la fonctionnalité d’agrandissement intégrée à Windows')(href="#visually-impaired-2")
								+how-list-link('', 'Configurez la Loupe pour démarrer automatiquement')(href="#visually-impaired-3")
								+how-list-link('Modifier les couleurs du fond et du texte - ', 'Microsoft Edge(la plus récente), Firefox(Actuellement –1), Chrome(Actuellement –1)')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Fonction Zoom sur Microsoft Edge (la plus récente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box("Si vous utilisez Microsoft Edge, cliquez sur « ··· » en haut à droite du navigateur.")(data-number="01")
										+text-box("Dans la liste d’options, cliquez sur « Zoom ». Vous verrez s’ouvrir un menu latéral.")(data-number="02")
										+text-box("Sélectionnez le niveau de zoom prédéfini, ou spécifiez un niveau personnalisé en cliquant sur « Personnaliser » et en saisissant une valeur de zoom.")(data-number="03")
									.how-to-use-menu
										+how-menu('Microsoft Edge permet également de modifier la taille du texte avec des raccourcis de clavier : ')
										ul
											+how-list(
												'Appuyez sur Ctrl et + pour augmenter la taille',
												'Appuyez sur Ctrl et - pour diminuer la taille',
												'Appuyez sur Ctrl et 0 pour revenir à la taille par défaut',
											)

							+head-text('Fonction Zoom dans Firefox (La plus récente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box("Si vous utilisez Firefox, cliquez sur « ☰ » dans le coin en haut à droite du navigateur.")(data-number="01")
										+text-box("Dans la section « Zoom » de la liste, appuyez sur « - » ou « + » pour augmenter ou diminuer le ratio souhaité.")(data-number="02")
										+text-box("Vous pouvez aussi passer au plein écran en appuyant sur le bouton « ↕ » ou « F11 » sur la droite.")(data-number="03")
									.how-to-use-menu
										+how-menu('Firefox permet également de modifier la taille du texte avec des raccourcis de clavier : ')
										ul
											+how-list(
												'Appuyez sur Ctrl et + pour augmenter la taille',
												'Appuyez sur Ctrl et - pour diminuer la taille',
												'Appuyez sur Ctrl et 0 pour revenir à la taille par défaut',
											)

							+head-text('Fonction Zoom dans Chrome (La plus récente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box("Si vous utilisez Firefox, cliquez sur « ⁝ » dans le coin en haut à droite du navigateur.")(data-number="01")
										+text-box("Dans la section « Zoom » de la liste, appuyez sur « - » ou « + » pour augmenter ou diminuer le ratio souhaité.")(data-number="02")
										+text-box("Vous pouvez aussi passer au plein écran en appuyant sur le bouton « □ » ou « F11 » sur la droite.")(data-number="03")
									.how-to-use-menu
										+how-menu('Chrome permet également de modifier la taille du texte avec des raccourcis de clavier : ')
										ul
											+how-list(
												'Appuyez sur Ctrl et + pour augmenter la taille',
												'Appuyez sur Ctrl et - pour diminuer la taille',
												'Appuyez sur Ctrl et 0 pour revenir à la taille par défaut',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('Utilisez la Loupe, la fonctionnalité d’agrandissement intégrée à Windows', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
								.text-box
									+text-box("Sélectionnez « Facilité d’accès » dans le panneau de commande.")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
								.text-box
									+text-box("Sélectionnez « Centre de Facilité d’accès ».")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
								.text-box
									+text-box("CSélectionnez le menu « Démarrer la loupe » pour utiliser la Loupe.")(data-number="03")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('Les raccourcis du clavier suivants sont disponibles en utilisant la Loupe.')
								ul.col02
									+how-list(
										"Appuyez sur la touche Windows et + pour zoomer.",
										"Appuyez sur Ctrl, Alt et R pour redimensionner l’objectif.",
										"Appuyez sur la touche Windows et - pour dézoomer.",
										"Appuyez sur Ctrl, Alt et D pour passer au mode « Connecté ».",
										"Appuyez sur Ctrl, Alt et la barre d’espace pour avoir un aperçu du bureau en mode plein écran.",
										"Appuyez sur Ctrl, Alt et I pour inverser les couleurs dans la fenêtre de loupe.",
										"Appuyez sur Ctrl, Alt et L pour passer au mode « Objectif ».",
										"Appuyez sur Ctrl, Alt et les touches directionnelles pour déplacer le focus dans la direction souhaitée.",
										"Appuyez sur Ctrl, Alt et R pour redimensionner l’objectif.",
										"Appuyez sur la touche Windows et Esc pour sortir de la Loupe.",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('Use Magnifier, the Built-in Magnification Feature in Windows', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('Modifier les couleurs du fond et du texte dans Microsoft Edge (La plus récente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Si vous utilisez Microsoft Edge, vous devez installer un plug-in pour modifier les couleurs du fond. 
								br
								| Plusieurs plug-ins d’accessibilité sont disponibles ici :

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Add-ons de Microsoft Edge', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('CModifier les couleurs du fond et du texte dans Firefox (La plus récente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Si vous utilisez Firefox, vous devez installer un plug-in pour modifier les couleurs du fond.
								br
								| Plusieurs plug-ins d’accessibilité sont disponibles ici :

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Add-ons de Firefox', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('Modifier les couleurs du fond et du texte dans Chrome (La plus récente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Si vous utilisez Google Chrome, vous devez installer des extensions pour modifier les couleurs du fond.
								br
								| Plusieurs plug-ins d’accessibilité sont disponibles ici :

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Extensions de Chrome', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('Malentendant', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('Dans cette section, vous découvrirez comment :')
							ul
								+how-list-link('', 'Ajuster le volume du système')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('Ajuster le volume du système', 'h2', 'title2')
							.how-to-use-box.type01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
									.text-box
										+text-box("Sélectionnez « Matériel et son » dans le panneau de commande.")(data-number="01")
							.how-to-use-box.type01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
									.text-box
										+text-box("Sélectionnez « Ajuster le volume du système » dans le menu « Son »")(data-number="02")
							.how-to-use-box.type01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
									.text-box
										+text-box("Ajustez le curseur du « Volume principal » sur le panneau à droite pour l’ajuster selon le son souhaité.")(data-number="03")
			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Aide à l’accessibilité"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Chez LG, nous nous engageons à fournir des produits accessibles pour nos clients. Vous trouverez ci-dessous une liste de fonctionnalités destinées à aider nos utilisateurs malvoyants, malentendants ou à la dextérité réduite."
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Dans cette section, vous découvrirez comment :')
							ul.col02
								+how-list-link('','Fonctionnalités de vision')(href="#android-1")
								+how-list-link('','Fonctionnalités auditives')(href="#android-2")
								+how-list-link('','Fonctionnalités motrices et cognitives')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Fonctionnalités de vision', 'h2', 'title2')
							
							//- 1
							+head-text('Ajustement de la taille de police', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box("Sélectionnez « Améliorations de la visibilité » dans « Accessibilité ».")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box("Sélectionnez « Taille et style de police » dans les « Améliorations de la visibilité »")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box("Ajuster la taille de la police.")(data-number="04")

							+head-text('Zoom tactile', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Améliorations de la vision » dans « Accessibilité ».")(data-number="02")
									+text-box("Sélectionnez « Agrandissement » dans « Améliorations de la vision ».")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box("Activez l’option « Raccourci agrandissement ».")(data-number="04")

							+head-text('TalkBack', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Talk Back » dans « Accessibilité ».")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box("Activez l’option « Talk Back ».")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box("Sélectionnez les options de paramètres « Talk Back » souhaitées.")(data-number="04")


							+head-text('Ajustement de la couleur d’écran', 'h3', 'title3')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Améliorations de la visibilité » dans « Accessibilité ».")(data-number="02")
									+text-box("Sélectionnez « Ajustement de la couleur » dans « Améliorations de la visibilité ».")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box("Activez l’option « Ajustement de la couleur ».")(data-number="04")
									+text-box("Sélectionnez l’option de tonalité que vous souhaitez modifier.")(data-number="05")

						//- 2
						div#android-2.how-to-use-content
							+head-text('Fonctionnalités auditives', 'h2', 'title2')

							+head-text('Légendes', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres »")(data-number="01")
									+text-box("Sélectionnez « Améliorations auditives » dans « Accessibilité ».")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box("Sélectionnez « Préférences de légendes » dans « Accessibilité ».")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box("Sélectionnez « Taille et style des légendes » dans « Préférences de légendes ».")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box("Sélectionnez « Taille du texte » et « Style de légendes ».")(data-number="05")


							+head-text('Alerte Flash', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Paramètres avancés » dans « Accessibilité ».")(data-number="02")
									+text-box("Sélectionnez « Notification Flash » dans « Paramètres avancés ».")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box("Activez l’option de « Notification Flash de l’appareil photo » dans « Notification Flash ».")(data-number="04")


							+head-text('Mono Audio', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Améliorations auditives » dans « Accessibilité ».")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box("Activez l’option « Mono audio » dans « Améliorations auditives ».")(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('Fonctionnalités motrices et cognitives', 'h2', 'title2')

							+head-text('Assistant tactile', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Interaction et dextérité » dans « Accessibilité ».")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box("Activez l’option « Menu d’assistance » dans « Interaction et dextérité ».")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box("Sélectionnez le bouton flottant sur la droite.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box("Sélectionnez le bouton de l’action désirée.")(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Dans cette section, vous découvrirez comment :')
							ul.col02
								+how-list-link('','Fonctionnalités de vision')(href="#ios-1")
								+how-list-link('','Fonctionnalités auditives')(href="#ios-2")
								+how-list-link('','Fonctionnalités motrices et cognitives')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Fonctionnalités de vision', 'h2', 'title2')
							
							//- 1
							+head-text('Ajustement de la taille de police', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box("Sélectionnez « Affichage et taille du texte » dans « Accessibilité ».")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box("Sélectionnez « Texte plus grand » dans « Affichage et taille du texte ».")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box("Ajuster la taille de la police")(data-number="04")

							//- Zoom
							+head-text('Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Zoom » dans « Accessibilité ».")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box("Sélectionnez le mode de zoom et la portée du zoom.")(data-number="03")
									
							//- VoiceOver
							+head-text('Voix off', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Voix off » dans « Accessibilité ».")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box("Ajustez « Vitesse d’élocution ».")(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('Fonctionnalités auditives', 'h2', 'title2')

							//- Captions
							+head-text('Légendes', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Sous-titres et légende » dans « Accessibilité ».")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box("Sélectionnez « Style » dans « Sous-titres et légende ».")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box("Sélectionnez l’option souhaitée.")(data-number="04")


							//- Flash Alert
							+head-text('Alerte Flash', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Audio/Visuel » dans « Accessibilité ».")(data-number="02")
									+text-box("Sélectionnez « Flash LED pour les alertes » dans « Audio/Visuel ».")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box("Sélectionnez l’option souhaitée.")(data-number="04")

							//- Mono Audio
							+head-text('Mono Audio', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Audio/Visuel » dans « Accessibilité ».")(data-number="02")
									+text-box("Sélectionnez « Mono Audio » dans « Audio/Visuel ».")(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('Fonctionnalités motrices et cognitives', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('Assistant tactile', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box("Sélectionnez l’« Accessibilité » dans les « Paramètres ».")(data-number="01")
									+text-box("Sélectionnez « Tactile » dans « Accessibilité ».")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box("Sélectionnez « Ajustements tactiles » dans Tactile.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box("Sélectionnez les paramètres souhaités.")(data-number="04")
		// [END] You can put it in the code component up to this point.	