extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					top: 14px;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Guida all’accessibilità"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "In questa pagina, viene spiegato l’utilizzo delle funzionalità di accessibilità offerte da Windows, Browser Web o LG.COM per aiutare gli utenti a utilizzare LG.COM in un modo più accessibile. Se utilizzi una tastiera o tecnologie di assistenza, invece di utilizzare un mouse, seleziona la scheda “Controlli da tastiera”. Se non riesci a vedere molto bene, seleziona la scheda “Ipovedenti”. Se non riesci a sentire molto bene, seleziona la scheda “Non udenti”."
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") Controlli da tastiera
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") Ipovedenti
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") Non udenti 
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Keyboard Controls', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In questa sezione, puoi scoprire come:')
							ul.col02
								+how-list-link('','Utilizzare i Blocchi dei bypass')(href="#keyboard-controls-1")
								+how-list-link('','Utilizzare il Selettore di date')(href="#keyboard-controls-2")
								+how-list-link('','Utilizzare il cursore')(href="#keyboard-controls-3")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Utilizzare i Blocchi dei bypass', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box("Una volta che sei sul sito LG.com, premi il tasto Tab sulla tastiera. Vedrai un link con la dicitura “Salta al contenuto”. Premi Invio per andare direttamente al contenuto principale.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box("Sul sito LG.com, premi il tasto Tab sulla tastiera due volte. Comparirà un link con la dicitura “Passa alla Guida sull’accessibilità”. Premi Invio per andare direttamente alla Guida sull’accessibilità.")(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('Utilizzare il Selettore di date', 'h2', 'title2')
							//- +head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_03.jpg')
								.text-box
									+text-box("Il livello del calendario appare ogni volta che viene specificata una casella di immissione con l’icona del calendario. Premi Ctrl + tasti freccia sulla tastiera per spostarsi avanti e indietro nel livello del calendario.")(data-number="01")
									+text-box("Se desideri passare al mese precedente o successivo, premi il tasto pagina su o pagina giù.")(data-number="02")
									+text-box("Inoltre, puoi inserire la data direttamente premendo il tasto numerico senza utilizzare il livello calendario.")(data-number="03")
									
						div#keyboard-controls-3.how-to-use-content
							+head-text('Utilizzare il cursore', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box("Premi il tasto Tab per impostare il primo piano del cursore e utilizzare i tasti freccia per impostare i valori del cursore.")(data-number="01")
									+text-box("Quando utilizzi il programma di letture dello schermo (JAWS o NVDA), premi il tasto Tab per impostare la messa a fuoco sul cursore e utilizza i tasti Alt + freccia per impostare i valori del cursore.")(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('Ipovedenti', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('In questa sezione, puoi scoprire come:')
							ul
								+how-list-link('utilizzare la funzione Zoom - ', 'Microsoft Edge (più recente), Firefox (attuale –1), Chrome (attuale –1)')(href="#visually-impaired-1")
								+how-list-link('', 'Utilizzare Magnifier, la funzione di ingrandimento integrata su Windows')(href="#visually-impaired-2")
								+how-list-link('', 'Impostare l’avvio automatico di Magnifier')(href="#visually-impaired-3")
								+how-list-link('Cambiare i colori di sfondo e testo -', 'Microsoft Edge (più recente), Firefox (attuale –1), Chrome (attuale –1)')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Funzione di zoom su Microsoft Edge (più recente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box("Se utilizzi Microsoft Edge, fai clic su “···” in alto a destra del browser.")(data-number="01")
										+text-box("Dall’elenco delle opzioni, fai clic su “Zoom”. Si aprirà un menu laterale.")(data-number="02")
										+text-box("Seleziona il livello di zoom predefinito o specifica un livello personalizzato, facendo clic su “Personalizzato” e inserendo un valore di zoom.")(data-number="03")
									.how-to-use-menu
										+how-menu('Microsoft Edge consente anche di modificare le dimensioni del testo con le scorciatoie da tastiera:')
										ul
											+how-list(
												'Premi Ctrl e + per aumentare le dimensioni',
												'Premi Ctrl e - per ridurre le dimensioni',
												'Premi Ctrl e 0 per ritornare alle dimensioni predefinite',
											)

							+head-text('Funzione di zoom su Firefox (più recente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box("Se utilizzi Firefox, fai clic su “☰” nell'angolo in alto a destra del browser.")(data-number="01")
										+text-box("Nell’area “Zoom” dell’elenco, premi “-” o “+” per aumentare o diminuire il rapporto desiderato.")(data-number="02")
										+text-box("Puoi anche passare allo schermo intero premendo il pulsante “↕” o “F11” sulla destra.")(data-number="03")
									.how-to-use-menu
										+how-menu('Firefox consente anche di modificare le dimensioni del testo con le scorciatoie da tastiera:')
										ul
											+how-list(
												'Premi Ctrl e + per aumentare le dimensioni',
												'Premi Ctrl e - per ridurre le dimensioni',
												'Premi Ctrl e 0 per ritornare alle dimensioni predefinite',
											)

							+head-text('Funzione di zoom su Chrome (più recente)', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box("Se utilizzi Firefox, fai clic su “⁝” nell'angolo in alto a destra del browser.")(data-number="01")
										+text-box(" Nell’area “Zoom” dell’elenco, premi “-” o “+” per aumentare o diminuire il rapporto desiderato.")(data-number="02")
										+text-box("Puoi anche passare allo schermo intero premendo il pulsante “□” o “F11” sulla destra.")(data-number="03")
									.how-to-use-menu
										+how-menu('Chrome consente anche di modificare le dimensioni del testo con le scorciatoie da tastiera:')
										ul
											+how-list(
												'Premi Ctrl e + per aumentare le dimensioni',
												'Premi Ctrl e - per ridurre le dimensioni',
												'Premi Ctrl e 0 per ritornare alle dimensioni predefinite',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('Utilizzare Magnifier, la funzione di ingrandimento integrata su Windows', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
								.text-box
									+text-box("Seleziona “Facilità di accesso” nel pannello di controllo.")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
								.text-box
									+text-box("Seleziona “Centro accesso Facilitato”.")(data-number="02")
									//- +text-box("Select the 'Turn on Magnifier' menu on the right Magnifier panel and change it to 'On'.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
								.text-box
									+text-box("Seleziona il menu “Avvia Magnifier” per avviare Magnifier.")(data-number="03")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('Quando utilizzi Magnifier, sono disponibili le seguenti scorciatoie da tastiera.')
								ul.col02
									+how-list(
										"Premi il tasto Windows e + per ingrandire.",
										"Premi Ctrl, Alt e R per ridimensionare la lente.",
										"Premi il tasto Windows e -+ per rimpicciolire.",
										"Premi Ctrl, Alt e D per passare alla modalità “Docked”.",
										"Premi Ctrl, Alt e la barra spaziatrice per visualizzare l’anteprima del desktop in modalità a schermo intero.",
										"Premi Ctrl, Alt e I per invertire i colori nella finestra di ingrandimento.",
										"Premi Ctrl, Alt e L per passare alla modalità “Lente”.",
										"Premi Ctrl, Alt e tasti freccia per spostare la messa a fuoco nella direzione scelta.",
										"Premi Ctrl, Alt e R per ridimensionare la lente.",
										"Premi il tasto Windows ed Esc per uscire dalla funzionalità Magnifier.",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('Utilizzare Magnifier, la funzione di ingrandimento integrata su Windows', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('Cambia i colori di sfondo e testo su Microsoft Edge (Più recente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Se utilizzi Microsoft Edge, devi installare un plug-in per modificare i colori dello sfondo. 
								br
								| Una serie di plugin di accessibilità sono disponibili qui:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Componenti aggiuntivi Microsoft Edge', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('Cambia i colori di sfondo e testo su Firefox (Più recente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Se utilizzi Firefox, devi installare un plug-in per modificare i colori dello sfondo.
								br
								| Una serie di plugin di accessibilità sono disponibili qui:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Componenti aggiuntivi Firefox', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('Cambia i colori di sfondo e testo su Chrome (Più recente)', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Se utilizzi Google Chrome, devi installare alcune estensioni per modificare i colori dello sfondo.
								br
								| Una serie di plugin di accessibilità sono disponibili qui:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Estensioni di Chrome', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('Non udenti', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('In questa sezione, puoi scoprire come:')
							ul
								+how-list-link('', 'Regolare il volume del sistema')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('Regolare il volume del sistema', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
								.text-box
									+text-box("Seleziona “Hardware e suoni” nel pannello di controllo.")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
								.text-box
									+text-box("Seleziona “Regola il volume del sistema” nella sezione “Suoni”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
								.text-box
									+text-box("Regola il cursore di “volume master” sul pannello di destra per abbinare il suono desiderato.")(data-number="03")

			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Guida all’accessibilità"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Noi di LG ci impegniamo a fornire prodotti accessibili ai nostri clienti. Di seguito è riportato un elenco di funzionalità che aiutano gli utenti con problemi di vista, udito o destrezza."
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In questa sezione, puoi scoprire come :')
							ul.col02
								+how-list-link('','Funzionalità visive')(href="#android-1")
								+how-list-link('','Funzionalità di ascolto')(href="#android-2")
								+how-list-link('','Funzionalità motorie e cognitive')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Funzionalità visive', 'h2', 'title2')
							
							//- 1
							+head-text('Regolazione della dimensione dei caratteri', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box("Seleziona la voce “Accessibilità” nelle “Impostazioni”.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box("Seleziona “Miglioramento della visibilità” in “Accessibilità”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box("Seleziona “Dimensione e stile dei caratteri” in “Miglioramento della visibilità”")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box("Regola la dimensione dei caratteri.")(data-number="04")

							+head-text('Zoom a sfioramento', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box("Seleziona la voce “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Miglioramento della visione” in “Accessibilità”.")(data-number="02")
									+text-box("Seleziona “Ingrandimento” in “Miglioramento della visione”.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box("Attiva l’opzione “Scorciatoia per l’ingrandimento”.")(data-number="04")

							+head-text('Risposta', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box("Seleziona la voce “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Risposta” in “Accessibilità”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box("Attiva l’opzione “Risposta”.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box("Seleziona le opzioni desiderate per l’impostazione dei dettagli della “Risposta”.")(data-number="04")


							+head-text('Regolazione cromatica dello schermo', 'h3', 'title3')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box("Seleziona la voce “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Miglioramento della visibilità” in “Accessibilità”.")(data-number="02")
									+text-box("Seleziona “Regolazione cromatica” in “Miglioramento della visibilità”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box("Attiva l’opzione “Regolazione cromatica”.")(data-number="04")
									+text-box("Seleziona l’opzione della tonalità del colore che desideri modificare.")(data-number="05")

						//- 2
						div#android-2.how-to-use-content
							+head-text('Funzionalità di ascolto', 'h2', 'title2')

							+head-text('Didascalie', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box("Seleziona la voce “Accessibilità” nelle “Impostazioni”")(data-number="01")
									+text-box("Seleziona “Miglioramento dell’ascolto” in “Accessibilità”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box("Seleziona “Preferenza per le didascalie” in “Accessibilità”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box("Seleziona “Dimensione e stile della didascalia” in “Preferenza per le didascalie”.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box("Seleziona “Dimensione del testo”, “Stile della didascalia”.")(data-number="05")


							+head-text('Avviso flash', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box("Seleziona la voce “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Impostazioni avanzate” in “Accessibilità”.")(data-number="02")
									+text-box("Seleziona “Notifica flash” nelle “Impostazioni avanzate”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box("Attiva l’opzione “Notifica flash telecamera” in “Notifica flash”.")(data-number="04")


							+head-text('Audio mono', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box("Seleziona la voce “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Miglioramento dell’ascolto” in “Accessibilità”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box("Attiva l’opzione “Audio mono” in “Miglioramento dell’ascolto”.")(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('Funzionalità motorie e cognitive', 'h2', 'title2')

							+head-text('Assistente touch', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box("Seleziona la voce “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Interazione e destrezza” in “Accessibilità”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box("Attiva l’opzione “Menu assistente” in “Interazione e destrezza”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box("Seleziona il pulsante fluttuante sul lato destro.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box("Seleziona il pulsante per l’azione desiderata.")(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('In questa sezione, puoi scoprire come :')
							ul.col02
								+how-list-link('','Funzionalità visive')(href="#ios-1")
								+how-list-link('','Funzionalità di ascolto')(href="#ios-2")
								+how-list-link('','Funzionalità motorie e cognitive')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Funzionalità visive', 'h2', 'title2')
							
							//- 1
							+head-text('Regolazione della dimensione dei caratteri', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box("Seleziona “Accessibilità” nelle “Impostazioni”.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box("Seleziona “Schermo e dimensioni del testo” in “Accessibilità”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box("Seleziona “Testo di dimensioni maggiori” in “Schermo e dimensioni del testo”.")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box("Regola la dimensione dei caratteri")(data-number="04")

							//- Zoom
							+head-text('Zoom', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box("Seleziona “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Zoom” in “Accessibilità”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box("Seleziona il metodo di ingrandimento e la gamma zoom.")(data-number="03")
									
							//- VoiceOver
							+head-text('Voce fuori campo', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box("Seleziona “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Voce fuori campo” in “Accessibilità”.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box("Regola la “velocità dell’audio”.")(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('Funzionalità di ascolto', 'h2', 'title2')

							//- Captions
							+head-text('Didascalie', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box("Seleziona “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Sottotitoli e didascalie” in “Accessibilità”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box("Seleziona “Stile” in “Sottotitoli e didascalie”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box("Seleziona l’opzione desiderata.")(data-number="04")


							//- Flash Alert
							+head-text('Avviso flash', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box("Seleziona “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Audio/Video” in “Accessibilità”.")(data-number="02")
									+text-box("Seleziona “Flash LED per avvisi” in “Audio/Video”.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box("Seleziona l’opzione desiderata.")(data-number="04")

							//- Mono Audio
							+head-text('Audio mono', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box("Seleziona “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Audio/Video” in “Accessibilità”.")(data-number="02")
									+text-box("Seleziona “Audio mono” in “Audio/Video”.")(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('Funzionalità motorie e cognitive', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('Assistente touch', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box("Seleziona “Accessibilità” nelle “Impostazioni”.")(data-number="01")
									+text-box("Seleziona “Touch” in “Accessibilità”.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box("Seleziona “Regolazione tocco” sotto la voce Touch.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box("Seleziona le impostazioni desiderate.")(data-number="04")
		// [END] You can put it in the code component up to this point.	