extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					top: 14px;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "無障礙支援"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "本頁介紹如何使用 Windows、Web 瀏覽器或 LG.COM 提供無障礙功能，以協助使用者更輕鬆地使用 LG.COM。如果您不是在使用滑鼠，而是鍵盤或輔助技術，請選擇「鍵盤控制」標籤。如果您視力不佳，請選擇「視力障礙」標籤。如果您聽力不佳，請選擇「聽力障礙」標籤。"
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") 鍵盤控制
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") 視障人士
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") 聽力障礙 
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('鍵盤控制', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('在本節中，您可以了解如何：')
							ul.col02
								+how-list-link('','使用跳過導航')(href="#keyboard-controls-1")
								+how-list-link('','使用日期選擇器')(href="#keyboard-controls-2")
								+how-list-link('','使用滑塊')(href="#keyboard-controls-3")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('使用跳過導航', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box('進入 LG.com 後，按一下鍵盤上的 Tab 鍵。您將看到一個連結，上面寫到「跳到內容」。按一下 Enter 鍵直接進入主要內容。 ')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box('在 LG.com 上按一下鍵盤上的 Tab 兩次。畫面上會出現一個「跳至無障礙支援」的連結。按一下 Enter 鍵直接前往無障礙使用說明。')(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('使用日期選擇器', 'h2', 'title2')
							//- +head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_03.jpg')
								.text-box
									+text-box('每當帶有日曆圖示的輸入框獲得焦點時，日曆就會出現。按一下鍵盤上的 Ctrl + 箭頭鍵來在日曆中來回移動。')(data-number="01")
									+text-box('如果要移至上個月或下個月，請按一下向上翻頁或向下翻頁鍵。')(data-number="02")
									+text-box('您也可以直接使用數字鍵來輸入日期，而不使用日曆。')(data-number="03")
									
						div#keyboard-controls-3.how-to-use-content
							+head-text('使用滑塊', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box('按一下 T​​ab 鍵將焦點設定到滑塊，然後使用箭頭鍵設定滑塊值。')(data-number="01")
									+text-box('使用螢幕閱讀器程式（JAWS 或 NVDA）時，按一下 Tab 鍵將焦點設定到滑塊，然後使用 Alt + 箭頭鍵來設定滑塊的值。')(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('視障人士', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('在本節中，您可以了解如何：')
							ul
								+how-list-link('使用縮放功能 – Microsoft Edge（最新）、Firefox（目前 –1）、Chrome（目前 –1）')(href="#visually-impaired-1")
								+how-list-link('', '使用放大鏡（Windows 內建的放大功能）')(href="#visually-impaired-2")
								+how-list-link('', '設定放大鏡自動啟動')(href="#visually-impaired-3")
								+how-list-link('更改背景和文字顏色 - Microsoft Edge（最新）、Firefox（目前 –1）、Chrome（目前 –1）')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Microsoft Edge 中的縮放功能（最新）', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box("如果您使用的是 Microsoft Edge，請點選瀏覽器右上角的「…」。")(data-number="01")
										+text-box("從選項清單中，按一下「縮放」。您將看到打開的側面選單。")(data-number="02")
										+text-box("選擇預先定義的縮放程度，或按一下「自訂」並輸入縮放值來設定縮放程度。")(data-number="03")
									.how-to-use-menu
										+how-menu('Microsoft Edge 亦允許使用鍵盤快捷鍵來更改文字大小：')
										ul
											+how-list(
												'按 Ctrl 和 + 來放大',
												'按 Ctrl 和 - 來縮小',
												'按 Ctrl 和 0 返回預設值',
											)

							+head-text('Firefox（最新）中的縮放功能', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box("如果您正使用 Firefox，請點選其右上角的「☰」。")(data-number="01")
										+text-box("在清單「縮放」區域中，按一下「-」或「+」來提升或降低所需比例。")(data-number="02")
										+text-box("您也可以按一下右側的「↕」或「F11」按鈕來切換到全螢幕。	")(data-number="03")
									.how-to-use-menu
										+how-menu('Firefox 還允許使用鍵盤快速鍵來更改文字大小：')
										ul
											+how-list(
												'按 Ctrl 和 + 來放大',
												'按 Ctrl 和 - 來縮小',
												'按 Ctrl 和 0 返回預設值',
											)

							+head-text('Chrome（最新）中的縮放功能', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box("如果您使用的是 Firefox，請點選瀏覽器右上角的「⁝」。")(data-number="01")
										+text-box("在清單「縮放」區域中，按一下「-」或「+」來提升或降低所需比例。")(data-number="02")
										+text-box("您也可以按下右側的「□」或「F11」按鈕來切換到全螢幕。")(data-number="03")
									.how-to-use-menu
										+how-menu('Chrome 還允許使用鍵盤快捷鍵更改文字大小：')
										ul
											+how-list(
												'按 Ctrl 和 + 來放大',
												'按 Ctrl 和 - 來縮小',
												'按 Ctrl 和 0 返回預設值',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('使用放大鏡（Windows 內建的放大功能）', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
								.text-box
										+text-box("在控制面板中選擇「輕鬆存取」。")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
								.text-box
										+text-box("選擇「輕鬆存取中心」。")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
								.text-box
										+text-box("選擇「啟動放大鏡」選單來啟動放大鏡。")(data-number="03")
								//- .box03
								//- 	.image-box.c-image
								//- 		+printLazyImage('images/img-03.jpg')
								//- 	.text-box
								//- 		+text-box("Control it with the provided Magnifier remote control or use the following hotkeys to control the magnifier.")(data-number="04")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('使用放大鏡時可使用以下鍵盤快速鍵。')
								ul.col02
									+how-list(
										"按一下 Windows 鍵和 + 來放大。",
										"按一下 Ctrl、Alt 和 R 來調整大小。",
										"按一下 Windows 鍵和 - 來縮小。",
										"按一下 Ctrl、Alt 和 D 切換到「停駐」模式。",
										"按一下 Ctrl、Alt 和空白鍵以全螢幕模式來預覽桌面。",
										"按一下 Ctrl、Alt 和 I 來反轉放大視窗中的顏色。",
										"按一下 Ctrl、Alt 和 L 切換到「鏡頭」模式。",
										"按一下 Ctrl、Alt 和箭頭鍵將焦點朝所選方向移動。",
										"按一下 Ctrl、Alt 和 R 來調整大小。",
										"按一下 Windows 鍵和 Esc 來關閉放大鏡。",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('使用放大鏡（Windows 內建的放大功能）', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('更改 Microsoft Edge（最新）中的背景和文字顏色', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| 如果您使用的是 Microsoft Edge，則需要安裝外掛程式來變更背景顏色。 
								br
								| 這裡提供了許多無障礙插件：

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Microsoft Edge 附加元件', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('更改 Firefox（最新）中的背景和文字顏色', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| 如果您使用的是 Firefox，則需要安裝外掛程式來變更背景顏色。
								br
								| 這裡提供了許多無障礙插件：

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Firefox 附加元件', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('更改 Chrome（最新）中的背景和文字顏色', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| 如果您使用的是 Google Chrome，則需要安裝外掛程式來變更背景顏色。
								br
								| 這裡提供了許多無障礙插件：

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Chrome 擴充功能', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('聽力障礙', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('在本節中，您可以了解如何：')
							ul
								+how-list-link('', '調整系統音量')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('調整系統音量', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
								.text-box
									+text-box('在控制面板中選擇「硬體和聲音」。')(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
								.text-box
									+text-box('選擇「聲音」下的「調整系統音量」。')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
								.text-box
									+text-box('調整右側面板上的「主音量」滑動工具以匹配所需的音效。')(data-number="03")

			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "無障礙支援"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "LG 致力於為客戶提供可輕鬆使用的產品。請參閱下面的功能列表，以幫助視力、聽力受損或靈活性較低的使用者。"
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('在本節中，您可以了解如何：')
							ul.col02
								+how-list-link('','視覺功能')(href="#android-1")
								+how-list-link('','聽力功能')(href="#android-2")
								+how-list-link('','運動與認知功能')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('視覺功能', 'h2', 'title2')

							//- 1
							+head-text('字體大小調整', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box("在「無障礙功能」中選擇「增強能見度」。")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box("在「增強能見度」中選擇「字體大小和樣式」")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box("調整字體大小。")(data-number="04")

							+head-text('觸控縮放', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「增強視力」。")(data-number="02")
									+text-box("在「增強視力」中選擇「放大」。")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box("開啟「放大快捷鍵」選項。")(data-number="04")

							+head-text('TalkBack', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「Talk Back」。")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box("開啟「Talk Back」選項。")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box("選擇您想要的「Talk Back」詳細設定選項。")(data-number="04")

							+head-text('螢幕顏色調整', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「增強能見度」。")(data-number="02")
									+text-box("在「增強能見度」中選擇「顏色調整」。")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box("打開「色彩調整」選項。")(data-number="04")
									+text-box("選擇您要變更的顏色選項。")(data-number="05")


						//- 2
						div#android-2.how-to-use-content
							+head-text('聽力功能', 'h2', 'title2')

							+head-text('字幕', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「增強聽力」。")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box("在「無障礙功能」中選擇「字幕偏好」。")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box("在「字幕偏好」中選擇「字幕大小和樣式」。")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box("選擇「文字大小」、「字幕樣式」。")(data-number="05")


							+head-text('閃光警報', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「進階設定」。")(data-number="02")
									+text-box("在「進階設定」中選擇「閃光通知」。")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box("開啟「閃光通知」中的「相機閃光通知」選項。")(data-number="04")


							+head-text('單聲道音頻', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「增強聽力」。")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box("開啟「增強聽力」中的「單聲道音頻」選項。")(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('運動與認知功能', 'h2', 'title2')

							+head-text('觸控助手', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「互動和靈活性」。")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box("開啟「互動和靈活性」中的「助手菜單」選項。")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box("選擇右側浮動的按鈕。")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box("選擇您想執行的操作之按鈕。")(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('在本節中，您可以了解如何：')
							ul.col02
								+how-list-link('','視覺功能')(href="#ios-1")
								+how-list-link('','聽力功能')(href="#ios-2")
								+how-list-link('','運動與認知功能')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('視覺功能', 'h2', 'title2')
							
							//- 1
							+head-text('字體大小調整', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box("在「無障礙功能」中選擇「顯示和文字大小」。")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box("在「顯示和文字大小」中選擇「較大的文字」。")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box("調整字體大小")(data-number="04")

							//- Zoom
							+head-text('縮放', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「縮放」。")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box("選擇縮放方法和縮放範圍。")(data-number="03")
									
							//- VoiceOver
							+head-text('畫外音', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「畫外音」。")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box("調整「語速」。")(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('聽力功能', 'h2', 'title2')

							//- Captions
							+head-text('字幕', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「輔助使用」中選擇「字幕」。")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box("在「字幕」中選擇「樣式」。")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box("選擇您想要的選項。")(data-number="04")

							//- Flash Alert
							+head-text('閃光警報', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「音頻/視頻」。")(data-number="02")
									+text-box("在「音頻/視頻」中選擇「LED 閃光燈警報」。")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box("選擇您想要的選項。")(data-number="04")

							//- Mono Audio
							+head-text('單聲道音頻', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「音頻/視頻」。")(data-number="02")
									+text-box("在「音頻/視頻」中選擇「單聲道音頻」。")(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('運動與認知功能', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('觸控助手', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box("在「設定」中選擇「無障礙功能」。")(data-number="01")
									+text-box("在「無障礙功能」中選擇「觸控」。")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box("在「觸控」中選擇「調節觸控」。")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box("選擇您想要的設定。")(data-number="04")
		// [END] You can put it in the code component up to this point.	