extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_title-area.pug


block meta 
	- var componentId = "ST0054"
	- var componentName = "accessibility_help"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")
	
block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin link
		a&attributes(attributes)
 

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className} font-m-regular-16`)
					strong&attributes(attributes)= string

	
	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.element, options.class)
		.common-static-article-contents
			if block 
				block
								

	mixin tabItem(params)
		- var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
		if option.isActive
			a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
				| #{option.text}
		else
			if option.isLink
				// GA4
				a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
					| #{option.text}
			else
				a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
					| #{option.text}

	mixin how-menu(title)
		p
			strong.cmp-title.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")=title
		if block
			block

	mixin how-list(...items)
		each item in items
			li=item

	mixin how-list-link(link, item)
		li=link
			a(href=attributes.href)=item
		
	mixin text-box(title)
		p(class="common-static-text")&attributes(attributes)=title



	.c-wrapper.ST0054.margin-top.margin-bottom
		// [START] You can put it in the code component from here.
		.common-static.accessibility-help
			style. 
				.common-static.accessibility-help {
					overflow: visible;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help:after {
						content: "";
						display: block;
						width: 100%;
						height: 1rem;
					}					
					.common-static.accessibility-help .c-region-header {
						max-width: 1200px;
					}
				}
				.common-static.accessibility-help {
					padding-left: 1rem;
					padding-right: 1rem;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help {
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
				}
				.common-static.accessibility-help .is-hidden {
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
				}
				.common-static.accessibility-help .text-box + .common-static.accessibility-help .how-to-use-menu {
					margin-top:24px;
				}
				.common-static.accessibility-help .how-to-use-menu {
					border-radius: 1.25rem;
					padding: 2.5rem;
					background: #e6e1d6;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu {
						border-radius: 1.75rem;
					}
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu {
						padding: 1.375rem;
					}
				}
				.common-static.accessibility-help .how-to-use-menu.bg-default {
					background-color: transparent;
					border: 0.0625rem solid #cbc8c2;
				}
				.common-static.accessibility-help .how-to-use-menu.margin-top {
					margin-top: 1.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu p {
					padding-bottom: 0.25rem;
				}
				.common-static.accessibility-help .how-to-use-menu ul {
					flex: 50%;
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					margin: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li {
					padding: 0.25rem 0.5rem;
					position: relative;
				}
				.common-static.accessibility-help .how-to-use-menu ul li::before {
					content: "";
					position: absolute;
					top: 14px;
					left: 0;
					width: 3px;
					height: 3px;
					background-color: #000;
					border-radius: 50%;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-menu ul li::before { 
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-menu ul li a {
					color: #333;
					outline-offset: -0.125rem;
					text-underline-offset: 0.125rem;
					font-weight: 600;
					text-decoration: underline;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul li a {
						font-weight: normal;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						display: flex;
						flex-flow: row wrap;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
					}
				}
				@media (min-width: 48.0625rem) and (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-menu ul.col02 {
						flex-direction: column;
					}
				}
				.common-static.accessibility-help .how-to-use-menu ul.col02 li {
					flex: 0 0 48%;
				}
				.common-static.accessibility-help .how-to-use-tabs {
					margin-bottom: 40px;
					max-width: 100%;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs {
						margin-bottom: 24px;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs {
					border-color: #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner {
						display: block;
					}
				}
				.common-static.accessibility-help .how-to-use-tabs .c-tabs__inner .c-tabs__item {
					font-size: 20px;
					font-weight: 400;
				}
				.common-static.accessibility-help .how-to-use-box {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					gap: 2%;
					margin-left: auto;
					margin-right: auto;
					max-width: 93rem;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box {
						flex-direction: row;
						align-items: flex-start;
						margin-top: 1.25rem;
						margin-bottom: 1.25rem;
					}
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box > div {
						flex: 0 0 49%;
					}
				}
				.common-static.accessibility-help .how-to-use-box .image-box {
					border-radius: 1.25rem;
					overflow: hidden;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .image-box {
						border-radius: 1.75rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box {
					position: relative;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box .text-box {
						padding: 0 1rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box .text-box > * {
					margin-top: 0;
					font-style: normal;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p {
					position: relative;
					padding: 5px;
					padding-left: 24px;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p {
					padding-left: 5px;
					padding-right: 24px;
				}
				.common-static.accessibility-help .how-to-use-box .text-box p::before {
					content: attr(data-number);
					display: block;
					font-style: normal;
					position: absolute;
					top: 5px;
					left: 0;
				}
				/* 230516 RTL */
				[dir="rtl"] .common-static.accessibility-help .how-to-use-box .text-box p::before {
					left: auto;
					right: 0;
				}
				.common-static.accessibility-help .how-to-use-box.type01 .text-box {
					padding: 14px 0;
				}
				@media (min-width: 48.0625rem) {
					.common-static.accessibility-help .how-to-use-box.type01 .text-box {
						margin-top: 2rem;
					}
				}
				.common-static.accessibility-help .how-to-use-box.type02 {
					align-items: center;
				}
				.common-static.accessibility-help .how-to-use-box.type03 {
					justify-content: flex-start;
				}
				.common-static.accessibility-help .how-to-use-box.type03 .text-box {
					margin-top: 1rem;
				}
				.common-static.accessibility-help .how-to-use-content {
					padding-top: 3.75rem;
					margin-top: 3.125rem;
					border-top: 1px solid #cbc8c2;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content {
						padding-top: 1.5rem;
						margin-top: 0;
					}
				}
				.common-static.accessibility-help .how-to-use-content h2 {
					font-weight: 400;
				}
				@media (max-width: 64rem) {
					.common-static.accessibility-help .how-to-use-content h2 {
						font-weight: 300;
					}
				}
				.common-static.accessibility-help .how-to-use-content h3 {
					margin-top: 0.625rem;
					margin-bottom: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .how-to-use-text {
					margin-top: 0.625rem;
				}
				.common-static.accessibility-help .how-to-use-content .c-cta {
					margin-top: 1.875rem;
					margin-bottom: 3.75rem;
				}	
			
			//- desktop
			.c-wrapper.desktop-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Erişilebilirlik Yardım"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "Bu sayfa kullanıcıların LG.COM’u daha erişilebilir bir şekilde kullanmalarına yardımcı olmak için Windows, Web Tarayıcıları veya LG.COM tarafından sunulan erişilebilirlik özelliklerinin nasıl kullanılacağını açıklar. Fare yerine klavye veya yardımcı teknolojiler kullanıyorsanız lütfen “Klavye Kontrolleri” sekmesini seçin. Görme yetinizde güçlük varsa lütfen “Görme Engelli” sekmesini seçin. İşitme yetinizde güçlük varsa lütfen “İşitme Engelli” sekmesini seçin."
					}
				})
				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab_0" aria-controls='accessibility_help-tabsCont_0' aria-selected="true") Klavye Kontrolleri
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_1" aria-controls='accessibility_help-tabsCont_1' aria-selected="false") Görme Engelli
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab_2" aria-controls='accessibility_help-tabsCont_2' aria-selected="false") İşitme Engelli 
										
				.tab-content
					//- Accessibility Help
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Klavye Kontrolleri', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Bu sekmede aşağıdakileri nasıl yapacağınızla ilgili bilgiler bulabilirsiniz:')
							ul.col02
								+how-list-link('','Bypass Bloklarını Kullanma')(href="#keyboard-controls-1")
								+how-list-link('','Tarih Seçiciyi Kullanma')(href="#keyboard-controls-2")
								+how-list-link('','Kaydırıcıyı Kullanma')(href="#keyboard-controls-3")

						div#keyboard-controls-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Bypass Bloklarını Kullanma', 'h2', 'title2')

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_01.jpg')
								.text-box
									+text-box('LG.com adresine girdikten sonra klavyenizde Tab tuşuna basın. “İçeriklere Atla” şeklinde bir bağlantı göreceksiniz. Doğrudan ana içeriğe atlamak için Enter tuşuna basın. ')(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_02.jpg')
								.text-box
									+text-box('LG.com adresinde klavyenizdeki Tab tuşuna iki kez basın. “Erişilebilirlik Yardıma Atla” şeklinde bir bağlantı ekrana gelir. Doğrudan erişilebilirlik yardıma gitmek için Enter tuşuna basın.')(data-number="02")

						div#keyboard-controls-2.how-to-use-content
							+head-text('Tarih Seçiciyi Kullanma', 'h2', 'title2')
							//- +head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_03.jpg')
								.text-box
									+text-box('Takvim simgeli bir girdi kutusuna odaklanıldığında takvim katmanı ekrana gelir. Takvim katmanında ileri geri hareket etmek için klavyenizde Ctrl + Ok tuşlarına basın.')(data-number="01")
									+text-box('Önceki veya sonraki aya gitmek için, Page Up veya Page Down tuşuna basın.')(data-number="02")
									+text-box('Takvim Katmanını kullanmadan tarihi doğrudan sayısal tuşlar ile de girebilirsiniz.')(data-number="03")
									
						div#keyboard-controls-3.how-to-use-content
							+head-text('Kaydırıcıyı Kullanma', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/use-bypass-blocks_04.jpg')
								.text-box
									+text-box('Kaydırıcının odağını ayarlamak için Tab tuşuna basın ve kaydırıcı değerlerini ayarlamak için Ok tuşlarını kullanın.')(data-number="01")
									+text-box('Ekran Okuyucu Programı (JAWS veya NVDA) kullanırken, kaydırıcının odağını ayarlamak için Tab tuşuna basın ve kaydırıcı değerlerini ayarlamak için Alt + Ok tuşlarını kullanın.')(data-number="02")


							
						
							
					//- Visually Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_1" aria-labelledby="#accessibility_help-tabsCont_1")

						+head-text('Görme Engelli', 'h2', 'title2')(class="is-hidden") 
						.how-to-use-menu.bg-default
							+how-menu('Bu sekmede aşağıdakileri nasıl yapacağınızla ilgili bilgiler bulabilirsiniz:')
							ul
								+how-list-link('Yakınlaştırma İşlevini Kullanma – Microsoft Edge(En Son), Firefox(Mevcut –1), Chrome(Mevcut –1)')(href="#visually-impaired-1")
								+how-list-link('', 'Windows’un Dahili Büyütme Özelliği Büyüteci Kullanma')(href="#visually-impaired-2")
								+how-list-link('', 'Büyüteci Otomatik Olarak Başlamaya Ayarlama')(href="#visually-impaired-3")
								+how-list-link('Arka Plan ve Metin Renklerini Değiştirme -Microsoft Edge(En Son), Firefox(Mevcut –1), Chrome(Mevcut –1)')(href="#visually-impaired-4")

						div#visually-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Microsoft Edge (En Son) Yakınlaştırma İşlevi', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_01.jpg')
								.box02
									.text-box
										+text-box("Microsoft Edge kullanıyorsanız lütfen tarayıcının sağ üst köşesindeki “…” seçeneğine tıklayın.")(data-number="01")
										+text-box("Açılan listeden “Yakınlaştırma” seçeneğine tıklayın. Bir yan menü açılacaktır.")(data-number="02")
										+text-box("Ön tanımlı bir yakınlaştırma seviyesi seçin veya “Özel” seçeneğine tıklayıp bir yakınlaştırma değeri girerek özel bir seviye belirtin.")(data-number="03")
									.how-to-use-menu
										+how-menu('Microsoft Edge ayrıca klavye kısayollarıyla metin boyutunun değiştirilmesine de izin verir:')
										ul
											+how-list(
												'Boyutu büyültmek için Ctrl ve + tuşlarına basın',
												'Boyutu küçültmek için Ctrl ve - tuşlarına basın',
												'Varsayılan boyuta geri gitmek için Ctrl ve 0 tuşlarına basın',
											)

							+head-text('Firefox (En Son) Yakınlaştırma İşlevi', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_02.jpg')
								.box02
									.text-box
										+text-box("Firefox kullanıyorsanız lütfen tarayıcının sağ üst köşesinde yer alan “☰” seçeneğine tıklayın.")(data-number="01")
										+text-box("Listenin “Yakınlaştırma” bölümünde, istenen oranı büyütmek veya küçültmek için “-” veya “+” tuşlarına basın.")(data-number="02")
										+text-box("Ayrıca, sağda yer alan “↕” veya “F11” düğmesine basarak tam ekrana da geçebilirsiniz.	")(data-number="03")
									.how-to-use-menu
										+how-menu('Firefox ayrıca klavye kısayollarıyla metin boyutunun değiştirilmesine de izin verir:')
										ul
											+how-list(
												'Boyutu büyültmek için Ctrl ve + tuşlarına basın',
												'Boyutu küçültmek için Ctrl ve - tuşlarına basın',
												'Varsayılan boyuta geri gitmek için Ctrl ve 0 tuşlarına basın',
											)

							+head-text('Chrome (En Son) Yakınlaştırma İşlevi', 'h2', 'title2')
							.how-to-use-box.type02
								.box01
									.image-box.c-image
										+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_03.jpg')
								.box02
									.text-box
										+text-box("Firefox kullanıyorsanız lütfen tarayıcının sağ üst köşesinde yer alan “⁝” seçeneğine tıklayın.")(data-number="01")
										+text-box("Listenin “Yakınlaştırma” bölümünde, istenen oranı büyütmek veya küçültmek için “-” veya “+” tuşlarına basın.")(data-number="02")
										+text-box("Ayrıca, sağda yer alan “□” veya “F11” düğmesine basarak tam ekrana da geçebilirsiniz.")(data-number="03")
									.how-to-use-menu
										+how-menu('Chrome ayrıca klavye kısayollarıyla metin boyutunun değiştirilmesine de izin verir:')
										ul
											+how-list(
												'Boyutu büyültmek için Ctrl ve + tuşlarına basın',
												'Boyutu küçültmek için Ctrl ve - tuşlarına basın',
												'Varsayılan boyuta geri gitmek için Ctrl ve 0 tuşlarına basın',
											)


						div#visually-impaired-2.how-to-use-content
							+head-text('Windows’un Dahili Büyütme Özelliği Büyüteci Kullanma', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_04.jpg')
								.text-box
										+text-box("Kontrol panelinden “Erişim Kolaylığı” seçeneğini seçin.")(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_05.jpg')
								.text-box
										+text-box("“Erişim Kolaylığı Merkezi” seçeneğini seçin.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/visually-impaired_06.jpg')
								.text-box
										+text-box("Büyüteci başlatmak için “Büyüteci Başlat” menüsünü seçin.")(data-number="03")
								//- .box03
								//- 	.image-box.c-image
								//- 		+printLazyImage('images/img-03.jpg')
								//- 	.text-box
								//- 		+text-box("Control it with the provided Magnifier remote control or use the following hotkeys to control the magnifier.")(data-number="04")

							.how-to-use-menu(style="margin-top:48px")
								+how-menu('Büyüteci kullanırken aşağıdaki klavye kısayolları mevcuttur.')
								ul.col02
									+how-list(
										"Yakınlaştırmak için Windows ve + tuşuna basın.",
										"Merceği yeniden boyutlandırmak için Ctrl, Alt ve R tuşuna basın.",
										"Uzaklaştırmak için Windows ve - tuşuna basın.",
										"Takılı moda geçmek için Ctrl, Alt ve D tuşuna basın.",
										"Masaüstünü tam ekranda önizlemek için Ctrl, Alt ve Space çubuğu tuşuna basın.",
										"Büyütme penceresinde renkleri ters çevirmek için Ctrl, Alt ve I tuşuna basın.",
										"“Mercek” moduna geçmek için Ctrl, Alt ve L tuşuna basın.",
										"Odağı seçilen yönde hareket ettirmek için Ctrl, Alt ve Ok tuşlarına basın.",
										"Merceği yeniden boyutlandırmak için Ctrl, Alt ve R tuşuna basın.",
										"Büyüteçten çıkmak için Windows ve Esc tuşlarına basın.",
									)

						//- div#visually-impaired-3.how-to-use-content
							//- +head-text('Windows’un Dahili Büyütme Özelliği Büyüteci Kullanma', 'h2', 'title2')

						div#visually-impaired-4.how-to-use-content
							+head-text('Microsoft Edge (En Son) ile Arka Plan ve Metin Renklerini Değiştirme', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Microsoft Edge kullanıyorsanız arka plan renklerini değiştirmek için bir eklenti yüklemeniz gerekir. 
								br
								| Bir dizi erişilebilirlik eklentisine şuradan erişebilirsiniz:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Microsoft Edge Eklentileri', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://microsoftedge.microsoft.com/addons/category/Accessibility" target="_blank")
	
							+head-text('Firefox (En Son) ile Arka Plan ve Metin Renklerini Değiştirme', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Firefox kullanıyorsanız arka plan renklerini değiştirmek için bir eklenti yüklemeniz gerekir.
								br
								| Bir dizi erişilebilirlik eklentisine şuradan erişebilirsiniz:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Firefox Eklentileri', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://addons.mozilla.org/enUS/firefox/search/?q=Accessibility%20Extensions" target="_blank")
	
							+head-text('Chrome (En Son) ile Arka Plan ve Metin Renklerini Değiştirme', 'h2', 'title2')(class="font-w-light-32") 
							p.how-to-use-text
								| Google Chrome kullanıyorsanız arka plan renklerini değiştirmek için bazı uzantılar yüklemeniz gerekir.
								br
								| Bir dizi erişilebilirlik eklentisine şuradan erişebilirsiniz:

							// block cta 
							.button.c-cta
								+defaultButton({name: 'Chrome Uzantıları', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})(href="https://chrome.google.com/webstore/category/ext/22-accessibility" target="_blank")
	

					//- Hearing Impaired
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont_2" aria-labelledby="#accessibility_help-tabsCont_2")
						+head-text('İşitme Engelli', 'h2', 'title2')(class="is-hidden") 
						
						.how-to-use-menu.bg-default
							+how-menu('Bu sekmede aşağıdakileri nasıl yapacağınızla ilgili bilgiler bulabilirsiniz:')
							ul
								+how-list-link('', 'Sistem Ses Seviyesini Ayarlama')(href="#hearing-impaired-1")
						
						div#hearing-impaired-1.how-to-use-content(style="border-top:0;margin-top:0")

							+head-text('Sistem Ses Seviyesini Ayarlama', 'h2', 'title2')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_01.jpg')
								.text-box
									+text-box('Kontrol panelinden “Donanım ve Ses” seçeneğini seçin.')(data-number="01")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_02.jpg')
								.text-box
									+text-box('“Ses” seçeneğinin altındaki “Sistem ses seviyesini ayarla” seçeneğini seçin.')(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/hearing-impaired_03.jpg')
								.text-box
									+text-box('İstenen sese getirmek için sağ panelde yer alan “Ana ses seviyesi” kaydırıcısını ayarlayın.')(data-number="03")

			//- mobile
			.c-wrapper.mobile-only
				+component-title-area({
					alignment: "",
					headline : {
						text : "Erişilebilirlik Yardım"
					},
					description : {
						style : "font-w-normal-24 font-m-normal-16",
						text : "LG olarak müşterilerimize erişilebilir ürünler sağlama konusunda kararlıyız. Görme, işitme veya beceri kaybı yaşayan kullanıcılara yardımcı olan özellikler listesini aşağıda bulabilirsiniz."
					}
				})

				.common-static-container.how-to-use-tabs
					.c-tabs
						.cmp-tabs
							.c-tabs__inner
								.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
									button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="accessibility_help-tab-m_0" aria-controls='accessibility_help-tabsCont-m_0' aria-selected="true") Android
									button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="accessibility_help-tab-m_1" aria-controls='accessibility_help-tabsCont-m_1' aria-selected="false") iOS
										
				.tab-content

					//- Android
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="accessibility_help-tabsCont-m_0" aria-labelledby="#accessibility_help-tabsCont_0")

						+head-text('Android', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Bu sekmede aşağıdakileri nasıl yapacağınızla ilgili bilgiler bulabilirsiniz:')
							ul.col02
								+how-list-link('','Görme ile İlgili Özellikler')(href="#android-1")
								+how-list-link('','İşitme ile İlgili Özellikler')(href="#android-2")
								+how-list-link('','Motor ve Biliş Becerileri ile İlgili Özellikler')(href="#android-3")

						div#android-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Görme ile İlgili Özellikler', 'h2', 'title2')

							//- 1
							+head-text('Yazı Boyutu Ayarı', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-01.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-02.png')
								.text-box
									+text-box("“Erişilebilirlik” içerisinde yer alan “Görünürlük iyileştirmeleri” seçeneğini seçin.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-03.png')
								.text-box
									+text-box("“Görünürlük iyileştirmeleri” içerisinde yer alan “Yazı boyutu ve biçimi” seçeneğini seçin.")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-04.png')
								.text-box
									+text-box("Yazı boyutunu ayarlayın.")(data-number="04")

							+head-text('Dokunmatik Yakınlaştırma', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-05.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Görüş iyileştirmeleri” seçeneğini seçin.")(data-number="02")
									+text-box("“Görüş iyileştirmeleri” içerisinde yer alan “Büyütme” seçeneğini seçin.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-06.png')
								.text-box
									+text-box("“Büyütme kısayolu” seçeneğini açık hale getirin.")(data-number="04")

							+head-text('TalkBack', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-07.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “TalkBack” seçeneğini seçin.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-08.png')
								.text-box
									+text-box("“TalkBack” seçeneğini açık hale getirin.")(data-number="03")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-09.png')
								.text-box
									+text-box("“TalkBack” detaylarından istediğiniz ayar seçeneklerini seçin.")(data-number="04")

							+head-text('Ekran Rengi Ayarı', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-10.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Görünürlük iyileştirmeleri” seçeneğini seçin.")(data-number="02")
									+text-box("“Görünürlük iyileştirmeleri” içerisinde yer alan “Renk Ayarı” seçeneğini seçin.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-11.png')
								.text-box
									+text-box("“Renk ayarı” seçeneğini açık hale getirin.")(data-number="04")
									+text-box("Değiştirmek istediğiniz renk tonu seçeneğini seçin.")(data-number="05")

						//- 2
						div#android-2.how-to-use-content
							+head-text('İşitme ile İlgili Özellikler', 'h2', 'title2')

							+head-text('Altyazılar', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-12.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “İşitme iyileştirmeleri” seçeneğini seçin.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-13.png')
								.text-box
									+text-box("“Erişilebilirlik” içerisinde yer alan “Altyazı tercihi” seçeneğini seçin.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-14.png')
								.text-box
									+text-box("“Altyazı tercihi” içerisinde yer alan “Altyazı boyutu ve biçimi” seçeneğini seçin.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-15.png')
								.text-box
									+text-box("“Metin boyutu”, “Altyazı biçimi” seçeneklerini seçin.")(data-number="05")


							+head-text('Flaş Uyarısı', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-16.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Gelişmiş ayarlar” seçeneğini seçin.")(data-number="02")
									+text-box("“Gelişmiş ayarlar” içerisinde yer alan “Flaş bildirimi” seçeneğini seçin.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-17.png')
								.text-box
									+text-box("“Flaş bildirimi” içerisinde yer alan “Kamera flaş bildirimi” seçeneğini açık hale getirin.")(data-number="04")


							+head-text('Mono Ses', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-18.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “İşitme iyileştirmeleri” seçeneğini seçin.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-19.png')
								.text-box
									+text-box("“İşitme geliştirmeleri” içerisinde yer alan “Mono ses” seçeneğini açık hale getirin.")(data-number="03")

						//- 3
						div#android-3.how-to-use-content
							+head-text('Motor ve Biliş Becerileri ile İlgili Özellikler', 'h2', 'title2')

							+head-text('Dokunmatik Asistan', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-20.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Etkileşim ve beceri” seçeneğini seçin.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-21.png')
								.text-box
									+text-box("“Etkileşim ve beceri” içerisinde yer alan “Asistan menü” seçeneğini açık hale getirin.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-22.png')
								.text-box
									+text-box("Sağdaki kayan düğmeyi seçin.")(data-number="04")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-23.png')
								.text-box
									+text-box("İstediğiniz eylemle ilgili düğmeyi seçin.")(data-number="05")





					//- IOS
					.cmp-tabs__tabpanel(role='tabpanel' id="accessibility_help-tabsCont-m_1" aria-labelledby="#accessibility_help-tabsCont-m_1")

						+head-text('IOS', 'h2', 'title2')(class="is-hidden") 

						.how-to-use-menu.bg-default
							+how-menu('Bu sekmede aşağıdakileri nasıl yapacağınızla ilgili bilgiler bulabilirsiniz:')
							ul.col02
								+how-list-link('','Görme ile İlgili Özellikler')(href="#ios-1")
								+how-list-link('','İşitme ile İlgili Özellikler')(href="#ios-2")
								+how-list-link('','Motor ve Biliş Becerileri ile İlgili Özellikler')(href="#ios-3")

						div#ios-1.how-to-use-content(style="border-top:0;margin-top:0")
							+head-text('Görme ile İlgili Özellikler', 'h2', 'title2')
							
							//- 1
							+head-text('Yazı Boyutu Ayarı', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-24.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-25.png')
								.text-box
									+text-box("“Erişilebilirlik” içerisinde yer alan “Ekran ve Metin Boyutu” seçeneğini seçin.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-26.png')
								.text-box
									+text-box("“Ekran ve Metin Boyutu” içerisinde yer alan “Büyük Metin” seçeneğini seçin.")(data-number="03")
							
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-27.png')
								.text-box
									+text-box("Yazı boyutunu ayarlayın.")(data-number="04")

							//- Zoom
							+head-text('Yakınlaştırma', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-28.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Yakınlaştırma” seçeneğini seçin.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-29.png')
								.text-box
									+text-box("Yakınlaştırma yöntemini ve yakınlaştırma aralığını seçin.")(data-number="03")
									
							//- VoiceOver
							+head-text('VoiceOver', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-30.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişebilirlik” içerisinde yer alan “VoiceOver” seçeneğini seçin.")(data-number="02")
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-31.png')
								.text-box
									+text-box("“Konuşma hızı” ayarını yapın.")(data-number="03")

						//- 2 Hearing Features
						div#ios-2.how-to-use-content
							+head-text('İşitme ile İlgili Özellikler', 'h2', 'title2')

							//- Captions
							+head-text('Altyazılar', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-32.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Altyazılar ve Gizli Altyazılar” seçeneğini seçin.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-33.png')
								.text-box
									+text-box("“Altyazılar ve Gizli Altyazılar” içerisinde yer alan “Biçim” seçeneğini seçin.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-34.png')
								.text-box
									+text-box("İstediğiniz seçeneği seçin.")(data-number="04")


							//- Flash Alert
							+head-text('Flaş Uyarısı', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-35.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Ses/Görsel” seçeneğini seçin.")(data-number="02")
									+text-box("“Ses/Görsel” içerisinde yer alan “Uyarılar için LED Flaş” seçeneğini seçin.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-36.png')
								.text-box
									+text-box("İstediğiniz seçeneği seçin.")(data-number="04")

							//- Mono Audio
							+head-text('Mono Ses', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-37.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Ses/Görsel” seçeneğini seçin.")(data-number="02")
									+text-box("“Ses/Görsel” içerisinde yer alan “Mono Ses” seçeneğini seçin.")(data-number="03")


						//- 3 Motor & Cognition Features
						div#ios-3.how-to-use-content
							+head-text('Motor ve Biliş Becerileri ile İlgili Özellikler', 'h2', 'title2')

							//- Touch Accommodations
							+head-text('Dokunmatik Asistan', 'h3', 'title3')
							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-38.png')
								.text-box
									+text-box("“Ayarlar” içerisinde yer alan “Erişilebilirlik” seçeneğini seçin.")(data-number="01")
									+text-box("“Erişilebilirlik” içerisinde yer alan “Dokunma” özelliğini seçin.")(data-number="02")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-39.png')
								.text-box
									+text-box("“Dokunma” içerisinde yer alan “Dokunma Kolaylıkları” seçeneğini seçin.")(data-number="03")

							.how-to-use-box.type01
								.image-box.c-image
									+printLazyImage('/content/dam/lge/gb/microsite/images/webaccessibility/img-m-40.png')
								.text-box
									+text-box("İstediğiniz ayarları seçin.")(data-number="04")
		// [END] You can put it in the code component up to this point.	