extends ../_common/_layout.pug
include ../_common/_headline.pug

block meta 
	- var componentId = "ST0054"
	- var componentName = "Privacy Policy"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	//- link(rel="stylesheet", href=componentId+".css")

block scripts
	script(src=componentId+".js" type="module")

block content
	.guide 
		.grid-1600 
		.grid-1440
		.inner

	mixin text(string, tagname = "p")
		case tagname
			when "span"
				span.common-static-text&attributes(attributes)= string
			default 
				p.common-static-text&attributes(attributes)= string 
		if block 
			block 

	mixin head-text(string, element="h3", className="title3")
		case element
			when "h1" 
				h1(class=`common-static-${className}`)&attributes(attributes)= string
			when "h2" 
				h2(class=`common-static-${className}`)&attributes(attributes)= string
			when "h3" 
				h3(class=`common-static-${className}`)&attributes(attributes)= string
			when "h4" 
				h4(class=`common-static-${className}`)&attributes(attributes)= string
			when "strong"
				p(class=`common-static-${className}`)
					strong&attributes(attributes)= string

	mixin table-wrap(data)
		- var option = {tableType: "", ...data}
		div(class=`${option.tableType ? `common-static-table-t${option.tableType}` : "common-static-table"}`)
			table
				tbody
					if block 
						block 

	mixin article(params)
		- var options = {...params}
		+head-text(options.title, options.level, options.class)
		.common-static-article-contents
			if block 
				block

	mixin error-page(error=false)
		if(error)
			.c-error-area
				.c-error.c-error--404
					.c-error__img
					.c-text-contents.align-text-left
						.title.c-text-contents__headline
							h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
								| We're sorry. 
								br
								| Problem accessing
						.text.c-text-contents__bodycopy 
							p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
								| Service access has failed due to a temporary error. try again later

						.button.c-cta
							+defaultButton({
								name: 'Go to Homepage', 
								wSize: 'medium', 
								mSize: 'small', 
								buttonStyle: 'highlight', 
								isButton: true
							})

	.guide-text-option  Type 1. Error Page
	.c-wrapper.ST0054.margin-top.margin-bottom
		.common-static.privacy-policy
			.common-static-region-header
				+headline("font-w-light-56 font-m-light-28", "h1", "Privacy Policy")

			.common-static-container
				.c-tabs
					.cmp-tabs
						.c-tabs__inner
							.c-tabs__tablist.cmp-tabs__tablist(role="tablist")
								button.c-tabs__item.cmp-tabs__tab.cmp-tabs__tab--active(type="button" role="tab" id="privacyPolicy-tab_0" aria-controls='privacyPolicy-tabsCont_0' aria-selected="true") Privacy Policy
								button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="privacyPolicy-tab_1" aria-controls='privacyPolicy-tabsCont_1' aria-selected="false") Cookie Policy
								button.c-tabs__item.cmp-tabs__tab(type="button" role="tab" id="privacyPolicy-tab_2" aria-controls='privacyPolicy-tabsCont_2' aria-selected="false") Direct Marketing 

				.tab-content
					//- Privacy Policy
					.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(role='tabpanel' id="privacyPolicy-tabsCont_0" aria-labelledby="#privacyPolicy-tabsCont_0")
					
						+head-text('PRIVACY POLICY HIGHLIGHTS', 'h2', 'title2')
						p.common-static-text
							| LG Electronics Inc. (
							strong &ldquo;LGE&rdquo;, 
							| ) together with its subsidiaries and affiliates (the &ldquo;
							strong LG Group
							| &rdquo;, &ldquo;
							strong we
							| &rdquo;, &ldquo;
							strong our
							| &rdquo; or &ldquo;
							strong  us
							| &rdquo;) respect your privacy. This Privacy Policy applies to the personal information we process through the lg.com website (the &ldquo;
							strong Website
							| &rdquo;), other websites provided by the LG Group, LG Accounts, our SmartHome services offered via our ThinQ App and the SmartWorld App (collectively, the &ldquo;
							strong Services
							| &rdquo;). It also applies to any other personal information you provide to your local LG Group member.
						p.common-static-text
							| For LG Smart TV or Smart Media Product users, please see the separate Smart Media Product Membership Privacy Policy for details of how LGE processes personal information in the course of providing its Smart TV / Media Product
							| service. This Privacy Policy does not apply to the processing covered by the Smart Media Product Membership Privacy Policy, although the LG Group may also use personal information collected via the Smart TV / Media Product
							| service as described in this Privacy Policy, and LGE may use personal information collected via the services as described in the Smart Media Product Membership Privacy Policy. For more information, please refer to Smart Media
							| Product Membership Privacy Policy in Account management menu or LG Account menu from settings of Smart TV/ Media Product.

						+head-text('OVERVIEW OF THE PRIVACY POLICY', 'strong', 'title4')
						p.common-static-text 
							| In this Privacy Policy, we describe the types of personal information we collect through our Services, how we use this information, for how long we keep it and with which parties we share it. We also explain what choices and rights you have in relation to the use of your information, including a right to object to some of the processing we carry out (if provided by applicable law). More information about your rights, and how to exercise them, is set out in the &ldquo;
							u Your Rights
							| &rdquo; section. We also provide our contact details, so that you can contact us if you have questions about this Privacy Policy and our privacy practices.
						
						+head-text('PRIVACY POLICY', 'h3')
						+text('Last Updated: 06 / 27 / 2022')
						
						+article({
							title: '1. Who is responsible for your Personal Information?',
							level: 'h4',
							class: 'title4'
						})
							+text('Your local LG entity is responsible for operating the Website or other LG Group websites in your country, and for information about you collected through the Website. Your local LG entity is also responsible for any personal information you provide to it directly, for example during customer service calls or product registration cards. LGE is responsible for operating all other Services, and for information about you collected through or in connection with those Services.')
							p.common-static-text 
								| The name and contact details of your local LG entity and LGE can be found in the &lsquo;Contact Us&rsquo; section below.
						
						+article({
							title: '2. Personal Information We Collect',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text 
								| When we refer to &ldquo;personal information&rdquo; in this Privacy Policy, we mean information that relates to an identifiable individual (for example, name, contact details, purchase information). The following types of personal information are collected in connection with our Services:
							p.common-static-text.w-mt-40
								u Information You Provide Directly to us or third parties
							p.common-static-text 
								| Some Services enable us to collect information directly from you or from other companies with whom you have a relationship. For example:
							p.common-static-dot.dot-start
								| &bull; When you create a LG Account and register for or use our Services, you will provide us with information, such as your name, email address, phone number, date of birth, speaker&rsquo;s voice, photo, video, payment card information, purchase information and interactions with connected electronic devices.
							p.common-static-dot
								| &bull; When you login with a third party account or profile, we will get access to information, such as, your name and email address and social media tags.
							p.common-static-dot
								| &bull; When you communicate with our customer service staff or other LG Group staff, we will process these communications and other information required to respond to your queries and satisfy your requests.
							p.common-static-text 
								u Information about Your Use of Our Services
							p.common-static-text 
								| In addition to the information you provide, we will collect information about your use of our Services through software on your devices and by other electronic means (such as the use of cookies and sensors). We will collect:
							p.common-static-dot.dot-start
								| &bull; Device information: Your device name, IMEI, OS version, country, location, language, IP address and settings of devices.
							p.common-static-dot
								| &bull; Log information: Usage information, such as, URL, redirected URL, performance timing, referrer, network type, network info, charge status, ad block info, and cookies. For more information about how we use cookies for our Services, please see Cookie Policy relevant to the Services you are using.
							p.common-static-dot
								| &bull; Location information: We will process your location information based on your consent or where this is necessary to deliver the Service you have requested (for example, by requiring your location information to give you directions).
							p.common-static-dot
								| &bull; Other information about your use of our Services, such as the websites you visit, typing patterns (autofill) and how you interact with content offered through our Services.
							p.common-static-text 
								| We explain below in more detail what types of information we collect when you use our Services:
							+table-wrap
								tr
									td
										strong Point of collection
									td
										strong Types of personal information
								tr
									td
										p Information collected through the Website
									td
										p
											u Information 
											| collected through the LG Account (see further below), web registration form, survey form, demo or purchase request forms, customer service contact form or online chat.
										p
											u Product and service information, including information
											|  about the products and services you purchase or use through the Website, including country code, product category, code, and model number, device ID, billing and payment information, registration information,&nbsp; IP address, and firmware and software information.
										
										p
											u Website usage information:
											|  including information about how you interact with the Website, and the device you use to do so. Please see our Cookie Policy for further information about this.
										
										p
											u Image and voice information.
										p
											u
											| Comments or similar posts on the Website, if applicable, including time of the post, your email address and nickname, attached image or files.
										
								tr
									td
										p Information collected through the LG Account
									td
										p
											u Identity information
											| , including your display name, country code, language, your name, address, contact details and profile photo and user authentication by name. If you are a business customer or an employee of one of our business customers this also includes any information regarding your company, e.g. contact information, job title and sector of activity.
										p
											u Device information
											| , including device identification information such as IMEI number and product serial number, advertising ID and IP address
								tr
									td
										p Information collected through the ThinQ service
									td
										p
											u Identity data
											|  including speaker&rsquo;s voice and its&rsquo; translated text. If you are a Member in a virtual Home or Room: user number, profile photo, name, email address
										p
											u Profile information
											| , including status of the host user, shared home ID, customer-generated home and room information (such as name of home, home ID, background screen URL, address, area code, geolocation)
										p
											u Product information
											|  (used for product warranty benefit purposes): date and location of purchase, photo of receipt
										p
											u Location information
											| : including city code, server address, geolocation information
										p
											u Communication information
											| : including inquiry details and attached images when you use 1:1 Inquiry or One Stop service
										p
											u Technical information
											| , including information about your network connection, access to the app (e.g. number of times, timeline) and information generated during your use of our Service (such as log data, cookie data)
								tr
									td
										p Information collected through electronic devices linked to ThinQ
									td
										p
											u Device information
											| , including device registration information (such as unique identification value, type, name, manufacturer, model number, manufacture number, sales country, version information), device status, device settings, device behaviour and history of use, power (on/off) and power usage information, information on network connection and surrounding network environment, information on the execution and operation of various functions of the LG Electronics Service, Product Error/Malfunction Information, IP address
								tr
									td
										p
											| Information collected during the Proactive Customer Care (PCC) service delivery process
									td
										p
											u Product information
											| , including model name, manufacture number, product status information, product history, information about product diagnostics, repair request information, date and location of purchase
								tr
									td
										p Information collected when using Air Conditioning Smart Care
									td
										p
											u Product and settings information
											| , including reservation information, filters, temperature unit information, setting values, indoor pollution level and energy monitoring
										p
											u Spatial data
											| , including user location (according to distance and angle), temperature information (temperature of space used, temperature set), human sensing information and indoor load information
								tr
									td
										p
											| Information collected when using the camera or gallery photo upload function
										p
											| (this relates to the following features: Refrigerator panoramic view, Insta-view refrigerator background screen/upload gallery photo, Roboking Home view/Home guard, Air Conditioning)
									td
										p
											u Image and video information
											| : including photo information, smartphone gallery photos, home view/home guard positioning screen information, home view photo/video information, Home Guard specified value, Home Care photo information, My Home view (streaming).
										
										p
											| This information will only be collected if you make use of features that require or support image or video functionality and/or grant access to the camera or photo gallery on your device via your operating system settings. Image and video information be stored solely on your device, and only for so long as is necessary in order to provide the Services.
										p
											| When you use our Home View/Home guard functions, you are required to inform individuals who are present in any recorded space, that their image or video recording will be processed by us and to 
											strong make this Privacy Policy available to them
											| .
								tr
									td
										p Information collected when connecting to the robot vacuum cleaner
									td
										p
										| Images and drawing map, cleaning reservation information, cleaning history, cleaning diary list and video information
								tr
									td
										p Information collected when using voice link
									td
										p
											u Device identification information
											| ,
										p
											u Technical information
											|  needed to link with external devices, and
										p
											u Product information
											| : including product model name and type, product nickname, status (On/Off, time remaining in action, appliance status value) and status properties, range of product property values, product control results, session key
										p
											u Voice information
											| .
								tr
									td
										p Information collected when connecting to the Smart TV
									td
										p OTA ID, TV os version, device feature set code, content recommendation list ID, content ID
								tr
									td
										p Information collected when using SmartWorld
									td
										p
											u Device information
											| , including connection information (such as terminal model name, OS, browser, etc.), mobile carrier information, device identification information, IP address
									
							p.common-static-text 
								u Other Information We Collect
							p.common-static-text 
								| When we seek your consent, we will explain at the time of obtaining consent from you what information we will be collecting and how we will use it.
							p.common-static-text 
								| Sometimes we receive information about you from third parties including from other companies such as Facebook, Google, Amazon or Line. For example, we may receive your information from third party social networking providers if you choose to connect to our services using your social network account.
							p.common-static-text 
								| We verify certain information you provide with third parties, for example identity verification providers, in order to protect against fraud.
							p.common-static-text 
								| We also use personal information initially collected via LGE&rsquo;s Smart TV / Media Product service for the purposes described in this Privacy Policy. Please see LGE&rsquo;s separate Smart Media Product Membership Privacy Policy for further details.
							p.common-static-text 
								| We also collect information about you from other third parties, for example marketing companies and data brokers, in order to better understand your interests and deliver you with more tailored Services and advertising. For example, we receive aggregated information about lifestyle or purchase patterns of certain demographic groups in order to better understand your likely interests.
							p.common-static-text 
								| We may also collect other information about you, your devices, or your use of our Services where required by law (such as where we are mandated by law to collect internet search logs) or with your consent.
							p.common-static-text 
								u Links to Other Websites, Devices, Apps and Features
							p.common-static-text 
								| Our Services may enable you to connect to other websites, devices, apps and other features, which may operate independently from us and have their own privacy notices or policies, which we strongly suggest you review. To the extent any linked website, device, app or other feature is not owned or controlled by us, we are not responsible for its content, use or privacy practices.

						+article({
							title: '3. How We Use this Information',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| In this section we set out the legal grounds on which we rely to process your personal information and under each legal ground, we explain the purposes for which we collect and use your personal information.
							p.common-static-text
								| If you use more than one of our services, including Services described in this Privacy Policy and our Smart TV / Media Product service, we will combine the personal information we collect from you in connection with each of those services and use it for the purposes set out below or as described in the privacy policy applicable to the services you use. For example, this prevents you from having to use different logins for different services.
							p.common-static-text.w-mt-40
								strong
									u Provision of services based on your contractual relationship with us
							p.common-static-text
								| We process your personal information when this is necessary under our contract with you, including to:
							p.common-static-dot.dot-start
								| &bull; Provide you with our services, and specific features you select when using our services, which may require personalising the content of our Services.
							p.common-static-dot
								| &bull; Process orders and payments and deliver to you our products or products of third parties that you purchase through our services and allow you to exercise your warranty rights or other rights you have under your contract.
							p.common-static-dot
								| &bull; Identify and authenticate you so you may use certain of our services.
							p.common-static-text
								| Facilitating installations and registrations, resolving technical issues, providing you with customer care support and sending you necessary information relating to the services.
							p.common-static-text
								strong
									u Legitimate interests of the LG Group and/or third parties
							p.common-static-text
								| We process personal information to the extent this is necessary to fulfil our legitimate interests (or those of third parties), which include our interests to:
							p.common-static-dot.dot-start
								| &bull; Effectively manage our relationship with our customers, including by communicating with you and responding to your queries;
							p.common-static-dot
								| &bull; Carry out direct marketing activities (when we are not required by law to obtain your consent), including by sending you marketing communications via email, phone calls, post, text messages, social media channels, or via push notifications through our mobile apps, presenting you with online ads both on our services and on third party websites, creating marketing profiles and personalising the recommendations and marketing content we and others present to you, and running promotions, competitions and prize draws. You have the right to object at any time to the use of your data for direct marketing &ndash; please see the &ldquo;Your Choices&rdquo; section below.
							p.common-static-dot
								| &bull; Protect our business operations against, identify and prevent fraud and other illegal activities or activities prohibited by our Terms of Use.
							p.common-static-dot
								| &bull; Protect the security, availability and integrity of our services and information systems, including by using authentication mechanisms and other security measures, monitoring our systems for security threats, keeping back-ups, anonymising data, and carrying out system maintenance services.
							p.common-static-dot
								| &bull; Protect our legal rights and the safety of end users, including by handling complaints, obtaining legal advice and establishing, exercising or defending legal claims relating to us or other companies in our group and our Services;
							p.common-static-dot
								| &bull; Improve your user experience, including by providing you with tailored functions, such as an autofill function, a quick search function based on your most visited webpages and additional contents tailored to your interests;
							p.common-static-dot
								| &bull; Improve our services and customer care, including by seeking your feedback and carrying out surveys and market research, performing data analytics on the usage of our services, analyzing customer behaviours, building up customer usage patterns and profiles in order to identify regional and global user trends and optimize our offering to customers globally;
							p.common-static-dot
								| &bull; Effectively manage our business, including by generating reports and analysing the performance of our services (through the use of aggregated information), auditing our business processes, using statistics to make informed business decisions.
							p.common-static-text
								| Where we rely on our legitimate interests, we have carried out a balancing test to consider what the impact of the processing will be on individuals and to determine whether individuals&lsquo; interests outweigh our interests in the processing taking place. You can obtain more information about this balancing test by using the contact details at the end of this Privacy Policy.
							p.common-static-text
								strong
									u Your consent
							p.common-static-text
								| We seek your consent to process your personal information, where we consider it appropriate or where this is required by law. We use consent to:
							p.common-static-dot.dot-start
								| &bull; Place cookies and use similar technologies in accordance with our Cookie Policies and the information provided to you when those technologies are used. For more information, see the Cookie Policy relevant to the service you are using.
							p.common-static-dot
								| &bull; Send you marketing communications (where this is required by law or where we otherwise elect to rely on consent).
							p.common-static-dot
								| &bull; Where required by law, consent to provide you or allow you provide you with recommendations and customized advertisements of content, products and services that we or others think you would like, by analyzing information relating to your use of the Services combined with various information that you provide to us by other means, for the purposes consistent with this Privacy Policy. This may involve delivering marketing via various channels including through, email, through the LG account, on our websites or on third party platforms (including social networks).
							p.common-static-text
								| On other occasions where we ask you for consent, we will use the data for the purpose explained to you at that time.
							p.common-static-text
								| When we rely on your consent, you always have the right to 
								strong withdraw your consent at any time
								| . This will not affect the lawfulness of any processing we carried out before you withdrew your consent. To exercise this right, please see the &ldquo;Your Rights&rdquo; section below.
							p.common-static-text
								strong
									u Legal obligations
							p.common-static-text
								| We process personal information to the extent this is necessary to:
							p.common-static-dot.dot-start
								| &bull; Comply with our legal requirements under applicable laws (e.g. tax and accounting obligations, obligations relating to product safety, warranties and consumer protection).
							p.common-static-dot
								| &bull; Comply with court orders and subpoenas, and respond to legally binding requests from government, law enforcement agencies, public authorities and/or regulators.
							p.common-static-text
								| Where we need your information to perform our contract with you or to comply with our legal obligations, you are required to provide this information to us. In other instances, you are not required to provide personal information, however, not doing so may impact the way you use our Services.
						
						+article({
							title: '4. Sharing Information',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| We transfer, disclose or otherwise make available personal information about you to third parties as described below:
							p.common-static-dot.dot-start
								| &bull; 
								u The LG Group and personnel
								| : We share personal information between LG Group members and with our personnel, including contractors and agents, and other companies in our group, to the extent this is necessary or reasonable to provide our services and to fulfil the purposes set out in section 3 above or described in the privacy policies relating to our other services. For example, we share your personal information with LGE for product development and improvement purposes, and with your local LG Group member for marketing purposes.
							p.common-static-dot
								| &bull; 
								u Service Providers
								| . We transfer or disclose your information to carefully selected companies and individuals that provide services to us; for example companies that help us develop and operate systems for our Services, providers of IT services, security, hosting, Website maintenance, data maintenance and analytics, customer care and communication, order processing and fulfilment, mailing, billing, marketing and market research services, authorised service and repair centres, other administrative services, and companies that run contests, sweepstakes and other promotions on our behalf. These entities are only authorised to access and use your personal information to the extent this is necessary for them to provide us with their services and they are under contractual obligations with the aim of, amongst other things, preventing them from using your information for other purposes. Some of our service providers are located in the Republic of Korea or in other countries outside Europe.
							p.common-static-dot
								| &bull; 
								u Third party IoT providers
								| : when you activate third party connectivity features, for example when you connect home IoT devices to our Services, we will share personal information with the providers of those IoT devices to enable you to use the relevant features in our Services.
							p.common-static-dot
								| &bull; 
								u Authorised resellers
								| . In certain countries, products on our Website are sold by our authorised resellers. When you purchase products from our Website in these countries, we will share your personal information with these resellers.
							p.common-static-dot
								| &bull; 
								u Advertising partners
								| . We share personal information including how you interact with our Services, the ads you see and the purchases you make with social networks and other advertising partners in order to measure the effectiveness of our advertising, improve our marketing practices and help us deliver more relevant advertising to you. In accordance with your marketing preferences, we may also share your personal data with third parties who are offering products or services that we believe may be of interest to you or who are otherwise conducting marketing research and analysis. These parties may use your personal information to contact you with offers or advertisements.
							p.common-static-dot
								| &bull; 
								u Other business partners
								| . We will disclose your personal information to other business partners where necessary in order to enable you to access Services you have requested through our Services or promotional materials related to our Services.
							p.common-static-dot
								| &bull; 
								u Visitors to our Website
								| . The messages you post to some areas of the Website, including product review boards, chat rooms, forums or other public posting areas can be viewed by other visitors to our Website. [We make clear on our Website where information you post will be visible to others.]
							p.common-static-dot
								| &bull; 
								u Business advisors
								| : for example, our lawyers, accountants, business consultants, insurers, auditors, to the extent it is necessary for them to provide us with their services.
							p.common-static-dot
								| &bull; 
								u
								| Government authorities, judicial authorities, regulators or other third parties where required
								| : We will disclose personal information to government authorities, judicial authorities, regulators or other third parties where we have a legal requirement to do so or where we believe this is necessary:
							p.common-static-hyphen
								| - to comply with the law or respond to compulsory legal processes (such as a search warrant, subpoena or court order);
							p.common-static-hyphen
								| - to verify or enforce compliance with the terms and policies governing our Services and to investigate and prevent fraud or other unlawful activity relating to the use of our Services or affecting our business, to the extent such disclosure is permitted by applicable data protection laws; and
							p.common-static-hyphen
								| - to protect and defend our rights, property, and the security or safety of our business operations and those of any of our respective affiliates, staff, business partners, our customers or members of the public.
							p.common-static-dot
								| &bull; 
								u Corporate Transactions
								| . We may disclose your information to a third party (and their business advisors) as part of a merger or transfer, reorganisation, acquisition or sale (including in the context of negotiations), dissolution or other corporate transaction, or in the event of a bankruptcy.
							p.common-static-dot
								| &bull; 
								u Other Parties with Your Consent or on Your Request
								| . In addition to the disclosures described in this Privacy Policy, we may share information about you with third parties when you separately consent to or request such sharing.
							p.common-static-dot
								| &bull; 
								u Google Analytics / FireBase
								|  We may collect personal information about your online activities on websites and connected devices over time and across third-party websites, devices, apps and other online features and services. We may use third-party analytics services, such as Google Analytics and Firebase. The information we obtain may be disclosed to or collected directly by these providers and other relevant third parties who use the information, for example, to evaluate use of the Services. To learn more about Google Analytics, please visit &ldquo;How Google uses data when you use our partners&apos; sites or apps,&rdquo; (located at https://www.google.com/policies/privacy/partners/), &ldquo;Safeguarding your Data&rdquo; (located at https://support.google.com/analytics/answer/6004245#zippy=) and &ldquo;Google Analytics Opt-out Browser Add-on&rdquo; (located at https://tools.google.com/dlpage/gaoptout).
						
						+article({
							title: '5. Retention of Personal Informaition',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| We take appropriate steps to ensure that we process and retain information in accordance with the following principles:
							p.common-static-dot.dot-start
								| &bull; at least for the duration for which the information is used to provide you with our Services;
							p.common-static-dot
								| &bull; as required under law, a contract, or with regard to our statutory obligations (e.g., tax laws); or
							p.common-static-dot
								| &bull; only for as long as it is necessary for the purpose for which it was collected, is processed, or longer if required under any contract, by applicable law, or, in anonymized form, for statistical purposes, subject to appropriate safeguards. For example, if a dispute arises between you and the LG Group or you fail to make payment for our Services, we may retain relevant information until such dispute is resolved or until such payment is made, respectively. If you delete your entire LG Account, your information will be retained for three months and immediately destroyed thereafter, unless otherwise required under applicable law.
							p.common-static-dot
								| &bull; Where we process your information for marketing purposes or with your consent, we process the data until you ask us to stop and for a short period after this (to allow us to implement your requests). We also keep a record of the fact that you have asked us not to send you direct marketing or to process your data indefinitely so that we can respect your request in future.
						
						+article({
							title: '6. Your Choices',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| Where permitted we may contact you via email, phone call, text messages or push notifications through our mobile apps. To submit a request concerning the receipt of such communications from us, please contact us using the information specified in the &ldquo;
								u Contact Us
								| &rdquo; section below.
							
							p.common-static-text
								| You can unsubscribe from our marketing communications at any time by clicking the &ldquo;unsubscribe&rdquo; link included at the bottom of emails or by contacting us directly (see &ldquo;Contact Us&rdquo; section below). As noted in the 
								em Your Rights
								|  section below, you have the right to object to use of personal data for direct marketing purposes at any time.
							
							p.common-static-text
								| Please note that if you unsubscribe from our marketing communications, we will process your unsubscription as soon as possible, but please be aware that in some circumstances you may continue to receive marketing messages for a short time whilst we process your request. We will also continue to send you service messages to provide you with necessary information in relation to your contract and the Services you use (for example, to update you on changes to our Terms of Use).
						
						+article({
							title: '7. Your Rights',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| To the extent provided by applicable law, you can ask your local LG Group member for a copy of the personal information we hold about you. You can also ask us to delete personal information or correct any inaccuracies, to restrict or limit the processing of your personal information, to withdraw your consent and to provide you with personal information that you provided to us for a contract or with your consent in a structured, machine readable format, and to ask us to share (port) this data to another controller.
							p.common-static-text
								| In addition, to the extent provided by applicable law, you can 
								strong object to the processing
								|  of your personal data in some circumstances (in particular, where we don&rsquo;t have to process the data to meet a contractual or other legal requirement). You have the right to object at any time to the use of your personal information for direct marketing purposes, including profiling relating to direct marketing.
							p.common-static-text
								| However, these 
								strong rights may be limited
								| , for example if fulfilling your request would reveal personal data about another person, where they would infringe the rights of a third party (including our rights) or if you ask us to delete information which we are required by law to keep or have compelling legitimate interests in keeping. Relevant exemptions are included in both the GDPR and in national laws. We will inform you of relevant exemptions we rely upon when responding to any request you make. To make a request concerning your rights or to make an inquiry, use the contact details under the&nbsp;&ldquo;
								u Contact Us
								| &rdquo;&nbsp;section below. In some cases you can also exercise your rights directly through the Website.
						
						+article({
							title: '8. How We Protect Personal Information',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| We take the protection of your information seriously and we have in place safeguards designed to protect the information we collect through our Services. However, please note that although we take reasonable steps to protect your information, no website, Internet transmission, computer system, or wireless connection is completely secure.
						
						+article({
							title: '9. International Transfer of Information',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| Your use of our Services will involve the transfer, storage, and processing of your personal information within and outside of your country of residence, consistent with this Privacy Policy. In particular, your personal information will be transferred to the Republic of Korea. Please note that data protection laws and other laws of countries to which your information may be transferred might not be as comprehensive as those in your country.
							p.common-static-text
								| [For European Residents]
							p.common-static-text
								| If you are in the EEA (European Economic Area, that is in the European Union and Iceland, Lichtenstein, Norway), UK or Switzerland, we will transfer your personal information to other countries outside the EEA, UK or Switzerland, including the Republic of Korea and the United States. European Union Law recognises the Republic of Korea as adequately protecting personal information. However, where we transfer your personal information to a jurisdiction which is not considered adequate by applicable law, we will take appropriate measures, in compliance with applicable laws, to ensure that your personal information remains protected. Such measures include for instance the use of model clauses which have been approved by the EU, UK and Switzerland. In some instances, we will rely on your explicit consent, where this is appropriate. To request more information or obtain a copy of the contractual agreements or other safeguards in place, use the contact details set out in the &ldquo;
								u Contact Us
								| &rdquo; section below.

						+article({
							title: '10. Updates to Our Privacy Policy',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| We will update this Privacy Policy when we change the way we use your personal information, or when we are required to do so under data protection laws. We will bring to your attention any material changes to our Privacy Policy in an appropriate manner (for example, by posting a notice on the webpages and apps through which we provide our Services and indicate at the top of the notice when it was most recently updated).
						
						+article({
							title: '11. Contact Us',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| To exercise your rights, or for further information about how we use your personal information, please contact us.
							p.common-static-text
								| For requests and enquiries relating to information about you collected via the Website or otherwise by your local LG Group member, please contact your local LG Group member. The name of and contact details for your local LG Group member can be found 
								a(href='#LG Entities') here
								| .
							p.common-static-text
								| For requests and enquiries relating to information about you collected via all other Services, please contact LGE at [
								a(href='#LG Entities') here
								| ] or via post [LG Twin tower, 128 Yeoui&mdash;daero, Yeongdeungpo-gu, Seoul, Republic of Korea]. LGE&rsquo;s contact in the EEA is [dpo-eu@lge.com], LG Electronics Deutschland GmbH, Alfred-Herrhausen-Allee 3-5, 65760 Eschborn. The name of and contact details for your local LG Group member can be found 
								a(href='#LG Entities') here
								| .
							p.common-static-text
								| Our Data Protection Officer can be contacted at [dpo-eu@lge.com].
							p.common-static-text
								| If you are not satisfied with how we use your personal information or believe that this is not in accordance with data protection laws, you have the right to complain to the data protection authority where you live, work or where you believe that an infringement of data protection laws has taken place.
						
						+article({
							title: '12. Personal Information of Children',
							level: 'h4',
							class: 'title4'
						})
							p.common-static-text
								| Our Services are designed for a general audience and are not directed towards children.&nbsp;In connection with our Services, we do not knowingly collect or maintain personal information from anyone under the age of 18 or knowingly allow such persons to use our Services. Please do not provide us with any personal information relating to persons under the age of 18. If you are under 18, please do not attempt to register for our Services or provide us with any personal information. If we learn that a person under the age of 18 has provided us with any personal information, we will promptly delete such personal information. If you believe that a child under age 18 may have provided us with personal information, please contact us using the information specified in the&nbsp;&ldquo;
								u Contact Us
								| &rdquo; section above.
							p.common-static-text
								| In some jurisdictions we may adopt a stricter age-gating policy. Please read the supplemental information for your jurisdiction at the bottom of this Privacy Policy for further 
								a(href='#' id='LG Entities' name='LG Entities') information.
						
						+article({
							title: 'LG Entities',
							level: 'h4',
							class: 'title4'
						})
							+table-wrap
								tr
									td
										strong Country
									td
										strong LG Entity
									td
										strong Registered address
									td
										strong Contact information
								tr
									td UK
									td LG Electronics U.K. Ltd.
									td 
										u LG Electronics U.K. Limited, Velocity 2, Brooklands Drive, Weybridge KT13 0SL
									td 
										p 
											u Telephone:
										p UK: 0344 847 5454
										p IE: 01 686 9454. &nbsp;
										p E-mail: cic.uk@lge.com
						
						+article({
							title: 'Services',
							level: 'h4',
							class: 'title4'
						})
							+table-wrap
								tr
									td
										strong Service
									td
										strong LG Entity
									td
										strong Registered address
									td
										strong Contact information
								tr
									td ThinQ
									td LG Electronics Inc.
									td 
										u LG Twin tower, 128 Yeoui&mdash;daero, Yeongdeungpo-gu, Seoul, Republic of Korea
									td 
										u thinq@lge.com
								tr
									td LG SmartWorld
									td LG Electronics Inc.
									td 
										u LG Twin tower, 128 Yeoui&mdash;daero, Yeongdeungpo-gu, Seoul, Republic of Korea
									td 
										u lgworld@lge.com
								tr
									td https://www.lg.com/uk
									td LG Electronics U.K. Ltd.
									td 
										u LG Electronics U.K. Limited, Velocity 2, Brooklands Drive, Weybridge KT13 0SL
									td 
										u cic.uk@lge.com
							
					//- Cookie Policy
					.cmp-tabs__tabpanel(role='tabpanel' id="privacyPolicy-tabsCont_1" aria-labelledby="#privacyPolicy-tabsCont_1")

						+head-text('Cookie Policy', 'h2', 'title2')(class="is-hidden") 
						p.common-static-text.color-gray6 
							| Last Updated: 06 / 27 / 2022
						p.common-static-text.w-mt-40
							| The Sites use cookies. You can find out more about cookies and how to control them below.
						p.common-static-text
							| By using the Sites, you accept the use of cookies in accordance with this cookie policy. If you do not accept the use of these cookies, please disable them following the instructions in this cookie policy.

						+article({
							title: 'What is a cookie?',
							class: 'title4'
						})
							p.common-static-text
								| Cookies are text files containing small amounts of information which are downloaded to your computer or mobile device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognises that cookie. Cookies are useful because they allow a website to recognise a user&rsquo;s device.
							p.common-static-text
								| Cookies do lots of different jobs, like letting you navigate between pages efficiently, remembering your preferences, and generally improving the user experience. They can also help to ensure that adverts you see online are more relevant to you and your interests.
							p.common-static-text
								| For further information on cookies, including how to see what cookies have been set on your device and how to manage and delete them, visit 
								a(href='http://www.allaboutcookies.org/') http://www.allaboutcookies.org/
								| .
						
						+article({
							title: 'What cookies do we use on the Sites?',
							class: 'title4'
						})
							p.common-static-text We use the following cookies.
							p.common-static-text
								strong Strictly necessary cookies
								| . These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website. These cookies do not gather information about you that could be used for marketing or remembering where you have been on the internet. This category of cookies cannot be disabled.
							p.common-static-text
								strong Analytical cookies
								| . They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily. These cookies do not collect information that can identify you. All the information that these cookies collect is anonymous and is only used to improve how the website works.
							p.common-static-text
								| Our website uses 
								strong Google Analytics cookies
								| . Information collected by Google Analytics cookies will be transmitted to and stored by Google on servers in the United States of America in accordance with its privacy practices. To see an overview of privacy at Google and how this applies to Google Analytics, visit &gt;
								a(href='http://www.google.co.uk/intl/en/analytics/privacyoverview.html') http://www.google.co.uk/intl/en/analytics/privacyoverview.html
								| . You may opt out of tracking by Google Analytics by visiting &gt;
								a(href='https://tools.google.com/dlpage/gaoptout?hl+en-GB') https://tools.google.com/dlpage/gaoptout?hl+en-GB
								| .
							p.common-static-text
								strong Advertising Cookies
								|  (Behavioural advertising). To personalise our Sites, deliver customized advertisements to you, or contact you directly where you have separately consented to such communications, in a way which is relevant to you and which matches your interests by, for example, using information about products you have browsed or ordered on our website.
							p.common-static-text
								strong Functional cookies
								| . These are used to recognise you when you return to our website. This enables us to personalise our content for you and remember your preferences (for example, your choice of language or region). These cookies do not collect information that can identify you. All the information that these cookies collect is anonymous and is only used to improve how the website works.
							p.common-static-text
								| You can find more information about the individual cookies we use and the purposes for which we use them in the table below:
							p.common-static-text
								| Third Party (Xandr)This pixel is to track customer behaviour on the site as well as conversion to enable marketing activities
							+table-wrap({tableType: "1"})
								tr
									td(colspan='4')
											strong cookie type, cookie name, source, purpose
								tr
									td
										strong Cookie Type
									td
										strong Cookie Name
									td
										strong Source
									td
										strong Purpose
								tr
									td 	Strictly necessary
									td 	FRONT_JSESSIONID, CS_JSESSIONID, DOWN__JSESSIONID, plbw, WMONID
									td 	LG
									td 	Maintains session
								tr
									td 	Strictly necessary
									td 	CS_JSESSIONID
									td 	LG
									td
										| This is session ID that web application server generates for customer support pages.
								tr
									td 	Strictly necessary
									td 	LG_Survey/{locale}
									td 	LG
									td
										| This is used not to open survey pop-up again when the user clicks &apos;No More&apos; button on customer support &gt; LG survey pop-up.
								tr
									td 	Strictly necessary
									td 	LG4_LOGIN_{locale}
									td 	LG
									td 	This is used to maintain login status of the user.
								tr
									td 	Strictly necessary
									td 	MKT_JSESSIONID
									td 	LG
									td 	This is session ID that web application server generates for marketing pages.
								tr
									td 	Strictly necessary
									td 	RT
									td 	Akamai
									td 	This is used to monitor web performance through mPulse solution
								tr
									td 	Strictly necessary
									td 	WMONID
									td 	LG
									td
										| This is session ID that Jennifer solution generates to monitor web application&apos;s performance.
								tr
									td 	Strictly necessary
									td 	AKA_A2
									td 	LG
									td
										| Used to speed up content delivery on websites using the adaptive acceleration feature.
								tr
									td 	Strictly necessary
									td 	compare_min
									td 	LG
									td 	Used for Compare Function on products
								tr
									td 	Strictly necessary
									td
										| ssm_au_c,&nbsp;tmr_detect,&nbsp;tmr_lvid,&nbsp; tmr_lvidTS,&nbsp;tmr_reqNum, top100_id,&nbsp;SL_GWPT_Show_Hide_tmp,&nbsp;SL_wptGlobTipTmp,&nbsp;SLG_GWPT_Show_Hide_tmp,&nbsp;SLG_wptGlobTipTmp,&nbsp;UTID
									td 	LG
									td 	It&apos;s used for cookie banner function
								tr
									td 	Strictly necessary
									td 	__ttl__widget__ui
									td 	LG
									td 	In the widget on camparison to show models
								tr
									td 	Strictly necessary
									td 	outbrain_cid_fetch
									td 	LG
									td
										| This cookie determines how the user accessed the website. This information is used by the website operator to measure the efficiency of its marketing.
								tr
									td 	Strictly necessary
									td 	test
									td 	LG
									td 	It&apos;s used to maintain the session
								tr
									td 	Analytical
									td 	at_check
									td 	LG
									td 	Adobe Target Cookie to verify whether cookies can be configured
								tr
									td 	Analytical
									td 	AMCV_XX_AdobeOrg, AMCVS_XX_AdobeOrg,mbox
									td 	LG
									td 	Adobe Experience Cloud
								tr
									td 	Analytical
									td 	_gcl_au
									td 	LG
									td
										| Website statistics and optimising the functionality of the website by Google Tag Manager.
								tr
									td 	Analytical
									td 	s_cc, s_sq, s_vi, s_incusit, s_nr, s_vnum, s_sv_sid, s_sv_s1, s_sv_p1
									td 	LG (If javascript on user&rsquo;s browser does not work, third party cookies are used)
									td 	Aggregates site traffic and behaviours of visitors
								tr
									td 	Analytical
									td 	s_sp
									td 	LG (If javascript on user&rsquo;s browser does not work, third party cookies are used)
									td
										| Read by the JavaScript code when the ClickMap functionality is enabled. It contains information about the previous link that was clicked on by the user
								tr
									td 	Analytical
									td 	aw1599, UniqueUserld
									td 	Affiliate Window ( awin1.com, ist-track.com)
									td
										| Against user action on click online retailer links, service provider &ldquo;Affiliatewindow&rdquo; set cookies on the way of redirections
								tr
									td 	Analytical
									td 	_utma
									td 	Google Analytics
									td
										| Determines unique visitors the your site and it is updated with a unique ID that Google Analytics is used to ensure both the validity and accessibility of the cookie as an extra security measure.
								tr
									td 	Analytical
									td 	_utmb
									td 	Google Analytics
									td
										| Used to determine new sessions/visits. The cookie is created when the javascript library executes and no existing __utmb cookies exists. The cookie is updated every time data is sent to Google Analytics.
								tr
									td 	Analytical
									td 	_ceir, is_returning
									td 	third-party (Crazyegg)
									td 	Track whether a visitor has visited the site before
								tr
									td 	Analytical
									td 	_CEFT
									td 	third-party (Crazyegg)
									td 	Store page variants assigned to visitors for A/B performance testing
								tr
									td 	Analytical
									td 	_cer.s,&nbsp;_ce.s
									td 	third-party (Crazyegg)
									td 	Track a recording visitor session unique ID, tracking host and start time
								tr
									td 	Analytical
									td 	_cer.v
									td 	third-party (Crazyegg)
									td 	Track whether a visitor has visited the site before
								tr
									td 	Analytical
									td 	_hjClosedSurveyInvites
									td 	third-party (Hotjar)
									td
										| Hotjar cookie that is set once a visitor interacts with an External Link Survey invitation modal. It is used to ensure that the same invite does not reappear if it has already been shown.
								tr
									td 	Analytical
									td 	_hjDonePolls
									td 	third-party (Hotjar)
									td
										| Hotjar cookie that is set once a visitor completes a survey using the On-site Survey widget. It is used to ensure that the same survey does not reappear if it has already been filled in.
								tr
									td 	Analytical
									td 	_hjMinimizedPolls
									td 	third-party (Hotjar)
									td
										| Hotjar cookie that is set once a visitor minimizes an On-site Survey widget. It is used to ensure that the widget stays minimized when the visitor navigates through your site.
								tr
									td 	Analytical
									td 	_hjShownFeedbackMessage
									td 	third-party (Hotjar)
									td
										| Hotjar cookie that is set when a visitor minimizes or completes Incoming Feedback. This is done so that the Incoming Feedback will load as minimized immediately if the visitor navigates to another page where it is set to show.
								tr
									td 	Analytical
									td 	_hjid
									td 	third-party (Hotjar)
									td
										| Hotjar cookie that is set when the customer first lands on a page with the Hotjar script. It is used to persist the Hotjar User ID, unique to that site on the browser. This ensures that behavior in subsequent visits to the same site will be attributed to the same user ID.
								tr
									td 	Analytical
									td 	_hjRecordingLastActivity
									td 	third-party (Hotjar)
									td
										| This should be found in Session storage (as opposed to cookies). This gets updated when a visitor recording starts and when data is sent through the WebSocket (the visitor performs an action that Hotjar records).
								tr
									td 	Analytical
									td 	_hjTLDTest
									td 	third-party (Hotjar)
									td
										| When the Hotjar script executes we try to determine the most generic cookie path we should use, instead of the page hostname. This is done so that cookies can be shared across subdomains (where applicable). To determine this, we try to store the _hjTLDTest cookie for different URL substring alternatives until it fails. After this check, the cookie is removed.
								tr
									td 	Analytical
									td 	_hjUserAttributesHash
									td 	third-party (Hotjar)
									td
										| User Attributes sent through the Hotjar Identify API are cached for the duration of the session in order to know when an attribute has changed and needs to be updated.
								tr
									td 	Analytical
									td 	_hjCachedUserAttributes
									td 	third-party (Hotjar)
									td
										| This cookie stores User Attributes which are sent through the Hotjar Identify API, whenever the user is not in the sample. These attributes will only be saved if the user interacts with a Hotjar Feedback tool.
								tr
									td 	Analytical
									td 	_hjLocalStorageTest
									td 	third-party (Hotjar)
									td
										| This cookie is used to check if the Hotjar Tracking Script can use local storage. If it can, a value of 1 is set in this cookie. The data stored in_hjLocalStorageTest has no expiration time, but it is deleted almost immediately after it is created.
								tr
									td 	Analytical
									td 	_hjIncludedInPageviewSample
									td 	third-party (Hotjar)
									td
										| This cookie is set to let Hotjar know whether that visitor is included in the data sampling defined by your site&apos;s pageview limit.
								tr
									td 	Analytical
									td 	_hjIncludedInSessionSample
									td 	third-party (Hotjar)
									td
										| This cookie is set to let Hotjar know whether that visitor is included in the data sampling defined by your site&apos;s daily session limit.
								tr
									td 	Analytical
									td 	_hjAbsoluteSessionInProgress
									td 	third-party (Hotjar)
									td
										| This cookie is used to detect the first pageview session of a user. This is a True/False flag set by the cookie.
								tr
									td 	Analytical
									td 	_hjFirstSeen
									td 	third-party (Hotjar)
									td
										| This is set to identify a new user&rsquo;s first session. It stores a true/false value, indicating whether this was the first time Hotjar saw this user. It is used by Recording filters to identify new user sessions.
								tr
									td 	Analytical
									td 	hjViewportId
									td 	third-party (Hotjar)
									td 	This stores information about the user viewport such as size and dimensions.
								tr
									td 	Analytical
									td 	_hjRecordingEnabled
									td 	third-party (Hotjar)
									td
										| This is added when a Recording starts and is read when the recording module is initialized to see if the user is already in a recording in a particular session.
								tr
									td 	Analytical
									td 	_conv_r, _conv_v
									td 	Crazyegg
									td 	analytics
								tr
									td 	Analytical
									td
										| _gaexp, _pin_unauth,&nbsp;aam_uuid, adcloud, last_visit, activity, advcake_session_id, advcake_track_id,&nbsp;caltat,&nbsp;caltat_usergroup,&nbsp; _4c_, _derived_epik
									td 	Google
									td
										| This is one of the four main cookies set by the Google Analytics service which enables website owners to track visitor behaviour measure of site performance. This cookie identifies the source of traffic to the site - so Google Analytics can tell site owners where visitors came from when arriving on the site.
								tr
									td 	Analytical
									td 	_td, _td_ssc_id
									td 	treasure data
									td
										| This is one of the four main cookies set by the Google Analytics service which enables website owners to track visitor behaviour measure of site performance. This cookie identifies the source of traffic to the site - so Google Analytics can tell site owners where visitors came from when arriving on the site.
								tr
									td 	Analytical
									td 	_ym_d, _ym_uid
									td 	Yandex Metrica
									td 	Yandex Metrica
								tr
									td 	Analytical
									td 	_ym_isad, _ym_visorc
									td 	Yandex Metrica
									td
										| This is one of the four main cookies set by the Google Analytics service which enables website owners to track visitor behaviour measure of site performance. This cookie identifies the source of traffic to the site - so Google Analytics can tell site owners where visitors came from when arriving on the site.
								tr
									td 	Analytical
									td 	at_check
									td 	Adobe
									td
										| This is one of the four main cookies set by the Google Analytics service which enables website owners to track visitor behaviour measure of site performance. This cookie identifies the source of traffic to the site - so Google Analytics can tell site owners where visitors came from when arriving on the site.
								tr
									td 	Analytical
									td 	nmstat,&nbsp;bv_metrics,&nbsp;psdmtrackV
									td 	Adobe
									td 	Adobe
								tr
									td 	Analytical
									td 	yourekoHasEngaged
									td 	Youreko
									td 	This cookie is used to determine whether the user has engaged with our tool.
								tr
									td 	Analytical
									td 	yourekoUserId
									td 	Youreko
									td
										| We store information about how the user engaged with our tool, such as which features the user interacted with, associated with a cookie identifier and IP address. We never share this information with any third parties.
								tr
									td 	Analytical
									td 	_sm_au_c
									td 	Google
									td 	Used to distinguish users.
								tr
									td 	Analytical
									td 	_rtetUserId
									td 	Beusable
									td
										| The visited URL and random user id when visiting the pages with beusable code =&gt; stored permanently
								tr
									td 	Analytical
									td 	_rtetSessId
									td 	Beusable
									td 	session uid (Random session id of beusable)
								tr
									td 	Analytical
									td 	_rtetSessPageSeq
									td 	Beusable
									td 	Among the pages with beusable code, the above session is the visitor seq
								tr
									td 	Analytical
									td 	_beu_utm_campagin
									td 	Beusable
									td 	UTM_campagin
								tr
									td 	Analytical
									td 	_beu_utm_content
									td 	Beusable
									td 	UTM_content
								tr
									td 	Analytical
									td 	_beu_utm_medium
									td 	Beusable
									td 	UTM_medium
								tr
									td 	Analytical
									td 	_beu_utm_source
									td 	Beusable
									td 	UTM_source
								tr
									td 	Analytical
									td 	_beu_utm_term
									td 	Beusable
									td 	UTM_term
								tr
									td 	Analytical
									td 	_rtet_apply
									td 	Beusable
									td 	Unique id of report registered in beusable
								tr
									td 	Analytical
									td 	_rtet_ab_aid
									td 	Beusable
									td 	ID of the page where the A/B test is running.
								tr
									td 	Analytical
									td 	_rtet_ab_url
									td 	Beusable
									td 	URL on page B of the A/B testing
								tr
									td 	Analytical
									td 	_rtet_ab_ref
									td 	Beusable
									td 	&apos;the referrer right before redirected due to A/B testing
								tr
									td 	Analytical
									td 	_beu_utid
									td 	Beusable
									td 	Unique ID of UT
								tr
									td 	Analytical
									td 	_beu_utssid
									td 	Beusable
									td 	Identification ID of the UT session
								tr
									td 	Analytical
									td 	ps-utid,&nbsp;ps-utparam
									td 	LG
									td 	click event (Campaign Effect)
								tr
									td 	Analytical
									td 	_td_global
									td 	Treasure Data
									td 	Treasure Data
								tr
									td 	Analytical
									td 	_tq_id.**
									td 	versusarthritis
									td 	versusarthritis
								tr
									td 	Analytical
									td 	uuid2, uids, sess, icu, anj, usersync, token, pses
									td 	Third Party (Xandr)
									td
										| This pixel is to track customer behaviour on the site as well as conversion to enable marketing activities
								tr
									td 	Functional
									td 	pid (twitter) datr, locate, c_user,tr, locate, c_user, L, lu, W, xs(Facebook)
									td 	Twitter Facebook
									td
										| Enables SNS share. User identification cookies are injected from SNS sites. (Does not include Personally ldentifiable Information
								tr
									td 	Functional
									td 	LG_COMPARE_CART
									td 	LG
									td 	Enables a compare function
								tr
									td 	Functional
									td 	LG_RECENARE_VIEW
									td 	LG
									td 	Enables &ldquo;Recently viewed&rdquo; function
								tr
									td 	Analytical
									td 	s_vi_bikx7Becalgbkjkxx, s_vi_gqfjh (Cookie variables are set randomiy)
									td 	Site Catalyst
									td 	Aggregates site traffic and behaviours of visitors
								tr
									td 	Functional
									td 	email_addr
									td 	LG
									td
										| Remember email address users type in, on the next visit of this page, the mail address is completed automatically
								tr
									td 	Functional
									td 	rm, BIGipServerstg-c4c-prr-http, ai, ARPTH, prrsip
									td 	Bazaarvioce
									td 	Bazaarvoice Review display and writing review
								tr
									td 	Functional
									td 	NID, PREF
									td 	Google Maps
									td 	Google Maps display and usage tracking
								tr
									td 	Functional
									td 	pcVersion
									td 	LG
									td 	Remembers users selection to see desktop version
								tr
									td 	Functional
									td 	__zlcmld
									td 	Zendesk
									td
										| Zendesk domain cookie that stores visitor&apos;s ID for the Chat&apos;s widget authentication.
								tr
									td 	Functional
									td 	__zlcprivacy
									td 	Zendesk
									td
										| Zendesk domain cookie that stores visitor&apos;s preference to disable live chat and cease using Cookies.
								tr
									td 	Functional
									td 	__adroll_fpc
									td 	LG
									td
										| This cookie is used to identify the visitor across visits and devices. It is used by real-time bidding for advertisers to present relevant advertisement.
								tr
									td 	Functional
									td 	__ar_v4
									td 	Google
									td 	acer
								tr
									td 	Functional
									td 	__qca
									td 	QuantCast
									td
										| This is a cookie usually associated with Quantcast, a digital advertising company. They provide website rankings, and the data they collect is also used for audience segmentation and targeted advertising.
								tr
									td 	Functional
									td 	_fbc
									td 	Facebook
									td
										| This is one of the four main cookies set by the Google Analytics service which enables website owners to track visitor behaviour measure of site performance. This cookie identifies the source of traffic to the site - so Google Analytics can tell site owners where visitors came from when arriving on the site.
								tr
									td 	Functional
									td 	_uetsid
									td 	Bing
									td
										| This is one of the four main cookies set by the Google Analytics service which enables website owners to track visitor behaviour measure of site performance. This cookie identifies the source of traffic to the site - so Google Analytics can tell site owners where visitors came from when arriving on the site.
								tr
									td 	Functional
									td 	_uetvid
									td 	Bing
									td
										| This cookie is used by Bing to determine what ads should be shown that may be relevant to the end user perusing the site.
								tr
									td 	Functional
									td 	arp_scroll_position
									td 	Adobe
									td
										| Data management platform uses these cookies to assign a unique ID when users visits a website
								tr
									td 	Functional
									td 	cto_bundle
									td 	Google
									td
										| This is one of the four main cookies set by the Google Analytics service which enables website owners to track visitor behaviour measure of site performance. This cookie identifies the source of traffic to the site - so Google Analytics can tell site owners where visitors came from when arriving on the site.
								tr
									td 	Functional
									td 	ps-location
									td 	LG
									td 	For Find a dealer to store location ID
								tr
									td 	Functional
									td
										| youreko-fridge-freezers_years-, youreko-tumble-dryers_gb,&nbsp;youreko-tumble-dryers_years-gb,&nbsp;youreko-washer-dryers_gb,&nbsp;youreko-washing-machines_gb
									td 	Youreko
									td
										| These cookies are used to save the user&apos;s custom usage preferences in the tool, for example if they change the number of times they use their washing machine every week from the average of 5.5 to 10.
								tr
									td 	Functional
									td 	__exponea_etc__
									td 	Exponea
									td 	Customer&apos;s Exponea generated client-side cookie
								tr
									td 	Functional
									td 	_omappvp
									td 	LG
									td 	to&nbsp;store last visit.
									
						+article({
							title: 'How to disable or delete cookies?',
							class: 'title4'
						})
							p.common-static-text
								| You may disable cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to disable all cookies (including strictly necessary cookies) you may not be able to access all or parts of the Sites.
							p.common-static-text
								| Disabling a cookie or category of cookie does not delete the cookie from your browser. You will need to do this separately within your browser.
							p.common-static-text
								| If you would like to make changes to your cookie settings, please go to the &apos;Options&apos; or &apos;Preferences&apos; menu of your browser. Alternatively, go to the &apos;Help&apos; option in your browser for more details.
							p.common-static-text
								| To learn more about the cookie settings for your browser, please select the links below:
							p.common-static-text.mt-0
								| &bull; 
								a(href='https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d') Internet Explorer
							p.common-static-text.mt-0
								| &bull; 
								a(href='https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies') Firefox
							p.common-static-text.mt-0
								| &bull; 
								a(href='https://support.google.com/chrome/answer/95647?hl=en') Chrome
							p.common-static-text.mt-0
								| &bull; 
								a(href='https://support.google.com/chrome/answer/95647') Android
							p.common-static-text.mt-0
								| &bull; 
								a(href='https://support.apple.com/en-gb/guide/safari/sfri11471/mac') Safari
							p.common-static-text.mt-0
								| &bull; 
								a(href='https://support.apple.com/en-gb/HT201265') iOS
							p.common-static-text
								| If you have disabled one or more analytical cookies, we may still use information collected from cookies prior to your disabled preference being set, however, we will stop using the disabled cookie to collect any further information.
							p.common-static-text
								| Except for strictly necessary cookies, all cookies will expire after two years.

					//- Direct Marketing
					.cmp-tabs__tabpanel(role='tabpanel' id="privacyPolicy-tabsCont_2" aria-labelledby="#privacyPolicy-tabsCont_2")
						+head-text('Direct Marketing', 'h2', 'title2')
						
						p.common-static-text From time to time, we communicate with users who subscribe / opt-in to our services via email, telephone, post text message or social media (i.e. for information on our products and promotions/promotional materials) or when it is within our legitimate interest to do so.

						p.common-static-text In particular, we&apos;ll use your personal information to send you direct marketing and to better identify products and services that interest you.
						
						p.common-static-text This means we&rsquo;ll:
						
						p.common-static-text tell you about other products and services you might be interested in;
						p.common-static-text create a profile about you to better understand you and tailor the communications and content we provide you (including our marketing messages);
						p.common-static-text try to identify products and services you&rsquo;re interested in;
						p.common-static-text 
							| show you more relevant online advertising on our Sites and on third party websites; and
							br
							| use your personal information to tailor and deliver communications to you
						p.common-static-text We use the following for marketing and to identify the products and services you&rsquo;re interested in:
						p.common-static-text Your contact details. This includes your name, gender, address, phone number, date of birth and email address;
						p.common-static-text Information from cookies and tags placed on your device;
						p.common-static-text Information from other organizations such as data received from social media networks or data brokers;
						p.common-static-text Details of the products and services you&rsquo;ve bought with us.
						p.common-static-text We may send you information (about the products and services we provide) by email, telephone, post, or online banner advertising.
						
						p.common-static-text We may also share with social networks such as Facebook actions that you take on our Site such as your visits to our Sites, your interactions on our Sites, information collected from cookies or similar technologies (including the Facebook cookie), the ads you see and the purchases   you make. This allows us measure the effectiveness of our advertising, improve our marketing practices, and helps us deliver more relevant advertising to you
						
						p.common-static-text Read our cookie policy for more details on how we use cookies.
						
						p.common-static-text You have an absolute right to opt-out of direct marketing, or profiling we carry out for direct marketing, at any time.
						
						p.common-static-text
							| The opt-out choice may be exercised by contacting us using the contact details provided at 
							a(href='https://www.lg.com/uk/support/chat-email') https://www.lg.com/uk/support/chat-email
							| .
						
						p.common-static-text We will process your unsubscription as soon as possible, but please be aware that in some circumstances you may receive a few more messages until the unsubscription is processed. You also may opt-out of receiving such emails by clicking on the &quot;unsubscribe&quot; link within the text of the email.
						