extends ../_common/_layout.pug

block meta 
    - var componentId = "ST0054"
    - var componentName = "Code Component"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    //- link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    .c-wrapper.ST0054.margin-top.margin-bottom
    
        // Sample
        style.
            .iframe {width: 100%; max-width: 1440px; margin: 0 auto; height:1235px;}
            .iframe iframe {width:100%; height: 100%;}
        .iframe
            iframe(name='mainFrame' width='100%' height='100%' src='https://b2bmkt.lge.com/HVACBlogNewsletter' frameborder='0')

