extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_button.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "CM0009"
    - var componentName = "Register Now _Complete"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-cm.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                            
    mixin title-area 
        +component-title-area({
            alignment: "", 
            headline : {
                text : "Register Now", 
                style : "font-w-light-56 font-m-light-28"
            }, 
            description : {
                text : "Please select Event you are interested in.", 
                style : "font-w-normal-24 font-m-normal-12"
            }
        })

    mixin complete-msg(params)
        - var options = {...params}   
        - var titleStyle = "font-w-light-36 font-m-light-24"
        - var descStyle = "font-w-normal-16 font-m-normal-16"

        case options.type 
            when "error:system"
                strong(class=titleStyle) System Error.
                p.c-message-box__desc(class=descStyle) 
                    | We apologize for this inconvenience. 
                    br
                    | Please try again.
                    
            when "confirm:send"
                strong(class=titleStyle) Thank you for your interest.
                p.c-message-box__desc(class=descStyle) 
                    | We will respond as soon as possible.

    mixin completion(params)
        - var options = {...params}   

        .c-message-box&attributes(attributes)
            .c-message-box__wrapper
                .c-message-box__icon
                .c-text-contents
                    +complete-msg(options)
                .button
                    +defaultButton({
                        name: 'OK', 
                        wSize: 'medium', 
                        mSize: 'small', 
                        buttonStyle: 'highlight', 
                        isButton: false
                    })

    // Component Markup
    // Type 1. Info Page
    .guide-text-type Type 1. Info Page
    .c-wrapper.CM0009.margin-top.margin-bottom.bg-default 
        .component
            .cmp-container 
                +title-area

                +required-text-indicate
                form(action="#" method="post").c-post-form

                    +postFormFieldset("Event")
                        .c-post-form__group
                            .c-post-form__item
                                +formSelect("", "event", "Select Event", false)
                                    option(value="option1" selected) LG’s big Tech Tour is back for its fourth edition
                                    option(value="option2") option2
                                    option(value="option3") option3

                    .c-post-form__fieldset-group
                        +postFormFieldset("About you")
                            .c-post-form__group
                                +postFormAbout()
                                
                        +postFormFieldset("Company")
                            .c-post-form__group
                                .c-post-form__item
                                    +formText("text", "Company Name", "companyName", true, "Company Name")(maxlength="100")
                                    +postFormMessage("Company Name is required.", "")

                                .c-post-form__item
                                    +formText("text", "Job Title", "jobTitle", true, "Job Title")(maxlength="100")
                                    +postFormMessage("Job Title is required.", "")

                                .c-post-form__item
                                    +formSelect("Industries", "industries", "Select Industries", true)
                                        option(value="" selected) Select Industies 
                                        option(value="Retail") Retail
                                        option(value="Education") Education
                                        option(value="Transportation") Transportation
                                        option(value="Hospitality & Health Care") Hospitality &#38; Health Care
                                        option(value="Government") Government
                                        option(value="Corporate") Corporate
                                        option(value="QSR(Quick Service Restaurant)") QSR(Quick Service Restaurant)
                                    +postFormMessage("Industries is required.", "")

                            .c-post-form__item.c-post-form__item--textarea
                                +formTextarea("text", "Comments", "Comments", false, "Enter your comments")(minLength="20", maxlength="1000")

                        +postFormFieldset("Security")
                            +formCaptcha("text", "Please enter text or try the audio", "captcha", true, "")

                        +postFormFieldset()
                            // agreement policy
                            .c-pop-msg-form__item
                                +formCheckbox(false, "postAgreeStockAlert", "","postAgreeStockAlert")(required = require)
                                    span.c-pop-msg__gray-form-agree
                                        | I agree with the data protection policy 
                                        // GA4
                                        a.font-underline(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") read privacy policy
                                +postFormMessage("Privacy Policy is not checked.", "")

                    .button.c-post-form__button-wrap
                        +defaultButton({
                            name: 'Submit', 
                            wSize: 'medium', 
                            mSize: 'small', 
                            buttonStyle: 'highlight', 
                            isButton: true
                        })

    // Type 2. System Message - confirm
    .guide-text-type Type 2. System Message - confirm
    .c-wrapper.CM0009.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +title-area
                +completion({type : "confirm:send"})(class="c-message-box--confirm")

    // Type 3. System Message - Error
    .guide-text-type Type 3. System Message - Error
    .c-wrapper.CM0009.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +title-area
                +completion({type : "error:system"})(class="c-message-box--system-error")