extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_cs-form.pug

block meta 
    - var componentId = "CS0069"
    - var componentName = "CS Email Us_Inquiry"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content

    mixin formCheckbox(label, linkLabel, name, val, id, count = "false", disabled = false, link=true)
        .c-checkbox-item
            label.checkbox(for=`${id}`)
                if(disabled)
                    input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`, aria-label="", disabled="disabled")&attributes(attributes)
                else 
                    input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`, aria-label="")&attributes(attributes)

                if(label)
                    span.label.font-m-normal-12.font-w-normal-20= label 
                        a(href="daum.net").link.font-m-normal-12.font-w-normal-20= linkLabel
                        -if(count >= 0 & count != "false") // for filter
                            sup.count= count 
                else 
                    if block 
                        span.label
                            block   

    // Component Markup
    .guide-text-type CS Email Us_Inquiry

    // Component Markup
    .guide-text-option UK
    // 20230322 markup change
    .c-wrapper.CS0069.type-text
        .component.type-form
            .CS0069__container
                .container.responsivegrid
                    .c-model-content-wrap
                        .c-cs-header
                            // block : text-contents
                            .c-text-contents
                                .title.c-text-contents__headline 
                                    +headline("font-w-light-56 font-m-light-28", h2, "About your inquiry")
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .c-container__inner     
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +csForm_Input({id: 'Subject', label: 'Subject', type:"text", placeholder:"Type a subject", formDefalut: 'true', requireMsg: 'Subject is required', invalidMsg: "This subject is invalid.", class: "textInput__nome" })

                                .cmp-form
                                    label(for="certificate").font-m-normal-16.font-w-normal-24 Include attachments
                                    .c-btn-upload
                                        #preview
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                    //- .c-warning.c-certificate-required Business Registration Certificate of Customer is required.

                                .cmp-form
                                    +csForm_Textarea({id: 'message', label: 'Message', placeholder:"Please explain your issue or question", require: 'true', requireMsg: 'Message is required.', maxLength: "1000" , class:"c-subject-rquired-valid"})

                                .cmp-form
                        .cs-form__chk  
                            +formCheckbox('I have read and understand the ', 'privacy policy and cookie policy.*', "name", "val1", "privacyPolicyCheck", count="false", false)
                            .c-warning.c-privacyPolicy-checked Policy agreement is not checked.

                .button.c-cta
                    +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                    +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-submit" aria-label="" role="button")
    // 20230322 global markup added
    .guide-text-option Global 
    .c-wrapper.CS0069.type-text
        .component.type-form
            .CS0069__container
                .container.responsivegrid
                    .c-model-content-wrap
                        .c-cs-header
                            // block : text-contents
                            .c-text-contents
                                .title.c-text-contents__headline 
                                    +headline("font-w-light-56 font-m-light-28", h2, "About your inquiry")
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .c-container__inner     
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +csForm_Input({id: 'Subject', label: 'Subject', type:"text", placeholder:"Type a subject", formDefalut: 'true', requireMsg: 'Subject is required.', invalidMsg: "This subject is invalid.", class: "textInput__nome" })
                                .cmp-form
                                    label(for="certificate").font-m-normal-16.font-w-normal-24 Include attachments
                                    .c-btn-upload
                                        #preview
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                    .c-warning.c-certificate-required Business Registration Certificate of Customer is required.
                                .cmp-form
                                    +csForm_Textarea({id: 'message', label: 'Message', placeholder:"Please explain your issue or question", require: 'true', requireMsg: 'Message is required.', maxLength: "1000" , class:"c-subject-rquired-valid"})

                                .cmp-form
                                    //- label(for="captcha").font-m-normal-16.font-w-normal-24 Please enter the text shown in the picture or heard the sound. #[em.require *]#[span.sr-only Required Field]
                                    //- .cs-form__inner.cs-captcha
                                    //-     .cs-captcha__area
                                    //-         // Using reCAPTCHA v3 
                                    //-     .cs-captcha__input-box 
                                    //-         .cs-captcha__input
                                    //-             label(for="pictureText").font-m-normal-16.font-w-normal-24 pictureText #[em.require *]#[span.sr-only Required Field]
                                    //-             input#pictureText.font-m-normal-16.font-w-normal-20.c-captcha-valid(type="text" required="required" aria-label="" placeholder="Type a picture text")
                                    //-     .cs-captcha__button 
                                    //-         button(type="button" aria-label="").cs-captcha__button--sound
                                    //-         button(type="button" aria-label="").cs-captcha__button--reset
                                    //- .c-warning.c-captcha-required Picture text is required.
                                    //- .c-warning.c-captcha-incorrect Picture text is incorrect.
                        
                        
                        .cs-form__chk  
                            +formCheckbox('I have read and understand the ', 'privacy policy and cookie policy.*', "name", "val1", "privacyPolicyCheck", count="false", false)
                            .c-warning.c-privacyPolicy-checked Policy agreement is not checked.

                .button.c-cta
                    +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                    +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-submit" aria-label="" role="button")


    .guide-text-option Global_Spain(ES) 
    .c-wrapper.CS0069.type-text
        .component.type-form
            .CS0069__container
                .container.responsivegrid
                    .c-model-content-wrap
                        .c-cs-header
                            // block : text-contents
                            .c-text-contents
                                .title.c-text-contents__headline 
                                    +headline("font-w-light-56 font-m-light-28", h2, "Sobre tu petición")
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .c-container__inner  
                        
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    //- +csForm_Input({id: 'Subject', label: 'Subject', type:"text", placeholder:"Type a subject", formDefalut: 'true', requireMsg: 'Subject is required.', invalidMsg: "This subject is invalid.", class: "textInput__nome" })
                                    +csForm_Select({id: 'Subject', label: 'Subject', formDefalut: 'true', require:'true', requireMsg: 'Subject is required.', value_01: 'Select a subject1', value_02: 'Select a subject2' , class:"c-sdate-valid"})

                                .cmp-form
                                .cmp-form
                                    +csForm_Textarea({id: 'message', label: 'Message', placeholder:"Please explain your issue or question", require: 'true', requireMsg: 'Message is required.', maxLength: "1000" , class:"c-subject-rquired-valid"})

                                .cmp-form
                                    //- label(for="captcha").font-m-normal-16.font-w-normal-24 Please enter the text shown in the picture or heard the sound. #[em.require *]#[span.sr-only Required Field]
                                    //- .cs-form__inner.cs-captcha
                                    //-     .cs-captcha__area
                                    //-         // Using reCAPTCHA v3 
                                    //-     .cs-captcha__input-box 
                                    //-         .cs-captcha__input
                                    //-             label(for="pictureText").font-m-normal-16.font-w-normal-24 pictureText #[em.require *]#[span.sr-only Required Field]
                                    //-             input#pictureText.font-m-normal-16.font-w-normal-20.c-captcha-valid(type="text" required="required" aria-label="" placeholder="Type a picture text")
                                    //-     .cs-captcha__button 
                                    //-         button(type="button" aria-label="").cs-captcha__button--sound
                                    //-         button(type="button" aria-label="").cs-captcha__button--reset
                                    //- .c-warning.c-captcha-required Picture text is required.
                                    //- .c-warning.c-captcha-incorrect Picture text is incorrect.
                            .cs-form__info 
                                p.font-m-normal-20.font-w-normal-24 INFORMACIÓN BÁSICA EN MATERIA DE PROTECCIÓN DE DATOS
                                .cs-form__info--inner    
                                    dl 
                                        dt.font-m-normal-16.font-w-normal-20 Responsable
                                        dd.font-m-normal-12.font-w-normal-16 LG Electronics España S.A.U. (en adelante, « LGEES »).
                                            br
                                            | NIF: A-81304487
                                            br
                                            | Domicilio: Calle Chile 1, 28290, Las Rozas, Madrid.
                                            br
                                            | Datos de contacto: lgees.legal@lge.com
                                    dl
                                        dt.font-m-normal-16.font-w-normal-20 Finalidades
                                        dd.font-m-normal-12.font-w-normal-16 1.Atender las consultas, sugerencias y/o quejas tramitadas a través del presente formulario.
                                            br
                                            | 2.Salvo que nos indique lo contrario a través del dato de contacto anteriormente indicado, realizar una encuesta de satisfacción por cualquier medio electrónico o telemático facilitado a través del formulario sobre la gestión del servicio, consulta y/o queja.
                                    dl
                                        dt.font-m-normal-16.font-w-normal-20 Derechos
                                        dd.font-m-normal-12.font-w-normal-16 1.Acceso, rectificación, supresión, limitación, oposición, a la portabilidad de sus datos, así como a revocar los consentimientos otorgados a través de los medios habilitados indicados en la Política de Privacidad.
                                    dl
                                        dt.font-m-normal-16.font-w-normal-20 Información adicional
                                        dd.font-m-normal-12.font-w-normal-16 1.Puede consultar información adicional y detallada sobre nuestra Política de Privacidad pinchando aquí
                        .cs-form__chk  
                            +formCheckbox('I have read and understand the ', 'privacy policy and cookie policy.*', "name", "val1", "privacyPolicyCheck", count="false", false)
                            .c-warning.c-privacyPolicy-checked Policy agreement is not checked.

                .button.c-cta
                    +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                    +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-submit" aria-label="" role="button")

    .guide-text-option Global_India(IN) 
    .c-wrapper.CS0069.type-text
        .component.type-form
            .CS0069__container
                .container.responsivegrid
                    .c-model-content-wrap
                        .c-cs-header
                            // block : text-contents
                            .c-text-contents
                                .title.c-text-contents__headline 
                                    +headline("font-w-light-56 font-m-light-28", h2, "About your inquiry")
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .c-container__inner  
                        
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +csForm_Input({id: 'Service Request No', label: 'Service request No', type:"text", info:'ture',infoMsg:'Enter 15 digits RNP number.', placeholder:"e.g.RNPXXXXXXXXXXXX", formDefalut: 'true', requireMsg: 'Service request is required.', invalidMsg: "This service request is invalid.", class: "textInput__nome" })
                                .cmp-form
                                    label(for="certificate").font-m-normal-16.font-w-normal-24 Include attachments
                                    .c-btn-upload
                                        #preview
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                            p   File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                    //- .c-warning.c-certificate-required Business Registration Certificate of Customer is required.
                                .cmp-form
                                    +csForm_Input({id: 'Subject', label: 'Subject', type:"text", placeholder:"Type a subject", formDefalut: 'true', requireMsg: 'Subject is required.', invalidMsg: "This subject is invalid.", class: "textInput__nome" })
                                
                                .cmp-form
                                    +csForm_Textarea({id: 'message', label: 'Message', placeholder:"Please explain your issue or question", require: 'true', requireMsg: 'Message is required.', maxLength: "1000" , class:"c-subject-rquired-valid"})

                            //- .cs-form__box
                            //-     .cmp-form
                            //-         //- label(for="captcha").font-m-normal-16.font-w-normal-24 Please enter the text shown in the picture or heard the sound. #[em.require *]#[span.sr-only Required Field]
                            //-         //- .cs-form__inner.cs-captcha
                            //-         //-     .cs-captcha__area
                            //-         //-         // Using reCAPTCHA v3 
                            //-         //-     .cs-captcha__input-box 
                            //-         //-         .cs-captcha__input
                            //-         //-             label(for="pictureText").font-m-normal-16.font-w-normal-24 pictureText #[em.require *]#[span.sr-only Required Field]
                            //-         //-             input#pictureText.font-m-normal-16.font-w-normal-20.c-captcha-valid(type="text" required="required" aria-label="" placeholder="Type a picture text")
                            //-         //-     .cs-captcha__button 
                            //-         //-         button(type="button" aria-label="").cs-captcha__button--sound
                            //-         //-         button(type="button" aria-label="").cs-captcha__button--reset
                            //-         //- .c-warning.c-captcha-required Picture text is required.
                            //-         //- .c-warning.c-captcha-incorrect Picture text is incorrect.
                        
                        
                        .cs-form__chk  
                            +formCheckbox('I have read and understand the ', 'privacy policy and cookie policy.*', "name", "val1", "privacyPolicyCheck", count="false", false)
                            .c-warning.c-privacyPolicy-checked Policy agreement is not checked.
                    // 20230601 using recaptcha v3
                .button.c-cta
                    +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                    +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-submit" aria-label="" role="button")

