extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_cs-select-model.pug
include ../_common/_cs-scan-qrcode.pug
include ../_common/_forms.pug
include ../_common/_cs-form.pug
include ../_common/_pop-msg.pug


block meta 
    - var componentId = "CS0044"
    - var componentName = "Repair Request_Step1"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug

    mixin trigger(controlsId)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded="false" aria-controls=`${controlsId}`)
                span.c-accordion__button-text.expand.sr-only Expand
                span.c-accordion__button-text.collapse.sr-only Collapse

    mixin contentsBody
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-32 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months

                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-14 font-w-normal-16" aria-label="" role="dialog") How to find my model number?

                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                            // 20230328 modify markup
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            //- .c-warning.c-after-modelNumber-required Model number is required.
                            //- .c-warning.c-after-modelNumber-invalid This model number is invalid.
                        .cmp-form
                            +csForm_Input({formDefalut:'true', type:'text', class:'', id: 'Serialnumber', label: 'Serial number ', requireMsg:'Serial number is required.', placeholder: 'Type a 15 digit code', invalidMsg:'This serial number is invalid.' })
                            .c-form-info
                                p.text.font-w-normal-16.font-m-normal-14 Wenn du deine Seriennummer nicht eintragen kannst, hilft dir unser Support-Team gerne weiter.
                                p.text.font-w-normal-16.font-m-normal-14
                                    | Anleitung für den Fall, dass die Seriennummer nicht eingegeben werden kann.&nbsp;
                                    a.cmp-button.font-underline.js-pop-open(href="#popSerialNumberGuide" role="button" data-cmp-data-layer="")
                                        span.cmp-button__text Dann klicke hier

                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        .cmp-form 

                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")

           
    // 20230421 modify markup        
    mixin contentsBody_1
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]                                   
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid02(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            .c-warning.c-after-modelNumber-invalid02 This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'Serialnumber ', label: 'Serial number ', requireMsg:'Serial number is required.', placeholder: 'Type a 15 digit code', invalidMsg:'This serial number is invalid.' })
                            //Asia(VN,ID,CG)
                            //label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number (or IMEI/MEID) #[span.sr-only Required Field]
                            //Asia(JP)
                            //label(for="serialNumber").font-m-normal-16.font-w-normal-24 製造番号 (Serial number) #[span.sr-only Required Field]
                            //Asia(CN,TH,KZ,HK-EN)
                            //label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number (optional) #[span.sr-only Required Field]
                        
                        .cmp-form 
                            //common
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        .cmp-form
                            +csForm_Select({id: 'Service type', label: 'Service type', require: 'true', requireMsg: 'Service type is required.', value_01: 'Service type-1', value_02: 'Service type-2' , class:"c-sdate-valid"})   
                            
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(class="c-btn-next")


    mixin contentsBody_1_in
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]                                   
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid03(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            .c-warning.c-after-modelNumber-invalid03 This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})
                            //Asia(VN,KZ,HK-EN,HK,ID,CG)
                            //label(for="purchaseDate").font-m-normal-16.font-w-normal-24 Purchase / Installation Date #[em.require *]#[span.sr-only Required Field]

                        .cmp-form
                            +csForm_Select({id: 'Service type', label: 'Service type', require: 'true', requireMsg: 'Service type is required.', value_01: 'Service type-1', value_02: 'Service type-2' , class:"c-sdate-valid"})  

                        .cmp-form 
                            
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")
        
    mixin contentsBody_2
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid02(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            .c-warning.c-after-modelNumber-invalid02 This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                            
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")


    mixin contentsBody_3
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            .c-flex-type
                                .c-flex-block
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    
                                    .c-warning.c-after-modelNumber-invalid This model number is invalid.
                                .button.c-cta.mobile-only.c-flex-block
                                    +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form
                            +csForm_Input({type:'text', class:'', id: 'Serialnumber ', label: 'Serial number (or IMEI/MEID)', placeholder: 'Type a 15 digit code', })

                            //- label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number (or IMEI/MEID) #[span.sr-only Required Field]
                            //- input.font-m-normal-16.font-w-normal-20.c-after-serialNumber-valid(type="text" required="required" aria-label="" placeholder="Enter a serial number")
                            //- //- .c-warning.font-m-normal-16.font-w-normal-16.c-after-serialNumber-required Serial number is required.
                            //- //- .c-warning.font-m-normal-16.font-w-normal-16.c-after-serialNumber-invalid This serial number is invalid.
                        .cmp-form           
                            +csForm_Input({type:'text', class:'', id: 'Serialnumber ', label: 'Product version code', placeholder: 'Type a product version code', })
                            //- .c-warning.font-m-normal-16.font-w-normal-16.c-after-imei-required IMEI is required
                            .button
                                +textButton({name: 'Find my product version code', underline:true, wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")
    
    mixin contentsBody_3_1
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]                                   
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            
                            .c-warning.c-after-modelNumber-invalid This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                
                .cs-info-box.c-text-contents.font-m-normal-12.font-w-normal-16 
                    span 
                        | It seems that your phone is out of warranty. If you wish, LG has a flat rate program that covers your repair at a very affordable price.
                        br
                        a(href="#") click here 
                        | to learn more and take advantage of this program.
                        br
                        a(href="https://lgoutofwarranty.ca/en/main/mobile.do") https://lgoutofwarranty.ca/en/main/mobile.do 
                        br
                        br
                        | If you decide that you do not wish to send in your phone for repair you can click on one of our cell phone repair partners below to find the closest location to you to have your phone repaired.
                    span.ci-list 
                        a(href="#")
                            +printLazyPicture('https://via.placeholder.com/25x25/fff/000/?text=25x25', 'https://via.placeholder.com/50x50/fff/000/?text=50x50')                                
                        a(href="#")
                            +printLazyPicture('https://via.placeholder.com/25x25/fff/000/?text=25x25', 'https://via.placeholder.com/50x50/fff/000/?text=50x50')                                
                        a(href="#")
                            +printLazyPicture('https://via.placeholder.com/25x25/fff/000/?text=25x25', 'https://via.placeholder.com/50x50/fff/000/?text=50x50')                                
                        a(href="#")
                            +printLazyPicture('https://via.placeholder.com/25x25/fff/000/?text=25x25', 'https://via.placeholder.com/50x50/fff/000/?text=50x50')                                
                        
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")
    
    mixin contentsBody_3_2
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]                                   
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            .c-warning.c-after-modelNumber-invalid This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                
                .cs-info-box.c-text-contents.font-m-normal-12.font-w-normal-16 
                    span FutureTel repairs all LG phones in-warranty. Please click on their link to find the closest location near you. Shipping instructions will be provided once your request is sent.
                    span.ci-list 
                        a(href="#")
                            +printLazyPicture('https://via.placeholder.com/25x25/fff/000/?text=25x25', 'https://via.placeholder.com/50x50/fff/000/?text=50x50')                                
                        
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")

    mixin contentsBody_4
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]                                   
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            .c-warning.c-after-modelNumber-invalid This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form
                            label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number (optional)
                            input.font-m-normal-16.font-w-normal-20.c-after-serialNumber-valid(type="text" required="required" aria-label="" placeholder="Type a 15 digit code")
                            //- .c-warning.c-after-serialNumber-required Serial number is required.
                            //- .c-warning.c-after-serialNumber-invalid This serial number is invalid.
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'IMEI', label: 'IMEI', placeholder: 'Enter a IMEI', requireMsg:' Enter a IMEI is required.'})
                            //- .c-warning.font-m-normal-16.font-w-normal-16.c-after-imei-required Enter a IMEI
                        .cmp-form
                            label.c-radio-label.font-m-normal-16.font-w-normal-24 Has this product been repaired by an LG authorized service center within the last 90 days? #[em.require *]
                            .c-form__box.c-form__radio-box
                                .c-form-box
                                    +formRadio("Yes","sort", "FT00000001", "FV00000001", "FT00000001_FV00000001")(aria-controls="resultTarget" aria-label="" class="c-radio-valid")
                                .c-form-box
                                    +formRadio("No","sort", "FT00000001", "FV00000002", "FT00000001_FV00000002")(aria-controls="resultTarget" aria-label="" class="c-radio-valid")
                            .c-warning.c-after-select-required.aaa Required field.
                        .cmp-form

                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")
        

    mixin contentsBody_5
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]                                   
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            
                            .c-warning.c-after-modelNumber-invalid This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form
                            +csForm_Input({type:'text', class:'', id: 'Serialnumber ', label: 'Serial number (or IMEI/MEID)', placeholder: 'Type a 15 digit code', })
                            //- label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number (or IMEI/MEID) #[span.sr-only Required Field]
                            //- input.font-m-normal-16.font-w-normal-20.c-after-serialNumber-valid(type="text" required="required" aria-label="" placeholder="Type a 15 digit code")
                            //- .c-warning.font-m-normal-16.font-w-normal-16.c-after-serialNumber-required Serial number is required.
                            //- .c-warning.font-m-normal-16.font-w-normal-16.c-after-serialNumber-invalid This serial number is invalid.
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'Product code ', label: 'Product code ', requireMsg:'Product code is required.', placeholder: 'ype a product version code', invalidMsg:'This product code is invalid.' })
                            //- .c-center-box
                            //-     .c-warning.c-after-modelNumber-invalid.c-display Product key is required.
                            .button
                                +textButton({name: 'Where can I find the product key?', underline:true, wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")
    

    mixin contentsBody_6
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]                                   
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            
                            .c-warning.c-after-modelNumber-invalid This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form
                            +csForm_Input({type:'text', class:'', id: 'Serialnumber ', label: 'Serial number ', placeholder: 'Type a 15 digit code', })
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        .cmp-form

                .cs-info-box.c-text-contents.font-m-normal-12.font-w-normal-16 
                    span If you don't find the model you are looking for, please consult (
                    a(href="#") this guide
                    span ) you hate contact us.
                
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")

    mixin contentsBody_7
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container 
                .c-selected-model
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                    .breadcrumb
                        .breadcrumb__wrap
                            p.font-w-normal-14i.font-m-normal-14i Product reselect : 
                            nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                    +bcItem({text:"Appliances"})
                                    +bcItem({text:"Fridge freezers"})
                                    +bcItem({text:"American style"})   
                                    +bcItem2({text:"GSXV90MCDE", current:true})
                    .c-selected-model__content
                        +printLazyPicture('https://via.placeholder.com/48x48/fff/000/?text=48x48', 'https://via.placeholder.com/80x80/fff/000/?text=80x80')
                        .c-selected-model__info 
                            .c-selected-model__info-wrap
                                .c-selected-model__eyebrow.font-m-normal-12.font-w-normal-16 Searched product
                                .c-selected-model__code.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                .c-selected-model__name.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-selected-model__info-wrap
                                .c-selected-model__warranty.font-m-normal-12.font-w-normal-16 Warranty info 
                                    span.c-hidden-mo : 
                                .c-selected-model__warranty-info
                                    .c-selected-model__warranty-labor.font-m-normal-12.font-w-normal-16 Labor 24 months
                                    .c-selected-model__warranty-parts.font-m-normal-12.font-w-normal-16 Parts 24 months
                        
                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?
    
                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]                                   
                            .c-modelnumber-input
                                input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid04(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                            .c-warning.c-after-modelNumber-invalid04 This model number is invalid.
                            //.button.c-cta 
                                +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                        .cmp-form
                            +csForm_Input({type:'text', class:'', id: 'Serialnumber ', label: 'Serial number ', placeholder: 'Type a 15 digit code', })

                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})
                        .cmp-form

                .cs-info-box.c-text-contents.font-m-normal-12.font-w-normal-16 
                    span 申請維修前請先參閱產品保固條款及收費標準：
                        a(href="#") 點此連結 <br>
                    span 申請尊榮到府教學前請先參閱適用產品與型號：
                        a(href="#") 點此連結 <br>
                    span 申請尊榮養護服務前請先參閱服務內容與辦法：
                        a(href="#") 點此連結 <br><br>

                    span DVD、微波爐、水魔力直立式&跟隨型吸塵器、音響、微投影機、隨身淨空氣清淨機...等小家電產品煩請送至LG服務站維修：
                        a(href="#") 點此連結 <br>
                    span 掃地機器人、拖地機器人、A9系列吸塵器申請維修後客服專員將會安排物流進行到府收送，請先詳閱相關說明：
                        a(href="#") 點此連結 <br>
                    span 手機、真無線藍芽耳機、口罩型空氣清淨機維修方式請參考詳細說明：
                        a(href="#") 點此連結 <br>
                    span 手機送修前請先將備份資料: 
                        a(href="#") 點此連結 <br>
                    span 手機業務公告: 
                        a(href="#") 點此連結 <br>
                    span 筆電維修相關問題請連繫展碁國際，請點擊此 ; 富基電通
                        a(href="#") 點此連結
                
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")
    

    mixin contentsBody2
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                +qrcodebox({mhide:false})

                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            .c-flex-type
                                .c-flex-block
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    //- .c-warning Not recognized. Please try again.
                                    //- .c-warning.c-after-modelNumber-invalid This model number is invalid.
                                .button.c-cta.mobile-only.c-flex-block
                                    +defaultButton({name: 'Retry', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                            //- .c-center-box
                            //-     .c-warning.c-display Not recognized. Please try again.

                        .cmp-form
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'Serialnumber ', label: 'Serial number ', requireMsg:'Serial number is required.', placeholder: 'Type a 15 digit code', invalidMsg:'This serial number is invalid.' })
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        .cmp-form 

                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")
    // 20230426 modify markup
    mixin contentsBody2_1
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                +scanQrcode({mhide:false})

                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?

                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            .c-flex-type
                                .c-flex-block
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    //- .c-warning.c-after-modelNumber-required Model number is required.
                                    //- .c-warning.c-after-modelNumber-invalid This model number is invalid.
                                .button.c-cta.mobile-only.c-flex-block
                                    +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                            //- .c-center-box
                            //-     .c-warning.c-display Not recognized. Please try again.
                        .cmp-form
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'Serialnumber ', label: 'Serial number ', requireMsg:'Serial number is required.', placeholder: 'Type a 15 digit code', invalidMsg:'This serial number is invalid.' })
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        .cmp-form 
                            +csForm_Select({id: 'Service type', label: 'Service type', require: 'true', requireMsg: 'Service type is required.', value_01: 'Service type-1', value_02: 'Service type-2' , class:"c-sdate-valid"})  

                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")



    mixin contentsBody2_2
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                +scanQrcode({mhide:false})

                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?

                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            .c-flex-type
                                .c-flex-block
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    
                                    //- .c-warning.c-after-modelNumber-invalid This model number is invalid.
                                .button.c-cta.mobile-only.c-flex-block
                                    +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                            .c-center-box
                                //- .c-warning.c-after-modelNumber-invalid.c-display Not recognized. Please try again.
                        .cmp-form
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'Serialnumber ', label: 'Serial number ', requireMsg:'Serial number is required.', placeholder: 'Type a 15 digit code', invalidMsg:'This serial number is invalid.' })
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})
                        .cmp-form    
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'IMEI', label: 'IMEI', placeholder: 'Enter a IMEI', requireMsg:' Enter a IMEI is required.'})

                        .cmp-form
                            label.c-radio-label.font-m-normal-16.font-w-normal-24 Has this product been repaired by an LG authorized service center within the last 90 days? #[em.require *]
                            .c-form__box.c-form__radio-box
                                .c-form-box
                                    +formRadio("Yes","sort02", "FT00000001", "FV00000003", "FT00000001_FV00000001")(aria-controls="resultTarget" aria-label="")
                                .c-form-box
                                    +formRadio("No","sort02", "FT00000001", "FV00000004", "FT00000001_FV00000002")(aria-controls="resultTarget" aria-label="")
                            .c-warning.c-after-select-required.ccc Required field.
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")

    mixin contentsBody2_3
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                +scanQrcode({mhide:false})

                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?

                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            .c-flex-type
                                .c-flex-block
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    
                                    //- .c-warning.c-after-modelNumber-invalid This model number is invalid.
                                .button.c-cta.mobile-only.c-flex-block
                                    +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                            //- .c-center-box
                            //-     .c-warning.c-display Not recognized. Please try again.
                            
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})


                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")

    mixin contentsBody2_4
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                +scanQrcode({mhide:false})

                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?

                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            .c-flex-type
                                .c-flex-block
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    
                                    //- .c-warning.c-after-modelNumber-invalid This model number is invalid.
                                .button.c-cta.mobile-only.c-flex-block
                                    +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                            //- .c-center-box
                                //- .c-warning.c-display Not recognized. Please try again.
                        .cmp-form
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'Serialnumber ', label: 'Serial number ', requireMsg:'Serial number is required.', placeholder: 'Type a 15 digit code', invalidMsg:'This serial number is invalid.' })
                        .cmp-form
                            +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'Product code ', label: 'Product code ', requireMsg:'Product code is required.', placeholder: 'ype a product version code', invalidMsg:'This product code is invalid.' })

                            .button
                                +textButton({name: 'Find my product version code', underline:true, wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})
                            
                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                            


                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")


    mixin contentsBody2_5
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                +scanQrcode({mhide:false})

                .c-model-content-wrap
                    .c-model-contents
                        a(tabindex="0" class="find-number font-m-normal-16 font-w-normal-24" aria-label="" role="dialog") How to find my model number?

                .cs-form
                    .cs-form__wrap
                        .cmp-form
                            .c-flex-type
                                .c-flex-block
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="GSXV90MCDE" disabled)
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    
                                    //- .c-warning.c-after-modelNumber-invalid This model number is invalid.
                                .button.c-cta.mobile-only.c-flex-block
                                    +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(aria-label="")
                            //- .c-center-box
                                //- .c-warning.c-display Not recognized. Please try again.
                        .cmp-form
                            +csForm_Input({type:'text', class:'', id: 'Serialnumber ', label: 'Serial number ', placeholder: 'Type a 15 digit code', })

                        .cmp-form 
                            +csForm_Input({formDefalut:'true',type:'date', class:'', id: 'purchaseDate', label: 'Purchase date', placeholder: 'YYYY/MM/DD', requireMsg:' Purchase date is required.'})

                        .cmp-form

                .cs-info-box.c-text-contents.font-m-normal-12.font-w-normal-16 
                    span 申請維修前請先參閱產品保固條款及收費標準：
                        a(href="#") 點此連結 <br>
                    span 申請尊榮到府教學前請先參閱適用產品與型號：
                        a(href="#") 點此連結 <br>
                    span 申請尊榮養護服務前請先參閱服務內容與辦法：
                        a(href="#") 點此連結 <br><br>

                    span DVD、微波爐、水魔力直立式&跟隨型吸塵器、音響、微投影機、隨身淨空氣清淨機...等小家電產品煩請送至LG服務站維修：
                        a(href="#") 點此連結 <br>
                    span 掃地機器人、拖地機器人、A9系列吸塵器申請維修後客服專員將會安排物流進行到府收送，請先詳閱相關說明：
                        a(href="#") 點此連結 <br>
                    span 手機、真無線藍芽耳機、口罩型空氣清淨機維修方式請參考詳細說明：
                        a(href="#") 點此連結 <br>
                    span 手機送修前請先將備份資料: 
                        a(href="#") 點此連結 <br>
                    span 手機業務公告: 
                        a(href="#") 點此連結 <br>
                    span 筆電維修相關問題請連繫展碁國際，請點擊此 ; 富基電通
                        a(href="#") 點此連結

                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")


    mixin contentsBody3
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                .container-inner
                    .c-info-box.c-detail
                        // Results page exposure
                        .c-info-box__content
                            +printLazyPicture('https://via.placeholder.com/60x60/ccc/eee/?text=60x60', 'https://via.placeholder.com/110x110/ccc/eee/?text=110x110')
                            .c-prd-register__prdtxt
                                .c-prd-tit.font-m-semibold-16.font-w-semibold-16 GSXV90MCDE
                                .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Warranty info : Labor 12 months / Parts 12 months
                                .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Serial number : GSXV90MCDE
                                .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Purchase date : 2022/08/22
                        .button.c-cta
                            +linkButton({type:"text", color:"black", name: "Edit"})(role="button" data-link-name data-link-destination data-link-menu data-link-page-type)



    mixin contentsBody3_2
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                .container-inner
                    // Results page exposure
                    .c-info-box.c-detail
                        .c-info-box__content
                            +printLazyPicture('https://via.placeholder.com/60x60/ccc/eee/?text=60x60', 'https://via.placeholder.com/110x110/ccc/eee/?text=110x110')
                            .c-prd-register__prdtxt
                                .c-prd-tit.font-m-semibold-16.font-w-semibold-16 GSXV90MCDE
                                .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Warranty info : Labor 12 months / Parts 12 months
                                //.c-warrantyInfo.font-m-normal-12.font-w-normal-16 Serial number : GSXV90MCDE
                                .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Purchase date : 2022/08/22
                        .button.c-cta
                            +linkButton({type:"text", color:"black", name: "Edit"})(role="button" data-link-name data-link-destination data-link-menu data-link-page-type)

    mixin listItem(params)
        - var options={headText:'headline text', bodyText:'body text', link:'#', image:'../../assets/icon/icon-chat-black-64-64.svg', ...params}
        li.c-list__item
            a.c-list__link(href=`${options.link}` target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" rel="noreferrer noopener")
                .c-text-contents
                    .title.c-text-contents__headline
                        .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="")
                            strong #{options.headText}
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                            p #{options.bodyText}
                .image.c-image
                    +printLazyImage(`${options.image}`)
                .c-cta
                    +circleButton({name: 'Learn More', wSize: 'large', mSize: 'small', buttonStyle: 'white arrow', isButton: "none"})

    // 20230419 markup add
    mixin contentsBody3_1(country)
        // block - text contents
        .c-text-contents.c-accordion__body-text
            .container
                .container-inner
                    .c-info-box.c-detail
                        // Results page exposure
                        .c-info-box__content
                            +printLazyPicture('https://via.placeholder.com/60x60/ccc/eee/?text=60x60', 'https://via.placeholder.com/110x110/ccc/eee/?text=110x110')
                            .c-prd-register__prdtxt
                                .c-prd-tit.font-m-semibold-16.font-w-semibold-16 GSXV90MCDE
                                .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Warranty info : Labor 12 months / Parts 12 months
                                .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Serial number : GSXV90MCDE
                                .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Purchase date : 2022/08/22
                        .button.c-cta
                            +linkButton({type:"text", color:"black", name: "Edit"})(role="button" data-link-name data-link-destination data-link-menu data-link-page-type)
                    if country == 'AU'
                        .c-info-box.c-text-contents.c-line-type
                            .c-info-box__content
                                div
                                    p.font-m-normal-12.font-w-normal-16 Unfortunately, scheduling a repair service online is currently unavailable for your selected product
                                    a.c-number.font-m-normal-12.font-w-normal-16 LGR105.ACCATS 
                                p.font-m-normal-12.font-w-normal-16 Please contact us 1300 54 2273 to receive support.
                    if country == 'PH'
                        .c-info-box.c-info-box--contact
                            .c-text-contents
                                .text.c-text-contents__bodycopy
                                    p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") This product is for Carry In repair 
                                    p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") Contact us via:
                            ul.c-list
                                +listItem({headText:'Facebook Chat', bodyText:'Daily 8:00AM - 8:00PM', link:'https://www.facebook.com/LGPhilippines', image:'../../assets/icon/icon-chat-black-64-64.svg'})
                                +listItem({headText:'WhatsApp', bodyText:'Daily 8:00AM - 8:00PM', link:'https://www.lg.com/ph/support/contact/whatsapp', image:'../../assets/icon/icon-whatsapp-black-64-64.svg'})
                            .c-text-contents
                                .text.c-text-contents__bodycopy
                                    p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") Or locate a
                            ul.c-list
                                +listItem({headText:'Service Centers', bodyText:'Use the locator to find a service center near you', link:'https://www.lg.com/ph/support/contact-us/locate-repair-center/', image:'../../assets/icon/icon-location-black-64-64.svg'})


    mixin pack(stepNumber, controlsId, mFontSizeType)
        .c-accordion__box.js-accordion-handle-target.c-accordion__box--expand
            .c-accordion__head
                // block - text contents
                // Add a class when a step is passed by validation check or expanded .c-step-active // default : remove class
                //- .c-accordion__head-text.c-text-contents.c-step-active
                .c-accordion__head-text.c-text-contents
                    span(class=`c-accordion__initial font-m-normal-${mFontSizeType} font-w-normal-20` aria-hidden="true") 
                        span.c-accordion__step 
                        span.c-accordion__head-flag.font-m-normal-14.font-w-semibold-18 
                +trigger(controlsId)
            .c-accordion__body(id=`${controlsId}` class=`step${stepNumber}`)
                if block
                    block


    //- -
    //-     const stepList = [
    //-         {
    //-             'eyebrow': 'Repair Request_Step1',
    //-             'stepNumber': 1
    //-         },
    //-     ]


    .guide-text-type Repair Request_Step1

    // Component Markup
    // 20230320 full markup change
    .guide-text-option default
        br
        | Repair Request - BR, CL, CO, PE, CAC_EN, MX, AU, VN, CN, TH, KZ, HK_EN, HK, ID, JP, SG, DE, FR, PT, TR, HU, PL, SE
        br
        | Installation Request - BR, CL, CO, PE, CAC_EN, MX
        br
        | Assembly Request - TR


    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody

    // 20230421 markup add
    .guide-text-option Africa
        br
        | Repair Request - EG_EN
        br
        | Installation Request - EG_EN
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_2

    //- .guide-text-option Asia,America,Europe
    //- .c-wrapper.CS0044.type-text.margin-top.margin-bottom
    //-     .component.type-accordion
    //-         .CS0044__container
    //-             .c-accordion.js-accordion
    //-                     +pack(1, 'faq-set-00', '16')

    .guide-text-option  Repair Request - IN
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_1_in

    .guide-text-option Asia(TW) - TW
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_7

    .guide-text-option America - CA_EN, CA_FR, NL
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_3
                        
    .guide-text-option America - CA_EN Case2
        br
        | Repair Request - CA_FR(Mobile Product)
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_3_1

    .guide-text-option America - CA_EN Case3
        br
        | Repair Request - CA_FR(Mobile Product) – out of warranty
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_3_2

    .guide-text-option America (Send Phone for Repair, Installation Request) - BR
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_4

    .guide-text-option Europe(NL)
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_5

    .guide-text-option Europe(IT)
        br 
        | Repair Request - IT
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                .c-accordion.js-accordion
                        +pack(1, 'faq-set-00', '16')
                            +contentsBody_6

    // Component Markup
    //- .guide-text-option.c-hidden-pc default
    //-     br
    //-     | Repair Request - BR, CL, CO, PE, CAC_EN, MX, AU, VN, CN, TH, KZ, HK_EN, HK, ID, JP, SG, DE, FR, PT, TR, HU, PL, SE
    //-     br
    //-     | Installation Request - BR, CL, CO, PE, CAC_EN, MX
    //-     br
    //-     | Assembly Request - TR
    //- .c-wrapper.CS0044.type-text.margin-top.margin-bottom.c-hidden-pc
    //-     .component.type-accordion
    //-         .CS0044__container
    //-             .c-accordion.js-accordion
    //-                     +pack(1, 'faq-set-00', '16')
    //-                         +contentsBody2
                        
    //- // 20230426 markup add
    //- .guide-text-option.c-hidden-pc Repair Request - IN
    //- .c-wrapper.CS0044.type-text.margin-top.margin-bottom.c-hidden-pc
    //-     .component.type-accordion
    //-         .CS0044__container
    //-             .c-accordion.js-accordion
    //-                     +pack(1, 'faq-set-00', '16')
    //-                         +contentsBody2_1

    //- .guide-text-option.c-hidden-pc Repair Request - TW
    //- .c-wrapper.CS0044.type-text.margin-top.margin-bottom.c-hidden-pc
    //-     .component.type-accordion
    //-         .CS0044__container
    //-             .c-accordion.js-accordion
    //-                     +pack(1, 'faq-set-00', '16')
    //-                         +contentsBody2_5
                        
    //- .guide-text-option.c-hidden-pc America (Send Phone for Repair, Installation Request) - BR
    //- .c-wrapper.CS0044.type-text.margin-top.margin-bottom.c-hidden-pc
    //-     .component.type-accordion
    //-         .CS0044__container
    //-             .c-accordion.js-accordion
    //-                     +pack(1, 'faq-set-00', '16')
    //-                         +contentsBody2_2
                        
    //- .guide-text-option.c-hidden-pc Africa
    //-     br
    //-     | Repair Request - EG_EN 
    //-     br
    //-     | Installation Request - EG_EN
    //- .c-wrapper.CS0044.type-text.margin-top.margin-bottom.c-hidden-pc
    //-     .component.type-accordion
    //-         .CS0044__container
    //-             .c-accordion.js-accordion
    //-                     +pack(1, 'faq-set-00', '16')
    //-                         +contentsBody2_3

    //- .guide-text-option.c-hidden-pc Repair Request - CA_EN, CA_FR, NL
    //- .c-wrapper.CS0044.type-text.margin-top.margin-bottom.c-hidden-pc
    //-     .component.type-accordion
    //-         .CS0044__container
    //-             .c-accordion.js-accordion
    //-                     +pack(1, 'faq-set-00', '16')
    //-                         +contentsBody2_4

    .guide-text-option Result
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                // Add class when displaying result - .type-accordion__result
                .c-accordion.js-accordion.type-accordion__result
                        +pack(1, 'faq-set-00', '18')
                            +contentsBody3

    // 20230421 markup add                   
    .guide-text-option Result - Africa(EG_EN repair request)
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                // Add class when displaying result - .type-accordion__result
                .c-accordion.js-accordion.type-accordion__result
                        +pack(1, 'faq-set-00', '18')
                            +contentsBody3_2
                        
    .guide-text-option Result - Asia(AU)
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                // Add class when displaying result - .type-accordion__result
                .c-accordion.js-accordion.type-accordion__result
                        +pack(1, 'faq-set-00', '18')
                            +contentsBody3_1('AU')

    .guide-text-option Result - Asia(PH)
    .c-wrapper.CS0044.type-text.margin-top.margin-bottom
        .component.type-accordion
            .CS0044__container
                // Add class when displaying result - .type-accordion__result
                .c-accordion.js-accordion.type-accordion__result
                        +pack(1, 'faq-set-00', '18')
                            +contentsBody3_1('PH')

block modal
    +printLayerPopup('popSerialNumberGuide')