extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-SA"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsList = [
            {
                'prdName': 'LED/LCD/PDP TV',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Audio & Video',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Refrigerators',
                'month':'2 years warranty',
                'specialTxt':'10 Years on Compressor only.  After the 2-year warranty has expired within the 10 years mentioned above, the consumer will be charged for costs such as labor, visit, gas, etc. However, there will not be a charge for the applicable spare parts that are required.',
                'special':'10 years on Compressor only'
            },
            {
                'prdName': 'Washing machines',
                'month':'2 years warranty',
                'specialTxt':'10 Years on DD Motor only. (Direct Drive Washing Machines) After the 2-year warranty has expired within the 10 years mentioned above, the consumer will be charged for costs such as labor, visit, gas, etc. However, there will not be a charge for the applicable spare parts that are required.',
                'special':'10 years on DD Motor only (Direct Drive washing machines)'
            },
            {
                'prdName': 'Dishwasher',
                'month':'2 years warranty',
                'specialTxt':'10 Years on DD Motor only. After the 2-year warranty has expired within the 10 years mentioned above, the consumer will be charged for costs such as labor, visit, gas, etc. However, there will not be a charge for the applicable spare parts that are required.',
                'special':'10 years on DD Motor only'

            },
            {
                'prdName': 'Cooking',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Microwave',
                'month':'2 years warranty',
                'specialTxt':'10 Years on Magnetron only. After the 2-year warranty has expired within the 10 years mentioned above, the consumer will be charged for costs such as labor, visit, gas, etc. However, there will not be a charge for the applicable spare parts that are required.',
                'special':'10 years on Magnetron only'

            },
            {
                'prdName': 'RAC',
                'month':'2 years warranty',

            },
            {
                'prdName': 'Monitor',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Laptop',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Projector',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Digital Storage',
                'month':'2 years warranty',
            },
        ]   
    - 
        const itemsList_1 = [
            {
                'prdName': 'LED/LCD/PDP TV',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Audio & Video',
                'month':'2 years warranty',
            },
        ]   
    - 
        const itemsList_2 = [
            {
                'prdName': 'Refrigerators',
                'month':'2 years warranty',
                'specialTxt':'10 Years on Compressor only.  After the 2-year warranty has expired within the 10 years mentioned above, the consumer will be charged for costs such as labor, visit, gas, etc. However, there will not be a charge for the applicable spare parts that are required.',
                'special':'10 years on Compressor only'
            },
            {
                'prdName': 'Washing machines',
                'month':'2 years warranty',
                'specialTxt':'10 Years on DD Motor only. (Direct Drive Washing Machines) After the 2-year warranty has expired within the 10 years mentioned above, the consumer will be charged for costs such as labor, visit, gas, etc. However, there will not be a charge for the applicable spare parts that are required.',
                'special':'10 years on DD Motor only (Direct Drive washing machines)'
            },
            {
                'prdName': 'Dishwasher',
                'month':'2 years warranty',
                'specialTxt':'10 Years on DD Motor only. After the 2-year warranty has expired within the 10 years mentioned above, the consumer will be charged for costs such as labor, visit, gas, etc. However, there will not be a charge for the applicable spare parts that are required.',
                'special':'10 years on DD Motor only'

            },
            {
                'prdName': 'Cooking',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Microwave',
                'month':'2 years warranty',
                'specialTxt':'10 Years on Magnetron only. After the 2-year warranty has expired within the 10 years mentioned above, the consumer will be charged for costs such as labor, visit, gas, etc. However, there will not be a charge for the applicable spare parts that are required.',
                'special':'10 years on Magnetron only'

            },
        ]   
    - 
        const itemsList_3 = [
            {
                'prdName': 'RAC',
                'month':'2 years warranty',

            },
        ]   
    - 
        const itemsList_4 = [
            {
                'prdName': 'Monitor',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Laptop',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Projector',
                'month':'2 years warranty',
            },
            {
                'prdName': 'Digital Storage',
                'month':'2 years warranty',
            },
        ]   
    - 
        const itemsList2 = [
            {
                'prdName': 'Chłodziarko-zamrażarka',
                'month':'10 lat gwarancji na kompresory - liniowy oraz inwerterowy',
                'month2':'20 lat gwarancji na kompresory w lodówkach Signature',
            },
            {
                'prdName': 'Pralka Direct-Drive',
                'month':'10 lat gwarancji na silnik Direct Drive',
                'month2':'20 lat gwarancji na kompresor w pralkach Signature',
            },
            {
                'prdName': 'Suszarka',
                'month':'10 lat gwarancji na podwójną sprężarkę inwerterową',
                'month2':'10 lat gwarancji na silnik inwerterowy',
            },
            {
                'prdName': 'Szafa parowa LG Styler',
                'month':'10 lat gwarancji na kompresor',
            },
            {
                'prdName': 'Zmywarka',
                'month':'10 lat gwarancji na silnik Direct Drive pompy myjącej',
            },
        ]   
    -
        const faqList = [
            {
                'headline':'A general framework of the standard warranty',
                'useImg':true,
                'text1':'Our authorized vendors promise to repair purchasers of LG-brand products free of charge when such products have been used under normal conditions and if such products are defective in terms of quality, performance, or function. The period during which such a warranty will be in place will be calculated based on the product’s purchase date. The purchase date is determined using:',
                'text2':'I. The product’s original proof-or-purchase document issued by the authorized seller',
                'text3':'II. The product warranty card the consumer received upon purchasing the product.',
                'text4':'This warranty is only applicable to products purchased from our authorized sellers listed in the chart below.',
                'text5':'For this warranty to apply, the person who brings the product to be serviced must be the person who originally purchased the product from the authorized seller.',
                'text6':'The repairs must be conducted by:',
                'text7':'I. A service center that is authorized by us.',
                'text8':'II. Our authorized seller’s service center (either is a “Servicer”).',
                'text9':'The purchaser must present the Servicer with the original proof-of-purchase document and original product warranty card. If the consumer does not provide the original proof-of-purchase document or the original product warranty card, this warranty will not apply and the Servicer will have the right to decline to serve the product. The product’s original LG model and serial tag must be on the product and visible, as the Servicer will take a photo of the Serial Tag for record purposes. Unfortunately, this warranty cannot apply to products with defaced or missing serial tags. This warranty does not apply to products that have been refurbished or second-hand purchased products.',
                'text10':'No accessories should be sent with the unit otherwise, the service center will not be responsible for any loss or damage to such accessories.',

            },
            {
                'headline': 'The warranty does not cover any of the following:',
                'useImg':false,
                'list':true,
                'list1':'Products where the serial number has been removed or made unreadable.',
                'list2':'Maintenance, repair, or replacement of parts or consumables due to normal wear and tear.',
                'list3':'Repair of cosmetic or physical damage.',
                'list4':'Breakage or damage to antennas unless caused by a defect in material or workmanship or caused by improper transportation by the consumer.',
                'list5':'If the battery short circuits or the seals of the battery are broken or show evidence of tampering or the battery was used in equipment in a manner other than that which has been specified.',
                'list6':'Damage caused by power fluctuation or using electric generator, which does not comply with the unit’s specifications.',
                'list7':'Defects or damage resulting from breakage or tampering with the LCD screen',
                'list8':'Accident, neglect, misuse, or Natural disasters.',
                'list9':'Alterations or repairs made by someone other than an LG Authorized Service Centre',
                'list10':'Unauthorized modifications or other acts, including spills of food or liquid, or external interference which is not a manufacturing or material fault',
                'list11':'Use of the product beyond its intended purpose.',
                'list12':'Damage or defects caused by use of or in connection with accessories, software, and/or services not manufactured, supplied or authorized by LG',
                'list13':'Products the consumer purchased secondhand, counterfeit products, and products purchased from someone other than an authorized seller are excluded from this warranty. We are not responsible for any loss in relation to products not covered by this warranty.',
                'list14':'Body corrosion caused by the surrounding conditions. For Example, Moisture etc.',
                'list15':'If the unit is modified',

                'listDesc':'This warranty applies to products purchased by end-user consumers. For products purchased for commercial use, such as Hotel TVs, Signage and Information display products, central air conditioners, etc., the applicable warranty provisions will be as per the relevant sales agreement.',
                'listDescTit':'※Please note',
                'listDesc2':'For additional warranty terms and conditions, please refer to the product warranty card that came with the product at the time of purchase. The information herein is only a guide. Terms and conditions applicable could vary depending on the specific product and model. If any assistance required with your product please refer to your manual, visit our ',
                'link1':'support page',
                'listDesc2sub':' or you can contact our ',
                'link2':'Customer Care',
                'listDesc2sub1':' Team.',
            },
         
        ]
    -
        const accordBodyList = [
            {
                'text1':'Our authorized vendors promise to repair purchasers of LG-brand products free of charge when such products have been used under normal conditions and if such products are defective in terms of quality, performance, or function. The period during which such a warranty will be in place will be calculated based on the product’s purchase date. The purchase date is determined using:',
                'text2':'I. The product’s original proof-or-purchase document issued by the authorized seller',
                'text3':'II. The product warranty card the consumer received upon purchasing the product.',
                'text4':'This warranty is only applicable to products purchased from our authorized sellers listed in the chart below.',
                'text5':'For this warranty to apply, the person who brings the product to be serviced must be the person who originally purchased the product from the authorized seller.',
                'text6':'The repairs must be conducted by:',
                'text7':'I. A service center that is authorized by us.',
                'text8':'II. Our authorized seller’s service center (either is a “Servicer”).',
                'text9':'The purchaser must present the Servicer with the original proof-of-purchase document and original product warranty card. If the consumer does not provide the original proof-of-purchase document or the original product warranty card, this warranty will not apply and the Servicer will have the right to decline to serve the product. The product’s original LG model and serial tag must be on the product and visible, as the Servicer will take a photo of the Serial Tag for record purposes. Unfortunately, this warranty cannot apply to products with defaced or missing serial tags. This warranty does not apply to products that have been refurbished or second-hand purchased products.',
                'text10':'No accessories should be sent with the unit otherwise, the service center will not be responsible for any loss or damage to such accessories.',
            },
            {
                'list':true,
                'list1':'aaaaaa',
            }
         
        ]
    mixin pack(faq, useImg, controlsId)
        .c-accordion__box.js-accordion-handle-target
            .c-accordion__head
                // SUPPORT FAQ EYEBROW ADDED
                span.c-accordion__head-flag.font-m-normal-14.font-w-normal-14 #{faq.eyebrow}
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-w-normal-24.font-m-normal-16(aria-hidden="true") Q.
                    .text.c-text-contents__headline
                        .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                            strong #{faq.headline} 
                +trigger(controlsId)
            .c-accordion__body(id=`${controlsId}`)
                +contentsBody(faq)

    mixin trigger(controlsId)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded="false" aria-controls=`${controlsId}` aria-label="")
                span.c-accordion__button-text.expand.sr-only Expand
                span.c-accordion__button-text.collapse.sr-only Collapse

    mixin contentsBody(faq)
        .c-text-contents.c-accordion__body-text.c-flex
            span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-semibold(aria-hidden="true") A.
            .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16
                if faq.text1
                    span.cmp-text(data-cmp-data-layer="") #{faq.text1}
                        br
                        | #{faq.text2}
                        br
                        | #{faq.text3}
                        br
                        | #{faq.text4}
                        br
                        | #{faq.text5}
                        br
                        span.cs-bold #{faq.text6}
                        br
                        | #{faq.text7}
                        br
                        | #{faq.text8}
                        br
                        | #{faq.text9}
                        br
                        | #{faq.text10}
                if faq.list 
                    ul 
                        li #{faq.list1}
                        li #{faq.list2}
                        li #{faq.list3}
                        li #{faq.list4}
                        li #{faq.list5}
                        li #{faq.list6}
                        li #{faq.list7}
                        li #{faq.list8}
                        li #{faq.list9}
                        li #{faq.list10}
                        li #{faq.list11}
                        li #{faq.list12}
                        li #{faq.list13}
                        li #{faq.list14}
                        li #{faq.list15}
                    div 
                        | #{faq.listDesc}
                        br
                        span.cs-bold #{faq.listDescTit}
                        br
                        | #{faq.listDesc2}
                        a(href="https://www.lg.com/sa_en/support") #{faq.link1}
                        | #{faq.listDesc2sub}
                        a(href="https://www.lg.com/sa_en/support/telephone") #{faq.link2}
                        | #{faq.listDesc2sub1}
    
    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - SA_EN

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-SA
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Warranty
                        
                .fullWidth
                    .sectCont
                        .cs-warrantyTxt.cs-warrantyTxtWrap
                            #container.container.second-container
                                .button.c-print-area
                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                                // CONTENT
                                section.c-cs-warranty.c-warranty__wrap
                                    .contents-area
                                        //- .cs-second-tabbg
                                        .c-cs-header
                                            // block : text-contents
                                            .c-text-contents
                                                .title.c-text-contents__headline
                                                    h2.font-w-light-56.font-m-light-28 LG Electronics standard warranty
                                                .text.c-text-contents__bodycopy
                                                    .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") LG Electronics provides product warranties in line with the customer protection laws of the country, as relevant to the product at issue.

                                        .cs-tab.cs-second-tab
                                            input#tab1-1(checked='checked' type='radio' name='category')
                                            input#tab2-1(type='radio' name='category')
                                            input#tab3-1(type='radio' name='category')
                                            input#tab4-1(type='radio' name='category')
                                            input#tab5-1(type='radio' name='category')
                                            input#tab6-1(type='radio' name='category')
                                            .c-carousel__handler
                                                .cmp-carousel__actions.prev
                                                    +carouselBtn({type:"pagination", direction:"prev"})(aria-label="")
                                                .cmp-carousel__actions.next
                                                    +carouselBtn({type:"pagination", direction:"next"})(aria-label="")
                                            .tabs.swiper-container.csSwiper.csSwiper2.swiper
                                                .tabs__items.swiper-wrapper
                                                    .tab1-1.swiper-slide.on
                                                        label.c-tabs(for='tab1-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-all-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 All
                                                    .tab2-1.swiper-slide
                                                        label.c-tabs(for='tab2-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-tv-audio-video-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 Home entertainment
                                                    .tab3-1.swiper-slide
                                                        label.c-tabs(for='tab3-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-appliance-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 Home appliances
                                                    .tab4-1.swiper-slide
                                                        label.c-tabs(for='tab4-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-aircon-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 Air conditioners
                                                    .tab5-1.swiper-slide
                                                        label.c-tabs(for='tab5-1') 
                                                            +printLazyImage('../../assets/icon/icon-warranty-it-64-64_normal.svg')
                                                            .c-tab__title.font-m-normal-16.font-w-normal-20 IT 

                                            section.c-second-section.c-sticky__contents
                                                .tab1-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2
                                                                    each items in itemsList
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14  Component warranty
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}
                                                
                                                .tab2-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList_1
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14  Component warranty
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}

                                                .tab3-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList_2
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14  Component warranty
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}

                                                .tab4-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList_3
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14  Component warranty
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}

                                                .tab5-1.c-second-tab
                                                    .fullWidth
                                                        .sectCont
                                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                ul.c-product-list.c-product-list__type2 
                                                                    each items in itemsList_4
                                                                        li.c-content_box 
                                                                            p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                            ul
                                                                                li 
                                                                                    strong.font-m-normal-14.font-w-normal-14  Component warranty
                                                                                    span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                                if items.special 
                                                                                    li 
                                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.specialTxt}
                                                                                        span.font-m-normal-14.font-w-normal-16 #{items.special}

                                            .type-accordion.type-accordion__offEye
                                                .c-accordion.js-accordion
                                                    each faq, index in faqList
                                                        - var controlsId = `faq-set-0${index}`; 
                                                        +pack(faq, faq.useImg, controlsId)                    
