extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-CH_fr"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsList = [
            {
                'title':'Période de garantie',
                'subtitle':'La période de garantie du produit a écoulé.',
            },
            {
                'title':'Installation/démontage',
                'subtitle':'Renouvellement de l‘installation ou demande concernant la façon de brancher l’appareil externe, quand la position de l‘appareil est modifiée en interne, installation ou branchement après l‘achat du produit sur Internet, vente à domicile.'
            },
            {
                'title':'Produit d‘une autre entreprise',
                'subtitle':'Produit défectueux d‘une autre entreprise/appareil branché, à l‘exception du produit, que souhaite le client.(routeur, boîtier décodeur, console de jeux, câble/distributeur, pompe de vidange, verre trempé, logiciel d‘une autre entreprise etc.)'
            },
            {
                'title':'Usure',
                'subtitle':'Dans le cas où la garantie/durée de vie pour les pièces d‘usure a expiré (batterie, filtre, toner, tambour, encre etc.)Dans le cas où le produit est défectueux du fait de son utilisation par le client, un élément n‘a pas été fourni par LG ou a été fourni en option.'
            },
            {
                'title':'Catastrophe naturelle',
                'subtitle':'Dans le cas où le produit a été rendu défectueux par une catastrophe naturelle (tremblement de terre, intempéries, foudre, inondations etc.), un incendie, une tempête, le gel ou un dommage dû au gaz.'
            },
            {
                'title':'Négligence de la part de l‘utilisateur',
                'subtitle':'Dans le cas où le produit est défectueux pour une raison pouvant être imputée à l‘utilisateur (logiciel inclus)Dans le cas où le produit est défectueux, car l‘utilisateur n‘a pas respecté les instructions et consignes figurant dans le mode d‘emploi.Dans le cas où le produit est défectueux, car l‘utilisateur a procédé de sa propre initiative à un changement de câblage ou à une modification ou ne l‘a pas fait faire par un centre de service agréé par LG.Dans le cas où le produit est défectueux en raison d‘une négligence de l‘utilisateur, comme un fusible, une prise de courant ou une multiprises défectueux, un erreur lors du ranchement etc.Dans l’éventualité où l‘utilisateur a besoin du service pour couper l‘eau, l‘alimentation en eau ou en gaz etc.Quand l‘utilisateur a besoin du service en raison de conditions externes, comme une connexion internet ou une antenne défectueuse, un signal filaire, etc..'
            },
            {
                'title':'Utilisation de l‘appareil à des fins commerciales',
                'subtitle':'Exemples d‘utilisation à des fins commerciales:',
                'listtype':true,
                'list1text':'Machine à laver: sauna, piscine publique, lavomatic',
                'list2':true,
                'list2text':'Réfrigérateur, machine à faire cuire le riz, four à microondes: restaurant, boutique d‘alimentation',
                'list3text':'Téléviseurs: utilisation à des fins commerciales dans des établissements de paris etc.Dans le cas où le produit VCR est installé dans une vidéothèque, par un opérateur de services par câble ou une salle vidéo à des fins commerciales.',
            },
            {
                'title':'Divers',
                'subtitle':'En cas de demande de réparation, bien que le produit n‘est pas défectueux.(même si le délai de garantie du produit n‘a pas encore expiré, une telle opération sera facturée)',
                'listtype':true,
                'list1text':'Exemple: contrôler si le produit fonctionne correctement ou est défaillant.',
                'subtitle2':true,
                'subtitle2text':'Nettoyage du filtre, car le filtre est engorgé etc..Dans le cas où le produit a été utilisé dans un environnement inapproprié, par exemple installation dans une voiture, sur un bateau etc.',
            },

        ]
    - 
        const itemsList2 = [
            {
                'prdName': 'Lecteur DVD / BluRay',
                'month':'24 mois',
                'service':'Carry in',
            },
            {
                'prdName': 'Micro HiFi',
                'month':'24 mois',
                'service':'Carry in',
            },
            {
                'prdName': 'Home Cinema',
                'month':'24 mois',
                'service':'Carry in',
            },
            {
                'prdName': 'Microonde',
                'month':'24 mois',
                'service':'Carry in',
            },
            {
                'prdName': 'Aspirateur',
                'month':'24 mois',
                'service':'Carry in',
            },
            {
                'prdName': 'Réfrigérateur/congélateur',
                'month':'24 mois',
                'service':'On site',
                'more':true,
                'desc':'Compresseur Inverter Linear: 10 ans de garantie (pièce de rechange uniquement)'
            },
            {
                'prdName': 'Machine à laver',
                'month':'24 mois',
                'service':'On site',
                'more':true,
                'desc':'Moteur Direct Drive: 10 ans de garantie (pièce de rechange uniquement)'
            },
            {
                'prdName': 'Laveuse-sécheuse',
                'month':'24 mois',
                'service':'On site',
                'more':true,
                'desc':'Moteur Direct Drive: 10 ans de garantie (pièce de rechange uniquement)'
            },
            {
                'prdName': 'Lave-vaisselle',
                'month':'24 mois',
                'service':'On site',
            },
            {
                'prdName': 'Téléviseur',
                'month':'24 mois',
                'service':'< 54" = Garantie de type «retour en atelier»55" < = Garantie de type «enlèvement et retour»',
            },
            {
                'prdName': 'Mobile / tablette / wearable',
                'month':'24 mois',
                'service':'Carry in',
                'more':true,
                'desc':'Batterie: 6 mois'
            },
            {
                'prdName': 'Accessoires',
                'month':'6 mois',
                'service':'Carry in',
                'more':true,
                'desc':'Valable pour les accessoires de téléphone portable inclus dans l‘emballage de vente du téléphone.'
            },
            {
                'prdName': 'Climatisation',
                'more':true,
                'desc':'Veuillez contacter votre revendeur. Compresseurs Inverter dans la gamme RAC-Single-Split: 10 ans (pièce de rechange uniquement)'
            },
        ]   

    .guide-text-type CS Warranty Consumer - CH_fr

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-CH_fr
            #container.CS0078__container
                // CONTENT
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area 
                        .cs-notabs
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        h1.font-w-light-56.font-m-light-28 Garantie
                                    .text.c-text-contents__bodycopy
                                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            | Vous trouverez ci-après de plus amples renseignements concernant les prestations de garantie de LG.
                                            br
                                            | LG Electronics übernimmt gegenüber Ihrem Fachhändler die folgende Garantie.

                            .button.c-print-area
                                +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                            .cs-warranty__normalContents 
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Clauses et conditions de garantie
                                        .text.c-text-contents__bodycopy
                                            ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                li La garantie est valable uniquement sur présentation de l’original de la facture, d’un ticket de caisse ou d’une confirmation de LG Electronics Deutschland GmbH concernant la période de garantie. Si le numéro de série de produit ne peut être fourni ou n’est pas lisible, la garantie de LG Electronics n’est pas valide. Dans ce cas, adressez-vous au revendeur, auprès duquel vous vous êtes procuré le produit.
                                                li LG Electronics se réserve le droit, à sa seule discrétion, de choisir de réparer ou de remplacer l’appareil défectueux ou les pièces défectueuses. L’appareil ou la pièce remplacée devient la propriété de LG Electronics.
                                                li LG Electronics accorde une grande importance à la qualité des prestations de service, de sorte à ce que les réparations sont effectuées de manière rapide et fiable. C’est la raison pour laquelle toutes les réparations dans le cadre de la garantie sont effectuées par les centres de service agréés par LG Electronics. LG Electronics décline toute responsabilité et ne prend à sa charge aucun frais en cas de réparations effectuées par une personne non agréée ou non mandatée.
                                                li Tous les produits de LG Electronics satisfont aux spécifications du pays, dans lesquelles ils sont vendus. LG Electronics ne prend pas à sa charge aucun des coûts découlant d’une éventuelle transformation des appareils.
                                                li Les prestations en garantie de LG Electronics ne couvrent pas les points suivants:
                                                li Die Garantieleistungen von LG Electronics schließen die folgenden Punkte nicht ein:
                                                    ol(type="a")
                                                        li Contrôles, entretien et réparations réguliers ou remplacement des pièces d’usure.
                                                        li Erreurs de manipulation ou défaillances dues à une installation défectueuse.
                                                        li Dommages causés par les intempéries, l’eau, le feu, une surtension, un cas de force majeure ou une guerre, un branchement défectueux au secteur, une aération insuffisante ou défectueuse ou d’autres motifs sur lesquels LG Electronics n’exerce aucun contrôle.
                                                        li Dommages causés par un transport ou un emballage inapproprié.
                                                        li La période de garantie pour les batteries fournies avec les appareils s’élève à 6 mois à compter de la date d’achat.
                                                li Les droits du consommateur, en vigueur dans le pays concerné, comme les exigences à l’égard du vendeur par exemple, tels que stipulés dans le contrat de vente, ne sont pas affectés par la présente déclaration de garantie. LG Electronics, ses filiales et ses distributeurs, déclinent toute responsabilité concernant les dommages directs ou indirects ou les pertes, sous réserve qu’aucune disposition légale obligatoire ne s’y oppose.

                                .c-service-list__wrap 
                                    ul.c-service-list
                                        p Hotline: 0848-543 543
                                        li.font-m-normal-12.font-w-normal-20 Lors de toute prise de contact avec notre hotline, munissez-vous impérativement des informations suivantes:
                                            ul
                                                li Numéro de modèle
                                                li Numéro de série
                                                li Date et revendeur chez qui vous avez acheté le produit
                                                li Nature de votre requête

                                    ul.c-service-list
                                        strong.font-m-normal-12.font-w-normal-20 L‘équipe LG Austria Hotline se tient à votre disposition au numéro suivant

                                        div 
                                            span.font-m-normal-12.font-w-normal-16 Pour toutes les demandes de client
                                            .c-sevice-list__infowrap
                                                dl 
                                                    dt.font-m-normal-12.font-w-normal-16 Lundi – vendredi
                                                    dd.font-m-normal-16.font-w-normal-24 de 9h00 à 17h00
                                                dl 
                                                    dt.font-m-normal-12.font-w-normal-16 Téléphone
                                                    dd.font-m-normal-16.font-w-normal-24 0810 - 144 131
                                                        div.font-m-normal-12.font-w-normal-16 (*au prix d‘un appel local)
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Prestations couvertes par la garantie
                                        .text.c-text-contents__bodycopy
                                            ul.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                li Réparation d’un défaut ou d’une anomalie survenant au cours de la période de garantie en cas d’utilisation conforme aux dispositions.
                                
                                .c-product-list__wrap
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                h2.font-w-light-56.font-m-light-28 Prestations, qui ne sont pas couvertes par la garantie
                                    ul.c-product-list
                                        each items in itemsList
                                            li.c-content_box
                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                div.font-m-normal-14.font-w-normal-16 #{items.subtitle}
                                                    if items.listtype
                                                        ul 
                                                            li #{items.list1text}
                                                            if items.list2
                                                                li #{items.list2text}
                                                                li #{items.list3text}
                                                        if items.subtitle2 
                                                            span.font-m-normal-14.font-w-normal-16 #{items.subtitle2text}

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Installation standard pour les produits de grandes dimensions
                                        .text.c-text-contents__bodycopy
                                            ul.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                li Les frais d’installation pour les produits spéciaux ou de grandes dimensions sont facturés au client indépendamment de la période de garantie du produit (produit normal /installation d’un système de climatisation)
                                                li Les frais d’installation pour les systèmes de climatisation varient en fonction des dimensions du produit (capacité), du lieu d’installation et des coûts de composants supplémentaires.

                                .c-product-list__wrap
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                h2.font-w-light-56.font-m-light-28 Délai de garantie selon le produit
                                    ul.c-product-list.c-product-list__type2 
                                        each items in itemsList2
                                            li.c-content_box 
                                                p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                ul
                                                    li 
                                                        strong.font-m-normal-14.font-w-normal-14 Périodes de garantie
                                                        span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                    li 
                                                        strong.font-m-normal-14.font-w-normal-14 Méthode de service
                                                        span.font-m-normal-14.font-w-normal-24 #{items.service}
                                                if items.more 
                                                    ul.font-m-normal-14.font-w-normal-24 
                                                        li.c-desc 
                                                            strong.font-m-normal-14.font-w-normal-14 Remarques
                                                            span.font-m-normal-14.font-w-normal-16 #{items.desc}

                                    .c-product-list__desc
                                        dl.font-m-normal-12 
                                            dt Carry in
                                            dd L’appareil est déposé au centre de service ou chez un revendeur à des fins de réparations
                                            dt On site
                                            dd L’appareil est réparé sur place, dans la mesure du possible
                                            dt Abholung
                                            dd L’utilisateur doit faire en sorte que l’appareil soit emballé, de façon de permettre un transport en toute sécurité, et prêt à être enlevé. Tout montage ou démontage éventuel n’est pas compris dans la garantie.
                                        ul.font-m-normal-12 
                                            li Les conditions de garantie précédemment décrites peuvent, à l’occasion, faire l’objet de modifications.Adressez-vous à notre hotline ou au centre de service LG pour connaître les conditions de garantie actuellement en vigueur.