extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-VN"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsVN  = [
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Tivi/Television',
                'warranty':'24 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty3':'30 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Màn hình máy vi tính, Màn hình mở rộng của máy tính xách tay/Monitor, Gram view',
                'warranty':'24 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty3':'30 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Màn hình y tế Medical Monitor',
                'warranty':'36 tháng/months',
                'warranty_1':'(i)',
                'warranty2':'48 tháng/months',
                'warranty2_1':'(i)',
                'warranty3':'39 tháng/months',
                'warranty3_1':'(i)',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Màn hình chuyên dụng Signage, Commercial TV',
                'warranty':'36 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty3':'39 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Màn hình đa phương tiện Stand by Me display',
                'warranty':'24 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty3':'30 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Máy giặt, máy sấy/Washing machine, Dryer',
                'warranty':'24 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty3':'30 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Tủ lạnh/Refrigerator',
                'warranty':'24 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty3':'30 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Điều hòa gia dụng treo tường/Residential Wall-mounted Air conditioner (RAC)',
                'warranty':'24 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty2_1':'(ii)',
                'warranty3':'30 tháng/months',
                'warranty3_1':'(ii)',

            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Điều hòa gia dụng/ thương mại khác/Other Air conditioner except RAC',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Lò vi sóng/Microwave oven',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Máy hút bụi/Vacuum cleaner',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Máy lọc không khí/Air purifier',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Máy chiếu/Projector',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Máy tính xách tay/Laptop',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Đầu DVD, Dàn âm thanh, Loa thanh, Loa kéo/DVD player, Home theater, Sound bar, Trolley speaker',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Điện thoại, Thiết bị di động, Loa Bluetooth, Tai nghe không dây Mobile phone; Portable equipment; Bluetooth speaker; Bluetooth headset/Earbuds',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Tủ chăm sóc quần áo thông minh/Styler',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Thiết bị chăm sóc da tại nhà/Beauty product (Pra.L)',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Khẩu trang lọc khí (phần thân) & Hộp đựng khẩu trang lọc khí (Wearable air purifier (Air Mask body) & Mask Case)',
                'warranty':'12 tháng/months',
                'warranty2':'36 tháng/months',
                'warranty3':'18 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Bộ chuyển đổi X-quang số hóa DxD+ Aws',
                'warranty':'36 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty3':'39 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'SẢN PHẨM/Product',
                'prodName':'Đầu phát nội dungSet-top box',
                'warranty':'24 tháng/months',
                'warranty2':'48 tháng/months',
                'warranty3':'30 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'PHỤ KIỆN ĐI KÈM SẢN PHẨM MỚI/ Accessory of new products',
                'prodName':'Pin, bộ sạc, phụ kiện (trừ điều khiển Tivi)/Battery, Charger, Accessories (except TV remote)',
                'warranty':'12 tháng/months',
                'warranty2':'-',
                'warranty3':'12 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'PHỤ KIỆN ĐI KÈM SẢN PHẨM MỚI/ Accessory of new products',
                'prodName':"Điều khiển kèm theo Tivi/TV remote (TV's accessory)",
                'warranty':'12 tháng/months',
                'warranty2':'24 tháng/months',
                'warranty2_1':'(iii)',
                'warranty3':'15 tháng/months',
            },
            { 
                'tag':'STT',
                'title':'PHỤ KIỆN ĐI KÈM SẢN PHẨM MỚI/ Accessory of new products',
                'prodName':'Pin của Màn hình đa phương tiệnBattery of Stand by Me display',
                'warranty':'6 tháng/months',
                'warranty2':'-',
                'warranty3':'6 tháng/months',
            },
        ]
    - 
        const itemsVN2 = [
            {
                'title': 'Trung tâm bảo hành LG HN Lê Văn Lương',
                'subText':'Hà Nội',
                'subText2':'Số 27, Lê Văn Lương, Phường Nhân Chính, Quận Thanh Xuân, Hà Nội',
            },
            {
                'title': 'Trung tâm bảo hành LG HN Đàm Quang Trung',
                'subText':'Hà Nội',
                'subText2':'Tầng 1, Tòa nhà Phúc Đồng, Đường Đàm Quang Trung, Phường Phúc Đồng, Quận Long Biên, Hà Nội',
            },
            {
                'title': 'Trung tâm bảo hành LG Hải Phòng',
                'subText':'Hải Phòng',
                'subText2':'Số 1, Lô 15B, Lê Hồng Phong, Hải An, Hải Phòng',
            },
            {
                'title': 'Trung tâm bảo hành LG Đà Nẵng',
                'subText':'Đà Nẵng',
                'subText2':'Lô A-156, Đường 30/4, Phường Hòa Cường Bắc, Quận Hải Châu, Thành Phố Đà Nẵng',
            },
            {
                'title': 'Trung tâm bảo hành LG Cần Thơ',
                'subText':'Cần Thơ',
                'subText2':'Số 28,33, Phạm Ngọc Thạch, Phường Cái Khế, Quận Ninh Kiều, TP. Cần Thơ',
            },
            {
                'title': 'Trung tâm bảo hành LG Đồng Nai',
                'subText':'Đồng Nai',
                'subText2':'Số 70, Đường N1, KP.7, P. Thống Nhất, TP. Biên Hoà, Đồng Nai',
            },
            {
                'title': 'Trung tâm bảo hành LG HCM Sương Nguyệt Ánh',
                'subText':'Hồ Chí Minh',
                'subText2':'Số 55, Sương Nguyệt Ánh, Phường Bến Thành, Quận 1, TP. Hồ Chí Minh',
            },
            {
                'title': 'Trung tâm bảo hành LG HCM Phan Văn Trị',
                'subText':'Hồ Chí Minh',
                'subText2':'Số 18C, Phan Văn Trị, Phường 10, Quận Gò Vấp, TP. Hồ Chí Minh',
            },
        ] 

    
    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - VN

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-VN 
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Chính sách bảo hành
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Thông tin bảo hành các sản phẩm LG
                                br
                                | LG Electronics Việt Nam đảm bảo dịch vụ sửa chữa miễn phí cho các sản phẩm đủ điều kiện bảo hành tại các trung tâm ủy quyền. Mỗi sản phẩm có điều kiện bảo hành khác nhau tùy thuộc vào dòng sản phẩm. Quý khách vui lòng tham khảo thông tin dưới đây để biết thêm chi tiết. 
                                
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            input#tab3(type='radio' name='pct')
                            input#tab4(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 Dịch Vụ Bảo Hành Sản Phẩm
                                    .tab2.swiper-slide.on
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 Thời Hạn Bảo Hành Sản Phẩm
                                    .tab3.swiper-slide
                                        label(for='tab3').c-tab__title.font-w-normal-20.font-m-normal-16 Các Dịch Vụ Bảo Hành Cơ Bản
                                    .tab4.swiper-slide
                                        label(for='tab4').c-tab__title.font-w-normal-20.font-m-normal-16 Điều Khoản Khác

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Cetak", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 DỊCH VỤ BẢO HÀNH SẢN PHẨM/ Warranty services
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 1. Điều kiện bảo hành/ Conditions of warranty
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Sản phẩm (bao gồm sản phẩm là quà tặng kèm mang nhãn hiệu LG và sản phẩm trưng bày) được chấp nhận bảo hành khi đáp ứng các điều kiện dưới đây/ A product (including LG-branded promotion gifts & product for display) shall be accepted a warranty only in case it meets all following conditions:
                                                                ul.warrantylist__dot
                                                                    li Sản phẩm được sản xuất, gia công, lắp ráp, nhập khẩu bởi Công ty LG Electronics và được phân phối tại thị trường Việt Nam bởi LG Electronics hay các nhà phân phối chính thức/ Product is produced, done outwork, assembled, imported by LG Electronics and distributed in Vietnam market by LG Electronics or its wholesalers.
                                                                    li Sản phẩm còn trong thời hạn bảo hành theo các quy định về thời hạn bảo hành/ Product is within warranty period in accordance with warranty period regulations.
                                                                    li Tên model trên phiếu bảo hành, hóa đơn mua hàng (hóa đơn GTGT của Bộ Tài chính), hệ thống bảo hành điện tử trùng khớp với tên model trên sản phẩm/ Model name on Warranty card, Purchase invoice (VAT Invoice of the Ministry of Finance), Smart Warranty (SW) system must be coincident with this one on the product.
                                                                    li Sản phẩm gặp trục trặc do lỗi của nhà sản xuất/ Defect on product caused by mistake of producer.
                                                                    li Sản phẩm, nhãn sản phẩm, kiểu sản phẩm, số máy phải còn nguyên dạng/ Product including label, model number, serial number needed to be original.
                                                                    li Sản phẩm không thuộc nhóm Từ chối bảo hành quy định tại Mục 2. Từ chối bảo hành dưới đây/ Product is not in scope of rejection of warranty that stipulated in Item 2 as below. 
                                                                
                                                    
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 2. Từ chối bảo hành/ Rejection of warranty
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Sản phẩm bị từ chối bảo hành nếu vi phạm một trong các điều kiện dưới đây:A product, which violates one of below conditions, will be rejected from warranty:
                                                                ul.warrantylist__dot
                                                                    li Hư hỏng gây ra bởi các nguyên nhân khách quan như thiên tai (lũ lụt/sét đánh,…), hỏa hoạn, gỉ sét, có vệt mốc, bị ăn mòn, oxy hóa bởi hóa chất, vận chuyển, côn trùng, động vật xâm nhập vào,…/ Product is damaged as a result of natural disaster or acts of God, e.g. fire, flood, lightning, musty, eroded or oxidized by chemical, transportation, insect or animal income,...
                                                                    li Sử dụng sai điện áp chỉ định/ Wrong voltage was applied to product which are not followed by instruction stipulated in the owner’s manual supplied by LG Electronics Vietnam.
                                                                    li Sản phẩm được đặt nơi bụi bẩn, ẩm ướt, bị chất lỏng hoặc nước vào, bị thấm nước (Ví dụ: với điều khiển thông minh sản xuất từ 2022, dấu hiệu của nước vào là giấy quỳ bên trong điều khiển có màu đỏ)/ Product was installed/ placed at dusty, humid position, product is defected by liquid or water inflow (Ex: for the magic remote produced from 2022, the sign of water inflow is purple litmus paper inside the magic remote changed to red).
                                                                    li Hư hỏng gây ra do lỗi người sử dụng hoặc do tác động nhiệt, tác động bên ngoài như: rơi, biến dạng, vỡ,…/ Defect caused by End User’s mistake or outside impact, temperature impact: dropped, deformed, broken,…
                                                                    li Sử dụng, lắp đặt, bảo trì không đúng hướng dẫn kèm theo sản phẩm/ Defect caused by wrong using, installation, maintenance.
                                                                    li Sản phẩm đã bị can thiệp, sửa chữa bởi cá nhân hoặc tổ chức không được ủy quyền bởi LG Electronics/ The product is modified, repaired by individuals or organizations not authorized by LG Electronics.
                                                                    li Sản phẩm hết hạn bảo hành/ Product is out of warranty period.
                                                                    li Sản phẩm không do LG Electronics sản xuất, gia công, lắp ráp và không được phân phối tại thị trường Việt Nam bởi LG Electronics hay các nhà phân phối chính thức của Công ty/ Product is neither produced, done outwork, assembled, nor imported by LG Electronics and not distributed in Vietnam market by LG Electronics or its wholesalers.
                                                                    li Hàng khuyến mại (không phải là sản phẩm do LG sản xuất)/ Promotion gifts (not LG’s brand).
                                                                    li Không áp dụng chính sách bảo hành Máy giặt gia dụng sử dụng vào các hoạt động kinh doanh thương mại đặc thù (cửa hàng giặt là, khách sạn,...) hoặc hư hỏng gây ra do sử dụng các hóa chất tẩy rửa/ Residential washing machine warranty policy has not been applied in specific commerce/ business purpose case (hotel, laundry shop,...) or defected cause of chemical cleaner using.
                                                

                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Cetak", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 THỜI HẠN BẢO HÀNH SẢN PHẨM/ Warranty period
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span 
                                                                    | Công ty LG áp dụng chế độ Bảo hành điện tử. Theo đó, sản phẩm sẽ được kích hoạt bảo hành điện tử ngay sau khi được bán tới Quý khách hàng. Quý khách vui lòng yêu cầu nơi bán (đại lý, cửa hàng) kích hoạt bảo hành điện tử và có thể kiểm tra thời gian bảo hành thông qua số IMEI/Serial của sản phẩm 
                                                                    a(href="#") tại đây.
                                                                    br
                                                                    br
                                                                    | LG Electronics applies Electronic warranty (Smart Warranty). Whereby, the product will be activated its electronic warranty right after being sold to Customer. Please ask the dealer/store to activate the electronic warranty and customer can check the warranty period by product’s IMEI/Serial number 
                                                                    a(href="#") here.
                                                                
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 1. Thời hạn bảo hành cho Sản phẩm mới/ Warranty period for New product
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Áp dụng cho các sản phẩm có ngày mua hợp lệ từ ngày 24/2/2023/ Apply for products with valid purchase date from 24-Feb-2023.

                                                .c-product-list__wrap
                                                    ul.c-product-list.c-product-list__type3
                                                        each items in itemsVN
                                                            li.c-content_box
                                                                div
                                                                    span.font-m-normal-14.font-w-normal-16 #{items.tag}
                                                                    p.font-m-normal-20.font-w-normal-24 #{items.title}
                                                                    ul.warranty_box 
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 Sản phẩm/Product
                                                                            span.font-m-normal-16.font-w-normal-24 #{items.prodName}
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 Thời hạn bảo hành tính từ Ngày mua/Warranty period from Purchase date
                                                                            dl
                                                                                dt.font-m-normal-16.font-w-normal-20 #{items.warranty}
                                                                                dd.font-m-normal-16.font-w-normal-20 #{items.warranty_1}
                                                                div
                                                                    p.font-m-normal-14.font-w-normal-16 Thời hạn tính từ Ngày sản xuất/Warranty period from Manufacture date
                                                                    ul.warranty_box.type2 
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 Nếu có ngày kích hoạt SW(*) hoặc có hóa đơn mua hàng/In case SWactivated (*) or valid invoice
                                                                            dl
                                                                                dt.font-m-normal-16.font-w-normal-20 #{items.warranty2}
                                                                                dd.font-m-normal-12.font-w-normal-20 #{items.warranty2_1}
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 Nếu chưa kích hoạt SW vàkhông có hóa đơn mua hàng/Without SWactivated and no invoice
                                                                            dl
                                                                                dt.font-m-normal-16.font-w-normal-20 #{items.warranty3}
                                                                                dd.font-m-normal-12.font-w-normal-20 #{items.warranty3_1}
                                               
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer="") (*) Lệnh kích hoạt SW phải hợp lệ./ SW activation must be valid

                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Lưu ý / Remark:
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.cs-warrantylist__hypen
                                                                    li Thời hạn bảo hành được tính từ Ngày mua của khách hàng ghi trên phiếu bảo hành/ hóa đơn mua hàng nhưng không vượt quá thời hạn bảo hành tính từ Ngày sản xuất quy định tại Phần 1 - Thời hạn bảo hành cho sản phẩm mới, áp dụng theo điều kiện nào đến trước. Đối với những sản phẩm được áp dụng hệ thống Bảo hành Thông minh (SW), Ngày mua được hiểu là ngày kích hoạt bảo hành trên hệ thống/ Warranty period is counted from End-User’s Purchase date in warranty card/purchasing invoice but not over the warranty period from Manufacture date that stipulated at Section 1 - Warranty period for New product, applied based on which condition will come first. In case of Smart Warranty applied, Purchase date is understood as activated date in the system.
                                                                    li Trường hợp Ngày mua ghi nhận trên hệ thống SW khác với Ngày mua trên hóa đơn mua hàng:
                                                                        ul.warrantylist__dot 
                                                                            li Nếu chênh lệch giữa ngày mua ghi nhận trên hệ thống SW và hóa đơn mua hàng ≤30 ngày: Ngày mua ghi nhận sau được áp dụng để tính thời hạn bảo hành.
                                                                            li 
                                                                                | Nếu chênh lệch giữa ngày mua ghi nhận trên hệ thống SW và hóa đơn mua hàng >30 ngày: Ngày mua ghi nhận trước được áp dụng để tính thời hạn bảo hành.
                                                                                br
                                                                                | In case the Purchase date recorded on SW system is different from this one on Purchase invoice:
                                                                            li If the gap between the Purchase date recorded on SW system & this one on Purchase invoice is ≤30 days: the later Purchase date will be used for warranty period calculation.
                                                                            li If the gap between the Purchase date recorded on SW system & this one on Purchase invoice is >30 days: the earlier Purchase date will be used for warranty period calculation.
                                                                    li Trường hợp không có Hóa đơn và chưa kích hoạt SW, Ngày sản xuất của sản phẩm được ghi nhận trên sản phẩm và/hoặc trên Hệ thống của Công ty LG sẽ được dùng làm cơ sở tính thời hạn bảo hành. (Nếu chỉ có thông tin về Tháng sản xuất thì Ngày sản xuất sẽ được tính từ Ngày cuối cùng của Tháng sản xuất được ghi nhận)/ In case of unavailable Purchase invoice & SW not activated, the Manufacture date on product and/or on LG system will be used as the basis of warranty period calculation. (If only Manufacture month is available, the Manufacture date will be the last date of recorded manufacture month).
                                                                    li Trường hợp sản phẩm chỉ có thông tin kích hoạt SW nhưng ngày kích hoạt không phù hợp với thực tế sử dụng thì được coi như trường hợp sản phẩm chưa kích hoạt SW và không có hóa đơn mua hàng./ In case only product’s SW information is available but activated date is not suitable in actual using, this product will be considered as no SW activated and no invoice.
                                                                    li Phạm vi bảo hành có thể có các khác biệt quy định bởi các điều khoản đặc biệt được ghi rõ trên phiếu bảo hành; hợp đồng; sách hướng dẫn sử dụng kèm sản phẩm; trên sản phẩm cụ thể/ Warranty scope might be limited by special conditions stipulated by company on specific warranty card; contract; manual or product.
                                                                    li (i) Ngoài chính sách bảo hành tiêu chuẩn, các model Màn hình y tế sau sẽ được áp dụng bảo hành 60 tháng tính từ Ngày mua: 21HQ513D-B, 31HN713D-B, 31HN713D-BA, 31HN713D, 32HL512D-B, 32HL512D-BA, 32HL512D./ In addition to the standard warranty policy, the Medical monitor will be applied 60 months warranty for below Models: 21HQ513D-B, 31HN713D-B, 31HN713D-BA, 31HN713D, 32HL512D-B, 32HL512D-BA, 32HL512D.
                                                                    li (ii) Ngày sản xuất của Điều hòa gia dụng treo tường (RAC) là Ngày sản xuất của Dàn lạnh/ The Manufacture date of Residential Wall-mounted Air conditioner – RAC is Manufacture date of In-Door Unit.
                                                                        ul.warrantylist__dot 
                                                                            li Trong trường hợp Dàn lạnh của Điều hòa vẫn còn trong thời hạn bảo hành, Dàn nóng đã hết hạn bảo hành, sản phẩm được tính vẫn còn trong thời hạn bảo hành. / In case the In-Door Unit is in warranty period and Out-Door Unit is out of warranty, the product will be in warranty period.
                                                                            li Trong trường hợp Dàn lạnh của Điều hòa đã hết hạn bảo hành, Dàn nóng vẫn còn trong thời hạn bảo hành, sản phẩm được tính hết hạn bảo hành. / In case the In-Door Unit is out of warranty and Out-Door Unit is in warranty period, product will be out of warranty.
                                                                    li (iii) Thời hạn bảo hành của Điều khiển kèm theo Tivi là 12 tháng tính từ Ngày mua Tivi nhưng không quá 24 tháng tính từ Ngày sản xuất Điều khiển nếu có Ngày kích hoạt SW hoặc có hóa đơn mua hàng hợp lệ. Trong trường hợp Tivi chưa kích hoạt SW hoặc không có hóa đơn mua hàng, thời hạn bảo hành của Điều khiển là 15 tháng tính từ Ngày sản xuất Điều khiển. Điều khiển bán rời được coi như Linh kiện thay thế khi tính thời hạn bảo hành./ The warranty period of TV remote (TV’s accessory) is 12 months from Purchase date of TV but not over 24 months from Manufacture date of TV remote in case SW is activated or valid invoice. In case the TV is not activated SW or no invoice, the warranty period of TV remote is 15 months from Manufacture date of TV remote. Remotes sold separately are considered as spare parts when calculating warranty periods.
                                                                    li Bảo hành 6 tháng kể từ ngày mua theo sản phẩm cho pin của màn hình đa phương tiện/ 6 months warranty from Purchase date of product for battery of Stand by Me display.
                                                                    li Bảo hành 10 năm kể từ ngày mua cho động cơ dẫn động trực tiếp của máy giặt/ 10 years warranty from Purchase date applied for Washing machine DD motor.
                                                                    li Bảo hành 10 năm kể từ ngày mua cho máy nén của tủ lạnh (áp dụng từ ngày 01/04/2013)/ 10 years warranty from Purchase date applied for Refrigerator compressor (valid from 1st Apr, 2013)
                                                                    li Bảo hành 10 năm kể từ ngày mua cho máy nén của điều hòa gia dụng treo tường inverter (áp dụng từ ngày 01/06/2015)/ 10 years warranty since purchasing date applied for RAC inverter compressor (valid from 1st Jun, 2015)
                                                                    li Bảo hành 10 năm kể từ ngày mua cho máy nén inverter của Tủ chăm sóc quần áo thông minh./ 10 years warranty from Purchase date applied for Styler inverter compressor.
                                                                    li Bảo hành 10 năm kể từ ngày mua cho động cơ thông minh inverter của máy giặt (áp dụng từ ngày 01/06/2017)/ 10 years warranty from Purchase date applied for Washing machine smart inverter motor (valid from Jun, 1st 2017).
                                                                    li Bảo hành 10 năm kể từ ngày mua cho động cơ của Máy lọc không khí/ 10 years warranty from Purchase date applied for motor of air purifier.
                                                                    li Bảo hành 10 năm kể từ ngày mua cho máy nén của Máy sấy quần áo Heat Pump/ 10 years warranty from Purchase date applied for compressor of Heat Pump Dryer.
                                                                    li Bảo hành 10 năm kể từ ngày mua cho động cơ inverter của Máy hút bụi/ 10 years warranty from Purchase date applied for smart inverter motor of vacuum cleaner.
                                                                    li Màn hình chuyên dụng OLED nên dùng cho nội dung động, không dùng cho nội dung tĩnh như ảnh cố định hoặc logo... Thời gian hiển thị nội dung tĩnh không nên vượt quá 18 giờ đối với model 55 inch và 12 giờ đối với model 65 inch/ OLED Signage applied for moving picture only, not for static image. Display time or static image not exceeded 18 hours for model of 55 inch & 12 hours for model of 65 inch.
                                                                    li Bảo hành 15 năm kể từ ngày bàn giao cho Tấm pin năng lượng mặt trời dòng Mono/ 15 years warranty from Date of delivery for Mono model of solar panel.
                                                                    li Bảo hành 25 năm kể từ ngày bàn giao cho Tấm pin năng lượng mặt trời dòng Neon/ 25 years warranty from Date of delivery for Neon model of solar panel.

                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 2. Thời hạn bảo hành cho Sản phẩm đổi mới/ Warranty period for Swap product
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Sản phẩm đổi mới là những sản phẩm được Phòng Bảo hành LG xác nhận đổi cho Khách hàng với điều kiện/ Swap products are products which are confirmed the replacement for customer by LG CS Dept. with conditions:
                                                                span (1) Sản phẩm bị lỗi/ hỏng là sản phẩm chính hãng của LG/ Product which is occurred error/ damage is authentic product of LG.
                                                                span (2) Sản phẩm thuộc 1 trong 2 trường hợp sau/ Product belongs to 1 in 2 cases as below:
                                                                ul.cs-warrantylist__hypen
                                                                    li Trường hợp 1: Sản phẩm đủ điều kiện bảo hành miễn phí (Trong bảo hành – IW) theo Quy định của LG nhưng Khách hàng và LG thỏa thuận đổi sang sản phẩm mới. / Case 1: Product has enough conditions for free-of-charge warranty (In warranty – IW) in accordance with LG regulations; but Customer and LG agree to replace to a new product.
                                                                    li Trường hợp 2: Sản phẩm không đủ điều kiện bảo hành miễn phí (Ngoài bảo hành – OOW) theo Quy định của LG và Khách hàng phải trả chi phí theo thỏa thuận với LG cho việc đổi sang sản phẩm mới này./ Case 2: Product has not enough condition for free-of-charge warranty (Out of warranty – OOW) in accordance with LG regulations; and Customer has to charge replacement fee for this product following the agreement with LG.
                                
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 2.1 Thời hạn bảo hành cho sản phẩm đổi trong bảo hành/ Warranty period for IW
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.cs-warrantylist__hypen
                                                                    li Tại thời điểm đổi mới, thời hạn bảo hành còn lại của sản phẩm cũ từ sáu (06) tháng trở lên thì thời hạn bảo hành của sản phẩm đổi mới sẽ được tính bằng thời hạn còn lại của sản phẩm cũ/ At SWAP time, if remaining warranty period of the old product is from six (06) months upwards, the warranty period of this new product will be calculated equally to the remaining warranty period of old product.
                                                                    li Tại thời điểm đổi mới mà thời hạn bảo hành còn lại của sản phẩm cũ dưới sáu (06) tháng thì thời hạn bảo hành của sản phẩm đổi mới sẽ được tính là sáu (06) tháng/ At SWAP time, if remaining warranty period of the old product is less than six (06) months, the warranty period of this new product will be six (06) months.
                                
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 2.2 Thời hạn bảo hành cho sản phẩm đổi ngoài bảo hành/ Warranty period for OOW Swap product
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Thời hạn bảo hành cho Sản phẩm đổi ngoài bảo hành được tính từ Ngày đổi hàng của sản phẩm được ghi nhận trên hệ thống Bảo hành Thông minh LG (S-Warranty); áp dụng theo thời hạn tính từ Ngày mua của sản phẩm mới (Ngày mua sản phẩm mới được hiểu là Ngày đổi sản phẩm trong trường hợp này)./ Warranty period for OOW Swap product is calculated from Swap date recorded on S-warranty system; applied following the warranty period from Purchase date of new product (Purchase date means Swap date in this case).
                                                                
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline 
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 3. Thời hạn bảo hành cho Linh kiện thay thế hoặc phụ kiện mua rời/ Warranty period for spare part replaced or accessory sold separately
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Linh kiện thay thế trong thời gian bảo hành sản phẩm được áp dụng như sau/ The warranty period of spare part replaced in warranty period will be applied as below:
                                                                ul.cs-warrantylist__hypen
                                                                    li Trường hợp 1: Tại thời điểm sửa chữa thay thế mà thời hạn bảo hành còn lại của sản phẩm từ hơn 04 tháng thì linh kiện thay thế sẽ được bảo hành theo thời gian còn lại của sản phẩm/ At replacement time, the remaining warranty period of product is from 4 months & more, the warranty period of this spare part replaced will be calculated same time with product.
                                                                    li Trường hợp 2: Tại thời điểm sửa chữa thay thế mà thời hạn bảo hành còn lại của sản phẩm ít hơn 04 tháng thì linh kiện thay thế sẽ được bảo hành là bốn (04) tháng, thời hạn này áp dụng cho tất cả các lần thay linh kiện/ At replacement time, the remaining warranty period of product is less than 04 months, the warranty period of this spare part replaced will be calculated four (04) months. This warranty period will be applied for all replacement time.
                                                                span Linh kiện thay thế ngoài thời hạn bảo hành sản phẩm hoặc phụ kiện mua rời được áp dụng bảo hành 4 tháng từ ngày thay linh kiện hoặc ngày mua phụ kiện./ The warranty period of spare part replaced out of warranty period or accessory sold separately will be 4 months from replacement time or Purchase date of accessory.
                                
                                
                                .tab3                           
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Cetak", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 CÁC DỊCH VỤ BẢO HÀNH CƠ BẢN/ Standard warranty services
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 1. Dịch vụ hỗ trợ từ xa/ Remote supporting service
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Để nhận sự trợ giúp từ xa, khách hàng gọi điện đến Trung tâm Thông tin Khách hàng (CIC) theo thông tin dưới đây / To request remote supporting service, customer is recommended to call to Customer Information Center below:
                                                                                                                 
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-semibold-20.font-m-semibold-12(data-cmp-data-layer="")
                                                                strong 
                                                                    a(href="#") Trung Tâm Thông Tin Khách Hàng / Customer Information Center 18001503 
                                                                    | (Miễn phí cước gọi/Toll free) 
                                                                    br
                                                                    a(href="#") Hotline cho Khách hàng nước ngoài: 0901.351.351 hoặc 0374.000.555 
                                                                    | (Nhánh 1: Tổng đài tiếng Hàn Quốc và Nhánh 2: Tổng đài tiếng Anh)
                   
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Các dịch vụ hỗ trợ tại Trung tâm Thông tin Khách hàng/ Support services in CIC:
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.warrantylist__dot
                                                                    li Hướng dẫn sử dụng sản phẩm, hướng dẫn khắc phục sự cố, giải thích tính năng sản phẩm/ Supply product explanation, troubleshooting guide, using guide.
                                                                    li Tiếp nhận yêu cầu bảo hành, báo sửa chữa/ Receive SVC claim.
                                                                    li Cung cấp thông tin liên quan đến bảo hành, thông tin sản phẩm, khuyến mại…/ Supply information regarding warranty, LG product, promotion…
                                                                    li Trợ giúp thông qua trình điều khiển từ xa với các sản phẩm có hỗ trợ tính năng này/ Direct support by Remote SVC (for product that remote SVC function is available).
                                                                    li Hướng dẫn cài đặt, nâng cấp phần mềm/ Functioning, software update guide.
                                                                    li Giải đáp thắc mắc của người dùng qua thư điện tử hoặc Chat trực tuyến/ Consult via Email/Chat.

                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 2. Dịch vụ bảo hành tại nhà/ In-home services
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Để yêu cầu dịch vụ bảo hành tại nhà, khách hàng liên hệ Trung tâm Thông tin Khách hàng 18001503 để lên lịch hẹn. Kỹ thuật viên được ủy quyền của LG sẽ liên lạc với khách hàng và tiến hành việc sửa chữa tại địa chỉ do khách hàng yêu cầu/ To request in-home service, customer call to Customer Information Center. LG authorized technician will visit customer’s place for repairing.
                                      
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Dịch vụ bảo hành, sửa chữa tại nhà được áp dụng cho những loại sản phẩm dưới đây / In-home service applied for following product:
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.warrantylist__dot
                                                                    li OLED/ NanoCell/ UHD/ Full HD/ AlSmart/ 8K/ LED, Projection TV từ 32inch trở lên/ OLED/NanoCell/UHD/ Full HD/ AlSmart/ 8K/ LED, Projection TV 32inch and over;
                                                                    li Màn hình y tế/ Medical Monitor;
                                                                    li Màn hình đa phương tiện/ Stand by Me display;
                                                                    li Màn hình máy tính cao cấp từ 24inch trở lên/ Monitor 24inch and over;
                                                                    li Máy giặt, Máy sấy các loại/ Washing machine/ Laundry Dryer (all types);
                                                                    li Tủ lạnh dung tích từ 70 lít trở lên/ Refrigerator 70 liters and over;
                                                                    li Điều hòa nhiệt độ/ Air conditioner;
                                                                    li Máy lọc không khí/ Air purifier;
                                                                    li Tủ chăm sóc quần áo thông minh/ Styler;
                                                                    li Thiết bị đo thân nhiệt từ xa/ Thermal sensing terminal;
                                                                    li Dàn âm thanh, loa thanh và loa kéo (Home theater, Sound bar & Trolley Speaker);
                                                                    li Laptop/PC Gram (áp dụng có điều kiện: Trong bảo hành và tại 06 thành phố: Hà Nội, Hải Phòng, Đà Nẵng, Cần Thơ, Đồng Nai và TP. Hồ Chí Minh theo danh sách dưới đây/ With conditions: Applied for in warranty only & in 06 cities: Ha Noi, Hai Phong, Da Nang, Can Tho, Dong Nai and Ho Chi Minh City as below table.)

                                                .c-product-list__wrap
                                                    //- .c-cs-header
                                                        // block : text-contents
                                                        //- .c-text-contents
                                                        //-     .title.c-text-contents__headline
                                                        //-         h3.font-w-normal-32.font-m-normal-20 Masa Garansi Berdasarkan Produk
                                                    ul.c-product-list.c-product-list__type2
                                                        each items in itemsVN2
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-24
                                                                    span.font-m-normal-14.font-w-normal-14 Trung tâm bảo hành/ Service center
                                                                    | #{items.title}
                                                                ul
                                                                    li 
                                                                        strong.font-m-normal-14.font-w-normal-14 Thành phố/ City
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText}
                                                                ul.font-m-normal-14.font-w-normal-24 
                                                                    li.c-desc 
                                                                        strong.font-m-normal-14.font-w-normal-14 Địa chỉ/ Address
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText2}
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText2_1}
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Với những sản phẩm áp dụng sửa chữa tại nhà (In-Home), trong trường hợp khách hàng mang đến Cửa hàng/Đại lý, Cửa hàng, Đại lý cần cung cấp thông tin Khách hàng đầy đủ và chính xác (tên khách hàng, địa chỉ, số điện thoại, chứng từ mua hàng hoặc phiếu bảo hành (nếu có)/ For products that applied In-Home service, in case customer brings to Shop/Dealer, that Shop/Dealer need to provide full & exact customer information (customer’s name, address, Tel no., POP or warranty card (if any)).
                                      

                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 3. Dịch vụ bảo hành tại Trung tâm Bảo hành/ Carry-in service
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Để bảo hành tại Trung tâm Bảo hành, khách hàng có thể liên hệ Trung tâm Thông tin Khách hàng 18001503 để được hướng dẫn hoặc trực tiếp mang sản phẩm đến các Trung tâm Bảo hành của LG Electronics cùng với phiếu bảo hành và/hoặc chứng từ mua hàng/ To get carry-in service, customer is requested to call to Customer Information Center 18001503 or bring their product to LG Electronics service centers. Warranty card and/or POP is required.
                                      

                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Dịch vụ bảo hành tại Trung tâm Bảo hành được áp dụng cho các loại sản phẩm dưới đây/ Carry-in service applied for the following product types:
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.warrantylist__dot
                                                                    li TV LCD dưới 32inch/ LCD TV smaller than 32inch;
                                                                    li Tủ lạnh dưới 70 lít/ Refrigerator smaller than 70 liters;
                                                                    li Màn hình mở rộng của máy tính xách tay/Gram view
                                                                    li Máy chiếu/ Projector;
                                                                    li Lò vi sóng gia dụng, Máy hút bụi/ Residental Microwave oven, vacuum cleaner;
                                                                    li Điện thoại di động/ Mobile phone;
                                                                    li Tai nghe không dây/ Bluetooth headset and Earbuds;
                                                                    li Loa di động Bluetooth/ Bluetooth Portable Loudspeaker.
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__headline
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span 4. Dịch vụ sửa chữa ngoài bảo hành/ Out-of-warranty service
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.warrantylist__dot
                                                                    li Dịch vụ sửa chữa ngoài bảo hành được áp dụng cho những sản phẩm đã hết hạn bảo hành hoặc thuộc nhóm Từ chối bảo hành/ Out-of-warranty service is applied for the products that already out of warranty or in scope of rejection (Section I - Item 2).
                                                                    li Khách hàng chi trả toàn bộ các chi phí phát sinh liên quan đến việc sửa chữa ngoài bảo hành bao gồm cả phí kiểm tra và báo phí/ Customer will bear the cost related to out-of-warranty repair, including visit fee & quotation fee.
                                                                    li LG Electronics có quyền từ chối yêu cầu sửa chữa đối với các sản phẩm không do LG Electronics phân phối tại thị trường Việt Nam vì lý do thiếu các linh kiện phù hợp hay các trở ngại khác về mặt kỹ thuật / Any products, which is not distributed by LG Electronics within the territory of Vietnam, can be rejected for any type of service due to lack of spare part or technical problem.

                                .tab4
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Cetak", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 ĐIỀU KHOẢN BẢO HÀNH KHÁC / Other warranty information
                           
                                                .c-cs-header 
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ol.warrantylist__number
                                                                    li Các sản phẩm thương mại: màn hình quảng cáo, điều hòa không khí (máy lạnh), không áp dụng theo chính sách bảo hành này. Các sản phẩm sẽ được bảo hành theo điều khoản quy định trong hợp đồng giữa LG Electronics và Đối Tác/ Commercial product such as: Commercial Display, Commercial Air conditioner, etc, will not be warranted according to this policy. These products warranty will be stipulated in the contract between LG and Partner.
                                                                    li Với các sản phẩm lắp đặt ở vị trí phức tạp/ nguy hiểm, Kỹ thuật viên không thể tiếp cận hoặc không đủ an toàn để tiếp cận sản phẩm trong điều kiện làm việc bình thường, khách hàng cần hỗ trợ phương pháp và/hoặc thiết bị để Kỹ thuật viên thực hiện công việc bảo hành một cách an toàn./ For products installed in difficult/ dangerous positions, which cannot be reached by the Technician or is not safe enough to reach the product under normal working conditions, the Customer needs to support a method and/or an equipment for the Technician to perform safely the warranty service.
                                                                    li Một vài khiếm khuyết nhỏ của màn hình nằm trong tiêu chuẩn sản xuất và sẽ không thuộc điều kiện bảo hành/Bellow dot quantity is not considered as product quality issue
                                                                        ul.cs-warrantylist__hypen
                                                                            li Màn hình Laptop có không quá 4 chấm tối/ Laptop screen not over 4 dark dots
                                                                            li Màn hình Monitor dưới 34 inch có không quá 2 chấm sáng hoặc 7 chấm tối/ Under 34” Monitor with not over 2 white dots or 7 dark dots
                                                                            li Màn hình Monitor từ trên 34 inch có không quá 5 chấm tối/ From 34” and above Monitor with not over 5 dark dots
                                                                    li Chính sách này không áp dụng cho khách hàng mua sản phẩm đã qua sử dụng. Nếu không sửa chữa được thì LG Electronics cũng không có nghĩa vụ đối với các sản phẩm này/ This service policy is not applied for used products. If it’s impossible to repair, LG Electronics has not responsibility for the compensation of the loss.
