extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-ID"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsAT = [
            {
                'title':'Periodo di garanzia',
                'title':'Periodo di garanzia',
                'subtitle':'Prodotto con garanzia scaduta',
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
        ]

    - 
        const itemsID = [
            {
                'title': 'Masa garansi produk',
                'text':'1 Tahun',
            },
            {
                'title': 'Masa garansi layanan',
                'text':'1 Bulan',
            },
        ]  
        
    - 
        const itemsID2 = [
            {
                'title': 'Masa Garansi',
                'text':'Masa Garansi produk telah habis.',
            },
            {
                'title': 'Install / Pemindahan',
                'text':'Pemasangan kembali atau meminta untuk menghubungkan dengan perangkat luar ketika memindahkan perangkat, memasang atau menghubungkannya setelah pembelian produk dari internet, toko.',
            },
            {
                'title': 'Merk/Brand Produk berbeda',
                'text':'Kesalahan akibat merk produk yang berbeda atau pengkoneksian perangkat yang berbeda atas permintaan konsumen.(Router, Decoder, perangkat game, Kabel /penghubung, pompa pembuangan, tempered glass, PC rakitan, Software dari perusahaan lain dan sebagainya)',
            },
            {
                'title': 'Suku cadang pendukung(Expandability)',
                'text':'Bila masa garansi komponen telah habis.(Baterai, Filter, ramps, head, tonner, tabung, tinta dan lainnya)',
                'text2':'Kerusakan produk karena konsumen menggunakan part yang tidak disediakan oleh LG atau item-item tertentu.',
            },
            {
                'title': 'Bencana alam',
                'text':'Kerusakan produk yang diakibatkan oleh bencana alam (Gempa bumi, badai, petir, banjir, dsb.), kebakaran, korosi, beku akibat timbunan es, dan kebocoran gas.',
            },
            {
                'title': 'Kecerobohan Konsumen',
                'text':'Kerusakan produk akibat kesalahan konsumen (termasuk software)',
                'text2':'Kerusakan produk akibat konsumen tidak mengikuti petunjuk dari buku manual',
                'text3':'Kerusakan produk akibat konsumen melakukan rooting, modifikasi sendiri tidak melalui LG service center.',
                'text4':'Kerusakan produk akibat kesalahan konsumen tanpa ada konfirmasi sebelumnya seperti kesalahan pada stop kontak, soket, kabel pararel dan power tidak menyala, kesalahan sambungan listrik dan yang lainnya.',
                'text5':'Permintaan perbaikan oleh konsumen dikarenakan air tidak masuk, air/gas mati dan yang lainnya.',
                'text6':'Permintaan perbaikan oleh konsumen akibat pengaruh lingkungan eksternal seperti layanan internet, antena, sinyal dan lainnya.',
            },
            {
                'title': 'Lain-lain',
                'text':'Konsumen meminta kunjungan meskipun produk tidak rusak(konsumen akan dikenakan biaya meskipun status produk masih dalam masa garansi) Cth: Cek apakah produk normal atau tidak. Bersihkan filter bilamana terjadi sumbatan dan lainnya.',
            },
        ] 
        
    - 
        const itemsID3 = [
            {
                'title': 'Produk secara Umum',
                'subTitle':'Masa Garansi',
                'subText':'1 Tahun',
                'subTitle2':'Rincian',
                'subText2':'Mobile, TV, Kulkas, Mesin cuci, microwave, humidifier, PC, monitor, dan sebagainya.',
                'subText2_1':'※ humidifier : Masa garansi 2 tahun akan berlaku bila customer membeli produk sebelum Januari 2009',
            },
            {
                'title': 'MasProduk Musiman',
                'subTitle':'Masa Garansi',
                'subText':'1 Tahun',
                'subTitle2':'Rincian',
                'subText2':'Air conditioner, Fan, Unit heater, Heater dan sebagainya',
                'subText2_1':'※ System air conditioner : Masa Garansi 1 tahun akan berlaku untuk air conditioner (AC) yang di install sebelum Juni 2013',
            },
        ] 
        
    - 
        const itemsID4 = [
            {
                'title': 'Produk secara Umum',
                'subTitle':'Masa Garansi',
                'subText':'1 Tahun',
                'subTitle2':'Rincian',
                'subText2':'Mobile, TV, Kulkas, Mesin cuci, microwave, humidifier, PC, monitor, dan sebagainya.',
                'subText2_1':'※ humidifier : Masa garansi 2 tahun akan berlaku bila customer membeli produk sebelum Januari 2009',
            },
        ] 

    
    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - ID

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-ID 
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Garansi
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Informasi Garansi dapat dicek disini.
                                br
                                | LG Electronics menjamin biaya perbaikan untuk produk yang masih bergaransi melalui otorisasi Service Center masing-masing. Ketentuan Garansi dari masing-masing produk berbeda, silakan mengacu pada informasi dibawah ini.
                                
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            input#tab3(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 PANDUAN BIAYA PERBAIKAN SERVIS
                                    .tab2.swiper-slide.on
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 PANDUAN UNTUK MASA GARANSI
                                    .tab3.swiper-slide
                                        label(for='tab3').c-tab__title.font-w-normal-20.font-m-normal-16 RENCANA PERPANJANGAN GARANSI

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Cetak", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header.c-cs-main-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Panduan Biaya Perbaikan Servis
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Standard estimasi untuk biaya servis
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Biaya Servis yang akan dikenakan kepada customer berdasarkan kerangka UU Konsumen yang telah diputuskan oleh pemerintah. Biaya Servis terdiri dari harga suku cadang dan biaya perbaikan seperti hal di bawah.(Jika konsumen meminta layanan kunjungan, biaya kunjungan akan ditambah ke dalam biaya Servis)
                                                                
                                                    .c-parts--inner 
                                                        .c-parts__picto
                                                            .c-picto__contents 
                                                                .c-picto.c-picto-1 
                                                                span.font-m-normal-14 Harga Suku Cadang
                                                            .c-signmark.c-plus
                                                            .c-picto__contents
                                                                .c-picto.c-picto-2 
                                                                span.font-m-normal-14 Biaya Perbaikan
                                                            .c-signmark.c-equal
                                                            .c-picto__contents
                                                                .c-picto.c-picto-3 
                                                                span.font-m-normal-14 Biaya Servis
                                                        .c-parts__list.cs-warrantylist__dot
                                                            ol 
                                                                li.font-m-semibold-16.font-w-normal-20 Harga Suku Cadang
                                                                    div.font-m-normal-14.font-w-normal-16 Yaitu harga suku cadang yang digunakan ketika produk diperbaiki.
                                                                li.font-m-semibold-16.font-w-normal-20 Biaya Perbaikan
                                                                    div.font-m-normal-14.font-w-normal-16 Biaya perbaikan yaitu biaya perbaikan berdasarkan tingkat kerusakan.
                                                                li.font-m-semibold-16.font-w-normal-20 Biaya Servis
                                                                    div.font-m-normal-14.font-w-normal-16 Biaya ini dikenakan ketika konsumen meminta kunjungan teknisi kerumah untuk memperbaiki produk yang sudah habis masa garansinya.

                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Layanan Produk In-warranty (Bergaransi)
                                                        .text.c-text-contents__bodycopy
                                                            ol.warrantylist__dot.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer)
                                                                li Terjadi kerusakan atau kegagalan penggunaan dalam kondisi normal selama dalam masa garansi.
                                                                li Kerusakan atau kegagalan yang sama terjadi seperti hal berikut:
                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 Kategori Garansi
                                                    ul.c-product-list
                                                        each items in itemsID
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                //- ul.cs-warrantylist__hypen
                                                                ul.cs-warrantylist__none
                                                                    li 
                                                                        span.font-m-normal-14.font-w-normal-14 #{items.text}
                                                
                                                .c-cs-header.c-cs-notes
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-bold-14.font-m-bold-12 Catatan
                                                        .text.c-text-contents__bodycopy.cs-warrantylist__dot
                                                            ol.cmp-text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer)
                                                                li 
                                                                    span Masa garansi produk terhitung sejak tanggal pembelian
                                                                li 
                                                                    span Masa garansi layanan (servis) terhitung sejak tanggal selesai perbaikan
       
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Layanan Produk Diluar Garansi
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span Layanan Produk Diluar Garansi mengacu pada informasi dibawah ini.

                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 Ketentuan Layanan Produk Diluar Garansi 
                                                    ul.c-product-list
                                                        each items in itemsID2
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                ul.cs-warrantylist__hypen
                                                                    li 
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.text}
                                                                    if items.text2
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 #{items.text2}
                                                                    if items.text3
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 #{items.text3}
                                                                    if items.text4
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 #{items.text4}
                                                                    if items.text5
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 #{items.text5}
                                                                    if items.text6
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 #{items.text6}
                                                
                                                .c-cs-header.c-cs-installation
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Standard Instalasi untuk produk berukuran besar
                                                        .text.c-text-contents__bodycopy.cs-warrantylist__dot
                                                            ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer)
                                                                li 
                                                                    span Biaya instalasi akan dikenakan untuk produk berukuran besar atau produk tertentu meskipun produk masih dalam masa garansi (produk normal/ instalasi AC)
                                                                li 
                                                                    span Biaya instalasi AC berbeda berdasarkan ukuran produk (kapasitas), lokasi pemasangan dan tambahan biaya material lain.
       

                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Cetak", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header.c-cs-main-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Panduan untuk Masa Garansi
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Standar Estimasi untuk Masa Garansi
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span LG Electronics menetapkan masa garansi produk berdasarkan peraturan kompensasi atas kerusakan produk yang di alami konsumen .
                                                                
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Standard estimasi untuk produk
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.cs-warrantylist__hypen
                                                                    li Garansi produk artinya pabrik atau penjual membuat perjanjian dengan konsumen untuk jaminan gratis biaya perbaikan untuk masalah kualitas, cara kerja dan fungsi produk dengan kondisi penggunaan secara normal.
                                                                    li Masa garansi produk dihitung dari tanggal pembelian dan tanggal pembelian produk dikonfirmasi kembali melalui kartu garansi produk. Jika konsumen tidak memiliki bukti pembelian, masa garansi akan dihitung 3 bulan dari No. seri tanggal pembuatan.

                                                    .c-parts--inner 
                                                        .cs-warrantylist__dot
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Hal-hal berikut yang membatalkan Garansi :
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.cs-warrantylist__hypen
                                                                    li 
                                                                        |Mesin cuci rumah tangga digunakan untuk tujuan komersial.
                                                                        br
                                                                        | Mesin cuci : Sauna, pemandian umum, laundry                 
                                                                        br
                                                                        | Kulkas, Rice pot, Micro wave : Restoran, Convenience store
                                                                    li Produk digunakan dengan kondisi lingkungan yang tidak sesuai seperti instalasi di dalam mobil, kapal dan lain sebagainya.
                                                                    li Produk VCR digunakan di dalam toko video, distributor kabel dan ruang control video untuk tujuan komersial

                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.cs-warrantylist__hypen
                                                                    li Garansi tidak berlaku ketika konsumen membeli barang bekas (tiruan, pembelian dari toko elektronik) dan jika kondisi tidak memungkinkan untuk diperbaiki, LG Electronics tidak bertanggung jawab untuk memberikan kompensasi atas kerugian yang di alami.
                                                                    li Garansi akan ditetapkan berdasarkan kontrak / perjanjian dimana produk disediakan melalui perjanjian khusus

                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 Masa Garansi Berdasarkan Produk
                                                    ul.c-product-list.c-product-list__type2
                                                        each items in itemsID3
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                ul
                                                                    li 
                                                                        strong.font-m-normal-14.font-w-normal-14  #{items.subTitle}
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText}
                                                                ul.font-m-normal-14.font-w-normal-24 
                                                                    li.c-desc 
                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.subTitle2}
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText2}
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText2_1}

                                .tab3
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Cetak", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header.c-cs-main-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Rencana Perpanjangan Garansi
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Standar Estimasi untuk Masa Garansi
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span LG Electronics menetapkan masa garansi produk berdasarkan peraturan kompensasi atas kerusakan produk yang di alami konsumen.
                                                                                                                 
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Panduan Perpanjangan Garansi
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span 
                                                                    | Perpanjangan Garansi
                                                                    br
                                                                    | Silakan klik 
                                                                    a(href="#") tautan ini 
                                                                    | untuk mendapatkan perpanjangan garansi resmi dari LG.
               
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Standard estimasi untuk produk
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.cs-warrantylist__hypen
                                                                    li Garansi produk artinya pabrik atau penjual membuat perjanjian dengan konsumen untuk jaminan gratis biaya perbaikan untuk masalah kualitas, cara kerja dan fungsi produk dengan kondisi penggunaan secara normal.
                                                                    li Masa garansi produk dihitung dari tanggal pembelian dan tanggal pembelian produk dikonfirmasi kembali melalui kartu garansi produk. Jika konsumen tidak memiliki bukti pembelian, masa garansi akan dihitung 3 bulan dari No. seri tanggal pembuatan.

                                                    .c-parts--inner 
                                                        .cs-warrantylist__dot
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Hal-hal berikut yang membatalkan Garansi :
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.cs-warrantylist__hypen
                                                                    li 
                                                                        |Mesin cuci rumah tangga digunakan untuk tujuan komersial.
                                                                        br
                                                                        | Mesin cuci : Sauna, pemandian umum, laundry                 
                                                                        br
                                                                        | Kulkas, Rice pot, Micro wave : Restoran, Convenience store
                                                                    li Produk digunakan dengan kondisi lingkungan yang tidak sesuai seperti instalasi di dalam mobil, kapal dan lain sebagainya.
                                                                    li Produk VCR digunakan di dalam toko video, distributor kabel dan ruang control video untuk tujuan komersial

                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.cs-warrantylist__hypen
                                                                    li Garansi tidak berlaku ketika konsumen membeli barang bekas (tiruan, pembelian dari toko elektronik) dan jika kondisi tidak memungkinkan untuk diperbaiki, LG Electronics tidak bertanggung jawab untuk memberikan kompensasi atas kerugian yang di alami.
                                                                    li Garansi akan ditetapkan berdasarkan kontrak / perjanjian dimana produk disediakan melalui perjanjian khusus

                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 Masa Garansi Berdasarkan Produk
                                                    ul.c-product-list.c-product-list__type2
                                                        each items in itemsID4
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                ul
                                                                    li 
                                                                        strong.font-m-normal-14.font-w-normal-14  #{items.subTitle}
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText}
                                                                ul.font-m-normal-14.font-w-normal-24 
                                                                    li.c-desc 
                                                                        strong.font-m-normal-14.font-w-normal-14 #{items.subTitle2}
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText2}
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText2_1}