extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-CA"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    -
        const itemsIT = [
            {
                'prdTypes':'Téléviseurs à écran plat (OLED / ACL)',
                'info':'1 an pièces & main d’œuvre',
            },
            {
                'prdTypes':'Projecteur',
                'info':'1 an garantie de remplacement (abus physique non couvert sur garantie)',
            },
            {
                'prdTypes':'Lecteurs/Enregistreurs DVD/Blu-ray',
                'info':'1 an toutes pièces garantie de remplacement',
            },
            {
                'prdTypes':'Systèmes cinéma maison',
                'info':'1 an pièces & main d’œuvre (certains modèles sont garantie de remplacement seulement)',
            },
            {
                'prdTypes':'Télécommande',
                'info':'1 an garantie de remplacement (abus physique non couvert sur garantie)',
            },
            {
                'prdTypes':'Réfrigérateurs',
                'normal':true,
                'list1':'Marque LG: 1 an pièces & main d’œuvre | Studio LG: 2 ans pièces & main d’œuvre',
                'list2':'7 ans sur les pièces du système scellé (Pièces seulement)*',
                'list3':'10 ans sur le compresseur linéaire (Pièces seulement)*',
                'listDesc':'*selon le modèle, certaines conditions peuvent s’appliquer.'
            },
            {
                'prdTypes':'Fours à micro-ondes à hotte intégrée',
                'normal':true,
                'list1':'1 an pièces & main d’œuvre',
                'list2':'5 ans pour le magnétron (pièce seulement)',
                'list3':'10 ans pour le magnétron (pièce seulement)',
            },
            {
                'prdTypes':'Fours à micro-ondes de type comptoir',
                'normal':true,
                'list1':'1 an pièces & main d’œuvre',
                'list2':'5 ans pour le magnétron (pièce seulement)',
                'list3':'10 ans pour le magnétron (pièce seulement)',
            },
            {
                'prdTypes':'Cuisinières',
                'normal':true,
                'list1':'1 an pièces & main d’œuvre | Studio LG: 2 ans pièces & main d’œuvre',
                'list2':'(incluant surface de cuisson à éléments radiants)',
            },
                        {
                'prdTypes':'Lave-vaisselles',
                'normal':true,
                'list1':'Pour les modèles fabriqués avant 1er mai, 2022:',
                'list2':'1 an (pièces et main d’oeuvre): marque LG | 2 ans (pièces et main d’oeuvre): marque LG studio',
                'list3':'5 ans pour la carte-mère, le panier, le revêtement de porte en acier et la cuve (pièces uniquement)',
                'list4':'10 ans pour le moteur à entraînement direct (pièce uniquement). Consultez le manuel pour plus amples détails.',
                'list5':'Pour les modèles fabriqués après le 1er mai, 2022:',
                'list6':'1 an (pièces et main d’oeuvre): marque LG | 2 ans (pièces et main d’oeuvre): marque LG studio',
                'list7':'2 ans pour la carte-mère, le panier, le revêtement de porte en acier et la cuve (pièces uniquement): marque LG',
                'list8':'5 ans pour la carte-mère, le panier, le revêtement de porte en acier et la cuve (pièces uniquement): marque LG studio',
                'list9':'10 ans pour le moteur à entraînement direct (pièce uniquement). Consultez le manuel pour plus amples détails.',
            },
            {
                'prdTypes':'Aspirateurs',
                'normal':true,
                'list1':'Marque LG: modèle LUV200R & LUV300B – 5 ans pièces & main d’œuvre à l’exception du moteur à agitateur, celui-ci 3 ans (pièce seulement)',
                'list2':'Marque LG: modèle LCV700 & LCV800 – 3 ans pièces & main d’œuvre',
                'list3':'Aspirateur CordZero A906SM de LG - Pièces et main-d’oeuvre: 1 an, moteur à inversion intelligent(aspiration): 10 ans',
            },
            {
                'prdTypes':'Laveuse',
                'normal':true,
                'list1':'1 an sur les pièces et la main d’œuvre',
                'list2':'10 ans sur le moteur DirectDrive (pièce seulement)',
                'list3':'3 ans sur le tambour en acier inoxydable',
            },
            {
                'prdTypes':'Sécheuses',
                'normal':true,
                'list1':'1 an pièces et main d’oeuvre',
                'list2':'3 ans (pièce seulement) cuve de la sécheuse',
            },
            {
                'prdTypes':'Styler',
                'normal':true,
                'list1':'1 an pièces et main d’oeuvre',
                'list2':'10 ans Compresseur à inversion (pièce seulement)',
            },

            {
                'prdTypes':'Climatiseurs à air',
                'info':'Veuillez vous référer au manuel d’usager car la garantie diffère pour tous modèles selon le modèle et numéro de série.',
            },
            {
                'prdTypes':'Déshumidificateurs',
                'normal':true,
                'list1':'Gold Star: 1 an pièces & main d’œuvre',
                'list2':'Marque LG: 1 an pièces & main d’œuvre',
                'list3':'5 ans pour le compresseur (pièce seulement)',
            },
            {
                'prdTypes':'Ordinateurs bloc-notes',
                'info':'1 an pièces & main d’œuvre',
            },
            {
                'prdTypes':'Hospitalité',
                'info':'2 ans pièces & main d’œuvre',
            },
            {
                'prdTypes':'Panneaux d’affichage commercial',
                'info':'2 ans pièces & main d’œuvre',
            },
            {
                'prdTypes':'Commercial léger',
                'info':'2 ans pièces & main d’œuvre',
            },
            {
                'prdTypes':'Signalisation',
                'info':'3 ans pièces & main d’œuvre',
            },
                        {
                'prdTypes':'Moniteurs ACL',
                'info':'1 an pièces & main d’œuvre (certains modèles sont garantie de remplacement seulement)',
            },
        ]
    -
        const itemsIT_1 = [
            {
                'prdTypes':'Téléviseurs à écran plat (OLED / ACL)',
                'info':'1 an pièces & main d’œuvre',
            },
            {
                'prdTypes':'Projecteur',
                'info':'1 an garantie de remplacement (abus physique non couvert sur garantie)',
            },
            {
                'prdTypes':'Lecteurs/Enregistreurs DVD/Blu-ray',
                'info':'1 an toutes pièces garantie de remplacement',
            },
            {
                'prdTypes':'Systèmes cinéma maison',
                'info':'1 an pièces & main d’œuvre (certains modèles sont garantie de remplacement seulement)',
            },
            {
                'prdTypes':'Télécommande',
                'info':'1 an garantie de remplacement (abus physique non couvert sur garantie)',
            },
        ]
    -
        const itemsIT_2 = [
            {
                'prdTypes':'Réfrigérateurs',
                'normal':true,
                'list1':'Marque LG: 1 an pièces & main d’œuvre | Studio LG: 2 ans pièces & main d’œuvre',
                'list2':'7 ans sur les pièces du système scellé (Pièces seulement)*',
                'list3':'10 ans sur le compresseur linéaire (Pièces seulement)*',
                'listDesc':'*selon le modèle, certaines conditions peuvent s’appliquer.'
            },
            {
                'prdTypes':'Fours à micro-ondes à hotte intégrée',
                'normal':true,
                'list1':'1 an pièces & main d’œuvre',
                'list2':'5 ans pour le magnétron (pièce seulement)',
                'list3':'10 ans pour le magnétron (pièce seulement)',
            },
            {
                'prdTypes':'Fours à micro-ondes de type comptoir',
                'normal':true,
                'list1':'1 an pièces & main d’œuvre',
                'list2':'5 ans pour le magnétron (pièce seulement)',
                'list3':'10 ans pour le magnétron (pièce seulement)',
            },
            {
                'prdTypes':'Cuisinières',
                'normal':true,
                'list1':'1 an pièces & main d’œuvre | Studio LG: 2 ans pièces & main d’œuvre',
                'list2':'(incluant surface de cuisson à éléments radiants)',
            },
                        {
                'prdTypes':'Lave-vaisselles',
                'normal':true,
                'list1':'Pour les modèles fabriqués avant 1er mai, 2022:',
                'list2':'1 an (pièces et main d’oeuvre): marque LG | 2 ans (pièces et main d’oeuvre): marque LG studio',
                'list3':'5 ans pour la carte-mère, le panier, le revêtement de porte en acier et la cuve (pièces uniquement)',
                'list4':'10 ans pour le moteur à entraînement direct (pièce uniquement). Consultez le manuel pour plus amples détails.',
                'list5':'Pour les modèles fabriqués après le 1er mai, 2022:',
                'list6':'1 an (pièces et main d’oeuvre): marque LG | 2 ans (pièces et main d’oeuvre): marque LG studio',
                'list7':'2 ans pour la carte-mère, le panier, le revêtement de porte en acier et la cuve (pièces uniquement): marque LG',
                'list8':'5 ans pour la carte-mère, le panier, le revêtement de porte en acier et la cuve (pièces uniquement): marque LG studio',
                'list9':'10 ans pour le moteur à entraînement direct (pièce uniquement). Consultez le manuel pour plus amples détails.',
            },
            {
                'prdTypes':'Aspirateurs',
                'normal':true,
                'list1':'Marque LG: modèle LUV200R & LUV300B – 5 ans pièces & main d’œuvre à l’exception du moteur à agitateur, celui-ci 3 ans (pièce seulement)',
                'list2':'Marque LG: modèle LCV700 & LCV800 – 3 ans pièces & main d’œuvre',
                'list3':'Aspirateur CordZero A906SM de LG - Pièces et main-d’oeuvre: 1 an, moteur à inversion intelligent(aspiration): 10 ans',
            },
        ]
    -
        const itemsIT_3 = [
            {
                'prdTypes':'Laveuse',
                'normal':true,
                'list1':'1 an sur les pièces et la main d’œuvre',
                'list2':'10 ans sur le moteur DirectDrive (pièce seulement)',
                'list3':'3 ans sur le tambour en acier inoxydable',
            },
            {
                'prdTypes':'Sécheuses',
                'normal':true,
                'list1':'1 an pièces et main d’oeuvre',
                'list2':'3 ans (pièce seulement) cuve de la sécheuse',
            },
            {
                'prdTypes':'Styler',
                'normal':true,
                'list1':'1 an pièces et main d’oeuvre',
                'list2':'10 ans Compresseur à inversion (pièce seulement)',
            },
        ]
    -
        const itemsIT_4 = [
            {
                'prdTypes':'Climatiseurs à air',
                'info':'Veuillez vous référer au manuel d’usager car la garantie diffère pour tous modèles selon le modèle et numéro de série.',
            },
            {
                'prdTypes':'Déshumidificateurs',
                'normal':true,
                'list1':'Gold Star: 1 an pièces & main d’œuvre',
                'list2':'Marque LG: 1 an pièces & main d’œuvre',
                'list3':'5 ans pour le compresseur (pièce seulement)',
            },
        ]
    -
        const itemsIT_5 = [
            {
                'prdTypes':'Ordinateurs bloc-notes',
                'info':'1 an pièces & main d’œuvre',
            },
        ]
    -
        const itemsIT_6 = [
            {
                'prdTypes':'Hospitalité',
                'info':'2 ans pièces & main d’œuvre',
            },
            {
                'prdTypes':'Panneaux d’affichage commercial',
                'info':'2 ans pièces & main d’œuvre',
            },
            {
                'prdTypes':'Commercial léger',
                'info':'2 ans pièces & main d’œuvre',
            },
            {
                'prdTypes':'Signalisation',
                'info':'3 ans pièces & main d’œuvre',
            },
                        {
                'prdTypes':'Moniteurs ACL',
                'info':'1 an pièces & main d’œuvre (certains modèles sont garantie de remplacement seulement)',
            },
        ]


    -
        const items2 = [
            {
                'prdTypes':'TVs2222222222222222222222222222',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'note' : false,
                'onlybeforNote':true,
                'beforeNoteText' : '5 year premium OLED panel warranty on LG Z1 and G Series OLED TVs – this extended warranty is applicable to the panel only. The consumer will be charged for labour after the 12 month product warranty has expired. No registration required. Available in the UK only. Click here to find out more.',
                'link': 'Click here',
                'note2' : ' to find out more.',
                'useImg': false,
                'moreBtn':true,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
        ]
    - 
        const itemsAT = [
            {
                'title':'Periodo di garanzia',
                'subtitle':'Prodotto con garanzia scaduta',
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
            {
                'title':'Prodotto di altro marchio',
                'subtitle':'Prodotto difettoso di altri marchi/eventuali dispositivi esterni collegati al prodotto per cui si richiede assistenza (Router, decoder, console di gioco, cablaggi, connessioni a reti domestiche e tutto ciò che non è strettamente correlato al prodotto acquistato)'
            },
            {
                'title':'Parti soggette ad usura',
                'list1':'Nel caso in cui la garanzia estesa della parte sia scaduta/ciclo di durata terminato (Batteria, filtri, guarnizioni , parti estetiche e così via )',
                'list2':'Nel caso in cui il guasto sia dovuto all’utilizzo di parti non originali e non fornite da LG'
            },
            {
                'title':'Calamità naturali',
                'subtitle':'Nel caso in cui il guasto sia dovuto a calamità naturali (terremoto, temporale, corto circuito, maremoto, incendio, danno casusato da vento, grandine, congelamento e così via).'
            },
            {
                'title':'Incuria',
                'list1':'Nel caso in cui il prodotto non funzioni per danno causato (incluso danno al software)',
                'list2':'Nel caso in cui il guasto del prodotto sia imputabile al cattivo utilizzo e non sia in linea con quanto riportato e dichiarato nel manuale d’uso.',
                'list3':'Nel caso in cui il guasto del prodotto sia imputabile ad un’operazione di “rooting” effettuata impropriamente dal cliente.',
                'list4':'Nel caso in cui il guasto sia causato da incuria senza alcuna possibilità di previsione, come guasti derivanti da corto circuiti, prese elettriche, errate connessioni, collegamenti e così via.',
                'list5':'Nel caso in cui il cliente richieda assistenza, ove si verifichi mancata fornitura dell’acqua, interruzione dell’acqua / gas e così via.',
                'list6':'Nel caso in cui il cliente richieda assistenza in presenza di cause esterne come guasto del servizio internet, del segnale di antenna, di linea e così via',
            },
            {
                'title':'Interventi da parte di personale non autorizzato o utilizzo professionale',
                'list1':'Nel caso di alterazione o di lavori di riparazione eseguiti da persona non autorizzata da LG Electronics, di manomissione o rimozione del numero di serie del prodotto, di rilavorazione o utilizzo professionale del prodotto, intendendosi per tale l’utilizzo da parte dell’utente nell’ambito della propria attività imprenditoriale, commerciale, artigianale o professionale.',
            },
            {
                'title':'Varie',
                'list1':'Laddove il cliente richieda un’assistenza anche se il prodotto non presenti alcun difetto (L’uscita sarà addebitata al cliente nonostante il prodotto sia in garanzia) ex) Verifica di una corretta installazione Pulizia e manutenzione preventiva ( filtri/guarnizioni e così via)',
                'desc':'※ Prima di rivolgersi al Servizio Assistenza si consiglia di consultare, nella pagina web di supporto, guide e tutorial a soluzione di eventuali anomalìe'
            },
        ]
    

    mixin accordion(items)
        .accordion(role='tablist')
            each item, i in itemsIT
                .accordion__item
                    .accordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes} 

                    .accordion__content(role='tabpanel')
                        if item.prdname
                            .c-warranty__text
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14 Prodotto
                                    dd.font-m-normal-14.font-w-normal-24 #{item.prdname}
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14 Periodo di garanzia
                                    dd.font-m-normal-14.font-w-normal-16 #{item.perioddue}
                                if item.conditionstatus
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14 Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16 #{item.conditionstatus}
                                            if item.conditionbold3
                                                span.cs-bold #{item.conditionbold3}
                                                | #{item.conditionstatus1a}
                                else 
                                    block
                                if item.conditionboldtype
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14 Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16
                                            if item.conditionboldtype
                                                span.cs-bold #{item.conditionboldtype}
                                                br
                                                | #{item.conditionstatus2atype}
                                                span.cs-bold #{item.conditionbold2type}
                                                | #{item.conditionstatus2btype}
                                                if item.conditionstatus2c
                                                    br
                                                    | #{item.conditionstatus2c}
                                else 
                                    block
                        if item.prdname2
                            .c-warranty__text
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Prodotto
                                    dd.font-m-normal-14.font-w-normal-24 #{item.prdname2}
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Periodo di garanzia
                                    dd.font-m-normal-14.font-w-normal-16 #{item.perioddue2}
                                if item.conditionstatus2
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16 #{item.conditionstatus2}
                                            if item.conditionbold
                                                br
                                                span.cs-bold #{item.conditionbold}
                                                br
                                                | #{item.conditionstatus2a}
                                                span.cs-bold #{item.conditionbold2}
                                                | #{item.conditionstatus2b}
                                                if item.conditionstatus2c
                                                    br
                                                    | #{item.conditionstatus2c}
                                else 
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16
                                            if item.conditionbold
                                                span.cs-bold #{item.conditionbold}
                                                br
                                                | #{item.conditionstatus2a}
                                                span.cs-bold #{item.conditionbold2}
                                                | #{item.conditionstatus2b}
                                                if item.conditionstatus2c
                                                    br
                                                    | #{item.conditionstatus2c}
                        if item.prdnamespecial 
                            .c-warranty__text
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Prodotto
                                    dd.font-m-normal-14.font-w-normal-24 #{item.prdnamespecial}
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Periodo di garanzia
                                    dd.font-m-normal-14.font-w-normal-16 #{item.periodduespecial}
                                if item.conditionstatusspecial
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16 #{item.conditionstatusspecial}
                                            if item.conditionboldspecial
                                                span.cs-bold #{item.conditionboldspecial}
                                                | #{item.conditionstatusspecial1}        
                        if item.prdnamespecial2
                            .c-warranty__text
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Prodotto
                                    dd.font-m-normal-14.font-w-normal-24 #{item.prdnamespecial2}
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Periodo di garanzia
                                    dd.font-m-normal-14.font-w-normal-16 #{item.periodduespecial2}
                                if item.conditionstatusspecial2
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16 #{item.conditionstatusspecial2}
                                            if item.conditionboldspecial2
                                                span.cs-bold #{item.conditionboldspecial2}
                                                | #{item.conditionstatusspecial2a}      
                        .c-warranty__desc.font-m-normal-14.font-w-normal-16
                            | #{item.desc}
                            br
                            | #{item.desc2}
                            if item.desc2a 
                                br
                                | #{item.desc2a} 
                                br
                                | #{item.desc2b} 
                                
                            span.cs-bold #{item.bold} 
                            | #{item.desc3}
                            br
                            | #{item.desc4} 
                            if item.desc5
                                br
                                | #{item.desc5} 
                            if item.desc6
                                br
                                | #{item.desc6} 
                            a(href="#") #{item.link}      
                        
    mixin nonAccordion(items)
        .cs-nonAccordion(role="list")
            each item, i in items 
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion2(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_1 
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion3(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_2 
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion4(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_3
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion5(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_4
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion6(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_5
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion7(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_6
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}


    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - CA_FR

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-CA 
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Information de garantie
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Obtenez toute information de garantie ici
                                br
                                | LG Electronics assure le service de ses produits par l'intermédiaire de ses propres techniciens de service et centres de service agréés. Chaque produit LG a un ensemble différent de conditions de garantie. Veuillez donc vous référer aux informations ci-dessous, visitez notre page 
                                a(href="https://www.lg.com/ca_en/support/manuals" target="_black") Manuel
                                |  ou vous pouvez 
                                a(href="https://www.lg.com/ca_en/support/contactus" target="_black") nous contacter.

                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 Information de garantie 
                                    .tab2.swiper-slide
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 Soutien garantie

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                #container.container.second-container
                                                    .button.c-print-area
                                                        +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Imprimer", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                +headline('font-w-light-56 font-m-light-28',h2,'POLITIQUE DU SERVICE DE RÉPARATION LG')
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.cs-flex.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                    span En garantie:
                                                                    .button.font-w-normal-14
                                                                        +linkButton({name: 'En savoir plus >', type:'text', msize:'large', underline:false, href:'https://www.lg.com/ca_fr/soutien/reparation-garantie/demande-reparation-ouvrir-session'})(target="_blank")
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                                                    span.cs-bold Costs: 
                                                                    | Un produit LG sous la garantie du fabricant sera couvert par LG pour les pièces et la main-d'œuvre conformément aux conditions fournies sur la carte de garantie qui accompagne votre produit au moment de l'achat.
                                                                    br
                                                                    span.cs-bold Garantie: 
                                                                    | Le service de garantie à domicile est disponible dans un rayon de 150 km du centre de service agréé LG (CSA) le plus près de votre résidence. Si votre produit se trouve à l’extérieur de ce rayon, il en reviendra votre responsabilité d’apporter l'appareil au centre de service autorisé pour la réparation.
                                                                    br
                                                                    span.cs-bold Durée “en garantie”:
                                                                    | Garantie standard est d’un an pièces et main d'œuvre à partir de la date d'achat figurant sur la facture de vente (climatiseurs exclus). Nous vous invitons à contacter le service à la clientèle LG Electronics Canada (1-888-542-2623) et parler à un représentant pour toute question de soutien pertinente. Le représentant LG répartira un fournisseur de service autorisé LG à votre domicile afin de fournir le soutien de garantie nécessaire.
                                                                    br
                                                                    span.cs-underline Vous (le client) devez être le propriétaire original de l'appareil en cours d’entretien
                                                                    |  et devez présenter au réparateur LG la facture de vente dudit appareil car celui-ci nécessitera une copie pour sa réclamation envers LG Electronics Canada.
                                                                    br
                                                                    span.cs-underline Le réparateur a le droit de refuser de réparer si le client n’est pas en mesure de produire la facture de vente.
                                                                    |  L'unité doit avoir l’identifiant aux numéros de modèle et série LG visible que le technicien puisse prendre une photo pour le dossier de réparation. Malheureusement LG ne couvrira pas sur garantie un produit LG dont l’image du numéro de série est illisible ou manquant. Les produits remis à neuf ou de détaillants de produits seconde main (revendeurs) ne seront pas couverts. Consultez le document de garantie qui a été fourni avec votre produit au moment de l'achat pour les termes et conditions complets.

                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.cs-flex.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                    span Hors garantie:
                                                                    .button.font-w-normal-14
                                                                        +linkButton({name: 'En savoir plus >', type:'text', msize:'large', underline:false, href:'https://lgoutofwarranty.ca/fr/main/home.do'})(target="_blank")
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                                                    | Dès que la garantie d’un produit LG s’est écoulée, ou qu’il s’agisse d’un produit remis à neuf, ou ayant des avarices non couverts par la garantie telles que bosses, rayures ou fissures en raison d’abus physique ou, un produit de seconde main (passé du propriétaire original), vous (le client), êtes responsable du coût de l'ensemble de la réparation incluant pièces, main d’œuvre et kilométrage (si le prestataire de service l'exige). Vous (le client) êtes invités à contacter le service à la clientèle LG Electronics Canada (1-888-542-2623) pour parler à un représentant pour toute question de soutien pertinente et pour organiser une réparation hors garantie. Nous vous invitons à tirer parti de notre programme «Un Prix» en tant que solution à coût peu élevé pour toute réparation effectuée hors garantie. Peu importe, LG répartira un technicien agréé chez vous (le client) pour effectuer la réparation du produit. Dans le cas où vous ne participez pas à notre programme «Un Prix», vous (le client) serez responsable des frais de réparation versés au réparateur. Veuillez noter,
                                                                    span.cs-underline le technicien facturera à ses propres tarifs d'atelier, ses propres taux de main-d'œuvre, frais de kilométrage et taux de pièces de norme LG.
                                                                    br
                                                                    span.cs-bold Garantie réparation 90-jours:
                                                                    | Les pièces de réparation hors-garantie qui ont été remplacées à un coût (au client) ont une garantie de 90 jours. Cette garantie 90-jours est pour la pièce(s) spécifique(s) ayant échouée(s) et remplacée(s) lors de l’appel de service original. LG ne la couvrira que pour seulement 90 jours de la date d’installation de cette 
                                                                    span.cs-underline pièce(s) &amp; main d’œuvre particulière.
                                                                    br
                                                                    |  LA GARANTIE LIMITÉE NE COUVRE PAS 
                                                                    |  tout dommage occasionné par la transportation et manutention, y compris les égratignures, bosses, ébréchures et / ou autres dommages à la finition de votre produit, sauf si ces dommages résultent de défauts de matériaux ou de fabrication et sont signalés dans un délai d'une (1) semaine de la livraison.

                                                    // CONTENT
                                                    section.c-cs-warranty.c-warranty__wrap
                                                        .contents-area
                                                            //- .cs-second-tabbg
                                                            .cs-tab.cs-second-tab
                                                                .cs-second-tabbg
                                                                input#tab1-1(checked='checked' type='radio' name='category')
                                                                input#tab2-1(type='radio' name='category')
                                                                input#tab3-1(type='radio' name='category')
                                                                input#tab4-1(type='radio' name='category')
                                                                input#tab5-1(type='radio' name='category')
                                                                input#tab6-1(type='radio' name='category')
                                                                input#tab7-1(type='radio' name='category')
                                                                .c-carousel__handler
                                                                    .cmp-carousel__actions.prev
                                                                        +carouselBtn({type:"pagination", direction:"prev"})(aria-label="")
                                                                    .cmp-carousel__actions.next
                                                                        +carouselBtn({type:"pagination", direction:"next"})(aria-label="")
                                                                .tabs.swiper-container.csSwiper.csSwiper2.swiper
                                                                    .tabs__items.swiper-wrapper
                                                                        .tab1-1.swiper-slide.on
                                                                            label.c-tabs(for='tab1-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-all-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 All
                                                                        .tab2-1.swiper-slide
                                                                            label.c-tabs(for='tab2-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-tv-audio-video-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 TV/Audio/Video
                                                                        .tab3-1.swiper-slide
                                                                            label.c-tabs(for='tab3-1') 
                                                                                //- +printLazyImage('../../assets/icon/icon-warranty-kitchen-64-64_normal.svg')
                                                                                +printLazyImage('../../assets/icon/icon-warranty-appliance-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Appareils
                                                                        .tab4-1.swiper-slide
                                                                            label.c-tabs(for='tab4-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-laundry-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Appareils pour la lessive
                                                                        .tab5-1.swiper-slide
                                                                            label.c-tabs(for='tab5-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-aircon-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Solutions Relatives a L'air
                                                                        .tab6-1.swiper-slide
                                                                            label.c-tabs(for='tab6-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-it-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Informatique
                                                                        .tab7-1.swiper-slide
                                                                            label.c-tabs(for='tab7-1') 
                                                                                +printLazyImage('../../assets/icon/icon-info-products-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Information display

                                                                section.c-second-section.c-sticky__contents
                                                                    .tab1-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                                    +nonAccordion(itemsIT)
                                                                    .tab2-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion2(itemsIT)
                                                                    .tab3-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion3(itemsIT)
                                                                    .tab4-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion4(itemsIT)
                                                                    .tab5-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion5(itemsIT)
                                                                    .tab6-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion6(itemsIT)
                                                                    .tab7-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion7(itemsIT)
                                
                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                    .button.c-print-area
                                                        +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Imprimer", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                                            .c-hero-banner.font-white
                                                // block : floating-contents
                                                .c-floating-contents
                                                    .c-floating-contents__floor
                                                        // block : image
                                                        .image.c-image.c-hero-banner__image
                                                            +printLazyPicture('../../mock/CS0078/img-CS0078-CA-MO.png', 'https://via.placeholder.com/1440x304/ccc/000/?text=1440x304')

                                                    .c-floating-contents__floating
                                                        .c-hero-banner__contents
                                                            .c-floating-contents__main-contents
                                                                // block : text-contents
                                                                .c-text-contents.width-narrow
                                                                    .title.c-text-contents__headline
                                                                        .cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer='')
                                                                            h2.cmp-title__text
                                                                            | Information de réparation de cellulaire
                                                                    .button.c-cta
                                                                        a.cmp-button.c-button.c-button--default.default.m-small.w-medium(href='https://lgoutofwarranty.ca/fr/main/mobile.do', data-link-name='learn_more', target="_blank", data-link-destination='', data-link-menu='', data-link-page-type='', data-cmp-data-layer='')
                                                                            span.cmp-button__text.c-button__text En savoir plus
                                            .c-hero-banner.font-white
                                                // block : floating-contents
                                                .c-floating-contents
                                                    .c-floating-contents__floor
                                                        // block : image
                                                        .image.c-image.c-hero-banner__image
                                                            +printLazyPicture('../../mock/CS0078/img-CS0078-CA-MO.png', 'https://via.placeholder.com/1440x304/ccc/000/?text=1440x304')

                                                    .c-floating-contents__floating
                                                        .c-hero-banner__contents
                                                            .c-floating-contents__main-contents
                                                                // block : text-contents
                                                                .c-text-contents.width-narrow
                                                                    .title.c-text-contents__headline
                                                                        .cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer='')
                                                                            h2.cmp-title__text
                                                                            | Soutien hors garantie
                                                                    .button.c-cta
                                                                        a.cmp-button.c-button.c-button--default.default.m-small.w-medium(href='https://lgoutofwarranty.ca/fr/main/home.do', data-link-name='learn_more', target="_blank", data-link-destination='', data-link-menu='', data-link-page-type='', data-cmp-data-layer='')
                                                                            span.cmp-button__text.c-button__text En savoir plus
                                            .c-hero-banner.font-white
                                                // block : floating-contents
                                                .c-floating-contents
                                                    .c-floating-contents__floor
                                                        // block : image
                                                        .image.c-image.c-hero-banner__image
                                                            +printLazyPicture('../../mock/CS0078/img-CS0078-CA-MO.png', 'https://via.placeholder.com/1440x304/ccc/000/?text=1440x304')

                                                    .c-floating-contents__floating
                                                        .c-hero-banner__contents
                                                            .c-floating-contents__main-contents
                                                                // block : text-contents
                                                                .c-text-contents.width-narrow
                                                                    .title.c-text-contents__headline
                                                                        .cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer='')
                                                                            h2.cmp-title__text
                                                                            | Garantie prolongée
                                                                    .button.c-cta
                                                                        a.cmp-button.c-button.c-button--default.default.m-small.w-medium(href='https://fr.lgcanadaparts.com/extendedwarranties', data-link-name='learn_more', target="_blank", data-link-destination='', data-link-menu='', data-link-page-type='', data-cmp-data-layer='')
                                                                            span.cmp-button__text.c-button__text En savoir plus

