extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078countryountry = "CS0078-CN"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsCN = [
            {
                'title':'电视机',
                'product':'OLED, LCD（CCFL/LED）',
                'warranty':'1',
                'warranty2':'显示屏(模组）及内部导光组件、背光组件、逻辑组件（T-CON板）、高频调谐器',
                'warranty2_1':'3',
                'part':'壁挂架',
                'rate':'0.10%',
            },
            {
                'title':'电视机',
                'product':'OLED, LCD（CCFL/LED）',
                'warranty':'1',
                'warranty2':'电源板、主板（信号处理板',
                'warranty2_1':'2',
                'part':'壁挂架',
                'rate':'0.10%',
            },
            {
                'title':'电视机',
                'product':'PDP',
                'warranty':'1',
                'warranty2':'显示屏、驱动组件、逻辑组件、高频调谐器',
                'warranty2_1':'3',
                'part':'壁挂架',
                'rate':'0.10%',
            },
            {
                'title':'电视机',
                'product':'PDP',
                'warranty':'1',
                'warranty2':'电源板、VSC板（信号处理板）',
                'warranty2_1':'2',
                'part':'壁挂架',
                'rate':'0.10%',
            },
            {
                'title':'电视机',
                'product':'CRT、PJT',
                'warranty':'1',
                'warranty2':'显像管（投影管）、高频头、行输出变压器、集成电路',
                'warranty2_1':'3',
                'part':'-',
                'rate':'0.10%',
            },
            {
                'title':'显示器',
                'product':'LCD-CCFL背光',
                'warranty':'1',
                'warranty2':'显示屏（模组）',
                'warranty2_1':'3',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'显示器',
                'product':'LCD-LED背光',
                'warranty':'3',
                'warranty2':'显示屏（模组）',
                'warranty2_1':'3',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'显示器',
                'product':'OLED',
                'warranty':'1',
                'warranty2':'-',
                'warranty2_1':'1',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'音/视频',
                'product':'家庭影院',
                'warranty':'1',
                'warranty2':'激光头组件、集成电路、电机、功放管、10000微法以上大电容、喇叭、分频器',
                'warranty2_1':'2',
                'part':'耳机',
                'rate':'0.10%',
            },
            {
                'title':'音/视频',
                'product':'DVD、VCD',
                'warranty':'1',
                'warranty2':'激光头组件、集成电路、电机',
                'warranty2_1':'2',
                'part':'-',
                'rate':'0.10%',
            },
            {
                'title':'音/视频',
                'product':'蓝光播放器',
                'warranty':'1',
                'warranty2':'激光头组件、集成电路、电机',
                'warranty2_1':'2',
                'part':'-',
                'rate':'0.10%',
            },
            {
                'title':'音/视频',
                'product':'录像机',
                'warranty':'1',
                'warranty2':'磁鼓电机、主导轴电机、加载电机、集成电路',
                'warranty2_1':'1',
                'part':'-',
                'rate':'0.10%',
            },
            {
                'title':'音/视频',
                'product':'投影仪',
                'warranty':'2',
                'warranty2':'灯泡',
                'warranty2_1':'0.5',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'家用电器',
                'product':'家用空调',
                'warranty':'3',
                'warranty2':'定频压缩机',
                'warranty2_1':'5',
                'part':'加长管路',
                'rate':'0.10%',
            },
            {
                'title':'家用电器',
                'product':'家用空调',
                'warranty':'3',
                'warranty2':'变频压缩机',
                'warranty2_1':'10',
                'part':'加长管路',
                'rate':'0.10%',
            },
            {
                'title':'家用电器',
                'product':'洗衣机、干衣机、洗干一体机',
                'warranty':'1',
                'warranty2':'电机、离合器、电脑板(主板/显示板/按键板)、电容器',
                'warranty2_1':'3',
                'part':'加长水管水管接头',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'洗衣机、干衣机、洗干一体机',
                'warranty':'1',
                'warranty2':'洗衣机：DD电机（定子/转子/霍尔传感器）干衣机：变频压缩机',
                'warranty2_1':'10',
                'part':'加长水管水管接头',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'冰箱',
                'warranty':'1',
                'warranty2':'定频压缩机、风扇电机、温控器、蒸发器、电磁阀、冷凝器、毛细管、干燥过滤器、主控板/显示板',
                'warranty2_1':'3',
                'part':'净水器',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'冰箱',
                'warranty':'1',
                'warranty2':'直流变频压缩机（BLDC）、线性变频压缩机',
                'warranty2_1':'10',
                'part':'滤芯',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'微波炉',
                'warranty':'1',
                'warranty2':'磁控管、变压器、定时器、电机、电脑板',
                'warranty2_1':'2',
                'part':'玻璃托盘',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'微波炉',
                'warranty':'1',
                'warranty2':'磁控管（变频型号）',
                'warranty2_1':'10',
                'part':'净水器',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'吸尘器',
                'warranty':'1',
                'warranty2':'电机',
                'warranty2_1':'3',
                'part':'集尘袋',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'吸尘器',
                'warranty':'1',
                'warranty2':'直流变频电机 (BLDC)',
                'warranty2_1':'10',
                'part':'集尘袋',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'洗碗机',
                'warranty':'1',
                'warranty2':'风扇电机，主控板，显示板，水泵电机，传感器总成，加热管',
                'warranty2_1':'3',
                'part':'-',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'净水器',
                'warranty':'1',
                'warranty2':'压缩机',
                'warranty2_1':'3',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'家用电器',
                'product':'除湿机',
                'warranty':'1',
                'warranty2':'-',
                'warranty2_1':'1',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'家用电器',
                'product':'酒柜',
                'warranty':'1',
                'warranty2':'压缩机、风扇电机、温控器、干燥过滤器、冷凝器、毛细管、主板、显示板',
                'warranty2_1':'3',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'家用电器',
                'product':'衣物护理机（电子衣柜、Styler）',
                'warranty':'1',
                'warranty2':'定频压缩机',
                'warranty2_1':'2',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'家用电器',
                'product':'衣物护理机（电子衣柜、Styler）',
                'warranty':'1',
                'warranty2':'变频压缩机',
                'warranty2_1':'10',
                'part':'-',
                'rate':'-',
            },
            {
                'title':'家用电器',
                'product':'空气净化器',
                'warranty':'1',
                'warranty2':'电机',
                'warranty2_1':'3',
                'part':'-',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'空气净化器',
                'warranty':'1',
                'warranty2':'直流变频电机 (BLDC)',
                'warranty2_1':'10',
                'part':'-',
                'rate':'0.05%',
            },
            {
                'title':'家用电器',
                'product':'迷你空气净化器',
                'warranty':'1',
                'warranty2':'电机',
                'warranty2_1':'3',
                'part':'-',
                'rate':'-',
            },
            {
                'title':'IT/数码',
                'product':'笔记本（含一体机电脑）',
                'warranty':'1',
                'warranty2':'主板、CPU、内存（含eMMC）、显示屏、硬盘驱动器（含固态硬盘）、键盘、电源适配器',
                'warranty2_1':'2',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'IT/数码',
                'product':'笔记本（含一体机电脑）',
                'warranty':'1',
                'warranty2':'随机软件（产品中直接赠送的软件，不含预装操作系统）',
                'warranty2_1':'0.25',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'IT/数码',
                'product':'蓝牙耳机',
                'warranty':'1',
                'warranty2':'USB连接线',
                'warranty2_1':'0.5',
                'part':'-',
                'rate':'-',
            },
            {
                'title':'IT/数码',
                'product':'蓝牙音箱',
                'warranty':'1',
                'warranty2':'USB连接线',
                'warranty2_1':'0.5',
                'part':'-',
                'rate':'-',
            },
            {
                'title':'IT/数码',
                'product':'鼠标扫描仪',
                'warranty':'1',
                'warranty2':'-',
                'warranty2_1':'-',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'IT/数码',
                'product':'电子书',
                'warranty':'1',
                'warranty2':'-',
                'warranty2_1':'-',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'IT/数码',
                'product':'口袋相印机',
                'warranty':'1',
                'warranty2':'电池',
                'warranty2_1':'0.5',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'IT/数码',
                'product':'口袋相印机',
                'warranty':'1',
                'warranty2':'充电头、数据线',
                'warranty2_1':'1',
                'part':'-',
                'rate':'0.25%',
            },
            {
                'title':'个人护理',
                'product':'美容仪',
                'warranty':'1',
                'warranty2':'附件（袋子、刷子、面罩袋）',
                'warranty2_1':'0.5',
                'part':'附件',
                'rate':'-',
            },

        ]
    - 
        const itemsCN2 = [
            {
                'title': '电视',
                'subText':'1年',
                'subText2':'底座式：电视与底座的安装、调整平衡、指导使用方法挂墙式：普通墙壁的打孔、安装挂架、将电视安装置挂架上、调整平衡、指导使用方法',
                'subText3':'-',
                'subText4':'挂架',
                'subText5':'免费安装不包含全高清系列电视',
            },
            {
                'title': '冰箱',
                'subText':'1年',
                'subText2':'调整平衡、安装进水管、需要时更改门方向、指导使用方法',
                'subText3':'-',
                'subText4':'加长进水管',
                'subText5':'安装进水管：仅限带有净水器冰箱更改门方向：仅限可更改门方向型号',
            },
            {
                'title': '洗衣机',
                'subText':'1年',
                'subText2':'连接进水管、连接排水管、调整水平、指导使用方法',
                'subText3':'安装水龙头',
                'subText4':'加长进水管、加长排水管、水龙头',
                'subText5':'-',
            },
            {
                'title': '干衣机（烘干机）',
                'subText':'1年',
                'subText2':'连接进水管、连接排水管、调整水平,需要时更改门方向、指导使用方法',
                'subText3':'安装水龙头',
                'subText4':'加长进水管、加长排水管、水龙头',
                'subText5':'-',
            },
            {
                'title': '衣物护理机（电子衣柜、Styler）',
                'subText':'1年',
                'subText2':'调整水平、需要时更改门方向、指导使用方法',
                'subText3':'-',
                'subText4':'-',
                'subText5':'-',
            },
            {
                'title': '洗碗机',
                'subText':'1年',
                'subText2':'安装隔音条、调整水平、连接进水管、连接排水管、打孔、非本质测板固定、安装水龙头、指导使用方法 设计洗碗机安装方案',
                'subText3':'-',
                'subText4':'-',
                'subText5':'包内首次安装时免费提供:1.打孔（限1~2个）2.提供安装必要附件，包含：水龙头（6分角阀）、三通、进水管接头、排水管接头、加长进水管、加长排水管、排水卡扣',
            },
            {
                'title': '嵌入式烤箱',
                'subText':'1年',
                'subText2':'安装隔音条、调整水平、指导使用方法',
                'subText3':'设计烤箱安装方案',
                'subText4':'-',
                'subText5':'-',
            },
            {
                'title': '家用 空调',
                'subText':'3年',
                'subText2':'打孔、安装室内机、室外机、安装内外机连接管、调整水平、指导使用方法',
                'subText3':'高空作业费',
                'subText4':'漏电保护开关、内外机连接管加长（包含因加长产生的包扎带、补充制冷剂、排水管、保温管费用 ）、外机支架',
                'subText5':'免费打孔（限1个）',
            },
        ] 
    - 
        const itemsCN3 = [
            {
                'title': '洗碗机',
                'subText':'台面打孔（材质不限）',
                'subText2':'-',
                'subText3':'打孔数量须在安装合理范围内',
            },
            {
                'title': '洗碗机',
                'subText':'非木质橱柜层板和隔板打孔',
                'subText2':'-',
                'subText3':'打孔数量须在安装合理范围内',
            },
            {
                'title': '洗碗机',
                'subText':'木质橱柜层板和隔板打孔',
                'subText2':'-',
                'subText3':'打孔数量须在安装合理范围内',
            },
            {
                'title': '洗碗机',
                'subText':'非木质侧板固定',
                'subText2':'-',
                'subText3':'-',
            },
            {
                'title': '洗碗机',
                'subText':'6分角阀（水龙头）',
                'subText2':'-',
                'subText3':'指定品牌:潜水艇',
            },
            {
                'title': '洗碗机',
                'subText':'6分&4分角阀（水龙头）',
                'subText2':'-',
                'subText3':'指定品牌:潜水艇',
            },
            {
                'title': '洗碗机',
                'subText':'三通/4分口',
                'subText2':'-',
                'subText3':'-',
            },
            {
                'title': '洗碗机',
                'subText':'进水管接头（六分外丝转接头）',
                'subText2':'-',
                'subText3':'-',
            },
            {
                'title': '洗碗机',
                'subText':'排水管接头',
                'subText2':'-',
                'subText3':'-',
            },
            {
                'title': '洗碗机',
                'subText':'加长进水管',
                'subText2':'AEM73612905',
                'subText3':'1.5米/每根',
            },
            {
                'title': '洗碗机',
                'subText':'加长进水管',
                'subText2':'5215ER2002K',
                'subText3':'2米/每根',
            },
            {
                'title': '洗碗机',
                'subText':'排水卡扣',
                'subText2':'4861EN3003C',
                'subText3':'-',
            },
            {
                'title': '洗碗机',
                'subText':'排水三通',
                'subText2':'4932ER3003A',
                'subText3':'-',
            },
            {
                'title': '冰箱(仅限S651MB78B)',
                'subText':'墙体打孔和橱柜隔板打孔',
                'subText2':'-',
                'subText3':'打孔数量须在安装合理范围内',
            },
            {
                'title': '冰箱(仅限S651MB78B)',
                'subText':'加长进水管（2分）',
                'subText2':'-',
                'subText3':'限5米内',
            },
            {
                'title': '冰箱(仅限S651MB78B)',
                'subText':'增压泵（15W）',
                'subText2':'-',
                'subText3':'-',
            },
            {
                'title': '冰箱(仅限S651MB78B)',
                'subText':'三通（2分）',
                'subText2':'-',
                'subText3':'净水器管道专用',
            },
            {
                'title': '冰箱(仅限S651MB78B)',
                'subText':'阀门（2分）',
                'subText2':'-',
                'subText3':'净水器管道专用',
            },
        ] 

    .guide-text-type CS Warranty Consumer - CN

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-CN
            #container.CS0078__container
                // CONTENT
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area 
                        .cs-notabs
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        h1.font-w-light-56.font-m-light-28 包修政策
                                    .text.c-text-contents__bodycopy
                                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            | 您可查询电视、冰箱、洗衣机等产品相关包修政策。
                                            br
                                            | 在LG，顾客满意度是我们最关注的，因此，我们制定了以下服务政策，以确保全国施行统一标准的售后服务。请您在产品用户手册上查看详细包修政策信息。
                                            

                            .button.c-print-area
                                +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                            .cs-warranty__normalContents 
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 包修政策
                                        .text.c-text-contents__bodycopy
                                            span.font-w-normal-20.font-m-normal-12
                                                | 包修期 维修更换退换规定
                                                br
                                                | 售后服务规定第二十条 经营者向消费者提供有关商品或者服务的质量、性能、用途、有效期限等信息，应当真实、全面，不得作虚假或者引人误解的宣传。
                                                br
                                                | 第二十三条 经营者应当保证在正常使用商品或者接受服务的情况下其提供的商品或者服务应当具有的质量、性能、用途和有效期限；但消费者在购买该商品或者接受该服务前已经知道其存在瑕疵，且存在该瑕疵不违反法律强制性规定的除外。
                                                br
                                                | 第二十四条 经营者提供的商品或者服务不符合质量要求的，消费者可以依照国家规定、当事人约定退货，或者要求经营者履行更换、修理等义务。没有国家规定和当事人约定的，消费者可以自收到商品之日起七日内退货；七日后符合法定解除合同条件的，消费者可以及时退货，不符合法定解除合同条件的，可以要求经营者履行更换、修理等义务。
                                                br
                                                | 依照前款规定进行退货、更换、修理的，经营者应当承担运输等必要费用。

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 SVC产品包修有效期限
    
                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type3
                                        each items in itemsCN
                                            li.c-content_box 
                                                p.font-m-normal-14.font-w-normal-16 产品
                                                ul.warranty_box
                                                    li.font-m-normal-20.font-w-normal-24 
                                                        span #{items.title}
                                                    li.font-m-normal-20.font-w-normal-24 
                                                        span #{items.product}

                                                ul.warranty_box.type2 
                                                    li 
                                                        span.font-m-normal-14.font-w-normal-16 包修期(年) - 整机
                                                        span.font-m-normal-20.font-w-normal-24 #{items.warranty}
                                                    li 
                                                        span.font-m-normal-14.font-w-normal-16 包修期(年) - 主要部件
                                                        span.flex
                                                            span.font-m-normal-14.font-w-normal-16 #{items.warranty2}
                                                            span.font-m-normal-20.font-w-normal-24 #{items.warranty2_1}
                                                ul.warranty_box 
                                                    li 
                                                        span.font-m-normal-14.font-w-normal-16 有偿供给部件
                                                        span.font-m-normal-20.font-w-normal-24 #{items.part}
                                                    li 
                                                        span.font-m-normal-14.font-w-normal-16 折旧率（%）
                                                        span.font-m-normal-20.font-w-normal-24 #{items.rate}

                                .c-cs-header.c-cs-notes
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-14.font-m-normal-12 说明：
                                        .text.c-text-contents__bodycopy.cs-warrantylist__number
                                            ol.font-w-normal-14.font-m-normal-12.cmp-text
                                                li 
                                                    span 各产品遥控器包修期限一年。(人为损坏不给予包修）
                                                li 
                                                    span 如随机保修卡中，包修期限大于上表规定时，按照随机保修卡印刷内容执行。
                                                li 
                                                    span LCD (CCFL/LED)显示器维修服务说明
                                                    ol.warrantylist__alpha
                                                        li 2015年8月后生产机器上门为有偿服务，顾客需支付“上门费”。
                                                        li 2015年8月前生产机器，以购买日期为准，购机第1年免30公里“上门费”；第2年~3年顾客需支付全额“上门费”；（顾客送修不支付上门费）
                                                        li 生产日期以生产机号为准 (Serial No)，上门费参照包外费用基准执行。
                                                        li 以上基准适用于B2C普通顾客。
                                                li 
                                                    span 平板电视主板中的高频头或集成电路在包修期内 (3年)，发生故障无法维修时，可免费更换主板。
                                                li 
                                                    span 笔记本顾客自行升级、加装未造成产品损坏的正常包修；造成损坏的不包修，可提供有偿服务

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 提供免费安装的产品说明

                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type4
                                        each items in itemsCN2
                                            li.c-content_box 
                                                p.font-m-normal-20.font-w-normal-32
                                                    span.font-m-normal-14.font-w-normal-14 产品
                                                    | #{items.title}
    
                                                ul
                                                    li 
                                                        strong.font-m-normal-14.font-w-normal-14 免费安装期限
                                                        span.font-m-normal-14.font-w-normal-24 #{items.subText}
                                                ul
                                                    li
                                                        strong.font-m-normal-14.font-w-normal-14 免费安装内容
                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText2}
                                                ul 
                                                    li
                                                        strong.font-m-normal-14.font-w-normal-14 收费安装内容
                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText3}
                                                ul
                                                    li
                                                        strong.font-m-normal-14.font-w-normal-14 收费附件
                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText4}
                                                ul 
                                                    li
                                                        strong.font-m-normal-14.font-w-normal-14 备注
                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText5}
                                    

                                .c-cs-header.c-cs-notes
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-14.font-m-normal-12 说明：
                                        .text.c-text-contents__bodycopy.warrantylist__number
                                            ol.font-w-normal-14.font-m-normal-12.cmp-text   
                                                li 免费安装期限以发票日期为起始日期，无发票时以送货单的送货日期为起始日期，如无发票或送货单时，以产品生产日期或生产机号+3个月进行计算；例如：电视机生产日期是2016年4月16日，无发票或送货单，享受一次免费安装的日期范围是：2016年7月16日~2017年7月16日（1年）; 洗衣机机号是102PNWK00081，生产日期是10年2月，无发票或送货单，享受1次免费安装的日期计算：2010年05月31日~11年05月31日（1年）时，按照随机保修卡印刷内容执行。
                                                li 全高清电视（FHD）、背投电视无免费安装服务；
                                                li 其他非常规安装内容时需安装人员根据现场环境确认是否可以安装及安装费用。
                        
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 首次安装免费提供附件明细
                                            
                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type2
                                        each items in itemsCN3
                                            li.c-content_box 
                                                p.font-m-normal-20.font-w-normal-32
                                                    span.font-m-normal-14.font-w-normal-14 产品
                                                    | #{items.title}
                                                ul
                                                    li 
                                                        strong.font-m-normal-14.font-w-normal-14 附件/服务
                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText}
                                                ul
                                                    li
                                                        strong.font-m-normal-14.font-w-normal-14 零件编号
                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText2}
                                                ul 
                                                    li
                                                        strong.font-m-normal-14.font-w-normal-14 备注
                                                        span.font-m-normal-14.font-w-normal-16 #{items.subText3}
                                