extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078countrytry = "CS0078-CO"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content

    - 
        const itemsCAC = [
            {
                'title': 'Manipulación',
                'text':'Deterioros o daños causados al producto como resultado de una manipulación o transporte inadecuado ajenos a LG, así como alteraciones del producto original determinados por adaptaciones, modificaciones, adulteraciones o eliminación del número serial adherido al producto, montaje de parte o accesorios no genuinos ni autorizados por LG, entre otros.',
            },
            {
                'title': 'Instalación, uso o mantenimiento',
                'text':'No atender las instrucciones de instalación, uso o mantenimiento indicadas en el manual del producto o en la garantía, así como por la falta de accesorios luego de recibido el producto.',
            },
            {
                'title': 'Intervención de un tercero',
                'text':'Daños ocasionados como resultado de la intervención, instalación, manipulación, por un tercero no autorizado por LG.',
            },
            {
                'title': 'Desastre natural',
                'text':'Averías como resultado de catástrofes naturales de cualquier índole, accidente sobre el producto no atribuibles a LG, inundaciones, desorden público, asonadas, condiciones ambientales inadecuadas, humedad, mala ventilación hurto, fluctuaciones de voltaje de la energía eléctrica o descargas eléctricas atmosféricas o irregularidades de suministro hidráulico, gas o las aplicables al funcionamiento del producto, o por factores externos atribuibles e imputables al titular de la garantía o un tercero.',
            },
            {
                'title': 'Factores externos',
                'text':'Problemas causados por factores externos y falta de cuidado, debido a la presencia de agua, líquidos, humedad, polvo, oxidación, golpes, ruptura de la carcasa, arena, insectos, roedores o cualquier otro similar que afecte el correcto funcionamiento e idoneidad del producto.',
            },
            {
                'title': 'Uso indebido',
                'text':'Daños causados por manipulación y/o uso indebido del producto, como por ejemplo: golpes, rayones, fracturas, incorrecta limpieza, puntos de impacto o presión inadecuada, etc.',
            },
            {
                'title': 'Partes cosméticas',
                'text':'DañLa garantía no cubre partes cosméticas, tales como el acabado exterior, rayaduras, ruptura, levantamiento o soplo de la pintura, etc.',
            },
            {
                'title': 'Periodo de garantía',
                'text':'Productos sobre los cuales haya expirado el término de la garantía ofrecida inicialmente por LG.',
            },
        ]  
        
    - 
        const itemsCAC2 = [
            {
                'title': 'Consumibles',
                'text':'Baterías, control remoto, partes y/o daños cosméticos, cintas, partes plásticas, filtros, gabinetes, antenas, agujas, pilas y demás accesorios consumibles, no están cubiertos por la garantía.',
            },
            {
                'title': 'Desgaste',
                'text':'El desgaste por uso normal de las partes o piezas mecánicas, metálicas, eléctricas, plásticas, caucho o de tela.',
            },
            {
                'title': 'Accesorios',
                'text':'Accesorios faltantes una vez recibido el producto.',
            },
            {
                'title': 'Otras garantías',
                'text':'En caso de adquirirse por parte del consumidor y/o propietario del producto marca LG, una garantía suplementaria gratuita u onerosa diferente a la ofrecida por LG, se perderá cualquier beneficio, condición u obligación.',
            },
            {
                'title': 'Pérdida de información',
                'text':'Pérdida de la información almacenada o contenida en el producto, softwares no instalados en fábrica, modificación o borrado de particiones originales del disco duro, pérdida de la información en medios de almacenamiento extraíbles. LG no se responsabilizará de la restauración o reinstalación de cualquier dato, información o programa instalado por el consumidor.',
            },
            {
                'title': 'Virus',
                'text':'Daños ocasionados en el software y hardware del producto por el uso indebido, virus o programas que afecten el funcionamiento del producto.',
            },
            {
                'title': 'Dispositivos externos',
                'text':'Inst alación de dispositivos o accesorios externos al producto.',
            },
            
        ] 
    - 
        const itemsCAC3  = [
            { 
                'title':'MONITOR PC',
                'meses':'40',
            },
            { 
                'title':'*INFORMATION DISPLAY / MONITOR SIGNAGE',
                'meses':'36',
            },
            { 
                'title':'OLED Signage 55"',
                'meses':'36',
                'text':'Tres (3) años (basados en un promedio de 18 horas por día) a partir de la fecha original de entrega en partes y mano de obra',
            },
            { 
                'title':'OLED Signage 65"',
                'meses':'36',
                'text':'Tres (3) años (basados en un promedio de 12 horas por día) a partir de la fecha original de entrega en partes y mano de obra',
            },
            { 
                'title':'*COMERCIAL TV / HOTEL TV',
                'meses':'36',
            },
            { 
                'title':'TELEVISOR LCD / LED / OLED',
                'meses':'12',
            },
            { 
                'title':'MONITOR TV',
                'meses':'12',
            },
            { 
                'title':'AUDIO / DVD / TEATRO EN CASA / BLU RAY',
                'meses':'12',
            },
            { 
                'title':'CELULAR',
                'meses':'12',
            },
            { 
                'title':'PROYECTOR / PROYECTOR TV / MEDIA PLAYER / MEMBRANA TACTIL',
                'meses':'12',
            },
            { 
                'title':'PC/ POCKET PHOTO',
                'meses':'12',
            },
            { 
                'title':'NEVERAS',
                'meses':'12',
            },
            { 
                'title':'LAVADORAS',
                'meses':'12',
            },
            { 
                'title':'SECADORA',
                'meses':'12',
            },
            { 
                'title':'CUBIERTA ELÉCTRICA / CUBIERTA A GAS / HORNO ELÉCTRICO EMPOTRABLE',
                'meses':'12',
            },
            { 
                'title':'LAVAVAJILLA',
                'meses':'12',
            },
            { 
                'title':'ASPIRADORA',
                'meses':'12',
            },
            { 
                'title':'HORNO MICROONDAS',
                'meses':'12',
            },
            { 
                'title':'AIRE ACONDICIONADO/SPLIT INVERTER/MULTI INVERTER/MULTI V/ CHILLER',
                'meses':'12',
            },
            { 
                'title':'CELULAR',
                'meses':'12',
            },
            { 
                'title':'ESTUFA DE PISO',
                'meses':'12',
            },
            { 
                'title':'STYLER(Sistema cuidado de la ropa)',
                'meses':'12',
            },
        ]
    - 
        const itemsCAC4  = [
            { 
                'title':'MONITOR PC',
                'meses':'40',
            },
            { 
                'title':'*INFORMATION DISPLAY / MONITOR SIGNAGE',
                'meses':'36',
            },
            { 
                'title':'OLED Signage 55"',
                'meses':'36',
                'text':'Tres (3) años (basados en un promedio de 18 horas por día) a partir de la fecha original de entrega en partes y mano de obra',
            },
            { 
                'title':'OLED Signage 65"',
                'meses':'36',
                'text':'Tres (3) años (basados en un promedio de 12 horas por día) a partir de la fecha original de entrega en partes y mano de obra',
            },
            { 
                'title':'*COMERCIAL TV / HOTEL TV',
                'meses':'36',
            },
            { 
                'title':'TELEVISOR LCD / LED / OLED',
                'meses':'12',
            },
            { 
                'title':'MONITOR TV',
                'meses':'12',
            },
            { 
                'title':'AUDIO / DVD / TEATRO EN CASA / BLU RAY',
                'meses':'12',
            },
            { 
                'title':'CELULAR',
                'meses':'12',
            },
            { 
                'title':'PROYECTOR / PROYECTOR TV / MEDIA PLAYER / MEMBRANA TACTIL',
                'meses':'12',
            },
            { 
                'title':'PC/ POCKET PHOTO',
                'meses':'12',
            },
            { 
                'title':'NEVERAS',
                'meses':'12',
            },
            { 
                'title':'LAVADORAS',
                'meses':'12',
            },
            { 
                'title':'SECADORA',
                'meses':'12',
            },
            { 
                'title':'CUBIERTA ELÉCTRICA / CUBIERTA A GAS / HORNO ELÉCTRICO EMPOTRABLE',
                'meses':'12',
            },
            { 
                'title':'LAVAVAJILLA',
                'meses':'12',
            },
            { 
                'title':'ASPIRADORA',
                'meses':'12',
            },
            { 
                'title':'HORNO MICROONDAS',
                'meses':'12',
            },
            { 
                'title':'AIRE ACONDICIONADO/SPLIT INVERTER/MULTI INVERTER/MULTI V/ CHILLER',
                'meses':'12',
            },
            { 
                'title':'CELULAR',
                'meses':'12',
            },
            { 
                'title':'ESTUFA DE PISO',
                'meses':'12',
            },
            { 
                'title':'STYLER(Sistema cuidado de la ropa)',
                'meses':'12',
            },
        ]
        
    
    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - CO

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-CO 
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Información de la garantía
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Te daremos información de tu garantía LG aquí
                                br
                                | LG Electronics Colombia Ltda. (en adelante LG), garantiza la calidad, idoneidad, seguridad, el buen estado y funcionamiento de todos sus productos. Esta garantía comprende la prestación gratuita del servicio técnico para el diagnóstico y en caso de ser necesario, la reparación del producto. El servicio técnico incluye la mano de obra necesaria para efectuar la reparación. Esta garantía estará vigente durante el periodo específico definido en este documento el cual inicia a partir de la fecha de entrega del producto.
                                
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            input#tab3(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 GUÍA PARA REPARACIÓN CON COSTO
                                    .tab2.swiper-slide.on
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 GUÍA PARA PERIODO DE GARANTÍA

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Guía para reparación con costo
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Costo estándar estimado para servicio
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span El costo del servicio será cargado al Cliente basado en el marco de la Ley del Consumidor decidido por el Gobierno. El costo de servicio está compuesto por el costo del repuesto y el costo de la reparación como se indica a continuación. (Si el Cliente requiere servicio en el domicilio, el costo de desplazamiento será agregado al costo del servicio).
                                                                
                                                    .c-parts--inner 
                                                        .c-parts__picto
                                                            .c-picto__contents 
                                                                .c-picto.c-picto-1 
                                                                span.font-m-normal-14 Costo del repuesto
                                                            .c-signmark.c-plus
                                                            .c-picto__contents
                                                                .c-picto.c-picto-2 
                                                                span.font-m-normal-14 Costo de la reparación
                                                            .c-signmark.c-equal
                                                            .c-picto__contents
                                                                .c-picto.c-picto-3 
                                                                span.font-m-normal-14 Costo del Servicio
                                                        .c-parts__list.cs-warrantylist__dot
                                                            ol 
                                                                li.font-m-semibold-16.font-w-normal-20 Costo del repuesto
                                                                    div.font-m-normal-14.font-w-normal-16 El costo del repuesto significa el precio del repuesto usado para la reparación del producto.
                                                                li.font-m-semibold-16.font-w-normal-20 Costo de la reparación
                                                                    div.font-m-normal-14.font-w-normal-16 El costo de la reparación significa el valor de acuerdo al nivel de reparación.
                                                                li.font-m-semibold-16.font-w-normal-20 Gastos de desplazamiento
                                                                    div.font-m-normal-14.font-w-normal-16 Este precio es aplicado en el caso que el Cliente solicite visita en el domicilio para la reparación de un producto fuera de garantía.

                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Servicio En Garantía
                                                        .text.c-text-contents__bodycopy
                                                            ul.cs-warrantylist__hypen.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer)
                                                                li Defecto o falla ocurrido en condiciones normales de uso dentro del periodo de garantía.
                                                                li Defecto o falla por segunda ocasión, como se indica a continuación.
                                                                
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Servicio fuera de garantía
                                                        .text.c-text-contents__bodycopy
                                                            span.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) El servicio fuera de garantía se refiere a la información que encontrarás a continuación:
                                                               
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Casos aplicados como fuera de garantía
                                                        .text.c-text-contents__bodycopy
                                                            span.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) LG no será responsable durante el periodo de garantía ofrecido, cuando ocurran las siguientes causales:
                                               
                                                .c-product-list__wrap
                                                    ul.c-product-list
                                                        each items in itemsCAC
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                ul.cs-warrantylist__hypen
                                                                    li 
                                                                        span.font-m-normal-14.font-w-normal-14 #{items.text}
                                                
                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 La garantía no cubre
                                                    ul.c-product-list
                                                        each items in itemsCAC2
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                ul.cs-warrantylist__hypen
                                                                    li 
                                                                        span.font-m-normal-14.font-w-normal-14 #{items.text}
                                                                    if items.text2
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-14 #{items.text2}
                                                

                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Guía para periodo de garantía
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span LG Electronics garantiza el servicio de reparación gratuita de sus productos en el periodo de garantía a través de sus Centros de Servicio Autorizados. Cada producto LG tiene una condición diferente de garantía, así que por favor verifica la información que encontrarás a continuación:
                                                                
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 I. TÉRMINOS DE LA GARANTÍA
                                                        .text.c-text-contents__bodycopy
                                                            span.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) LG ELECTRONICS COLOMBIA LTDA (en adelante LG), garantiza la calidad, idoneidad, seguridad, el buen estado y funcionamiento de todos sus productos. Esta garantía comprende la prestación gratuita del servicio técnico para el diagnóstico y en caso de ser necesario, la reparación del producto. El servicio técnico incluye la mano de obra necesaria para efectuar la reparación. Esta garantía estará vigente durante el periodo específico definido en este documento el cual inicia a partir de la fecha de entrega del producto. (Ver tabla periodos de garantía impresa al respaldo para cada tipo de producto).
                                               
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 II.CONDICIONES DE LA GARANTÍA
                                                        .text.c-text-contents__bodycopy
                                                            ol.warrantylist__number.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) 
                                                               li La solicitud de efectividad de la garantía es válida únicamente en el territorio de la República de Colombia para los productos importados directamente por LG Electronics Colombia Ltda.
                                                               li La solicitud de efectividad de la garantía deberá efectuarse dentro del término legalmente anunciado por LG para cada uno de sus productos en la "Tabla Periodos de Garantía".
                                                               li El consumidor podrá presentar la factura de venta o su equivalente con el fin de agilizar el proceso de solicitud de efectividad de la garantía, señalando que esto no será condición de validez de la misma.
                                                               li El servicio de garantía solo se prestará en los Centros de Servicio Autorizados por LG (CSA), indicados a través de la línea gratuita nacional de Call Center 01 8000 910 683.
                                                               li Al realizar la compra es necesario verificar que la apariencia física del producto se encuentre en perfecto estado, así como su perfecto funcionamiento.
                                                               li Cumplir con las condiciones, cuidados, advertencias, funciones, limitaciones y uso descritos en los manuales de instrucciones aportados a los electrodomésticos de la marca LG.
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 III. CAUSALES DE LIMITACIÓN Y PÉRDIDA DE LA GARANTÍA
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 LG no será responsable durante el periodo de garantía ofrecido, cuando ocurran las siguientes causales:
                                                        .text.c-text-contents__bodycopy
                                                            ol.warrantylist__number.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) 
                                                                li Deterioros o daños causados al producto como resultado de una manipulación o transporte inadecuado ajenos a LG ELECTRONICS, así como alteraciones del producto original determinados por adaptaciones, modificaciones, adulteraciones o eliminación del número serial adherido al producto, montaje de partes o accesorios no genuinos ni autorizados por LG ELECTRONICS, entre otros.
                                                                li No atender las instrucciones de instalación, uso o mantenimiento indicadas en el manual del producto o en esta garantía, así como por la falta de accesorios luego de recibido el producto.
                                                                li Daños ocasionados como resultado de la intervención, instalación, manipulación, por un tercero no autorizado por LG.
                                                                li Averías como resultado de catástrofes naturales de cualquier índole, accidentes sobre el producto no atribuibles a LG ELECTRONICS, inundaciones, desorden público, asonadas, condiciones ambientales inadecuadas, humedad, mala ventilación, hurto, fluctuaciones de voltaje de la energía eléctrica o descargas eléctricas atmosféricas o irregularidades de suministro hidráulico, gas o las aplicables al funcionamiento del producto, o por factores externos atribuibles e imputables al titular de la garantía o un tercero.
                                                                li Problemas causados por factores externos y falta de cuidado, debido a la presencia de agua, líquidos, humedad, polvo, oxidación, golpes, ruptura de la carcasa, arena, insectos, roedores o cualquier otro similar que afecte el correcto funcionamiento e idoneidad del producto.
                                                                li Daños causados por manipulación y/o uso indebido del producto, como por ejemplo: golpes, rayones, fracturas, incorrecta limpieza, puntos de impacto o presión inadecuada etc.
                                                                li Esta garantía no cubre partes cosméticas, tales como el acabado exterior, rayaduras, ruptura, levantamiento o soplo de la pintura, etc.
                                                                li Productos sobre los cuales haya expirado el término de la garantía ofrecida inicialmente por LG.
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 IV. LA GARANTÍA NO CUBRE
                                                        .text.c-text-contents__bodycopy
                                                            ol.warrantylist__number.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) 
                                                                li Baterías, daños cosméticos, cintas, partes plásticas, filtros, gabinetes, bandejas, antenas, agujas, pilas de control remoto, piezas mecánicas, metálicas, eléctricas, caucho, tela, accesorios consumibles y demás partes y/o piezas que sufren deterioro o desgaste por la operación normal del producto, no están cubiertos por la garantía.
                                                                li Accesorios faltantes una vez recibido el producto.
                                                                li En el evento de adquirirse por parte del consumidor una garantía suplementaria sobre los productos de la marca LG Electronics, se solicita de manera atenta al consumidor hacerla efectiva directamente en el lugar donde se haya adquirido.
                                                                li Perdida de la información almacenada o contenida en el producto, softwares no instalados en fábrica, modificación o borrado de particiones originales del disco duro, perdida de la información en medios de almacenamiento extraíbles. LG no se responsabilizará de la restauración o reinstalación de cualquier dato, información o programa instalado por el consumidor.
                                                                li Daños ocasionados en el software y hardware del producto por el uso indebido, virus o programas que afecten el funcionamiento del producto.
                                                                li Instalación de dispositivos software o accesorios externos al producto.
                                                                li Sobre bienes, productos o accesorios dados gratuitamente en promociones u ofertas ofrecidas directamente por LG Electronics Colombia.
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 V. SUMINISTRO GRATUITO DE REPUESTOS:
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 LG otorgará durante un periodo de tiempo determinado e improrrogable el suministro gratuito de los repuestos descritos en la “tabla suministro gratuito de repuestos”, bajo las siguientes condiciones:
                                                        .text.c-text-contents__bodycopy
                                                            ol.warrantylist__number.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) 
                                                                li La parte y/o pieza deje de funcionar dentro del término establecido en la “tabla suministro gratuito de repuestos”.
                                                                li La falla de los repuestos deberá ser determinada por los centros de servicio autorizados de LG.
                                                                li El presente beneficio solo estará vigente durante el periodo de tiempo establecido en la “Tabla Suministro Gratuito Repuestos”.
                                                                li El término establecido para este beneficio empezará a contar a partir de la venta del producto debidamente soportado mediante factura de venta.
                                                                li Los periodos de tiempo establecidos para el presente beneficio son improrrogables.
                                                                li Los costos causados por diagnóstico y mano de obra serán asumidos por el consumidor.
                                                                li En caso de repetirse la falla de los repuestos en mención se procederá al cambio del repuesto, sin que esto conlleve a una ampliación del término inicialmente establecido para el beneficio.
                                                                li El presente beneficio no se concederá si la falla del repuesto es a consecuencia de alguna de las causales de exoneración de responsabilidad de la garantía descritas en la ley y en el capítulo III“Causales de Limitación y Pérdida de la Garantía”.

                                               
                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 TABLA PERIODOS DE GARANTÍA
                                                    ul.c-product-list.c-product-list__type4
                                                        each items in itemsCAC3
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-24 #{items.title}
                                                                ul.meses_box 
                                                                    li 
                                                                        span.font-m-semibold-14.font-w-semibold-14 Meses
                                                                        span.font-m-normal-16.font-w-normal-24 #{items.meses}
                                                                p.font-m-normal-12.font-w-normal-16 #{items.text}
                                                                
                                               
                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 TABLA SUMINISTRO GRATUITO DE REPUESTOS
                                                    ul.c-product-list.c-product-list__type5
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-24 NEVERAS
                                                            ul.meses_box 
                                                                li 
                                                                    span.font-m-normal-14.font-w-normal-14 Repuesto
                                                                    span.font-m-normal-14.font-w-normal-14 Meses
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Compresor Convencional para neveras de una (1) puerta
                                                                    span.font-m-normal-16.font-w-normal-24 36
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Compresor Convencional para neveras de dos (2) o más puertas
                                                                    span.font-m-normal-16.font-w-normal-24 120
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Linear Compressor
                                                                    span.font-m-normal-16.font-w-normal-24 120
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-24 LAVADORAS
                                                            ul.meses_box 
                                                                li 
                                                                    span.font-m-normal-14.font-w-normal-14 Repuesto
                                                                    span.font-m-normal-14.font-w-normal-14 Meses
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Motor Convencional
                                                                    span.font-m-normal-16.font-w-normal-24 36
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Motor InverterDirect Drive
                                                                    span.font-m-normal-16.font-w-normal-24 120
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-24 SECADORA
                                                            ul.meses_box 
                                                                li 
                                                                    span.font-m-normal-14.font-w-normal-14 Repuesto
                                                                    span.font-m-normal-14.font-w-normal-14 Meses
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Motor Convencional
                                                                    span.font-m-normal-16.font-w-normal-24 36
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-24 LAVAVAJILLA
                                                            ul.meses_box 
                                                                li 
                                                                    span.font-m-normal-14.font-w-normal-14 Repuesto
                                                                    span.font-m-normal-14.font-w-normal-14 Meses
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Motor InverterDirect Drive
                                                                    span.font-m-normal-16.font-w-normal-24 120
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Panel de Control
                                                                    span.font-m-normal-16.font-w-normal-24 60
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-24 ASPIRADORA
                                                            ul.meses_box 
                                                                li 
                                                                    span.font-m-normal-14.font-w-normal-14 Repuesto
                                                                    span.font-m-normal-14.font-w-normal-14 Meses
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Motor
                                                                    span.font-m-normal-16.font-w-normal-24 36
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-24 HORNOMICROONDAS
                                                            ul.meses_box 
                                                                li 
                                                                    span.font-m-normal-14.font-w-normal-14 Repuesto
                                                                    span.font-m-normal-14.font-w-normal-14 Meses
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Smart InverterMagnetron
                                                                    span.font-m-normal-16.font-w-normal-24 120
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-24 AIRE ACONDICIONADO
                                                            ul.meses_box 
                                                                li 
                                                                    span.font-m-normal-14.font-w-normal-14 Repuesto
                                                                    span.font-m-normal-14.font-w-normal-14 Meses
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Compresor Inverter Tipo Scroll / Twin Rotary
                                                                    span.font-m-normal-16.font-w-normal-24 36
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Compresor Inverter *Tipo Mini Split
                                                                    span.font-m-normal-16.font-w-normal-24 120
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-24 STYLER
                                                            ul.meses_box 
                                                                li 
                                                                    span.font-m-normal-14.font-w-normal-14 Repuesto
                                                                    span.font-m-normal-14.font-w-normal-14 Meses
                                                                li 
                                                                    span.font-m-normal-16.font-w-normal-16 Compresor Inverter
                                                                    span.font-m-normal-16.font-w-normal-24 120
                                                                        
                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 TABLA GARANTÍA ESPECIAL SOBRE ACCESORIOS DE LA MARCA LG ELECTRONICS
                                                    ul.c-product-list.c-product-list__type6
                                                        li.c-content_box 
                                                            dl
                                                                dt
                                                                    span.tit.font-m-normal-14.font-w-normal-14 TÉRMINOS
                                                                dd  
                                                                    span.font-m-normal-14.font-w-normal-16 Garantía sobre accesorios de la marca LG Electronics, entregados originalmente con el producto.
                                                                dd
                                                                    span.font-m-normal-14.font-w-normal-16 Garantía sobre accesorios de la marca LG Electronics, vendidos o entregados por aparte.
                                                             
                                                            dl    
                                                                dt
                                                                    span.tit.font-m-normal-14.font-w-normal-14 DESCRIPCIÓN
                                                                dd 
                                                                    span.font-m-normal-14.font-w-normal-16 Control remoto, Control centralizado para Aire Acondicionado, cargadores, audífonos, audífonos Bluetooth, cámara externa, cargador portátil power pack mobile.
                                                            dl
                                                                dt    
                                                                    span.tit.font-m-normal-14.font-w-normal-14 GARANTÍA
                                                                dd
                                                                    span.font-m-normal-16.font-w-normal-24 12 meses
                                                                
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 VI. SUMINISTRO DE REPUESTOS, PARTES Y/O PIEZAS
                                                        .text.c-text-contents__bodycopy
                                                            span.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) LG garantiza para todos sus productos la disponibilidad de piezas y/o partes por el término de dos (2) años, contados a partir de la importación y/o nacionalización del producto al territorio Colombiano.
                                                            
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 VII. ESTIMADO CONSUMIDOR
                                                        .text.c-text-contents__bodycopy
                                                            span.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) 
                                                                | Al adquirir un producto con el respaldo de la marca LG y requerir soporte y servicio, acuda primero a la línea de atención gratuita a nivel nacional 01 8000 910 683, en la página WEB www.lg.com /co.
                                                                br
                                                                | Para una atención más ágil al momento de solicitar un servicio, por favor disponga de los siguientes datos:
                                                                br 
                                                                | 1. Modelo, 2.Serial, 3. Fecha de compra y/o entrega producto, 4. Lugar de compra del producto, 5. No. De factura.
                                                                br
                                                                | LG quiere recordarle que antes de operar el Producto, por favor lea cuidadosamente el manual de usuario aportado para su mayor satisfacción.
                                                                br
                                                                | El presente certificado de garantía de LG tendrá validez y aplicación sobre todos los electrodomésticos de la marca LG, que sean producidos e identificados con serial de fábrica de origen a partir del mes de MAYO 2019.
                                                            
