extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-AT"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsList = [
            {
                'title':'Garantiedauer',
                'subtitle':'Die Garantiedauer für das Produkt ist abgelaufen.',
            },
            {
                'title':'Installation/Demontage',
                'subtitle':'Erneute Installation oder Ersuchen, wie Anschluss des externen Gerätes, wenn die Position des Gerätes im Haus verändert wird, Installation oder Anschluss nach Kauf des Produktes über das Internet, Homeshopping.'
            },
            {
                'title':'Produkt eines anderen Unternehmens',
                'subtitle':'Fehlerhaftes Produkt eines anderen Unternehmens/verbundenes Gerät, mit Ausnahme des Produktes, das der Kunde wünscht.(Router, Set-Top, Spielkonsole, Kabel/Verteiler, Entwässerungspumpe, Hartglas,, S/W eines anderen Unternehmens, etc.)'
            },
            {
                'title':'Verschleiß',
                'subtitle':'Falls die Garantie/Lebensdauer für Verschleißteile abgelaufen ist. (Akku, Filter, Toner, Trommel, Tinte und so weiter)Falls das Produkt aufgrund des Gebrauchs durch den Kunden defekt ist, die Komponente nicht von LG geliefert wurde oder ein optionales Element ist.'
            },
            {
                'title':'Naturkatastrophe',
                'subtitle':'Falls das Produkt aufgrund einer Naturkatastrophe (Erdbeben, Unwetterschäden, Blitzeinschlag, Hochwasser und so weiter), eines Brandes, Sturmschadens, Frost oder Gasschadens defekt ist.'
            },
            {
                'title':'Fahrlässigkeit aufseiten des Benutzers',
                'subtitle':'Falls das Produkt aufgrund eines Verschuldens aufseiten des Benutzers defekt ist (einschließlich der Software)Falls das Produkt defekt ist, da der Benutzer die Anleitungen und Hinweise im Benutzerhandbuch nicht befolgt hat.Falls das Produkt defekt ist, da der Benutzer eine Verkabelung bzw. Änderung selbst durchgeführt hat bzw. diese nicht von einem autorisierten Service-Center von LG durchgeführt wurde.Falls das Produkt aufgrund einer Fahrlässigkeit aufseiten des Benutzers defekt ist, wie fehlerhafte Sicherung, Steckdose, Mehrfachverteiler, Fehler beim Anschließen, etc.Gesetzt den Fall, dass der Benutzer das Service benötigt, um das Wasser abzustellen, die Wasser-/Gaszufuhr zu unterbrechen und so weiter.Wenn der Benutzer das Service aufgrund externer Bedingungen benötigt, wie fehlerhafte Internetverbindung, Antenne, drahtgebundenes Signal, etc..'
            },
            {
                'title':'Gerät wird kommerziell genutzt',
                'subtitle':'Kommerzielle Nutzungsbeispiele:',
                'listtype':true,
                'list1text':'Waschmaschine: Sauna, öffentliches Schwimmbad, Waschsalon',
                'list2':true,
                'list2text':'Kühlschrank, Reiskocher, Mikrowelle: Restaurant, Lebensmittelgeschäft',
                'list3text':'TV Geräte: Nutzung für kommerzielle Zwecke in Wettbüros, etc.Falls das VCR-Produkt in einer Videothek, von einem Kabelnetzbetreiber oder in einem Videoraum zu kommerziellen Zwecken verwendet wird.',
            },
            {
                'title':'Sonstiges',
                'subtitle':'Bei einer Reparaturanfrage, obwohl das Produkt nicht defekt ist.(Wenn gleich die Garantiefrist für das Produkt noch nicht abgelaufen ist, wird dies in Rechnung gestellt.)',
                'listtype':true,
                'list1text':'z.B. Prüfung, ob das Produkt ordnungsgemäß funktioniert oder defekt ist.',


                //- 'listText2':'',
                //- 'listText3':'',
                'subtitle2':true,
                'subtitle2text':'Reinigung des Filters, da der Filter des Produktes verstopft war, etc..Falls das Produkt in einer unsachgemäßen Umgebung verwendet wird, wie beispielsweise Installation im Auto, auf einem Schiff, etc..Mittelbare Folgen eines eventuellen Fehlers (Nutzungsausfall, entgangener Gewinn etc.)Wenn das Produkt als B- oder C-Ware erworben wurde.',

            },

        ]
    - 
        const itemsList2 = [
            {
                'prdName': 'DVD / BluRay Player',
                'month':'24 Monate',
                'service':'Carry in',
            },
            {
                'prdName': 'Micro HiFi',
                'month':'24 Monate',
                'service':'Carry in',
            },
            {
                'prdName': 'Heim Kino',
                'month':'24 Monate',
                'service':'Carry in',
            },
            {
                'prdName': 'Mikrowelle',
                'month':'24 Monate',
                'service':'Carry in',
            },
            {
                'prdName': 'Staubsauger',
                'month':'24 Monate',
                'service':'Carry in',
            },
            {
                'prdName': 'Kühl- und Gefriergeräte',
                'month':'24 Monate',
                'service':'Carry in',
                'more':true,
                'desc':'Inverter Linear Kompressor weitere 8 Jahre nach Ende der Garantiedauer (Nur Ersatzteil - Anfahrt und Arbeitskosten werden verrechnet)Inverter Linear Compressor der Kühlgeräte mit Centum-System (bei nicht gewerblicher Nutzung): weitere 18 Jahre nach Ende der Garantiedauer (Nur Ersatzteil - Anfahrt und Arbeitskosten werden verrechnet)'
            },
            {
                'prdName': 'Waschmaschine',
                'month':'24 Monate',
                'service':'Carry in',
                'more':true,
                'desc':'Direct-Drive Motor: weitere 8 Jahre Garantie nach Ende der Garantiedauer (Nur Ersatzteil - Anfahrt und Arbeitskosten werden verrechnet)'
            },
            {
                'prdName': 'Wäschetrockner',
                'month':'24 Monate',
                'service':'Carry in',
                'more':true,
                'desc':'Direct-Drive Motor: weitere 8 Jahre Garantie nach Ende der Garantiedauer (Nur Ersatzteil - Anfahrt und Arbeitskosten werden verrechnet)'
            },
            {
                'prdName': 'Geschirrspüler',
                'month':'24 Monate',
                'service':'Carry in',
            },
            {
                'prdName': 'Fernsehgeräte',
                'month':'24 Monate',
                'service':'On site/Abholung ab 55"',
                'more':true,
                'desc':'Bei OLED Premium Serie G2 + Z2: Weitere 36 Monate nach Ende der Garantiedauer für das Panel (Nur Ersatzteil - Anfahrt und Arbeitskosten werden verrechnet)'
            },
            {
                'prdName': 'Mobile / Tablet / Wearable',
                'month':'24 Monate',
                'service':'Carry in',
                'more':true,
                'desc':'Akku: 6 Monate'
            },
            {
                'prdName': 'Zubehör',
                'month':'6 Monate',
                'service':'Carry in',
                'more':true,
                'desc':'Gültig für Zubehör, welches in der Verkaufsverpackung inkludiert war.'
            },
            {
                'prdName': 'Klimageräte / Wärmepumpen',
                'more':true,
                'desc':'Bitte kontaktieren Sie ihren Installateur.'
            },
        ]   

    .guide-text-type CS Warranty Consumer - AT

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-AT 
            #container.CS0078__container
                // CONTENT
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area 
                        .cs-notabs
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        h1.font-w-light-56.font-m-light-28 Garantie
                                    .text.c-text-contents__bodycopy
                                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            | Im folgenden finden sie nähere informationen zu den garantieleistungen von LG.
                                            br
                                            | LG Electronics übernimmt gegenüber ihrem fachhändler die folgende garantie.

                            .button.c-print-area
                                +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                            .cs-warranty__normalContents 
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Garantiebestimmungen und - bedingungen
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                | LG Electronics Deutschland GmbH, Zweigniederlassung Österreich („LG Electronics“) gewährt für alle LG Electronics 
                                                | Consumer-Produkte aus den Bereichen (a) „Unterhaltungselektronik (u.a. TV/Heimkino/BluRay“ etc.), (b) „Information 
                                                | System products – ISP“ (u.a. Monitore, Notebooks, Projektoren (Beamer), etc.), sowie (c) „Haushaltsgeräte“ (u.a. 
                                                | Waschmaschinen, Kühl-/Gefriergeräte, Mikrowellen etc.) - genaue Produktübersicht unter: 
                                                a(href="https://www.lg.com/at") www.lg.com/at 
                                                | - eine freiwillige Garantie dafür, dass diese Produkte und deren Teile zum Zeitpunkt des Gefahrübergangs frei von Material- oder Verarbeitungsfehlern sind (Es handelt sich hierbei folglich nicht um eine Haltbarkeitsgarantie im Sinne des §9a Abs. 2 KSchG). Maßgabe für die Fehlerfreiheit ist der Stand der Technik vergleichbarer Produkte zum Zeitpunkt des Inverkehrbringens.
                                                br
                                                | Diese Garantie findet Anwendung auf alle in den oben genannten Bereichen von LG Electronics in den Handel gebrachten LG Consumer-Produkte.
                                                | Die Garantieleistung wird grundsätzlich in Österreich erbracht. Wird ein Produkt außerhalb Österreich verbracht, eingesetzt oder entsteht dort ein Fehler im Sinne dieser Garantie, kann eine eventuelle Garantieleistung grundsätzlich in Österreich erbracht werden. Es besteht kein Rechtsanspruch auf eine Garantieleistung außerhalb Österreichs. Die Erbringung einer Garantieleistung für solche Geräte/Produkte außerhalb Österreichs ist jedoch in Einzelfällen möglich und wird von der jeweiligen LG Electronics Gesellschaft gemäß den jeweiligen nationalen Garantiebedingungen erbracht.
                                                | Die Garantie beschränkt nicht die gesetzlichen Sachmängelhaftungsansprüche und stellt bei Durchführung von Garantiearbeiten keine Anerkennung von Sachmängeln dar.
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Garantievoraussetzungen
                                        .text.c-text-contents__bodycopy
                                            ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                li Die Garantie gilt nur im Zusammenhang mit der Originalrechnung, dem Kassenbeleg oder einer Bestätigung von LG Electronics über die Garantiedauer. Ist die Seriennummer des Produktes nicht vorhanden oder nicht lesbar, so ist die Garantie von LG Electronics ungültig. In diesem Fall sollten Sie sich an den Händler wenden, bei dem Sie das Produkt gekauft haben.
                                                li Es liegt allein im Ermessen von LG Electronics, das defekte Gerät oder defekte Bestandteile zu reparieren oder zu ersetzen. Das jeweils ersetzte Gerät oder Bestandteil geht in das Eigentum von LG Electronics über.
                                                li LG Electronics legt großen Wert auf gute Serviceleistungen, so dass Reparaturen schnell und zuverlässig ausgeführt werden. Deshalb werden alle Garantiereparaturen durch von LG Electronics autorisierte Service-Zentren durchgeführt. Wird die Reparatur von einer nicht autorisierten oder beauftragten Person durchgeführt, übernimmt LG Electronics weder Kosten noch Haftung.
                                                li Alle Produkte von LG Electronics entsprechen den Spezifikationen des jeweiligen Landes, in denen sie verkauft werden.Alle Kosten, die aus einer etwaigen Umrüstung der Geräte entstehen, werden von LG Electronics nicht übernommen.

                                                li Die Garantieleistungen von LG Electronics schließen die folgenden Punkte nicht ein:
                                                    ol(type="a")
                                                        li Regelmäßige Kontrollen, Wartung und Reparatur oder der Ersatz von Verschleißteilen.
                                                        li Falsche Bedienungen oder Defekte durch fehlerhafte Installation.
                                                        li Schäden, verursacht durch Sturm, Wasser, Feuer, Überspannung, höhere Gewalt oder Krieg, fehlerhaftenAnschluss an das Netz, unzureichende oder fehlerhafte Belüftung oder andere Gründe, auf dieLG Electronics keinen Einfluß hat.
                                                        li Schäden, die durch den Transport oder unsachgemäße Verpackung entstehen.
                                                        li Die Garantiezeit für mitgelieferte Akkus beträgt 6 Monate ab Kaufdatum.
                                                li Die in dem jeweiligen Land geltenden Rechte des Verbrauchers, zum Beispiel Forderungen gegenüber dem Verkäufer, wie im Kaufvertrag niedergelegt, werden von dieser Garantieerklärung nicht berührt. LG Electronics, seine Niederlassungen und Distributoren, haften nicht für direkte oder indirekte Schäden oder Verluste, soweit nicht zwingende gesetzliche Bestimmungen dem entgegenstehen.
                                .c-service-list__wrap 
                                    ul.c-service-list
                                        p Hotline: 0800 0800 40
                                        li.font-m-normal-12.font-w-normal-20 Bitte halten Sie bei Kontaktaufnahme mit unserer Hotline unbedingt folgende Informationen bereit:
                                            ul
                                                li Modell Nummer
                                                li Seriennummer
                                                li Datum und Händler wo Sie das Produkt gekauft haben
                                                li Art der Anfrage

                                    ul.c-service-list
                                        strong.font-m-normal-12.font-w-normal-20 Das LG Austria Hotline Team steht Ihnen unter folgender Rufnummer zur Verfügung

                                        div 
                                            span.font-m-normal-12.font-w-normal-20 Für alle Kundenanfragen
                                            .c-sevice-list__infowrap
                                                dl 
                                                    dt.font-m-normal-12.font-w-normal-20 Montag - Freitag
                                                    dd.font-m-normal-16.font-w-normal-24 09:00 bis 17:00 Uhr
                                                dl 
                                                    dt.font-m-normal-12.font-w-normal-20 Telefon
                                                    dd.font-m-normal-16.font-w-normal-24 0800 0800 40
                                                        span.font-m-normal-12.font-w-normal-20 (*gebührenfrei)

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Leistungen, die von der Garantie gedeckt sind
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                | * Reparatur eines Mangels oder Fehlers, zu dem es bei einem sachgemäßen Gebrauch innerhalb der Garantiefrist kommt.
                                .c-product-list__wrap
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                h2.font-w-light-56.font-m-light-28 Leistungen, die nicht von der Garantie gedeckt sind
                                    ul.c-product-list
                                        each items in itemsList
                                            li.c-content_box
                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                div.font-m-normal-14.font-w-normal-16 #{items.subtitle}
                                                    if items.listtype
                                                        ul 
                                                            li #{items.list1text}
                                                            if items.list2
                                                                li #{items.list2text}
                                                                li #{items.list3text}
                                                        if items.subtitle2 
                                                            span.font-m-normal-14.font-w-normal-16 #{items.subtitle2text}

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Installationsstandard für große Produkte
                                        .text.c-text-contents__bodycopy
                                            ul.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                li Die Installationskosten für große oder spezielle Produkte werden dem Kunden unabhängig der Garantiefrist des Produktes in Rechnung gestellt. (Normales Produkt/Installation einer Klimaanlage)
                                                li Die Installationskosten für Klimaanlagen variieren je nach Produktgröße (Kapazität), dem Installationsort und den Kosten für zusätzliche Komponenten.


                                .c-product-list__wrap
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                h2.font-w-light-56.font-m-light-28 Garantiefrist nach Produkt
                                    ul.c-product-list.c-product-list__type2 
                                        each items in itemsList2
                                            li.c-content_box 
                                                p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                ul
                                                    li 
                                                        strong.font-m-normal-14.font-w-normal-14  Garantiedauer
                                                        span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                    li 
                                                        strong.font-m-normal-14.font-w-normal-14 Service Methode 
                                                        span.font-m-normal-14.font-w-normal-24 #{items.service}
                                                if items.more 
                                                    ul.font-m-normal-14.font-w-normal-24 
                                                        li.c-desc 
                                                            strong.font-m-normal-14.font-w-normal-14 Anmerkungen
                                                            span.font-m-normal-14.font-w-normal-16 #{items.desc}

                                    .c-product-list__desc
                                        dl.font-m-normal-12 
                                            dt Carry in
                                            dd Gerät wird zur Reparatur im Servicecenter oder beim Händler abgegeben
                                            dt On site
                                            dd Gerät wird, wenn möglich, vor Ort repariert
                                            dt Abholung
                                            dd Der Benutzer hat dafür zu sorgen, dass das Gerät transportsicher verpackt ist und abholbereit ist.
                                                | Eine etwaige Montage/Demontage ist nicht in der Garantieleistung enthalten.
                                        ul.font-m-normal-12 
                                            li Die oben beschriebenen Garantiebedingungen sind gelegentlich von Änderungen betroffen.
                                                br.c-hidden-mo 
                                                | Für die aktuellsten Garantiebedingungen wenden sie sich bitte an unsere Hotline oder LG-Service-Center.