extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-PE"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsList2 = [ 
            {
                'prdName':'Audio Mini / Midi / One Body',
                'year':'12 meses',
                'year2':'12 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Audio Home Teather / SoundBar',
                'year':'12 meses',
                'year2':'12 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Video Reproductor de DVD',
                'year':'12 meses',
                'year2':'12 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Video Reproductor Blu-Ray',
                'year':'12 meses',
                'year2':'12 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'TV',
                'year':'24 meses',
                'year2':'24 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Aspiradoras',
                'year':'12 meses',
                'year2':'12 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Microondas',
                'year':'12 meses',
                'year2':'24 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Refrigeradoras',
                'year':'12 meses',
                'year2':'24 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Lavadoras',
                'year':'12 meses',
                'year2':'24 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Secadoras',
                'year':'12 meses',
                'year2':'24 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Cocinas',
                'year':'12 meses',
                'year2':'12 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Aire Acondicionado',
                'year':'12 meses',
                'year2':'12 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Monitores',
                'year':'36 meses',
                'year2':'36 meses',
                'year3':'12 meses',
            },
            {
                'prdName':'Proyector',
                'year':'24 meses',
                'year2':'24 meses',
                'year3':'24 meses',
            },
            {
                'prdName':'Campanas extractoras',
                'year':'12 meses',
                'year2':'12 meses',
                'year3':'12 meses',
            },
           
        ]
    
    - 
        const itemsList3 = [ 
            {
                'prdName':'Lavadoras',
                'comp':'Motor Inverter Direct Drive y Smart Inverter',
                'year':'10',
                'year2':'10',
                'year3':'10',
            },
            {
                'prdName':'Lavavajillas',
                'comp':'Motor Inverter Direct Drive',
                'year':'-',
                'year2':'10',
                'year3':'10',
            },
            {
                'prdName':'Refrigeradores',
                'comp':'Compresor Linear Inverter / Smart Inverter',
                'year':'10',
                'year2':'10',
                'year3':'10',
            },
            {
                'prdName':'Microondas',
                'comp':'Magnetron Smart Inverter',
                'year':'10',
                'year2':'10',
                'year3':'10',
            },
            {
                'prdName':'Aires Acondicionados',
                'comp':'Productos RAC - Compresor Inverter',
                'year':'10',
                'year2':'10',
                'year3':'10',
            },
        ]
    
    .guide-text-type CS Warranty Consumer - PE

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-PE
            #container.CS0078__container
                // CONTENT
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area 
                        .cs-notabs
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        h1.font-w-light-56.font-m-light-28 Políticas de Garantía

                            .button.c-print-area
                                +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Imprimir", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                            .cs-warranty__normalContents 
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 CONDICIONES DE LA GARANTIA
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                | LG Electronics Perú S.A, garantiza la reparación sin costo a todos sus productos, comercializados directamente desde Perú, dentro del periodo de garantía, y a través de su red de servicios técnicos autorizados, a lo largo de todo Perú, Bolivia y Paraguay.
                                                br
                                                | El presente documento informa sobre las condiciones generales de la garantía convencional que ofrece LG respecto a sus productos, sin perjuicio de las garantías legales o mínimas que existan en cada país. Para conocer los términos específicos de la garantía convencional que cubre su compra, revise la póliza incluida en su producto.
                                                br
                                                | Para la validación de la garantía el cliente deberá presentar el comprobante de pago emitido por el establecimiento comercial conforme a las leyes tributarias vigentes al momento en que se efectuó la compra del producto.
                                                br
                                                | Para solicitar el Servicio a domicilio contactarse con nuestro Call Center al 0-800-1-2424 (Perú), 800 100 545 (Bolivia) y 009 800 54 20072 (Paraguay).
                                                br
                                                | El Servicio a domicilio no aplica para todos los productos (ver restricciones en la póliza de garantía incluida con el producto) y se brinda en las localidades donde se cuente con Centro de Servicio Autorizado. En caso de atención a lugares fuera del Radio Urbano de la Ciudad, el cliente deberá asumir los gastos que implica la atención.
                                                br
                                                | El servicio, para los casos dentro de garantía, se prestará solamente en los Centros de Servicio Autorizados por LG.
                                                br
                                                | LG se reserva el derecho a reparar el producto o cambiar el mismo, cuando la reparación no sea posible. El Servicio ofrecido bajo las condiciones de Garantía consiste en la reparación y/o el reemplazo de componentes; en caso de no ser posible una reparación se procederá con el reemplazo de un producto nuevo del mismo modelo, o modelo de costo similar, y si esto último no fuera posible, se gestionará ante el establecimiento comercial donde el producto fue adquirido la devolución del dinero mediante una Nota de Crédito emitida por dicho establecimiento.
                                
                                .c-product-list__wrap
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                h3.font-w-normal-32.font-m-normal-20 PERIODOS DE GARANTIA
                                    ul.c-product-list.c-product-list__type2 
                                        each items in itemsList2
                                            li.c-content_box 
                                                p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                div 
                                                    strong.font-m-normal-14.font-w-normal-14 PERIODO GARANTIA
                                                    ul    
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 PERU
                                                            span.font-m-normal-20.font-w-normal-24 #{items.year}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 BOLIVIA
                                                            span.font-m-normal-20.font-w-normal-24 #{items.year2}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 PARAGUAY
                                                            span.font-m-normal-20.font-w-normal-24 #{items.year3}
                                .c-product-list__wrap
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                h3.font-w-normal-32.font-m-normal-20 GARANTIA ESPECIAL 10 AÑOS
                                    ul.c-product-list__type3 
                                        li.font-m-normal-20.font-w-normal-32 PERÍODO DE GARANTÍA MOTOR / COMPRESOR / MAGNETRÓN
                                        each items in itemsList3
                                            li.c-content_box
                                                p
                                                    strong.pc-only.font-m-semibold-14.font-w-semibold-14 Producto
                                                    span.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                
                                                ul 
                                                    li 
                                                        strong.font-m-semibold-14.font-w-semibold-14 Componente
                                                        span.font-m-normal-14.font-w-normal-24 #{items.comp}
                                                    
                                                dl  
                                                    dt 
                                                        strong.font-m-semibold-14.font-w-semibold-14 Años
                                                    dd 
                                                        strong.font-m-semibold-14.font-w-semibold-14 Perú
                                                        span.font-m-normal-20.font-w-normal-24 #{items.year}
                                                    dd 
                                                        strong.font-m-semibold-14.font-w-semibold-14 Bolivia
                                                        span.font-m-normal-20.font-w-normal-24 #{items.year2}
                                                    dd 
                                                        strong.font-m-semibold-14.font-w-semibold-14 Paraguay
                                                        span.font-m-normal-20.font-w-normal-24 #{items.year3}
                                .c-cs-header
                                    // block : text-contents
                                    .text.c-text-contents__bodycopy
                                        ul.cs-warrantylist__star.font-m-normal-12.font-w-normal-14(data-cmp-data-layer="")
                                           li La Garantía de los componentes se contabiliza a partir de la fecha de compra del producto.
                                           li La Garantía para componentes especiales consiste en el suministro gratuito del componente por parte de LG Electronics.
                                           li Durante los primeros 12 meses de Garantía regular del producto, LG Electronics suministrará el componente de forma gratuita y la cobertura del servicio de mano de obra sin costo; finalizado este periodo los costos de revisión, mano de obra, materiales, manipulación, transporte o cualquier otro gasto necesario para realizar la reparación del producto, serán asumidos por el cliente.
                                           li En caso de reportarse alguna avería relacionada a alguno de estos componentes luego de los 12 primeros meses de la Garantía regular del producto, el usuario deberá solicitar una evaluación técnica por un Centro de Servicio Autorizado de la Red de LG; el usuario asumirá el pago por el servicio de inspección y recibirá una cotización por los gastos totales que comprende el servicio de reparación; si el usuario no se encuentra conforme con los costos presupuestados, podrá solicitar la entrega del componente gratuito y realizar los trabajos por un taller de su confianza, bajo este escenario se culminaría la relación de cobertura de la Garantía entre el usuario y LG.
                                           li Los plazos de suministro de partes y accesorios están sujetos a disponibilidad de stock y/o plazos de importación.

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__headline
                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                span CASOS NO CUBIERTOS POR LA GARANTIA
                                        .text.c-text-contents__bodycopy
                                            ul.cmp-text.cs-warrantylist__hypen.font-m-normal-12.font-w-normal-20(data-cmp-data-layer="")
                                                li Los gastos por la instalación, desinstalación, acondicionamiento, instrucción, mantenimiento, revisión periódica del producto.
                                                li Verificación, acondicionamiento, modificación o reparación de cualquier tipo de instalación en el domicilio.
                                                li Problemas derivados del transporte, traslado, golpes, abolladuras, hendidura, o defectos estéticos que no correspondan a fallas de origen o fabricación.
                                                li Fallas producidas por conexiones externas, derivadas de la instalación y/o acondicionamiento, conexión a fuentes de alimentación diferentes a las indicadas en las especificaciones técnicas del producto.
                                                li Mal manejo, mal trato, uso indebido del producto o uso de accesorios o materiales inadecuados. Uso de discos piratas y/o uso de discos en mal estado o mal grabados.
                                                li Accidente, abuso, negligencia, instalación o uso inadecuados, solo o con otros equipos, accesorios o consumibles.
                                                li Fallas ocasionadas por causas externas ajenas al producto
                                                li Presencia en el interior del producto de polvo, insectos, líquidos, objetos y/o materiales ajenos del producto, así como presencia de oxido, sulfatación, y/o corrosión en el interior del producto y/o sus accesorios, pieza, partes y componentes.
                                                li Uso del producto bajo condiciones climatológicas no usuales, especiales y/o extremas o uso o exposición del producto a la intemperie.
                                                li Productos destinados al uso comercial.
                                                li Cualquier tipo de manipulación efectuada al producto por personal ajeno a nuestros Servicios Técnicos Autorizados.
                                                li Cuando el producto carezca de rótulo o de número de serie de fábrica o los mismos se encuentren alterados y/o adulterados.
                                                li La garantía no cubre: Botones, perillas, mecanismo de puerta, chapas de refrigeradora, focos, y demás partes que puedan presentar defectos por desgaste por uso normal del producto.
                                                li Sub-pixeles defectuosos, mientras no excedan de 1 por cada millón de pixeles de resolución de pantalla de conformidad con la Norma Técnica ISO-13406-2.
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                span LIMITACIONES DE LA GARANTIA
                                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            | LG no otorga ningún tipo de garantía sobre los productos vendidos como remate o venta de segunda mano no encontrándose excluidos de los términos y condiciones de la misma.
                                            br
                                            br
                                            | Los productos vendidos que hayan formado parte de alguna exhibición solamente cuentan con 3 meses de garantía contados desde la fecha de adquisición. Esta garantía no cubre: defectos físicos y/o estéticos, pantallas de TV, compresores de refrigeradoras, lentes ópticos, parlantes y cualquier otro componente que pueda haber sido afectado por desgaste normal durante el uso del producto en exhibición.
                                            br
                                            br
                                            | La venta de saldos con más de 1 año de antigüedad en el almacén de la tienda o distribuidor tienen garantía limitada, el tiempo de garantía limite se considera hasta 30 meses para productos con 12 meses de garantía o hasta 42 meses para productos con 24 meses de garantía, el periodo se toma en cuenta desde la fecha de fabricación.