extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-BE"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsCN = [
            {
                'product':'Climatisation Mobile',
                'product2':'2 ans',
            },
            {
                'product':'Autres produits de climatisation',
                'product2':'Contactez votre installateur',
            },
            {
                'product':'Contactez votre installateur',
                'product2':'2 ans',
            },
            {
                'product':'Réfrigérateur congélateur',
                'product2':'2 ans',
            },
            {
                'product':'Ordinateur portable',
                'product2':'2 ans',
            },
            {
                'product':'Micro-onde et four',
                'product2':'2 ans',
            },
            {
                'product':'Téléphone portable',
                'product2':'2 ans',
            },
            {
                'product':'Moniteur',
                'product2':'2/3 ans',
            },
            {
                'product':'Aspirateur (robot, sans fil, filaire)',
                'product2':'2 ans',
            },
            {
                'product':'Styler',
                'product2':'2 ans',
            },
            {
                'product':'TV (OLED, LED, LCD)',
                'product2':'2 ans',
            },
            {
                'product':'Machine à laver et sèche-linge',
                'product2':'2 ans',
            },
            

        ]
    
    - 
        const itemsCN2 = [
            {
                'title': 'Téléviseurs OLED série G2 & Z2',
                'subText':'Ecran',
                'subText2':'5 ans',
            },
            {
                'title': 'Lave-linge et Lave-linge séchant',
                'subText':'Direct Drive',
                'subText2':'10 ans',
            },
            {
                'title': 'Sèche-linge',
                'subText':'Compresseur de Pompe à Chaleur Dual Inverter',
                'subText2':'10 ans',
            },
            {
                'title': 'Réfrigérateurs et Congélateurs',
                'subText':'Compresseur Linéaire et Smart Inverter',
                'subText2':'10 ans',
            },
            {
                'title': 'Micro-ondes',
                'subText':'Smart Inverter',
                'subText2':'10 ans',
            },
        ] 

    .guide-text-type CS Warranty Consumer - BE

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-BE
            #container.CS0078__container
                // CONTENT
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area 
                        .cs-notabs
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        h1.font-w-light-56.font-m-light-28 Garantie
                                    .text.c-text-contents__bodycopy
                                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            | LG Electronics Benelux propose un service de réparation gratuit au travers d'un réseau agréé, dans les délais prévus par la garantie légale. Chacun de nos produits a des conditions de garantie qui lui sont propres. Consultez ce document pour en savoir plus, notamment sur la période de garantie ou encore sur les exclusions de la garantie du fabricant.

                            .cs-warranty__normalContents 
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy
                                            span.font-w-normal-20.font-m-normal-12
                                                | LG Electronics Benelux offre un service de réparation gratuit pour tous ses produits dans les termes et conditions fixés par la garantie LG. Les réparations sous cette garantie du fabricant sont uniquement effectuées par le propre centre de service de LG ou par des centres de service tiers certifiés par LG. Chaque produit LG a ses propres conditions de garantie. Les lois et réglementations en vigueur concernant la garantie du produit s'appliquent et cette garantie n'affecte pas les droits de l'acheteur. Pour plus d'informations sur la méthode, les conditions, la période de garantie et les exclusions de la garantie du fabricant, veuillez lire le document ci-dessous.
                                                br
                                                | Si vous souhaitez bénéficier de la garantie du fabricant, veuillez contacter LG et/ou le revendeur. Cela permet à votre produit d'être réparé gratuitement en cas de défaut de fonctionnement, tant que le produit a été utilisé conformément aux normes du fabricant. La période de garantie commence à la date d'achat du produit (la facture sert comme preuve d'achat).
                                                br
                                                | Contactez directement notre service client pour signaler votre défaut et organiser une réparation.

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 1 Conditions de la garantie d'usine:
                                        .text.c-text-contents__bodycopy
                                            span.font-w-normal-20.font-m-normal-12
                                                | Cette garantie vous donne droit à une réparation gratuite (pièces, main-d'œuvre et intervention) pour les défauts de matériaux ou de fabrication effectuée par un centre de service LG autorisé (ASC).Cependant, la garantie ne couvre pas les frais de transport du produit vers LG ou un ASC, ni les risques associés au transport, sauf sur commande expresse ou arrangée par LG. L'expéditeur est responsable de s'assurer que le produit LG qu'il expédie est emballé en toute sécurité pour le transport. Le défaut sera corrigé par la réparation ou le remplacement (pièces et appareils) à la discrétion de LG. Les pièces ou appareils remplacés deviennent la propriété de LG. Les appareils d'échange et les pièces de rechange peuvent être neufs ou remis à neuf pour être équivalents aux neufs en termes de performances et de fiabilité.La sauvegarde des données et des programmes stockés ou stockés dans un produit LG n'est pas garantie lors de l'exécution de travaux sous garantie. L'exécution de travaux sous garantie, y compris le remplacement, n'entraîne pas une prolongation ou un nouveau départ de la période de garantie.
                                
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 2 Période de garantie
                                        .text.c-text-contents__bodycopy
                                            span.font-w-normal-20.font-m-normal-12
                                                | La période de garantie standard est de 2 ans (24 mois) sauf indication contraire.
                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type3
                                        each items in itemsCN
                                            li.c-content_box 
                                                p.font-m-normal-14.font-w-normal-16 Catégorie
                                                ul.warranty_box.type2
                                                    li.font-m-normal-20.font-w-normal-24 
                                                        span #{items.product}

                                                ul.warranty_box.type2 
                                                    li.font-m-normal-14.font-w-normal-16 Garantie standard
                                                    li.font-m-normal-20.font-w-normal-24 
                                                        span #{items.product2}

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy
                                            p.font-w-normal-20.font-m-normal-14 En plus de la garantie standard, LG peut offrir une garantie supplémentaire sur des modèles et des pièces spécifiques. Veuillez vérifier les conditions de garantie spécifiques du modèle que vous avez acheté.
                                                
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 3 Exclusions de garantie
                                        .text.c-text-contents__bodycopy
                                            ol.warrantylist__number.font-w-normal-14.font-m-normal-12 
                                                li Coûts dus à l'usure normale et aux consommables ;
                                                li Défauts causés par une utilisation, une manipulation, une utilisation excessive ou une installation incorrecte ;
                                                li Dommages causés par l'expédition ou un emballage inapproprié ;
                                                li Conséquences indirectes de tout dysfonctionnement (impossibilité d'utiliser l'appareil, manque à gagner, etc.) ;
                                                li Dommages résultant du non-respect des instructions du fabricant (LG), comme indiqué dans le manuel d'utilisation,
                                                li Défauts de pixel dans la classe d'erreur 2 selon ISO-9241-307, sauf indication contraire dans les spécifications du produit ;
                                                li Dommages (par exemple, rayures, bosses) causés par des influences extérieures, des liquides, des chutes, des influences mécaniques, des produits chimiques et à     base de plantes, des dépôts de nicotine ou de graisse, d'autres salissures, un assemblage, un montage et/ou une utilisation incorrects d'accessoires non approuvés par LG, etc.;
                                                li Utilisation commerciale de l'équipement
                                                li Connexion à une tension ou à un type de courant incorrect ;
                                                li Ventilation insuffisante ou inappropriée ou autres raisons indépendantes de la volonté de LG ;
                                                li Interventions de personnes non autorisées à le faire et non autorisées par LG.
                                                li Utilisation au-delà de l'usage domestique normal ;
                                                li Un défaut non signalé au service client LG ou au revendeur en temps opportun ;
                                                li LG n'a pas eu immédiatement la possibilité d'effectuer des travaux sous garantie ;
                                                li Il y a des pièces incorporées dans le produit LG dont l'utilisation n'est pas autorisée par LG, ou le produit LG a été modifié d'une manière non autorisée par LG ;
                                                li Les instructions concernant l'utilisation, la maintenance et l'entretien appropriés du produit LG, telles que décrites dans le manuel d'utilisation, n'ont pas été suivies ;
                                                li Le numéro de série n'existe pas ou a été modifié, supprimé, supprimé ou autrement rendu illisible.
                                                li Le produit a été acheté d'occasion (le vendeur peut peut-être faire quelque chose pour vous à cet égard).

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 Réparations hors garantie d'usine
                                        .text.c-text-contents__bodycopy
                                            p.font-w-normal-14.font-m-normal-12 Même en dehors de la période de garantie, LG peut généralement proposer une réparation en cas de défaut du produit. Vous pouvez recevoir un devis pour cela après avoir signalé votre défaut à notre service client. Ceci s'applique également si le défaut n'est pas couvert par les conditions de garantie.
                        
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 Garantie pour les parties commerciales
                                        .text.c-text-contents__bodycopy
                                            p.font-w-normal-14.font-m-normal-12 Les conditions générales de garantie ne s'appliquent pas à un usage professionnel, mais il est possible que quelque chose ait été convenu contractuellement avec la vente. Vérifiez cela et contactez le vendeur si nécessaire. Vous pouvez toujours contacter LG pour demander une demande de réparation avec devis.
                        
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 Garantie prolongée sur les pièces
                                        .text.c-text-contents__bodycopy
                                            p.font-w-normal-14.font-m-normal-12 LGE offre une garantie plus langue que la garantie standard de 2 ans sur des pièces spécifiques.Consultez par produit les conditions qui s'appliquent.
                        
                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type2
                                        each items in itemsCN2
                                            li.c-content_box 
                                                p.font-m-normal-16.font-w-normal-24
                                                    span.font-m-normal-20.font-w-normal-14 Produit
                                                    | #{items.title}
                                                ul
                                                    li 
                                                        strong.font-m-normal-14.font-w-normal-14 Pièce
                                                        span.font-m-normal-20.font-w-normal-24 #{items.subText}
                                                ul
                                                    li
                                                        strong.font-m-normal-14.font-w-normal-14 Garantie
                                                        span.font-m-normal-20.font-w-normal-24 #{items.subText2}
                                                ul 
                                                    li
                                                        strong.font-m-normal-14.font-w-normal-14 Conditions
                                                        a(href="#").font-m-normal-14.font-w-normal-16.c-download Benelux.pdf
                                
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 1 an de garantie supplémentaire dans le cadre de la promotion TV cashback
                                        .text.c-text-contents__bodycopy
                                            p.font-w-normal-14.font-m-normal-12 La garantie d'un an supplémentaire est valable lors de l'achat d'un modèle de téléviseur LG OLED 2023 du 17 avril 2023 au 30 juin 2023.
                                                br
                                                | Conditions 
                                                a.c-pdf-download.font-w-normal-12.font-m-normal-12(href="") Acrobat Reader download
                        