extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-NL"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    -
        const items = [
            {
                'prdTypes':'TVs',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'note' : false,
                'onlybeforNote':true,
                'beforeNoteText' : '5 year premium OLED panel warranty on LG Z1 and G Series OLED TVs – this extended warranty is applicable to the panel only. The consumer will be charged for labour after the 12 month product warranty has expired. No registration required. Available in the UK only. Click here to find out more.',
                'link': 'Click here',
                'note2' : ' to find out more.',
                'useImg': false,
                'moreBtn':true,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'BluRay/DVD players',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Soundbars/Speakers',
                'warranty':'Warranty period',
                'labour' : '12/24 months',
                'parts':'12/24 months',
                'note':true,
                'noteText' : '24 months parts & labour warranty applies to models with functional WiFi only. (Wifi Ready models are excluded and therefore have 12 months parts & labour warranty.)',
                'useImg': false,
            },
            {
                'prdTypes':'Mobile phones',
                'warranty':'Warranty period',
                'labour' : '24 months',
                'parts':'24 months',
                'note':true,
                'noteText' : 'Your mobile phone warranty will vary depending on where you purchased. Please check with your retailer.',
                'useImg': false,
            },
            {
                'prdTypes':'Earbuds',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'note' : false,
                'useImg': false,
            },
            {
                'prdTypes':'Projectors',
                'warranty':'Warranty period',
                'labour' : '36 months',
                'parts':'36 months',
                'note':true,
                'noteText' : 'The manufacturer warranty is applicable for normal consumer usage. If the product is used in a commercial environment the product and its parts will have a 12 months parts and labour warranty only.',
                'useImg': false,
            },
        ]

    -
        const items2 = [
            {
                'prdTypes':'TVs2222222222222222222222222222',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'note' : false,
                'onlybeforNote':true,
                'beforeNoteText' : '5 year premium OLED panel warranty on LG Z1 and G Series OLED TVs – this extended warranty is applicable to the panel only. The consumer will be charged for labour after the 12 month product warranty has expired. No registration required. Available in the UK only. Click here to find out more.',
                'link': 'Click here',
                'note2' : ' to find out more.',
                'useImg': false,
                'moreBtn':true,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
        ]

    - 
        const itemsNL = [
            {
                'prdName': 'Audio & Video & Hifi & Beamer',
                'month':'2 jaar',
            },
            {
                'prdName': 'Combimagnetron & Oven',
                'month':'2 jaar',
            },
            {
                'prdName': 'Koelkast & vriezer',
                'month':'2 jaar',
            },
            {
                'prdName': 'Laptop',
                'month':'2 jaar',
            },
            {
                'prdName': 'Mobiele Telefoon',
                'month':'2 jaar',
            },
            {
                'prdName': 'Monitor',
                'month':'2/3 jaar *',
            },
            {
                'prdName': 'Mobiele Airconditioner',
                'month':'2 jaar',
            },
            {
                'prdName': 'Overige Airconditioning producten',
                'month':'Neem contact op met uw installateur',
            },
            {
                'prdName': 'Stofzuiger (robot, snoerloze, snoer)',
                'month':'2 jaar',
            },
            {
                'prdName': 'Styler',
                'month':'2 jaar',
            },
            {
                'prdName': 'TV (OLED, LED, LCD)',
                'month':'2 jaar',
            },
            {
                'prdName': 'Wasmachine & Wasdroger',
                'month':'2 jaar',
            },
        ]   
    - 
        const itemsNL2 = [
            {
                'prdName': 'OLED tv’s G2 & Z2 series',
                'element':'Paneel',
                'month':'5 Jaar',
                'file':'Benelux.pdf',
            },
            {
                'prdName': 'Wasmachines & Wasdroogcombinaties',
                'element':'Direct Drive',
                'month':'10 Jaar',
                'file':'Benelux.pdf',
            },
            {
                'prdName': 'Wasdroger',
                'element':'Heat Pump Compressor',
                'month':'10 Jaar',
                'file':'Benelux.pdf',
            },
            {
                'prdName': 'Koelkasten & Vriezers',
                'element':'Smart- & Linear inverter compressor',
                'month':'10 Jaar',
                'file':'Benelux.pdf',
            },
            {
                'prdName': 'Magnetron/oven',
                'element':'Smart Inverter',
                'month':'10 Jaar',
                'file':'Benelux.pdf',
            },
        ]   

    mixin accordion(items)
        .accordion(role='tablist')
            each item, i in items
                .accordion__item
                    .accordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .accordion__content(role='tabpanel')
                        .c-warranty__text
                            p.font-m-normal-14.font-w-normal-14 #{item.warranty}
                            ul.font-m-normal-14.font-w-normal-24 
                                li 
                                    span Labour :
                                    | #{item.labour}
                                li 
                                    span Parts : 
                                    | #{item.parts}
                            if beforeNote
                                .c-beforeNote.font-m-normal-14.font-w-normal-16.c-hidden-pc 
                                    | #{beforeNote}
                                    a(href="#").c-hidden-pc #{item.beforeNoteLink_mo}
                                    a(href="#").c-hidden-mo #{item.beforeNoteLink_pc}
                                    | #{item.beforeNote2}
                                .button.c-cta.c-hidden-pc
                                    +linkButton({name:'Learn more', icon:true, type:'text'})
                            if item.note
                                .font-m-normal-14.font-w-normal-16.aaaa 
                                    if item.beforeNoteText 
                                        .c-beforeNote.font-m-normal-14.font-w-normal-16
                                            | #{item.beforeNoteText}
                                            a(href="#").c-hidden-pc #{item.beforeNoteLink_mo}
                                            a(href="#").c-hidden-mo #{item.beforeNoteLink_pc}
                                            | #{item.beforeNote2} 
                                    else
                                    if item.moreBtn
                                        .button.c-cta
                                            +textButton({name:'Learn more', wSize:'small', mSize:'small', icon:true, type:'text'})
                                    else 
                                        block
                                    .c-note-flag.font-m-normal-14.font-w-normal-14 Note
                            if !item.note
                                if item.beforeNoteText
                                    .c-no-note.font-m-normal-14.font-w-normal-16.ccc 
                                        .c-beforeNote.font-m-normal-14.font-w-normal-16
                                            .c-beforeNote__text
                                                | #{item.beforeNoteText}
                                                //- a(href="#").c-hidden-pc #{item.beforeNoteLink_mo}
                                                //- a(href="#").c-hidden-mo #{item.beforeNoteLink_pc}
                                                //- | #{item.beforeNote2}
                                        if item.moreBtn
                                            .button.c-cta
                                                +textButton({name:'Learn more', wSize:'small', mSize:'small',icon:true, type:'text'})
                                else 
                                    if item.moreBtn
                                        .button.c-cta
                                            +textButton({name:'Learn more', wSize:'small', mSize:'small',icon:true, type:'text'})
                            div.c-noteText.font-m-normal-14.font-w-normal-16 #{item.noteText}

    mixin nonAccordion(items)
        .accordion.cs-nonAccordion(role="list")
            each item, i in items 
                .accordion__item.cs-nonAccordion__item
                    .accordion__title.cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .accordion__content.cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text
                            p.font-m-normal-14.font-w-normal-14 #{item.warranty}
                            ul.font-m-normal-14.font-w-normal-24 
                                li 
                                    span Labour :
                                    | #{item.labour}
                                li 
                                    span Parts : 
                                    | #{item.parts}
                            if beforeNote
                                .c-beforeNote.font-m-normal-14.font-w-normal-16.c-hidden-pc 
                                    | #{beforeNote}
                                    a(href="#").c-hidden-pc #{item.beforeNoteLink_mo}
                                    a(href="#").c-hidden-mo #{item.beforeNoteLink_pc}
                                    | #{item.beforeNote2}
                                .button.c-cta.c-hidden-pc
                                    +linkButton({name:'Learn more', icon:true, type:'text'})
                            if item.note
                                .font-m-normal-14.font-w-normal-16.aaaa 
                                    if item.beforeNoteText 
                                        .c-beforeNote.font-m-normal-14.font-w-normal-16
                                            | #{item.beforeNoteText}
                                            a(href="#").c-hidden-pc #{item.beforeNoteLink_mo}
                                            a(href="#").c-hidden-mo #{item.beforeNoteLink_pc}
                                            | #{item.beforeNote2} 
                                    else
                                    if item.moreBtn
                                        .button.c-cta
                                            +textButton({name:'Learn more', wSize:'small', mSize:'small', icon:true, type:'text'})
                                    else 
                                        block
                                    .c-note-flag.font-m-normal-14.font-w-normal-14 Note
                            if !item.note
                                if item.beforeNoteText
                                    .c-no-note.font-m-normal-14.font-w-normal-16.ccc 
                                        .c-beforeNote.font-m-normal-14.font-w-normal-16
                                            .c-beforeNote__text
                                                | #{item.beforeNoteText}
                                                //- a(href="#").c-hidden-pc #{item.beforeNoteLink_mo}
                                                //- a(href="#").c-hidden-mo #{item.beforeNoteLink_pc}
                                                //- | #{item.beforeNote2}
                                        if item.moreBtn
                                            .button.c-cta
                                                +textButton({name:'Learn more', wSize:'small', mSize:'small',icon:true, type:'text'})
                                else 
                                    if item.moreBtn
                                        .button.c-cta
                                            +textButton({name:'Learn more', wSize:'small', mSize:'small',icon:true, type:'text'})
                            div.c-noteText.font-m-normal-14.font-w-normal-16 #{item.noteText}

    .guide-text-type CS Warranty Consumer - NL

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-NL 
            #container.CS0078__container.first-container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Garantie
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Wij zetten onze klanten op de eerste plaats en proberen de best mogelijke service te leveren, voor en na aankoop. Vind hier informatie over de standaard LG-garantie, fabrieksgarantie, de garantieperiode, uitsluitingen en meer.
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        //- .title.c-text-contents__headline
                        //-     h2.font-w-light-56.font-m-light-28 Garantiebestimmungen und - bedingungen
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                | LG Electronics Benelux biedt een gratis reparatieservice voor al haar producten binnen de door de LG-garantie gestelde termijnen en voorwaarden. Reparaties onder deze fabrieksgarantie worden alleen uitgevoerd door LG haar eigen service center of door LG gecertificeerde externe service centers. Elk LG-product heeft zijn eigen garantievoorwaarden.Hierbij is de huidige wet- en regelgeving m.b.t. productgarantie van toepassing en deze garantie laat de wettelijke rechten van de koper onverlet. Voor meer informatie over methode, voorwaarden, garantieperiode en uitsluitingen voor de fabrieksgarantie kunt u onderstaand document lezen. Als u gebruik wilt maken van de fabrieksgarantie neemt u hierover contact op met LG en/of de winkelier.Hiermee kan uw product gratis worden gerepareerd in het geval van een defect in de werking, zolang het product is gebruikt zoals bedoeld door de fabrikant. De garantieperiode begint op de datum van aankoop van het product (de factuur dient als aankoopbewijs). Neem direct contact op met onze klantenservice om uw defect te melden en een reparatie te regelen.
                // CONTENT
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            input#tab3(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1').c-tab__title.font-w-normal-20.font-m-normal-16 Standaard Garantie
                                    .tab2.swiper-slide
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 Verlengde Onderdelen Garantie

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                #container.container.second-container
                                                    //- .button.c-print-area
                                                    //-     +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                    //- button(type="button" role="button").c-print.c-hidden-mo.font-w-normal-16.c-print-area.js-print Print
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                +headline('font-w-light-56 font-m-light-28',h2,'Voorwaarden van de fabrieksgarantie')
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    span Deze garantie geeft recht op gratis reparatie (onderdelen, arbeid en voorrijkosten) van defecten in materiaal of fabricagefouten uitgevoerd door een geautoriseerd LG-servicecentrum (ASC).De garantie dekt echter niet de kosten van het transport van het product naar LG of een ASC, noch de risico's verbonden aan het transport, tenzij uitdrukkelijk besteld of geregeld door LG.De afzender moet ervoor zorgen dat het LG-product dat hij verzendt, veilig wordt verpakt voor transport.Het defect wordt verholpen door reparatie of vervanging (onderdelen en apparaten) naar inzicht van LG.Vervangen onderdelen of apparaten worden eigendom van LG. Ruilapparaten en vervangende onderdelen kunnen nieuw of gereviseerd zijn die qua prestaties en betrouwbaarheid gelijkwaardig zijn aan nieuw.De back-up van de gegevens en programma's die zijn opgeslagen of opgeslagen in een LG-product wordt niet gegarandeerd bij het uitvoeren van garantiewerkzaamheden.Het uitvoeren van garantiewerkzaamheden, inclusief vervanging, leidt niet tot verlenging of nieuwe start van de garantieperiode.
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                +headline('font-w-light-56 font-m-light-28',h2,'Garantie periode')
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    span De standaard garantieperiode is 2 jaar(24maanden) tenzij anders gespecificeerd.
                                                    ul.c-product-list.c-product-list__type2 
                                                        each items in itemsNL
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-24 #{items.prdName}
                                                                ul
                                                                    li 
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.month}

                                                    .c-product-list__desc
                                                        ul.font-m-normal-12 
                                                            li Monitor - Er zijn monitoren die met 3jaar fabrieksgarantie worden geleverd, wat bij aankoop expliciet wordt vermeld.
                                                                br
                                                                | Naast de standaard garantie kan het zijn dat er extra garantie door LG wordt aangeboden op specifieke modellen en onderdelen. Controleer hiervoor de specifieke garantievoorwaarden van het model dat u heeft gekocht.

                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                +headline('font-w-light-56 font-m-light-28',h2,'Uitsluitingen voor garantie')
                                                            .text.c-text-contents__bodycopy.cs-warrantyCounter
                                                                ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    li Kosten door normale slijtage en verbruiksartikelen;
                                                                    li Defecten veroorzaakt door onjuist gebruik, behandeling, te veel gebruik of onjuiste installatie;
                                                                    li Schade veroorzaakt door verzending of onjuiste verpakking;
                                                                    li Indirecte gevolgen van een eventueel defect (apparaat niet kunnen gebruiken, gederfde winst, enz.);
                                                                    li Schade als gevolg van het niet opvolgen van de instructie van de fabrikant(LG), zoals onder ander vermeld in de gebruikershandleiding;
                                                                    li Pixeldefecten binnen foutklasse 2 volgens ISO-9241-307, tenzij anders vermeld in de productspecificatie;
                                                                    li Schade (bijv. krassen, deuken) veroorzaakt door externe invloeden, vloeistoffen, vallen, mechanische invloeden, chemische en kruidenproducten, nicotine- of vetafzettingen, ander vuiligheid, onjuiste montage, montage en/of gebruik van accessoires die niet zijn goedgekeurd door LG, etc.;
                                                                    li Commercieel gebruik van apparatuur
                                                                    li Aansluiting op onjuiste spanning of type stroom;
                                                                    li Onvoldoende of onjuiste ventilatie of andere redenen buiten de controle van LG;
                                                                    li Ingrepen door personen die daartoe niet bevoegd zijn en niet door LG zijn geautoriseerd.
                                                                    li Gebruik dat verder gaat dan normaal huishoudelijk  gebruik;
                                                                    li Een defect dat niet tijdig gemeld is bij de LG klantenservice of verkoper;
                                                                    li LG is niet onmiddellijk in de gelegenheid gesteld om garantiewerkzaamheden uit te voeren;
                                                                    li Er zijn onderdelen verwerkt in het LG-product waarvan het gebruik niet is geautoriseerd door LG, of het LG-product is gewijzigd op een manier die niet is geautoriseerd door LG;
                                                                    li De voorschriften met betrekking tot correct gebruik, onderhoud en verzorging van het LG-product, zoals beschreven in de gebruikshandleiding zijn niet gevolgd;
                                                                    li Het serienummer bestaat niet, of is gewijzigd, geschrapt, verwijderd of anderszins onleesbaar gemaakt.
                                                                    li Het product is tweedehands gekocht.(Mogelijk kan de verkopende partij hierbij nog iets voor u betekenen.)

                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                +headline('font-w-light-56 font-m-light-28',h2,'Reparaties buiten fabrieksgarantieperiode')
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    span Ook buiten de garantieperiode kan LG meestal een reparatie aanbieden bij een defect aan het product. Hiervoor kunt u na aanmelding van uw defect, bij onze klantenservice, een prijsopgave voor ontvangen. Dit geldt ook voor wanneer het defect niet binnen de garantievoorwaarden valt.
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                +headline('font-w-light-56 font-m-light-28',h2,'Garantie voor commerciële/B2B partijen')
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    span De algemene garantievoorwaarden zijn niet van toepassing voor zakelijk gebruik.Het kan dat er bij verkoop contractueel afspraken over garantie gemaakt zijn. Controleer dit en neem eventueel contact op met de verkopende partij.U kunt altijd contact opnemen met LG om te informeren voor een reparatieverzoek met prijsopgave.
                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                .c-product-list__wrap.second-container
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h2.font-w-light-56.font-m-light-28 Verlengde onderdelen garantie
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    span LGE verstrekt op specifieke onderdelen een langere garantie dan de standaard 2jaar garantie.
                                                                    br
                                                                    span Bekijk per product de specifieke voorwaarden die gelden.
                                                    ul.c-product-list.c-product-list__type2 
                                                        each items in itemsNL2
                                                            li.c-content_box 
                                                                //-p.font-m-normal-20.font-w-normal-32 #{items.prdName}
                                                                ul
                                                                    li
                                                                        strong.font-m-normal-14.font-w-normal-14 Producten
                                                                        span.font-m-normal-20.font-w-normal-24 #{items.prdName}
                                                                ul
                                                                    li 
                                                                        strong.font-m-normal-14.font-w-normal-14 Onderdeel
                                                                        span.font-m-normal-14.font-w-normal-24 #{items.element}
                                                                ul
                                                                    li 
                                                                        strong.font-m-normal-14.font-w-normal-14 Garantieperiode 
                                                                        span.font-m-normal-14.font-w-normal-24 #{items.month}
                                                                    li 
                                                                        strong.font-m-normal-14.font-w-normal-14 Voorwaardes 
                                                                        span.font-m-normal-16.font-w-normal-16.c-download 
                                                                            a(href="#") #{items.file}
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h2.font-w-light-56.font-m-light-28 1 jaar extra garantie als onderdeel van TV Cashback Promotie
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    span Het extra jaar garantie is geldig bij aankoop van een LG OLED 2023 TV model vanaf 17 april 2023 t/m 30 juni 2023.
                                                                    dl.c-pdf-download 
                                                                        dt Garantievoorwaarden
                                                                        dd 
                                                                            a(href="#") PDF Download
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h2.font-w-light-56.font-m-light-28 Verlengde garantie bij aankoop
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    span Als u bij aankoop een verlengde garantieperiode heeft aangeschaft, en uw product buiten de fabrieksgarantie van 2jaar valt, dan dient u uw defect/reparatie bij uw dealer aan te melden.Deze extra garantieperiode is een verzekeringsproduct verkocht door uw dealer, waar LGE niet bij betrokken en verantwoordelijk voor is.
