extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-BR"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    //- link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsListBR1_1 = [
            {
                'prodName':'Celulares',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Tablets',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            }
        ]
    - 
        const itemsListBR1_2 = [
            {
                'prodName':'Cabo de dados',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Fonte de alimentação',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Bateria',
                'warranty':'Tempo de garantia',
                'prod':'180 dias',
            },
            {
                'prodName':'Cartão de memória',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Fone de ouvido',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR1_3 = [
            {
                'prodName':'Eletrônicos (Fone bluetooth, carregador veicular, etc.)',
                'warranty':'Tempo de garantia',
                'prod':'180 dias',
            },
            {
                'prodName':'Não-eletrônicos (capa, bumper, etc.)',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR2_1 = [
            {
                'prodName':'Televisor Plasma/LCD/LED/OLED',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Digital Signage',
                'warranty':'Tempo de garantia',
                'prod':'3 anos',
            },
            {
                'prodName':'LED Signage',
                'warranty':'Tempo de garantia',
                'prod':'2 anos',
            },
            {
                'prodName':'Hotel TV',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'TV Signage',
                'warranty':'Meses',
                'prod':'1 ano',
            },
            {
                'prodName':'TV Corporativa',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
        ]
    - 
        const itemsListBR2_2 = [
            {
                'prodName':'Fonte de alimentação',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Controle remoto',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Controle remoto (adquirido separadamente)',
                'warranty':'Tempo de garantia',
                'prod':'180 dias',
            },
            {
                'prodName':'Oculos 3D (ativo/passivo)',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Camera Skype®',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Dongle',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Caneta Pen touch',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR3_1 = [
            {
                'prodName':'Sound Bar',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Micro systems',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Mini systems',
                'warranty':'Meses',
                'prod':'1 ano',
            },
            {
                'prodName':'Dock Station',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'DVD / Blu-ray',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Home theaters',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            }
        ]
    - 
        const itemsListBR3_2 = [
            {
                'prodName':'Fonte de alimentação',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Controle remoto',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Controle remoto (adquirido separadamente)',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Caixa de Som',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Cabos AV / DVI / HDMI',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            }
        ]
    - 
        const itemsListBR4_1 = [
            {
                'prodName':'Notebook',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Ultrabook',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Monitor',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'All-in-one',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Projetor',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
        ]
    - 
        const itemsListBR4_2 = [
            {
                'prodName':'Fonte de alimentação / Bateria(Notebook)',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Lampada',
                'warranty':'Tempo de garantia',
                'prod':'180 dia / 500 horas',
            },
            {
                'prodName':'Bateria (Projetor)',
                'warranty':'Tempo de garantia',
                'prod':'180 dias',
            },
            {
                'prodName':'Controle remoto',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Controle remoto (adquirido separadamente)',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Teclado / Mouse / Dongle',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Teclado / Mouse / Dongle(Adquirido Separadamente)',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Cabos AV / DVI / HDMI',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Óculos 3D',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR5_1 = [
            {
                'prodName':'Lavadora',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Motor direct Drive (rotor/stator)',
                'warranty':'Tempo de garantia',
                'prod':'10 anos',
                'text':'Para produtos com certificado de 10 anos de garantia (vide manual)',
            },
            {
                'prodName':'Mangueira',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR5_2 = [
            {
                'prodName':'Refrigerador',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Compressor',
                'warranty':'Tempo de garantia',
                'prod':'10 anos',
                'text':'Para produtos com certificado de 10 anos de garantia (vide manual)',
            },
            {
                'prodName':'Mangueira',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Filtro',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR5_3 = [
            {
                'prodName':'Adega',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
        ]
    - 
        const itemsListBR5_4 = [
            {
                'prodName':'Microondas',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Magnetron Smart Inverter',
                'warranty':'Tempo de garantia',
                'prod':'10 anos',
                'text':'Para produtos com certificado de 10 anos de garantia (vide manual)',
            },
            {
                'prodName':'Magnetron',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Grelhas e espetos',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR5_5 = [
            {
                'prodName':'Aspirador',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Mangueira',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Bicos de sucção',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR5_6 = [
            {
                'prodName':'Ar Condicionado',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
            {
                'prodName':'Compressor',
                'warranty':'Tempo de garantia',
                'prod':'10 anos',
                'text':'Para produtos com certificado de 10 anos de garantia (vide manual)',
            },
            {
                'prodName':'Controle remoto',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
            {
                'prodName':'Controle remoto (adquirido separadamente)',
                'warranty':'Tempo de garantia',
                'prod':'90 dias',
            },
        ]
    - 
        const itemsListBR5_7 = [
            {
                'prodName':'Puricare',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
        ]
    - 
        const itemsListBR5_8 = [
            {
                'prodName':'Styler',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
        ]
    - 
        const itemsListBR6_1 = [
            {
                'prodName':'Comerciais, Industriais, Residenciais,  Projetores de Plasma e Essential Line',
                'warranty':'Tempo de garantia',
                'prod':'1 ano',
            },
        ]

    mixin itemsList(dataId)
        each items in dataId
            li.c-content_box 
                p.font-m-normal-20.font-w-normal-24 #{items.prodName}
                ul.wrarrnty_box
                    li 
                        span.tit-gray.font-m-normal-14.font-w-normal-14 #{items.warranty}
                        span.font-m-normal-14.font-w-normal-24 #{items.prod}
                    if items.text
                        li
                            span.font-m-normal-14.font-w-normal-16 #{items.text}
    

    
    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - BR

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-BR
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Garantia
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Encontre informações sobre a garantia LG
                                br
                                | A LG fornece reparo gratuito para produtos dentro do período de garantia, com defeitos de fabricação,  através de Assistências Técnicas Autorizadas. Verifique as informações abaixo, para entender algumas situações em que a garantia LG é concedida.
                                br
                                | Cada produto LG possui diferentes condições, para informações adicionais, consulte sempre o manual do seu produto.
                                
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            input#tab3(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 Produtos em Garantia
                                    .tab2.swiper-slide.on
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 Produtos Fora de Garantia
                                    .tab3.swiper-slide
                                        label(for='tab3').c-tab__title.font-w-normal-20.font-m-normal-16 Garantia Estendida LG

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Sobre o Período de Garantia
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span A LG Electronics oferece garantia limitada contra defeitos de fabricação aos produtos e seus acessórios de acordo com os seguintes termos e condições:
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.warrantylist__dot
                                                                    li A Garantia legal para os produtos e acessórios é de 90 (noventa dias) contados a partir da data de compra ou entrega do produto. Recomendamos que você mantenha o comprovante de compra ou fatura de entrega para referência futura.
                                                                    li Junto à Garantia legal, a LG Electronics fornece Garantia Complementar de 275 dias totalizando 365 dias para todos os seus produtos, exceto acessórios.
                                                                    li A garantia legal limitada se aplica somente aos usuários que adquiriram modelos comercializados no Brasil.
                                                                    li O reparo quando necessário deverá ser feito em Serviço Autorizado LG
                                                                    li Garantia Especial Estendida: quando mencionado no manual do Consumidor ou Termo de Garantia, algumas partes ou peças poderão ter tempo suplementar de garantia. Neste caso, as condições e cobertura estarão especificadas no Termo de Garantia que acompanha o produto. 
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") 
                                                                span Aviso:
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                                | Informamos que se problema for identificado como não sendo defeito de fabricação (avaria, mau uso, problemas relacionados a condições de instalação, vírus, software não original ou fatores externos) os reparos ou instrução de uso do produto não serão cobertos pela garantia e estarão sujeitos a orçamentos, inclusive eventuais taxas de visita (se aplicável). A validação da garantia é feita obrigatoriamente pela cópia legível da Nota Fiscal de compra.
                                                                
                                                    
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 visualizar o tempo de garantia total por produto/acessório
                                                .second-container.c-border-line
                                                    section.c-cs-warranty.c-warranty__wrap
                                                        .contents-area
                                                            .cs-tab.cs-second-tab
                                                                input#tab1-1(checked='checked' type='radio' name='category')
                                                                input#tab2-1(type='radio' name='category')
                                                                input#tab3-1(type='radio' name='category')
                                                                input#tab4-1(type='radio' name='category')
                                                                input#tab5-1(type='radio' name='category')
                                                                input#tab6-1(type='radio' name='category')
                                                                .c-carousel__handler
                                                                    .cmp-carousel__actions.prev
                                                                        +carouselBtn({type:"pagination", direction:"prev"})(aria-label="")
                                                                    .cmp-carousel__actions.next
                                                                        +carouselBtn({type:"pagination", direction:"next"})(aria-label="")
                                                                .tabs.swiper-container.csSwiper.csSwiper2.swiper
                                                                    .tabs__items.swiper-wrapper
                                                                        .tab1-1.swiper-slide.on
                                                                            label.c-tabs(for='tab1-1') 
                                                                                +printLazyImage('../../assets/icon/icon-mo-tablet-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Celulares, Tablets
                                                                        .tab2-1.swiper-slide
                                                                            label.c-tabs(for='tab2-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-tv-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Televisor Plasma/LCD/LED/OLED
                                                                        .tab3-1.swiper-slide
                                                                            label.c-tabs(for='tab3-1') 
                                                                                +printLazyPicture('../../assets/icon/icon-warranty-audio-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Áudio e Vídeo
                                                                        .tab4-1.swiper-slide
                                                                            label.c-tabs(for='tab4-1') 
                                                                                +printLazyPicture('../../assets/icon/icon-warranty-it-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Informática
                                                                        .tab5-1.swiper-slide
                                                                            label.c-tabs(for='tab5-1') 
                                                                                +printLazyPicture('../../assets/icon/icon-warranty-appliance-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Eletrodomésticos
                                                                        .tab6-1.swiper-slide
                                                                            label.c-tabs(for='tab6-1')
                                                                                +printLazyPicture('../../assets/icon/icon-warranty-lighting-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Iluminação
                                                                        

                                                                section.c-second-section.c-sticky__contents
                                                                    .tab1-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt.cs-warrantyTxtWrap

                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produto
                                                                                                
                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR1_1)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Acessórios

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR1_2)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Acessórios adquiridos separadamente

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR1_3)



                                                                    .tab2-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt.cs-warrantyTxtWrap
                                                        
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produto
                                                                                                
                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR2_1)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Acessórios

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR2_2)
                                                                                   

                                                                    .tab3-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt.cs-warrantyTxtWrap
                                                        
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produto
                                                                                                
                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR3_1)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Acessórios

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR3_2)
                                                                                   
                                                                    .tab4-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt.cs-warrantyTxtWrap
                                                        
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produto
                                                                                                
                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR4_1)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Acessórios

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR4_2)
                                                                                   
                                                                    .tab5-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Lavadora
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produtos & Peças
                                                                                                
                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR5_1)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Refrigerador
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produtos & Peças

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR5_2)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Adega
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produtos & Peças

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR5_3)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Microondas / Forno Multifuncional
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produtos & Peças

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR5_4)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Aspirador de pó
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produtos & Peças

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR5_5)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Ar Condicionado
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produtos & Peças

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR5_6)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Puricare
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produtos & Peças

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR5_7)
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Styler
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Produtos & Peças

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR5_8)
                                                                                   
                                                        
                                                                    .tab6-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                                    .c-cs-header
                                                                                        // block : text-contents
                                                                                        .c-text-contents
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") Iluminação
                                                                                            .text.c-text-contents__bodycopy
                                                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Peças

                                                                                    .c-product-list__wrap
                                                                                        ul.c-product-list.c-product-list__type1
                                                                                            +itemsList(itemsListBR6_1)

                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy.c-text-contents__bodycopy--br
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Sobre a Garantia do Produto
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span
                                                                    | A garantia do produto é oferecida pelo fabricante, sob o compromisso de realizar o reparo do produto caso este apresente algum defeito de fabricação.
                                                                    br
                                                                    | Para acionar a garantia, é necessário apresentar a Nota Fiscal para comprovar a origem do aparelho e o respectivo período de garantia. Se você não possuir a Nota Fiscal de Compra, sugerimos que obtenha uma Declaração de Compra, também emitida pelo revendedor.
                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy.c-text-contents__bodycopy--br
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Serviços de reparo disponiveis por Produto 

                                                .c-product-list__wrap
                                                    ul.c-product-list.c-product-list__type2
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-32 Celulares/Tablets
                                                            ul
                                                                li 
                                                                    strong.font-m-normal-14.font-w-normal-14 Serviço disponível
                                                                    span.font-m-normal-14.font-w-normal-24 LG collect
                                                            ul.font-m-normal-14.font-w-normal-24 
                                                                li.c-desc 
                                                                    strong.font-m-normal-14.font-w-normal-14 Aplicável quando
                                                                    ol.warrantylist__number.font-m-normal-14.font-w-normal-16
                                                                        li 1. Produto dentro do período de garantia
                                                                        li 2. Clientes que residem em um raio maior do que  50Km da assistencia técnica autorizada mais próxima.
                                                                        li 3. Produto apresenta sintomas causados por defeito de fabricação
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-32 TV's/Lavadoras/Refrigeradores/Adegas/Ar Condicionado
                                                            ul
                                                                li 
                                                                    strong.font-m-normal-14.font-w-normal-14 Serviço disponível
                                                                    span.font-m-normal-14.font-w-normal-24 In-home
                                                            ul.font-m-normal-14.font-w-normal-24 
                                                                li.c-desc 
                                                                    strong.font-m-normal-14.font-w-normal-14 Aplicável quando
                                                                    ol.warrantylist__number.font-m-normal-14.font-w-normal-16
                                                                        li 1. Produto dentro do período de garantia
                                                                        li 2. TV's acima de 42''.
                                                                        li 3. Produto apresenta sintomas causados por defeito de fabricação.
                                                        p.font-m-normal-14.font-w-normal-14 *Para todas as outras condições não descritas acima, o produto deve ser levado até a assistência técnica mais próxima.


                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy.c-text-contents__bodycopy--br
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span O que a Garantia não cobre:
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.warrantylist__dot
                                                                    li Defeitos ou danos causados pelo uso indevido do produto.
                                                                    li Defeitos ou danos oriundos do uso anormal, condições anormais, uso impróprio, exposição à umidade, modificações não autorizadas, conexões não autorizadas, consertos não autorizados, mau uso, negligência, abuso, acidente, alteração, instalação imprópria, ou outros atos não causados pelo LG Electronics, incluindo danos causados por despacho, alimentos ou líquidos derramados sobre o aparelho.
                                                                    li Quebra ou danos de antenas.
                                                                    li Defeitos ou mau funcionamento não informados ao SAC da LG durante o período de garantia.
                                                                    li Produtos com número de fabricação retirados ou danificados, tornando-os ilegíveis.
                                                                    li Todas as superfícies plásticas e todas as outras partes expostas externamente arranhadas ou danificadas devido à utilização imprópria pelo usuário.
                                                                    li Produtos operados fora dos índices máximos informados.
                                                                    li Produtos alugados mensalmente.
                                                                    li Danos causados por agentes da natureza (chuva, sol, raios, enchentes, maresia, etc.).
                                                                    li Danos causados por instalação indevida, fora da especificação, usando material inadequado, especialmente para condicionadores de ar.
                                                                    li Instalações, remoções para manutenção ou re-instalação salvo quando especificado no Termo de Garantia do Produto.

                                                .c-cs-header.c-cs-header--br
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy.c-text-contents__bodycopy--br
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Taxas de Serviços e Deslocamento
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span
                                                                    | O custo de serviços está em acordo com o Código de Defesa do Consumidor e é estabelecido pela assistência técnica autorizada, sem interferência do fabricante, caso sejam identificados itens não cobertos pela garantia
                                                                    br
                                                                    | Caso a assistência precise se deslocar até o local onde o produto a ser reparado estiver alocado, pode ser incluído despesas com o deslocamento.
                                                .c-cs-header.c-cs-header--br
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy.c-text-contents__bodycopy--br
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Taxas de Instalação
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.warrantylist__dot
                                                                    li A taxa de instalação pode variar de acordo com  o produto, seu tamanho, complexidade e local de instalação.
                                                                    li A taxa de instalação pode ser cobrada, independente do periodo de garantia.

                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span É considerado fora de garantia todo produto fora do período de garantia estabelecido. Assim como itens não previstos no certificado de garantia, não considerados defeitos de fabricação.
                                                                
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Limitação do uso da garantia
                                                .c-product-list__wrap
                                                    ul.c-product-list
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-32 Periodo de Garantia
                                                            ul.warrantylist__dot.font-m-normal-14.font-w-normal-16
                                                                li Período de garantia (tempo) expirada
                                                                li Defeitos ou mau funcionamento não informados ao SAC da LG durante o período de garantia
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-32 Instalação/Remoção
                                                            ul.warrantylist__dot.font-m-normal-14.font-w-normal-16
                                                                li Orientações de como conectar /instalar um produto, reinstalações ou remoção de um produto do local onde estiver instalado
                                                                li Danos causados por instalação indevida, fora da especificação, usando material inadequado, especialmente para condicionadores de ar
                                                                li Instalações, remoções para manutenção ou re-instalação salvo quando especificado no Termo de Garantia do Produto
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-32 Produtos de outros fabricantes
                                                            ul.warrantylist__dot.font-m-normal-14.font-w-normal-16
                                                                li Produtos de outros fabricantes com defeito, como: video games, roteadores, PC's e softwares de outros marcas
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-32 Desastre Natural
                                                            ul.warrantylist__dot.font-m-normal-14.font-w-normal-16
                                                                li Danos causados por agentes da natureza (chuva, sol, raios, enchentes, maresia, etc.)
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-32 Descuido
                                                            ul.warrantylist__dot.font-m-normal-14.font-w-normal-16
                                                                li Defeitos ou danos causados pelo uso indevido do produto
                                                                li Defeitos ou danos oriundos do uso anormal, condições anormais, uso impróprio, exposição à umidade, modificações não autorizadas, conexões não autorizadas, consertos não autorizados, mau uso, negligência, abuso, acidente, alteração, instalação imprópria, ou outros atos não causados pelo LG Electronics, incluindo danos causados por despacho, alimentos ou líquidos derramados sobre o aparelho
                                                                li Quebra ou danos de antenas
                                                                li Produtos com número de fabricação retirados ou danificados, tornando-os ilegíveis
                                                                li Todas as superfícies plásticas e todas as outras partes expostas externamente arranhadas ou danificadas devido à utilização imprópria pelo usuário
                                                                li Produtos operados fora dos índices máximos informados
                                                                li Danos causados por aplicação de softwares não suportados, vírus, malwares e sistema operacional não original
                                                        li.c-content_box 
                                                            p.font-m-normal-20.font-w-normal-32 Etc.
                                                            ul.warrantylist__dot.font-m-normal-14.font-w-normal-16
                                                                li Visitas ou análises a pedido do cliente sem que o produto tenha um defeito, como solicitação de limpezas ou manutenção, por exemplo
                                                                li Produtos alugados mensalmente
                                                                   
                                                                   
                                                .c-cs-header
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Taxas de serviços
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span O custo de serviços fora de garantia em Assistências Técnicas Autorizadas é estabelecido pelas próprias Assistências, sem interferência do fabricante.
                                
                                
                                .tab3                           
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Sobre a Garantia Estendida Original LG
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span 
                                                                    | A LG Electronics  em parceria com a seguradora Zurich Minas Brasil oferece aos clientes LG a possibilidade de aquisição da garantia estendida original diretamente com a fábrica !
                                                                    br
                                                                    br
                                                                    | Garantia Estendida Original LG é um tipo de seguro que garante a extensão das mesmas coberturas da garantia de fábrica LG citadas acima, promovendo as mesmas coberturas oferecidas em garantia pela LG, tais como: defeito funcional de origem elétrica, eletrônica, mecânica, estrutural que impeça o funcionamento ou uso normal do produto, desde que comprovadas por um técnico especializado.
                                                                    br
                                                                    br
                                                                    | Proteja seus produtos favoritos por mais tempo ! Continue contando com a nossa mão-de-obra especializada, peças originais e reparo ilimitado para solução de defeitos funcionais em seu produto. 
                                                                    a(href="") Saiba mais
                                                .c-cs-header
                                                    .c-image-banner 
                                                        .c-image-banner__bg 
                                                            +printLazyPicture('../../mocks/CS0078/img-CS0078-BR-MO.png', '../../mocks/CS0078/img-CS0078-BR-PC.png')
                                                .c-cs-header
                                                    ul.c-benefit-br 
                                                        li 
                                                            +printLazyPicture('../../assets/icon/icon-warranty-BR-1-64-64.svg')
                                                            span.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Vantagens : A Garantia Estendida LG oferece cuidados especiais para seus produtos:
                                                        li 
                                                            +printLazyPicture('../../assets/icon/icon-warranty-BR-2-64-64.svg')
                                                            span.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Proteçáo : 12 ou 24 meses adicionais á garantia de fábrica
                                                        li 
                                                            +printLazyPicture('../../assets/icon/icon-warranty-BR-3-64-64.svg')
                                                            span.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Tranquilidade : Adquira durante o periodo de garantia de seu produto
                                                        li 
                                                            +printLazyPicture('../../assets/icon/icon-warranty-BR-4-64-64.svg')
                                                            span.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Facilidade : Parcele em até 8x
                                                        li 
                                                            +printLazyPicture('../../assets/icon/icon-warranty-BR-5-64-64.svg')
                                                            span.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Qualidade : Assistências técnicas exclusivas LG
                                                        li 
                                                            +printLazyPicture('../../assets/icon/icon-warranty-BR-6-64-64.svg')
                                                            span.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Economia : O valor do seguro muitas vezes é menor do que o valor de reparo de produto
                                                