extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-TH"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsListTH = [
            {
                'prodName':'เครื่องปรับอากาศ',
                'warranty':'ธรรมดา',
                'prod':'12 เดือน',
                'partName':'คอมเพรสเซอร์',
                'partWarranty':'60 เดือน',
            },
            {
                'prodName':'เครื่องปรับอากาศ',
                'warranty':'อินเวอร์เตอร์',
                'prod':'12 เดือน',
                'partName':'คอมเพรสเซอร์',
                'partWarranty':'120 เดือน',
                'partName2':'คอยล์ร้อน',
                'partWarranty2':'36 เดือน',
                'partName3':'คอยล์เย็น',
                'partWarranty3':'36 เดือน',
                'partName4':'แผง PCB',
                'partWarranty4':'36 เดือน*',
            },
            {
                'prodName':'แอลอีดีทีวี/โอเลดทีวี',
                'prod':'12 เดือน',
            },
            {
                'prodName':'มอนิเตอร์',
                'warranty':'ธรรมดา',
                'prod':'36 เดือน',
            },
            {
                'prodName':'มอนิเตอร์',
                'warranty':'ทีวีจูนเนอร์ (MT-)',
                'prod':'36 เดือน',
            },
            {
                'prodName':'แล็ปท็อป',
                'prod':'24 เดือน',
                'partName':'อะแดปเตอร์',
                'partWarranty':'12 เดือน',
                'partName2':'แบตเตอรี่',
                'partWarranty2':'12 เดือน',
            },
            {
                'prodName':'เครื่องเสียง/โฮมเทียเตอร์/ซาวด์บาร์/หูฟัง',
                'prod':'12 เดือน',
            },
            {
                'prodName':'ซีดีรอม',
                'prod':'12 เดือน',
            },
            {
                'prodName':'เครื่องซักผ้า',
                'warranty':'ฝาบน และ ฝาหน้า',
                'prod':'12 เดือน',
                'partName':'อินเวอร์เตอร์มอเตอร์',
                'partWarranty':'120 เดือน',
            },
            {
                'prodName':'เครื่องซักผ้า',
                'warranty':'2 ถัง',
                'prod':'12 เดือน',
                'partName':'มอเตอร์',
                'partWarranty':'60 เดือน',
            },
            {
                'prodName':'ประเภทครัวเรือน',
                'warranty':'ดูโออินเวอร์เตอร์ ระบบฮีทปั๊ม',
                'prod':'12 เดือน',
                'partName':'มอเตอร์',
                'partWarranty':'120 เดือน',
                'partName2':'คอมเพรสเซอร์',
                'partWarranty2':'120 เดือน',
            },
            {
                'prodName':'เครื่องอบผ้า',
                'warranty':'ระบบควบแน่น',
                'prod':'12 เดือน',
                'partName':'มอเตอร์',
                'partWarranty':'60 เดือน',
            },
            {
                'prodName':'ตู้เย็น',
                'warranty':'ระบบอินเวอร์เตอร์',
                'prod':'12 เดือน',
                'partName':'คอมเพรสเซอร์',
                'partWarranty':'120 เดือน',
                'partName2':'คอมเพรสเซอร์(GC-XF20FFBFB, GC-B187JBAM, GC-B187JQAM)',
                'partWarranty2':'24 เดือน',
            },
            {
                'prodName':'ตู้ถนอมผ้า',
                'prod':'12 เดือน',
                'partName':'คอมเพรสเซอร์',
                'partWarranty':'120 เดือน',
            },
            {
                'prodName':'ไมโครเวฟ',
                'prod':'12 เดือน',
                'partName':'แมกนีตรอน',
                'partWarranty':'60 เดือน',
                'partName2':'แมกนีตรอน (สมาร์ทอินเวอร์เตอร์)',
                'partWarranty2':'120 เดือน',
                'partName3':'หลอดความร้อนชาร์โคล',
                'partWarranty3':'120 เดือน',
                'partName4':'สารฉาบเคลือบEasy Clean',
                'partWarranty4':'120 เดือน',
            },
            {
                'prodName':'เครื่องดูดฝุ่น',
                'warranty':'ธรรมดา/ฮอมบอท',
                'prod':'12 เดือน',
                'partName1':'มอเตอร์',
                'partWarranty1':'12 เดือน',
            },
            {
                'prodName':'เครื่องดูดฝุ่น',
                'warranty':'ฮอมบอทสมาร์ทอินเวอร์เตอร์',
                'prod':'12 เดือน',
                'partName':'สมาร์ทอินเวอร์เตอร์มอเตอร์',
                'partWarranty':'120 เดือน',
            },
            {
                'prodName':'เครื่องฟอกอากาศ',
                'warranty':'แบบใช้ภายในบ้าน',
                'prod':'12 เดือน',
                'partName':'สมาร์ทอินเวอร์เตอร์มอเตอร์',
                'partWarranty':'120 เดือน',
            },
            {
                'prodName':'เครื่องฟอกอากาศ',
                'warranty':'360 Hit รุ่น AS60GHWG0',
                'prod':'12 เดือน',
            },
            {
                'prodName':'เครื่องฟอกอากาศ',
                'warranty':'แบบพกพา',
                'prod':'12 เดือน',
                'partName':'สมาร์ทอินเวอร์เตอร์มอเตอร์',
                'partWarranty':'12 เดือน',
            },
            {
                'prodName':'เครื่องฟอกอากาศ',
                'warranty':'หน้ากากฟอกอากาศ',
                'prod':'12 เดือน',
            },
            {
                'prodName':'เครื่องฟอกอากาศ',
                'warranty':'กล่องฆ่าเชื้อด้วยแสงยูวี',
                'prod':'12 เดือน',
            },
            {
                'prodName':'เครื่องฟอกอากาศ',
                'warranty':'เครื่องลดความชื้น',
                'prod':'12 เดือน',
                'partName':'มอเอินเวอร์เตอร์คอมเพลสเซอร์',
                'partWarranty':'120 เดือน',
            },
        ]
    - 
        const itemsListTH2 = [
            {
                'prodName':'เครื่องปรับอากาศเพื่อการพานิชย์',
                'warranty':'แบบแยกส่วน',
                'prod':'12 เดือน',
                'partName':'คอมเพรสเซอร์',
                'partWarranty':'60 เดือน',
            },
            {
                'prodName':'เครื่องปรับอากาศเพื่อการพานิชย์',
                'warranty':'มัลติ-วี',
                'prod':'12 เดือน',
                'partName':'คอมเพรสเซอร์',
                'partWarranty':'60 เดือน**',
            },
            {
                'prodName':'ดิจิตอลไซเนจ',
                'warranty':'มอนิเตอร์ไซเนจ',
                'prod':'36 เดือน',
            },
            {
                'prodName':'จอภาพเพื่อการพานิชย์',
                'warranty':'ทีวีไซเนจ',
                'prod':'24 เดือน',
            },
            {
                'prodName':'จอภาพเพื่อการพานิชย์',
                'warranty':'ทีวีโรงแรม',
                'prod':'24 เดือน',
            },
            {
                'prodName':'โอเลดไซเนจ (ประกันเฉพาะกรณีแสดงภาพเคลื่อนไหวเท่านั้น)',
                'prod':'36 เดือน',
            },
            {
                'prodName':'มีเดียเพลเยอร์',
                'prod':'12 เดือน',
            },
            {
                'prodName':'เซททอปบ๊อกสำหรับทีวีโรงแรม',
                'prod':'24 เดือน',
            },
            {
                'prodName':'เอดีบ๊อก',
                'prod':'12 เดือน',
            },
        ]
    - 
        const itemsList = [
            {
                'prodName':'Room Air-Conditioner (RAC)',
                'warranty':'On-Off',
                'prod':'12 months',
                'partName':'Compressor',
                'partWarranty':'60 months',
            },
            {
                'prodName':'Room Air-Conditioner (RAC)',
                'warranty':'Inverter',
                'prod':'12 months',
                'partName':'Compressor',
                'partWarranty':'60 months',
            },
            {
                'prodName':'Room Air-Conditioner (RAC)',
                'warranty':'On-Off',
                'prod':'12 months',
                'partName':'Compressor',
                'partWarranty':'120 months',
                'partName2':'Condenser',
                'partWarranty2':'36 months',
                'partName3':'Evaporator',
                'partWarranty3':'36 months',
                'partName4':'PCB Main',
                'partWarranty4':'36 months*',
            },
            {
                'prodName':'LED/OLED',
                'prod':'12 months',
            },
            {
                'prodName':'Monitor',
                'warranty':'General',
                'prod':'36 months',
            },
            {
                'prodName':'Monitor',
                'warranty':'TV Tuner (MT-)',
                'prod':'36 months',
            },
            {
                'prodName':'Laptops',
                'prod':'24 months',
                'partName':'Adapter',
                'partWarranty':'12 months',
                'partName2':'Battery',
                'partWarranty2':'12 months',
            },
            {
                'prodName':'Audio/Home theatre/Soundbar/Headphones',
                'prod':'12 months',
            },
            {
                'prodName':'D-CD-ROM',
                'prod':'12 months',
            },
            {
                'prodName':'Washing machine',
                'warranty':'Top load/ Front load',
                'prod':'12 months',
                'partName':'Inverter motor',
                'partWarranty':'120 months',
            },
            {
                'prodName':'Washing machine',
                'warranty':'Twin Tub',
                'prod':'12 months',
                'partName':'Regular Motor',
                'partWarranty':'60 months',
            },
            {
                'prodName':'Dryer',
                'warranty':'Dual Inverter Heat Pump',
                'prod':'12 months',
                'partName':'Motor',
                'partWarranty':'120 months',
                'partName2':'Compressor',
                'partWarranty2':'120 months',
            },
            {
                'prodName':'Dryer',
                'warranty':'Condensing',
                'prod':'12 months',
                'partName':'Motor',
                'partWarranty':'60 months',
            },
            {
                'prodName':'Refrigerator',
                'warranty':'General',
                'prod':'12 months',
                'partName':'Motor',
                'partWarranty':'60 months',
            },
            {
                'prodName':'Refrigerator',
                'warranty':'Inverter',
                'prod':'12 months',
                'partName':'Compressor',
                'partWarranty':'120 months',
                'partName2':'Compressor(GC-XF20FFBFB, GC-B187JBAM, GC-B187JQAM)',
                'partWarranty2':'24 months',
            },
            {
                'prodName':'Styler',
                'prod':'12 months',
                'partName':'Compressor',
                'partWarranty':'120 months',
            },
            {
                'prodName':'Microwave oven',
                'prod':'12 months',
                'partName':'Magnetron',
                'partWarranty':'60 months',
                'partName2':'Magnetron (Smart Inverter)',
                'partWarranty2':'120 months',
                'partName3':'Charcoal heater',
                'partWarranty3':'120 months',
                'partName4':'Cavity Surface',
                'partWarranty4':'120 months',
            },
            {
                'prodName':'Vacuum cleaner',
                'warranty':'General/HOM-BOT',
                'prod':'12 months',
                'partName1':'Motor',
                'partWarranty1':'12 months',
            },
            {
                'prodName':'Vacuum cleaner',
                'warranty':'HOM-BOT Smart Inverter',
                'prod':'12 months',
                'partName':'smart inverter motor',
                'partWarranty':'120 months',
            },
            {
                'prodName':'Air purifier',
                'warranty':'Household Usage',
                'prod':'12 months',
                'partName':'smart inverter motor',
                'partWarranty':'120 months',
            },
            {
                'prodName':'Air purifier',
                'warranty':'360 Hit Model AS60GHWG0',
                'prod':'12 months',
            },
            {
                'prodName':'Air purifier',
                'warranty':'Mini Portable',
                'prod':'12 months',
                'partName':'smart inverter motor',
                'partWarranty':'12 months',
            },
            {
                'prodName':'Air purifier',
                'warranty':'Wearable Mask',
                'prod':'12 months',
            },
            {
                'prodName':'Air purifier',
                'warranty':'LG UV Case',
                'prod':'12 months',
            },
            {
                'prodName':'Air purifier',
                'warranty':'Dehumidifier',
                'prod':'12 months',
                'partName':'Inverter compressor',
                'partWarranty':'120 months',
            },
        ]
    - 
        const itemsList2 = [
            {
                'prodName':'Commercial Air-Conditioner (CAC)',
                'warranty':'Single',
                'prod':'12 months',
                'partName':'Compressor',
                'partWarranty':'60 months',
            },
            {
                'prodName':'Commercial Air-Conditioner (CAC)',
                'warranty':'Multi-V',
                'prod':'12 months',
                'partName':'Compressor',
                'partWarranty':'60 months**',
            },
            {
                'prodName':'Digital Signage',
                'warranty':'Monitor signage',
                'prod':'36 months',
            },
            {
                'prodName':'Commercial TV',
                'warranty':'TV Signage',
                'prod':'24 months',
            },
            {
                'prodName':'Commercial TV',
                'warranty':'Hotel TV',
                'prod':'24 months',
            },
            {
                'prodName':'OLED Sinage (Only movement display)',
                'prod':'36 months',
            },
            {
                'prodName':'Media player',
                'prod':'12 months',
            },
            {
                'prodName':'Set Top Box for Hotel TV',
                'prod':'24 months',
            },
            {
                'prodName':'AD Box',
                'prod':'12 months',
            },
        ]

    .guide-text-type CS Warranty Consumer - TH

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-TH
            #container.CS0078__container
                // CONTENT
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area 
                        .cs-notabs
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        h1.font-w-light-56.font-m-light-28 ข้อมูลการรับประกันสินค้า
                                    .text.c-text-contents__bodycopy
                                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") We will give you LG warranty information here.
                                            
                            .button.c-print-area
                                +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                            .cs-warranty__normalContents 
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 ข้อมูลระยะการรับประกันสำหรับผลิตภัณฑ์ประเภทครัวเรือน

                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type1
                                        each items in itemsListTH
                                            li.c-content_box 
                                                p.tit-gray.font-m-normal-14.font-w-normal-16 ประเภทครัวเรือน
                                                p.font-m-normal-20.font-w-normal-24 #{items.prodName}
                                                ul.wrarrnty_box
                                                    if items.warranty
                                                        li 
                                                            span.font-m-normal-20.font-w-normal-24 #{items.warranty}
                                                    else
                                                    li 
                                                        span.tit-gray.font-m-normal-14.font-w-normal-16 ตัวสินค้า
                                                        span.font-m-normal-20.font-w-normal-24 #{items.prod}
                                                if items.partName
                                                    ul.special_box
                                                        li 
                                                            span.font-m-normal-14.font-w-normal-16 อะไหล่รับประกันพิเศษ
                                                        li 
                                                            span.font-m-normal-14.font-w-normal-14 #{items.partName}
                                                            span.font-m-normal-20.font-w-normal-24 #{items.partWarranty}
                                                        if items.partName2
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName2}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty2}
                                                        if items.partName3
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName3}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty3}
                                                        if items.partName4
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName4}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty4}

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 ข้อมูลระยะการรับประกันสำหรับผลิตภัณฑ์ประเภทธุรกิจ
                                
                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type1
                                        each items in itemsListTH2
                                            li.c-content_box 
                                                p.tit-gray.font-m-normal-14.font-w-normal-16 ประเภทครัวเรือน
                                                p.font-m-normal-20.font-w-normal-24 #{items.prodName}
                                                ul.wrarrnty_box
                                                    if items.warranty
                                                        li 
                                                            span.font-m-normal-20.font-w-normal-24 #{items.warranty}
                                                    else
                                                    li 
                                                        span.tit-gray.font-m-normal-14.font-w-normal-16 Product
                                                        span.font-m-normal-20.font-w-normal-24 #{items.prod}
                                                if items.partName
                                                    ul.special_box
                                                        li 
                                                            span.font-m-normal-14.font-w-normal-16 อะไหล่รับประกันพิเศษ
                                                        li 
                                                            span.font-m-normal-14.font-w-normal-14 #{items.partName}
                                                            span.font-m-normal-20.font-w-normal-24 #{items.partWarranty}
                                                        if items.partName2
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName2}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty2}
                                                        if items.partName3
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName3}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty3}
                                                        if items.partName4
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName4}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty4}

                                .c-cs-header.c-cs-notes
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy
                                            ul.warrantylist__basic.font-m-normal-12.font-w-normal-14
                                                li 
                                                    b ※หมายเหตุ:
                                                li 1. การรับประกันอะไหล่ที่เกินกว่าตัวเครื่องบริษัทฯ ไม่เรียกเก็บค่าอะไหล่เท่านั้น ลูกค้าต้องรับผิดชอบค่าบริการ ค่าน้ำยาแอร์ หรืออื่นๆจะไม่มีการเรียกเก็บเฉพาะตัวอะไหล่เท่านั้น
                                                li 2. สำหรับการรับประกันสินค้าหรืออะไหล่ที่นอกเหนือจากตารางด้านบน กรุณาตรวจสอบอีกครั้งจากจุดจำหน่ายหรือศูนย์ข้อมูลแอลจีฯสำหรับลูกค้าที่ซื้อตัวโชว์มา จะมีการรับประกันสินค้าและอะไหล่ทั้งหมด 6 เดือน
                                                li * สำหรับลูกค้าที่ซื้อตั้งแต่ 1 กุมภาพันธ์ 2563
                                                li ** สำหรับลูกค้าที่ซื้อตั้งแค่ 1 มกราคม 2563
                                                li *** ขอสงวนสิทธิ์ในการเปลี่ยนแปลงการรับประกันโดยไม่ต้องแจ้งให้ทราบล่วงหน้า กรุณาสอบถามข้อมูลที่ร้านค้า**
                                
                                

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 The warranty period for B2C products

                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type1
                                        each items in itemsList
                                            li.c-content_box 
                                                p.tit-gray.font-m-normal-14.font-w-normal-16 B2C product
                                                p.font-m-normal-20.font-w-normal-24 #{items.prodName}
                                                ul.wrarrnty_box
                                                    if items.warranty
                                                        li 
                                                            span.font-m-normal-20.font-w-normal-24 #{items.warranty}
                                                    else
                                                    li 
                                                        span.tit-gray.font-m-normal-14.font-w-normal-16 Product
                                                        span.font-m-normal-20.font-w-normal-24 #{items.prod}
                                                if items.partName
                                                    ul.special_box
                                                        li 
                                                            span.font-m-normal-14.font-w-normal-16 Special spare parts
                                                        li 
                                                            span.font-m-normal-14.font-w-normal-14 #{items.partName}
                                                            span.font-m-normal-20.font-w-normal-24 #{items.partWarranty}
                                                        if items.partName2
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName2}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty2}
                                                        if items.partName3
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName3}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty3}
                                                        if items.partName4
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName4}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty4}
                                

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 The warranty period for B2B products

                                .c-product-list__wrap
                                    ul.c-product-list.c-product-list__type1
                                        each items in itemsList2
                                            li.c-content_box 
                                                p.tit-gray.font-m-normal-14.font-w-normal-16 B2C product
                                                p.font-m-normal-20.font-w-normal-24 #{items.prodName}
                                                ul.wrarrnty_box
                                                    if items.warranty
                                                        li 
                                                            span.font-m-normal-20.font-w-normal-24 #{items.warranty}
                                                    else
                                                    li 
                                                        span.tit-gray.font-m-normal-14.font-w-normal-16 Product
                                                        span.font-m-normal-20.font-w-normal-24 #{items.prod}
                                                if items.partName
                                                    ul.special_box
                                                        li 
                                                            span.font-m-normal-14.font-w-normal-16 Special spare parts
                                                        li 
                                                            span.font-m-normal-14.font-w-normal-14 #{items.partName}
                                                            span.font-m-normal-20.font-w-normal-24 #{items.partWarranty}
                                                        if items.partName2
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName2}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty2}
                                                        if items.partName3
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName3}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty3}
                                                        if items.partName4
                                                            li 
                                                                span.font-m-normal-14.font-w-normal-14 #{items.partName4}
                                                                span.font-m-normal-20.font-w-normal-24 #{items.partWarranty4}
                                .c-cs-header.c-cs-notes
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy
                                            ul.warrantylist__basic.font-m-normal-12.font-w-normal-14
                                                li 
                                                    b ※Remark:
                                                li 1. For special warranty period for อะไหล่รับประกันพิเศษ, customer will have a response for labor, materials, etc.
                                                li 2. For other product or special parts warranty that not show on this table, please check again at sales point or LG Call CenterFor customer who purchased displayed product, will have a warranty period for product and all parts 6 months
                                                li * Start from who purchased from Feb 1, 2020
                                                li ** Start from who purchased from Jan 1, 2020
                                                li *** LG has authorized to change warranty period withiout any inform in advance, please recheck again at sale point**
                                

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 เงื่อนไขในการรับประกันสินค้าทั่วไป
                                        .text.c-text-contents__bodycopy
                                            ol.warrantylist__number.font-m-normal-12.font-w-normal-20
                                                li บริการซ่อมฟรี พร้อมอะไหล่ 1 ปี นับตั้งแต่วันที่ซื้อตามเงื่อนไขการรับประกันสินค้าของแอลจีฯ เมื่อท่านใช้บริการกับศูนย์บริการแอลจี หรือศูนย์บริการแอลจีแต่งตั้ง ทุกแห่งทั่วประเทศ กรุณาตรวจสอบที่อยู่ศูนย์บริการแอลจีได้ที่ โทร.(02) 057-5757 หรือ 
                                                    a(href="www.lg.com/th") www.lg.com/th 
                                                li สำหรับการรับประกันเพิ่มเติมของอะไหล่บางชนิดมากกว่า 1 ปีในสินค้าบางประเภท กรุณาตรวจสอบเพิ่มเติมได้ ณ จุดขาย, ศูนย์บริการข้อมูลแอลจี โทร.(02) 057-5757, หรือ 
                                                    a(href="www.lg.com/th") www.lg.com/th 
                                                    | โดยทางบริษัทสงวนสิทธิ์การรับประกันเฉพาะตัวอะไหล่เท่านั้น ไม่นับรวมถึงค่าบริการ ค่าน้ำยา หรืออุปกรณ์อื่นๆ ในกรณีที่ตัวเครื่องอยู่นอกเหนือเงื่อนไขการรับประกัน
                                                li เมื่อต้องการใช้สิทธิ์การรับประกันลูกค้าต้องแสดงใบเสร็จการซื้อขายที่มีข้อความสมบูรณ์และไม่มีรอยแก้ไขในสาระสำคัญเพื่อใช้เป็นหลักฐานแสดงวันที่ที่ซื้อผลิตภัณฑ์ ณ วันที่รับบริการต่อพนักงานแอลจีฯทุกครั้ง
                                                li ในกรณีที่ทำใบเสร็จหรือหลักฐานการซื้อขายหาย หรือ กรณีวันที่ซื้อไม่สามารถตรวจสอบได้จากใบกำกับภาษีหรือใบเสร็จรับเงิน บริษัทฯขอสงวนสิทธิ์ในรับประกันสินค้าโดยเริ่มนับจากวันที่ผลิตจากโรงงาน ซึ่งแสดงอยู่บนหมายเลขเครื่องของสินค้านั้นๆ
                                                li สำหรับสินค้าที่เงื่อนไขพิเศษ : สินค้าขายตามสภาพเฉพาะ ที่มีรอยขีดข่วน, โค้งงอ, รอยบุ๋ม, แตกหัก และอื่นๆ จะรับประกันเฉพาะในส่วนของฟังก์ชั่นการทำงานเท่านั้น. ส่วนของแถมซึ่งเป็นสินค้าของทางบริษัทฯ มีการรับประกัน 1 ปี นับตั้งแต่วันที่ซื้อสินค้าหลัก. สำหรับสินค้าตัวโชว์ ตัวเครื่องและอะไหล่รับประกัน 6 เดือนโดยไม่สามารถขอเปลี่ยนเครื่องได้ในทุกกรณี
                                                li รับประกันในกรณีที่อาการชำรุดเกิดจากความผิดพลาดของตัวเครื่องอันเนื่องมาจากความผิดพลาดจากการผลิตเท่านั้น
                                                li บริการซ่อมนอกสถานที่สำหรับสินค้าทีวีตั้งแต่ขนาดตั้งแต่ 29"และมอนิเตอร์ ตั้งแต่ขนาดตั้งแต่ 24" ขึ้นไป, ตู้เย็น, เครื่องซักผ้า, เครื่องอบผ้า, และเครื่องปรับอากาศเท่านั้น หรือสินค้าขนาดใหญ่อื่นๆ ซึ่งท่านสามารถตรวจสอบข้อมูลได้ที่ ศูนย์บริการแอลจี โทร.(02) 057-5757 (ไม่คิดค่าพาหนะในระยะประกัน)
                                                li เงื่อนไขการรับประกันสินค้านี้มีผลบังคับเฉพาะผลิตภัณฑ์ที่จำหน่ายโดย บริษัท แอลจี อีเลคทรอนิคส์ (ประเทศไทย) จำกัดเท่านั้น โดยเงื่อนไขการรับประกันจะครอบคลุมถึงประเทศ พม่า, ลาว, และกัมพูชา โดยท่านจะสามารถเข้ารับบริการได้ในประเทศที่ท่านซื้อสินค้าเท่านั้น
                                                li บริษัทฯมีสิทธิ์ในการเรียกเก็บค่าบริการและค่าเดินทางสำหรับสินค้านอกประกันตามอาการชำรุด แม้ในกรณีที่อาการชำรุดนั้นจะไม่ถูกตรวจพบในตอนแรกก็ตาม
                                                li บริษัทฯขอสงวนสิทธิ์ในการปฏิเสธการเข้าบริการในพื้นที่ที่เข้าไม่ถึง, พื้นที่ที่ห้ามเข้า, พื้นที่ที่เสี่ยงอันตราย หรือพื้นทิ่อื่นใดที่บริษัทฯ เห็นว่าอาจก่อให้เกิดอันตรายได้
                                                li ในการพิจาณาลักษณะความชำรุดบกพร่องของสินค้า รวมไปถึงดุลยพินิจในการตัดสินใจเงื่อนไขในการรับประกันต่างๆอันเกี่ยวกับสินค้าทุกประการ ให้ถือว่าพนักงานของบริษัท แอลจี อีเลคทรอนิคส์ (ประเทศไทย) จำกัด เป็นผู้มีอำนาจดำเนินการและให้ถือว่าการพิจารณาดังกล่าวเป็นที่สุด
                                                li บริษัทฯขอสงวนสิทธิ์ในการเปลี่ยนแปลงเงื่อนไขการรับประกันสินค้าโดยไม่ต้องแจ้งให้ทราบล่วงหน้า
                                                li สำหรับการรับประกันตัวสินค้า หรืออะไหล่มากกว่ากว่าระยะการประกันปกติ 1 ปี ท่านสามารถตรวจสอบข้อมูลการรับประกันเพิ่มเติมได้ที่ ศูนย์บริการข้อมูลลูกค้า 02-057-5757 หรือ 
                                                    a(href="www.lg.com/th") www.lg.com/th
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 ข้อยกเว้นการรับประกันสินค้า
                                        .text.c-text-contents__bodycopy
                                            ol.warrantylist__number.font-m-normal-12.font-w-normal-20
                                                li ความเสียหายอันเนื่องมาจากการขนส่ง อุบัติเหตุ การแตกหัก การใช้งานที่ผิดวิธี การทดลอง การสาธิต การซ่อมบำรุง การติดตั้ง การปรับหรือการดัดแปลงตัวเครื่องหรืออะไหล่หรือความประมาทเลินเล่อของลูกค้าหรือบุคคลภายนอก
                                                li อาการชำรุดและความเสียหายที่เกิดจากปัจจัยภายนอก ภัยธรรมชาติ และสิ่งแวดล้อม เช่น วัสดุแปลกปลอมตกค้าง เหงื่อ ของเหลว อาหาร ความชื้น ฟ้าผ่า กระแสไฟที่ไม่เสถียร แผ่นดินไหว น้ำท่วม อุปกรณ์ต่อพ่วงภายนอก หรือการใช้แรงดันไฟฟ้าผิดประเภท
                                                li การสึกหรอโดยทั่วไปตามอายุการใช้งานและการฉีกขาด การสึกกร่อน ขึ้นสนิม รอยขูดขีด รอยเปรอะเปื้อน ความเสียหายที่เกิดขึ้นบนพื้นผิว,ส่วนประกอบภายนอกและภัยจากสัตว์หรือแมลงทำให้เกิดความเสียหาย
                                                li การเรียกร้องค่าเสียหายหรือชิ้นส่วนประกอบที่หายไปจากตัวเครื่องหลังจากเลยกำหนด 7 วันนับจากวันที่ซื้อผลิตภัณฑ์
                                                li ส่วนประกอบใดๆ ซึ่งถูกเปลี่ยน ซ่อม หรือตรวจสอบ โดยชิ้นส่วนที่ไม่ได้จัดจำหน่าย หรือเห็นชอบโดยแอลจี อีเลคทรอนิคส์(ประเทศไทย) จำกัด หรือ กระทำโดยบุคคลอื่นใดที่ไม่ใช่พนักงานจากบริษัท แอลจี อีเลคทรอนิคส์(ประเทศไทย) จำกัด และ/หรือศูนย์บริการที่ได้รับการแต่งตั้งจาก บริษัท แอลจี อีเลคทรอนิคส์ (ประเทศไทย) จำกัด
                                                li อาการชำรุดหรือผิดปรกติอันเนื่องมาจากการใช้งานเชิงพาณิชย์ เชิงอุตสาหกรรม หรือใช้ผิดวัตถุประสงค์ของคุณสมบัติในทางการใช้งานปกติของเครื่องใช้ไฟฟ้าในครัวเรือน
                                                li อาการผิดปกติที่เกิดจากการไม่ได้บำรุงรักษาและทำความสะอาดตามระยะเวลาอย่างเหมาะสม ทำให้อุปกรณ์ภายในเครื่องสกปรกและ/หรือ การติดตั้งที่ไม่ได้มาตรฐานหรือผิดวิธี, การใช้ปลั๊ก หรือ สายไฟและตัวตัดไฟที่ไม่ได้มาตรฐาน หรือผิดขนาด ฯลฯ
                                                li สินค้าโทรทัศน์ที่มีอาการผิดปกติหรือมีอะไหล่เสียที่เกิดจากติดตั้ง, การใช้เสาอากาศไม่ถูกประเภท, หรือมีการเชื่อมต่อสัญญาณกับอุปกรณ์ประเภทอื่นๆอันเป็นการก่อให้เกิดความเสียหายต่อตัวสินค้า
                                                li เครื่องเสียงและชุดโฮมเธียเตอร์ไม่รับประกันลำโพง และอุปกรณ์ลำโพง
                                                li ไม่รับประกันตัวรีโมทคอนโทรลทุกชนิด ยกเว้นเมจิกรีโมทที่มีการรับประกัน 1 ปี
                                                li ฉลากผลิตภัณฑ์ถูกแก้ไข, ลบ, ขีดฆ่า, สูญหายหรือทำลาย และ/หรือ บัตรรับประกันถูกแก้ไข หรือลบทิ้งไม่ว่ากรณีใดๆ
                                                li สำหรับสินค้าที่เงื่อนไขพิเศษ : สินค้าขายตามสภาพ โดยความเสียหายจากฟังก์ชันการทำงานของตัวเครื่องนับตั้งแต่วันที่ซื้อสินค้า, ของแถมที่ไม่ใช่สินค้าของบริษัทฯ จะไม่อยู่ในเงื่อนไขการรับประกัน
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 General terms & conditions
                                        .text.c-text-contents__bodycopy
                                            ol.warrantylist__number.font-m-normal-12.font-w-normal-20
                                                li Free Service including spare parts for 1 year after purchased under LG Conditions if bring the product to all LG service Centers or authorize service centers. Please contact LG Call Center at 02-057-5757 or www.lg.com/th for nearby service center
                                                li For additional warranty of some spare parts which more than 1 year, please check more details at Sales Point, LG Call Center at 02-057-5757, or www.lg.com/th. Warranty will apply only spare parts and not include for labor fee, visit fee, and other materials in case of product is in out of warranty condition
                                                li To obtain warranty protection, customers have to show proof of purchased (tax invoice/receipt) with completely information and no erased to our service representative every time
                                                li In case of lost of proof of purchased or purchased date is not show on proof of purchased, LG Electronics (Thailand) Co., Ltd reserves all right to use manufacturing date as purchased date which is verified on the serial no. on the product
                                                li For the special sales conditions: products are sold as in condition outlook (scratch/bent/dent/others), LG will provide warranty only for functional problem only. Premium or complimentary gift if belong to LG brands which sell in current market also have 1 year warranty from purchased date. For display sets, warranty period only 6 months for both product and spare parts and unable to replace for new set in any cases
                                                li Only defected caused by production from manufacturing process are warranted
                                                li Within warranty period, LG will not charge for visiting fee for the product with large size: TV from 29”and Monitor 24"up, Refrigerator, washing machine, Dryer, and Air-conditioner or others which customer can check at LG Call Center 02-057-5757.
                                                li Warranty condition will apply for all LG products sold by LG Electronics (Thailand) Co., Ltd and sell in Thailand, Myanmar, Laos, and Cambodia. Therefore Customers have to request for service in country which product purchased.
                                                li LG Electronics (Thailand) Co., Ltd reserves all right to charge the labor and visit fee for out of warranty service even if problem could not be found at first time or came from nature
                                                li LG Electronics (Thailand) Co., Ltd reserves all right to refuse to service for inaccessible, crisis, dangerous area, or other areas which may not safe
                                                li The consideration of LG’s employee under terms and conditions hear of shall be final
                                                li LG Electronics (Thailand) Co., Ltd reserves all right to change warranty conditions at any time with or without any notices
                                                li For warranty of product or parts over standard 1 year, please check more information at LG Call Center 02-057-5757 or www.lg.com/th
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-normal-32.font-m-normal-20 Warranty exclusion and uncoverages
                                        .text.c-text-contents__bodycopy
                                            ol.warrantylist__number.font-m-normal-12.font-w-normal-20
                                                li This warranty does not cover for dam the accident, broken, wrong usage, demonstration, test, maintenance, adjust or modify part or product or any accidents which is arising out of the customers or third party
                                                li Product defected or damage resulting from external factor ,environment or disaster such as remainder material, sweat, liquid, foods, humidity , thunderbolt, unstable electricity in some area, earthquake, flooding or wrong voltage system
                                                li Has been damaged by wear and tear, corrosion, scratches, dirty, rusty or stains on outer surface areas, external exposed parts and defects caused by animals or insects
                                                li Claim for damage parts or accessories lost after 7 days from the date of purchased
                                                li Has been tampered, checked, or repaired by using tools or spare parts which not be sold by LG or approved by LG Electronics (Thailand) Co., Ltd or take action by anyone not from LG Electronics (Thailand) Co., Ltd or LG authorize service center
                                                li Defected or damage by using for the commercial business, industrial environment, or wrong purpose of household general usage
                                                li Defected or damaged cause from lack of maintenance undertake on schedule that effect to product dirty, wrong installation site or method, wrong spec or not in standard of plug type, lever, electric wire, or circuit breaker size
                                                li For TV problem caused from wrong installation, wrong antenna, or connected with other system that caused product defected
                                                li No warranty for speaker, speaker accessories for audio products
                                                li Remote Control of all products not included in warranty condition except magic remote which is 1 year warranty
                                                li If any equipments and products which has its product label or serial number removed or made illegible and warranty card is being altered defaced or erased in any manner whatsoever
                                                li The products are sold as in condition of functional damage, premium/gift (Not LG products) is not in warranty condition
