extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-TR"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    - 
        const itemsList = [
            {
                'eyebrow':'Ürün',
                'title':'Televizyonlar',
                'year1':'2Y',
                'year2':'10Y',
            },
            {
                'eyebrow':'Ürün',
                'title':'Ev Sinema Sistemleri',
                'year1':'2Y',
                'year2':'7Y',
            },
            {
                'eyebrow':'Ürün',
                'title':'Müzik Setleri',
                'year1':'2Y',
                'year2':'10Y',
            },
            {
                'eyebrow':'Ürün',
                'title':'Monitörler, Projeksiyon Cihazları(1)',
                'year1':'2Y',
                'year2':'5Y',
            },
            {
                'eyebrow':'Ürün',
                'title':'OLED Monitörler',
                'year1':'3Y',
                'year2':'5Y',
            },
            {
                'eyebrow':'Ürün',
                'title':'Cep Telefonları',
                'year1':'2Y',
                'year2':'5Y',
            },
            {
                'eyebrow':'Ürün',
                'title':'Klimalar',
                'year1':'2Y',
                'year2':'10Y',
            },
            {
                'eyebrow':'Ürün',
                'title':'Buzdolapları, Bulaşık Makineleri, Çamaşır Makineleri, Çamaşır Kurutma Makineleri, Elektrikli Süpürgeler, Mikrodalga Fırınlar',
                'year1':'3Y (2)',
                'year2':'10Y',
            },
            {
                'eyebrow':'Uzatılmış Garanti Kapsamındaki Sınırlı Parçalar(3)',
                'title':'Linear / Inverter Kompresör, Doğrudan Sürmeli Motorlar, Akıllı Inverter Motorlar, Inverter Motorlar, Magnetron',
                'year1':'3Y (2)',
                'year2':'10Y',
            },
        ]
   
    .guide-text-type CS Warranty Consumer - TR

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-TR
            #container.CS0078__container
                // CONTENT
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area 
                        .cs-notabs
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        h1.font-w-light-56.font-m-light-28 Garanti Şartları
                            .button.c-print-area
                                +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                            .cs-warranty__normalContents 
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Ürünlerin Garanti Süreleri ve Kullanım Ömrü Tablosu
                                .c-product-list__wrap
                                    ul.c-product-list
                                        each items in itemsList
                                            li.c-content_box
                                                div.cs-flexnone
                                                    span.font-m-normal-14.font-w-normal-14 #{items.eyebrow}
                                                    p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                div
                                                    p.font-m-normal-14.font-w-normal-14 Garanti Süresi
                                                    p.cs-warranty__year.font-m-normal-16.font-w-normal-24 #{items.year1} 
                                                div
                                                    p.font-m-normal-14.font-w-normal-14 Kullanım Ömrü
                                                    p.cs-warranty__year.font-m-normal-16.font-w-normal-24 #{items.year2}
                                             
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy.cs-warrantyCounter
                                            ol.cmp-text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer="")
                                                li Projeksiyon Cihazları için Garanti süresi 2 veya 5000 saat (hangisi önce dolarsa) olarak belirlenmiştir.
                                                li Fatura tarihi 01.09.2013 den itibaren olan buzdolabı hariç tüm LG beyaz eşya ürünleri 3 yıl Garantilidir. Buzdolaplarında 3 yıllık garanti süresi fatura tarihi 01.01.2013 olan ürünlerden itibaren uygulanmaktadır Önceki fatura tarihli ürünlerin garantisi 2 yıldır.
                                                li Uzatılmış parça garantisi sadece yedek parçalar için geçerlidir ve yedek parça dışında kalan hizmetleri kapsamaz. Ürünün garantisi bittikten sonra tüketici, uzatılmış parça garantisi kapsamında olan yedek parçaların tamiri için işçilik ödemek zorundadır. 
                                        .c-product-list__desc
                                            ul.font-m-normal-12.font-w-normal-14 
                                                li Bu tablodaki belirtilen kullanım ömrü süreler Gümrük ve Ticaret Bakanlığın tarafından düzenlenen 13.06.2014 tarih ve 29029 sayılı Resmi Gazetede yayınlanan SATIŞ SONRASI HİZMETLER YÖNETMELİĞİ’nden alınmıştır.

                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            h2.font-w-light-56.font-m-light-28 Çeyizlik Ürün Garanti Süresi ve Montaj koşulları
                                        .text.c-text-contents__bodycopy
                                            ul.cmp-text.cs-warrantylist__hypen.font-m-normal-12.font-w-normal-20(data-cmp-data-layer="")
                                                li Müşterimiz, ürün satışı yapıldıktan itibaren 15 gün süre içerisinde (fatura tarihi) 444 6 543 numaralı LG Müşteri hizmetlerine ürün bilgilerini bildirimde bulunarak, ön kayıt yaptırması gerekmektedir.
                                                li Çeyizlik ürün montajının, Müşterimiz tarafından fatura tarihinden itibaren 6 Ay süre içerisinde yaptırması gerekmektedir.
                                                li Fatura tarihinden itibaren 15 gün süre içerisinde ön kayıt yaptırılan ürünler, 6 ay süre içerisinde hangi tarihte montaj yapıldıysa, garanti tarihi başlangıcı sayılır.
                                                li Müşteriye teslimatı yapılan çeyizlik ürünün, saklama koşullarında kusurlar oluşabileceği ve kurulumda fiziksel hasar tespit edilmesi halinde, üründeki fiziksel hasar garanti kapsamı dışındadır.
                                                li DOA kapsamındaki ürün değişim süreçlerinde, montajın yapıldığı tarih değil, ürünün fatura tarihi geçerli olacaktır.
                                                li Yetkili servisler tarafından kurulum hizmeti verilen, LG marka ürünler çeyizlik ürünlere dahildir.