extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-CAC"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content

    - 
        const itemsCAC = [
            {
                'title': 'Periodo de Garantía',
                'text':'Producto con periodo de garantía expirado.',
            },
            {
                'title': 'Manipulación',
                'text':'Deterioros o daños causados al producto como resultado de una manipulación o transporte inadecuado ajenos a LG, así como alteraciones del producto original determinados por adaptaciones, modificaciones, adulteraciones o eliminación del número serial adherido al producto, montaje de parte o accesorios no genuinos ni autorizados por LG, entre otros.',
            },
            {
                'title': 'Instalación, uso y mantenimiento',
                'text':'No atender las instrucciones de instalación, uso o mantenimiento indicadas en el manual del producto o en la garantía. Así como daños causados por instalación indebida o falta de mantenimiento',
            },
            {
                'title': 'Intervención de un tercero o dispositivos externos',
                'text':'Daños ocasionados como resultado de la intervención, instalación, manipulación, por un tercero no autorizado por LG. Falla por instalación o interconexión de dispositivos externos de otra compañía (Routers, protectores de voltaje, cajillas, consolas de videojuegos, cables, bombas de drenaje, vidrio templado, computadoras, software de otra compañía, etc.)',
            },
            {
                'title': 'Desastre Natural',
                'text':'Daños como resultado de eventos de fuerza mayor y/o caso fortuito, catástrofes naturales de cualquier índole, accidente sobre el producto no atribuibles a LG, inundaciones, desorden público, asonadas, condiciones ambientales inadecuadas, humedad, mala ventilación hurto, fluctuaciones de voltaje de la energía eléctrica o descargas eléctricas atmosféricas o irregularidades de suministro hidráulico, gas o las aplicables al funcionamiento del producto, o por factores externos atribuibles e imputables al titular de la garantía o un tercero.',
            },
            {
                'title': 'Factores externos',
                'text':'Problemas causados por factores o agentes externos y falta de cuidado, debido a la presencia de agua, líquidos, humedad, polvo, oxidación, golpes, ruptura de la carcasa, arena, monedas, insectos, roedores o cualquier otro similar que afecte el correcto funcionamiento e idoneidad del producto.Danos a equipos sometidos a condiciones atmosféricas adveras o instalados al aire libre, intemperie o condiciones de salinidad excesiva.',
            },
            {
                'title': 'Uso indebido',
                'text':'Daños causados por uso comercial o industrial, manipulación y/o uso indebido del producto, como por ejemplo: golpes, rayones, fracturas, incorrecta limpieza, puntos de impacto o presión inadecuada, etc.',
            },
        ]  
        
    - 
        const itemsCAC2 = [
            {
                'title': 'Partes cosméticas',
                'text':'La garantía no cubre partes cosméticas, tales como el acabado exterior, rayaduras, ruptura, levantamiento o soplo de la pintura, etc.',
            },
            {
                'title': 'Desgaste',
                'text':'El desgaste por tiempo transcurrido y uso normal de las partes o piezas mecánicas, metálicas, eléctricas, plásticas, caucho o de tela.',
            },
            {
                'title': 'Accesorios',
                'text':'Accesorios faltantes una vez recibido el producto.',
            },
            {
                'title': 'Falla no detectada',
                'text':'En caso que el cliente solicite el servicio aunque el producto no tenga ningún defecto y se encuentre en garantía, Se cargará el costo del diagnostico y visita. Ejemplo: Limpieza del filtro debido a alguna obstrucción, etc.',
            },
            {
                'title': 'Virus',
                'text':'Daños ocasionados en el software y hardware del producto por el uso indebido, virus o programas que afecten el funcionamiento del producto.',
            },
            
        ] 
    - 
        const itemsCAC3  = [
            { 
                'title':'HE',
                'prodName':'Monitor',
                'warranty':'LED Monitor',
                'warranty2':'3',
                'warranty3':'-',
            },
            { 
                'title':'HE',
                'prodName':'Proyector',
                'warranty':'LED Proyector',
                'warranty2':'2',
                'warranty3':'-',
            },
            { 
                'title':'HE',
                'prodName':'PC',
                'warranty':'PC Gram',
                'warranty2':'1',
                'warranty3':'6 meses** (Bateria)',
            },
            { 
                'title':'HE',
                'prodName':'TV',
                'warranty':'LED/OLED TV 32" & mas',
                'warranty2':'2',
                'warranty3':'-',
            },
            { 
                'title':'HE',
                'prodName':'Audio',
                'warranty':'Micro componente, Parlantes portátil',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HE',
                'prodName':'Audio',
                'warranty':'Audífonos inalámbricos',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HE',
                'prodName':'Audio',
                'warranty':'Mini Componente & Teatro en casa',
                'warranty2':'1',
                'warranty3':'2 años** (Lector Optico)',
            },
            { 
                'title':'HE',
                'prodName':'Video',
                'warranty':'DVD, DVD R & Blu Ray',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Lavadora',
                'warranty':'Carga Frontal',
                'warranty2':'3',
                'warranty3':'10 años** (MOTOR)',
            },
            { 
                'title':'HA',
                'prodName':'Lavadora',
                'warranty':'Carga Superior',
                'warranty2':'1',
                'warranty3':'10 años** (MOTOR) / 3 años** (PANEL)',
            },
            { 
                'title':'HA',
                'prodName':'Lavadora',
                'warranty':'Semi- Automáticas',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Secadora',
                'warranty':'-',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Centro de Lavado',
                'warranty':'WashTower',
                'warranty2':'3',
                'warranty3':'10 años** (MOTOR)',
            },
            { 
                'title':'HA',
                'prodName':'Refrigerador',
                'warranty':'Side by Side, Botton Freezer, Door in Door',
                'warranty2':'3',
                'warranty3':'10 años** (COMPRESOR)',
            },
            { 
                'title':'HA',
                'prodName':'Refrigerador',
                'warranty':'Top Mount',
                'warranty2':'1',
                'warranty3':'10 años** (COMPRESOR)',
            },
            { 
                'title':'HA',
                'prodName':'Refrigerador',
                'warranty':'1 Puerta',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Styler',
                'warranty':'Limpiador de ropa a vapor',
                'warranty2':'1',
                'warranty3':'10 años** (MOTOR)',
            },
            { 
                'title':'HA',
                'prodName':'Estufa',
                'warranty':'Eléctrico & Gas',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Lavaplatos',
                'warranty':'-',
                'warranty2':'1',
                'warranty3':'10 años** (MOTOR)',
            },
            { 
                'title':'HA',
                'prodName':'Hornos',
                'warranty':'Hornos Eléctricos',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Extractor',
                'warranty':'Campana',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Aspiradora',
                'warranty':'Convencional',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Aspiradora',
                'warranty':'Homebot',
                'warranty2':'1',
                'warranty3':'10 años** (MOTOR)',
            },
            { 
                'title':'HA',
                'prodName':'Microonda',
                'warranty':'Convencional',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Microonda',
                'warranty':'Inverter',
                'warranty2':'1',
                'warranty3':'10 años** (MAGNETRON)',
            },
            { 
                'title':'HA',
                'prodName':'Aire Acondicionado',
                'warranty':'Split /Art Cool *',
                'warranty2':'1',
                'warranty3':'10 años** (COMPRESOR)',
            },
            { 
                'title':'HA',
                'prodName':'Aire Acondicionado',
                'warranty':'Ventana / Portable / Abanicos de Techo',
                'warranty2':'1',
                'warranty3':'3 años** (COMPRESOR)',
            },
            { 
                'title':'HA',
                'prodName':'Aire Acondicionado',
                'warranty':'Purificadore',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'HA',
                'prodName':'Aire Acondicionado',
                'warranty':'Mascarilla Facial',
                'warranty2':'1',
                'warranty3':'-',
            },
            { 
                'title':'MC',
                'prodName':'Celulares & Tablet',
                'warranty':'-',
                'warranty2':'1',
                'warranty3':'6 months (Batery & Charger)',
            },
            { 
                'title':'B2B',
                'prodName':'Display',
                'warranty':'HOTEL TV',
                'warranty2':'3',
                'warranty3':'-',
            },
            { 
                'title':'B2B',
                'prodName':'Display',
                'warranty':'DIGITAL SIGNAGE',
                'warranty2':'3',
                'warranty3':'-',
            },
            { 
                'title':'B2B',
                'prodName':'Display',
                'warranty':'COMMERCIAL TV',
                'warranty2':'3',
                'warranty3':'-',
            },
            { 
                'title':'B2B',
                'prodName':'Display',
                'warranty':'MONITOR VIDEO WALLS',
                'warranty2':'3',
                'warranty3':'-',
            },
            { 
                'title':'B2B',
                'prodName':'Display',
                'warranty':'LED SIGNAGE',
                'warranty2':'2',
                'warranty3':'-',
            },
            { 
                'title':'B2B',
                'prodName':'CAC',
                'warranty':'CAC (A/C COMMERCIAL)',
                'warranty2':'1',
                'warranty3':'3 años** (COMPRESOR)',
            },
        ]
        
    
    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - CAC

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-CAC 
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 GARANTÍA
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Aquí encontrará información de la garantía de LG.
                                br
                                | LG Electronics garantiza la reparación gratuita de sus productos dentro del periodo de garantía a través de sus Centros de Servicio Autorizados. Cada producto LG tiene condiciones de garantía diferentes, por favor refiérase a la siguiente información:
                                
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            input#tab3(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 Guía para el Costo de Reparación
                                    .tab2.swiper-slide.on
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 Guía del Periodo de Garantía

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Guía para el Costo de Reparación
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Estimación Estándar del Costo de Servicio
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span El costo de Servicio está conformado por el costo del repuesto y el costo de reparación. (Si el cliente solicita una visita de servicio, el costo del viático será añadido al costo de servicio).
                                                                
                                                    .c-parts--inner 
                                                        .c-parts__picto
                                                            .c-picto__contents 
                                                                .c-picto.c-picto-1 
                                                                span.font-m-normal-14 Costo del Repuesto
                                                            .c-signmark.c-plus
                                                            .c-picto__contents
                                                                .c-picto.c-picto-2 
                                                                span.font-m-normal-14 Costo de Reparación
                                                            .c-signmark.c-equal
                                                            .c-picto__contents
                                                                .c-picto.c-picto-3 
                                                                span.font-m-normal-14 Costo de Servicio
                                                        .c-parts__list.cs-warrantylist__dot
                                                            ol 
                                                                li.font-m-semibold-16.font-w-normal-20 Costo de Repuesto
                                                                    div.font-m-normal-14.font-w-normal-16 es el precio del repuesto utilizado para reparar el producto.
                                                                li.font-m-semibold-16.font-w-normal-20 Repair cost
                                                                    div.font-m-normal-14.font-w-normal-16 es el costo de la mano de obra de acuerdo al nivel de reparación.
                                                                li.font-m-semibold-16.font-w-normal-20 Travel expense
                                                                    div.font-m-normal-14.font-w-normal-16 este costo se aplica cuando el cliente solicita una visita para el servicio Fuera de Garantía.

                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Condiciones de la Garantía
                                                        .text.c-text-contents__bodycopy
                                                            ol.warrantylist__dot.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer)
                                                                li LG Electronics, garantiza servicio técnico contra cualquier defecto de fábrica durante un periodo de cobertura de garantía.
                                                                li El servicio de garantía solo será efectuado en centros de servicio autorizados.
                                                                li El Servicio de Garantía sólo procederá si el cliente presenta Factura de compra.
                                                                li El producto debe haber sido adquirido como un equipo nuevo; no como remate, reventa, liquidación, etc.
                                                                li La instalación de todos aquellos productos que la requieran debe hacerse por personal calificado y aprobado por LG.
                                                                li El producto, al momento de la venta, no deberá tener más de 18 meses de almacenaje. Como máximo, la garantía de LG comenzará a partir de este tiempo, y la tienda tendrá que asumir la garantía del tiempo excedido en bodega. En los equipos con exceso de almacenaje, (6 meses o más) LGEPS no aceptará cambios por unidad DOA (defectuosos de caja). Equipo de almacenaje debe tener su caja y sus accesorios, deben estar nuevos.
                                                                li El servicio a domicilio se dará en ciudad donde existan Centros de Servicio Autorizados, y en donde existan calles asfaltadas que permitan el acceso al sitio donde se encuentra el producto.
                                                                li Las garantías especiales llámese Garantías Extendidas para ciertas partes de los productos (Compresor, motor DD, módulo LCD/PDP, bandeja del CD y panel de control) 
                                                                    span.cs-underline no incluye +diagnostico, mano de obra, visitas, u otros; +sólo el repuesto.
                                                                    |  La bandeja del CD incluye el lente óptico.
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Casos en que la garantía no es válida
                                                        .text.c-text-contents__bodycopy
                                                            ol.warrantylist__dot.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer)
                                                               li Cuando el equipo presenta daños por maltrato, accidente, catástrofes naturales, desórdenes públicos como consecuencias de estos, uso distinto al indicado en las instrucciones de manejo, uso en condiciones ambientales deficientes, deficiente instalación y/o programación del producto.
                                                               li Producto con periodo de garantía expirado y/o vendidos como remate, reventa, liquidación, entre otros.
                                                               li Daños causados por las fluctuaciones de voltaje de la energía eléctrica o descargas eléctricas atmosféricas.
                                                               li Daños causados por la intervención o desarme del producto de parte de cualquier persona o Centro de Servicio NO autorizado por LG o los ocasionados por la adaptación e instalación de piezas o accesorios no genuinos ni autorizados por LG.
                                                               li No atender las instrucciones de instalación, uso o mantenimiento indicadas en el manual del producto o en la garantía. Así como daños causados por instalación indebida o falta de mantenimiento. En caso de aires acondicionados , el mantenimiento periódico del equipo debe hacerse como mínimo de 3 a 6 meses (dependiendo del uso).
                                                               li En el caso en que el aparato haya sido abierto por cualquier persona o Centro Servicio NO autorizado por LG.
                                                               li Daños causados por uso comercial o industrial, manipulación y/ o uso indebido del producto, como por ejemplo: golpes, rayones, fracturas, incorrecta limpieza, puntos de impacto o presión inadecuada, etc.
                                                               li Baterías, control remoto, cintas, partes plásticas, gabinetes, antenas, pilas y demás accesorios consumibles, no están sujetos a la GARANTÍA.
                                                               li Daños ocasionados por falta de cuidado con el producto o factores externos ajenos a LG tales como ralladuras, descoloramiento, golpes o ruptura del mueble o gabinete exterior del producto.
                                                               li El desgaste por uso normal de las partes y piezas mecánicas, metálicas, eléctricas, plásticas y de caucho.
                                                               li No se responderá por accesorios faltantes después de recibida la mercancía.
                                                               li Cuando el producto no tiene Número de Serie de la fábrica o se encuentra alterado.
                                                               li Daños ocasionados en el software y hardware del producto por el uso indebido, virus o programas que afecten el funcionamiento del producto.
                                                               li Daños en partes cosméticas, tales como el acabado exterior, rayaduras, ruptura, levantamiento o soplo de la pintura, etc.
                                                               li El desgaste por tiempo transcurrido y uso normal de las partes o piezas mecánicas, metálicas, eléctricas, plásticas, caucho o de tela.
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Servicio Fuera de Garantía
                                                        .text.c-text-contents__bodycopy
                                                            span.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) El servicio Fuera de Garantía se refiere a la siguiente información.
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Productos que aplican a un Servicio Fuera de Garantía
                                                        .text.c-text-contents__bodycopy
                                                            span.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer) LG no será responsable durante el periodo de garantía ofrecido, cuando ocurran las siguientes causales:

                                                .c-product-list__wrap
                                                    ul.c-product-list
                                                        each items in itemsCAC
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                ul.cs-warrantylist__hypen
                                                                    li 
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.text}
                                                
                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 La garantía no cubre
                                                    ul.c-product-list
                                                        each items in itemsCAC2
                                                            li.c-content_box 
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                ul.cs-warrantylist__hypen
                                                                    li 
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.text}
                                                                    if items.text2
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 #{items.text2}
                                                

                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Guía del Periodo de Garantía
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                ul.warrantylist__dot 
                                                                    li La garantía del producto significa que el fabricante promete la reparación gratuita en garantía con el cliente en caso de alguna falla de calidad, rendimiento o función del producto en condiciones normales.
                                                                    li El periodo de garantía del producto está basado a partir de la fecha de compra. El cliente debe presentar la factura de compra para validar la garantía. Los datos que aparecen en la factura, debe coincidir con los datos del cliente y del producto que se reporta en sistema.
                                                                    li Refiérase a los detalles de la información de garantía, incluída en el empaque de su producto.
                                                                
                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 Periodo de garantía por tipo de Producto
                                                    ul.c-product-list.c-product-list__type3
                                                        each items in itemsCAC3
                                                            li.c-content_box
                                                                div 
                                                                    p.font-m-normal-14.font-w-normal-16 Compnay
                                                                    p.font-m-normal-20.font-w-normal-24 #{items.title}
                                                                    ul.warranty_box 
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 Product
                                                                            span.font-m-normal-16.font-w-normal-20 #{items.prodName}
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 Categoria
                                                                            span.font-m-normal-16.font-w-normal-20 #{items.warranty}
                                                                div
                                                                    p.font-m-normal-14.font-w-normal-16 PERÍODO DE GARANTÍA (Año) : 
                                                                    ul.warranty_box.type2 
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 
                                                                                | Base
                                                                                br
                                                                                | (Partes y Mano de Obra)
                                                                            span.font-m-normal-16.font-w-normal-20 #{items.warranty2}
                                                                        li 
                                                                            span.font-m-normal-14.font-w-normal-16 
                                                                                | Adicional
                                                                                br
                                                                                | (No incluye Mano de Obra)
                                                                            span.font-m-normal-16.font-w-normal-20 #{items.warranty3}
                                               


                                                .c-cs-header 
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer="")
                                                                span 
                                                                    | ****Para Republica Dominicana, Puerto Rico, El Salvador, Honduras y Nicaragua, el periodo de garantía de televisores es de 1 año.
                                                                    br
                                                                    | ***Disclaimer de Pixeles
                                                                    br
                                                                    | Este producto contiene millones de pixeles; usted podría ver pequeños puntos negros y/o puntos de colores brillantes (blanco, rojo, azul o verde) a un tamaño de 1ppm en el panel, lo cual son admitibles bajo estandares ISO vigentes. Este fenómeno puede ocurrir en productos de diferentes fabricantes. Esto no indica un mal funcionamiento y no afecta el rendimiento y confiabilidad del producto, por lo tanto, no esta sujeto a reparación, reembolso o cambio de producto.
                                                                    br
                                                                    | **Garantía adicional en el repuesto
                                                                    br
                                                                    | Garantia Adicional aplica en piezas especificas. Esta garantía adicional sólo aplica en el compresor, motor DD, panel de control y óptico . Esta garantía no cubre kilometraje(visita), diagnóstico, mano de obra, ni materiales adicionales.
                                                                    br
                                                                    | *Periodo de garantia para A/C
                                                                    br
                                                                    | Estos periodos de garantías (Base de 1 año y Adicional de 2 años) sólo son validos si los aires acondicionados se instalan con un centro autorizado de instalación de LG con la coordinación del call center de LG. Si el equipo es instalado por un centro no autorizado el periodo de garantía será de 1 año y 10 años en el compresor.
                                                                    br
                                                                    | La garantía en el compresor aplica sólo en la pieza, no incluye diagnóstico, mano de obra, materiales y costos adicionales de transporte.
                                                                    br
                                                                    | Período de garantía para producto de tienda
                                                                    br
                                                                    | Artículos de tienda (No vendido a cliente final) tiene garantía de 18 meses(Mano de obra y piezas), debe estar en buenas condiciones completo con sus accesorios, empaque y materiales de protección con sus respectivas cajas originales.
