extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-CA"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    -
        const itemsIT = [
            {
                'prdTypes':'OLED TV/LCD TV',
                'info':'1 year parts & labour',
            },
            {
                'prdTypes':'Projector',
                'info':'1 year parts and labour (unless otherwise specified)',
            },
            {
                'prdTypes':'Blu-ray/DVD player/Recorder',
                'info':'1 year replacement warranty',
            },
            {
                'prdTypes':'Audio home theater systems',
                'info':'1 year parts & labour (some models are replacement only)',
            },
            {
                'prdTypes':'Remotes',
                'info':'1 year replacement warranty (Customer damage not covered)',
            },
            {
                'prdTypes':'Refrigerators',
                'normal':true,
                'list1':'LG brand: 1 year parts & labour | LG studio: 2 years parts & labour',
                'list2':'7 year Sealed System (parts only)*',
                'list3':'10 years Compressor (parts only)*',
                'listDesc':'*depending on model, some conditions may apply.'
            },
            {
                'prdTypes':'Microwave ovens (Over-the-Range)',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'5 years on the magnetron (parts only)',
                'list3':'10 years on inverter magnetron (parts only)',
            },
            {
                'prdTypes':'Microwave ovens (countertop)',
                'normal':true,
                'list1':'1 year replacement warranty',
                'list2':'5 years on the magnetron (parts only)',
                'list3':'10 years on inverter magnetron (parts only)',
            },
            {
                'prdTypes':'Ranges',
                'normal':true,
                'list1':'1 year parts & labour | LG studio: 2 years parts & labour',
                'list2':'(including radiant cooktop)',
            },
            {
                'prdTypes':'Dishwashers',
                'normal':true,
                'list1':'For models manufactured before May 1, 2022:',
                'list2':'1 yr (parts & labour): LG brand | 2 yrs (parts & labour): LG studio',
                'list3':'5 yrs for main PCB, rack, SS door liner, tub (parts only)',
                'list4':'10 yrs for Direct Drive motor (part only). See manual for details.',
                'list5':'For models manufactured after May 1, 2022:',
                'list6':'1 yr (parts & labour): LG brand | 2 yrs (parts & labour): LG studio',
                'list7':'2 yrs for main PCB, rack, SS door liner, tub (parts only): LG brand',
                'list8':'5 yrs for main PCB, rack, SS door liner, tub (parts only): LG studio',
                'list9':'10 yrs for Direct Drive motor (part only). See manual for details.',
            },
            {
                'prdTypes':'Vacuum cleaners',
                'normal':true,
                'list1':'LG brand: LUV200R, LUV300B – 5 years parts & labour, excluding the agitator motor 3 years parts only',
                'list2':'LG brand: LCV700 & LCV800 – 3 years parts and labour',
                'list3':'LG Cord Zero A906SM - 1 year parts and labor, 10 year parts only warranty on smart inverter motor (suction motor)',
            },
            {
                'prdTypes':'Washers',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'10 years DD Motor (parts only)',
                'list3':'3 years STS Drum',
            },
            {
                'prdTypes':'Dryers',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'3 years Dryer Drum (parts only)',
            },
            {
                'prdTypes':'Styler',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'10 years inverter compressor (parts only)',
            },
            {
                'prdTypes':'Air conditioners',
                'listTit':'Standard warranty*',
                'list1':'Single Wall Mounted: 5 years Parts, 10 years Compressor (parts only)',
                'list2':'Single Zone AHUs/Cassettes/Console and Multi splits: 5 year parts, 7 year compressor (parts only)',
                'listTit2':'Limited Registered Warranty*',
                'list3':'10 years parts, 10 years Compressor**',
                'listDesc1':'*Installed pursuant to LG’s published instructions.',
                'listDesc2':'**To enjoy the benefit of 10 year parts and compressor warranty, please register your product at LG.ca',
            },
            {
                'prdTypes':'Dehumidifiers',
                'normal':true,
                'list1':'Gold Star: 1 year parts & labour',
                'list2':'LG brand: 1 year parts & labour',
                'list3':'5 years on the compressor (parts only)',
            },
            {
                'prdTypes':'Notebooks',
                'info':'1 year parts & labour',
            },
            {
                'prdTypes':'Hotel TV',
                'info':'2 years parts & labour',
            },
            {
                'prdTypes':'Commercial TV',
                'info':'2 years parts & labour',
            },
            {
                'prdTypes':'Commercial lite',
                'info':'2 years parts & labour',
            },
            {
                'prdTypes':'Signage monitor',
                'info':'3 years parts & labour',
            },
            {
                'prdTypes':'LCD monitors',
                'info':'1 year parts & labour (some models are replacement only)',
            },
        ]
    -
        const itemsIT_1 = [
            {
                'prdTypes':'OLED TV/LCD TV',
                'info':'1 year parts & labour',
            },
            {
                'prdTypes':'Projector',
                'info':'1 year parts and labour (unless otherwise specified)',
            },
            {
                'prdTypes':'Blu-ray/DVD player/Recorder',
                'info':'1 year replacement warranty',
            },
            {
                'prdTypes':'Audio home theater systems',
                'info':'1 year parts & labour (some models are replacement only)',
            },
            {
                'prdTypes':'Remotes',
                'info':'1 year replacement warranty (Customer damage not covered)',
            },
        ]
    -
        const itemsIT_2 = [
             {
                'prdTypes':'Refrigerators',
                'normal':true,
                'list1':'LG brand: 1 year parts & labour | LG studio: 2 years parts & labour',
                'list2':'7 year Sealed System (parts only)*',
                'list3':'10 years Compressor (parts only)*',
                'listDesc':'*depending on model, some conditions may apply.'
            },
            {
                'prdTypes':'Microwave ovens (Over-the-Range)',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'5 years on the magnetron (parts only)',
                'list3':'10 years on inverter magnetron (parts only)',
            },
            {
                'prdTypes':'Microwave ovens (countertop)',
                'normal':true,
                'list1':'1 year replacement warranty',
                'list2':'5 years on the magnetron (parts only)',
                'list3':'10 years on inverter magnetron (parts only)',
            },
            {
                'prdTypes':'Ranges',
                'normal':true,
                'list1':'1 year parts & labour | LG studio: 2 years parts & labour',
                'list2':'(including radiant cooktop)',
            },
            {
                'prdTypes':'Dishwashers',
                'normal':true,
                'list1':'For models manufactured before May 1, 2022:',
                'list2':'1 yr (parts & labour): LG brand | 2 yrs (parts & labour): LG studio',
                'list3':'5 yrs for main PCB, rack, SS door liner, tub (parts only)',
                'list4':'10 yrs for Direct Drive motor (part only). See manual for details.',
                'list5':'For models manufactured after May 1, 2022:',
                'list6':'1 yr (parts & labour): LG brand | 2 yrs (parts & labour): LG studio',
                'list7':'2 yrs for main PCB, rack, SS door liner, tub (parts only): LG brand',
                'list8':'5 yrs for main PCB, rack, SS door liner, tub (parts only): LG studio',
                'list9':'10 yrs for Direct Drive motor (part only). See manual for details.',
            },
            {
                'prdTypes':'Vacuum cleaners',
                'normal':true,
                'list1':'LG brand: LUV200R, LUV300B – 5 years parts & labour, excluding the agitator motor 3 years parts only',
                'list2':'LG brand: LCV700 & LCV800 – 3 years parts and labour',
                'list3':'LG Cord Zero A906SM - 1 year parts and labor, 10 year parts only warranty on smart inverter motor (suction motor)',
            },
        ]
    -
        const itemsIT_3 = [
            {
                'prdTypes':'Washers',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'10 years DD Motor (parts only)',
                'list3':'3 years STS Drum',
            },
            {
                'prdTypes':'Dryers',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'3 years Dryer Drum (parts only)',
            },
            {
                'prdTypes':'Styler',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'10 years inverter compressor (parts only)',
            },
        ]
    -
        const itemsIT_4 = [
            {
                'prdTypes':'Air conditioners',
                'listTit':'Standard warranty*',
                'list1':'Single Wall Mounted: 5 years Parts, 10 years Compressor (parts only)',
                'list2':'Single Zone AHUs/Cassettes/Console and Multi splits: 5 year parts, 7 year compressor (parts only)',
                'listTit2':'Limited Registered Warranty*',
                'list3':'10 years parts, 10 years Compressor**',
                'listDesc1':'*Installed pursuant to LG’s published instructions.',
                'listDesc2':'**To enjoy the benefit of 10 year parts and compressor warranty, please register your product at LG.ca',
            },
            {
                'prdTypes':'Dehumidifiers',
                'normal':true,
                'list1':'Gold Star: 1 year parts & labour',
                'list2':'LG brand: 1 year parts & labour',
                'list3':'5 years on the compressor (parts only)',
            },
        ]
    -
        const itemsIT_5 = [
            {
                'prdTypes':'Notebooks',
                'info':'1 year parts & labour',
            },
        ]

    -
        const itemsIT_6 = [
            {
                'prdTypes':'Hotel TV',
                'info':'2 years parts & labour',
            },
            {
                'prdTypes':'Commercial TV',
                'info':'2 years parts & labour',
            },
            {
                'prdTypes':'Commercial lite',
                'info':'2 years parts & labour',
            },
            {
                'prdTypes':'Signage monitor',
                'info':'3 years parts & labour',
            },
            {
                'prdTypes':'LCD monitors',
                'info':'1 year parts & labour (some models are replacement only)',
            },
        ]


    -
        const items2 = [
            {
                'prdTypes':'TVs2222222222222222222222222222',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'note' : false,
                'onlybeforNote':true,
                'beforeNoteText' : '5 year premium OLED panel warranty on LG Z1 and G Series OLED TVs – this extended warranty is applicable to the panel only. The consumer will be charged for labour after the 12 month product warranty has expired. No registration required. Available in the UK only. Click here to find out more.',
                'link': 'Click here',
                'note2' : ' to find out more.',
                'useImg': false,
                'moreBtn':true,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
        ]
    - 
        const itemsAT = [
            {
                'title':'Periodo di garanzia',
                'subtitle':'Prodotto con garanzia scaduta',
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
            {
                'title':'Prodotto di altro marchio',
                'subtitle':'Prodotto difettoso di altri marchi/eventuali dispositivi esterni collegati al prodotto per cui si richiede assistenza (Router, decoder, console di gioco, cablaggi, connessioni a reti domestiche e tutto ciò che non è strettamente correlato al prodotto acquistato)'
            },
            {
                'title':'Parti soggette ad usura',
                'list1':'Nel caso in cui la garanzia estesa della parte sia scaduta/ciclo di durata terminato (Batteria, filtri, guarnizioni , parti estetiche e così via )',
                'list2':'Nel caso in cui il guasto sia dovuto all’utilizzo di parti non originali e non fornite da LG'
            },
            {
                'title':'Calamità naturali',
                'subtitle':'Nel caso in cui il guasto sia dovuto a calamità naturali (terremoto, temporale, corto circuito, maremoto, incendio, danno casusato da vento, grandine, congelamento e così via).'
            },
            {
                'title':'Incuria',
                'list1':'Nel caso in cui il prodotto non funzioni per danno causato (incluso danno al software)',
                'list2':'Nel caso in cui il guasto del prodotto sia imputabile al cattivo utilizzo e non sia in linea con quanto riportato e dichiarato nel manuale d’uso.',
                'list3':'Nel caso in cui il guasto del prodotto sia imputabile ad un’operazione di “rooting” effettuata impropriamente dal cliente.',
                'list4':'Nel caso in cui il guasto sia causato da incuria senza alcuna possibilità di previsione, come guasti derivanti da corto circuiti, prese elettriche, errate connessioni, collegamenti e così via.',
                'list5':'Nel caso in cui il cliente richieda assistenza, ove si verifichi mancata fornitura dell’acqua, interruzione dell’acqua / gas e così via.',
                'list6':'Nel caso in cui il cliente richieda assistenza in presenza di cause esterne come guasto del servizio internet, del segnale di antenna, di linea e così via',
            },
            {
                'title':'Interventi da parte di personale non autorizzato o utilizzo professionale',
                'list1':'Nel caso di alterazione o di lavori di riparazione eseguiti da persona non autorizzata da LG Electronics, di manomissione o rimozione del numero di serie del prodotto, di rilavorazione o utilizzo professionale del prodotto, intendendosi per tale l’utilizzo da parte dell’utente nell’ambito della propria attività imprenditoriale, commerciale, artigianale o professionale.',
            },
            {
                'title':'Varie',
                'list1':'Laddove il cliente richieda un’assistenza anche se il prodotto non presenti alcun difetto (L’uscita sarà addebitata al cliente nonostante il prodotto sia in garanzia) ex) Verifica di una corretta installazione Pulizia e manutenzione preventiva ( filtri/guarnizioni e così via)',
                'desc':'※ Prima di rivolgersi al Servizio Assistenza si consiglia di consultare, nella pagina web di supporto, guide e tutorial a soluzione di eventuali anomalìe'
            },
        ]
    

    mixin accordion(items)
        .accordion(role='tablist')
            each item, i in itemsIT
                .accordion__item
                    .accordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes} 

                    .accordion__content(role='tabpanel')
                        if item.prdname
                            .c-warranty__text
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14 Prodotto
                                    dd.font-m-normal-14.font-w-normal-24 #{item.prdname}
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14 Periodo di garanzia
                                    dd.font-m-normal-14.font-w-normal-16 #{item.perioddue}
                                if item.conditionstatus
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14 Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16 #{item.conditionstatus}
                                            if item.conditionbold3
                                                span.cs-bold #{item.conditionbold3}
                                                | #{item.conditionstatus1a}
                                else 
                                    block
                                if item.conditionboldtype
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14 Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16
                                            if item.conditionboldtype
                                                span.cs-bold #{item.conditionboldtype}
                                                br
                                                | #{item.conditionstatus2atype}
                                                span.cs-bold #{item.conditionbold2type}
                                                | #{item.conditionstatus2btype}
                                                if item.conditionstatus2c
                                                    br
                                                    | #{item.conditionstatus2c}
                                else 
                                    block
                        if item.prdname2
                            .c-warranty__text
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Prodotto
                                    dd.font-m-normal-14.font-w-normal-24 #{item.prdname2}
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Periodo di garanzia
                                    dd.font-m-normal-14.font-w-normal-16 #{item.perioddue2}
                                if item.conditionstatus2
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16 #{item.conditionstatus2}
                                            if item.conditionbold
                                                br
                                                span.cs-bold #{item.conditionbold}
                                                br
                                                | #{item.conditionstatus2a}
                                                span.cs-bold #{item.conditionbold2}
                                                | #{item.conditionstatus2b}
                                                if item.conditionstatus2c
                                                    br
                                                    | #{item.conditionstatus2c}
                                else 
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16
                                            if item.conditionbold
                                                span.cs-bold #{item.conditionbold}
                                                br
                                                | #{item.conditionstatus2a}
                                                span.cs-bold #{item.conditionbold2}
                                                | #{item.conditionstatus2b}
                                                if item.conditionstatus2c
                                                    br
                                                    | #{item.conditionstatus2c}
                        if item.prdnamespecial 
                            .c-warranty__text
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Prodotto
                                    dd.font-m-normal-14.font-w-normal-24 #{item.prdnamespecial}
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Periodo di garanzia
                                    dd.font-m-normal-14.font-w-normal-16 #{item.periodduespecial}
                                if item.conditionstatusspecial
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16 #{item.conditionstatusspecial}
                                            if item.conditionboldspecial
                                                span.cs-bold #{item.conditionboldspecial}
                                                | #{item.conditionstatusspecial1}        
                        if item.prdnamespecial2
                            .c-warranty__text
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Prodotto
                                    dd.font-m-normal-14.font-w-normal-24 #{item.prdnamespecial2}
                                dl 
                                    dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Periodo di garanzia
                                    dd.font-m-normal-14.font-w-normal-16 #{item.periodduespecial2}
                                if item.conditionstatusspecial2
                                    dl 
                                        dt.font-m-semibold-14.font-w-normal-14.c-hidden-pc Condizioni di garanzia aggiuntive
                                        dd.font-m-normal-14.font-w-normal-16 #{item.conditionstatusspecial2}
                                            if item.conditionboldspecial2
                                                span.cs-bold #{item.conditionboldspecial2}
                                                | #{item.conditionstatusspecial2a}      
                        .c-warranty__desc.font-m-normal-14.font-w-normal-16
                            | #{item.desc}
                            br
                            | #{item.desc2}
                            if item.desc2a 
                                br
                                | #{item.desc2a} 
                                br
                                | #{item.desc2b} 
                                
                            span.cs-bold #{item.bold} 
                            | #{item.desc3}
                            br
                            | #{item.desc4} 
                            if item.desc5
                                br
                                | #{item.desc5} 
                            if item.desc6
                                br
                                | #{item.desc6} 
                            a(href="#") #{item.link}      
                        
    mixin nonAccordion(items)
        .cs-nonAccordion(role="list")
            each item, i in items 
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion2(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_1 
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion3(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_2 
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion4(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_3
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}
    mixin nonAccordion5(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_4
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}

    mixin nonAccordion6(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_5
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}

    mixin nonAccordion7(items)
        .cs-nonAccordion(role="list")
            each item, i in itemsIT_6
                .cs-nonAccordion__item
                    .cs-nonAccordion__title(role='tab', aria-expanded=i === 0 ? 'true' : 'false')
                        strong.font-m-normal-20.font-w-normal-32 #{item.prdTypes}

                    .cs-nonAccordion__content(role='tabpanel')
                        .c-warranty__text 
                            if item.listTit
                                p.font-m-normal-14 #{item.listTit}
                                ul.font-m-normal-14 
                                    li #{item.list1}
                                    li #{item.list2}
                                p.font-m-normal-14 #{item.listTit2}
                                ul.font-m-normal-14 
                                    li #{item.list3}
                                div.font-m-normal-14 
                                    | #{item.listDesc1}
                                    | #{item.listDesc2}
                            if item.info 
                                span.font-m-normal-14 #{item.info}
                            else if item.normal
                                ul.font-m-normal-14.ccc 
                                    li #{item.list1}
                                    li #{item.list2}
                                    if item.list3
                                        li #{item.list3}
                                    if item.list4
                                        li #{item.list4}
                                        li #{item.list5}
                                        li #{item.list6}
                                        li #{item.list7}
                                        li #{item.list8}

                                if item.listDesc 
                                    span.font-m-normal-14 #{item.listDesc}

    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - CA_EN

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-CA 
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Warranty coverage program
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | We will give you LG warranty information here 
                                br
                                | LG Electronics provides service to its products through its own Service Technicians and authorized service centers. Each LG product has a different set of warranty conditions, so please refer to information below, visit our 
                                a(href="https://www.lg.com/ca_en/support/manuals" target="_black") manuals
                                |  page or you can 
                                a(href="https://www.lg.com/ca_en/support/contactus" target="_black") contact us.

                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 Warranty info
                                    .tab2.swiper-slide
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 Warranty support

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                #container.container.second-container
                                                    .button.c-print-area
                                                        +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                +headline('font-w-light-56 font-m-light-28',h2,'LG repair service policy')
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.cs-flex.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                    span In-warranty:
                                                                    .button
                                                                        +linkButton({name: 'Learn more >', type:'text', msize:'large', underline:false, href:'https://www.lg.com/ca_en/support/repair-service/schedule-repair-sign-in'})(target="_blank")
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                                                    span.cs-bold Costs: 
                                                                    | An LG product within the manufacturer's warranty will be covered by LG for parts and Labour according to the terms provided on the warranty card that accompanied your product at the time of purchase.
                                                                    br
                                                                    span.cs-bold Coverage: 
                                                                    | In home warranty service is available within a 150km radius of the nearest LG authorized service center (ASC) to your home. If your product is outside this radius, it will be your responsibility to bring the unit to the ASC for repair.
                                                                    br
                                                                    span.cs-bold In-warranty duration:
                                                                    | Standard warranty is 1 year parts and labour from the purchased date listed on the bill of sale (AC units excluded). You are invited to call LG Electronics Canada Customer Service (1-888-542-2623) and speak to a representative for any pertinent support question. The LG representative can dispatch an LG authorized service provider to your home to provide the required in-warranty support.
                                                                    br
                                                                    span.cs-underline You (the customer) must be the original owner of the unit being serviced
                                                                    |  and must present the LG servicer with the bill of sale as the servicer will require a copy for their claim to LG Electronics Canada.
                                                                    br
                                                                    span.cs-underline The servicer has the right to refuse a repair if the customer does not provide the bill of sale.
                                                                    |  The unit must have an LG “Model and Serial Tag” visible as the servicer will also take a picture of the serial tag for LG records. Unfortunately LG will not cover an LG product with a defaced or missing serial tag. Refurbished products or products from second hand shops (reseller) will not be covered under warranty. Consult the warranty document that was provided with your product at the time of purchase for full terms and conditions.

                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.cs-flex.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                    span Out of warranty:
                                                                    .button
                                                                        +linkButton({name: 'Learn more >', type:'text', msize:'large', underline:false, href:'https://lgoutofwarranty.ca/en/main/home.do'})(target="_blank")
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                                                    | Once the LG unit is out of warranty, or whether it is a refurbished product, or has non-warranty damage such as dents, scratches or cracks due to physical abuse or, a second-hand product (passed from the original owner), you (the customer), are responsible for the cost of all repairs including parts, labor and mileage (if the service provider requires it). You (the customer) are invited to call LG Electronics Canada Customer Service, (1-888-542-2623) and speak to a representative for any support questions you might have and to arrange for an out of warranty repair. We welcome you to leverage our “One Price” Program as a low cost solution to these out of warranty repairs. Regardless, LG will dispatch an authorized servicer for you (the customer) to get your product repaired. In the event you do not participate in our "One Price" program, you (the customer) will be responsible for the repair charges paid to the servicer. Please note, 
                                                                    span.cs-underline the servicer will charge their own shop rates, their own labour rates, mileage charges and standard LG parts rates.
                                                                    br
                                                                    span.cs-bold 90 day repair warranty:
                                                                    | Out Of Warranty (OOW) part(s) replaced at a cost to you (the customer) have a 90 day warranty. This 90 day warranty is for the specific part(s) that failed and were replaced during the original service call. LG will cover the part(s) and installation of the part(s) 
                                                                    span.cs-underline only for 90 days from the original installation date.
                                                                    |  THE LIMITED WARRANTY 
                                                                    span.cs-underline DOES NOT COVER
                                                                    |  damage caused by transportation and handling, including scratches, dents, chips and/or other damage to the finish of your product, unless such damage results from defects in materials or workmanship and is reported within one (1) week of delivery.

                                                    // CONTENT
                                                    section.c-cs-warranty.c-warranty__wrap
                                                        .contents-area
                                                            //- .cs-second-tabbg
                                                            .cs-tab.cs-second-tab
                                                                .cs-second-tabbg
                                                                input#tab1-1(checked='checked' type='radio' name='category')
                                                                input#tab2-1(type='radio' name='category')
                                                                input#tab3-1(type='radio' name='category')
                                                                input#tab4-1(type='radio' name='category')
                                                                input#tab5-1(type='radio' name='category')
                                                                input#tab6-1(type='radio' name='category')
                                                                input#tab7-1(type='radio' name='category')
                                                                .c-carousel__handler
                                                                    .cmp-carousel__actions.prev
                                                                        +carouselBtn({type:"pagination", direction:"prev"})(aria-label="")
                                                                    .cmp-carousel__actions.next
                                                                        +carouselBtn({type:"pagination", direction:"next"})(aria-label="")
                                                                .tabs.swiper-container.csSwiper.csSwiper2.swiper
                                                                    .tabs__items.swiper-wrapper
                                                                        .tab1-1.swiper-slide.on
                                                                            label.c-tabs(for='tab1-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-all-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 All
                                                                        .tab2-1.swiper-slide
                                                                            label.c-tabs(for='tab2-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-tv-audio-video-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 TV/Audio/Video
                                                                        .tab3-1.swiper-slide
                                                                            label.c-tabs(for='tab3-1') 
                                                                                //- +printLazyImage('../../assets/icon/icon-warranty-kitchen-64-64_normal.svg')
                                                                                +printLazyImage('../../assets/icon/icon-warranty-appliance-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Appliances
                                                                        .tab4-1.swiper-slide
                                                                            label.c-tabs(for='tab4-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-laundry-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Laundry
                                                                        .tab5-1.swiper-slide
                                                                            label.c-tabs(for='tab5-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-aircon-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Air Solutions
                                                                        .tab6-1.swiper-slide
                                                                            label.c-tabs(for='tab6-1') 
                                                                                +printLazyImage('../../assets/icon/icon-warranty-it-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Computing
                                                                        .tab7-1.swiper-slide
                                                                            label.c-tabs(for='tab7-1') 
                                                                                +printLazyImage('../../assets/icon/icon-info-products-64-64_normal.svg')
                                                                                .c-tab__title.font-m-normal-16.font-w-normal-20 Information display

                                                                section.c-second-section.c-sticky__contents
                                                                    .tab1-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt.cs-warrantyTxtWrap
                                                                                    +nonAccordion(itemsIT)
                                                                    .tab2-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion2(itemsIT)
                                                                    .tab3-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion3(itemsIT)
                                                                    .tab4-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion4(itemsIT)
                                                                    .tab5-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion5(itemsIT)
                                                                    .tab6-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion6(itemsIT)
                                                                    .tab7-1.c-second-tab
                                                                        .fullWidth
                                                                            .sectCont
                                                                                .cs-warrantyTxt
                                                                                    +nonAccordion7(itemsIT)


                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                            .c-hero-banner.font-white
                                                // block : floating-contents
                                                .c-floating-contents
                                                    .c-floating-contents__floor
                                                        // block : image
                                                        .image.c-image.c-hero-banner__image
                                                            +printLazyPicture('../../mocks/CS0078/img-CS0078-CA-MO.png', 'https://via.placeholder.com/1440x304/ccc/000/?text=1440x304')

                                                    .c-floating-contents__floating
                                                        .c-hero-banner__contents
                                                            .c-floating-contents__main-contents
                                                                // block : text-contents
                                                                .c-text-contents.width-narrow
                                                                    .title.c-text-contents__headline
                                                                        .cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer='')
                                                                            h2.cmp-title__text
                                                                            | Mobile repair info
                                                                    .button.c-cta
                                                                        a.cmp-button.c-button.c-button--default.default.m-small.w-medium(href='https://lgoutofwarranty.ca/en/main/mobile.do', target="_blank", data-link-name='learn_more', data-link-destination='', data-link-menu='', data-link-page-type='', data-cmp-data-layer='')
                                                                            span.cmp-button__text.c-button__text Learn more
                                            .c-hero-banner.font-white
                                                // block : floating-contents
                                                .c-floating-contents
                                                    .c-floating-contents__floor
                                                        // block : image
                                                        .image.c-image.c-hero-banner__image
                                                            +printLazyPicture('../../mocks/CS0078/img-CS0078-CA-MO.png', 'https://via.placeholder.com/1440x304/ccc/000/?text=1440x304')

                                                    .c-floating-contents__floating
                                                        .c-hero-banner__contents
                                                            .c-floating-contents__main-contents
                                                                // block : text-contents
                                                                .c-text-contents.width-narrow
                                                                    .title.c-text-contents__headline
                                                                        .cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer='')
                                                                            h2.cmp-title__text
                                                                            | Out of warranty support
                                                                    .button.c-cta
                                                                        a.cmp-button.c-button.c-button--default.default.m-small.w-medium(href='https://lgoutofwarranty.ca/en/main/home.do', target="_blank", data-link-name='learn_more', data-link-destination='', data-link-menu='', data-link-page-type='', data-cmp-data-layer='')
                                                                            span.cmp-button__text.c-button__text Learn more
                                            .c-hero-banner.font-white
                                                // block : floating-contents
                                                .c-floating-contents
                                                    .c-floating-contents__floor
                                                        // block : image
                                                        .image.c-image.c-hero-banner__image
                                                            +printLazyPicture('../../mocks/CS0078/img-CS0078-CA-MO.png', 'https://via.placeholder.com/1440x304/ccc/000/?text=1440x304')

                                                    .c-floating-contents__floating
                                                        .c-hero-banner__contents
                                                            .c-floating-contents__main-contents
                                                                // block : text-contents
                                                                .c-text-contents.width-narrow
                                                                    .title.c-text-contents__headline
                                                                        .cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer='')
                                                                            h2.cmp-title__text
                                                                            | Extended warranty
                                                                    .button.c-cta
                                                                        a.cmp-button.c-button.c-button--default.default.m-small.w-medium(href='https://www.lgcanadaparts.com/extendedwarranties', target="_blank", data-link-name='learn_more', data-link-destination='', data-link-menu='', data-link-page-type='', data-cmp-data-layer='')
                                                                            span.cmp-button__text.c-button__text Learn more