extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_video.pug
//- include ../_common/_spec-info.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078country = "CS0078-PT"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    -
        const itemsIT = [
            {
                'prdTypes':'TV',
                'prdname':'TV superiori ai 40"',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'E’ prevista l’assistenza gratuita a domicilio.',
                'prdname2':'TV superiori ai 40"',
                'perioddue2' : 'Due (2) anni, incluse parti e manodopera',
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'I televisori LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi gli accessori (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Per i televisori di dimensioni superiori o pari a 40 pollici, è prevista l’assistenza gratuita a domicilio nel rispetto delle condizioni di garanzia.Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ',         
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Proiettori',
                'prdname':'Proiettori',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'La batteria, ove prevista, è coperta per un periodo di 6 mesi.',
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'I proiettori LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi gli accessori (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'La batteria, ove prevista, essendo soggetta ad usura e deperimento nel tempo, viene invece garantita per un periodo di 6 mesi.Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ',         
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Audio e Video',
                'prdname':'Audio e Video',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'I prodotti Audio Video LG (Soundbar, Home theater, casse audio, Sistemi Mini e Micro Hi-Fi, lettori BluRay e DVD...), hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi accessori inclusi nella confezione (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ',         
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Frigoriferi e cantinette vino',
                'prdname':'Modelli senza compressore lineare',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'E’ prevista l’assistenza gratuita a domicilio.',
                
                'prdname2':'Modelli con compressore lineare',
                'perioddue2' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus2':'E’ prevista l’assistenza gratuita a domicilio.',
                'conditionbold':'Garanzia compressore lineare:',
                'conditionstatus2a':'Sono previsti ',
                'conditionbold2':'ulteriori 8 anni di garanzia, ',
                'conditionstatus2b':'per i modelli con compressore Linear Compressor.', 
                'conditionstatus2c':'La garanzia di 8 anni aggiuntivi, valida solo per il compressore lineare, si applica automaticamente alla garanzia convenzionale.I costi di manodopera e di uscita del tecnico, qualora l’intervento si verificasse oltre i 24 mesi, sono esclusi.', 
                
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'I frigoriferi e le cantinette vino LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi accessori inclusi nella confezione (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Per questi elettrodomestici è prevista l’ assistenza gratuita a domicilio nel rispetto delle condizioni di garanzia. ', 
                'desc5': 'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.',
                'desc6':'Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ',        
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Asciugatrici',
                'prdname':'Modelli senza Motore Inverter e Pompa di Calore Dual Inverter',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'E’ prevista l’assistenza gratuita a domicilio.',
                
                'prdname2':'Modelli con Motore Inverter e Pompa di Calore Dual Inverter',
                'perioddue2' : 'Due (2) anni, incluse parti e manodopera',

                'conditionstatus2':'E’ prevista l’assistenza gratuita a domicilio.',
                'conditionbold':'Garanzia Motore Inverter e Pompa di Calore Dual Inverter:',
                'conditionstatus2a':'Sono previsti ',
                'conditionbold2':'ulteriori 8 anni di garanzia, ',
                'conditionstatus2b':'per i modelli con Motore Inverter e Pompa di Calore Dual Inverter.', 
                'conditionstatus2c':'La garanzia di 8 anni aggiuntivi, valida solo per Motore Inverter e Pompa di Calore Dual Inverter, si applica automaticamente alla garanzia convenzionale.I costi di manodopera e di uscita del tecnico, qualora l’intervento si verificasse oltre i 24 mesi, sono esclusi.', 
                
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'Le asciugatrici LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi accessori inclusi nella confezione (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Per questi elettrodomestici è prevista l’ assistenza gratuita a domicilio nel rispetto delle condizioni di garanzia.Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ', 
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Lavastoviglie',
                'prdname':'Modelli senza motore direct drive',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'E’ prevista l’assistenza gratuita a domicilio.',
                
                'prdname2':'Modelli con motore direct drive',
                'perioddue2' : 'Due (2) anni, incluse parti e manodopera',

                'conditionstatus2':'E’ prevista l’assistenza gratuita a domicilio.',
                'conditionbold':'Garanzia motore direct drive:',
                'conditionstatus2a':'Sono previsti ',
                'conditionbold2':'ulteriori 8 anni di garanzia, ',
                'conditionstatus2b':'per i modelli con motore Direct Drive.La garanzia di 8 anni aggiuntivi, valida solo per il motore direct drive, si applica automaticamente alla garanzia convenzionale.', 
                'conditionstatus2c':'I costi di manodopera e di uscita del tecnico, qualora l’intervento si verificasse oltre i 24 mesi, sono esclusi.', 
                
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'Le lavastoviglie LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi accessori inclusi nella confezione (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Per questi elettrodomestici è prevista l’ assistenza gratuita a domicilio nel rispetto delle condizioni di garanzia.Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ', 
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Aspirapolvere',
                'prdname':'Aspirapolvere CordZero',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'E’ prevista l’assistenza gratuita a domicilio. La batteria, è coperta per un periodo di 12 mesi.',
                
                'prdname2':'Hom-Bot',
                'perioddue2' : 'Due (2) anni, incluse parti e manodopera',

                'conditionstatus2':'La batteria, è coperta per un periodo di 12 mesi.',
              
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'Gli aspirapolvere CordZero e gli Hom-Bot LG hanno una garanzia di 24 mesi a partire dalla data di acquisto, compresi accessori inclusi nella confezione (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).',
                'desc2a':'La batteria, essendo soggetta ad usura e deperimento nel tempo, viene invece garantita per un periodo di 12 mesi.',
                'desc2b':'Per i soli',
                'bold': ' modelli CordZero',
                'desc3':'è prevista l’ assistenza gratuita a domicilio nel rispetto delle condizioni di garanzia.', 
                'desc4':'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura. Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ', 
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Microonde',
                'prdname':'Microonde',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',

                'conditionboldtype':'Garanzia magnetron:',
                'conditionstatus2atype':'Sono previsti ',
                'conditionbold2type':'ulteriori 8 anni di garanzia, ',
                'conditionstatus2btype':'per il magnetron.La garanzia di 8 anni aggiuntivi, valida solo per il magnetron, si applica automaticamente alla garanzia convenzionale.I costi di manodopera e di uscita del tecnico, qualora l’intervento si verificasse oltre i 24 mesi, sono esclusi.', 
              
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'Gli aspirapolvere CordZero e gli Hom-Bot LG hanno una garanzia di 24 mesi a partire dalla data di acquisto, compresi accessori inclusi nella confezione (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).',
                'desc2a':'La batteria, essendo soggetta ad usura e deperimento nel tempo, viene invece garantita per un periodo di 12 mesi.',
                'desc2b':'Per i soli',
                'bold': ' modelli CordZero',
                'desc3':'è prevista l’ assistenza gratuita a domicilio nel rispetto delle condizioni di garanzia.', 
                'desc4':'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura. Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ', 
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Styler',
                'prdname':'Styler',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
              
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'Gli styler LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi accessori inclusi nella confezione (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Per questi elettrodomestici è prevista l’ assistenza gratuita a domicilio nel rispetto delle condizioni di garanzia.', 
                'desc5':'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.',
                'desc6':'Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ',
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Monitor e informatica',
                'prdname':'Monitor, lettori ottici e masterizzatori per PC',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
              
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'I prodotti informatici LG (monitor, lettori ottici e masterizzatori per PC), hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi gli accessori (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.', 
                'desc5':'Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ',
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Notebook LG Gram',
                'prdname':'Notebook LG Gram',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'La batteria, è coperta per un periodo di 6 mesi.',
              
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'I notebook LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi gli accessori (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.', 
                'desc5':'Se vuoi, puoi cercare un centro di assistenza da questa pagina: ',
                'link':'clicca qui.',
            },
             {
                'prdTypes':'Condizionatori',
                'prdname':'Climatizzatori residenziali mono split (dal 2015 in poi)',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'Sono previsti ',
                'conditionbold3':'ulteriori 8 anni di garanzia',
                'conditionstatus1a':'sulla parte compressore.La garanzia di 8 anni aggiuntivi, valida solo per il compressore, si applica automaticamente alla garanzia convenzionale.I costi di manodopera e di uscita del tecnico, qualora l’intervento si verificasse oltre i 24 mesi, sono esclusi.',
               
                'prdnamespecial':'Climatizzatori residenziali multi split (dal 2017 in poi)',
                'periodduespecial' : 'Due (2) anni, incluse parti e manodopera',

                'conditionstatusspecial':'Sono previsti ',
                'conditionboldspecial':'ulteriori 8 anni di garanzia',
                'conditionstatusspecial1':'sulla parte compressore.La garanzia di 8 anni aggiuntivi, valida solo per il compressore, si applica automaticamente alla garanzia convenzionale.I costi di manodopera e di uscita del tecnico, qualora l’intervento si verificasse oltre i 24 mesi, sono esclusi.',

                'prdnamespecial2':'Pompe di calore aria-acqua THERMA V',
                'periodduespecial2' : 'Due (2) anni, incluse parti e manodopera, con primo avviamento effettuato da parte della rete di assistenza tecnica autorizzata LG',

                'conditionstatusspecial2':'Sono previsti ',
                'conditionboldspecial2':'ulteriori 8 anni di garanzia',
                'conditionstatusspecial2a':'sulla parte compressore.La garanzia di 3 anni aggiuntivi, valida solo per il compressore, si applica automaticamente alla garanzia convenzionale.I costi di manodopera e di uscita del tecnico, qualora l’intervento si verificasse oltre i 24 mesi, sono esclusi.',
              
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'I condizionatori LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi gli accessori (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.', 
                'desc5':'Se vuoi, puoi inviarci una richiesta di assistenza da questa pagina: ',
                'link':'clicca qui.',
            },
            {
                'prdTypes':'Smartphone e prodotti telefonia',
                'prdname':'Smartphone e telefonia',
                'perioddue' : 'Due (2) anni, incluse parti e manodopera',
                'conditionstatus':'La batteria, è coperta per un periodo di 6 mesi.',
              
                'desc' : 'Fare sempre riferimento a termini e condizioni riportati nel certificato di garanzia accluso al prodotto.',
                'desc2' : 'Gli smartphone, tablet e Smart Watch LG hanno una garanzia di',
                'bold': ' 24 mesi',
                'desc3':'a partire dalla data di acquisto, compresi gli accessori (non sono però coperte le parti soggette ad usura e i danni causati o accidentali).', 
                'desc4':'La batteria, essendo soggetta ad usura e deperimento nel tempo, viene invece garantita per un periodo di 6 mesi.', 
                'desc5':'Ricorda che per la garanzia fa fede la data del documento di acquisto originale, quale scontrino o fattura.',
                'desc6':'Se vuoi, puoi cercare un centro di assistenza da questa pagina: ',
                'link':'clicca qui.',
            },
        ]

    -
        const items2 = [
            {
                'prdTypes':'TVs2222222222222222222222222222',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'note' : false,
                'onlybeforNote':true,
                'beforeNoteText' : '5 year premium OLED panel warranty on LG Z1 and G Series OLED TVs – this extended warranty is applicable to the panel only. The consumer will be charged for labour after the 12 month product warranty has expired. No registration required. Available in the UK only. Click here to find out more.',
                'link': 'Click here',
                'note2' : ' to find out more.',
                'useImg': false,
                'moreBtn':true,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
            {
                'prdTypes':'Home Cinema Systems',
                'warranty':'Warranty period',
                'labour' : '12 months',
                'parts':'12 months',
                'useImg': false,
            },
        ]
    - 
        const itemsList = [
            {
                'title':'Período de Garantia',
                'list1':'Produto de garantia expirada',
            },
            {
                'title':'Instalação / Remoção',
                'list1':'A reinstalação ou pedidos como ligar o dispositivo externo ao mover o dispositivo de casa, instalar ou ligar após a compra do produto a partir da Internet ou compra em casa.'
            },
            {
                'title':'Produto de empresa diferente',
                'list1':'Produto defeituoso de outra empresa/dispositivo interligado exceto para o produto que o cliente solicitou.(Router, descondificador, consola jogos, cabo/distribuidor, bomba de drenagem, vidro temperado, computador montado, software de outra empresa, etc.)'
            },
            {
                'title':'Consumíveis',
                'list1':'No caso de a garantia da peça do consumível ter expirado/ciclo de vida ter terminado.(baterias, filtros, rampas, cabeças, tinteiros, tambores, cartuchos, etc.)',
                'list2':'No caso de o produto apresentar defeitos devido à utilização, a peça não é fornecida pela LG nem itens opcionais.'
            },
            {
                'title':'Desastres naturais',
                'list1':'No caso de o produto apresentar defeitos devido a desastres naturais (terramotos, tempestades, relâmpagos, tsunamis, etc.), incêndios, danos originados pelo mar ou vento, congelação, danos originados por gás.'
            },
            {
                'title':'Negligência do Cliente',
                'list1':'No caso de o produto apresentar defeitos por culpa do cliente (incluindo software)',
                'list2':'No caso de o produto apresentar defeitos devido à não utilização, ou má utilização, do manual de utilizador.',
                'list3':'No caso de o produto apresentar defeitos devido a uma manipulação ou alteração feita pelo cliente e não por um centro de serviço autorizado LG.',
                'list4':'No caso de o produto apresentar defeitos devido à negligência do cliente, sem qualquer confirmação prévia como um disjuntor avariado, tomada, extensão múltipla, erro de ligação, etc.',
                'list5':'No caso de o cliente solicitar o serviço devido a corte de água/gás, etc.',
                'list6':'No caso de o cliente solicitar o serviço devido a questões externas como problemas no serviço de Internet, na antena, no sinal de rede, etc.',
            },
            {
                'title':'Interventi da parte di personale non autorizzato o utilizzo professionale',
                'list1':'Nel caso di alterazione o di lavori di riparazione eseguiti da persona non autorizzata da LG Electronics, di manomissione o rimozione del numero di serie del prodotto, di rilavorazione o utilizzo professionale del prodotto, intendendosi per tale l’utilizzo da parte dell’utente nell’ambito della propria attività imprenditoriale, commerciale, artigianale o professionale.',
            },
            {
                'title':'Outros',
                'list1':'Quando se trata de um pedido do cliente mesmo que o produto não apresente quaisquer defeitos.(Será cobrado um valor ao cliente mesmo se o produto estiver na garantia). ex) Verifique se o produto apresenta condições normais ou anormais. Limpeza do filtro devido a bloqueio do filtro do produto, etc.',
                'desc':'※ ※ Poderá ser útil se o cliente consultar a página da LG para analisar o produto ou pesquisar na secção de resolução de problemas.'
            },
        ]
    - 
        const itemsList2 = [
            {
                'title':'Produto geral',
                'list1':'2 anos para equipamentos adquiridos até 31 de Dezembro de 2021',
                'list2':'3 anos para equipamentos adquiridos a partir de 1 Janeiro de 2022, de acordo com a Legislação em vigor',
                'descList':'Dispositivos móveis, TV, frigoríficos, máquinas de lavar, máquinas de secar, placas de cozedura, humidificadores, computadores, monitores, impressoras, etc.'
            },
            {
                'title':'Produto sazonal',
                'list1':'2 anos para equipamentos adquiridos até 31 de Dezembro de 2021',
                'list2':'3 anos para equipamentos adquiridos a partir de 1 Janeiro de 2022, de acordo com a Legislação em vigor',
                'desc':'Aparelhos de ar condicionado, ventoinhas, aquecedores, caldeiras, etc.',
                'descList':'Sistema de ar condicionado: Será aplicado um período de garantia de 1 ano caso o ar condicionado tenha sido instalado antes de Jun 2013'
            },
         
        ]
    - 
        const itemsList3 = [
            {
                'title':'10 anos (a partir da data de compra)',
                'list1':'Máquinas de lavar roupa: Motor DD',
                'list2':'Máquinas de lavar loiça: Motor DD',
                'list3':'Máquinas de secar roupa: Compressor Dual Inverter e Motor Inverter',
                'list4':'Frigorificos: Compressor (motor) Linear Inverter',
                'list5':'Combinados: Compressor (motor) Linear Inverter',
                'list6':'Side by Side: Combinados: Compressor (motor) Linear Inverter',
            },
            {
                'title':'20 anos (a partir da data de compra)',
                'list1':'Combinados Centum System: Compressor (motor) Linear Inverter',
            },
            {
                'title':'25 anos (a partir da data de compra)',
                'list1':'PV Solar Modules (paineis solares)',
            },
        ]
    - 
        const itemsList4 = [
            {
                'title':'Produto geral',
                'list1':'2 anos para equipamentos adquiridos até 31 de Dezembro de 2021',
                'list2':'3 anos para equipamentos adquiridos a partir de 1 Janeiro de 2022, de acordo com a Legislação em vigor',
                'descList':'Dispositivos móveis, TV, frigoríficos, máquinas de lavar, máquinas de secar, placas de cozedura, humidificadores, computadores, monitores, impressoras, etc.'
            },
        ]
    

    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - PT

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-PT
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Garantia
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Aqui informamo-lo sobre a garantia da LG.
                                br
                                | A LG Electronics assegura um serviço de reparação gratuito dentro do período de garantia através dos seus Centros de Serviço Autorizados. Cada produto LG apresenta um conjunto de condições de garantia, pelo que deverá consultar as informações dispostas abaixo.
                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            input#tab3(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 Orientações para o Preço de Reparação SVC 
                                            //- br.c-hidden-mo
                                            //- | REPARAÇÃO SVC
                                    .tab2.swiper-slide.on
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 Orientações para o Período de Garantia
                                            //- br.c-hidden-mo
                                            //- | GARANTIA
                                    .tab3.swiper-slide
                                        label(for='tab3').c-tab__title.font-w-normal-20.font-m-normal-16 Plano de Serviço Alargado
                                            //- br.c-hidden-mo
                                            //- | ALARGADO

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Stampa", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Orientações para o Preço de Reparação SVC
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Norma estimada para Cobrança SVC
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span O preço SVC será cobrado ao consumidor com base no "Framework Act on Consumers" decidido pelo governo. O Preço SVC é composto pelo preço das peças e pelo preço da reparações, conforme abaixo. (se o cliente solicitar serviço de visita, as despesas de deslocação serão acrescentadas ao preço SVC.). 
                                                
                                                .c-parts 
                                                    .c-parts--inner 
                                                        .c-parts__picto
                                                            .c-picto__contents 
                                                                .c-picto.c-picto-1 
                                                                span.font-m-normal-14 Preço de peças
                                                            .c-signmark.c-plus
                                                            .c-picto__contents
                                                                .c-picto.c-picto-2 
                                                                span.font-m-normal-14 Preço de peças
                                                            .c-signmark.c-equal
                                                            .c-picto__contents
                                                                .c-picto.c-picto-3 
                                                                span.font-m-normal-14 Preço SVC
                                                        .c-parts__list.cs-warrantylist__dot
                                                            ol 
                                                                li.font-m-semibold-16.font-w-normal-20 Preço de peças
                                                                    div.font-m-normal-14.font-w-normal-16 O preço de peças significa o preço da peça utilizada durante a reparação do produto.
                                                                li.font-m-semibold-16.font-w-normal-20 Preço de reparação
                                                                    div.font-m-normal-14.font-w-normal-16 O preço de reparação significa o valor de engenharia de acordo com o nível de reparação.
                                                                li.font-m-semibold-16.font-w-normal-20 Despesas de deslocação
                                                                    div.font-m-normal-14.font-w-normal-16 Este valor é aplicado ao caso quando o cliente solicita o serviço de visita para o produto fora de garantia, independentemente da reparação do produto.
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Serviço Em Garantia
                                                        .text.c-text-contents__bodycopy.cs-warrantylist__dot
                                                            ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                                li O defeito ou falha ocorridos ao utilizar o produto em condições normais dentro do período de garantia.
                                                                li Sobre defeitos ou falhas, consulte abaixo.
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                                span.cs-bold Nota 
                                                                | Caso de reparação Em Garantia/Fora de Garantia dentro do período de garantia (consoante data de reparação)
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Serviço Fora de garantia
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Para o serviço fora de garantia, consulte a informação abaixo.
                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 Itens previstos como Serviço Fora de Garantia
                                                    ul.c-product-list
                                                        each items in itemsList
                                                            li.c-content_box
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                if items.subtitle
                                                                    div.font-m-normal-14.font-w-normal-16 #{items.subtitle}
                                                                else 
                                                                    ul.cs-warrantylist__hypen 
                                                                        li.font-m-normal-14.font-w-normal-16 #{items.list1}
                                                                        if items.list2  
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list2}
                                                                        if items.list3
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list3}
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list4}
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list5}
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list6}
                                                                        if items.desc 
                                                                            li.font-m-normal-14.font-w-normal-16.c-desc #{items.desc}
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h3.font-w-normal-32.font-m-normal-20 Instalação normal para produtos grandes
                                                        .text.c-text-contents__bodycopy.cs-warrantylist__dot
                                                            ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") 
                                                                li Será cobrado ao cliente o valor de instalação para produtos grandes ou especiais, independentemente do período de garantia do produto. (Produto normal/instalação de ar condicionado)
                                                                li O valor de instalação do ar condicionado é diferente consoante a dimensão do produto (capacidade), o local de instalação e o preço de peças adicionadas.
                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Stampa", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Orientações para o Período de Garantia
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Norma estimada para período de garantia
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span A LG Electronics cumpre a garantia do produto de acordo com a regra de compensação de danos do consumidor.
                                                
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Norma estimada para o produto
                                                        .text.c-text-contents__bodycopy
                                                            ul.cmp-text.cs-warrantylist__hypen.font-m-normal-12.font-w-normal-20(data-cmp-data-layer="")
                                                                li A garantia do produto significa que o produto ou o vendedor prometem a garantia de reparação gratuita ao cliente em caso de problemas de qualidade, desempenho e funcionamento ao usar o produto normalmente.
                                                                li O período de garantia do produto é estimado com base na data de compra e a confirmação da data de compra é calculada através do documento comprovativo de compra do produto.
                                                                li O período de garantia não se aplica quando o cliente compra o item usado (imitação, compra em loja eletrónica) e se for impossível de reparar, a LG Electronics não se responsabiliza pela compensação dos danos ou perdas.
                                                                li A garantia será cumprida com base no contrato caso o produto seja fornecido através de um contrato especial.

                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 Itens previstos como Serviço Fora de Garantia
                                                    ul.c-product-list
                                                        each items in itemsList2
                                                            li.c-content_box
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                div
                                                                    span.font-m-normal-14 Período de Garantia
                                                                    ul.cs-warrantylist__hypen 
                                                                        li.font-m-normal-14.font-w-normal-16 #{items.list1}
                                                                        li.font-m-normal-14.font-w-normal-16 #{items.list2}
                                                                div 
                                                                    span.font-m-normal-14 Detalhes
                                                                    div.font-m-normal-14 #{items.desc}
                                                                        if items.descList 
                                                                            ul.cs-warrantylist__hypen 
                                                                                li.font-m-normal-14.font-w-normal-16 #{items.descList}

                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Norma Estimada para Período de Garantia
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span A LG Electronics cumpre a garantia do produto de acordo com a regra de compensação de danos do consumidor.
                                                
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Período de garantia de peças
                                                        .text.c-text-contents__bodycopy
                                                            ul.cmp-text.cs-warrantylist__hypen.font-m-normal-12.font-w-normal-20(data-cmp-data-layer="")
                                                                li O período de garantia de peças assegura a qualidade garantida para as peças que compõem o produto. Para mais informações sobre o período de garantia, consulte abaixo.
                                                                li Período de garantia para peças gerais - Basicamente, a regra deverá ser a mesma do período de garantia do produto.(Se a peça for selecionada pelo item principal, será aplicada com base em critérios especiais)

                                                .c-product-list__wrap
                                                    ul.c-product-list
                                                        each items in itemsList3
                                                            li.c-content_box
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                div
                                                                    ul.cs-warrantylist__hypen 
                                                                        li.font-m-normal-14.font-w-normal-16 #{items.list1}
                                                                        if items.list2
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list2}
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list3}
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list4}
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list5}
                                                                            li.font-m-normal-14.font-w-normal-16 #{items.list6}
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer="") 
                                                                span.cs-bold Nota 
                                                                | Este período de garantia é baseado na resolução de disputa do consumidor notificado pela FTC (Fair Trade Commission)
                                                            ul.cmp-text.cs-warrantylist__hypen.font-m-normal-12.font-w-normal-20(data-cmp-data-layer="")
                                                                li Não é o caso do módulo LCD para notebook.
                                                                li Reparação/ajuste simples em partes principais têm o mesmo período de garantia do produto geral.
                                .tab3
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Stampa", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            h2.font-w-light-56.font-m-light-28 Plano de Serviço Alargado
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Norma estimada para período de garantia
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                span A LG Electronics cumpre a garantia do produto de acordo com a regra de compensação de danos do consumidor.
                                                
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__bodycopy
                                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                span Norma estimada para o produto
                                                        .text.c-text-contents__bodycopy
                                                            ul.cmp-text.cs-warrantylist__hypen.font-m-normal-12.font-w-normal-20(data-cmp-data-layer="")
                                                                li A garantia do produto significa que o produto ou o vendedor prometem a garantia de reparação gratuita ao cliente em caso de problemas de qualidade, desempenho e funcionamento ao usar o produto normalmente.
                                                                li O período de garantia do produto é estimado com base na data de compra e a confirmação da data de compra é calculada através do documento de garantia do produto. Se o cliente não tiver o documento de garantia, serão calculados 3 meses após a data de produção.
                                                                li O período de garantia não se aplica quando o cliente compra o item usado (imitação, compra em loja eletrónica) e se for impossível de reparar, a LG Electronics não se responsabiliza pela compensação dos danos ou perdas.
                                                                li A garantia será cumprida com base no contrato caso o produto seja fornecido através de um contrato especial.

                                                .c-product-list__wrap
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                h3.font-w-normal-32.font-m-normal-20 Período de garantia de acordo com o produto
                                                    ul.c-product-list
                                                        each items in itemsList4
                                                            li.c-content_box
                                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                                div
                                                                    span.font-m-normal-14 Período de Garantia
                                                                    ul.cs-warrantylist__hypen 
                                                                        li.font-m-normal-14.font-w-normal-16 #{items.list1}
                                                                        li.font-m-normal-14.font-w-normal-16 #{items.list2}
                                                                div 
                                                                    span.font-m-normal-14 Detalhes
                                                                    div.font-m-normal-14 #{items.desc}
                                                                        if items.descList 
                                                                            ul.cs-warrantylist__hypen 
                                                                                li.font-m-normal-14.font-w-normal-16 #{items.descList}