extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0078"
    // - var CS0078countryountry = "CS0078-MX"
    - var ST0001 = "ST0001"

    - var componentName = "CS Warranty Consumer"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // link(rel="stylesheet", href=CS0078country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")


block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")


block content
    -
        const itemsIT = [
            {
                'prdTypes':'Air conditioners',
                'listTit':'Standard warranty*',
                'list1':'Single Wall Mounted: 5 years Parts, 10 years Compressor (parts only)',
                'list2':'Single Zone AHUs/Cassettes/Console and Multi splits: 5 year parts, 7 year compressor (parts only)',
                'listTit2':'Limited Registered Warranty*',
                'list3':'10 years parts, 10 years Compressor**',
                'listDesc1':'*Installed pursuant to LG’s published instructions.',
                'listDesc2':'**To enjoy the benefit of 10 year parts and compressor warranty, please register your product at LG.ca',
            },
          
            {
                'prdTypes':'Refrigerators',
                'normal':true,
                'list1':'LG brand: 1 year parts & labour | LG studio: 2 years parts & labour',
                'list2':'7 year Sealed System (parts only)*',
                'list3':'10 years Compressor (parts only)*',
                'listDesc':'*depending on model, some conditions may apply.'
            },
            {
                'prdTypes':'Microwave ovens (Over-the-Range)',
                'normal':true,
                'list1':'1 year parts & labour',
                'list2':'5 years on the magnetron (parts only)',
                'list3':'10 years on inverter magnetron (parts only)',
            },
          
            {
                'prdTypes':'Dishwashers',
                'normal':true,
                'list1':'For models manufactured before May 1, 2022:',
                'list2':'1 yr (parts & labour): LG brand | 2 yrs (parts & labour): LG studio',
                'list3':'5 yrs for main PCB, rack, SS door liner, tub (parts only)',
                'list4':'10 yrs for Direct Drive motor (part only). See manual for details.',
                'list5':'For models manufactured after May 1, 2022:',
                'list6':'1 yr (parts & labour): LG brand | 2 yrs (parts & labour): LG studio',
                'list7':'2 yrs for main PCB, rack, SS door liner, tub (parts only): LG brand',
                'list8':'5 yrs for main PCB, rack, SS door liner, tub (parts only): LG studio',
                'list9':'10 yrs for Direct Drive motor (part only). See manual for details.',
            },
           
            {
                'prdTypes':'OLED TV/LCD TV',
                'info':'1 year parts & labour',
            },
           
        ]
   
    - 
        const itemsAT = [
            {
                'title':'Periodo di garanzia',
                'subtitle':'Prodotto con garanzia scaduta',
            },
            {
                'title':'Installazione/Rimozione',
                'subtitle':'Installazioni o richieste di connessioni a dispositivi esterni, installazioni o connessioni a seguito di acquisto del prodotto'
            },
            {
                'title':'Prodotto di altro marchio',
                'subtitle':'Prodotto difettoso di altri marchi/eventuali dispositivi esterni collegati al prodotto per cui si richiede assistenza (Router, decoder, console di gioco, cablaggi, connessioni a reti domestiche e tutto ciò che non è strettamente correlato al prodotto acquistato)'
            },
            {
                'title':'Parti soggette ad usura',
                'list1':'Nel caso in cui la garanzia estesa della parte sia scaduta/ciclo di durata terminato (Batteria, filtri, guarnizioni , parti estetiche e così via )',
                'list2':'Nel caso in cui il guasto sia dovuto all’utilizzo di parti non originali e non fornite da LG'
            },
            {
                'title':'Calamità naturali',
                'subtitle':'Nel caso in cui il guasto sia dovuto a calamità naturali (terremoto, temporale, corto circuito, maremoto, incendio, danno casusato da vento, grandine, congelamento e così via).'
            },
            {
                'title':'Incuria',
                'list1':'Nel caso in cui il prodotto non funzioni per danno causato (incluso danno al software)',
                'list2':'Nel caso in cui il guasto del prodotto sia imputabile al cattivo utilizzo e non sia in linea con quanto riportato e dichiarato nel manuale d’uso.',
                'list3':'Nel caso in cui il guasto del prodotto sia imputabile ad un’operazione di “rooting” effettuata impropriamente dal cliente.',
                'list4':'Nel caso in cui il guasto sia causato da incuria senza alcuna possibilità di previsione, come guasti derivanti da corto circuiti, prese elettriche, errate connessioni, collegamenti e così via.',
                'list5':'Nel caso in cui il cliente richieda assistenza, ove si verifichi mancata fornitura dell’acqua, interruzione dell’acqua / gas e così via.',
                'list6':'Nel caso in cui il cliente richieda assistenza in presenza di cause esterne come guasto del servizio internet, del segnale di antenna, di linea e così via',
            },
            {
                'title':'Interventi da parte di personale non autorizzato o utilizzo professionale',
                'list1':'Nel caso di alterazione o di lavori di riparazione eseguiti da persona non autorizzata da LG Electronics, di manomissione o rimozione del numero di serie del prodotto, di rilavorazione o utilizzo professionale del prodotto, intendendosi per tale l’utilizzo da parte dell’utente nell’ambito della propria attività imprenditoriale, commerciale, artigianale o professionale.',
            },
            {
                'title':'Varie',
                'list1':'Laddove il cliente richieda un’assistenza anche se il prodotto non presenti alcun difetto (L’uscita sarà addebitata al cliente nonostante il prodotto sia in garanzia) ex) Verifica di una corretta installazione Pulizia e manutenzione preventiva ( filtri/guarnizioni e così via)',
                'desc':'※ Prima di rivolgersi al Servizio Assistenza si consiglia di consultare, nella pagina web di supporto, guide e tutorial a soluzione di eventuali anomalìe'
            },
        ]
    -
        const faqList = [
            {
                'headline':'Televisiones',
                'title':'TV',
                'start':true,
                //- 'prdTit':'Produto',
                'prd':'Televisor LCD/LED/OLED',
                'month':'1 año',
                'accTit':'Accesorio',
                'acc1':'Controle remoto',
                'total1':'3 meses',
                'acc2':'Controle remoto (adquirido separadamente)',
                'total2':'3 meses',
            },
            {
                'headline': 'Audio y Video',
                'title':'Audio y Video',
                'start':true,
                'prdTit2':true,
                'prdTit':'Produto',
                'prd':'Sound Bar',
                'month':'1 año',
                'prd2':'Micro Componente',
                'month2':'1 año',
                'prd3':'Mini Componente',
                'month3':'1 año',
                'prd4':'DVD / Blu-ray',
                'month4':'1 año',
                'prd5':'Home theaters',
                'month5':'1 año',
                'prd6':'Bluetooth Speakers',
                'month6':'1 año',
            },
            {
                'headline': 'Eletrodomésticos',
                'start':true,
                //- 'prdTit2':true,
                'sub':true,
                //- 'elec':true,
                //- 'title':'Lavadoras y Secadoras',
                //- 'prdq':'Lavadora',
                //- 'monthq':'10 Años en motor DD',
                //- 'monthaq':'1 Año en el resto de sus partes',
                //- 'monthbq':'* Mano de obra incluida sólo en el primer año',             
                //- 'prd2q':'Secadora',
                //- 'month2q':'10 Años en motor DD',
                //- 'monthcq':'1 Año en el resto de sus partes',
                //- 'monthdq':'* Mano de obra incluida sólo en el primer año',
                
                'title1':'Lavadoras y Secadoras',
                'prd0':'Lavadora',
                'month0':'10 Años en motor DD',
                'monthz':'1 Año en el resto de sus partes',
                'monthy':'* Mano de obra incluida sólo en el primer año',             
                'prd00':'Secadora',
                'month00':'10 Años en motor DD',
                'monthzz':'1 Año en el resto de sus partes',
                'monthyy':'* Mano de obra incluida sólo en el primer año',

                'title2':'Refrigeradores',
                'prd3':'Refrigerador',
                'month3':'10 Años en compresor lineal',
                'monthe':'1 Año en el resto de sus partes',
                'monthf':'* Mano de obra incluida sólo en el primer año',

                'title3':'Styler',
                'prd4':'Styler',
                'month4':'10 Años en compresor Inverter',
                'monthg':'1 Año en el resto de sus partes',
                'monthh':'* Mano de obra incluida sólo en el primer año',
                
                'title4':'Microondas',
                'prd5':'Microondas',
                'month5':'1 Año en todas sus partes',
                'monthi':'10 Años en magnetron inverter',
                'monthj':'* Mano de obra incluida sólo en el primer año',

                'title5':'Aspiradora',
                'prd6':'Aspiradora',
                'month6':'1 año',

                'title6':'Aire Acondicionado Residencial',
                'prd7':'Aire Acondicionado',
                'month7':'10 Años compresor Inverter',
                'monthk':'5 Años en otros compresores',
                'monthl':'1 Año en el resto de sus partes',
                'monthm':'* Mano de obra incluida sólo en el primer año',

                'prd8a':'Controle remoto',
                'month8a':'3 meses',

                'title7':'Estufas',
                'prd9':'Estufa',
                'month9':'1 Año en todas sus partes',

                'title8':'Campana Estractora',
                'prd10':'Campana',
                'month10':'1 Año en todas sus partes',

                'title9':'Lavavajillas',
                'prd11':'Lavavajilla',
                'month11':'10 Años en motor DD',
                'monthn':'1 Año en el resto de sus partes',

                'title10':'Purificador de aire',
                'prd12':'Purificador',
                'month12':'10 Años compresor Inverter',
                'montho':'1 Año en el resto de sus partes',

                'title11':'Deshumificador',
                'prd13':'Deshumificador',
                'month13':'1 Año en todas sus parte',
            },
            {
                'headline': 'Computación',
                'prdTit2':true,
                'start':true,

                'prdTit':'Produto',

                'title':'Computación',
                'prd':'Ultrabook',
                'month':'1 año',

                'prd2':'Monitor',
                'month2':'1 año',

                'prd3':'All-in-one',
                'month3':'1 año',

                'prd4':'Lector óptico',
                'month4':'1 año',
                
                'prd5':'Auriculares Inalámbricos',
                'month5':'1 año',

                'prd6':'Projetor',
                'month6':'6 meses en Batería, 1 Años (no incluye lampara led)',

                'acc3':'Cable de alimentación / Batería (portatil)',
                'total3':'1 año',
                'acc4':'Lampara de proyector',
                'total4':'3 meses',
                'acc5':'Batería (Projetor)',
                'total5':'6 meses',
                'acc6':'Controle remoto',
                'total6':'3 meses',
                
            },
         
        ]
    -
        const accordBodyList = [
            {
                'text1':'Our authorized vendors promise to repair purchasers of LG-brand products free of charge when such products have been used under normal conditions and if such products are defective in terms of quality, performance, or function. The period during which such a warranty will be in place will be calculated based on the product’s purchase date. The purchase date is determined using:',
                'text2':'I. The product’s original proof-or-purchase document issued by the authorized seller',
                'text3':'II. The product warranty card the consumer received upon purchasing the product.',
                'text4':'This warranty is only applicable to products purchased from our authorized sellers listed in the chart below.',
                'text5':'For this warranty to apply, the person who brings the product to be serviced must be the person who originally purchased the product from the authorized seller.',
                'text6':'The repairs must be conducted by:',
                'text7':'I. A service center that is authorized by us.',
                'text8':'II. Our authorized seller’s service center (either is a “Servicer”).',
                'text9':'The purchaser must present the Servicer with the original proof-of-purchase document and original product warranty card. If the consumer does not provide the original proof-of-purchase document or the original product warranty card, this warranty will not apply and the Servicer will have the right to decline to serve the product. The product’s original LG model and serial tag must be on the product and visible, as the Servicer will take a photo of the Serial Tag for record purposes. Unfortunately, this warranty cannot apply to products with defaced or missing serial tags. This warranty does not apply to products that have been refurbished or second-hand purchased products.',
                'text10':'No accessories should be sent with the unit otherwise, the service center will not be responsible for any loss or damage to such accessories.',
            },
            {
                'list':true,
                'list1':'aaaaaa',
            }
         
        ]
    
    - 
        const itemsList = [
            {
                'title':'Período de garantía',
                'listtype':true,
                'listText1':'Período de garantía (tiempo) vencido.',
                'listText2':'Defectos o mal funcionamiento no reportados al Servicio al Cliente de LG durante el período de garantía.',
            },
            {
                'title':'Instalación / Remoción',
                'listtype':true,
                'listText1':'Orientación sobre cómo conectar / instalar un producto, reinstalar o quitar un producto de donde está instalado.',
                'listText2':'Daños causados ​​por una instalación incorrecta, fuera de especificación, uso de material inapropiado, especialmente para aires acondicionados.',
                'listText3':'Instalaciones, mudanzas para mantenimiento o reinstalación a menos que se especifique en el Plazo de garantía del producto.',
            },
            {
                'title':'Productos de otros fabricantes',
                'listtype':true,
                'listText1':'Productos defectuosos de otros fabricantes, tales como: videojuegos, enrutadores, PC y software de otras marcas.',
            },
            {
                'title':'Desastre natural',
                'listtype':true,
                'listText1':'Daños causados ​​por agentes de la naturaleza. (lluvia, sol, rayos, inundaciones, aire salado, etc.)',
            },
            {
                'title':'Descuidado',
                'listtype':true,
                'listText1':'Defectos o daños causados ​​por el uso incorrecto del producto.',
                'listText2':'Defectos o daños derivados del uso anormal, condiciones anormales, uso inadecuado, exposición a la humedad, modificaciones no autorizadas, conexiones no autorizadas, reparaciones no autorizadas, mal uso, negligencia, abuso, accidente, alteración, instalación incorrecta u otros actos no causados ​​por LG Electronics, incluidos los daños causados ​​por el envío, alimentos o líquidos derramados en el dispositivo.',
                'listText3':'Rotura o daño de la antena.',
                'listText4':'Productos con números de pieza eliminados o dañados, haciéndolos ilegibles.',
                'listText5':'Todas las superficies de plástico y todas las demás partes expuestas están rayadas o dañadas externamente debido al uso incorrecto por parte del usuario.',
                'listText6':'Productos operados fuera de los índices máximos reportados.',
                'listText7':'Daño causado por la aplicación de software, virus, malware y sistemas operativos no originales no compatibles.',
            },
            {
                'title':'Etc.',
                'listtype':true,
                'listText1':'Visitas o análisis a pedido del cliente sin que el producto tenga un defecto, como solicitudes de limpieza o mantenimiento, por ejemplo.',
                'listText2':'Productos alquilados mensualmente.',
            },

        ]
    
    mixin pack(faq, useImg, controlsId)
        .c-accordion__box.js-accordion-handle-target
            .c-accordion__head
                // SUPPORT FAQ EYEBROW ADDED
                span.c-accordion__head-flag.font-m-normal-14.font-w-normal-14 #{faq.eyebrow}
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-w-normal-24.font-m-normal-16(aria-hidden="true") Q.
                    .text.c-text-contents__headline
                        .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                            strong #{faq.headline} 
                +trigger(controlsId)
            .c-accordion__body(id=`${controlsId}`)
                +contentsBody(faq)

    mixin trigger(controlsId)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded="false" aria-controls=`${controlsId}` aria-label="")
                span.c-accordion__button-text.expand.sr-only Expand
                span.c-accordion__button-text.collapse.sr-only Collapse

    mixin contentsBody(faq)
        .c-text-contents.c-accordion__body-text.c-flex
            span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-semibold(aria-hidden="true") A.
            .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16
                ul.c-product-list 
                    li.c-content_box 
                        if faq.start
                            div 
                                div 
                                    p.font-m-normal-16.font-w-normal-24 #{faq.title}
                                    
                                    div.cs-grid__wrap
                                        if faq.prd 
                                            ul.aaa 
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Produto
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.prd}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.month}
                                                    if faq.montha
                                                        span.font-m-normal-14.font-w-normal-16 #{faq.montha}
                                                        span.font-m-normal-14.font-w-normal-16 #{faq.monthb}
                                        if faq.acc1
                                            ul
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Accesorio
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.acc1}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.total2}
                                            ul
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Accesorio
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.acc2}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.total2}
                                        if faq.prd2q 
                                            ul.prd2q
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Produto
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.prd2q}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.month2q}
                                                    if faq.monthc
                                                        span.font-m-normal-14.font-w-normal-16 #{faq.monthcq}
                                                        span.font-m-normal-14.font-w-normal-16 #{faq.monthdq}
                                        if faq.prdTit2 
                                            ul
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Produto
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.prd2}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.month2}
                                                    if faq.monthc
                                                        span.font-m-normal-14.font-w-normal-16 #{faq.monthc}
                                                        span.font-m-normal-14.font-w-normal-16 #{faq.monthd}
                                            ul 
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Produto
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.prd3}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.month3}
                                            ul 
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Produto
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.prd4}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.month4}
                                            ul 
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Produto
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.prd5}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.month5}
                                            ul 
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Produto
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.prd6}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.month6}
                                                
                                        if faq.title1 
                                            div.cs-sublist__wrap 
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title1}
                                                div 
                                                    ul 
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd0}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month0}
                                                            if faq.monthz
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthz}
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthy}
                                                    ul 
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd00}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month00}
                                                            if faq.monthzz
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthzz}
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthyy}
                                        
                                        if faq.title2 
                                            div.cs-sublist__wrap 
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title2}
                                                div 
                                                    ul 
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd3}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month3}
                                                            if faq.monthe
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthe}
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthf}
                                        if faq.title3
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title3}
                                                div 
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd4}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month4}
                                                            if faq.monthg
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthg}
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthh}
                                        if faq.title4
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title4}     
                                                div    
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd5}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month5}
                                                            if faq.monthi
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthi}
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthj}
                                        if faq.title5
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title5}     
                                                div 
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd6}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month6}
                                        if faq.title6
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title6}
                                                div 
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd7}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month7} 
                                                            if faq.monthk
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthk}
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthl}   
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthm}  
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd8a}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month8a} 
                                                            if faq.monthk
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthk}
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthl}   
                                                                span.font-m-normal-14.font-w-normal-16 #{faq.monthm}  
                                        if faq.prd8 
                                            ul
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Produto
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.prd8}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.month8}
                                        
                                        if faq.title7
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title7}
                                                div 
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd9}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month9} 
                                                        
                                        if faq.title8
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title8}
                                                div 
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd10}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month10} 
                                                        
                                        if faq.title9
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title9}
                                                div 
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd11}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month11} 
                                                        
                                        if faq.title10
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title10}
                                                div 
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd12}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month12} 
                                        if faq.title11
                                            div.cs-sublist__wrap
                                                p.font-m-normal-16.font-w-normal-24 #{faq.title11}
                                                div 
                                                    ul
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Produto
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.prd13}
                                                        li 
                                                            strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                            span.font-m-normal-14.font-w-normal-16 #{faq.month13} 
                        
                                        if faq.acc3
                                            ul
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Accesorio
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.acc3}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.total3}
                                            ul
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Accesorio
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.acc4}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.total4}
                                            ul
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Accesorio
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.acc5}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.total5}
                                            ul
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Accesorio
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.acc6}
                                                li 
                                                    strong.font-m-normal-14.font-w-normal-14 Tiempo de garantía total
                                                    span.font-m-normal-14.font-w-normal-16 #{faq.total6}
                
    .guide-text-type CS Warranty Consumer
    .guide-text-option Standard warranty - MX

    // Component Markup
    .c-wrapper.CS0078
        .component.CS0078-MX 
            #container.CS0078__container.first-container
                // CONTENT
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Garantía
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Le ofrecemos información sobre las políticas de garantía de LG aquí.
                                br
                                | Esta garantía limitada es aplicable solamente a productos de la marca LG comercializados por 
                                span.cs-bold LG Electronics México, S.A. de C.V. y 
                                | por sus distribuidores nacionales autorizados. 
                                span.cs-bold LG Electronics México, S.A. de C.V. 
                                | garantiza el funcionamiento de sus equipos, además de la mano de obra empleada en la reparación de los mismos, por el periodo comprendido de acuerdo a tabla anexa, contra cualquier defecto de fabricación a partir de la fecha de entrega del producto, bajo las siguientes
                            .button 
                                +linkButton({type:"text", icon:true, size:'medium', name:'Preguntas frecuentes', href:'#'})(target="_blank")

                section.c-cs-warranty.c-warranty__wrap
                    .contents-area
                        .cs-tab
                            input#tab1(checked='checked' type='radio' name='pct')
                            input#tab2(type='radio' name='pct')
                            .tabs.swiper-container.csSwiper.csSwiper1.swiper
                                .tabs__items.swiper-wrapper
                                    .tab1.swiper-slide
                                        label(for='tab1' checked='checked').c-tab__title.font-w-normal-20.font-m-normal-16 PERIODOS DE GARANTÍA
                                    .tab2.swiper-slide
                                        label(for='tab2').c-tab__title.font-w-normal-20.font-m-normal-16 PRODUCTOS FUERA DE GARANTÍA

                            section.c-first-section
                                .tab1
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                #container.container.second-container
                                                    .button.c-print-area
                                                        +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Imprimir", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")

                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .title.c-text-contents__headline
                                                                +headline('font-w-light-56 font-m-light-28',h2,'Guía Política de Garantía')
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.cs-flex.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                    span Periodo de Garantía
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    span El servicio de garantía solo podrá ser efectuado por nuestros Centros de Servicio Autorizado, siempre y cuando los productos LG hayan sido comercializados por 
                                                                    span.cs-bold LG Electronics México, S.A. de C.V., 
                                                                    | así como sus distribuidores autorizados dentro de la República Mexicana..

                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.cs-flex.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                    span Centros de Servicio Autorizados
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                                    | La dirección del Centro de Servicio Autorizado más cercano a usted puede ser consultada en la siguiente dirección de Internet: 
                                                                    a(href="http://www.lg.com/mx/soporte/encuentre-distribuidor-autorizado" target="_blank") http://www.lg.com/mx/soporte/encuentre-distribuidor-autorizado 
                                                                    | o llamando a los siguientes teléfonos: desde la Ciudad de México y su área metropolitana 55 5321 1919 o desde el resto de la republica 800 347 1919.
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                    span Condiciones
                                                            .text.c-text-contents__bodycopy
                                                                ul.cmp-text.cs-warrantylist__hypen.font-m-normal-12.font-w-normal-20(data-cmp-data-layer="")
                                                                    li La dirección del Centro de Servicio Autorizado más cercano a usted puede ser consultada en la siguiente dirección de Internet: 
                                                                        a(href="http://www.lg.com/mx" target="_blank") http://www.lg.com/mx 
                                                                        | o llamando a los siguientes teléfonos: desde la Ciudad de México y su área metropolitana 55 5321 1919 o desde el resto de la republica 800 347 1919.
                                                                    li Para hacer efectiva la garantía se deberá presentar el producto y la póliza debidamente llenada y sellada con fecha de entrega por el establecimiento donde se realizó la compra o el comprobante de compra (factura) del producto en cualquiera de nuestros Centros de Servicio Autorizados en la República Mexicana en los cuales se podrán adquirir de igual forma, las partes, componentes y/o accesorios de este producto.
                                                                    li Durante la vigencia de esta garantía, 
                                                                        span.cs-bold LG Electronics México, S.A. de C.V. 
                                                                        | se compromete a reparar o en su defecto cambiar el producto por otro igual o de características similares, cuando el producto presente falla imputable a la fabricación del mismo, así como las piezas y componentes que se llegarán a requerir sin ningún cargo para el consumidor, y cubrir los gastos necesarios erogados que se deriven de la transportación del producto una vez que este ha sido entregado a la red de Centros de Servicio Autorizado.
                                                                    li Las refacciones y partes utilizadas para la reparación del aparato no tendrán ningún costo para el cliente, siempre y cuando el período de garantía estipulado en la presente póliza no se haya terminado.
                                                                    li El tiempo de reparación del producto en ningún caso será mayor de 30 días hábiles contados a partir de la fecha de recepción en cualquiera de nuestros Centros de Servicio Autorizados.
                                                                    li Esta garantía no incluye la instalación y el mantenimiento del equipo.
                                                                    li Esta garantía no cubre daños o reparaciones necesarias como consecuencia de fallas en la instalación del equipo.
                                                    .c-cs-header
                                                        // block : text-contents
                                                        .c-text-contents
                                                            .text.c-text-contents__bodycopy
                                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                    span No es válida en los siguientes casos
                                                            .text.c-text-contents__bodycopy
                                                                ul.cmp-text.cs-warrantylist__hypen.font-m-normal-12.font-w-normal-20(data-cmp-data-layer="")
                                                                    li Cuando el producto se hubiese utilizado en condiciones distintas a las normales.
                                                                    li Cuando el producto no hubiese sido operado de acuerdo con el instructivo de uso que se le acompaña.
                                                                    li Cuando el equipo ha sido alterado, reparado o instalado por personal no autorizado por LG Electronics México, S.A. de C.V
                                                    .type-accordion.type-accordion__offEye
                                                        .c-cs-header
                                                            // block : text-contents
                                                            .c-text-contents
                                                                .text.c-text-contents__bodycopy
                                                                    .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                                        span Tiempo de garantía total por produto/accesorios
                                                        .c-accordion.js-accordion
                                                            each faq, index in faqList
                                                                - var controlsId = `faq-set-0${index}`; 
                                                                +pack(faq, faq.useImg, controlsId)            
                                
                                .tab2
                                    .fullWidth
                                        .sectCont
                                            .cs-warrantyTxt.cs-warrantyTxtWrap
                                                .button.c-print-area
                                                    +iconButton({type:"link",comment:false,color:"black",class:"Imprimir",name:"Imprimir", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0078.css" role="print")
                                                ul.c-product-list
                                                    each items in itemsList
                                                        li.c-content_box
                                                            p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                            div.font-m-normal-14.font-w-normal-16 #{items.subtitle}
                                                                if items.listtype
                                                                    ul 
                                                                        li #{items.listText1}
                                                                        if items.listText2
                                                                            li #{items.listText2}
                                                                        if items.listText3
                                                                            li #{items.listText3}
                                                                        if items.listText4
                                                                            li #{items.listText4}
                                                                            li #{items.listText5}
                                                                            li #{items.listText6}
                                                                            li #{items.listText7}
                                                                    if items.subtitle2 
                                                                        span.font-m-normal-14.font-w-normal-16 #{items.subtitle2text}
                                                
                                    
