extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_carousel.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_pop-msg.pug
include ../_common/_cs-product-category-select.pug
include ../_common/_cs-form.pug

block meta 
    - var componentId = "CS0049"
    - var componentName = "Input Form_Category"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug

    -
        const prdCategoryName = [
            {
                'prdName':'TV/Audio/Video',
                'img':'../../assets/icon/icon-tv-audio-video-80-80_normal.svg',
            },
            {
                'prdName':'Appliances',
                'img': '../../assets/icon/icon-appliances-80-80_normal.svg',
            },
            {
                'prdName':'Computer products',
                'img': '../../assets/icon/icon-computer-80-80_normal.svg',
            },
            {
                'prdName':'Mobile & Tablets',
                'img': '../../assets/icon/icon-mo-tablet-80-80_normal.svg',
            },
            {
                'prdName':'Information display',
                'img': '../../assets/icon/icon-display-80-80_normal.svg',
            },
            {
                'prdName':'Air conditioning system',
                'img': '../../assets/icon/icon-aircon-80-80_normal.svg',
            },
        ]


    .guide-text-type Input Form_Category

    // Component Markup
    .guide-text-option Before category selection
    // 20230313 full markup change
    .c-wrapper.CS0049.type-text
        .component.type-form.full
            .CS0049__container
                .container
                    +productCategorySelect({type:"page"})
                    .c-model-content-wrap
                        .c-model-contents
                            a(tabindex="0" class="find-number font-m-normal-14 font-w-normal-16" aria-label="" role="dialog") How to find my model number?
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .c-container__inner
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-before-modelNumber-valid(type="text" required="required" aria-label="" placeholder="Select a model number")
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    .c-warning.c-before-modelNumber-required Model number is required.
                                    .c-warning.c-before-modelNumber-invalid This model number is invalid.
                                .cmp-form
                                    label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number #[em.require *]#[span.sr-only Required Field]
                                    input#serialNumber.font-m-normal-16.font-w-normal-20.c-before-serialNumber-valid(type="text" required="required" aria-label="" placeholder="Type a 15 digit code")
                                    .c-warning.c-before-serialNumber-required Serial number is required.
                                    .c-warning.c-before-serialNumber-invalid This serial number is invalid.
                                .cmp-form 
                                    label(for="purchaseDate").font-m-normal-16.font-w-normal-24 Purchase date #[em.require *]#[span.sr-only Required Field]
                                    input#purchaseDate.font-m-normal-16.font-w-normal-20.c-before-purchaseDate-valid(type="date" required="required" data-placeholder='YYYY/MM/DD' value="" aria-describedby='' aria-label="")
                                    .c-warning.c-before-purchaseDate-required Purchase date is required.
                                .cmp-form
                                    label(for="placePurchase").font-m-normal-16.font-w-normal-24 Place of purchase #[em.require *]#[span.sr-only Required Field] 
                                    input#placePurchase.font-m-normal-16.font-w-normal-20.c-before-placePurchase-valid(type="text" required="required" aria-label="" placeholder="Type a place of purchase")
                                    .c-warning.c-before-placePurchase-required Place of purchase is required.
                                .cmp-form
                                    label(for="proofPurchase").font-m-normal-16.font-w-normal-24 Proof of purchase (optional) 
                                    .c-btn-upload
                                        #preview
                                            p.cs-preview__file File name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                .cmp-form
                    .c-button-wrap
                        .button.c-cta
                            +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                            +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-beforeCategory-submit")

            .c-privacy
                .c-privacy__wrap
                    p.font-m-normal-12.font-w-normal-24 Your privacy is of great importance to us. Please touch privacy policy to read the details.
                    .button
                        +linkButton({name: 'Privacy policy', type:"text",color:"black", icon:true})           

    .guide-text-option After selecting a category
    // 20230313 full markup change
    .c-wrapper.CS0049.type-text
        .component.full.type-form
            .CS0049__container
                // After selecting a category
                .breadcrumb
                    .breadcrumb__wrap
                        p.cmp-breadcrumb__tit.font-w-normal-14i.font-m-normal-14i Product reselect : 
                        nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")

                            ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14i.font-w-normal-14i.swiper-wrapper
                                +bcItem({text:"Appliances"})
                                +bcItem({text:"Fridge freezers"})
                                +bcItem({text:"American style"})
                                +bcItem({text:"GSXV90MCDE", current:true})
                    .c-selected-model-Num 
                        +printLazyPicture('https://via.placeholder.com/40x40/fff/000/?text=40x40', 'https://via.placeholder.com/64x64/fff/000/?text=64x64')
                        .c-selected-model-Info 
                            .font-m-normal-12.font-w-normal-16 Searched product
                            .c-serialNum.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                            .c-prdName.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                            .c-warrantyInfo.font-m-normal-14.font-w-normal-16 Warranty info
                                span.c-hidden-mo :
                                br.c-hidden-pc
                                span Labor 12 months | Parts 12 months
                    button(type="button" aria-label="").c-btn-close 
                        img(src="../../assets/icon/icon-close-black-12-12.svg")
                .container
                    .c-model-content-wrap
                        .c-model-contents
                            a(tabindex="0" class="find-number font-m-normal-14 font-w-normal-16" aria-label="" role="dialog") How to find my model number?
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .c-container__inner
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    // 20230328 modify markup
                                    .c-modelnumber-input
                                        input#modelNumber.font-m-normal-16.font-w-normal-20.c-after-modelNumber-valid(type="text" required="required" aria-label="" placeholder="Select a model number")
                                        button(type="button" title="search" aria-label="" aria-describedby="").c-modelnumber-input__button.c-modelnumber-input__button--search search button
                                        button(type="button").c-modelnumber-input__button.c-modelnumber-input__button--delete delete button
                                    .c-warning.c-after-modelNumber-required Model number is required.
                                    .c-warning.c-after-modelNumber-invalid This model number is invalid.
                                .cmp-form
                                    label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number #[em.require *]#[span.sr-only Required Field]
                                    input#serialNumber.font-m-normal-16.font-w-normal-20.c-after-serialNumber-valid(type="text" required="required" aria-label="" placeholder="Type a 15 digit code")
                                    .c-warning.c-after-serialNumber-required Serial number is required.
                                    .c-warning.c-after-serialNumber-invalid This serial number is invalid.
                                .cmp-form 
                                    label(for="purchaseDate").font-m-normal-16.font-w-normal-24 Purchase date #[em.require *]#[span.sr-only Required Field]
                                    input#purchaseDate.font-m-normal-16.font-w-normal-20.c-after-purchaseDate-valid(type="date" required="required" data-placeholder='YYYY/MM/DD' value="" aria-describedby='' aria-label="")
                                    .c-warning.c-after-purchaseDate-required Purchase date is required.
                                .cmp-form
                                    label(for="placePurchase").font-m-normal-16.font-w-normal-24 Place of purchase #[em.require *]#[span.sr-only Required Field] 
                                    input#placePurchase.font-m-normal-16.font-w-normal-20.c-after-placePurchase-valid(type="text" required="required" aria-label="" placeholder="Type a place of purchase")
                                    .c-warning.c-after-placePurchase-required Place of purchase is required.
                                .cmp-form
                                    label(for="proofPurchase").font-m-normal-16.font-w-normal-24 Proof of purchase (optional) 
                                    .c-btn-upload
                                        #preview
                                            p.cs-preview__file File name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                .cmp-form
                    
                    .c-button-wrap
                        .button.c-cta
                            +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                            +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-afterCategory-submit")

            .c-privacy
                .c-privacy__wrap
                    p.font-m-normal-12.font-w-normal-24 Your privacy is of great importance to us. Please touch privacy policy to read the details.
                    .button
                        +linkButton({name: 'Privacy policy', type:"text",color:"black", icon:true})               

