extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug

block meta 
    - var componentId = "ST0021"
    - var componentName = "Link Icon - Text"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        '.c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };

    // Component Markup

    mixin image
        // block : image
        .image.c-image
            +printLazyImage('https://via.placeholder.com/64x64/cccccc/333333')
            if block
                block

    mixin textContents
        +image
        .title.c-text-contents__headline
            +headline('font-w-light-36 font-m-light-24','h2','Heading can be up to 40 characters lorem')
        .text.c-text-contents__bodycopy
            .cmp-text.font-w-normal-16(data-cmp-data-layer="") 
                p Body text can be up to 200 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
        .text.c-text-contents__place
            .cmp-text.font-w-normal-24(data-cmp-data-layer="") 
                p New York - National Event

    mixin textListItem(params)
        - var option={type:'div', headline:'', bodycopy:'', ...params}
        li.c-list__item
            //- block : text-contents
            if(option.type == 'div')
                div(class="c-text-contents")
                    +textContents
            if(option.type == 'a')
                // option : target (_blank or _self)
                // GA4
                a(href="#" class="c-text-contents" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                    +textContents
            if(option.type == 'popup')
                // popup : Please enter the input url, popup width and height, and add class 'js-popup'.
                // GA4
                a(href="https://www.lgechat.com/us/index.html" target="popup" class="c-text-contents js-open-popup"  data-width="344" data-height="553" title="Opens in a new popup window" role="button")
                    +textContents

                    
    
    //  Option. 2Column
    .guide-text-option Option. 1Column
    .c-wrapper.ST0021.margin-top.margin-bottom.bg-default
        // Add class by column
        .component.column2
            .cmp-container
                // block : list
                ul.c-list
                    // block : textListItem
                    +textListItem({type:'popup'})
                    +textListItem({type:'a'})

    //  Option. 3Column
    .guide-text-option Option. 3Column
    .c-wrapper.ST0021.margin-top.margin-bottom.bg-default
        // Add class by column
        .component.column3
            .cmp-container
                // block : list
                ul.c-list
                    // block : textListItem
                    - for (var x = 0; x < 3; x++)
                        +textListItem({type:'a'})

    //  Option. 4Column
    .guide-text-option Option. 4Column
    .c-wrapper.ST0021.margin-top.margin-bottom.bg-default
        // Add class by column
        .component.column4
            .cmp-container
                // block : list
                ul.c-list
                    // block : textListItem
                    - for (var x = 0; x < 4; x++)
                        +textListItem

    //  Option. 5Column
    .guide-text-option Option. 5Column
    .c-wrapper.ST0021.margin-top.margin-bottom.bg-default
        // Add class by column
        .component.column5
            .cmp-container
                // block : list
                ul.c-list
                    // block : textListItem
                    - for (var x = 0; x < 5; x++)
                        +textListItem
