extends ../_common/_layout.pug
include ../_common/_button.pug

block meta 
    - var componentName = "Colorchips"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    //- link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js" type="module")

block content

    mixin printFont(class1, fontType)
        //- li.font-w-bold-64 font-w-bold-64 64px 64px Bold
        - var fontClass = class1
        li(class=fontClass)= fontClass + ': ' + fontType

    style(type="text/css").
        .guide-page p {
            font-family: initial;
        }
    #contents.guide-page
        h1 LG GP1 Color Chips
        p(style='max-width: 800px; padding: 30px 20px 0; margin: 0 auto; text-align: center;')
            | 컬러칩은 어드민에서 등록된 컬러칩 class를 사용합니다.
            br
            | 전 국가 기준, 실제 컬러칩을 사용중인 제품 2092 개 중에서 
            br
            | 컬러칩 class 기준으로 유니크한 목록 230개를 정리하여 제작했습니다.
            br
            | 기존 5.0에서 BG 이미지 처리했던 부분도 모두 CSS로 변경했습니다. 
        style 
            | .guide-page .list.color {display: flex; flex-wrap: wrap; gap: 10px;}
            | .guide-page .list.color > div {width: 40%; display: flex; gap: 10px;}
            | .guide-page .list.color .swatch {display: block; flex: none; width: 30px; height: 30px; border-radius: 100px;}
            | .guide-page .list.color .swatch + span {display: block; flex: 1;}
        .list.color(style='max-width: 1000px;')
            mixin printColor(color)
                .group-type-color
                    .swatch(class=color)
                    span= color

            +printColor('acciaio-inox-antimpronta-black-chic')
            +printColor('Acero-Inoxidable')
            +printColor('AcierinoxydableNoir')
            +printColor('Aqua_Blue')
            +printColor('Argent')
            +printColor('Argent_Platine')
            +printColor('AstroBlack')
            +printColor('astro-black')
            +printColor('AuroraBlack')
            +printColor('AV_Blue')
            +printColor('AV_Petrol_Blue')
            +printColor('AV_Pink')
            +printColor('AV_Yellow')
            +printColor('azul-marino')
            +printColor('beige')
            +printColor('black')
            +printColor('Black Stainless Steel')
            +printColor('black-silver-door')
            +printColor('Black-Stainless-Steel')
            +printColor('blanc')
            +printColor('blanco')
            +printColor('Blue')
            +printColor('Bohemian_Red')
            +printColor('branco')
            +printColor('Brown')
            +printColor('brushed steel')
            +printColor('Burdeos')
            +printColor('Calming_Beige')
            +printColor('Color')
            +printColor('Dark Graphite')
            +printColor('Fantasy_Silver')
            +printColor('Gold')
            +printColor('golden')
            +printColor('Graphhite')
            +printColor('graphite')
            +printColor('graphite-steel')
            +printColor('Gray')
            +printColor('HA_Black_Steel')
            +printColor('HA_Black-Stainless-Steel')
            +printColor('HA_CookingAppliance_Matte_Black_Stainless_Steel')
            +printColor('HA_Dark_Grey')
            +printColor('HA_DW_Matte_Black_Stainless_Steel')
            +printColor('HA_MWO_Matte_Black_Stainless_Steel')
            +printColor('HA_Oven_Matte_Black_Stainless_Steel')
            +printColor('HA_REF_Beige')
            +printColor('HA_REF_Beige_Dancing_Flower_Silver')
            +printColor('HA_REF_Black_Mirror')
            +printColor('HA_REF_Dark_Graphite')
            +printColor('HA_REF_Matte_Black_Stainless_Steel')
            +printColor('HA_REF_Noble_Steel')
            +printColor('HA_REF_Platinum_Silver')
            +printColor('HA_REF_SIGNATURE_Textured_Steel')
            +printColor('HA_REF_White')
            +printColor('HA_Smudge-Resistant-Stainless-Steel')
            +printColor('HA_Styler_Mirror')
            +printColor('HA_TS1366NTP_Gris')
            +printColor('HA_VCC_Matte_Grey')
            +printColor('HA_VCC_Matte_Silver')
            +printColor('HE_RP4_Beige')
            +printColor('HE_RP4_Blue_Green')
            +printColor('HE_RP4_Burgundy')
            +printColor('HE_RP4_Charcoal_Black')
            +printColor('HE_TWS_ModernWhite')
            +printColor('IcePlatinum')
            +printColor('Ice-Platinum')
            +printColor('Indigo')
            +printColor('Indigo_Blue')
            +printColor('Indigoblue')
            +printColor('indigo-blue')
            +printColor('Iron_Gray')
            +printColor('lime')
            +printColor('MC_DualScreen_AuroraBlack')
            +printColor('MC_G5_Speed_Silver')
            +printColor('MC_G6_Astro_Black')
            +printColor('MC_G6_Ice_Platinum')
            +printColor('MC_G6_LavenderViolet')
            +printColor('MC_G6_Marine_Blue')
            +printColor('MC_G7_Fit_Aurora_Black')
            +printColor('MC_G7_Fit_Platinum_Gray')
            +printColor('MC_G7_NewAuroraBlack')
            +printColor('MC_G7_NewMoroccanBlue')
            +printColor('MC_G7_NewPlatinumGray')
            +printColor('MC_G7_RaspberryRose')
            +printColor('MC_G8S_MirrorBlack')
            +printColor('MC_G8S_MirrorWhite')
            +printColor('MC_G8XThinQ_AuroraBlack')
            +printColor('MC_K10_2017_Shiny_Black')
            +printColor('MC_K10_2017_Shiny_Titan')
            +printColor('MC_K11_Aurora_Black')
            +printColor('MC_K11_Moroccan_Blue')
            +printColor('MC_K11_Terra_Gold')
            +printColor('MC_K22_Blue')
            +printColor('MC_K22_Red')
            +printColor('MC_K22_Titan')
            +printColor('MC_K30_AuroraBlack')
            +printColor('MC_K30_MoroccanBlue')
            +printColor('MC_K4_2017_Titan')
            +printColor('MC_K40_NewAuroraBlack')
            +printColor('MC_K40_NewMoroccanBlue')
            +printColor('MC_K40_NewPlatinumGray')
            +printColor('MC_K40S_NewAuroraBlack')
            +printColor('MC_K40S_NewMoroccanBlue')
            +printColor('MC_K42_Green')
            +printColor('MC_K42_Grey')
            +printColor('MC_K42_Red')
            +printColor('MC_K42_SkyBlue')
            +printColor('MC_K50_AuroraBlack')
            +printColor('MC_K50_MoroccanBlue')
            +printColor('MC_K50_PlatinumGray')
            +printColor('MC_K50S_NewAuroraBlack')
            +printColor('MC_K50S_NewMoroccanBlue')
            +printColor('MC_K51S_Pink')
            +printColor('MC_K51S_Titan')
            +printColor('MC_K52_Blue')
            +printColor('MC_K52_Red')
            +printColor('MC_K52_White')
            +printColor('MC_K61_Titan')
            +printColor('MC_K61_White')
            +printColor('MC_K62_SkyBlue')
            +printColor('MC_K62_White')
            +printColor('MC_K8_2017_Dark_Blue')
            +printColor('MC_K8_2017_Gold')
            +printColor('MC_K8_MoroccanBlue')
            +printColor('MC_K9_Aurora_Black')
            +printColor('MC_K9_Moroccan_Blue')
            +printColor('MC_K9_Terra_Gold')
            +printColor('MC_Q6_Alpha_Astro_Black')
            +printColor('MC_Q6_Alpha_Ice_Platinum')
            +printColor('MC_Q6_Astro_Black')
            +printColor('MC_Q6_Ice_Platinum')
            +printColor('MC_Q6_LavenderViolet')
            +printColor('MC_Q6_Mystic_White')
            +printColor('MC_Q6_Plus_Astro_Black')
            +printColor('MC_Q6_Plus_Ice_Platinum')
            +printColor('MC_Q6_Plus_Marine_Blue')
            +printColor('MC_Q6_Terra_Gold')
            +printColor('MC_Q60_NewAuroraBlack')
            +printColor('MC_Q60_NewMoroccanBlue')
            +printColor('MC_Q7_Plus_AuroraBlack')
            +printColor('MC_Q7_Plus_LavenderViolet')
            +printColor('MC_Q7_Plus_MoroccanBlue_Wave')
            +printColor('MC_Q7_Prime_AuroraBlack')
            +printColor('MC_Q7_Prime_LavenderViolet')
            +printColor('MC_Qstylus_AuroraBlack')
            +printColor('MC_Stylo5_NewAuroraBlack')
            +printColor('MC_Stylo5_NewPlatinumGray')
            +printColor('MC_Stylus2_Black')
            +printColor('MC_Stylus2_Brown')
            +printColor('MC_V20_Silver')
            +printColor('MC_V20_Titan')
            +printColor('MC_V20_Pink')
            +printColor('MC_V30_Aurora_Black')
            +printColor('MC_V30_Cloud_Silver')
            +printColor('MC_V30_Lavender_Violet')
            +printColor('MC_V30_Moroccan_Blue')
            +printColor('MC_V30_Raspberry_Rose')
            +printColor('MC_V30S_ThinQ_NewMoroccanBlue')
            +printColor('MC_V30S_ThinQ_NewPlatinumGray')
            +printColor('MC_V40_ThinQ_CarmineRed')
            +printColor('MC_V40_ThinQ_NewMoroccanBlue')
            +printColor('MC_V50ThinQ_AstroBlack')
            +printColor('MC_V60_ClassyBlue')
            +printColor('MC_V60_ClassyWhite')
            +printColor('MC_Velvet_AuroraGreen')
            +printColor('MC_Velvet_AuroraGrey')
            +printColor('MC_Velvet_AuroraSilver')
            +printColor('MC_Velvet_AuroraWhite')
            +printColor('MC_Velvet_IllusionSunset')
            +printColor('MC_Velvet_NewBlack')
            +printColor('MC_Watch_Sport_Titanium_Silver')
            +printColor('MC_Watch_Style_Silver')
            +printColor('MC_Wing_AuroraGray')
            +printColor('MC_Wing_IllusionSky')
            +printColor('MC_X_Mach_White')
            +printColor('MC_X_Power_White')
            +printColor('MC_X_Power2_Shiny_Titan')
            +printColor('MC_X_Style_White')
            +printColor('MC_X_Venture_Black')
            +printColor('MC_XPower3_MoroccanBlue')
            +printColor('MC-K41S-Black')
            +printColor('MC-K41S-Titan')
            +printColor('MC-K51S-Pink')
            +printColor('MC-K51S-Titan')
            +printColor('MC-K61-Titan')
            +printColor('MC-K61-White')
            +printColor('MC-K71-HoloTitan')
            +printColor('Middle Black')
            +printColor('moroccan-blue')
            +printColor('MystiqueWhite')
            +printColor('Navy')
            +printColor('negro')
            +printColor('niebieski')
            +printColor('Noble Steel')
            +printColor('noir')
            +printColor('normal-silver')
            +printColor('Or')
            +printColor('Orange')
            +printColor('pink')
            +printColor('Pink-Gold')
            +printColor('plata')
            +printColor('Platinum')
            +printColor('Platinum Silver')
            +printColor('Platinum_Silver')
            +printColor('platinum-silver')
            +printColor('preto')
            +printColor('red')
            +printColor('rojo')
            +printColor('Rose')
            +printColor('RoseGold')
            +printColor('silver')
            +printColor('silver-new')
            +printColor('smooth-black')
            +printColor('smooth-white')
            +printColor('stainless')
            +printColor('Stainless Silver')
            +printColor('Stainless_Silver')
            +printColor('stainless-steel')
            +printColor('steel')
            +printColor('Steel Silver')
            +printColor('Stone Silver')
            +printColor('TerraGold')
            +printColor('Terra-Gold')
            +printColor('Titan')
            +printColor('titanium')
            +printColor('verde')
            +printColor('Vert')
            +printColor('Vintage_Wine')
            +printColor('western-black')
            +printColor('white')
            +printColor('white2')
            +printColor('white-silver')
