extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_pagination.pug

block meta 
    - var componentName = "Font"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    //- link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js" type="module")

block content

    mixin printFont(class1, fontType)
        //- li.font-w-bold-64 font-w-bold-64 64px 64px Bold
        - var fontClass = class1
        li(class=fontClass)= fontClass + ': ' + fontType

    #contents.guide-page
        h1 LG GP1 HTML Font Guide
        p(style='max-width: 800px; padding: 30px 20px 0; margin: 0 auto; text-align: center;')
            | 화면 사이즈를 변경하면, 데스크탑용/모바일용 클래스를 확인할 수 있습니다. <br />
            | 모바일과 데스크탑용 class는 항상 하나의 Set으로 사용되지는 않습니다. <br />
            | 따라서, 모바일과 데스크탑용 class를 함께 추가해야 합니다.
        style 
            | .guide-page .list.font li {display: block; text-align: center;}
        .list.font(style='max-width: 1000px;')
            ul.desktop-only
                +printFont('font-w-light-80', '80px 80px Light')
                +printFont('font-w-light-56', '56px 56px Light')
                +printFont('font-w-light-36', '36px 36px Light')
                +printFont('font-w-bold-64', '64px 64px Bold')
                +printFont('font-w-regular-64', '64px 64px Regular')
                +printFont('font-w-semibold-60', '60px 60px Semibold')
                +printFont('font-w-regular-54', '54px 54px Regular')
                +printFont('font-w-semibold-46', '46px 46px Semibold')
                +printFont('font-w-bold-40', '40px 44px Bold')
                +printFont('font-w-semibold-40', '40px 44px Semibold')
                +printFont('font-w-semibold-32', '32px 36px Semibold')
                +printFont('font-w-semibold-28', '28px 32px Semibold')
                +printFont('font-w-semibold-24', '24px 28px Semibold')
                +printFont('font-w-semibold-20', '20px 24px Semibold')
                +printFont('font-w-semibold-18', '18px 22px Semibold')
                +printFont('font-w-semibold-16', '16px 20px Semibold')
                +printFont('font-w-normal-24', '24px 32px')
                +printFont('font-w-normal-20', '20px 26px')
                +printFont('font-w-normal-16', '16px 22px')
                +printFont('font-w-normal-14', '14px 20px')
                +printFont('font-w-normal-14i', '14px 14px')
                +printFont('font-w-semibold-16', '20px 20px Semibold (for Tab menu)')
                +printFont('font-w-bold-12i', '12px 12px Bold (for Tag)')

            ul.mobile-only 
                +printFont('font-m-light-36', '36px 36px Light')
                +printFont('font-m-light-28', '28px 32px Light')
                +printFont('font-m-light-24', '24px 28px Light')
                +printFont('font-m-bold-40', '40px 44px Bold')
                +printFont('font-m-regular-40', '40px 44px Regular')
                +printFont('font-m-semibold-32', '32px 36px Semibold')
                +printFont('font-m-bold-30', '30px 34px Bold')
                +printFont('font-m-semibold-30', '30px 34px Semibold')
                +printFont('font-m-regular-30', '30px 34px Regular')
                +printFont('font-m-semibold-26', '26px 30px Semibold')
                +printFont('font-m-semibold-24', '24px 28px Semibold')
                +printFont('font-m-semibold-22', '22px 26px Semibold')
                +printFont('font-m-semibold-20', '20px 24px Semibold')
                +printFont('font-m-semibold-18', '18px 22px Semibold')
                +printFont('font-m-semibold-16', '16px 20px Semibold')
                +printFont('font-m-semibold-14', '14px 16px Semibold')
                +printFont('font-m-normal-20', '20px 26px')
                +printFont('font-m-normal-18', '18px 24px')
                +printFont('font-m-normal-16', '16px 22px')
                +printFont('font-m-normal-14', '14px 20px')
                +printFont('font-m-normal-14i', '14px 14px')
                +printFont('font-m-semibold-16', '16px 16px Semibold (for Tab menu)')
                +printFont('font-m-bold-12i', '12px 12px Bold (for Tag)')
