extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_pagination.pug
include ../_common/_carousel.pug
include ../_common/_forms.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentName = "Style Guide"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    //- link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js" type="module")

block content
    style(type="text/css").
        .guide-page h4,
        .guide-page li,
        .guide-page p {
            font-family: initial;
        }
    #contents.guide-page
        h1 LG GP1 CSS Style Guide
        h2 Buttons
        p(style='max-width: 800px; padding: 30px 20px 20px; margin: 0 auto;')
            | a 태그는 +linkButton, button은 +button 을 사용해주세요. (pug mixin)
        ul(style='max-width: 800px; margin: 0 auto;')
            li type: "box" / "box-outlined" / "text"
            li color: "black" / "red" / "white"
            li "box" 또는 "box-outlined" 타입일 경우 size: "small" / "medium" / "large"
            li "box-outlined" 또는 "text" 타입에서는 icon:true 사용 가능합니다.
            li "text" 타입에서는 underline:true 사용 가능합니다. (icon과 underline 동시 사용 불가능)
            li "text" 타입을 사용 할 때는 size 옵션은 빼거나 size:''로 비워주시고, <br>그 외 타입을 사용할때는 size를 꼭 입력해주세요.
            li Default는 type:"box-outlined", color:"black" 입니다.
        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h3(style="display:block;font-weight:bold;padding-bottom:10px;") Default Button (LGness)
            h4 Style: default
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +defaultButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: true})
                +defaultButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default transparent icon right', isButton: false})
                +defaultButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default transparent icon right', isButton: false})(disabled='disabled')
                +defaultButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})
                +defaultButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default transparent icon right', isButton: false})
                +defaultButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default transparent icon right', isButton: false})(disabled='disabled')
                +defaultButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default', isButton: true})
                +defaultButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default transparent icon right', isButton: false})
                +defaultButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default transparent icon right', isButton: true})(disabled="disabled")
            h4 Style: highlight (LGness)
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +defaultButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'highlight', isButton: true})
                +defaultButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                +defaultButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'highlight', isButton: false})(disabled='disabled')
                +defaultButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
                +defaultButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: false})
                +defaultButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: false})(disabled='disabled')
                +defaultButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'highlight', isButton: true})
                +defaultButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'highlight', isButton: false})
                +defaultButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'highlight', isButton: false})(disabled='disabled')
        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h3(style="display:block;font-weight:bold;padding-bottom:10px;") Text Button (LGness)
            h4 Style: default
            div(style="padding:20px; background: brown; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: false})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default white', isButton: false})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: false})(disabled='disabled')
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default white', isButton: false})
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})(disabled='disabled')
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default white', isButton: false})
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default', isButton: false})(disabled='disabled')
            div(style="margin-top:1em;")
            h4 Style: default back
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default back', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default back', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default back', isButton: false})
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default back', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default back', isButton: false})
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default back', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default back', isButton: false})
            div(style="margin-top:1em;")
            h4 Style: down
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: false})
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'down', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'down', isButton: false})
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'down', isButton: true})
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'down', isButton: false})
            div(style="margin-top:1em;")
            h4 underline : true
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default', underline : true, isButton: true})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default', underline : true, isButton: true})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'default', underline : true, isButton: false})
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: true})
                +textButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: false})
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default', underline : true, isButton: true})
                +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'default', underline : true, isButton: false})
                +textButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'highlight', underline : true, isButton: true})(target="_blank")
            div(style="margin-top:1em;")
            h4 Style: icon variation
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +textButton({name: 'Print', wSize: 'large', mSize: 'large', buttonStyle: 'icon icon-print', isButton: true})
                +textButton({name: 'Print', wSize: 'large', mSize: 'large', buttonStyle: 'icon icon-print no-arrow', isButton: true})
        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h3(style="display:block;font-weight:bold;padding-bottom:10px;") Circle Button (LGness)
            h4 Style: white arrow / black arrow
            div(style="padding:20px; background: #cccccc; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +circleButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'white arrow', isButton: false})
                +circleButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'white arrow', isButton: false})
                +circleButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'white arrow', isButton: false})
                +circleButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'white arrow', isButton: false})(disabled='disabled')
                +circleButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'black arrow', isButton: false})
                +circleButton({name: 'Button Sample', wSize: 'medium', mSize: 'medium', buttonStyle: 'black arrow', isButton: false})
                +circleButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'black arrow', isButton: false})
                +circleButton({name: 'Button Sample', wSize: 'small', mSize: 'small', buttonStyle: 'black arrow', isButton: false})(disabled='disabled')
        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h3(style="display:block;font-weight:bold;padding-bottom:10px;") Button
            h4 Type: box, Size: small
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +linkButton({type:"box", color:"red", size:"small", name: "red"})
                //- +linkButton({type:"box", color:"black", size:"small", name: "black"})
                +linkButton({type:"box", color:"white", size:"small", name: "white"})
                +button({type:"box", color:"red", size:"small", name: "red button"})
                //- +button({type:"box", color:"black", size:"small", name: "black button"})
                +button({type:"box", color:"white", size:"small", name: "white button"})
                +button({type:"box", color:"red", size:"small", name: "disabled button"})(disabled)

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: box-outlined, Size: small
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                //- +linkButton({type:"box-outlined", color:"red", size:"small", name: "red"})
                +linkButton({type:"box-outlined", color:"black", size:"small", name: "black"})
                +linkButton({type:"box-outlined", color:"white", size:"small", name: "white"})
                //- +button({type:"box-outlined", color:"red", size:"small", name: "red button"})
                +button({type:"box-outlined", color:"black", size:"small", name: "black button"})
                +button({type:"box-outlined", color:"white", size:"small", name: "white button"})
                +button({type:"box-outlined", color:"black", size:"small", name: "disabled button"})(disabled)
                +button({type:"box-outlined", color:"black", size:"small", icon: true, name: "icon button"})
                +button({type:"box-outlined", color:"black", size:"small", icon: true, name: "disabled button"})(disabled)

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: box, Size: medium
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +linkButton({type:"box", color:"red", size:"medium", name: "red"})
                //- +linkButton({type:"box", color:"black", size:"medium", name: "black"})
                +linkButton({type:"box", color:"white", size:"medium", name: "white"})
                +button({type:"box", color:"red", size:"medium", name: "red button"})
                //- +button({type:"box", color:"black", size:"medium", name: "black button"})
                +button({type:"box", color:"white", size:"medium", name: "white button"})
                +button({type:"box", color:"red", size:"medium", name: "disabled button"})(disabled)

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: box-outlined, Size: medium
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                //- +linkButton({type:"box-outlined", color:"red", size:"medium", name: "red"})
                +linkButton({type:"box-outlined", color:"black", size:"medium", name: "black"})
                +linkButton({type:"box-outlined", color:"white", size:"medium", name: "white"})
                //- +button({type:"box-outlined", color:"red", size:"medium", name: "red button"})
                +button({type:"box-outlined", color:"black", size:"medium", name: "black button"})
                +button({type:"box-outlined", color:"white", size:"medium", name: "white button"})
                +button({type:"box-outlined", color:"black", size:"medium", name: "disabled button"})(disabled)
                +button({type:"box-outlined", color:"black", size:"medium", icon: true, name: "icon button"})
                +button({type:"box-outlined", color:"black", size:"medium", icon: true, name: "disabled button"})(disabled)

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: box, Size: large
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +linkButton({type:"box", color:"red", size:"large", name: "red"})
                //- +linkButton({type:"box", color:"black", size:"large", name: "black"})
                +linkButton({type:"box", color:"white", size:"large", name: "white"})
                +button({type:"box", color:"red", size:"large", name: "red button"})
                //- +button({type:"box", color:"black", size:"large", name: "black button"})
                +button({type:"box", color:"white", size:"large", name: "white button"})
                +button({type:"box", color:"red", size:"large", name: "disabled button"})(disabled)

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: box-outlined, Size: large
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                //- +linkButton({type:"box-outlined", color:"red", size:"large", name: "red"})
                +linkButton({type:"box-outlined", color:"black", size:"large", name: "black"})
                +linkButton({type:"box-outlined", color:"white", size:"large", name: "white"})
                //- +button({type:"box-outlined", color:"red", size:"large", name: "red button"})
                +button({type:"box-outlined", color:"black", size:"large", name: "black button"})
                +button({type:"box-outlined", color:"white", size:"large", name: "white button"})
                +button({type:"box-outlined", color:"black", size:"large", name: "disabled button"})(disabled)
                +button({type:"box-outlined", color:"black", size:"large", icon: true, name: "icon button"})
                +button({type:"box-outlined", color:"black", size:"large", icon: true, name: "disabled button"})(disabled)

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: text
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +linkButton({type:"text",color:"red"})
                +linkButton({type:"text",color:"black"})
                +linkButton({type:"text",color:"white"})

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: text, icon: true
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +linkButton({type:"text",color:"red", icon:true})
                +linkButton({type:"text",color:"black", icon:true})
                +linkButton({type:"text",color:"white", icon:true})

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: text, underline: true
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +linkButton({type:"text",color:"red", underline:true})
                +linkButton({type:"text",color:"black", underline:true})
                +linkButton({type:"text",color:"white", underline:true})

        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Type: text, underline: true, comment: false, outlink: true
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +linkButton({type:"text",color:"red", underline:true, comment:false, outlink:true})(target='_blank')
                +linkButton({type:"text",color:"black", underline:true,comment:false, outlink:true})(target='_blank')
                +linkButton({type:"text",color:"white", underline:true, comment:false,outlink:true})(target='_blank')
        
        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h4 Icon Button : 아이콘이 앞에 위치하는 버튼 +iconButton pug mixin 사용
            p a태그 사용시 type:"link", button 사용시 type:"button"
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin-top: 5px; display: flex; gap: 10px; flex-wrap: wrap;")
                +iconButton({type:"link",color:"black",class:"download",name:"download"})
                +iconButton({type:"button",color:"black",class:"share",name:"Share"})
        
        h2 Carousel Indicator
        section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            ul(style='max-width: 800px; margin: 0 auto 20px;')
                li Pagination(Fraction 또는 Bullet dots) 부분은 +carouselPagination (Pug mixin) 사용해주세요.
                li Pagination 영역에 Fraction이 아닌 Bullet 사용시에 isBullet : true 옵션 해주시면 ol 태그로 변경됩니다.
                li 좌우 버튼은 +carouselBtn(Pug mixin) 사용해주세요.
                li +carouselBtn의 type은 class로 들어가서 스타일 variation 하여 사용가능합니다.
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px;display: flex; flex-wrap: wrap;")
                .c-carousel__handler(style="display:flex;margin-top:0;")
                    .cmp-carousel__actions
                        +carouselBtn({type:"pagination", direction:"prev"})
                    .c-carousel__indicator
                        // * pagination Start
                        .cmp-carousel__indicators.c-carousel__pagination.swiper-pagination-fraction.swiper-pagination-horizontal(data-cmp-hook-carousel="indicators")
                            span.swiper-pagination-current 1
                            |  / 
                            span.swiper-pagination-total 2
                        // pagination End *
                    .cmp-carousel__actions
                        +carouselBtn({type:"pagination", direction:"next"})
        section(style="padding-top: 30px; max-width: 1600px; margin: 0 auto;")
            h3 Hero Controls - white theme
            div(style="position:relative;height:100px;padding:20px; background: #f4f4f4; border:1px solid #f6f6f6; border-radius: 8px; margin: 5px 0 10px; display: flex; gap: 10px; flex-wrap: wrap;")
                .carousel.panelcontainer(style="width:100%")
                    // block : carousel
                    .cmp-carousel.swiper.c-carousel.white-theme.swiper-initialized(data-cmp-data-layer="" style="max-width:1600px;width:100%;height:100px")
                        .c-carousel-controls
                            // pagination
                            // each bullet be rendered by 3rd party;swiper.
                            .c-carousel-controls__pagination.cmp-carousel__indicators.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal(data-cmp-hook-carousel="indicators")
                                .cmp-carousel__indicator.c-carousel-controls__bullet(tabindex='0')
                                    span.c-carousel-controls__item-name.font-w-normal-16.font-m-normal-14i
                                        | InstaView&trade;1
                                .cmp-carousel__indicator.c-carousel-controls__bullet.is-active.on(tabindex='0' aria-current='true')
                                    span.c-carousel-controls__item-name.font-w-normal-16.font-m-normal-14i
                                        | InstaView&trade;1
                                .cmp-carousel__indicator.c-carousel-controls__bullet(tabindex='0')
                                    span.c-carousel-controls__item-name.font-w-normal-16.font-m-normal-14i
                                        | InstaView&trade;1
                            // action buttons
                            .c-carousel-controls__handler.cmp-carousel__actions
                                // arrow
                                button.c-carousel-controls__action.c-carousel-controls__action--prev.js-carousel-prev.cmp-carousel__action.cmp-carousel__action--previous(type='button' data-cmp-hook-carousel='previous' tabindex='0' aria-label='Previous slide' aria-controls='swiper-wrapper-75411d1e1b5c9598')
                                    span.cmp-carousel__action-text.sr-only Previous Slide
                                button.c-carousel-controls__action.c-carousel-controls__action--next.js-carousel-next.cmp-carousel__action.cmp-carousel__action--next(type='button' data-cmp-hook-carousel='next' tabindex='0' aria-label='Next slide' aria-controls='swiper-wrapper-75411d1e1b5c9598')
                                    span.cmp-carousel__action-text.sr-only Next Slide
                                // autoplay
                                button.c-carousel-controls__action.c-carousel-controls__action--pause.js-carousel-pause.cmp-carousel__action.cmp-carousel__action--pause(type='button' data-cmp-hook-carousel='pause')
                                    span.cmp-carousel__action-text.sr-only Pause carousel
                                button.c-carousel-controls__action.c-carousel-controls__action--play.js-carousel-play.cmp-carousel__action.cmp-carousel__action--play(type='button' data-cmp-hook-carousel='play' disabled='')
                                    span.cmp-carousel__action-text.sr-only Play carousel
        section(style="padding-top: 30px; max-width: 1600px; margin: 0 auto;")
            h3 Hero Controls - dark theme
            div(style="position:relative;height:100px;padding:20px; background: #aaa; border-radius: 8px; margin: 5px 0 10px; display: flex; gap: 10px; flex-wrap: wrap;")
                .carousel.panelcontainer(style="width:100%")
                    // block : carousel
                    .cmp-carousel.swiper.c-carousel.dark-theme.swiper-initialized(data-cmp-data-layer="" style="max-width:1600px;width:100%;height:100px")
                        .c-carousel-controls
                            // pagination
                            // each bullet be rendered by 3rd party;swiper.
                            .c-carousel-controls__pagination.cmp-carousel__indicators.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal(data-cmp-hook-carousel="indicators")
                                .cmp-carousel__indicator.c-carousel-controls__bullet(tabindex='0')
                                    span.c-carousel-controls__item-name.font-w-normal-16.font-m-normal-14i
                                        | InstaView&trade;1
                                .cmp-carousel__indicator.c-carousel-controls__bullet.is-active.on(tabindex='0' aria-current='true')
                                    span.c-carousel-controls__item-name.font-w-normal-16.font-m-normal-14i
                                        | InstaView&trade;1
                                .cmp-carousel__indicator.c-carousel-controls__bullet(tabindex='0')
                                    span.c-carousel-controls__item-name.font-w-normal-16.font-m-normal-14i
                                        | InstaView&trade;1
                            // action buttons
                            .c-carousel-controls__handler.cmp-carousel__actions
                                // arrow
                                button.c-carousel-controls__action.c-carousel-controls__action--prev.js-carousel-prev.cmp-carousel__action.cmp-carousel__action--previous(type='button' data-cmp-hook-carousel='previous' tabindex='0' aria-label='Previous slide' aria-controls='swiper-wrapper-75411d1e1b5c9598')
                                    span.cmp-carousel__action-text.sr-only Previous Slide
                                button.c-carousel-controls__action.c-carousel-controls__action--next.js-carousel-next.cmp-carousel__action.cmp-carousel__action--next(type='button' data-cmp-hook-carousel='next' tabindex='0' aria-label='Next slide' aria-controls='swiper-wrapper-75411d1e1b5c9598')
                                    span.cmp-carousel__action-text.sr-only Next Slide
                                // autoplay
                                button.c-carousel-controls__action.c-carousel-controls__action--pause.js-carousel-pause.cmp-carousel__action.cmp-carousel__action--pause(type='button' data-cmp-hook-carousel='pause')
                                    span.cmp-carousel__action-text.sr-only Pause carousel
                                button.c-carousel-controls__action.c-carousel-controls__action--play.js-carousel-play.cmp-carousel__action.cmp-carousel__action--play(type='button' data-cmp-hook-carousel='play' disabled='')
                                    span.cmp-carousel__action-text.sr-only Play carousel

        // 사용되는 곳 아직 없어서 주석처리
        //- h2 Pagination
        //- section(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
        //-     +pagination

        h2 Form
        section.c-form(style="padding-top: 30px; max-width: 800px; margin: 0 auto;")
            h3 Input text 
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin: 5px 0 10px;")
                +formText("text", "Email Address", "test1", true, "Please input your email")
                +formText("text", "Email Address", "test2", true, "Please input your email")(disabled="disabled")
            h3 Select box
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin: 5px 0 10px;")
                +formSelect("Country", "test3", "Select Country", false)
                    option(value="") Select Country
                    option(value="country1") Country1
                    option(value="country2") Country2
                    option(value="country3") Country3
                +formSelect("Country", "test4", "Select Country", false)(disabled="disabled")
                    option(value="") Select Country
                    option(value="country1") Country1
                    option(value="country2") Country2
                    option(value="country3") Country3
            h3 Checkbox
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin: 5px 0 10px; display: flex; gap: 10px; flex-wrap: wrap;")
                +formCheckbox("label", "name", "val1", "checkId1", count="false", false)
                +formCheckbox("has count", "name", "val2", "checkId2", 3, false)(checked)
                +formCheckbox("checked disabled", "name", "val4", "checkId4", count="false", true)(checked)
                +formCheckbox("disabled", "name", "val3", "checkId3", count="false", true)
            h3 Radio
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin: 5px 0 10px; display: flex; gap: 10px; flex-wrap: wrap;")
                h4(style="flex-basis:100%;") default
                +formRadio("checked", "name1", "val1a", "radioId1a")(checked)
                +formRadio("default", "name1", "val1b", "radioId1b")
                +formRadio("disabled", "name1", "val1c", "radioId1c")(disabled="disabled")
                h4(style="flex-basis:100%;") check-shaped
                +formRadio("checked", "name2", "val2a", "radioId2a", "check-shaped")(checked)
                +formRadio("default", "name2", "val2b", "radioId2b", "check-shaped")
                +formRadio("disabled", "name2", "val2c", "radioId2c", "check-shaped")(disabled="disabled")
                h4(style="flex-basis:100%;") has arrow
                    div(style="flex-basis:100%;")
                        +formRadio("checked", "name3", "val3a", "radioId3a", "has-next")(checked)
                        +formRadio("default", "name3", "val3b", "radioId3b", "has-next")
                        +formRadio("disabled", "name3", "val3c", "radioId3c", "has-next")(disabled="disabled")
                h4(style="flex-basis:100%;") block type
                    div(style="flex-basis:100%;")
                        +formRadio("checked", "name4", "val4a", "radioId4a", "is-block")(checked)
                        +formRadio("default", "name4", "val4b", "radioId4b", "is-block")
                        +formRadio("disabled", "name4", "val4c", "radioId4c", "is-block")(disabled="disabled")
            h3 Swatch
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin: 5px 0 10px; display: flex; gap: 10px; flex-wrap: wrap;")
                .c-form
                    .c-form-box
                        +formSwatch("White", "FT00000004", "FV00000015", "FT00000004_FV00000015", "border:1px solid #e6e6e6;background-color: #fff;")
                        +formSwatch("Iceblue", "FT00000004", "FV00000016", "FT00000004_FV00000016", "background: linear-gradient(180deg, #a7a3a2 0%, rgba(178, 175, 174, 0.08) 50%, #b2afae 100%)")
                        +formSwatch("Silver", "FT00000004", "FV00000017", "FT00000004_FV00000017", "background-color: #a4a4a4;")
                        +formSwatch("Black", "FT00000004", "FV00000018", "FT00000004_FV00000018", "background-color: #000;")
                        +formSwatch("Dark Gray", "FT00000004", "FV00000019", "FT00000004_FV00000019", "background: linear-gradient(180deg,rgba(106, 105, 105, 0.92) 0%,rgba(76, 76, 76, 0.37) 46.88%,rgba(30, 30, 30, 0.58) 100%);")
            h3 Range
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin: 5px 0 10px; display: flex; gap: 10px; flex-wrap: wrap;")
                .c-form
                    script. 
                        const dragbarVal = {
                            priceOption:[
                                {'Min':''}, 
                                {'£500 - 1199':'RG00044272'},
                                {'£1200 - 1999':'RG00044273'},
                                {'£2000 - 2999':'RG00044274'},
                                {'£3000<':'RG00044275'},
                                {'Max':''}
                            ]
                        }
                        if(dragbarVal.priceOption){
                            dragbarVal.priceOption = JSON.parse(JSON.stringify(dragbarVal.priceOption).replace(/\&nbsp;/g, " "));
                        }
                    .c-form__box(style="width:300px")
                        +formRange("Price", "priceOption", "FT00000005", "FT00000006", "FT00000005", "FT00000006", 0, 5)
            h3 exclamTooltip
            div(style="padding:20px; background: #f6f6f6; border-radius: 8px; margin: 5px 0 10px; display: flex; gap: 10px; flex-wrap: wrap;")
                +exclamTooltip
