extends ../_common/_layout-template.pug
include ../_common/_index.pug

block meta 
    - var componentName = "LGness Color test"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    //- link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js" type="module")

block content
    #contents
        .guide-page(style="padding:50px 0")
            h1.color-font-1(style="padding: 30px 0 0 0; font-size: 26px; text-align: center;") LGness
            p.color-font-3(style='max-width: 800px; padding: 30px 20px 20px; margin: 0 auto; text-align: center;')
                | 사업부/카테고리 별 BG Color 와 
                | Signature 제품을 위한 BG Color 를 적용할 수 있도록,
                br
                | 컬러를 변경할 수 있는 모든 경우의 클래스를 정의합니다.
                br
                | Product Card 와 같이 예외적인 케이스만 각 컴포넌트에서 처리합니다.
        
        mixin sample 
            div(style="max-width: 1500px; padding: 0 30px; margin: 0 auto; text-align: center;")
                +component-title-area({
                    headline : {
                        text : "Font Color",
                    }
                })(class="c-region-header--vacate-side")
                div(style="max-width: 800px; padding: 20px; margin: 0 auto; text-align: center;")
                    .color-font-0 color-font-0
                    .color-font-1 color-font-1
                    .color-font-2 color-font-2
                    .color-font-3 color-font-3
                +component-title-area({
                    headline : {
                        text : "BG Color",
                    }
                })(class="c-region-header--vacate-side")
                div(style="max-width: 800px; padding: 20px; margin: 0 auto; text-align: center; border: 1px solid #fff;")
                    .bg-default bg-default
                +component-title-area({
                    headline : {
                        text : "Box Style",
                    }
                })(class="c-region-header--vacate-side")
                div(style="max-width: 800px; padding: 20px; margin: 0 auto; text-align: center; display: flex; gap: 24px;")
                    .box-type-1.color-font-2(style="flex: 1; border-radius: 28px; line-height: 150px;") box-type-1 
                    .box-type-2.color-font-2(style="flex: 1; border-radius: 28px; line-height: 150px;") box-type-2
                +component-title-area({
                    headline : {
                        text : "Common UI",
                    },
                    description : {
                        text : "Make life better with our tips, information, and advice.",
                    }
                })(class="c-region-header--vacate-side")
                .tabs.panelcontainer
                    #tabs-78f2c1011a.cmp-tabs
                        div(class="cmp-tabs__inner")
                            ol(role="tablist", class="cmp-tabs__tablist", aria-label="LG Signature")
                                li#tabs-78f2c1011a-item-14a11613e8-tab(role="tab", class="cmp-tabs__tab cmp-tabs__tab--active", aria-controls="tabs-78f2c1011a-item-14a11613e8-tabpanel", tabindex="0") LG Signature
                                li#tabs-78f2c1011a-item-297aa24634-tab(role="tab", class="cmp-tabs__tab", aria-controls="tabs-78f2c1011a-item-297aa24634-tabpanel", tabindex="-1") TV/Audio/Video
                                li#tabs-78f2c1011a-item-46926ff690-tab(role="tab", class="cmp-tabs__tab", aria-controls="tabs-78f2c1011a-item-46926ff690-tabpanel", tabindex="-1") Appliances
                        #tabs-78f2c1011a-item-14a11613e8-tabpanel(role="tabpanel", aria-labelledby="tabs-78f2c1011a-item-14a11613e8-tab", tabindex="0", class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active") 
                            div(style="padding: 0; text-align: center;") LG Signature
                        #tabs-78f2c1011a-item-297aa24634-tabpanel(role="tabpanel", aria-labelledby="tabs-78f2c1011a-item-297aa24634-tab", tabindex="0", class="cmp-tabs__tabpanel")
                            div(style="padding: 0; text-align: center;") TV/Audio/Video
                        #tabs-78f2c1011a-item-46926ff690-tabpanel(role="tabpanel", aria-labelledby="tabs-78f2c1011a-item-46926ff690-tab", tabindex="0", class="cmp-tabs__tabpanel") 
                            div(style="padding: 0; text-align: center;") Appliances

        .c-wrapper.ST0000.border-top.margin-top.margin-bottom
            .component
                .cmp-container
                    +sample
