//- Updated 2024.06.03 14:52
extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_forms.pug
include ../_common/_pop-msg.pug
include ../PD0003/_summary-information.pug
include ../_common/_image.pug
include ../_common/_video.pug
include ../_common/_headline.pug
include ../_common/_carousel.pug
include ../_common/_summary-gallery.pug

block meta 
    - var componentId = "popup"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    //- link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href="../PD0003/PD0003.css")
    link(rel="stylesheet", href="../PD0017/PD0017.css")
    link(rel="stylesheet", href="../ST0035/ST0035.css")

block scripts
    //- script(src=componentId+".js" type="module")
    script(src="../ST0035/ST0035.js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440

    p(style="padding: 25px 25px 0;") Used in various components
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;")
        .button.c-cta
            +linkButton({href:"#popSimpleAlert", type:"box", color:"red", class:"js-pop-open", name:"Simple Alert", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popSimpleAlertOk", type:"box", color:"red", class:"js-pop-open", name:"Simple Alert (red btn)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popCopyComplete", type:"box", color:"red", class:"js-pop-open", name:"clipboard complete", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popWishlistSignIn", type:"box", color:"red", class:"js-pop-open", name:"Sign In to Create Your Wishlist", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popFindModel", type:"box", color:"red", class:"js-pop-open", name:"find my model", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popAddToWishList", type:"box", color:"red", class:"js-pop-open", name:"Add items to your MY LG wishlist", roleButton:"true"})
            
    p(style="padding: 25px 25px 0;") Buy now
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popAddToCart", type:"box", color:"red", class:"js-pop-open", name:"Add to cart", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popStockAlert", type:"box", color:"red", class:"js-pop-open", name:"Get Stock Alert", roleButton:"true"})

    p(style="padding: 25px 25px 0;") CT000C
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popTaxInfo", type:"box", color:"red", class:"js-pop-open", name:"Tax info (guest/member)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popSelectTaxType", type:"box", color:"red", class:"js-pop-open", name:"Select Tax type (after registration)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popGuestLogin", type:"box", color:"red", class:"js-pop-open", name:"Guest Login", roleButton:"true"})

    p(style="padding: 25px 25px 0;") Map for CN (PD0037, PD0035, ... )
    p(style="padding: 5px 25px 0;") * '发送卖场地址' popup LG RO1 not used
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popSMSSuccess", type:"box", color:"red", class:"js-pop-open", name:"SMS Success", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popSMSError", type:"box", color:"red", class:"js-pop-open", name:"SMS Error", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popSMSFail", type:"box", color:"red", class:"js-pop-open", name:"SMS Fail", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popSMSCountLimit", type:"box", color:"red", class:"js-pop-open", name:"SMS CountLimit", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popVertificationCode", type:"box", color:"red", class:"js-pop-open", name:"发送卖场地址", roleButton:"true"})

    p(style="padding: 25px 25px 0;") Invoice error pop-up
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
       .button.c-cta
            +linkButton({href:"#popInvoiceError", type:"box", color:"red", class:"js-pop-open", name:"InvoiceError", roleButton:"true"})

    p(style="padding: 25px 25px 0;") Geolocation (PD0016, PD0032, PD0034, ...)
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popNotSupportedGeolocation", type:"box", color:"red", class:"js-pop-open", name:"Geolocation is not supported", roleButton:"true"})

    p(style="padding: 25px 25px 0;") Compare
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#compareCountOver", type:"box", color:"red", class:"js-pop-open", name:"ready to Compare", roleButton:"true"})

    p(style="padding: 25px 25px 0;") CM0001. Browser not supported
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popBrowserNotSupported", type:"box", color:"red", class:"js-pop-open", name:"browser not supported", roleButton:"true"})

    p(style="padding: 25px 25px 0;") CM0009. Register Now
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popExpired", type:"box", color:"red", class:"js-pop-open", name:"expired", roleButton:"true"})

    p(style="padding: 25px 25px 0;") ST0035. Interactive Gallery Image
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popInteractiveGallery1", type:"box", color:"red", class:"js-pop-open", name:"gallery layer popup 1", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popInteractiveGallery2", type:"box", color:"red", class:"js-pop-open", name:"gallery layer popup 2", roleButton:"true"})

    p(style="padding: 25px 25px 0;") ST0041. Promotion Notify Me
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popNotifyMe", type:"box", color:"red", class:"js-pop-open", name:"notify me", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popNotifyMe_CA", type:"box", color:"red", class:"js-pop-open", name:"notify me (ca)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popNotifyMeSuccess", type:"box", color:"red", class:"js-pop-open", name:"notify me(success)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popNotifyMeError", type:"box", color:"red", class:"js-pop-open", name:"notify me(error)", roleButton:"true"})

    p(style="padding: 25px 25px 0;") PD0003. Product Summary
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popRecommendedBanner", type:"box", color:"red", class:"js-pop-open", name:"Recommended Promotion", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popPayWithAfterpay", type:"box", color:"red", class:"js-pop-open", name:"Pay with afterpay", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popRecommendedProducts", type:"box", color:"red", class:"js-pop-open", name:"Recommended products", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popSummaryGallery", type:"box", color:"red", class:"js-pop-open", name:"Summary Gallery", roleButton:"true"})

        .button.c-cta
            +linkButton({href:"#popInstallmentCalculator", type:"box", color:"red", class:"js-pop-open", name:"Installment Calculator", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popProductSpecs", type:"box", color:"red", class:"js-pop-open", name:"Product Specs", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popProductSpecsTab", type:"box", color:"red", class:"js-pop-open", name:"Product Specs Tab", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popSelectDate", type:"box", color:"red", class:"js-pop-open js-calendar-pop", name:"Select Date", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popFindRelayPoint", type:"box", color:"red", class:"js-pop-open", name:"Find Relay Point", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#calculateYourFinancing", type:"box", color:"red", class:"js-pop-open", name:"Calculate your financing", roleButton:"true"})

    p(style="padding: 25px 25px 0;") PD0011. Product Finder
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popCurationLearnMore", type:"box", color:"red", class:"js-pop-open", name:"Curation Learn More", roleButton:"true"})

    p(style="padding: 25px 25px 0;") PD0017. PDP Resources (Reference layer popup)
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popReference1", type:"box", color:"red", class:"js-pop-open", name:"Reference", roleButton:"true"})
    
    p(style="padding: 25px 25px 0;") PD0033. Functional Tab (Reference layer popup)
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popSimilarProducts", type:"box", color:"red", class:"js-pop-open", name:"Similar Product", roleButton:"true"})

    p(style="padding: 25px 25px 0;") PD0045. In House Review, PD0027, PD0040
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popPostReview", type:"box", color:"red", class:"js-pop-open", name:"post review", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popEditReview", type:"box", color:"red", class:"js-pop-open", name:"edit review", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popPostReviewMember", type:"box", color:"red", class:"js-pop-open", name:"Write a review (Member)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popPostReviewGuest", type:"box", color:"red", class:"js-pop-open", name:"Write a review (Guest)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popEditDelReviewMember", type:"box", color:"red", class:"js-pop-open", name:"Edit review (Member)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popEditReviewGuest", type:"box", color:"red", class:"js-pop-open", name:"Edit review (Guest)", roleButton:"true"})        
        .button.c-cta
            +linkButton({href:"#popDelReviewGuest", type:"box", color:"red", class:"js-pop-open", name:"Delete review (Guest)", roleButton:"true"})        
        .button.c-cta
            +linkButton({href:"#popSuccessSubmitReview", type:"box", color:"red", class:"js-pop-open", name:"submit(success)", roleButton:"true"})
        .button.c-cta
            +linkButton({href:"#popDelSubmitReview", type:"box", color:"red", class:"js-pop-open", name:"Delete review (Member) submit(Delete)", roleButton:"true"})    

    p(style="padding: 25px 25px 0;") Unseubscribe
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popUnsubscribe", type:"box", color:"red", class:"js-pop-open", name:"Unsubscribe", roleButton:"true"}) 

    p(style="padding: 25px 25px 0;") Promotion popup
    div(style="display: flex; gap: 20px; flex-wrap: wrap; padding: 10px 25px 25px; align-items: center;") 
        .button.c-cta
            +linkButton({href:"#popPromotionLogin", type:"box", color:"red", class:"js-pop-open", name:" Promotion popup", roleButton:"true"})

block modal
    //- ST0035
    +printLayerPopup('popInteractiveGallery1', {headline: 'lorem ipsum 01'})
    +printLayerPopup('popInteractiveGallery2', {headline: 'lorem ipsum 02'})

    //- PD0033 Functional Tab
    +printLayerPopup('popSimilarProducts')

    //- PD0017 PDP Resources
    +printLayerPopup('popReference1')

    //- PD0011. Product Finder
    +printLayerPopup('popCurationLearnMore')

    //- PD0003. Product Summary
    +printLayerPopup('popRecommendedBanner')
    +printLayerPopup('popPayWithAfterpay')
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popSummaryGallery')
    +printLayerPopup('popInstallmentCalculator')
    +printLayerPopup('popProductSpecs')
    +printLayerPopup('popProductSpecsTab')
    +printLayerPopup('popSelectDate')
    +printLayerPopup('popFindRelayPoint')

    //- Simple Alert Complete : ID and text can be changed.
    +printSimpleLayerPopup('popSimpleAlert', {desc: 'You have 4 products ready to compare'})
    +printSimpleLayerPopup('popSimpleAlertOk', {desc: "Want to cancel 'Get Stock Alert' ?", btn: "Ok", color: "red", btnCloseNone: true})

    //- Clipboard Copy Complete
    +printLayerPopup('popCopyComplete')

    //- Count over
    +printLayerPopup('compareCountOver')

    //- Count over
    +printLayerPopup('popBrowserNotSupported')

    //- Add to cart
    +printLayerPopup('popAddToCart')

    //- Add to wishlist
    +printLayerPopup('popAddToWishList')

    //- Sign in - for wishlist  
    +printLayerPopup('popWishlistSignIn')

    //- Stock Alert
    +printLayerPopup('popStockAlert')

    //- Brand Shop Popup
    +printLayerPopup('popVertificationCode')

    //- Notify Me
    +printLayerPopup('popNotifyMe')
    +printLayerPopup('popNotifyMe_CA')

    //- Notify Me(Success)
    +printLayerPopup('popNotifyMeSuccess')
    
    //- Notify Me(Error)
    +printLayerPopup('popNotifyMeError')
    
    //- Find Model
    +printLayerPopup('popFindModel')

    //- SMS Success
    +printLayerPopup('popSMSSuccess')
    
    //- SMS Error
    +printLayerPopup('popSMSError')
    
    //- SMS Fail
    +printLayerPopup('popSMSFail')
    
    //- SMS CountLimit
    +printLayerPopup('popSMSCountLimit')

    //- Browser/OS PopUp
    +printLayerPopup('popNotSupportedGeolocation')

    //- post review
    +printLayerPopup('popPostReview')

    //- edit review
    +printLayerPopup('popEditReview')

    //- post review member
    +printLayerPopup('popPostReviewMember')

    //- post review guest
    +printLayerPopup('popPostReviewGuest')

    //- edit review member
    +printLayerPopup('popEditDelReviewMember')

    //- edit review guest
    +printLayerPopup('popEditReviewGuest')

    //- del review guest
    +printLayerPopup('popDelReviewGuest')

    //- Success Submit
    +printLayerPopup('popSuccessSubmitReview')

    //- Success Submit
    +printLayerPopup('popDelSubmitReview')
 
    //- Event Expired
    +printLayerPopup('popExpired')
 
    //- Unsubscribe
    +printLayerPopup('popUnsubscribe')

    //- Calculate your financing
    +printLayerPopup('calculateYourFinancing')

    //- Promotion popup
    +printLayerPopup('popPromotionLogin')

    //- Invoice error popup
    +printLayerPopup('popInvoiceError')

    //- Checkout: Tax info popup
    +printLayerPopup('popTaxInfo')
    +printLayerPopup('popSelectTaxType')
    +printLayerPopup('popGuestLogin')
