extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0035"
    - var componentName = "CS Title"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
  
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-warmgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-warmgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-warmgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-warmgray, bg-darkgray'},
                                ]
                            },
                            //- {
                            //-     'name' : 'Align',
                            //-     'buttons' : [
                            //-         {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                            //-         {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                            //-         {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                            //-     ]
                            //- },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                            {
                                'name' : 'contents border',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'border-top', 'remove' : 'border-bottom'},
                                    {'toggle' : false, 'add' : 'border-bottom', 'remove' : 'border-top'},
                                ]
                            },
                        ],
                        '.cmp-container' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left'},
                                ]
                            }
                        ],
                    };
    mixin bodycopy 
        .text.c-text-contents__bodycopy 
            p.cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                a(href="") Aenean massa.
                |  Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters. 

    .guide-text-type CS Title
    .guide-text-type Type1
    // 2022-11-18 change the default text align
    // 20230309 change the default text align - .align-center delete
    .c-wrapper.CS0035.type-template-title.margin-top.margin-bottom
        //- block : CS0035 
        .component
            .cmp-container.align-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline
                        // 2022-11-18 change the default font size
                        h1.cmp-title.font-w-regular-54.font-m-regular-30(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetuer adipiscing
                    +bodycopy
    // 20230309 LGness new type add
    .guide-text-type new type - LGness 
    .c-wrapper.CS0035.margin-top.margin-bottom
        .component
            .cmp-container
                // block : text-contents
                .c-text-contents
                    .c-text-contents__eyebrow.font-m-normal-14.font-w-normal-20 Lorem ipsum
                    .title.c-text-contents__headline
                        h1.font-w-light-80.font-m-light-36 H1 title
                        +headline("font-w-light-56 font-m-light-28", h2, "H2 title")
                    .text.c-text-contents__subtitle
                        .cmp-text(class='font-w-normal-24 font-m-normal-18' data-cmp-data-layer="") 
                            p Lorem ipsum
                    +bodycopy
                // block :cta 
                .button__group
                    .button.c-cta
                        +defaultButton({name: 'Learn more', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                        +defaultButton({name: 'Learn more', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})

                    .button.c-cta 
                        +linkButton({type:"text", color:"black", size:"medium", name: "Button text", icon:true})
                        +linkButton({type:"text", color:"black", size:"medium", name: "Button text", icon:true})

    .guide-text-type new type - LGness (Required)
    .c-wrapper.CS0035.margin-top.margin-bottom
        .component
            .cmp-container
                // block : text-contents
                .c-text-contents
                    .c-text-contents__eyebrow.font-m-normal-14.font-w-normal-20 Lorem ipsum
                    .title.c-text-contents__headline
                        h1.font-w-light-80.font-m-light-36 H1 title
                        +headline("font-w-light-56 font-m-light-28", h2, "H2 title")
                    .text.c-text-contents__subtitle
                        .cmp-text(class='font-w-normal-24 font-m-normal-18' data-cmp-data-layer="") 
                            p Lorem ipsum
                    +bodycopy
                .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields



    //- // Type - Title
    //- .guide-text-type Type2 
    //- .c-wrapper.CS0035.type-section-title.margin-top.margin-bottom.align-center
    //-     //- block : CS0035 
    //-     .component
    //-         .cmp-container.align-container
    //-             //- block : text-contents
    //-             .c-text-contents
    //-                 .text.c-text-contents__eyebrow 
    //-                     span.cmp-text.font-w-semibold-18.font-m-semibold-16(data-cmp-data-layer="") Lorem ipsum
    //-                 // tag heading tag
    //-                 .title.c-text-contents__headline 
    //-                     +headline("font-w-semibold-40 font-m-semibold-26")
    //-                 +bodycopy
    //-                 //- block :cta 
    //-                 .button.c-cta
    //-                     +linkButton
    //-                     +linkButton({type:"box", color:"red"})
    //-                 //- block :cta 
    //-                 .button.c-cta
    //-                     +linkButton({type:"text",icon:true})
    //-                     +linkButton({type:"text",icon:true})
    //-                 //- block :cta 
    //-                 .button.c-cta
    //-                     +linkButton({type:"text", color:"black", underline:true, icon:true})
    //-                     +linkButton({type:"text", color:"black", underline:true, icon:true})
    
    //- .guide-text-type Case 01. Template Title
    //- // option division line class added .type-section-title__division-line
    //- .c-wrapper.CS0035.type-section-title.type-section-title__division-line.margin-top.margin-bottom.align-center
    //-     //- block : CS0035 
    //-     .component
    //-         .cmp-container.align-container
    //-             //- block : text-contents
    //-             .c-text-contents
    //-                 .text.c-text-contents__eyebrow 
    //-                     span.cmp-text.font-w-semibold-18.font-m-semibold-16(data-cmp-data-layer="") Lorem ipsum
    //-                 // tag heading tag
    //-                 .title.c-text-contents__headline 
    //-                     +headline("font-w-semibold-40 font-m-semibold-26")
    //-                 +bodycopy
    //-                 //- block :cta 
    //-                 .button.c-cta
    //-                     +linkButton
    //-                     +linkButton({type:"box", color:"red"})
    //-                 //- block :cta 
    //-                 .button.c-cta
    //-                     +linkButton({type:"text",icon:true})
    //-                     +linkButton({type:"text",icon:true})
    //-                 //- block :cta 
    //-                 .button.c-cta
    //-                     +linkButton({type:"text", color:"black", underline:true, icon:true})
    //-                     +linkButton({type:"text", color:"black", underline:true, icon:true})
    
    //- // Component Markup
    //- .guide-text-type Case 02. Need More Help?
    //- // class added .type-section-title, option top line class added .type-section-title__top-line
    //- .c-wrapper.CS0035.type-text.type-section-title.type-section-title__top-line.margin-bottom
    //-     .component
    //-         // .CS0200__container class added
    //-         .CS0035__container.cmp-container.align-container
    //-             // block : text-contents
    //-             .c-text-contents
    //-                 // eyebrow display:none
    //-                 .text.c-text-contents__eyebrow 
    //-                     span.cmp-text.font-w-semibold-18.font-m-semibold-16(data-cmp-data-layer="") Lorem ipsum
    //-                 // tag heading tag
    //-                 .title.c-text-contents__headline 
    //-                     +headline("font-w-semibold-40 font-m-semibold-26",h2,'Need More Help?')
    //-                 .text.c-text-contents__bodycopy
    //-                     .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
    //-                         p We look forward to speaking with you. 
    //-                             | Find further support in Contact Us.
    //-                 // Delete the second button (handle display:none) 
    //-                 .button.c-cta
    //-                     +linkButton({name:'contact us'})
    //-                     +linkButton({type:"box", color:"red"})
    //-                 // Delete text button (handle display:none)
    //-                 .button.c-cta
    //-                     +linkButton({type:"text",icon:true})
    //-                     +linkButton({type:"text",icon:true}) 




