include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_title-area.pug

mixin CM0010(option=false)
    mixin icon-block(params)
        - var options = {...params}
        - var titleStyle = "font-w-light-36 font-m-normal-16"
        - var bodyStyle = "font-w-normal-16 font-m-normal-14"
        .c-icon-block
            // block - image
            if(options.icon == "none")
                block
            else
                .image.c-image.c-icon-block__image
                    if(options.icon)
                        +printLazyImage(`../../assets/icon/${options.icon}`)(aria-hidden="true")
                    else
                        +printLazyImage("https://via.placeholder.com/64x64/808080/eee")(aria-hidden="true")
            // block - text-contents
            .c-text-contents.c-icon-block__text
                .title.c-text-contents__headline
                    .cmp-title(data-cmp-data-layer="" class=titleStyle)
                        h3.cmp-title__text= options.title
                .text.c-text-contents__bodycopy
                    .cmp-text(data-cmp-data-layer="" class=bodyStyle)= options.body

    mixin icon-block-list(params)
        .c-list(role="list")
            each set in params
                .c-list__item(role="listitem")
                    +icon-block(set)

    .c-wrapper.CM0010.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                //- title area
                if(option == 'ph')
                    +component-title-area({
                        alignment : "",
                        headline : {
                            text : "Join the LG membership club",
                        },
                        description : {
                            text : "Enjoy all the benefits of FREE LG membership, from special discounts to exclusive services and offers.",
                            style : "font-w-normal-24 font-m-normal-16"
                        }
                    })(class="c-region-header--justify-w")
                        //- buttons
                        // block - cta
                        .c-cta
                            +defaultButton({name: 'Sign in', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})
                            +defaultButton({name: 'Join us', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})

                    //- contents
                    +icon-block-list([
                        {title : "Welcome Voucher" , body : "5% off on your first order when you join", icon:"icon-mylg-coupon-64-64.svg"}, 
                        {title : "Free Delivery", body : "on all LG.com orders", icon:"Icon-mylg-delivery-64-64.svg"},
                        {title : "Free Installation", body : "on all LG.com purchases (valid for select products only)", icon:"icon-freeInstallation-64-64.svg"},
                    ])
                else if(option == 'no-icon')
                    +component-title-area({
                        alignment : "",
                        headline : {
                            text : "Become a LG Member",
                        },
                        description : {
                            text : "Enjoy all the benefits of FREE LG membership, from special discounts to exclusive services and offers.",
                            style : "font-w-normal-24 font-m-normal-16"
                        }
                    })(class="c-region-header--justify-w")
                        //- buttons
                        // block - cta
                        .c-cta
                            +defaultButton({name: 'Sign in', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})
                            +defaultButton({name: 'Join us', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})

                    //- contents
                    +icon-block-list([
                        {title : "Welcome Coupon" , body : "Get 5% off your first purchase when you join", icon:"none"}, 
                        {title : "Exclusive Pricing", body : "Receive an extra 2@ membership discount", icon:"none"}, 
                        {title : "Free Delivery", body : "Free Delivery for LG com orders", icon:"none"}, 
                    ])

                else
                    +component-title-area({
                        alignment : "",
                        headline : {
                            text : "Become a LG Member",
                        },
                        description : {
                            text : "Enjoy all the benefits of FREE LG membership, from special discounts to exclusive services and offers.",
                            style : "font-w-normal-24 font-m-normal-16"
                        }
                    })(class="c-region-header--justify-w")
                        //- buttons
                        // block - cta
                        .c-cta
                            +defaultButton({name: 'Sign in', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})
                            +defaultButton({name: 'Join us', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})

                    //- contents
                    +icon-block-list([
                        {title : "Welcome Coupon" , body : "Get 5% off your first purchase when you join"}, 
                        {title : "Exclusive Pricing", body : "Receive an extra 2@ membership discount"},
                        {title : "Free Delivery", body : "Free Delivery for LG com orders"},
                    ])