extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_product-list.pug

block meta 
    - var componentId = "CT0101"
    - var componentName = "You may also like"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
block scripts
    script(src=componentId+".js" type="module")

block content
    // Component Markup
    include ./CT0101-inc.pug
    +CT0101(10)
    +CT0101(1)