extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_product-list.pug
include ../_common/_pagination.pug
include ../_common/_cart-price-total.pug
//- [Start] 2023-04-03 : ADD - _forms mixin include		
include ../_common/_forms.pug
//- [End] 2023-04-03 : ADD - _forms mixin include		
include ../_common/_pop-msg.pug

block meta 
    - var componentId = "CT0100"
    - var componentName = "Cart Basket list with Total"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href="../../components/CM0010/CM0010.css")


block scripts
    script(src=componentId+".js" type="module")
    script(src="../../components/CM0010/CM0010.js" type="module")

block content
    //- mixin CT0100(option=false, empty=false)
    // Component Markup
    include ./CT0100-inc.pug
    .guide-text-option Option : Cart(Member)/default
    +CT0100()
    .guide-text-option Option : unit
    +CT0100("unit")
    .guide-text-option Option : sup
    +CT0100("sup")
    .guide-text-option Option : Cart(Guest)
    +CT0100("Guest")
    .guide-text-option Option : Cart(Member)/other
    +CT0100("other")
    .guide-text-option Option : Zipcode (mx)
    +CT0100(false, false, true)
    .guide-text-option Option : Cart (ca)
    +CT0100("ca", false, false)
    .guide-text-option Option : Cart (es)
    +CT0100("es", false, false)
    .guide-text-option Option : Cart (jp)
    +CT0100("jp", false, false)
    .guide-text-option Option : Cart (id)
    +CT0100("id", false, false)
    //- (co, pt, tk, sg, cn, hk, th, kz) vat add
    .guide-text-option Option : Cart (co, pt, tk, sg, cn, hk, th, kz)
    +CT0100("co, pt, tk, sg, cn, hk, th, kz", false, false)
    //- (sa) tax none
    .guide-text-option Option : Cart (sa)
    +CT0100("sa", false, false)
    .guide-text-option Option : Cart (in)
    +CT0100("in", false, false)
    .guide-text-option Option : Cart (it)
    +CT0100("it", false, false)
    .guide-text-option Option : Cart(Member-Empty)
    +CT0100("Member-Empty",true)
    .guide-text-option Option : unit-Empty
    +CT0100("unit-Empty",true)
    .guide-text-option Option : sup-Empty
    +CT0100("sup-Empty",true)
    .guide-text-option Option : Cart(Guest-Empty)
    +CT0100("Guest-Empty",true)
    .guide-text-option Option : [PH] Cart(Guest)
    +CT0100("Guest-Empty-PH",true)

block modal
    +printLayerPopup('popSaving')
    +printSuccessPopup('popRemoveCoupon', {desc: 'Are you sure you want to remove the coupon?', btn1: 'No', btn2: 'Yes'})