include ./CT0100-inc.pug

mixin buyProductItem(params)
    - let data = { ...params }
    .c-product-item
        .c-product-item__top-container
            .button
                +formCheckbox(false, `pdpPackageItem${data.id}`, `${data.name}`, `pdpPackageItem${data.id}`, count="false", disabled = data.outStock, labelledby = true, `aria__${data.name}`)(aria-describedby='basket_info grand_total')
                    strong.sr-only= `${data.name} Select`
            .c-product-item__visual-imagebuyProductItem
                a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="").image.c-image
                    //- +printLazyImage(`https://www.lg.com/uk/images/tvs/md07546594/gallery/GT1.jpg`)
                    +printLazyImage('https://via.placeholder.com/200x180/999999/000000')
        .c-product-item__bottom-container
            .c-product-item__bottom-container__text-box
                .c-text-contents.c-product-item__layout
                    .text.c-text-contents__eyebrow.sku
                        if data.name
                            .cmp-text(data-cmp-data-layer="" class="font-w-normal-16 font-m-normal-14")
                                p
                                    span= data.name
                        if data.inStock
                            span.font-w-normal-16.font-m-normal-12.font-green In Stock
                        if data.outStock
                            span.font-w-normal-16.font-m-normal-12.font-red Out of Stock
                    if data.plag
                        .text.c-text-contents__plag 
                            span.font-w-normal-16.font-m-normal-12= data.plag
                    a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="").text.c-text-contents__headline
                        .cmp-text(data-cmp-data-layer="" class="font-w-normal-20 font-m-normal-16") 
                            p(id=`aria__${data.name}`)= `${data.title ? `${data.title}` : 'LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5" Diag) IntGel® core™ i7 / 16GB / 2TB / Intel®  Iris® Plus Graphics / Noble Steel / Services A'}`
                    if data.warrantyinfo 
                        .c-text-contents__warrantyinfo 
                            each set in data.warrantyinfo
                                .c-text-contents__warrantyinfo__box
                                    span.font-w-normal-16.font-m-normal-12.c-text-contents__warrantyinfo__title !{set.title} :
                                    span.font-w-normal-16.font-m-normal-12.c-text-contents__warrantyinfo__text !{set.text}
                +buyProductPrice({
                    installment: data.installment, 
                    installmentPlus: data.installmentPlus, 
                    discount: `${data.discount ? '20% off' : ''}`, 
                    purchase: `${data.purchase ? data.purchase : '€1,866.98'}`, 
                    priceInstallment: data.priceInstallment, 
                    previousPrice: data.previousPrice, 
                    discount: data.discount, 
                    pricesup: data.pricesup, 
                    membership: data.membership,
                    productLabel: data.productLabel
                })
                if data.deliveryStartDate 
                    .c-product-item_delivery-status
                        span.font-w-normal-14.font-m-normal-12.c-product-item_delivery-status__text Shipment will start from
                            em.font-w-semibold-14.font-m-semibold-12.c-product-item_delivery-status__date !{data.deliveryStartDate}.
                if data.guideMsg 
                    .c-product-item_guise-msg 
                        span.font-w-normal-16.font-m-normal-12 !{data.guideMsg}
            if data.bundle
                .c-product-item__bundle
                    .c-product-item__bundle__items
                        each set in data.bundle 
                                +bundleAddItem2(set)
            .buy-product-btn
                .buy-product-btn__area
                    .buy-product-btn__pos
                        .buy-count-box(class=`${data.inStock ? 'inStock' : 'outStock'}`)
                            button(type='button' aria-describedby=`basket_info grand_total input-${data.name}`).buy-count-box__minus
                                span.sr-only minus
                            .buy-count-box__number
                                input(type='number' value= '1' title="Quantity" id=`input-${data.name}`)
                            button(type='button' aria-describedby=`basket_info grand_total input-${data.name}`).buy-count-box__plus.active
                                span.sr-only plus
                            if data.outStock 
                                a.cmp-button.c-button.c-button--text-underline.black.js-pop-open(href="#" role="button")
                                    span.cmp-button__text.c-button__text Get Stock Alert
                        // [Start] 2023-11-27 : ADD-cart subTotal area
                        if data.subTotalText && data.subTotalPrice
                            .c-product-item__sub-total
                                .c-text-contents.c-product-item__sub-total__price
                                    .c-text-contents__bodycopy
                                        span.cmp-text.font-w-semibold-32.font-m-semibold-24(data-cmp-data-layer="") !{data.subTotalText}
                                        span.cmp-text.font-w-semibold-32.font-m-semibold-24(data-cmp-data-layer="") !{data.subTotalPrice}
                                if data.subTotalLink
                                    +textButton({name: `${data.subTotalLink}`, wSize: 'medium', mSize: 'small', buttonStyle: 'default', underline : true, isButton: false, mainClass: 'js-pop-open'})
                        // [End] 2023-11-27 : ADD-cart subTotal area
                    button(type="button" class='c-product-item__input--delete' aria-describedby=`basket_info grand_total input-${data.name}`)
                        span.sr-only Delete

mixin ctWarrantyAdd(params)
    each data in params
        .ct-warranty
            if !data.items
                .ct-warranty-add
                    .c-text-contents
                        .c-text-contents__title
                            span.font-w-semibold-16.font-m-semibold-14 Buy Together
                            +button({type:"text", underline:true, color:"black", name:`${data.buttonName}`})
            if data.items
                .ct-warranty-add
                    .c-text-contents
                        .c-text-contents__title
                            span.font-w-semibold-16.font-m-semibold-14 Buy Together
                            +button({type:"text", underline:true, color:"black", name:`${data.buttonName}`})
                    each set in data.items
                        .ct-warranty-add__item
                            .image.c-image
                                +printLazyImage(`https://via.placeholder.com/200x200/999999/333333`)
                            .c-text-contents
                                .text.c-text-contents__eyebrow
                                    if set.code 
                                        span.font-w-normal-12.font-m-normal-12.font-regular= set.code
                                    if set.inStock
                                        span.font-w-semibold-12.font-m-semibold-12.font-green In Stock
                                    if set.outStock
                                        span.font-w-semibold-12.font-m-semibold-12.font-red Out of Stock
                                    if (set.code || set.inStock || set.outStock)
                                        .button.ct-warranty-add__edit
                                            // [Start] 2023-04-10 : REMOVE - Edit button		
                                            //- a.cmp-button.c-button.c-button--text-underline.black.js-pop-open(href="#" role="button")
                                            //-     span.cmp-button__text.c-button__text Edit
                                            // [End] 2023-04-10 : REMOVE - Edit button		
                                            +linkButton({href:"#", type:"text", class:"js-pop-open", underline:"true", name:"Edit", roleButton:"true"})
                                .c-text-contents__title
                                    span.font-w-normal-16.font-m-normal-14= set.title
                                    if !(set.code || set.inStock || set.outStock)
                                        .button.ct-warranty-add__edit
                                            // [Start] 2023-04-10 : REMOVE - Edit button		
                                            //- a.cmp-button.c-button.c-button--text-underline.black.js-pop-open(href="#" role="button")
                                            //-     span.cmp-button__text.c-button__text Edit
                                            // [End] 2023-04-10 : REMOVE - Edit button		
                                            +linkButton({href:"#", type:"text", class:"js-pop-open", underline:"true", name:"Edit", roleButton:"true"})
                                .ct-warranty-add__price-area
                                    // [Start] 2023-05-30 : UPDATE -about product price
                                    if set.pricePurchase
                                        .ct-warranty-add__price.ct-warranty-add__price--purchase
                                            if set.isOnlyPrice
                                                //- span.font-w-semibold-20.font-m-semibold-16 !{set.pricePurchase}
                                                span.font-w-semibold-20.font-m-semibold-16 
                                                    +unitPos(set.unitPos, set.pricePurchase, set.unitName)
                                            else
                                                //- span.font-w-semibold-20.font-m-semibold-16 !{set.pricePurchase}
                                                span.font-w-semibold-20.font-m-semibold-16 
                                                    +unitPos(set.unitPos, set.pricePurchase, set.unitName)
                                    if set.pricePrevious
                                        .ct-warranty-add__price.ct-warranty-add__price--previous
                                            //- span.font-w-normal-12.font-m-normal-12 !{set.pricePrevious}
                                            span.font-w-normal-12.font-m-normal-12 
                                                +unitPos(set.unitPos, set.pricePrevious, set.unitName)
                                    if set.priceDiscount
                                        .ct-warranty-add__price.ct-warranty-add__price--discount
                                            //- span.font-w-normal-12.font-m-normal-12 Save !{set.priceDiscount}
                                            span.font-w-normal-12.font-m-normal-12 Save 
                                                +unitPos(set.unitPos, set.priceDiscount, set.unitName)
                                    // [End] 2023-05-30 : UPDATE -about product price
                                if set.warning
                                    .c-text-contents__bodycopy.ct-warranty-warning
                                        p.font-w-normal-12.font-m-normal-12.font-red !{set.warning}
                                .c-text-contents__bottom
                                    if set.qty
                                        .c-text-contents__bodycopy
                                            span.font-w-normal-14.font-m-normal-14.font-black Qty: !{set.qty}
                                    button(type="button" class='c-product-item__input--delete')
                                        span.sr-only Delete

mixin product-card-info
    .c-product-card-info.text
        .cmp-text.c-product-card-info__text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer="")
            p You can pay with
        .c-product-card-info__image
            <svg width="416" height="18" viewBox="0 0 416 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_667_334676)">
                    <path d="M90.2983 0.318158L83.0012 17.728H78.2405L74.6496 3.83415C74.4316 2.97837 74.242 2.66486 73.579 2.30432C72.4971 1.71706 70.7095 1.16638 69.1367 0.824423L69.2435 0.318158H76.9069C77.8837 0.318158 78.7619 0.968407 78.9836 2.09328L80.8801 12.1675L85.5671 0.318158H90.2983ZM108.952 12.0438C108.971 7.44884 102.598 7.1957 102.642 5.14306C102.656 4.51836 103.25 3.85418 104.552 3.68465C105.198 3.60017 106.976 3.53573 108.992 4.46379L109.783 0.771881C108.7 0.378538 107.305 0 105.571 0C101.119 0 97.9863 2.36644 97.9599 5.755C97.9311 8.26136 100.196 9.65997 101.902 10.4928C103.658 11.3457 104.247 11.8938 104.24 12.6566C104.228 13.8245 102.84 14.34 101.543 14.3603C99.2795 14.3952 97.966 13.7478 96.9189 13.261L96.1026 17.0751C97.1549 17.5579 99.0972 17.9791 101.111 18.0003C105.842 18.0003 108.937 15.6632 108.952 12.0438ZM120.707 17.7283H124.872L121.236 0.318158H117.392C116.527 0.318158 115.798 0.82152 115.475 1.59543L108.717 17.728H113.446L114.385 15.1273H120.164L120.707 17.728L120.707 17.7283ZM115.682 11.5593L118.052 5.02259L119.417 11.5593H115.682H115.682ZM96.7334 0.318158L93.0093 17.728H88.5057L92.2313 0.318158H96.7334Z" fill="#1434CB"/>
                </g>
                <g clip-path="url(#clip1_667_334676)">
                    <path d="M156.041 17.7537V17.7999H156.084C156.092 17.8 156.1 17.798 156.107 17.794C156.11 17.792 156.112 17.7894 156.114 17.7863C156.115 17.7832 156.116 17.7798 156.116 17.7763C156.116 17.7729 156.115 17.7696 156.114 17.7666C156.112 17.7636 156.11 17.761 156.107 17.7591C156.1 17.7549 156.092 17.7528 156.084 17.7532H156.041V17.7537ZM156.084 17.7209C156.103 17.7198 156.121 17.7251 156.136 17.736C156.142 17.7409 156.147 17.7472 156.15 17.7543C156.153 17.7614 156.155 17.7691 156.154 17.7769C156.155 17.7836 156.153 17.7903 156.151 17.7965C156.148 17.8027 156.145 17.8083 156.14 17.8129C156.128 17.8229 156.114 17.829 156.098 17.8301L156.156 17.896H156.112L156.058 17.8306H156.041V17.896H156.004V17.721H156.085L156.084 17.7209ZM156.073 17.9564C156.092 17.9566 156.112 17.9527 156.13 17.9449C156.147 17.9374 156.162 17.9268 156.176 17.9135C156.189 17.9002 156.2 17.8845 156.207 17.8672C156.222 17.8306 156.222 17.7894 156.207 17.7527C156.2 17.7355 156.189 17.7198 156.176 17.7065C156.162 17.6932 156.147 17.6826 156.13 17.6751C156.111 17.6677 156.092 17.664 156.073 17.6642C156.053 17.6641 156.033 17.6677 156.015 17.6751C155.997 17.6824 155.981 17.693 155.968 17.7065C155.947 17.7274 155.933 17.754 155.928 17.7828C155.922 17.8116 155.925 17.8413 155.937 17.8684C155.944 17.8858 155.954 17.9015 155.968 17.9147C155.981 17.9281 155.997 17.9387 156.015 17.946C156.033 17.9538 156.053 17.9578 156.073 17.9576M156.073 17.6221C156.124 17.6221 156.172 17.642 156.209 17.6777C156.226 17.6948 156.24 17.7152 156.25 17.7377C156.259 17.7608 156.265 17.7857 156.265 17.8108C156.265 17.836 156.259 17.8609 156.25 17.884C156.24 17.9064 156.226 17.9268 156.209 17.944C156.191 17.9611 156.17 17.9748 156.148 17.9845C156.124 17.9946 156.098 17.9997 156.073 17.9996C156.047 17.9998 156.021 17.9946 155.997 17.9845C155.974 17.975 155.953 17.9613 155.935 17.944C155.918 17.9261 155.904 17.9051 155.895 17.882C155.885 17.8589 155.88 17.834 155.88 17.8089C155.88 17.7837 155.885 17.7588 155.895 17.7357C155.905 17.7132 155.919 17.6928 155.936 17.6757C155.954 17.6582 155.974 17.6444 155.997 17.6352C156.021 17.6251 156.047 17.62 156.073 17.6202M138.361 16.9463C138.361 16.6126 138.58 16.3384 138.937 16.3384C139.279 16.3384 139.509 16.6008 139.509 16.9463C139.509 17.2918 139.279 17.5541 138.937 17.5541C138.58 17.5541 138.361 17.28 138.361 16.9463ZM139.898 16.9463V15.9966H139.486V16.228C139.355 16.057 139.156 15.9498 138.886 15.9498C138.354 15.9498 137.936 16.3671 137.936 16.9467C137.936 17.5264 138.354 17.9437 138.886 17.9437C139.156 17.9437 139.355 17.8364 139.486 17.6655V17.896H139.898V16.9463H139.898ZM153.847 16.9463C153.847 16.6126 154.066 16.3384 154.423 16.3384C154.765 16.3384 154.995 16.6008 154.995 16.9463C154.995 17.2918 154.765 17.5541 154.423 17.5541C154.066 17.5541 153.847 17.28 153.847 16.9463ZM155.385 16.9463V15.2344H154.972V16.228C154.841 16.057 154.642 15.9498 154.372 15.9498C153.84 15.9498 153.422 16.3671 153.422 16.9467C153.422 17.5264 153.84 17.9437 154.372 17.9437C154.642 17.9437 154.841 17.8364 154.972 17.6655V17.896H155.385V16.9463ZM145.022 16.3189C145.288 16.3189 145.459 16.4857 145.503 16.7794H144.518C144.562 16.5052 144.728 16.3189 145.022 16.3189M145.03 15.9487C144.474 15.9487 144.085 16.3536 144.085 16.9457C144.085 17.5494 144.49 17.9427 145.058 17.9427C145.344 17.9427 145.606 17.8713 145.836 17.6766L145.634 17.3707C145.475 17.4979 145.272 17.5693 145.082 17.5693C144.816 17.5693 144.573 17.4461 144.514 17.1043H145.924C145.928 17.0529 145.932 17.0011 145.932 16.9456C145.928 16.3537 145.562 15.9486 145.03 15.9486M150.014 16.9456C150.014 16.6119 150.233 16.3377 150.59 16.3377C150.932 16.3377 151.162 16.6001 151.162 16.9456C151.162 17.2911 150.932 17.5534 150.59 17.5534C150.233 17.5534 150.014 17.2793 150.014 16.9456M151.551 16.9456V15.9966H151.139V16.228C151.007 16.057 150.809 15.9498 150.539 15.9498C150.007 15.9498 149.589 16.3671 149.589 16.9467C149.589 17.5264 150.007 17.9437 150.539 17.9437C150.809 17.9437 151.007 17.8364 151.139 17.6655V17.896H151.551V16.9463L151.551 16.9456ZM147.683 16.9456C147.683 17.5215 148.084 17.9425 148.696 17.9425C148.982 17.9425 149.172 17.8789 149.378 17.7162L149.18 17.3825C149.025 17.4939 148.862 17.5534 148.683 17.5534C148.353 17.5494 148.111 17.3111 148.111 16.9456C148.111 16.5801 148.353 16.3419 148.683 16.3377C148.862 16.3377 149.025 16.3973 149.18 16.5087L149.378 16.175C149.172 16.0123 148.981 15.9486 148.696 15.9486C148.084 15.9486 147.683 16.3696 147.683 16.9456ZM153.005 15.9486C152.767 15.9486 152.612 16.06 152.505 16.2268V15.9966H152.095V17.895H152.509V16.8308C152.509 16.5167 152.644 16.3421 152.914 16.3421C153.002 16.3409 153.09 16.3571 153.172 16.3899L153.299 16.0008C153.208 15.9648 153.088 15.949 153.005 15.949M141.939 16.1476C141.741 16.0166 141.467 15.949 141.165 15.949C140.684 15.949 140.375 16.1795 140.375 16.5567C140.375 16.8662 140.605 17.0572 141.03 17.1168L141.225 17.1445C141.451 17.1763 141.558 17.2359 141.558 17.3431C141.558 17.4899 141.408 17.5737 141.125 17.5737C140.839 17.5737 140.633 17.4823 140.494 17.3751L140.3 17.697C140.526 17.8638 140.812 17.9433 141.122 17.9433C141.67 17.9433 141.988 17.6852 141.988 17.3237C141.988 16.99 141.738 16.8155 141.325 16.7559L141.13 16.7277C140.951 16.7045 140.808 16.6686 140.808 16.5413C140.808 16.4025 140.943 16.319 141.17 16.319C141.412 16.319 141.646 16.4104 141.761 16.4818L141.94 16.148L141.939 16.1476ZM147.266 15.9493C147.028 15.9493 146.873 16.0607 146.766 16.2275V15.9966H146.357V17.895H146.77V16.8308C146.77 16.5167 146.905 16.3421 147.175 16.3421C147.263 16.3409 147.351 16.3571 147.433 16.3899L147.56 16.0008C147.469 15.9648 147.35 15.949 147.266 15.949M143.743 15.9966H143.068V15.4207H142.651V15.9966H142.266V16.3739H142.651V17.24C142.651 17.6804 142.822 17.9428 143.31 17.9428C143.489 17.9428 143.696 17.8872 143.827 17.796L143.707 17.4425C143.584 17.5139 143.449 17.5498 143.342 17.5498C143.136 17.5498 143.068 17.4226 143.068 17.2321V16.3743H143.743V15.9966ZM137.571 17.8955V16.7041C137.571 16.2554 137.285 15.9535 136.824 15.9494C136.582 15.9454 136.332 16.0208 136.157 16.2872C136.026 16.0767 135.82 15.9494 135.53 15.9494C135.327 15.9494 135.129 16.009 134.974 16.2313V15.9966H134.561V17.895H134.977V16.8424C134.977 16.5129 135.16 16.3377 135.442 16.3377C135.716 16.3377 135.855 16.5165 135.855 16.8382V17.8948H136.272V16.8422C136.272 16.5126 136.463 16.3375 136.737 16.3375C137.019 16.3375 137.153 16.5162 137.153 16.838V17.8945L137.571 17.8955Z" fill="#231F20"/>
                    <path d="M156.274 11.5813V11.3037H156.202L156.118 11.4942L156.035 11.3037H155.963V11.5813H156.014V11.3722L156.092 11.5526H156.146L156.224 11.3717V11.5813H156.275H156.274ZM155.816 11.5813V11.3513H155.908V11.3044H155.672V11.3513H155.764V11.5813H155.815H155.816Z" fill="#F79410"/>
                    <path d="M148.059 12.7714H141.803V1.52832H148.059L148.059 12.7714Z" fill="#FF5F00"/>
                    <path d="M142.198 7.15033C142.198 4.86968 143.266 2.83807 144.929 1.52881C143.67 0.536305 142.114 -0.00236066 140.511 7.77699e-06C136.562 7.77699e-06 133.361 3.20127 133.361 7.15033C133.361 11.0994 136.562 14.3007 140.511 14.3007C142.114 14.3031 143.671 13.7644 144.929 12.7719C143.267 11.4628 142.198 9.4311 142.198 7.15033Z" fill="#EB001B"/>
                    <path d="M156.498 7.15033C156.498 11.0994 153.297 14.3007 149.349 14.3007C147.746 14.303 146.189 13.7644 144.93 12.7719C146.593 11.4626 147.661 9.4311 147.661 7.15033C147.661 4.86957 146.593 2.83807 144.93 1.52881C146.189 0.536335 147.746 -0.00231915 149.349 7.50572e-06C153.297 7.50572e-06 156.498 3.20127 156.498 7.15033" fill="#F79E1B"/>
                </g>
                <g clip-path="url(#clip2_667_334676)">
                    <path d="M165.643 0.0117188H183.553V9.71653L182.666 11.1069L183.553 12.3443V17.9892H165.643V8.8406L166.197 8.20102L165.643 7.58926V0.0117188Z" fill="#016FD0"/>
                    <path d="M165.641 0.0126953H183.551V9.71751L182.665 11.1079L183.551 12.3453V17.9902H165.641V8.84157L166.195 8.202L165.641 7.59023V0.0126953Z" fill="#016FD0"/>
                    <path d="M169.119 12.5384V9.71597H172.097L172.416 10.134L172.746 9.71597H183.553V12.3438C183.553 12.3438 183.27 12.5356 182.944 12.5385H176.96L176.599 12.0935V12.5385H175.419V11.779C175.419 11.779 175.258 11.885 174.909 11.885H174.508V12.5385H172.721L172.402 12.1115L172.078 12.5385L169.119 12.5384ZM165.643 7.58871L166.314 6.01758H167.475L167.856 6.89766V6.01758H169.299L169.526 6.65367L169.746 6.01758H176.225V6.33737C176.225 6.33737 176.566 6.01758 177.126 6.01758L179.228 6.02497L179.602 6.89351V6.01758H180.81L181.143 6.51649V6.01758H182.362V8.84005H181.143L180.824 8.3395V8.84003H179.05L178.871 8.39511H178.394L178.218 8.84003H177.015C176.533 8.84003 176.225 8.52678 176.225 8.52678V8.84003H174.411L174.051 8.39513V8.84005H167.303L167.125 8.39513H166.649L166.472 8.84003H165.643V7.58871Z" fill="white"/>
                    <path d="M166.55 6.3656L165.645 8.47896H166.234L166.401 8.05576H167.373L167.539 8.47896H168.141L167.237 6.3656H166.55ZM166.885 6.85742L167.181 7.59695H166.588L166.885 6.85742ZM168.204 8.4786V6.36523L169.041 6.36835L169.529 7.73093L170.004 6.36523H170.836V8.4786H170.309V6.92138L169.751 8.4786H169.29L168.73 6.92138V8.4786H168.204ZM171.196 8.4786V6.36523H172.913V6.83796H171.728V7.19945H172.886V7.64438H171.728V8.01979H172.913V8.4786H171.196ZM173.218 6.3656V8.47896H173.744V7.72815H173.966L174.597 8.47896H175.24L174.548 7.70034C174.832 7.67626 175.125 7.4314 175.125 7.05122C175.125 6.6065 174.777 6.3656 174.389 6.3656H173.218ZM173.744 6.83832H174.346C174.49 6.83832 174.595 6.95164 174.595 7.06077C174.595 7.20116 174.459 7.28324 174.354 7.28324H173.744V6.83832ZM175.878 8.4786H175.34V6.36523H175.878V8.4786ZM177.152 8.4786H177.036C176.475 8.4786 176.134 8.03471 176.134 7.4306C176.134 6.81156 176.471 6.36523 177.18 6.36523H177.761V6.86577H177.158C176.871 6.86577 176.667 7.09117 176.667 7.43581C176.667 7.8451 176.9 8.01699 177.235 8.01699H177.374L177.152 8.4786ZM178.297 6.3656L177.392 8.47896H177.981L178.148 8.05576H179.12L179.286 8.47896H179.889L178.984 6.3656H178.297ZM178.632 6.85742L178.928 7.59695H178.335L178.632 6.85742ZM179.95 8.4786V6.36523H180.619L181.474 7.69304V6.36523H182V8.4786H181.353L180.476 7.11604V8.4786H179.95ZM169.478 12.177V10.0636H171.196V10.5363H170.01V10.8979H171.168V11.3428H170.01V11.7182H171.196V12.177H169.478ZM177.894 12.177V10.0636H179.612V10.5363H178.426V10.8979H179.579V11.3428H178.426V11.7182H179.612V12.177H177.894ZM171.262 12.177L172.099 11.1334L171.242 10.0636H171.906L172.415 10.7249L172.927 10.0636H173.564L172.719 11.1203L173.557 12.177H172.894L172.399 11.5261L171.916 12.177H171.262ZM173.62 10.064V12.1773H174.16V11.51H174.714C175.183 11.51 175.538 11.2603 175.538 10.7748C175.538 10.3726 175.26 10.064 174.782 10.064H173.62ZM174.16 10.5419H174.743C174.895 10.5419 175.003 10.6351 175.003 10.7852C175.003 10.9263 174.895 11.0286 174.742 11.0286H174.16V10.5419ZM175.767 10.0636V12.177H176.293V11.4262H176.515L177.146 12.177H177.789L177.097 11.3984C177.381 11.3743 177.674 11.1294 177.674 10.7492C177.674 10.3045 177.326 10.0636 176.938 10.0636H175.767ZM176.293 10.5363H176.895C177.039 10.5363 177.144 10.6497 177.144 10.7588C177.144 10.8992 177.008 10.9813 176.903 10.9813H176.293V10.5363ZM179.856 12.177V11.7182H180.909C181.065 11.7182 181.133 11.6336 181.133 11.5409C181.133 11.452 181.065 11.3622 180.909 11.3622H180.433C180.019 11.3622 179.789 11.1092 179.789 10.7293C179.789 10.3904 180 10.0636 180.615 10.0636H181.64L181.418 10.5391H180.532C180.362 10.5391 180.31 10.6284 180.31 10.7136C180.31 10.8012 180.375 10.8979 180.504 10.8979H181.003C181.464 10.8979 181.664 11.1605 181.664 11.5044C181.664 11.8742 181.441 12.177 180.978 12.177H179.856ZM181.788 12.177V11.7182H182.841C182.997 11.7182 183.065 11.6336 183.065 11.5409C183.065 11.452 182.997 11.3622 182.841 11.3622H182.365C181.951 11.3622 181.721 11.1092 181.721 10.7293C181.721 10.3904 181.932 10.0636 182.547 10.0636H183.572L183.35 10.5391H182.464C182.294 10.5391 182.242 10.6284 182.242 10.7136C182.242 10.8012 182.307 10.8979 182.436 10.8979H182.935C183.396 10.8979 183.596 11.1605 183.596 11.5044C183.596 11.8742 183.373 12.177 182.91 12.177H181.788Z" fill="#016FD0"/>
                </g>
                <g clip-path="url(#clip3_667_334676)">
                    <path d="M195.575 6.37661H197.327C198.29 6.37661 199.847 6.37661 199.847 4.46672C199.847 2.73328 198.451 2.63732 197.309 2.63732H195.575V6.37661ZM191.619 0H198.154C199.256 0 200.695 0 201.868 0.727429C203.041 1.45486 203.877 2.73637 203.877 4.58435C203.877 7.08547 202.283 8.16578 201.732 8.46294C200.63 9.08203 198.918 9.08203 198.151 9.08203L195.591 9.1006V14.2174H191.619V0Z" fill="#0047BA"/>
                    <path d="M208.332 11.5925C208.623 12.1063 209.18 12.4128 209.769 12.3787C211.384 12.3787 211.697 10.6267 211.697 9.24923C211.697 7.53745 211.282 6.10116 209.809 6.10116C208.174 6.10116 207.859 7.77579 207.859 9.24923C207.859 9.89927 207.918 10.862 208.332 11.5894M209.809 3.99316C213.016 3.99316 215.517 5.60899 215.517 9.10993C215.517 10.5462 215.102 12.0042 214.081 13.0257C213.254 13.8336 212.034 14.4434 210.007 14.4434C207.822 14.4434 206.404 13.911 205.441 12.9885C204.299 11.9051 204.023 10.4286 204.023 9.22756C204.023 6.19712 205.881 3.99316 209.809 3.99316Z" fill="#0047BA"/>
                    <path d="M219.8 11.0015C219.788 11.3049 219.84 11.6051 219.958 11.8868C220.15 12.3047 220.586 12.5523 221.041 12.5059C221.89 12.5059 222.165 11.9363 222.165 11.4999C222.165 10.8096 221.596 10.6146 220.766 10.3979L218.757 9.82833C218.138 9.67047 216.355 9.17829 216.355 7.15078C216.355 6.2531 216.798 5.41423 217.534 4.90658C218.401 4.28749 219.58 4.06152 221.038 4.06152C223.165 4.06152 225.387 4.63109 225.545 7.38912H222.041C222.063 7.06101 222.017 6.73289 221.905 6.42644C221.747 6.1169 221.472 5.89403 220.88 5.89403C220.289 5.89403 219.779 6.15095 219.779 6.76075C219.779 7.37055 220.19 7.54699 220.781 7.68938L223.419 8.41681C224.347 8.67373 225.74 9.20305 225.74 11.1346C225.74 14.4808 221.862 14.4808 220.995 14.4808C218.986 14.4808 216.095 14.1712 216.135 10.9984H219.8V11.0015Z" fill="#0047BA"/>
                    <path d="M233.873 4.36192V6.72374H231.492V10.1473C231.511 11.3669 231.511 11.9179 232.929 11.9179C233.238 11.9241 233.551 11.9024 233.857 11.8591V14.1838C233.065 14.3138 232.26 14.3726 231.455 14.3602C228.502 14.3602 227.914 13.3758 227.914 11.466V6.73303H226.057V4.36192H227.991V2.8142L231.554 1.39648V4.36192H233.873Z" fill="#0047BA"/>
                    <path d="M241.354 8.0109C241.316 7.44134 241.196 5.94315 239.583 5.94315C237.97 5.94315 237.834 7.5373 237.794 8.0109H241.354ZM237.754 10.0198C237.754 10.5523 237.754 12.4219 239.642 12.4219C240.626 12.4219 241.236 11.9112 241.335 10.9856H244.78C244.505 13.462 242.183 14.4308 239.623 14.4308C236.178 14.4308 234.33 12.6974 234.33 9.43171C234.33 6.16602 235.946 3.97754 239.592 3.97754C242.347 3.97754 243.616 5.10118 244.297 6.49723C244.731 7.34229 244.848 8.28949 244.848 10.0198H237.754Z" fill="#0047BA"/>
                    <path d="M250.804 13.2272C251.615 13.2612 252.389 12.9022 252.891 12.2645C253.6 11.3018 253.699 9.88411 253.699 9.16906C253.699 7.39847 253.166 5.54739 250.984 5.54739C248.031 5.54739 248.031 8.67689 248.031 9.57147C248.031 10.7725 248.207 13.2334 250.817 13.2334M246.254 5.94361C246.254 5.51025 246.232 5.27499 246.195 4.32779H248.053L248.093 5.96218C249.021 4.41446 250.653 4.16992 251.458 4.16992C253.584 4.16992 255.612 5.62788 255.612 9.28978C255.612 12.9517 253.482 14.5768 251.12 14.5768C249.684 14.5768 248.622 13.9577 248.09 13.1003V18.0004H246.254V5.94361Z" fill="#0047BA"/>
                    <path d="M262.164 9.34808C261.415 9.34808 258.601 9.34808 258.601 11.357C258.601 11.9761 258.995 13.0688 260.648 13.0688C261.489 13.1121 262.291 12.7066 262.752 12.004C263.167 11.3354 263.186 10.7844 263.226 9.40689C262.873 9.36356 262.52 9.34498 262.164 9.34808ZM263.443 14.2079C263.319 13.7219 263.263 13.2205 263.279 12.719C262.715 13.8767 261.511 14.5825 260.227 14.5113C257.964 14.5113 256.744 13.2329 256.744 11.5985C256.738 10.3881 257.404 9.27069 258.475 8.70423C259.539 8.113 261.112 8.05418 261.898 8.05418C262.372 8.05418 262.666 8.07276 263.238 8.113C263.238 6.89339 263.238 6.36098 262.882 5.92761C262.508 5.43544 261.703 5.27757 261.171 5.27757C259.313 5.27757 259.202 6.55599 259.183 6.95221H257.326C257.351 6.2743 257.592 5.62426 258.016 5.09494C258.766 4.26846 260.162 4.0332 261.205 4.0332C262.641 4.0332 264.176 4.48514 264.709 5.49116C264.956 5.95857 265.071 6.4817 265.043 7.00792L264.966 11.7316C264.972 12.5581 265.024 13.3845 265.124 14.2079H263.443Z" fill="#0047BA"/>
                    <path d="M271.736 14.2695L270.319 17.95H268.412L269.907 14.1705L265.793 4.33008H267.879L270.969 12.1244L274.117 4.33008H276.126L271.736 14.2695Z" fill="#0047BA"/>
                </g>
                <g clip-path="url(#clip4_667_334676)">
                    <path d="M299.491 4.57311C299.711 3.1729 299.49 2.22014 298.732 1.35718C297.899 0.407042 296.393 0 294.467 0H288.875C288.481 0 288.146 0.286613 288.085 0.675718L285.756 15.4478C285.71 15.7392 285.935 16.0028 286.23 16.0028H289.682L289.444 17.5144C289.404 17.7694 289.601 18 289.859 18H292.769C293.113 18 293.406 17.7492 293.46 17.4089L293.489 17.261L294.037 13.7834L294.072 13.5912C294.126 13.2509 294.419 13.0002 294.763 13.0002H295.199C298.018 13.0002 300.225 11.8543 300.87 8.54074C301.14 7.15615 301 6.00033 300.288 5.18786C300.072 4.94206 299.804 4.73889 299.491 4.57311Z" fill="#459ADB"/>
                    <path d="M299.491 4.5723C299.711 3.17209 299.49 2.21933 298.732 1.35637C297.899 0.406236 296.393 -0.000806808 294.467 -0.000806808H288.875C288.481 -0.000806808 288.146 0.285808 288.085 0.674911L285.756 15.447C285.71 15.7384 285.935 16.002 286.23 16.002H289.682L290.55 10.5007L290.523 10.6731C290.584 10.2841 290.916 9.99749 291.31 9.99749H292.951C296.173 9.99749 298.697 8.68778 299.434 4.89993C299.456 4.78777 299.474 4.67913 299.491 4.5723Z" fill="#232D62"/>
                    <path d="M291.481 4.59085C291.518 4.35684 291.668 4.16526 291.87 4.06831C291.962 4.02427 292.065 3.99978 292.173 3.99978H296.556C297.075 3.99978 297.559 4.03374 298.002 4.10509C298.129 4.12555 298.252 4.14893 298.371 4.17544C298.491 4.20204 298.607 4.23167 298.719 4.26463C298.776 4.28095 298.831 4.29819 298.885 4.31623C299.102 4.38848 299.305 4.47364 299.491 4.5723C299.711 3.17209 299.49 2.21933 298.732 1.35637C297.899 0.406236 296.393 -0.000806808 294.467 -0.000806808H288.875C288.481 -0.000806808 288.146 0.285808 288.085 0.674911L285.756 15.447C285.71 15.7384 285.935 16.002 286.23 16.002H289.682L290.55 10.5007L291.481 4.59085Z" fill="#253B7D"/>
                </g>
                <g clip-path="url(#clip5_667_334676)">
                    <path d="M337.333 9.83759C335.694 9.83759 334.358 8.57639 334.358 7.02827C334.358 5.47994 335.694 4.21896 337.333 4.21896C338.972 4.21896 340.307 5.47994 340.307 7.02827C340.307 8.57639 338.972 9.83759 337.333 9.83759ZM337.333 5.30268C336.325 5.30268 335.505 6.07674 335.505 7.02849C335.505 7.98002 336.325 8.75408 337.333 8.75408C338.34 8.75408 339.16 7.98002 339.16 7.02849C339.16 6.07674 338.34 5.30268 337.333 5.30268ZM373.631 9.01825C373.855 8.80687 373.855 8.46329 373.631 8.2517C373.407 8.04032 373.043 8.04032 372.82 8.2517C372.108 8.92382 370.949 8.92382 370.233 8.2517C369.521 7.57958 369.521 6.48083 370.233 5.80871C370.577 5.48402 371.036 5.30268 371.524 5.30268C372.012 5.30268 372.472 5.48402 372.816 5.80871C373.04 6.02009 373.403 6.02009 373.627 5.80871C373.851 5.59733 373.851 5.25354 373.627 5.04216C373.064 4.50974 372.32 4.21896 371.524 4.21896C370.729 4.21896 369.981 4.50974 369.421 5.04216C368.262 6.13726 368.262 7.91929 369.421 9.01439C370.001 9.56204 370.764 9.83759 371.524 9.83759C372.288 9.84145 373.051 9.56547 373.631 9.01825ZM327.654 7.03192C327.654 8.58004 328.957 9.84123 330.56 9.84123C331.248 9.84123 331.852 9.60711 332.319 9.21825V9.3013C332.319 9.59959 332.575 9.84145 332.891 9.84145C333.207 9.84145 333.463 9.59959 333.463 9.3013V2.2704C333.463 1.97211 333.207 1.73047 332.891 1.73047C332.575 1.73047 332.319 1.97211 332.319 2.2704V4.84194C331.851 4.45308 331.248 4.21896 330.56 4.21896C328.957 4.22261 327.654 5.47994 327.654 7.03192ZM328.801 7.03192C328.801 6.08039 329.589 5.30633 330.56 5.30633C331.532 5.30633 332.319 6.08039 332.319 7.03192C332.319 7.98345 331.532 8.75773 330.56 8.75773C329.589 8.75773 328.801 7.98345 328.801 7.03192ZM349.355 6.40143C349.351 5.19688 348.315 4.21896 347.04 4.21896C346.344 4.21896 345.72 4.50974 345.297 4.97027C344.873 4.50974 344.249 4.21896 343.553 4.21896C342.278 4.21896 341.238 5.20075 341.238 6.40529V6.40915V9.29744C341.238 9.59595 341.494 9.8378 341.81 9.8378C342.126 9.8378 342.382 9.59595 342.382 9.29744V6.40915C342.382 5.8012 342.906 5.30268 343.553 5.30268C344.197 5.30268 344.725 5.79733 344.725 6.40915V9.29744C344.725 9.59595 344.981 9.8378 345.297 9.8378C345.612 9.8378 345.868 9.59595 345.868 9.29744V6.40915C345.868 5.8012 346.392 5.30268 347.04 5.30268C347.683 5.30268 348.211 5.79733 348.211 6.40915V9.29744C348.211 9.59595 348.467 9.8378 348.783 9.8378C349.099 9.8378 349.355 9.59595 349.355 9.29744V6.40915C349.355 6.40508 349.355 6.40508 349.355 6.40143ZM367.598 9.29722V4.75889C367.598 4.4606 367.342 4.21896 367.026 4.21896C366.71 4.21896 366.454 4.4606 366.454 4.75889V9.29379C366.454 9.59209 366.71 9.83394 367.026 9.83394C367.342 9.83394 367.598 9.59573 367.598 9.29722ZM367.026 1.73068C366.619 1.73068 366.291 2.044 366.291 2.42534C366.291 2.80668 366.623 3.12021 367.026 3.12021C367.43 3.12021 367.762 2.8069 367.762 2.42534C367.762 2.04378 367.434 1.73068 367.026 1.73068ZM361.613 8.18367C361.613 7.02827 360.342 6.75273 359.446 6.55229C358.427 6.32954 358.067 6.18597 358.067 5.82738C358.067 5.52544 358.471 5.28358 359.098 5.28358C359.582 5.28358 360.058 5.40054 360.514 5.63853C360.786 5.77823 361.122 5.68381 361.27 5.4308C361.417 5.17414 361.317 4.85696 361.05 4.71726C360.43 4.39622 359.774 4.23398 359.098 4.23398C357.935 4.23398 356.907 4.94387 356.907 5.83489C356.907 7.09608 358.247 7.37935 359.194 7.58687C360.086 7.78323 360.458 7.94933 360.458 8.22123C360.458 8.6706 359.822 8.78755 359.282 8.78755C358.671 8.78755 358.215 8.6442 357.599 8.25535C357.343 8.0929 356.995 8.15706 356.823 8.3987C356.651 8.64034 356.719 8.96889 356.975 9.13134C357.775 9.63715 358.442 9.84467 359.278 9.84467C360.861 9.83759 361.613 9.02941 361.613 8.18367ZM364.887 8.75386C364.244 8.75386 363.776 8.25921 363.776 7.6476V5.30655H364.967C365.255 5.30655 365.491 5.08744 365.491 4.81189C365.491 4.53635 365.255 4.31724 364.967 4.31724H363.776V3.10905C363.776 2.81076 363.52 2.56912 363.204 2.56912C362.888 2.56912 362.632 2.81076 362.632 3.10905V7.64396C362.632 8.85215 363.612 9.83029 364.891 9.83029C365.207 9.83029 365.463 9.58844 365.463 9.29036C365.459 8.9955 365.203 8.75386 364.887 8.75386ZM356.008 6.79779C356.008 5.25332 354.549 4.21874 353.185 4.21874C351.55 4.21874 350.219 5.47608 350.219 7.02055C350.219 8.62918 351.518 9.84123 353.237 9.84123C354.149 9.84123 354.832 9.53157 355.156 9.35045C355.308 9.2674 355.436 9.09357 355.436 8.89721C355.436 8.65171 355.224 8.41394 354.912 8.41394C354.82 8.41394 354.708 8.44784 354.62 8.48948C354.268 8.67446 353.793 8.87468 353.237 8.87468C352.349 8.87468 351.57 8.36866 351.39 7.53043H355.284C355.672 7.52657 356.008 7.18686 356.008 6.79779ZM351.394 6.54113C351.538 5.73317 352.334 5.16298 353.185 5.16298C354.093 5.16298 354.792 5.89175 354.92 6.54113H351.394ZM319.965 9.29722V4.75889C319.965 4.4606 319.709 4.21896 319.394 4.21896C319.078 4.21896 318.822 4.4606 318.822 4.75889V9.29379C318.822 9.59209 319.078 9.83394 319.394 9.83394C319.709 9.83759 319.965 9.59573 319.965 9.29722ZM326.786 6.85831C326.77 5.40075 325.507 4.21896 323.959 4.21896C322.4 4.21896 321.133 5.41599 321.133 6.88857V9.29379C321.133 9.59209 321.389 9.83394 321.704 9.83394C322.02 9.83394 322.276 9.59209 322.276 9.29379V6.88857C322.276 6.01257 323.032 5.29882 323.959 5.29882C324.887 5.29882 325.643 6.01257 325.643 6.88857C325.643 6.89243 325.643 6.89994 325.643 6.9038V9.29379C325.643 9.59209 325.898 9.83394 326.214 9.83394C326.53 9.83394 326.786 9.59209 326.786 9.29379V6.88857C326.79 6.88106 326.786 6.86968 326.786 6.85831ZM319.393 1.73068C318.985 1.73068 318.658 2.044 318.658 2.42534C318.658 2.80668 318.99 3.12021 319.393 3.12021C319.801 3.12021 320.129 2.8069 320.129 2.42534C320.129 2.04378 319.801 1.73068 319.393 1.73068ZM315.919 10.6644H312.221C311.933 10.6644 311.701 10.8835 311.701 11.1554C311.701 11.4273 311.933 11.6464 312.221 11.6464H315.919C316.207 11.6464 316.439 11.4273 316.439 11.1554C316.439 10.8872 316.207 10.6644 315.919 10.6644ZM314.64 6.59392V9.29722C314.64 9.59573 314.384 9.83759 314.068 9.83759C313.752 9.83759 313.496 9.59573 313.496 9.29722V4.75889C313.496 4.33978 313.592 3.9168 313.8 3.51658C314.152 2.84445 314.756 2.33843 315.507 2.10044C316.259 1.8588 317.063 1.90794 317.774 2.24014C318.058 2.37212 318.174 2.69702 318.034 2.96506C317.894 3.2333 317.551 3.34253 317.271 3.21056C316.835 3.00669 316.339 2.97643 315.875 3.12364C315.416 3.27086 315.044 3.58053 314.828 3.99213C314.7 4.23763 314.64 4.49815 314.64 4.75481V5.60441H316.903C317.191 5.60441 317.423 5.82351 317.423 6.09541C317.423 6.36731 317.191 6.5862 316.903 6.5862H314.64V6.59392Z" fill="#378E2B"/>
                    <path d="M373.794 11.6484H368.9V16.27H373.794V11.6484Z" fill="#008D54"/>
                    <path d="M372.718 12.8635C372.414 13.0335 372.318 13.0449 371.994 13.2298C372.182 13.0335 372.25 12.9502 372.37 12.788C372.07 12.803 371.626 12.8333 371.314 12.9011C371.586 12.7652 372.13 12.6103 372.418 12.5727C372.35 12.486 371.814 12.2103 371.682 12.1611C372.106 12.1914 372.626 12.3423 372.878 12.486C372.977 12.4556 373.081 12.4556 373.261 12.4405C373.217 12.5161 373.217 12.5614 373.033 12.6747C373.085 12.7994 372.965 13.4979 372.866 13.6829C372.858 13.3923 372.83 13.026 372.718 12.8635Z" fill="white"/>
                    <path d="M370.506 15.3629C370.33 15.3024 370.206 15.2309 370.07 15.1097C370.11 15.0043 370.158 14.9174 370.234 14.8114C370.094 14.8303 369.99 14.8455 369.866 14.8683C369.766 14.7022 369.722 14.5472 369.67 14.3281C369.646 14.5582 369.634 14.7247 369.666 14.9097C369.558 14.9361 369.479 14.9661 369.387 15.0041C369.514 15.0794 369.619 15.1361 369.762 15.1964C369.843 15.355 369.918 15.4608 370.05 15.5816C370.018 15.4799 370.01 15.3966 370.022 15.291C370.186 15.3363 370.326 15.3591 370.506 15.3629Z" fill="white"/>
                    <path d="M370.956 13.0479C370.9 13.112 370.836 13.2367 370.82 13.2934C371.268 13.3537 371.627 13.5689 371.627 13.5689C371.236 13.5011 371.028 13.5086 370.884 13.5236C370.736 13.535 370.708 13.5539 370.708 13.5539C370.604 13.7691 370.54 14.1429 370.54 14.1429C370.468 13.9844 370.365 13.6556 370.365 13.6556C370.165 13.7539 369.713 14.158 369.713 14.158C369.961 13.6861 370.217 13.4706 370.217 13.4706C370.133 13.3878 369.901 13.3464 369.733 13.3386C369.821 13.3047 370.045 13.2667 370.213 13.2594C370.38 13.2519 370.488 13.2633 370.488 13.2633C370.644 13.1534 370.876 13.0554 370.956 13.0479Z" fill="white"/>
                    <path d="M371.431 15.0689C371.351 15.1706 371.283 15.25 371.199 15.3444C371.047 15.3822 370.927 15.397 370.783 15.397C370.872 15.4387 370.959 15.4648 371.051 15.4839C370.959 15.5672 370.879 15.6236 370.787 15.6803C370.944 15.6425 371.143 15.582 371.291 15.499C371.367 15.503 371.443 15.4951 371.495 15.4876C371.483 15.4462 371.475 15.412 371.459 15.3593C371.599 15.2537 371.703 15.1629 371.819 15.0498C371.695 15.1326 371.587 15.1929 371.443 15.2573C371.439 15.1932 371.439 15.1406 371.431 15.0689Z" fill="white"/>
                    <path d="M336.387 14.1872C336.379 14.3533 336.367 14.7046 336.363 14.9083C336.172 15.0027 335.867 15.0557 335.576 15.0557C334.912 15.0557 334.484 14.6632 334.484 14.1758C334.484 13.6623 334.928 13.2771 335.656 13.2771C335.824 13.2771 336.072 13.3035 336.247 13.3449L336.119 13.6771C335.996 13.6016 335.792 13.5451 335.652 13.5451C335.232 13.5451 335.084 13.8964 335.084 14.1795C335.084 14.6514 335.352 14.8063 335.656 14.8063C335.692 14.8063 335.808 14.8027 335.844 14.7913C335.844 14.5874 335.84 14.3267 335.824 14.1872H336.387ZM336.739 13.3187C336.767 13.4925 336.767 13.8359 336.767 14.123C336.767 14.4591 336.763 14.7613 336.731 15.0104H337.327C337.299 14.7537 337.299 14.2702 337.299 14.123C337.299 14.0097 337.303 13.7606 337.311 13.5531C337.351 13.549 337.463 13.549 337.523 13.549C337.655 13.549 337.927 13.6131 337.927 13.8395C337.927 14.0739 337.703 14.187 337.447 14.1529C337.659 14.4514 337.875 14.8063 337.991 15.0068H338.631C338.543 14.9198 338.107 14.3872 338.055 14.2966C338.315 14.1984 338.478 14.0475 338.478 13.8395C338.478 13.447 338.011 13.3149 337.619 13.3149H336.739L336.739 13.3187ZM345.795 15.0555C346.35 15.0555 346.766 14.693 346.766 14.1645C346.766 13.632 346.346 13.2734 345.795 13.2734C345.235 13.2734 344.819 13.632 344.819 14.1645C344.815 14.693 345.235 15.0555 345.795 15.0555ZM345.795 13.4923C346.05 13.4923 346.21 13.7301 346.21 14.1681C346.21 14.6022 346.05 14.8402 345.795 14.8402C345.535 14.8402 345.371 14.6059 345.371 14.1681C345.371 13.7303 345.535 13.4923 345.795 13.4923ZM338.842 13.3187C338.862 13.4395 338.866 13.6964 338.866 13.855V14.4666C338.866 14.946 339.186 15.0522 339.702 15.0522C340.273 15.0522 340.561 14.8821 340.561 14.4932V14.0138C340.561 13.7419 340.561 13.4664 340.581 13.3153H340.085C340.097 13.387 340.101 13.4058 340.101 13.5795V14.3988C340.101 14.7424 339.905 14.8179 339.705 14.8179C339.478 14.8179 339.402 14.6896 339.402 14.4705V13.6664C339.402 13.5456 339.406 13.432 339.418 13.3151H338.842V13.3187H338.842ZM340.949 13.3149C340.973 13.4773 340.981 13.8775 340.981 14.1192C340.981 14.3911 340.973 14.7763 340.949 15.0068H341.536C341.521 14.8482 341.524 14.5608 341.509 14.3267C341.541 14.3308 341.648 14.3308 341.688 14.3308C342.36 14.3308 342.696 14.1608 342.696 13.8134C342.696 13.4207 342.224 13.3187 341.84 13.3187H340.949V13.3149ZM341.669 13.549C341.873 13.549 342.14 13.5868 342.14 13.8132C342.14 14.0434 341.88 14.0928 341.693 14.0928C341.633 14.0928 341.541 14.0928 341.521 14.0887C341.517 14.0286 341.513 13.9642 341.513 13.8848C341.513 13.7754 341.521 13.6623 341.521 13.5528L341.669 13.549ZM342.904 13.3149C342.928 13.4773 342.936 13.8775 342.936 14.1192C342.936 14.3911 342.928 14.7763 342.904 15.0068H343.492C343.476 14.8482 343.479 14.5608 343.464 14.3267C343.496 14.3308 343.604 14.3308 343.644 14.3308C344.315 14.3308 344.651 14.1608 344.651 13.8134C344.651 13.4207 344.18 13.3187 343.795 13.3187H342.904V13.3149ZM343.623 13.549C343.828 13.549 344.095 13.5868 344.095 13.8132C344.095 14.0434 343.835 14.0928 343.648 14.0928C343.588 14.0928 343.496 14.0928 343.476 14.0887C343.471 14.0286 343.468 13.9642 343.468 13.8848C343.468 13.7754 343.476 13.6623 343.476 13.5528L343.623 13.549ZM347.714 13.3149C347.738 13.534 347.742 13.8889 347.742 14.1192C347.742 14.4703 347.734 14.7872 347.709 15.0068H348.685C349.109 15.0068 349.561 14.8896 349.561 14.5381C349.561 14.3381 349.401 14.1833 349.117 14.0851C349.333 14.0172 349.473 13.8737 349.473 13.7189C349.473 13.4282 349.109 13.3149 348.777 13.3149H347.714ZM348.505 13.5301C348.761 13.5301 348.921 13.5981 348.921 13.7604C348.921 13.9114 348.753 13.9756 348.625 13.9756H348.517L348.413 14.2325H348.565C348.813 14.2325 349.001 14.323 349.001 14.5192C349.001 14.6967 348.857 14.7799 348.549 14.7799H348.289C348.274 14.5381 348.274 14.425 348.274 14.1192C348.274 13.87 348.277 13.7604 348.289 13.5415C348.329 13.5376 348.417 13.5301 348.505 13.5301ZM351.048 13.3187V14.3005C351.036 14.2627 351.024 14.24 350.996 14.1984L350.424 13.3185H349.876C349.889 13.511 349.896 13.9642 349.896 14.1228C349.896 14.27 349.892 14.7533 349.864 15.0102H350.348C350.328 14.8668 350.324 14.5763 350.324 14.372V13.8357C350.34 13.919 350.38 13.9906 350.436 14.066L351.116 15.01H351.536C351.512 14.7797 351.508 14.2737 351.508 14.1226C351.508 13.9565 351.52 13.5108 351.536 13.3183H351.048V13.3187ZM351.948 13.3149C351.972 13.4773 351.98 13.8775 351.98 14.1192C351.98 14.3911 351.972 14.7763 351.948 15.0068H352.535C352.519 14.8482 352.523 14.5608 352.512 14.3267C352.539 14.3308 352.651 14.3308 352.691 14.3308C353.367 14.3308 353.699 14.1608 353.699 13.8134C353.699 13.4207 353.231 13.3187 352.839 13.3187H351.948V13.3149H351.948ZM352.671 13.549C352.875 13.549 353.143 13.5868 353.143 13.8132C353.143 14.0434 352.883 14.0928 352.691 14.0928C352.631 14.0928 352.539 14.0928 352.516 14.0887C352.516 14.0286 352.512 13.9642 352.512 13.8848C352.512 13.7754 352.516 13.6623 352.516 13.5528L352.671 13.549ZM354.659 13.3149C354.682 13.4773 354.686 13.8775 354.686 14.1192C354.686 14.3911 354.678 14.7763 354.659 15.0068H355.246C355.23 14.8482 355.234 14.5608 355.218 14.3267C355.25 14.3308 355.358 14.3308 355.398 14.3308C356.074 14.3308 356.406 14.1608 356.406 13.8134C356.406 13.4207 355.938 13.3187 355.546 13.3187H354.659L354.659 13.3149ZM355.382 13.549C355.586 13.549 355.854 13.5868 355.854 13.8132C355.854 14.0434 355.59 14.0928 355.402 14.0928C355.342 14.0928 355.25 14.0928 355.23 14.0887C355.226 14.0286 355.222 13.9642 355.222 13.8848C355.222 13.7754 355.23 13.6623 355.23 13.5528L355.382 13.549ZM357.033 13.3187C356.925 13.5868 356.337 14.7988 356.238 15.0104H356.749C356.793 14.8934 356.837 14.7838 356.894 14.6443C356.989 14.6404 357.077 14.6366 357.197 14.6366C357.321 14.6366 357.413 14.6366 357.505 14.6406C357.593 14.8557 357.637 14.9462 357.661 15.0106H358.249C358.113 14.7387 357.521 13.5189 357.453 13.3189H357.033V13.3187ZM357.401 14.3836C357.321 14.3874 357.277 14.3874 357.193 14.3874C357.133 14.3874 357.045 14.3836 356.977 14.3836C357.029 14.24 357.137 14.0211 357.185 13.8737C357.237 14.0134 357.333 14.2172 357.401 14.3836ZM358.46 13.3187C358.484 13.4925 358.488 13.8359 358.488 14.123C358.488 14.4591 358.481 14.7613 358.452 15.0104H359.048C359.02 14.7537 359.02 14.2702 359.02 14.123C359.02 14.0097 359.024 13.7606 359.032 13.5531C359.072 13.549 359.184 13.549 359.244 13.549C359.376 13.549 359.652 13.6131 359.652 13.8395C359.652 14.0739 359.428 14.187 359.172 14.1529C359.384 14.4514 359.6 14.8063 359.716 15.0068H360.356C360.268 14.9198 359.836 14.3872 359.78 14.2966C360.04 14.1984 360.204 14.0475 360.204 13.8395C360.204 13.447 359.736 13.3149 359.345 13.3149H358.461L358.46 13.3187ZM360.599 13.3187C360.612 13.5112 360.619 13.9644 360.619 14.1269C360.619 14.2703 360.615 14.7537 360.587 15.0104H361.179C361.155 14.7801 361.155 14.2741 361.155 14.1269C361.155 13.9644 361.163 13.5114 361.179 13.3187H360.599ZM361.567 13.3149C361.591 13.534 361.595 13.8889 361.595 14.1192C361.595 14.4703 361.587 14.7872 361.563 15.0068H362.534C362.958 15.0068 363.41 14.8896 363.41 14.5381C363.41 14.3381 363.25 14.1833 362.966 14.0851C363.178 14.0172 363.322 13.8737 363.322 13.7189C363.322 13.4282 362.958 13.3149 362.626 13.3149H361.567ZM362.359 13.5301C362.619 13.5301 362.774 13.5981 362.774 13.7604C362.774 13.9114 362.607 13.9756 362.478 13.9756H362.371L362.267 14.2325H362.419C362.667 14.2325 362.859 14.323 362.859 14.5192C362.859 14.6967 362.711 14.7799 362.407 14.7799H362.147C362.131 14.5381 362.131 14.425 362.131 14.1192C362.131 13.87 362.135 13.7604 362.147 13.5415C362.187 13.5376 362.275 13.5301 362.359 13.5301ZM364.274 13.3187C364.17 13.5868 363.578 14.7988 363.482 15.0104H363.994C364.038 14.8934 364.086 14.7838 364.138 14.6443C364.234 14.6404 364.322 14.6366 364.442 14.6366C364.565 14.6366 364.657 14.6366 364.746 14.6406C364.834 14.8557 364.877 14.9462 364.901 15.0106H365.489C365.353 14.7387 364.762 13.5189 364.694 13.3189H364.274V13.3187ZM364.645 14.3836C364.565 14.3874 364.522 14.3874 364.442 14.3874C364.382 14.3874 364.29 14.3836 364.226 14.3836C364.278 14.24 364.386 14.0211 364.434 13.8737C364.482 14.0134 364.577 14.2172 364.645 14.3836ZM366.413 13.2734C365.941 13.2734 365.621 13.4473 365.621 13.7492C365.621 14.2969 366.637 14.2664 366.637 14.5874C366.637 14.7005 366.533 14.7613 366.393 14.7613C366.221 14.7613 366.021 14.7085 365.645 14.5383V14.9499C365.805 15.007 366.037 15.0522 366.285 15.0522C366.832 15.0522 367.16 14.8407 367.16 14.5085C367.16 13.9986 366.141 13.9947 366.141 13.708C366.141 13.6513 366.157 13.576 366.357 13.576C366.613 13.576 366.805 13.6666 367.001 13.7722V13.3417C366.864 13.3035 366.64 13.2734 366.413 13.2734Z" fill="black"/>
                </g>
                <path d="M405.138 7.28434C403.913 7.27189 403.334 7.98118 403.334 7.98118C402.961 8.3793 403.203 8.91436 403.564 8.95171C404.087 9.0077 404.087 8.56597 404.889 8.3731C405.599 8.19888 405.63 8.85837 405.63 8.85837C402.612 8.78374 402.756 11.3158 403.782 11.8508C404.765 12.3672 405.686 11.714 405.686 11.714C405.686 11.714 405.723 12.0624 406.208 12.0624C406.768 12.0624 406.768 11.5087 406.768 11.5087V9.04504C406.731 7.23461 405.138 7.28434 405.138 7.28434ZM404.902 10.8492C404.902 10.8492 404.112 11.011 404.118 10.4448C404.124 9.87869 405.555 9.91598 405.704 9.95958C405.704 9.95958 405.748 10.6004 404.902 10.8492Z" fill="#334B66"/>
                <path d="M414.883 11.0667L413.651 9.21268L414.553 8.36032C414.553 8.36032 414.97 7.97459 414.628 7.58891C414.248 7.16583 413.794 7.58266 413.794 7.58266L412.656 8.64027V6.52505C412.656 6.2202 412.407 5.97754 412.108 5.97754C411.803 5.97754 411.561 6.2264 411.561 6.52505V11.5084C411.561 11.8132 411.809 12.0558 412.108 12.0558C412.413 12.0558 412.656 11.807 412.656 11.5084V10.177L412.861 9.97169L413.974 11.7136C413.974 11.7136 414.335 12.3171 414.87 11.9314C415.281 11.6452 414.883 11.0667 414.883 11.0667Z" fill="#334B66"/>
                <path d="M410.96 9.0385C410.96 7.24052 409.461 6.98547 408.44 7.55781C408.44 7.55781 408.44 7.55781 408.44 7.56407C408.341 7.27161 408.023 7.11609 407.731 7.21562C407.501 7.29651 407.352 7.50802 407.352 7.75068V11.5022C407.352 11.8132 407.6 12.0621 407.912 12.0621C408.223 12.0621 408.471 11.8132 408.471 11.5022L408.465 8.97007C408.571 8.85189 408.689 8.74611 408.82 8.65277C409.349 8.27949 409.846 8.41017 409.846 9.0447L409.859 11.5146C409.871 11.8195 410.126 12.0621 410.431 12.0496C410.724 12.0372 410.954 11.807 410.966 11.5146L410.96 9.0385Z" fill="#334B66"/>
                <path d="M394.804 12.1312C394.879 12.0193 394.928 11.8948 394.953 11.7642L393.684 8.44819C393.684 8.44819 393.454 7.80741 393.964 7.61454C394.499 7.41548 394.698 7.92564 394.735 8.03136L395.538 10.1653L396.272 8.03762C396.272 8.03762 396.484 7.37813 397.068 7.60834C397.554 7.80121 397.305 8.45444 397.305 8.45444C397.305 8.45444 396.552 10.6755 395.924 12.2806C395.55 13.2449 395.227 13.3382 394.86 13.4253C394.368 13.5435 393.441 13.4875 393.441 12.8778C393.441 12.3988 393.933 12.3677 394.157 12.3739C394.169 12.3864 394.63 12.4237 394.804 12.1312Z" fill="#2ABAEA"/>
                <path d="M391.856 6.55652L390.699 9.75431L389.436 6.57517C389.436 6.57517 389.249 5.97173 388.72 5.97173C388.111 5.97173 388.129 6.45699 388.117 6.57517C388.104 6.6934 388.117 11.546 388.117 11.546C388.117 11.546 388.111 12.0562 388.671 12.0562C389.243 12.0562 389.218 11.5399 389.218 11.5399V8.97665L390.151 11.5399C390.151 11.5399 390.288 12.0438 390.717 12.0376C391.147 12.0313 391.271 11.5399 391.271 11.5399L392.049 8.98285V11.5399C392.049 11.5399 392.049 12.0562 392.615 12.0562C393.162 12.0562 393.162 11.5399 393.162 11.5399V6.57517C393.162 6.57517 393.162 5.96547 392.571 5.97173C392.08 5.97792 391.893 6.45074 391.856 6.55652C391.856 6.56897 391.856 6.57517 391.856 6.57517V6.55652Z" fill="#2ABAEA"/>
                <path d="M415.061 14.0166H405.275H398.089L398.096 14.0228C395.321 17.2766 390.431 17.6623 387.177 14.8875C383.923 12.1128 383.531 7.22902 386.306 3.97527C389.081 0.721485 393.971 0.329539 397.225 3.11049C397.542 3.38423 397.841 3.67664 398.108 4.00015H399.663C396.907 -0.130843 391.314 -1.24447 387.183 1.51782C383.052 4.28011 381.945 9.87311 384.707 14.0041C387.47 18.1351 393.056 19.2425 397.187 16.4803C397.772 16.0883 398.307 15.6341 398.786 15.1177L414.321 15.1053L415.061 14.0166Z" fill="#2ABAEA"/>
                <path d="M402.041 8.79559C402.072 8.75205 402.446 8.4534 402.415 7.64465C402.352 6.01463 400.94 6.03327 400.623 6.02082C400.119 6.00844 399.814 6.01463 398.887 6.02082C398.103 6.02708 398.109 6.74256 398.109 6.74256V12.0556H400.747C402.159 12.0556 402.682 11.2779 402.682 10.1892C402.682 9.10044 402.041 8.79559 402.041 8.79559ZM399.248 7.14693H400.704C400.996 7.15313 401.301 7.30865 401.301 7.74418C401.301 8.19835 401.033 8.34142 400.704 8.34142H399.248V7.14693ZM400.809 10.9731H399.248V9.47992H400.809C401.189 9.49862 401.556 9.69149 401.556 10.2265C401.556 10.774 401.22 10.9731 400.809 10.9731Z" fill="#334B66"/>
                <defs>
                    <clipPath id="clip0_667_334676">
                        <rect width="55.7356" height="18" fill="white" transform="translate(69.1367)"/>
                    </clipPath>
                    <clipPath id="clip1_667_334676">
                        <rect width="24.7474" height="18" fill="white" transform="translate(132.873)"/>
                    </clipPath>
                    <clipPath id="clip2_667_334676">
                        <rect width="18" height="18" fill="white" transform="translate(165.619)"/>
                    </clipPath>
                    <clipPath id="clip3_667_334676">
                        <rect width="84.5056" height="18" fill="white" transform="translate(191.619)"/>
                    </clipPath>
                    <clipPath id="clip4_667_334676">
                        <rect width="19.1247" height="18" fill="white" transform="translate(284.125)"/>
                    </clipPath>
                    <clipPath id="clip5_667_334676">
                        <rect width="63" height="17" fill="white" transform="translate(311.25 0.5)"/>
                    </clipPath>
                </defs>
            </svg>

mixin CT0100(option=false, empty=false, zipcode=false)
    .c-wrapper.no-crop.CT0100
        .component
            .fluid-container
                // 2023-05-31 : UPDATE - added total area type zipcode 
                .my-component.buy-summary-area
                    //- div(class=`${zipcode === true ? 'my-component buy-summary-area buy-summary-area--zipcode' : 'my-component buy-summary-area'}`)
                    .buy-summary-area__primary
                        if(option === false || option === "Guest" || option === "other")
                            .my-component__header
                                +buyBasket({num:'9'})
                                .my-component__button
                                    .button
                                        +formCheckbox("", "name", "val1", 'checkId2', count="false")
                                            strong.sr-only All Select
                            ul.buy-cart-list
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '1',
                                        name: "OLW480B",
                                        title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) IntGel® core™ i7 / 16GB / 2TB / Intel® Iris® Plus Graphics / Noble Steel / Services A /2 years / Delivery",
                                        inStock : true,
                                        purchase: '€2,099.98',
                                        accBtn:true,
                                        bundleBtn : false,
                                        applyCoupon: true,
                                        installment: false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '1',
                                        name: "OLW480B",
                                        title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) IntGel® core™ i7 / 16GB / 2TB / Intel® Iris® Plus Graphics / Noble Steel / Services A /2 years / Delivery",
                                        inStock : true,
                                        purchase: '€2,099.98',
                                        accBtn:true,
                                        bundleBtn : false,
                                        applyCoupon: true,
                                        installment: false,
                                        productLabel: 'a',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '2',
                                        name: "OLW480B",
                                        title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) IntGel® core™ i7 / 16GB / 2TB / Intel® Iris® Plus Graphics / Noble Steel / Services A /2 years / Delivery",
                                        inStock : true,
                                        purchase: '€2,099.98',
                                        outStock : false,
                                        accBtn: true,
                                        noCoupon: true,
                                        installment: false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '3',
                                        name: "OLW480B",
                                        title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) IntGel® core™ i7 / 16GB / 2TB / Intel® Iris® Plus Graphics / Noble Steel / Services A /2 years / Delivery",
                                        outStock: true,
                                        purchase: '€2,099.98',
                                        accBtnDis: true,
                                        bundleBtn : false,
                                        installment: false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '5',
                                        name: "OLW480B",
                                        inStock : true,
                                        plag:"Pre Order",
                                        deliveryStartDate:"02/01/2023",
                                        installment: false,
                                        purchase: '€2,099.98',
                                        bundleBtn : false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '11',
                                        name: "OLW480B",
                                        inStock : true,
                                        installment: false,
                                        purchase: '€2,099.98',
                                        bundleBtn : false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '12',
                                        name: "OLW480B",
                                        outStock : true,
                                        installment: false,
                                        purchase: '€2,099.98',
                                        bundleBtn : false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '13',
                                        name: "OLW480B",
                                        inStock : true,
                                        purchase: '€2,099.98',
                                        bundleBtn : false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '14',
                                        title:"LG Premium Care 2 Year",
                                        purchase: '€2,099.98',
                                        bundleBtn : false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                        warrantyinfo:[
                                            {
                                                title:"Model number",
                                                text:"LRMVS2806S"
                                            },
                                            {
                                                title:"Serial number",
                                                text:"706RMHR3C001"
                                            }
                                        ]
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '15',
                                        name: "TONE-UFP8",
                                        inStock : true,
                                        purchase: '€29.98',
                                        accBtn: true,
                                        title: "LG TONE Free UFP8 - Enhanced Active Noise Cancelling True Wireless Bluetooth UVnano Earbuds / white / Delivery only / 2 years / Delivery only",
                                        applyCoupon: true,
                                        installment: false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '16',
                                        name: "mr22gn",
                                        inStock : true,
                                        purchase: '€2,099.98',
                                        title: "2022 Magic Remote",
                                        applyCoupon: true,
                                        installment: false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '16',
                                        name: "mr22gn",
                                        inStock : true,
                                        purchase: '€2,099.98',
                                        title: "2022 Magic Remote",
                                        applyCoupon: true,
                                        installment: false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                    +ctWarrantyAdd([
                                        {
                                            select:false,
                                            buttonName:"Add",
                                        },
                                        {
                                            select: true,
                                            buttonName:"Edit",
                                            items: ([
                                                {
                                                    title: "2 Years warranty",
                                                    unitName: '€',
                                                    unitPos: 'right',
                                                    pricePurchase:"25.00",
                                                    edit: true,
                                                    isOnlyPrice: true
                                                },
                                                {
                                                    inStock: true,
                                                    code: "OLW4BCB",
                                                    title: "LG Soundbar Éclair QP5 + Delivery only",
                                                    unitName: '€',
                                                    unitPos: 'right',
                                                    pricePurchase: "1,499.98",
                                                    pricePrevious: "2,199.9",
                                                    priceDiscount: "2,199.98",
                                                    warning: "Extra €5 off on your main product",
                                                    qty: '1',
                                                    edit: true,
                                                },
                                                {
                                                    outStock: true,
                                                    code:"OLW4BCB",
                                                    title: "LG Soundbar Éclair QP5",
                                                    unitName: '€',
                                                    unitPos: 'right',
                                                    pricePurchase: "1,499.98",
                                                    pricePrevious: "2,199.9",
                                                    priceDiscount: "2,199.98",
                                                    warning: "Extra €5 off on your main product",
                                                    qty: '1',
                                                    edit: true,
                                                },
                                                {
                                                    inStock: true,
                                                    code: "OLW4BCB",
                                                    title: "LG Soundbar Éclair QP5",
                                                    unitName: '€',
                                                    unitPos: 'right',
                                                    pricePurchase: "99.98",
                                                    qty: '1',
                                                    edit: true,
                                                },
                                            ]) 
                                        },
                                    ])
                                li.buy-cart-list__item
                                    //- CT0025
                                    +buyCartList({
                                        id : '17',
                                        name: "TONE-UFP8",
                                        purchase: '€29.98',
                                        accBtn: true,
                                        installment: false,
                                        inStock: true,
                                        title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) IntGel® core™ i7 / 16GB / 2TB / Intel®  Iris® Plus Graphics / Noble Steel / Services A /2 years / Delivery",
                                        applyCoupon:true,
                                        noMore: true,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                    })
                                    +ctWarrantyAdd([
                                        {
                                            select:false,
                                            buttonName:"Add",
                                        },
                                        {
                                            select: true,
                                            buttonName:"Edit",
                                            items: ([
                                                {
                                                    title: "2 Years warranty",
                                                    unitName: '€',
                                                    unitPos: 'right',
                                                    pricePurchase:"25.00",
                                                    edit: true,
                                                    isOnlyPrice: true
                                                },
                                                {
                                                    inStock: true,
                                                    code: "OLW4BCB",
                                                    title: "LG Soundbar Éclair QP5 + Delivery only",
                                                    unitName: '€',
                                                    unitPos: 'right',
                                                    pricePurchase: "1,499.98",
                                                    pricePrevious: "2,199.9",
                                                    priceDiscount: "2,199.98",
                                                    warning: "Extra €5 off on your main product",
                                                    qty: '1',
                                                    edit: true,
                                                },
                                                {
                                                    outStock: true,
                                                    code:"OLW4BCB",
                                                    title: "LG Soundbar Éclair QP5",
                                                    unitName: '€',
                                                    unitPos: 'right',
                                                    pricePurchase: "1,499.98",
                                                    pricePrevious: "2,199.9",
                                                    priceDiscount: "2,199.98",
                                                    warning: "Extra €5 off on your main product",
                                                    qty: '1',
                                                    edit: true,
                                                },
                                                {
                                                    inStock: true,
                                                    code: "OLW4BCB",
                                                    title: "LG Soundbar Éclair QP5",
                                                    unitName: '€',
                                                    unitPos: 'right',
                                                    pricePurchase: "99.98",
                                                    qty: '1',
                                                    edit: true,
                                                },
                                            ]) 
                                        },
                                    ])
                                li.buy-cart-list__item
                                    //- CT0005
                                    +buyCartList({
                                        id : '18',
                                        name: "OLED65C25LB",
                                        title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) IntGel® core™ i7 / 16GB / 2TB / Intel®  Iris® Plus Graphics / Noble Steel / Services A / 2 years / Delivery",
                                        inStock : true,
                                        purchase: '€2,099.98',
                                        accBtn: true,
                                        applyCoupon: true,
                                        installment: false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                        bundle: [
                                            {
                                                name: "OLED65C25LB",
                                                title: "LG LED65C25LB.AEU",
                                            },
                                            {
                                                name: "sp8ya",
                                                title: "LG Soundbar SP8YA",
                                            },
                                        ]
                                    })
                                li.buy-cart-list__item
                                    +buyCartList({
                                        id : '19',
                                        name: "OLED65C25LB",
                                        title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) IntGel® core™ i7 / 16GB / 2TB / Intel®  Iris® Plus Graphics / Noble Steel / Services A / 2 years / Delivery",
                                        outStock : true,
                                        accBtnDis: true,
                                        purchase: '€2,099.98',
                                        installment: false,
                                        productLabel: 'a',
                                        subTotalText: 'Subtotal',
                                        subTotalPrice: '€2.099,98',
                                        subTotalLink: '€76.2 per 40 mesi TAN 9.61% TAEG 10.05% Importo tot dovuto €2.099,98',
                                        bundle: [
                                            {
                                                name: "OLED65C25LB",
                                                title: "LG LED65C25LB.AEU",
                                            },
                                            {
                                                name: "sp8ya",
                                                title: "LG Soundbar SP8YA",
                                            },
                                        ]
                                    })
                            p.buy-banner.font-w-normal-18.font-m-normal-16 Membership benefits, Receive an extra 2% membership discount, Free Delivery for All 
                                a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="") LG.com
                                |  orders
                            p.buy-banner.font-w-normal-18.font-m-normal-16 All items in the basket must be eligible for Klarna & the total amount in the basket cannot exceed €2,500 for the financing option to appear in checkout.
                        
                        if(option === "Guest-Empty")
                            .my-component__header
                                +buyBasket({num:'3', empty: true})
                            .c-product-have.c-product-have--guest
                                .c-text-contents
                                    .c-text-contents__title
                                        // [Start] 2023-06-02 : Fixed - Text
                                        span.font-w-light-36.font-m-normal-20
                                            | There are no added items here.
                                            br
                                            | Add the products you want.
                                    +defaultButton({name: 'Continue Shopping', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})
                    .buy-summary-area__secondary
                        .buy-summary-area__payment(class=`${empty?"empty":""}`)
                            if(option === false || option === "Guest")
                                +cartPriceTotal([
                                    {
                                        isMobileBottomFixed: true,
                                        useToggleFoldBtn: true,
                                        taxInclude:true,
                                        taxIncludeVat:true,
                                        coupon: false,
                                        shipping: true,
                                        deliveryInstall: true,
                                        service: true,
                                        card: true,
                                        point: false,
                                        unitName: '€',
                                        unitPosition: 'left',
                                        btnName:"Checkout",
                                        close: true,
                                        msg:[
                                            {type:"success", text:"We've removed the selected item(s) from your basket.", remove: true},
                                            {type:"error", text:"“OLW480B” is out of stock and cannot be purchased.", remove: true},
                                            {type:"warning", text:"All items in the basket must be eligible for Klarna & the total amount in the basket must be within {{min_amount}} - {{Max_amount}} for financing option to appear in checkout", remove: true},
                                            {type:"error", text:"You have exceeded the orderable quantity.", remove: true},
                                        ]
                                    },
                                ])
                            
    if(option === "Guest" || option === "Guest-Empty" || zipcode === true)
        include ../../components/CM0010/CM0010-inc.pug
        +CM0010('')
    if(zipcode === true)
        .c-wrapper.no-crop.CT0100.mobile-only
            .component
                .fluid-container
                    .my-component
                        .zipcode-area
                            +myInputForm([
                                {
                                    type:"text",
                                    label:"Consulta disponibilidad en tu zona",
                                    id:"postcode",
                                    required:false,
                                    placeholder:"Ingresa tu Código Postal",
                                    warning: ['Por favor ingrese un código postal válido.'],
                                    correct: ['Producto disponible en tu zona.'],
                                    button: 'Consult',
                                },
                            ])