extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug

block meta 
    - var componentId = "CT0102"
    - var componentName = "Cart A better way to shop with LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")



block content
    // Component Markup
    // Component Markup
    include ./CT0102-inc.pug
    .guide-text-option Option : Cart exclusive benefits (default)
    +CT0102()
    //- 컨텐츠 내용이 기본과 다른 국가 SA, TR, SG
    .guide-text-option Option : Cart exclusive benefits (other type - SA, TR, SG)
    +CT0102('other')
    .guide-text-option Option : Cart exclusive benefits (other type - PH)
    +CT0102('ph')
    .guide-text-option Option : Cart exclusive benefits (other type - ZA)
    +CT0102('za')