extends ../_common/_layout.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_filter.pug
include ../_common/_product-list.pug
include ../_common/_pagination.pug
include ../_common/_pop-msg.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "PD0001"
    - var componentName = "Product List"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        '.c-product-list__banner .c-floating-contents__floating' : [
                            {
                                'name' : 'Banner Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'},
                                ]
                            },
                            //- {
                            //-     'name' : 'Banner Text Align',
                            //-     'buttons' : [
                            //-         {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                            //-         {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                            //-         {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-center, align-left'},
                            //-     ]
                            //- },
                        ],
                    };

    include ./PD0001-inc.pug
    .guide-text-option Option : filter (full set)
    +PD0001('FILTER')

    .guide-text-option Option : no-filter (full set)
    +PD0001('NOFILTER')

    .guide-text-option 독일 (DE)
    +PD0001('NOFILTER', 'DE')

    .guide-text-option 이탈리아 (IT)
    +PD0001('NOFILTER', 'IT')

    .guide-text-option 베트남 (VN)
    +PD0001('NOFILTER', 'VN')

    .guide-text-option 오스트레일리아 (AU)ㅇㅇㅇㄹㅇ
    +PD0001('NOFILTER', 'AU')

    .guide-text-option 칠레 (CL)
    +PD0001('NOFILTER', 'CL')

    .guide-text-option 멕시코(MX)
    +PD0001('NOFILTER', 'MX')
    
    .guide-text-option 캐나다 (CA)
    +PD0001('NOFILTER', 'CA')

    .guide-text-option 캐나다_FR (CA_FR)
    +PD0001('NOFILTER', 'CA_FR')

    .guide-text-option 브라질(BR)
    +PD0001('NOFILTER', 'BR')

    .guide-text-option 콜롬비아- (CO)
    +PD0001('NOFILTER', 'CO')

    .guide-text-option 싱가포르 (SG)
    +PD0001('NOFILTER', 'SG')

    .guide-text-option 사우디 (SA)
    +PD0001('NOFILTER', 'SA')

    .guide-text-option 태국 (TH)
    +PD0001('NOFILTER', 'TH')

    .guide-text-option 카자흐스탄 (KZ)
    +PD0001('NOFILTER', 'KZ')

    .guide-text-option 인도네시아 (ID)
    +PD0001('NOFILTER', 'ID')
 
    .guide-text-option 중국 (CN)
    +PD0001('NOFILTER', 'CN')

    .guide-text-option 홍콩 (HK)
    +PD0001('NOFILTER', 'HK')

    .guide-text-option 홍콩 (HK_EN)
    +PD0001('NOFILTER', 'HK_EN')

    .guide-text-option 일본 (JP)
    +PD0001('NOFILTER', 'JP')

    .guide-text-option 프랑스 (FR)
    +PD0001('NOFILTER', 'FR')

    .guide-text-option 포르투갈 (PT)
    +PD0001('NOFILTER', 'PT')

    .guide-text-option 스페인 (ES)
    +PD0001('NOFILTER', 'ES')

    .guide-text-option 터키 (TR)
    +PD0001('NOFILTER', 'TR')

    .guide-text-option 인도 (IN)
    +PD0001('NOFILTER', 'IN')

    .guide-text-option 폴란드 (PL)
    +PD0001('NOFILTER', 'PL')

    .guide-text-option 남아공 (ZA)
    +PD0001('NOFILTER', 'ZA')
    


block modal
    +printLayerPopup('popCopyComplete')
    +printLayerPopup('popStockAlert')