mixin bcItem(params)
    - var option={text:'', current:false, ...params}
    li(class=`cmp-breadcrumb__item c-breadcrumb__item${option.current ? ` active` : ``} swiper-slide` data-cmp-data-layer="")
        if(option.current)
            a.cmp-breadcrumb__item-link.c-breadcrumb__item-link(role="role" data-link-name data-link-destination data-link-menu data-link-page-type)
                span #{option.text}
        else
            a.cmp-breadcrumb__item-link.c-breadcrumb__item-link(href="#" data-cmp-clickable="" role="role" data-link-name data-link-destination data-link-menu data-link-page-type)
                span #{option.text}


mixin bcItem2(params)
    - var option={text:'', current:false, ...params}
    li(class=`cmp-breadcrumb__item c-breadcrumb__item${option.current ? ` active` : ``} swiper-slide` data-cmp-data-layer="")&attributes(attributes)
        if(option.current)
            strong.cmp-breadcrumb__item-link.c-breadcrumb__item-link
                span #{option.text}
        else
            a.cmp-breadcrumb__item-link.c-breadcrumb__item-link(href="#" role="button" data-cmp-clickable="")
                span #{option.text}

// 20230314 buttonArrow markup add
mixin buttonArrow(params) 
    - var option={...params}
    - var className = `c-btn-arrow c-btn-arrow--${option.color} m-${option.msize} w-${option.wsize} c-btn-arrow--border-${option.border}`
    if option.link 
        a(href="https://www.lg.com/uk" target="_blank" class=`${className}` data-link-name data-link-destination data-link-menu data-link-page-type)&attributes(attributes)
    else
        div(class=`${className}`)&attributes(attributes)
            span.sr-only Learn More
