extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0015"
    - var componentName = "Anchor tap"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    // Component Markup
    mixin printTab(div, num, selected, idNumber)
        if selected
            li.swiper-slide.cmp-tabs__tab__cs.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true")
                a(href=`#tabs-content-${idNumber}` class="" role="tab" aria-label="")
                    if block
                        block
        else 
            li.swiper-slide.cmp-tabs__tab__cs(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false")
                a(href=`#tabs-content-${idNumber}` role="tab" aria-label="")
                    if block
                        block

    .guide-text-type Anchor tap 
    
    //- // Component Markup
    //- .guide-text-type min2 ~ max8
    //- // sticky tab class added
    //- .c-wrapper.CS0015.type-text.c-sticky-tab
    //-     .component.type-grid.type-tabs
    //-         .CS0015__container              
    //-             .c-tabs.tabs.panelcontainer
    //-                 .cmp-tabs(data-cmp-data-layer="" data-placeholder-text="false")
    //-                     .c-tabs__inner.swiper
    //-                         ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist" aria-multiselectable="false")
    //-                             +printTab(1, 1, true, 1)
    //-                                 h3 taptaptaptaptaptap
    //-                             +printTab(1, 2, false, 2)
    //-                                 h3 tap
    //-                             +printTab(1, 3, false, 3)
    //-                                 h3 tap
    //-                             +printTab(1, 4, false, 4) 
    //-                                 h3 tap
    //-                             +printTab(1, 5, false, 5) 
    //-                                 h3 tap
    //-                             +printTab(1, 6, false, 6) 
    //-                                 h3 tap
    //-                             +printTab(1, 7, false, 7) 
    //-                                 h3 tap
    //-                             +printTab(1, 8, false, 8) 
    //-                                 h3 tap
    
    // Component Markup
    .guide-text-type sticky 
    // sticky tab class added
    .c-wrapper.CS0015.type-text.c-sticky-tab
        .component.type-grid.type-tabs
            .CS0015__container              
                .c-tabs.tabs.panelcontainer
                    .cs-tabs(data-cmp-data-layer="" data-placeholder-text="false")
                        .c-tabs__inner.swiper
                            ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist" aria-multiselectable="false")
                                +printTab(1, 1, true, 1)
                                    h3.c-tab__title tap bbb
                                +printTab(1, 2, false, 2)
                                    h3.c-tab__title tap
                                +printTab(1, 3, false, 3)
                                    h3.c-tab__title tap
                                +printTab(1, 4, false, 4) 
                                    h3.c-tab__title tap

                        // content area
                        .c-wrapper.CS0014.type-text
                            .component.full.c-wide-full
                                .CS0014__container
                                    .c-image-content#tabs-content-1
                                        // option. left type add class .c-image-content__left-type
                                        .c-image-content__item.c-image-content__left-type
                                            // block : image
                                            .c-image-content__image
                                                +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
                                            .c-image-content__text 
                                                div
                                                    .c-image-content__eyebrow Self service solution
                                                    .c-image-content__headline.font-m-semibold-30.font-w-semibold-40 Save money and time
                                                    p.c-image-content__bodycopy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__disclaimer 
                                                            .cmp-text.font-w-normal-14i.font-m-normal-14i(data-cmp-data-layer="")
                                                                p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.   
                                    .c-image-content#tabs-content-2    
                                        // option. right type add class .c-image-content__right-type
                                        .c-image-content__item.c-image-content__right-type
                                            // block : image
                                            .c-image-content__image 
                                                +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
                                            .c-image-content__text 
                                                div
                                                    .c-image-content__eyebrow Call center support
                                                    .c-image-content__headline.font-m-semibold-30.font-w-semibold-40 Easy and convenient
                                                    p.c-image-content__bodycopy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__disclaimer 
                                                            .cmp-text.font-w-normal-14i.font-m-normal-14i(data-cmp-data-layer="")
                                                                p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  
                                    .c-image-content#tabs-content-3    
                                        // option. right type add class .c-image-content__right-type
                                        .c-image-content__item.c-image-content__right-type
                                            // block : image
                                            .c-image-content__image 
                                                +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
                                            .c-image-content__text 
                                                div
                                                    .c-image-content__eyebrow Call center support
                                                    .c-image-content__headline.font-m-semibold-30.font-w-semibold-40 Easy and convenient
                                                    p.c-image-content__bodycopy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__disclaimer 
                                                            .cmp-text.font-w-normal-14i.font-m-normal-14i(data-cmp-data-layer="")
                                                                p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  
                                    .c-image-content#tabs-content-4    
                                        // option. right type add class .c-image-content__right-type
                                        .c-image-content__item.c-image-content__right-type
                                            // block : image
                                            .c-image-content__image 
                                                +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
                                            .c-image-content__text 
                                                div
                                                    .c-image-content__eyebrow Call center support
                                                    .c-image-content__headline.font-m-semibold-30.font-w-semibold-40 Easy and convenient
                                                    p.c-image-content__bodycopy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .text.c-text-contents__disclaimer 
                                                            .cmp-text.font-w-normal-14i.font-m-normal-14i(data-cmp-data-layer="")
                                                                p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  

