extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug

block meta 
    - var componentId = "ST0012"
    - var componentName = "Table"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'Width Size',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide'},
                                ]
                            }
                        ],
                        '.c-text-contents__disclaimer' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ]
                    };

    // Component Markup

    mixin tableContent(t)
        if t == 1
            td A Lorem ipsum dolor sit amet, consectetur cras amet.
        else if t == 2
            td
                // GA4
                a(href='#' data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") A Lorem ipsum dolor sit amet, consectetur cras amet.
        else if t == 3
            td
                img(src="https://placeimg.com/150/150/nature/grayscale", alt="alt text", loading="lazy")
        else 
            td
                // GA4
                a(href='#' data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
                    img(src="https://placeimg.com/150/150/nature/grayscale", alt="alt text", loading="lazy")


    mixin tableDisclaimerTop()
        // remove class  : .align-text-left
        .c-text-contents.font-w-normal-16.font-m-normal-12
            .text.c-text-contents__disclaimer 
                .cmp-text(data-cmp-data-layer="") 
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing

    mixin tableDisclaimerBtm()
        // remove class  : .align-text-left
        .c-text-contents.font-w-normal-16.font-m-normal-12
            .text.c-text-contents__disclaimer 
                .cmp-text(data-cmp-data-layer="") 
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing

    //  Type1. 
    .guide-text-type Type1. Horizontal
    .guide-text-option 2 Rows
    .c-wrapper.ST0012.type-horizontal.margin-top.margin-bottom.width-wide.bg-default
        .component
            .cmp-container
                +tableDisclaimerTop
                .c-table
                    table
                        caption Table Caption
                        thead
                            tr
                                th(scope='col') A
                                th(scope='col') B
                        tbody
                            // Depending on the input data, text or images are output. There may or may not be a link.
                            tr
                                +tableContent(1)
                                +tableContent(2)
                            tr
                                +tableContent(4)
                                +tableContent(3)
                            tr
                                +tableContent(2)
                                +tableContent(4)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(2)
                +tableDisclaimerBtm

    .guide-text-option 5 Rows
    .c-wrapper.ST0012.type-horizontal.margin-top.margin-bottom.width-wide.bg-default
        .component
            .cmp-container
                +tableDisclaimerTop
                .c-table
                    table
                        caption Table Caption
                        thead
                            tr
                                th(scope='col') A
                                th(scope='col') B
                                th(scope='col') C
                                th(scope='col') D
                                th(scope='col') E
                        tbody
                            // Depending on the input data, text or images are output. There may or may not be a link.
                            tr
                                +tableContent(1)
                                +tableContent(2)
                                +tableContent(3)
                                +tableContent(4)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                
                +tableDisclaimerBtm

    .guide-text-option 10 Rows
    .c-wrapper.ST0012.type-horizontal.margin-top.margin-bottom.width-wide.bg-default
        .component
            .cmp-container
                +tableDisclaimerTop
                .c-table
                    table
                        caption Table Caption
                        thead
                            tr
                                th(scope='col') A
                                th(scope='col') B
                                th(scope='col') C
                                th(scope='col') D
                                th(scope='col') E
                                th(scope='col') F
                                th(scope='col') G
                                th(scope='col') H
                                th(scope='col') I
                                th(scope='col') J
                        tbody
                            // Depending on the input data, text or images are output. There may or may not be a link.
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(2)
                                +tableContent(3)
                                +tableContent(4)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                            tr
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                                +tableContent(1)
                +tableDisclaimerBtm

    //  Type2. 2Column
    .guide-text-type Type2. Vertical
    .guide-text-option 2 Columns
    .c-wrapper.ST0012.type-vertical.margin-top.margin-bottom.width-wide.bg-default
        .component
            .cmp-container
                +tableDisclaimerTop
                .c-table
                    table
                        caption Table Caption
                        tr
                            th(scope='row') A
                            +tableContent(1)
                            +tableContent(2)
                            +tableContent(3)
                            +tableContent(4)
                        tr
                            th(scope='row') B
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)

    .guide-text-option 10 Columns
    .c-wrapper.ST0012.type-vertical.margin-top.margin-bottom.width-wide.bg-default
        .component
            .cmp-container
                +tableDisclaimerTop
                .c-table
                    table
                        caption Table Caption
                        tr
                            th(scope='row') A
                            +tableContent(1)
                            +tableContent(2)
                            +tableContent(3)
                            +tableContent(4)
                        tr
                            th(scope='row') B
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                        tr
                            th(scope='row') C
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                        tr
                            th(scope='row') D
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                        tr
                            th(scope='row') E 
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                        tr
                            th(scope='row') F
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                        tr
                            th(scope='row') G
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                        tr
                            th(scope='row') H
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                        tr
                            th(scope='row') I
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                        tr
                            th(scope='row') J
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                            +tableContent(1)
                +tableDisclaimerBtm


    .guide-text-option OOTB Table - CSS test
    .c-wrapper.ST0012.type-vertical.margin-top.margin-bottom.width-wide.bg-default
        .component
            .cmp-container
                .c-text-contents.font-m-normal-14i.font-w-normal-14i
                    .text.c-text-contents__disclaimer 
                        .cmp-text(data-cmp-data-layer="") 
                            p 테이블 Header가 양 방향으로 존재하는 경우, (1,1) 셀에 fixed 클래스를 넣어주면 해당 셀이 고정됨.
                .c-table
                    table(cellpadding='1' cellspacing='0' border='1')
                        tbody
                            tr
                                th.fixed(scope='col') test1
                                th(scope='col') test2
                                th(scope='col')
                                    div(style='display: block;height: 1.0px;width: 1.0px;overflow: hidden;top: -10.0px;') test3
                                th(scope='col') 4
                                th(scope='col') 5
                            tr
                                th(scope='col') 1
                                td 11111
                                td 11
                                td 11
                                td 11
                            tr
                                th(scope='col') 2
                                td 111
                                td 2
                                td 2
                                td 2
                            tr
                                th(scope='col') 3
                                td 3
                                td 3
                                td 3
                                td 3
                            tr
                                th(scope='col') 4
                                td 4
                                td 4
                                td 4
                                td 4
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='col') 5
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;

    .c-wrapper.ST0012.type-vertical.margin-top.margin-bottom.width-wide.bg-default
        .component
            .cmp-container
                .c-table
                    table(cellpadding='1' cellspacing='0' border='1')
                        tbody
                            tr
                                th(scope='col') test1
                                th(scope='col') test2
                                th(scope='col') test3
                                th(scope='col') 4
                                th(scope='col') 5
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                td asdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf

    .c-wrapper.ST0012.type-vertical.margin-top.margin-bottom.width-wide.bg-default
        .component
            .cmp-container
                .c-table
                    table(cellpadding='0' cellspacing='0' border='1')
                        caption d
                        tbody
                            tr
                                th(scope='row') asdfasdf
                                td asdf
                                td aasdf
                                td asdf
                                td asdf
                            tr
                                th(scope='row') asdf
                                td &nbsp;
                                td asdf
                                td asdfa
                                td sdf
                            tr
                                th(scope='row') asdf
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='row') asdf
                                td d
                                td d
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='row') asdfasdf
                                td(colspan='4') merge&nbsp;
                            tr
                                th(scope='row') ddd
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='row') ddd
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='row') ddd
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='row') ddd
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='row') ddd
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                            tr
                                th(scope='row') ddd
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;
                                td &nbsp;

