extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0037"
    - var componentName = "CS Banner"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {    
                        '.c-floating-contents__floating' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-center'},
                                ]
                            },
                        ], 
                        '.c-hero-banner' : [
                            {
                                'name' : 'Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'}
                                ]
                            }
                        ],  
                        //- '.c-text-contents' : [
                        //-     {
                        //-         'name' : 'Align',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-right, align-text-center'},
                        //-             {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                        //-             {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                        //-         ]
                        //-     }
                        //- ]
                    };

    // Component Markup
    .guide-text-type Type1.
    .guide-text-option Optional: white
    .c-wrapper.CS0037.type-text
        // add .c-type-default
        .component.full.type-default.c-type-default
            .CS0037__container
                +hero-banner-case-image({
                    width : "content",
                    heroType : "thin",
                    dateType : "",
                    useEyebrow : false,
                    cta : "box",
                    textAlign : "left",
                    bodycopy : "Let LG take a load off your mind let LG take a load off your mind",
                })
