extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug


block meta 
    - var componentId = "AL0020"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block modal
    //- Find Model
    include ./AL0020-inc.pug
    +AL0020(true)
