extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "PD0043"
    - var componentName = "Featured Product"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    // Component Markup

    //- contents
    mixin featuredProduct(hidePrice)
        .c-product-list.c-product-list--carousel.js-product-list
            .carousel.panelcontainer
                // block - carousel
                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                    .cmp-carousel__content.swiper-wrapper
                        - for (var x = 0; x < 4; x++)
                            if (x == 0)
                                .cmp-carousel__item.swiper-slide.c-carousel__item.c-product-list__item(data-cmp-data-layer="" data-cmp-hook-carousel="item")
                                    +productCard(
                                        {
                                            flag:['New','Pre Order'], 
                                            promotion: "",
                                            installment: true,
                                            membership: '£1,866.98',
                                            soldOut: false,
                                            outOfStock: false ,
                                            imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                            type:'inch',
                                            groups:['55','66','77','55','66','77','55','66','77'],
                                            sku:'GSJV70PZTF', 
                                            modelid: 'MD07553044',
                                            ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                            grade:'f',
                                            review: true,
                                            wishlist:false,
                                            youreko:true,
                                            gradeIs:true,
                                            repair:true,
                                            Ab:true,
                                            lumpsum:true,
                                            plInfoTxt:true,
                                        }
                                    )
                            else
                                .cmp-carousel__item.swiper-slide.c-carousel__item.c-product-list__item(data-cmp-data-layer="" data-cmp-hook-carousel="item")
                                    +productCard(
                                        {
                                            flag:[],
                                            promotion: "",
                                            installment: true,
                                            membership: '£1,866.98',
                                            soldOut: false,
                                            outOfStock: false ,
                                            imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                            type:'inch',
                                            groups:['55','66','77','55','66','77','55','66','77'],
                                            sku:'GSJV70PZTF', 
                                            modelid: 'MD07553044',
                                            ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                            grade:'f',
                                            review: true,
                                            wishlist:false,
                                            youreko:true,
                                            gradeIs:true,
                                            repair:true,
                                            Ab:true,
                                            lumpsum:true,
                                            plInfoTxt:true,
                                        }
                                    )
                    .c-carousel__handler
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"prev"})
                        +carouselPagination
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"next"})
    
    .guide-text-type Type01. B2C Item Card
    .c-wrapper.PD0043.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment: "",
                    headline : {
                        text : "Featured Product",
                    }
                })(class="c-region-header--vacate-side")
                // block : featured product
                +featuredProduct(false)

    .guide-text-type Type02. B2B Item Card
    .c-wrapper.PD0043.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment: "",
                    headline : {
                        text : "Featured Product",
                    }
                })(class="c-region-header--vacate-side")
                // block : featured product
                +featuredProduct(true)

