extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "PR0007"
    - var componentName = "Recommended Promotions"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pr.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    .c-wrapper.PR0007.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Recommended Promotions",
                    }
                })(class="c-region-header--vacate-side")

                +promotion-list--swiper([
                    {flagSet : ["Bundle"], dateType : "at", buttonText: "Shop Now", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure asperiores, quam repudiandae sed eaque incidunt similique dicta hic earum id quod veritatis alias officia optio! Quae repellendus veritatis officia accusantium voluptatum itaque maxime unde? Ad earum animi corrupti illo adipisci, similique beatae, officiis iusto totam ut excepturi? Consectetur, eius unde!"},
                    {flagSet : ["Pre-Order", "Member Only"], dateType : "at", buttonText: "Buy Now", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet neque quasi corrupti doloremque perferendis. Sint consequatur dolor velit nisi sit!"},
                    {flagSet : ["Pre-Order", "Member Only"], dateType : "range", buttonText: "Shop Now", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor sit amet consectetur adipisicing elit."},
                    {flagSet : ["Bundle"], dateType : "at", buttonText: "Shop Now", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor sit."},
                    {flagSet : ["Member Only"], dateType : "range", buttonText: "Shop Now", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure asperiores, quam repudiandae sed eaque incidunt similique dicta hic earum id quod veritatis alias officia optio! Quae repellendus veritatis officia accusantium voluptatum itaque maxime unde? Ad earum animi corrupti illo adipisci, similique beatae, officiis iusto totam ut excepturi? Consectetur, eius unde!"},
                    {flagSet : ["Pre-Order", "Member Only"], dateType : "at", buttonText: "Shop Now", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor sit amet consectetur adipisicing elit."},
                ])
