mixin checkoutOrderCoupon(params)
    - let data = {...params}
    .c-checkout-ordered__container 
        .c-checkout-ordered-coupon
            p.c-checkout-ordered-coupon__title Coupons
            .c-checkout-ordered-coupon__info 
                .c-checkout-ordered-coupon__info-coupon= data.coupon
                .c-checkout-ordered-coupon__info-price
                    | - 
                    span.font-semibold
                        +unitPos(params.unitPos, data.price)

mixin checkoutOrderDelivery(params)
    - let data = {...params}
    .c-checkout-ordered__address-item.c-checkout-ordered__address-item--shipping
        .c-checkout-ordered__address-item__flag-box
            if data.flag
                - for(let i = 0; i < data.flag.length; i +=1)
                    .c-checkout-ordered__address-item__flag
                        .c-text-contents.align-text-left
                            .c-text-contents__bodycopy
                                span.cmp-text.font-w-bold-10.font-m-bold-10= data.flag[i]
        .c-checkout-ordered__address-item__addr-box
            .c-text-contents.align-text-left
                .c-text-contents__bodycopy.cmp-text.font-w-normal-16.font-m-normal-14= data.name
                .c-text-contents__bodycopy.cmp-text.font-w-normal-20.font-m-normal-16= data.address
                .c-text-contents__bodycopy.cmp-text.font-w-normal-20.font-m-normal-16= data.postcode

mixin checkoutOrderDeliveryProduct(delivery, date, info, params)
    - let data = {...params}
        .c-text-contents.align-text-left.c-checkout-ordered__item--delivery-info
            .c-checkout-ordered__item--delivery-info__title.font-w-normal-16.font-m-normal-14= delivery
            if date
                .c-checkout-ordered__item--delivery-info__date.font-red= date
            if info
                .c-checkout-ordered__item--delivery-info__info= info
        each set in data
            .c-checkout-ordered__product
                .c-checkout-ordered__product__image-box
                    .image.c-image
                        +printLazyImage(`https://via.placeholder.com/80x80/999999/333333`)
                .c-checkout-ordered__product__title= set.title
                    .c-checkout-ordered__product__text-box__desc
                        .c-checkout-ordered__product__text-box__desc-qty Qty : !{set.qty}
                        .c-checkout-ordered__product__text-box__desc-price
                            +unitPos(set.unitPos, set.price)
                            //- [Start] 2023-09-13 : ADD- Includes $15 EHF fee
                            if set.includeEHF
                                span.c-checkout-orderd__product__text-box__desc-price__EHF-fee.font-w-normal-16.font-m-normal-12 !{set.includeEHF}
                            //- [End] 2023-09-13 : ADD- Includes $15 EHF fee

//- [Start] LGCOMSA-364: Add new text to delivery section
mixin checkoutOrderDeliveryInfo(params)
    - var data = {...params}
        .c-checkout-ordered__item.c-checkout-ordered__item--information
            .c-text-contents.align-text-left.c-checkout-ordered__txt-info
                .c-checkout-ordered__txt-info__desc.font-w-normal-16.font-m-normal-14
                    p It is important that you provide the OTP that you received on your mobile phone to one of the delivery representatives upon receiving your shipment. When the OTP is provided, it means that the shipment has arrived in good condition and has been checked upon arrival. In addition, the customer has confirmed the receipt of the shipment.
                    br
                    p In case you are not able to accept the delivery, you should tell the driver to re-attempt the delivery when you or another individual you choose will be present at the delivery address to accept the delivery. Please do not share the OTP with the driver over the phone.
//- [End] LGCOMSA-364: Add new text to delivery section

//- [Start] 2024-04-11 ADD - RAC Product Case Add
mixin RACbanner(usedBanner)
    if (usedBanner)
        .c-RACbanner
            .c-RACbanner__inner 
                .c-RACbanner__img 
                    .image.c-image
                        +printLazyImage(src="/assets/image/BR_D_order_complete_banner.png", alt="lg")
                .c-RACbanner__cont 
                    .c-RACbanner__title 
                        .c-text-contents.align-text-left
                            .c-text-contents__bodycopy
                                .cmp-text.font-w-normal-32.font-m-normal-20 Solicitação de 
                                    span.font-red Instalação
                    .c-RACbanner__desc 
                        .c-text-contents.align-text-left
                            .c-text-contents__bodycopy
                                .cmp-text.font-w-normal-24.font-m-normal-16 Instale seu ar-condicionado com qualidade e segurança
                    .c-RACbanner__button
                        +linkButton({href:"https://portalservicoslg.surehub.com.br/instalacao/dados-produto", color:"black" , name:"Contratar agora", outlink:"false"})(target="_blank")
//- [End] 2024-04-11 ADD - RAC Product Case Add

mixin CT0401(option=false, country)
    .c-wrapper.CT0401
        .component
            .fluid-container
                .my-component.buy-summary-area
                    .buy-summary-area__primary
                        .buy-summary-area__primary__title.text.c-text-contents__bodycopy
                            p.cmp-text.font-w-normal-32.font-m-normal-20 Your Order
                        .c-checkout-ordered-wrap
                            .c-checkout-ordered
                                .c-checkout-ordered__item.c-checkout-ordered__item--coupon
                                    +checkoutOrderCoupon({
                                        coupon: "10% off Sign-up Welcome Coupon",
                                        price: "209.99"
                                    })
                                .c-checkout-ordered__item.c-checkout-ordered__item--address 
                                    .c-text-contents.align-text-left.c-checkout-ordered__sub-title
                                        .title.c-text-contents__bodycopy
                                            span.cmp-text.font-w-normal-24.font-m-normal-20 Delivery
                                    .c-checkout-ordered__container 
                                        +checkoutOrderDelivery({
                                            flag: ["SHIPPING"],
                                            name: "Robert Surrency",
                                            address: "20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                            postcode: "123-4567-8910"
                                        })
                                    .c-checkout-ordered__container 
                                        +checkoutOrderDelivery({
                                            flag: ["BILLING"],
                                            name: "Robert Kim",
                                            address: "20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                            postcode: "123-4567-8910"
                                        })
                                .c-checkout-ordered__item.c-checkout-ordered__item--delivery
                                    +checkoutOrderDeliveryProduct("Free Shipping", false, "Earliest Delivery Date - Thursday, Novemver 30, 2023", [
                                        {
                                            title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                            qty: "1",
                                            price: "209998",
                                        },
                                    ])
                                .c-checkout-ordered__item.c-checkout-ordered__item--delivery
                                    +checkoutOrderDeliveryProduct("Free Shipping", false, "Expected Delivery Date - Wednesday, November 29, 2023", [
                                        {
                                            title: "LG Styler Steam Clothing Care System® S3BF 3 Hangers - Black",
                                            qty: "1",
                                            price: "2099",
                                        },
                                    ])
                                if option === "multi"
                                    .c-checkout-ordered__item.c-checkout-ordered__item--delivery
                                        +checkoutOrderDeliveryProduct("Delivery &Disposal & Disconnection", "Thu, Oct 18  07:00~19:00", "The delivery time is different for each shipping company.", [
                                            {
                                                title: "LG Styler Steam Clothing Care System® S3BF 3 Hangers - Black",
                                                qty: "1",
                                                price: "2,099.98",
                                                includeEHF: "Includes $15 EHF fee",
                                            },
                                        ])
                                +checkoutOrderDeliveryInfo()
                                .c-checkout-ordered__item.c-checkout-ordered__item--payment
                                    .c-text-contents.align-text-left.c-checkout-ordered__sub-title
                                        .title.c-text-contents__bodycopy
                                            span.cmp-text.font-w-normal-24.font-m-normal-20 Payment Method
                                        if country === "pa"
                                            .c-checkout-ordered__contents.font-w-normal-20.font-m-normal-16 Applied Points 110 Points
                                            .c-checkout-ordered__contents.font-w-normal-20.font-m-normal-16 Wire transfer
                                        else
                                            .c-checkout-ordered__contents.font-w-normal-20.font-m-normal-16 Credit Card

                            .c-cta.button.align-text-center.button__ordered-confirm__details
                                +defaultButton({name:'View Order Detail', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})
                    .buy-summary-area__secondary.buy-secondary-area
                        .text.c-text-contents__bodycopy.buy-summary-area__secondary__title
                            p.cmp-text.font-w-normal-32.font-m-normal-20 Order Summary
                        if country === "br"
                            +cartPriceTotal([
                                {
                                    unitName: 'R$',
                                    unitPrice: '2.749,90',
                                    totalPriceTitle: "Total",
                                    priceListCustomize : [
                                        {title:'Subtotal(tax included)', price:'2.259,00', emphasis:false, sub: [{title:'OLW480B', price:'2.295,00'},{title:'Soundbar S40Q', price:'295,00'},{title:'OLED G2 Stand for 55 G2', price:'109,00'},{title:'LG Premium Care 3 Year', price:'89,00'}]},
                                    ],
                                    taxIncludeVat:true,
                                    discountNoPix: true,
                                    deliveryCharge: true,
                                    service: true,
                                    card: false,
                                },
                            ])
                        else if country === "mx"
                            +cartPriceTotal([
                                {
                                    unitName: '$',
                                    totalPriceTitle: "Total",
                                    priceListCustomize : [
                                        {title:'Subtotal', price:'2,259.00', emphasis:false, sub: [{title:'OLW480B', price:'2,295.00'},{title:'Soundbar S40Q', price:'295.00'},{title:'OLED G2 Stand for 55 G2', price:'109.00'},{title:'LG Premium Care 3 Year', price:'89.00'}]},
                                    ],
                                    taxIncludeVat:true,
                                    discountPaymentMethod: true,
                                    deliveryCharge: true,
                                    service: true,
                                    card: false,
                                },
                            ])
                        else if country === "pa"
                            +cartPriceTotal([
                                {
                                    unitName: '$',
                                    totalPriceTitle: "Total",
                                    priceListCustomize : [
                                        {title:'Subtotal', price:'2,090.00', emphasis:false, sub: [{title:'OLW480B', price:'1,080.00'},{title:'Soundbar S40Q', price:'480.00'},{title:'OLED G2 Stand for 55 G2', price:'180.00'},{title:'LG Premium Care 3 Year', price:'100.00'}]},
                                    ],
                                    taxIncludeVat:true,
                                    deliveryCharge: true,
                                    service: true,
                                    card: false,
                                    pointPA: true,
                                    discountAppliedPoints: true,
                                },
                            ])
                        else if country === "vn"
                            +cartPriceTotal([
                                {
                                    unitPosition: 'sup',
                                    totalPriceTitle: "Total",
                                    unitPrice: "71.927.100",
                                    priceListCustomize : [
                                        {title:'Original price',price:'39.990.000', emphasis:false},
                                        {title:'Save',price:'- 15.960.000', emphasis:false},
                                        {title:'Subtotal(tax included)',price:'59.920.000', emphasis:false, sub: [{title:'OLW480B', price:'27.993.000'}, {title:'TONE-UFP8', price:'23.940.000'}]},
                                        {title:'Discount',price:'- 1.997.000',emphasis:true, sub: [{title:'Welcom coupon',price:'- 1.997.000'}]},
                                        {title:'Tax',price:'5.447.272', sub: [{title:'VAT (10%)',price:'5.447.272'}]},
                                        {title: 'Delivery charge', price:'0', sub:[{title: 'OLW480b', price: '0'},{title: 'TONE-UFP8', price: '0'}]},
                                        {title: 'Service charge', price:'0', sub:[{title: 'Installation', price: '0'},{title: 'Haul-away', price: '0'}]},
                                    ],
                                },
                            ])
                        else
                            +cartPriceTotal([
                                {
                                    taxInclude:true,
                                    discount: true,
                                    delivery: true,
                                    service: true,
                                    payAtDoor: true,
                                    card: false,
                                },
                            ])
                        .c-cta.button.align-text-center.button__ordered-confirm__details
                            +defaultButton({name:'View Order Detail', wSize: 'large', mSize: 'small', buttonStyle: 'default', isButton: false})

                        //- [Start] 2024-04-11 ADD - RAC Product Case Add
                        if country === "br"
                            +RACbanner({usedBanner:true})
                        //- [End] 2024-04-11 ADD - RAC Product Case Add