extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_button.pug

block meta 
    - var componentId = "CT0402"
    - var componentName = "Guest Login Banner"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    // Component Markup
    include ./CT0402-inc.pug
    +CT0402