extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_image.pug

block meta 
    - var componentId = "CT0400"
    - var componentName = "Thank You For"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // Component Markup
    include ./CT0400-inc.pug
    .CT000D
        .guide-text-option Option : Checkout Delivery(default)
        +CT0400("default")
        .guide-text-option Option : (se)
        +CT0400("se")
        .guide-text-option Option : (de)
        +CT0400("de")
        .guide-text-option Option : (jp)
        +CT0400("jp")
        .guide-text-option Option : (pt)
        +CT0400("pt")
        .guide-text-option Option : (es)
        +CT0400("es")
        .guide-text-option Option : (fr)
        +CT0400("fr")
        .guide-text-option Option : (Bank Transfer)
        +CT0400("bankTransfer")
        .guide-text-option Option : (BR)
        +CT0400("process")
        .guide-text-option Option : (BR - Boleto)
        +CT0400("copy")
        .guide-text-option Option : (BR - PIX)
        +CT0400("qr")
        .guide-text-option Option : (PE - Bank Transfer 1)
        +CT0400("pe")
        .guide-text-option Option : (PE - Bank Transfer 2)
        +CT0400("pe-copy")
        .guide-text-option Option : (IN)
        +CT0400("IN")
        .guide-text-option Option : (ID)
        +CT0400("ID")
        .guide-text-option Option : (PA)
        +CT0400("PA")
        .guide-text-option Option : (PA - Bank Transfer)
        +CT0400("PA-bankTransfer")
        .guide-text-option Option : (MX - Bank Transfer)
        +CT0400("MX-bankTransfer")
        .guide-text-option Option : (PL)
        +CT0400("PL")
        .guide-text-option Option : (CZ)
        +CT0400("CZ")
        .guide-text-option Option : (VN)
        +CT0400("VN")