mixin buyFeedBack(params)
    - let data = {...params}
    .buy-feed-back
        .c-text-contents
            .title.c-text-contents__title
                +headline("font-w-normal-56 font-m-normal-28", 'h3', "Leave Feedback")
            .c-text-contents__bodycopy
                .cmp-text.font-w-normal-20.font-m-normal-12
                    p Tell us how you felt about the purchasing experience
        ul.buy-feed-back__list
            each set in data
                li.buy-feed-back__item
                    input.buy-feed-back__input.sr-only(type="radio" id=`${set.icon}` name=`buyfeedback`)
                    .buy-feed-back__iconbox
                        label(for=`${set.icon}` class=`buy-feed-back__icon buy-feed-back__icon--${set.icon}`)
                            span.sr-only= set.icon
                        span.font-w-semibold-14.font-m-semibold-14= set.feedback

mixin CT0403
    .c-wrapper.CT0403
        .component
            .fluid-container
                .my-component.margin-top.margin-bottom
                    +buyFeedBack([
                        {
                            icon:'terrible',
                            feedback:'Terrible',
                        },
                        {
                            icon:'bad',
                            feedback:'Bad',
                        },
                        {
                            icon:'okay',
                            feedback:'Okay',
                        },
                        {
                            icon:'good',
                            feedback:'Good',
                        },
                        {
                            icon:'great',
                            feedback:'Great',
                        },
                    ])
                .my-component.margin-bottom
                    .c-checkout-thank--feedback.c-checkout-thank--feedback--hidden
                        .c-text-contents
                            .title.c-text-contents__headline 
                                +headline("font-w-normal-56 font-m-normal-28", "h3", "Thank you for your feedback")
                            .text.c-text-contents__bodycopy
                                p.cmp-text.font-w-normal-20.font-m-normal-12 We appreciate you taking the time to help make our product better