extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_cart-price-total.pug

block meta 
    - var componentId = "CT0401"
    - var componentName = "Your order"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    // Component Markup
    include ./CT0401-inc.pug
    .guide-text-option Option : Single
    +CT0401()
    .guide-text-option Option : Multi
    +CT0401("multi")
    .guide-text-option Option : (BR)
    +CT0401(false, "br")
    .guide-text-option Option : (MX)
    +CT0401(false, "mx")
    .guide-text-option Option : (PA)
    +CT0401(false, "pa")
    .guide-text-option Option : (VN)
    +CT0401(false, "vn")