extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "CM0001"
    - var componentName = "GNB"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")
    script(src="https://plugin.handtalk.me/web/latest/handtalk.min.js")    
    script.
        var ht = new HT({
        token: "580b9aceaa76bf8bd86dbefa5485946d",
        avatar: "MAYA"
        });
block header
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-cm.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-gnb__desktop .c-gnb__item--utility.mypage, .c-gnb__mobile .c-gnb__group--depth1.utility-btm, .c-gnb__mobile .c-gnb__utils' : [
                            {
                                'name' : 'login',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'after-login'},
                                ]
                            },
                            {
                                'name' : 'dot',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'has-dot'},
                                ]
                            },
                            //- {
                            //-     'name' : 'VIP',
                            //-     'buttons' : [
                            //-         {'toggle' : true, 'add' : 'is-vip'},
                            //-     ]
                            //- },
                            //- {
                            //-     'name' : 'VIP B2B',
                            //-     'buttons' : [
                            //-         {'toggle' : true, 'add' : 'is-vip-b2b'},
                            //-     ]
                            //- },
                        ],
                    };

    include ./CM0001-inc.pug
    +CM0001('SAMPLE')
    div(style="height:300vh")

block modal
    +printLayerPopup('popBrowserNotSupported')
