extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug

block meta
    - var componentId = "CS0124"
    - var componentName = "Downtime error"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    //- script(src=componentId+".js" type="module")

block content
    .guide-text-option Downtime error page
    .downtime-error-wrap
        .downtime-error-info
            h1.downtime-error-tit.font-m-normal-16.font-w-normal-20 Submission form temporarily unavailable
            P.font-m-normal-12.font-w-normal-16  
                | 2017/11/03 18:00:00 to 2017/11/06 00:00:00
                br
                | (GMT -05:00, United States of America local time)
                br
                | We apologize for this inconvenience.
        .c-btn-box
            +defaultButton({name: 'Go to support home', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next")

    .guide-text-option Downtime error message
    .downtime-error-wrap
        .downtime-error-info
            h1.downtime-error-tit.font-m-normal-16.font-w-normal-20 Submission form temporarily unavailable
            P.font-m-normal-12.font-w-normal-16  
                | 2017/11/03 18:00:00 to 2017/11/06 00:00:00
                br
                | (GMT -05:00, United States of America local time)
                br
                | We apologize for this inconvenience.
