extends ../_common/_layout.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "ST0024"
    - var componentName = "Step Up Chart"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                                ]
                            },
                        ],
                        '.align-container .c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };

    // Component Markup
    .guide-text-option default
    .c-wrapper.ST0024.margin-top.margin-bottom.align-left.bg-default
        .component.folded
            .cmp-container
                .c-text-contents
                    .align-container 
                        .c-text-contents__inner 
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28')
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        
                .button.c-cta.js-table-controls
                    button.cmp-button.c-button.c-button--default.default.transparent.icon.down.m-small.w-small(type="button" data-cmp-data-layer="")
                        span.cmp-button__text.c-button__text.collapse Collapse All
                        span.cmp-button__text.c-button__text.expand Expand All
                
                //- contents
                .c-table
                        table
                                caption Table Caption
                                thead 
                                    tr 
                                        th(scope='col', rowspan="2") Features 
                                        th(scope='col') Basic 
                                        th(scope='col') Mid-Range 
                                        th(scope='col') High-End 
                                        th(scope='col') Premium 
                                    tr 
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/230x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/230x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/230x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/230x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                tbody 
                                    tr 
                                        th(scope='row') Size(Diagonal)
                                        td 43", 49", 55"
                                        td 43", 49", 55"
                                        td 43", 49", 55"
                                        td 43", 49", 55"
                                    tr 
                                        th(scope='row') Display Type 
                                        td LED
                                        td LED
                                        td LED
                                        td LED
                                    tr 
                                        th(scope='row') Resolution
                                        td Full HD 1080p
                                        td Ultra HD 4K
                                        td Full HD 1080p
                                        td Ultra HD 4k
                                    tr 
                                        th(scope='row') Smart TV Platform 
                                        td WebOS 2.0
                                        td WebOS 2.0
                                        td WebOS 2.0
                                        td WebOS 2.0
                                    tr 
                                        th(scope='row') Backlighting
                                        td Edge-Lit LED
                                        td Direct Lighting w/ Quantum Dots
                                        td Edge-Lit LED
                                        td Direct Lighting w/ Quantum Dots
                                    tr 
                                        th(scope='row') Refresh Rates
                                        td 120HZ
                                        td 240HZ
                                        td 120HZ
                                        td 240HZ
                                    tr 
                                        th(scope='row')
                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})

                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})

                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})

                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})

    .guide-text-option type 2
    .c-wrapper.ST0024.margin-top.margin-bottom.align-left.bg-default
        .component.folded
            .cmp-container
                .c-text-contents
                    .align-container 
                        .c-text-contents__inner 
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28')
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        
                .button.c-cta.js-table-controls
                    button.cmp-button.c-button.c-button--default.default.transparent.icon.down.m-small.w-small(type="button" data-cmp-data-layer="")
                        span.cmp-button__text.c-button__text.collapse Collapse All
                        span.cmp-button__text.c-button__text.expand Expand All
                
                //- contents
                .c-table.c-table--maxLength
                        table
                                caption Table Caption
                                thead 
                                    tr 
                                        th(scope='col', rowspan="2") Features 
                                        th(scope='col') Basic 
                                        th(scope='col') Mid-Range 
                                        th(scope='col') High-End 
                                        th(scope='col') Premium 
                                        th(scope='col') other 
                                    tr 
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/192x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/192x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/192x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/192x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                        td
                                            .image.c-image
                                                +printLazyImage('https://via.placeholder.com/192x170/999999/333333')
                                            .text.c-table__text
                                                .cmp-text(data-cmp-data-layer="") UF9500 Full HD Smart TV
                                tbody 
                                    tr 
                                        th(scope='row') Size(Diagonal)
                                        td 43", 49", 55"
                                        td 43", 49", 55"
                                        td 43", 49", 55"
                                        td 43", 49", 55"
                                        td 43", 49", 55"
                                    tr 
                                        th(scope='row') Display Type 
                                        td LED
                                        td LED
                                        td LED
                                        td LED
                                        td LED
                                    tr 
                                        th(scope='row') Resolution
                                        td Full HD 1080p
                                        td Ultra HD 4K
                                        td Full HD 1080p
                                        td Ultra HD 4k
                                        td Ultra HD 4k
                                    tr 
                                        th(scope='row') Smart TV Platform 
                                        td WebOS 2.0
                                        td WebOS 2.0
                                        td WebOS 2.0
                                        td WebOS 2.0
                                        td WebOS 2.0
                                    tr 
                                        th(scope='row') Backlighting
                                        td Edge-Lit LED
                                        td Direct Lighting w/ Quantum Dots
                                        td Edge-Lit LED
                                        td Direct Lighting w/ Quantum Dots
                                        td Direct Lighting w/ Quantum Dots
                                    tr 
                                        th(scope='row') Refresh Rates
                                        td 120HZ
                                        td 240HZ
                                        td 120HZ
                                        td 240HZ
                                        td 240HZ
                                    tr 
                                        th(scope='row') Where to buy
                                        td 
                                            +textButton({name: 'Where to buy', wSize: 'large', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: false})
                                        td 
                                            +textButton({name: 'Where to buy', wSize: 'large', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: false})
                                        td 
                                            +textButton({name: 'Where to buy', wSize: 'large', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: false})
                                        td 
                                            +textButton({name: 'Where to buy', wSize: 'large', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: false})
                                        td 
                                            +textButton({name: 'Where to buy', wSize: 'large', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: false})
                                    tr 
                                        th(scope='row')
                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})

                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})

                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})

                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})
                                        td 
                                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'Default', isButton: false})
                                    
        

