extends ../_common/_layout.pug
//- include ../_common/_headline.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "PD0010"
    - var componentName = "PDP QnA"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    mixin title-area 
        - var descStyle = "font-w-normal-24 font-m-normal-16"

        +component-title-area-custom
            +component-headline({
                alignment:"",
                text : "Ask & Answer"
            })
            .text.c-region-header__text
                .cmp-text(data-cmp-data-layer="" class=descStyle)
                    p 
                        | Ask your questions. Share your answers. 
                        br
                        | Please first review the detailed product information and help guides in the 
                        // GA4
                        a.font-underline(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Product Support 
                        | section for this product prior to posting a question.

    // Component Markup
    .guide-text-option Option : BV1
    .c-wrapper.PD0010.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                +title-area

                //- contents
                .c-ask-answer 
                    // BV1 integration guide
                    // https://knowledge.bazaarvoice.com/wp-content/conversations/en_US/Display/display_integration_v1.html

                    // BV1
                    #BVQAContainer(data-modelid="MD07548335")

    .guide-text-option Option : BV2
    .c-wrapper.PD0010.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +title-area 
                
                //- contents
                .c-ask-answer 
                    // BV2 integration guide
                    // https://knowledge.bazaarvoice.com/wp-content/conversations/en_US/Display/display_integration.html

                    // BV2
                    div(data-bv-show="questions", data-bv-product-id="MD08002010")
                    