extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "PR0001"
    - var componentName = "Promotion List"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pr.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    .c-wrapper.PR0001.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "What's Now Benefit?",
                    }
                })(class="")

                - var nameFontStyle = "font-w-semibold-16 font-m-normal-14i font-semibold"
                - var descFontStyle = "font-w-normal-14 font-m-normal-14"
                - var useAnchor = false
                - var useActiveImage = true
                
                .c-floating-wrap.can-sticky.bg-default
                    +roll-selector([
                        {useDualImage: true, useActiveImage, name:"All", description:"", nameFontStyle, descFontStyle},
                        {useDualImage: true, name:"Tv/Audio/Video", description:"", nameFontStyle, descFontStyle },
                        {useDualImage: true, name:"Appliances", description:"", nameFontStyle, descFontStyle },
                        {useDualImage: true, name:"Air Solution", description:"", nameFontStyle, descFontStyle },
                        {useDualImage: true, name:"Computer Products", description:"", nameFontStyle, descFontStyle },
                        {useDualImage: true, name:"LG SIGNATURE", description:"", nameFontStyle, descFontStyle },
                        {useDualImage: true, name:"Category Name", description:"", nameFontStyle, descFontStyle },
                        {useDualImage: true, name:"Category Name", description:"", nameFontStyle, descFontStyle },
                    ], useAnchor, 'tab')
                
                +promotion-list([
                    {flagSet : ["Bundle", "Member Only"], dateType : "at", buttonText: "Shop Now", buttonText2: "Terms & Conditions", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure asperiores, quam repudiandae sed eaque incidunt similique dicta hic earum id quod veritatis alias officia optio! Quae repellendus veritatis officia accusantium voluptatum itaque maxime unde? Ad earum animi corrupti illo adipisci, similique beatae, officiis iusto totam ut excepturi? Consectetur, eius unde!"},
                    {flagSet : ["Timedeal", "Member Only"], dateType : "at", buttonText: "Shop Now", buttonText2: "Terms & Conditions", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet neque quasi corrupti doloremque perferendis. Sint consequatur dolor velit nisi sit!"},
                    {flagSet : ["New", "Pre-Order", "Bundle"], dateType : "range", buttonText: "Shop Now", buttonText2: "Terms & Conditions", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor sit amet consectetur adipisicing elit."},
                    {flagSet : ["Redemption"], dateType : "at", buttonText: "Shop Now", buttonText2: "Terms & Conditions", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor sit."},
                    {flagSet : ["Package-Deal"], dateType : "range", buttonText: "Shop Now", buttonText2: "Terms & Conditions", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure asperiores, quam repudiandae sed eaque incidunt similique dicta hic earum id quod veritatis alias officia optio! Quae repellendus veritatis officia accusantium voluptatum itaque maxime unde? Ad earum animi corrupti illo adipisci, similique beatae, officiis iusto totam ut excepturi? Consectetur, eius unde!"},
                    {flagSet : ["Pre-Order"], dateType : "at", buttonText: "Shop Now", buttonText2: "Terms & Conditions", title : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.", body : "Lorem ipsum dolor sit amet consectetur adipisicing elit."},
                ])   

                .c-load-more.align-center
                    +pagination