include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_resource.pug
include ../_common/_title-area.pug
include ../_common/_specs.pug
include ../_common/_resource.pug


mixin PD0008(option=false)
    .c-wrapper.PD0008.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                +specs-lgness
mixin printTab(div, num, selected, productInfo)
    if selected
        li.cmp-tabs__tab.cmp-tabs__tab--active.cmp-carousel__item.swiper-slide.c-carousel__item(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", data-cmp-hook-tabs="tab", aria-selected="true")
            //- if block
            //-     block
            +printLazyPicture(`https://via.placeholder.com/32x32`, `https://via.placeholder.com/64x64`)
            .cmp-text.font-w-normal-16.font-m-normal-12= productInfo.pro_title
    else 
        li.cmp-tabs__tab.cmp-carousel__item.swiper-slide.c-carousel__item(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", data-cmp-hook-tabs="tab", aria-selected="false")
            //- if block
            //-     block
            +printLazyPicture(`https://via.placeholder.com/32x32`, `https://via.placeholder.com/64x64`)
            .cmp-text.font-w-normal-16.font-m-normal-12= productInfo.pro_title

mixin printTabPanel(div, num, selected)
    if selected 
        .cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
            if block
                block
    else 
        .cmp-tabs__tabpanel(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
            if block
                block