extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_carousel.pug
block meta 
    - var componentId = "PD0008"
    - var componentName = "PDP Specs"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        'body' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'dark-theme'},
                                ]
                            }
                        ],
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            }
                        ],
                    };

    include ./PD0008-inc.pug
    
    script.
        // for print test
        const process = {
            env: {
                NODE_ENV: 'local'
            }
        };

    .guide-text-option Option. Full
    +PD0008()

    .guide-text-option Option. No summary
    .c-wrapper.PD0008.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                +specs-lgness({useSummary : false})

    .guide-text-option Option. only All spec    
    .c-wrapper.PD0008.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                +specs-lgness({onLayer : true, useSummary : false, useKeyspecs : false})

    .guide-text-option Option. PTO_Bundle_Spec Qty2
    .c-wrapper.PD0008.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                .tabs
                    .cmp-tabs.panelcontainer(data-cmp-data-layer="", data-placeholder-text="false")
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-2 | width 50%
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-3 | width 33.333%
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-4 | width 25%
                        .cmp-tabs__inner.cmp-tabs__inner--qty-2(data-cmp-data-layer="")
                            ul.cmp-tabs__tablist(role="tablist", aria-multiselectable="false")
                                +printTab(1, 1, true, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α9 GEN5 AI"
                                }) tab menu name 1
                                +printTab(1, 2, false, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α8 GEN5 AI"
                                }) tab menu name 2
                        
                        +printTabPanel(1, 1, true)
                            +specs-lgness
                        +printTabPanel(1, 2, false)
                            +specs-lgness

    .guide-text-option Option. PTO_Bundle_Spec Qty3
    .c-wrapper.PD0008.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                .tabs.spec-slide
                    .cmp-tabs.carousel.panelcontainer(data-cmp-data-layer="", data-placeholder-text="false")
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-2 | width 50%
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-3 | width 33.333%
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-4 | width 25%
                        .cmp-tabs__inner.cmp-tabs__inner--qty-3.cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                            ul.cmp-tabs__tablist.cmp-carousel__content.swiper-wrapper(role="tablist", aria-multiselectable="false")
                                +printTab(3, 1, true, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α9 GEN5 AI"
                                }) tab menu name 1
                                +printTab(3, 2, false, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α8 GEN5 AI"
                                }) tab menu name 2
                                +printTab(3, 3, false, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α7 GEN5 AI"
                                }) tab menu name 3
                            .c-carousel__handler
                                .cmp-carousel__actions
                                    +carouselBtn({type:"pagination", direction:"prev"})
                                .cmp-carousel__actions
                                    +carouselBtn({type:"pagination", direction:"next"})
                        
                        +printTabPanel(3, 1, true)
                            +specs-lgness
                        +printTabPanel(3, 2, false)
                            +specs-lgness
                        +printTabPanel(3, 3, false)
                            +specs-lgness

    .guide-text-option Option. PTO_Bundle_Spec Qty4
    .c-wrapper.PD0008.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                .tabs.spec-slide
                    .cmp-tabs.carousel.panelcontainer(data-cmp-data-layer="", data-placeholder-text="false")
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-2 | width 50%
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-3 | width 33.333%
                        // .cmp-tabs__inner.cmp-tabs__inner--qty-4 | width 25%
                        .cmp-tabs__inner.cmp-tabs__inner--qty-4.cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                            ul.cmp-tabs__tablist.cmp-carousel__content.swiper-wrapper(role="tablist", aria-multiselectable="false")
                                +printTab(2, 1, true, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α9 GEN5 AI"
                                }) tab menu name 1
                                +printTab(2, 2, false, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α8 GEN5 AI"
                                }) tab menu name 2
                                +printTab(2, 3, false, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α7 GEN5 AI"
                                }) tab menu name 3
                                +printTab(2, 4, false, productInfo = {
                                    pro_title : "TV LG OLED EVO C2 | 2022 | 55'' (139 CM) | UHD | PROCESSEUR Α6 GEN5 AI"
                                }) tab menu name 4
                            .c-carousel__handler
                                .cmp-carousel__actions
                                    +carouselBtn({type:"pagination", direction:"prev"})
                                .cmp-carousel__actions
                                    +carouselBtn({type:"pagination", direction:"next"})
                        
                        +printTabPanel(2, 1, true)
                            +specs-lgness
                        +printTabPanel(2, 2, false)
                            +specs-lgness
                        +printTabPanel(2, 3, false)
                            +specs-lgness
                        +printTabPanel(2, 4, false)
                            +specs-lgness