mixin myLinkedLoginIcon(data)
    ul.my-linkedlogin-icon
        each set in data
            li 
                a(class='my-linkedlogin-icon__ico-box' href="#" role="button")
                    i(class=`my-linkedlogin-icon__ico my-linkedlogin-icon__ico--${set.apps}`)
                    span.sr-only= set.apps

//- RO Descript Toggle
mixin CT502Descript(option=false) 
    .my-signIn__discript--wrap
        if(option == "sg")
            // RO SG
            .my-signIn__discript
                .my-signIn__discript--inner
                    .cmp-text.my-signIn__discript--text.ellipsis(id="signInRoSg")
                        | By submitting Your personal data through Our website to Us,
                        | You confirm that you have read and hereby accept and agree to the following: 
                        | (a) the terms and conditions of warranty; 
                        | and (b) Your personal data hereunder will be collected,
                        | used and disclosed to third parties 
                        | (ie. Our affiliates, authorized business partners, agents and service providers)
                        | which may be outside Your country of residence,
                        | only to the extent necessary for Us to carry out warranty or
                        | customer services to You, for Our quality monitoring control and
                        | Our legal compliance purposes, in accordance with LGE Privacy Policy (website:
                        +linkButton({type:"text",color:"black", underline:true,comment:false, outlink:false, name: "http://www.lg.com/sg/privacy"})(target='_blank' rel ='noopener noreferrer' data-link-name="learn_more" data-link-destination="" data-link-menu="" data-link-page-type="")
                        | ) and in compliance with 
                        | the Singapore Personal Data Protection Act 2012.
                        | IF YOU DO NOT ACCEPT AND AGREE WITH THE AFOREMENTIONED,
                        | PLEASE DO NOT PROCEED TO REGISTER THE PRODUCT WARRANTY CARD ONLINE 
                        | BUT WRITE TO OUR CUSTOMER SERVICE CENTER (Email:
                        +linkButton({type:"text",color:"black", underline:true,comment:false, outlink:false, name: "lgesg@lge.com"})(target='_blank' rel ='noopener noreferrer' data-link-name="learn_more" data-link-destination="" data-link-menu="" data-link-page-type="")
                        | ) FOR ASSISTANCE.
                    .my-signIn__discript--button.my-signIn__discript--expand.button
                        button.cmp-button.c-button.c-button--text-icon.js-more-text-trigger(aria-expanded="false" aria-controls="signInRoSg" data-cmp-data-layer='')
                            span.cmp-button__text.c-button__text.expand
                                span View More
                            span.cmp-button__text.c-button__text.collapse
                                span Close
        if(option == "es")
            //RO ES
            .my-signIn__discript
                .my-signIn__discript--inner
                    .cmp-text.my-signIn__discript--text(id="signInRoEs")
                        | If you have an ad blocker activated, you may experience log-in errors,
                        | in order to access without problems, please deactivate it. 
                        | Remember that we will not show you ads on our website.

mixin CT502(option=false)
    mixin trigger(controlsId)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded="false" aria-controls=`${controlsId}`)
                span.c-accordion__button-text.expand.sr-only Expand
                span.c-accordion__button-text.collapse.sr-only Collapse
    
    mixin contentsBody(useImg, listType, content, faq)
        if listType 
            .c-wide-list(role="list")
                //- +modelList({isList:true, linkType: true, productName: 'All'}) 
                +modelList({isList:true, linkType: true, productName: 'productlist'}) 
                +modelList({isList:true, linkType: true, productName: 'productlist'}) 
                +modelList({isList:true, linkType: true, productName: 'productlist'}) 
                +modelList({isList:true, linkType: true, productName: 'productlist'}) 
                +modelList({isList:true, linkType: true, productName: 'productlist'}) 
                +modelList({isList:true, linkType: true, productName: 'productlist'}) 
        else
            // block - text contents
            .c-text-contents.c-accordion__body-text
                span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-semibold(aria-hidden="true") A.
                .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16
                    span.cmp-text(data-cmp-data-layer="") #{faq.content}

            if useImg
                .image.c-image.c-accordion__body-image
                    +printLazyImage("https://via.placeholder.com/1600x900/000/333/?text=Image", "")

    .my-signIn__list
        .my-signIn__text
            if (option === "sign up")
                h3.font-w-normal-14i.font-m-normal-14 Sign up with
            //- 2023-06-08 ( case : Template – B2B email Step1 )
            else if (option === "B2B sign up")
                span.font-w-normal-14i.font-m-normal-14 Already have an account? 
                a.font-w-normal-14i.font-m-normal-14.font-underline(href="#" target="_self" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") Sign in
                h4.divLine.font-w-normal-14i.font-m-normal-14 or
            else
                h3.font-w-normal-14i.font-m-normal-14 Sign in with                   
        +myLinkedLoginIcon([
            {
                apps:"apple",
            },
            {
                apps:"amazon",
            },
            {
                apps:"google",
            },
            {
                apps:"facebook",
            },
        ])
