extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug


block meta 
    - var componentId = "BU0004"
    - var componentName = "Tab"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

 
    mixin printTab(div, num, selected)
        if selected
            li.swiper-slide.cmp-tabs__tab.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true")
                a(role="tab" aria-label="")
                    if block
                        block
        else 
            li.swiper-slide.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false")
                a(role="tab" aria-label="")
                    if block
                        block

    mixin printTab2(div, num, selected)
        if selected
            licmp-tabs__tab.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true")
                a(role="tab" aria-label="")
                    if block
                        block
        else 
            li.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false")
                a(role="tab" aria-label="")
                    if block
                        block
    mixin printTab3(div, num, selected)
        if selected
            li.swiper-slide.cmp-tabs__tab.cmp-tabs__tab--active.c-hidden-pc(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true")
                a(role="tab" aria-label="")
                    if block
                        block
        else 
            li.swiper-slide.cmp-tabs__tab.c-hidden-pc(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false")
                a(role="tab" aria-label="")
                    if block
                        block                     

    mixin printTabPanel(div, num, selected)
        if selected 
            .c-tabs__tabpanel.c-tabs__tabpanel--active.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="")
                if block
                    block
        else 
            .c-tabs__tabpanel.cmp-tabs__tabpanel(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="")
                if block
                    block

    // Component Markup
    .guide-text-type TAB
    // block : BU0004
    .c-wrapper.BU0004.type-text.margin-bottom
        .component.type-tabs.full.type-form
            .BU0004__container
                .c-tabs.tabs.panelcontainer
                    .cmp-tabs(data-cmp-data-layer="" data-placeholder-text="false")
                        .c-tabs__inner.swiper
                            ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist" aria-multiselectable="false")
                                +printTab(2, 1, true)
                                    h3.c-tab__title TAP1TAP1TAP1TAP1TAP1TAP1
                                +printTab(2, 2, false)
                                    h3.c-tab__title Tap name2
                                +printTab(2, 3, false)
                                    h3.c-tab__title Tap name3                             

                        +printTabPanel(2, 1, true)
                            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates saepe beatae modi soluta quas nostrum ipsa in quisquam, adipisci veniam laborum asperiores tempora reprehenderit, aspernatur recusandae aut quidem alias veritatis.Velit quasi voluptatum incidunt magni eum qui ipsam iure fugiat at amet consequuntur aut aspernatur praesentium necessitatibus ea dolore expedita beatae quos, et itaque quibusdam pariatur eaque saepe. Laboriosam, id!Velit iusto dolores esse ut est officiis similique cupiditate aliquid, blanditiis repellendus provident reprehenderit amet repudiandae expedita ad voluptatum ipsum modi autem totam vero exercitationem dicta magni deserunt numquam? Sint.Fugit reiciendis expedita minima officia sint delectus quisquam ducimus omnis illo, cupiditate quam asperiores perferendis voluptatem suscipit sunt ipsum. Accusantium quia, error molestiae voluptatibus quibusdam laboriosam deleniti quasi reiciendis porro!Sit saepe pariatur suscipit quia, sint animi quasi eos blanditiis ut, cum in accusamus nisi deleniti, eveniet doloremque possimus quidem? Aliquid veritatis cumque iusto voluptatibus itaque inventore autem impedit exercitationem.Deleniti neque quo voluptatibus, maxime tenetur sint, officia quidem nobis architecto quos est magni, doloribus tempora et numquam similique eum? Hic amet culpa illum. Eveniet molestiae quod hic aspernatur illum.Architecto sunt tenetur modi omnis, voluptas eligendi assumenda necessitatibus neque natus aliquid unde suscipit, sint ut? Qui ipsa officiis ex. Debitis vero nihil cumque illum in quia porro earum tempora!Suscipit excepturi vitae nemo voluptates ducimus, dicta rem voluptatem omnis provident voluptatibus obcaecati aut laborum minima. Porro nisi cumque, praesentium voluptate culpa beatae soluta magnam molestias perspiciatis aliquam aspernatur fugiat.Voluptatum quod voluptas cumque ipsa, molestias id iste quo libero recusandae amet dolor, voluptates ipsum culpa eos doloremque. Nemo maiores asperiores accusamus ad facilis dignissimos blanditiis eius perferendis accusantium voluptates.Ad odio itaque est magnam eaque sit quam labore quod dolore incidunt. Ipsum quo assumenda distinctio maiores nisi voluptas quam placeat, alias tempore sapiente molestias, libero recusandae eum, aliquid blanditiis.Ducimus, error. Esse itaque nemo recusandae! Possimus, nobis? Error, mollitia accusamus. Officia, adipisci alias asperiores explicabo earum libero ad illum. Asperiores vero quaerat maxime alias et, eveniet porro dicta error?Quod ex dolorem maxime fugit doloremque provident quidem laborum consequuntur repellendus possimus! Omnis accusamus animi voluptates expedita quia accusantium quas perferendis labore incidunt quasi eius sapiente, veniam architecto deserunt. Harum?Eligendi doloremque voluptatem iusto illum est dolores natus vero nihil, corporis laborum accusantium impedit sequi quidem distinctio aspernatur! Deserunt atque, adipisci harum alias nesciunt quia deleniti consectetur a voluptatem odio?Sed nihil doloribus aspernatur nulla natus exercitationem facilis dolore, omnis eligendi dolores nobis deleniti incidunt modi quae sint laboriosam, minus asperiores molestias ut. Omnis sunt consequatur assumenda voluptatum dolores laudantium.Quaerat laudantium, necessitatibus, voluptate natus et obcaecati enim hic vel mollitia excepturi est ab! Eveniet, architecto cupiditate! Vel non provident culpa suscipit. Incidunt ullam minima nulla unde magni porro vel.Reprehenderit consequuntur repellendus esse nemo doloremque, quo quod inventore magni ut animi, in ratione vero pariatur. Eius voluptate assumenda cumque, explicabo sint ullam distinctio similique doloremque exercitationem beatae iusto ea.Perferendis numquam fugiat accusantium? Eligendi adipisci, praesentium omnis illum sed aperiam asperiores dolorem ratione facere sit? Ex nemo voluptates culpa reprehenderit, ad optio quo ratione enim! Soluta impedit blanditiis neque!Iure dicta modi architecto pariatur fugit nobis nesciunt totam quae quas mollitia enim dolorum quisquam tenetur est, amet maxime suscipit reiciendis distinctio quos non odit illo veritatis. Eos, nulla minus.Qui natus maiores minus, fuga quibusdam ratione in voluptas praesentium earum consectetur! Maxime repudiandae fuga vero quae necessitatibus? Praesentium atque cupiditate nobis distinctio pariatur. Sit molestias corporis consequatur dicta. Incidunt.Illo, laboriosam maxime alias similique dolorum odit sint culpa inventore magnam qui vitae natus pariatur minima. Corporis quis, architecto iusto et autem vitae, saepe deserunt tempore delectus alias accusamus aliquid.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates saepe beatae modi soluta quas nostrum ipsa in quisquam, adipisci veniam laborum asperiores tempora reprehenderit, aspernatur recusandae aut quidem alias veritatis.Velit quasi voluptatum incidunt magni eum qui ipsam iure fugiat at amet consequuntur aut aspernatur praesentium necessitatibus ea dolore expedita beatae quos, et itaque quibusdam pariatur eaque saepe. Laboriosam, id!Velit iusto dolores esse ut est officiis similique cupiditate aliquid, blanditiis repellendus provident reprehenderit amet repudiandae expedita ad voluptatum ipsum modi autem totam vero exercitationem dicta magni deserunt numquam? Sint.Fugit reiciendis expedita minima officia sint delectus quisquam ducimus omnis illo, cupiditate quam asperiores perferendis voluptatem suscipit sunt ipsum. Accusantium quia, error molestiae voluptatibus quibusdam laboriosam deleniti quasi reiciendis porro!Sit saepe pariatur suscipit quia, sint animi quasi eos blanditiis ut, cum in accusamus nisi deleniti, eveniet doloremque possimus quidem? Aliquid veritatis cumque iusto voluptatibus itaque inventore autem impedit exercitationem.Deleniti neque quo voluptatibus, maxime tenetur sint, officia quidem nobis architecto quos est magni, doloribus tempora et numquam similique eum? Hic amet culpa illum. Eveniet molestiae quod hic aspernatur illum.Architecto sunt tenetur modi omnis, voluptas eligendi assumenda necessitatibus neque natus aliquid unde suscipit, sint ut? Qui ipsa officiis ex. Debitis vero nihil cumque illum in quia porro earum tempora!Suscipit excepturi vitae nemo voluptates ducimus, dicta rem voluptatem omnis provident voluptatibus obcaecati aut laborum minima. Porro nisi cumque, praesentium voluptate culpa beatae soluta magnam molestias perspiciatis aliquam aspernatur fugiat.Voluptatum quod voluptas cumque ipsa, molestias id iste quo libero recusandae amet dolor, voluptates ipsum culpa eos doloremque. Nemo maiores asperiores accusamus ad facilis dignissimos blanditiis eius perferendis accusantium voluptates.Ad odio itaque est magnam eaque sit quam labore quod dolore incidunt. Ipsum quo assumenda distinctio maiores nisi voluptas quam placeat, alias tempore sapiente molestias, libero recusandae eum, aliquid blanditiis.Ducimus, error. Esse itaque nemo recusandae! Possimus, nobis? Error, mollitia accusamus. Officia, adipisci alias asperiores explicabo earum libero ad illum. Asperiores vero quaerat maxime alias et, eveniet porro dicta error?Quod ex dolorem maxime fugit doloremque provident quidem laborum consequuntur repellendus possimus! Omnis accusamus animi voluptates expedita quia accusantium quas perferendis labore incidunt quasi eius sapiente, veniam architecto deserunt. Harum?Eligendi doloremque voluptatem iusto illum est dolores natus vero nihil, corporis laborum accusantium impedit sequi quidem distinctio aspernatur! Deserunt atque, adipisci harum alias nesciunt quia deleniti consectetur a voluptatem odio?Sed nihil doloribus aspernatur nulla natus exercitationem facilis dolore, omnis eligendi dolores nobis deleniti incidunt modi quae sint laboriosam, minus asperiores molestias ut. Omnis sunt consequatur assumenda voluptatum dolores laudantium.Quaerat laudantium, necessitatibus, voluptate natus et obcaecati enim hic vel mollitia excepturi est ab! Eveniet, architecto cupiditate! Vel non provident culpa suscipit. Incidunt ullam minima nulla unde magni porro vel.Reprehenderit consequuntur repellendus esse nemo doloremque, quo quod inventore magni ut animi, in ratione vero pariatur. Eius voluptate assumenda cumque, explicabo sint ullam distinctio similique doloremque exercitationem beatae iusto ea.Perferendis numquam fugiat accusantium? Eligendi adipisci, praesentium omnis illum sed aperiam asperiores dolorem ratione facere sit? Ex nemo voluptates culpa reprehenderit, ad optio quo ratione enim! Soluta impedit blanditiis neque!Iure dicta modi architecto pariatur fugit nobis nesciunt totam quae quas mollitia enim dolorum quisquam tenetur est, amet maxime suscipit reiciendis distinctio quos non odit illo veritatis. Eos, nulla minus.Qui natus maiores minus, fuga quibusdam ratione in voluptas praesentium earum consectetur! Maxime repudiandae fuga vero quae necessitatibus? Praesentium atque cupiditate nobis distinctio pariatur. Sit molestias corporis consequatur dicta. Incidunt.Illo, laboriosam maxime alias similique dolorum odit sint culpa inventore magnam qui vitae natus pariatur minima. Corporis quis, architecto iusto et autem vitae, saepe deserunt tempore delectus alias accusamus aliquid.
                        +printTabPanel(2, 2, false)
                            | Tab panel2222
                        +printTabPanel(2, 3, false)
                            | Tab panel3333