extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_brand-detail.pug

block meta 
    - var componentId = "CS0116"
    - var componentName = "Blank"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
   
    .guide-text-type Blank

    // cs-mSmall // mobile 12px
    // cs-mMedium // mobile 18px
    // cs-mLarge // mobile 24px
    // cs-mXlarge // mobile 30px
    // cs-wSmall // web 24px
    // cs-wMedium // web 36px
    // cs-wLarge // web 48px
    // cs-wXlarge // web 60px
    hr.cs-mSmall         