extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_cs-form.pug



block meta 
    - var componentId = "CS0109"
    - var componentName = "Premuim care"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug
    mixin productList
        .c-prd-grid
            div(class="c-modal-open" aria-controls="CS0013" tabindex="0" data-link-name)  
                +printLazyImage('../../assets/icon/icon-aircon-80-80_normal.svg')
                .c-category__title.font-m-normal-16.font-w-normal-24 Air 
                    br.c-hidden-mo 
                    | conditioning
                    br
                    | system
            div(class="c-modal-open" aria-controls="CS0013" tabindex="0" data-link-name)  
                +printLazyImage('../../assets/icon/icon-appliances-80-80_normal.svg')
                .c-category__title.font-m-normal-16.font-w-normal-24  Home
                    br
                    | appliances
            div(class="c-modal-open" aria-controls="CS0013" tabindex="0" data-link-name)
                +printLazyImage('../../assets/icon/icon-tv-audio-video-80-80_normal.svg')
                // 20230305 tag change (h4 -> .c-category__title / for SEO)
                .c-category__title.font-m-normal-16.font-w-normal-24 TV/Audio/
                    br  
                    | Video
        .c-tabs__desc.font-m-normal-14.font-w-normal-16 *Includes business-only products.
    mixin galleryItem(type)
        case type
            when 1
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                   .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Your registed product
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    // role="link" before login, role="dialog" after login
                                    +defaultButton({name: 'Chooser to purchase', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
            
            when 2
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                   .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Your registed product
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    +defaultButton({name: 'Chooser to purchase', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
            // 20230531 When the area is a link
            when 3
                .cmp-carousel__item.swiper-slide.c-carousel__item.emptyCard.c-hidden-mo(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    // Insert emptycard when data is less than 3 (added class .emptyCard)
                    .c-prd-register
                        a.c-prd-register__to-list(href="#" aria-label="Go to product registration page" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
            when 4 
                .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                   .c-prd-register
                        .c-prd-register__prdinfo
                            +printLazyPicture('https://via.placeholder.com/80x80/ccc/000/?text=80x80', 'https://via.placeholder.com/132x132/ccc/000/?text=132x132')
                            .c-prd-register__prdtxt
                                p.font-m-normal-12.font-w-normal-16 Register products with ThinQ
                                .c-prd-tit.font-m-normal-20.font-w-normal-20 LG NANO76 70inch 4K SMART NANOCELL TV (70NANO766QA)
                                .button.c-cta
                                    +button({color:"black", name: "Quick registeration", class:'toastOpen'})(aria-describedby="toastOpen" role="toast")
            // 20230531 When the area is not a link
            when 5
                .cmp-carousel__item.swiper-slide.c-carousel__item.emptyCard.c-hidden-mo(data-cmp-data-layer="" data-cmp-hook-carousel="item" tabindex="0")
                    // Insert emptycard when data is less than 3 (added class .emptyCard)
                    .c-prd-register
                        p.c-prd-register__to-list             
        if block
            block
    mixin searchBarType01
        P.searchBar__infoMsg.font-m-normal-14.font-w-normal-20 * After entering the model number, please select the product from the search result. (Enter key does not work)
        .searchbar.CS0109__search
            #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                .searchBar__searchInner
                    form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                        span.fieldIcons__root.c-search-type
                            span.fieldIcons__input
                                input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Please type model number')
                                button(type="button").c-button-delete delete button
                                
                            //- button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
                            //-     span.icon__root
                            //-         span.sr-only Search

                        span.fieldIcons__root.c-normal-type(style="display:none;")
                            span.fieldIcons__input
                                input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Please type model number')
                                button(type="button").c-button-delete delete button
                        .c-warning.c-subject-required Model number is required.

                        p.message__root
                        .searchBar__SearchAutocompleteWrapper

            .c-model-contents
                a(tabindex="0" class="c-modal-open change-search font-m-normal-14 font-w-normal-16" aria-label="" aria-controls="CS0027" role="dialog" data-link-name) How to find my model number?

            // Note) search ux follows SE component.
            .searchLayer
                #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                    .searchBar__searchInner
                        form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                            span.fieldIcons__root
                                span.fieldIcons__input
                                    input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Please type model number')
                                    button(type="button").c-button-delete delete button
                                //- button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-pc
                                    span.icon__root
                                        span.sr-only Search
                            p.message__root
                    button(type="button" title="cancel" role="search box cancel" aria-label="" aria-describedby="").c-cancel.c-hidden-pc.font-m-normal-16 Cancel 
                // search no data
                //- div.c-search-nodata
                //-     p.font-m-normal-16.font-w-normal-24 If you entered place of purchase correctly, click the button.
                //-     +textButton({name: 'Enter place of purchase', underline:true, wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})
                    
                // search result
                ul(role="grid" aria-label="Find my product list") 
                    li(role="row")
                        a(href="#")
                            div 
                                span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                .c-search-prd-name.font-m-normal-16.font-w-normal-16 55" LG 
                                    // The span tag is bold when input    
                                    span OLED 
                                    | TV - B7
                            .c-search-category-name.font-m-normal-12 TVs
                    // When there is no product-friendly name (li addclass .c-noName)
                    li.c-noName(role="row")
                        a(href="#")
                            div 
                                span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                .c-search-prd-name.font-m-normal-16.font-w-normal-16 
                            .c-search-category-name.font-m-normal-12 TVs
                    li(role="row") 
                        a(href="#")
                            div 
                                span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                .c-search-prd-name.font-m-normal-16.font-w-normal-16 55" LG     
                                    span OLED 
                                    | TV - B7
                            .c-search-category-name.font-m-normal-12 TVs
                    li(role="row") 
                        a(href="#")
                            div 
                                span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                .c-search-prd-name.font-m-normal-16.font-w-normal-16 55" LG     
                                    span OLED 
                                    | TV - B7
                            .c-search-category-name.font-m-normal-12 TVs
                    
    mixin searchBarType02
        label.font-m-normal-16.font-w-normal-24 Place of purchase #[em.require *]#[span.sr-only Required Field]
        .searchbar.CS0109__search.CS0109__search--type2
            #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                .searchBar__searchInner
                    form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                        span.fieldIcons__root.c-search-type
                            span.fieldIcons__input
                                input#textInput__input.textInput__input.field__input.font-m-normal-20.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Enter place of purchase')
                                button(type="button").c-button-delete delete button
                                
                            button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
                                span.icon__root
                                    span.sr-only Search

                        span.fieldIcons__root.c-normal-type(style="display:none;")
                            span.fieldIcons__input
                                input#textInput__input.textInput__input.field__input.font-m-normal-20.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Enter place of purchase')
                                button(type="button").c-button-delete delete button
                        .c-warning.c-subject-required Place of purchase is required.

                        p.message__root
                        .searchBar__SearchAutocompleteWrapper

            .c-model-contents
                a(tabindex="0" class="c-modal-open change-search font-m-normal-14 font-w-normal-16" aria-label="" aria-controls="CS0027" role="dialog" data-link-name) Can’t Find the Place?

            // Note) search ux follows SE component.
            .searchLayer
                #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
                    .searchBar__searchInner
                        form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                            span.fieldIcons__root
                                span.fieldIcons__input
                                    input#textInput__input.textInput__input.field__input.font-m-normal-16.font-w-normal-20(type="text" name='search_query' value='' role='searchbox' aria-label="Search" placeholder='Enter place of purchase')
                                    button(type="button").c-button-delete delete button
                                //- button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-pc
                                    span.icon__root
                                        span.sr-only Search
                            p.message__root
                    button(type="button" title="cancel" role="search box cancel" aria-label="" aria-describedby="").c-cancel.c-hidden-pc.font-m-normal-16 Cancel 
                // search no data
                //- div.c-search-nodata
                //-     p.font-m-normal-16.font-w-normal-24 If you entered place of purchase correctly, click the button.
                //-     +textButton({name: 'Enter place of purchase', underline:true, wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})
                    
                // search result
                ul(role="grid" aria-label="Find my product list") 
                    li(role="row")
                        a(href="#")
                            div 
                                span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                .c-search-prd-name.font-m-normal-16.font-w-normal-16 55" LG 
                                    // The span tag is bold when input    
                                    span OLED 
                                    | TV - B7
                            .c-search-category-name.font-m-normal-12 TVs
                    // When there is no product-friendly name (li addclass .c-noName)
                    li.c-noName(role="row")
                        a(href="#")
                            div 
                                span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                .c-search-prd-name.font-m-normal-16.font-w-normal-16 
                            .c-search-category-name.font-m-normal-12 TVs
                    li(role="row") 
                        a(href="#")
                            div 
                                span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                .c-search-prd-name.font-m-normal-16.font-w-normal-16 55" LG     
                                    span OLED 
                                    | TV - B7
                            .c-search-category-name.font-m-normal-12 TVs
                    li(role="row") 
                        a(href="#")
                            div 
                                span.font-m-normal-12.font-w-normal-16 OLED55C7V.AEK
                                .c-search-prd-name.font-m-normal-16.font-w-normal-16 55" LG     
                                    span OLED 
                                    | TV - B7
                            .c-search-category-name.font-m-normal-12 TVs
                
    mixin categoryItem(params)
        - var option = {isActive: false, bestDeal: false, ...params}
            if option.isActive 
                    a(href="javascript:;", class="is-active") 
                        .c-list-product__box
                            dl.c-list-product__info
                                dt.font-m-normal-16.font-w-normal-20  
                                    span LG premium care #{x+1} year
                                    if option.bestDeal
                                        span.font-m-normal-12.font-w-normal-16.best-deal Best deal
                                dd.font-m-normal-12.font-w-normal-16  LG premium care protects your product for an additional #{12*(x+1)} month
                                dd.c-list-product__info-cost.font-m-normal-16.font-w-normal-20  
                                    span.before-price.font-m-normal-12.font-w-normal-14 ₹3068
                                    span.after-price.font-m-normal-16.font-w-normal-20 ₹1000
                                    span.discount-percent.font-m-normal-12.font-w-normal-14  #{20+(5*x)}% Off
                            .c-list-product__info-msg.font-m-normal-12.font-w-normal-14 This additional service protects your product #{12*(x+1)} month. Use qualified Engineers and genuine Spare parts for repair, no additional cost under this LG premium care (for more details refer terms & conditions)
                        .c-list-product__box-msg.font-m-normal-12.font-w-normal-16  Purchasable in the first 30 days

            else 
                a(href="javascript:;") 
                    .c-list-product__box
                        dl.c-list-product__info
                            dt.font-m-normal-16.font-w-normal-20  
                                span LG premium care #{x+1} year
                                if option.bestDeal
                                    span.font-m-normal-12.font-w-normal-16.best-deal Best deal
                            dd.font-m-normal-12.font-w-normal-16  LG premium care protects your product for an additional #{12*(x+1)} month
                            dd.c-list-product__info-cost.font-m-normal-16.font-w-normal-20  
                                span.before-price.font-m-normal-12.font-w-normal-14 ₹3068
                                span.after-price.font-m-normal-16.font-w-normal-20 ₹1000
                                span.discount-percent.font-m-normal-12.font-w-normal-14  #{20+(5*x)}% Off
                        .c-list-product__info-msg.font-m-normal-12.font-w-normal-14 This additional service protects your product #{12*(x+1)} month. Use qualified Engineers and genuine Spare parts for repair, no additional cost under this LG premium care (for more details refer terms & conditions)
                    .c-list-product__box-msg.font-m-normal-12.font-w-normal-16  Purchasable in the first 30 days
                
    .guide-text-type Premium care_step1
    
    // Component Markup
    .c-wrapper.CS0109.type-text
        .component.type-accordion
            .CS0109__container
                .c-accordion__body
                    .c-text-contents.c-accordion__body-text
                        +searchBarType01
                        +productList
                        //-  label(for="textInput__input").font-m-normal-16.font-w-normal-24 Place of purchase #[em.require *]#[span.sr-only Required Field]
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    //common
                                    +csForm_Input({id: 'serialNumber', label: 'Serial number (or IMEI/MEID)', type:"text", placeholder:"Enter a serial number", formDefalut: 'true', requireMsg: 'Serial number  is required.​​​', invalidMsg: "Number or special character can not be used for first name." ,class:'c-subject-rquired-valid' })
                                    .c-model-contents
                                        a(tabindex="0" class="c-modal-open find-number font-m-normal-16 font-w-normal-24" aria-label="" aria-controls="CS0027" role="dialog" data-link-name data-link-destination data-link-menu data-link-page-type) How to find my serial number?
                                .cmp-form 
                                    +csForm_Input({id: 'purchaseDate', label: 'Purchased date', type:"date", placeholder:"YYYY/MM/DD", formDefalut: 'true', requireMsg: 'Purchase date is required.' ,class:'c-subject-rquired-valid' })
                                .cmp-form
                                    +csForm_Input({id: 'pricePurchase', label: 'Purchased price', type:"text", placeholder:"Purchased price", formDefalut: 'true', requireMsg: 'Purchased price is required.​​​', invalidMsg: "Number or special character can not be used for first name." ,class:'c-subject-rquired-valid' })
                                .cmp-form 
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +searchBarType02
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +csForm_Input({id: 'pincode', label: 'Check your pincode', type:"text", placeholder:"Enter your pincode", formDefalut: 'true', requireMsg: 'Pincode is required.​​' ,class:'c-subject-rquired-valid' })                         
                        .button.c-cta.c-btn__next 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})(role="next button")


    .guide-text-type Premium care_step1 (after product selected)
    
    // Component Markup
    .c-wrapper.CS0109.type-text
        .component.type-accordion
            .CS0109__container
                .c-accordion__body
                    .c-text-contents.c-accordion__body-text
                        
                        .breadcrumb
                            .breadcrumb__wrap
                                p.cmp-breadcrumb__tit.font-w-normal-14i.font-m-normal-14i Product reselect : 
                                nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")

                                    ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14i.font-w-normal-14i.swiper-wrapper
                                        +bcItem({text:"Appliances"})
                                        +bcItem({text:"Fridge freezers"})
                                        +bcItem({text:"American style"})
                                        +bcItem({text:"GSXV90MCDE", current:true})
                            .c-selected-model-Num 
                                +printLazyPicture('https://via.placeholder.com/40x40/fff/000/?text=40x40', 'https://via.placeholder.com/64x64/fff/000/?text=64x64')
                                .c-selected-model-Info 
                                    .font-m-normal-12.font-w-normal-16 Searched product
                                    .c-serialNum.font-m-normal-12.font-w-normal-16 GSXV90MCDE
                                    .c-prdName.font-m-normal-20.font-w-normal-24 InstaView Door-in-Door
                                    // 20230322 markup change
                                    .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Warranty info
                                        span.c-hidden-mo :
                                        br.c-hidden-pc
                                        span Labor 12 months | Parts 12 months
                            button(type="button" aria-label="" role="button").c-btn-close 
                                img(src="../../assets/icon/icon-close-black-12-12.svg")
                        .button.c-cta.c-btn__next.c-submit 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})(role="next button")


                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    //common
                                    +csForm_Input({id: 'serialNumber', label: 'Serial number (or IMEI/MEID)', type:"text", placeholder:"Enter a serial number", formDefalut: 'true', requireMsg: 'Serial number  is required.​​​', invalidMsg: "Number or special character can not be used for first name." ,class:'c-subject-rquired-valid' })
                                    .c-model-contents
                                        a(tabindex="0" class="c-modal-open find-number font-m-normal-16 font-w-normal-24" aria-label="" aria-controls="CS0027" role="dialog" data-link-name data-link-destination data-link-menu data-link-page-type) How to find my serial number?
                                .cmp-form 
                                    +csForm_Input({id: 'purchaseDate', label: 'Purchased date', type:"date", placeholder:"YYYY/MM/DD", formDefalut: 'true', requireMsg: 'Purchase date is required.' ,class:'c-subject-rquired-valid' })
                                
                                .cmp-form
                                    +csForm_Input({id: 'pricePurchase', label: 'Purchased price', type:"text", placeholder:"Purchased price", formDefalut: 'true', requireMsg: 'Purchased price is required.​​​', invalidMsg: "Number or special character can not be used for first name." ,class:'c-subject-rquired-valid' })
                                .cmp-form
                        
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +searchBarType02 
                        
                        .button.c-cta.c-btn__next 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})(role="next button")

    .guide-text-type Premuim care_step1 (after-login)
        
    // Component Markup
    //- if overflow : visible > add class 
    .c-wrapper.CS0109.type-text.is-visible
        .component.type-accordion
            .CS0109__container
                .c-accordion__body
                    .c-text-contents.c-accordion__body-text
                        .component.type-card__slide.type-card__slide--select.full
                            .button.c-cta.c-viewMore-btn
                                +linkButton({type:"text", icon:true, name:'Select another registered product'})(role="dialog")
                            .carousel.panelcontainer
                                // block - carousel
                                .cmp-carousel.swiper.c-carousel.bbb(data-cmp-data-layer="")
                                    .cmp-carousel__content.swiper-wrapper
                                        +galleryItem(1)
                                        +galleryItem(1)
                                        +galleryItem(5)
                                        +galleryItem(1)
                                    .c-carousel__handler
                                        .cmp-carousel__actions
                                            +carouselBtn({type:"pagination", direction:"prev"})
                                        +carouselPagination({isUnder:true})
                                        .cmp-carousel__actions
                                            +carouselBtn({type:"pagination", direction:"next"})

                        +searchBarType01

                        +productList

                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    //common
                                    +csForm_Input({id: 'serialNumber', label: 'Serial number (or IMEI/MEID)', type:"text", placeholder:"Enter a serial number", formDefalut: 'true', requireMsg: 'Serial number  is required.​​​', invalidMsg: "Number or special character can not be used for first name." ,class:'c-subject-rquired-valid' })
                                    .c-model-contents
                                        a(tabindex="0" class="c-modal-open find-number font-m-normal-16 font-w-normal-24" aria-label="" aria-controls="CS0027" role="dialog" data-link-name data-link-destination data-link-menu data-link-page-type) How to find my serial number?
                                .cmp-form 
                                    +csForm_Input({id: 'purchaseDate', label: 'Purchased date', type:"date", placeholder:"YYYY/MM/DD", formDefalut: 'true', requireMsg: 'Purchase date is required.' ,class:'c-subject-rquired-valid' })
                                .cmp-form
                                    +csForm_Input({id: 'pricePurchase', label: 'Purchased price', type:"text", placeholder:"Purchased price", formDefalut: 'true', requireMsg: 'Purchased price is required.​​​', invalidMsg: "Number or special character can not be used for first name." ,class:'c-subject-rquired-valid' })
                                .cmp-form 

                        .cs-form
                            .cs-form__wrap
                                .cmp-form 
                                    +searchBarType02

                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    +csForm_Input({id: 'pincode', label: 'Check your pincode', type:"text", placeholder:"Enter your pincode", formDefalut: 'true', requireMsg: 'Pincode is required.​​' ,class:'c-subject-rquired-valid' })                         
                        
                        .button.c-cta.c-btn__next 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})(role="next button")

    .guide-text-type Premuim care_step1 (Complete)
    .c-wrapper.CS0109.type-text
        .component.type-accordion.type-accordion__result
            .CS0109__container
                .c-accordion__body.step1
                    .c-text-contents.c-accordion__body-text
                        +printLazyPicture('https://via.placeholder.com/48x48/ccc/eee/?text=48x48', 'https://via.placeholder.com/110x110/ccc/eee/?text=110x110')
                        .c-prd-register__prdtxt
                            .c-prd-tit.font-m-normal-20.font-w-normal-24 PW-Q18WUZA.ANLG
                            .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Serial number : 
                                span 203MASXGJU14
                            .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Purchase date : 
                                span 06/20/2023
                            .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Place of purchased :
                                span Amazon
                            .c-warrantyInfo.font-m-normal-12.font-w-normal-16 Purchase price :
                                span ₹50000
                    .button.c-cta
                        +linkButton({type:"text", color:"black", name: "Edit"})(role="edit button")
    .guide-text-type Premuim care_step2
    
    // Component Markup
    .c-wrapper.CS0109.type-text
        .component.type-accordion
            .CS0109__container
                .c-accordion__body
                    .c-text-contents.c-accordion__body-text
                        .c-list-product__wrap
                            - for (var x = 0; x < 1; x++)
                                +categoryItem({isActive:false,bestDeal:true})
                            
                            - for (var x = 1; x < 4; x++)
                                +categoryItem({isActive:false})

                        .button.c-cta.c-btn__next 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: "none"})(role="next button" class="c-next-btn" disabled="disabled")


    .guide-text-type Premuim care_step2 Complete
    
    // Component Markup
    .c-wrapper.CS0109.type-text
        .component.type-accordion
            .CS0109__container
                .c-accordion__body
                    .c-text-contents.c-accordion__body-text
                        .c-list-product__wrap.selected-item__wrap
                            - for (var x = 0; x < 1; x++)
                                +categoryItem({isActive:true, bestDeal:true})
                            .button.c-cta
                                +linkButton({type:"text", color:"black", name: "Edit",href:"javascript:;"})(role="button")
                        

    .guide-text-type Premuim care_step3 (Member only)
    
    // Component Markup
    .c-wrapper.CS0109.type-text
        .component.type-accordion
            .CS0109__container
                .c-accordion__body
                    .c-text-contents.c-accordion__body-text.c-result-wrap
                        .cs-form.no-border
                            .cmp-form
                                p.font-m-normal-12.font-w-normal-16  Please upload receipt of date of purchase.
                                label(for="uploading").font-m-normal-16.font-w-normal-24 Proof of purchase #[em.require *]#[span.sr-only Required Field]
                                
                                .c-btn-upload
                                    .c-btn-upload__inner
                                        div
                                            label.c-not-required(for='file-input')
                                                .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                            input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                        .c-file-msg.font-m-normal-12.font-w-normal-16 
                                            | File must be less than 10MB.
                                            br
                                            | Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                            .cmp-form

                    .c-button-wrap
                            .button.c-cta
                                +defaultButton({name: 'Complete', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next" disabled="disabled")


    .guide-text-type Premuim care_step3_2 (Member only)
    
    // Component Markup
    .c-wrapper.CS0109.type-text
        .component.type-accordion
            .CS0109__container
                .c-accordion__body
                    .c-text-contents.c-accordion__body-text.c-result-wrap
                        .cs-form.no-border
                            .cmp-form
                                p.font-m-normal-12.font-w-normal-16  Please upload receipt of date of purchase.
                                label(for="uploading").font-m-normal-16.font-w-normal-24 Proof of purchase #[em.require *]#[span.sr-only Required Field]
                                
                                .c-btn-upload
                                    #preview
                                        p   File Name.jpeg
                                            button(tyep="button" aria-label="").file-remove X
                                .c-center-box
                                    .c-warning.c-after-modelNumber-invalid.c-display Tamanho do arquivo anexo excedido
                                .c-center-box
                                    .c-warning.c-after-modelNumber-invalid.c-display O formato do arquivo anexo não é suportado
                                .c-btn-upload
                                    .c-btn-upload__inner
                                        div
                                            label.c-not-required(for='file-input')
                                                .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                            input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                        .c-file-msg.font-m-normal-12.font-w-normal-16 
                                            | File must be less than 10MB.
                                            br
                                            | Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                            .cmp-form

                    .c-button-wrap
                            .button.c-cta
                                +defaultButton({name: 'Complete', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-btn-next" )

                  

    .guide-text-type Premuim care_step4
    
    // Component Markup
    .c-wrapper.CS0109.type-text
        .component.type-accordion
            .CS0109__container
                .c-accordion__body
                    .c-text-contents.c-accordion__body-text.c-result-wrap
                        .c-result__txtBox.font-m-normal-12.font-w-normal-16 
                            p Please confirm the contract.
                            p Select “Edit” to correct/change the information and select “Go to cart” to finish.                                            
                            p The LG premium care plan will require acceptance of the relevant 
                                a terms and conditions.
                  
            