extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
include ../_common/_cs-select-model.pug

block meta 
    - var componentId = "CS0074"
    - var componentName = "Input Form_Scan QR_B2B"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content


    .guide-text-type Input Form_Scan QR_B2B	(ONLY MOBILE)
    // 20230314 full markup change
    .c-wrapper.CS0074.type-text
        .component.full.type-form
            .CS0074__container
                +uploadbox({mhide:true})

                .container
                    .c-model-content-wrap
                        .c-model-contents
                            a(tabindex="0" class="find-number font-m-normal-14 font-w-normal-16" aria-label="" role="dialog") How to find my model number?
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                    .c-container__inner
                        .cs-form
                            .cs-form__wrap
                                .cmp-form
                                    label(for="modelNumber").font-m-normal-16.font-w-normal-24 Model number #[em.require *]#[span.sr-only Required Field]
                                    input#modelNumber.font-m-normal-16.font-w-normal-20.c-modelNumber-valid(type="text" required="required" aria-label="" placeholder="Select a model number" disabled)
                                    .button.c-cta.c-btn
                                        +defaultButton({name: 'Retry', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(aria-label="" role="button")
                                    .c-warning.c-modelNumber-required Model number is required.
                                    .c-warning.c-modelNumber-invalid This Model number is invalid.
                                .cmp-form
                                    label(for="serialNumber").font-m-normal-16.font-w-normal-24 Serial number #[em.require *]#[span.sr-only Required Field]
                                    input#serialNumber.font-m-normal-16.font-w-normal-20.c-serialNumber-valid(type="text" required="required" aria-label="" placeholder="Type a 15 digit code" disabled)
                                    .c-warning.c-serialNumber-required Serial number is required.
                                    .c-warning.c-serialNumber-invalid This Serial number is invalid.

                                .cmp-form 
                                    label(for="installDate").font-m-normal-16.font-w-normal-24 Install date #[em.require *]#[span.sr-only Required Field]
                                    input#installDate.font-m-normal-16.font-w-normal-20.c-installDate-valid(type="date" required="required" data-placeholder='YYYY/MM/DD' value="" aria-describedby='' aria-label="")
                                    .c-warning.c-installDate-required Purchase date is required.
                                    .c-warning.c-installDate-invalid This Install date is invalid.
                                .cmp-form 
                                    label(for="warrantyExpireDate").font-m-normal-16.font-w-normal-24 Warranty expire date #[em.require *]#[span.sr-only Required Field]
                                    input#warrantyExpireDate.font-m-normal-16.font-w-normal-20.c-warrantyExpireDate-valid(type="date" required="required" data-placeholder='YYYY/MM/DD' value="" aria-describedby='' aria-label="")
                                    .c-warning.c-warrantyExpireDate-required Warranty expire date is required.
                                    .c-warning.c-warrantyExpireDate-invalid This Warranty expire date is invalid.

                                .cmp-form
                                    label(for="proofPurchase").font-m-normal-16.font-w-normal-24 Proof of purchase (optional) 
                                    .c-btn-upload
                                        #preview
                                            p.cs-preview__file File Name.jpeg
                                                button.file-remove(type="button" aria-label="") X
                                        .c-btn-upload__inner 
                                            div
                                                label.c-not-required(for='file-input')
                                                    .btn-upload.font-m-normal-14i.font-w-normal-14i(role="button" data-link-name) Upload
                                                input#file-input.file(type='file' name='file-input' readonly="readonly" aria-label="" multiple)
                                            .c-file-msg.font-m-normal-12.font-w-normal-16 File must be less than 10MB.<br>Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip
                                .cmp-form
                
                    .c-button-wrap
                        .button.c-cta
                            +defaultButton({name: 'Add more product', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(class="c-submit" aria-label="")

