extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_forms.pug
include ./_summary-price.pug
include ../_common/_button.pug
include ../_common/_pop-msg.pug

block meta 
    - var componentId = "PD0033"
    - var componentName = "Functional Tab"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // for test
    style(type="text/css").
        .guide {
            z-index:1!important;
        }
        main {
            height:200vh;
        
        }
        .hidden-type-pdp.type-pdp,
        .hidden-type-plp.type-plp {
            display:none;
        }
block scripts
    script(src=componentId+".js" type="module")

block content
    include ./PD0033-BR-inc.pug
    .guide-text-option type PDP - RO BR
    +PD0033('PDP')
    
block modal
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popPromotions')
    
