extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_forms.pug
include ./_summary-price.pug
include ../_common/_button.pug
include ../_common/_pop-msg.pug

block meta 
    - var componentId = "PD0033"
    - var componentName = "Functional Tab"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    // for test
    style(type="text/css").
        .guide {
            z-index:1!important;
        }
        main {
            height:200vh;
        
        }
        .hidden-type-pdp.type-pdp,
        .hidden-type-plp.type-plp {
            display:none;
        }
block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        'body' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'dark-theme'},
                                ]
                            }
                        ],
                        '.c-wrapper' : [
                            // to dev - This options for only check sample.   
                            {
                                'name' : 'for Test',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'hidden-type-pdp', 'remove' : 'hidden-type-plp'},
                                    {'toggle' : false, 'add' : 'hidden-type-plp', 'remove' : 'hidden-type-pdp'},
                                ]
                            },
                        ],
                    };

    include ./PD0033-inc.pug
    
    // Type - PLP
    .guide-text-option Type - PLP (Category)
    +PD0033('PLPMULTI')
    // Type - PDP
    .guide-text-option Type - PDP
    +PD0033('PDP')

    .testLayer(id="pdp_features" style='height:1000px' tabindex='0')
        p pdp_features 포커스 이동 확인
    .testLayer(id="pdp_spec" style='height:1000px' tabindex='0')
        p pdp_spec 포커스 이동 확인
    .testLayer(id="pdp_review" style='height:1000px' tabindex='0')
        p pdp_review 포커스 이동 확인
    .testLayer(id="pdp_support" style='height:1000px' tabindex='0')
        p pdp_support 포커스 이동 확인
    .testLayer(id="pdp_where" style='height:1000px' tabindex='0')
        p pdp_where 포커스 이동 확인
    //- .guide-text-option Type - PLP
    //- +PD0033('PLPSINGLE')

    //- .guide-text-option Type - PLP
    //- +PD0033('PLPSINGLE')
    
block modal
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popPromotions')
    
