extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug

block meta 
    - var componentId = "PD0009"
    - var componentName = "Article Utility Button"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    mixin utilityInner(title, bodycopy, buttonText, link="#")
        - var fontStyle = "font-w-normal-16 font-m-normal-14"
        .c-text-contents
            .title.c-text-contents__headline
                .cmp-title(data-cmp-data-layer="" class=fontStyle)
                    span= title
            .text.c-text-contents__bodycopy
                .cmp-text(data-cmp-data-layer="" class=fontStyle)
                    span= bodycopy
        // GA4
        a.c-utility__button(href=`${link}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
            span.sr-only= buttonText
                    
    // Component Markup
    .c-wrapper.PD0009.margin-top.margin-bottom.border-top.bg-default
        .component
            .cmp-container
                .c-utility
                    .c-utility__item.c-utility__item--prev
                        +utilityInner("Previous Article", "Wise Ways To Stay Warm And Healthy This Winter.", "Next", '#')
                    .c-utility__item.c-utility__item--next
                        +utilityInner("Next Article", "Spring Clean With Steam Using Your Smart Washing Machine.", "Previous", '#')
                    .c-utility__back
                        +defaultButton({
                            name : "Back to list",
                            wSize : "large",
                            mSize : "medium",
                            buttonStyle : "default",
                            isButton : false
                        })