extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0061"
    - var componentName = "Image Banner"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        '.c-hero-banner' : [
                            {
                                'name' : 'Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'}
                                ]
                            }
                        ],
                        '.type-default .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                        ],
                    };



    // Component Markup
    .guide-text-type Type1.
    .c-wrapper.CS0061.type-text
        // 20230316 full markup change
        .component.type-default
            .CS0061__container
                .c-image-banner 
                    .c-image-banner__bg 
                        //- +printLazyPicture('https://via.placeholder.com/336x140/222/333', 'https://via.placeholder.com/1440x304/222/333')
                        +printLazyPicture('../../mocks/CS0061/temp-right-to-repair.jpg', '')
                    .c-image-banner__content 
                        .c-image-banner__content-text
                            div 
                                +headline('font-w-light-56 font-m-light-24',h2,'Find us')

                                .c-image-banner__content-bodycopy
                                    +headline('font-w-normal-24 font-m-normal-12',"p",'Repair request conveniently online.')

                            .button.c-cta
                                +buttonArrow({color:'white', border:'no', wsize:'large', msize:'small', link: true})
                        span.c-image-banner__content-icon find icon
    // 20230317 type1 option added
    // Component Markup
    .guide-text-option small 
    .c-wrapper.CS0061.type-text
        // 20230316 full markup change
        .component.type-small
            .CS0061__container
                .c-image-banner 
                    .c-image-banner__bg 
                        //- +printLazyPicture('https://via.placeholder.com/336x72/222/333', 'https://via.placeholder.com/1440x208/222/333')
                        +printLazyPicture('../../mocks/CS0061/temp-findus.jpg', '')

                    .c-image-banner__content 
                        .c-image-banner__content-text
                            +headline('font-w-normal-32 font-m-normal-16',h2,'Find us')
                            .button.c-cta
                                +buttonArrow({color:'white', border:'no', wsize:'large', msize:'small'})
                        //- span.c-image-banner__content-icon find icon

    .guide-text-type Type2.
    .c-wrapper.CS0061.type-text.margin-bottom
        // add .c-type3
        .component.full.type-default.c-type3
            .CS0061__container
                // 20230316 full markup change
                +hero-banner-case-image({
                    width : "wide",
                    heroType : "default",
                    dateType : "",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headlineSize : 'font-w-light-56 font-m-light-24',
                    headline : "Lorem ipsum dolor sit amet consectetur.", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?",
                })
