extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug

block meta 
    - var componentId = "CS0018"
    - var componentName = "CS Icon Text"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    .guide-text-type CS Icon Text
    // Component Markup
    .guide-text-option Width-narrow
    .guide-text-option 1 Icon
    // 20230315 delete class .bg-lightgray 
    .c-wrapper.CS0018.type-text.margin-top.margin-bottom
        .component.c-icon__text
            .CS0018__container
                .c-text-contents
                    .title.c-text-contents__headline.c-icon-box
                        // An svg sprite
                        include ../../assets/icon/icon-fota.svg
                    p.text.c-text-contents__bodycopy.font-m-normal-14.font-w-normal-20 FOTA means ‘firmware on the air’. This feature allows you to conveniently update your phone's software to a newer version via Firmware Over-the-Air (FOTA) without connecting with to a USB data cable. This feature is only available if or when LG makes a newer firmware version available for your device.

    .guide-text-option 2 Icon
    // 20230315 delete class .bg-lightgray 
    .c-wrapper.CS0018.type-text.margin-top.margin-bottom
        .component.c-icon__text
            .CS0018__container
                .c-text-contents
                    .title.c-text-contents__headline.c-icon-box
                        include ../../assets/icon/icon-fota.svg
                        include ../../assets/icon/icon-fota.svg
                    p.text.c-text-contents__bodycopy.font-m-normal-14.font-w-normal-20 FOTA means ‘firmware on the air’. This feature allows you to conveniently update your phone's software to a newer version via Firmware Over-the-Air (FOTA) without connecting with to a USB data cable. This feature is only available if or when LG makes a newer firmware version available for your device.
    
    // Component Markup
    .guide-text-option Width-width
    .guide-text-option 1 Icon
    // 20230315 delete class .bg-lightgray 
    .c-wrapper.CS0018.type-text.margin-top.margin-bottom
        .component.c-icon__text.c-wide-full
            .CS0018__container
                .c-text-contents
                    .title.c-text-contents__headline.c-icon-box
                        // An svg sprite
                        include ../../assets/icon/icon-fota.svg
                    p.text.c-text-contents__bodycopy.font-m-normal-14.font-w-normal-20 FOTA means ‘firmware on the air’. This feature allows you to conveniently update your phone's software to a newer version via Firmware Over-the-Air (FOTA) without connecting with to a USB data cable. This feature is only available if or when LG makes a newer firmware version available for your device.

    .guide-text-option 2 Icon
    // 20230315 delete class .bg-lightgray 
    .c-wrapper.CS0018.type-text.margin-top.margin-bottom
        .component.c-icon__text.c-wide-full
            .CS0018__container
                .c-text-contents
                    .title.c-text-contents__headline.c-icon-box
                        include ../../assets/icon/icon-fota.svg
                        include ../../assets/icon/icon-fota.svg
                    p.text.c-text-contents__bodycopy.font-m-normal-14.font-w-normal-20 FOTA means ‘firmware on the air’. This feature allows you to conveniently update your phone's software to a newer version via Firmware Over-the-Air (FOTA) without connecting with to a USB data cable. This feature is only available if or when LG makes a newer firmware version available for your device.
