extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_pop-msg.pug
include ../_common/_toast.pug

block meta 
    - var componentId = "ETC000D"
    - var componentName = "Jeong-do Main"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href="../../components/MB000D/MB000D.css")

block scripts
    script(src=componentId+".js" type="module")

mixin formTextarea(type, label, id, required=false, warningFirst=false, infoText=false, placeholder, inLayer=false, labelSrOnly=false )
    .c-input-item.ty2(class=`${warningFirst ? 'my-warn' : ''}`)
        if inLayer 
            if block
                block
            else
                label.font-w-normal-16.font-m-normal-14(for=`${id}`)= label
                    if(required) 
                        +required-text-sr
        else 
            if block
                block
            else
                label.font-w-normal-16.font-m-normal-14(for=`${id}` class={'sr-only' : labelSrOnly})= label
                    if(required) 
                        +required-text-sr
        //- Bad value true for attribute required on element input.
        if required
            textarea(id=`${id}`, placeholder=`${placeholder}`, maxlength=`${maxlength}`, required)&attributes(attributes)
        
        else
            textarea(id=`${id}`, placeholder=`${placeholder}`, maxlength=`${maxlength}`)&attributes(attributes)
            
        if warningFirst || infoText
            +myMsg({warningFirst: warningFirst, infoText: infoText})
        .c-input-item--length.font-w-normal-16.font-m-normal-14
            span.counting-num Characters left : 3000
            span= `/ ${attributes.maxlength}`

mixin upload-item(params)
    - var buttonStyle = "c-button c-button--default default m-medium w-medium"
    - var options = {fileName : "", ...params}
    .c-upload-item(id=options.itemId)
        .c-upload-item__container
            .c-upload-item__indicator(class={"fill" : options.fileName.length > 0})
                if options.fileName
                    span.c-upload-item__file-name= options.fileName
                else 
                    span.c-upload-item__placeholder= options.placeholder
                button.cmp-button.c-upload-item__file-remover(type="button" data-cmp-data-layer="" aria-controls=options.itemId)
                    span.sr-only Remove
            .c-upload-item__buttons
                .c-upload-item__open-explorer
                    input(type="file" id=options.inputId accept=".jpeg, .jpg, .gif, .pdf, .png, .tif, .zip")
                    label.c-upload-item__label(for=options.inputId class=buttonStyle) Upload
                div
                    if options.index == 0
                        button.cmp-button.c-upload-item__button.c-upload-item__button(type="button" data-cmp-data-layer="")
                            span.sr-only Add
                    else
                        button.cmp-button.c-upload-item__button.c-upload-item__button--remove(type="button" data-cmp-data-layer="" aria-controls=options.itemId)
                            span.sr-only Remove
        .c-upload-item__msg.font-m-normal-14.font-w-normal-16= options.validMsg

mixin myMsg({infoText= false, correct= false, warning= false, check= false, warningFirst, infoTextSecond})
    if warningFirst
        - for(var i=0; i < warningFirst.length; i++)
            +invalid-warning(warningFirst[i])
    if correct
        - for(var i=0; i < correct.length; i++)
            +valid-msg(correct[i])
    if infoText
        ul.my-input__info 
            li.font-w-normal-14.font-m-normal-14= infoText
    if warning !==  []
        - for(var i=0; i < warning.length; i++)
            +invalid-warning(warning[i])
    if check
        - for(var i=0; i < check.length; i++)
            +formCheckbox(check[i], "name", "val1", `checkId${i}`, count="false", false)
    if infoTextSecond
        ul.my-input__info 
            li.font-w-normal-14.font-m-normal-14= infoTextSecond

mixin myCaptcha({label, id, placeholder, warning= false})
    .c-input-item
        .my-captcha
            .my-captcha__container
                label.font-w-semibold-16.font-m-semibold-14(for=`${id}`)= label
                .my-captcha__area
                    .my-captcha__box
                    .my-captcha__btnbox
                        button.sr-only(type='button' class='my-captcha__button my-captcha__button--reload')
                            span.sr-only refresh
                        button.sr-only(type='button' class='my-captcha__button my-captcha__button--play')
                            span.sr-only
                input(type='text' id=`${id}`, placeholder=`${placeholder}` class=`${warning ? 'my-warn' : ''}`)&attributes(attributes)
    +myMsg({warning: warning})

mixin myFormText(params)
    - let data = {...params}
    - let config = `${data.warning || data.warningFirst && !data.correct ? 'my-warn' : ''}`
    if data.type === 'captcha'
        +myCaptcha({label: data.label, id: data.id, placeholder: data.placeholder, warning: data.warning})
    else
        .c-input-item(class=`${data.active ? 'active' : ''}`)
            if data.label
                label.font-w-normal-16.font-m-normal-14(for= data.id class=`${data.info ? 'my-info' : ''}`)= data.label
            if data.required
                input(type= data.type id= data.id placeholder= data.placeholder data-placeholder=data.placeholder class=config, required)&attributes(attributes)
            else if data.readonly
                input(type= data.type id= data.id placeholder= data.placeholder data-placeholder=data.placeholder class=config, readonly)&attributes(attributes)
            else if data.disabled
                input(type= data.type id= data.id placeholder= data.placeholder data-placeholder=data.placeholder class=config, disabled)&attributes(attributes)
            else if data.inputUnderline
                input(type= data.type id= data.id, placeholder= data.placeholder data-placeholder= data.placeholder, value= data.value class=`underline` class=`${data.search ? 'my-form__search' : ''}`,)&attributes(attributes)
            else 
                input(type= data.type id= data.id, placeholder= data.placeholder data-placeholder= data.placeholder, value= data.value class=`my-input__password ${config}` class=`${data.search ? 'my-form__search' : ''}`,)&attributes(attributes)
                    
        if !data.validation 
            +myMsg({infoText: data.infoText, infoTextSecond: data.infoTextSecond, correct: data.correct, warning: data.warning, check: data.check, warningFirst: data.warningFirst})
        else
            +myMsg({infoText: data.infoText, infoTextSecond: data.infoTextSecond})

mixin myInputForm(data, column)
    .my-input(class=`${column ? 'column2-type' : ''}`)
        ul
            each set in data
                li
                    +myFormText(set)

mixin myOrderDetail(params)
    - let data = {...params}
    .my-orderDetail
        ul
            each set in data
                li
                    .c-text-contents__title
                        span.font-w-normal-16.font-m-normal-16= set.title
                    if set.type === "file"
                        .c-text-contents__bodycopy(class='c-text-contents__bodycopy--file')
                            a(href=set.fileURL data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="").font-w-normal-16.font-m-normal-16 !{set.bodycopy}
                    else
                        .c-text-contents__bodycopy
                            span.font-w-normal-16.font-m-normal-16 !{set.bodycopy}          

mixin myItemDetailLink(params)
    - let data = { ...params }
    each set in data
        .my-order-detail__box
            if(set.files)
                .c-text-contents
                    .c-text-contents__title
                        span.font-w-normal-16.font-m-normal-16= set.title
                    .c-text-contents__bodycopy.flex-column
                        each file in set.files
                            a(href="#" data).font-w-normal-16.font-m-normal-16 #{file}
                        if set.date
                            span.font-w-normal-16.font-m-normal-16 Valid date : !{set.date}
            else
                .c-text-contents
                    .c-text-contents__title
                        span.font-w-normal-16.font-m-normal-16= set.title
                    .c-text-contents__bodycopy
                        span.font-w-normal-16.font-m-normal-16 #{set.desc}
                        if set.date
                            span.font-w-normal-16.font-m-normal-16 Valid date : !{set.date}
            if set.warning
                .my-order-detail__warning
                    span.font-w-normal-14.font-m-normal-12.font-red 
                        span.font-semibold Only 90 days
                        |  left on warranty
            if set.button 
                .my-order-detail__button 
                    .c-button.button
                        each btnItem in set.button 
                            +linkButton({type:"text", color:btnItem.btnColor, icon:true, name: btnItem.btnName,})


mixin ETC000D(option=false)
    if option == 'default'
        .ETC000D
            .my-component__wrap
                .my-component
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28', "h2", "Reporting Unethical")
                        .text.c-text-contents__bodycopy.font-w-normal-20.font-m-normal-12 
                            p.cmp-text(data-cmp-data-layer="") Your voice is the strength of LG Electronics Inc.
            .my-component__wrap    
                .my-component
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-36 font-m-light-20', "h2", "Processing Status")
                        .text.c-text-contents__bodycopy.font-w-normal-20.font-m-normal-12 
                            p.cmp-text(data-cmp-data-layer="") On the report view page, you could check the progress of the process and the details of the report.
            //- .my-component
            //-     .component.responsive.page-title
            //-         .cmp-container
            //-             //- block : text-contents
            //-             .c-text-contents
            //-                 .title.c-text-contents__headline
            //-                     h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Reporting Unethical
            //-                 .text.c-text-contents__bodycopy 
            //-                     p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") Your voice is the strength of LG Electronics Inc.

            .my-component
                .my-form
                    .my-formbox
                        .my-form__info.font-w-normal-16.font-m-normal-16 Processing Status
                        .my-form__info.font-w-normal-16.font-m-normal-16 
                            span.font-black Reception Completed
                
                .my-form
                    .my-form__title.font-w-normal-32.font-m-normal-20 Reporting Content
                    .my-formbox
                        +myOrderDetail([
                            
                        ])
                        +myItemDetailLink([
                            {
                                title:"Date", 
                                desc:"2023-06-09 20:02:18.0",
                            },
                            {
                                title:"Reporting Destination", 
                                desc:"Corporate and HQ",
                            },
                            {
                                title:"Report object type", 
                                desc:"Employee",
                            },
                            {
                                title:"Object of Report", 
                                desc:"Blar Blar",
                            },
                            {
                                title:"Department / Service", 
                                desc:"Blar Blar",
                            },
                            {
                                title:"Name", 
                                desc:"maria",
                            },
                            {
                                title:"E-mail", 
                                desc:"guri1822@gmail.com",
                            },
                            {
                                title:"Telephone number", 
                                desc:"Telephone number",
                            },
                            {
                                title:"Report Type", 
                                desc:"Solicitation / Graft",
                            },
                            {
                                title:"Title", 
                                desc:"Title Text",
                            },
                            {
                                title:"Contents",
                                desc:"contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test_contents_test",
                            },
                            {
                                title:"Select a file to upload (2)",
                                desc:"File name 1.jpg <br />File name 12.jpg",
                                files:["File name 1.jpg", "File name 2.png"]
                            },
                            {
                                title:"Relation with the object company",
                                desc:"Employee"
                            },
                        ])
                        
                        //- +myInputForm([
                        //-     {
                        //-         type:"text",
                        //-         label:"Date",
                        //-         id:"date",
                        //-         required:false,
                        //-         placeholder:"Date",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Reporting destination",
                        //-         id:"destination",
                        //-         required:false,
                        //-         placeholder:"Reporting destination",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Report object type",
                        //-         id:"objectType",
                        //-         required:false,
                        //-         placeholder:"Report object type",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Object of report",
                        //-         id:"objectReport",
                        //-         required:false,
                        //-         placeholder:"Object of report",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Department / Service",
                        //-         id:"departmentService",
                        //-         required:false,
                        //-         placeholder:"Department / Service",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Name",
                        //-         id:"formName",
                        //-         required:false,
                        //-         placeholder:"Name",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"email",
                        //-         label:"E-mail",
                        //-         id:"E-mail",
                        //-         required:false,
                        //-         placeholder:"E-mail",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"number",
                        //-         label:"Telephone number",
                        //-         id:"telephoneNumber",
                        //-         required:false,
                        //-         placeholder:"Telephone number",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Report Type",
                        //-         id:"reportType",
                        //-         required:false,
                        //-         placeholder:"Report Type",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Title",
                        //-         id:"fornTitle",
                        //-         required:false,
                        //-         placeholder:"Title",
                        //-         inputUnderline:true
                        //-     },
                        //- ],"column2-type")
                
                        //- +myInputForm([
                        //-     {
                        //-         type:"text",
                        //-         label:"Contents",
                        //-         id:"formContents",
                        //-         required:false,
                        //-         placeholder:"Contents",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Select a file to upload (2)",
                        //-         id:"fileUpload",
                        //-         required:false,
                        //-         placeholder:"Select a file to upload (2)",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Relation with the object company",
                        //-         id:"objectCompany",
                        //-         required:false,
                        //-         placeholder:"Relation with the object company",
                        //-         inputUnderline:true
                        //-     },
                        //- ])
                .my-form
                    .my-form__title.font-w-normal-32.font-m-normal-20 Reporting Content
                    .my-formbox Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar BlarBlar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar
                
                .my-form
                    .my-form__title.font-w-normal-32.font-m-normal-20 Anonymous communication
                    .my-formbox
                        +formTextarea("text", "Contents", "comments", true, ["Content is required."], false, "Please provide as much detailed information as possible.(e.g.who the employee was, where they worked, what exactly they did, when/where this happened, etc.)")(minLength="20", maxlength="3000")

                        .c-input-item.ty2
                            label.font-w-normal-16.font-m-normal-14 Select a file to upload
                                //- em.c-required *
                                //-     span.sr-only Required fields
                            +upload-item({
                                index: 0,
                                itemId : "PR0005file04item",
                                inputId : "PR0005file04",
                                placeholder : "Select a file to upload",
                                validMsg :"File must be less than 10MB. Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip"
                            })
                            +upload-item({
                                itemId : "PR0005file01item",
                                inputId : "PR0005file01",
                                fileName : "22e646b35e51a064d2ac5cfbe54ddba8.jpg",
                                validMsg :"File must be less than 10MB. Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip"
                            })
                            +upload-item({
                                itemId : "PR0005file01item",
                                inputId : "PR0005file01",
                                fileName : "22e646b35e51a064d2ac5cfbe54ddba8.jpg",
                                validMsg :"File must be less than 10MB. Allowed file types : jpeg, jpg, gif, pdf, png, tif, zip"
                            })
                        
                        //- btn
                        .button.c-cta.ty2
                            +defaultButton({name: 'Temporary store', wSize: 'medium', mSize: 'medium', buttonStyle: 'box', isButton: false})(href="#")
                            +defaultButton({name: 'Send feedback', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: false})(href="#")

                .button.c-cta.my-button
                    //- [Start] 2023-04-07 : UPDATE - Cancel button popup
                    +defaultButton({name:"Home", wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})(href="#changedTermsAndConditions", class="js-pop-open")
                    //- [End] 2023-04-07 : UPDATE - Cancel button popup
                
                .my-component__wrap
                    .my-component
                        .c-text-contents
                            .privacy-policy 
                                strong Privacy policy1
                                p LG will succeed through fair management practices and constant development of our business skills.
                                    a(href="#" data-cmp-data-layer)&attributes(attributes) Read more
    else if option == 'DE'
        .ETC000D
            .my-component__wrap
                .my-component
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28', "h2", "Reporting Unethical")
                        .text.c-text-contents__bodycopy.font-w-normal-20.font-m-normal-12 
                            p.cmp-text(data-cmp-data-layer="") Your voice is the strength of LG Electronics Inc.
            .my-component__wrap    
                .my-component
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-36 font-m-light-20', "h2", "Processing Status")
                        .text.c-text-contents__bodycopy.font-w-normal-20.font-m-normal-12 
                            p.cmp-text(data-cmp-data-layer="") On the report view page, you could check the progress of the process and the details of the report.
            //- .my-component
            //-     .component.responsive.page-title
            //-         .cmp-container
            //-             //- block : text-contents
            //-             .c-text-contents
            //-                 .title.c-text-contents__headline
            //-                     h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Reporting Unethical
            //-                 .text.c-text-contents__bodycopy 
            //-                     p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") Your voice is the strength of LG Electronics Inc.

            .my-component
                .my-form
                    .my-formbox
                        .my-form__info.font-w-normal-16.font-m-normal-16 Processing Status
                        .my-form__info.font-w-normal-16.font-m-normal-16 
                            span.font-black Reception Completed
                
                .my-form
                    .my-form__title.font-w-normal-32.font-m-normal-20 Reporting Content
                    .my-formbox
                        +myOrderDetail([
                            
                        ])
                        +myItemDetailLink([
                            {
                                title:"Date", 
                                desc:"2023-06-09 20:02:18.0",
                            },
                            {
                                title:"Reporting Destination", 
                                desc:"Corporate and HQ",
                            },
                            {
                                title:"Report object type", 
                                desc:"Employee",
                            },
                            {
                                title:"Object of Report", 
                                desc:"Blar Blar",
                            },
                            {
                                title:"Department / Service", 
                                desc:"Blar Blar",
                            },
                            {
                                title:"Name", 
                                desc:"maria",
                            },
                            {
                                title:"E-mail", 
                                desc:"guri1822@gmail.com",
                            },
                            {
                                title:"Telephone number", 
                                desc:"Telephone number",
                            },
                            {
                                title:"Title", 
                                desc:"Title Text",
                            },
                            {
                                title:"Contents",
                                desc:"Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text Contents Text",
                            },
                            {
                                title:"Select a file to upload (2)",
                                desc:"File name 1.jpg <br />File name 12.jpg",
                                files:["File name 1.jpg", "File name 2.png"]
                            },
                            {
                                title:"Relation with the object company",
                                desc:"Employee"
                            },
                        ])
                        
                        //- +myInputForm([
                        //-     {
                        //-         type:"text",
                        //-         label:"Date",
                        //-         id:"date",
                        //-         required:false,
                        //-         placeholder:"Date",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Reporting destination",
                        //-         id:"destination",
                        //-         required:false,
                        //-         placeholder:"Reporting destination",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Report object type",
                        //-         id:"objectType",
                        //-         required:false,
                        //-         placeholder:"Report object type",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Object of report",
                        //-         id:"objectReport",
                        //-         required:false,
                        //-         placeholder:"Object of report",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Department / Service",
                        //-         id:"departmentService",
                        //-         required:false,
                        //-         placeholder:"Department / Service",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Name",
                        //-         id:"formName",
                        //-         required:false,
                        //-         placeholder:"Name",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"email",
                        //-         label:"E-mail",
                        //-         id:"E-mail",
                        //-         required:false,
                        //-         placeholder:"E-mail",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"number",
                        //-         label:"Telephone number",
                        //-         id:"telephoneNumber",
                        //-         required:false,
                        //-         placeholder:"Telephone number",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Report Type",
                        //-         id:"reportType",
                        //-         required:false,
                        //-         placeholder:"Report Type",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Title",
                        //-         id:"fornTitle",
                        //-         required:false,
                        //-         placeholder:"Title",
                        //-         inputUnderline:true
                        //-     },
                        //- ],"column2-type")
                
                        //- +myInputForm([
                        //-     {
                        //-         type:"text",
                        //-         label:"Contents",
                        //-         id:"formContents",
                        //-         required:false,
                        //-         placeholder:"Contents",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Select a file to upload (2)",
                        //-         id:"fileUpload",
                        //-         required:false,
                        //-         placeholder:"Select a file to upload (2)",
                        //-         inputUnderline:true
                        //-     },
                        //-     {
                        //-         type:"text",
                        //-         label:"Relation with the object company",
                        //-         id:"objectCompany",
                        //-         required:false,
                        //-         placeholder:"Relation with the object company",
                        //-         inputUnderline:true
                        //-     },
                        //- ])
                .my-form
                    .my-form__title.font-w-normal-32.font-m-normal-20 Reporting Content
                    .my-formbox Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar BlarBlar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar Blar
                
                .button.c-cta.my-button
                    //- [Start] 2023-04-07 : UPDATE - Cancel button popup
                    +defaultButton({name:"Home", wSize: 'large', mSize: 'medium', buttonStyle: 'highlight'})(href="#changedTermsAndConditions", class="js-pop-open")
                    //- [End] 2023-04-07 : UPDATE - Cancel button popup
                
                .my-component__wrap
                    .my-component
                        .c-text-contents
                            .privacy-policy 
                                strong Privacy policy
                                p LG will succeed through fair management practices and constant development of our business skills.
                                    a(href="#" data-cmp-data-layer)&attributes(attributes) Read more


block content

    // Component Markup
    
    .guide-text-type Type1. default
    +ETC000D('default')

    .guide-text-type Type2. DE
    +ETC000D('DE')