extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0236"
    - var componentName = "Warranty_Business"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    //- .guide 
    //-     .grid-1600 
    //-     .grid-1440
    //-     .inner
    //-         .guide-list
    //-             a(href="../../list-st.html") List 
    //-         .guide-title #{componentId}. #{componentName}
    //-         .guide-wrapper
    //-             script. 
    //-                 const guideList = {
    //-                     '.c-wrapper' : [
    //-                         {
    //-                             'name' : 'Top margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-top'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'Bottom margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-bottom'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'BG Color',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-text, .type-disclaimer' : [
    //-                         {
    //-                             'name' : 'Text Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
    //-                             ]
    //-                         }
    //-                     ],                        
    //-                     '.type-disclaimer .component' : [
    //-                         {
    //-                             'name' : 'Width Size',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'width-1440', 'remove' : 'width-1600'},
    //-                                 {'toggle' : false, 'add' : 'width-1600', 'remove' : 'width-1440'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-side' : [
    //-                         {
    //-                             'name' : 'Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-right'},
    //-                                 {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
    //-                         {
    //-                             'name' : 'Font Options',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
    //-                                 {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
    //-                                 {'toggle' : true, 'add' : 'font-italic'},
    //-                                 {'toggle' : true, 'add' : 'font-underline'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                 };


    mixin printTab(div, num, selected)
        if selected
            li.swiper-slide
                button.cmp-tabs__tab.cmp-tabs__tab--active(href="#" role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", data-cmp-hook-tabs="tab", aria-selected="true")
                    if block
                        block
        else 
            li.swiper-slide
                button.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", data-cmp-hook-tabs="tab", aria-selected="false")
                    if block
                        block

    mixin printTabPanel(div, num, selected)
        if selected 
            .c-tabs__tabpanel.c-tabs__tabpanel--active.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block
        else 
            .c-tabs__tabpanel.cmp-tabs__tabpanel(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block

    mixin trigger(controlsId)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded="false" aria-controls=`${controlsId}`)
                span.c-accordion__button-text.expand.sr-only Expand
                span.c-accordion__button-text.collapse.sr-only Collapse

    -
        const faqList2 = [
            {
                'warranty':'Reason',
                'title':'Damaged product',
                "type":'Not covered',
                'note':[
                'Damage caused in shipping or transit, moving or changing installation location.',
                'Product damage due to improper customer installation or installation inconsistent with guide in owner’s manual and other LG’s instruction (eg. product installed in a place with excessive dust, abundant oil mist, chemical substances are used, operating in very high or low temperature, high humidity).',
                'Damage (including cosmetic damage) or failure, due to misuse, abuse, negligence, improper maintenance or storage, or to acts of God or other causes beyond LG’s control. (Causes beyond LG’s control include but are not limited to lightning strike, power surges, power outages and water damage). ','Damage or missing components to any display, open box, discounted, or refurbished product.','Damage caused by computer or internet viruses, bugs, worms or Trojan Horses.'],
                'useImg': false,
            },
            {
                'warranty':'Reason',
                'title':'Product issues',
                "type":'Not covered',
                'note':[
                'Product issues due to deficient signal reception or set up adjustments.',
                'Product issues caused by use of parts, peripherals or software not recommended by LG.',
                'Product issues due to modification of or to any part of the product.',
                'Product issues due to repair or replacement of warranted parts by other than LG authorized service center.'
                ],
                'useImg': false,
            },
            {
                'warranty':'Reason',
                'title':'Etc',
                "type":'Not covered',
                'note':[
                'Damage caused in shipping or transit, moving or changing installation location.',
                'Product damage due to improper customer installation or installation inconsistent with guide in owner’s manual and other LG’s instruction (eg. product installed in a place with excessive dust, abundant oil mist, chemical substances are used, operating in very high or low temperature, high humidity).',
                'Damage (including cosmetic damage) or failure, due to misuse, abuse, negligence, improper maintenance or storage, or to acts of God or other causes beyond LG’s control. (Causes beyond LG’s control include but are not limited to lightning strike, power surges, power outages and water damage). ','Damage or missing components to any display, open box, discounted, or refurbished product.','Damage caused by computer or internet viruses, bugs, worms or Trojan Horses.'],
                'useImg': false,
            },

        ]
    -
        const faqList3 = [
            {
                'warranty':'Warranty condition',
                'title':'Repair within warranty',
                'title2':' ',
                'type':'Warranty period',
                'note':[
                'Customer is responsible for proper information of the defective unit.',
                'The target turnaround time of the repair is 1 to 14 days.',
                'LGE will provide on-site repair at designated port.(LGE designate ports according to cruise company’s itinerary in advance.)',
                'If the defective unit is not reparable by LG, The Unit will be replaced for same unit or substitute model which has a same quality as defective unit.',
                ],
                'useImg': false,
            },
            {
                'warranty':'Warranty condition',
                'title':'Repair out of warranty',
                'title2':'',
                'type':'Warranty period',
                'note':[
                'For “out of warranty” claims the process is the same as for “within warranty”. however, cost settlement process is that sales subsidiary provide quotation to cruise company. If cruise company accepts quotation, they need to prepayment service cost to sales subsidiary.',
                'The required functional spare parts are available for the authorized B2B service workshops during 5 years from the time that production ceases.'
                ],
                'useImg': false,
            },
            {
                'warranty':'Warranty condition',
                'title':'Repair extended warranty',
                'title2':'',
                'type':'Warranty period',
                'note':[
                'In case of “extended warranty” claims customer is able to use the same process like for “within warranty”. When registering the product information to the service offering system. Extended warranty is validated based on the serial number provided.',
                ],
                'useImg': false,
            },
            {
                'warranty':'Warranty condition',
                'title':'Return Dead on Arrival',
                'title2':'',
                'title3':'(DOA)',
                'type':'Warranty period',
                'note':[
                'The means a product that fail out of the Box or failed upon when is installation.',
                'A LGE product is considered DOA if it shows symptoms of a functional failure, preventing basic operability, upon its first use out of the box.',
                'In case the system Integrator has to contact LG representative within 30 calendar days of the invoice date.',
                'The replacement product will be shipped in a special shipment box without accessories.',
                'The defective product must be returned undamaged, using the packaging of the replacement product and without all accessories.',
                ],
                'useImg': false,
            },
        ]
    mixin pack2(faq, useImg, controlsId, note)
        .c-accordion__box.js-accordion-handle-target(role="listitem")
            .c-accordion__head
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-w-normal-20.font-m-normal-18(aria-hidden="true") Q.
                    .text.c-text-contents__headline
                        .cmp-text.font-w-normal-20.font-m-normal-18(data-cmp-data-layer="") 
                            //- strong.font-m-normal-20.font-w-normal-24 #{faq.prdTypes} 
                            .c-warranty__text
                                p.font-m-normal-14.font-w-normal-14 #{faq.warranty}  
                                p.font-m-normal-20.font-w-normal-24 #{faq.title}
                                p.font-m-normal-16.font-w-normal-24 #{faq.title2}
                                p.font-m-normal-16.font-w-normal-24 #{faq.title3}

                            if note 
                                .c-accordion-open.font-m-normal-14.font-w-normal-14 #{faq.type}

                +trigger(controlsId)
            if note
                .c-accordion__body(id=`${controlsId}`)
                    +contentsBody2(useImg, note, faq)
            else 

    mixin contentsBody2(useImg, note, faq)
        // block - text contents
        if note
            .c-text-contents.c-accordion__body-text
                .c-accordion__initial.font-w-normal-20.font-m-normal-18.font-normal(aria-hidden="true") A.
                .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16
                    .cmp-text(data-cmp-data-layer="") 
                        ul.font-m-normal-16.font-m-normal-14
                            each val in note
                                li= val
        if useImg
            .image.c-image.c-accordion__body-image
                +printLazyImage("https://via.placeholder.com/1600x900/000/333/?text=Image", "")

    mixin contentsBody(useImg, faq, item)
        // block - text contents
        .c-text-contents.c-accordion__body-text

            span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-normal(aria-hidden="true") A.
            .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16
                span.cmp-text(data-cmp-data-layer="") 
                div
                    each val in item
                        dl
                            dt.font-m-normal-14.font-w-normal-14.c-cruise-title Country / Port
                            dd.font-m-normal-16.font-w-normal-20= val.country
                            dt.font-m-normal-14.font-w-normal-14.c-cruise-title Sub. contact point
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-contact #{val.contact}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-contact #{val.contact2}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-contact #{val.contact3}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-contact #{val.contact4}
                            dt.font-m-normal-14.font-w-normal-14.c-cruise-title Email
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-email #{val.email}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-email #{val.email2}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-email #{val.email3}
                            dt.font-m-normal-14.font-w-normal-14.c-cruise-title Remarks
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark2}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark3}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark4}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark5}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark6}
        if useImg
            .image.c-image.c-accordion__body-image
                +printLazyImage("https://via.placeholder.com/1600x900/000/333/?text=Image", "")

    mixin pack(faq, useImg, controlsId, item)
        .c-accordion__box.js-accordion-handle-target
            .c-accordion__head
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-normal(aria-hidden="true") Q.
                        span.c-accordion__head-flag.font-m-normal-14.font-w-normal-18 #{faq.eyebrow}

                    .text.c-text-contents__headline
                        .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                            strong #{faq.headline} 
                +trigger(controlsId)
            .c-accordion__body(id=`${controlsId}`)
                +contentsBody(useImg, faq, item)

    -
        const faqList = [
            {
                'headline':'Mediterranean Sea',
                'item':[
                    { 
                        'eyebrow':false,
                        'useImg':false,
                        'country':'Italy (Malt Napol Civitavecchi Savon Venice)',
                        'contact':'Massimo Rise',
                        'email':'massimo.rise@lge.com',
                        'remark':'National 199-600-122 ',
                        'remark2':'International +39-02-84254903',
                    },
                    {
                        'country':'Spain / Barcelona',
                        'contact':'Mariano Valiente Carlos Tovar',
                        'email':'mariano.valiente@lge.com',
                        'email2':'carlos.tovar@lge.com',
                        'remark':'+34 96 305 05 00',
                        'remark2':'b2b.es@lge.com',
                        'useImg':false,
                    },
                    {
                        'country':'Greece / Rhodes',
                        'contact':'MARKOS MATSAMAKIS',
                        'email':'mariano.valiente@lge.com',
                        'email2':'carlos.tovar@lge.com',
                        'remark':'801 11 200 900 or',
                        'remark2':'0030 210 4800564',
                        'remark3':'(from mobile phone usage)',
                        'useImg':false,
                    },
                ]
            },
            {
                'headline':'Northern Europe',
                'item':[
                    { 
                        'eyebrow':false,
                        'useImg':false,
                        'country':'Germany / Kiel',
                        'contact':'Patrick Hoff',
                        'email':'patrick.hoff@lge.com',
                        'remark':'01806-807020 ',
                    },
                    {
                        'useImg':false,
                        'country':'Denmark / Copenhagen',
                        'contact':'Joacim Makenzius',
                        'email':'joacim.makenzius@lge.com ',
                        'remark':'80250940',
                    },
                    {
                        'useImg':false,
                        'country':'Sweden / Stockholm',
                        'contact':'joacim.makenzius@lge.com',
                        'email':'B2B@lgservice.se ',
                        'remark':'+46 (0) 771 54 54 50',
                    },
                    {
                        'useImg':false,
                        'country':'Norway / Oslo',
                        'contact':'joacim.makenzius@lge.com ',
                        'email':'B2B@lgservice.se',
                        'remark':'+47 800 101 34',
                    },
                ]
            },
            {
                'headline':'North Atlantic & North Pacific Ocean Country ',
                'item':[
                    {
                        'useImg':false,
                        'country':'USA / New York',
                        'contact':'Eddy Rosario/LGEAI Customer Service Field Service DMS',
                        'email':'eddy.rosario@lge.com ',
                        'remark':'973) 303-6624',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Boston',
                        'contact':'Matthew Romano',
                        'email':'Targ@msn.com',
                        'email2':'mattr830@yahoo.com',
                        'remark':'6172774600',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Baltimore',
                        'contact':'Walter Cross',
                        'email':'walter.cross@lge.com',
                        'remark':'+46 (0) 771 54 54 50',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Charleston',
                        'contact':'Darren Bradley',
                        'email':'alltronics@knology.net',
                        'remark':'843-766-0677',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Port Canaveral',
                        'contact':'Alejo Cortes/LGEAI Customer Service Field Service DMS',
                        'email':'al.cortes@lge.com',
                        'remark':'(407) 408-7065',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Portland, ME',
                        'contact':'David Munster',
                        'email':'david@dmunsterstv.com',
                        'remark':'207-874-0724',
                    },
                    {
                        'useImg':false,
                        'country':'USA / New Orlean',
                        'contact':'Daniel Cunningham',
                        'email':'daniel.cunningham@lge.com',
                        'remark':'-',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Miami',
                        'contact':'Monte Moore/LGEAI Customer Service Field Service DMS',
                        'email':'monte.moore@lge.com',
                        'remark':'(305) 978-0101',
                    },
                    {
                        'useImg':false,
                        'country':'USA / San Francisco',
                        'contact':'James Loggia',
                        'email':'james.loggia@lge.com',
                        'remark':'(209) 640-4634',
                    },
                ]
            },
            {
                'headline':'South Pacific Ocean & Caribbean Sea',
                'item':[
                    {
                        'useImg':false,
                        'country':'Mexico / Puerto Vallarta',
                        'contact':'Cesar Huerta',
                        'email':'electronica.integral@yahoo.com.mx',
                        'remark':'322 224 3736',
                    },
                    {
                        'useImg':false,
                        'country':'Mexico / Cozumel',
                        'contact':'Fernado Diaz',
                        'email':'fer_diaz55@hotmail.com',
                        'remark':'999 9205660',
                    },
                    {
                        'useImg':false,
                        'country':'Puertorico / San Juan',
                        'contact':'Luis Chen',
                        'email':'luis.chen@lge.com',
                        'remark':'001-800-510-9564',
                    },
                    {
                        'useImg':false,
                        'country':'Chile / Punta Arenas',
                        'contact':'Jaime Donoso Alejandra Muñoz',
                        'email':'jaime.donoso@lge.com',
                        'email2':'alejandra.munoz@lge.com',
                        'remark':'(022) 2995400',
                    },
                    {
                        'useImg':false,
                        'country':'Jamaika / Ocho Rios',
                        'contact':'Luis Chen',
                        'email':'luis.chen@lge.com',
                        'remark':'Jamaica',
                        'remark2':'1-800-234-2675',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Kahului',
                        'contact':'-',
                        'email':'akastv808@gmail.com',
                        'remark':'808-564-0005',
                    },
                    {
                        'useImg':false,
                        'country':'Dominican Rep. / Santo Domingo',
                        'contact':'Luis Chen',
                        'email':'luis.chen@lge.com',
                        'remark':'Rep. Dominicana',
                        'remark2':'1-800-751-5454',
                    },
                    {
                        'useImg':false,
                        'country':'Dominican Rep. / La Romana',
                        'contact':'Franklin Kwai Ben',
                        'email':'franklin.kwaiben@lge.com',
                        'remark':'Rep. Dominicana',
                        'remark2':'1-800-751-5454',
                        'remark3':'Barbados',
                        'remark4':'1-877-331-5112',
                        'remark5':'St.Vincent',
                        'remark6':'1-877-841-5310',
                    },
                ]
            },
            {
                'headline':'Middle East Sea & ASIA',
                'item':[
                    {
                        'useImg':false,
                        'country':'UAE / Dubai',
                        'contact':'Mr. Rajkumar',
                        'contact2':'(+971-50-850-7673)',
                        'contact3':'Mr. Na (+971-50-663-2426)',
                        'email':'gk.rajkumar@lge.com',
                        'email2':'steven.na@lge.com',
                        'email3':'Charles.Barbosa@jumbo.ae ',
                        'remark':'800-54 / 04-8050299',
                    },
                    {
                        'useImg':false,
                        'country':'Thailand / Any City(Harbor)',
                        'contact':'Mr. Sangbum Lee',
                        'contact2':'(+66-85-488-8193)',
                        'contact3':'Mr. Jirawit',
                        'contact4':'(+66-81-398-8654)',
                        'email':'sbum.lee@lge.com',
                        'email2':'jirawit.wat@lge.com',
                        'remark':'+66-2-878-5757',
                    },
                    {
                        'useImg':false,
                        'country':'China / Sanghai',
                        'contact':'姜玲娣',
                        'email':'lingdi.jiang@lge.com',
                        'remark':'18917611010',
                    },
                ]
            },
        ]

    .guide-text-type Warranty_Business

    // Component Markup
    //- c-default-margin class added
    //- .c-wrapper.CS0236.type-text.c-default-margin
    //-     .component
    //-         .CS0236__container
    //-             .c-cs-header
    //-                 // block : text-contents
    //-                 .c-text-contents
    //-                     .title.c-text-contents__headline
    //-                         +headline('font-w-regular-54 font-m-regular-30',h2,'Warranty')
    //-                     .text.c-text-contents__bodycopy
    //-                         .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
    //-                             span Not applicable in every subsidiary. Please contact your local LG B2B salesperson to see which is applicable and available.
    //- .c-wrapper.CS0236.type-text.c-default-margin
    //-     .component
    //-         .CS0236__container
    //-             // block : text-contents
    //-             .c-text-contents
    //-                 //- added class .c-text-contents__border-type
    //-                 .text.c-text-contents__border-type
    //-                     .cmp-text.font-m-normal-14(data-cmp-data-layer="")
    //-                         p If If product is installed in private site, please visit 
    //-                             a(href="#") consumer warranty

    .c-wrapper.CS0236.type-text.c-sticky__contents
        .component.type-tabs.full.type-form
            .CS0236__container
                .c-tabs.tabs.panelcontainer
                    .cmp-tabs(data-cmp-data-layer="", data-placeholder-text="false")
                        .c-tabs__inner.swiper
                            ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist", aria-multiselectable="false")
                                +printTab(1, 1, true)
                                    span General
                                +printTab(1, 2, false)
                                    span Limited
                                +printTab(1, 3, false)
                                    span Cruise
                                +printTab(1, 4, false)
                                    span HVAC

                        +printTabPanel(1, 1, true)
                            .container.responsivegrid
                                .button.c-print-area
                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0236.css" role="print")
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-w-light-56 font-m-light-28',h2,'LG B2B service introduction')
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                span LG B2B service conditions can be as per below examples/options. (based upon contracted sales agreements. see local conditions.);
                                ul.c-service-list.font-m-normal-14.font-w-normal-16 
                                    li Rapid repair service (e.g. within I day service)
                                    li Rapid swap service (e.g. within 4 hours service)
                                    li Remote diagnosis service (e.g. If customer wants a remote diagnosis report)
                                    li Multinational (cross border) service (available for most countries. speak to a local contact for clarification.)
                                    li Cruise service
                                    li Installation quality control service
                                    li Periodic visit maintenance service (e.g every two months)
                                    li ACP (Advance Care Program) service (currently only available in some countries, please check with local contact.)

                                .c-schematic 
                                    .c-schematic__logo 
                                        +printLazyPicture('../../mocks/CS0236/warranty_logo.svg', '')
                                    .c-direct-sales 
                                        div
                                            p.c-basic-service.font-m-normal-16.font-w-normal-20 B2B (basic service)
                                            p.c-basic-service__detail.font-m-normal-14.font-w-normal-16 In home, pick up &amp; delivery, carry-in, swap
                                            .c-partners__wrap 
                                                .c-partners__txt
                                                    p.c-point-color Direct sales
                                                    p.font-m-normal-14.font-w-normal-16 Sales through partners
                                                ul
                                                    li 
                                                        +printLazyImage('../../assets/icon/icon-support-warranty-profile1.svg')
                                                        span.font-m-normal-14.font-w-normal-16 SI
                                                    li 
                                                        +printLazyImage('../../assets/icon/icon-support-warranty-profile2.svg')
                                                        span.font-m-normal-14.font-w-normal-16 Installer
                                                    li 
                                                        +printLazyImage('../../assets/icon/icon-support-warranty-profile3.svg')
                                                        span.font-m-normal-14.font-w-normal-16 Consultant

                                            p.c-basic-service.font-m-normal-16.font-w-normal-20 B2B service (service offering)
                                            p.c-basic-service__detail.font-m-normal-14.font-w-normal-16 Extended warranty, quick Swap / repair / response / multinational warranty, Dd/Re installation / maintenance (cleaning), technical support
                                    .c-direct-customer Customer 
                            .c-warranty__general 
                                .c-warranty__wrapper
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-light-56 font-m-light-28',h2,'General warranty')
                                    ul 
                                        li 
                                            +printLazyPicture('../../assets/icon/icon-support-warranty-cn-48-48.svg', '../../assets/icon/icon-support-warranty-cn-64-64.svg')
                                            p.font-m-normal-14.font-w-normal-20 Subject to the terms below, LG Electronics UK will, during the warranty period, authorise a free of charge repair or SWAP (whichever is applicable) of All LG product or its included accessories (as applicable) if, in LGE UK’s opinion, it it needs a repair because of a manufacturing or materials defect appearing within, and notified to LGE UK in accordance with its warranty, within such period.
                                        li 
                                            +printLazyPicture('../../assets/icon/icon-support-warranty-cn-48-48.svg', '../../assets/icon/icon-support-warranty-cn-64-64.svg')
                                            p.font-m-normal-14.font-w-normal-20 This warranty is not transferable and applies to the original purchaser only. No LG employee, product re-seller or Authorized Service Centre has authority to vary the terms of this warranty. Goods presented for repair maybe replaced by refurbished goods of the same type rather than being repaired. Refurbished parts may be used to repair the goods.
                                                br
                                                | In case of distributor market, LGE entrusts distributor with full service for customer by sales discount program (BOG*).
                                                br
                                                | LGE provides free buffer at shipment to the distributor. Distributor will hold full responsibility for customer.

                            .c-warranty__period 
                                .c-warranty__wrapper
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-light-56 font-m-light-28',h2,'Guidance for warranty period')       
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-20',"h3",'Estimated standard for warranty period')       
                                            .text.c-text-contents__bodycopy
                                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                                    span LG electronics accomplish the product warranty according to local warranty conditions.
                                        .c-text-contents
                                            .text.c-text-contents__bodycopy
                                                .cmp-text.font-w-normal-32.font-m-normal-18(data-cmp-data-layer="")
                                                    span Part warranty period
                                    ul.c-service-list.font-m-normal-14.font-w-normal-16 
                                        li Parts warranty period means the quality guaranteed for the parts which are either within the product itself, or which constitute part of the product package.
                                        li General parts warranty period - basically, it make a rule to be same as the product warranty period. ( If the part is selected by core item, it will be applied based on the special criteria)

                            .c-warranty__product
                                .c-warranty__wrapper

                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-18',h2,'Warranty period for the general product')
                                    ul.c-product-list 
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Hotel TV
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Basic warranty
                                                p.font-m-normal-14.font-w-normal-24 3 years #[em.require *]
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Monitor signage
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Basic warranty
                                                p.font-m-normal-14.font-w-normal-24 3 years
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Commercial pro
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Basic warranty
                                                p.font-m-normal-14.font-w-normal-24 3 years #[em.require **]
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Settop box
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Basic warranty
                                                p.font-m-normal-14.font-w-normal-24 2 years
                                    p.c-product__desc.font-m-normal-12.font-w-normal-14 Warranty based on product sold in UK market
                                        br
                                        | * Excludes OLED hotel TV models (65WU960H/55EU961H/65EU961H)
                                        br
                                        | ** Commercial pro and Hotel TV basic warranty extension to 3 years, applies for products purchased from 2019 onwards 

                            .c-warranty__product.c-warranty__product-special 
                                .c-warranty__wrapper

                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-18',"h3",'Warranty period for the general product')
                                    ul.c-product-list 
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 SAC
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Basic warranty
                                                p.font-m-normal-14.font-w-normal-24 3 years 
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Extended warranty
                                                p.font-m-normal-14.font-w-normal-24 5 years
                                            div 
                                                p.font-m-normal-14.font-w-normal-14 Remarks
                                                p.font-m-normal-14.font-w-normal-16 Must be serviced biannually.
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 RAC
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Basic warranty
                                                p.font-m-normal-14.font-w-normal-24 3 years 
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Extended warranty
                                                p.font-m-normal-14.font-w-normal-24 5 years
                                            div 
                                                p.font-m-normal-14.font-w-normal-14 Remarks
                                                p.font-m-normal-14.font-w-normal-16 10 years compressor warranty Must be serviced biannually
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Thema V
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Basic warranty
                                                p.font-m-normal-14.font-w-normal-24 3 years 
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Extended warranty
                                                p.font-m-normal-14.font-w-normal-24 7 years
                                            div 
                                                p.font-m-normal-14.font-w-normal-14 Remarks
                                                p.font-m-normal-14.font-w-normal-16 Must be serviced biannually.
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Multi V
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Basic warranty
                                                p.font-m-normal-14.font-w-normal-24 3 years 
                                            div
                                                p.font-m-normal-14.font-w-normal-14 Extended warranty
                                                p.font-m-normal-14.font-w-normal-24 5 years
                                            div 
                                                p.font-m-normal-14.font-w-normal-14 Remarks
                                                p.font-m-normal-14.font-w-normal-16 Must be serviced biannually.

                            .c-warranty__service
                                .c-warranty__wrapper
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-light-56 font-m-light-28',h2,'Service process')  
                                            .text.c-text-contents__bodycopy
                                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                    span LG Electronics recommends B2B customer and/or SI company to make a purchase of buffer stock to keep the business running normally minimizing downtime.
                                                    br
                                                    | The basic service process for B2B customer/SI company is as follows.
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-18',"h3",'Pre-sales step')
                                    ul.c-service-list.font-m-normal-14.font-w-normal-16 
                                        li The SI company install their hardware and software along with LG products. 
                                        li The Sales Engineer of LG Electronics will support when SI request for Installation method or other technical queries. 
                                        li LG Electronics recommends that SI company should help clarify theirs system in case of any problems occurring to B2B customers. 
                                        li If Hotel TV, Signage have problem during installation, Sales Engineer of LG Electronics will aim to support the SI and B2B customers.

                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-18',"h3",'Post-sales step')
                                    ul.c-service-list.font-m-normal-14.font-w-normal-16 
                                        li If defect occurs, B2B customer will contact SI company first.
                                        li SI should check the reason behind the problem to see if it is caused by LG product or not. SI company will restore the system of B2B customer by utilizing buffer stock.
                                        li If the defect caused by LG Electronics' product issue, SI engineer can escalate to the local B2B service contact point (refer to APPENDIX_REGIONAL CONTACT POINT). 
                                            br
                                            | De-installation &amp; re-installation of the product should be executed by SI or B2B customer.
                                        li LG will seek to remedy the problem within the appointed period with customer by arranging LG designated service engineer.
                                        li Service conditions and warranty policies of all countries can be different. Warranty is subject to the applicable laws of the country in which is it used.

                        +printTabPanel(1, 2, false)
                            .container.responsivegrid
                                .button.c-print-area
                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0236.css" role="print")
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-w-light-56 font-m-light-28',h2,'Limited warranty')
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                span It is the user’s responsibility to ensure that the product is used in accordance with the manufacturers guidelines detailed in the instruction manual, supplied with the product, failure to do so will invalidate the warranty.
                                        
                                        .title.c-text-contents__headline
                                            +headline('font-w-normal-32 font-m-normal-18',"h3",'The followings are not covered under LG general warranty')

                                .type-accordion2
                                    .c-accordion.js-accordion
                                        each faq, index in faqList2
                                            - var controlsId = `static-faq-set-group-0${index}`; 
                                            +pack2(faq, faq.useImg, controlsId, faq.note)

                                .c-warranty__service
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-18',"h3",'User’s responsibility for the software supplied by LGE')
                                    ul.c-service-list.font-m-normal-14.font-w-normal-16 
                                        li Customer must comply with any technical limitations in the software that only allow to use it in certain ways.
                                        li Customer may
                                            ul
                                                li not work around any technical limitations in the software;
                                                li reverse engineer, decompile or disassemble the Software;
                                                li make more copies of the Software than specified in this agreement;
                                                li publish the software for others to copy
                                        li This software warranty does not apply to defects resulting from unauthorized modifications, misuse, abuse, or operation for purposes other than the intended use.

                        +printTabPanel(1, 3, false)
                            .container.responsivegrid
                                .button.c-print-area
                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0236.css" role="print")
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-w-light-56 font-m-light-28',h2,'Guidance for cruise warranty')

                                        .title.c-text-contents__headline
                                            +headline('font-w-light-36 font-m-light-24',pass,'Warranty policy')

                                        .title.c-text-contents__headline
                                            +headline('font-w-normal-32 font-m-normal-20',"h3",'Warranty period (Europe)')

                                .c-warranty__product
                                    .c-warranty__wrapper

                                        ul.c-product-list 
                                            li.c-content_box
                                                p.font-m-normal-20.font-w-normal-24 Commercial TV
                                                div
                                                    p.font-m-normal-14.font-w-normal-14 Warranty period
                                                    p.font-m-normal-20.font-w-normal-24 2 years
                                            li.c-content_box
                                                p.font-m-normal-20.font-w-normal-24 Monitor signage
                                                div
                                                    p.font-m-normal-14.font-w-normal-14 Warranty period
                                                    p.font-m-normal-20.font-w-normal-24 3 years
                                            li.c-content_box
                                                p.font-m-normal-20.font-w-normal-24 Media player
                                                div
                                                    p.font-m-normal-14.font-w-normal-14 Warranty period
                                                    p.font-m-normal-20.font-w-normal-24 2 or 3 years 
                                                div.font-m-normal-14.font-w-normal-16 (depends on purchased country)
                                        ul.c-product__desc.font-m-normal-14.font-w-normal-14 
                                            li From the date of installation of a new unit. Within the warranty period, defective products will be repaired free of charge.
                                            li In principle, The warranty period will be counted by the date of cruising start of a new unit, If customer and LGE get mutual agreement before contract.
                                            li Cruise operator need to share information in advance. Such as cruise routes (include ports)/schedule, appoint ports for repair purpose and etc.
                                            li Sales support team needs to upload serial no and installation date (warranty start date) in the B2B GERP system. (Subs. B2B sales person needs to inform sales support team.)

                                .c-warranty__condition
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-20',"h3",'Warranty condition')

                                    .type-accordion2
                                        .c-accordion.js-accordion
                                            each faq, index in faqList3
                                                - var controlsId = `static-faq-set-group-0${index}`; 
                                                +pack2(faq, faq.useImg, controlsId, faq.note)

                                .c-warranty__cruise
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-light-56 font-m-light-28',h2,'Global service for cruise Biz')
                                    .type-accordion
                                        .c-accordion.js-accordion
                                            each faq, index in faqList
                                                - var controlsId = `static-faq-set-group-0${index}`; 
                                                +pack(faq, faq.useImg, controlsId, faq.item)

                        +printTabPanel(1, 4, false)
                            .container.responsivegrid
                                .button.c-print-area
                                    +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0236.css" role="print")
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-w-light-56 font-m-light-28',h2,'HVAC warranty')
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                                span The Air Conditioning and Energy Solutions Technical Service Department at LG Electronics UK Ltd endeavours to provide world class assistance to help keep your LGE air conditioning and /or heat pump systems operating in all situations throughout the year.
                                                br
                                                | We do this by partnering with well established and experienced distributors and hold regular technical product training courses for installers across the UK.
                                                br
                                                | Everyone who has attended a training course will receive a certificate and an individual unique number.
                               
                                .c-warranty__product.c-warranty__product-special 
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-18',"h3",'Air conditioning warranty')
                                    ul.c-product-list 
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Multi V VRF systems
                                            div
                                                p.font-m-normal-14.font-w-normal-16 Basic warranty
                                                p.font-m-normal-16.font-w-normal-20 3 years 
                                            div
                                                p.font-m-normal-14.font-w-normal-16 Extended warranty
                                                p.font-m-normal-16.font-w-normal-20 5 years
                                            div 
                                                p.font-m-normal-14.font-w-normal-16 Remarks
                                                p.font-m-normal-14.font-w-normal-16 Must be serviced biannually.
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Multi split system
                                            div
                                                p.font-m-normal-14.font-w-normal-16 Basic warranty
                                                p.font-m-normal-16.font-w-normal-20 3 years 
                                            div
                                                p.font-m-normal-14.font-w-normal-16 Extended warranty
                                                p.font-m-normal-16.font-w-normal-20 5 years
                                            div 
                                                p.font-m-normal-14.font-w-normal-16 Remarks
                                                p.font-m-normal-14.font-w-normal-16 Must be serviced biannually.
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Single split (RAC)
                                            div
                                                p.font-m-normal-14.font-w-normal-16 Basic warranty
                                                p.font-m-normal-16.font-w-normal-20 3 years 
                                            div
                                                p.font-m-normal-14.font-w-normal-16 Extended warranty
                                                p.font-m-normal-16.font-w-normal-20 5 years
                                            div 
                                                p.font-m-normal-14.font-w-normal-16 Remarks
                                                p.font-m-normal-14.font-w-normal-16 10 year compressor part only warranty. Must be serviced biannually.
                                    ul.c-product__desc.font-m-normal-14.font-w-normal-14 
                                        | Warranty conditions
                                        br
                                        | To obtain extended warranty the installer / installation company must have attended the relevant LG product training course and hold a valid FGAS certificate.
                                        br
                                        | For Multi V VRF systems, pre-commissioning and post commissioning documentation needs to be provided along with an LG LATS HVAC report within 30 days of the system commissioning 
                                        br
                                        | which must be carried out by a certified LGE product engineer or be commissioned by a LGE Technical member of staff.
                                        br
                                        | For Multi split and Single split air conditioning system the system will have 5 years warranty from date of commissioning if installed by a LG certified trained installer.

                                .c-warranty__product.c-warranty__product-special 
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-20',"h3",'Heating product warranty')
                                    ul.c-product-list 
                                        li.c-content_box
                                            p.font-m-normal-20.font-w-normal-24 Therma V (AWHP)
                                            div
                                                p.font-m-normal-16.font-w-normal-16 Basic warranty
                                                p.font-m-normal-18.font-w-normal-20 1 years 
                                            div
                                                p.font-m-normal-16.font-w-normal-16 Extended warranty
                                                p.font-m-normal-18.font-w-normal-20 3-7 years
                                            div 
                                                p.font-m-normal-16.font-w-normal-16 Remarks
                                                p.font-m-normal-16 Must be serviced biannually.
                                    
                                    ul.c-product__desc.font-m-normal-14.font-w-normal-14 
                                        | Warranty conditions
                                        br
                                        | To qualify for 3 years basic warranty LGE must receive the product commissioning sheet and a system diagram. If no paperwork is received the system will only have the standard 1 year manufactures warranty.
                                        br
                                        | For 7 years warranty, LGE must receive the product commissioning sheet, the LATS Therma V report (if operating on R410 refrigerant) and MCS submittal document if applicable.
                                        br
                                        | A system diagram will need to be sent and the installation must include a Hydraulics separation. A magnetic filter and a flow indicator is highly recommended. All paperwork must be received within 30 days of the system commissioning.
                                
                                .c-warranty__service
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .title.c-text-contents__headline
                                                +headline('font-w-normal-32 font-m-normal-20',"h3",'Product not covered by LG warranty')  
                                            .text.c-text-contents__bodycopy
                                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                                    span Claims resulting from incorrect installation, poor maintenance or misuse are outside the scope of product warranty.
                                                    br
                                                    | Products that have been delivered incorrectly or damaged in transit are dealt with by the sales department and not under warranty claims. You should notify your distributor immediately as they are subject to a separate procedure.
                                                    br
                                                    | For ordering spare parts outside of the warranty period contact the Technical Service Department or email 
                                                    a(href="") aircon.spares@lge.com

                                .c-login-text 
                                    .font-m-normal-14.font-w-normal-16 Contact your LG distributor for a copy of the warranty policy.
                                    +linkButton({type:"text",color:"black", icon:true, name:"Learn more"})(href="/content/lge/gb/en/business/finadealer/")