extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0236"
    - var CS0236country = "CS0236-DE"
    - var ST0001 = "ST0001"

    - var componentName = "Warranty_Business"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href=CS0236country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")

block content
    - 
        const itemsAT = [
            {
                'title':'LG Digital Signage (monitor signage)',
                'subtitle':'- Drei (3) Jahre vor-Ort-Garantie für „Premium-Displays“',
                'listtype':true,
                'list1text':'- Drei (3) Jahre oder 17520 Betriebsstunden (tägliche Nutzung von 16 Stunden zu Grunde gelegt), je nachdem welcher Fall eher eintritt. vor-Ort-Garantie für „Enhanced Displays“',
            },
            {
                'title':'Kommerzielle TV',
                'subtitle':'- Drei (3) Jahre Garantie',
            },
            {
                'title':'Digitale Signage Media Spieler',
                'subtitle':'- Drei (3) Jahre Garantie',
            },
            {
                'title':'Set-Top Box',
                'subtitle':'- Zwei (2) Jahre Garantie',
            },
            {
                'title':'OLED signage',
                'subtitle':'- 3 Jahre (Verwendung 55” : 18 Stunden/7 Tage | 65” : 12 Stunden/7 Tage) ! Art der abgespielten Inhalte: Nur bewegte Bilder !',
            },
        ]
    mixin printTab(div, num, selected)
        if selected
            li.swiper-slide
                button.cmp-tabs__tab.cmp-tabs__tab--active(href="#" role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", data-cmp-hook-tabs="tab", aria-selected="true")
                    if block
                        block
        else 
            li.swiper-slide
                button.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", data-cmp-hook-tabs="tab", aria-selected="false")
                    if block
                        block

    mixin printTabPanel(div, num, selected)
        if selected 
            .c-tabs__tabpanel.c-tabs__tabpanel--active.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block
        else 
            .c-tabs__tabpanel.cmp-tabs__tabpanel(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block

    mixin trigger(controlsId)
        .button
            button.cmp-button.c-accordion__button.js-accordion-trigger(aria-expanded="false" aria-controls=`${controlsId}`)
                span.c-accordion__button-text.expand.sr-only Expand
                span.c-accordion__button-text.collapse.sr-only Collapse

    -
        const faqList2 = [
            {
                'warranty':'Reason',
                'title':'Damaged product',
                "type":'Not covered',
                'note':[
                'Damage caused in shipping or transit, moving or changing installation location.',
                'Product damage due to improper customer installation or installation inconsistent with guide in owner’s manual and other LG’s instruction (eg. product installed in a place with excessive dust, abundant oil mist, chemical substances are used, operating in very high or low temperature, high humidity).',
                'Damage (including cosmetic damage) or failure, due to misuse, abuse, negligence, improper maintenance or storage, or to acts of God or other causes beyond LG’s control. (Causes beyond LG’s control include but are not limited to lightning strike, power surges, power outages and water damage). ','Damage or missing components to any display, open box, discounted, or refurbished product.','Damage caused by computer or internet viruses, bugs, worms or Trojan Horses.'],
                'useImg': false,
            },
            {
                'warranty':'Reason',
                'title':'Product issues',
                "type":'Not covered',
                'note':[
                'Product issues due to deficient signal reception or set up adjustments.',
                'Product issues caused by use of parts, peripherals or software not recommended by LG.',
                'Product issues due to modification of or to any part of the product.',
                'Product issues due to repair or replacement of warranted parts by other than LG authorized service center.'
                ],
                'useImg': false,
            },
            {
                'warranty':'Reason',
                'title':'Etc',
                "type":'Not covered',
                'note':[
                'Damage caused in shipping or transit, moving or changing installation location.',
                'Product damage due to improper customer installation or installation inconsistent with guide in owner’s manual and other LG’s instruction (eg. product installed in a place with excessive dust, abundant oil mist, chemical substances are used, operating in very high or low temperature, high humidity).',
                'Damage (including cosmetic damage) or failure, due to misuse, abuse, negligence, improper maintenance or storage, or to acts of God or other causes beyond LG’s control. (Causes beyond LG’s control include but are not limited to lightning strike, power surges, power outages and water damage). ','Damage or missing components to any display, open box, discounted, or refurbished product.','Damage caused by computer or internet viruses, bugs, worms or Trojan Horses.'],
                'useImg': false,
            },

        ]
    -
        const faqList3 = [
            {
                'warranty':'Warranty condition',
                'title':'Repair Within warranty',
                'title2':' ',
                'type':'Warranty period',
                'note':[
                'Customer is responsible for proper information of the defective unit.',
                'The target turnaround time of the repair is 1 to 14 days.',
                'LGE will provide on-site repair at designated port.(LGE designate ports according to cruise company’s itinerary in advance.)',
                'If the defective unit is not reparable by LG, The Unit will be replaced for same unit or substitute model which has a same quality as defective unit.',
                ],
                'useImg': false,
            },
            {
                'warranty':'Warranty condition',
                'title':'Repair out of warranty',
                'title2':'',
                'type':'Warranty period',
                'note':[
                'For “out of warranty” claims the process is the same as for “within warranty”. however, cost settlement process is that sales subsidiary provide quotation to cruise company. If cruise company accepts quotation, they need to prepayment service cost to sales subsidiary.',
                'The required functional spare parts are available for the authorized B2B service workshops during 5 years from the time that production ceases.'
                ],
                'useImg': false,
            },
            {
                'warranty':'Warranty condition',
                'title':'Repair extended warranty',
                'title2':'',
                'type':'Warranty period',
                'note':[
                'In case of “extended warranty” claims customer is able to use the same process like for “within warranty”. When registering the product information to the service offering system. Extended warranty is validated based on the serial number provided.',
                ],
                'useImg': false,
            },
            {
                'warranty':'Warranty condition',
                'title':'Return Dead on Arrival',
                'title2':'',
                'title3':'(DOA)',
                'type':'Warranty period',
                'note':[
                'The means a product that fail out of the Box or failed upon when is installation.',
                'A LGE product is considered DOA if it shows symptoms of a functional failure, preventing basic operability, upon its first use out of the box.',
                'In case the system Integrator has to contact LG representative within 30 calendar days of the invoice date.',
                'The replacement product will be shipped in a special shipment box without accessories.',
                'The defective product must be returned undamaged, using the packaging of the replacement product and without all accessories.',
                ],
                'useImg': false,
            },
        ]
    mixin pack2(faq, useImg, controlsId, note)
        .c-accordion__box.js-accordion-handle-target(role="listitem")
            .c-accordion__head
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-w-normal-20.font-m-normal-18(aria-hidden="true") Q.
                    .text.c-text-contents__headline
                        .cmp-text.font-w-normal-20.font-m-normal-18(data-cmp-data-layer="") 
                            //- strong.font-m-normal-20.font-w-normal-24 #{faq.prdTypes} 
                            .c-warranty__text
                                p.font-m-normal-14.font-w-normal-14 #{faq.warranty}  
                                p.font-m-normal-20.font-w-normal-24 #{faq.title}
                                p.font-m-normal-16.font-w-normal-24 #{faq.title2}
                                p.font-m-normal-16.font-w-normal-24 #{faq.title3}

                            if note 
                                .c-accordion-open.font-m-normal-14.font-w-normal-14 #{faq.type}

                +trigger(controlsId)
            if note
                .c-accordion__body(id=`${controlsId}`)
                    +contentsBody2(useImg, note, faq)
            else 

    mixin contentsBody2(useImg, note, faq)
        // block - text contents
        if note
            .c-text-contents.c-accordion__body-text
                .c-accordion__initial.font-w-normal-20.font-m-normal-18.font-normal(aria-hidden="true") A.
                .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16
                    .cmp-text(data-cmp-data-layer="") 
                        ul.font-m-normal-16.font-m-normal-14
                            each val in note
                                li= val
        if useImg
            .image.c-image.c-accordion__body-image
                +printLazyImage("https://via.placeholder.com/1600x900/000/333/?text=Image", "")

    mixin contentsBody(useImg, faq, item)
        // block - text contents
        .c-text-contents.c-accordion__body-text

            span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-normal(aria-hidden="true") A.
            .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-16
                span.cmp-text(data-cmp-data-layer="") 
                div
                    each val in item
                        dl
                            dt.font-m-normal-14.font-w-normal-14.c-cruise-title Country / Port
                            dd.font-m-normal-16.font-w-normal-20= val.country
                            dt.font-m-normal-14.font-w-normal-14.c-cruise-title Sub. contact point
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-contact #{val.contact}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-contact #{val.contact2}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-contact #{val.contact3}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-contact #{val.contact4}
                            dt.font-m-normal-14.font-w-normal-14.c-cruise-title Email
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-email #{val.email}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-email #{val.email2}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-email #{val.email3}
                            dt.font-m-normal-14.font-w-normal-14.c-cruise-title Remarks
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark2}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark3}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark4}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark5}
                            dd.font-m-normal-14.font-w-normal-16.c-cruise-remark #{val.remark6}
        if useImg
            .image.c-image.c-accordion__body-image
                +printLazyImage("https://via.placeholder.com/1600x900/000/333/?text=Image", "")

    mixin pack(faq, useImg, controlsId, item)
        .c-accordion__box.js-accordion-handle-target
            .c-accordion__head
                // block - text contents
                .c-accordion__head-text.c-text-contents
                    span.c-accordion__initial.font-w-normal-20.font-m-normal-18.font-normal(aria-hidden="true") Q.
                        span.c-accordion__head-flag.font-m-normal-14.font-w-normal-18 #{faq.eyebrow}

                    .text.c-text-contents__headline
                        .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                            strong #{faq.headline} 
                +trigger(controlsId)
            .c-accordion__body(id=`${controlsId}`)
                +contentsBody(useImg, faq, item)

    -
        const faqList = [
            {
                'headline':'Mediterranean Sea',
                'item':[
                    { 
                        'eyebrow':false,
                        'useImg':false,
                        'country':'Italy (Malt Napol Civitavecchi Savon Venice)',
                        'contact':'Massimo Rise',
                        'email':'massimo.rise@lge.com',
                        'remark':'National 199-600-122 ',
                        'remark2':'International +39-02-84254903',
                    },
                    {
                        'country':'Spain / Barcelona',
                        'contact':'Mariano Valiente Carlos Tovar',
                        'email':'mariano.valiente@lge.com',
                        'email2':'carlos.tovar@lge.com',
                        'remark':'+34 96 305 05 00',
                        'remark2':'b2b.es@lge.com',
                        'useImg':false,
                    },
                    {
                        'country':'Greece / Rhodes',
                        'contact':'MARKOS MATSAMAKIS',
                        'email':'mariano.valiente@lge.com',
                        'email2':'carlos.tovar@lge.com',
                        'remark':'801 11 200 900 or',
                        'remark2':'0030 210 4800564',
                        'remark3':'(from mobile phone usage)',
                        'useImg':false,
                    },
                ]
            },
            {
                'headline':'Northern Europe',
                'item':[
                    { 
                        'eyebrow':false,
                        'useImg':false,
                        'country':'Germany / Kiel',
                        'contact':'Patrick Hoff',
                        'email':'patrick.hoff@lge.com',
                        'remark':'01806-807020 ',
                    },
                    {
                        'useImg':false,
                        'country':'Denmark / Copenhagen',
                        'contact':'Joacim Makenzius',
                        'email':'joacim.makenzius@lge.com ',
                        'remark':'80250940',
                    },
                    {
                        'useImg':false,
                        'country':'Sweden / Stockholm',
                        'contact':'joacim.makenzius@lge.com',
                        'email':'B2B@lgservice.se ',
                        'remark':'+46 (0) 771 54 54 50',
                    },
                    {
                        'useImg':false,
                        'country':'Norway / Oslo',
                        'contact':'joacim.makenzius@lge.com ',
                        'email':'B2B@lgservice.se',
                        'remark':'+47 800 101 34',
                    },
                ]
            },
            {
                'headline':'North Atlantic & North Pacific Ocean Country ',
                'item':[
                    {
                        'useImg':false,
                        'country':'USA / New York',
                        'contact':'Eddy Rosario/LGEAI Customer Service Field Service DMS',
                        'email':'eddy.rosario@lge.com ',
                        'remark':'973) 303-6624',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Boston',
                        'contact':'Matthew Romano',
                        'email':'Targ@msn.com',
                        'email2':'mattr830@yahoo.com',
                        'remark':'6172774600',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Baltimore',
                        'contact':'Walter Cross',
                        'email':'walter.cross@lge.com',
                        'remark':'+46 (0) 771 54 54 50',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Charleston',
                        'contact':'Darren Bradley',
                        'email':'alltronics@knology.net',
                        'remark':'843-766-0677',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Port Canaveral',
                        'contact':'Alejo Cortes/LGEAI Customer Service Field Service DMS',
                        'email':'al.cortes@lge.com',
                        'remark':'(407) 408-7065',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Portland, ME',
                        'contact':'David Munster',
                        'email':'david@dmunsterstv.com',
                        'remark':'207-874-0724',
                    },
                    {
                        'useImg':false,
                        'country':'USA / New Orlean',
                        'contact':'Daniel Cunningham',
                        'email':'daniel.cunningham@lge.com',
                        'remark':'-',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Miami',
                        'contact':'Monte Moore/LGEAI Customer Service Field Service DMS',
                        'email':'monte.moore@lge.com',
                        'remark':'(305) 978-0101',
                    },
                    {
                        'useImg':false,
                        'country':'USA / San Francisco',
                        'contact':'James Loggia',
                        'email':'james.loggia@lge.com',
                        'remark':'(209) 640-4634',
                    },
                ]
            },
            {
                'headline':'South Pacific Ocean & Caribbean Sea',
                'item':[
                    {
                        'useImg':false,
                        'country':'Mexico / Puerto Vallarta',
                        'contact':'Cesar Huerta',
                        'email':'electronica.integral@yahoo.com.mx',
                        'remark':'322 224 3736',
                    },
                    {
                        'useImg':false,
                        'country':'Mexico / Cozumel',
                        'contact':'Fernado Diaz',
                        'email':'fer_diaz55@hotmail.com',
                        'remark':'999 9205660',
                    },
                    {
                        'useImg':false,
                        'country':'Puertorico / San Juan',
                        'contact':'Luis Chen',
                        'email':'luis.chen@lge.com',
                        'remark':'001-800-510-9564',
                    },
                    {
                        'useImg':false,
                        'country':'Chile / Punta Arenas',
                        'contact':'Jaime Donoso Alejandra Muñoz',
                        'email':'jaime.donoso@lge.com',
                        'email2':'alejandra.munoz@lge.com',
                        'remark':'(022) 2995400',
                    },
                    {
                        'useImg':false,
                        'country':'Jamaika / Ocho Rios',
                        'contact':'Luis Chen',
                        'email':'luis.chen@lge.com',
                        'remark':'Jamaica',
                        'remark2':'1-800-234-2675',
                    },
                    {
                        'useImg':false,
                        'country':'USA / Kahului',
                        'contact':'-',
                        'email':'akastv808@gmail.com',
                        'remark':'808-564-0005',
                    },
                    {
                        'useImg':false,
                        'country':'Dominican Rep. / Santo Domingo',
                        'contact':'Luis Chen',
                        'email':'luis.chen@lge.com',
                        'remark':'Rep. Dominicana',
                        'remark2':'1-800-751-5454',
                    },
                    {
                        'useImg':false,
                        'country':'Dominican Rep. / La Romana',
                        'contact':'Franklin Kwai Ben',
                        'email':'franklin.kwaiben@lge.com',
                        'remark':'Rep. Dominicana',
                        'remark2':'1-800-751-5454',
                        'remark3':'Barbados',
                        'remark4':'1-877-331-5112',
                        'remark5':'St.Vincent',
                        'remark6':'1-877-841-5310',
                    },
                ]
            },
            {
                'headline':'Middle East Sea & ASIA',
                'item':[
                    {
                        'useImg':false,
                        'country':'UAE / Dubai',
                        'contact':'Mr. Rajkumar',
                        'contact2':'(+971-50-850-7673)',
                        'contact3':'Mr. Na (+971-50-663-2426)',
                        'email':'gk.rajkumar@lge.com',
                        'email2':'steven.na@lge.com',
                        'email3':'Charles.Barbosa@jumbo.ae ',
                        'remark':'800-54 / 04-8050299',
                    },
                    {
                        'useImg':false,
                        'country':'Thailand / Any City(Harbor)',
                        'contact':'Mr. Sangbum Lee',
                        'contact2':'(+66-85-488-8193)',
                        'contact3':'Mr. Jirawit',
                        'contact4':'(+66-81-398-8654)',
                        'email':'sbum.lee@lge.com',
                        'email2':'jirawit.wat@lge.com',
                        'remark':'+66-2-878-5757',
                    },
                    {
                        'useImg':false,
                        'country':'China / Sanghai',
                        'contact':'姜玲娣',
                        'email':'lingdi.jiang@lge.com',
                        'remark':'18917611010',
                    },
                ]
            },
        ]

    .guide-text-type Warranty_Business - DE

    // Component Markup
    .c-wrapper.CS0236
        .component.CS0236-DE
            .CS0236__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Geschäftskunden-Garantie
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Anbei finden Sie die allgemeinen Bedingungen der B2B Garantie

                .cs-notabs
                        .button.c-print-area
                            +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0236.css, ./CS0236-DE.css" role="print")
                        .c-cs-header
                            // block : text-contents
                            .c-text-contents
                                .title.c-text-contents__headline
                                    +headline('font-w-light-56 font-m-light-28',h2,'Vorstellung LG B2B service')
                                .text.c-text-contents__bodycopy
                                    .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                        span Diverse LG B2B services (gegen Zuzahlung) sind in Planung:
                        .c-schematic 
                            .c-schematic__logo 
                                +printLazyPicture('../../mocks/CS0236/warranty_logo.svg', '')
                            .c-direct-sales 
                                div
                                    p.c-basic-service.font-m-normal-16.font-w-normal-20 B2B (basic service)
                                    p.c-basic-service__detail.font-m-normal-14.font-w-normal-16 In home, pick up &amp; delivery, carry-in, swap
                                    .c-partners__wrap 
                                        .c-partners__txt
                                            p.c-point-color Direkt Verkauf
                                            p.font-m-normal-14.font-w-normal-16 Durch Handelspartner
                                        ul
                                            li 
                                                +printLazyImage('../../assets/icon/icon-support-warranty-profile1.svg')
                                                span.font-m-normal-14.font-w-normal-16 SI
                                            li 
                                                +printLazyImage('../../assets/icon/icon-support-warranty-profile2.svg')
                                                span.font-m-normal-14.font-w-normal-16 Installer
                                            li 
                                                +printLazyImage('../../assets/icon/icon-support-warranty-profile3.svg')
                                                span.font-m-normal-14.font-w-normal-16 Consultant

                                    p.c-basic-service.font-m-normal-16.font-w-normal-20 B2B service (service offering)
                                    p.c-basic-service__detail.font-m-normal-14.font-w-normal-16 Erweiterung der Garantie, schnellen Swap (gegen Aufpreis), Reparatur, grenzübergreifende Garantie, de/reinstallation, Wartung (Reinigung), technische Unterstützung
                            .c-direct-customer Kunde 
                        .c-warranty__general 
                            .c-warranty__wrapper
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-w-light-56 font-m-light-28',h2,'Generelle Garantiebedingungen')
                                ul 
                                    li 
                                        +printLazyPicture('../../assets/icon/icon-support-warranty-cn-48-48.svg', '../../assets/icon/icon-support-warranty-cn-64-64.svg')
                                        p.font-m-normal-14.font-w-normal-20 LG Electronics gewährt Ihrem Händler für alle LG Produkte aus den B2B Commercial Bereichen (Monitore, Projektoren (Beamer) etc.), eine freiwillige Garantie dafür, dass sie und ihre Teile frei von Material- oder Verarbeitungsfehlern sind. Maßgabe für die Fehlerfreiheit ist der Stand der Technik vergleichbarer Produkte zum Zeitpunkt des Inverkehrbringens.
                                            br
                                            | Die Garantie findet Anwendung auf alle in den oben genannten Bereichen von der LG Electronics Deutschland GmbH in den Handel gebrachten LG B2B Commercial -Produkte („LG B2B Produkt“).
                                    li 
                                        +printLazyPicture('../../assets/icon/icon-support-warranty-cn-48-48.svg', '../../assets/icon/icon-support-warranty-cn-64-64.svg')
                                        p.font-m-normal-14.font-w-normal-20 Wird das LG B2B Produkt außerhalb Deutschlands verbracht (ausgenommen sind die Schweiz und Österreich), eingesetzt oder entsteht dort ein Fehler im Sinne dieser Garantie, kann eine eventuelle Garantieleistung nur in den genannten Ländern erfolgen.
                                            br
                                            | Es besteht kein Rechtsanspruch auf eine Garantieleistung im Ausland (ausgenommen sind die Schweiz und Österreich) für Produkte, die von der LG Electronics Deutschland GmbH in den Verkehr gebracht wurden. Die mögliche Erbringung einer Garantieleistung außerhalb Deutschlands obliegt der jeweils zuständigen LG Niederlassung und deren nationaler Garantieregelung.
                        .c-warranty__period 
                            .c-warranty__wrapper
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-w-light-56 font-m-light-28',h2,'Garantiebedingungen')       
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                                span Die Garantie beschränkt nicht die gesetzlichen Sachmängelhaftungsansprüche und stellt bei Durchführung von Garantiearbeiten keine Anerkennung von Sachmängeln dar.
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                span Generelle Garantie-Zeiträume

                                .c-product-list__wrap
                                    ul.c-product-list
                                        each items in itemsAT
                                            li.c-content_box
                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                div.font-m-normal-14.font-w-normal-16 #{items.subtitle}
                                                    if items.listtype
                                                        p #{items.list1text}
                                    .c-cs-header
                                        // block : text-contents
                                        .c-text-contents
                                            .text.c-text-contents__bodycopy.cs-warrantyCounter
                                                p.font-m-normal-12.font-w-normal-14 Die Garantiedauer beträgt für Zubehör wie folgt:
                                                ol.cmp-text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer="")
                                                    li für Zubehör (unabhängig davon, ob das Zubehör in der Verkaufsverpackung enthalten war oder separat verkauft wurde) mit Ausnahme der Verschleißteile und Zubehör, welche unter (2) und (3) fallen:24 Monate (optional vertraglich verlängerbar bis 60 Monate).
                                                    li für die folgenden Verschleißteile und Zubehör: Akkus, Ladegeräte, Tischstationen, Headsets und Kabel: 6 Monate.
                                                    li für Datenträger, auf denen jede beliebige Form von Software geliefert wird, z.B. CD-ROM oder Speichermedien: 3 Monate.
                                                    li für Leuchtmittel (u.a. Beamerlampe): 1000 Betriebsstunden, maximal jedoch 6 Monate ab erstmaligem Inverkehr bringen über den Fachhändler an den Verbraucher.
                        .c-warranty__range 
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        h3.font-w-normal-32.font-m-normal-20 Garantieumfang 
                                    .text.c-text-contents__bodycopy
                                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="") Die Garantie umfasst die kostenlose Beseitigung (Teile und Lohn) der festgestellten Material- oder Verarbeitungsfehler durch ein von LG autorisiertes Servicecenter (ASC). Die Garantie deckt jedoch weder die Kosten für den Transport des Produktes zu LG oder einem unserer ASC noch die mit dem Transport zusammenhängenden Risiken, sofern sie nicht ausdrücklich von LG beauftragt oder veranlasst worden sind. Der Versender hat dabei selbständig darauf zu achten, dass das von ihm versendete LG B2B Produkt transportsicher verpackt wird. Die Beseitigung des Fehlers erfolgt nach Wahl von LG durch Reparatur oder Austausch (Teile und Geräte). Ausgetauschte Teile oder Geräte gehen in das Eigentum von LG über. Austauschgeräte und Ersatzteile können neu oder aufgearbeitet sein. Die Sicherung der in einem LG B2B Produkt gespeicherten oder hinterlegten Daten und Programme wird bei der Durchführung von Garantiearbeiten nicht gewährt. Die spätere Weiterveräußerung sowie die Durchführung von Garantiearbeiten führen weder zu einer Verlängerung noch zu einem Neubeginn der Garantie.
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .text.c-text-contents__bodycopy.cs-warrantyCounter
                                        p.font-m-normal-20.font-w-normal-32 Zur Inanspruchnahme der Garantie müssen Sie
                                        ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            li auftretende Mängel, sobald diese sich zeigen, unverzüglich der deutschen LG servicehotline melden und
                                            li den Bezugsnachweis (unter Angabe von Kaufdatum, Modellbezeichnung und Name des Händlers) und auf Anfrage diese Garantiekarte vorlegen.
                                            
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .text.c-text-contents__bodycopy.cs-warrantyCounter
                                        p.font-m-normal-20.font-w-normal-32 Die Garantie schließt aus
                                        ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            li Kosten für regelmäßige Kontrollen, Wartung und Reparatur sowie Ersatz von Verschleißteilen und Verbrauchsmaterial;
                                            li Defekte, die durch falsche Bedienung, Behandlung oder fehlerhafte Installation entstanden sind
                                            li Schäden, die durch den Transport oder unsachgemäße Verpackung entstehen
                                            li die mittelbaren Folgen eines eventuellen Fehlers (Nutzungsausfall, entgangener Gewinn etc.)
                                            li Schäden, die auf Nichteinhaltung der Herstellerempfehlung zurückzuführen sind
                                            li Pixelfehler innerhalb der Fehlerklasse 2 gemäß ISO-9241-307, sofern in der Produktspezifikation nicht anderweitig vermerkt
                                            li Schäden, hervorgerufen durch: äußere Einwirkungen, wie z.B. Kratzer, Riefen, Flüssigkeiten, Stürze, mechanische Einflüsse, chemische und pflanzliche Produkte, Nikotin- oder Fettablagerungen, sonstige Verschmutzungen, unsachgemäße Montage, Montage und/oder Nutzung von nicht von LG zugelassenem Zubehör etc.
                                            li höhere Gewalt, wie z.B. Blitzschlag, Brand, Überschwemmung, Sturm, Erdbeben, Krieg, Unruhen, etc.
                                            li nicht bestimmungsgemäßen Gebrauch
                                            li Anschluss an eine falsche Netzspannung oder Stromart
                                            li unzureichende oder fehlerhafte Belüftung oder andere Gründe, auf die LG keinen Einfluss hat
                                            li Eingriffe von Personen, die hierzu weder autorisiert noch von LG ermächtigt worden sind
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .text.c-text-contents__bodycopy.cs-warrantyCounter
                                        p.font-m-normal-20.font-w-normal-32 Die Garantie findet keine Anwendung, wenn:
                                        ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            li ein Fehler nicht unverzüglich dem deutschen LG Consumer Information Center(Service Hotline) gemeldet wurde, LG nicht unverzüglich Gelegenheit zur Durchführung von Garantiearbeiten gegeben wurde,
                                            li in das LG B2B Produkt Teile eingebaut worden sind, deren Verwendung LG nicht genehmigt hat oder das LG B2B Produkt in einer von LG nicht genehmigten Art und Weise verändert wurde,
                                            li die Vorschriften über die Behandlung, Wartung und Pflege des LG Produktes sowie die Hinweise und Anweisungen der Bedienungsanleitung nicht befolgt wurden,
                                            li das LG B2B Produkt unsachgemäß behandelt oder überbeansprucht wurde
                                            li die Seriennummer nicht vorhanden ist, bzw. geändert, gelöscht, entfernt oder in anderer Form unkenntlich gemacht wurde.
                                            li Für detaillierte Garantieinformationen und für Fragen rund um unsere Produkte wenden Sie sich bitte an unser Consumer Information Center (Service B2B Hotline) oder besuchen Sie unsere Webseite.
                                    .text.c-text-contents__bodycopy
                                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            span Für detaillierte Garantieinformationen und für Fragen rund um unsere Produkte wenden Sie sich bitte an unser Consumer Information Center (Service B2B Hotline) oder besuchen Sie unsere Webseite.

                                    .text.c-text-contents__bodycopy.cs-warrantylist__dot
                                        p.font-m-normal-12.font-w-normal-20 Folgende Daten werden von der deutschen LG servicehotline benötigt, um einen Garantieanspruch zu prüfen und die weitere Vorgehensweise festzulegen:
                                        ol.cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                            li Kundenname, Anschrift und Telefonnummer,
                                            li Modellbezeichnung,
                                            li Seriennummer,
                                            li Standort des Produktes,
                                            li Art des Fehlers.
                            .cs-warranty__contactInfo
                                .cs-warranty__contact--inner
                                    span.font-m-normal-12.font-w-normal-20 LG Electronics Deutschland GmbH, Alfred-Herrhausen-Allee 3-5, 65760 Eschborn
                                    p.font-m-normal-12.font-w-normal-16
                                        span LG Consumer Information Center (Service Hotline)
                                        br
                                        strong 0800 45 444 45
                                        br
                                        | (Aus Deutschland kostenlos erreichbar)
                                        br
                                        | Stand 22.08.2022