extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0236"
    - var CS0236country = "CS0236-CA_fr"
    - var ST0001 = "ST0001"

    - var componentName = "Warranty_Business"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href=CS0236country+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")

block content
    - 
        const itemsAT = [
            {
                'title':'Affichage des informations',
                'listtype':true,
                'list1text01':'Affichage OLED',
                'list1text02':'Affichage à DEL',
                'list1text03':'Affichage numérique',
                'list1text04':'Téléviseurs commerciaux',
            },
            {
                'title':'CVC',
                'listtype':true,
                'list1text01':'Système à flux de réfrigérant variable (VRF)',
                'list1text02':'Zone unique',
                'list1text03':'Multizone',
                'list1text04':'Solutions de commande',
            },
            {
                'title':'Produits informatiques',
                'listtype':true,
                'list1text01':'Moniteurs',
                'list1text02':'Appareils médicaux',
                'list1text03':'Appareils infonuagiques',
                'list1text04':'Ordinateurs portables',
                'list1text05':'Projecteurs',
            }
        ]
    .guide-text-type Warranty_Business - CA_fr

    // Component Markup
    .c-wrapper.CS0236
        .component.CS0236-CA_fr
            .CS0236__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.font-w-light-56.font-m-light-28 Programme de garantie
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Renseignements sur la garantie de LG pour les entreprises.
                                br
                                | LG Electronics Canada assure l’entretien de ses produits par l’intermédiaire de ses propres techniciens de service et de ses centres de service autorisés. Chaque produit LG fait l’objet d’un ensemble de conditions de garantie. Veuillez vous reporter au manuel d’utilisation ou aux renseignements ci-dessous, ou communiquez avec nous en composant le 1 855 286-2456.

                .cs-notabs
                        .button.c-print-area
                            +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Imprimer", otherClass:"js-print c-print font-w-normal-16 c-hidden-mo"})(href="#" data-css-url="../../main.css,./CS0236.css, ./CS0236-CA_fr.css" role="print")
                        .c-warranty__period 
                            .c-warranty__wrapper
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-w-light-56 font-m-light-28',h2,'Renseignements sur la garantie')       
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                span Politique du service de réparation de produits de lg electronics canada
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy.cs-warranty-list
                                            p.font-m-normal-20.font-w-normal-32 Sous garantie
                                            ol.cmp-text(data-cmp-data-layer="")
                                                li.font-w-normal-20.font-m-normal-16 
                                                    strong Coûts
                                                    span 
                                                        | Les pièces et la main-d’œuvre d’un produit LG couvert par la garantie du fabricant seront prises en charge par LG Electronics Canada, conformément aux conditions énoncées dans le manuel d’utilisation accompagnant le produit au moment de l’achat.
                                                li.font-w-normal-20.font-m-normal-16 
                                                    strong Couverture
                                                    span 
                                                        | Le service de garantie permettant des réparations sur place est offert dans un rayon de 150 km du centre de service autorisé LG le plus près de votre entreprise. Si votre entreprise est située à l’extérieur de ce rayon, il vous incombera d’apporter l’appareil au centre de service autorisé pour qu’il soit réparé.
                                                li.font-w-normal-20.font-m-normal-16 
                                                    strong Durée de la garantie
                                                    span 
                                                        | Chaque produit a une période de garantie standard pour les pièces et la main-d’œuvre, qui s’applique à partir de la date d’achat figurant sur la facture (à l’exception des climatiseurs). Pour toute question relative au soutien, nous vous invitons à appeler la ligne de soutien du commerce électronique interentreprises de LG Electronics Canada (1 855 286-2456) et à parler à un représentant. Le représentant de LG Electronics Canada peut envoyer un technicien autorisé de LG sur votre lieu professionnel pour fournir le soutien requis dans le cadre de la garantie. Vous (le client) devez présenter au technicien une preuve de livraison ou d’installation, car le technicien doit en fournir une copie à LG Electronics Canada. Le technicien a le droit de refuser une réparation si le client ne fournit pas de preuve de livraison ou d’installation. L’appareil doit avoir une « étiquette du modèle et du numéro de série » LG visible, car le technicien prendra également une photo de l’étiquette du numéro de série pour les dossiers de LG Electronics Canada. Malheureusement, LG Electronics Canada ne couvrira pas un produit LG dont l’étiquette du numéro de série est non lisible ou manquante. Lorsqu’un appareil est assemblé, il est de votre responsabilité (le client) de retirer l’appareil de sa position actuelle et de vous assurer qu’il est prêt pour la réparation lors de l’arrivée du technicien. (Le technicien réparera l’appareil, mais ne le réinstallera pas à sa position d’origine.) Les produits remis à neuf ou les produits provenant de magasins de seconde main (revendeurs) ne seront pas couverts par la garantie. Consultez le manuel d’utilisation qui vous a été fourni avec votre produit au moment de l’achat pour connaître toutes les modalités. Pour obtenir un meilleur service de garantie, veuillez vous adresser à votre distributeur ou à l’administrateur des comptes clés de LG pour avoir plus de précisions sur le service haut de gamme de LG.
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy.cs-warranty-list.cs-warranty-list02
                                            p.font-m-normal-20.font-w-normal-32 Hors garantie
                                            p.font-m-normal-16.font-w-normal-20 Une fois que l’appareil LG n’est plus sous garantie, qu’il s’agit d’un produit remis à neuf ou d’occasion, ou qu’il présente des dommages non couverts par la garantie tels que des bosses, des rayures ou des fissures dues à un dommage physique, vous (le client) êtes responsable du coût de toutes les réparations, y compris les pièces, la main-d’œuvre et le kilométrage (si le technicien autorisé de LG l’exige). Pour toute question relative au soutien, ou si vous devez planifier une réparation sous garantie, vous (le client) êtes invité à appeler la ligne de soutien du commerce électronique interentreprises de LG Electronics Canada (1 855 286-2456) et à parler à un représentant. LG Electronics Canada peut envoyer un technicien chez vous (le client) afin de faire réparer votre produit. Vous (le client) serez responsable des frais de réparation. Veuillez noter que le technicien facturera ses propres tarifs pour les réparations, la main-d’œuvre et le kilométrage, et facturera les tarifs standard pour les pièces de LG.
                                            ol.cmp-text(data-cmp-data-layer="")
                                                li.font-w-normal-20.font-m-normal-16  
                                                    strong Garantie de réparation de 90 jours
                                                    span 
                                                        | Les pièces hors garantie remplacées à vos frais (c’est-à-dire aux frais du client) bénéficient d’une garantie de 90 jours. Cette garantie de 90 jours s’applique à une ou plusieurs pièces précises qui étaient défectueuses et qui ont été remplacées lors de l’intervention initiale. LG Electronics Canada couvrira la ou les pièces et leur installation uniquement pendant 90 jours à compter de la date d’installation initiale.
                                                        | LA GARANTIE LIMITÉE NE COUVRE PAS les dommages consécutifs au transport et à la manutention du produit, y compris les égratignures, les bosses, les ébréchures et/ou tout autre dommage au produit fini, sauf si de tels dommages sont causés par des défaillances matérielles ou de main-d’œuvre et qu’ils sont rapportés dans un délai d’une (1) semaine après la livraison.
                                                
                                .c-cs-header
                                    .c-text-contents
                                        .text.c-text-contents__bodycopy
                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                span Solutions commerciales
                                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                span Catégorie par type
                                .c-product-list__wrap
                                    ul.c-product-list
                                        each items in itemsAT
                                            li.c-content_box
                                                p.font-m-normal-20.font-w-normal-32 #{items.title}
                                                div.font-m-normal-14.font-w-normal-16.cs-warrantylist__dot
                                                    if items.listtype
                                                        ol
                                                            li #{items.list1text01}
                                                            li #{items.list1text02}
                                                            li #{items.list1text03}
                                                            li #{items.list1text04}
                                                            if items.list1text05
                                                                li #{items.list1text05}
                        .c-warranty__range 
                            
                            .c-cs-header
                                // block : text-contents
                                .c-text-contents
                                    .text.c-text-contents__bodycopy
                                        p.font-w-light-56.font-m-light-28 Centre d’assistance de LG et soutien technique de LG
                                        p.cmp-text.font-w-normal-20.font-m-normal-12
                                            |  Obtenez des réponses à vos questions. Nous pouvons vous aider. Afin de nous assurer de bien vous aider, veuillez avoir le numéro du modèle et du numéro de série à portée de main.
                        
                            .cs-warranty__contactInfo
                                .cs-warranty__contact--inner
                                    span.font-w-normal-32.font-m-normal-24 Téléphone
                                    p.font-m-normal-12.font-w-normal-20
                                        span Parlez à un représentant du centre d’assistance de LG.
                                        br
                                        span Ligne de soutien du commerce électronique interentreprises :
                                        br
                                        span  1 855 286-2456 (8 h à 20 h [HNE])
                            .cs-warranty__contactInfo
                                .cs-warranty__contact--inner
                                    span.font-w-normal-32.font-m-normal-24 Service en ligne
                                    p.font-m-normal-12.font-w-normal-20
                                        span Pas le temps de clavarder?
                                        a.font-m-normal-12.font-w-normal-20(href="mailto:b2b.warranty@lge.com") Envoyez votre demande au centre d’assistance de LG.         