extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_button.pug

block meta 
    - var componentId = "PD0003-fee-table"
    - var componentName = "Delivery Fee"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    include ./_delivery-fee.pug
    .guide-text-option 北海道
    +deliveryDetail('北海道')
    .guide-text-option 青森県
    +deliveryDetail('青森県')
    .guide-text-option 秋田県
    +deliveryDetail('秋田県')
    .guide-text-option 岩手県
    +deliveryDetail('岩手県')
    .guide-text-option 宮城県
    +deliveryDetail('宮城県')
    .guide-text-option 山形県
    +deliveryDetail('山形県')
    .guide-text-option 福島県
    +deliveryDetail('福島県')
    .guide-text-option 新潟県
    +deliveryDetail('新潟県')
    .guide-text-option 長野県
    +deliveryDetail('長野県')
    .guide-text-option 栃木県
    +deliveryDetail('栃木県')
    .guide-text-option 群馬県
    +deliveryDetail('群馬県')
    .guide-text-option 茨城県
    +deliveryDetail('茨城県')
    .guide-text-option 神奈川県
    +deliveryDetail('神奈川県')
    .guide-text-option 千葉県
    +deliveryDetail('千葉県')
    .guide-text-option 山梨県
    +deliveryDetail('山梨県')
    .guide-text-option 静岡県
    +deliveryDetail('静岡県')
    .guide-text-option 愛知県
    +deliveryDetail('愛知県')
    .guide-text-option 岐阜県
    +deliveryDetail('岐阜県')
    .guide-text-option 三重県
    +deliveryDetail('三重県')
    .guide-text-option 富山県
    +deliveryDetail('富山県')
    .guide-text-option 石川県
    +deliveryDetail('石川県')
    .guide-text-option 福井県
    +deliveryDetail('福井県')
    .guide-text-option 滋賀県
    +deliveryDetail('滋賀県')
    .guide-text-option 京都府
    +deliveryDetail('京都府')
    .guide-text-option 奈良県
    +deliveryDetail('奈良県')
    .guide-text-option 和歌山県
    +deliveryDetail('和歌山県')
    .guide-text-option 兵庫県
    +deliveryDetail('兵庫県')
    .guide-text-option 岡山県
    +deliveryDetail('岡山県')
    .guide-text-option 広島県
    +deliveryDetail('広島県')
    .guide-text-option 鳥取県
    +deliveryDetail('鳥取県')
    .guide-text-option 島根県
    +deliveryDetail('山口県')
    .guide-text-option 山口県
    +deliveryDetail('島根県')
    .guide-text-option 香川県
    +deliveryDetail('香川県')
    .guide-text-option 愛媛県
    +deliveryDetail('愛媛県')
    .guide-text-option 徳島県
    +deliveryDetail('徳島県')
    .guide-text-option 高知県
    +deliveryDetail('高知県')
    .guide-text-option 熊本県
    +deliveryDetail('熊本県')