extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_button.pug

block meta 
    - var componentId = "PD0003-fee-list"
    - var componentName = "Delivery Fee List"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    include ./_delivery-fee.pug
    +deliveryFee