mixin PD0003(option=false)
    script.
        // for print test
        const process = {
            env: {
                NODE_ENV: 'local'
            }
        };
    include ./_summary-information.pug
    include ./_summary-price.pug
    .c-wrapper.PD0003.no-crop.bg-default
        .component
            // block - summary area
            .cmp-container.c-summary-area
                +textButton({name: 'Learn More', wSize: 'small', mSize: 'small', buttonStyle: 'default back', isButton: false})(href="/template/PDP.html" class="c-summary-area__learn-more" data-link-name="learn_more" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer)
                //- +linkButton({type:'text', name:'Learn More', icon:true, href:"/template/PDP.html", class:'c-summary-area__learn-more'})
                // DE 
                if(option == 'pt')
                    //- display product image
                    .c-summary-area__primary 
                        .c-summary-area__primary-sticky
                            +gallery({
                                isPopup: false,
                                galleryFeatures : ["image", "video", "360", "3d", "ar", "vr"],
                                galleryList : [
                                    {color: '000/888'},
                                    {color: '111/999'},
                                    {color: '222/aaa'},
                                    {color: '333/bbb'},
                                    {color: '444/ccc'},
                                    {color: '555/ddd'},
                                    {color: '666/eee'},
                                    {color: '777/fff'},
                                ]
                            })
                            .c-product-summary-pto
                                // block - product list
                                .c-product-list
                                    div.c-product-item(href="#" data-pim-category1="" data-pim-category2="" data-pim-category3="" data-pim-category4="" data-pim-sku="" data-pim-model-name="" data-pim-model-year="" data-pim-flag="" data-pim-modeltype="" data-shop-stock-status="" data-shop-msrp="" data-shop-pbp-coupon="" data-shop-pbp-coupon-dc="" data-shop-price="")
                                        +product_image(`https://via.placeholder.com/350x350/999999/000000`, false)
                                        .c-text-contents
                                            .text.c-text-contents__eyebrow.sku
                                                .cmp-text.font-w-normal-16.font-m-normal-12
                                                    p 
                                                        span OLED65C25LB
                                            .text.c-text-contents__headline
                                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")
                                                    p LG OLED evo C3 55 inch 4K Smart TV 2023
                                            .c-price
                                                .price-area
                                                    .price-box
                                                        .c-price.font-w-normal-32.font-m-normal-16
                                                            .c-price__purchase €9,999.99
                                                        .product-price.font-w-normal-16.font-m-normal-12
                                                            .c-price
                                                                .c-price__previous €9,999.99
                                                            .c-price
                                                                .c-price__discount 
                                                                    span 33% Rabatt
                                    div.c-product-item(href="#" data-pim-category1="" data-pim-category2="" data-pim-category3="" data-pim-category4="" data-pim-sku="" data-pim-model-name="" data-pim-model-year="" data-pim-flag="" data-pim-modeltype="" data-shop-stock-status="" data-shop-msrp="" data-shop-pbp-coupon="" data-shop-pbp-coupon-dc="" data-shop-price="")
                                        +product_image(`https://via.placeholder.com/350x350/999999/000000`, false)
                                        .c-text-contents
                                            .text.c-text-contents__eyebrow.sku
                                                .cmp-text.font-w-normal-16.font-m-normal-12
                                                    p 
                                                        span OLED65C25LB
                                            .text.c-text-contents__headline
                                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")
                                                    p LG OLED evo C3 55 inch 4K Smart TV 2023
                                            .c-price
                                                .price-area
                                                    .price-box
                                                        .c-price.font-w-normal-32.font-m-normal-16
                                                            .c-price__purchase €9,999.99
                                             
                    //- indicate product information 
                    // GA4 
                    .c-summary-area__secondary(data-pim-category1="" data-pim-category2="" data-pim-category3="" data-pim-category4="" data-pim-sku="" data-pim-model-name="" data-pim-model-year="" data-pim-flag="" data-pim-modeltype="" data-shop-stock-status="" data-shop-msrp="" data-shop-pbp-coupon="" data-shop-pbp-coupon-dc="" data-shop-price="")
                        //- product information
                        include ../_common/_sns-list.pug
                        .c-product-basic-information
                            .c-product-item
                                .c-product-item__wrapper.c-product-item__wrapper--headline
                                    .c-product-item__tag
                                        //- .c-product-item__tag--mda
                                        //- 	span LG recommends Windows
                                        .c-product-item__tag--flag
                                            span New
                                            span.flag-highlight Black friday offer
                                        +product-basic-tag-button
                                    - var mdn = "OLED65C26LD"
                                    - var ufn = "E8PUA 4K HDR OLED Glass TV w/ AI ThinQ® 65” Class (69.5” Diag)"
                                    - var fontStyle = {headline : "font-w-normal-32 font-m-normal-20", sku : "font-w-normal-20 font-m-normal-12"}
                                    - var useLink = false
                                    +product_name(mdn, ufn, fontStyle, useLink, false, clipboard = true, ret = false, 'h1')(class="c-product-item__model-display-name")
                                    +product-brands
                                    .c-product-item__category
                                        // RO : categue download button
                                        +iconButton({type:'link',color:"black", class:"download", name:"Categue"})(role="button")
                                        +product_rating(grade="A", modelid='MD07546559', specsheet=false, rating=true, catalog=false, summary=false, labels=false, bottomSheet=true)
                            .c-product-item--price
                                +product-out-of-stock


                        // block - product sub information
                        .c-product-extra-information
                            // block - accordion
                            .c-accordion.js-accordion
                                +product-information-box({title : "Key Features", controlsId : "PD0003Keyfeature"})
                                    // RO ver
                                    +key-feature('toggle')
                                //- +product-information-box({title : "Award", controlsId : "PD0003AwardInformation"})
                                //-     +award-information
                                //-+product-information-box({title : "Compatible Product", controlsId : "PD0003CompatibleProductList"})
                                //-    +compatible-product(6)
                                //-+product-information-box({title : "Compatible Product", controlsId : "PD0003CompatibleProductSearch"})
                                //-    +compatible-product(7)
                                // RO ver
                                +product-information-box({title : "Compatible Product", controlsId : "PD0003CompatibleProductList"})    
                                    +compatible-product(ro)
                        
                        //- product sibling option
                        .c-product-summary-siblings
                            // block - accordion
                            .c-accordion.js-accordion
                                //- screen size
                                +product-sibling-option-box({title : "Screen Size", controlsId : "PD0003SiblingOptions01", columnCount : 4})
                                    .c-sibling-option-box__option-group
                                        //- +product-sibling-case("size")
                                        +product-sibling-option({ optionType: "size", inputName: 'size', optionName: '43"', price: '€9,999.99', priceToggle: false, checked:true})
                                        +product-sibling-option({ optionType: "size", inputName: 'size', optionName: '50"', price: '€9,999.99', priceToggle: false})
                                        +product-sibling-option({ optionType: "size", inputName: 'size', optionName: '55"', price: '€9,999.99', priceToggle: false, disabled: true})
                                        +product-sibling-option({ optionType: "size", inputName: 'size', optionName: '65"', price: '€9,999.99', priceToggle: false})
                                        +product-sibling-option({ optionType: "size", inputName: 'size', optionName: '70"', price: '€9,999.99', priceToggle: false})
                                        +product-sibling-option({ optionType: "size", inputName: 'size', optionName: '75"', price: '€9,999.99', priceToggle: false})
                                        +product-sibling-option({ optionType: "size", inputName: 'size', optionName: '86"', price: '€9,999.99', priceToggle: false})

                            // block - accordion
                            //- .c-accordion.js-accordion
                            //-     //- screen size
                            //-     +product-sibling-option-box({title : "Color=Finish(Door)", controlsId : "PD0003SiblingOptions02", columnCount : 3})
                            //-         .c-sibling-option-box__option-group
                            //-             //- +product-sibling-case("size")
                            //-             +product-sibling-option({ optionType: "color", inputName: 'color', optionName: 'Shiny steel', optionColor: 'HA_Black-Stainless-Steel', price: '', checked:true})
                            //-             +product-sibling-option({ optionType: "color", inputName: 'color', optionName: 'Stainless steel', optionColor: 'HA_Styler_Mirror', price: ''})
                            //-             +product-sibling-option({ optionType: "color", inputName: 'color', optionName: 'Platinum silver', optionColor: 'HE_RP4_Blue_Green', price: ''})

                            // LGCOMMON-4762 start
                            .c-accordion.js-accordion
                                +product-sibling-option-box({title : "Protect with LG Premium Care", controlsId : "PD0003SiblingOptionsB01", columnCount : 1, useTooltip : true})
                                    .c-sibling-option-box__option-group.type-toggle
                                        // warranty
                                        .c-addon-product-box.c-accordion__box.c-addon-product-box--option-choosing
                                            +product-addon-selection-toggle('warranty')
                            .c-accordion.js-accordion
                                +product-sibling-option-box({title : "Buy More, Save More", controlsId : "PD0003SiblingOptionsB02", columnCount : 1, useTooltip : true})
                                    .c-sibling-option-box__option-group.type-toggle
                                        // bundle (step1 sample)
                                        .c-addon-product-box.c-accordion__box.c-addon-product-box--option-choosing
                                            +product-addon-selection-toggle('bundleBtype')
                            .c-accordion.js-accordion
                                +product-sibling-option-box({title : "Perfect pairing for your TV&Soundbars", controlsId : "PD0003SiblingOptionsB03", columnCount : 1, useTooltip : true})
                                    .c-sibling-option-box__option-group.type-toggle
                                        // accessory
                                        .c-addon-product-box.c-accordion__box.c-addon-product-box--option-choosing
                                            +product-addon-selection-toggle('accessoryBtype')
                            // LGCOMMON-4762 end

                            //- // block - Buy more save more
                            //- .c-accordion.js-accordion
                            //-     +product-sibling-option-box({title : "Buy More, Save More", controlsId : "PD0003SiblingOptions06", columnCount : 1, useTooltip : true})
                            //-         // step 1: c-sibling-option-box__option-group
                            //-         // step 2: c-sibling-option-box__option-group c-addon-product-box--option-choosing
                            //-         // step 3: c-sibling-option-box__option-group c-addon-product-box--option-selected
                            //-         .c-sibling-option-box__option-group
                            //-             // bundle (step1 sample)
                            //-             .c-addon-product-box.c-accordion__box
                            //-                 // before selection
                            //-                 +product-addon-before('bundleBtype')
                            //-                 // choosing
                            //-                 +product-addon-selection('bundleBtype')
                            //-                 // selection done
                            //-                 +product-addon-after('bundleBtype')

                            //-             // accessory
                            //-             .c-addon-product-box.c-accordion__box
                            //-                 // before selection
                            //-                 +product-addon-before('accessoryBtype')
                            //-                 // choosing
                            //-                 +product-addon-selection('accessoryBtype')
                            //-                 // selection done
                            //-                 +product-addon-after('accessoryBtype')

                            //-             // warranty
                            //-             .c-addon-product-box.c-accordion__box
                            //-                 // before selection
                            //-                 +product-addon-before('warranty')
                            //-                 // choosing
                            //-                 +product-addon-selection('warranty')
                            //-                 // selection done
                            //-                 +product-addon-after('warranty')
                                            
                            // block - Promotion
                            .c-accordion.js-accordion
                                +product-sibling-option-box({title :"Promotions", controlsId : "PD0003SiblingOptions05", columnCount : 1})    
                                    .c-sibling-option-box__option-group
                                        div.c-sibling-option__detail
                                            .c-sibling-option__primary-detail.promotions
                                                +product-promotion-information
                        
                            //- delivery pincode
                            //- +product-delivery-pincode

                            //- .c-accordion.js-accordion
                            //-     // delivery + installation
                            //-     +product-sibling-option-box({title :"Delivery + Installation", controlsId : "PD0003SiblingOptions03", columnCount : 1, useTooltip : true})
                            //-         .c-sibling-option-box__option-group
                            //-             +product-sibling-option({ optionType : "delivery", inputName: 'delivery', optionName: 'Delivery Only', useTooltip: true })
                            //-                 .c-sibling-option__secondary-detail 
                            //-                     +date-input("deliveryOnly")
                            //-             +product-sibling-option({ optionType : "delivery", inputName: 'delivery', optionName: 'Delivery Only & Installation', useTooltip: true })
                            //-                 .c-sibling-option__secondary-detail 
                            //-                     +date-input("addInstallation")
                            //-             +product-sibling-option({ optionType : "delivery", inputName: 'delivery', optionName: 'Delivery & Installation(Wallmount)'})
                            //-                 .c-sibling-option__secondary-detail 
                            //-                     +date-input("addWallmount")

                                // delivery + pickup
                                //- +product-sibling-option-box({title :"Delivery + pickup", controlsId : "PD0003SiblingOptions05", columnCount : 1, useTooltip : true})
                                //-     .c-sibling-option-box__option-group
                                //-         +product-sibling-option({ optionType : "delivery", inputName: 'delivery', optionName: 'Regular delivery', useTooltip: true, price: '+£20.00'})
                                //-             .c-sibling-option__secondary-detail 
                                //-                 +zip-input("regularDelivery")
                                //-         +product-sibling-option({ optionType : "delivery", inputName: 'delivery', optionName: 'Find a relay point', useTooltip: true, price: '+£25.00'})
                                //-             .c-sibling-option__secondary-detail 
                                //-                 +zip-input("findRelayPoint")

                                // Services charge
                                //- +product-sibling-option-box({title :"Services Charge", controlsId : "PD0003SiblingOptions04", columnCount : 1, useTooltip : true})
                                //-     .c-sibling-option-box__option-group
                                //-         +product-sibling-option({ inputName: 'service', optionName: 'No Need', price : "0", useTooltip: true })
                                //-         +product-sibling-option({ inputName: 'service', optionName: 'Haul-away', useTooltip: true })

                            // RO : B type  block - accordion 
                            .c-accordion.js-accordion
                                // Delivery method
                                +product-sibling-option-box({title :"Delivery method", controlsId : "PD0003SiblingOptions07", columnCount : 1, useTooltip : false})
                                    .c-sibling-option-box__option-group
                                        +product-sibling-option({ inputName: 'delivery method', optionName: 'Delivery', price : "€9,999.99", useTooltip: true })

                            // RO B type : block - accordion 
                            .c-accordion.js-accordion
                                // Additional services
                                +product-sibling-option-box({title :"Additional services", controlsId : "PD0003SiblingOptions08", columnCount : 1, useTooltip : true})
                                    .c-sibling-option-box__option-group
                                        .c-sibling-option-box__option-title Installation
                                        +product-sibling-option({ inputName: 'installation', optionName: 'Installation', price : "€9,999.99", useTooltip: true })
                                        .c-sibling-option-box__option-title Haulaway
                                        +product-sibling-option({ inputName: 'disposalExistingProduct', optionName: 'Haul-away(free)', price : "€9,999.99", useTooltip: true })
                                
                            // RO : B type - Delivery time
                            .c-accordion.js-accordion
                                .c-sibling-option-box
                                    .c-sibling-option.c-product-dilivery-time
                                        //calendar type
                                        .c-product-dilivery-time__wrap
                                            .c-sibling-option-box__head
                                                .c-text-contents
                                                    .text.c-text-contents__headline
                                                        .cmp-text.font-w-normal-24.font-m-normal-16 Delivery time
                                            .c-sibling-option-box__contents
                                                .c-sibling-option__secondary-detail 
                                                    +date-input("Deliverytime")
                                                    .c-product-dilivery-time__disclaimer
                                                        p.c-text.font-w-normal-14.font-m-normal-12 Disclaimer for delivery time
                                        //message type
                                        .c-product-dilivery-time__wrap
                                            .c-sibling-option-box__head
                                                .c-text-contents
                                                    .text.c-text-contents__headline
                                                        .cmp-text.font-w-normal-24.font-m-normal-16 Delivery time
                                            .c-sibling-option-box__contents
                                                .c-sibling-option__secondary-detail 
                                                    .c-product-dilivery-time__text.font-w-normal-20.font-m-normal-14 
                                                        p Estimated to arrived within 3-5 business days
                                                    .c-product-dilivery-time__disclaimer
                                                        p.c-text.font-w-normal-14.font-m-normal-12 Delivery time may vary depending on circumstances.
                                    
                        //- delivery information
                        .c-product-delivery-information
                            .c-product-delivery-information__inner
                                // block : list
                                ul.c-list
                                    +deliverly-item
                                        +deliverly-item-text
                                            p Pre-Order Period : 
                                                span Mar 01,2023 ~ Mar 30,23
                                                span Remain 3 days
                                        +deliverly-item-text
                                            p Available on stock : 
                                                span 6ea
                                                span 3 days Left
                                    +deliverly-item
                                        +deliverly-item-text
                                            p Shipment will start from 
                                                span Mar 01,2023 
                                                | in order
                                    +deliverly-item
                                        +deliverly-item-text
                                            p  Estimated to arrive within 3-5 working days<br>
                                                | Disclaimer : Delivery time may vary depending on circumstances.<br>
                                                | Within mainland Singapore (Excluding remote or restricted zones)
                            .text.c-product-delivery-information__disclaimer.c-product-delivery-information__disclaimer--important
                                .cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")
                                    p Delivery time may vary depending on circumstances.
                        //- klarana Installment
                        //- +product-installment

                        //- //- create your bundle 
                        //- +product-summary-bundle-carousel

                        //- price
                        //-+product-price-sticky
                        .c-product-price-sticky.bottom.ready.sticky.can-sticky
                            // block : product price information
                            .c-product-price-information.close
                                .c-product-price-information__inner
                                    .button.c-product-price-information__btn-toggle
                                        button.cmp-button(aria-controls="productPriceDetailInformation" aria-expanded="false" data-cmp-data-layer="")
                                            span.cmp-button__text.sr-only open/close
                                    .c-product-price-information__labels
                                        //- product_rating(grade, modelid='MD07546559', specsheet=false, rating=true, catalog=false, summary=false, labels=false, bottomSheet=false)
                                        +product_rating("A", 'MD07546559', false, false, false, false, false, true)
                                    // block : price box
                                    //-+total-price
                                    .c-product-total-price
                                        .c-product-total-price__box
                                            .text.c-product-total-price__text
                                                .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                    p Grand total
                                            .text.c-product-total-price__num
                                                div.c-product-total-price__price
                                                    span.cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                                                        strong €9,999.99
                                                .button.c-product-total-price__payment
                                                    a.cmp-button.c-product-total-price__link.c-price__installment(href="#" role="button" data-cmp-data-layer="")
                                                        span.cmp-button__text 699.99/mo for 3 mos at 0% or
                                                    a.cmp-button.c-product-total-price__link.c-price__installment(href="#" role="button" data-cmp-data-layer="")
                                                        span.cmp-button__text Ou 93.33€/mês durante 3 meses sem juros
                                                    //- a.cmp-button.c-product-total-price__link.c-price__installment(href="#" role="button" data-cmp-data-layer="")
                                                    //-     span.cmp-button__text €9,999.99 / mo for 3 mos at 0%
                                                    //- a.js-pop-open.cmp-button.c-product-total-price__link(href="#popPayWithAfterpay" role="button" data-cmp-data-layer="")
                                                    //-     span.cmp-button__text 6 payments of $123 with
                                                    //-     span.image.c-image
                                                    //-         +printLazyImage('../../mocks/PD0003/icon-logo-afterpay-black-144-30.png')
                                    .text.c-price-box.font-w-normal-16.font-m-normal-16(id="productPriceDetailInformation")
                                        //- .c-price-box__item.c-price-box__item--promotion
                                        //- 	.cmp-text(data-cmp-data-layer="")
                                        //- 		p Black Friday Promotion

                                        .c-price-box__item
                                            .c-price-info
                                                .c-price-info__wrapper
                                                    .c-price-info__title 
                                                        strong.c-price-info__title--main Subtotal(Tax included)
                                                    .c-price-info__price
                                                        strong €9,999.99
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        span €9,999.99
                                                    .c-price-info__price
                                                        .c-price-info__price--wrapper
                                                            span.font-black 15% Off
                                                            del €9,999.99
                                                // members only
                                                .c-price-info__wrapper.member-price
                                                    .c-price-info__title
                                                        strong Members only
                                                        +exclamTooltip(option.tooltipMsg, true, option.direction, option.size, 'Link text')
                                                    .c-price-info__price
                                                        .c-price-info__price--wrapper
                                                            .c-price-info__price--result
                                                                span.font-red €9,999.99
                                                // case - add on 
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        span ┗  S40Q (Qty :1)
                                                    .c-price-info__price
                                                        .c-price-info__price--wrapper
                                                            del €9,999.99
                                                            .c-price-info__price--discount 
                                                                span.font-black 33% Off
                                                            span €9,999.99
                                                
                                            .c-price-info
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        strong.c-price-info__title--main Tax
                                                    .c-price-info__price
                                                        strong €9,999.99
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        span VAT (20%)
                                                    .c-price-info__price
                                                        .c-price-info__price--wrapper
                                                            span €9,999.99
                                                //- .c-price-info__wrapper
                                                //-     .c-price-info__title
                                                //-         span WEEE Fee
                                                //-     .c-price-info__price
                                                //-         .c-price-info__price--wrapper
                                                //-             span £50.00
                                            .c-price-info
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        strong.c-price-info__title--main Delivery 
                                                    .c-price-info__price
                                                        strong €9,999.99
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        span OLED65C24LA
                                                    .c-price-info__price
                                                        .c-price-info__price--wrapper
                                                            span €9,999.99
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        span S40Q (Qty :1)
                                                    .c-price-info__price
                                                        .c-price-info__price--wrapper
                                                            span €9,999.99
                                                            
                                            .c-price-info 
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        strong.c-price-info__title--main Service charge
                                                    .c-price-info__price
                                                        strong €9,999.99
                                                .c-price-info__wrapper
                                                    .c-price-info__title
                                                        span Haul-Away
                                                    .c-price-info__price
                                                        .c-price-info__price--wrapper
                                                            span €9,999.99

                                    +quantity
                                    //- +total-price
                                //- .c-product-price-information__retailer.text
                                //- 	span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") 
                                //- 		span See Retailer for Pricing

                            //- // block - cta
                            +product-pay-cta
                            //- +product-card-info
                            .c-product-card-info.text
                                .cmp-text.c-product-card-info__text.font-w-normal-14.font-m-normal-14(data-cmp-data-layer="")
                                    p You can pay with
                                .c-product-card-info__image
                                    span.image.c-image
                                        +printLazyImage('../../mocks/PD0003/icon-visa-44-20.png', 'visa')
                                    span.image.c-image
                                        +printLazyImage('../../mocks/PD0003/icon-master-28-20.png', 'master')
                                    span.image.c-image
                                        +printLazyImage('../../mocks/PD0003/icon-mb-way-33-20.png', 'mb way')
                                    span.image.c-image
                                        +printLazyImage('../../mocks/PD0003/icon-mb-multibanco-17-20.png', 'mb multibanco')
                                    span.image.c-image
                                        +printLazyImage('../../mocks/PD0003/icon-klarna-60-20.png', 'klarna')
                                    span.image.c-image
                                        +printLazyImage('../../mocks/PD0003/icon-bank-transfer-58-18.png', 'bank transfer')


                        //- info etc
                        +product-info-etc

                        //- recommended promotion banner
                        - var bannerType = "overlay-bottom"
                        - var useMoreDialog = true
                        +product-summary-promotion-banner("overlay-bottom", useMoreDialog)
                        //- +product-summary-promotion-banner("overlay-side")
                        //- +product-summary-promotion-banner("")
                