extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_forms.pug
include ../_common/_carousel.pug
include ../_common/_pop-msg.pug
include ../_common/_summary-gallery.pug

block meta 
    - var componentId = "PD0003"
    - var componentName = "Product Summary"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    include ./PD0003-NL-inc.pug
    +PD0003('nl')

block modal
    +printLayerPopup('popFindModel')
    +printLayerPopup('popRecommendedBanner')
    +printLayerPopup('popRecommendedProducts')
    +printLayerPopup('popProductSpecs')
    +printLayerPopup('popPayWithAfterpay')
    +printLayerPopup('popCopyComplete')
    +printLayerPopup('popSummaryGallery')
    +printLayerPopup('popStockAlert')
    +printLayerPopup('popSelectDate')
    +printLayerPopup('popFindRelayPoint')