extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_toast.pug
include ../_common/_pop-msg.pug
include ../../components/CT000E/CT502-inc.pug

block meta 
    - var componentId = "CM000A_3"
    - var componentName = "Member Create Account"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    //link(rel="stylesheet", href="../../components/MB000D/MB000D_1.css")
    link(rel="stylesheet" href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

mixin myMembershipImage({ico})
    .image.c-image
        +printLazyImage(`../../assets/icon/icon-mylg-${ico}-64-64.svg`)
        if block
            block

mixin myMembershipCard(data)
    ul.my-membership__list
        each set in data
            li.my-membership__item
                a(href="https://www.lgechat.com/us/index.html" class="my-membership__link" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="")
                    .c-text-contents
                        .title.c-text-contents__headline
                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") !{set.title}
                        .c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-12 !{set.desc}
                    +myMembershipImage({ico: set.ico})
                        span.sr-only= set.ico

mixin CM000A_3
    .c-wrapper.CM000A_3
        .component.responsive.page-title
            .cmp-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline
                        h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Ihre E-Mail Adresse wurde bestätigt.
                    .text.c-text-contents__bodycopy 
                        p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") Sie sind nun für unseren Newsletter mit informationen zu Aktionen, Gewinnspielen, Neuerscheinungen und weiteren Themen angemeldet.
        .my-component__wrap.responsive.text-contents
            .type-side
                .cmp-container 
                    // block : text-contents
                    .c-text-contents
                        .text.c-text-contents__subcopy
                            .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="") 
                                p E-Mail-Bestätigung abgeschlossen
                        .button.c-cta.center
                            +defaultButton({name: 'Zum MYLG account', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})
     
        
        

block content
    // Component Markup
    +CM000A_3

