extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0010"
    - var componentName = "Column Block" 
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-warmgray', 'remove' : 'bg-white, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-warmgray, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-warmgray'},
                                ]
                            },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                            {
                                'name' : 'contents border',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'border-top', 'remove' : 'border-bottom'},
                                    {'toggle' : false, 'add' : 'border-bottom', 'remove' : 'border-top'},
                                ]
                            },
                        ],
                        '.type-text, .type-disclaimer' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ],                        
                        '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            },
                        ],
                        '.c-text-contents' : [
                            {
                                'name' : 'Eyebrow Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'eyebrow-show', 'remove' : 'eyebrow-hide'},
                                    {'toggle' : false, 'add' : 'eyebrow-hide', 'remove' : 'eyebrow-show'},
                                ]
                            }
                        ],
                    };

    -
        const slideContentsList = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product',
                    'pcImg':'CS0009/temp-support-slide1-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide1-m.png',
                },
                {
                    'title':'Warranty',
                    'pcImg':'CS0009/temp-support-slide3-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide3-m.png',
                },
                {
                    'title':'Buy parts & accessories',
                    'pcImg':'CS0009/temp-support-slide2-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide2-m.png',
                },
                // {
                //     'title':'Ask Our Commnuity',
                //     'pcImg':'CS0009/temp-support-slide4-w',
                //     'moImg':'../../mocks/CS0009/temp-support-slide4-m.png',
                // },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'ThinQ',
                    'subtit' : 'Connect and control from anywhere.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-1-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                },
                {
                    'title':'Right to repair',
                    'subtit' : 'Providing high quality repair services.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-2-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                },
                {
                    'title':'Repair request',
                    'subtit' : 'Request repair service conveniently online.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-3-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                },
                {
                    'title':'Repair request',
                    'subtit' : 'Request repair service conveniently online.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-3-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                }
            ]
        }]
    -
        const slideContentsList2 = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product',
                    'pcImg':'CS0009/temp-support-slide1-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide1-m.png',
                },
                {
                    'title':'Warranty',
                    'pcImg':'CS0009/temp-support-slide3-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide3-m.png',
                },
                {
                    'title':'Buy parts & accessories',
                    'pcImg':'CS0009/temp-support-slide2-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide2-m.png',
                },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'ThinQ',
                    'subtit' : 'Connect and control from anywhere.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-1-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                },
            ]
        }]
    -
        const slideContentsList3 = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product',
                    'pcImg':'CS0009/temp-support-slide1-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide1-m.png',
                },
                {
                    'title':'Warranty',
                    'pcImg':'CS0009/temp-support-slide3-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide3-m.png',
                },
                {
                    'title':'Buy parts & accessories',
                    'pcImg':'CS0009/temp-support-slide2-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide2-m.png',
                },
                // {
                //     'title':'Ask Our Commnuity',
                //     'pcImg':'CS0009/temp-support-slide4-w',
                //     'moImg':'../../mocks/CS0009/temp-support-slide4-m.png',
                // },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'ThinQ ThinQ ThinQ ThinQ ThinQ ThinQ ThinQ hinQ ThinQ ThinQ ThinQ ThinQ ThinQ ThinQhinQ ThinQ ThinQ ThinQ ThinQ ThinQ ThinQ',
                    'subtit' : 'Connect and control from anywhere. Connect and control from anywhere. Connect and control from anywhere. Connect and control from anywhere.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-1-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                },
                {
                    'title':'Right to repair',
                    'subtit' : 'Providing high quality repair services.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-2-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-2-m.png',
                },
            ]
        }]
    -
        const slideContentsList4 = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product',
                    'pcImg':'CS0009/temp-support-slide1-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide1-m.png',
                },
                {
                    'title':'Warranty',
                    'pcImg':'CS0009/temp-support-slide3-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide3-m.png',
                },
                {
                    'title':'Buy parts & accessories',
                    'pcImg':'CS0009/temp-support-slide2-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide2-m.png',
                },
                // {
                //     'title':'Ask Our Commnuity',
                //     'pcImg':'CS0009/temp-support-slide4-w',
                //     'moImg':'../../mocks/CS0009/temp-support-slide4-m.png',
                // },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'ThinQ',
                    'subtit' : 'Connect and control from anywhere.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-1-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                },
                {
                    'title':'Right to repair',
                    'subtit' : 'Providing high quality repair services.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-2-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                },
                {
                    'title':'Repair request',
                    'subtit' : 'Request repair service conveniently online.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-3-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-1-m.png',
                },
            ]
        }]
    -
        const slideContentsList5 = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product',
                    'pcImg':'CS0009/temp-support-slide1-w',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'Warranty',
                    'pcImg':'CS0009/temp-support-slide3-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide3-m.png',
                },
                {
                    'title':'Buy parts & accessories',
                    'pcImg':'CS0009/temp-support-slide2-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide2-m.png',
                },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image1.png',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'Washing machines',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image2.png',
                    'moImg':'../../mocks/CS0010/product-image2.png',
                },
                {
                    'title':'Wahser dryers',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'Styler',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image3.png',
                    'moImg':'../../mocks/CS0010/product-image3.png',
                },
                {
                    'title':'5Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image1.png',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'6Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image2.png',
                    'moImg':'../../mocks/CS0010/product-image2.png',
                },
                {
                    'title':'7AI TV',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'8Washer',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image3.png',
                    'moImg':'../../mocks/CS0010/product-image3.png',
                },
                {
                    'title':'9Dryer',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image1.png',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'10Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image2.png',
                    'moImg':'../../mocks/CS0010/product-image2.png',
                },
                {
                    'title':'11Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'12Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image3.png',
                    'moImg':'../../mocks/CS0010/product-image3.png',
                },
                {
                    'title':'13AI TV',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image1.png',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'14Washer',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image2.png',
                    'moImg':'../../mocks/CS0010/product-image2.png',
                },
                {
                    'title':'15Dryer',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'16Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image3.png',
                    'moImg':'../../mocks/CS0010/product-image3.png',
                },
                {
                    'title':'17Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'18Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
            ]
        },
        { 
            "type":3, 
            "item": [  
                {
                    'title':'Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image1.png',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'Washing machines',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image2.png',
                    'moImg':'../../mocks/CS0010/product-image2.png',
                },
                {
                    'title':'Wahser dryers',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'Styler',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image3.png',
                    'moImg':'../../mocks/CS0010/product-image3.png',
                },
                {
                    'title':'5Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image1.png',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'6Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image2.png',
                    'moImg':'../../mocks/CS0010/product-image2.png',
                },
                {
                    'title':'7AI TV',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'8Washer',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image3.png',
                    'moImg':'../../mocks/CS0010/product-image3.png',
                },
                {
                    'title':'9Dryer',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image1.png',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'10Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image2.png',
                    'moImg':'../../mocks/CS0010/product-image2.png',
                },
                {
                    'title':'11Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'12Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image3.png',
                    'moImg':'../../mocks/CS0010/product-image3.png',
                },
                {
                    'title':'13AI TV',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image1.png',
                    'moImg':'../../mocks/CS0010/product-image1.png',
                },
                {
                    'title':'14Washer',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image2.png',
                    'moImg':'../../mocks/CS0010/product-image2.png',
                },
                {
                    'title':'15Dryer',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'16Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image3.png',
                    'moImg':'../../mocks/CS0010/product-image3.png',
                },
                {
                    'title':'17Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
                {
                    'title':'18Refrigerator',
                    'subtit': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
                    'pcImg':'../../mocks/CS0010/product-image4.png',
                    'moImg':'../../mocks/CS0010/product-image4.png',
                },
            ]
        }]

    // When there are multiple gallery components
    mixin galleryItem2(slideContents)
        case slideContents.type
            when 1
                each items in slideContents.item
                    .cmp-carousel__item.swiper-slide(tabindex="0")
                        .c-gallery-picture
                            .c-gallery-inner
                                +printLazyPicture(`${items.moImg}`, `../../mocks/${items.pcImg}.png`)
                        .c-gallery-text
                            .text.c-text-contents
                                .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
                                    // 20230330 eyebrow option added
                                    span.c-text-contents__eyebrow.font-w-normal-16.font-m-normal-12 Eyebrow Eyebrow Eyebrow Eyebrow Eyebrow Eyebrow Eyebrow
                                    // 20230307 tag change(h4 to h3) for SEO 
                                    h3.c-gallery-title.font-m-light-16.font-w-light-32 #{items.title}
                                    // 20230307 button type change
                                    .button.c-cta
                                        +defaultButton({name: 'Learn more', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})


            when 2  
                each items in slideContents.item
                    .cmp-carousel__item.swiper-slide(tabindex="0")
                        .c-gallery-wrapper 
                            .c-gallery-contents
                                .c-gallery-contents__container
                                    .c-gallery-contents__box
                                        .c-gallery-picture
                                            .c-gallery-inner
                                                +printLazyPicture(`${items.moImg}`, `${items.pcImg}`) 
                                        .text.c-text-contents
                                            // 20230330 eyebrow option added
                                            span.c-text-contents__eyebrow.font-w-normal-16.font-m-normal-12 Eyebrow Eyebrow Eyebrow Eyebrow Eyebrow Eyebrow Eyebrow Eyebrow 
                                            // Add align option class on full page (.align-text-left)
                                            .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
                                                h3.c-gallery-title.font-m-light-16.font-w-light-32 #{items.title}
                                            .cmp-txt.c-text-contents__bodycopy 
                                                p.font-m-normal-12.font-w-normal-20 #{items.subtit}
                                    // 20230307 button markup added            
                                    .c-gallery-contents__box
                                        .button.c-cta
                                            +defaultButton({name: 'Learn more', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})



            default
                .image.c-image
                    .cmp-image(data-cmp-data-layer='')
                        img.c-image__img(src='https://via.placeholder.com/960x630/000/eee/?text=960x631' alt='' loading="lazy")

                    .text.c-text-contents
                        .cmp-text.c-text-contents__bodycopy(data-cmp-data-layer="") 
                            h3.c-gallery-title.font-m-light-24.font-w-light-36 Slide Title2222
                            p.font-m-normal-12.font-w-normal-20 22222Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            .button.c-cta
                                +linkButton({color:"black", name: "Learn more"})

        if block
            block


    // When there are multiple gallery components
    mixin galleryItem3(slideContents)
        case slideContents.type
            when 1
                each items in slideContents.item
                    .cmp-carousel__item.swiper-slide(tabindex="0")
                        .c-gallery-picture
                            .c-gallery-inner
                                +printLazyPicture(`${items.moImg}`, `../../mocks/${items.pcImg}.png`)
                        .c-gallery-text
                            .text.c-text-contents
                                .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
                                    // 20230307 tag change(h4 to h3) for SEO 
                                    h3.c-gallery-title.font-m-light-24.font-w-light-36 #{items.title}

            
            // Type2 without a link tag
            when 2  
                each items in slideContents.item
                    .cmp-carousel__item.swiper-slide(tabindex="0")
                        .c-gallery-wrapper 
                            .c-gallery-contents
                                .c-gallery-contents__container
                                    .c-gallery-contents__box
                                        .text.c-text-contents
                                            // Add align option class on full page (.align-text-left)
                                            .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
                                                h3.c-gallery-title.font-m-normal-16.font-w-normal-32 #{items.title}
                                            .cmp-txt.c-text-contents__bodycopy 
                                                p.font-m-normal-12.font-w-normal-16 #{items.subtit}
                                        .c-gallery-picture
                                            .c-gallery-inner
                                                +printLazyPicture(`${items.moImg}`, `${items.pcImg}`) 


            // Type2 with a link tag
            when 3  
                each items in slideContents.item
                    .cmp-carousel__item.swiper-slide(tabindex="0")
                        .c-gallery-wrapper 
                            .c-gallery-contents
                                .c-gallery-contents__container
                                    a.c-gallery-contents__box(href="#")
                                        .text.c-text-contents
                                            // Add align option class on full page (.align-text-left)
                                            .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
                                                h3.c-gallery-title.font-m-normal-16.font-w-normal-32 #{items.title}
                                            .cmp-txt.c-text-contents__bodycopy 
                                                p.font-m-normal-12.font-w-normal-16 #{items.subtit}
                                        .c-gallery-picture
                                            .c-gallery-inner
                                                +printLazyPicture(`${items.moImg}`, `${items.pcImg}`) 
    
    mixin carouselPaginationUI 
        // 23.02.14 modified markup - added ".c-carousel__handler--dial", ".c-carousel__handler--away-from-carousel"
        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"prev"})
            +carouselPagination
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"next"})
    
    .guide-text-type Column Block

    // Component Markup
    // 20230307 1 list case delete
    //- .guide-text-option When there is 1 list
    //- // when 1 added class list1 - Add class when there is more than one type-img__slide (controlled by script when there is one)
    //- // .c-carousel__handler - .c-carousel__handler annotation processing (controlled by script when type-img__slide is one)
    //- .c-wrapper.CS0010.type-text.margin-top.margin-bottom.c-list1
    //-     .component.type-img__slide.type-home
    //-         .CS0010__container
    //-             .c-cs-header
    //-                 // block : text-contents
    //-                 .c-text-contents
    //-                     .title.c-text-contents__headline
    //-                         +headline('font-w-light-56 font-m-light-28',h2,'Additional Support')
    //-                     .text.c-text-contents__bodycopy
    //-                         .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
    //-                             span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                
    //-             .c-gallery.c-gallery-container
    //-                 .carousel.panelcontainer
    //-                     .cmp-carousel.swiper.c-carousel.c-carousel--gallery.second-swiper(data-cmp-data-layer="")
    //-                         .cmp-carousel__content.swiper-wrapper
    //-                             +galleryItem2(slideContentsList2[1])
    //-                         +carouselPaginationUI

    .guide-text-option When there is 2 list
    .c-wrapper.CS0010.type-text.margin-top.margin-bottom.c-list2
        .component.type-img__slide.type-home
            .CS0010__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Your product')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span You can enjoy more games by downloading them to an external device(USB memory, HDD). Use the links below to download.

                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery.second-swiper(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem2(slideContentsList3[1])
                            // 2023.03.07 markup change
                            +carouselPaginationUI

    .guide-text-option When there is 3 list
    .c-wrapper.CS0010.type-text.margin-top.margin-bottom
        .component.type-img__slide.type-home
            .CS0010__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Additional support')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span You can enjoy more games by downloading them to an external device(USB memory, HDD). Use the links below to download.

                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery.second-swiper(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem2(slideContentsList4[1])
                            // 2023.03.07 markup change
                            +carouselPaginationUI

    .guide-text-option When there are more than 4 lists
    .c-wrapper.CS0010.type-text.margin-top.margin-bottom
        .component.type-img__slide.type-home
            .CS0010__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Additional support')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span You can enjoy more games by downloading them to an external device(USB memory, HDD). Use the links below to download.

                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery.second-swiper(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem2(slideContentsList[1])
                            // 2023.03.07 markup change
                            +carouselPaginationUI

    .guide-text-option Type 2 | When there are more than 4 lists
    .c-wrapper.CS0010.type-text.margin-top.margin-bottom
        .component.type-img__slide2.type-home-col4
            .CS0010__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'LG ThinQ products for you')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span LG ThinQ-compatible appliances are designed to fit your exact needs and enhance your day-to-day living. Browse below for LG ThinQ products that’ll upgrade your life.

                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery.second-swiper(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem3(slideContentsList5[1])
                            // 2023.03.07 markup change
                            +carouselPaginationUI


    .guide-text-option Type 2 | When there are more than 4 lists (with link tag)
    .c-wrapper.CS0010.type-text.margin-top.margin-bottom
        .component.type-img__slide2.type-home-col4
            .CS0010__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'LG ThinQ products for you')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span LG ThinQ-compatible appliances are designed to fit your exact needs and enhance your day-to-day living. Browse below for LG ThinQ products that’ll upgrade your life.

                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery.second-swiper(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem3(slideContentsList5[2])
                            // 2023.03.07 markup change
                            +carouselPaginationUI
        //- .component.type-img__slide2.type-home-col4-2.mobile-only
        //-     .CS0010__container
        //-         .c-cs-header
        //-             // block : text-contents
        //-             .c-text-contents
        //-                 .title.c-text-contents__headline
        //-                     +headline('font-w-light-56 font-m-light-28',h2,'Discover the LG ThinQ product range')
        //-                 .text.c-text-contents__bodycopy
        //-                     .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")

        //-         .c-gallery.c-gallery-container
        //-             .carousel.panelcontainer
        //-                 .cmp-carousel.swiper.c-carousel.c-carousel--gallery.second-swiper(data-cmp-data-layer="")
        //-                     .cmp-carousel__content.swiper-wrapper
        //-                         .cmp-carousel__item.swiper-slide(tabindex="0")
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image1.png`, `../../mocks/CS0010/product-image1.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 Washer
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image2.png`, `../../mocks/CS0010/product-image2.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 Dryer
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image3.png`, `../../mocks/CS0010/product-image3.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 Refrigerator
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image4.png`, `../../mocks/CS0010/product-image4.png`) 
        //-                         .cmp-carousel__item.swiper-slide(tabindex="0")
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image1.png`, `../../mocks/CS0010/product-image1.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image2.png`, `../../mocks/CS0010/product-image2.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image3.png`, `../../mocks/CS0010/product-image3.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image4.png`, `../../mocks/CS0010/product-image4.png`) 
        //-                         .cmp-carousel__item.swiper-slide(tabindex="0")
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image1.png`, `../../mocks/CS0010/product-image1.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image2.png`, `../../mocks/CS0010/product-image2.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image3.png`, `../../mocks/CS0010/product-image3.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image4.png`, `../../mocks/CS0010/product-image4.png`) 
        //-                         .cmp-carousel__item.swiper-slide(tabindex="0")
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image1.png`, `../../mocks/CS0010/product-image1.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image2.png`, `../../mocks/CS0010/product-image2.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image3.png`, `../../mocks/CS0010/product-image3.png`) 
        //-                             .c-gallery-wrapper 
        //-                                 .c-gallery-contents
        //-                                     .c-gallery-contents__container
        //-                                         .c-gallery-contents__box
        //-                                             .text.c-text-contents
        //-                                                 .cmp-text.c-text-contents__subcopy(data-cmp-data-layer="") 
        //-                                                     h3.c-gallery-title.font-m-light-24.font-w-light-36 AI TV
        //-                                             .c-gallery-picture
        //-                                                 .c-gallery-inner
        //-                                                     +printLazyPicture(`../../mocks/CS0010/product-image4.png`, `../../mocks/CS0010/product-image4.png`) 
        //-                     // 2023.03.07 markup change
        //-                     +carouselPaginationUI
