extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "GN0006"
    - var componentName = "Search Results"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-gn.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    .c-wrapper.margin-top(class=componentId)
        mixin resultList (param) 
            each data in param 
                li.c-list__item
                    .c-list-inner
                        .c-list-item__img
                            +printLazyImage(
                                `https://via.placeholder.com/464x290`
                            )
                        .c-list-item__contents.c-text-contents
                            .c-category
                                if data.category
                                    +textButton({name: data.category, wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: false})

                            .title.c-text-contents-title
                                strong.cmp-title.c-list-item__contents__title.font-w-light-36.font-m-light-24(data-cmp-data-layer="")= data.titleName

                            if data.titlePreview
                                .text.c-text-contents-bodycopy
                                    p.cmp-text.c-list-item__contents__preview.font-w-normal-16.font-m-normal-14= data.titlePreview

                    .c-result-contents__btn
                        +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                        +textButton({name : 'Learn More', wSize : 'medium', mSize : 'small', buttonStyle : "default", isButton : false})(role="button")

        .component
            .cmp-container
                .gn-search-result
                    //- block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline.al-headline
                            h1.cmp-title.font-w-semibold-56.font-m-semibold-28(data-cmp-data-layer="") Search results for 
                                span.c-tag.font-w-semibold-56.font-m-semibold-28 #Pioneer LG
                    .c-sort-filter
                        .c-finder
                            //- block : search
                            .c-search-box
                                .c-search-box__body.cmp-form
                                    //- element : c-search-box__form
                                    .c-search-box__form
                                        .c-search-box__form-item
                                            label.font-w-normal-24.font-m-normal-16(for="gn06category") Category
                                            +formSelect("", "gn06category", "All Topics", true)
                                                option(value="") All
                                                option(value="Up & Coming") Up &amp; Coming
                                                option(value="Helpful Hints") Helpful Hints
                                                option(value="LG Lab") LG Lab
                                                option(value="Inspiration") Inspiration
                                                option(value="Our Stories") Our Stories
                                        .c-search-box__form-item
                                            label.font-w-normal-24.font-m-normal-16(for="gn06sortBy") Sort by
                                            +formSelect("", "gn06sortBy", "Sort by", true)
                                                option(value="2022") Recent
                                                option(value="2021") Past
                                    .button.c-search-box__button
                                        +defaultButton({name: 'Search', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
                    .c-result-area
                        .c-result-area__controls
                            .c-result-area__result
                                span.sr-only Filter:
                                strong.c-result-area__count 1,360 
                                span Total results
                    .c-result-contents
                        - let lengthMobile = 3;
                        - let lengthDesktop = 6;
                        ul.c-list(role="list", data-length-mobile=lengthMobile, data-length-desktop=lengthDesktop)
                            +resultList([
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’",
                                    titlePreview: "Directed by Award-Winning Director",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                                {
                                    isURL: "#",
                                    isALT: "image alt text",
                                    category: "Home appliance and air solution",
                                    titleName: "LG Amplifies ‘Life’s Good’ Message With Inspiring LG Amplifies ‘Life’s Good’ Message With Inspiring",
                                    titlePreview: "Directed by Award-Winning Director, Motivational Brand Film Encourages Viewers to Embrace Path of Optimism",
                                },
                            ])
                        .cmp-button.align-text-center.more-btn
                            +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
                    // error
                    .c-error-area
                        .c-error.c-error--404
                            .c-error__img
                            .c-text-contents.align-text-left
                                .title.c-text-contents__headline
                                    h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                                        | We're sorry, your search did not return any results on Newsroom.
                                .text.c-text-contents__bodycopy 
                                    p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                        | Check out other LG Newsroom articles.

                                .button.c-cta
                                    +defaultButton({
                                        name: 'Go to LG Newsroom', 
                                        wSize: 'medium', 
                                        mSize: 'small', 
                                        buttonStyle: 'highlight', 
                                        isButton: true
                                    })


