extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_resource.pug


block meta 
    - var componentId = "AL0008"
    - var componentName = "RU Newsletter subscription"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

//- block scripts
//-     script(src=componentId+".js" type="module")

block content
    .c-wrapper.margin-top.margin-bottom(class=componentId)
            .component
                .button.c-cta
                    +linkButton({href:"#AL0008", type:"box", color:"red", class:"js-pop-open", name:"find model", roleButton:"true"})

mixin pop-msg-header(params)
    - var option = {headerBorder : true, ...params}
    - var dialogHeadline = option.headline || "Dialog Headline"
    - var dialogDescription = option.headerDescription || "Dialog Description"
    - var headerBorder = option.headerBorder ? '' : 'c-pop-msg__header--no-border'
    - var headerMargin = option.headerMargin ? `c-pop-msg__header--margin-${option.headerMargin}` : ''

    .c-pop-msg__header(class=`${headerBorder} ${headerMargin}`)&attributes(attributes)
        // block - text contents
        .c-text-contents
            .title.c-text-contents__headline(id=`${dialogLabelId}`)
                // 22.11.11 - moved font classname here 
                h2.cmp-title.font-w-semibold-28.font-m-semibold-24(data-cmp-data-layer="")= dialogHeadline

mixin pop-msg-layout(params)
    - var option={id:`popMsg${new Date().getTime()}`, ...params}
    - var dialogId = option.id
    - var dialogLabelId = `${option.id}`
    - var dialogSize = option.size || "medium"
    - var useHeadline = option.headline != null && 0 < option.headline.length

    // block - pop-msg ( dialog )
    .c-pop-msg(class=`${dialogSize}` id=`${dialogId}` role="dialog" aria-modal="true" aria-labelledby=`${dialogLabelId}`)
        .c-pop-msg__container
            if useHeadline
                //- header
                +pop-msg-header(params)
            //- contents
            if block
                block
            //- close button
            .button.c-pop-msg__close.c-pop-msg__close--on-top
                button.cmp-button.c-pop-msg__close-button.js-pop-close(type="button", aria-controls=`${dialogId}` data-cmp-data-layer="")
                    span.cmp-button__text.sr-only close
        .c-pop-msg__dimmed

mixin pop-msg-standard(params)
    +pop-msg-layout(params)
        block  

block modal
    //- Find Model
    +pop-msg-standard({id : `AL0008`, size: "full", headline:"Подробнее"})
        .c-pop-msg__contents--careerPopup.c-pop-msg__contents--box.c-text-contents
            .c-pop-msg-contents-wrap.text.c-text-contents__bodycopy 
                .c-RU-newsletter.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Я согласен на обработку своих персональных данных ООО \"ЛГ Электроникс РУС\" (адрес: 143160, Московская область, Рузский район, Сельское поселение Дороховское, 86 км Минского шоссе, д.9) и ООО \"Лаборатория Инноваций\" (адрес: 115419, г. Москва, 2-й Рощинский проезд, дом 8, строение 5, этаж 2, помещение 13, комната 36) с целью получения информации по маркетинговым акциям, в том числе информацию о новинках, рекламе и скидках. Я согласен с
                a(href="https://www.lg.com/ru/personaldata" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") ПОЛИТИКОЙ В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
        .button.c-pop-msg__button-wrap
            //- +button({type:"box-outlined", color:"black", size:"medium", name: "Close"})(class="c-pop-msg__close-btn js-pop-close" aria-controls="AL0008")
            +defaultButton({name: 'Подписаться', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})