- let fontStyle_1 = "font-family:Arial;font-size:16px;font-style:normal;font-weight:400;line-height:20px;"
- let fontStyle_1B = "font-family:Arial;font-size:16px;font-style:normal;font-weight:700;line-height:20px;"
- let fontStyle_3B = "font-family:Arial;font-size:16px;font-style:normal;font-weight:700;line-height:18px;"
- let fontStyle_2 = "font-family:Arial;font-size:14px;font-style:normal;font-weight:400;line-height:18px;"
- let fontStyle_4 = "font-family:Arial;font-size:18px;font-style:normal;font-weight:400;line-height:22px;"
- let fontStyle_5B = "font-family:Arial;font-size:20px;font-style:normal;font-weight:700;line-height:24px;"
- let fontStyle_6B = "font-family:Arial;font-size:24px;font-style:normal;font-weight:700;line-height:28px;"

- let anchor1 = "display:inline-block;color:#ea1917;font-family:Arial;font-size:16px;font-style:normal;font-weight:400;line-height:20px;text-decoration-line:underline;"

- let containerType1 = "width:100%;padding:4px 24px 24px;border:1px solid #CBC8C2;border-radius:10px;"

- let buttonCommon1 = "display:inline-block;min-width:130px;box-sizing:border-box;border-radius:30px;text-decoration:none;font-family:Arial;font-size:16px;font-style:normal;font-weight:400;line-height:16px;text-align:center;"
- let buttonType1 = `${buttonCommon1}padding:14px 20px;background:#ea1917;color:#ffffff;`
- let buttonType2 = `${buttonCommon1}padding:13px 20px;background:#ffffff;color:#000000;border:1px solid #000000;`

- let thType1 = "padding:14px;border-bottom:1px solid #CBC8C2;background-color:#f6f6f6;vertical-align:middle;color:#333333;font-family:Arial;font-size:14px;font-style:normal;font-weight:700;line-height:22px;text-align:center;"
- let thType2 = "padding:10px 8px;border-bottom:1px solid #CBC8C2;background-color:#f6f6f6;vertical-align:middle;color:#333333;font-family:Arial;font-size:14px;font-style:normal;font-weight:700;line-height:22px;text-align:center;"

- let tdCommon1 = "border-bottom:1px solid #CBC8C2;padding:14px;vertical-align:middle;color:#333333;font-family:Arial;font-size:14px;font-style:normal;" 
- let tdType1 = `${tdCommon1}font-weight:700;line-height:20px;text-align:center;`
- let tdType2 = `${tdCommon1}font-weight:400;line-height:20px;`
- let tdType3 = `${tdCommon1}font-weight:normal;line-height:20px;text-align:center;`

- let brType1 = "display:block;font-size:0;border-top:1px solid #CBC8C2;"
- let pipeType1 = "display:inline-block;font-family:Arial;font-size:14px;padding:0 14px;color:#cbc8c2;vertical-align:2px;"
