//- Local Variables
- let headerMenu = 'display:inline-block;margin:0;padding:0;text-decoration:none;color:#333333;font-family:Arial;font-size:14px;font-weight:600;'
- let formTitle = 'margin:0;color:#000;font-family:Arial;font-size:32px;font-style:normal;font-weight:700;line-height:38px;'

//- Mixins
mixin email-header(params)
    - let data = {...params}
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                            tr
                                td(align='left')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' border='0' style='display:inline-block;')
                                        img(src='../../assets/image/email/logo_LG.png' alt="LG Life's Good" width='74' height='32' border='0')
                                td(align='right')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) My Account
                                    span(style=`${pipeType1}`) |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) FAQs
                                    span(style=`${pipeType1}`) |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) Shop
                tr
                    td
                        strong(style=`${formTitle}`) #{data.title}

mixin email-header-rtl(params)
    - let data = {...params}
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                            tr
                                td(align='right')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' border='0' style='display:inline-block;')
                                        img(src='../../assets/image/email/logo_LG.png' alt="LG Life's Good" width='74' height='32' border='0')
                                td(align='left')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) My Account
                                    span(style=`${pipeType1}`) |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) FAQs
                                    span(style=`${pipeType1}`) |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) Shop
                tr
                    td
                        strong(style=`${formTitle}`) #{data.title}

mixin email-header-notitle(params)
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                            tr
                                td(align='left')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' border='0' style='display:inline-block;')
                                        img(src='../../assets/image/email/logo_LG.png' alt="LG Life's Good" width='74' height='32' border='0')
                                td(align='right')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) My Account
                                    span(style=`${pipeType1}`) |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) FAQs
                                    span(style=`${pipeType1}`) |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) Shop

mixin email-header-notitle-rtl(params)
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                            tr
                                td(align='right')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' border='0' style='display:inline-block;')
                                        img(src='../../assets/image/email/logo_LG.png' alt="LG Life's Good" width='74' height='32' border='0')
                                td(align='left')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) My Account
                                    span(style=`${pipeType1}`) |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) FAQs
                                    span(style=`${pipeType1}`) |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' style=`${headerMenu}`) Shop

mixin email-header-notMenu(params)
    - let data = {...params}
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                            tr
                                td(align='left')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' border='0' style='display:inline-block;')
                                        img(src='../../assets/image/email/logo_LG.png' alt="LG Life's Good" width='74' height='32' border='0')
                tr
                    td
                        strong(style=`${formTitle}`) #{data.title}

mixin email-header-notMenu-rtl(params)
    - let data = {...params}
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-bottom:30px;')
                            tr
                                td(align='right')
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='Open in a new tab' border='0' style='display:inline-block;')
                                        img(src='../../assets/image/email/logo_LG.png' alt="LG Life's Good" width='74' height='32' border='0')
                tr
                    td
                        strong(style=`${formTitle}`) #{data.title}
