extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_title-area.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "AL0016"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };

    mixin AL0016List (param)
        - var size_pc = "990x550";
        - var size_mo = "328x410";
        each data in param 
            div.cmp-carousel__item.swiper-slide.c-list__item
                .c-list__item__inner
                    .c-list-item__img
                        +printLazyPicture(
                            `https://via.placeholder.com/${size_mo}`, 
                            `https://via.placeholder.com/${size_pc}`
                        )
                    .c-text-contents.c-list-item__contents.align-text-center
                        .title.c-text-contents__title
                            strong.cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="")= data.titleName
                        .text.c-text-contents__bodycopy
                            p.cmp-text.font-w-normal-24.font-m-normal-14(data-cmp-data-layer="")= data.bodyCopy
                        +defaultButton({name:'Learn More',wSize: 'medium', mSize: 'medium',buttonStyle: 'default',isButton:false})(href="/template/PDP.html")
                        //- +linkButton({type:"box", color:"white", size:"small", name: "LEARN MORE", icon: true})
                        //- +circleButton({name: 'LEARN MORE', wSize: 'large', mSize: 'large', buttonStyle: 'black arrow', isButton: false})(data-link-destination="" data-link-name="learn_more" data-link-menu="" data-link-page-type="")

    .c-wrapper(class=componentId)
        .component
            .cmp-container.align-text-center
                +component-title-area({
                    headline : {
                        text : "Business area",
                    }
                })(class="")
                .carousel.panelcontainer
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.swiper-wrapper.c-list
                            +AL0016List([
                                {
                                    titleName: "Home Entertainment",
                                    bodyCopy: "LG is a global leader in the home appliance industry, dedicated to creating total home solutions through advanced products that fit consumers' everyday lives.",
                                },
                                {
                                    titleName: "Mobile communications",
                                    bodyCopy: "LG is pursuing convergence technology and the development of mobile computing products, as well as taking leadership in the mobile communication environment.",
                                },
                                {
                                    titleName: "Business solutions",
                                    bodyCopy: "LG's Business Solutions Company provides the best value-added solutions in LCD monitors, commercial displays, car infotainment and security. LG is committed to supplying smart solutions for businesses with products that best serve the end customer.",
                                },
                                {
                                    titleName: "Business solutions",
                                    bodyCopy: "LG's Business Solutions Company provides the best value-added solutions in LCD monitors, commercial displays, car infotainment and security. LG is committed to supplying smart solutions for businesses with products that best serve the end customer.",
                                },
                                {
                                    titleName: "Business solutions",
                                    bodyCopy: "LG's Business Solutions Company provides the best value-added solutions in LCD monitors, commercial displays, car infotainment and security. LG is committed to supplying smart solutions for businesses with products that best serve the end customer.",
                                },
                            ])
                        .cmp-carousel__pagenation
                            +paginationFraction

    