extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_brand-detail.pug
include ../_common/_product-list.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "PD0034"
    - var componentName = "Where to buy (RU)"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    <meta name="ps-account" content="1698">
    <meta name="ps-config" content="59d4fb4e369c750034b61c08">
    <meta name="ps-country" content="CA">
    <meta name="ps-language" content="en">


block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        'body' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'dark-theme'},
                                ]
                            }
                        ],
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                    };

    mixin onlineListItem(link, name, cta)
        - var nameStyle = "font-w-normal-24 font-m-normal-16"
        
        // GA4
        a.c-online-shop-item(href=`${link}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
            .image.c-image.c-online-shop-item__top
                +printLazyImage('https://via.placeholder.com/180x60/999999/333333').c-online-image-web
                +printLazyImage('https://via.placeholder.com/80x28/999999/333333').c-online-image-mobile
            if(name || cta)
                .c-online-shop-item__bottom
                    if(name)
                        p.c-online-shop-name(class=nameStyle) amazon
                    if(cta)
                        +defaultButton({
                            name : "Buy Now",
                            wSize : "small",
                            mSize : "small",
                            buttonStyle : "default",
                            isButton : "none"
                        })(class="c-online-shop-button")

    mixin printTab(div, num, selected)
        if selected
            li.c-tabs__tab.cmp-tabs__tab.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", data-cmp-hook-tabs="tab", aria-selected="true")
                if block
                    block
        else 
            li.c-tabs__tab.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", data-cmp-hook-tabs="tab", aria-selected="false")
                if block
                    block

    mixin printTabPanel(div, num, selected)
        if selected 
            .c-tabs__tabpanel.cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block
        else 
            .c-tabs__tabpanel.cmp-tabs__tabpanel(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block

    mixin mapSearchBox
        //- block : c-map-search__box
        form.cmp-form.c-map-search__box(action="#" method="get")&attributes(attributes)
            .c-map-search__box-inner
                label.sr-only(for='finderSearch') search
                input.c-map-search__box-input(type='text' id='finderSearch' placeholder='Enter your city or address')
                .c-map-search__box-button
                    button(type="submit").c-icon-search
                        span.sr-only search
                    p.c-map-search__box-divider
                    button(type="button").c-icon-place
                        span.sr-only location
            if block
                block

    mixin mapSearchResultBrand(params)
        +brandMapSearchGlobal({
            isPin: params.isPin,
            isExport: params.isExport,
            isToggle: params.isToggle,
            pin: 'blank',
            code: false,
            brandName: 'Связной',
            brandAddr: {address: 'Красный проспект, д. 2/1', hasExport: false},
            contact: [
                {type: 'phone', number: ['8-800-250-25-25']},
            ],
            buttons: [
                {name: 'View Online'},
            ],
            toggleProduct: false,
        })

    mixin mapTooltipBrand
        +brandDetailItem({
            brandLogo: {src: 'https://via.placeholder.com/80x28/999999/333333'},
            brandDistance: '2.2 KM',
            brandName: 'Связной',
            brandAddr: {address: 'Красный проспект, д. 2/1', hasExport: false, fontStyle: 'font-w-normal-14 font-m-normal-14'},
            contact: [
                {type: 'phone', number: ['8-800-250-25-25']},
            ],
        })

    mixin mapDirectionDefault(type, direction, pin, text)
        //- - var bg = type ? 'c-box-gray' : ''
        - var itmType = type ? direction : 'item'
        - var color = direction == 'departure' ? 'is-black' : ''
        - var indent = pin == 'car' ? 'c-pin-text__indent' : ''
        
        .c-pin-text(class=`c-map-direction__result-${itmType}`)
            .c-pin-text__pin
                if type
                    .c-pin-text__pin
                        .c-map__pin(class=`${color}`)= pin
                else
                    .c-pin__icon(class=`${pin}`)
                        span.sr-only= pin
            if block
                block

    mixin mapDirectionResultTitle(direction, pin, text)
        - var fontStyle = "font-w-normal-16 font-m-normal-16"

        +mapDirectionDefault(true, direction, pin, text) 
            .c-pin-text__content(class=fontStyle)= text

    mixin mapDirectionResultItem(pin)
        +mapDirectionDefault(false, '', pin, '')
            .c-pin-text__content
                if block
                    block
    
    - var headlineStyle = "font-w-light-56 font-m-light-28"
    - var noDataTitleStyle = "font-w-normal-24 font-m-normal-20"
    - var noDataDescStyle = "font-w-normal-16 font-m-normal-16"

    .guide-text-type Type01. Default
    .c-wrapper.PD0034.margin-top.margin-bottom.bg-default
        .component
            .cmp-container

                //- block : shop
                .c-online-shop
                    .c-text-contents
                        .c-text-contents__headline
                            +headline(headlineStyle, "h2", "Купить в интернет-магазине")
                    .c-online-shop-list
                        - for (var x = 0; x < 10; x++)
                            +onlineListItem('#', true, true)
                    .button.align-text-center.c-online-shop-bottom
                        +textButton({
                            name: 'More', 
                            wSize: 'medium', 
                            mSize: 'small', 
                            buttonStyle: 'down', 
                            isButton: true
                        })

                //- block : search
                .c-search-box.c-text-only
                    .c-text-contents.c-search-box__header
                        .c-text-contents__headline
                            +headline(headlineStyle, "h2", "Найти ближайший магазин")

                //- block : c-map-search
                //- 검색타입 : is-search
                //- 길찾기, 검색 없는 리스트 : is-direction
                .c-map-search.is-search
                    .c-map-search__inner
                        button.c-map-search__toggle(type="button" aria-expanded="false")
                            span.sr-only Search Box
                        +mapSearchBox
                        //- block : c-map
                        .c-map
                            .c-map__inner
                                //- element : c-map__pin
                                .c-map__pin
                                .c-map__pin.is-active
                                //- element : c-map-tooltip
                                .c-map-tooltip
                                    .c-map-tooltip__container
                                        .button
                                            button(type="button").c-map-tooltip__close
                                                span.sr-only Close
                                        //- block : c-brand-detail
                                        .c-map-tooltip__contents
                                            +mapTooltipBrand()
                        .c-map-search__body
                            //- result
                            .c-map-search__result
                                .c-brand-detail-list
                                    +mapSearchResultBrand({ isPin: false, isExport: false, isToggle: false })
                                    +mapSearchResultBrand({ isPin: true, isExport: false, isToggle: true })
                                    +mapSearchResultBrand({ isPin: false, isExport: false, isToggle: false })
                                .c-map-search__pagenation
                                    +paginationFraction
    
    .guide-text-type Type02. No data / Message
    .c-wrapper.PD0034.margin-top.margin-bottom.bg-default
        .component
            .cmp-container

                //- block : shop
                .c-online-shop
                    .c-text-contents
                        .c-text-contents__headline
                            +headline(headlineStyle, "h2", "Купить в интернет-магазине")
                    .c-no-data-wrap.c-no-data-wrap--standard
                        .c-no-data 
                            strong(class=noDataTitleStyle) There is no data.

                //- block : search
                .c-search-box.c-text-only
                    .c-text-contents.c-search-box__header
                        .c-text-contents__headline
                            +headline(headlineStyle, "h2", "Найти ближайший магазин")

                //- block : c-map-search
                //- 검색타입 : is-search
                //- 길찾기, 검색 없는 리스트 : is-direction
                .c-map-search.is-search
                    .c-map-search__inner
                        button.c-map-search__toggle(type="button" aria-expanded="false")
                            span.sr-only Search Box
                        +mapSearchBox
                        //- block : c-map
                        .c-map
                            .c-map__inner
                                //- element : c-map__pin
                                .c-map__pin
                                .c-map__pin.is-active
                                //- element : c-map-tooltip
                                .c-map-tooltip
                                    .c-map-tooltip__container
                                        .button
                                            button(type="button").c-map-tooltip__close
                                                span.sr-only Close
                                        //- block : c-brand-detail
                                        .c-map-tooltip__contents
                                            +mapTooltipBrand()
                        .c-map-search__body
                            //- result
                            .c-map-search__result
                                .c-no-data-wrap.small 
                                    .c-no-data 
                                        strong(class=noDataTitleStyle) Please enter a location
    
    .guide-text-type Type03. No Results
    .c-wrapper.PD0034.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
               
                //- block : search
                .c-search-box.c-text-only
                    .c-text-contents.c-search-box__header
                        .c-text-contents__headline
                            +headline(headlineStyle, "h2", "Найти ближайший магазин")

                //- block : c-map-search
                //- 검색타입 : is-search
                //- 길찾기, 검색 없는 리스트 : is-direction
                .c-map-search.is-search
                    .c-map-search__inner
                        button.c-map-search__toggle(type="button" aria-expanded="false")
                            span.sr-only Search Box
                        +mapSearchBox
                        //- block : c-map
                        .c-map
                            .c-map__inner
                                //- element : c-map__pin
                                .c-map__pin
                                .c-map__pin.is-active
                                //- element : c-map-tooltip
                                .c-map-tooltip
                                    .c-map-tooltip__container
                                        .button
                                            button(type="button").c-map-tooltip__close
                                                span.sr-only Close
                                        //- block : c-brand-detail
                                        .c-map-tooltip__contents
                                            +mapTooltipBrand()
                        .c-map-search__body
                            //- result
                            .c-map-search__result
                                .c-no-data-wrap.small 
                                    .c-no-data 
                                        strong(class=noDataTitleStyle) No results
                                        p.c-no-data__desc(class=noDataDescStyle) TIP: Try entering a location or using your current location

