extends ../_common/_layout.pug
include ../_common/_button.pug

block meta 
    - var componentId = "ST0002"
    - var componentName = "Tab Anchor"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                
                //- [Start] for test
                style.
                    .guide .inner button[class*="btnGuideCase_"].active {
                        background-color: #cbc8c2;
                    }
                    [id*="guideCase"] {
                        display: none;
                    }
                    [id*="guideCase"].active {
                        display: block;
                    }
                   
                .guide-column
                    .manual
                        button.btnGuideCase_1.active case1: Text + Link
                        button.btnGuideCase_2 case2: Text + Button
                        button.btnGuideCase_3 case3: only Button
                //- [End] for test

    mixin tabItem(params)
        - var option={text:"Anchor Text", idx:0, isLink:false, isActive:false, ...params}
        if option.isActive
            a.c-tabs__item.active(href=`#id${option.idx}` role="button" aria-selected="true")
                | #{option.text}
        else
            if option.isLink
                // GA4
                a.c-tabs__item(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                    | #{option.text}
            else
                a.c-tabs__item(href=`#id${option.idx}` role="tab" aria-selected="false")
                    | #{option.text}


    // Component Markup
    div(style="height:100px;")
    #guideCase1.active
        .guide-text-option Text + Link
        .c-wrapper.ST0002.bg-default
            .component
                .cmp-container
                    // block : floating wrap
                    .c-floating-wrap.can-sticky.bg-default.border-top.border-bottom
                        // block : tabs
                        .c-tabs
                            .c-tabs__list.bg-default.font-w-normal-20.font-m-normal-12(role="tablist" aria-label="If you select menu, the focus move to area providing the selected information in this web page.")
                                +tabItem({idx: 1, text: "Integrated Solutions", isActive:true})
                                +tabItem({idx: 2, text: "Complex Mall"})
                                +tabItem({idx: 3, text: "Hospitality"})
                                +tabItem({idx: 4, text: "Residence"})
                                +tabItem({idx: 5, text: "Cruise"})
                                +tabItem({idx: 6, text: "Airport"})
                                +tabItem({idx: 7, text: "Office"})
                                +tabItem({text: "Link Case", isLink: true})
                            .c-tabs__extra
                                .button.c-tabs__drop
                                    .c-tabs__current.font-m-normal-16 Integrated Solutions
                                    button.cmp-button.c-tabs__btn(type="button" aria-expanded="false" data-cmp-data-layer)
                                        span.cmp-button__text.sr-only menu toggle
    #guideCase2
        .guide-text-option Text + Button
        .c-wrapper.ST0002.bg-default
            .component
                .cmp-container
                    // block : floating wrap
                    .c-floating-wrap.can-sticky.bg-default.border-top.border-bottom
                        // block : tabs - with button
                        .c-tabs.with-btn
                            .c-tabs__list.bg-default.font-w-normal-20.font-m-normal-12(role="tablist" aria-label="If you select menu, the focus move to area providing the selected information in this web page.")
                                +tabItem({idx: 1, text: "Integrated Solutions", isActive:true})
                                +tabItem({idx: 2, text: "Complex Mall"})
                                +tabItem({idx: 3, text: "Hospitality"})
                                +tabItem({idx: 4, text: "Residence"})
                                +tabItem({idx: 5, text: "Cruise"})
                                +tabItem({idx: 6, text: "Airport"})
                                +tabItem({idx: 7, text: "Office"})
                            .c-tabs__extra
                                .button.c-tabs__drop
                                    .c-tabs__current.font-m-normal-16 Integrated Solutions
                                    button.cmp-button.c-tabs__btn(type="button" aria-expanded="false" data-cmp-data-layer)
                                        span.cmp-button__text.sr-only menu toggle
                                // block :cta 
                                .button.c-cta
                                    +defaultButton({name: 'Stadium', wSize: 'large', mSize: 'small', buttonStyle: 'highlight', isButton: false})
    #guideCase3
        .guide-text-option only Button
        .c-wrapper.ST0002.bg-default
            .component
                .cmp-container
                    // block : floating wrap
                    .c-floating-wrap.can-sticky.bg-default.border-top.border-bottom
                        // block : tabs - with button
                        .c-tabs.with-btn
                            //- .c-tabs__list.bg-default.font-w-normal-20.font-m-normal-12(role="tablist" aria-label="If you select menu, the focus move to area providing the selected information in this web page.")
                            //-     +tabItem({idx: 1, text: "Integrated Solutions", isActive:true})
                            //-     +tabItem({idx: 2, text: "Complex Mall"})
                            //-     +tabItem({idx: 3, text: "Hospitality"})
                            //-     +tabItem({idx: 4, text: "Residence"})
                            //-     +tabItem({idx: 5, text: "Cruise"})
                            //-     +tabItem({idx: 6, text: "Airport"})
                            //-     +tabItem({idx: 7, text: "Office"})
                            .c-tabs__extra
                                //- .button.c-tabs__drop
                                //-     .c-tabs__current.font-m-normal-16 Integrated Solutions
                                //-     button.cmp-button.c-tabs__btn(type="button" aria-expanded="false" data-cmp-data-layer)
                                //-         span.cmp-button__text.sr-only menu toggle
                                // block :cta 
                                .button.c-cta
                                    +defaultButton({name: 'Stadium', wSize: 'large', mSize: 'small', buttonStyle: 'highlight', isButton: false})
        
    // for test
    div#id1(style="width: 100%; font-size: 20px; text-align: center; margin-top: 50px;") 
        .c-wrapper.border-top.margin-top(style="height: 1000px;") 1
    div#id2(style="width: 100%; font-size: 20px; text-align: center;") 
        .c-wrapper.border-top.margin-top(style="height: 1000px;") 2
    div#id3(style="width: 100%; font-size: 20px; text-align: center;") 
        .c-wrapper.border-top.margin-top(style="height: 1000px;") 3
    div#id4(style="width: 100%; font-size: 20px; text-align: center;") 
        .c-wrapper.border-top.margin-top(style="height: 1000px;") 4
    div#id5(style="width: 100%; font-size: 20px; text-align: center;") 
        .c-wrapper.border-top.margin-top(style="height: 1000px;") 5
    div#id6(style="width: 100%; font-size: 20px; text-align: center;") 
        .c-wrapper.border-top.margin-top(style="height: 1000px;") 6
    div#id7(style="width: 100%; font-size: 20px; text-align: center;") 
        .c-wrapper.border-top.margin-top(style="height: 1000px;") 7
    div#id8(style="width: 100%; font-size: 20px; text-align: center;") 
        .c-wrapper.border-top.margin-top(style="height: 1000px;") 8


    
    script(type="text/javascript").
        const btns = document.querySelectorAll('[class*="btnGuideCase"]');
        const guideCases = document.querySelectorAll('[id*="guideCase"]');
        //- select guide case 
        btns.forEach(btn => {
            btn.addEventListener('click', event => {
                event.preventDefault();
                const guideNum = btn.className.split('_')[1];
                btns.forEach(item => {
                    item.classList.remove('active');
                })
                btn.classList.add('active');
                guideCases.forEach(item => {
                    item.classList.remove('active');
                })
                guideCases[guideNum - 1].classList.add('active');
            });
        });
