extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_forms.pug
include ../_common/_pop-msg.pug

block meta 
	- var componentId = "ST0041"
	- var componentName = "Promotion Notify Me"
	- var description = "description text"
	- var keywords = "keyword list"
	title #{componentId}. #{componentName}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

block styles
	link(rel="stylesheet", href=componentId+".css")

block scripts
	//- script(src=componentId+".js" type="module")

block content
	// An area for testing options when coding. 
	// Please do not use it during development.
	.guide 
		.grid-1600 
		.grid-1440
		.inner
			.guide-list
				a(href="../../list-st.html") List 
			.guide-title #{componentId}. #{componentName}
			
	// Component Markup
	.guide-text-option Base
	.c-wrapper.ST0041
		.component
			.cmp-container
				.button.c-cta
					+linkButton({href:"#popNotifyMe", type:"box", color:"highlight", class:"js-pop-open c-button--default", name:"notify me", roleButton:"true"})
					+linkButton({href:"#popNotifyMe_CA", type:"box", color:"highlight", class:"js-pop-open c-button--default", name:"notify me (ca)", roleButton:"true"})
	.guide-text-option Success/Error 
	.c-wrapper.ST0041
		.component
			.cmp-container
				.button.c-cta
					+linkButton({href:"#popNotifyMeSuccess", type:"box", color:"highlight", class:"js-pop-open c-button--default", name:"notify me (success)", roleButton:"true"})
					+linkButton({href:"#popNotifyMeError", type:"box", color:"highlight", class:"js-pop-open c-button--default", name:"notify me (error)", roleButton:"true"})

block modal 
	+printLayerPopup('popNotifyMe')
	+printLayerPopup('popNotifyMeSuccess')
	+printLayerPopup('popNotifyMeError')
	+printLayerPopup('popNotifyMe_CA')
