extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_image.pug
include ../_common/_cs-form.pug

block meta
    - var componentId = "CS0120"
    - var componentName = "Repair Main Block"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content

    .guide-text-type CS0120
    .guide-text-option default
    // 20230420 case3 markup added - CO
    .c-wrapper.CS0120.margin-top.type-text.margin-bottom
        .component
            .CS0120__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Acceso a Distribuidor')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p 
                                    | SEGUIMIENTO A ESTADO DEL DR
                                    br
                                    | LG ELECTRONICS COLOMBIA LTDA : Carrera 11 No. 94A-34 Bogotá - Colombia

                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields
                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cmp-form.c-support__column2x2.type1.cs-form-div
                                .c-radio-label.font-m-normal-16.font-w-normal-24 Type #[em.require *]#[span.sr-only Required Field]
                                .c-form__box.c-form__radio-box
                                    .c-form-box
                                        +formRadio("Aprobación No","sort2", "FT00000003", "FV00000001", "FT00000003_FV00000005")(aria-controls="resultTarget" aria-label="" checked)
                                    .c-form-box
                                        +formRadio("Número de serial","sort2", "FT00000003", "FV00000002", "FT00000003_FV00000006")(aria-controls="resultTarget" aria-label="")
                            .cs-form-div
                                .cmp-form.c-repair__type.c-repair__type1(style="display:block")
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'aprobacionNumber', label: 'Aprobación No', placeholder: 'Aprobación No válido es obligatorio.', requireMsg:'Aprobación No es requerido.',invalidMsg : 'Aprobación No es invalid.' })
                                .cmp-form.c-repair__type.c-repair__type2(style="display:none")
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id:'modelo', label: 'Modelo', placeholder: 'Modelo es obligatorio.', requireMsg:'Modelo es requerido.',invalidMsg : 'Modelo es invalid.' })
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id:'NúmerodeSerial', label: 'Número de serial', placeholder: 'Número de serial es obligatorio.', requireMsg:'Número de serial es requerido.',invalidMsg : 'Número de serial es invalid.' })
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'BÚSQUEDA', wSize: 'large', mSize: 'medium', buttonStyle: 'normal', isButton: "none"})(class="c-btn-find")
    
    //- 20230619 : add cass : When there is result
    .guide-text-option When there is result
    .c-wrapper.CS0120.margin-top.type-text.margin-bottom
        .component
            .CS0120__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Acceso a Distribuidor')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p 
                                    | SEGUIMIENTO A ESTADO DEL DR
                                    br
                                    | LG ELECTRONICS COLOMBIA LTDA : Carrera 11 No. 94A-34 Bogotá - Colombia

                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields
                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cmp-form.c-support__column2x2.type2.cs-form-div
                                .c-radio-label.font-m-normal-16.font-w-normal-24 Type #[em.require *]#[span.sr-only Required Field]
                                .c-form__box.c-form__radio-box
                                    .c-form-box
                                        +formRadio("Aprobación No","sort3", "FT00000003", "FV00000003", "FT00000003_FV00000005")(aria-controls="resultTarget" aria-label="" checked)
                                    .c-form-box
                                        +formRadio("Número de serial","sort3", "FT00000003", "FV00000004", "FT00000003_FV00000006")(aria-controls="resultTarget" aria-label="")
                            .cs-form-div
                                .cmp-form.c-repair__type.c-repair__type3(style="display:block")
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'aprobacionNumber', label: 'Aprobación No', placeholder: 'Aprobación No válido es obligatorio.', requireMsg:'Aprobación No es requerido.',invalidMsg : 'Aprobación No es invalid.' })
                                .cmp-form.c-repair__type.c-repair__type4(style="display:none")
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id:'modelo', label: 'Modelo', placeholder: 'Modelo es obligatorio.', requireMsg:'Modelo es requerido.',invalidMsg : 'Modelo es invalid.' })
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id:'NúmerodeSerial', label: 'Número de serial', placeholder: 'Número de serial es obligatorio.', requireMsg:'Número de serial es requerido.',invalidMsg : 'Número de serial es invalid.' })
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'BÚSQUEDA', wSize: 'large', mSize: 'medium', buttonStyle: 'normal', isButton: "none"})(class="c-btn-find")

            
                .c-prd-info
                    .c-prd-info__inner 
                        p.font-m-light-24.font-w-light-36 INFORMACIÓN DE SERVICIO​
                        .c-prd-info__group
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Estado
                                dd.font-m-normal-16.font-w-normal-20 AWATING_RETURN​
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Orden ERP No​
                                dd.font-m-normal-16.font-w-normal-20 901904655​ 
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Tipo de orden​
                                dd.font-m-normal-16.font-w-normal-20 COMDR01DDC​
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 Fecha de solicitud​
                                dd.font-m-normal-16.font-w-normal-20 
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Fecha de aprobación​
                                dd.font-m-normal-16.font-w-normal-20 2019-10-15
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 Razón de la devolución​
                                dd.font-m-normal-16.font-w-normal-20 UNABLE TO REPAIR_DIFFICULT TO REPAIR​
                            dl 
                                dt.font-m-normal-16.font-w-normal-20 OBSERVACIONES​
                                dd.font-m-normal-16.font-w-normal-20 NO IMAGE

                            .cs-prd__dot 
                                ol 
                                    li.font-m-normal-20.font-w-normal-24 Cuenta Principal​
                                        .c-prd-info__group
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Código de la cuenta principal​
                                                dd.font-m-normal-16.font-w-normal-20 CO001451002B​
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Nombre de la cuenta principal principal
                                                dd.font-m-normal-16.font-w-normal-20 CENCOSUD COLOMBIA S.A.​                                    
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Dirección
                                                dd.font-m-normal-16.font-w-normal-20 CLL 175-22 13 BOGOTÁ D.C. 110141   
                                    li.font-m-normal-20.font-w-normal-24 Sucursal​
                                        .c-prd-info__group
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Código de la cuenta
                                                dd.font-m-normal-16.font-w-normal-20 COS02357-S​
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Nombre de la cuenta​
                                                dd.font-m-normal-16.font-w-normal-20 CENCOSUD COLOMBIA S.A.​
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Dirección
                                                dd.font-m-normal-16.font-w-normal-20 (60) Via Siberia - Funza Km1, Entrada Indexzona Vereda los Platanitos CEDI JUMBO FUNZA​
                                
                .c-prd-info
                    .c-prd-info__inner 
                        p.font-m-light-24.font-w-light-36 INFORMACIÓN DEL CONTACTO​
                        .c-prd-info__group
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Nombre de contacto​
                                dd.font-m-normal-16.font-w-normal-20 CHAPARRO BALLESTEROS ELSA​
                            dl
                                dt.font-m-normal-16.font-w-normal-20 Teléfono​
                                dd.font-m-normal-16.font-w-normal-20 097-6458395 6450193​
                            dl
                                dt.font-m-normal-16.font-w-normal-20 FAX
                                dd.font-m-normal-16.font-w-normal-20 
                            .cs-prd__dot 
                                ol 
                                    li.font-m-normal-20.font-w-normal-24 Cuenta Principal​
                                        .c-prd-info__group
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Categoría
                                                dd.font-m-normal-16.font-w-normal-20 Televisores​
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Número de serial​
                                                dd.font-m-normal-16.font-w-normal-20 810RMWV2T657​                                 
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Modelo
                                                dd.font-m-normal-16.font-w-normal-20 55UK6550PDB.AWC​
                                                    +printLazyPicture('https://via.placeholder.com/80x80/ccc/eee/?text=80x80', 'https://via.placeholder.com/132x132/ccc/eee/?text=132x132')
                                            dl 
                                                dt.font-m-normal-16.font-w-normal-20 Cantidad
                                                dd.font-m-normal-16.font-w-normal-20 1
    //- 20230619 : add cass : In case of no result
    .guide-text-option In case of no result
    .c-wrapper.CS0120.margin-top.type-text.margin-bottom
        .component
            .CS0120__container

                .cmp-container
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Acceso a Distribuidor')
                        .text.c-text-contents__subtitle
                            .cmp-text(class='font-w-normal-20 font-m-normal-16' data-cmp-data-layer="")
                                p 
                                    | SEGUIMIENTO A ESTADO DEL DR
                                    br
                                    | LG ELECTRONICS COLOMBIA LTDA : Carrera 11 No. 94A-34 Bogotá - Colombia

                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields
                .c-container__inner
                    .cs-form
                        .cs-form__wrap
                            .cmp-form.c-support__column2x2.type3.cs-form-div
                                .c-radio-label.font-m-normal-16.font-w-normal-24 Type #[em.require *]#[span.sr-only Required Field]
                                .c-form__box.c-form__radio-box
                                    .c-form-box
                                        +formRadio("Aprobación No","sort4", "FT00000003", "FV00000005", "FT00000003_FV00000005")(aria-controls="resultTarget" aria-label="" checked)
                                    .c-form-box
                                        +formRadio("Número de serial","sort4", "FT00000003", "FV00000006", "FT00000003_FV00000006")(aria-controls="resultTarget" aria-label="")
                            .cs-form-div
                                .cmp-form.c-repair__type.c-repair__type5(style="display:block")
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id: 'aprobacionNumber', label: 'Aprobación No', placeholder: 'Aprobación No válido es obligatorio.', requireMsg:'Aprobación No es requerido.',invalidMsg : 'Aprobación No es invalid.' })
                                .cmp-form.c-repair__type.c-repair__type6(style="display:none")
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id:'modelo', label: 'Modelo', placeholder: 'Modelo es obligatorio.', requireMsg:'Modelo es requerido.',invalidMsg : 'Modelo es invalid.' })
                                    +csForm_Input({formDefalut:'true',type:'text', class:'', id:'NúmerodeSerial', label: 'Número de serial', placeholder: 'Número de serial es obligatorio.', requireMsg:'Número de serial es requerido.',invalidMsg : 'Número de serial es invalid.' })
                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'BÚSQUEDA', wSize: 'large', mSize: 'medium', buttonStyle: 'normal', isButton: "none"})(class="c-btn-find")


                .c-no-result 
                    .c-no-result__wrap
                        span.c-no-result__icon 
                        p.font-m-normal-16.font-w-normal-20 Algunas de las entradas contienen errores.

