include ./CT0303-inc.pug

mixin CT0303(option=false, country=false)
	.CT0303
		if(option === "before")
			.buy-checkout__item.before
				+checkoutStep({
					title:"Payment",
					current:"3",
					total:"3",
					type: ""
				})

		if(option === "complete") 
			.buy-checkout__item.buy-checkout__item--coupon.buy-checkout__item--complete
				+checkoutStep({
					title:"Payment",
					current:"3",
					total:"3",
					type: "checked",
				})         

		if(option === "default")
			.buy-checkout__item.buy-checkout__item--payment
				+checkoutStep({
					title:"Payment",
					current:"3",
					total:"3",
					type: "active"
				})
				.c-checkout-step03.c-checkout-step03-active
					+checkoutRewards()
					ul.c-checkout-step03-payment
						case country
							when 'pa'
								+paymentBox([
									{
										type:"wireTransfer",
										title:"Wire transfer",
										nonActive: true,
										terms: [
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Estoy de acuerdo con los términos y condiciones de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}wireTransferValPa01`,
												formId: `${country}wireTransferPaId01`
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector-pp" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Acepto la política de privacidad de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}wireTransferPaVal02`,
												formId: `${country}wireTransferPaId02`
											},
											{
												type: 'form',
												formText: `Estoy de acuerdo en que me contacten vía email concierne productos y servicios LG, incluyendo información sobre lanzamientos de productos, ofertas especiales y promociones que tendremos a futuro. Puedo suspender mi suscripción en cualquier momento, siguiendo las indicaciones brindadas en cada email y cumpliendo con la política de privacidad de LG.com.`,
												formVal: `${country}wireTransferPaVal03`,
												formId: `${country}wireTransferPaId03`
											},
										],
									},
									{
										type:"wireTransfer",
										title:"Wire transfer",
										terms: [
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Estoy de acuerdo con los términos y condiciones de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}wireTransferValPa01`,
												formId: `${country}wireTransferPaId01`
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector-pp" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Acepto la política de privacidad de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}wireTransferPaVal02`,
												formId: `${country}wireTransferPaId02`
											},
											{
												type: 'form',
												formText: `Estoy de acuerdo en que me contacten vía email concierne productos y servicios LG, incluyendo información sobre lanzamientos de productos, ofertas especiales y promociones que tendremos a futuro. Puedo suspender mi suscripción en cualquier momento, siguiendo las indicaciones brindadas en cada email y cumpliendo con la política de privacidad de LG.com.`,
												formVal: `${country}wireTransferPaVal03`,
												formId: `${country}wireTransferPaId03`
											},
										],
									},
									{
										type:"creditCard",
										title:"Credit card",
										terms: [
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Estoy de acuerdo con los términos y condiciones de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}creditCardPaVal01`,
												formId: `${country}creditCardPaId01`
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector-pp" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Acepto la política de privacidad de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}creditCardPaVal02`,
												formId: `${country}creditCardPaId02`
											},
											{
												type: 'form',
												formText: `Estoy de acuerdo en que me contacten vía email concierne productos y servicios LG, incluyendo información sobre lanzamientos de productos, ofertas especiales y promociones que tendremos a futuro. Puedo suspender mi suscripción en cualquier momento, siguiendo las indicaciones brindadas en cada email y cumpliendo con la política de privacidad de LG.com.`,
												formVal: `${country}creditCardPaVal03`,
												formId: `${country}creditCardPaId03`
											},
										],
									},
									{
										type:"nequi",
                    title:"Nequi",
										terms: [
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Estoy de acuerdo con los términos y condiciones de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}nequiValPa01`,
												formId: `${country}nequiPaId01`
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector-pp" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Acepto la política de privacidad de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}nequiPaVal02`,
												formId: `${country}nequiPaId02`
											},
											{
												type: 'form',
												formText: `Estoy de acuerdo en que me contacten vía email concierne productos y servicios LG, incluyendo información sobre lanzamientos de productos, ofertas especiales y promociones que tendremos a futuro. Puedo suspender mi suscripción en cualquier momento, siguiendo las indicaciones brindadas en cada email y cumpliendo con la política de privacidad de LG.com.`,
												formVal: `${country}nequiPaVal03`,
												formId: `${country}nequiPaId03`
											},
										],
									},
									{
										type:"yappy",
                    title: `<span>Yappy <a class="cmp-button c-button c-button--text-underline" href="https://www.bgeneral.com/yappy?utm_source=BotonDePago&utm_medium=WooCommerce&utm_campaign=QueEsEsto" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">¿Qué es Yappy?</a></span>`,
										terms: [
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Estoy de acuerdo con los términos y condiciones de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}yappyValPa01`,
												formId: `${country}yappyPaId01`
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector-pp" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Acepto la política de privacidad de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}yappyPaVal02`,
												formId: `${country}yappyPaId02`
											},
											{
												type: 'form',
												formText: `Estoy de acuerdo en que me contacten vía email concierne productos y servicios LG, incluyendo información sobre lanzamientos de productos, ofertas especiales y promociones que tendremos a futuro. Puedo suspender mi suscripción en cualquier momento, siguiendo las indicaciones brindadas en cada email y cumpliendo con la política de privacidad de LG.com.`,
												formVal: `${country}yappyPaVal03`,
												formId: `${country}yappyPaId03`
											},
										],
									},
									{
										type: 'tilopay',
                    title: 'Pago en cuotas para tarjetas BAC Credomatic',
										terms: [
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Estoy de acuerdo con los términos y condiciones de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}tilopayValPa01`,
												formId: `${country}tilopayPaId01`
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="https://www.lg.com/PA/shop/pa-vector-pp" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Acepto la política de privacidad de SEARCH ENGINE BUSINESS, INC.</a></span>`,
												formVal: `${country}tilopayPaVal02`,
												formId: `${country}tilopayPaId02`
											},
											{
												type: 'form',
												formText: `Estoy de acuerdo en que me contacten vía email concierne productos y servicios LG, incluyendo información sobre lanzamientos de productos, ofertas especiales y promociones que tendremos a futuro. Puedo suspender mi suscripción en cualquier momento, siguiendo las indicaciones brindadas en cada email y cumpliendo con la política de privacidad de LG.com.`,
												formVal: `${country}tilopayPaVal03`,
												formId: `${country}tilopayPaId03`
											},
										],
									},
								], country)                           
							default 
								+paymentBox([
									{
										type:"creditCard",
										title:"Credit Card",
									},
									{
										type:"payPal",
										title:"PayPal",
										fillIcon:true
									},
									{
										type:"klarna",
										title:"Klarna",
									}
								], country)

			.buy-checkout__item.buy-checkout__item--payment.buy-checkout__item--complete(style="display: none;")
				+checkoutStep({
					title:"Payment",
					current:"3",
					total:"3",
					type: "checked"
				})
				case country
					when 'pa'
						+paymentComplete([
							{
								type: 'wireTransfer',
								title: 'Wire transfer',
								src: 'icon-payment-bank-transfer-pa-46-20',
								isBetween: true,
							},
							{
								type: 'creditCard',
								title: 'Credit card',
								src: 'icon-payment-credit-card-pa-91-20',
								isBetween: true,
							},
							{
								type:"nequi",
                title:"Nequi",
								src: 'icon-payment-nequi-pa-71-16',
								isBetween: true,
							},
							{
								type:"yappy",
                title:`<span>Yappy <a class="cmp-button c-button c-button--text-underline" href="https://www.bgeneral.com/yappy?utm_source=BotonDePago&utm_medium=WooCommerce&utm_campaign=QueEsEsto" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">¿Qué es Yappy?</a></span>`,
								src: 'icon-payment-yappy-pa-34-20',
								isBetween: true,
							},
							{
								type: 'tilopay',
                title: 'Pago en cuotas para tarjetas BAC Credomatic',
								src: 'icon-payment-tilopay-pa-77-16',
								isBetween: true,
							},
						])
					default
						+paymentComplete([
							{
								src: 'icon-mylg-visa-31-23',
								type: 'creditCard',
								title: 'VISA Xxxxxxxxx6995',
								date: '05/24',
								isBetween: false,
								contents: [
									{
										type: 'form',
										formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
										formVal: 'val01',
										formId: 'emaliId1'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
										formVal: 'val02',
										formId: 'emaliId2'
									}
								]
							},
							{
								src: 'icon-payment-paypal-74-20',
								type: 'payPal',
								title: 'Buy now and pay later with pay in 3',
								isBetween: false,
								contents: [
									{
										type: 'paypalList'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
										formVal: 'val03',
										formId: 'emaliId3'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
										formVal: 'val04',
										formId: 'emaliId4'
									}
								]
							},
							{
								src: 'icon-payment-klarna-54-20',
								type: 'klarna',
								title: 'Buy now, pay later!',
								isBetween: false,
								contents: [
									{
										type: 'form',
										formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
										formVal: 'val05',
										formId: 'emaliId5'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
										formVal: 'val06',
										formId: 'emaliId6'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">By proceeding, you will be presented with payment options provided by Klarna. By continuing, I accept the terms of the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/user" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Klarna Shopping Service</span></a> and confirm that I have read the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/privacy" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Privacy Notice</span></a> and the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/cookie_purchase" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Cookie Notice. *</span></a></span>`,
										formVal: 'val07',
										formId: 'emaliId7'
									}
								]
							}
							
						])
