extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_pop-msg.pug
include ../_common/_toast.pug

block meta 
    - var componentId = "CT0302"
    - var componentName = "Cart Delivery"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")


block scripts
    script(src=componentId+".js" type="module")

block content
    // Component Markup
    include ./CT0302-inc.pug
    .CT000C
        .guide-text-option Option : Checkout Delivery(Member)
        +CT0302("member")
        .guide-text-option Option : Checkout Delivery(de, it, fr, au, vn, br, mx, cl, at, nl, cz, ch_de, hu, se, pe, cac_en, eg_en, tw, CA, ES, JP, ID, CN, HK, TH, KZ)
        +CT0302("member", "shippingBillingType1")
        .guide-text-option Option : Checkout Delivery(pl, in)
        +CT0302("member", "shippingBillingType2")

        .guide-text-option Option : Checkout Delivery : Select Delivery- radio (MX, IT, CL, DE, AU, AT, CH_DE, HU, SE, ES, JP, CN, HK, TH, KZ, PT)
        +CT0302("member", "selectDateType-radio")
        .guide-text-option Option : Checkout Delivery : Select Delivery- checkbox (FR, VN, BR, CAC_EN, EG_EN, IN)
        +CT0302("member", "selectDateType-checkbox")
        .guide-text-option Option : Checkout Delivery : Select Delivery- accordion Select Date (DE, NL, CZ, PE, CA, ID)
        +CT0302("member", "selectDateType-accordion")
        .guide-text-option Option : Checkout Delivery : Select Delivery- radio and button (PL)
        +CT0302("member", "selectDateType-radio-button")
        .guide-text-option Option : Checkout Delivery : Select Delivery- TW
        +CT0302("member", "selectDateType-tw")
        .guide-text-option global shipping module (CA, JP, ID, CN, HK, TH, KZ, CO, PT, SA, TK, SG, BR, MX, PA, PL, CZ, SE, AU, VN, PH)
        +CT0302("member", "selectDateType-accordion-wrap-global")
        .guide-text-option global shipping module (BR)
        +CT0302("member", "selectDateType-accordion-wrap-global-br")
        .guide-text-option global shipping module (MX)
        +CT0302("member", "selectDateType-accordion-wrap-global-mx")
        .guide-text-option global shipping module (PA)
        +CT0302("member", "selectDateType-accordion-wrap-global-pa")
        .guide-text-option global shipping module (PL)
        +CT0302("member", "selectDateType-accordion-wrap-global-pl")
        .guide-text-option Option : Checkout Delivery : IT
        +CT0302("member", "deliveryCombinedShippingCase")
        .guide-text-option Option : Checkout Delivery : Select Delivery Complete
        +CT0302("member", "DeliveryOptionComplete")
        .guide-text-option Option : Checkout Delivery : bottom description Type
        +CT0302("member", "descriptionType")        
        .guide-text-option Option : Checkout Delivery(tooltip)
        +CT0302("tooltip")

        .guide-text-option Option : Checkout Delivery(Guest)
        +CT0302("guest")
        .guide-text-option Option : Checkout Delivery : form bottom MX
        +CT0302("guest-bottom-mx")
        .guide-text-option Option : Checkout Delivery : form bottom VN, CO
        +CT0302("guest-bottom-vn")
        .guide-text-option Option : Checkout Delivery : form bottom PL
        +CT0302("guest-bottom-pl")
        .guide-text-option Option : Checkout Delivery : form bottom CN
        +CT0302("guest-bottom-cn")
        .guide-text-option Option : Checkout Delivery : form bottom KZ, DE
        +CT0302("guest-bottom-kz")

        // searchAddress case
        +CT0302("searchAddress")

        // tel case
        +CT0302("tel")

        .guide-text-option Option : Checkout Delivery(before)
        +CT0302("before")
        .guide-text-option Option : Checkout Delivery(complete)
        +CT0302("complete")

        .guide-text-option Option : Checkout Delivery(complete-mx)
        +CT0302("complete-mx")

block modal
    .mem-modal
        +pop-msg-standard({id : `CalendarPopup`, size: "large"})
            .Buy-calendar
                .Buy-calendar__box
                
                //- .Buy-calendar__radiobox
                //-     .Buy-calendar__radio
                //-         .Buy-calendar__radio-item
                //-             .Buy-calendar__radio-info
                //-                 +formRadio("All day","name", "val1", "radioId1")
                //-             span.font-w-normal-16.font-m-normal-14 £0
                //-         .Buy-calendar__radio-item.Buy-calendar__radio-item--disabled
                //-             .Buy-calendar__radio-info
                //-                 +formRadio("10:00 - 17:00","name", "val2", "radioId2")(disabled)
                //-             span.font-w-normal-16.font-m-normal-14 Not available
                //-         .Buy-calendar__radio-item
                //-             .Buy-calendar__radio-info
                //-                 +formRadio("16:00 - 17:00","name", "val3", "radioId3")
                //-                 .Buy-calendar__radio-miximum.font-red Maximum order capacity is almost full.
                //-             span.font-w-normal-16.font-m-normal-14 £0
                //-         .Buy-calendar__radio-item
                //-             .Buy-calendar__radio-info
                //-                 +formRadio("18:00 - 19:00","name", "val4", "radioId4")
                //-             span.font-w-normal-16.font-m-normal-14 £0
                //-         .Buy-calendar__radio-item
                //-             .Buy-calendar__radio-info
                //-                 +formRadio("20:00 - 21:00","name", "val5", "radioId5")
                //-             span.font-w-normal-16.font-m-normal-14 £0
                //-         .Buy-calendar__radio-item
                //-             .Buy-calendar__radio-info
                //-                 +formRadio("22:00 - 23:00","name", "val6", "radioId6")  
                //-             span.font-w-normal-16.font-m-normal-14 £0
                .button.Buy-calendar__button
                    +button({type:"box", color:"red", size:"medium", name: "Save", class: "js-close--btn"})