extends ../_common/_layout.pug
include ../_common/_forms.pug
include ../_common/_button.pug
include ../_common/_toast.pug

block meta 
    - var componentId = "CT0300"
    - var componentName = "Checkout Guest TabPanel"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src="../../components/CT000C/CT0300.js" type="module")

block content
    // Component Markup
    include ./CT0300-inc.pug
    .guide-text-option Option : Checkout Tab
    +CT0300('checkout')
    .guide-text-option Option : Member Tab
    +CT0300('member')