include ./CT0303-inc.pug

mixin CT0303(option=false, country=false)
	.CT0303
		if(option === "before")
			.buy-checkout__item.before
				+checkoutStep({
					title:"Payment",
					current:"3",
					total:"3",
					type: ""
				})

		if(option === "complete") 
			.buy-checkout__item.buy-checkout__item--coupon.buy-checkout__item--complete
				+checkoutStep({
					title:"Payment",
					current:"3",
					total:"3",
					type: "checked",
				})         

		if(option === "default")
			.buy-checkout__item.buy-checkout__item--payment
				+checkoutStep({
					title:"Payment",
					current:"3",
					total:"3",
					type: "active"
				})
				.c-checkout-step03.c-checkout-step03-active
					ul.c-checkout-step03-payment
						case country
							when 'vn'
								+paymentBox([
									{
										type:"domesticCard",
										title:"Alepay ATM",
										terms: [
											{
												type: 'form',
												noMargin: true,
												formList: ["Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Điều khoản và điệu kiện giao dịch </a></span>`,
												formVal: `${country}payVal11`,
												formId: `${country}payId11`,
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Chính sách về quyền riêng tư của trang web</a></span>`,
												formVal: `${country}payVal12`,
												formId: `${country}payId12`,
											},
											{
												type: 'form',
												formText: `Bằng việc “đánh dấu chọn” vào ô dưới đây, Bạn cho phép Chúng tôi được gửi email cho Bạn để cung cấp thông tin về các sản phẩm và/hoặc dịch vụ mà Bạn có thể quan tâm (bao gồm nhưng không giới hạn bởi các thông tin về sản phẩm mới, các chương trình khuyến mại và/hoặc ưu đãi trong tương lai…). Bạn cũng có thể hủy “sự cho phép” trên bất kỳ lúc nào theo hướng dẫn được đính kèm trong mỗi email và phù hợp với chính sách quyền riêng tư được công bố trên trang web.`,
												formVal: `${country}payVal13`,
												formId: `${country}payId13`,
											},
										]
									},
									{
										type:"creditCard",
										title:"Alepay Credit Card",
										terms: [
											{
												type: 'form',
												noMargin: true,
												formList: ["Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Điều khoản và điệu kiện giao dịch </a></span>`,
												formVal: `${country}payVal21`,
												formId: `${country}payId21`,
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Chính sách về quyền riêng tư của trang web</a></span>`,
												formVal: `${country}payVal22`,
												formId: `${country}payId22`,
											}, 
											{
												type: 'form',
												formText: `Bằng việc “đánh dấu chọn” vào ô dưới đây, Bạn cho phép Chúng tôi được gửi email cho Bạn để cung cấp thông tin về các sản phẩm và/hoặc dịch vụ mà Bạn có thể quan tâm (bao gồm nhưng không giới hạn bởi các thông tin về sản phẩm mới, các chương trình khuyến mại và/hoặc ưu đãi trong tương lai…). Bạn cũng có thể hủy “sự cho phép” trên bất kỳ lúc nào theo hướng dẫn được đính kèm trong mỗi email và phù hợp với chính sách quyền riêng tư được công bố trên trang web.`,
												formVal: `${country}payVal23`,
												formId: `${country}payId23`,
											},
										]
									},
									{
										type:"installment",
										title:"Trả góp 0% qua thẻ tín dụng(Visa, Master, JCB)",
										list: [
											{
												title: "Select Bank",
												warning: "Thông tin bắt buộc.",
												name: "bank",
												item: [
													{
														type: "kienlongBank"
													},
													{
														type: "PVcomBank"
													},
													{
														type: "BIDV"
													},
													{
														type: "techcombank"
													},
													{
														type: "sacombank"
													},
													{
														type: "TPBank"
													},
													{
														type: "HDBank"
													},
													{
														type: "SHB"
													},
													{
														type: "EXIMBANK"
													},
													{
														type: "standardChartered"
													},
													{
														type: "MB"
													},
													{
														type: "ACB"
													},
													{
														type: "vietinBank"
													},
													{
														type: "HSBC"
													},
													{
														type: "VIB"
													},
													{
														type: "NAMABANK"
													},
													{
														type: "OCB"
													},
													{
														type: "VietCapitalBank"
													},
													{
														type: "MSB"
													},
													{
														type: "citi"
													},
													{
														type: "VPBank"
													},
													{
														type: "SCB"
													},
													{
														type: "vietcombank"
													},
													{
														type: "shinhanBankVietnam"
													},
													{
														type: "LienVietPostBank"
													},
													{
														type: "SeABank"
													},
													{
														type: "LotteFinance"
													},
												]
											},
											{
												title: "Select Card",
												warning: "Thông tin bắt buộc.",
												name: "card",
												item: [
													{
														type: "card-mastercard"
													},
													{
														type: "card-jcb"
													},
													{
														type: "card-american_express"
													},
													{
														type: "card-visa"
													},
												]
											}
										]
									},
									{
										type:"creditCardSelectPay",
										title:"Thanh toán bằng thẻ quốc tế (Visa, MasterCard, JCB)",
										terms: [
											{
												type: 'cardRadio',
												cardVal: "1",
												cardId: "1",
												cardText: "VPbank",
												cardNumber: "**** 8866",
												cardRadioSelected: false,
											},
											{
												type: 'cardRadio',
												cardVal: "2",
												cardId: "1",
												cardText: "Techcombank",
												cardNumber: "**** 1122",
												cardRadioSelected: false,
											},
											{
												type: 'cardRadio',
												cardVal: "3",
												cardId: "1",
												cardText: "Techcombank",
												cardNumber: "**** 1122",
												cardRadioSelected: false,
											},
											{
												type: 'cardRadio',
												cardVal: "4",
												cardId: "1",
												cardText: "Thanh toán với thẻ mới",
												cardRadioSelected: true,
											},
											{
												type: 'form',
												formText: `Lưu thông tin thẻ`,
												formVal: `${country}payVal41`,
												formId: `${country}payId41`,
												formChecked: true,
											},
											{
												type: 'form',
												noMargin: true,
												formList: ["Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Điều khoản và điệu kiện giao dịch</a></span>`,
												formVal: `${country}payVal42`,
												formId: `${country}payId42`,
											},
											{
												type: 'form',
												formText: `Bằng việc “đánh dấu chọn” vào ô dưới đây, Bạn cho phép Chúng tôi được gửi email cho Bạn để cung cấp thông tin về các sản phẩm và/hoặc dịch vụ mà Bạn có thể quan tâm (bao gồm nhưng không giới hạn bởi các thông tin về sản phẩm mới, các chương trình khuyến mại và/hoặc ưu đãi trong tương lai…). Bạn cũng có thể hủy “sự cho phép” trên bất kỳ lúc nào theo hướng dẫn được đính kèm trong mỗi email và phù hợp với chính sách quyền riêng tư được công bố trên trang web.`,
												formVal: `${country}payVal44`,
												formId: `${country}payId44,`,
											},
										]
									},
									{
										type:"ChuyểnKhoản",
										title:"Chuyển khoản (qua QR code hoặc số tài khoản)",
										terms: [
											{
												type: 'form',
												noMargin: true,
												formList: ["Sau khi ấn Thanh toán, vui lòng chuyển khoản trong vòng 20 phút. Quá thời gian trên, đơn hàng sẽ bị hủy","Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Điều khoản và điệu kiện giao dịch </a></span>`,
												formVal: `${country}payVal51`,
												formId: `${country}payId51`
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Chính sách về quyền riêng tư của trang web</a></span>`,
												formVal: `${country}payVal52`,
												formId: `${country}payId52`,
											},
											{
												type: 'form',
												formText: `Bằng việc “đánh dấu chọn” vào ô dưới đây, Bạn cho phép Chúng tôi được gửi email cho Bạn để cung cấp thông tin về các sản phẩm và/hoặc dịch vụ mà Bạn có thể quan tâm (bao gồm nhưng không giới hạn bởi các thông tin về sản phẩm mới, các chương trình khuyến mại và/hoặc ưu đãi trong tương lai…). Bạn cũng có thể hủy “sự cho phép” trên bất kỳ lúc nào theo hướng dẫn được đính kèm trong mỗi email và phù hợp với chính sách quyền riêng tư được công bố trên trang web.`,
												formVal: `${country}payVal53`,
												formId: `${country}payId53`,
											},
										]
									},
									{
										type:"domesticCardSelectPay",
										title:"Thẻ ATM nội địa/ Internet banking",
										terms: [
											{
												type: 'cardRadio',
												cardVal: "21",
												cardId: "2",
												cardText: "VPbank",
												cardNumber: "**** 8866",
												cardRadioSelected: false,
											},
											{
												type: 'cardRadio',
												cardVal: "22",
												cardId: "2",
												cardText: "Techcombank",
												cardNumber: "**** 1122",
												cardRadioSelected: false,
											},
											{
												type: 'cardRadio',
												cardVal: "23",
												cardId: "2",
												cardText: "Techcombank",
												cardNumber: "**** 1122",
												cardRadioSelected: false,
											},
											{
												type: 'cardRadio',
												cardVal: "24",
												cardId: "2",
												cardText: "Thanh toán với thẻ mới",
												cardRadioSelected: true,
											},
											{
												type: 'form',
												formText: `Lưu thông tin thẻ`,
												formVal: `${country}payVal46`,
												formId: `${country}payId46`,
												formChecked: true,
											},
											{
												type: 'form',
												noMargin: true,
												formList: ["Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Điều khoản và điệu kiện giao dịch</a></span>`,
												formVal: `${country}payVal47`,
												formId: `${country}payId47`,
											},
											{
												type: 'form',
												formText: `Bằng việc “đánh dấu chọn” vào ô dưới đây, Bạn cho phép Chúng tôi được gửi email cho Bạn để cung cấp thông tin về các sản phẩm và/hoặc dịch vụ mà Bạn có thể quan tâm (bao gồm nhưng không giới hạn bởi các thông tin về sản phẩm mới, các chương trình khuyến mại và/hoặc ưu đãi trong tương lai…). Bạn cũng có thể hủy “sự cho phép” trên bất kỳ lúc nào theo hướng dẫn được đính kèm trong mỗi email và phù hợp với chính sách quyền riêng tư được công bố trên trang web.`,
												formVal: `${country}payVal48`,
												formId: `${country}payId48,`,
											},
										]
									},
									{
										type:"ePay",
										title:"Epay Installment",
										terms: [
											{
												type: 'form',
												noMargin: true,
												formList: ["Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Điều khoản và điệu kiện giao dịch </a></span>`,
												formVal: `${country}payVal71`,
												formId: `${country}payId71`,
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Chính sách về quyền riêng tư của trang web</a></span>`,
												formVal: `${country}payVal72`,
												formId: `${country}payId72`,
											},
											{
												type: 'form',
												formText: `Bằng việc “đánh dấu chọn” vào ô dưới đây, Bạn cho phép Chúng tôi được gửi email cho Bạn để cung cấp thông tin về các sản phẩm và/hoặc dịch vụ mà Bạn có thể quan tâm (bao gồm nhưng không giới hạn bởi các thông tin về sản phẩm mới, các chương trình khuyến mại và/hoặc ưu đãi trong tương lai…). Bạn cũng có thể hủy “sự cho phép” trên bất kỳ lúc nào theo hướng dẫn được đính kèm trong mỗi email và phù hợp với chính sách quyền riêng tư được công bố trên trang web.`,
												formVal: `${country}payVal73`,
												formId: `${country}payId73`,
											},
										]
									},
									{
										type:"momo",
										title:"Thanh toán bằng MoMo",
										terms: [
											{
												type: 'form',
												noMargin: true,
												formList: ["Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Điều khoản và điệu kiện giao dịch </a></span>`,
												formVal: `${country}payVal91`,
												formId: `${country}payId91`,
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Chính sách về quyền riêng tư của trang web</a></span>`,
												formVal: `${country}payVal92`,
												formId: `${country}payId92`,
											},
											{
												type: 'form',
												formText: `Bằng việc “đánh dấu chọn” vào ô dưới đây, Bạn cho phép Chúng tôi được gửi email cho Bạn để cung cấp thông tin về các sản phẩm và/hoặc dịch vụ mà Bạn có thể quan tâm (bao gồm nhưng không giới hạn bởi các thông tin về sản phẩm mới, các chương trình khuyến mại và/hoặc ưu đãi trong tương lai…). Bạn cũng có thể hủy “sự cho phép” trên bất kỳ lúc nào theo hướng dẫn được đính kèm trong mỗi email và phù hợp với chính sách quyền riêng tư được công bố trên trang web.`,
												formVal: `${country}payVal93`,
												formId: `${country}payId93`,
											},
										]
									},
									{
										type:"cashOnDelevery",
										title:"Cash on Delivery",
										terms: [
											{
												type: 'form',
												noMargin: true,
												formList: ["Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Điều khoản và điệu kiện giao dịch </a></span>`,
												formVal: `${country}payVal61`,
												formId: `${country}payId61`
											},
											{
												type: 'form',
												formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">Chính sách về quyền riêng tư của trang web</a></span>`,
												formVal: `${country}payVal62`,
												formId: `${country}payId62`,
											},
											{
												type: 'form',
												formText: `Nhận tin nhắn quảng cáo (Tùy chọn)
																	<br/> Tôi đồng ý được LGE và các chi nhánh của LGE liên hệ về những tin tức mới nhất và các ưu đãi đặc biệt thông qua email, SMS, thông báo đẩy, cuộc gọi điện thoại, các trang mạng xã hội và / hoặc các hình thức tin nhắn điện tử khác.
																	<br/> Tôi có thể thay đổi quyết định của mình bất kỳ lúc nào bằng cách làm theo các hướng dẫn được đưa ra trong từng kênh liên lạc, bao gồm nhưng không giới hạn ở email và theo Chính sách quyền riêng tư của LGE.`,
												formVal: `${country}payVal63`,
												formId: `${country}payId63`,
											},
										]
									},
								], country)                            
							default 
								+paymentBox([
									{
										type:"creditCard",
										title:"Credit Card",
									},
									{
										type:"payPal",
										title:"PayPal",
										fillIcon:true
									},
									{
										type:"klarna",
										title:"Klarna",
									}
								], country)

			.buy-checkout__item.buy-checkout__item--payment.buy-checkout__item--complete(style="display: none;")
				+checkoutStep({
					title:"Payment",
					current:"3",
					total:"3",
					type: "checked"
				})
				case country
					when 'vn'
						+paymentComplete([
							{
								src: 'icon-payment-domestic-card-vn-22-20',
								type: 'domesticCard',
								title: 'Alepay ATM',
								isBetween: true
							},
							{
								src: 'icon-payment-credit-card-vn-106-20',
								type: 'creditCard',
								title: 'Alepay Credit Card',
								isBetween: true
							},
							{
								src: 'icon-payment-installment-vn-20-20',
								type: 'installment',
								title: 'Trả góp 0% qua thẻ tín dụng(Visa, Master, JCB)',
								isBetween: true
							},
							{
								src: 'icon-payment-credit-card-vn-106-20',
								type: 'creditCard',
								title: 'Thanh toán bằng thẻ quốc tế (Visa, MasterCard, JCB)',
								isBetween: true
							},
							{
								src: 'icon-payment-chuyểnKhoản-vn-19-20',
								type: 'ChuyểnKhoản',
								title: 'Chuyển khoản (qua QR code hoặc số tài khoản)',
								isBetween: true
							},
							{
								src: 'icon-payment-domestic-card-vn-22-20',
								type: 'domesticCard',
								title: 'Thẻ ATM nội địa/ Internet banking',
								isBetween: true,
							},
							{
								src: 'icon-payment-installment-vn-20-20',
								type: 'ePay',
								title: 'Epay Installment',
								isBetween: true,
							},
							{
								src: 'icon-payment-momo-vn-22-20',
								type: 'momo',
								title: 'Thanh toán bằng MoMo',
								isBetween: true,
								contents: [
									{
										type: 'form',
										formList: ["Vui lòng tích vào các ô bên dưới nếu bạn đồng ý với Điều khoản và Điều kiện của chúng tôi."]
									},
									{
										type: 'form',
										formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Điều khoản và điệu kiện giao dịch </a></span>`,
										formVal: `${country}Val_01`,
										formId: `${country}EmaliId_01`
									},
									{
										type: 'form',
										formText: `Bằng việc “đánh dấu chọn” vào ô dưới đây, Bạn cho phép Chúng tôi được gửi email cho Bạn để cung cấp thông tin về các sản phẩm và/hoặc dịch vụ mà Bạn có thể quan tâm (bao gồm nhưng không giới hạn bởi các thông tin về sản phẩm mới, các chương trình khuyến mại và/hoặc ưu đãi trong tương lai…). Bạn cũng có thể hủy “sự cho phép” trên bất kỳ lúc nào theo hướng dẫn được đính kèm trong mỗi email và phù hợp với chính sách quyền riêng tư được công bố trên trang web.`,
										formVal: `${country}Val_02`,
										formId: `${country}EmaliI_d2`
									},
								]
							},
						])
					default
						+paymentComplete([
							{
								src: 'icon-mylg-visa-31-23',
								type: 'creditCard',
								title: 'VISA Xxxxxxxxx6995',
								date: '05/24',
								isBetween: false,
								contents: [
									{
										type: 'form',
										formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
										formVal: 'val01',
										formId: 'emaliId1'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
										formVal: 'val02',
										formId: 'emaliId2'
									}
								]
							},
							{
								src: 'icon-payment-paypal-74-20',
								type: 'payPal',
								title: 'Buy now and pay later with pay in 3',
								isBetween: false,
								contents: [
									{
										type: 'paypalList'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
										formVal: 'val03',
										formId: 'emaliId3'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
										formVal: 'val04',
										formId: 'emaliId4'
									}
								]
							},
							{
								src: 'icon-payment-klarna-54-20',
								type: 'klarna',
								title: 'Buy now, pay later!',
								isBetween: false,
								contents: [
									{
										type: 'form',
										formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
										formVal: 'val05',
										formId: 'emaliId5'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
										formVal: 'val06',
										formId: 'emaliId6'
									},
									{
										type: 'form',
										formText: `<span class="unline-red">By proceeding, you will be presented with payment options provided by Klarna. By continuing, I accept the terms of the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/user" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Klarna Shopping Service</span></a> and confirm that I have read the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/privacy" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Privacy Notice</span></a> and the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/cookie_purchase" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Cookie Notice. *</span></a></span>`,
										formVal: 'val07',
										formId: 'emaliId7'
									}
								]
							}
						])
