extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_pop-msg.pug

block meta 
    - var componentId = "CT0303"
    - var componentName = "Cart Delivery"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")


block scripts
    script(src=componentId+".js" type="module")

block content
    // Component Markup
    include ./CT0303-inc.pug
    .CT000C
        .guide-text-option Option : Checkout Delivery(default)
        +CT0303("default")
        .guide-text-option Option : Checkout Delivery(de)
        +CT0303("default", "de")
        .guide-text-option Option : Checkout Delivery(fr)
        +CT0303("default", "fr")
        .guide-text-option Option : Checkout Delivery(it)
        +CT0303("default", "it")
        .guide-text-option Option : Checkout Delivery(au)
        +CT0303("default", "au")
        .guide-text-option Option : Checkout Delivery(vn)
        +CT0303("default", "vn")
        .guide-text-option Option : Checkout Delivery(br)
        +CT0303("default", "br")
        .guide-text-option Option : Checkout Delivery(mx)
        +CT0303("default", "mx")
        //- .guide-text-option Option : Checkout Delivery(pa)
        //- +CT0303("default", "pa")
        .guide-text-option Option : Checkout Delivery(cl)
        +CT0303("default", "cl")
        .guide-text-option Option : Checkout Delivery(at)
        +CT0303("default", "at")
        .guide-text-option Option : Checkout Delivery(nl)
        +CT0303("default", "nl")
        .guide-text-option Option : Checkout Delivery(cz)
        +CT0303("default", "cz")
        .guide-text-option Option : Checkout Delivery(ch_de)
        +CT0303("default", "ch_de")
        .guide-text-option Option : Checkout Delivery(hu)
        +CT0303("default", "hu")
        .guide-text-option Option : Checkout Delivery(pl)
        +CT0303("default", "pl")
        .guide-text-option Option : Checkout Delivery(se)
        +CT0303("default", "se")
        .guide-text-option Option : Checkout Delivery(pe)
        +CT0303("default", "pe")
        //- .guide-text-option Option : Checkout Delivery(cac_en)
        //- +CT0303("default", "cac_en")
        .guide-text-option Option : Checkout Delivery(pa(cac_en))
        +CT0303("default", "cac_en")
        .guide-text-option Option : Checkout Delivery(eg_en)
        +CT0303("default", "eg_en")
        .guide-text-option Option : Checkout Delivery(in)
        +CT0303("default", "in")
        .guide-text-option Option : Checkout Delivery(tw)
        +CT0303("default", "tw")
        .guide-text-option Option : Checkout Delivery(ca)
        +CT0303("default", "ca")
        .guide-text-option Option : Checkout Delivery(es)
        +CT0303("default", "es")
        .guide-text-option Option : Checkout Delivery(jp)
        +CT0303("default", "jp")
        .guide-text-option Option : Checkout Delivery(id)
        +CT0303("default", "id")
        .guide-text-option Option : Checkout Delivery(cn)
        +CT0303("default", "cn")
        .guide-text-option Option : Checkout Delivery(hk)
        +CT0303("default", "hk")
        .guide-text-option Option : Checkout Delivery(th)
        +CT0303("default", "th")
        .guide-text-option Option : Checkout Delivery(kz)
        +CT0303("default", "kz")
        .guide-text-option Option : Checkout Delivery(co)
        +CT0303("default", "co")
        .guide-text-option Option : Checkout Delivery(pt)
        +CT0303("default", "pt")
        .guide-text-option Option : Checkout Delivery(sa)
        +CT0303("default", "sa")
        .guide-text-option Option : Checkout Delivery(tk)
        +CT0303("default", "tk")
        .guide-text-option Option : Checkout Delivery(sg)
        +CT0303("default", "sg")
        .guide-text-option Option : Checkout Delivery(ph)
        +CT0303("default", "ph")
        .guide-text-option Option : Checkout Delivery(za)
        +CT0303("default", "za")
        .guide-text-option Option : Checkout Delivery(before)
        +CT0303("before")
        .guide-text-option Option : Checkout Delivery(complete)
        +CT0303("complete")

block modal
    .CT0019
        .CT-KlarnaPopup
            .mem-modal.buy-klarna
                +pop-msg-standard({id : "KlarnaPopup", headline:"Pay with Klarna", size: "large"})
                    .buy-klarna-step__title
                        span.font-w-normal-16.font-m-normal-16 Shop now, Pay later with Klarna.
                    .mem-scroll 
                        .mem-scroll__container 
                            .mem-scroll__item.buy-klarna-step
                                .buy-klarna-step__subtitle
                                    span.font-w-normal-20.font-m-normal-16 Here's how it works:
                                ul.buy-klarna-step__list
                                    li.buy-klarna-step__item
                                        .buy-klarna-step__num
                                            span.font-w-normal-16.font-m-normal-16 Step 1
                                        .buy-klarna-step__desc
                                            span.font-w-normal-16.font-m-normal-14 Add products to your cart and select “Klarna” when you checkout
                                    li.buy-klarna-step__item
                                        .buy-klarna-step__num
                                            span.font-w-normal-16.font-m-normal-16 Step 2
                                        .buy-klarna-step__desc
                                            span.font-w-normal-16.font-m-normal-14 Enter a few personal details and you'll know instantly if you're approved
                                    li.buy-klarna-step__item
                                        .buy-klarna-step__num
                                            span.font-w-normal-16.font-m-normal-16 Step 3
                                        .buy-klarna-step__desc
                                            span.font-w-normal-16.font-m-normal-14 Klarna will send you an email confirmation and reminders when it's time to pay and you can manage your orders and payments in the Klarna app.

                            .mem-scroll__item.buy-klarna-desc
                                .buy-klarna-desc__item
                                    .buy-klarna-desc__title
                                        span.font-w-normal-24.font-m-normal-16 Pay in 3 interest-free instalments
                                    .buy-klarna-desc__bodycopy
                                        p.font-w-normal-16.font-m-normal-16
                                            | Spread the cost of your purchase into 3 interest-free instalments. The first payment is made at point of purchase, with remaining instalments scheduled automatically every 30 days. No interest or fees. Select the Klarna option and enter your debit or credit card information. To check your eligibility, Klarna will perform a soft search with a credit reference agency. This will not affect your credit score.
                                .buy-klarna-desc__item
                                    .buy-klarna-desc__title
                                        span.font-w-normal-24.font-m-normal-16 No interest. No fees. No impact to your credit score.
                                    ul.buy-klarna-desc__list
                                        li
                                            span.font-w-normal-16.font-m-normal-16 A new way to pay that's an alternative to a credit card.
                                        li
                                            span.font-w-normal-16.font-m-normal-16 3 instalments gives you flexibility to shop without interest or hidden fees.
                                        li
                                            span.font-w-normal-16.font-m-normal-16 Not making your payment on time could affect your ability to use Klarna in the future.
                                        li
                                            span.font-w-normal-16.font-m-normal-16 Debt collection agencies are used as a last resort.
                                    .buy-klarna-desc__info
                                        span.font-w-normal-14.font-m-normal-14 You must be 18+ and a UK resident to be eligible for this credit offer. 
                                            a(href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en-GB/paylaterin3" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="") Pay in 3 Terms and Conditions
                                .buy-klarna-desc__item.buy-klarna-about
                                    .buy-klarna-desc__title
                                        span.font-w-normal-24.font-m-normal-16 About Klarna
                                    .buy-klarna-desc__bodycopy
                                        p.font-w-normal-16.font-m-normal-16
                                            |
                                            span.buy-klarna-about__bold LG has partnered with Klarna to help give our customers flexible payment options for eligible purchases on LG.com/uk.
                                            |
                                            br
                                            | Please spend responsibly. Borrowing more than you can afford could seriously affect your financial status. Make sure you can afford to make your monthly repayments on time. [Merchant's legal entity name] is not a lender and acts only as an introducer. The credit product is provided by Klarna Bank AB (publ). Credit is only available to permanent UK residents aged 18 and over, depending on their status. Terms and conditions apply. Please note that Pay in 30 days and Pay in 3 instalments are not regulated by the FCA.
                                .buy-klarna-desc__item.buy-klarna-more
                                    .buy-klarna-desc__title
                                        span.font-w-normal-24.font-m-normal-16 Frequently asked questions
                                    .buy-klarna-desc__bodycopy
                                        p.font-w-normal-16.font-m-normal-16 Visit the Klarna FAQ page to find out more about using Klarna. 
                                        +linkButton({href: 'https://www.klarna.com/uk/customer-service/', type:'text', color: 'black', name: 'Learn more', uppercase: false, underline: true})
                                .buy-klarna-desc__item.buy-klarna-more
                                    .buy-klarna-desc__title
                                        span.font-w-normal-24.font-m-normal-16 Safe and secure
                                    .buy-klarna-desc__bodycopy
                                        p.font-w-normal-16.font-m-normal-16 With Klarna, you are always covered through Klarna's Buyer Protection policy. Modern safeguards protect your information to prevent unauthorized purchases.
                                        +linkButton({href: 'https://www.klarna.com/uk/buyer-protection-description/', type:'text', color: 'black', name: 'Privacy Policy', uppercase: false, underline: true})

        .CT-KlarnaPopup.at
            .mem-modal.buy-klarna
                +pop-msg-standard({id : "KlarnaPopup-at", headline:"Mit Klarna bezahlen", size: "large"})
                    .buy-klarna-step__title
                        span.font-w-normal-16.font-m-normal-16 Jetzt einkaufen und später mit Klarna bezahlen.
                    .mem-scroll 
                        .mem-scroll__container 
                            .mem-scroll__item.buy-klarna-step
                                .buy-klarna-step__subtitle
                                    span.font-w-normal-20.font-m-normal-16 So funktioniert das Bezahlen mit Klarna :
                                ul.buy-klarna-step__list
                                    li.buy-klarna-step__item.ico1
                                        .buy-klarna-step__num
                                            span.font-w-normal-16.font-m-normal-16 Schritt 1
                                        .buy-klarna-step__desc
                                            span.font-w-normal-16.font-m-normal-14 Alle gewünschten Artikel in den Warenkorb legen und an der Kassa „Klarna“ als Bezahlmethode auswählen.
                                    li.buy-klarna-step__item.ico2
                                        .buy-klarna-step__num
                                            span.font-w-normal-16.font-m-normal-16 Schritt 2
                                        .buy-klarna-step__desc
                                            span.font-w-normal-16.font-m-normal-14 Erforderliche persönliche eingeben. Anschließend erfahren, ob die genehmigt wurde.
                                    li.buy-klarna-step__item.ico3
                                        .buy-klarna-step__num
                                            span.font-w-normal-16.font-m-normal-16 Schritt 3
                                        .buy-klarna-step__desc
                                            span.font-w-normal-16.font-m-normal-14 Klarna schickt die Bestellbestätigung per E-Mail und erinnert zusätzlich daran, sobald es an der Zeit ist, zu bezahlen.

                            .mem-scroll__item.buy-klarna-desc
                                .buy-klarna-desc__item
                                    .buy-klarna-desc__title.tit1
                                        span.font-w-normal-24.font-m-normal-16 Häufig gestellte Fragen
                                    .buy-klarna-desc__bodycopy
                                        p.font-w-normal-16.font-m-normal-16 Weitere Informationen zu Klarnas Zahlungsmöglichkeiten gibt es 
                                        a.buy-klarna-desc__link.cmp-button.c-button.c-button--text-underline.red(href="#" target="_blank" data-cmp-data-layer data-link-url="")
                                            span.cmp-button__text.c-button__text hier in den FAQ‘s
                                .buy-klarna-desc__item
                                    .buy-klarna-desc__title.tit2
                                        span.font-w-normal-24.font-m-normal-16 Datenschutzerklärung
                                    .buy-klarna-desc__bodycopy
                                        p.font-w-normal-16.font-m-normal-16
                                            a.buy-klarna-desc__link.cmp-button.c-button.c-button--text-underline.red(href="#" target="_blank" data-cmp-data-layer data-link-url="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/de_at/privacy/")
                                                span.cmp-button__text.c-button__text https://cdn.klarna.com/1.0/shared/content/legal/terms/0/de_at/privacy/
                    .button
                        +defaultButton({name: 'Close', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
        //- AU Afterpay popup
        .CT-Afterpay
            .mem-modal.buy-Afterpay
                +pop-msg-standard({id : "AfterpayPopup", headline:"Pay with Afterpay", size: "large", headerBorder: true})
                    .mem-scroll 
                        .mem-scroll__container 
                            .buy-Afterpay__header
                                img.buy-Afterpay__logo(src=`../../assets/icon/icon-afterpay-popup-logo-240-50.svg`, alt="icon-payment-au-zip-pay")
                                p.font-w-normal-24.font-m-normal-16 Shop now. Pay later. Always interest-free.
                                ul.buy-Afterpay__list
                                    li.buy-Afterpay__item 
                                        i.buy-Afterpay__icon.buy-Afterpay__icon--cart
                                            span.sr-only cart
                                        p.font-w-normal-16.font-m-normal-14 Add your Favourites to cart
                                    li.buy-Afterpay__item 
                                        i.buy-Afterpay__icon.buy-Afterpay__icon--checkout
                                            span.sr-only checkout
                                        p.font-w-normal-16.font-m-normal-14 Select Afterpay at checkout
                                    li.buy-Afterpay__item 
                                        i.buy-Afterpay__icon.buy-Afterpay__icon--account
                                            span.sr-only account
                                        p.font-w-normal-16.font-m-normal-14 Log into or create your Afterpay account, with instant approval decision
                                    li.buy-Afterpay__item 
                                        i.buy-Afterpay__icon.buy-Afterpay__icon--installment
                                            span.sr-only installment
                                        p.font-w-normal-16.font-m-normal-14 Your purchase will be split into 4 payments, payable every 2 weeks
                            .buy-Afterpay__text
                                p.font-w-normal-16.font-m-normal-16 All you need to appply is to have a debit or credit card, to be over 18 years of age, and to be a resident of Australia.
                                    |
                                    br 
                                    | 
                                    br
                                    | Late fees and additional eligibility criteria apply. The first payment may be due at the time of purchase. For complete terms visit afterpay.com/en-AU/terms.
                                .buy-Afterpay__text-info
                                    p.font-w-normal-14.font-m-normal-14 LG Electronics Australia is offering Afterpay to online customers for orders up to the value of $3,000.
                                    p.font-w-normal-14.font-m-normal-14 Click below to find out more : 
                                        a.buy-Afterpay__text-info__link.cmp-button.c-button.c-button--text-underline.red(href="#" target="_blank" data-cmp-data-layer data-link-url="")
                                            span.cmp-button__text.c-button__text How it Work and FAQs
                            .button.align-text-center
                                +defaultButton({name: 'Close', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
