include ./CT0303-inc.pug

mixin CT0303(option=false, country=false)
    .CT0303
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: ""
                })

        if(option === "complete") 
            .buy-checkout__item.buy-checkout__item--coupon.buy-checkout__item--complete
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "checked",
                })         

        if(option === "default")
            .buy-checkout__item.buy-checkout__item--payment
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step03.c-checkout-step03-active
                    ul.c-checkout-step03-payment
                        case country
                            when 'sg'
                                +paymentBox([
                                    {
                                        type:"stripe",
                                        title:"Pay by Stripe",
                                    },
                                    {
                                        type:"atome",
                                        title:"Pay 1/3 today, 0% interest, 0 processing fees",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span>I have read and understand the Terms and Conditions of Purchase.
                                                                <a class="cmp-button c-button c-button--text-underline" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">
                                                                    <span class="cmp-button__text c-button__text">Read More</span>
                                                                </a>
                                                            </span>`,
                                                formVal: `${country}Val04`,
                                                formId: `${country}EmaliId4`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span>Receipt of marketing messages (Optional) <br/>I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE
                                                                <a class="cmp-button c-button c-button--text-underline" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">
                                                                    <span class="cmp-button__text c-button__text">Privacy Policy.</span>
                                                                </a>
                                                            </span>`,
                                                formVal: `${country}Val05`,
                                                formId: `${country}EmaliId5`
                                            },
                                        ]
                                    }
                                ], country)                                
                                //- +paymentBox([
                                    {
                                        type:"creditCard",
                                        title:"Credit card",
                                    },
                                    {
                                        type:"grabPay",
                                        title:"Grabpay",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Terms and Conditions of Purchase</span></a></span>`,
                                                formVal: `${country}Val01`,
                                                formId: `${country}EmaliId1`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">Receipt of marketing msg</span>`,
                                                formVal: `${country}Val02`,
                                                formId: `${country}EmaliId2`
                                            },
                                        ]
                                    },
                                    {
                                        type:"payNow",
                                        title:"Paynow",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Terms and Conditions of Purchase</span></a></span>`,
                                                formVal: `${country}Val01`,
                                                formId: `${country}EmaliId1`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">Receipt of marketing msg</span>`,
                                                formVal: `${country}Val02`,
                                                formId: `${country}EmaliId2`
                                            },
                                        ]
                                    },
                                    {
                                        type:"applePay",
                                        title:"Apple Pay",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Terms and Conditions of Purchase</span></a></span>`,
                                                formVal: `${country}Val01`,
                                                formId: `${country}EmaliId1`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">Receipt of marketing msg</span>`,
                                                formVal: `${country}Val02`,
                                                formId: `${country}EmaliId2`
                                            },
                                        ]
                                    },
                                    {
                                        type:"sgGooglePay",
                                        title:"Google Pay",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Terms and Conditions of Purchase</span></a></span>`,
                                                formVal: `${country}Val01`,
                                                formId: `${country}EmaliId1`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">Receipt of marketing msg</span>`,
                                                formVal: `${country}Val02`,
                                                formId: `${country}EmaliId2`
                                            },
                                        ]
                                    },
                                //- ], country)                                
                            default 
                                +paymentBox([
                                    {
                                        type:"creditCard",
                                        title:"Credit Card",
                                    },
                                    {
                                        type:"payPal",
                                        title:"PayPal",
                                        fillIcon:true
                                    },
                                    {
                                        type:"klarna",
                                        title:"Klarna",
                                    }
                                ], country)

            .buy-checkout__item.buy-checkout__item--payment.buy-checkout__item--complete(style="display: none;")
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "checked"
                })
                case country    
                    when 'sg'
                        +paymentComplete([
                            {
                                src: 'icon-payment-credit-card-es-106-20',
                                type: 'stripe',
                                title: 'Pay by Stripe',
                                isBetween: true,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span>I have read and understood the Privacy Policy and Cookie Policy.
                                                        <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">
                                                            <span class="cmp-button__text c-button__text">Read More</span>
                                                        </a>
                                                    </span>`,
                                        formVal: `${country}Val01`,
                                        formId: `${country}EmaliId1`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span>I have read and understand the Terms and Conditions of Purchase.
                                                        <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">
                                                            <span class="cmp-button__text c-button__text">Read More</span>
                                                        </a>
                                                    </span>`,
                                        formVal: `${country}Val02`,
                                        formId: `${country}EmaliId2`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span>Receipt of marketing messages (optional) <br/>I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE 
                                                        <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">
                                                            <span class="cmp-button__text c-button__text">Privacy Policy.</span>
                                                        </a>
                                                    </span>`,
                                        formVal: `${country}Val03`,
                                        formId: `${country}EmaliId3`
                                    },
                                ]
                            },
                            {
                                src: 'icon-payment-atome-sg-273-60',
                                type: 'atome',
                                title: 'Pay 1/3 today, 0% interest, 0 processing fees',
                                isBetween: true,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span>I have read and understood the Privacy Policy and Cookie Policy.
                                                        <a class="cmp-button c-button c-button--text-underline" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">
                                                            <span class="cmp-button__text c-button__text">Read More</span>
                                                        </a>
                                                    </span>`,
                                        formVal: `${country}Val04`,
                                        formId: `${country}EmaliId4`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span>I have read and understand the Terms and Conditions of Purchase.
                                                        <a class="cmp-button c-button c-button--text-underline" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">
                                                            <span class="cmp-button__text c-button__text">Read More</span>
                                                        </a>
                                                    </span>`,
                                        formVal: `${country}Val05`,
                                        formId: `${country}EmaliId5`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span>Receipt of marketing messages (optional) <br/>I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE 
                                                        <a class="cmp-button c-button c-button--text-underline" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="">
                                                            <span class="cmp-button__text c-button__text">Privacy Policy.</span>
                                                        </a>
                                                    </span>`,
                                        formVal: `${country}Val06`,
                                        formId: `${country}EmaliId6`
                                    },
                                ]
                            }
                        ])
                        //- +paymentComplete([
                            {
                                src: 'icon-payment-credit-card-sg-106-20',
                                type: 'creditCard',
                                title: 'Credit card',
                                isBetween: true,
                                terms: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Terms and Conditions of Purchase</span></a></span>`,
                                        formVal: `${country}Val01`,
                                        formId: `${country}EmaliId1`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing msg</span>`,
                                        formVal: `${country}Val02`,
                                        formId: `${country}EmaliId2`
                                    },
                                ]
                            }
                        //- ])