include ./CT0303-inc.pug

mixin CT0303(option=false, country=false)
    .CT0303
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: ""
                })

        if(option === "complete") 
            .buy-checkout__item.buy-checkout__item--coupon.buy-checkout__item--complete
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "checked",
                })         

        if(option === "default")
            .buy-checkout__item.buy-checkout__item--payment
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step03.c-checkout-step03-active
                    ul.c-checkout-step03-payment
                        case country
                            when 'fr'
                                +paymentBox([
                                    {
                                        type:"alma",
                                        title:"Paiement en plusieurs fois avec ALMA",
                                        lists: [
                                            {
                                                title: 'En 3 fois',
                                                id: 'En3fois',
                                                value: 'En3fois',
                                                item: [
                                                    {
                                                        date: '03/03/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/04/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/05/2023',
                                                        price: '373,18 €'
                                                    },
                                                ]
                                            },
                                            {
                                                title: 'En 4 fois',
                                                id: 'En4fois',
                                                value: 'En4fois',
                                                item: [
                                                    {
                                                        date: '03/03/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/04/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/05/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/06/2023',
                                                        price: '373,18 €'
                                                    },
                                                ]
                                            },
                                            {
                                                title: 'En 10 fois',
                                                id: 'En10fois',
                                                value: 'En10fois',
                                                item: [
                                                    {
                                                        date: '03/03/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/04/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/05/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/06/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/07/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/08/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/09/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/10/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/11/2023',
                                                        price: '373,18 €'
                                                    },
                                                    {
                                                        date: '03/12/2023',
                                                        price: '373,18 €'
                                                    },
                                                ]
                                            }
                                        ],
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'accepte les Conditions Générales de Vente.</span>`,
                                                formVal: `${country}Val1`,
                                                formId: `${country}EmaliId1`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'ai pris connaissance des politiques de confidentialité.</span>`,
                                                formVal: `${country}Val2`,
                                                formId: `${country}EmaliId2`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'autorise LG Electronics France à procéder au traitement de mes données personnelles à des fins de prospection.</span>`,
                                                formVal: `${country}Val3`,
                                                formId: `${country}EmaliId3`
                                            }
                                        ]
                                    },
                                    {
                                        type:"creditCard",
                                        title:"Carte bancaire",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'accepte les Conditions Générales de Vente.</span>`,
                                                formVal: `${country}Val4`,
                                                formId: `${country}EmaliId4`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'ai pris connaissance des politiques de confidentialité.</span>`,
                                                formVal: `${country}Val5`,
                                                formId: `${country}EmaliId5`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'autorise LG Electronics France à procéder au traitement de mes données personnelles à des fins de prospection.</span>`,
                                                formVal: `${country}Val6`,
                                                formId: `${country}EmaliId6`
                                            }
                                        ]
                                    },
                                    {
                                        type:"payPal",
                                        title:"PayPal",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'accepte les Conditions Générales de Vente.</span>`,
                                                formVal: `${country}Val7`,
                                                formId: `${country}EmaliId7`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'ai pris connaissance des politiques de confidentialité.</span>`,
                                                formVal: `${country}Val8`,
                                                formId: `${country}EmaliId8`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J'autorise LG Electronics France à procéder au traitement de mes données personnelles à des fins de prospection.</span>`,
                                                formVal: `${country}Val9`,
                                                formId: `${country}EmaliId9`
                                            }
                                        ]
                                    },
                                    {
                                        type:"bankTransfer",
                                        title:"Bank transfer",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J’accepte les Conditions Générales de Vente.</span>`,
                                                formVal: `${country}Val10`,
                                                formId: `${country}EmaliId10`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">J’autorise LG Electronics France à procéder au traitement de mes données personnelles à des fins de prospection.</span>`,
                                                formVal: `${country}Val11`,
                                                formId: `${country}EmaliId11`
                                            }
                                        ]
                                    },
                                ], country)                              
                            default 
                                +paymentBox([
                                    {
                                        type:"creditCard",
                                        title:"Credit Card",
                                    },
                                    {
                                        type:"payPal",
                                        title:"PayPal",
                                        fillIcon:true
                                    },
                                    {
                                        type:"klarna",
                                        title:"Klarna",
                                    }
                                ], country)

            .buy-checkout__item.buy-checkout__item--payment.buy-checkout__item--complete(style="display: none;")
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "checked"
                })
                case country
                    when 'fr'
                        +paymentComplete([
                            {
                                src: 'icon-payment-alma-fr-42-20',
                                type: 'alma',
                                title: 'Paiement en plusieurs fois avec ALMA',
                                isBetween: true,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-cmp-data-layer data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type=""><span class="cmp-button__text c-button__text">J'accepte les Conditions Générales de Vente.</span></a></span>`,
                                        formVal: `${country}Val1`,
                                        formId: `${country}EmaliId1`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-cmp-data-layer data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type=""><span class="cmp-button__text c-button__text">J'ai pris connaissance des politiques de confidentialité.</span></a></span>`,
                                        formVal: `${country}Val2`,
                                        formId: `${country}EmaliId2`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">J'autorise LG Electronics France à procéder au traitement de mes données personnelles à des fins de prospection.</span>`,
                                        formVal: `${country}Val3`,
                                        formId: `${country}EmaliId3`
                                    }
                                ]
                            },
                            {
                                src: 'icon-payment-credit-card-fr-106-20',
                                type: 'creditCard',
                                title: 'Carte bancaire',
                                isBetween: true,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-cmp-data-layer data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type=""><span class="cmp-button__text c-button__text">J'accepte les Conditions Générales de Vente.</span></a></span>`,
                                        formVal: `${country}Val4`,
                                        formId: `${country}EmaliId4`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-cmp-data-layer data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type=""><span class="cmp-button__text c-button__text">J'ai pris connaissance des politiques de confidentialité.</span></a></span>`,
                                        formVal: `${country}Val5`,
                                        formId: `${country}EmaliId5`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">J'autorise LG Electronics France à procéder au traitement de mes données personnelles à des fins de prospection.</span>`,
                                        formVal: `${country}Val6`,
                                        formId: `${country}EmaliId6`
                                    }
                                ]
                            },
                            {
                                src: 'icon-payment-paypal-74-20',
                                type: 'payPal',
                                title: 'PayPal',
                                isBetween: true,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-cmp-data-layer data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type=""><span class="cmp-button__text c-button__text">J'accepte les Conditions Générales de Vente.</span></a></span>`,
                                        formVal: `${country}Val7`,
                                        formId: `${country}EmaliId7`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red"><a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-cmp-data-layer data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type=""><span class="cmp-button__text c-button__text">J'ai pris connaissance des politiques de confidentialité.</span></a></span>`,
                                        formVal: `${country}Val8`,
                                        formId: `${country}EmaliId8`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">J'autorise LG Electronics France à procéder au traitement de mes données personnelles à des fins de prospection.</span>`,
                                        formVal: `${country}Val9`,
                                        formId: `${country}EmaliId9`
                                    }
                                ]
                            }
                        ])
                    default
                        +paymentComplete([
                            {
                                src: 'icon-mylg-visa-31-23',
                                type: 'creditCard',
                                title: 'VISA Xxxxxxxxx6995',
                                date: '05/24',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val01',
                                        formId: 'emaliId1'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val02',
                                        formId: 'emaliId2'
                                    }
                                ]
                            },
                            {
                                src: 'icon-payment-paypal-74-20',
                                type: 'payPal',
                                title: 'Buy now and pay later with pay in 3',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'paypalList'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val03',
                                        formId: 'emaliId3'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val04',
                                        formId: 'emaliId4'
                                    }
                                ]
                            },
                            {
                                src: 'icon-payment-klarna-54-20',
                                type: 'klarna',
                                title: 'Buy now, pay later!',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val05',
                                        formId: 'emaliId5'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val06',
                                        formId: 'emaliId6'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">By proceeding, you will be presented with payment options provided by Klarna. By continuing, I accept the terms of the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/user" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Klarna Shopping Service</span></a> and confirm that I have read the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/privacy" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Privacy Notice</span></a> and the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/cookie_purchase" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Cookie Notice. *</span></a></span>`,
                                        formVal: 'val07',
                                        formId: 'emaliId7'
                                    }
                                ]
                            }
                            
                        ])
