include ./CT0303-inc.pug

mixin CT0303(option=false, country=false)
    .CT0303
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: ""
                })

        if(option === "complete") 
            .buy-checkout__item.buy-checkout__item--coupon.buy-checkout__item--complete
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "checked",
                })         

        if(option === "default")
            .buy-checkout__item.buy-checkout__item--payment
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step03.c-checkout-step03-active
                    ul.c-checkout-step03-payment
                        case country
                            when 'th'
                                +paymentBox([
                                    {
                                        type:"creditCard",
                                        title:"Credit/Debit card",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">การสั่งซื้อสินค้า ฉันได้อ่านและเข้าใจนโยบายการขายสินค้าของแอลจี อิเลคทรอนิคส์อย่างละเอียดแล้ว *<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">เพิ่มเติม</span></a></span>`,
                                                formVal: `${country}Val01`,
                                                formId: `${country}EmaliId1`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">การยอมรับข้อความทางการตลาด (ตัวเลือก)ข้าพเจ้ายินยอมที่จะ รับการติดต่อจาก LGE และ LGE Thailand เกี่ยวกับข่าวสารล่าสุดและข้อเสนอพิเศษผ่านทางอีเมล SMS การแจ้งเตือนแบบพุชและการสื่อสารทางโทรศัพท์ ข้าพเจ้าสามารถเปลี่ยนใจได้ทุกเมื่อโดยจะปฏิบัติตามคำแนะนำที่ระบุไว้ในแต่ละช่องทางการสื่อสาร ซึ่งรวมถึงแต่ไม่จำกัดแค่อีเมล และต้องสอดคล้องกับนโยบายความเป็นส่วนตัวของ LGE ถือเป็นสิ่งจำเป็นที่ LG Electronics (“LGE”) ต้องได้รับข้อมูลส่วนบุคคลของผู้ใช้งานที่เกี่ยวข้องกับการก่อตั้งหรือความสัมพันธ์ทางธุรกิจกับ ที่ต่อเนื่อง หรือการจัดหาผลิตภัณฑ์หรือบริการให้กับผู้ใช้งานเป็นครั้งคราว ผู้ใช้งานยินยอมให้ LGE ใช้ข้อมูลส่วนบุคคลของผู้ใช้งานเพื่อการทำงานและกิจกรรมที่เกี่ยวข้องกับผลิตภัณฑ์และ/หรือบริการต่างๆ รวมถึงด้านการตลาด ข้อมูลส่วนบุคคลของผู้ใช้งานนั้นอาจถูกถ่ายโอนให้กับบุคคลและ/หรือหน่วยงานดังต่อไปนี้เพื่อวัตถุประสงค์ใดๆ ที่กำหนดไว้ในข้อกำหนดนี้: บริษัทแม่ บริษัทในเครือ บริษัทสาขา บริษัทที่เกี่ยวข้อง ตัวแทน และ/หรือผู้จัดจำหน่ายของ LGE ผู้ใช้งานยินยอมให้ LGE ใช้ข้อมูลส่วนบุคคลของผู้ใช้งานเพื่อทำการตลาดผลิตภัณฑ์และบริการของ LGE เป็นครั้งคราว และเฉพาะข้อมูลส่วนบุคคลของผู้ใช้งานดังต่อไปนี้เท่านั้นที่จะนำมาใช้เพื่อจุดประสงค์ด้านการตลาด: (ก) ชื่อ เพศ วันที่ของ วันเดือนปีเกิด ส่วนหนึ่งของบัตรประจำตัวประชาชน และ/หรือหมายเลขประจำตัวประชาชน (ข) ข้อมูลการติดต่อ (รวมถึงที่อยู่ของที่พักอาศัยและที่อยู่ติดต่อ พุชแอพ SMS หมายเลขโทรศัพท์และที่อยู่อีเมล) และ (ค) ข้อมูลเกี่ยวกับผลิตภัณฑ์และ/หรือบริการที่ผู้ใช้งานได้ซื้อหรือสมัครใช้งาน รวมถึงช่องทางการจัดจำหน่ายต่างๆ ผู้ใช้งานมีสิทธิที่จะ: (ก) สอบถามถึงและตรวจทานข้อมูลส่วนบุคคลของตน (ข) สิทธิในการขอสำเนาข้อมูลส่วนบุคคลของตน (ค) สิทธิในการเพิ่มเติมหรือแก้ไขข้อมูลส่วนบุคคลของตน (ง) สิทธิในการเรียกร้องให้ยุติการดำเนินการเก็บรวบรวม การประมวลผล หรือการใช้ข้อมูลส่วนบุคคลของตน และ (จ) สิทธิในการลบข้อมูลส่วนบุคคลของตน ผู้ใช้งานอาจส่งคำขอข้างต้นเป็นลายลักษณ์อักษรตามข้อกำหนดของ<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">นโยบายความเป็นส่วนตัวของ</span></a>LGE</span>`,
                                                formVal: `${country}Val02`,
                                                formId: `${country}EmaliId2`,
                                            },
                                        ]
                                    },
                                    {
                                        type:"thaiQr",
                                        title:"Thai QR",
                                    },
                                    {
                                        type:"thInstallment",
                                        title:"Installment",
                                        list: [
                                            {
                                                title: "",
                                                add: false,
                                                name: "thbank",
                                                item: [
                                                    {
                                                        type: "kasikorn",
                                                        subname: "Kasikorn Bank"
                                                    },
                                                    {
                                                        type: "cross",
                                                        subname: "Cross Bank"
                                                    },
                                                ]
                                            }
                                        ]
                                    },
                                ], country)                             
                            default 
                                +paymentBox([
                                    {
                                        type:"creditCard",
                                        title:"Credit Card",
                                    },
                                    {
                                        type:"payPal",
                                        title:"PayPal",
                                        fillIcon:true
                                    },
                                    {
                                        type:"klarna",
                                        title:"Klarna",
                                    }
                                ], country)

            .buy-checkout__item.buy-checkout__item--payment.buy-checkout__item--complete(style="display: none;")
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "checked"
                })
                case country
                    when 'th'
                        +paymentComplete([
                            {
                                src: 'icon-payment-credit-card-th-145-18',
                                type: 'creditCard',
                                title: 'Credit/Debit card',
                                isBetween: true,
                            },
                            {
                                src: 'icon-payment-thai-qr-46-20',
                                type: 'thaiQr',
                                title: 'Thai QR',
                                isBetween: true,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span>การสั่งซื้อสินค้า ฉันได้อ่านและเข้าใจนโยบายการขายสินค้าของแอลจี อิเลคทรอนิคส์อย่างละเอียดแล้ว *<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">เพิ่มเติม</span></a></span>`,
                                        formVal: `${country}Val01`,
                                        formId: `${country}EmaliId1`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span>การยอมรับข้อความทางการตลาด (ตัวเลือก)ข้าพเจ้ายินยอมที่จะ รับการติดต่อจาก LGE และ LGE Thailand เกี่ยวกับข่าวสารล่าสุดและข้อเสนอพิเศษผ่านทางอีเมล SMS การแจ้งเตือนแบบพุชและการสื่อสารทางโทรศัพท์ ข้าพเจ้าสามารถเปลี่ยนใจได้ทุกเมื่อโดยจะปฏิบัติตามคำแนะนำที่ระบุไว้ในแต่ละช่องทางการสื่อสาร ซึ่งรวมถึงแต่ไม่จำกัดแค่อีเมล และต้องสอดคล้องกับนโยบายความเป็นส่วนตัวของ LGE ถือเป็นสิ่งจำเป็นที่ LG Electronics (“LGE”) ต้องได้รับข้อมูลส่วนบุคคลของผู้ใช้งานที่เกี่ยวข้องกับการก่อตั้งหรือความสัมพันธ์ทางธุรกิจกับ ที่ต่อเนื่อง หรือการจัดหาผลิตภัณฑ์หรือบริการให้กับผู้ใช้งานเป็นครั้งคราว ผู้ใช้งานยินยอมให้ LGE ใช้ข้อมูลส่วนบุคคลของผู้ใช้งานเพื่อการทำงานและกิจกรรมที่เกี่ยวข้องกับผลิตภัณฑ์และ/หรือบริการต่างๆ รวมถึงด้านการตลาด ข้อมูลส่วนบุคคลของผู้ใช้งานนั้นอาจถูกถ่ายโอนให้กับบุคคลและ/หรือหน่วยงานดังต่อไปนี้เพื่อวัตถุประสงค์ใดๆ ที่กำหนดไว้ในข้อกำหนดนี้: บริษัทแม่ บริษัทในเครือ บริษัทสาขา บริษัทที่เกี่ยวข้อง ตัวแทน และ/หรือผู้จัดจำหน่ายของ LGE ผู้ใช้งานยินยอมให้ LGE ใช้ข้อมูลส่วนบุคคลของผู้ใช้งานเพื่อทำการตลาดผลิตภัณฑ์และบริการของ LGE เป็นครั้งคราว และเฉพาะข้อมูลส่วนบุคคลของผู้ใช้งานดังต่อไปนี้เท่านั้นที่จะนำมาใช้เพื่อจุดประสงค์ด้านการตลาด: (ก) ชื่อ เพศ วันที่ของ วันเดือนปีเกิด ส่วนหนึ่งของบัตรประจำตัวประชาชน และ/หรือหมายเลขประจำตัวประชาชน (ข) ข้อมูลการติดต่อ (รวมถึงที่อยู่ของที่พักอาศัยและที่อยู่ติดต่อ พุชแอพ SMS หมายเลขโทรศัพท์และที่อยู่อีเมล) และ (ค) ข้อมูลเกี่ยวกับผลิตภัณฑ์และ/หรือบริการที่ผู้ใช้งานได้ซื้อหรือสมัครใช้งาน รวมถึงช่องทางการจัดจำหน่ายต่างๆ ผู้ใช้งานมีสิทธิที่จะ: (ก) สอบถามถึงและตรวจทานข้อมูลส่วนบุคคลของตน (ข) สิทธิในการขอสำเนาข้อมูลส่วนบุคคลของตน (ค) สิทธิในการเพิ่มเติมหรือแก้ไขข้อมูลส่วนบุคคลของตน (ง) สิทธิในการเรียกร้องให้ยุติการดำเนินการเก็บรวบรวม การประมวลผล หรือการใช้ข้อมูลส่วนบุคคลของตน และ (จ) สิทธิในการลบข้อมูลส่วนบุคคลของตน ผู้ใช้งานอาจส่งคำขอข้างต้นเป็นลายลักษณ์อักษรตามข้อกำหนดของ<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">นโยบายความเป็นส่วนตัวของ</span></a>LGE</span>`,
                                        formVal: `${country}Val02`,
                                        formId: `${country}EmaliId2`,
                                    },
                                ]
                            },
                            {
                                src: 'icon-payment-installment-th-103-20',
                                type: 'thInstallment',
                                title: 'Installment',
                                isBetween: true,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span>การสั่งซื้อสินค้า ฉันได้อ่านและเข้าใจนโยบายการขายสินค้าของแอลจี อิเลคทรอนิคส์อย่างละเอียดแล้ว *<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">เพิ่มเติม</span></a></span>`,
                                        formVal: `${country}Val03`,
                                        formId: `${country}EmaliId3`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span>การยอมรับข้อความทางการตลาด (ตัวเลือก)ข้าพเจ้ายินยอมที่จะ รับการติดต่อจาก LGE และ LGE Thailand เกี่ยวกับข่าวสารล่าสุดและข้อเสนอพิเศษผ่านทางอีเมล SMS การแจ้งเตือนแบบพุชและการสื่อสารทางโทรศัพท์ ข้าพเจ้าสามารถเปลี่ยนใจได้ทุกเมื่อโดยจะปฏิบัติตามคำแนะนำที่ระบุไว้ในแต่ละช่องทางการสื่อสาร ซึ่งรวมถึงแต่ไม่จำกัดแค่อีเมล และต้องสอดคล้องกับนโยบายความเป็นส่วนตัวของ LGE ถือเป็นสิ่งจำเป็นที่ LG Electronics (“LGE”) ต้องได้รับข้อมูลส่วนบุคคลของผู้ใช้งานที่เกี่ยวข้องกับการก่อตั้งหรือความสัมพันธ์ทางธุรกิจกับ ที่ต่อเนื่อง หรือการจัดหาผลิตภัณฑ์หรือบริการให้กับผู้ใช้งานเป็นครั้งคราว ผู้ใช้งานยินยอมให้ LGE ใช้ข้อมูลส่วนบุคคลของผู้ใช้งานเพื่อการทำงานและกิจกรรมที่เกี่ยวข้องกับผลิตภัณฑ์และ/หรือบริการต่างๆ รวมถึงด้านการตลาด ข้อมูลส่วนบุคคลของผู้ใช้งานนั้นอาจถูกถ่ายโอนให้กับบุคคลและ/หรือหน่วยงานดังต่อไปนี้เพื่อวัตถุประสงค์ใดๆ ที่กำหนดไว้ในข้อกำหนดนี้: บริษัทแม่ บริษัทในเครือ บริษัทสาขา บริษัทที่เกี่ยวข้อง ตัวแทน และ/หรือผู้จัดจำหน่ายของ LGE ผู้ใช้งานยินยอมให้ LGE ใช้ข้อมูลส่วนบุคคลของผู้ใช้งานเพื่อทำการตลาดผลิตภัณฑ์และบริการของ LGE เป็นครั้งคราว และเฉพาะข้อมูลส่วนบุคคลของผู้ใช้งานดังต่อไปนี้เท่านั้นที่จะนำมาใช้เพื่อจุดประสงค์ด้านการตลาด: (ก) ชื่อ เพศ วันที่ของ วันเดือนปีเกิด ส่วนหนึ่งของบัตรประจำตัวประชาชน และ/หรือหมายเลขประจำตัวประชาชน (ข) ข้อมูลการติดต่อ (รวมถึงที่อยู่ของที่พักอาศัยและที่อยู่ติดต่อ พุชแอพ SMS หมายเลขโทรศัพท์และที่อยู่อีเมล) และ (ค) ข้อมูลเกี่ยวกับผลิตภัณฑ์และ/หรือบริการที่ผู้ใช้งานได้ซื้อหรือสมัครใช้งาน รวมถึงช่องทางการจัดจำหน่ายต่างๆ ผู้ใช้งานมีสิทธิที่จะ: (ก) สอบถามถึงและตรวจทานข้อมูลส่วนบุคคลของตน (ข) สิทธิในการขอสำเนาข้อมูลส่วนบุคคลของตน (ค) สิทธิในการเพิ่มเติมหรือแก้ไขข้อมูลส่วนบุคคลของตน (ง) สิทธิในการเรียกร้องให้ยุติการดำเนินการเก็บรวบรวม การประมวลผล หรือการใช้ข้อมูลส่วนบุคคลของตน และ (จ) สิทธิในการลบข้อมูลส่วนบุคคลของตน ผู้ใช้งานอาจส่งคำขอข้างต้นเป็นลายลักษณ์อักษรตามข้อกำหนดของ<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">นโยบายความเป็นส่วนตัวของ</span></a>LGE</span>`,
                                        formVal: `${country}Val04`,
                                        formId: `${country}EmaliId4`,
                                    },
                                ]
                            }
                        ])                        
                    default
                        +paymentComplete([
                            {
                                src: 'icon-mylg-visa-31-23',
                                type: 'creditCard',
                                title: 'VISA Xxxxxxxxx6995',
                                date: '05/24',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val01',
                                        formId: 'emaliId1'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val02',
                                        formId: 'emaliId2'
                                    }
                                ]
                            },
                            {
                                src: 'icon-payment-paypal-74-20',
                                type: 'payPal',
                                title: 'Buy now and pay later with pay in 3',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'paypalList'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val03',
                                        formId: 'emaliId3'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val04',
                                        formId: 'emaliId4'
                                    }
                                ]
                            },
                            {
                                src: 'icon-payment-klarna-54-20',
                                type: 'klarna',
                                title: 'Buy now, pay later!',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val05',
                                        formId: 'emaliId5'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val06',
                                        formId: 'emaliId6'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">By proceeding, you will be presented with payment options provided by Klarna. By continuing, I accept the terms of the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/user" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Klarna Shopping Service</span></a> and confirm that I have read the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/privacy" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Privacy Notice</span></a> and the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/cookie_purchase" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Cookie Notice. *</span></a></span>`,
                                        formVal: 'val07',
                                        formId: 'emaliId7'
                                    }
                                ]
                            }
                            
                        ])