include ./CT0303-inc.pug

mixin CT0303(option=false, country=false)
    .CT0303
        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: ""
                })

        if(option === "complete") 
            .buy-checkout__item.buy-checkout__item--coupon.buy-checkout__item--complete
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "checked",
                })         

        if(option === "default")
            .buy-checkout__item.buy-checkout__item--payment
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step03.c-checkout-step03-active
                    ul.c-checkout-step03-payment
                        case country
                            when 'cn'
                                +paymentBox([
                                    {
                                        type:"cnWechat",
                                        title:"微信支付",
                                        moImg: "",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我已阅读并同意《 LG官网线上商城销售条款》及其《个人信息保护政策》。<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">点击阅读</span></a> </span>`,
                                                formVal: `${country}Val01`,
                                                formId: `${country}EmaliId1`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我已阅读并同意LG官网线上商城之《个人信息跨境传输声明》。<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">点击阅读</span></a></span>`,
                                                formVal: `${country}Val02`,
                                                formId: `${country}EmaliId2`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我同意接收LG产品及服务的营销推广信息。（非必选）</span>`,
                                                formVal: `${country}Val03`,
                                                formId: `${country}EmaliId3`
                                            }
                                        ]
                                    },
                                    {
                                        type:"cnAlipay",
                                        title:"支付宝支付",
                                        moImg: "",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我已阅读并同意《 LG官网线上商城销售条款》及其《个人信息保护政策》。<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">点击阅读</span></a> </span>`,
                                                formVal: `${country}Val04`,
                                                formId: `${country}EmaliId4`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我已阅读并同意LG官网线上商城之《个人信息跨境传输声明》。<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">点击阅读</span></a></span>`,
                                                formVal: `${country}Val05`,
                                                formId: `${country}EmaliId5`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我同意接收LG产品及服务的营销推广信息。（非必选）</span>`,
                                                formVal: `${country}Val06`,
                                                formId: `${country}EmaliId6`
                                            }
                                        ]
                                    },
                                    {
                                        type:"cnCreditCard",
                                        title:"信用卡分期",
                                        moImg: "",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我已阅读并同意《 LG官网线上商城销售条款》及其《个人信息保护政策》。<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">点击阅读</span></a> </span>`,
                                                formVal: `${country}Val07`,
                                                formId: `${country}EmaliId7`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我已阅读并同意LG官网线上商城之《个人信息跨境传输声明》。<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">点击阅读</span></a></span>`,
                                                formVal: `${country}Val08`,
                                                formId: `${country}EmaliId8`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我同意接收LG产品及服务的营销推广信息。（非必选）</span>`,
                                                formVal: `${country}Val09`,
                                                formId: `${country}EmaliId9`
                                            }
                                        ]
                                    },
                                    {
                                        type:"cnInstallment",
                                        title:"花呗分期",
                                        moImg: "",
                                        terms: [
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我已阅读并同意《 LG官网线上商城销售条款》及其《个人信息保护政策》。<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">点击阅读</span></a> </span>`,
                                                formVal: `${country}Val10`,
                                                formId: `${country}EmaliId10`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我已阅读并同意LG官网线上商城之《个人信息跨境传输声明》。<a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">点击阅读</span></a></span>`,
                                                formVal: `${country}Val11`,
                                                formId: `${country}EmaliId11`
                                            },
                                            {
                                                type: 'form',
                                                formText: `<span class="unline-red">我同意接收LG产品及服务的营销推广信息。（非必选）</span>`,
                                                formVal: `${country}Val13`,
                                                formId: `${country}EmaliId13`
                                            }
                                        ]
                                    },
                                ], country)                         
                            default 
                                +paymentBox([
                                    {
                                        type:"creditCard",
                                        title:"Credit Card",
                                    },
                                    {
                                        type:"payPal",
                                        title:"PayPal",
                                        fillIcon:true
                                    },
                                    {
                                        type:"klarna",
                                        title:"Klarna",
                                    }
                                ], country)

            .buy-checkout__item.buy-checkout__item--payment.buy-checkout__item--complete(style="display: none;")
                +checkoutStep({
                    title:"Payment",
                    current:"3",
                    total:"3",
                    type: "checked"
                })
                case country                 
                    when 'cn'
                        +paymentComplete([
                            {
                                src: 'icon-payment-cn-scan-code-171-18',
                                type: 'cnScanCode',
                                title: '扫码付款',
                                isBetween: true,
                            },
                            {
                                src: 'icon-payment-cn-credit-card-72-18',
                                type: 'cnCreditCard',
                                title: '信用卡分期',
                                isBetween: true,
                            },
                            {
                                src: 'icon-payment-cn-installment-54-20',
                                type: 'cnInstallment',
                                title: '花呗分期',
                                isBetween: true,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">By submitting my order, I agree to <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Terms of Sale</span></a> and <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Privacy Policy.</span></a> </span>`,
                                        formVal: `${country}Val01`,
                                        formId: `${country}EmaliId1`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">By submitting my order, I agree to <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Declaration on Cross-border Data Transmission.</span></a></span>`,
                                        formVal: `${country}Val02`,
                                        formId: `${country}EmaliId2`
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I am willing to receive advertising and promotional Information for LG products and services. (Non Mandatory option)</span>`,
                                        formVal: `${country}Val03`,
                                        formId: `${country}EmaliId3`
                                    }
                                ]
                            }
                            
                        ])                        
                    default
                        +paymentComplete([
                            {
                                src: 'icon-mylg-visa-31-23',
                                type: 'creditCard',
                                title: 'VISA Xxxxxxxxx6995',
                                date: '05/24',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val01',
                                        formId: 'emaliId1'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val02',
                                        formId: 'emaliId2'
                                    }
                                ]
                            },
                            {
                                src: 'icon-payment-paypal-74-20',
                                type: 'payPal',
                                title: 'Buy now and pay later with pay in 3',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'paypalList'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val03',
                                        formId: 'emaliId3'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val04',
                                        formId: 'emaliId4'
                                    }
                                ]
                            },
                            {
                                src: 'icon-payment-klarna-54-20',
                                type: 'klarna',
                                title: 'Buy now, pay later!',
                                isBetween: false,
                                contents: [
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">I accept <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Digital River's terms and conditions of sales.</span></a></span>`,
                                        formVal: 'val05',
                                        formId: 'emaliId5'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">Receipt of marketing messages(Optional) <br/> I consent to being contacted by LGE and its affiliates about latest news and special offers by email, SMS, push notification, phone call, social media sites and/or other form of electronic messages. I can change my mind at any time by following the instructions given in each communication channel including but not limited to email and in accordance with the LGE <a class="cmp-button c-button c-button--text-underline red" href="#" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text"> Privacy Policy. </span></a></span>`,
                                        formVal: 'val06',
                                        formId: 'emaliId6'
                                    },
                                    {
                                        type: 'form',
                                        formText: `<span class="unline-red">By proceeding, you will be presented with payment options provided by Klarna. By continuing, I accept the terms of the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/user" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Klarna Shopping Service</span></a> and confirm that I have read the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/privacy" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Privacy Notice</span></a> and the <a class="cmp-button c-button c-button--text-underline red" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_gb/cookie_purchase" target="_blank" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer=""><span class="cmp-button__text c-button__text">Cookie Notice. *</span></a></span>`,
                                        formVal: 'val07',
                                        formId: 'emaliId7'
                                    }
                                ]
                            }
                            
                        ])
