extends ../_common/_layout.pug
include ../_common/_index.pug


block meta 
    - var componentId = "CT0301"
    - var componentName = "Checkout list with Total"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href="../../components/CM0010/CM0010.css")


block scripts
    script(src=componentId+".js" type="module")
    script(src="../../components/CM0010/CM0010.js" type="module")

block content
    // Component Markup
    include ./CT0301-inc.pug
    .CT000C
        .guide-text-option checkout
        +CT0301()

block modal
    +printLayerPopup('popSecretCoupon')