extends ../_common/_layout.pug

block meta 
    - var componentId = "CT0304"
    - var componentName = "Checkout Guest Tab"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block content
    // Component Markup
    include ./CT0304-inc.pug
    +CT0304