include ../_common/_cart-price-total.pug
include ./CT0302-inc.pug

mixin CT0302(option=false, country=false)
    .CT0302
        if(option === "member")
            case country
                when 'pe'
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"La Libertad Trujillo Salaverry 13010 PERU",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"La Libertad Trujillo Salaverry 13010 PERU",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        +deliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",], false, true, false, [
                            {
                                type: 'Delivery Only',
                                id: 'delivery36',
                                price:'Free',
                                descListDot: ['Para pedidos realizados antes de las 11 am, lo estaremos contactando para realizar la entrega el día hábil siguiente.']
                            },
                        ],qty=false)
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",], "error", true, false, [
                            {
                                type: 'Delivery Only',
                                id: 'delivery36',
                                price:'Free',
                                descListDot: ['Para pedidos realizados antes de las 11 am, lo estaremos contactando para realizar la entrega el día hábil siguiente.']
                            },
                        ],qty=false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])  
                        +deliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",], 'all', false, false, [
                            {
                                type: 'Delivery Only',
                                id: 'delivery36',
                                price:'Free',
                                descListDot: ['Para pedidos realizados antes de las 11 am, lo estaremos contactando para realizar la entrega el día hábil siguiente.'],
                                select: 'Thu, Oct 18  All day',
                            },
                        ],qty=false)
                        +deliveryBox(["OLED65C25LB.AEU + SP9YA",], 'all', false, false, [
                            {
                                type: 'Delivery Only',
                                id: 'delivery36',
                                price:'Free',
                                descListDot: ['Para pedidos realizados antes de las 11 am, lo estaremos contactando para realizar la entrega el día hábil siguiente.'],
                                select: 'Thu, Oct 18  All day',
                            },
                        ],qty=false)
                        +deliveryBox(["LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",], 'all', false, false, [
                            {
                                type: 'Delivery Only',
                                id: 'delivery36',
                                price:'Free',
                                descListDot: ['Para pedidos realizados antes de las 11 am, lo estaremos contactando para realizar la entrega el día hábil siguiente.'],
                                select: 'Thu, Oct 18  All day',
                            },
                        ],qty=false)
                        +deliveryBox(["LG Soundbar SP8YAV",], 'all', false, false, [
                            {
                                type: 'Delivery Only',
                                id: 'delivery36',
                                price:'Free',
                                descListDot: ['Para pedidos realizados antes de las 11 am, lo estaremos contactando para realizar la entrega el día hábil siguiente.'],
                                select: 'Thu, Oct 18  All day',
                            },
                        ],qty=false)
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")
                
                when 'selectDateType-accordion-wrap-global'
                    // type accordion-wrap : global shipping module
                    .buy-checkout__item.buy-checkout__item--delivery    
                        .buy-checkout__item--delivery-mix
                            details.buy-delivery-box__accordion-mix
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: 1,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Regular delivery',
                                            id: 'delivery83',
                                            price:'25.00',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Additional Services',
                                        tooltip: false,
                                    })
                                    +deliveryAccodionRadio('Installation', false, [
                                        {
                                            type: 'Basic Installation',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery86',
                                            price:'Free',
                                            useUnitPos: false,
                                            unitPos: false,
                                            unitName: false,
                                        },
                                        {
                                            type: 'TV Wallmount',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery87',
                                            price:'25.00',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryAccodionRadio('Haulaway', false, [
                                        {
                                            type: 'Haulaway',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery88',
                                            price:'25.00',
                                            unitPos: 'left',
                                            unitName: '$',
                                        },
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18  All day',
                                            id: 'delivery76',
                                            price:'',
                                            validInfo: ['Delivery in most locations in Canada except P.O. boxes and remote locations.']
                                        },
                                    ])

                            details(open).buy-delivery-box__accordion-mix.buy-delivery-box__accordion-mix--error
                                summary.c-accordion-mix__head
                                    .c-accordion-mix__head-text
                                        +deliveryBoxProduct([
                                            {
                                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                                qty: 1,
                                            },
                                        ])
                                .c-accordion-mix__body
                                    +deliveryBoxSubTitle({
                                        boxTitle : 'Delivery Method',
                                        tooltip: false,
                                    })
                                    +deliveryMixRadioSelect([
                                        {
                                            type: 'Pick-up',
                                            inputType: 'addressSelect',
                                            tooltipMsg: '11111111111',
                                            id: 'delivery104',
                                            expectedDate : 'Čtvrtek 30 Březen, 2023',
                                            price:'Free',
                                            unitName: ' ',
                                            checkedDate : false,
                                        }
                                    ])
                                    +deliveryBoxNoneAcc(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, [
                                        {
                                            selectDateAreaTitle : 'Delivery Time',
                                            selectDateCancel : false,
                                            type: 'Thu, Oct 18  All day',
                                            id: 'delivery76-error',
                                            price:'',
                                            validInfo: ['Para pedidos realizados antes de la 11 am, nos contactaremos para realizar la entrega el día hábil siguiente de estar disponible. (Solo disponible para Lima Metropolitana).', 'Las entregas a provincias demorán entre 4 - 8 días hábiles.']
                                        },
                                    ])
                                    +deliverySelectDateComplete({
                                        title:'Delivery Time',
                                        text:'Las entregas a provincias demorán entre 4 - 8 días hábiles.',
                                        desc:'Para pedidos realizados antes de la 11 am, nos contactaremos para realizar la entrega el día hábil siguiente de estar disponible. (Solo disponible para Lima Metropolitana).',
                                    })
                            +toastPopup([
                                {
                                    type: "error",
                                    text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                    remove: true,
                                },
                            ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

                default 
                    .buy-checkout__item.buy-checkout__item--delivery
                        +checkoutStep({
                            title:"Delivery",
                            current:"2",
                            total:"3",
                            type: "active"
                        })
                        .c-checkout-step02
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        .c-checkout-step02.c-checkout-step02--warn
                            .buy-address-box.buy-address-box--complete
                                +addressBox(false, false, [
                                    {
                                        flag:["Shipping"],
                                        title:"Robert Surrency",
                                        address:"20 Farringdon Street, London, EC4A 4AB, United Kingdom",
                                        num:"123-4567-8910",
                                        type: "",
                                    },
                                ])
                        +formCheckbox('Receive order status notification from LG.com via SMS', "name", "val1", "checkId1", count="false", false)
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change address options',
                                remove: true,
                            },
                        ])
                        //- [Start] 2023-04-18 : ADD - Delivery Error case
                        // 2023.07.19 UPDATE - error case markup
                        //- .buy-delivery-box--error
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], "error", false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery60',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery62',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery63',
                                price:'£25.00',
                            },
                        ])
                        +toastPopup([
                            {
                                type: "error",
                                text: 'The items(s) are not available for shipping in your area. Please change delivery options',
                                remove: true,
                            },
                        ])
                        //- [End] 2023-04-18 : ADD - Delivery Error case
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], false, false, false, [
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery64',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery65',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                tooltipMsg: '11111111111',
                                id: 'delivery66',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'complete', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV",], 'edit', false, false, [
                            {
                                type: 'Delivery Only',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery67',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery68',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount',
                                select: 'Thu, Oct 18  All day',
                                tooltipMsg: '11111111111',
                                id: 'delivery69',
                                price:'£25.00',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV", "LG Soundbar SP8YAV"], 'all', false, false, [
                            {
                                type: 'Delivery & Installation',
                                select: 'Thu, Oct 18  All day',
                            },
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, false, [
                            {
                                type: 'Delivery Only',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],'complete',[
                            {
                                type: 'Home Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery70',
                                price:'£25.00',
                            }
                        ])
                        +deliveryBox(["LG Soundbar SP8YA"], 'only', false, false, [
                            {
                                type: 'Delivery Only',
                                warn: 'The delivery time is different for each shipping company.',
                            },
                        ])
                        +radioDeliveryBox(["LG OLED evo Gallery Edition G2 55'' 4K Smart TV"],false,[
                            {
                                type: 'Delivery Only',
                                tooltipMsg: '11111111111',
                                id: 'delivery71',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation',
                                tooltipMsg: '11111111111',
                                id: 'delivery72',
                                price:'£25.00',
                            },
                            {
                                type: 'Delivery & Installation & Wallmount ',
                                tooltipMsg: '11111111111',
                                id: 'delivery73',
                                price:'£25.00',
                            }
                        ])
                        .button.buy-order-info-coupon__button 
                            +defaultButton({name: 'Next', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="next")

            +CT0302("complete",'hide')

        if(option === "guest")
            .buy-checkout__item.buy-checkout__item--delivery
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "active"
                })
                .c-checkout-step02.c-checkout-step02-form
                    p.c-checkout-step01-prevention Envío disponible sólo para Lima y Callao
                    p.c-checkout-step02-form__title.font-w-normal-24.font-m-normal-20 Shipping
                    // [Start] 2023-06-12 : ADD - number-text
                    +myInputForm([
                        {
                            type:"text",
                            label:"Nombre",
                            id:"firstName",
                            required:false,
                            placeholder:"",
                            infoTextSecond: ['Titular de la Compra.'],
                        },
                        {
                            type:"text",
                            label:"Apellido",
                            id:"lastName",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"tel",
                            label:"Teléfono Móvil",
                            id:"mobileNumber",
                            required:false,
                            placeholder:"XXX-XXX-XXX",
                            numberText: 'Your mobile number might be used to send tracking number.',
                            infoTextSecond: ['Para coordinar la entrega.'],
                        },
                        {
                            type:"tel",
                            label:"Otro teléfono",
                            id:"anotherNumber",
                            required:false,
                            placeholder:"",
                            numberText: 'Your mobile number might be used to send tracking number.',
                        },
                        {
                            type:"select",
                            label:"Tipo de Documento",
                            id:"documenteType",
                            value:"",
                            optionVal: ['Por favor, seleccione tipo de documento'],
                            placeholder:"",
                            required:true,
                            infoTextSecond: ['Debe seleccionar RUC si desea recibir Factura.'],
                        },
                        {
                            type:"text",
                            label:"Número de Documento",
                            id:"documenteNumber",
                            required:false,
                            placeholder:"",
                            infoTextSecond: ['Para emisión de comprobante electrónico.', 'Revisar bien. No realizamos cambio de Comprobantes emitidos.'],
                        },
                        {
                            type:"text",
                            label:"Razón Social",
                            id:"businessName",
                            required:false,
                            placeholder:"",
                            infoTextSecond: ['Para el registro de una factura solo es necesario ingresar el RUC y la Razón Social de la empresa.'],
                        },
                        {
                            type:"text",
                            label:"Dirección de Envío",
                            id:"shippingAddress",
                            required:false,
                            placeholder:"",
                        },
                        {
                            type:"select",
                            label:"Departamento",
                            id:"department",
                            value:"",
                            optionVal: ['Por favor, seleccione Departamento'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"select",
                            label:"Provincia",
                            id:"province",
                            value:"",
                            optionVal: ['Por favor, seleccione Provincia'],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"select",
                            label:"Distrito",
                            id:"district",
                            value:"",
                            optionVal: ['Por favor, seleccione Distrito'],
                            placeholder:"",
                            required:true,
                            infoTextSecond: ['Distrito para entrega de pedido.'],
                        },
                        {
                            type:"text",
                            label:"Código Postal (Ubigeo)",
                            id:"ZIPCode",
                            required:false,
                            placeholder:"",
                            infoTextSecond: ['Este campo se completara automáticamente con tu distrito.'],
                            readonly: true,
                        },
                        {
                            type:"select",
                            label:"Tipo de Residencia",
                            id:"residence",
                            value:"",
                            optionVal: ['Por favor, seleccione tipo de residencia '],
                            placeholder:"",
                            required:true,
                        },
                        {
                            type:"text",
                            label:"Referencias",
                            id:"references",
                            tooltipMsg:false,
                            required:false,
                        },
                        {
                            type:"text",
                            label:"País",
                            id:"countury",
                            tooltipMsg:false,
                            required:false,
                            placeholder:"Perú",
                            readonly: true,
                        },
                    ])

                .button.buy-order-info-coupon__button
                    +defaultButton({name: "Save Address", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="save")

                // form bottom content area

        if(option === "before")
            .buy-checkout__item.before
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checkoutStep"
                })

        if(option === "complete")
            .buy-checkout__item.buy-checkout__item--delivery.buy-checkout__item--complete(style=`${country=='hide'?'display:none':''}`)
                +checkoutStep({
                    title:"Delivery",
                    current:"2",
                    total:"3",
                    type: "checked",
                })
                .c-checkout-step02
                    .buy-address-box.buy-address-box--complete
                        +addressBox(false, false, [
                            {
                                flag:["Shipping"],
                                title:"Robert Surrency",
                                address:"La Libertad Trujillo Salaverry 13010 PERU",
                                num:"123-4567-8910",
                                type: "",
                            },
                        ])
                .c-checkout-orderd.c-checkout-orderd--confirm
                    .c-checkout-orderd__item.c-checkout-orderd__item--delivery
                        +checkoutOrderDeliveryProduct("Delivery", "Thu, Oct 18  All day", [
                            {
                                title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag) ...",
                                qty: "1",
                                price: "2,099.98",
                                unitPos: "left",
                                unitName: "S/ "
                            },
                        ])