extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_hero-banner.pug
include ../_common/_carousel.pug

block meta 
    - var componentId = "CM0007"
    - var AL0021 = "AL0021"
    - var AL0022 = "AL0022"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

    meta(name="template" content="home-page")

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href=`../${AL0021}/${AL0021}`+".css")
    link(rel="stylesheet", href=`../${AL0022}/${AL0022}`+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-cm.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.al-quick-menu .al-quick-chat' : [
                            {
                                'name' : 'Full Size',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'size--full'},
                                ]
                            },
                        ],
                    };
                    
    // Component Markup
    include ../../components/CM0007/CM0007-inc.pug
    +CM0007()
