mixin CM0007(option=false, hiddenProactiveMsg=false)
    mixin quickMenuBtn
        .al-quick
            +quickMenu([
                {
                    href:"#",
                    linkIcon:"My LG",
                    linkTit:"My LG",
                },
                {
                    href:"#",
                    linkIcon:"Registration",
                    linkTit:"Product Registration",
                },
                {
                    href:"#",
                    linkIcon:"Support",
                    linkTit:"Product Support",
                },
                {
                    href:"#",
                    linkIcon:"Repair",
                    linkTit:"Request a Repair",
                },
                {
                    href:"#",
                    linkIcon:"Share",
                    linkTit:"Share Your Feedback",
                },
            ])
            
            .al-quick-btn
                button(type="button" class="al-quick-btn__topbtn" data-cmp-data-layer="")&attributes(attributes)
                    span.sr-only top
                button(type="button" class="al-quick-btn__quickbtn al-quick-btn__quickbtn--animation" data-cmp-data-layer="")&attributes(attributes)
                    span.sr-only QuickMenuButton
                    span.chat-count 1
    mixin quickMenu(params)
        - let data = {...params}
        .al-quick-menu(role='dialog' aria-modal='false' aria-label='Quick Menu')
            .al-quick-menu__imgbox
                //- .image.c-image
                //-     +printLazyPicture('https://via.placeholder.com/360x276/666/ddd/?text=360x276', 'https://via.placeholder.com/360x260/666/ddd/?text=360x260') 
                .al-quick-menu__box
                    .al-quick-menu__box-top
                        span.al-quick-menu__box-tit How may I help you?
                        button(type="button" class="al-quick-menu__close")
                            span.sr-only close
                    .button
                        .button__container
                            +defaultButton({name: 'Chat About Shopping', wSize: 'medium', mSize: 'medium', buttonStyle: 'box', isButton: false})(data-link-name data-link-destination)
                            span.chat-count 1
                        .button__container
                            +defaultButton({name: 'Chat About Service', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})(data-link-name data-link-destination class='open-chat')
                            span.chat-count 9+
                        //- .button__container
                        //-     +defaultButton({name: 'Whats app', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})
            .al-quick-menu__link
                ul.al-quick-menu__link-list(role="list")
                    each set in data
                        li.al-quick-menu__link-item(role="listitem")
                            a(href=`${set.href}` data-link-name data-link-destination)
                                +printLazyImage(`https://via.placeholder.com/24x24/999/333`)
                                //- i(class=`al-quick-menu__link-icon al-quick-menu__link-icon--${set.linkIcon}`)
                                //-     span.sr-only= set.linkIcon
                                span.al-quick-menu__link-tit= set.linkTit
                .button.c-cta
                    +defaultButton({name: 'Contact Us', wSize: 'medium', mSize: 'medium', buttonStyle: 'box', isButton: true})
            // [Start] 2023-04-20 : this is chat area			 
            .al-quick-chat.chat_drag.iframe_type.ui-draggable
                // iframe - just sample
                .iframe-container.chat_bar.ui-draggable-handle 
                    iframe.epromotor-chatbot-area.ready.active(src="https://devcns-dot-lge-global-chatbot-dev.appspot.com/web/uk?locale=en_GB")
            // [End] 2023-04-20 : this is chat area 
    mixin proActiveMsg(params)
        - let data = {...params}
        .al-proactive-msg(role="alertdialog" aria-label="")
            each set in data
                .al-proactive-msg__box(role="alert")
                    .al-proactive-msg__txt
                        if set.linktext
                            a(href="#" data-link-name data-link-destination)
                                //- +linkButton({type:"text",color:"white", underline:true, name:set.linktext})
                                span.al-proactive-msg__first-txt.font-w-normal-16.font-m-normal-12 Touch here,&nbsp;
                                //- span.font-w-normal-14.font-m-normal-14 !{set.msgtxt}
                            span.al-proactive-msg__second-txt.font-w-normal-16.font-m-normal-12= set.msgtxt
                    button.al-proactive-msg__close
                        span.sr-only close

    .c-wrapper.CM0007#CM0007
        .component(data-servicectaurl='https://lg-chatbot.com/web/uk?locale=en_GB&enterSystem=GP1' data-toastmsgconfiglist='[{"pageSet":"landing","visibleTimeout":10,"disappearTimeout":15,"proactiveMessageLink":null,"message":"Hi there!\\r\\nNeed help? Click here to talk to our Product Experts for shopping assistance, discounts and offers.","openQuickMenu":false,"openServiceChat":false,"openShoppingChat":true},{"pageSet":"plppage","visibleTimeout":10,"disappearTimeout":15,"proactiveMessageLink":null,"message":"Hi there!\\r\\nNeed help? Click here to talk to our Product Experts for shopping assistance, discounts and offers.","openQuickMenu":false,"openServiceChat":false,"openShoppingChat":true},{"pageSet":"support","visibleTimeout":10,"disappearTimeout":15,"proactiveMessageLink":null,"message":"Click here to connect with product experts for more customized information!","openQuickMenu":false,"openServiceChat":true,"openShoppingChat":false},{"pageSet":"productpage","visibleTimeout":10,"disappearTimeout":15,"proactiveMessageLink":null,"message":"Hi there!\\r\\nNeed help? Click here to talk to our Product Experts for shopping assistance, discounts and offers.","openQuickMenu":false,"openServiceChat":false,"openShoppingChat":true},{"pageSet":"categorylandingpage","visibleTimeout":10,"disappearTimeout":15,"proactiveMessageLink":null,"message":"Hi there!\\r\\nNeed help? Click here to talk to our Product Experts for shopping assistance, discounts and offers.","openQuickMenu":false,"openServiceChat":false,"openShoppingChat":true}]')
            .fluid-container
                .al-quick
                    .al-quick-menu
                        .al-quick-menu__imgbox
                            .al-quick-menu__box
                                .al-quick-menu__box-top
                                    span.al-quick-menu__box-tit How may I help you ?
                                    button.al-quick-menu__close(type='button')
                                    span.sr-only close
                                .button
                                    .al-quick-menu-shopping-chat.button__container
                                        //- script.
                                        //-     window.sprChatSettings = window.sprChatSettings || {};
                                        //-     window.sprChatSettings = {
                                        //-         "appId":"63847f0f1ed1925e052bd6a7_app_1527161",
                                        //-         "skin":"MODERN",
                                        //-         "sessionOrigin": "lg.com",
                                        //-     };
                                        //- script.
                                        //-     (function() {
                                        //-         var t = window,
                                        //-             e = t.sprChat,
                                        //-             a = e && !!e.loaded,
                                        //-             n = document,
                                        //-             r = function() {
                                        //-                 r.m(arguments)
                                        //-             };
                                        //-         r.q = [], r.m = function(t) {
                                        //-             r.q.push(t)
                                        //-         }, t.sprChat = a ? e : r;
                                        //-         var e2 = t.sprTeamChat,
                                        //-             r2 = function() {
                                        //-                 r2.m(arguments)
                                        //-             };
                                        //-         r2.q = [], r2.m = function(t) {
                                        //-             r2.q.push(t)
                                        //-         }, t.sprTeamChat = e2 ? e2 : r2;

                                        //-         var o = function() {
                                        //-             if (!document.querySelector('[src="https://prod-live-chat.sprinklr.com/api/livechat/handshake/widget/' + t.sprChatSettings.appId + '"]')) {
                                        //-                 var e = n.createElement("script");
                                        //-                 e.type = "text/javascript", e.async = !0, e.src = "https://prod-live-chat.sprinklr.com/api/livechat/handshake/widget/" + t.sprChatSettings.appId;

                                        //-                 e.onerror = function() {
                                        //-                     t.sprChat.loaded = !1
                                        //-                 }, e.onload = function() {
                                        //-                     t.sprChat.loaded = !0
                                        //-                 };
                                        //-                 var a = n.getElementsByTagName("script")[0];
                                        //-                 a.parentNode.insertBefore(e, a)
                                        //-             }
                                        //-         };

                                        //-         const templateName = document.querySelector('meta[name=template]')?.content;
                                        //-         const templateArr = ['home-page', 'category-landing-page', 'pdp-page', 'plp-page', 'page-content'];

                                        //-         if (templateArr.findIndex(item => item == templateName) == -1) {
                                        //-             "function" == typeof e ? a ? e("update", t.sprChatSettings) : o() : "loading" !== n.readyState ? o() : n.addEventListener("DOMContentLoaded", o)
                                        //-         } else {
                                        //-             "function" == typeof e
                                        //-                 ?
                                        //-                 (a ? e("update", t.sprChatSettings) : t.addEventListener("load", o)) :
                                        //-                 "complete" === n.readyState ? o() : t.addEventListener("load", o);
                                        //-         }
                                        //-         window.addEventListener('DOMContentLoaded', function() {
                                        //-             if (templateArr.findIndex(item => item == templateName) > -1) {
                                        //-                 document.querySelector('.CM0007 .al-quick .al-quick-btn .al-quick-btn__quickbtn')?.addEventListener('click', function() {
                                        //-                     "function" == typeof window.sprChat ?
                                        //-                         (window.sprChat.loaded ?
                                        //-                             null :
                                        //-                             o()) :
                                        //-                         o();
                                        //-                 })
                                        //-             }
                                        //-         });
                                        //-     })();

                                        //-     // For launching the BOT in expanded mode.
                                        //-     if (window.location.search.includes('spr_o')) {
                                        //-         window.sprChat('open');
                                        //-     }


                                        //-     //Sending new Notifications
                                        //-     function onUnreadCountChanged({
                                        //-         response: {
                                        //-             data: {
                                        //-                 count
                                        //-             }
                                        //-         }
                                        //-     }) {
                                        //-         // count: number 
                                        //-     }

                                        //-     window.sprChat('subscribeToUpdate', {
                                        //-         topic: 'unreadCountChanged',
                                        //-         subscriber: onUnreadCountChanged,
                                        //-     });



                                        //-     function onLoadCompleted({
                                        //-         response: {
                                        //-             error
                                        //-         }
                                        //-     }) {
                                        //-         //error can be true/false  
                                        //-         if (error) {
                                        //-             // Sprinklr chat could not be loaded
                                        //-             console.log(error);
                                        //-         } else {
                                        //-             // Sprinklr chat is loaded
                                        //-             if ((window.location.host.indexOf("lg.com") > -1) && (window.location.href.indexOf("/uk/orderconfirmed/") > -1)) {
                                        //-                 var orderNode = document.getElementsByClassName("cmp-text font-w-semibold-24 font-m-semibold-16")[0];
                                        //-                 var orderID;
                                        //-                 if (orderNode) {
                                        //-                     orderID = orderNode.textContent;
                                        //-                 }

                                        //-                 var productCount = 0;
                                        //-                 [...document.getElementsByClassName("c-checkout-ordered__product__text-box__desc-qty")].forEach((ele) => {
                                        //-                     if (ele) {
                                        //-                         productCount = productCount + Number(ele.textContent.split('Qty:  : ')[1]);
                                        //-                     }
                                        //-                 });

                                        //-                 var productPrice = document.getElementsByClassName("cmp-text font-w-semibold-32 font-m-semibold-20")[0].textContent;
                                        //-                 window.sprChat('updateConversationContext', {
                                        //-                     context: {
                                        //-                         "_c_6439634f9b7f66381458fc80": [orderID], //internalorderID
                                        //-                         "_c_6464e4e450fb210c8975a4ba": [productCount.toString()], // productCount
                                        //-                         "_c_6464eb7650fb210c897ca692": [productPrice], // productPrice
                                        //-                         "_c_643967139b7f6638145d06af": ['Yes'], //internalplaced 
                                        //-                     },
                                        //-                     includeDeleted: true,
                                        //-                     filters: {
                                        //-                         filterType: 'OR',
                                        //-                         filters: [{
                                        //-                                 field: 'closed',
                                        //-                                 values: [true],
                                        //-                                 filterType: 'IN',
                                        //-                             },
                                        //-                             {
                                        //-                                 field: 'closed',
                                        //-                                 values: [true],
                                        //-                                 filterType: 'NIN',
                                        //-                             }
                                        //-                         ],
                                        //-                     }
                                        //-                 });
                                        //-             }
                                        //-         }
                                        //-     }
                                        //-     window.sprChat('subscribeToUpdate', {
                                        //-         topic: 'loadCompleted',
                                        //-         subscriber: onLoadCompleted,
                                        //-     });


                                        //-     // Sending the events
                                        //-     function onEventTriggered({
                                        //-         response: {
                                        //-             data
                                        //-         }
                                        //-     }) {
                                        //-         if (data && dataLayer && dataLayer.push) {
                                        //-             const eventId = data.eventId;
                                        //-             let modelCode, buttonLabel = eventId;
                                        //-             if (eventId) {
                                        //-                 const splitEventId = eventId.split('_');
                                        //-                 if (splitEventId.length > 1) {
                                        //-                     [modelCode, ...buttonLabel] = splitEventId;
                                        //-                     buttonLabel = buttonLabel.join('_');
                                        //-                 }
                                        //-             }
                                        //-             dataLayer.push({
                                        //-                 event: 'sprinklr_event',
                                        //-                 response: {
                                        //-                     ...data,
                                        //-                     eventId: buttonLabel || eventId,
                                        //-                     modelNumber: modelCode,
                                        //-                 },
                                        //-             });
                                        //-         }
                                        //-     }
                                        //-     window.sprChat('subscribeToUpdate', {
                                        //-         topic: 'eventTriggered',
                                        //-         subscriber: onEventTriggered,
                                        //-     });
                                        button.cmp-button.c-button.c-button--default.box.m-medium.w-medium(target='_self', data-cmp-data-layer='')
                                            span.cmp-button__text.c-button__text Chat about shopping
                                        span.chat-count
                                    .al-quick-menu-service-chat.button__container
                                        button.cmp-button.c-button.c-button--default.default.m-medium.w-medium.open-chat(target='_self', data-cmp-data-layer='')
                                            span.cmp-button__text.c-button__text Chat about service
                        .al-quick-menu__link
                            ul.al-quick-menu__link-list(role='list')
                                li.al-quick-menu__link-item(role='listitem')
                                    a(href='/uk/my-lg/', data-isauthrequired='true')
                                        span.al-quick-menu__link-tit My LG
                                li.al-quick-menu__link-item(role='listitem')
                                    a(href='/uk/support/product-support/product-registration/', data-isauthrequired='false')
                                        span.al-quick-menu__link-tit Product Registration
                                li.al-quick-menu__link-item(role='listitem')
                                    a(href='/uk/support/product-support/manuals-software/', data-isauthrequired='false')
                                        span.al-quick-menu__link-tit Product Support
                                li.al-quick-menu__link-item(role='listitem')
                                    a(href='/uk/support/product-support/repair-request/', data-isauthrequired='false')
                                        span.al-quick-menu__link-tit Request a Repair
                                li.al-quick-menu__link-item(role='listitem')
                                    a(href='/uk/support/contact-us/share-your-feedback/', data-isauthrequired='false')
                                        span.al-quick-menu__link-tit Share Your Feedback
                            .button.c-cta
                                a.cmp-button.c-button.c-button--default.box.m-medium.w-medium(type='button', href='/uk/support/contact-us/', target='_self', data-cmp-data-layer='')
                                    span.cmp-button__text.c-button__text Contact Us 
                    .al-quick-btn
                        button.al-quick-btn__topbtn(type='button', data-cmp-data-layer='')
                            span.sr-only top
                        button.al-quick-btn__quickbtn.al-quick-btn__quickbtn--animation(type='button', data-cmp-data-layer='')
                            span.sr-only QuickMenu
                        span.chat-count
                .al-proactive-msg(role="alertdialog" aria-label="")
                    .al-proactive-msg__box(role="alert")
                        .al-proactive-msg__txt
                            span.al-proactive-msg__second-txt.font-w-normal-16.font-m-normal-12
                        button.al-proactive-msg__close
                            span.sr-only close
                //- +quickMenuBtn
                //- // [Start] 2023-06-21 : UPDATE- 'proactive message' hidden case
                //- if hiddenProactiveMsg!=true
                //-     +proActiveMsg([
                //-         {
                //-             linktext: "Touch here,",
                //-             msgtxt : "if you are interested in searching products or purchasing1.",
                //-         },
                //-         {
                //-             linktext: "Touch here,",
                //-             msgtxt : "Welcome to LG! Sign-up claim your discount on your first purchase! firstWelcome to LG! Sign-up claim your discount on your first purchase! first",
                //-         },
                //-     ])