extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_toast.pug
include ../_common/_pop-msg.pug
include ../../components/CT000E/CT502-inc.pug

block meta 
    - var componentId = "MB000D_1"
    - var componentName = "Member Create Account"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    //link(rel="stylesheet", href="../../components/CT000E/CT502.css")
    link(rel="stylesheet" href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

mixin myMembershipImage({ico})
    .image.c-image
        +printLazyImage(`../../assets/icon/icon-mylg-${ico}-64-64.svg`)
        if block
            block

mixin myMembershipCard(data)
    ul.my-membership__list
        each set in data
            li.my-membership__item
                a(href="https://www.lgechat.com/us/index.html" class="my-membership__link" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="")
                    .c-text-contents
                        .title.c-text-contents__headline
                            .cmp-title.font-w-light-36.font-m-normal-16(data-cmp-data-layer="") !{set.title}
                        .c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-12 !{set.desc}
                    if set.ico == "none"
                        block
                    else
                        +myMembershipImage({ico: set.ico})
                            span.sr-only= set.ico

mixin MB000D_1(option=false)
    if option == 'default' 
        .c-wrapper.MB000D_1
            .component.responsive.page-title
                .cmp-container
                    //- block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Verify your LG.com account
                        .text.c-text-contents__bodycopy 
                            p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") Congratulation! Almost there. you will enjoy LG Electronics Services and LG Member benefits.
            .my-component__wrap.responsive.text-contents
                .type-side
                    .cmp-container 
                        // block : text-contents
                        .c-text-contents
                            .text.c-text-contents__subcopy
                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                                    p 
                                        strong.text-email  Your email address is 
                                            a user@email.com
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                                    p We have sent you an email to the email address your provided to activate your LG account.<br>Please open the activation email in your email inbox. Click the confirmation link to complete the activation process for your LG account.
                                    p the activation link for your LG account is vaild for 48 hours. After the 48 hours have expired, an unconfirmed LG account will be automatically deleted. in this case, a registration must be made again and LG aaaount must be confirmed with a new activation link
                                    p Please also check your email spam folder if you cannot find the confirmation email in your email inbox.
                            //- .text.c-text-contents__bodycopy
                            //-     .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                            //-         p the activation link for your LG account is vaild for 48 hours. After the 48 hours have expired, an unconfirmed LG account will be automatically deleted. in this case, a registration must be made again and LG aaaount must be confirmed with a new activation link
                            //- .text.c-text-contents__bodycopy
                            //-     .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                            //-         p Please also check your email spam folder if you cannot find the confirmation email in your email inbox.
                            .button.c-cta
                                +defaultButton({name: 'Go to Inbox', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})
                            .cmp-text.font-w-normal-14.font-m-normal-14.util-text(data-cmp-data-layer="")
                                p Didn’t receive an email? 
                                    a 
                                        strong.font-w-bold-14.font-m-bold-14 Send again
            
            .my-component__wrap.responsive.headline
                .component-headline
                    .cmp-container
                        //- block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Become an LG member
                            .text.c-text-contents__bodycopy 
                                p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") Enjoy all the benefits of FREE LG membership, from special discounts to exclusive services and offers.

            .component.responsive.membership
                .cmp-container
                    +myMembershipCard([
                        {ico:"none", title:"Welcome coupon", desc:"Get 5% off your first purchase when you join", buttonName:"view more"},
                        {ico:"none", title:"Exclusive pricing", desc:"Receive an extra 2% membership discount", buttonName:"view more"},
                        {ico:"none", title:"Free delivery", desc:"Free delivery for all LG.com orders", buttonName:"view more"}
                    ])

                
            .msg-tooltip-wrap
                .msg-tooltip
                    p Confirmation mail has been sent.
                    button.btn-close

            .my-component__wrap.responsive.offer-contents
                .offer-side 
                    .cmp-container 
                        .c-text-contents 
                            .link.c-text-contents__link 
                                .cmp-link.font-w-bold-16.font-m-normal-14(data-cmp-data-layer="")
                                    a CARA & MANFAAT MENDAFTAR DI WEBSITE LG
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")
                                    p Offer of $50 off applies to the entire transaction (value of purchased products has to be higher than $350, excluding purchased accessories). One voucher issues for each new account registered on LG.com/au between 1 January and 31 December 2023 in accordance with our Terms and Conditions. New members only. Voucher only valid for products enabled for purchase online on LG.com/au (other than accessories available at LG.com/au/accessories). Voucher is valid for 90 days from date of issue. Voucher code must be provided at checkout to redeem offer. Offer may not be used in conjunction with any other offer.
    else
        .c-wrapper.MB000D_1
            .component.responsive.page-title
                .cmp-container
                    //- block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Verify your LG.com account
                        .text.c-text-contents__bodycopy 
                            p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") Congratulation! Almost there. you will enjoy LG Electronics Services and LG Member benefits.
            .my-component__wrap.responsive.text-contents
                .type-side
                    .cmp-container 
                        // block : text-contents
                        .c-text-contents
                            .text.c-text-contents__subcopy
                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                                    p 
                                        strong.text-email  Your email address is 
                                            a user@email.com
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                                    p We have sent you an email to the email address your provided to activate your LG account.<br>Please open the activation email in your email inbox. Click the confirmation link to complete the activation process for your LG account.
                                    p the activation link for your LG account is vaild for 48 hours. After the 48 hours have expired, an unconfirmed LG account will be automatically deleted. in this case, a registration must be made again and LG aaaount must be confirmed with a new activation link
                                    p Please also check your email spam folder if you cannot find the confirmation email in your email inbox.
                            //- .text.c-text-contents__bodycopy
                            //-     .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                            //-         p the activation link for your LG account is vaild for 48 hours. After the 48 hours have expired, an unconfirmed LG account will be automatically deleted. in this case, a registration must be made again and LG aaaount must be confirmed with a new activation link
                            //- .text.c-text-contents__bodycopy
                            //-     .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") 
                            //-         p Please also check your email spam folder if you cannot find the confirmation email in your email inbox.
                            //- .button.c-cta
                            //-     +defaultButton({name: 'Go to Inbox', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: false})
                            .cmp-text.font-w-normal-14.font-m-normal-14.util-text(data-cmp-data-layer="")
                                p Didn’t receive an email? 
                                    a 
                                        strong.font-w-bold-14.font-m-bold-14 Send again
            
            .my-component__wrap.responsive.headline
                .component-headline
                    .cmp-container
                        //- block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Become an LG member
                            .text.c-text-contents__bodycopy 
                                p.cmp-text.font-w-normal-24.font-m-normal-12(data-cmp-data-layer="") Enjoy all the benefits of FREE LG membership, from special discounts to exclusive services and offers.

            .component.responsive.membership
                .cmp-container
                    +myMembershipCard([
                                    {ico:"none", title:"Welcome coupon", desc:"Get 5% off your first purchase when you join", buttonName:"view more"},
                                    {ico:"none", title:"Exclusive pricing", desc:"Receive an extra 2% membership discount", buttonName:"view more"},
                                    {ico:"none", title:"Free delivery", desc:"Free delivery for all LG.com orders", buttonName:"view more"}
                                ])

                
            .msg-tooltip-wrap
                .msg-tooltip
                    p Confirmation mail has been sent.
                    button.btn-close

            .my-component__wrap.responsive.offer-contents
                .offer-side 
                    .cmp-container 
                        .c-text-contents 
                            .link.c-text-contents__link 
                                .cmp-link.font-w-bold-16.font-m-normal-14(data-cmp-data-layer="")
                                    a CARA & MANFAAT MENDAFTAR DI WEBSITE LG
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="")
                                    p Offer of $50 off applies to the entire transaction (value of purchased products has to be higher than $350, excluding purchased accessories). One voucher issues for each new account registered on LG.com/au between 1 January and 31 December 2023 in accordance with our Terms and Conditions. New members only. Voucher only valid for products enabled for purchase online on LG.com/au (other than accessories available at LG.com/au/accessories). Voucher is valid for 90 days from date of issue. Voucher code must be provided at checkout to redeem offer. Offer may not be used in conjunction with any other offer.

block content
    // Component Markup
    .guide-text-type Type1. with a button (go to inbox)
    +MB000D_1('default')   
    .guide-text-type Type2. without a button (go to inbox)
    +MB000D_1('other')

