extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_title-area.pug
block meta 
    - var componentId = "AL0018"
    - var AL0020 = "AL0020"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href=`../${AL0020}/${AL0020}`+".css")

block scripts
    script(src=componentId+".js" type="module")
    script(src=`../${AL0020}/${AL0020}`+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.cmp-container .c-text-contents__title .cmp-title' : [
                            {
                                'name' : 'Web Headline Font Size',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-w-bold-64', 'remove' : 'font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-20'},
                                    {'toggle' : false, 'add' : 'font-w-regular-64', 'remove' : 'font-w-bold-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-20'},
                                    {'toggle' : false, 'add' : 'font-w-semibold-60', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-20'},
                                    {'toggle' : false, 'add' : 'font-w-regular-54', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-20'},
                                    {'toggle' : false, 'add' : 'font-w-semibold-46', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-bold-40, font-w-semibold-40, font-w-semibold-32, font-w-semibold-20'},
                                    {'toggle' : false, 'add' : 'font-w-bold-40', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-semibold-40, font-w-semibold-32, font-w-semibold-20'},
                                    {'toggle' : false, 'add' : 'font-w-semibold-40', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-32, font-w-semibold-20'},
                                    {'toggle' : false, 'add' : 'font-w-semibold-32', 'remove' : 'font-w-bold-64, font-w-regular-64, font-w-semibold-60, font-w-regular-54, font-w-semibold-46, font-w-bold-40, font-w-semibold-40, font-w-semibold-20'},
                                ]
                            },
                            {
                                'name' : 'Mobile Headline Font Size',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-m-bold-40', 'remove' : 'font-m-regular-40, font-m-semibold-32, font-m-bold-30, font-m-semibold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-16'},
                                    {'toggle' : false, 'add' : 'font-m-regular-40', 'remove' : 'font-m-bold-40, font-m-semibold-32, font-m-bold-30, font-m-semibold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-16'},
                                    {'toggle' : false, 'add' : 'font-m-semibold-32', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-bold-30, font-m-semibold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-16'},
                                    {'toggle' : false, 'add' : 'font-m-bold-30', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-semibold-32, font-m-semibold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-16'},
                                    {'toggle' : false, 'add' : 'font-m-semibold-30', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-semibold-32, font-m-bold-30, font-m-regular-30, font-m-semibold-26, font-m-semibold-16'},
                                    {'toggle' : false, 'add' : 'font-m-regular-30', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-semibold-32, font-m-bold-30, font-m-semibold-30, font-m-semibold-26, font-m-semibold-16'},
                                    {'toggle' : false, 'add' : 'font-m-semibold-26', 'remove' : 'font-m-bold-40, font-m-regular-40, font-m-semibold-32, font-m-bold-30, font-m-semibold-30, font-m-regular-30, font-m-semibold-16'},
                                ],
                            },
                        ],
                        '.cmp-container .c-text-contents__bodycopy .cmp-text' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };
    mixin AL0018List (param)
        each data in param 
            div.cmp-carousel__item.swiper-slide.c-list__item
                span.c-list-item__img
                    // img(src=data.isURL, alt=data.isALT)
                    +printLazyPicture(
                            `https://via.placeholder.com/${data.size_mo}`, 
                            `https://via.placeholder.com/${data.size_pc}`
                        )
                .c-list-item__contents
                    .c-text-contents.c-list-item__contents--box
                        .title.c-text-contents__title
                            strong.cmp-title.font-w-normal-24.font-m-normal-20(data-cmp-data-layer="")= data.titleName
                        .text.c-text-contents__bodycopy
                            p.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")= data.bodyCopy
                    .button.outlinks
                        +textButton({name: 'View Biography', wSize: 'medium', mSize: 'medium', buttonStyle: 'default js-pop-open', isButton: false})(href='#AL0020', data-link-destination="" data-link-name="view_biography" data-link-menu="" data-link-page-type="")
                        //- +linkButton({href:"#AL0020", type:"box", color:"red", class:"js-pop-open", name:"find model", roleButton:"true"})
                        //- +textButton({name: 'Learn More', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: true})
    .c-wrapper(class=componentId)
        .component
            .cmp-container
                //- block : text-contents
                +component-title-area({
                    headline : {
                        text : "People at LG",
                    }
                })(class="")
            .cmp-container
                - let lengthMobile = 8;
                - let lengthDesktop = 8;
                .c-list(role="list", data-length-mobile=lengthMobile, data-length-desktop=lengthDesktop)
                    +AL0018List([
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Bianca Lee-Chang",
                            titleName: "Bianca Lee-Chang",
                            bodyCopy: `LGEEH, European Marketing Comm. Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Fabio Gurman",
                            titleName: "Fabio Gurman",
                            bodyCopy: `LG Electronics Brazil, HR Team`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Jeong Chun-Hee",
                            titleName: "Jeong Chun-Hee",
                            bodyCopy: `LGECH, Public Relations Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Zhang Hui",
                            titleName: "Zhang Hui",
                            bodyCopy: `LGECH, HR Team`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "LuoBing",
                            titleName: "LuoBing",
                            bodyCopy: `LG Electronics China, R&D Center`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Yantao Sun",
                            titleName: "Yantao Sun",
                            bodyCopy: `LGETA, Vacuum Cleaner Purchasing Department`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Frédéric Christophe",
                            titleName: "Frédéric Christophe",
                            bodyCopy: `LGEMF, Standard- and Advanced-Technologies Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Marek Sosnowski",
                            titleName: "Marek Sosnowski",
                            bodyCopy: `LG Electronics Poland, Production Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Bianca Lee-Chang",
                            titleName: "Bianca Lee-Chang",
                            bodyCopy: `LGEEH, European Marketing Comm. Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Fabio Gurman",
                            titleName: "Fabio Gurman",
                            bodyCopy: `LG Electronics Brazil, HR Team`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Jeong Chun-Hee",
                            titleName: "Jeong Chun-Hee",
                            bodyCopy: `LGECH, Public Relations Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Zhang Hui",
                            titleName: "Zhang Hui",
                            bodyCopy: `LGECH, HR Team`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "LuoBing",
                            titleName: "LuoBing",
                            bodyCopy: `LG Electronics China, R&D Center`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Yantao Sun",
                            titleName: "Yantao Sun",
                            bodyCopy: `LGETA, Vacuum Cleaner Purchasing Department`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Frédéric Christophe",
                            titleName: "Frédéric Christophe",
                            bodyCopy: `LGEMF, Standard- and Advanced-Technologies Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Marek Sosnowski",
                            titleName: "Marek Sosnowski",
                            bodyCopy: `LG Electronics Poland, Production Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Bianca Lee-Chang",
                            titleName: "Bianca Lee-Chang",
                            bodyCopy: `LGEEH, European Marketing Comm. Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Fabio Gurman",
                            titleName: "Fabio Gurman",
                            bodyCopy: `LG Electronics Brazil, HR Team`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Jeong Chun-Hee",
                            titleName: "Jeong Chun-Hee",
                            bodyCopy: `LGECH, Public Relations Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Zhang Hui",
                            titleName: "Zhang Hui",
                            bodyCopy: `LGECH, HR Team`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "LuoBing",
                            titleName: "LuoBing",
                            bodyCopy: `LG Electronics China, R&D Center`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Yantao Sun",
                            titleName: "Yantao Sun",
                            bodyCopy: `LGETA, Vacuum Cleaner Purchasing Department`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Frédéric Christophe",
                            titleName: "Frédéric Christophe",
                            bodyCopy: `LGEMF, Standard- and Advanced-Technologies Group`,
                        },
                        {
                            size_pc:"342x342",
                            size_mo:"159x164",
                            isALT: "Marek Sosnowski",
                            titleName: "Marek Sosnowski",
                            bodyCopy: `LG Electronics Poland, Production Group`,
                        },
                    ])

            .cmp-container.align-text-center
                .button.more-btn
                    +textButton({name: 'More', wSize: 'large', mSize: 'large', buttonStyle: 'down', isButton: true})
block modal
    //- Find Model
    include ../AL0020/AL0020-inc.pug
    +AL0020