extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "ST0061"
    - var componentName = "Secret Coupon Page"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    //- guide style        
    .guide
        .grid-1600
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        '.ST0061' : [
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                    };
            .button-wrapper
                .guide-column
                    .target Popup Btns
                    ul.btn-list
                        li.btn-item
                            +linkButton({href:"#couponInfo", type:"guide", class:"js-pop-open", name:"Log In Popup", roleButton:"true"})
                        li.btn-item
                            +linkButton({href:"#issuedCoupon_1", type:"guide", class:"js-pop-open", name:"Sign in Alert 1", roleButton:"true"})
                        li.btn-item
                            +linkButton({href:"#issuedCoupon_2", type:"guide", class:"js-pop-open", name:"Sign in Alert 2", roleButton:"true"})

    include ./ST0061-inc.pug

    .guide-text-option Coupon list case
    +ST0061('Coupon list')

    .guide-text-option No coupon
    +ST0061('No list')

block modal
    +pop-msg-standard({id : `popCouponInfoTC`, headline:"T&C information", size: "medium", label: "T&C information", classes: "mo-line-hidden"})
        .c-pop-msg__contents.customScroll
            // block - text contents
            .c-text-contents
                .text.c-text-contents__bodycopy
                    .cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. <br>
        .button.c-pop-msg__button-wrap
            +defaultButton({
                name: 'Close', 
                wSize: 'medium', 
                mSize: 'small', 
                isButton: true
            })(class="js-pop-close")

    +printSuccessPopup('couponInfo', {desc: 'You must log in to receive the coupon.', btn1: 'Join Us', btn2: 'Log In'})
    +printSuccessPopup('issuedCoupon_1', {desc: 'A coupon has been issued.', btn1: 'Close', btn2: 'My Coupon'})
    +printSuccessPopup('issuedCoupon_2', {desc: 'This coupon has already been issued.', btn1: 'Close', btn2: 'My Coupon'})
