extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug

block meta 
    - var componentId = "CS0027"
    - var componentName = "CS Find my model number Popup"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug

    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    //- .guide 
    //-     .grid-1600 
    //-     .grid-1440
    //-     .inner
    //-         .guide-list
    //-             a(href="../../list-st.html") List 
    //-         .guide-title #{componentId}. #{componentName}
    //-         .guide-wrapper
    //-             script. 
    //-                 const guideList = {
    //-                     '.c-wrapper' : [
    //-                         {
    //-                             'name' : 'Top margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-top'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'Bottom margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-bottom'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'BG Color',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-text, .type-disclaimer' : [
    //-                         {
    //-                             'name' : 'Text Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
    //-                             ]
    //-                         }
    //-                     ],                        
    //-                     '.type-disclaimer .component' : [
    //-                         {
    //-                             'name' : 'Width Size',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'width-1440', 'remove' : 'width-1600'},
    //-                                 {'toggle' : false, 'add' : 'width-1600', 'remove' : 'width-1440'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-side' : [
    //-                         {
    //-                             'name' : 'Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-right'},
    //-                                 {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
    //-                         {
    //-                             'name' : 'Font Options',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
    //-                                 {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
    //-                                 {'toggle' : true, 'add' : 'font-italic'},
    //-                                 {'toggle' : true, 'add' : 'font-underline'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                 };

    mixin productList
        // 20230314 Change markup order
        .c-prd-grid
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Washing<br>machines
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Wahser<br>dryers
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Tumble<br>dryers
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Fridge<br>freezers
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Dish-washers
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Microwave<br>ovens
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Vacuum<br>cleaners
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Styler
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Styler
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Styler
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Styler
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')
            div(tabindex="0" role="dialog" data-link-name)
                p.font-m-normal-16.font-w-normal-24 Styler
                +printLazyPicture('../../assets/icon/icon-washing-machines-100-100.svg', '../../assets/icon/icon-washing-machines-80-80.svg')(aria-hidden='true')

    mixin productTit(params)
        - var option = { title: 'title', subtit: 'subtit', ...params }
        h6.c-modal__content-title.font-m-normal-16.font-w-normal-24 #{option.title}
        if option.subtit            
            p.c-modal__content-subtitle.font-m-normal-12.font-w-normal-16 #{option.subtit}
        else 
            block 



    mixin printTab(div, num, selected)
        if selected
            li.cmp-tabs__tab.cmp-tabs__tab--active(href="#" role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true")
                div.font-m-semibold-14.font-w-normal-16
                    if block
                        block
        else 
            li.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false")
                div.font-m-semibold-14.font-w-normal-16
                    if block
                        block

    mixin printTabPanel(div, num, selected, params)
        - var options = {...params}
        .c-tabs__tabpanel.cmp-tabs__tabpanel(id=`tabs-${div}-item-${num}-tabpanel` class=`${ selected ? `cmp-tabs__tabpanel--active .c-tabs__tabpanel--active`: ``}` role="tabpanel" aria-labelledby=`tabs-${div}-item-${num}-tab` tabindex=`${selected ? `0` : `-1`}` data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="")
            .c-modal__content           
                .c-modal__content-scroll-box 
                    .c-modal__content-top  
                        +productTit({title:`${options.title}`, subtit:`${options.subTitle}`}) 
                    if block
                        block


    mixin printModal(params)
        - const options = { modalTitle: 'Find my model number', tabs: false, tabDiv: 1, tabTitles: [`Serial number`, `QR code`], breadcrumb: false, bcTitle: `Product reselect`, bcList: [`Product category`, `Appliances`, `Fridge freezers`], btmText: undefined, ...params}
        .c-wrapper.CS0027.type-text
            .component.cs-component
                .CS0027__container
                    // tab type
                    .c-modal.c-modal__tab-type
                        .c-modal__dimmed
                        .c-modal__box
                            .c-modal-head__wrap
                                .c-modal__head 
                                    .c-modal__title.font-m-light-28.font-w-light-56 #{options.modalTitle}
                                    button(type="button" aria-label="").c-modal__closebtn close btn
                                .c-tabs.tabs.panelcontainer(class=`${options.tabs ? '' : 'c-hidden'}`)
                                    .cmp-tabs(data-cmp-data-layer="" data-placeholder-text="false")
                                        .c-tabs__inner
                                            ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist" aria-multiselectable="false")
                                                - for (let i=0; i < options.tabTitles.length; i++)
                                                    - var isActive = i == 0 ? true : false
                                                    +printTab(`${options.tabDiv}`, `${i+1}`, isActive)
                                                        h3.font-m-normal-16.font-w-normal-20 #{options.tabTitles[i]}
                                if options.breadcrumb
                                    .breadcrumb
                                        p.font-w-normal-14i.font-m-normal-14i #{options.bcTitle} : 
                                        nav.cmp-breadcrumb.c-breadcrumb.swiper(data-cmp-data-layer="" aria-label="breadcrumb")
                                            ol.cmp-breadcrumb__list.c-breadcrumb__list.font-m-normal-14.font-w-normal-14.swiper-wrapper
                                                - for (let i = 0; i < options.bcList.length; i++)
                                                    if i === options.bcList.length - 1 
                                                        +bcItem2({text: `${options.bcList[i]}`, current:true})(aria-current="step")
                                                    else
                                                        +bcItem({text: `${options.bcList[i]}`})
                            if block
                                block
                            .c-modal__bottom
                                if options.btmText
                                    .care-text
                                        | #{options.btmText[0]}
                                        if options.btmText.length > 1
                                            - for (let i = 1; i < options.btmText.length; i++)
                                                <br> #{options.btmText[i]}
    // Component Markup

    .guide-text-type CS Find my model number Popup

    // Component Markup 
    //(Use only this component during development and delete the remaining components)
    +printModal({tabDiv: 1, btmText: [`*Includes business-only products.`],})
        +printTabPanel(1, 1, true, {title : 'Product category', subTitle: 'Select category and product below.'})
            +productList
        +printTabPanel(1, 2, false, {title : 'Product category', subTitle: 'Select category and product below.'}) 
            +productList
    //- // 20230901 mixin edit
    //- .c-wrapper.CS0027.type-text
    //-     .component.cs-component
    //-         .CS0027__container
    //-             // tab type
    //-             .c-modal.c-modal__tab-type
    //-                 .c-modal__dimmed
    //-                 .c-modal__box
    //-                     .c-modal-head__wrap
    //-                         .c-modal__head 
    //-                             .c-modal__title.font-m-light-28.font-w-light-56 Find my model number
    //-                             button(type="button" aria-label="").c-modal__closebtn close btn    
    //-                         // 20230425 hidden case add (.c-hidden)    
    //-                         .c-tabs.tabs.panelcontainer.c-hidden
    //-                             .cmp-tabs(data-cmp-data-layer="" data-placeholder-text="false")
    //-                                 .c-tabs__inner
    //-                                     ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist" aria-multiselectable="false")
    //-                                         +printTab(1, 1, true)
    //-                                             h3.font-m-normal-16.font-w-normal-20 Serial number
    //-                                         +printTab(1, 2, false)
    //-                                             h3.font-m-normal-16.font-w-normal-20 QR code

    //-                     +printTabPanel(1, 1, true)
    //-                         .c-modal__content           
    //-                             .c-modal__content-scroll-box 
    //-                                 .c-modal__content-top 
    //-                                     +productTit({title:'Product category', subtit:'Select category and product below.'})
    //-                                 +productList 

    //-                     +printTabPanel(1, 2, false)
    //-                         .c-modal__content           
    //-                             .c-modal__content-scroll-box 
    //-                                 .c-modal__content-top 
    //-                                     +productTit({title:'Product category', subtit:'Select category and product below.'})
    //-                                 +productList 

    //-                     .c-modal__bottom 
    //-                         .care-text *Includes business-only products.
   
    // Component Markup 
    +printModal({tabDiv: 2, breadcrumb: true, btmText: [`*Includes business-only products.`, `*The above image may be slightly different from the actual image.`], })
        +printTabPanel(2, 1, true, {title : 'Appliances', subTitle: 'Select category and product below.'})
            +productList
        +printTabPanel(2, 2, false, {title : 'Appliances', subTitle: 'Select category and product below.'})
            +productList

    // Component Markup
    +printModal({tabDiv: 3, breadcrumb: true, })
        +printTabPanel(3, 1, true, {title : 'Fridge freezers', subTitle: '', btmText: [` `]})
            .c-serial-box
                .c-serial-box__inner 
                    .c-serial-box__image 
                        +printLazyPicture('https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/find-my-model/CookingAppliances.jpg', 'https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/find-my-model/CookingAppliances.jpg')
                    p.c-serial-box__account The model and/or serial number may be found in the following location: on the inner of the fridge.
        +printTabPanel(3, 2, false, {title : 'Fridge freezers', subTitle: ''})
            .c-serial-box
                .c-serial-box__inner 
                    .c-serial-box__image 
                        +printLazyPicture('../../mocks/CS0027/temp-serial-m.png', '../../mocks/CS0027/temp-serial-pc.png')
                    p.c-serial-box__account The model and/or serial number may be found in the following location: on the inner of the fridge. 
    
    .guide-text-option Type2. TAB 
    // 20230831 tab no hidden case added
    +printModal({tabDiv: 4, tabs: true, btmText: [`*Includes business-only products.`],})
        +printTabPanel(4, 1, true, {title : 'Product category', subTitle: 'Select category and product below.'})
            +productList
        +printTabPanel(4, 2, false, {title : 'Product category', subTitle: 'Select category and product below.'})
            +productList
    //- // 20230901 mixin edit 
    //- .c-wrapper.CS0027.type-text
    //-     .component.cs-component
    //-         .CS0027__container
    //-             // tab type
    //-             .c-modal.c-modal__tab-type
    //-                 .c-modal__dimmed
    //-                 .c-modal__box
    //-                     .c-modal-head__wrap
    //-                         .c-modal__head 
    //-                             .c-modal__title.font-m-light-28.font-w-light-56 Find my model number
    //-                             button(type="button" aria-label="").c-modal__closebtn close btn    
    //-                         // 20230425 hidden case add (.c-hidden)    
    //-                         .c-tabs.tabs.panelcontainer
    //-                             .cmp-tabs(data-cmp-data-layer="" data-placeholder-text="false")
    //-                                 .c-tabs__inner
    //-                                     ul.c-tabs__tablist.cmp-tabs__tablist.swiper-wrapper(role="tablist" aria-multiselectable="false")
    //-                                         +printTab(4, 1, true)
    //-                                             h3.font-m-normal-16.font-w-normal-20 Serial number
    //-                                         +printTab(4, 2, false)
    //-                                             h3.font-m-normal-16.font-w-normal-20 QR code

    //-                     +printTabPanel(4, 1, true)
    //-                         .c-modal__content           
    //-                             .c-modal__content-scroll-box 
    //-                                 .c-modal__content-top 
    //-                                     +productTit({title:'Product category', subtit:'Select category and product below.'})
    //-                                 +productList 

    //-                     +printTabPanel(4, 2, false)
    //-                         .c-modal__content           
    //-                             .c-modal__content-scroll-box 
    //-                                 .c-modal__content-top 
    //-                                     +productTit({title:'Product category', subtit:'Select category and product below.'})
    //-                                 +productList 

    //-                     .c-modal__bottom 
    //-                         .care-text *Includes business-only products.

    // Component Markup
    +printModal({tabDiv: 5, tabs: true, breadcrumb: true, btmText: [`*Includes business-only products.`, `*The above image may be slightly different from the actual image. `],})
        +printTabPanel(5, 1, true, {title : 'Appliances', subTitle: 'Select category and product below.'})
            +productList
        +printTabPanel(5, 2, false, {title : 'Appliances', subTitle: 'Select category and product below.'})
            +productList

    // Component Markup
    +printModal({tabDiv: 6, tabs: true, breadcrumb: true,})
        +printTabPanel(6, 1, true, {title : 'Fridge freezers', subTitle: ''})
            .c-serial-box
                .c-serial-box__inner 
                    .c-serial-box__image 
                        +printLazyPicture('https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/find-my-model/CookingAppliances.jpg', 'https://publish-p86205-e734304.adobeaemcloud.com/content/dam/channel/wcms/uk/images/find-my-model/CookingAppliances.jpg')
                    p.c-serial-box__account The model and/or serial number may be found in the following location: on the inner of the fridge.
        +printTabPanel(6, 2, false, {title : 'Fridge freezers', subTitle: ''})
            .c-serial-box
                .c-serial-box__inner 
                    .c-serial-box__image 
                        +printLazyPicture('../../mocks/CS0027/temp-serial-m.png', '../../mocks/CS0027/temp-serial-pc.png')
                    p.c-serial-box__account The model and/or serial number may be found in the following location: on the inner of the fridge.