extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_forms.pug

block meta 
    - var componentId = "CS0081"
    - var componentName = "Repair Request_B2B Selector"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content

    .guide-text-type Repair Request_B2B Selector
    // 20230419 markup

    .guide-text-option ASIA(CN,IN), SouthAmerica(BR) ,EUROPE(DE)
    .c-wrapper.CS0081.type-text.margin-top.margin-bottom
        .component
            .CS0081__container
                // Where was your device installed?
                .cs-form
                    .cmp-form
                        .c-radio-label.font-m-normal-16.font-w-normal-16 Where was your device installed? #[em.require *]#[span.sr-only Required Field] 
                        .c-form__box.c-form__radio-box
                            .c-form-box
                                +formRadio("Residence or private place","sort", "FT00000001", "FV00000001", "FT00000001_FV00000001")(aria-controls="resultTarget" aria-label="" checked)
                            .c-form-box
                                +formRadio("Public place(company, hospital, school, etc.)","sort", "FT00000001", "FV00000002", "FT00000001_FV00000002")(aria-controls="resultTarget" aria-label="")
    
    //- .guide-text-option ASIA(CN,IN)
    //- .c-wrapper.CS0081.type-text.margin-top.margin-bottom
    //-     .component
    //-         .CS0081__container
    //-             // Where was your device installed?
    //-             .cs-form
    //-                 .cmp-form
    //-                     .c-radio-label.font-m-normal-16.font-w-normal-24 Where was your device installed?
    //-                     .c-form__box.c-form__radio-box
    //-                         .c-form-box
    //-                             +formRadio("Residence or private place","sort", "FT00000001", "FV00000001", "FT00000001_FV00000001")(aria-controls="resultTarget" aria-label="" checked)
    //-                         .c-form-box
    //-                             +formRadio("Public place(company, hospital, school, etc.)","sort", "FT00000001", "FV00000002", "FT00000001_FV00000002")(aria-controls="resultTarget" aria-label="")
    


    //- .guide-text-option SouthAmerica(BR)
    //- .c-wrapper.CS0081.type-text.margin-top.margin-bottom
    //-     .component
    //-         .CS0081__container
    //-             // Where was your device installed?
    //-             .cs-form
    //-                 .cmp-form
    //-                     .c-radio-label.font-m-normal-16.font-w-normal-24 Where was your device installed?
    //-                     .c-form__box.c-form__radio-box
    //-                         .c-form-box
    //-                             +formRadio("Residence or private place","sort", "FT00000001", "FV00000001", "FT00000001_FV00000001")(aria-controls="resultTarget" aria-label="" checked)
    //-                         .c-form-box
    //-                             +formRadio("Public place(company, hospital, school, etc.)","sort", "FT00000001", "FV00000002", "FT00000001_FV00000002")(aria-controls="resultTarget" aria-label="")
    

    //- .guide-text-option EUROPE(DE)
    //- .c-wrapper.CS0081.type-text.margin-top.margin-bottom
    //-     .component
    //-         .CS0081__container
    //-             // Where was your device installed?
    //-             .cs-form
    //-                 .cmp-form
    //-                     .c-radio-label.font-m-normal-16.font-w-normal-24 Where was your device installed?
    //-                     .c-form__box.c-form__radio-box
    //-                         .c-form-box
    //-                             +formRadio("Residence or private place","sort", "FT00000001", "FV00000001", "FT00000001_FV00000001")(aria-controls="resultTarget" aria-label="" checked)
    //-                         .c-form-box
    //-                             +formRadio("Public place(company, hospital, school, etc.)","sort", "FT00000001", "FV00000002", "FT00000001_FV00000002")(aria-controls="resultTarget" aria-label="")
    
