extends ../_common/_layout.pug
include ../_common/_headline.pug
include ../_common/_button.pug
include ../_common/_link-banner.pug
include ../_common/_my-component.pug
include ../_common/_pagination.pug


block meta 
    - var componentId = "ML000Z"
    - var componentName = "Local Feature"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

//- 별표시 ui
//- mixin star(percent, rating)
//-     // block : star wrap
//-     .c-star
//-         a(href="") 
//-             .c-star__front-image
//-                 .c-star__back-image(style=`width:${percent};` aria-hidden="true")
//-             span= rating

//- 별표시 ui : 2023-06-09 Disabled case 추가
mixin star(percent, rating, modelName, isTag=false)
    // block : star wrap
    .c-head-star(class=`${isTag ? 'disabled' : ''}`)
        .c-star
            a(href="") 
                .c-star__front-image
                    .c-star__back-image(style=`width:${percent};` aria-hidden="true")
                span= rating
        a(href="") 
            span.c-code= modelName
//- 데이터없음 nodata
mixin noData
    .c-wrapper.ML000Z
        .component
            .fluid-container
                .my-component__wrap
                    .my-reviewlist
                        .c-nodata-area
                            p Be the first to rate this product.

mixin ML000Z(option=false)
    if option == 'default'
        .c-wrapper.ML000Z        
            .component
                .fluid-container
                    +myComponentSubMenu({
                        title:"My Reviews",
                        subMenu:['m1', 'm2', 'm3']
                    })
                    .my-component__wrap
                        .my-reviewlist
                            .c-review__item 
                                // block : head star
                                //- .c-head-star
                                //-     +star("90%", "4/5")
                                //-     a(href="") 
                                //-         span.c-code 27UP850-W

                                //- 2023-06-09 수정
                                +star("90%", "4/5", "27UP850-W")
                                .review__item-content
                                    .review__item-content__headline
                                        strong.cmp-text.font-w-normal-24.font-m-normal-20(data-cmp-data-layer="") Review title on mobile can be up to 2 lines, Review title on mobile can be up to 2 lines
                                    .review__item-content__bodycopy.is-ellipsis 
                                        span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here.                                                             
                                    .button.c-cta
                                        +textButton({name: 'View More', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: true})

                            .c-review__item 
                                // block : head star
                                //- .c-head-star
                                //-     +star("90%", "4/5")
                                //-     a(href="") 
                                //-         span.c-code 27UP850-W
                                
                                //- 2023-06-09 수정
                                +star("90%", "4/5", "27UP850-W")
                                .review__item-content
                                    .review__item-content__headline
                                        strong.cmp-text.font-w-normal-24.font-m-normal-20(data-cmp-data-layer="") Review title on mobile can be up to 2 lines, Review title on mobile can be up to 2 lines
                                    .review__item-content__bodycopy.is-ellipsis 
                                        span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here.                                 
                                    .button.c-cta
                                        +textButton({name: 'View More', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: true})
                            
                            .c-review__item 
                                // block : head star
                                //- .c-head-star
                                //-     +star("90%", "4/5")
                                //-     a(href="") 
                                //-         span.c-code 27UP850-W
                                
                                //- 2023-06-09 수정
                                +star("90%", "4/5", "27UP850-W")
                                .review__item-content
                                    .review__item-content__headline
                                        strong.cmp-text.font-w-normal-24.font-m-normal-20(data-cmp-data-layer="") Review title on mobile can be up to 2 lines
                                    .review__item-content__bodycopy.is-ellipsis 
                                        span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Written review goes here. This is what a short one looks like. Written review goes here. 
                                    .button.c-cta.hidden
                                        +textButton({name: 'View More', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: true})
                        +pagination
    else 
        .c-wrapper.ML000Z        
            .component
                .fluid-container
                    +myComponentSubMenu({
                        title:"My Reviews",
                        subMenu:['m1', 'm2', 'm3']
                    })
                    .my-component__wrap
                        .my-reviewlist
                            .c-review__item 
                                // block : head star
                                +star("90%", "4/5", "27UP850-W", true)                                
                                .review__item-content
                                    .review__item-content__headline
                                        strong.cmp-text.font-w-normal-24.font-m-normal-20(data-cmp-data-layer="") Review title on mobile can be up to 2 lines, Review title on mobile can be up to 2 lines
                                    .review__item-content__bodycopy.is-ellipsis 
                                        span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here.                                                             
                                    .button.c-cta
                                        +textButton({name: 'View More', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: true})

                            .c-review__item 
                                // block : head star
                                +star("90%", "4/5", "27UP850-W", true)                            
                                .review__item-content
                                    .review__item-content__headline
                                        strong.cmp-text.font-w-normal-24.font-m-normal-20(data-cmp-data-layer="") Review title on mobile can be up to 2 lines, Review title on mobile can be up to 2 lines
                                    .review__item-content__bodycopy.is-ellipsis 
                                        span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here. Written review goes here. This is what a short one looks like. Written review goes here.                                 
                                    .button.c-cta
                                        +textButton({name: 'View More', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: true})
                            
                            .c-review__item 
                                // block : head star
                                +star("90%", "4/5", "27UP850-W", true)
                                .review__item-content
                                    .review__item-content__headline
                                        strong.cmp-text.font-w-normal-24.font-m-normal-20(data-cmp-data-layer="") Review title on mobile can be up to 2 lines
                                    .review__item-content__bodycopy.is-ellipsis 
                                        span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Written review goes here. This is what a short one looks like. Written review goes here. 
                                    .button.c-cta.hidden
                                        +textButton({name: 'View More', wSize: 'small', mSize: 'small', buttonStyle: 'down', isButton: true})
                        +pagination
  

block content
    // Component Markup
    +ML000Z('default')
    .guide-text-type Type1. NoData
    +noData('noData')
    .guide-text-type TY2. Disabled
    +ML000Z('disabled')
    
