extends ../_common/_layout.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta
    - var componentId = "ST0048"
    - var componentName = "Carousel Component"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding.
    // Please do not use it during development.
    .guide
        .grid-1600
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        '.ST0048' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                        ],
                        //- '.c-carousel' : [
                        //-     {
                        //-         'name' : 'Color',
                        //-         'buttons' : [
                        //-             {'toggle' : true, 'add' : 'dark-theme'},
                        //-         ]
                        //-     },
                        //- ],
                        '.c-hero-banner' : [
                            {
                                'name' : 'Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'}
                                ]
                            }
                        ],
                        '.c-hero-banner .c-floating-contents__main-contents .c-text-contents' : [
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide'},
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow'},
                                ]
                            }
                        ],
                        '.c-hero-banner .c-floating-contents__main-contents .c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            },
                        ],

                        // type : default
                        '.type-default .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical - mobile',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top-mobile', 'remove' : 'c-hero-banner--main-pos-middle-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-middle-mobile'},
                                ]
                            },
                        ],

                        // type : thin
                        '.type-thin .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                        ],
                        '.type-thin .c-hero-banner.c-hero-banner--main-pos-center' : [
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                        ],

                        // type : image 
                        '.type-image .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical - mobile',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top-mobile', 'remove' : 'c-hero-banner--main-pos-middle-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-middle-mobile'},
                                ]
                            },
                        ],
                    };

    mixin carousel-item-component(id, set) 
        - var bgColor = ["#ffffff", "#000000", "#333333", "#f6f3eb", "#f6f7f8", "#262626", "#e6e1d6"]
        - var index = Math.floor(Math.random() * 7);
        .c-wrapper(class=`${id}`)&attributes(attributes)
            .component
                .cmp-container(style=`background-color:${bgColor[index]};`)
                    +hero-banner-case-select(set)

    mixin carousel-nested-component(id, type = "", itemOption)
        .carousel.panelcontainer
            // block : carousel
            .cmp-carousel.swiper.c-carousel(data-cmp-autoplay="autoplay" data-cmp-timedelay="5000" data-cmp-autopause="true" style="--heroTimer:5s" data-cmp-data-layer="")&attributes(attributes)
                .cmp-carousel__content.swiper-wrapper
                    - for (var i=0; i < itemOption.length; i++)
                        - var set = itemOption[i]
                        .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item" data-title="Multi Door Fridge Freezers")
                            +carousel-item-component(id, set)(class=`${type}`)
                +hero-controls

    // Component Markup
    // ST0001 / Type Default
    .guide-text-option Full Hero - Sample
    .c-wrapper.ST0048.margin-top.margin-bottom.bg-default
        .component.type-default.width-wide
            .cmp-container
                // "margin-top", "margin-bottom" is unnecessary on ".ST0001"
                +carousel-nested-component("ST0001", "type-default", [
                    {caseSelect : "video", width : "wide", heroType : "default", dateType : "range", useEyebrow : true, textAlign : "left", headline : "Lorem ipsum dolor sit amet consectetur.", bodycopy: "", fontColor : "font-black"},
                    {caseSelect : "animation", width : "wide", heroType : "default", dateType : "range", useEyebrow : true, textAlign : "center", bodycopy: ""},
                    {caseSelect : "image", width : "wide", heroType : "default", dateType : "range", useEyebrow : false, textAlign : "right", bodycopy: "Lorem, ipsum dolor sit amet", useMobileSource : true}
                ])(class="autoplay")
    .guide-text-type ST0001 / Type - Default
    // to dev - Component event type from data-carousel-event attribute. allow as value are "autoplay", "default".  
    .c-wrapper.ST0048.margin-top.margin-bottom.bg-default
        .component.type-default
            .cmp-container
                // "margin-top", "margin-bottom" is unnecessary on ".ST0001"
                +carousel-nested-component("ST0001", "type-default", [
                    {caseSelect : "video", width : "wide", heroType : "default", dateType : "range", useEyebrow : true, textAlign : "left", headline : "Lorem ipsum dolor sit amet consectetur.", bodycopy: "", fontColor : "font-black"},
                    {caseSelect : "animation", width : "wide", heroType : "default", dateType : "range", useEyebrow : true, textAlign : "center", bodycopy: ""},
                    {caseSelect : "image", width : "wide", heroType : "default", dateType : "range", useEyebrow : false, textAlign : "right", bodycopy: "Lorem, ipsum dolor sit amet", useMobileSource : true}
                ])(class="autoplay")

    // ST0001 / Type Thin
    .guide-text-type ST0001 / Type - Thin
    .c-wrapper.ST0048.margin-top.margin-bottom.bg-default
        .component.type-thin
            .cmp-container
                // "margin-top", "margin-bottom" is unnecessary on ".ST0001"
                +carousel-nested-component("ST0001", "type-thin", [
                    {caseSelect : "image", width : "narrow", heroType : "thin", dateType : "countdown", useEyebrow : false, cta : "box", textAlign : "left"},
                    {caseSelect : "video", width : "narrow", heroType : "thin", dateType : "range", useEyebrow : true, cta : "text", textAlign : "center", fontColor : "font-black"},
                    {caseSelect : "animation", width : "narrow", heroType : "thin", dateType : "countdown", useEyebrow : false, cta : "box", textAlign : "left", useMobileSource : true},
                ])(class="autoplay")

    // ST0055 / BG Image
    .guide-text-type ST0055 / BG Image
    .c-wrapper.ST0048.margin-top.margin-bottom.bg-default
        .component.type-bg-image
            .cmp-container
                // "margin-top", "margin-bottom" is unnecessary
                +carousel-nested-component("ST0055", "type-bg-image", [
                    {caseSelect : "video", width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : false, cta : "none", textAlign : "center", fontColor : "font-black"},
                    {caseSelect : "image", width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : false, cta : "none", textAlign : "center"},
                    {caseSelect : "animation", width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : false, cta : "none", textAlign : "center", fontColor : "font-black"},
                    {caseSelect : "image", width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : false, cta : "none", textAlign : "center", fontColor : "font-black"},
                    {caseSelect : "image", width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : false, cta : "none", textAlign : "center"},
                    {caseSelect : "image", width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : false, cta : "none", textAlign : "center"},
                    {caseSelect : "image", width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : false, cta : "none", textAlign : "center", fontColor : "font-black"},
                    {caseSelect : "image", width : "narrow", heroType : "bg image", dateType : "none", useEyebrow : false, cta : "none", textAlign : "center"},
                ])(class="autoplay")

    // ST0055 / Image
    .guide-text-type ST0055 / Image
    .c-wrapper.ST0048.margin-top.margin-bottom.bg-default
        .component.type-image
            .cmp-container
                // "margin-top", "margin-bottom" is unnecessary
                +carousel-nested-component("ST0055", "type-image", [
                    {caseSelect : "video", width : "narrow", heroType : "image", dateType : "none", useEyebrow : true, cta : "text", textAlign : "left", fontColor : "font-black"},
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : true, cta : "box", textAlign : "left"},
                    {caseSelect : "animation", width : "narrow", heroType : "image", dateType : "none", useEyebrow : true, cta : "box", textAlign : "center",  useMobileSource : true},
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : true, cta : "box", textAlign : "center"},
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : false, cta : "text", textAlign : "left", fontColor : "font-black"},
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : false, cta : "text", textAlign : "right"},
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : true, cta : "box", textAlign : "left"},
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : false, cta : "box", textAlign : "left"},
                ])(class="autoplay")
    
    .guide-text-option Img Of Text - Sample
    .c-wrapper.ST0048.margin-top.margin-bottom.bg-default
        .component.type-default.width-wide
            .cmp-container
                // "margin-top", "margin-bottom" is unnecessary on ".ST0001"
                +carousel-nested-component("ST0001", "type-default", [
                    {caseSelect : "image", width : "wide", heroType : "default", dateType : "range", useEyebrow : false, textAlign : "right", headline : "If the image has text Handling aria-hidden in images", bodycopy : "Provides an additional image description textfield", imgOfText : true, useMobileSource : true},
                    {caseSelect : "image", width : "wide", heroType : "default", dateType : "range", useEyebrow : false, textAlign : "right", headline : "If the image has text Handling aria-hidden in images", bodycopy : "Provides an additional image description textfield", imgOfText : false, useMobileSource : true},
                    {caseSelect : "image", width : "wide", heroType : "default", dateType : "range", useEyebrow : false, textAlign : "right", headline : "If the image has text Handling aria-hidden in images", bodycopy : "Provides an additional image description textfield", imgOfText : true, useMobileSource : true}
                ])(class="autoplay")

    .c-wrapper.ST0048.margin-top.margin-bottom.bg-default
        .component.type-image
            .cmp-container
                // "margin-top", "margin-bottom" is unnecessary
                +carousel-nested-component("ST0055", "type-image", [
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : false, cta : "text", textAlign : "left", headline : "If the image has text Handling aria-hidden in images", bodycopy : "Provides an additional image description textfield", imgOfText : true},
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : false, cta : "text", textAlign : "center", headline : "If the image has text Handling aria-hidden in images", bodycopy : "Provides an additional image description textfield", imgOfText : true},
                    {caseSelect : "image", width : "narrow", heroType : "image", dateType : "none", useEyebrow : false, cta : "text", textAlign : "right", headline : "If the image has text Handling aria-hidden in images", bodycopy : "Provides an additional image description textfield", imgOfText : true},
                ])(class="autoplay")
