extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_video.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug

block meta 
    - var componentId = "ST0036"
    - var componentName = "Feature Icon Tab"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                        //- '.c-text-contents' : [
                        //-     {
                        //-         'name' : 'Text Align',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                        //-             {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                        //-             {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                        //-         ]
                        //-     },
                        //- ],
                        '.c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                        '.ST0036 .component' : [
                            {
                                'name' : 'Text Width',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'none', 'remove' : 'width-wide'},
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'none'},
                                ]
                            }
                        ],
                        '.ST0036 .c-carousel-tabs__panel .c-text-contents' : [
                            {
                                'name' : 'Text Horizontal Position',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'pos-left', 'remove' : 'pos-center, pos-right'},
                                    {'toggle' : false, 'add' : 'pos-center', 'remove' : 'pos-left, pos-right'},
                                    {'toggle' : false, 'add' : 'pos-right', 'remove' : 'pos-left, pos-center'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    - var headlineStyle = "font-w-light-56 font-m-light-28"
    - var bodyStyle = "font-w-normal-24 font-m-normal-16"
    - var tabStyle = "font-w-normal-20 font-m-normal-16"

    mixin text-contents(num)
        // block : text-contents   
        .c-text-contents.pos-center
            .title.c-text-contents__headline
                +headline(headlineStyle, h2, `Shop LG Kitchen Finishes ${num}`)
            .text.c-text-contents__bodycopy
                .cmp-text(class=`${bodyStyle}` data-cmp-data-layer="") 
                    p Body #{num} text can bte up to 250 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 250 characters. Body text

    mixin icon-text-contents
        // block : text-contents   
        .c-text-contents
            .text.c-text-contents__imagetext
                .cmp-text(class=`${tabStyle}` data-cmp-data-layer="") 
                    p Lorem Ipsum

    mixin image
        // block : image
        .image.c-image
            +printLazyPicture('https://via.placeholder.com/768x512/999999/333333', 'https://via.placeholder.com/1600x700/999999/333333')(aria-hidden='true')
            if block
                block
    mixin icon
        // block : image
        // on icon
        .image.c-image.off
            +printLazyImage('https://via.placeholder.com/122x122/999999/333333')(aria-hidden='true')
        // off icon
        .image.c-image.on
            +printLazyImage('https://via.placeholder.com/122x122/da0f47/fff')(aria-hidden='true')
            if block
                block

    mixin video-contents
        // block : media contents
        .c-media-contents
            // Video case
            +image
                +floating-video("brightcove")

    mixin ani-contents
        // block : media contents
        .c-media-contents
            // Animation case
            +image
                +bg-video
    mixin img-contents
        // block : media contents
        // Option : target="_blank" title="Opens in a new window"
        a(href="#" class="c-media-contents")
            // Image case
            +image

    mixin panelListItem(type, num)
        .cmp-carousel__item.swiper-slide.c-carousel__item(role="tabpanel" id=`carousel-tabs-item-${num}-tabpanel` aria-labelledby=`carousel-tabs-item-${num}` data-cmp-data-layer="" data-cmp-hook-carousel="item")
            +text-contents(num)
            case type
                when 'video'
                    +video-contents
                when 'animation'
                    +ani-contents
                when 'image'
                    +img-contents
                default
                    +img-contents
    
    .c-wrapper.ST0036.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : carousel tabs
                .c-carousel-tabs
                    // list
                    .carousel.panelcontainer.c-carousel-tabs__list
                        // block : carousel
                        .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper(role="tablist" aria-multiselectable="false")
                                - for (var x = 0; x < 3; x++)
                                    a.cmp-carousel__item.swiper-slide.c-carousel__item(href="#" role="tab" id=`carousel-tabs-item-${x+1}` aria-controls=`carousel-tabs-item-${x+1}-tabpanel` aria-selected="false" data-cmp-data-layer=""  data-cmp-hook-carousel="item")
                                        +icon
                                        +icon-text-contents
                            .c-carousel__handler
                                .cmp-carousel__actions
                                    +carouselBtn({type:"pagination", direction:"prev"})
                                +carouselPagination
                                .cmp-carousel__actions
                                    +carouselBtn({type:"pagination", direction:"next"})
                    // panel
                    .carousel.panelcontainer.c-carousel-tabs__panel
                        // block : carousel
                        .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +panelListItem('video', '1')
                                +panelListItem('animation', '2')
                                +panelListItem('image', '3')
