extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_brand-detail.pug
include ../_common/_product-list.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "ETC000I"
    - var componentName = "Brandshop"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    <meta name="ps-account" content="1698">
    <meta name="ps-config" content="59d4fb4e369c750034b61c08">
    <meta name="ps-country" content="CA">
    <meta name="ps-language" content="en">


block styles
    link(rel="stylesheet", href="../PD0016/PD0016.css")

block scripts
    script(src="../PD0016/PD0016.js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        'body' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'dark-theme'},
                                ]
                            }
                        ],
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                    };

    include ../PD0016/PD0016-inc.pug

    //- No lable
    .guide-text-option IN
    +PD0016('BrandshopIN')

    .guide-text-option ID
    +PD0016('BrandshopID')
