extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_forms.pug
include ../_common/_spec-info.pug
include ../_common/_sns-list.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug

block meta 
    - var componentId = "CS0024"
    - var ST0001 = "ST0001"
    - var componentName = "CS Contents Detail"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    link(rel="stylesheet", href=`../${ST0001}/${ST0001}`+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")
    script(src=`../${ST0001}/${ST0001}`+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-cs.html" data-link-url="") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                 script. 
                    const guideList = {
                        '.c-detail-content__img': [
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                    }
    
    mixin listLinkResetArticle(text)
        li.c-list-link__item
            a(href="#" data-link-name data-link-destination data-link-menu data-link-page-type)
                .c-list-link__eyebrow.font-m-normal-14.font-w-semibold-18= text.eyebrow
                .c-list-link__headline.font-w-normal-20.font-m-normal-18= text.headline

    mixin listLinkArticles(list)
        - var lengthMobile = 3;
        - var lengthDesktop = 3;
        .c-list-link(role="list", data-length-mobile=lengthMobile, data-length-desktop=lengthDesktop)
            each set, index in list
                - var primaryItem = set.primary 
                .c-list__item(role="listitem", class=`${primaryItem ? "c-list__item--primary" : ""} ${index > lengthDesktop ? "hidden" : ""}`)
                    +listLinkArticleCard(set)
    
    mixin listLinkArticleCard({eyebrow, headline})
        +listLinkResetArticle({eyebrow, headline})

    //- mixin add
    mixin tableContent(t)
        if t == 1
            td 2016
        else if t == 2
            td OLED65E6, OLED65G6, OLED77G6
        else if t == 3
            td 2017
        else if t == 4
            td OLED65B7, OLED65C7, OLED65E7, OLED65G7, OLED65W7, OLED77G7, OLED77W7
        else if t == 5
            td 2018
        else if t == 6
            td Up to Sept 2019
        else 
            td(colspan='2') Search for your product above.


    mixin snsList
        .c-text-contents
            .text.c-text-contents__bodycopy
                .cmp-text.font-w-normal-14.font-m-normal-14i(data-cmp-data-layer="")
                    p Share this content.<br> You can share the items you like with your friends.
            //- block : list
            ul.c-list
                +snsButton({sns:"facebook",name:"Facebook",target:"_self",dataUrl:'https://www.lg.com/uk', comment:true})
                +snsButton({sns:"twitter",name:"Twitter",target:"_self", dataUrl:"https://www.lg.com/uk", dataTitle:"page title", dataVia:"LGUS", comment:true})
                +snsButton({sns:"pinterest",name:"Pinterest",target:"_self", dataUrl:"https://www.lg.com/uk", dataTitle:"page title", dataImage:"https://www.lg.com/lg4-common/img/global/share/share-default.jpg", comment:true})
                //- +snsButton({sns:"email",name:"E-mail",target:"_self"})
                //- +snsButton({sns:"link", name:"Link",href:"#popCopyComplete",target:"_self",dataUrl:'https://www.lg.com/uk', roleButton:true, comment:true})
                // CN/HK/HK_EN
                +snsButton({sns:"weibo",name:"weibo",target:"_self", dataUrl:"https://www.lg.com/uk", dataTitle:"page title", dataImage:"https://www.lg.com/lg4-common/img/global/share/share-default.jpg", comment:true})
                +snsButton({sns:"wechat",name:"wechat",target:"_self"})
                // KZ/RU
                //- +snsButton({sns:"whatsapp",name:"whatsapp", href:"https://wa.me/?text=https://www.lg.com/kz/monitors/lg-22MK430H-B", target:"_blank", roleButton:"true"})
                // 23-06-20 HK, HK_EN
                +snsButton({sns:"vk",name:"vk",target:"_self",dataUrl:"https://www.lg.com/uk", dataTitle:"page title", comment:true})
                // RU
                //- +snsButton({sns:"ok",name:"ok",target:"_self",dataUrl:"https://www.lg.com/uk", comment:true})
                // HR/BG/HU/RS
                +snsButton({sns:"linkedin",name:"linkedin",target:"_self",dataUrl:"https://www.lg.com/uk", comment:true})
                // CN
                // '/cn/baidumap/baiduShare-master/static/api/js/share.js?v=89860593.js' The file should be in that location.
                //- +snsButton({sns:"youtube",name:"youtube",href:"https://www.youtube.com/user/LGdoBrasil", target:"_blank"})
                +snsButton({sns:"instagram",name:"instagram",href:"https://www.instagram.com/lgdobrasil", target:"_blank"})

    .guide-text-type CS Contents Detail
    
    // Component Markup
    .guide-text-option All Case
    .c-wrapper.type-text(class=componentId)
        .component.type-form
            .CS0024__container.cmp-container
                .c-detail-content.c-detail-area
                    .c-detail-content__wrap.c-text-contents     
                        // c-detail-content__top
                        .c-detail-content__top
                            // block : text-contents
                            .c-text-contents
                                .title.c-text-contents__headline
                                    +headline('font-m-light-28 font-w-light-56',h2,'How to troubleshoot an LG remote control')
                            .c-detail-content__top-wrap 
                                div
                                    .c-detail-content__top-text.font-m-normal-14.font-w-normal-16 Troubleshooting
                                    .c-detail-content__top-text.font-m-normal-14.font-w-normal-16 Fridge freezers
                                    .c-detail-content__date.font-m-normal-14.font-w-normal-16 31/03/2022
                                .c-sns-share.c-print-area.c-detail-content__button-wrap
                                    .button
                                        +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-detail-content__button c-detail-content__button--print font-w-normal-14"})(href="#" data-css-url="../../main.css,./CS0024.css" role="print")
                                    
                                    .button
                                        +iconButton({type:"button",color:"black",class:"email",name:"Email", otherClass:"c-detail-content__button c-detail-content__button--email font-w-normal-14", ariaControls:"copyLink", expanded:"false"})
                                    
                                    .c-copylink 
                                        .button
                                            +iconButton({type:"button",color:"black",class:"share",otherClass:"c-tooltip__button c-detail-content__button c-detail-content__button--copylink font-w-normal-14 font-m-normal-12", name:"Copy link", ariaControls:"copyLink", expanded:"false"})
 
                                    .button
                                        +iconButton({type:"button",color:"black",class:"sms",name:"SMS", otherClass:"c-detail-content__button c-detail-content__button--sms font-w-normal-14", ariaControls:"copyLink", expanded:"false"})
                                   
                                    .c-tooltip
                                        .button
                                            +iconButton({type:"button",color:"black",class:"share",otherClass:"c-tooltip__button c-detail-content__button c-detail-content__button--share font-w-normal-14 font-m-normal-12", name:"Share", ariaControls:"snsShare", expanded:"false"})
                                            
                                        .c-tooltip__container.top-right(id="snsShare")
                                            // 2022-11-04
                                            .c-tooltip__contents
                                                // sns list
                                                +snsList
                                            
                        // c-detail-content__content
                        .c-detail-content__content 
                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    +printLazyImage("https://via.placeholder.com/952x500/000/333")
                                    p.c-detail-content__text.c-detail-content__text--underline.font-m-normal-12.font-w-normal-16 World Economic Forum recognizes LG for innovative digital transformation of its home appliance manufacturing facility in South Korea

                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 How to purchase — firstly, dispense any remaining water in the water line and filter. Now place a bucket or towel under the water filter to catch dripping water while replacing the water filter. Loosen the screw cap on one end of the filter until the coloured line is visible. Next, push and hold the collet while pulling the water tube out to release the filter and repeat this step for the other end of the water filter.
                                .c-detail-content__inner
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 Then take a new filter and make sure you have installed it in the correct direction
                                .c-detail-content__inner 
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 1. The top side goes into the refrigerator and the bottom connects to the water source. <br>2. Loosen the screw cap on one end until you see the coloured line. Then push the water tube all the way back in until stops. Make sure it is secure and cannot be easily pulled out.<br>3. Tighten the cap so that the colour is not visible.<br>Do the same for the other side of the water filter. After you have finished, turn the water supply back on.<br>Drain roughly 5 litres of water from the dispenser. This will take you about 3 mins. To do so, press and release the dispenser pad for cycles fo 30 seconds on and 60 seconds off. After draining 5 litres of water, press and hold the "water filter" button for three seconds to reset the indicator light.

                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    +printLazyImage("https://via.placeholder.com/952x500/000/333")
                            
                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    p.c-detail-content__text.c-detail-content__text--large.font-m-normal-20.font-w-normal-32 How to replace your water filter
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 - Updates on how we manage your LG account, which now allows you to use same logins for LG Electronics service and your local lg.com websites<br> - Updates on personal information we collect through our product, LG Electronics service and your local websites, how we use information, and how we share and process information within the LG Electronics corporate family and service providers

                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    p.c-detail-content__text.c-detail-content__text--large.font-m-normal-20.font-w-normal-32 How to replace your water filter
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 - Updates on how we manage your LG account, which now allows you to use same logins for LG Electronics service and your local lg.com websites<br> - Updates on personal information we collect through our product, LG Electronics service and your local websites, how we use information, and how we share and process information within the LG Electronics corporate family and service providers

                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    ul.c-detail-content__list
                                        li.font-m-normal-16.font-w-normal-24 Models SP11RA, SP9YA, SP8YA are compatible with multiple voice assistants.
                                            span.font-m-normal-12.font-w-normal-16 The LG Home Entertainment Company is an industry leader in televisions and audio-video systems and a globally recognised innovator for its leadership in OLED TVs which is
                                        li.font-m-normal-16.font-w-normal-24 Models SP11RA, SP9YA, SP8YA are compatible with multiple voice assistants.


                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    .iframe-container
                                        iframe(width="1280" height="720" src="https://www.youtube.com/embed/I8NoLPbxAGg" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-16 Media contacts:<br>LG-One UK<br>Ellie Wallis
                                    a(href="#").c-detail-content__text.c-detail-content__text--link ellie.Wallis@lg-one.com 
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-16 +44 207 413 3449
                        
                            // c-detail-content__feedback
                            .c-detail-content__content.c-detail-content__feedback 
                                .c-model-content-wrap
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-m-light-24 font-w-light-56',h2,'Article feedback')
                                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                                .cs-form
                                    .cmp-form 
                                        label(for="request").font-m-normal-16.font-w-normal-20 1. Was this information helpful? #[em.require *]#[span.sr-only Required Field]
                                        .c-form-box
                                            .c-radio-item.showForm
                                                label.radio(for="yes")
                                                    input(type="radio" name="feedback" id="yes" aria-label="")
                                                    span.label.font-m-normal-16.font-w-normal-24 Yes
                                            .c-radio-item.noShowForm
                                                label.radio(for="no")
                                                    input(type="radio" name="feedback" id="no" aria-label="")
                                                    span.label.font-m-normal-16.font-w-normal-24 No
                                        .c-warning Please fill out the required field.
                                    .cmp-form 
                                        label(for="request").font-m-normal-16.font-w-normal-20 2. Overall, how satisfied were you with the usefulness of this information? #[em.require *]#[span.sr-only Required Field]
                                        .c-rating-star
                                            .c-rating-star__wrap  
                                                input(type="radio" id="star5" name="rating" value="5")
                                                label(for="star5") 
                                                    span.sr-only star 5 of 5
                                                input(type="radio" id="star4" name="rating" value="4")
                                                label(for="star4")
                                                    span.sr-only star 4 of 5
                                                input(type="radio" id="star3" name="rating" value="3")
                                                label(for="star3")
                                                    span.sr-only star 3 of 5
                                                input(type="radio" id="star2" name="rating" value="2")
                                                label(for="star2")
                                                    span.sr-only star 2 of 5
                                                input(type="radio" id="star1" name="rating" value="1")
                                                label(for="star1")
                                                span.sr-only star 1 of 5
                                        .c-warning Please fill out the required field.
                                    .cmp-form 
                                        label(for="request").font-m-normal-16.font-w-normal-20 2-1. How can we improve the information? #[em.require *]#[span.sr-only Required Field]
                                        .c-radio-item
                                            label.radio(for="radio1")
                                                input(type="radio" name="information" id="radio1" aria-label="")
                                                span.label.font-m-normal-16.font-w-normal-24 Difficult to read
                                        .c-radio-item
                                            label.radio(for="radio2")
                                                input(type="radio" name="information" id="radio2" aria-label="")
                                                span.label.font-m-normal-16.font-w-normal-24 Information does not apply to my product
                                        .c-radio-item
                                            label.radio(for="radio3")
                                                input(type="radio" name="information" id="radio3" aria-label="")
                                                span.label.font-m-normal-16.font-w-normal-24 Video would be helpful
                                        .c-radio-item
                                            label.radio(for="radio4")
                                                input(type="radio" name="information" id="radio4" aria-label="")
                                                span.label.font-m-normal-16.font-w-normal-24 Broken link(s)
                                        .c-warning Please fill out the required field.
                                    .cmp-form 
                                        label(for="request").font-m-normal-16.font-w-normal-20 3. How would you improve the information? #[em.require *]#[span.sr-only Required Field]
                                        .c-textarea-box
                                            textarea#description.font-m-normal-14.font-w-normal-14.c-message-valid(required="required" aria-label="" placeholder="Enter your valuable feedback.")
                                            p.font-m-normal-16.font-w-normal-24 0 / 500 Characters
                                        .c-warning Please fill out the required field.
                                .button
                                    +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'medium'})(type="submit" role="button")
                            
                            // Article Feedback complete add class .c-regist__complete 
                            .c-detail-content__content.c-detail-content__feedback.c-regist__complete 
                                .c-text-contents
                                    .title.c-text-contents__headline
                                        +headline('font-m-light-24 font-w-light-56',h2,'Article feedback')
                                .c-cs-header
                                    // block : text-contents
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-w-light-36 font-m-light-24',h2,'Thank you for your feedback!')

                            // c-detail-content__bottom
                            .c-detail-content__bottom.c-back-to-list   
                                .c-detail-content__bottom-wrap
                                    .c-detail-content__nav 
                                        p.font-m-normal-14.font-w-normal-16 Previous
                                        .c-detail-content__nav-wrap 
                                            a(href="" target="_black").c-detail-content__headline.font-m-normal-14.font-w-normal-16 LG showcases real-life benefits of LG home at Innofest Europe 2019
                                            .c-detail-content__date.font-m-normal-12.font-w-normal-12 March 31, 2022
                                    .c-detail-content__nav 
                                        p.font-m-normal-14.font-w-normal-16 Next
                                        .c-detail-content__nav-wrap 
                                            a(href="" target="_black").c-detail-content__headline.font-m-normal-14.font-w-normal-16 LG showcases real-life benefits of LG home at Innofest Europe 2019
                                            .c-detail-content__date.font-m-normal-12.font-w-normal-12 March 31, 2022
                                .button.c-control-link
                                    // 20230328 Exposed only when Video or Article content is clicked on the PSP- Troubleshoot page
                                    +defaultButton({name: 'Return to results', wSize: 'medium', mSize: 'medium'})

                // c-other-result 
                .c-other-result 
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-m-light-24 font-w-light-56',h2,'Related other results')
                    +listLinkArticles([
                        {eyebrow: 'Operation', headline : 'How to change your LG refrigerator water filter?'},
                        {eyebrow: 'Installation', headline : 'Ice has bad taste resolving bad tasting ice or water'},
                        {eyebrow: 'Troubleshooting', headline : 'How to use LG Side-by-Side refrigerator ice and water dispenser?'},
                    ])

    // Component Markup
    .guide-text-type CA_EN
    .c-wrapper.type-text(class=componentId)
        .component.type-form
            .CS0024__container.cmp-container
                .c-detail-content.c-detail-area
                    .c-detail-content__wrap.c-text-contents
                        // c-detail-content__content
                        .c-detail-content__content
                            // c-detail-content__feedback
                            .c-detail-content__content.c-detail-content__feedback
                                // c-model-content-wrap__help
                                .c-model-content-wrap.c-model-content-wrap__help
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-m-light-24 font-w-light-56',h2,'Need immediate help?')
                                        .text.c-text-contents__bodycopy 
                                            p.cmp-text.font-w-normal-20.font-m-normal-12
                                                | Please 
                                                a(href="https://www.lg.com/ca_en/support/contact-us/" class="font-red font-underline" target="_blank" title="Opens in a new window" data-link-name data-link-destination data-link-menu data-link-page-type) contact us
                                                | &nbsp;directly so that we may better assist in solving your issue or request a repair service 
                                                a(href="https://www.lg.com/ca_en/support/product-support/repair-request/" class="font-red font-underline" target="_blank" title="Opens in a new window" data-link-name data-link-destination data-link-menu data-link-page-type) In-Warranty
                                                | &nbsp;or 
                                                a(href="https://lgoutofwarranty.ca/en/main/home.do" class="font-red font-underline" target="_blank" title="Opens in a new window" data-link-name data-link-destination data-link-menu data-link-page-type) Out-of-Warranty
                                                | .
                                            p.cmp-text.font-w-normal-20.font-m-normal-12
                                                img.c-img-flag(src="https://www.lg.com/lg5-common-gp/images/support/feedback/flag-canada.svg" alt="Canada" loading="lazy")
                                                | Not a Canadian resident? Please click 
                                                a(href="https://www.lg.com/common/index.jsp" class="font-red font-underline" target="_blank" data-link-name data-link-destination data-link-menu data-link-page-type) here
                                                | .
                                .c-model-content-wrap
                                    .c-text-contents
                                        .title.c-text-contents__headline
                                            +headline('font-m-light-24 font-w-light-56',h2,'Article feedback')
                                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                                .cs-form
                                    .cmp-form 
                                        label(for="request").font-m-normal-16.font-w-normal-20 1. Was this information helpful? #[em.require *]#[span.sr-only Required Field]
                                        .c-form-box
                                            .c-radio-item.showForm
                                                label.radio(for="yes2")
                                                    input(type="radio" name="feedback2" id="yes2" aria-label="")
                                                    span.label.font-m-normal-16.font-w-normal-24 Yes
                                            .c-radio-item.noShowForm
                                                label.radio(for="no2")
                                                    input(type="radio" name="feedback2" id="no2" aria-label="")
                                                    span.label.font-m-normal-16.font-w-normal-24 No
                                        // c-help
                                        .c-help
                                            p.c-help__headline.font-m-semibold-16.font-w-normal-24 Let us better help you!
                                            ul.c-help__list.font-m-normal-14.font-w-normal-16
                                                li.c-help__item
                                                    a(href="https://lg-chatbot.com/web/ca?locale=en_CA&amp;enterSystem=GP1" class="font-underline" target="_blank" title="Opens in a new window" data-link-name data-link-destination data-link-menu data-link-page-type) Chat with us now!
                                                li.c-help__item
                                                    a(href="https://lgoutofwarranty.ca/en/main/home.do" class="font-underline" target="_blank" title="Opens in a new window" data-link-name data-link-destination data-link-menu data-link-page-type) Schedule repair for out of warranty product 
                                                li.c-help__item
                                                    a(href="https://www.lg.com/ca_en/support/product-support/repair-request/" class="font-underline" target="_blank" title="Opens in a new window" data-link-name data-link-destination data-link-menu data-link-page-type) Schedule repair for In warranty product
                                        .c-warning Please fill out the required field.
                                    .cmp-form 
                                        label(for="request").font-m-normal-16.font-w-normal-20 2. Overall, how satisfied were you with the usefulness of this information? #[em.require *]#[span.sr-only Required Field]
                                        .c-rating-star
                                            .c-rating-star__wrap  
                                                input(type="radio" id="star5" name="rating" value="5")
                                                label(for="star5") 
                                                    span.sr-only star 5 of 5
                                                input(type="radio" id="star4" name="rating" value="4")
                                                label(for="star4")
                                                    span.sr-only star 4 of 5
                                                input(type="radio" id="star3" name="rating" value="3")
                                                label(for="star3")
                                                    span.sr-only star 3 of 5
                                                input(type="radio" id="star2" name="rating" value="2")
                                                label(for="star2")
                                                    span.sr-only star 2 of 5
                                                input(type="radio" id="star1" name="rating" value="1")
                                                label(for="star1")
                                                span.sr-only star 1 of 5
                                        .c-warning Please fill out the required field.
                                    .cmp-form 
                                        label(for="request").font-m-normal-16.font-w-normal-20 2-1. How can we improve the information? #[em.require *]#[span.sr-only Required Field]
                                        .c-radio-item
                                            label.radio(for="radio1")
                                                input(type="radio" name="information" id="radio1" aria-label="")
                                                span.label.font-m-normal-16.font-w-normal-24 Difficult to read
                                        .c-radio-item
                                            label.radio(for="radio2")
                                                input(type="radio" name="information" id="radio2" aria-label="")
                                                span.label.font-m-normal-16.font-w-normal-24 Information does not apply to my product
                                        .c-radio-item
                                            label.radio(for="radio3")
                                                input(type="radio" name="information" id="radio3" aria-label="")
                                                span.label.font-m-normal-16.font-w-normal-24 Video would be helpful
                                        .c-radio-item
                                            label.radio(for="radio4")
                                                input(type="radio" name="information" id="radio4" aria-label="")
                                                span.label.font-m-normal-16.font-w-normal-24 Broken link(s)
                                        .c-warning Please fill out the required field.
                                    .cmp-form 
                                        label(for="request").font-m-normal-16.font-w-normal-20 3. How would you improve the information? #[em.require *]#[span.sr-only Required Field]
                                        .c-textarea-box
                                            textarea#description.font-m-normal-14.font-w-normal-14.c-message-valid(required="required" aria-label="" placeholder="Enter your valuable feedback.")
                                            p.font-m-normal-16.font-w-normal-24 0 / 500 Characters
                                        .c-warning Please fill out the required field.
                                .button
                                    +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'medium'})(type="submit" role="button")

    // Component Markup
    .guide-text-type Popup type
    .c-wrapper.CS0024.type-text
        .component.cs-component
            .CS0024__container.c-popup-type.cmp-container
                // step1 (CS Search Category Popup, CS Search Troubleshoot Popup)
                .c-modal
                    .c-modal__dimmed
                    .c-modal__box
                        .c-modal__head 
                            button(type="button" aria-label="").c-modal__closebtn close btn                       
                        .c-modal__content          
                            .c-modal__content-scroll-box 
                                .c-detail-content 
                                    .c-detail-content__wrap.c-text-contents     
                                        // c-detail-content__top
                                        .c-detail-content__top
                                            // block : text-contents
                                            .c-text-contents
                                                .title.c-text-contents__headline
                                                    +headline('font-m-light-28 font-w-light-56',h2,'How to troubleshoot an LG remote control')
                                            .c-detail-content__top-wrap 
                                                div
                                                    .c-detail-content__top-text.font-m-normal-14.font-w-normal-16 Troubleshooting
                                                    .c-detail-content__top-text.font-m-normal-14.font-w-normal-16 Fridge freezers
                                                    .c-detail-content__date.font-m-normal-14.font-w-normal-16 31/03/2022
                                                .c-sns-share.c-print-area.c-detail-content__button-wrap
                                                    .button
                                                        +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-detail-content__button c-detail-content__button--print font-w-normal-14"})(href="#" data-css-url="../../main.css,./CS0024.css" role="print")
                                                    
                                                        .button
                                                            +iconButton({type:"button",color:"black",class:"email",name:"Email", otherClass:"c-detail-content__button c-detail-content__button--email font-w-normal-14", ariaControls:"copyLink", expanded:"false"})
                                                        
                                                        .c-copylink 
                                                            .button
                                                                +iconButton({type:"button",color:"black",class:"share",otherClass:"c-tooltip__button c-detail-content__button c-detail-content__button--copylink font-w-normal-14 font-m-normal-12", name:"Copy link", ariaControls:"copyLink", expanded:"false"})
                    
                                                        .button
                                                            +iconButton({type:"button",color:"black",class:"sms",name:"SMS", otherClass:"c-detail-content__button c-detail-content__button--sms font-w-normal-14", ariaControls:"copyLink", expanded:"false"})
                                                    
                                                        .c-tooltip
                                                            .button
                                                                +iconButton({type:"button",color:"black",class:"share",otherClass:"c-tooltip__button c-detail-content__button c-detail-content__button--share font-w-normal-14 font-m-normal-12", name:"Share", ariaControls:"snsShare", expanded:"false"})
                                                                
                                                            .c-tooltip__container.top-right(id="snsShare")
                                                                // 2022-11-04
                                                                .c-tooltip__contents
                                                                    // sns list
                                                                    +snsList
                                            
                                        // c-detail-content__content
                                        .c-detail-content__content.c-detail-content__pc-scroll-box
                                            .c-detail-content__content-wrap
                                                .c-detail-content__inner
                                                    +printLazyImage("https://via.placeholder.com/952x500/000/333")
                                                    p.c-detail-content__text.c-detail-content__text--underline.font-m-normal-12.font-w-normal-16 World Economic Forum recognizes LG for innovative digital transformation of its home appliance manufacturing facility in South Korea

                                            .c-detail-content__content-wrap
                                                .c-detail-content__inner
                                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 How to purchase — firstly, dispense any remaining water in the water line and filter. Now place a bucket or towel under the water filter to catch dripping water while replacing the water filter. Loosen the screw cap on one end of the filter until the coloured line is visible. Next, push and hold the collet while pulling the water tube out to release the filter and repeat this step for the other end of the water filter.
                                                .c-detail-content__inner
                                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 Then take a new filter and make sure you have installed it in the correct direction
                                                .c-detail-content__inner 
                                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 1. The top side goes into the refrigerator and the bottom connects to the water source. <br>2. Loosen the screw cap on one end until you see the coloured line. Then push the water tube all the way back in until stops. Make sure it is secure and cannot be easily pulled out.<br>3. Tighten the cap so that the colour is not visible.<br>Do the same for the other side of the water filter. After you have finished, turn the water supply back on.<br>Drain roughly 5 litres of water from the dispenser. This will take you about 3 mins. To do so, press and release the dispenser pad for cycles fo 30 seconds on and 60 seconds off. After draining 5 litres of water, press and hold the "water filter" button for three seconds to reset the indicator light.

                                            .c-detail-content__content-wrap
                                                .c-detail-content__inner
                                                    +printLazyImage("https://via.placeholder.com/952x500/000/333")
                                            
                                            .c-detail-content__content-wrap
                                                .c-detail-content__inner
                                                    p.c-detail-content__text.c-detail-content__text--large.font-m-normal-20.font-w-normal-32 How to replace your water filter
                                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 - Updates on how we manage your LG account, which now allows you to use same logins for LG Electronics service and your local lg.com websites<br> - Updates on personal information we collect through our product, LG Electronics service and your local websites, how we use information, and how we share and process information within the LG Electronics corporate family and service providers

                                            .c-detail-content__content-wrap
                                                .c-detail-content__inner
                                                    p.c-detail-content__text.c-detail-content__text--large.font-m-normal-20.font-w-normal-32 How to replace your water filter
                                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 - Updates on how we manage your LG account, which now allows you to use same logins for LG Electronics service and your local lg.com websites<br> - Updates on personal information we collect through our product, LG Electronics service and your local websites, how we use information, and how we share and process information within the LG Electronics corporate family and service providers

                                            .c-detail-content__content-wrap
                                                .c-detail-content__inner
                                                    ul.c-detail-content__list
                                                        li.font-m-normal-16.font-w-normal-24 Models SP11RA, SP9YA, SP8YA are compatible with multiple voice assistants.
                                                            span.font-m-normal-12.font-w-normal-16 The LG Home Entertainment Company is an industry leader in televisions and audio-video systems and a globally recognised innovator for its leadership in OLED TVs which is
                                                        li.font-m-normal-16.font-w-normal-24 Models SP11RA, SP9YA, SP8YA are compatible with multiple voice assistants.

                                            .c-detail-content__content-wrap
                                                .c-detail-content__inner
                                                    .iframe-container
                                                        iframe(width="1280" height="720" src="https://www.youtube.com/embed/I8NoLPbxAGg" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                                            .c-detail-content__content-wrap
                                                .c-detail-content__inner
                                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-16 Media contacts:<br>LG-One UK<br>Ellie Wallis
                                                    a(href="#").c-detail-content__text.c-detail-content__text--link ellie.Wallis@lg-one.com
                                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-16 +44 207 413 3449
                                        
                                            // c-detail-content__feedback
                                            .c-detail-content__content.c-detail-content__feedback 
                                                .c-model-content-wrap
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            +headline('font-m-light-24 font-w-light-56',h2,'Article feedback')
                                                    .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                                                .cs-form
                                                    .cmp-form 
                                                        label(for="request").font-m-normal-16.font-w-normal-20 1. Was this information helpful? #[em.require *]#[span.sr-only Required Field]
                                                        .c-form-box
                                                            .c-radio-item.showForm
                                                                label.radio(for="yes")
                                                                    input(type="radio" name="feedback" id="yes" aria-label="")
                                                                    span.label.font-m-normal-16.font-w-normal-24 Yes
                                                            .c-radio-item.noShowForm
                                                                label.radio(for="no")
                                                                    input(type="radio" name="feedback" id="no" aria-label="")
                                                                    span.label.font-m-normal-16.font-w-normal-24 No
                                                        .c-warning Please fill out the required field.
                                                    .cmp-form 
                                                        label(for="request").font-m-normal-16.font-w-normal-20 2. Overall, how satisfied were you with the usefulness of this information? #[em.require *]#[span.sr-only Required Field]
                                                        .c-rating-star
                                                            .c-rating-star__wrap  
                                                                input(type="radio" id="star5" name="rating" value="5" aria-label="")
                                                                label(for="star5")
                                                                input(type="radio" id="star4" name="rating" value="4" aria-label="")
                                                                label(for="star4")
                                                                input(type="radio" id="star3" name="rating" value="3" aria-label="")
                                                                label(for="star3")
                                                                input(type="radio" id="star2" name="rating" value="2" aria-label="")
                                                                label(for="star2")
                                                                input(type="radio" id="star1" name="rating" value="1" aria-label="")
                                                                label(for="star1")
                                                        .c-warning Please fill out the required field.
                                                    .cmp-form 
                                                        label(for="request").font-m-normal-16.font-w-normal-20 2-1. How can we improve the information? #[em.require *]#[span.sr-only Required Field]
                                                        .c-radio-item
                                                            label.radio(for="radio1")
                                                                input(type="radio" name="information" id="radio1" aria-label="")
                                                                span.label.font-m-normal-16.font-w-normal-24 Difficult to read
                                                        .c-radio-item
                                                            label.radio(for="radio2")
                                                                input(type="radio" name="information" id="radio2" aria-label="")
                                                                span.label.font-m-normal-16.font-w-normal-24 Information does not apply to my product
                                                        .c-radio-item
                                                            label.radio(for="radio3")
                                                                input(type="radio" name="information" id="radio3" aria-label="")
                                                                span.label.font-m-normal-16.font-w-normal-24 Video would be helpful
                                                        .c-radio-item
                                                            label.radio(for="radio4")
                                                                input(type="radio" name="information" id="radio4" aria-label="")
                                                                span.label.font-m-normal-16.font-w-normal-24 Broken link(s)
                                                        .c-warning Please fill out the required field.
                                                    .cmp-form 
                                                        label(for="request").font-m-normal-16.font-w-normal-20 3. How would you improve the information? #[em.require *]#[span.sr-only Required Field]
                                                        .c-textarea-box
                                                            textarea#description.font-m-normal-14.font-w-normal-14.c-message-valid(required="required" aria-label="" placeholder="Enter your valuable feedback.")
                                                            p.font-m-normal-16.font-w-normal-24 0 / 500 Characters
                                                        .c-warning Please fill out the required field.
                                                .button
                                                    +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'medium', isButton: true})(type="submit" role="button")
                                            
                                            // Article Feedback complete add class .c-regist__complete 
                                            .c-detail-content__content.c-detail-content__feedback.c-regist__complete 
                                                .c-text-contents
                                                    .title.c-text-contents__headline
                                                        +headline('font-m-light-24 font-w-light-56',h2,'Article feedback')
                                                .c-cs-header
                                                    // block : text-contents
                                                    .c-text-contents
                                                        .title.c-text-contents__headline
                                                            +headline('font-w-light-36 font-m-light-24',h2,'Thank you for your feedback!')

                                            // c-detail-content__bottom
                                            //- .c-detail-content__bottom   
                                            //-     .c-detail-content__bottom-wrap
                                            //-         .c-detail-content__nav 
                                            //-             p.font-m-normal-14.font-w-normal-16 Previous
                                            //-             .c-detail-content__nav-wrap 
                                            //-                 a(href="" target="_black").c-detail-content__headline.font-m-normal-14.font-w-normal-16 LG showcases real-life benefits of LG home at Innofest Europe 2019
                                            //-                 .c-detail-content__date.font-m-normal-12.font-w-normal-12 March 31, 2022
                                            //-         .c-detail-content__nav 
                                            //-             p.font-m-normal-14.font-w-normal-16 Next
                                            //-             .c-detail-content__nav-wrap 
                                            //-                 a(href="" target="_black").c-detail-content__headline.font-m-normal-14.font-w-normal-16 LG showcases real-life benefits of LG home at Innofest Europe 2019
                                            //-                 .c-detail-content__date.font-m-normal-12.font-w-normal-12 March 31, 2022
                                            //-     .button
                                            //-         +defaultButton({name: 'Go to previous page', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: 'none'})
                                            //-         +defaultButton({name: 'Go to Search for Topic', wSize: 'medium', mSize: 'medium', isButton: 'none'})

                                            //- // c-other-result 
                                            //- .c-other-result 
                                            //-     .c-text-contents
                                            //-         .title.c-text-contents__headline
                                            //-             +headline('font-m-light-24 font-w-light-56',h2,'Related Other Results')
                                            //-     +listLinkArticles([
                                            //-         {eyebrow: 'Operation', headline : 'How to change your LG refrigerator water filter?'},
                                            //-         {eyebrow: 'Installation', headline : 'Ice has bad taste resolving bad tasting ice or water'},
                                            //-         {eyebrow: 'Troubleshooting', headline : 'How to use LG Side-by-Side refrigerator ice and water dispenser?'},
                                            //-     ])
                                        .c-detail-content__bottom

                                        

        // Component Markup
    .guide-text-option Announcements Detail
    .c-wrapper.type-text(class=componentId)
        .component.type-form
            .CS0024__container.cmp-container
                .c-detail-content.c-detail-area
                    .c-detail-content__wrap.c-text-contents     
                        // c-detail-content__top
                        .c-detail-content__top
                            // block : text-contents
                            .c-text-contents
                                .title.c-text-contents__headline
                                    +headline('font-m-light-28 font-w-light-56',h2,'How to troubleshoot an LG remote control')
                            .c-detail-content__top-wrap 
                                div
                                    //- .c-detail-content__top-text.font-m-normal-14.font-w-normal-16 Troubleshooting
                                    //- .c-detail-content__top-text.font-m-normal-14.font-w-normal-16 Fridge freezers
                                    .c-detail-content__date.font-m-normal-14.font-w-normal-16 31/03/2022
                                .c-sns-share.c-print-area.c-detail-content__button-wrap
                                    .button
                                        +iconButton({type:"link",comment:false,color:"black",class:"print",name:"Print", otherClass:"js-print c-detail-content__button c-detail-content__button--print font-w-normal-14"})(href="#" data-css-url="../../main.css,./CS0024.css" role="print")
                                    
                                    .button
                                        +iconButton({type:"button",color:"black",class:"email",name:"Email", otherClass:"c-detail-content__button c-detail-content__button--email font-w-normal-14", ariaControls:"copyLink", expanded:"false"})
                                    
                                    .c-copylink 
                                        .button
                                            +iconButton({type:"button",color:"black",class:"share",otherClass:"c-tooltip__button c-detail-content__button c-detail-content__button--copylink font-w-normal-14 font-m-normal-12", name:"Copy link", ariaControls:"copyLink", expanded:"false"})
 
                                    .button
                                        +iconButton({type:"button",color:"black",class:"sms",name:"SMS", otherClass:"c-detail-content__button c-detail-content__button--sms font-w-normal-14", ariaControls:"copyLink", expanded:"false"})
                                   
                                    .c-tooltip
                                        .button
                                            +iconButton({type:"button",color:"black",class:"share",otherClass:"c-tooltip__button c-detail-content__button c-detail-content__button--share font-w-normal-14 font-m-normal-12", name:"Share", ariaControls:"snsShare", expanded:"false"})
                                            
                                        .c-tooltip__container.top-right(id="snsShare")
                                            // 2022-11-04
                                            .c-tooltip__contents
                                                // sns list
                                                +snsList
                                   
                                            
                        // c-detail-content__content
                        .c-detail-content__content 

                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    p.c-detail-content__text.c-detail-content__text--large.font-m-normal-20.font-w-normal-32 LG Electronics free OLED TV power board replacement service
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 - Updates on how we manage your LG account, which now allows you to use same logins for LG Electronics service and your local lg.com websites<br> - Updates on personal information we collect through our product, LG Electronics service and your local websites, how we use information, and how we share and process information within the LG Electronics corporate family and service providers
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 - Updates on how we manage your LG account, which now allows you to use same logins for LG Electronics service and your local lg.com websites<br> - Updates on personal information we collect through our product, LG Electronics service and your local websites, how we use information, and how we share and process information within the LG Electronics corporate family and service providers

                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 - Updates on how we manage your LG account, which now allows you to use same logins for LG Electronics service and your local lg.com websites<br> - Updates on personal information we collect through our product, LG Electronics service and your local websites, how we use information, and how we share and process information within the LG Electronics corporate family and service providers

                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    ul.c-detail-content__list
                                        li.font-m-normal-16.font-w-normal-24 Models SP11RA, SP9YA, SP8YA are compatible with multiple voice assistants.
                                            span.font-m-normal-12.font-w-normal-16 The LG Home Entertainment Company is an industry leader in televisions and audio-video systems and a globally recognised innovator for its leadership in OLED TVs which is
                                        li.font-m-normal-16.font-w-normal-24 Models SP11RA, SP9YA, SP8YA are compatible with multiple voice assistants.
                            //- add table
                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    .c-table-box2
                                        .c-table2
                                            table
                                                caption Table Caption
                                                thead
                                                    tr
                                                        th(scope='col') Year of production
                                                        th(scope='col') Models
                                                tbody
                                                    // Depending on the input data, text or images are output. There may or may not be a link.
                                                    tr
                                                        +tableContent(1)
                                                        +tableContent(2)
                                                    tr
                                                        +tableContent(3)
                                                        +tableContent(4)
                                                    tr
                                                        +tableContent(5)
                                                        +tableContent(2)
                                                    tr
                                                        +tableContent(6)
                                                        +tableContent(2)
                            //- add box-info
                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    ul.c-img-info-box
                                        li 
                                            dl
                                                dt.font-m-normal-20.font-w-normal-24 How to check the model name in the TV setup menu
                                                dd.font-m-normal-16.font-w-normal-20.c-img-info-txt Home &gt; Setup &gt; Menu &gt; General &gt; About This TV &gt; TV information
                                                dd.img-box
                                                    +printLazyImage("https://via.placeholder.com/537x382/000/333")
                                        li 
                                            dl
                                                dt.font-m-normal-20.font-w-normal-24 How to check the model name in the TV product label
                                                dd.font-m-normal-16.font-w-normal-20.c-img-info-txt Please check the sticker on the back of the product
                                                dd.img-box
                                                    +printLazyImage("https://via.placeholder.com/537x382/000/333")
                            //- add qr
                            .c-detail-content__content-wrap
                                .c-detail-content__inner
                                    p.c-detail-content__text.c-detail-content__text--normal.font-m-normal-16.font-w-normal-24 Once you have confirmed you have one of the above OLED TV Models - please proceed to register for an appointment via our Replacement request form:

                                    .c-info-box__button.button.c-cta.c-qrcode-btn-box
                                        +defaultButton({name: 'Request free replacement', wSize: 'medium', mSize: 'medium',buttonStyle: 'highlight'})
                                        .c-qrcode
                                            +printLazyPicture('../../mocks/CS0039/temp-contact-qr.png')



                            // c-detail-content__bottom
                            .c-detail-content__bottom.c-back-to-list   
                                .c-detail-content__bottom-wrap
                                    .c-detail-content__nav 
                                        p.font-m-normal-14.font-w-normal-16 Previous
                                        .c-detail-content__nav-wrap 
                                            a(href="" target="_black").c-detail-content__headline.font-m-normal-14.font-w-normal-16 LG showcases real-life benefits of LG home at Innofest Europe 2019
                                            .c-detail-content__date.font-m-normal-12.font-w-normal-12 March 31, 2022
                                    .c-detail-content__nav 
                                        p.font-m-normal-14.font-w-normal-16 Next
                                        .c-detail-content__nav-wrap 
                                            a(href="" target="_black").c-detail-content__headline.font-m-normal-14.font-w-normal-16 LG showcases real-life benefits of LG home at Innofest Europe 2019
                                            .c-detail-content__date.font-m-normal-12.font-w-normal-12 March 31, 2022
                                .button.c-control-link
                                    // 20230328 Exposed only when Video or Article content is clicked on the PSP- Troubleshoot page
                                    +defaultButton({name: 'Back to list', wSize: 'medium', mSize: 'medium'})
