extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "PR0014"
    - var componentName = "Select Shop"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")
    style(type="text/css").
        .guide {
            z-index:5;
        }
block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        '.c-floating-wrap' : [
                            {
                                'name' : 'Line',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'no-line'},
                                ]
                            },
                        ],
                    };
            .button-wrapper
                .guide-column
                    .target Popup Btns
                    ul.btn-list
                        li.btn-item 
                            +linkButton({href:"#popStockAlert", type:"guide", class:"js-pop-open", name:"Get Stock Alert", roleButton:"true"})
                        li.btn-item 
                            +linkButton({href:"#popsEmailMyPackage", type:"guide", class:"js-pop-open", name:"Email My Package", roleButton:"true"})
                        li.btn-item 
                            +linkButton({href:"#popEmailMyPackageSuccess", type:"guide", class:"js-pop-open", name:"Email Package Success", roleButton:"true"})
                        li.btn-item 
                            +linkButton({href:"#popSimpleAlert", type:"guide", class:"js-pop-open", name:"Pop SimpleAlert", roleButton:"true"})
                        li.btn-item 
                            +linkButton({href:"#printSuccessPopup", type:"guide", class:"js-pop-open", name:"Pop Log In", roleButton:"true"})
                        li.btn-item 
                            +linkButton({href:"#printSuccessExit", type:"guide", class:"js-pop-open", name:"Pop Package Exit", roleButton:"true"})
                        li.btn-item 
                            +linkButton({href:"#printCheckedPopup", type:"guide", class:"js-pop-open", name:"printCheckedPopup", roleButton:"true"})

    include ./PR0014-inc.pug

    +PR0014
    
block modal
    +printLayerPopup('popStockAlert')
    +printLayerPopup('popsEmailMyPackage')
    +printSimpleLayerPopup('popSimpleAlert', {desc: 'You already have 6 products ready to purchase'})
    +printSuccessPopup('printSuccessPopup', {desc: 'Please log in to get Select Shop benefits', btn1: 'Close', btn2: 'Log In'})
    +printSuccessPopup('printSuccessExit', {desc: 'Discounts for promotional packages in progress Are you sure you want to exit?', btn1: 'Remain', btn2: 'Exit'})
    +printLayerPopup('popEmailMyPackageSuccess')
    +checkedPopup('printCheckedPopup', {desc: 'This benefit is only available for members. Sign-in to continue', checkdesc:'Don’t show again' , btn1: 'Close', btn2: 'Sign In'})
    