//- Add To Cart(Default)
mixin addToCart(link1)
    - const linkFirst = link1 !== undefined ? link1 : 'Add To Cart'
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='10' style='min-width:10px;font-size:0;') &nbsp;
                    td(style=`color:#333333;${fontStyle_1}`)
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | We kindly request you to again from Your Cart: 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) #{linkFirst}
                            tr <!-- line spacing -->
                                td(style='padding-top:10px;')
                                td(style='padding-top:10px;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | If you would like to try a different item, add a new one from out LG.com: 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) LG.com


//- Re-Stocked
mixin addToCart2(link1)
    - const linkFirst = link1 !== undefined ? link1 : 'Add To Cart'
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='10' style='min-width:10px;font-size:0;') &nbsp;
                    td(style=`color:#333333;${fontStyle_1}`)
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | The Re-Stocked items: 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) #{linkFirst}
                            tr <!-- line spacing -->
                                td(style='padding-top:10px;')
                                td(style='padding-top:10px;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | You can always Add more items to your Cart from LG.com!: 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) LG.com


//- Track Order
mixin addToCart3(link1)
    - const linkFirst = link1 !== undefined ? link1 : 'My order'
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='10' style='min-width:10px;font-size:0;') &nbsp;
                    td(style=`color:#333333;${fontStyle_1}`)
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | You can track order information at: 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) #{linkFirst}
                            tr <!-- line spacing -->
                                td(style='padding-top:10px;')
                                td(style='padding-top:10px;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | To add products to the cart, please visit: 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) LG.com


//- Back on Sale
mixin addToCart4(link1)
    - const linkFirst = link1 !== undefined ? link1 : 'Add To Cart'
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='10' style='min-width:10px;font-size:0;') &nbsp;
                    td(style=`color:#333333;${fontStyle_1}`)
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | The Items Back on sale: 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) #{linkFirst}
                            tr <!-- line spacing -->
                                td(style='padding-top:10px;')
                                td(style='padding-top:10px;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | You can always Add more items to your Cart from LG.com!: 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) LG.com
