extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_video.pug

block meta 
    - var componentId = "ST0005"
    - var componentName = "Image CTA Overlay"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //-  script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                        '.type-overlay' : [
                            {
                                'name' : 'Text Placement',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'place-text-bottom', 'remove' : 'place-text-top'},
                                    {'toggle' : false, 'add' : 'place-text-top', 'remove' : 'place-text-bottom'},
                                ]
                            },
                            {
                                'name' : 'CTA Option',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'place-cta-inside', 'remove' : 'place-cta-outside'},
                                    {'toggle' : false, 'add' : 'place-cta-outside', 'remove' : 'place-cta-inside'},
                                ]
                            },
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                                ]
                            },
                        ],
                        '.type-overlay.place-cta-inside .c-button--text-icon' : [
                            {
                                'name' : 'Text Button Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'white', 'remove' : 'black'},
                                    {'toggle' : false, 'add' : 'black', 'remove' : 'white'},
                                ]
                            },
                        ],
                        //- '.type-image-only' : [
                        //-     {
                        //-         'name' : 'BG Color',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                        //-             {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                        //-             {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                        //-             {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                        //-             {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                        //-         ]
                        //-     },
                        //- ],
                        '.type-video-only' : [
                            //- {
                            //-     'name' : 'BG Color',
                            //-     'buttons' : [
                            //-         {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                            //-         {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                            //-         {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                            //-         {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                            //-         {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                            //-     ]
                            //- },
                            {
                                'name' : 'Width Size',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-content, width-narrow'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    mixin textContents(count = 1)
        // block : text-contents
        .align-container
            .c-text-contents
                .title.c-text-contents__headline(class=`${3 > count ? "font-w-light-56 font-m-light-28" : "font-w-light-36 font-m-light-28"}`) 
                    h2.cmp-title(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .c-text-contents__bodycopy(class=`${3 > count ? "font-w-normal-24 font-m-normal-16" : "font-w-normal-16 font-m-normal-16"}`) 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui earum tempora fuga, pariatur placeat illo provident consequuntur rem hic eum labore, reprehenderit nulla blanditiis esse. Ab fuga officia, autem magni eius dolorum dolorem provident, et enim
                if block
                    block
    mixin image(width = "full")
        // block : image
        .image.c-image
            if width == "full"
                +printLazyPicture('https://via.placeholder.com/768x512/000/333', 'https://via.placeholder.com/1440x700/000/333')
            if width != "full"
                +printLazyPicture('https://via.placeholder.com/768x512/000/333', 'https://via.placeholder.com/768x512/000/333')
            if block
                block

    //  Type1. Image (1 to 3) - CTA Overlay
    .guide-text-type Type 1 : Image (1 to 3) - CTA Overlay
    .c-wrapper.ST0005.type-overlay.margin-top.margin-bottom.place-cta-inside.place-text-top.bg-default
        .component
            .cmp-container 
                // block : list
                .c-list
                    .c-list__item
                        +textContents(1)
                        +image
                            +floating-video("brightcove")

    .c-wrapper.ST0005.type-overlay.margin-top.margin-bottom.place-cta-inside.place-text-top.bg-default
        .component
            .cmp-container 
                // block : list
                .c-list
                    .c-list__item
                        +textContents(2)
                        // block : cta
                        // button style follow inside case. these is not change by cta option. 
                        .button.c-cta 
                            // provide just only one button; box or text. with CTA #2(inside) case. 
                            // box
                            +defaultButton({name: 'Button for CTA Inside', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                            // text
                            +textButton({name: 'Button for CTA Inside', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})(class="white")
                        +image("divide")
                    .c-list__item
                        +textContents(2)
                        +image("divide")
                            +bg-video

    .c-wrapper.ST0005.type-overlay.margin-top.margin-bottom.place-cta-outside.place-text-top.bg-default
        .component.align-left
            .cmp-container 
                //- block : list
                .c-list
                    .c-list__item
                        +textContents(3)
                        // block : cta
                        // button style follow outside case. these is not change by cta option.
                        .button.c-cta 
                            +defaultButton({name: 'Button for CTA Outside', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                            +defaultButton({name: 'Button for CTA Outside', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                        +image("divide")
                    .c-list__item
                        +textContents(3)
                        // block : cta
                        // button style follow outside case. these is not change by cta option.
                        .button.c-cta
                            +textButton({name: 'Button for CTA Outside', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                            +textButton({name: 'Button for CTA Outside', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        +image("divide")
                    .c-list__item
                        +textContents(3)
                        +image("divide")
                            +floating-video("brightcove")

    //  Type2. Image Only
    .guide-text-type Type 2 : Image Only
    .c-wrapper.ST0005.type-image-only.margin-top.margin-bottom.bg-default
        .component
            .cmp-container 
                +image

    //  Type3. Image Only
    .guide-text-type Type 3 : Video Only
    .guide-text-option Video case (brightcove)
    .c-wrapper.ST0005.type-video-only.width-content.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +image
                    +floating-video("brightcove")

    .guide-text-option Video case (youtube)
    .c-wrapper.ST0005.type-video-only.width-content.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +image
                    +floating-video("youtube")

    .guide-text-option Animation case
    .c-wrapper.ST0005.type-video-only.width-content.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // block : image
                .image.c-image
                    +printLazyPicture('https://via.placeholder.com/1440x873/000/333', 'https://via.placeholder.com/1440x873/000/333')
                +bg-video