extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "PD0002"
    - var componentName = "Selective Offering"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            //- {
                            //-     'name' : 'BG Color',
                            //-     'buttons' : [
                            //-         {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray'},
                            //-         {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-default'},
                            //-         {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-default'},
                            //-     ]
                            //- },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    mixin printTab(div, num, selected)
        if selected
            li.cmp-tabs__tab.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", data-cmp-hook-tabs="tab", aria-selected="true")
                if block
                    block
        else 
            li.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", data-cmp-hook-tabs="tab", aria-selected="false")
                if block
                    block

    mixin printTabPanel(div, num, selected)
        if selected 
            .cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block
        else 
            .cmp-tabs__tabpanel(id=`tabs-1-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-1-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block

    mixin product-carousel-list
        - var num = 10
        - var options = {handlerStyle : null, describedby, ...params}
        .c-product-list.c-product-list--carousel.js-product-list
            .carousel.panelcontainer
                // block - carousel
                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                    .cmp-carousel__content.swiper-wrapper
                        +productItemSlide( 
                            {
                                flag:['New','Pre Order'], 
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                soldOut: false,
                                outOfStock: false ,
                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                type:'inch',
                                groups:['55','66','77','55','66','77','55','66','77'],
                                sku:'GSJV70PZTF', 
                                modelid: 'MD07553044',
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                gradeIs:true,
                                gradeBlock2: true,
                                grade:'a',
                                repair: true,
                                Ab:true,
                                review: true,
                                wishlist:false,
                                ehf: false,
                                lumpsum:true,
                                plInfoTxt:true,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag:[], 
                                promotion: "",
                                installment: true,
                                installmentTxt:[{txt:'Credit Available from Affirm', installmentNoButton: true}],
                                membership: '£1,866.98',
                                soldOut: false,
                                outOfStock: false ,
                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                type:'inch',
                                groups:['55','66','77'],
                                sku:'GSJV70PZTF', 
                                modelid: 'MD07535404',
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                grade:'f',
                                review: true,
                                wishlist:false,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag:['Pre Order'], 
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                soldOut: false,
                                outOfStock: false ,
                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                type:'color',
                                groups:['HA_Black-Stainless-Steel', 'white', 'black', 'HA_Styler_Mirror', 'HA_REF_White','red','HE_RP4_Blue_Green'],
                                sku:'GSJV70PZTF', 
                                modelid: 'MD07535502',
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                grade:'f',
                                review: true,
                                wishlist:false,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag:['New','Pre Order'],  
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                soldOut: false,
                                outOfStock: false , 
                                imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                type:'color',
                                groups:['white','black','HE_RP4_Burgundy'],
                                sku:'GSJV70PZTF', 
                                modelid: 'MD07536888',
                                ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                grade:'f',
                                review: true,
                                wishlist:false,
                            }
                        )
                        - if(num > 4)
                            - for(var x = 0; x < num-4; x++)
                                +productItemSlide( 
                                    {
                                        flag:['New','Pre Order'], 
                                        promotion: "",
                                        installment: true,
                                        membership: '£1,866.98',
                                        soldOut: false,
                                        outOfStock: false , 
                                        imageUrl:'https://via.placeholder.com/350x350/999999/000000',
                                        type:'color',
                                        groups:['white','black','HE_RP4_Burgundy'],
                                        sku:'GSJV70PZTF', 
                                        modelid: 'MD07536888',
                                        ufn:'American Fridge Freezer 635L Water & Ice Dispenser',
                                        grade:'f',
                                        review: true,
                                        wishlist:false,
                                    }
                                )

                    .c-carousel__handler(class="c-carousel__handler--dial c-carousel__handler--away-from-carousel", role="status" aria-live="polite")
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"prev", describedby: options.describedby})
                        +carouselPagination
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"next", describedby: options.describedby})

    .guide-text-option Option : 1 tab
    .c-wrapper.PD0002.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Exciting Offers for You",
                    }
                })(class="c-region-header--vacate-side", id='slider-title-01')
                //- .c-text-contents
                //-     .title.c-text-contents__headline.font-w-light-56.font-m-light-28
                //-         strong Exciting Offers for You
                .PD0002__render
                    +product-carousel-list(10, carouselOptions, describedby='slider-title-01')

    .guide-text-option Option : 1 tab (no-data)
    .c-wrapper.PD0002.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Exciting Offers for You",
                    }
                })(class="c-region-header--vacate-side")
                //- .c-text-contents
                //-     .title.c-text-contents__headline.font-w-light-56.font-m-light-28
                //-         strong Exciting Offers for You
                .PD0002__render
                    .c-no-data-wrap
                        .c-no-data
                            strong.font-w-normal-16.font-m-normal-16  There is no available product.

    .guide-text-option Option : multiple tabs
    .c-wrapper.PD0002.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Exciting Offers for You",
                    }
                })(class="c-region-header--vacate-side", id='slider-title-02')
                //- .c-text-contents
                //-     .title.c-text-contents__headline.font-w-light-56.font-m-light-28
                //-         strong Exciting Offers for You
                .tabs.panelcontainer.tabs-margin
                    .cmp-tabs(data-cmp-data-layer="", data-placeholder-text="false")
                        .cmp-tabs__inner
                            ul.cmp-tabs__tablist(role="tablist", aria-multiselectable="false")
                                +printTab(1, 1, true) Exciting Offers For You
                                +printTab(1, 2, false) Newest
                                +printTab(1, 3, false) Best Deals
                                +printTab(1, 4, false) Highly Rated
                                +printTab(1, 5, false) Most Popular

                        .PD0002__render
                            +printTabPanel(1, 1, true)
                                +product-carousel-list(10, carouselOptions, describedby='slider-title-02')
                            +printTabPanel(1, 2, false)
                                .c-no-data-wrap
                                    .c-no-data
                                        strong.font-w-normal-16.font-m-normal-16 There is no available product.
                            +printTabPanel(1, 3, false)
                                +product-carousel-list(1, carouselOptions, describedby='slider-title-02')
                            +printTabPanel(1, 4, false)
                                +product-carousel-list(2, carouselOptions, describedby='slider-title-02')
                            +printTabPanel(1, 5, false)
                                +product-carousel-list(3, carouselOptions, describedby='slider-title-02')

block modal
    +printLayerPopup('popCopyComplete')
