extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_sns-list.pug
include ../_common/_pop-msg.pug
include ../_common/_carousel.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "AL0014"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    mixin AL0014List (param)
        each data, index in param
            .cmp-job-lists.cmp-carousel__item.swiper-slide(class=`${param.length <= 1 ? 'cmp-job-lists-full__item' : ''}`)
                .cmp-job-lists__item.c-text-contents
                    a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="").cmp-job-lists__title
                        .cmp-job-lists__title-box
                            .title.c-text-contents__title
                                h4.cmp-title.font-w-semibold-28.font-m-semibold-24(data-cmp-data-layer="")= data.title
                            .date.c-text-contents__date
                                span.cmp-date.cmp-job-lists__date.font-w-normal-16.font-m-normal-12= data.date
                    .text.c-text-contents__bodycopy.cmp-job-lists__explain
                        p.cmp-job-lists__txt.cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")= data.explain
                    .button
                        //- +button({type:"box-outlined", color:"black", size:"medium", icon: false, name: "Apply Now"})
                        +defaultButton({name: 'Apply Now', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: false})(data-link-destination="" data-link-name="apply_now" data-link-menu="" data-link-page-type="")
                        
                //- .c-sns-share
                //-     .c-tooltip
                //-         .button
                //-             +iconButton({type:"button",color:"black",class:"share",otherClass:"c-tooltip__button", name:"Share", ariaControls:"snsShare", expanded:"false"})
                //-         .c-tooltip__container.top-right(id=`snsShare${index}`)
                //-             .c-tooltip__contents
                //-                 +snsList

    - var carouselOptions = {handlerStyle : "c-carousel__handler--dial c-carousel__handler--away-from-carousel"}
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .carousel
                    .cmp-carousel.c-carousel.swiper(data-cmp-data-layer="")
                        +headline(class1, h2, name = "Careers")
                        .cmp-carousel__content.swiper-wrapper
                            +AL0014List([
                                {
                                    title: "Principal Product Management",
                                    date: "March 9, 2022",
                                    explain: `Are you passionate about digital security and protecting millions of consumers from cyber threats?`,
                                },
                                {
                                    title: "Principal Test Engineering",
                                    date: "March 9, 2022",
                                    explain: `Overview The Microsoft Silicon team is transforming the ways people communicate, create, and collaborate through the devices `,
                                },
                                {
                                    title: "Principal Product Management",
                                    date: "March 9, 2022",
                                    explain: `Overview The Microsoft Silicon team is transforming the ways people communicate, create, and collaborate through the devices `,
                                },
                            ])
                        .cmp-carousel__pagenation
                            +paginationFraction

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .carousel
                    .cmp-carousel.c-carousel.swiper(data-cmp-data-layer="")
                        +headline(class1, h2, name = "Careers")
                        .cmp-carousel__content.swiper-wrapper
                            +AL0014List([
                                {
                                    title: "Principal Product Management",
                                    date: "March 9, 2022",
                                    explain: `Are you passionate about digital security and protecting millions of consumers from cyber threats?`,
                                },
                                {
                                    title: "Principal Test Engineering",
                                    date: "March 9, 2022",
                                    explain: `Overview The Microsoft Silicon team is transforming the ways people communicate, create, and collaborate through the devices`,
                                },
                            ])
                        .cmp-carousel__pagenation
                            +paginationFraction

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .cmp-job-lists-full
                    +headline(class1, h2, name = "Careers")
                    +AL0014List([
                        {
                            title: "Principal Product Management",
                            date: "March 9, 2022",
                            explain: `Are you passionate about digital security and protecting millions of consumers from cyber threats?`,
                        },
                    ])