extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug

block meta 
    - var componentId = "CS0089"
    - var componentName = "CS Image"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                        ],
                        '.c-text-contents' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ]
                    };

    mixin contentsBody(stepNumber)
        // block : text-contents
        .c-text-contents
            case stepNumber 
                when 1
                    .title.c-text-contents__headline
                        +headline('font-w-light-56 font-m-light-28',h2,'Purchase from non-designated affiliates')
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-24.font-m-normal-12(data-cmp-data-layer="")
                            span 11If the customer purchases an LG Hong Kong original licensed mobile phone from a non-designated merchant below, and the LG Hong Kong original licensed mobile phone has a "LG Hong Kong licensed product" sticker on the body, it can also go to the customer service center of LGEHK with the original purchase invoice, can be guaranteed according to the original LG warranty terms*.
                when 2
                    .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'再商品化の実績・内訳について')
                    .text.c-text-contents__bodycopy.cmp-text__jp
                        .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                            span 再商品化等実績
                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                            span
                                | 平成13年4月から家電リサイクル法が施行されましたが、当社はAグループに参画し､推進しております。
                                | 当社の引き取り台数は全メーカーの引取台数に比較し、ごく少量ですが､リサイクル率は法の基準以上を達成できました。
                                | 以下は1年間(2021年4月～2022年3月)の再商品化等実施状況です。
                when 3
                    .title.c-text-contents__headline
                        +headline('font-w-light-56 font-m-light-28',h2,'再商品化の実績・内訳について')
                    .text.c-text-contents__bodycopy.cmp-text__jp
                        .cmp-text.font-w-normal-32.font-m-normal-20(data-cmp-data-layer="")
                            span 再商品化等実績
                        .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                            span
                                | 平成13年4月から家電リサイクル法が施行されましたが、当社はAグループに参画し､推進しております。
                                | 当社の引き取り台数は全メーカーの引取台数に比較し、ごく少量ですが､リサイクル率は法の基準以上を達成できました。
                                | 以下は1年間(2021年4月～2022年3月)の再商品化等実施状況です。
                when 4
                    .title.c-text-contents__headline
                        .cmp-text-eyebrow.font-w-normal-16.font-m-normal-12 text eyebrow
                        +headline('font-w-light-56 font-m-light-28',h2,'Lorem Ipsum is simply dummy text of the printing and typesetting')
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                            strong Lorem ipsum dolor
                            span Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                when 5
                    .title.c-text-contents__headline
                        .cmp-text-eyebrow.font-w-normal-16.font-m-normal-12 text eyebrow
                        +headline('font-w-light-56 font-m-light-28',h2,'Lorem Ipsum is simply dummy text of the printing and typesetting')
                    .text.c-text-contents__bodycopy
                        .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                            strong Lorem ipsum dolor
                            span Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.

    .guide-text-type CS Image
    .c-wrapper.CS0089.type-text
        .component.type-box
            .CS0089__container 
                .c-cs-header
                    +contentsBody(1)
                    // block : text-contents
                    .c-text-contents
                    
                +printLazyPicture('https://via.placeholder.com/328x268/ccc/eee/?text=328xFlexible', 'https://via.placeholder.com/1440x350/ccc/eee/?text=1440xFlexible')
                

    .guide-text-type JP_Recycle reception desk
    .c-wrapper.CS0089.type-text
        .component.type-box
            .CS0089__container 
                .c-cs-header
                    +contentsBody(2)
                    
                +printLazyPicture('https://via.placeholder.com/328x268/ccc/eee/?text=328xFlexible', 'https://via.placeholder.com/1440x350/ccc/eee/?text=1440xFlexible')
                
                

    .guide-text-type JP_Recycle reception desk
    .c-wrapper.CS0089.type-text
        .component.type-box
            .CS0089__container 
                .c-cs-header
                    +contentsBody(3)
                    
                .c-video-box
                    video.desktop-only(width='100%' height='100%' controls poster="https://via.placeholder.com/1440x328/ccc/eee/?text=1440xFlexable" class="c-video-box__content")
                        source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
                    video.mobile-only(width='100%' height='100%' controls poster="https://via.placeholder.com/328x328/ccc/eee/?text=328xFlexable" class="c-video-box__content")
                        source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
                    //- button(type="button" class="c-video-box__button")
                
                .text.c-text-contents__bodycopy
                    .cmp-text.font-w-normal-14.font-m-normal-12(data-cmp-data-layer="")
                        span
                            | 平成13年4月から家電リサイクル法が施行されましたが、当社はAグループに参画し､推進しております。
                            | 当社の引き取り台数は全メーカーの引取台数に比較し、ごく少量ですが､リサイクル率は法の基準以上を達成できました。
                            | 以下は1年間(2021年4月～2022年3月)の再商品化等実施状況です。

    

    .guide-text-type Image Type
    .c-wrapper.CS0089.type-text
        .component.type-box
            .CS0089__container 
                .c-cs-header
                    +contentsBody(4)
                        
                    // button class added .c-viewMore-btn
                    .button.c-cta.c-viewMore-btn
                        //- +linkButton({type:"box", color:'white',size:'large', icon:true, name:'Sign In'})
                        .block
                            +defaultButton({name: 'Button text', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(href="https://www.lg.com/uk")
                            +defaultButton({name: 'Button text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})(href="https://www.lg.com/uk")
                        .block
                            +textButton({type:"box", color:'white',size:'large', icon:true, name:'Button text'})
                            +textButton({type:"box", color:'white',size:'large', icon:true, name:'Button text'})

                .c-cs-header  
                    .c-text-contents
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                strong Lorem ipsum dolor
                        

                +printLazyPicture('https://via.placeholder.com/328x268/ccc/eee/?text=328xFlexible', 'https://via.placeholder.com/1440x350/ccc/eee/?text=1440xFlexible')
                .c-text-contents
                    .text.c-text-contents__disclaimer 
                        .cmp-text.font-w-normal-14i.font-m-normal-14i(data-cmp-data-layer="")
                            p * [486 group buying network] specialized product consumables: vacuum cleaners, sweeping robots, air cleaners, dehumidifiers.


    .guide-text-type Image Type2
    .c-wrapper.CS0089.type-text
        .component.type-box
            .CS0089__container 
                .c-cs-header
                    +contentsBody(5)
                .c-cs-header  
                    .c-text-contents
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                strong Lorem ipsum dolor

                +printLazyPicture('https://via.placeholder.com/328x268/ccc/eee/?text=328xFlexible', 'https://via.placeholder.com/1440x350/ccc/eee/?text=1440xFlexible')
                .c-text-contents
                    .text.c-text-contents__disclaimer 
                        .cmp-text.font-w-normal-14i.font-m-normal-14i(data-cmp-data-layer="")
                            p * [486 group buying network] specialized product consumables: vacuum cleaners, sweeping robots, air cleaners, dehumidifiers.