extends ../_common/_layout.pug
include ../_common/_button.pug

block meta 
    - var componentId = "ST0037"
    - var componentName = "Back to list button"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [ 
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        '.c-back-list' : [
                            {
                                'name' : 'Align',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                                ]
                            }
                        ]
                    };

    // Component Markup  
    .c-wrapper.ST0037.margin-top.margin-bottom.bg-default
        .component
            .cmp-container

                // block : back list
                .c-back-list.align-left
                    // block : cta
                    .button.c-cta
                        +defaultButton({name: 'Button text', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: false})

    // Type - CTA text link
    .guide-text-option CTA - text link
    .c-wrapper.ST0037.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
            
                // block : back list
                .c-back-list 
                    // block : cta
                    .button.c-cta
                        +textButton({name: 'Button text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})