mixin printLazyImage2(img, alt="picture")
    //- 상위에 .image 클래스를 추가해야합니다. (주로 .c-image)
    .cmp-image.fit-content(data-cmp-data-layer='')
        img.cmp-image__image.c-image__img(src=img, alt=alt, loading="lazy")&attributes(attributes)

mixin ST0053(option=false)
    mixin award-item(data)
        each set in data.array
            .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item")
                // GA4
                a(href="#" class=`${data.blockClass}__item` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                    div(class=`${data.blockClass}__item--image ${data.imageSize180 ? 'image-w-180' : ''}`)
                        +printLazyImage(`${set.imageUrl}`)
                            
                    .c-text-contents
                        .title.c-text-contents__headline
                            h2.cmp-title(class=`${data.titleClass}` data-cmp-data-layer="")=set.title
                        .text.c-text-contents__subcopy
                            p.cmp-text(class=`${data.subTitleClass}` data-cmp-data-layer="")=set.subTitle
                        .text.c-text-contents__bodycopy
                            p.cmp-text(class=`${data.bodyCopyClass}` data-cmp-data-layer="")=set.bodyCopy

    mixin award-slide(data)
        div(class=`${data.blockClass} ${data.array.length <= 2 ? data.blockClass + '--side-one' : ''} ${data.array.length <= 3 ? 'justify-center' : ''}`)
            .carousel.panelcontainer
                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                    .cmp-carousel__content.swiper-wrapper
                        +award-item(data)
                        
                    .c-carousel__handler
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"prev"})
                        +carouselPagination
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"next"})

    mixin award-item2(data)
        each set in data.array
            .cmp-carousel__item.swiper-slide.c-carousel__item(data-cmp-data-layer="" data-cmp-hook-carousel="item")
                // GA4
                a(href="#" class=`${data.blockClass}__item` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                    div(class=`${data.blockClass}__item--image ${data.imageSize180 ? 'image-w-180' : ''}`)
                        +printLazyImage2(`${set.imageUrl}`)
                            
                    .c-text-contents
                        .title.c-text-contents__headline
                            h2.cmp-title(class=`${data.titleClass}` data-cmp-data-layer="")=set.title
                        .text.c-text-contents__subcopy
                            p.cmp-text(class=`${data.subTitleClass}` data-cmp-data-layer="")=set.subTitle
                        .text.c-text-contents__bodycopy
                            p.cmp-text(class=`${data.bodyCopyClass}` data-cmp-data-layer="")=set.bodyCopy

    mixin award-slide2(data)
        div(class=`${data.blockClass} ${data.array.length <= 2 ? data.blockClass + '--side-one' : ''} ${data.array.length <= 3 ? 'justify-center' : ''}`)
            .carousel.panelcontainer
                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                    .cmp-carousel__content.swiper-wrapper
                        +award-item2(data)
                        
                    .c-carousel__handler
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"prev"})
                        +carouselPagination
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"next"})

    if(option == 'DEFAULT')
        .c-wrapper.ST0053.margin-top.margin-bottom.bg-default.border-top
            .component
                .cmp-container
                    +award-slide({
                        blockClass: "c-award-category-slide",
                        titleClass: "font-w-normal-24 font-m-semibold-20",
                        subTitleClass: "font-w-semibold-16 font-m-semibold-16",
                        bodyCopyClass: "font-w-normal-16 font-m-normal-16",
                        array: [
                            {title: "CES 2021 Innovation Award", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "TechRader", subTitle: "LG 65G2", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "VAForums", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "Video Display", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "CES 2021 Innovation Award", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "TechRader", subTitle: "LG 65G2", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"}, 
                        ]
                    })
    if(option == 'FIT')
        .c-wrapper.ST0053.margin-top.margin-bottom.bg-default.border-top
            .component
                .cmp-container
                    +award-slide2({
                        blockClass: "c-award-category-slide",
                        titleClass: "font-w-normal-24 font-m-semibold-20",
                        subTitleClass: "font-w-semibold-16 font-m-semibold-16",
                        bodyCopyClass: "font-w-normal-16 font-m-normal-16",
                        array: [
                            {title: "CES 2021 Innovation Award", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "TechRader", subTitle: "LG 65G2", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "VAForums", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "Video Display", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "CES 2021 Innovation Award", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "TechRader", subTitle: "LG 65G2", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"}, 
                        ]
                    })

    if(option == 'LEN1')
        .c-wrapper.ST0053.margin-top.margin-bottom.bg-default.border-top
            .component
                .cmp-container.justify-center
                    +award-slide({
                        blockClass: "c-award-category-slide",
                        titleClass: "font-w-normal-24 font-m-semibold-20",
                        subTitleClass: "font-w-semibold-16 font-m-semibold-16",
                        bodyCopyClass: "font-w-normal-16 font-m-normal-16",
                        array: [
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                        ]
                    })
                    
    if(option == 'LEN2')
        .c-wrapper.ST0053.margin-top.margin-bottom.bg-default.border-top
            .component
                .cmp-container.justify-center
                    +award-slide({
                        blockClass: "c-award-category-slide",
                        titleClass: "font-w-normal-24 font-m-semibold-20",
                        subTitleClass: "font-w-semibold-16 font-m-semibold-16",
                        bodyCopyClass: "font-w-normal-16 font-m-normal-16",
                        array: [
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                        ]
                    })

    if(option == 'LEN3')
        .c-wrapper.ST0053.margin-top.margin-bottom.bg-default.border-top
            .component
                .cmp-container.justify-center
                    +award-slide({
                        blockClass: "c-award-category-slide",
                        titleClass: "font-w-normal-24 font-m-semibold-20",
                        subTitleClass: "font-w-normal-16 font-m-semibold-16",
                        bodyCopyClass: "font-w-normal-16 font-m-normal-16",
                        array: [
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                        ]
                    })

    if(option == 'ImageSize180')
        .c-wrapper.ST0053.margin-top.margin-bottom.bg-default.border-top
            .component
                .cmp-container
                    +award-slide({
                        blockClass: "c-award-category-slide",
                        titleClass: "font-w-normal-24 font-m-semibold-20",
                        subTitleClass: "font-w-normal-16 font-m-semibold-16",
                        bodyCopyClass: "font-w-normal-16 font-m-normal-16",
                        imageSize180: true,
                        array: [
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Trusted Reviews", subTitle: "LG 65G2", bodyCopy: "G2 really is the best OLED TV from LG to date", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                        ]
                    })

    if(option == 'AWARD')
        .c-wrapper.ST0053.margin-top.margin-bottom.bg-default.border-top
            .component
                .cmp-container
                    +award-slide({
                        blockClass: "c-award-slide",
                        titleClass: "font-w-normal-16 font-m-normal-14",
                        subTitleClass: "font-w-normal-24 font-m-normal-16",
                        bodyCopyClass: "font-w-normal-16 font-m-normal-14",
                        array: [
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Warranty", subTitle: "Inverter Linear compressor 10-YEAR warranty", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Warranty", subTitle: "Inverter Linear compressor 10-YEAR warranty", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Warranty", subTitle: "Inverter Linear compressor 10-YEAR warranty", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Warranty", subTitle: "Inverter Linear compressor 10-YEAR warranty", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                        ]
                    })

    if(option == 'AwardImageSize180')
        .c-wrapper.ST0053.margin-top.margin-bottom.bg-default.border-top
            .component
                .cmp-container
                    +award-slide({
                        blockClass: "c-award-slide",
                        titleClass: "font-w-normal-16 font-m-normal-14",
                        subTitleClass: "font-w-normal-24 font-m-normal-16",
                        bodyCopyClass: "font-w-normal-16 font-m-normal-14",
                        imageSize180: true,
                        array: [
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Warranty", subTitle: "Inverter Linear compressor 10-YEAR warranty", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Warranty", subTitle: "Inverter Linear compressor 10-YEAR warranty", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Warranty", subTitle: "Inverter Linear compressor 10-YEAR warranty", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Award", subTitle: "CES 2022 Innovation Award", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                            {title: "Warranty", subTitle: "Inverter Linear compressor 10-YEAR warranty", bodyCopy: "Effortless organization with the flexibility to store food your way.", imageUrl: "https://via.placeholder.com/520x520/999999/333333"},
                        ]
                    })

