extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
block meta 
    - var componentId = "AL0011"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

mixin findJobLists (param)
    each data in param 
        li.cmp-press-release-list.c-text-contents
            a(href=data.listURL data-link-name="", data-link-destination="" data-link-menu="" data-link-page-type="")
                .title.c-text-contents__title.cmp-press-release-item
                    strong.c-list-item-content__title.cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="")= data.listTitle
                    .cmp-press-release-info.subcopy.c-text-contents__subcopy
                        if data.listWriter
                            .cmp-text.font-w-normal-16.font-m-normal-16.cmp-find-job-text.cmp-find-job-text--bold(data-cmp-data-layer="")= data.listWriter
                        .cmp-date.font-w-normal-14i.font-m-normal-14i.cmp-press-release-term(data-cmp-data-layer="")= data.listDate
block content
    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                //- block : text-contents
                .c-detail-area__title
                    .c-text-contents
                        .title.c-text-contents__headline
                            h2.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") プレスリリース

            .cmp-container
                .c-detail-area__content
                    ul.cmp-press-release
                        +findJobLists([
                            {
                                listURL :"/",
                                listTitle :"Gaming monitor “27GL83A-B” will be released nationwide from Friday, September 13",
                                listWriter :"Product Release",
                                listDate : "YYYY.MM.DD",
                            },
                            {
                                listURL :"/",
                                listTitle :"壁からわずか18cmで120インチの4K映像を投影可能！",
                                listWriter :"",
                                listDate : "YYYY.MM.DD",
                            },
                            {
                                listURL :"/",
                                listTitle :"From the CineBeam series, LG's first ultra-short focus 4K laser projector “HU85LS” will be released nationwide from Friday, November 8",
                                listWriter :"Product Release",
                                listDate : "YYYY.MM.DD",
                            },
                            {
                                listURL :"/",
                                listTitle :"LG UltraFine ™ Display 4K “24MD4KL-B” for 23.7-inch Mac users will be released nationwide from Tuesday, October 29",
                                listWriter :"Product Release",
                                listDate : "YYYY.MM.DD",
                            },
                            {
                                listURL :"/",
                                listTitle :"LG UltraFine ™ Display 4K “24MD4KL-B” for 23.7-inch Mac users will be released nationwide from Tuesday, October 29",
                                listWriter :"Product Release",
                                listDate : "YYYY.MM.DD",
                            },
                        ])
                .cmp-button.align-text-center
                    +textButton({name: 'View More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
