extends ../_common/_layout.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug

block meta
    - var componentId = "CM0013"
    - var componentName = "Time Sales"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding.
    // Please do not use it during development.
    .guide
        .grid-1600
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        'body' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'dark-theme'},
                                ]
                            }
                        ],
                        // width 옵션을 개발에 맞춰 수정 함
                        // Modify the location of CM0013 options to match AEM
                        '.CM0013' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                        '.c-hero-banner' : [
                            {
                                'name' : 'Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'}
                                ]
                            },
                            {
                                'name' : 'Text Color - mobile ',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white-mobile', 'remove' : 'font-black-mobile'},
                                    {'toggle' : false, 'add' : 'font-black-mobile', 'remove' : 'font-white-mobile'}
                                ]
                            }
                        ],
                        '.c-hero-banner .c-floating-contents__main-contents .c-text-contents' : [
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide'},
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow'},
                                ]
                            }
                        ],
                        '.c-hero-banner .c-floating-contents__main-contents .c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            },
                        ],

                        // type : default
                        //- '.type-default' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-default .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical - mobile',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top-mobile', 'remove' : 'c-hero-banner--main-pos-middle-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-bottom-mobile'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-middle-mobile'},
                                ]
                            },
                        ],

                        // type : PDP
                        //- '.type-pdp' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             // 22.11.04 - added missing option : width-content
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-content, width-narrow', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-content, width-wide', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-narrow, width-wide', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-pdp .c-hero-banner' : [
                            {
                                'name' : 'Text block horizontal',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                                ]
                            },
                            {
                                'name' : 'Text block vertical',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                                    {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                                ]
                            },
                        ],

                        // type : thin
                        //- '.type-thin' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        //- '.type-thin .c-hero-banner' : [
                        //-     //- {
                        //-     //-     'name' : 'Width',
                        //-     //-     'buttons' : [ 
                        //-     //-         {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                        //-     //-         {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                        //-     //-         {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                        //-     //-     ]
                        //-     //- },
                        //-     {
                        //-         'name' : 'Text block horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                        //-         ]
                        //-     },
                        //- ],
                        //- '.type-thin .c-hero-banner.c-hero-banner--main-pos-center' : [
                        //-     {
                        //-         'name' : 'Text block vertical',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                        //-         ]
                        //-     },
                        //- ],
                        
                        // type : promotion
                        //- '.type-promotion' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        //- '.type-promotion .c-hero-banner' : [
                        //-     {
                        //-         'name' : 'Text block horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text block vertical',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text block vertical - mobile',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top-mobile', 'remove' : 'c-hero-banner--main-pos-middle-mobile, c-hero-banner--main-pos-bottom-mobile'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-bottom-mobile'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-middle-mobile'},
                        //-         ]
                        //-     },
                        //- ],

                        // type : bg-image
                        //- '.type-bg-image' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-         ]
                        //-     },
                        //- ],
                        //- '.type-bg-image .c-hero-banner' : [                            
                        //-     {
                        //-         'name' : 'Text block horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text block vertical',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                        //-         ]
                        //-     }
                        //- ],
                        

                        // type : image 
                        //- '.type-image' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow', 'target': 'parent'},
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        //- '.type-image .c-hero-banner' : [
                        //-     {
                        //-         'name' : 'Text block horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text block vertical',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top', 'remove' : 'c-hero-banner--main-pos-middle, c-hero-banner--main-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom', 'remove' : 'c-hero-banner--main-pos-top, c-hero-banner--main-pos-middle'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text block vertical - mobile',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-top-mobile', 'remove' : 'c-hero-banner--main-pos-middle-mobile, c-hero-banner--main-pos-bottom-mobile'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-middle-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-bottom-mobile'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-bottom-mobile', 'remove' : 'c-hero-banner--main-pos-top-mobile, c-hero-banner--main-pos-middle-mobile'},
                        //-         ]
                        //-     },
                        //- ],
                        //- '.type-image .c-hero-banner .c-floating-contents__main-contents .c-text-contents' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide'},
                        //-             {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow'},
                        //-         ]
                        //-     }
                        //- ],

                        // type : blog 
                        //- '.type-blog' : [
                        //-     {
                        //-         'name' : 'Width',
                        //-         'buttons' : [ 
                        //-             {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content', 'target': 'parent'},
                        //-         ]
                        //-     }
                        //- ],
                        //- '.type-blog .c-hero-banner' : [
                        //-     {
                        //-         'name' : 'Text block horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                        //-         ]
                        //-     }
                        //- ],

                        // type : icon block
                        // the following options for "type:icon-block"
                        //- '.type-icon-block' : [
                        //-     {
                        //-         'name' : 'Shape',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'shape-horizontal', 'remove' : 'shape-vertical'},
                        //-             {'toggle' : false, 'add' : 'shape-vertical', 'remove' : 'shape-horizontal'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text Block Vertical',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'text-vertical-top', 'remove' : 'text-vertical-middle, text-vertical-bottom'},
                        //-             {'toggle' : false, 'add' : 'text-vertical-middle', 'remove' : 'text-vertical-top, text-vertical-bottom'},
                        //-             {'toggle' : false, 'add' : 'text-vertical-bottom', 'remove' : 'text-vertical-top, text-vertical-middle'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text Block Vertical - Mobile',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'text-vertical-top--mobile', 'remove' : 'text-vertical-middle--mobile, text-vertical-bottom--mobile'},
                        //-             {'toggle' : false, 'add' : 'text-vertical-middle--mobile', 'remove' : 'text-vertical-top--mobile, text-vertical-bottom--mobile'},
                        //-             {'toggle' : false, 'add' : 'text-vertical-bottom--mobile', 'remove' : 'text-vertical-top--mobile, text-vertical-middle--mobile'},
                        //-         ]
                        //-     },
                        //- ],
                        //- '.type-icon-block .c-hero-banner' : [
                        //-     {
                        //-         'name' : 'Text Block Horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Icon block vertical',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-top', 'remove' : 'c-hero-banner--sub-pos-middle, c-hero-banner--sub-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-middle', 'remove' : 'c-hero-banner--sub-pos-top, c-hero-banner--sub-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-bottom', 'remove' : 'c-hero-banner--sub-pos-top, c-hero-banner--sub-pos-middle'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Icon block Horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-left', 'remove' : 'c-hero-banner--sub-pos-center, c-hero-banner--sub-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-center', 'remove' : 'c-hero-banner--sub-pos-left, c-hero-banner--sub-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-right', 'remove' : 'c-hero-banner--sub-pos-left, c-hero-banner--sub-pos-center'},
                        //-         ]
                        //-     },
                        //- ],

                        // type : blog icon block
                        //- '.type-blog-icon-block' : [
                        //-     {
                        //-         'name' : 'Shape',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'shape-horizontal', 'remove' : 'shape-vertical'},
                        //-             {'toggle' : false, 'add' : 'shape-vertical', 'remove' : 'shape-horizontal'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text Block Vertical',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'text-vertical-top', 'remove' : 'text-vertical-middle, text-vertical-bottom'},
                        //-             {'toggle' : false, 'add' : 'text-vertical-middle', 'remove' : 'text-vertical-top, text-vertical-bottom'},
                        //-             {'toggle' : false, 'add' : 'text-vertical-bottom', 'remove' : 'text-vertical-top, text-vertical-middle'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text Block Vertical - Mobile',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'text-vertical-top--mobile', 'remove' : 'text-vertical-middle--mobile, text-vertical-bottom--mobile'},
                        //-             {'toggle' : false, 'add' : 'text-vertical-middle--mobile', 'remove' : 'text-vertical-top--mobile, text-vertical-bottom--mobile'},
                        //-             {'toggle' : false, 'add' : 'text-vertical-bottom--mobile', 'remove' : 'text-vertical-top--mobile, text-vertical-middle--mobile'},
                        //-         ]
                        //-     },
                        //- ],
                        //- '.type-blog-icon-block .c-hero-banner' : [
                        //-     {
                        //-         'name' : 'Text Block Horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-left', 'remove' : 'c-hero-banner--main-pos-center, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-center', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--main-pos-right', 'remove' : 'c-hero-banner--main-pos-left, c-hero-banner--main-pos-center'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Icon block vertical',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-top', 'remove' : 'c-hero-banner--sub-pos-middle, c-hero-banner--sub-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-middle', 'remove' : 'c-hero-banner--sub-pos-top, c-hero-banner--sub-pos-bottom'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-bottom', 'remove' : 'c-hero-banner--sub-pos-top, c-hero-banner--sub-pos-middle'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Icon block Horizontal',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-left', 'remove' : 'c-hero-banner--sub-pos-center, c-hero-banner--sub-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-center', 'remove' : 'c-hero-banner--sub-pos-left, c-hero-banner--sub-pos-right'},
                        //-             {'toggle' : false, 'add' : 'c-hero-banner--sub-pos-right', 'remove' : 'c-hero-banner--sub-pos-left, c-hero-banner--sub-pos-center'},
                        //-         ]
                        //-     },
                        //- ],

                        // icon block options
                        //- '.c-spec-info .c-icon-block-contents' : [
                        //-     {
                        //-         'name' : 'BG Color',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black, bg-transparent'},
                        //-             {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black, bg-transparent'},
                        //-             {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black, bg-transparent'},
                        //-             {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-transparent'},
                        //-             {'toggle' : false, 'add' : 'bg-transparent', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Text color',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                        //-             {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'},
                        //-         ]
                        //-     },
                        //-     {
                        //-         'name' : 'Type',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'type-a', 'remove' : 'type-b, type-c'},
                        //-             {'toggle' : false, 'add' : 'type-b', 'remove' : 'type-a, type-c'},
                        //-             {'toggle' : false, 'add' : 'type-c', 'remove' : 'type-a, type-b'},
                        //-         ],
                        //-     },
                        //- ],
                        //- '.c-spec-info .c-text-contents' : [
                        //-     {
                        //-         'name' : 'Text Align',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                        //-             {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                        //-             {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                        //-         ]
                        //-     },
                        //- ],
                    };

    // Type - Time Sales
    .guide-text-type Type - Time Sales 
    .c-wrapper.CM0013.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-default
            .cmp-container
                +hero-banner-case-image({
                    width : "narrow",
                    heroType : "default",
                    dateType : "rangeTime",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headlineSize : 'font-w-light-80 font-m-light-36',
                    headline : "Lorem ipsum dolor sit amet posuere.", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?",
                    rangeTimeCopy : "Remaining Time : 00-00:00:00",
                })

    .c-wrapper.CM0013.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-default
            .cmp-container
                +hero-banner-case-image({
                    width : "narrow",
                    heroType : "default",
                    dateType : "rangeTime",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headlineSize : 'font-w-light-80 font-m-light-36',
                    headline : "Lorem ipsum dolor sit amet posuere.", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?",
                })

    .guide-text-type Type - Time Sales : movie popup
    .c-wrapper.CM0013.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-default
            .cmp-container
                +hero-banner-case-video({
                    width : "narrow",
                    heroType : "default",
                    dateType : "rangeTime",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headline : "Lorem ipsum dolor sit amet consectetur.", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?",
                    rangeTimeCopy : "Remaining Time : 00-00:00:00",
                })

    .guide-text-type Type - Time Sales : movie
    .c-wrapper.CM0013.subtract-color.margin-top.margin-bottom.width-narrow
        .component.type-pdp
            .cmp-container
                +hero-banner-case-animation({
                    width : "narrow",
                    heroType : "pdp",
                    dateType : "rangeTime",
                    useEyebrow : true,
                    cta : "box",
                    textAlign : "left",
                    headline : "Lorem ipsum dolor sit amet consectetur.", 
                    bodycopy : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, tempora et?",
                    rangeTimeCopy : "Remaining Time : 00-00:00:00",
                })