//- 믹스인 수정 시, 기존에 개발에 전달했던 페이지의 마크업이 달라지지 않도록 주의 부탁 드립니다. 

mixin defaultButton(params)
    - var option = {...params}
    - var className = `cmp-button c-button c-button--default ${option.buttonStyle} m-${option.mSize} w-${option.wSize}`
    //- GA4 - data link name
    - var tagNameList = {"Learn More":"learn_more", "Buy Now": "buy_now", "Get Stock Alert": "get_stock_alert", "Pre Order": "pre_order", "Add to Cart": "add_to_cart", "Add to Basket": "add_to_cart", "Checkout": "checkout", "Inquiry to Buy": "inquiry_to_buy", "Where to Buy": "where_to_buy"}
    - var linkName = tagNameList[option.name] || ""

    if option.isButton == "none"
        div(class=`${className}` data-cmp-data-layer)&attributes(attributes)
            if block
                block
            else 
                span.cmp-button__text.c-button__text #{option.name}
    else if option.isButton
        if tagNameList[option.name]
            button(type="button" class=`${className}` data-cmp-data-layer data-link-name=`${linkName}`)&attributes(attributes)
                if block
                    block
                else 
                    span.cmp-button__text.c-button__text #{option.name}
        else
            button(type="button" class=`${className}` data-cmp-data-layer)&attributes(attributes)
                if block
                    block
                else 
                    span.cmp-button__text.c-button__text #{option.name}
    else 
        if attributes.role
            if tagNameList[option.name]
                a(href="#" class=`${className}` data-cmp-data-layer data-link-name=`${linkName}`)&attributes(attributes)
                    if block
                        block
                    else 
                        span.cmp-button__text.c-button__text #{option.name}
            else
                a(href="#" class=`${className}` data-cmp-data-layer)&attributes(attributes)
                    if block
                        block
                    else 
                        span.cmp-button__text.c-button__text #{option.name}
        else
            // GA4 - Please add the data-link- attribute according to the tagging guide.
            a(href="#" class=`${className}` data-link-name=`${linkName}` data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer)&attributes(attributes)
                if block
                    block
                else 
                    span.cmp-button__text.c-button__text #{option.name}

mixin textButton(params)
    - var option = {...params}
    - var mainClass = option.underline ? "c-button--text-underline" : "c-button--text-icon"
    - var className = `cmp-button c-button ${mainClass} ${option.buttonStyle} m-${option.mSize} w-${option.wSize}`
    //- GA4 - data link name
    //- - var tagNameList = {"Learn More":"learn_more", "Buy Now": "buy_now", "Get Stock Alert": "get_stock_alert", "Pre Order": "pre_order", "Add to Cart": "add_to_cart", "Add to Basket": "add_to_cart", "Checkout": "checkout", "Inquiry to Buy": "inquiry_to_buy", "Where to Buy": "where_to_buy"}
    //- - var linkName = tagNameList[option.name] || ""

    if option.isButton == "none"
        div(class=`${className}` data-cmp-data-layer)&attributes(attributes)
            if block
                block
            else 
                span.cmp-button__text.c-button__text #{option.name}
    else if option.isButton
        //- if tagNameList[option.name]
        //-     button(type="button" class=`${className}` data-cmp-data-layer data-link-name=`${linkName}`)&attributes(attributes)
        //-         if block
        //-             block
        //-         else 
        //-             span.cmp-button__text.c-button__text #{option.name}
        //- else
        button(type="button" class=`${className}` data-cmp-data-layer)&attributes(attributes)
            if block
                block
            else 
                span.cmp-button__text.c-button__text #{option.name}
    else 
        if attributes.role
            //- if tagNameList[option.name]
            //-     a(href="#" class=`${className}` data-cmp-data-layer data-link-name=`${linkName}`)&attributes(attributes)
            //-         if block
            //-             block
            //-         else 
            //-             span.cmp-button__text.c-button__text #{option.name}
            //- else
            a(href="#" class=`${className}` data-cmp-data-layer)&attributes(attributes)
                if block
                    block
                else 
                    span.cmp-button__text.c-button__text #{option.name}
        else 
            // GA4 - Please add the data-link- attribute according to the tagging guide.
            a(href="#" class=`${className}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer)&attributes(attributes)
                if block
                    block
                else 
                    span.cmp-button__text.c-button__text #{option.name}

mixin circleButton(params)
    - var option = {...params}
    - var className = `cmp-button c-button c-button--circle ${option.buttonStyle} m-${option.mSize} w-${option.wSize}`

    if option.isButton == "none"
        div(class=`${className}` data-cmp-data-layer)&attributes(attributes)
            if block
                block
            else 
                span.cmp-button__text.c-button__text.sr-only #{option.name}
    else if option.isButton
        button(type="button" class=`${className}` data-cmp-data-layer)&attributes(attributes)
            if block
                block
            else 
                span.cmp-button__text.c-button__text.sr-only #{option.name}
    else 
        if attributes.role
            a(href="#" class=`${className}` data-cmp-data-layer)&attributes(attributes)
                if block
                    block
                else 
                    span.cmp-button__text.c-button__text.sr-only #{option.name}
        else 
            // GA4 - Please add the data-link- attribute according to the tagging guide.
            a(href="#" class=`${className}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer)&attributes(attributes)
                if block
                    block
                else 
                    span.cmp-button__text.c-button__text.sr-only #{option.name}


mixin iconButton(params)
    //- 상위에 .button 클래스 추가해야합니다.
    - var option={color:'black', type:'link', class:'', otherClass:'', comment: true, ...params}
    - var otherClass = option.otherClass ? ` ${option.otherClass}` : ''
    if(option.otherClass == 'c-tooltip__button')
        //- tooltip
        - var control = option.ariaControls ? `${option.ariaControls}` : ''
        - var expanded = option.expanded ? `${option.expanded}` : ''
        - var describedby = option.describedby ? `${option.describedby}` : ''
        - var attributes = {"aria-controls":control, "aria-expanded": expanded, "aria-describedby": describedby}
    if(option.type == 'link')
        if(option.comment)
            // Option : target="_blank"
        if(option.ariaControls || attributes.role)
            a(href="#" class=`cmp-button c-icon-button c-icon-button--${option.class} ${option.color}${otherClass}` data-cmp-data-layer="")&attributes(attributes)
                span.cmp-button__text.c-icon-button__text #{option.name}
        else
            // GA4
            a(href="#" class=`cmp-button c-icon-button c-icon-button--${option.class} ${option.color}${otherClass}` data-cmp-data-layer="" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")&attributes(attributes)
                span.cmp-button__text.c-icon-button__text #{option.name}
    else if(option.type == 'button')
        button(type="button" class=`cmp-button c-icon-button c-icon-button--${option.class} ${option.color}${otherClass}` data-cmp-data-layer="")&attributes(attributes)
            span.cmp-button__text.c-icon-button__text #{option.name}
            
    else if(option.type == 'tooltip')
        button(type="button" class=`cmp-button c-icon-button c-icon-button--${option.class} ${option.color}${otherClass}` data-cmp-data-layer="")&attributes(attributes)
            span.cmp-button__text.c-icon-button__text #{option.name}

    else if(option.type == 'icon')
        button(type="button" class=`cmp-button c-icon-button c-icon-button--${option.class} ${option.color}${otherClass}` data-cmp-data-layer="")&attributes(attributes)
            span.cmp-button__text.c-icon-button__text.sr-only #{option.name}

mixin linkButton(params)
    //- 상위에 .button 클래스 추가해야합니다.
    - var option={color:'black', type:'box-outlined', size:'medium', href:'#', class:'', comment: true, roleButton: false, outlink:false, iconClass, ...params}
    - var size = option.type == "text" ? '' : option.size
    - var uppercase = option.uppercase == false ? ' not-upper' : ''
    - var customImg = option.iconClass ? "custom" : ''
    //- GA4 - data link name
    //- - var tagNameList = {"Learn More":"learn_more", "Buy Now": "buy_now", "Get Stock Alert": "get_stock_alert", "Pre Order": "pre_order", "Add to Cart": "add_to_cart", "Add to Basket": "add_to_cart", "Checkout": "checkout", "Inquiry to Buy": "inquiry_to_buy", "Where to Buy": "where_to_buy"}
    //- - var linkName = tagNameList[option.name] || ""
    if(option.roleButton)
        //- role button
        - var attributes = {"role":"button"}
    if(option.comment)
        // Option : target="_blank"
    if(roleButton || attributes.role)
        //- if tagNameList[option.name]
        //-     a(href=`${option.href}` class=`cmp-button c-button c-button--${option.type}${option.underline ? `-underline` : ''}${option.icon ? `-icon` : ''}${option.outlink ? `-outlink` : ''}${uppercase} ${size} ${option.color} ${option.class} ${customImg}` data-cmp-data-layer="" data-link-name=`${linkName}`)&attributes(attributes)
        //-         if option.iconClass
        //-             span.c-button__icon(class=option.iconClass)
        //-         if option.name
        //-             span.cmp-button__text.c-button__text #{option.name}
        //-         else if option.type == "box"
        //-             span.cmp-button__text.c-button__text Button Text
        //-         else if option.type == "box-outlined"
        //-             span.cmp-button__text.c-button__text Primary Button
        //-         else if option.type == "box-outlined-icon"
        //-             span.cmp-button__text.c-button__text Button Text
        //-         else if option.type == "text"
        //-             span.cmp-button__text.c-button__text Text Button 
        //-         else if option.type == "custom"
        //-             span.cmp-button__text.c-button__text Custom Button
        //-         if block
        //-             block
        //- else
        a(href=`${option.href}` class=`cmp-button c-button c-button--${option.type}${option.underline ? `-underline` : ''}${option.icon ? `-icon` : ''}${option.outlink ? `-outlink` : ''}${uppercase} ${size} ${option.color} ${option.class} ${customImg}` data-cmp-data-layer="")&attributes(attributes)
            if option.iconClass
                span.c-button__icon(class=option.iconClass)
            if option.name
                span.cmp-button__text.c-button__text #{option.name}
            else if option.type == "box"
                span.cmp-button__text.c-button__text Button Text
            else if option.type == "box-outlined"
                span.cmp-button__text.c-button__text Primary Button
            else if option.type == "box-outlined-icon"
                span.cmp-button__text.c-button__text Button Text
            else if option.type == "text"
                span.cmp-button__text.c-button__text Text Button 
            else if option.type == "custom"
                span.cmp-button__text.c-button__text Custom Button
            if block
                block
    else
        // GA4 - Please add the data-link- attribute according to the tagging guide.
        a(href=`${option.href}` class=`cmp-button c-button c-button--${option.type}${option.underline ? `-underline` : ''}${option.icon ? `-icon` : ''}${option.outlink ? `-outlink` : ''}${uppercase} ${size} ${option.color} ${option.class} ${customImg}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" data-cmp-data-layer="")&attributes(attributes)
            if option.iconClass
                span.c-button__icon(class=option.iconClass)
            if option.name
                span.cmp-button__text.c-button__text #{option.name}
            else if option.type == "box"
                span.cmp-button__text.c-button__text Button Text
            else if option.type == "box-outlined"
                span.cmp-button__text.c-button__text Primary Button
            else if option.type == "box-outlined-icon"
                span.cmp-button__text.c-button__text Button Text
            else if option.type == "text"
                span.cmp-button__text.c-button__text Text Button 
            else if option.type == "custom"
                span.cmp-button__text.c-button__text Custom Button
            if block
                block

mixin button(params, buttonType="button")
    //- 상위에 .button 클래스 추가해야합니다.
    - var option={color:'black', type:'box-outlined', size:'medium', class: '', uppercase : true, ...params}
    - var size = option.type == "text" ? '' : option.size
    - var uppercase = option.uppercase == false ? ' not-upper' : ''
    //- GA4 - data link name
    //- - var tagNameList = {"Learn More":"learn_more", "Buy Now": "buy_now", "Get Stock Alert": "get_stock_alert", "Pre Order": "pre_order", "Add to Cart": "add_to_cart", "Add to Basket": "add_to_cart", "Checkout": "checkout", "Inquiry to Buy": "inquiry_to_buy", "Where to Buy": "where_to_buy"}
    //- - var linkName = tagNameList[option.name] || ""
    //- if tagNameList[option.name]
    //-     button(type=buttonType class=`cmp-button c-button c-button--${option.type}${option.underline ? `-underline` : ''}${option.icon ? `-icon` : ''}${uppercase} ${size} ${option.color} ${option.class}` data-cmp-data-layer="" data-link-name=`${linkName}`)&attributes(attributes)
    //-         if option.name
    //-             span.cmp-button__text.c-button__text #{option.name}
    //-         else if option.type == "box"
    //-             span.cmp-button__text.c-button__text Button Text
    //-         else if option.type == "box-outlined"
    //-             span.cmp-button__text.c-button__text Primary Button
    //-         else if option.type == "box-outlined-icon"
    //-             span.cmp-button__text.c-button__text Button Text
    //-         else if option.type == "text"
    //-             span.cmp-button__text.c-button__text Text Button
    //-         else if option.type == "file"
    //-             span.cmp-button__text.c-button__text(for="file-input") Text Button
    //- else
    button(type=buttonType class=`cmp-button c-button c-button--${option.type}${option.underline ? `-underline` : ''}${option.icon ? `-icon` : ''}${uppercase} ${size} ${option.color} ${option.class}` data-cmp-data-layer="")&attributes(attributes)
        if option.name
            span.cmp-button__text.c-button__text #{option.name}
        else if option.type == "box"
            span.cmp-button__text.c-button__text Button Text
        else if option.type == "box-outlined"
            span.cmp-button__text.c-button__text Primary Button
        else if option.type == "box-outlined-icon"
            span.cmp-button__text.c-button__text Button Text
        else if option.type == "text"
            span.cmp-button__text.c-button__text Text Button
        else if option.type == "file"
            span.cmp-button__text.c-button__text(for="file-input") Text Button
