//- INPUT TYPE
mixin csForm_Input(params)
    - var option = {...params}
    - var className = `${option.class} textInput__input field__input font-m-normal-16 font-w-normal-20 c-subject-valid`
    //- type01 
    if option.require == "true" 
        label(for="subject" id=`${option.id}-label`).font-m-normal-16.font-w-normal-16 #{option.label} #[em.require *]#[span.sr-only Required Field]
        span.fieldIcons__root
            span.fieldIcons__input
            label(for=`${option.id}`).sr-only Search
            if option.value
                input(id=`${option.id}` type=`${option.type}` value=`${option.value}` aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection` required="required")
            else if option.value && option.disabled == "true"
                input(id=`${option.id}` type=`${option.type}` value=`${option.value}` disabled="disabled" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection` required="required")
            else if option.disabled == "true"
                input(id=`${option.id}` type=`${option.type}` disabled="disabled" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` aria-describedby=`aria-${option.id}-error-connection` class=`${className}`)
            else
                input(id=`${option.id}` type=`${option.type}` aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection` required="required")
            button(type="button").c-button-delete delete button
        // error message
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}

        else
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
   
    //- formDefalut type 
    else if option.formDefalut == "true"
        label.font-m-normal-16.font-w-normal-16(id=`${option.id}-label`) #{option.label} #[em.require *]#[span.sr-only Required Field]
        if option.value
            input(id=`${option.id}` type=`${option.type}` value=`${option.value}` aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection` required="required")
        else if option.value && option.disabled == "true"
            input(id=`${option.id}` type=`${option.type}` value=`${option.value}`  disabled="disabled" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection` required="required")
        else if option.disabled == "true"
            input(id=`${option.id}` type=`${option.type}` disabled="disabled" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        else
            input(id=`${option.id}` type=`${option.type}` aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection` required="required")
                
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
        else
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
    else if option.formDefalutInfoColor == "true"
        label.font-m-normal-16.font-w-normal-24(id=`${option.id}-label`) #{option.label} #[em.require *]#[span.sr-only Required Field]
        if option.value
            input(id=`${option.id}` type=`${option.type}` value=`${option.value}` aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection` required="required")
        else if option.value && option.disabled == "true"
            input(id=`${option.id}` type=`${option.type}` value=`${option.value}`  disabled="disabled" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection` required="required")
        else if option.disabled == "true"
            input(id=`${option.id}` type=`${option.type}` disabled="disabled" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        else
            input(id=`${option.id}` type=`${option.type}` aria-label="" placeholder=`${option.placeholder}` class=`${className}`)
                
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
        else
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
    //- formDefalut type + labelHidden
    else if option.labelHidden == "true"
        if option.value
            input(id=`${option.id}` type=`${option.type}` value=`${option.value}` aria-label="" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        else if option.value && option.disabled == "true"
            input(id=`${option.id}` type=`${option.type}` value=`${option.value}`  disabled="disabled" aria-label="" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        else if option.disabled == "true"
            input(id=`${option.id}` type=`${option.type}` disabled="disabled" aria-label="" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        else
            input(id=`${option.id}` type=`${option.type}` aria-label="" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
        else
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
    
    //- new type : country code
    else if option.hasCountryTelLabel == "true"
        .c-input-item.c-input-item--tel
            label(for=`${option.id}` id=`${option.id}-label`).font-m-normal-16.font-w-normal-16 #{option.label}
            .c-input-item
                if option.value
                    input(id=`${option.id}` type=`${option.type}` value=`${option.value}` aria-label="" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                else if option.value && option.disabled == "true"
                    input(id=`${option.id}` type=`${option.type}` value=`${option.value}`  disabled="disabled" aria-label="" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                else if option.disabled == "true"
                    input(id=`${option.id}` type=`${option.type}` disabled="disabled" aria-label="" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                else
                    input(id=`${option.id}` type=`${option.type}` aria-label="" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                .my-form-number.font-w-normal-16.font-m-normal-16=option.countryTelLabel
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
        else
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
    //- not-required
    else 
        label(for="subject" id=`${option.id}-label`).font-m-normal-16.font-w-normal-16 #{option.label}
        if option.value
            input(id=`${option.id}` type=`${option.type}` value=`${option.value}` aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        else if option.value && option.disabled == "true"
            input(id=`${option.id}` type=`${option.type}` value=`${option.value}` aria-labelledby=`${option.id}-label` disabled="disabled" placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        else if option.disabled == "true"
            input(id=`${option.id}` type=`${option.type}` disabled="disabled" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        else
            input(id=`${option.id}` type=`${option.type}` aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}
        else
            .c-warning.c-subject-required(id=`aria-${option.id}-required`) #{option.requireMsg}
            .c-warning.c-subject-invalid(id=`aria-${option.id}-invalid`) #{option.invalidMsg}

//- SELECT
mixin csForm_Select(params)
    - var option = {...params}
    - var className = `${option.class} font-m-normal-16 font-w-normal-24 c-responsavel-valid`

    if option.require == "true" 
        label(for=`${option.id}` id=`${option.id}-label`).c-select-label.font-m-normal-16.font-w-normal-16 #{option.label} #[em.require *]#[span.sr-only Required Field]
        if option.disabled == "true"
            select(id=`${option.id}` required="required" aria-labelledby=`${option.id}-label` disabled="disabled" class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                option(value=`${option.value_01}` data-change-label=`${option.value_01}`) #{option.value_01}
                if option.value_02
                    option(value=`${option.value_02}` data-change-label=`${option.value_02}`) #{option.value_02}
                if option.value_03
                    option(value=`${option.value_03}` data-change-label=`${option.value_03}`) #{option.value_03}

        else
            select(id=`${option.id}` required="required" aria-labelledby=`${option.id}-label` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                option(value=`${option.value_01}` data-change-label=`${option.value_01}`) #{option.value_01}
                if option.value_02
                    option(value=`${option.value_02}` data-change-label=`${option.value_02}`) #{option.value_02}
                if option.value_03
                    option(value=`${option.value_03}` data-change-label=`${option.value_03}`) #{option.value_03}
                    option(value=`${option.value_04}` data-change-label=`${option.value_04}`) #{option.value_04}
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-responsavel-required(id=`aria-${option.id}-required`) #{option.requireMsg}
        else
            .c-warning.c-responsavel-required(id=`aria-${option.id}-required`) #{option.requireMsg}
    else if option.optionLable == "true" 
        label(for=`${option.id}` id=`${option.id}-label`).c-select-label.font-m-normal-16.font-w-normal-16 #{option.label} #[em.require *]#[span.sr-only Required Field]
        label.c-select-label.font-m-normal-16.font-w-normal-16.c-selcet-sub-label #{option.sublabel}
        if option.disabled == "true"
            select(id=`${option.id}` required="required" aria-labelledby=`${option.id}-label` disabled="disabled" class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                option(value=`${option.value_01}` data-change-label=`${option.value_01}`) #{option.value_01}
                if option.value_02
                    option(value=`${option.value_02}` data-change-label=`${option.value_02}`) #{option.value_02}
        else
            select(id=`${option.id}` required="required" aria-labelledby=`${option.id}-label` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                option(value=`${option.value_01}` data-change-label=`${option.value_01}`) #{option.value_01}
                if option.value_02
                    option(value=`${option.value_02}` data-change-label=`${option.value_02}`) #{option.value_02}
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-responsavel-required(id=`aria-${option.id}-required`) #{option.requireMsg}
        else
            .c-warning.c-responsavel-required(id=`aria-${option.id}-required`) #{option.requireMsg}
    
    else 
        label(for=`${option.id}` id=`${option.id}-label`).c-select-label.font-m-normal-16.font-w-normal-16 #{option.label} 
        if option.disabled == "true"
            select(id=`${option.id}` required="required" aria-labelledby=`${option.id}-label` disabled="disabled" class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                option(value=`${option.value_01}` data-change-label=`${option.value_01}`) #{option.value_01}
                if option.value_02
                    option(value=`${option.value_02}` data-change-label=`${option.value_02}`) #{option.value_02}
        else
            select(id=`${option.id}` required="required" aria-labelledby=`${option.id}-label` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
                option(value=`${option.value_01}` data-change-label=`${option.value_01}`) #{option.value_01}
                if option.value_02
                    option(value=`${option.value_02}` data-change-label=`${option.value_02}`) #{option.value_02}
        if option.info == "true"
            .c-info-msg(id=`aria-${option.id}-msg`) #{option.infoMsg}
            .c-warning.c-responsavel-required(id=`aria-${option.id}-required`) #{option.requireMsg}
        else
            .c-warning.c-responsavel-required(id=`aria-${option.id}-required`) #{option.requireMsg}
    
    


//- TEXTAREA
mixin csForm_Textarea(params)
    - var option = {...params}
    - var className = `${option.class} font-m-normal-14 font-w-normal-14 c-message-valid`

    if option.require == "true"
        label(for=`${option.id}` id=`${option.id}-label`).font-m-normal-16.font-w-normal-16 #{option.label} #[em.require *]#[span.sr-only Required Field]
        .c-textarea-box.c-input-item
            textarea(id=`${option.id}` required="required" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection countDesc` aria-live="polite" aria-atomic="false")
            p.font-m-normal-24.font-w-normal-16(id="countDesc" aria-live="polite")
                span.counting-num 0
                span / #{option.maxLength} Characters
        .c-warning.c-responsavel-required(id=`aria-${option.id}-required`) #{option.requireMsg}
    else 
        label(for=`${option.id}`).font-m-normal-16.font-w-normal-16 #{option.label}
        .c-textarea-box.c-input-item
            textarea(id=`${option.id}` aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` class=`${className}` aria-describedby=`aria-${option.id}-error-connection`)
            p.font-m-normal-24.font-w-normal-16.counting-num(id="countDesc" aria-live="polite") 
                span.counting-num 0 
                span / #{option.maxLength} Characters
        .c-warning.c-responsavel-required(id=`aria-${option.id}-required`) #{option.requireMsg}

//- CAPTCHA AREA
mixin csForm_Captcha(params)
    - var option = {...params}
    - var className = `${option.class} font-m-normal-14 font-w-normal-14 c-message-valid`

    label(for="captcha").font-m-normal-16.font-w-normal-16 #{option.label} #[em.require *]#[span.sr-only Required Field]
    .cs-form__inner.cs-captcha
        .cs-captcha__area
            // captcha area. 
        .cs-captcha__input-box 
            .cs-captcha__input
                label(for=`${option.id}`).font-m-normal-16.font-w-normal-16 pictureText #[em.require *]#[span.sr-only Required Field]
                input(id=`${option.id}` type="text" required="required" aria-label="" placeholder=`${option.placeholder}`).font-m-normal-16.font-w-normal-20.c-captcha-valid
        .cs-captcha__button 
            button(type="button" aria-label="").cs-captcha__button--sound
            button(type="button" aria-label="").cs-captcha__button--reset
    .c-warning.c-captcha-required #{option.requiredMsg}
    if option.incorrect
        .c-warning.c-captcha-incorrect #{option.incorrect}
        
//- SEARCHBAR
mixin csForm_Schbar(params)
    - var option = {...params}
     .searchbar
        #searchbar.searchBar__root(data-cmp-data-layer='' role='search')
            .searchBar__searchInner
                form.searchBar__form(autocomplete='off' _lpchecked='1' action='')
                    span.fieldIcons__root
                        span.fieldIcons__input
                            input(id=`${option.id}` type="text" name='search_query' value='' role='searchbox' aria-label='Search' placeholder=`${option.placeholder}`).textInput__input.field__input.font-m-normal-16.font-w-normal-20
                            button(type="button").c-button-delete delete button
                        button(type="button" title="search" aria-label="" aria-describedby="").fieldIcons__before.c-hidden-mo
                            span.icon__root
                                span.sr-only Search
                    p.message__root
                    .searchBar__SearchAutocompleteWrapper
            .c-warning.c-field-required #{option.requiredMsg}

        .c-model-contents
            a(tabindex="0" class="c-modal-open find-number font-m-normal-16 font-w-normal-24" aria-label="" aria-controls="CS0027" role="dialog" data-link-name data-link-destination data-link-menu data-link-page-type) #{option.linkText}

//- SEARCH INPUT
mixin csForm_SchInput(params)
    - var option = {...params}
    .cmp-form#postalCode
        label(for=`${option.id}` id=`${option.id}-label`).c-select-label.font-m-normal-16.font-w-normal-16 #{option.label} #[em.require *]#[span.sr-only Required Field]
        .cmp-form__inner
            div
                .c-search-input
                    input(id=`${option.id}` type="text" required="required" aria-labelledby=`${option.id}-label` placeholder=`${option.placeholder}` maxlength=`${option.length}` class=`${option.valueType} font-m-normal-16 font-w-normal-20`)&attributes(attributes)
                    button(type="button" title="search" aria-label="" aria-describedby="").c-search-input__button.c-search-input__button--search search button
                    button(type="button").c-postalCode-input__button.c-search-input__button--delete delete button
                .c-warning.c-after-search-required #{option.label} is required.
                .c-warning.c-after-search-invalid This #{option.label} is invalid.

            .button
                +textButton({name: 'Select my address', underline:true, wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})
            if option.lang
                .c-warning
                    | Você só pode selecionar o endereço se estiver logado na área
                    a(href="/br/my-lg/login?state=/br/meu-suporte") Meu Suporte
                .c-warning 
                    | É preciso finalizar o seu perfil 
                    a(href="") Meu Suporte 
                    | para selecionar o endereço
            else
                .c-warning
                    | You can only select the address if you are logged in to the area 
                    a(href="/br/my-lg/login?state=/br/meu-suporte") My Support
                .c-warning 
                    | You need to finalize your profile
                    a(href="") My Support 
                    | to select the address

//- MUILE-LANGUAGE
mixin csForm_SchInputMuilt(params)
    - var option = {...params}
    .cmp-form#postalCode
        label(for=`${option.id}`).c-select-label.font-m-normal-16.font-w-normal-16 #{option.label} #[em.require *]#[span.sr-only Required Field]
        .cmp-form__inner
            div
                .c-search-input
                    input(id=`${option.id}` type="text" required="required" aria-label="" placeholder=`${option.placeholder}` maxlength=`${option.length}` class=`${option.className} c-hypen-button font-m-normal-16 font-w-normal-20 `)&attributes(attributes)
                    button(type="button" title="search" aria-label="" aria-describedby="").c-search-input__button.c-search-input__button--search search button
                    button(type="button").c-postalCode-input__button.c-search-input__button--delete delete button
                if option.info == "true"
                    .c-info-msg #{option.infoMsg}
                    .c-warning.c-subject-required #{option.requireMsg}
                    .c-warning.c-subject-invalid #{option.invalidMsg}
                else
                    .c-warning.c-subject-required #{option.requireMsg}
                    .c-warning.c-subject-invalid #{option.invalidMsg}

            .button
                +textButton({name: `${option.btnName}`, underline:true, wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})

