//- 믹스인 수정 시, 기존에 개발에 전달했던 페이지의 마크업이 달라지지 않도록 주의 부탁 드립니다. 

mixin headline(class1, tagname, name = "Lorem ipsum dolor sit amet, consectetuer adipiscing", comment=true, labelledby)
    if(comment)
        // Heading Tag Option - div or h1 or h2 or h3 or h4 or h5 or h6
        // Headline Font Size Option 
        // Desktop : font-w-light-80 / font-w-light-56 / font-w-light-36
        // Mobile : font-m-light-36 / font-m-light-28 / font-m-light-24
        // The font size applied here is the default value for this component.
        // Default font sizes for migration are font-w-light-56 and font-m-light-28
    .cmp-title(class=class1 data-cmp-data-layer="")
        if tagname == "h4"
            h4.cmp-title__text(id=labelledby ? "label_id" : null)= name
                if block
                    block
        else if tagname == "h3"
            h3.cmp-title__text(id=labelledby ? "label_id" : null)= name
                if block
                    block
        else if tagname == "div"
            div.cmp-title__text(id=labelledby ? "label_id" : null)= name
                if block
                    block
        else if tagname == "p"
            p.cmp-title__text(id=labelledby ? "label_id" : null)= name
                if block
                    block
        else 
            h2.cmp-title__text(id=labelledby ? "label_id" : null)= name
                if block
                    block
