extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_forms.pug


block meta 
    - var componentId = "AL0004"
    - var componentName = "Event List"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

//- block scripts
//-     script(src=componentId+".js" type="module")



block content
    mixin eventList(params)
        ul.c-event-list__box.c-text-contents
            each data in params
                li.c-event-list__item
                    a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
                        .c-event-list__img
                            +printLazyPicture(
                                `https://via.placeholder.com/310x200`,
                                `https://via.placeholder.com/464x300`
                            )
                        .c-event-list__content
                            .title.c-text-contents__title
                                p.cmp-title.font-w-light-36.font-m-light-24.c-event-list__title(data-cmp-data-layer="")= data.title
                        .date.c-text-contents__date
                            p.cmp-date.font-w-normal-16.font-m-normal-16.c-event-list__date(data-cmp-data-layer="")= data.date
                        .type.c-text-contents__type
                            p.cmp-date.font-w-normal-16.font-m-normal-16.c-event-list__type(data-cmp-data-layer="")= data.type

    .c-wrapper.margin-top.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-event-list
                    .c-event-list-top
                        .c-event-list-headline
                            +headline(class1, h2, name = "Happening Near")
                            p.c-event-list-headline__subheadline We're here to provide all the help you need.
                        .c-event-list-form
                            p.c-event-list-form__text Sort By
                            form.c-form.cmp-form
                                .c-form-box
                                    +formSelect("Event List sort", "ELSort", "Event List sort", false, true)
                                        option(value="All" selected) All
                                        option(value="On going") On going
                    span.c-event-list-results 
                        b 156&nbsp;
                        | Results
                    .c-event-list__area
                        +eventList([
                            {   
                                title:"LG's UltraWide Festival is back for its fourth edition",
                                date:"Aug.16 ~ Oct.15, 2022",
                                type: "New York - National Event"
                            },
                            {   
                                title:"LG's UltraWide Festival is back for its fourth edition",
                                date:"Aug.16 ~ Oct.15, 2022",
                                type: "New York - National Event"
                            },
                            {   
                                title:"LG's UltraWide Festival is back for its fourth edition",
                                date:"Aug.16 ~ Oct.15, 2022",
                                type: "New York - National Event"
                            },
                            {   
                                title:"LG's UltraWide Festival is back for its fourth edition",
                                date:"Aug.16 ~ Oct.15, 2022",
                                type: "New York - National Event"
                            },
                            {   
                                title:"LG's UltraWide Festival is back for its fourth edition",
                                date:"Aug.16 ~ Oct.15, 2022",
                                type: "New York - National Event"
                            },
                            {   
                                title:"LG's UltraWide Festival is back for its fourth edition",
                                date:"Aug.16 ~ Oct.15, 2022",
                                type: "New York - National Event"
                            },
                        ])
                        .button.align-text-center
                            //- +button({type:"text", color:"black", size:"large", icon: true, name: "View More"})
                            +textButton({name:'View More',wSize: 'large', mSize: 'small',buttonStyle: 'down',isButton:true})
