extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_image.pug

block meta 
    - var componentId = "PD0012"
    - var componentName = "Product Visual"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.type-thumbnail .c-floating-contents' : [
                            {
                                'name' : 'Product Image Align',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'c-floating-contents--other-way'},
                                ]
                            },
                        ],
                        '.c-wrapper' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'type-dark'},
                                ]
                            }
                        ],
                        '.c-wrapper:not(.type-dark) .type-media-image, .c-wrapper:not(.type-dark) .type-media-video' : [
                            {
                                'name' : 'Brightness of content, Use only when not dark theme',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-brightness', 'remove' : 'bg-darkness', 'target': 'parent'},
                                    {'toggle' : false, 'add' : 'bg-darkness', 'remove' : 'bg-brightness', 'target': 'parent'},
                                ]
                            }
                        ],
                    };

    include ./PD0012-inc.pug

    //- .guide-text-option  Series Name
    //- +PD0012('BGSERIES', 'Series Name')

    .guide-text-type Type : Thumbnail image
    +PD0012('BGUFN', 'InstaView Door-in-Door | GSXV90MCAE | American Style Fridge Freezer | 635L | WiFi connected | Matte Black | InstaView Door-in-Door | GSXV90MCAE | American Style Fridge Freezer | 635L | WiFi connected | Matte Black')
    +PD0012('BGUFN1', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN2', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN3', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN4', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN5', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN6', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN7', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN8', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN9', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('BGUFN10', 'LG Objet Collection – Easel 65" 4K OLED evo TV')

    .guide-text-type Type : Full image / Video
    .guide-text-option Media : Full image
    +PD0012('FULL1', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL2', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL3', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL4', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL5', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL6', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL7', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL8', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL9', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('FULL10', 'LG Objet Collection – Easel 65" 4K OLED evo TV')

    .guide-text-option Media : Video
    +PD0012('VIDEO1', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDEO2', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDEO3', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDEO4', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDEO5', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDEO6', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDEO7', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDEO8', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDEO9', 'LG Objet Collection – Easel 65" 4K OLED evo TV')
    +PD0012('VIDE10', 'LG Objet Collection – Easel 65" 4K OLED evo TV')

    .guide-text-option Type : Non-OBS
    +PD0012('BGUFN00', 'TEST LG Objet Collection – Easel 65" 4K OLED evo TV', true)
