mixin PD0012(option=false, headlineText, noneOBS=false,)
    mixin model-group(params)
        .c-product-item__groups
            - var count = params.groups.length
            - var more9 = count >= 9
            - var more6 = count >= 6
            .c-product-item__model-group(class=`group-type-${params.type}${more9 ? ' limited' : more6 ? ' limited' : ''}`)
                ul.inner(role="menu")
                    if(params.target == 'SELF')
                        case params.type
                            when 'inch'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]} inch TV` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}"`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]} inch TV` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}"`
                            when 'color'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        button.swatch(aria-label="target color name" type="button" class=`${x==0 ? ' active' : ''}` class=`${params.groups[x]}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                            span.sr-only(aria-hidden="true") color name
                            when 'cm'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]} cm` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]} cm` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'voltage'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]} volts` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]} volts` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'btu'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]} BTU` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]} BTU` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'hp'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]} HP` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]} HP` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'kw'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]} SERIES` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]} SERIES` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'weight'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]} weight` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]} weight` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`                            
                            when 'pitch'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]} PITCH` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]} PITCH` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'package'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            button.swatch(aria-label=`${params.groups[x]}` type="button" class=`${x==0 ? 'active' : ''}` disabled="disabled" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            button.swatch(aria-label=`${params.groups[x]}` type="button" class=`${x==0 ? 'active' : ''}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                    else 
                        case params.type
                            when 'inch'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]} inch TV` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}"`
                                        else
                                            // GA4
                                            a.swatch(aria-label=`${params.groups[x]} inch TV` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}"`
                            when 'color'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        a.swatch(aria-label="target color name" href="#" class=`${x==0 ? ' active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" class=`${params.groups[x]}` aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                            span.sr-only(aria-hidden="true") color name
                            when 'cm'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        // GA4
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]} cm` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else 
                                            a.swatch(aria-label=`${params.groups[x]} cm` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'voltage'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        // GA4
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]} volts` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            a.swatch(aria-label=`${params.groups[x]} volts` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'btu'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        // GA4
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]} BTU` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            a.swatch(aria-label=`${params.groups[x]} BTU` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'hp'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        // GA4
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]} HP` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            a.swatch(aria-label=`${params.groups[x]} HP` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'kw'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        // GA4
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]} SERIES` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            a.swatch(aria-label=`${params.groups[x]} SERIES` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'weight'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        // GA4
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]} weight` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else    
                                            a.swatch(aria-label=`${params.groups[x]} weight` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'pitch'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        // GA4
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]} PITCH` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            a.swatch(aria-label=`${params.groups[x]} PITCH` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                            when 'package'
                                - for (var x = 0; x < count; x++)
                                    li(role="menuitem")
                                        // GA4
                                        if x == count-1
                                            a.swatch(aria-label=`${params.groups[x]}` href="#" class=`${x==0 ? 'active' : ''}` disabled="disabled" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`
                                        else
                                            a.swatch(aria-label=`${params.groups[x]}` href="#" class=`${x==0 ? 'active' : ''}` data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="" aria-pressed=`${x==0 ? 'true' : 'false'}`)
                                                span(aria-hidden="true")= `${params.groups[x]}`

                if(more9 && params.type=='color')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='inch')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='cm')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='voltage')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='weight')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='btu')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='hp')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='kw')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='pitch')
                    .limited-number= `(${count})`
                else if(more6 && params.type=='package')
                    .limited-number= `(${count})`
                else 
                    |
    mixin product_brand
        .c-product-item__brand.white
            +printLazyImage("/assets/icon/icon-lg-signature-black-141-14.svg")
        .c-product-item__brand.black
            +printLazyImage("/assets/icon/icon-lg-signature-white-141-14.svg")
    mixin product_flag_util-group
        include ../_common/_sns-list.pug
        .c-util-noneOBS-group
            .c-product-item__tag
                .c-product-item__tag--button.c-product-item__button
                    // 2022-11-04
                    // 2022-10.25 : number added to wishlist
                    span.number 120K
                    .c-tooltip
                        .button
                            // Add 'active' class when button is activated
                            button(type="button" aria-pressed="false" class="cmp-button c-icon-button c-icon-button--wish c-tooltip__button" data-cmp-data-layer="" data-wa-type="press")
                                span.sr-only add to wishlist
                        .c-tooltip__container.top-right
                            .c-tooltip__contents.c-tooltip__contents--small
                                .c-text-contents
                                    .text.c-text-contents__bodycopy
                                        .cmp-text.font-w-normal-14.font-m-normal-14(data-cmp-data-layer="")
                                            p Add items to your MY LG wishlist
                                .button
                                    +textButton({name: 'View Wishlist', isButton:false, buttonStyle:"default", wSize: "small", mSize : "small"})

                    .c-tooltip.c-tooltip__share
                        .button
                            button(type="button" aria-expanded="false" class="cmp-button c-icon-button c-icon-button--share c-tooltip__button" data-cmp-data-layer="" aria-controls="snsShare")
                                span.sr-only Share
                        .c-tooltip__container.top-right(id="snsShare")
                            // 2022-11-04
                            .c-tooltip__contents
                                // sns list
                                +snsList

    mixin floating-contents(data)
        - var options = { imageUrl: "", imageAlt: "picture", webBgUrl: "", mobileBgUrl: "", bgColor: "white", ...data}
        //- none-OBS type
        if(data.noneOBS)
            +product_flag_util-group
        // block : floating contents
        .c-floating-contents
            .c-floating-contents__floor(class=`${data.noneOBS ? "c-floating-contents__floor--noneOBS" : "" }`) 
                // block : text contents
                .c-text-contents.c-product-item
                    .c-product-item__tag.c-product-item__tag--flag
                        span New 
                        span.flag-highlight 20% off Soudbar Offer

                    .text.c-text-contents__eyebrow.font-w-normal-20.font-m-normal-12
                        span.cmp-text(data-cmp-data-layer="") OLED77C2PUA
                        //- model copy area .sku-copy
                        .sku-copy
                    if (option == 'BGUFN1' || option == 'FULL1' || option == 'VIDEO1')
                        // If there is no Series Name
                        .title.c-text-contents__headline.font-w-light-56
                            h1.cmp-text(data-cmp-data-layer="")= headlineText
                        .text.c-text-contents__subcopy.font-w-normal-24.font-m-normal-16
                            .cmp-text(data-cmp-data-layer="") LG OLED evo C2 77'' 4K Smart TV
                        +product_brand
                    else if (option == 'BGUFN2' || option == 'FULL2' || option == 'VIDEO2')
                        // If there is no Series Name
                        .title.c-text-contents__headline.font-w-light-56
                            h1.cmp-text(data-cmp-data-layer="")= headlineText
                        .text.c-text-contents__subcopy.font-w-normal-24.font-m-normal-16
                            .cmp-text(data-cmp-data-layer="") LG OLED evo C2 77'' 4K Smart TV
                        +product_brand
                    else 
                        .title.c-text-contents__headline.font-w-light-56
                            h1.cmp-text(data-cmp-data-layer="")= headlineText
                        +product_brand

                    if (option == 'BGUFN1' || option == 'FULL1' || option == 'VIDEO1')
                        +model-group({
                            type: 'color',
                            groups:['HA_Black-Stainless-Steel', 'white', 'black', 'HA_Styler_Mirror', 'HA_REF_White','HA_Black-Stainless-Steel', 'white', 'black', 'HA_Styler_Mirror'],
                            target: ''
                        })
                    else if (option == 'BGUFN2' || option == 'FULL2' || option == 'VIDEO2')
                        +model-group({
                            type: 'inch',
                            groups:['77','65','65','65','65','65','65'],
                            target: ''
                        })
                    else if (option == 'BGUFN3' || option == 'FULL3' || option == 'VIDEO3')
                        +model-group({
                            type: 'cm',
                            groups:['100cm','200cm','100cm (25)','200cm (27)','100cm','200cm',],
                            target: ''
                        })
                    else if (option == 'BGUFN4' || option == 'FULL4' || option == 'VIDEO4')
                        +model-group({
                            type: 'btu',
                            groups:['14,000','16,000','14,000','16,000','14,000','16,000',],
                            target: ''
                        })
                    else if (option == 'BGUFN5' || option == 'FULL5' || option == 'VIDEO5')
                        +model-group({
                            type: 'weight',
                            groups:['1.0 Kg','2.0 Kg','1.0 Kg','2.0 Kg','1.0 Kg','2.0 Kg','1.0 Kg'],
                            target: ''
                        })
                    else if (option == 'BGUFN6' || option == 'FULL6' || option == 'VIDEO6')
                        +model-group({
                            type: 'voltage',
                            groups:['110 V','220 V','110 V','220 V','110 V','220 V','110 V'],
                            target: ''
                        })
                    else if (option == 'BGUFN7' || option == 'FULL7' || option == 'VIDEO7')
                        +model-group({
                            type: 'kw',
                            groups:['24K','18K','12K','24K','18K','12K',],
                            target: ''
                        })
                    else if (option == 'BGUFN8' || option == 'FULL8' || option == 'VIDEO8')
                        +model-group({
                            type: 'hp',
                            groups:['2 HP','2.5 HP','2 HP','2.5 HP','2 HP','2.5 HP',],
                            target: ''
                        })
                    else if (option == 'BGUFN9' || option == 'FULL9' || option == 'VIDEO9')
                        +model-group({
                            type: 'pitch',
                            groups:['P2.5','P1.25','P2.5','P1.25','P2.5','P1.25',],
                            target: ''
                        })
                    else if (option == 'BGUFN10' || option == 'FULL10' || option == 'VIDEO10')
                        +model-group({
                            type: 'package',
                            groups:['1 Pack','2 Packs','3 Packs','4 Packs','5 Packs'],
                            target: ''
                        })
                    else
                        // Inch, When target is SELF
                        //- +model-group({
                        //-     type: 'inch',
                        //-     groups:['55','66','77','55','66'],
                        //-     target: 'SELF'
                        //- })
                        // Inch, If target is not SELF
                        //- +model-group({
                        //-     type: 'inch',
                        //-     groups:['55','66','77','55','66'],
                        //-     target: ''
                        //- })

                        // Color, When target is SELF
                        //- +model-group({
                        //-     type: 'color',
                        //-     groups:['HA_Black-Stainless-Steel', 'white', 'black', 'HA_Styler_Mirror', 'HA_REF_White','red','HE_RP4_Blue_Green', 'black', 'black'],
                        //-     target: 'SELF'
                        //- })
                        // Color, If target is not SELF
                        +model-group({
                            type: 'color',
                            groups:['black', 'HA_Styler_Mirror', 'HA_REF_White','red','HE_RP4_Blue_Green'],
                            target: ''
                        })

                    if(option == 'BGUFN')
                        .c-product-item__category
                            +product_rating(grade="A", modelid='MD07546559', specsheet=false, rating=true, catalog=false, summary=false, labels=false, bottomSheet=true)
                            .c-button.c-button--write-review
                                +textButton({name: 'Write a Review', wSize: 'small', mSize: 'small', buttonStyle: 'default', isButton: false})(href='#', data-link-destination="" data-link-name="" data-link-menu="" data-link-page-type="")
                        .youreko-test(style="height: 60px; width: 222px; background: #ddd; margin-top: 20px;")

                // blcok : image (c-image is required)
                .c-image
                    if(!!options.imageUrl)
                        .cmp-image(data-cmp-data-layer='')
                            img.cmp-image__image.c-image__img(src=`${options.imageUrl}`, alt=`${options.imageAlt}`)&attributes(attributes)

            if(options.webBgUrl && options.mobileBgUrl)
                .c-floating-contents__floating
                    .image.c-image
                        +printLazyPicture(
                            `${options.mobileBgUrl}`,
                            `${options.webBgUrl}`
                        )
            else if(option == 'VIDEO1' || option == 'VIDEO2' || option == 'VIDEO3' || option == 'VIDEO4' || option == 'VIDEO5' || option == 'VIDEO6' || option == 'VIDEO7' || option == 'VIDEO8' || option == 'VIDEO9' || option == 'VIDE10')
                .c-floating-contents__floating
                    +bg-video({loop: false})
    if(option == 'FULL1')            
        .c-wrapper.PD0012.bg-brightness
            .component.type-media-image
                .cmp-container
                    +floating-contents({
                        imageUrl: "",
                        webBgUrl: "https://via.placeholder.com/1920x550/DDDDDD/666666",
                        mobileBgUrl: "https://via.placeholder.com/768x1173/DDDDDD/666666",
                        noneOBS: noneOBS,
                    })
    else if(option == 'FULL2' || option == 'FULL3' || option == 'FULL4' || option == 'FULL5' || option == 'FULL6' || option == 'FULL7' || option == 'FULL8' || option == 'FULL9' || option == 'FULL10')
        .c-wrapper.PD0012.bg-brightness
            .component.type-media-image
                .cmp-container
                    +floating-contents({
                        imageUrl: "",
                        webBgUrl: "https://via.placeholder.com/1920x550/666666/DDDDDD",
                        mobileBgUrl: "https://via.placeholder.com/768x1173/666666/DDDDDD",
                        noneOBS: noneOBS,
                    })
    else if(option == 'VIDEO1')
        .c-wrapper.PD0012.bg-brightness
            .component.type-media-video
                .cmp-container
                    +floating-contents({
                        imageUrl: "",
                        webBgUrl: "",
                        mobileBgUrl: "",
                        noneOBS: noneOBS,
                    })
    else if(option == 'VIDEO2' || option == 'VIDEO3' || option == 'VIDEO4' || option == 'VIDEO5' || option == 'VIDEO6' || option == 'VIDEO7' || option == 'VIDEO8' || option == 'VIDEO9' || option == 'VIDEO10')
        .c-wrapper.PD0012.bg-brightness
            .component.type-media-video
                .cmp-container
                    +floating-contents({
                        imageUrl: "",
                        webBgUrl: "",
                        mobileBgUrl: "",
                        noneOBS: noneOBS,
                    })
    else if(option == 'BGUFN1')
        .c-wrapper.PD0012.bg-brightness
            .component.type-thumbnail
                .cmp-container
                    +floating-contents({
                        imageUrl: "https://via.placeholder.com/1100x730/999999/000000",
                        webBgUrl: "",
                        mobileBgUrl: "",
                        noneOBS: noneOBS,
                    })
    else if(option == 'BGUFN2')
        .c-wrapper.PD0012.bg-brightness
            .component.type-thumbnail
                .cmp-container
                    +floating-contents({
                        imageUrl: "https://via.placeholder.com/1100x730/999999/000000",
                        webBgUrl: "",
                        mobileBgUrl: "",
                        noneOBS: noneOBS,
                    })
    else 
        .c-wrapper.PD0012.bg-brightness
            .component.type-thumbnail
                .cmp-container
                    +floating-contents({
                        imageUrl: "https://via.placeholder.com/1100x730/999999/000000",
                        webBgUrl: "",
                        mobileBgUrl: "",
                        noneOBS: noneOBS,
                    })
