extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_forms.pug

block meta 
    - var componentId = "CS0025"
    - var componentName = "CS Share Your Feedback"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    //- .guide 
    //-     .grid-1600 
    //-     .grid-1440
    //-     .inner
    //-         .guide-list
    //-             a(href="../../list-st.html") List 
    //-         .guide-title #{componentId}. #{componentName}
    //-         .guide-wrapper
    //-             script. 
    //-                 const guideList = {
    //-                     '.c-wrapper' : [
    //-                         {
    //-                             'name' : 'Top margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-top'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'Bottom margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-bottom'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'BG Color',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-text, .type-disclaimer' : [
    //-                         {
    //-                             'name' : 'Text Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
    //-                             ]
    //-                         }
    //-                     ],                        
    //-                     '.type-disclaimer .component' : [
    //-                         {
    //-                             'name' : 'Width Size',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'width-1440', 'remove' : 'width-1600'},
    //-                                 {'toggle' : false, 'add' : 'width-1600', 'remove' : 'width-1440'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-side' : [
    //-                         {
    //-                             'name' : 'Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-right'},
    //-                                 {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
    //-                         {
    //-                             'name' : 'Font Options',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
    //-                                 {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
    //-                                 {'toggle' : true, 'add' : 'font-italic'},
    //-                                 {'toggle' : true, 'add' : 'font-underline'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                 };
    
    mixin formCheckbox2(label, linkLabel, name, val, id, count = "false", disabled = false, link=true)
        .c-checkbox-item
            label.checkbox(for=`${id}`)
                if(disabled)
                    input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`, disabled="disabled")&attributes(attributes)
                else 
                    input(type="checkbox", name=`${name}`, value=`${val}`, id=`${id}`)&attributes(attributes)

                if(label)
                    span.label.font-m-normal-14.font-w-normal-14= label 
                        a(href="daum.net").link.font-m-normal-14.font-w-normal-14= linkLabel
                        -if(count >= 0 & count != "false") // for filter
                            sup.count= count 
                else 
                    if block 
                        span.label
                            block      
    mixin roleList2(item)
        if item 
            .c-list__item(role="listitem")
                if block
                    block
        else
            .c-list__item
                if block
                    block

    mixin textListItem(params)
        - var option={contents:both, useQuote:false, isList:false, headline:'', bodycopy:'', ...params}
            +roleList2(option.isList)
                //- block : text-contents                 
                div(class=`c-text-contents ${option.bodycopy}`)
                    .title.c-text-contents__headline
                        +headline(`${option.headline}`,h2,'Consumer support')
                    case option.contents
                        when "desc"
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-16.font-w-normal-16(data-cmp-data-layer="") 
                                    p Monday - Friday : 9:00am - 5:00pm
                                    p Saturday : 9:00am - 3:00pm
                                    br
                                    p Closed : Sunday and bank holidays
                                    p UK : 0344 847 5454
                                    p IE : 01 686 9454
                        when "schedule"
                            .text.c-text-contents__bodycopy 
                                .cmp-text.font-m-normal-16.font-w-normal-16(data-cmp-data-layer="") 
                                    p Receipt number : CN180920019378
                                    p Request type : Call appointment
                                    p Model number : 
                                        a(href="#") NP7550W
                                    p Type of inquiry : Online shop
                                    p Appiontment date &amp; time : 1/28/2022 11:00 am ~ 12:00 pm
                        
                        default
                            .text.c-text-contents__bodycopy 
                                .cmp-text(data-cmp-data-layer="") 
                                    p Body text can be up to 700 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters.
                            //- element : list
                            .text.c-text-contents__bodycopy
                                .cmp-text(data-cmp-data-layer="")
                                    ul
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    //- element : quote
                    if option.useQuote
                        .c-text-contents__quote 
                            .text.c-text-contents__quote-text
                                .cmp-text.font-w-semibold-28.font-m-semibold-20(data-cmp-data-layer="") 
                                    p “Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo”
                            .text.c-text-contents__quote-name
                                .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") 
                                    p Lorem ipsum dolor sit amet


    .guide-text-type CS Share Your Feedback

    // 20230322 full markup change
    // Component Markup
    .c-wrapper.CS0025.type-text.margin-bottom 
        .component.type-form
            .CS0025__container
                .c-model-content-wrap
                    .c-cs-header
                        // block : text-contents
                        .c-text-contents
                            .title.c-text-contents__headline
                                +headline('font-w-light-56 font-m-light-28',h2,'Share your feedback')
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                    span This survey is related to the website only.
                                    <br>If you have feedback regarding our call center, our agents etc, please email us.
                    .c-button-area
                        .button
                            +defaultButton({name: 'Email us', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})
                        .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 

                .cs-form
                    .cmp-form
                        label(for="request").c-select-label.font-m-normal-16.font-w-normal-24 1. What was your goal for visiting our LG support website? (support : after sales service) #[em.require *]#[span.sr-only Required Field]
                            .c-warning.font-m-normal-14i.font-w-normal-14i Please choose required field.
                        .c-radio
                            .two-column-layout-options.c-radio-group
                                +formRadio('Register a product', 'feedback', 'feedback1', 'fb1')
                                +formRadio('Download software & firmware', 'feedback', 'feedback1', 'fb2')
                                +formRadio('Find manuals & documents', 'feedback', 'feedback1', 'fb3')
                                +formRadio('Get warranty information(extended)', 'feedback', 'feedback1', 'fb4')
                                +formRadio('Search help library & video tutorials for product support information', 'feedback', 'feedback1', 'fb5')
                                +formRadio('Online request for repair service', 'feedback', 'feedback1', 'fb6')
                                +formRadio('Find a repair center', 'feedback', 'feedback1', 'fb7')
                                +formRadio('Get LG contact information', 'feedback', 'feedback1', 'fb8')
                                +formRadio('Find where to buy accessories & parts', 'feedback', 'feedback1', 'fb9')
                                +formRadio('Repair (delay, technician’s skill & attitude)', 'feedback', 'feedback1', 'fb10')
                                +formRadio("Call centre & live chat (connection, agent's attitude & knowledge)", 'feedback', 'feedback1', 'fb11')
                                +formRadio('Product (quality, function, price)', 'feedback', 'feedback1', 'fb12')
                                .c-radio-item.clickedShow 
                                    label.radio(for="fb13")
                                        input(type="radio" name="feedback" id="fb13")
                                        span.label Other - related to LG.com (please specify)
                                .c-input-item 
                                    label.font-w-semibold-16.font-m-semibold-14(for="fb13-1")
                                    input.font-m-normal-16.font-w-normal-20(type="text" id="fb13-1" placeholder="Please enter details")
                                .c-radio-item.clickedShow 
                                    label.radio(for="fb14")
                                        input(type="radio" name="feedback" id="fb14")
                                        span.label Other - Not related to LG.com (please specify)
                                .c-input-item 
                                    label.font-w-semibold-16.font-m-semibold-14(for="fb14-1")
                                    input.font-m-normal-16.font-w-normal-20(type="text" id="fb14-1" placeholder="Please enter details")
                    
                            //- .c-radio-group 
                                
                        //- .c-radio.c-hidden-mo
                        //-     .c-radio-group
                        //-         +formRadio('Register a product', 'feedback1', 'feedback1', 'fb1-pc')
                        //-         +formRadio('Find manuals & documents', 'feedback1', 'feedback1', 'fb3-pc')
                        //-         +formRadio('Search help library & video tutorials for product support information', 'feedback1', 'feedback1', 'fb5-pc')
                        //-         +formRadio('Find a repair center', 'feedback1', 'feedback1', 'fb7-pc')
                        //-         +formRadio('Find where to buy accessories & parts', 'feedback1', 'feedback1', 'fb9-pc')
                        //-         +formRadio("Call centre & live chat (connection, agent's attitude & knowledge)", 'feedback1', 'feedback1', 'fb11-pc')
                        //-         .c-radio-item.clickedShow 
                        //-             label.radio(for="fb13-pc")
                        //-                 input(type="radio" name="feedback1" id="fb13-pc")
                        //-                 span.label Other - related to LG.com (please specify)
                        //-         .c-input-item 
                        //-             label.font-w-semibold-16.font-m-semibold-14(for="fb13-1-pc")
                        //-             input.font-m-normal-16.font-w-normal-20(type="text" id="fb13-1-pc" placeholder="Please enter details")
                        //-     .c-radio-group 
                        //-         +formRadio('Download software & firmware', 'feedback1', 'feedback1', 'fb2-pc')
                        //-         +formRadio('Get warranty information(extended)', 'feedback1', 'feedback1', 'fb4-pc')
                        //-         +formRadio('Online request for repair service', 'feedback1', 'feedback1', 'fb6-pc')
                        //-         +formRadio('Get LG contact information', 'feedback1', 'feedback1', 'fb8-pc')
                        //-         +formRadio('Repair (delay, technician’s skill & attitude)', 'feedback1', 'feedback1', 'fb10-pc')
                        //-         +formRadio('Product (quality, function, price)', 'feedback1', 'feedback1', 'fb12-pc')
                        //-         .c-radio-item.clickedShow 
                        //-             label.radio(for="fb14-pc")
                        //-                 input(type="radio" name="feedback1" id="fb14-pc")
                        //-                 span.label Other - Not related to LG.com (please specify)
                        //-         .c-input-item 
                        //-             label.font-w-semibold-16.font-m-semibold-14(for="fb14-1-pc")
                        //-             input.font-m-normal-16.font-w-normal-20(type="text" id="fb14-1-pc" placeholder="Please enter details")
                    
                    .cmp-form 
                        label(for="request").c-select-label.font-m-normal-16.font-w-normal-24 2. How do you feel about the support you received? #[em.require *]#[span.sr-only Required Field]
                            .c-warning.font-m-normal-14i.font-w-normal-14i Please select your request type.
                        .c-contents_area 
                            .c-content
                                ul#feel_list.c-feel_list
                                    li  
                                        div
                                            input#feel1(name='radio' type='radio' value='Terrible')
                                            label.c-feel-1(for='feel1') 
                                                span.sr-only Terrible
                                        p.font-m-normal-12.font-w-normal-20 Terrible
                                    li
                                        div
                                            input#feel2(name='radio' type='radio' value='Bad')
                                            label.c-feel-2(for='feel2')
                                                span.sr-only Bad
                                        p.font-m-normal-12.font-w-normal-20 Bad
                                    li
                                        div
                                            input#feel3(name='radio' type='radio' value='Okay')
                                            label.c-feel-3(for='feel3')
                                                span.sr-only Okay
                                        p.font-m-normal-12.font-w-normal-20 Okay
                                    li
                                        div
                                            input#feel4(name='radio' type='radio' value='Good')
                                            label.c-feel-4(for='feel4')
                                                span.sr-only Good
                                        p.font-m-normal-12.font-w-normal-20 Good
                                    li
                                        div
                                            input#feel5(name='radio' type='radio' value='Great')
                                            label.c-feel-5(for='feel5')
                                                span.sr-only Great
                                        p.font-m-normal-12.font-w-normal-20 Great
                    .cmp-form 
                        label(for="request").c-select-label.font-m-normal-16.font-w-normal-24 3. What do you wish we had done differently?
                        .c-textarea-box
                            textarea#message.font-m-normal-14.font-w-normal-14(required="required" aria-label="" placeholder="Tell us how we can improve LG.com experience.")
                            p.font-m-normal-12.font-w-normal-16 0 / 3900 byte
                    .cmp-form 
                        label(for="request").c-select-label.font-m-normal-16.font-w-normal-24 4. May we contact you with regards to this survey? #[em.require *]#[span.sr-only Required Field]
                            .c-warning.font-m-normal-14i.font-w-normal-14i Please choose required field.
                        .c-form-box
                            .c-radio-item.noShowForm
                                label.radio(for="no")
                                    input(type="radio" name="feedback" id="no")
                                    span.label.font-m-normal-12.font-w-normal-20 No
                            .c-radio-item.showForm
                                label.radio(for="yes")
                                    input(type="radio" name="feedback" id="yes")
                                    span.label.font-m-normal-12.font-w-normal-20 Yes
                            
                
                    .c-select-show
                        .c-cs-header
                            // block : text-contents
                            .c-text-contents
                                .c-text-contents__headline
                                    +headline('font-w-normal-24 font-m-normal-16',h2,'Thanks! Can you please provide your information?')
                        .cs-form__wrap
                            .cmp-form
                                label(for="fullName").font-m-normal-16.font-w-normal-16 Full Name #[em.require *]#[span.sr-only Required Field]
                                input#fullName.font-m-normal-16.font-w-normal-20(type="text" required="required" placeholder="Type your full name")
                                .c-warning Full name is required.
                            .cmp-form
                                label(for="phoneNum").font-m-normal-16.font-w-normal-16 Phone number #[em.require *]#[span.sr-only Required Field]
                                input#phoneNum.font-m-normal-16.font-w-normal-20(type="tel" required="required" placeholder="Type your phone number")
                                .c-warning Phone number is required.
                            .cmp-form
                                label(for="email").font-m-normal-16.font-w-normal-16 Email #[em.require *]#[span.sr-only Required Field]
                                input#email.font-m-normal-16.font-w-normal-20(type="email" required="required" placeholder="Type your email")
                                .c-warning Email is required.
                                .c-warning Email address invalid.
                            .cmp-form
                                label(for="message").font-m-normal-16.font-w-normal-16 Message #[em.require *]#[span.sr-only Required Field]
                                input#message.font-m-normal-16.font-w-normal-20(type="text" required="required" placeholder="Please enter the message" aria-describedby="ariaMessageMsg")
                                #ariaMessageMsg.c-info-msg * Personal data is only kept for 90 days.
                                .c-warning Message is required.
                        .c-form-msg.font-m-normal-12.font-w-normal-24 Your privacy is of great importance to us. Please touch privacy policy to read the details.
                            .button 
                                +linkButton({type:'text', name:'Privacy policy', icon:true, size:'large'})
                        .cs-form__chk
                            .c-checkbox-item
                                label.checkbox(for='privacyPolicyCheck01')
                                    input(type="checkbox", name='privacyPolicy', value='val1', id=`privacyPolicyCheck01`, aria-label="")
                                    span.label.font-m-normal-12.font-w-normal-20 Zapoznałam/-em się z polityką prywatności – ochroną danych osobowych. 
                                        a(href="#").link.font-m-normal-12.font-w-normal-20 *Przeczytaj więcej
                                .c-warning Consent is required.

                .c-button-wrap
                    .button.c-cta
                        +defaultButton({name: 'Cancel', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})(role="button")
                        +defaultButton({name: 'Submit', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(type="submit" role="button")
