extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_carousel.pug
include ../_common/_image.pug
include ../_common/_video.pug

block meta 
    - var componentId = "ST0018"
    - var componentName = "Centered Image Block"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        '.non-carousel-box' : [
                            {
                                'name' : 'Set number',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'item6', 'remove' : 'item5, item4, item3, item2'},
                                    {'toggle' : false, 'add' : 'item5', 'remove' : 'item6, item4, item3, item2'},
                                    {'toggle' : false, 'add' : 'item4', 'remove' : 'item6, item5, item3, item2'},
                                    {'toggle' : false, 'add' : 'item3', 'remove' : 'item6, item5, item4, item2'},
                                    {'toggle' : false, 'add' : 'item2', 'remove' : 'item6, item5, item4, item3'}
                                ]
                            }
                        ],
                        '.c-text-contents__bodycopy' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };

    // Component Markup
    mixin printLazyImage2(img, alt="picture")
        //- 상위에 .image 클래스를 추가해야합니다. (주로 .c-image)
        .cmp-image.fit-content(data-cmp-data-layer='')
            img.cmp-image__image.c-image__img(src=img, alt=alt, loading="lazy")&attributes(attributes)    
    mixin image
        // block : image
        .image.c-image
            +printLazyImage(`https://via.placeholder.com/620x400/999999/333333`)
            if block
                block
    mixin image2
        // block : image
        .image.c-image
            +printLazyImage2(`../../assets/image/qr-cn-uwechat.svg`)
            if block
                block
    mixin video-contents(params)
        - var option={videoType:'', ...params}
        // Display only when video is registered
        // block : media contents
        .c-media-contents
            // Video case
            +image
                +floating-video(option.videoType)
                if block
                    block

    mixin img-contents
        // block : media contents
        // option : target (_blank or _self)
        // GA4
        a.c-media-contents(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
            // Image case
            +image
    mixin img-contents2
        // block : media contents
        // option : target (_blank or _self)
        // GA4
        a.c-media-contents(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
            // Image case
            +image2
    mixin carouselItem(type)
        .cmp-carousel__item.swiper-slide(data-cmp-data-layer="" data-cmp-hook-carousel="item")
            if(type == "img")
                +img-contents
            if(type == "video")
                +video-contents({videoType:'brightcove'})
                if block
                    block
            // block : text contents
            .c-text-contents
                .text.c-text-contents__bodycopy
                    .cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")
                        p Sleek and superior: Collaboration with Architectural Digest
            //- block :cta 
            .button.c-cta
                +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
            //- block :cta 
            .button.c-cta
                +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
            if block
                block
    mixin carouselItem2(type)
        .cmp-carousel__item.swiper-slide(data-cmp-data-layer="" data-cmp-hook-carousel="item")
            if(type == "img")
                +img-contents2
            if(type == "video")
                +video-contents({videoType:'brightcove'})
                if block
                    block
            // block : text contents
            .c-text-contents
                .text.c-text-contents__bodycopy
                    .cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")
                        p Sleek and superior: Collaboration with Architectural Digest
            //- block :cta 
            .button.c-cta
                +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
            //- block :cta 
            .button.c-cta
                +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
            if block
                block
                   
    mixin nonCarouselItem(type)
        li.c-list__item
            if(type == "img")
                +img-contents
            if(type == "video")
                +video-contents({videoType:'youtube'})
                if block
                    block
            // block : text contents
            .c-text-contents
                .text.c-text-contents__bodycopy
                    .cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")
                        p Sleek and superior: Collaboration with Architectural Digest
            //- block :cta 
            .button.c-cta
                +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
            //- block :cta 
            .button.c-cta
                +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
            if block
                block

    .guide-text-option Option. Carousel
    .c-wrapper.ST0018.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // carousel
                .carousel.panelcontainer.carousel-box
                    // block : carousel
                    .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.swiper-wrapper
                            - for (var x = 0; x < 5; x++)
                                +carouselItem('video')
                                +carouselItem2('img')
                                +carouselItem('img')
                        .c-carousel__handler
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

    .guide-text-option Option. Non Carousel - Settings 2 to 6 possible. default : 6.
    .c-wrapper.ST0018.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                // non carousel
                // Class is changed according to the set number (itemN)
                .non-carousel-box.item6
                    ul.c-list
                        - for (var x = 0; x < 6; x++)
                            +nonCarouselItem('video')
                            +nonCarouselItem('img')

    .guide-text-option Carousel - Home QR Code Swiper(only CN)
    include ../_common/_title-area.pug
    include ./ST0018-inc.pug
    +ST0018('cn')