mixin listItemCard(params)
    - var options={image:img, text:'LG电子中国', link:false, ...params}
    .cmp-carousel__item.swiper-slide.c-list__item(data-cmp-data-layer="" data-cmp-hook-carousel="item")
        if(options.link)
            a.c-qr-list__item(href="#" target="_blank" rel="noopener noreferrer" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                .image.c-image
                    img.c-image__img(src=options.image alt="")
                .c-text-contents
                    .cmp-text.font-w-normal-24.font-m-normal-16
                        p #{options.text}
        else
            div.c-qr-list__item
                .image.c-image
                    img.c-image__img(src=options.image alt="")
                .c-text-contents
                    .cmp-text.font-w-normal-24.font-m-normal-16
                        p #{options.text}

mixin ST0018(option=false)
    if(option == 'cn')
        .c-wrapper.ST0018.type-category.margin-top.margin-bottom.border-top.bg-default
            .component
                .cmp-container
                    +component-title-area({
                        alignment : "align-text-left",
                        headline : {
                            text : "您身边的LG",
                            style: "font-w-light-56 font-m-light-28"
                        },
                        description : {
                            text : "联络我们或了解最新动向",
                            style : "font-w-normal-24 font-m-normal-12"
                        }
                    })
                    .c-list.c-qr-list
                        .carousel.panelcontainer
                            // block - carousel
                            .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                                .cmp-carousel__content.swiper-wrapper
                                    +listItemCard({image:'../../assets/image/qr-cn-weibo.svg', text:'LG电子中国', link: true})
                                    +listItemCard({image:'../../assets/image/qr-cn-wechat.svg', text:'LG电子中国', link: false})
                                    +listItemCard({image:'../../assets/image/qr-cn-uwechat.svg', text:'LG电子中国', link: false})
                                    +listItemCard({image:'../../assets/image/qr-cn-douyin.svg', text:'LG电脑数码科技', link: true})
                                    +listItemCard({image:'../../assets/image/qr-cn-xiaohongshu.svg', text:'LG电脑数码科技', link: true})
                                .c-carousel__handler
                                    .cmp-carousel__actions
                                        +carouselBtn({type:"pagination", direction:"prev"})
                                    +carouselPagination
                                    .cmp-carousel__actions
                                        +carouselBtn({type:"pagination", direction:"next"})
