extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "ST0023"
    - var componentName = "PDP Support"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            //- {
                            //-     'name' : 'BG Color',
                            //-     'buttons' : [
                            //-         {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-default'},
                            //-         {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-default'},
                            //-         {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray'},
                            //-     ]
                            //- },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                        //- '.c-support--card' : [
                        //-     {
                        //-         'name' : 'BG Color',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-default'},
                        //-             {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-default'},
                        //-             {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray'},
                        //-         ]
                        //-     },
                        //- ],
                        //- '.c-support--option' : [
                        //-     {
                        //-         'name' : 'BG Color',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-default'},
                        //-             {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-default'},
                        //-             {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray'},
                        //-         ]
                        //-     },
                        //- ]
                    };

    include ./ST0023-inc.pug
    .guide-text-option Option. List
    +ST0023('')

    .guide-text-option Option. Swiper list on mobile 
    +ST0023('MOBILESWIPER')