extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_forms.pug
include ../_common/_pagination.pug
include ../_common/_brand-detail.pug

block meta 
    - var componentId = "CS0007"
    - var componentName = "Block Image (Static)"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-warmgray, bg-lightgray, bg-midgray1, bg-midgray2, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-warmgray', 'remove' : 'bg-white, bg-lightgray, bg-midgray1, bg-midgray2, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-warmgray, bg-midgray1, bg-midgray2, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-midgray1', 'remove' : 'bg-white, bg-warmgray, bg-lightgray, bg-midgray2, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-midgray2', 'remove' : 'bg-white, bg-warmgray, bg-lightgray, bg-midgray1, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-warmgray, bg-lightgray, bg-midgray1, bg-midgray2'},
                                ]
                            }
                        ],
                        '.type-text, .type-disclaimer' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ],                        
                  
                        '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                        // type : box-color
                        '.c-step-option-list__item' : [
                             {
                                'name' : 'Box Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'box-white', 'remove' : 'box-warmgray, box-lightgray,box-midgray1,box-midgray2, box-black'},
                                    {'toggle' : false, 'add' : 'box-warmgray', 'remove' : 'box-white, box-lightgray,box-midgray1,box-midgray2, box-black'},
                                    {'toggle' : false, 'add' : 'box-lightgray', 'remove' : 'box-white, box-warmgray, box-midgray1, box-midgray2, box-black'},
                                    {'toggle' : false, 'add' : 'box-midgray1', 'remove' : 'box-white, box-warmgray,  box-lightgray, box-midgray2, box-black'},
                                    {'toggle' : false, 'add' : 'box-midgray2', 'remove' : 'box-white, box-warmgray, box-lightgray, box-midgray1, box-black'},
                                    {'toggle' : false, 'add' : 'box-black', 'remove' : 'box-white, box-warmgray, box-lightgray, box-midgray1, box-midgray2'},
                                ]
                            }
                        ]
                    };


    // Component Markup
    mixin step-contents
        .c-step-option-list.c-list.js-step-option-area(role="list")
            - for (var i=0; i<4; i++)
                +step-option-card    

    mixin step-option-card(type)
        case type 
            when 1
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/336x212/000/eee/?text=336x212', 'https://via.placeholder.com/708x226/000/eee/?text=708x226')
                        +printLazyPicture('../../mocks/CS0007/temp-landing-additional-support.jpg', '')(aria-hidden='true')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    .button.c-cta
                        +defaultButton({name: 'Learn more', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})

            when 2 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem")
                    // This image may not be used. (optional)
                    .image.c-image
                        +printLazyPicture('../../mocks/CS0001/no-image.png', 'https://via.placeholder.com/100x100/000/eee/?text=100x100')(aria-hidden='true')
                    .c-text-contents__wrap
                        .c-text-contents
                            .text.c-text-contents__eyebrow
                                strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="", id='aria-connection')
                                    | Android Phone Android Phone Android Phone Android PhoneAndroid PhoneAndroid Phone
                            // Since it is not used in this type, set display:none
                            .text.c-text-contents__bodycopy
                                .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                    | Go to Google Play. Go to Google Play. Go to Google Play. Go to Google Play. Go to Google Play. Go to Google Play. Go to Google Play. Go to Google Play. 
                        .button.c-cta
                            a(type="button" href="https://www.daum.net" role="download" data-link-name data-link-destination data-link-menu data-link-page-type aria-describedby='id-connection').c-btn-download 
                                span.sr-only Download Shortcut

            when 3 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem")
                    .image.c-image
                        //- +printLazyPicture('https://via.placeholder.com/150x150/000/eee/?text=150x150', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')(aria-hidden='true')
                        +printLazyPicture('../../mocks/CS0007/temp-fota.jpg', '')(aria-hidden='true')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Warranty

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Verify ownership to get efficient warranty service.
            when 4 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem")
                    .image.c-image
                        +printLazyPicture('https://via.placeholder.com/100x100/000/eee/?text=100x100', 'https://via.placeholder.com/240x240/000/eee/?text=240x240')(aria-hidden='true')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-normal-32.font-m-normal-16(data-cmp-data-layer="")
                                | Warranty WarrantyWarrantyWarrantyWarranty2222222222
                        // Bodycopy can be hidden(option) 
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                | Verify ownership to get efficient warranty service.                                 | Verify ownership to get efficient warranty service. aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

            when 5 
                a(href="#" role="listitem" data-link-name data-link-destination data-link-menu data-link-page-type).c-step-option-list__item.c-list__item.js-step-option
                    .image.c-image
                        +printLazyPicture('https://via.placeholder.com/100x100/000/eee/?text=100x100', 'https://via.placeholder.com/240x240/000/eee/?text=240x240')(aria-hidden='true')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-semibold-24.font-m-semibold-16(data-cmp-data-layer="")
                                | Warranty

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="")
                                | Verify ownership to get efficient warranty service.
            when 6 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem")
                    .image.c-image
                        +printLazyPicture('https://via.placeholder.com/310x330/000/eee/?text=310x330', 'https://via.placeholder.com/342x342/000/eee/?text=342x342')(aria-hidden='true')
                    .c-text-contents
                        //- .text.c-text-contents__eyebrow
                        //-     strong.cmp-text.font-w-semibold-24.font-m-semibold-20(data-cmp-data-layer="")
                        //-         | Lorem Ipsum

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="")
                                | LG Smart Share is a great way to access all of your music, videos and photos from the comfort of your own sofa. It sends all of your favourite media from your PC, laptop, tablet or smartphone directly to your TV, and, best of all, it’s wireless!
                                br
                                br
                                | If you would like to find out more about Smart Share, click Support Landing  
                                | for a comprehensive guide.
                        // Button usage flexible (optional)
                        .button.c-cta
                            +linkButton({type:'text', name:'Requirements', size:'small', icon:true})
                        .button.c-cta.c-btn__download
                            +defaultButton({name: 'Learn more', wSize: 'small', mSize: 'small', buttonStyle: 'default'})
                            +linkButton({name:'Windows', size:'small', icon:true})(role="download" aria-label="")
                            +linkButton({name:'MAC', size:'small', icon:true})(role="download" aria-label="")
            when 7 
                li.c-step-option-list__item.c-list__item.js-step-option
                    .c-video-box
                        video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
                            source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
                        button(type="button" class="c-video-box__button")
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 1.

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Click or tap “+ Add a device”
                    
            when 8 
                li.c-step-option-list__item.c-list__item.js-step-option
                    .c-video-box
                        video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
                            source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
                        button(type="button" class="c-video-box__button")

                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-m-light-24(data-cmp-data-layer="")
                                | Step 1.

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Click or tap “+ Add a device”Click or tap “+ Add a device”
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-m-light-24(data-cmp-data-layer="")
                                | Step 2.

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Select “Scan QR” from the options
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-m-light-24(data-cmp-data-layer="")
                                | Step 3.

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Scan the QR code on your device
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-m-light-24(data-cmp-data-layer="")
                                | Step 4.

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | The device is now registered
                            span.font-m-normal-16 * Models without QR can be registered manually by entering the serial number
                    .c-text-contents.font-m-normal-14 *QR quick scan can be used on Wi-Fi enabled products produced from Jan 2022 onwards.
            when 9 
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem")
                    .image.c-image
                        //- +printLazyImage(gameList.imgSrc)
                        +printLazyPicture('https://via.placeholder.com/100x100/000/eee/?text=100x100', 'https://via.placeholder.com/100x100/000/eee/?text=100x100')(aria-hidden='true')

                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="") Bobble Pong
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Match three or more consecutive bubbles of the same color using the arrow. The matching bubbles will pop and your scores will rise.
                        .button.c-cta
                            +linkButton({name:'DOWNLOAD', size:'small'})(role="download" aria-label="")
            when 10 
                li.c-step-option-list__item.c-list__item.js-step-option
                    .c-video-box
                        video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
                            source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
                        button(type="button" class="c-video-box__button")
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Step 1.

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Click or tap “+ Add a device”
                            span.font-m-normal-16 * Models without QR can be registered manually by entering the serial number
            when 11
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem")
                    .image.c-image
                        +printLazyPicture('https://via.placeholder.com/100x100/000/eee/?text=100x100', 'https://via.placeholder.com/240x240/000/eee/?text=240x240')(aria-hidden='true')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-normal-32.font-m-normal-16(data-cmp-data-layer="")
                                | Warranty WarrantyWarrantyWarrantyWarranty2222222222
                        // Bodycopy can be hidden(option) 
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                | Verify ownership to get efficient warranty service.                                 | Verify ownership to get efficient warranty service. aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            
            when 12
                .c-step-option-list__item.c-list__item.js-step-option(role="listitem")
                    .image.c-image
                        +printLazyPicture('https://via.placeholder.com/328x159/000/eee/?text=AutoxAuto', 'https://via.placeholder.com/342x342/000/eee/?text=Autox342')(aria-hidden='true')
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            strong.cmp-text.font-w-light-36.font-m-light-24(data-cmp-data-layer="")
                                | Warranty

                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                | Verify ownership to get efficient warranty service.
            
    .guide-text-type Block Image (Static)
    .guide-text-type Type 1. 2column 
    .guide-text-option Option 1. Image -- add class .type-card__img

    // Component Markup
    // .c-default-margin class added
    .guide-text-option 1 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__img
            .CS0007__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Lorem ipsum')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Lorem ipsum dolor sit amet, Aenean commodo ligula
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<1; i++)
                                +step-option-card(1) 
    .guide-text-option 2 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__img
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<2; i++)
                                +step-option-card(1)   
    .guide-text-option 3 Block image or more
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__img
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<3; i++)
                                +step-option-card(1)   
    
    //- // option 2. game app is exposed when a particular product is detected.
    //- .guide-text-option Option 2. game app form
    //- // Adding a new class to an existing class (type-card__list)
    //- .guide-text-option 1 Block image
    //- .c-wrapper.CS0007.type-text.margin-top.margin-bottom
    //-     .component.type-card__img.type-card__list
    //-         .CS0007__container
    //-             .c-support
    //-                 .c-support__inner
    //-                     .c-step-option-list.c-list.js-step-option-area(role="list")
    //-                         - for (var i=0; i<1; i++)
    //-                             +step-option-card(9) 
    //- .guide-text-option 2 or more
    //- .c-wrapper.CS0007.type-text.margin-top.margin-bottom
    //-     .component.type-card__img.type-card__list
    //-         .CS0007__container
    //-             .c-support
    //-                 .c-support__inner
    //-                     .c-step-option-list.c-list.js-step-option-area(role="list")
    //-                         - for (var i=0; i<3; i++)
    //-                             +step-option-card(9) 
    
    
    
    .guide-text-option Option 3. Outline -- add class .type-card__img.type-card__innerBox, .type-card__align(for align)
    // Adding a new class to an existing class (type-card__img2)
    .guide-text-option 1 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<1; i++)
                                +step-option-card(2) 

    .guide-text-option 2 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<2; i++)
                                +step-option-card(2) 

    .guide-text-option 3 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<3; i++)
                                +step-option-card(2) 

    .guide-text-option 4 Block image or more
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<4; i++)
                                +step-option-card(2) 

    .guide-text-type Type 2. 4column 
    .guide-text-option Option 1. Image -- add class .type-card__img2, .type-card__align(for align)

    .guide-text-option 1 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__img2.type-card__align
            .CS0007__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Why register')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                span Lorem ipsum dolor sit amet, Aenean commodo ligula
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<1; i++)
                                +step-option-card(3) 

    .guide-text-option 2 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__img2.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<2; i++)
                                +step-option-card(3) 

    .guide-text-option 3 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__img2.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<3; i++)
                                +step-option-card(3) 

    .guide-text-option 4 Block image (MO 2X2)
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__img2.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<4; i++)
                                +step-option-card(3) 
    
    
    .guide-text-option Option 2. Outline -- add class .type-card__innerBox2, .type-card__align(for align)
    
    .guide-text-option 1 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox2.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<1; i++)
                                +step-option-card(4) 

    .guide-text-option 2 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox2.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<2; i++)
                                +step-option-card(4) 

    .guide-text-option 3 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox2.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<3; i++)
                                +step-option-card(4) 

    .guide-text-option 4 Block image or more
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox2.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<4; i++)
                                +step-option-card(4) 

    .guide-text-option Option 2. BGCOLOR -- add class .type-card__innerBox3, .type-card__align(for align)
    
    .guide-text-option 1 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox3.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<1; i++)
                                +step-option-card(4) 

    .guide-text-option 2 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox3.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<2; i++)
                                +step-option-card(4) 

    .guide-text-option 3 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox3.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<3; i++)
                                +step-option-card(4) 

    .guide-text-option 4 Block image or more
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox3.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<4; i++)
                                +step-option-card(4) 
    
    .guide-text-option Option 2. BGCOLOR -- add class .type-card__innerBox3, .type-card__align(for align).type-card__grid2
    .guide-text-option 2x2 Block image or more
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox3.type-card__align.type-card__grid2
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<2; i++)
                                +step-option-card(11) 

    .guide-text-option Clickable
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__innerBox3.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<4; i++)
                                +step-option-card(5) 

    .guide-text-type Type 3. 4column (MO 1X4)
    .guide-text-option Option 1. Image -- add class .type-card__textSec, .type-card__align(for align)
    .guide-text-option 1 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__textSec.type-card__align
            .CS0007__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'What is Smart Share?')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                span Lorem ipsum dolor sit amet, Aenean commodo ligula
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<1; i++)
                                +step-option-card(6) 
    .guide-text-option 2 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__textSec.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<2; i++)
                                +step-option-card(6) 
    .guide-text-option 3 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__textSec.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<3; i++)
                                +step-option-card(6) 
    .guide-text-option 4 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__textSec.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<4; i++)
                                +step-option-card(6) 
    
    .guide-text-type Type 4. Video (PC 1X4 / MO ONLY ONE)
    .guide-text-option Option 1. Image -- add class .type-card__video, .type-card__align(for align)
    .guide-text-option.c-hidden-mo 1 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom.c-hidden-mo
        .component.type-card__video.type-card__align
            .CS0007__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'One-Stop easy registration')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                span Lorem ipsum dolor sit amet, Aenean commodo ligula
                .c-support
                    .c-support__inner
                        ol.c-step-option-list.c-list.js-step-option-area
                            - for (var i=0; i<1; i++)
                                +step-option-card(7) 
    .guide-text-option.c-hidden-mo 2 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom.c-hidden-mo
        .component.type-card__video.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        ol.c-step-option-list.c-list.js-step-option-area
                            - for (var i=0; i<2; i++)
                                +step-option-card(7) 
    .guide-text-option.c-hidden-mo 3 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom.c-hidden-mo
        .component.type-card__video.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        ol.c-step-option-list.c-list.js-step-option-area
                            - for (var i=0; i<3; i++)
                                +step-option-card(7) 
    .guide-text-option.c-hidden-mo 4 Block image
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom.c-hidden-mo
        .component.type-card__video.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        ol.c-step-option-list.c-list.js-step-option-area
                            - for (var i=0; i<3; i++)
                                +step-option-card(7) 
                            +step-option-card(10)
                        .c-text-contents.font-m-normal-14.font-w-normal-14i *QR quick scan can be used on Wi-Fi enabled products produced from Jan 2022 onwards.
                            
    
    .guide-text-option.c-hidden-pc mobile
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom.c-hidden-pc
        .component.type-card__video.type-card__align
            .CS0007__container
                .c-support
                    .c-support__inner
                        ol.c-step-option-list.c-list.js-step-option-area
                            - for (var i=0; i<1; i++)
                                +step-option-card(8) 

    .guide-text-type Type5. 3column 
    .guide-text-option Option 1. Image -- add class .type-card__img2, .type-card__img3, .type-card__align(for align)

    .guide-text-option 3 Block image (PC 1X3)
    .c-wrapper.CS0007.type-text.margin-top.margin-bottom
        .component.type-card__img2.type-card__img3.type-card__align
            .CS0007__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Why register')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-16(data-cmp-data-layer="")
                                span Lorem ipsum dolor sit amet, Aenean commodo ligula
                .c-support
                    .c-support__inner
                        .c-step-option-list.c-list.js-step-option-area(role="list")
                            - for (var i=0; i<3; i++)
                                +step-option-card(12) 