extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
//- include ../_common/_carousel.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "AL0022"
    - var componentName = "About LG"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

//- block scripts
//-     script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                        ],
                    };

    mixin globalList (param)
        - var size_pc = "80x80";
        - var size_mo = "64x64";
        each data in param 
            div.cmp-carousel__item.swiper-slide.c-list__item(class=`${param.length >= 4 ? 'c-list__item--four' : ''}`)
                .c-list-item__contents.c-text-contents
                    .title.c-text-contents__title
                        strong.cmp-title.font-w-light-36.font-m-normal-20(data-cmp-data-layer="")= data.titleName
                    .text.c-text-contents__bodycopy
                        p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")!= data.bodyCopy
                    //- +linkButton({type:"box-outlined", color:"black", size:"small", name: "LEARN MORE"})
                    +linkButton({type:"text",color:"black", underline:false,comment:false, outlink:true, name: "LEARN MORE"})(target='_blank' data-link-destination="" data-link-name="learn_more" data-link-menu="" data-link-page-type="")
                .c-list-item__img
                    +printLazyPicture(
                        `https://via.placeholder.com/${size_mo}`, 
                        `https://via.placeholder.com/${size_pc}`
                    )

    .c-wrapper(class=componentId)
        .component
            .cmp-container
                
                +component-title-area({
                    headline : {
                        text : "More from Global"
                    }
                })
                //- //- block : text-contents
                //- .c-text-contents
                //-     .title.c-text-contents__headline
                //-         // 2022-11-18 change the default font size
                //-         h1.cmp-title.font-w-semibold-40.font-m-semibold-26(data-cmp-data-layer="") More from Global
            .cmp-container
                .carousel
                    //- +contentsList({num:'3',headline:'font-w-semibold-32 font-m-semibold-24',bodycopy:'font-w-normal-16 font-m-normal-16'})
                    .cmp-carousel.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.c-list
                            +globalList([
                                {
                                    titleName: "Global LG",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                                {
                                    titleName: "ESG",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                            ])
    .c-wrapper(class=componentId)
        .component
            .cmp-container
                +component-title-area({
                    headline : {
                        text : "More from Global"
                    }
                })
                //- //- block : text-contents
                //- .c-text-contents
                //-     .title.c-text-contents__headline
                //-         // 2022-11-18 change the default font size
                //-         h1.cmp-title.font-w-semibold-40.font-m-semibold-26(data-cmp-data-layer="") More from Global
            .cmp-container
                .carousel
                    //- +contentsList({num:'3',headline:'font-w-semibold-32 font-m-semibold-24',bodycopy:'font-w-normal-16 font-m-normal-16'})
                    .cmp-carousel.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.c-list
                            +globalList([
                                {
                                    titleName: "Global LG",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                                {
                                    titleName: "ESG",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                                {
                                    titleName: "Investor Relations",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                            ])
    .c-wrapper(class=componentId)
        .component
            .cmp-container.align-text-center
                +component-title-area({
                    headline : {
                        text : "More from Global"
                    }
                })
                //- block : text-contents
                //- .c-text-contents
                //-     .title.c-text-contents__headline
                //-         // 2022-11-18 change the default font size
                //-         h1.cmp-title.font-w-semibold-40.font-m-semibold-26(data-cmp-data-layer="") More from Global
            .cmp-container
                .carousel
                    //- +contentsList({num:'3',headline:'font-w-semibold-32 font-m-semibold-24',bodycopy:'font-w-normal-16 font-m-normal-16'})
                    .cmp-carousel.c-carousel(data-cmp-data-layer="")
                        .cmp-carousel__content.c-list
                            +globalList([
                                {
                                    titleName: "Global LG",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                                {
                                    titleName: "ESG",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                                {
                                    titleName: "Investor Relations",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                                {
                                    titleName: "Newsroom",
                                    bodyCopy: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                                },
                            ])