extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug

block meta 
    - var componentId = "ST0003"
    - var componentName = "Title"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js" type="module")

block content 
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                            {
                                'name' : 'Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-center, align-right'},
                                    {'toggle' : false, 'add' : 'align-center', 'remove' : 'align-left, align-right'},
                                    {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left, align-center'},
                                ]
                            }
                        ],
                        '.ST0003 .component' : [
                            {
                                'name' : 'Width',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'none', 'remove' : 'width-1600, width-1440'},
                                    {'toggle' : false, 'add' : 'width-1440', 'remove' : 'none, width-1600'},
                                    {'toggle' : false, 'add' : 'width-1600', 'remove' : 'none, width-1440'},
                                ]
                            }
                        ],
                    };

    // Type - Templet Title
    .guide-text-type Type1. Template Title
    .c-wrapper.ST0003.type-template-title.bg-default.margin-top.margin-bottom
        //- block : ST0003 
        .component
            .cmp-container.align-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline
                        h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Lorem ipsum dolor sit amet, consectetuer adipiscing
                    .text.c-text-contents__bodycopy 
                        p.cmp-text.font-w-normal-24.font-m-normal-16(data-cmp-data-layer="") consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters. 

    // Type - Title
    .guide-text-type Type2. Title
    .c-wrapper.ST0003.type-section-title.bg-default.margin-top.margin-bottom
        //- block : ST0003 
        .component
            .cmp-container.align-container
                //- block : text-contents
                .c-text-contents
                    .text.c-text-contents__eyebrow 
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Lorem ipsum
                    // tag heading tag
                    .title.c-text-contents__headline 
                        +headline("font-w-light-36 font-m-light-24")
                    .text.c-text-contents__bodycopy 
                        p.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters. 
                    //- block :cta 
                    .button.c-cta
                        +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                    //- block :cta 
                    .button.c-cta
                        +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})

    // Type - Title
    .guide-text-type Button aria-labelledby connection
    .c-wrapper.ST0003.type-section-title.bg-default.margin-top.margin-bottom
        //- block : ST0003 
        .component
            .cmp-container.align-container
                //- block : text-contents
                .c-text-contents
                    .text.c-text-contents__eyebrow 
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Lorem ipsum
                    // tag heading tag
                    .title.c-text-contents__headline 
                        +headline("font-w-light-36 font-m-light-24", '', "Please attach a label to the button. This is an example.", true, true)
                    .text.c-text-contents__bodycopy 
                        p.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Body text can be up to 200 characters. 
                    //- block :cta 
                    .button.c-cta
                        +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})(aria-labelledby='label_id')
                        +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})(aria-labelledby='label_id')
                    //- block :cta 
                    .button.c-cta
                        +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})(aria-labelledby='label_id')
                        +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})(aria-labelledby='label_id')
