extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_forms.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_toast.pug

block meta 
    - var componentId = "MB0501"
    - var componentName = "Checkout Login"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet" href=componentId+".css")
    link(rel="stylesheet", href="../../components/MB000E/MB0501.css")
    link(rel="stylesheet", href="../../components/CT000E/CT502.css")

block scripts
    script(src="../../components/MB000E/MB000E.js" type="module")

block content
    // Component Markup
    include ./MB0501-inc.pug
    +MB0501()