extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug

block meta 
    - var componentId = "CS0039"
    - var componentName = "Box list"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}  
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                            {
                                'name' : 'contents border',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'border-top', 'remove' : 'border-bottom'},
                                    {'toggle' : false, 'add' : 'border-bottom', 'remove' : 'border-top'},
                                ]
                            },
                        ],
                        '.type-text, .type-disclaimer' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            }
                        ],                        
                        '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };
   
    // Component Markup
    .guide-text-type Type1. All Case
    .c-wrapper.CS0039.type-text.margin-bottom.margin-top
        .component.full
            .CS0039__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Do you have question?')
                        .c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                                    span industry's standard dummy text ever since the 1500s.
                    
                .c-info-list
                    .c-info-box 
                        div
                            .c-info-box__head 
                                .c-info-box__head-text
                                    p.font-m-normal-16.font-w-light-36 Chat with Us
                                    p.font-m-normal-12.font-w-normal-16 You can chat with an LG support representative in real time.
                                +printLazyPicture('../../assets/icon/icon-chat-36-36.svg', '../../assets/icon/icon-chat-64-64.svg')
                            .c-info-box__content                             
                                ul.c-info-box__list 
                                    li.font-m-normal-12.font-w-normal-16 
                                        p Monday - Friday : 9:00am - 5:00pm
                                    li.font-m-normal-12.font-w-normal-16 
                                        p Closed : Saturday, Sundays and bank holidays
                        .c-info-box__button.button.c-cta
                            +defaultButton({name: 'Start Chat', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                            +defaultButton({name: 'Start Shopping Chat', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})

                    .c-info-box 
                        div
                            .c-info-box__head 
                                .c-info-box__head-text
                                    p.font-m-normal-16.font-w-light-36 WhatsApp
                                    div
                                        p.font-m-normal-12.font-w-normal-16 We are on WhatsApp. Text with our expert. If You can’t access try adding the phone number
                                        span.c-number.font-m-normal-12.font-w-normal-16 +44 07970150557
                                +printLazyPicture('../../assets/icon/icon-whats-app-36-36.svg', '../../assets/icon/icon-whats-app-64-64.svg')
                            .c-info-box__content 
                                .c-qrcode 
                                    +printLazyPicture('../../mocks/CS0039/temp-contact-qr.png')
                                ul.c-info-box__list 
                                    li.font-m-normal-12.font-w-normal-16 
                                        p Monday - Friday : 9:00am - 5:00pm
                                    li.font-m-normal-12.font-w-normal-16 
                                        p Closed : Saturday, Sundays and bank holidays
                                p.font-m-normal-12.font-w-normal-16 By continuing this conversation, you agree to our 
                                    a(href="#") privacy policy.
                        .c-info-box__button.button.c-cta
                            +defaultButton({name: 'Go to WhatsApp', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})

                    .c-info-box 
                        div
                            .c-info-box__head 
                                .c-info-box__head-text
                                    p.font-m-normal-16.font-w-light-36 Call Us
                                    p.font-m-normal-12.font-w-normal-16 We’re here to talk.
                                +printLazyPicture('../../assets/icon/icon-contact-us-36-36.svg', '../../assets/icon/icon-contact-us-64-64.svg')
                                
                            .c-info-box__content 
                                ul.c-info-box__list 
                                    li.font-m-normal-12.font-w-normal-16 
                                        p Monday - Friday : 9:00am - 5:00pm &#124; 
                                            span.m-block Saturday : 9:00am - 3:00pm
                                    li.font-m-normal-12.font-w-normal-16 
                                        p Closed : Saturday and bank holidays
                        .c-info-box__button.button.c-cta
                            +defaultButton({name: 'IE: 01 686 9454', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                            +defaultButton({name: 'UK: 0344 847 5454', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})

                    .c-info-box 
                        div
                            .c-info-box__head 
                                .c-info-box__head-text
                                    p.font-m-normal-16.font-w-light-36 Email Us
                                    p.font-m-normal-12.font-w-normal-16 For more straightforward questions, send us an email.                   
                                +printLazyPicture('../../assets/icon/icon-mail-36-36.svg', '../../assets/icon/icon-mail-64-64.svg')
                        .c-info-box__button.button.c-cta
                            +defaultButton({name: 'Learn more', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})

                    .c-info-box 
                        div
                            .c-info-box__head 
                                .c-info-box__head-text
                                    p.font-m-normal-16.font-w-light-36  Call Us for Commercial
                                    p.font-m-normal-12.font-w-normal-16 Exclusively for air conditioning and heating
                                +printLazyPicture('../../assets/icon/icon-contact-us-36-36.svg', '../../assets/icon/icon-contact-us-64-64.svg')
                                
                            .c-info-box__content 
                                ul.c-info-box__list 
                                    li.c-info-line.font-m-normal-12.font-w-normal-16 
                                        p 
                                            span.c-info-line__cate UK 
                                            | 08448 471 402 option 4
                                    li.c-info-line.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate Ireland 
                                            | 0919 274 459
                                    li.c-info-line.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate SMS 
                                            | Text send the 1,2 or 3 digit code to 07624 818 794

                    .c-info-box 
                        div
                            .c-info-box__head 
                                .c-info-box__head-text
                                    p.font-m-normal-16.font-w-light-36 Email Us for Commercial
                                    p.font-m-normal-12.font-w-normal-16 For commercial general (excluding air conditioning and heating)
                                +printLazyPicture('../../assets/icon/icon-mail-36-36.svg', '../../assets/icon/icon-mail-64-64.svg')
                            .c-info-box__content 
                                ul.c-info-box__list
                                    li.c-info-line.c-info-line__email.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate Email 
                                            span.c-info-line__content 
                                                a(href="#") lgsupport@sbe-ltd.co.uk
                            .c-info-box__content.c-line-type 
                                p.c-info-box__content-line-text.font-m-normal-12.font-w-normal-16 Exclusively for air conditioning and heating
                                ul.c-info-box__list 
                                    li.c-info-line.c-info-line__email.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate Email 
                                            span.c-info-line__content 
                                                a(href="#") lgsupport@sbe-ltd.co.uk
                                                <br> (General enquiries)
                                    li.c-info-line.c-info-line__email.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate Email 
                                            span.c-info-line__content 
                                                a(href="#") aircon.sales@lge.com
                                                <br> (Quotes, orders, ETA’s and queries on units and accessories)
                                    li.c-info-line.c-info-line__email.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate Email 
                                            span.c-info-line__content 
                                                a(href="#") aircon.spares@lge.com
                                                <br> (Quotes, orders, ETA’s and queries on spare parts)
                                    li.c-info-line.c-info-line__email.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate Email 
                                            span.c-info-line__content 
                                                a(href="#") aircon.warranty@lge.com
                                                <br> (Queries and claims on spare parts warranties)
                                    li.c-info-line.c-info-line__email.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate Email 
                                            span.c-info-line__content 
                                                a(href="#") aircon.training@lge.com
                                                <br> (Queries and bookings for training courses in Leeds and Weybridge)
                                    li.c-info-line.c-info-line__email.font-m-normal-12.font-w-normal-16 
                                        p
                                            span.c-info-line__cate Email 
                                            span.c-info-line__content 
                                                a(href="#") aircon.commissioning@lge.com
                                                <br> (Site visit requests for commissioning systems)
    
    // Component Markup
    .guide-text-type Warranty
    .c-wrapper.CS0039.type-text.margin-bottom.margin-top
        .component.full
            .CS0039__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'Guidance for extended warranties')
                    
                .c-info-list.c-info-list__warranty
                    .c-info-box 
                        div
                            .c-info-box__head 
                                .c-info-box__head-text
                                    p.font-m-normal-12.font-w-normal-16 Do you wish to purchase an extended warranty for your product?<br>Click extended warranties site to be taken to our warranty provider D&G, where you can proceed to upgrading your warranty.
                        .c-info-box__button.button.c-cta
                            +defaultButton({name: 'Extended warranties', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
                    .c-info-box 
                        div
                            .c-info-box__head 
                                .c-info-box__head-text
                                    p.font-m-normal-12.font-w-normal-16 Do you wish to find out more about our free extended warranty promotion for LG washing machines?<br>Click 5 years warranty promotion for further details, including how to claim, and which products qualify.
                        .c-info-box__button.button.c-cta
                            +defaultButton({name: '5 years warranty', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})
