extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_pop-msg.pug
include ../../components/CT000E/CT502-inc.pug
include ../_common/_toast.pug

block meta 
    - var componentId = "ETC000A"
    - var componentName = "Jeong-do Management Main"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

//- block scripts
//-     script(src=componentId+".js" type="module")
    //- recaptcha
    //- script(src="https://www.google.com/recaptcha/api.js?render=explicit&onload=onRecaptchaLoadCallback" async)
    
    //- script(type='text/javascript').
    //-     onRecaptchaLoadCallback = function(){
    //-         var clientId = grecaptcha.render('security-box', {
    //-             'sitekey': '6Le3NdgaAAAAAK8TXN0_DHQfP-FtiHoGCdiK1QQT',
    //-             'badge': 'inline',
    //-             'size': 'invisible',
    //-         });

    //-         grecaptcha.ready(function() {
    //-             grecaptcha.execute(clientId, {
    //-                 action: 'homepage',
    //-             })
    //-             .then(function(token) {
    //-                 // token
    //-                 document.getElementById('g-recaptcha').value = token;
    //-             });
    //-         });
    //-     }

mixin ETC000A
    .ETC000A
        .jeong-do
            .jeong-do__title
                .cmp-container.c-container
                    .c-text-contents.jeong-do__titleline
                        .title.c-text-contents__headline
                            .cmp-title
                                h2.cmp-title__text.c-text-contents__headline.font-w-light-56.font-m-light-28
                                    | Jeong-do Management
                            .text.c-text-contents__bodycopy.font-w-normal-20.font-m-normal-12
                                p.cmp-text
                                    | ‘Jeong-do management’ is our mode of behavior to implement our management principles of ‘customer-value creation’ and ‘people-oriented management.’

            .cmp-container.c-container.jeong-do__container
                .jeong-do__item--wrap
                    // Left Contents
                    .jeong-do__item
                        .c-text-contents.jeong-do__item--title
                            .title.c-text-contents__headline
                                .text.c-text-contents__subcopy
                                    p.cmp-text.font-w-normal-16.font-m-normal-16 Product / Service / Quality
                                .cmp-title.c-text-contents__title.font-w-normal-36.font-m-normal-24
                                    strong Customer complaints
                                .text.c-text-contents__bodycopy.font-w-normal-16.font-m-normal-12
                                    p.cmp-text We value customer feedback
                        
                        .jeong-do__content
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-complaints-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-complaints-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Customer complaints
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-unsatisfactory-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-unsatisfactory-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Unsatisfactory response
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-delays-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-delays-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Delays / Inattentive service
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-suggestions-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-suggestions-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Suggestions
                        //- btn
                        .c-button.jeong-do__item--btn
                            .button.c-cta
                                +defaultButton({name: 'File a complaint', wSize: 'medium', mSize: 'small', buttonStyle: 'box', isButton: false})(href="#")
                    // Right Contents       
                    .jeong-do__item
                        .c-text-contents.jeong-do__item--title 
                            .title.c-text-contents__headline
                                .text.c-text-contents__subcopy
                                    p.cmp-text.font-w-normal-16.font-m-normal-16 Employees / Partner Companies
                                .cmp-title.c-text-contents__title.font-w-normal-36.font-m-normal-24
                                    strong Reporting unethical or illegal behavior
                                .text.c-text-contents__bodycopy.font-w-normal-20.font-m-normal-12
                                    p.cmp-text Your report lays foundation for Jeong-do Management
                        .jeong-do__content
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-solicitation-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-solicitation-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Solicitation / Graft 
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-embezzlement-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-embezzlement-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Embezzlement / Misappropriation
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-environmental-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-environmental-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Environmental / Safety accidents
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-unfair-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-unfair-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Unfair commercial practices
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-document-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-document-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        p.cmp-text Document manipulation
                            .jeong-do__content--item
                                .c-img-contents
                                    +printLazyPicture(
                                        `/assets/icon/icon-jeong-do-harassment-64-64.svg`,
                                        `/assets/icon/icon-jeong-do-harassment-32-32.svg`
                                    )
                                .c-text-contents
                                    .text.font-w-normal-24.font-m-normal-16
                                        //- p.cmp-text Workplace
                                        //-     br.display-only-web
                                        //-     | Harassment

                                        p.cmp-text Workplace Harassment
                        //- btn
                        .c-button.jeong-do__item--btn
                            .button.c-cta
                                +defaultButton({name: 'Report now', wSize: 'medium', mSize: 'small', buttonStyle: 'box', isButton: false})(href="#")
                                +defaultButton({name: 'Check my report', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})(href="#")

            // privacy-policy 
            .cmp-container.c-container.jeong-do__privacy
                .cmp-title.c-title
                    strong Privacy policy
                .cmp-text.c-text
                    p LG will succeed through fair management practices and constant development of our business skills.
                        +textButton({name: 'Read more', isButton:false, buttonStyle:"default", underline:true})



block content
    // Component Markup
    .c-wrapper
        .component
            .fluid-container
                +ETC000A
