//tab
mixin printTab(div, num, selected)
    if selected
        li.cmp-tabs__tab.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", aria-selected="true")
            if block
                block
    else 
        li.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", aria-selected="false")
            if block
                block

mixin printTabPanel(div, num, selected)
    if selected 
        .cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0")
            if block
                block
    else 
        .cmp-tabs__tabpanel(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="-1")
            if block
                block
mixin appList(idx) 
    li.app-list__item
        a(href="#popAppDetail" class='js-pop-open' data-toggle="modal" title="Opens in a new layer popup" role="button")
            .app-list__img
                +printLazyImage(
                    `https://via.placeholder.com/122x122/333333/ffffff`
                )(aria-hidden="true")
            .app-list__info
                .cmp-title.font-w-light-16.font-m-light-16 Apps Title

mixin PD0058(option=false)
    .c-wrapper.PD0058.margin-top.margin-bottom
        .component
            .cmp-container
                //- title area
                +component-title-area({
                    alignment : "align-text-center",
                    headline : {
                        text : "Enjoy With LG Apps",
                        style : "font-w-semibold-56 font-m-semibold-28"
                    },
                    description : {
                        text : "This festive season might be a little different to normal. Here’s how to have yourself a merry little Christmas and stay connected with the ones you love.",
		                style : "font-w-normal-16 font-m-normal-16"
                    }
                })

                .cmp-tabs(data-cmp-data-layer="", data-placeholder-text="false")
                    .cmp-tabs__inner
                        ul.cmp-tabs__tablist(role="tablist", aria-multiselectable="false")
                            +printTab(1, 1, true) Popular
                            +printTab(1, 2, false) Game
                            +printTab(1, 3, false) Entertainment
                            +printTab(1, 4, false) Life style
                            +printTab(1, 5, false) News/Info
                            +printTab(1, 6, false) Category 7
                            +printTab(1, 7, false) Category 8
                            +printTab(1, 8, false) All

                    .PD0058__tab__render  
                        +printTabPanel(1, 1, true, true)
                            .c-result-area__controls
                                .c-result-area__result.productcollection__results-count
                                    span.sr-only Filter:
                                    strong.c-result-area__count 1,999 
                                    span &nbsp;Results
                                .c-result-area__sort
                                    +formSelect("Sort by", "sort", "", false)
                                        option(value="") Name A-Z
                                        option(value="") Popular
                                        option(value="") Rating
                            .app-list__area 
                                ul.app-list__box
                                    - for (var i = 0; i < 48; i++)
                                        +appList(i)
                            +pagination

                        +printTabPanel(1, 2, false, false)
                            .c-result-area__controls
                                .c-result-area__result.productcollection__results-count
                                    span.sr-only Filter:
                                    strong.c-result-area__count 4 
                                    span &nbsp;Results

                            .app-list__area 
                                ul.app-list__box
                                    - for (var i = 0; i < 20; i++)
                                        +appList(i)
                        
                        +printTabPanel(1, 3, false, false)
                            .c-result-area__controls
                                .c-result-area__result.productcollection__results-count
                                    span.sr-only Filter:
                                    strong.c-result-area__count 99 
                                    span &nbsp;Results
                                .c-result-area__sort
                                    +formSelect("Sort by", "sort", "", false)
                                        option(value="") Name A-Z
                                        option(value="") Popular
                                        option(value="") Rating

                            .app-list__area 
                                ul.app-list__box
                                    - for (var i = 0; i < 48; i++)
                                        +appList(i)
                        
                        +printTabPanel(1, 4, false, false)
                            .c-no-data-wrap
                                .c-no-data
                                    strong.font-w-normal-24.font-m-normal-16 There is no available product.
                        +printTabPanel(1, 5, false, false)
                            .c-no-data-wrap
                                .c-no-data
                                    strong.font-w-normal-24.font-m-normal-16 There is no available product.
                        +printTabPanel(1, 6, false, false)
                            .c-no-data-wrap
                                .c-no-data
                                    strong.font-w-normal-24.font-m-normal-16 There is no available product.
                        +printTabPanel(1, 7, false, false)
                            .c-no-data-wrap
                                .c-no-data
                                    strong.font-w-normal-24.font-m-normal-16 There is no available product.
                        +printTabPanel(1, 8, false, false)
                            .c-no-data-wrap
                                .c-no-data
                                    strong.font-w-normal-24.font-m-normal-16 There is no available product.
