extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
//- include ../_common/_carousel.pug
//- include ../_common/_video.pug
//- include ../_common/_hero-banner.pug
//- include ../_common/_spec-info.pug

block meta 
    - var componentId = "CS0003"
    - var componentName = "Track My Order Form"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    //- .guide 
    //-     .grid-1600 
    //-     .grid-1440
    //-     .inner
    //-         .guide-list
    //-             a(href="../../list-st.html") List 
    //-         .guide-title #{componentId}. #{componentName}
    //-         .guide-wrapper
    //-             script. 
    //-                 const guideList = {
    //-                     '.c-wrapper' : [
    //-                         {
    //-                             'name' : 'Top margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-top'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'Bottom margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-bottom'},
    //-                             ]
    //-                         },
    //-                     ],
    //-                     '.type-text, .type-disclaimer' : [
    //-                         {
    //-                             'name' : 'Text Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
    //-                             ]
    //-                         }
    //-                     ],                        
    //-                 };

    
    .guide-text-type Track My Order Form

    // Component Markup
    .c-wrapper.CS0003.type-text
        .component.type-form
            .CS0003__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            //20230628 uppercase change
                            +headline('font-w-light-56 font-m-light-28',h2,'Order support')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Only product ordered in LG.com can be tracked.

                .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .cs-form
                    .cmp-form
                        //20230628 uppercase change
                        label(for="orderNumber").font-m-normal-16.font-w-normal-16 Order number #[em.require *]#[span.sr-only Required Field]
                        input#orderNumber.font-m-normal-16.font-w-normal-16(type="text" required="required" placeholder="Type an order number" aria-label="" aria-describedby="aria-orderNumber-error-connection" )
                        // Error msg
                        .c-warning.required-msg#aria-orderNumber-required.orderNum-tag Order number is required.
                    //- .cmp-form
                    //-     label(for="lastName").font-m-normal-14.font-w-normal-16 Billing Last name #[em.require *]#[span.sr-only Required Field]
                    //-     input#lastName.font-m-normal-16.font-w-normal-14(type="text" required="required" aria-label="" aria-describedby="lastName" placeholder="Type a billing last name")
                    //-     // Error msg
                    //-     .c-warning.required-msg.font-m-normal-14.font-w-normal-14.lastName-tag Billing last name is required.

                    //- .cmp-form
                    //-     label(for="orderBy").c-select-label.font-w-normal-16.font-m-normal-14 Find Order by #[em.require *]#[span.sr-only Required Field]
                    //-     select#orderBy.font-m-normal-16.font-w-normal-14(required="required" aria-label="" aria-describedby="orderBy")
                    //-         option(value="Find Order by" data-change-label="Email") Email
                    //-         option(value="Find Order by" data-change-label="Zip Code") Zip Code
                    .cmp-form
                        label(for="email").font-m-normal-16.font-w-normal-16 Email #[em.require *]#[span.sr-only Required Field]
                        // In case of validation error, add class .c-error
                        input#email.font-m-normal-16.font-w-normal-16(type="email" required="required" aria-label="" placeholder="Type an email" aria-describedby="aria-email-error-connection")
                        .c-warning.required-msg.font-m-normal-14.font-w-normal-14 Email is required.
                    

                    .button.c-cta
                        //20230308 Add button
                        //20230628 uppercase change 
                        +defaultButton({name: 'Track order', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(class="trackMyOrderValidCheck")
                        // Change buttonStyle after typing in form element
                        //- +defaultButton({name: 'Learn more', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
    .guide-text-type IN
    .c-wrapper.CS0003.type-text
        .component.type-form
            .CS0003__container
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            //20230628 uppercase change
                            +headline('font-w-light-56 font-m-light-28',h2,'Order support')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span Only product ordered in LG.com can be tracked.

                .c-require.font-m-normal-14.font-w-normal-14 #[em.require *] Required fields 
                .cs-form.cs-form-type2
                    .cs-form__wrap 
                        .cmp-form
                            //20230628 uppercase change
                            label(for="orderNumber").font-m-normal-16.font-w-normal-16 Order number #[em.require *]#[span.sr-only Required Field]
                            input#orderNumber.font-m-normal-16.font-w-normal-16(type="text" required="required" placeholder="Type an order number" aria-label="" aria-describedby="aria-orderNumber-error-connection" )
                            // Error msg
                            .c-warning.required-msg#aria-orderNumber-required.orderNum-tag Order number is required.
                        .cmp-form
                            label(for="lastName").font-m-normal-14.font-w-normal-16 Billing Last name #[em.require *]#[span.sr-only Required Field]
                            input#lastName.font-m-normal-16.font-w-normal-14(type="text" required="required" aria-label="" aria-describedby="lastName" placeholder="Type a billing last name")
                            .c-warning.required-msg.font-m-normal-14.font-w-normal-14.lastName-tag Billing last name is required.
                    .cs-form__wrap 
                        .cmp-form
                            label(for="orderBy").c-select-label.font-w-normal-16.font-m-normal-14 Find Order by #[em.require *]#[span.sr-only Required Field]
                            select#orderBy.font-m-normal-16.font-w-normal-14(required="required" aria-label="" aria-describedby="orderBy")
                                option(value="Find Order by" data-change-label="Email") Email
                                option(value="Find Order by" data-change-label="Zip Code") Zip Code
                        .cmp-form
                            label(for="email2").c-select-label2.font-m-normal-16.font-w-normal-16 Email #[em.require *]#[span.sr-only Required Field]
                            // In case of validation error, add class .c-error
                            input#email2.font-m-normal-16.font-w-normal-16.orderByPostEmail(type="email" required="required" aria-label="" placeholder="Type an email" aria-describedby="aria-email-error-connection")
                            .c-warning.required-msg#aria-email-error-connection1.email-tag Email is required.
                            //- .c-warning.required-msg#aria-email-error-connection2.postCode-tag PostCode is required.
                    .button.c-cta
                        //20230308 Add button
                        //20230628 uppercase change 
                        +defaultButton({name: 'Track order', wSize: 'medium', mSize: 'small', buttonStyle: 'default'})(class="trackMyOrderValidCheck")
                        // Change buttonStyle after typing in form element
                        //- +defaultButton({name: 'Learn more', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: "none"})
                    