extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_video.pug
include ../_common/_hero-banner.pug
include ../_common/_spec-info.pug
//- include ../_common/_title-area.pug


block meta 
    - var componentId = "CS0009"
    - var componentName = "Column Banner"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    include ../CS0000/CS-inc.pug

    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-warmgray', 'remove' : 'bg-white, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-warmgray, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
                                    //- {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-warmgray'},
                                ]
                            },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-narrow', 'remove' : 'width-wide, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                            {
                                'name' : 'contents border',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'border-top', 'remove' : 'border-bottom'},
                                    {'toggle' : false, 'add' : 'border-bottom', 'remove' : 'border-top'},
                                ]
                            },
                        ],
                        '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };

    // Component Markup
    -
        const slideContentsList = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product 222 Register your product ',
                    'pcImg':'CS0009/temp-support-slide1-w',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
                {
                    'title':'Warranty',
                    'pcImg':'CS0009/temp-support-slide3-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide1-m.png',
                },
                {
                    'title':'Buy parts & accessories',
                    'pcImg':'CS0009/temp-support-slide2-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide1-m.png',
                },
                {
                    'title':'Ask our commnuity',
                    'pcImg':'CS0009/temp-support-slide4-w',
                    'moImg':'../../mocks/CS0009/temp-support-slide1-m.png',
                },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'ThinQ',
                    'subtit' : 'Connect and Control from anywhere.',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
                {
                    'title':'Right to repair',
                    'subtit' : 'Providing high quality repair services.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-2-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-2-m.png',
                },
                {
                    'title':'Repair request',
                    'subtit' : 'Request repair service conveniently online.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-3-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-3-m.png',
                },
                // {
                //     'title':'Repair Request',
                //     'subtit' : 'Request repair service conveniently online.',
                //     'pcImg':'../../mocks/CS0009/temp-support-slidetype2-3-w.png',
                //     'moImg':'../../mocks/CS0009/temp-support-slidetype2-3-m.png',
                // }
            ]
        }]

    // slideContentsList2, 3, 4 is dummy for option
    -
        const slideContentsList2 = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product 333 Register your product ',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'ThinQ',
                    'subtit' : 'Connect and Control from anywhere.',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
                {
                    'title':'Right to repair',
                    'subtit' : 'Providing high quality repair services.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-2-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-2-m.png',
                },
                {
                    'title':'Repair request',
                    'subtit' : 'Request repair service conveniently online.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-3-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-3-m.png',
                },
            ]
        }]
    -
        const slideContentsList3 = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product 444 Register your product ',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
                {
                    'title':'Warranty',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'ThinQ',
                    'subtit' : 'Connect and Control from anywhere.',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
                {
                    'title':'Right to repair',
                    'subtit' : 'Providing high quality repair services.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-2-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-2-m.png',
                },
                {
                    'title':'Repair request',
                    'subtit' : 'Request repair service conveniently online.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-3-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-3-m.png',
                },
            ]
        }]
    -
        const slideContentsList4 = [{ 
            "type":1, 
            "item": [  
                {
                    'title':'Register your product 555 Register your product ',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
                {
                    'title':'Warranty',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
                {
                    'title':'Buy parts & accessories',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
            ]
        },
        { 
            "type":2, 
            "item": [  
                {
                    'title':'ThinQ',
                    'subtit' : 'Connect and Control from anywhere.',
                    'pcImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                    'moImg':'../../mocks/CS0009/temp-landing-topbanner.jpg',
                },
                {
                    'title':'Right to repair',
                    'subtit' : 'Providing high quality repair services.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-2-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-2-m.png',
                },
                {
                    'title':'Repair request',
                    'subtit' : 'Request repair service conveniently online.',
                    'pcImg':'../../mocks/CS0009/temp-support-slidetype2-3-w.png',
                    'moImg':'../../mocks/CS0009/temp-support-slidetype2-3-m.png',
                },
            ]
        }]


    // When there are multiple gallery components
    mixin galleryItem2(slideContents)
        case slideContents.type
            when 1
                each items in slideContents.item
                    .cmp-carousel__item.swiper-slide.c-carousel__item
                        .c-gallery-picture
                            .c-gallery-inner
                                +printLazyPicture(`${items.moImg}`, `${items.pcImg}`)
                        .c-gallery-text
                            .text.c-text-contents
                                .cmp-text.c-text-contents__bodycopy(data-cmp-data-layer="") 
                                    h2.c-columnbanner__title.font-m-light-24.font-w-light-36 #{items.title}
                                    //- h2.c-columnbanner__title.font-m-light-24.font-w-light-36 Register Your 
                                        | Product
                                    .button.c-cta
                                        +buttonArrow({link:"true", color:'black', border:'yes', wsize:'large', msize:'small'}) 

            when 2  
                each items in slideContents.item
                    .cmp-carousel__item.swiper-slide
                        .c-gallery-wrapper 
                            .c-gallery-contents
                                .c-gallery-contents__container
                                    .c-gallery-contents__box
                                        .c-gallery-picture
                                            .c-gallery-inner
                                                +printLazyPicture(`${items.moImg}`, `${items.pcImg}`) 
                                        .text.c-text-contents
                                            // Add align option class on full page (.align-text-left)
                                            .cmp-text.c-text-contents__bodycopy(data-cmp-data-layer="") 
                                                h2.c-columnbanner__title.font-m-normal-24.font-w-normal-24 #{items.title}
                                            .cmp-txt.c-text-contents__subcopy 
                                                p.font-m-normal-16.font-w-normal-16 #{items.subtit}
                                    .c-gallery-contents__box
                                        .button.c-cta
                                            +linkButton({type:"box", color:"white", icon: false, name: "Learn more"})


            default
                .image.c-image
                    .cmp-image(data-cmp-data-layer='')
                        img.c-image__img(src='https://via.placeholder.com/960x630/000/eee/?text=960x631' alt='' loading="lazy")

                    .text.c-text-contents
                        .cmp-text.c-text-contents__bodycopy(data-cmp-data-layer="") 
                            h2.c-columnbanner__title.font-m-normal-24.font-w-normal-24 Slide title2222
                            p.font-m-normal-16.font-w-normal-16 22222Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            .button.c-cta
                                +linkButton({type:"box", color:"white", icon: false, name: "Learn more"})

        if block
            block

    mixin carouselPaginationUI 

        // 2023.03.07 markup change - added ".c-carousel__handler--dial", ".c-carousel__handler--away-from-carousel"
        .c-carousel__handler.c-carousel__handler--dial.c-carousel__handler--away-from-carousel
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"prev"})
            +carouselPagination
            .cmp-carousel__actions
                +carouselBtn({type:"pagination", direction:"next"})




    .guide-text-type Support Landing(2Column Banner)

    // Component Markup

    .guide-text-option When there is 1 list
    .c-wrapper.CS0009.type-text.margin-top.margin-bottom
        .component.type-banner__slide2.full.type-home
            .CS0009__container
                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem2(slideContentsList2[0])
                            +carouselPaginationUI


    .guide-text-option When there is 2 list
    .c-wrapper.CS0009.type-text.margin-top.margin-bottom
        .component.type-banner__slide2.full.type-home
            .CS0009__container
                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem2(slideContentsList3[0])
                            +carouselPaginationUI

    .guide-text-option When there is 3 list
    .c-wrapper.CS0009.type-text.margin-top.margin-bottom
        .component.type-banner__slide2.full.type-home
            .CS0009__container
                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem2(slideContentsList4[0])
                            +carouselPaginationUI

    .guide-text-option with Title
    .c-wrapper.CS0009.type-text.margin-top.margin-bottom
        .component.type-banner__slide2.full.type-home
            .CS0009__container
                // 20230308 when used with titles
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .title.c-text-contents__headline
                            +headline('font-w-light-56 font-m-light-28',h2,'LG support hub')
                        .text.c-text-contents__bodycopy
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                span  If you already have a LG account, please log in and find more information. &lt; If you already have an LG account, please log in to find out more information.
                    // button class added .c-viewMore-btn
                    .button.c-cta.c-viewMore-btn
                        //- +linkButton({type:"box", color:'white',size:'large', icon:true, name:'Sign In'})
                        +defaultButton({name: 'Sign in', wSize: 'large', mSize: 'medium', buttonStyle: 'default'})(href="https://www.lg.com/uk")

                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem2(slideContentsList4[0])
                            +carouselPaginationUI


    //- .guide-text-option When there are more than 3 lists
    //- .c-wrapper.CS0009.type-text.margin-top.margin-bottom
    //-     .component.type-banner__slide2.full.type-home
    //-         .CS0009__container
    //-             .c-gallery.c-gallery-container
    //-                 .carousel.panelcontainer
    //-                     .cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
    //-                         .cmp-carousel__content.swiper-wrapper
    //-                             +galleryItem2(slideContentsList[0])
    //-                         +carouselPaginationUI

