extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug

block meta 
    - var componentId = "CS0014"
    - var componentName = "Contents Image"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Top margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                ]
                            },
                            {
                                'name' : 'Bottom margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                            {
                                'name' : 'Width',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'width-wide', 'remove' : 'width-narrow, width-content'},
                                    {'toggle' : false, 'add' : 'width-content', 'remove' : 'width-wide, width-narrow'},
                                ]
                            },
                            {
                                'name' : 'contents border',
                                'buttons' : [ 
                                    {'toggle' : false, 'add' : 'border-top', 'remove' : 'border-bottom'},
                                    {'toggle' : false, 'add' : 'border-bottom', 'remove' : 'border-top'},
                                ]
                            },
                        ],
                        '.type-text, .type-disclaimer' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-top', 'remove' : 'align-text-middle, align-text-bottom'},
                                    {'toggle' : false, 'add' : 'align-text-middle', 'remove' : 'align-text-top, align-text-bottom'},
                                    {'toggle' : false, 'add' : 'align-text-bottom', 'remove' : 'align-text-top, align-text-middle'},
                                ]
                            }
                        ], 
                                               
                        //- '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
                        //-     {
                        //-         'name' : 'Font Options',
                        //-         'buttons' : [
                        //-             {'toggle' : true, 'add' : 'font-italic'},
                        //-             {'toggle' : true, 'add' : 'font-underline'},
                        //-         ]
                        //-     }
                        //- ],
                    };

    .guide-text-type Contents Image
    // Component Markup
    .guide-text-type default
    .c-wrapper.CS0014.type-text
        .component.full.c-wide-full
            .CS0014__container
                .c-cs-header
                    // block : text contents
                    .c-text-contents
                        .text.c-text-contents__headline 
                            +headline("font-m-light-28 font-w-light-56", "h2", "Download app for smart diagnosis")
                        .text.c-text-contents__bodycopy 
                            .cmp-text.font-w-normal-20.font-m-normal-12(data-cmp-data-layer="")
                                p This application provides smart diagnosis for LG Smart products.<br>As well as providing a diagnosis service, it also offers tips & recommendations to maintain your product.
                .c-image-content
                    // option. left type add class .c-image-content__left-type
                    .c-image-content__item.c-image-content__left-type
                        // block : image
                        .c-image-content__image
                            +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
                        .c-image-content__text 
                            div
                                .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 Self service solution
                                .c-image-content__headline.font-m-normal-20.font-w-normal-32 Save money and time
                                .c-image-content__bodycopy 
                                    ul.c-list-type 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose

                                // block : text-contents
                                .c-text-contents
                                    .text.c-text-contents__disclaimer 
                                        .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
                                            p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.   
                                .c-list-button
                                    +defaultButton({name: 'Terms and conditions', wSize: 'medium', mSize: 'small', buttonStyle: 'normal'})
                                    +defaultButton({name: 'Apple App Store', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})
                .c-image-content    
                    // option. right type add class .c-image-content__right-type
                    .c-image-content__item.c-image-content__right-type
                        // block : image
                        .c-image-content__image 
                            +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
                        .c-image-content__text 
                            div
                                .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 Call center support
                                .c-image-content__headline.font-m-normal-20.font-w-normal-32 Easy and convenient
                                .c-image-content__bodycopy 
                                    ul.c-list-type 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose

                                // block : text-contents
                                .c-text-contents
                                    .text.c-text-contents__disclaimer 
                                        .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
                                            p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  
                                    .c-list-button
                                        +defaultButton({name: 'Terms and conditions', wSize: 'medium', mSize: 'small', buttonStyle: 'normal'})
                                        +defaultButton({name: 'Apple App Store', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})
    //- .guide-text-type Thumbnail Align-center(only mobile option)
    //- .c-wrapper.CS0014.type-text
    //-     // 20230323 modify option :: option thumbnail align-center add class .c-thumbnail-center
    //-     .component.full.c-wide-full.c-thumbnail-center
    //-         .CS0014__container                                
    //-             .c-image-content
    //-                 .c-image-content__item.c-image-content__left-type
    //-                     // block : image
    //-                     .c-image-content__image 
    //-                         +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 Self Service Solution
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Save Money and Time
    //-                             .c-image-content__bodycopy 
    //-                                 ul.c-list-type 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose

    //-                             // block : text-contents
    //-                             .c-text-contents
    //-                                 .text.c-text-contents__disclaimer 
    //-                                     .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
    //-                                         p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.   
    
    //- .guide-text-type Text Align-center(only pc option)
    //- // option. left-center add cass .align-text-center
    //- .c-wrapper.CS0014.type-text.align-text-center
    //-     .component.full.c-wide-full
    //-         .CS0014__container                                
    //-             .c-image-content
    //-                 .c-image-content__item.c-image-content__left-type
    //-                     // block : image
    //-                     .c-image-content__image 
    //-                         +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 Self Service Solution
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Save Money and Time
    //-                             .c-image-content__bodycopy 
    //-                                 ul.c-list-type 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose
    //-                             // block : text-contents
    //-                             .c-text-contents
    //-                                 .text.c-text-contents__disclaimer 
    //-                                     .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
    //-                                         p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.   

    //- .guide-text-type Text Align-bottom(only pc option)
    //- // option. left-right add cass .align-text-right
    //- .c-wrapper.CS0014.type-text.align-text-right
    //-     .component.full.c-wide-full
    //-         .CS0014__container                                
    //-             .c-image-content
    //-                 .c-image-content__item.c-image-content__left-type
    //-                     // block : image
    //-                     .c-image-content__image 
    //-                         +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 Self Service Solution
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Save Money and Time
    //-                             .c-image-content__bodycopy 
    //-                                 ul.c-list-type 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose

    //-                             // block : text-contents
    //-                             .c-text-contents
    //-                                 .text.c-text-contents__disclaimer 
    //-                                     .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
    //-                                         p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.   

    //- .guide-text-type Type1. option. right-left
    //- // option. right-right add cass .align-text-left
    //- .c-wrapper.CS0014.type-text.align-text-left
    //-     .component.full.c-wide-full
    //-         .CS0014__container
    //-             .c-image-content    
    //-                 // option. right type add class .c-image-content__right-type
    //-                 .c-image-content__item.c-image-content__right-type
    //-                     // block : image
    //-                     .c-image-content__image 
    //-                         +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 CALL CENTER SUPPORT
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Easy and Convenient
    //-                             .c-image-content__bodycopy 
    //-                                 ul.c-list-type 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose

    //-                             // block : text-contents
    //-                             .c-text-contents
    //-                                 .text.c-text-contents__disclaimer 
    //-                                     .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
    //-                                         p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  

    //- .guide-text-type Type1. option. right-center
    //- // option. right-right add cass .align-text-center
    //- .c-wrapper.CS0014.type-text.align-text-center
    //-     .component.full.c-wide-full
    //-         .CS0014__container
    //-             .c-image-content    
    //-                 // option. right type add class .c-image-content__right-type
    //-                 .c-image-content__item.c-image-content__right-type
    //-                     // block : image
    //-                     .c-image-content__image 
    //-                         +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 CALL CENTER SUPPORT
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Easy and Convenient
    //-                             .c-image-content__bodycopy 
    //-                                 ul.c-list-type 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose

    //-                             // block : text-contents
    //-                             .c-text-contents
    //-                                 .text.c-text-contents__disclaimer 
    //-                                     .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
    //-                                         p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  

    //- .guide-text-type Type1. option. right-right
    //- // option. right-right add cass .align-text-right
    //- .c-wrapper.CS0014.type-text.align-text-right
    //-     .component.full.c-wide-full.c-mobile-block
    //-         .CS0014__container
    //-             .c-image-content    
    //-                 // option. right type add class .c-image-content__right-type
    //-                 .c-image-content__item.c-image-content__right-type
    //-                     // block : image
    //-                     .c-image-content__image 
    //-                         +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 CALL CENTER SUPPORT
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Easy and Convenient
    //-                             .c-image-content__bodycopy 
    //-                                 ul.c-list-type 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
    //-                                     li 
    //-                                         p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose

    //-                             // block : text-contents
    //-                             .c-text-contents
    //-                                 .text.c-text-contents__disclaimer 
    //-                                     .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
    //-                                         p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  

    //- .guide-text-type Type1. option. font italic
    //- .c-wrapper.CS0014.type-text.align-text-left
    //-     .component.full.c-wide-full
    //-         .CS0014__container                                
    //-             .c-image-content
    //-                 .c-image-content__item.c-image-content__left-type
    //-                     // block : image
    //-                     .c-image-content__image 
    //-                         +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 Self Service Solution
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Save Money and Time
    //-                             // option. font italic add cass .font-italic
    //-                             p.c-image-content__bodycopy.font-italic Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    //-                             // block : text-contents
    //-                             .c-text-contents
    //-                                 .text.c-text-contents__disclaimer 
    //-                                     .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
    //-                                         p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.   
    
    //- .guide-text-type Type1. option. font underline
    //- .c-wrapper.CS0014.type-text.align-text-left
    //-     .component.full.c-wide-full
    //-         .CS0014__container                                
    //-             .c-image-content
    //-                 .c-image-content__item.c-image-content__left-type
    //-                     // block : image
    //-                     .c-image-content__image 
    //-                         +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 Self Service Solution
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Save Money and Time
    //-                             // option. font underline add cass .font-underline
    //-                             p.c-image-content__bodycopy.font-underline Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    //-                             // block : text-contents
    //-                             .c-text-contents
    //-                                 .text.c-text-contents__disclaimer 
    //-                                     .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
    //-                                         p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
  
    .guide-text-type type2. contents video default
    .c-wrapper.CS0014.type-text
        .component.c-recommended-title.full.c-wide-full
            .CS0014__container                    
                .c-cs-header
                    // block : text-contents
                    .c-text-contents
                        .text.c-text-contents__headline 
                            +headline("font-m-light-28 font-w-light-56", "h2", "Recommended features from your home assistant")
                // Type2 add class .c-image-content__type2
                .c-image-content.c-image-content__type2
                    // Type2 add class .c-image-content__video-large
                    .c-image-content__item.c-image-content__video-large
                        // block : image
                        .c-image-content__image.c-video-box
                            // pause button .c-image-content__button--pause
                            //- span.c-image-content__button 
                            video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-01.jpg" class="c-video-box__content")
                                source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
                                //- source(src='movie.ogg' type='video/ogg')
                                |   Your browser does not support the video tag.
                            button(type="button" class="c-video-box__button")
                        .c-image-content__text 
                            .c-image-content__headline.font-m-normal-20.font-w-normal-32 Connect and control from anywhere image
                            .c-image-content__bodycopy 
                                p.font-m-normal-12.font-w-normal-20 Body text can be up to 350 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                    // Type2 add class .c-image-content__video-small-left
                    .c-image-content__item.c-image-content__video-small-left
                        // block : image
                        .c-image-content__image.c-video-box
                            // pause button .c-image-content__button--pause
                            //- span.c-image-content__button 
                            video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
                                source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
                                //- source(src='movie.ogg' type='video/ogg')
                                |   Your browser does not support the video tag.
                            button(type="button" class="c-video-box__button")
                        .c-image-content__text 
                            div
                                .c-image-content__headline.font-m-normal-20.font-w-normal-32 Simple control with voice assistant
                                .c-image-content__bodycopy 
                                    p.font-m-normal-12.font-w-normal-20 Tell your appliance exactly what you need by just saying it out, and the AI speaker will listen and check the cycle to let you know.  
                            .c-list-button
                                +defaultButton({name: 'Terms and conditions', wSize: 'medium', mSize: 'small', buttonStyle: 'normal'})
                                +defaultButton({name: 'Apple App Store', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})
                    // Type2 add class .c-image-content__video-small-right
                    .c-image-content
                        .c-image-content__item.c-image-content__video-small-right
                            // block : image
                            .c-image-content__image.c-video-box
                                // pause button .c-image-content__button--pause
                                //- span.c-image-content__button 
                                video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
                                    source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
                                    //- source(src='movie.ogg' type='video/ogg')
                                    |   Your browser does not support the video tag.
                                button(type="button" class="c-video-box__button")

                            .c-image-content__text  
                                div
                                    .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient product maintenance
                                    .c-image-content__bodycopy 
                                        p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.
                                .c-list-button
                                            +defaultButton({name: 'Terms and conditions', wSize: 'medium', mSize: 'small', buttonStyle: 'normal'})
                                            +defaultButton({name: 'Apple App Store', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})

    //- .guide-text-type Thumbnail Align-center(mobile option)
    //- .c-wrapper.CS0014.type-text
    //-     // 20230323 modify option :: option thumbnail align-center add class .c-thumbnail-center
    //-     .component.full.c-wide-full.c-thumbnail-center
    //-         .CS0014__container                    
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-large
    //-                 .c-image-content__item.c-image-content__video-large
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-01.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         .c-image-content__headline.font-m-normal-20.font-w-normal-32 Connect and Control from anywhere image
    //-                         .c-image-content__bodycopy 
    //-                             p.font-m-normal-12.font-w-normal-20 Body text can be up to 350 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                
    //-                 // Type2 add class .c-image-content__video-small-left
    //-                 .c-image-content__item.c-image-content__video-small-left
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Simple Control with Voice Assistant
    //-                             .c-image-content__bodycopy 
    //-                                 p.font-m-normal-12.font-w-normal-20 Tell your appliance exactly what you need by just saying it out, and the AI speaker will listen and check the cycle to let you know.  
                    
    //-                 // Type2 add class .c-image-content__video-small-right
    //-                 .c-image-content
    //-                     .c-image-content__item.c-image-content__video-small-right
    //-                         // block : image
    //-                         .c-image-content__image.c-video-box
    //-                             // pause button .c-image-content__button--pause
    //-                             //- span.c-image-content__button 
    //-                             video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                                 source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                                 //- source(src='movie.ogg' type='video/ogg')
    //-                                 |   Your browser does not support the video tag.
    //-                             button(type="button" class="c-video-box__button")

    //-                         .c-image-content__text  
    //-                             div
    //-                                 .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient Product Maintenance
    //-                                 .c-image-content__bodycopy 
    //-                                     p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.
        
    //- .guide-text-type Text Align-center(pc option)
    //- .c-wrapper.CS0014.type-text.align-text-center
    //-     .component.c-recommended-title.full.c-wide-full
    //-         .CS0014__container                    
    //-             .c-cs-header
    //-                 // block : text-contents
    //-                 .c-text-contents
    //-                     .text.c-text-contents__headline 
    //-                         +headline("font-m-light-28 font-w-light-56", "h2", "Recommended features from your home assistant")
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-large
    //-                 .c-image-content__item.c-image-content__video-large
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-01.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         .c-image-content__headline.font-m-normal-20.font-w-normal-32 Connect and Control from anywhere image
    //-                         .c-image-content__bodycopy 
    //-                             p.font-m-normal-12.font-w-normal-20 Body text can be up to 350 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                    
    //-                 // Type2 add class .c-image-content__video-small-left
    //-                 .c-image-content__item.c-image-content__video-small-left
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Simple Control with Voice Assistant
    //-                             .c-image-content__bodycopy 
    //-                                 p.font-m-normal-12.font-w-normal-20 Tell your appliance exactly what you need by just saying it out, and the AI speaker will listen and check the cycle to let you know.  
                    
    //-                 // Type2 add class .c-image-content__video-small-right
    //-                 .c-image-content
    //-                     .c-image-content__item.c-image-content__video-small-right
    //-                         // block : image
    //-                         .c-image-content__image.c-video-box
    //-                             // pause button .c-image-content__button--pause
    //-                             //- span.c-image-content__button 
    //-                             video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                                 source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                                 //- source(src='movie.ogg' type='video/ogg')
    //-                                 |   Your browser does not support the video tag.
    //-                             button(type="button" class="c-video-box__button")

    //-                         .c-image-content__text  
    //-                             div
    //-                                 .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient Product Maintenance
    //-                                 .c-image-content__bodycopy 
    //-                                     p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.

    //- .guide-text-type Text Align-bottom(pc option)
    //- .c-wrapper.CS0014.type-text.align-text-right
    //-     .component.c-recommended-title.full.c-wide-full
    //-         .CS0014__container                    
    //-             .c-cs-header
    //-                 // block : text-contents
    //-                 .c-text-contents
    //-                     .text.c-text-contents__headline 
    //-                         +headline("font-m-light-28 font-w-light-56", "h2", "Recommended features from your home assistant")
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-large
    //-                 .c-image-content__item.c-image-content__video-large
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls=false poster="../../mocks/CS0014/temp-recommended-w-01.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         .c-image-content__headline.font-m-normal-20.font-w-normal-32 Connect and Control from anywhere image
    //-                         .c-image-content__bodycopy 
    //-                             p.font-m-normal-12.font-w-normal-20 Body text can be up to 350 characters. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                    
    //-                 // Type2 add class .c-image-content__video-small-left
    //-                 .c-image-content__item.c-image-content__video-small-left
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Simple Control with Voice Assistant
    //-                             .c-image-content__bodycopy 
    //-                                 p.font-m-normal-12.font-w-normal-20 Tell your appliance exactly what you need by just saying it out, and the AI speaker will listen and check the cycle to let you know.  
                    
    //-                 // Type2 add class .c-image-content__video-small-right
    //-                 .c-image-content
    //-                     .c-image-content__item.c-image-content__video-small-right
    //-                         // block : image
    //-                         .c-image-content__image.c-video-box
    //-                             // pause button .c-image-content__button--pause
    //-                             //- span.c-image-content__button 
    //-                             video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                                 source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                                 //- source(src='movie.ogg' type='video/ogg')
    //-                                 |   Your browser does not support the video tag.
    //-                             button(type="button" class="c-video-box__button")

    //-                         .c-image-content__text  
    //-                             div
    //-                                 .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient Product Maintenance
    //-                                 .c-image-content__bodycopy 
    //-                                     p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.
          



    //- .guide-text-type Type2. option. center
    //- // option. center add cass .align-text-center
    //- .c-wrapper.CS0014.type-text.align-text-center
    //-     .component.full.c-wide-full
    //-         .CS0014__container                    
    //-             // Type2 add class .c-image-content__type2
    //-             // option. right type add class .c-image-content__right-type
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-large
    //-                 .c-image-content__item.c-image-content__video-large
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-01.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         .c-image-content__headline.font-m-normal-20.font-w-normal-32 Connect and Control from anywhere image
    //-                         .c-image-content__bodycopy
    //-                             p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.
 
    //- .guide-text-type Type2. option. left
    //- // option. left add cass .align-text-left
    //- .c-wrapper.CS0014.type-text.align-text-left
    //-     .component.full.c-wide-full
    //-         .CS0014__container                    
    //-             // Type2 add class .c-image-content__type2
    //-             // option. right type add class .c-image-content__right-type
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-large
    //-                 .c-image-content__item.c-image-content__video-large
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-01.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         .c-image-content__headline.font-m-normal-20.font-w-normal-32 Connect and Control from anywhere image
    //-                         .c-image-content__bodycopy
    //-                             p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.
 
    //- .guide-text-type Type2. option. left-left
    //- // option. left-left add cass .align-text-left
    //- .c-wrapper.CS0014.type-text.align-text-left
    //-     .component.full.c-wide-full
    //-         .CS0014__container  
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-small-left
    //-                 .c-image-content__item.c-image-content__video-small-left
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Simple Control with Voice Assistant
    //-                             .c-image-content__bodycopy
    //-                                 p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.
    
    //- .guide-text-type Type2. option. left-center
    //- // option. left-center add cass .align-text-center
    //- .c-wrapper.CS0014.type-text.align-text-center
    //-     .component.full.c-wide-full
    //-         .CS0014__container  
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-small-left
    //-                 .c-image-content__item.c-image-content__video-small-left
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Simple Control with Voice Assistant
    //-                             .c-image-content__bodycop
    //-                                 p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.

    //- .guide-text-type Type2. option. right-left
    //- // option. right-left add cass .align-text-right
    //- .c-wrapper.CS0014.type-text.align-text-right
    //-     .component.full.c-wide-full
    //-         .CS0014__container  
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-small-left
    //-                 .c-image-content__item.c-image-content__video-small-left
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text 
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Simple Control with Voice Assistant
    //-                             .c-image-content__bodycopy 
    //-                                 .c-image-content__bodycopy
    //-                                 p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more. 

    //- .guide-text-type Type2. option. right-left
    //- // option. right-right add cass .align-text-left
    //- .c-wrapper.CS0014.type-text.align-text-left
    //-     .component.full.c-wide-full
    //-         .CS0014__container  
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 .c-image-content__item.c-image-content__video-small-right
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text  
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient Product Maintenance
    //-                             .c-image-content__bodycopy
    //-                                 p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.

    //- .guide-text-type Type2. option. right-center
    //- // option. right-center add cass .align-text-center
    //- .c-wrapper.CS0014.type-text.align-text-center
    //-     .component.full.c-wide-full
    //-         .CS0014__container  
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-small-right
    //-                 .c-image-content__item.c-image-content__video-small-right
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text  
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient Product Maintenance
    //-                             .c-image-content__bodycopy
    //-                                 p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.

    //- .guide-text-type Type2. option. right-right
    //- // option. right-right add cass .align-text-right
    //- .c-wrapper.CS0014.type-text.align-text-right
    //-     .component.full.c-wide-full
    //-         .CS0014__container  
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-small-right
    //-                 .c-image-content__item.c-image-content__video-small-right
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text  
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient Product Maintenance
    //-                             .c-image-content__bodycopy 
    //-                                 .c-image-content__bodycopy
    //-                                 p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.

    //- .guide-text-type Type2. option.  font italic
    //- // option. right-right add cass .align-text-right
    //- .c-wrapper.CS0014.type-text.align-text-right
    //-     .component.full.c-wide-full
    //-         .CS0014__container  
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-small-right
    //-                 .c-image-content__item.c-image-content__video-small-right
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text  
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient Product Maintenance
    //-                             // option. font italic add cass .font-italic
    //-                             .c-image-content__bodycopy.font-italic
    //-                                 p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.

    //- .guide-text-type Type2. option. font underline
    //- // option. right-right add cass .align-text-right
    //- .c-wrapper.CS0014.type-text.align-text-right
    //-     .component.full.c-wide-full
    //-         .CS0014__container  
    //-             // Type2 add class .c-image-content__type2
    //-             .c-image-content.c-image-content__type2
    //-                 // Type2 add class .c-image-content__video-small-right
    //-                 .c-image-content__item.c-image-content__video-small-right
    //-                     // block : image
    //-                     .c-image-content__image.c-video-box
    //-                         // pause button .c-image-content__button--pause
    //-                         //- span.c-image-content__button 
    //-                         video(width='100%' height='100%' controls='' poster="../../mocks/CS0014/temp-recommended-w-02.jpg" class="c-video-box__content")
    //-                             source(src='https://www.lg.com/uk/images/TV/features/UHD2022/tv-uhd-06-1-thinq-ai-desktop.mp4' type='video/mp4')
    //-                             //- source(src='movie.ogg' type='video/ogg')
    //-                             |   Your browser does not support the video tag.
    //-                         button(type="button" class="c-video-box__button")
    //-                     .c-image-content__text  
    //-                         div
    //-                             .c-image-content__headline.font-m-normal-20.font-w-normal-32 Efficient Product Maintenance
    //-                             // option. font underline add cass .font-underline
    //-                             .c-image-content__bodycopy.font-underline
    //-                                 p.font-m-normal-12.font-w-normal-20 Through the LG ThinQ app, check on your appliance, download new cycles, monitor cycle usage, and much more.
    .guide-text-type Type 3. CTA
    // option. left-right add cass
    .c-wrapper.CS0014.type-text.align-text-left.bg-black
        .component.full.c-wide-full
            .CS0014__container                                
                .c-image-content
                    .c-image-content__item.c-image-content__left-type
                        // block : image
                        .c-image-content__image 
                            +printLazyPicture("../../mocks/CS0014/temp-save-money.jpg", "../../mocks/CS0014/temp-save-money.jpg")
                        .c-image-content__text 
                            div
                                .c-image-content__eyebrow.font-m-normal-12.font-w-normal-20 Self service solution
                                .c-image-content__headline.font-m-normal-20.font-w-normal-32 Save money and time
                                .c-image-content__bodycopy 
                                    ul.c-list-type 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Using this advanced technology will result in you getting an instant answer, which also means there's no need to wait on the end of the phone for a response - saving you both time and money.
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 No need to call customer services for simple, easily solved problems.
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Instead, you can use the simple selfdiagnosis feature : 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Tag on diagnosis : Just tag on and diagnose 
                                        li 
                                            p.font-m-normal-12.font-w-normal-20 Audible diagnosis : Just press, listen, and diagnose
                                
                                .c-text-contents
                                    .text.c-text-contents__disclaimer 
                                        .cmp-text.font-m-normal-12.font-w-normal-12(data-cmp-data-layer="")
                                            p *Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.   

                                    .c-list-button
                                        +defaultButton({name: 'Terms and conditions', wSize: 'medium', mSize: 'small', buttonStyle: 'normal'})
                                        +defaultButton({name: 'Apple App Store', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight'})
                                
                                    

