extends ../_common/_layout.pug
include ../_common/_image.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_product-list.pug
include ../_common/_title-area.pug

block meta 
    - var componentId = "PD0030"
    - var componentName = "Recommended Bundles"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)


block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };
                    
    // Component Markup
    //- mixin categoryTitleArea(params)
    //-     .c-text-contents.align-center
    //-         .align-container 
    //-             .c-text-contents__inner 
    //-                 .title.c-text-contents__headline
    //-                     +headline('font-w-semibold-40 font-m-semibold-26', 'h2', params.title, false)
                    //- .button.c-text-contents__button
                    //-     // option : target (_blank or _self)
                    //-     +linkButton({type:"text", href: params.url, color:"black", icon:true, name: "view all bundles"})

    mixin recommendItem
        // block - product list
        .c-product-list__item(data-cmp-data-layer="")
            +bundleItem(
                {
                    compare: false,
                    imageUrl:'https://via.placeholder.com/708x338/999999/000000',
                    sku: false,
                    useLink: true,
                    skuLink: 'GSJV70PZTF',
                    name:'American Fridge Freezer 635L Water & Ice Dispenser',
                    description: 'These refrigerators have a sleek glass panel that allows you to see inside the easy access door without letting the cold air out. Simply knock twice on the glass to illuminate the contents',
                    descriptionFontStyle : 'font-w-normal-16 font-m-normal-12',
                    fontstyle:  {headline:"font-w-light-36 font-m-light-24", sku:"font-w-normal-16 font-m-normal-14"},
                    priceFontStyle : "font-w-normal-32 font-m-light-28",
                    subPriceFontStyle : "font-w-normal-16 font-m-normal-12",
                    cta: true,
                    addCart: true,
                    whereToBuy: false,
                    membership:'€1 416,97',
                    energy:true,
                    grade:'A',
                    labels:true,
                    gradeBlock2: true,
                    repair:true,
                    ehf: false, 
                    cashDiscount:true,
                    lowPrice30Days:true,
                    onlyPurchase:true,
                    plInfoTxt: true
                }
            )

    //- Components
    .guide-text-type 1. Default
    .c-wrapper.PD0030.margin-top.margin-bottom.bg-default
        .component.no-filter
            .cmp-container
                .c-content-area.c-content-area__product-list
                    +component-title-area({
                        alignment : "",
                        headline : {
                            text : "Kitchen Bundles",
                        },
                    })

                    .productlist.productcollection
                        .category__root
                            .c-productcollection__root.productcollection__root(data-cmp-is="productcollection", data-cmp-data-layer)
                                .c-result-area 
                                    //- .c-result-area__controls.c-compare-only.font-w-semibold-16.font-m-semibold-14
                                    //-     .c-result-area__compare
                                    //-         span Compare
                                    //-         button.c-toggle-button(type="button", aria-pressed="false")
                                    //-             span.sr-only Toggle Compare Buttons
                                    .c-result-area__product-list(id="resultTarget")
                                        ul.c-product-list.productcollection__items
                                            - for(var x = 0; x < 4; x++)
                                                li
                                                    +recommendItem