extends ../_common/_layout.pug
include ../_common/_index.pug
include ../_common/_pop-msg.pug

block meta 
    - var componentId = "PR0004"
    - var componentName = "Package Deal"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href="../CM0001/CM0001.css")
    link(rel="stylesheet", href="../CM0007/CM0007.css")
    link(rel="stylesheet", href=componentId+".css")
    style(type="text/css").
        .guide {
            z-index:5;
        }
block scripts
    script(src="../CM0001/CM0001.js" type="module")
    script(src="../CM0007/CM0007.js" type="module")
    script(src=componentId+".js" type="module")

block header
    include ../CM0001/CM0001-inc.pug
    +CM0001()

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                        ],
                        '.c-title-banner' : [
                            {
                                'name' : 'Text Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-white', 'remove' : 'font-black'},
                                    {'toggle' : false, 'add' : 'font-black', 'remove' : 'font-white'}
                                ]
                            },
                        ],
                    };

    include ../CM0002/CM0002-inc.pug
    include ./PR0004-inc.pug
    link(rel="stylesheet", href="../CM0002/CM0002.css")

    +PR0004
    +CM0002

    include ../CM0007/CM0007-inc.pug
    +CM0007()

block modal
    +printLayerPopup('popExceedItemCount')
    +printLayerPopup('popAlreadyAddPackageDealItem')
    +printLayerPopup('popAttemptingMoveOtherPromotion')
    +printLayerPopup('popAttemptingMoveOtherPage')

    +printLayerPopup('popStockAlert')