extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_forms.pug
include ../_common/_brand-detail.pug
include ../_common/_pagination.pug

block meta 
    - var componentId = "CS0031"
    - var componentName = "Store list"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content
    //- // An area for testing options when coding. 
    //- // Please do not use it during development.
    //- .guide 
    //-     .grid-1600 
    //-     .grid-1440
    //-     .inner
    //-         .guide-list
    //-             a(href="../../list-st.html") List 
    //-         .guide-title #{componentId}. #{componentName}
    //-         .guide-wrapper
    //-             script. 
    //-                 const guideList = {
    //-                     '.c-wrapper' : [
    //-                         {
    //-                             'name' : 'Top margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-top'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'Bottom margin',
    //-                             'buttons' : [
    //-                                 {'toggle' : true, 'add' : 'margin-bottom'},
    //-                             ]
    //-                         },
    //-                         {
    //-                             'name' : 'BG Color',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-darkgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-white, bg-lightgray, bg-black'},
    //-                                 {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-white, bg-lightgray, bg-darkgray'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-text, .type-disclaimer' : [
    //-                         {
    //-                             'name' : 'Text Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
    //-                                 {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
    //-                             ]
    //-                         }
    //-                     ],                        
    //-                     '.type-disclaimer .component' : [
    //-                         {
    //-                             'name' : 'Width Size',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'width-1440', 'remove' : 'width-1600'},
    //-                                 {'toggle' : false, 'add' : 'width-1600', 'remove' : 'width-1440'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.type-side' : [
    //-                         {
    //-                             'name' : 'Align',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'align-left', 'remove' : 'align-right'},
    //-                                 {'toggle' : false, 'add' : 'align-right', 'remove' : 'align-left'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                     '.c-text-contents__bodycopy, .c-text-contents__disclaimer' : [
    //-                         {
    //-                             'name' : 'Font Options',
    //-                             'buttons' : [
    //-                                 {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
    //-                                 {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
    //-                                 {'toggle' : true, 'add' : 'font-italic'},
    //-                                 {'toggle' : true, 'add' : 'font-underline'},
    //-                             ]
    //-                         }
    //-                     ],
    //-                 };

    .guide-text-type Parts list

    // Component Markup
    // :::: Common :::: 
    // [pc]
    // default 5-line exposure
    // Click More, expose 6 lines in 3 lines
    // [mobile]
    // default 10 line exposure
    // Click More to expose 6 lines each
    // Button appears when list is more than 11
    .guide-text-option Type. Store List(text) - Indonesia
    .c-wrapper.CS0031.type-text
        .component
            .CS0031__container 
                // 20230324 wrap add
                .c-list__wrap
                    - for (let x = 0; x < 5; x++)
                        .c-list.c-list-link
                            dl.c-list__item(tabindex="0") 
                                dt.font-m-normal-20.font-w-normal-20 Bandung
                                dd.font-m-normal-14.font-w-normal-16 Jl. Gatot Subroto No. 17L RT 029, Kel. Kuripan, Kec. Banjarmasin Timur - Banjarmasin 70236
                    // 20230324 Exposure when more than 10   
                  
                +pagination

                    //- +button({type:"box-outlined-icon", color:"black", size:"medium", name: "View More", icon: true})(aria-label="")

    // Component Markup
    .guide-text-option Type. Store List(img) - France
    .c-wrapper.CS0031.type-text
        .component
            .CS0031__container
                // 20230324 wrap add
                .c-list__wrap 
                    - for (let x = 0; x < 5; x++)
                        // Type. Store List(img) - France add .c-list__store.c-list__store--image
                        .c-list.c-list__store.c-list__store--image
                            dl.c-list__item(tabindex="0")
                                dd.c-list__image 
                                    +printLazyImage("https://via.placeholder.com/100x60/000/333/?text=Image", "")
                                div
                                    dt.font-m-normal-20.font-w-normal-20 Service &amp; spare parts
                                    dd.c-list__phone.font-m-normal-14.font-w-normal-16 02-8788-8666
                                    dd.c-list__fax.font-m-normal-14.font-w-normal-16 1800-620-603
                                    dd.c-list__email.font-m-normal-14.font-w-normal-16 
                                        a(href="#" data-link-name data-link-destination data-link-menu data-link-page-type) www.agw.com.au70236                        
                                    dd.font-m-normal-14.font-w-normal-16 
                                        a(href="#" data-link-name data-link-destination data-link-menu data-link-page-type) Unit 4/11 Hallstrom Place Wetherill Park NSW 2164
                // 20230324 Exposure when more than 10   
                +pagination
    
    // Component Markup
    .guide-text-option Type. Store List(text) - Singapore
    .c-wrapper.CS0031.type-text
        .component
            .CS0031__container
                // 20230324 wrap add
                .c-list__wrap  
                    // Type. Store List(text) - Singapore add .c-list__store
                    - for (let x = 0; x < 5; x++)
                        .c-list.c-list__store
                            dl.c-list__item(tabindex="0")
                                dt.font-m-normal-20.font-w-normal-20 Service &amp; spare parts
                                dd.c-list__phone.font-m-normal-14.font-w-normal-16 02-8788-8666
                                dd.c-list__email.font-m-normal-14.font-w-normal-16 
                                    a(href="#") www.agw.com.au70236                        
                                dd.font-m-normal-14.font-w-normal-16 
                                    a(href="#") Unit 4/11 Hallstrom Place Wetherill Park NSW 2164
                // 20230324 Exposure when more than 10   
                +pagination


