extends ../_common/_layout.pug
include ../_common/_index.pug

block meta 
    - var componentId = "CS0119"
    - var componentName = "Selective Offering"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-pd.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script. 
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            //- {
                            //-     'name' : 'BG Color',
                            //-     'buttons' : [
                            //-         {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray'},
                            //-         {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-lightgray, bg-default'},
                            //-         {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-white, bg-default'},
                            //-     ]
                            //- },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                        ],
                    };

    // Component Markup
    mixin printTab(div, num, selected)
        if selected
            li.cmp-tabs__tab.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", data-cmp-hook-tabs="tab", aria-selected="true")
                if block
                    block
        else 
            li.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", data-cmp-hook-tabs="tab", aria-selected="false")
                if block
                    block

    mixin printTabPanel(div, num, selected)
        if selected 
            .cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block
        else 
            .cmp-tabs__tabpanel(id=`tabs-1-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-1-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block

    mixin product-carousel-list
        - var num = 10
        - var options = {handlerStyle : null, ...params}
        .c-product-list.c-product-list--carousel.js-product-list
            .carousel.panelcontainer
                // block - carousel
                .cmp-carousel.swiper.c-carousel(data-cmp-data-layer="")
                    .cmp-carousel__content.swiper-wrapper
                        +productItemSlide( 
                            {
                                flag: [],
                                compare: true,
                                sku: 'GBB71PZDMN',
                                ufn: 'Alulfagyasztós hűtőszekrény, DoorCooling⁺™ és ThinQ™ technológia, 341L kapacitás',
                                grade: 'f',
                                review: true,
                                modelid: 'MD07535502',
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                noprice: true,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag: [],
                                compare: true,
                                sku: 'GBB71PZDMN',
                                ufn: 'Alulfagyasztós hűtőszekrény, DoorCooling⁺™ és ThinQ™ technológia, 341L kapacitás',
                                grade: 'f',
                                review: true,
                                modelid: 'MD07535502',
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                noprice: true,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag: [],
                                compare: true,
                                sku: 'GBB71PZDMN',
                                ufn: 'Alulfagyasztós hűtőszekrény, DoorCooling⁺™ és ThinQ™ technológia, 341L kapacitás',
                                grade: 'f',
                                review: true,
                                modelid: 'MD07535502',
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                noprice: true,
                            }
                        )
                        +productItemSlide( 
                            {
                                flag: [],
                                compare: true,
                                sku: 'GBB71PZDMN',
                                ufn: 'Alulfagyasztós hűtőszekrény, DoorCooling⁺™ és ThinQ™ technológia, 341L kapacitás',
                                grade: 'f',
                                review: true,
                                modelid: 'MD07535502',
                                promotion: "",
                                installment: true,
                                membership: '£1,866.98',
                                noprice: true,
                            }
                        )
                        - if(num > 4)
                            - for(var x = 0; x < num-4; x++)
                                +productItemSlide( 
                                    {
                                        flag: [],
                                        compare: true,
                                        sku: 'GBB71PZDMN',
                                        ufn: 'Alulfagyasztós hűtőszekrény, DoorCooling⁺™ és ThinQ™ technológia, 341L kapacitás',
                                        grade: 'f',
                                        review: true,
                                        modelid: 'MD07535502',
                                        promotion: "",
                                        installment: true,
                                        membership: '£1,866.98',
                                        noprice: true,
                                    }
                                )

                    .c-carousel__handler(class="c-carousel__handler--dial c-carousel__handler--away-from-carousel")
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"prev"})
                        +carouselPagination
                        .cmp-carousel__actions
                            +carouselBtn({type:"pagination", direction:"next"})

    .guide-text-option Option : 1 tab
    .c-wrapper.CS0119.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    alignment:"",
                    headline : {
                        text : "Kapcsolódó termékek",
                    }
                })(class="c-region-header--vacate-side")
                .CS0119__render
                    +product-carousel-list(10, carouselOptions)
