extends ./_template/_email_layout.pug

block meta 
    title ML0143

block header
    +email-header-notMenu({title: "Newsroom"})

block content
    tr
        td(style=`color:#000000;${fontStyle_6B}`) 
            | UserName Type
    tr
        td
            a(href='#' style=`text-decoration:none;cursor:text;pointer-events:none;color:#000000;${fontStyle_6B}`) Useremail@lge.com Type
    tr
        td(style=`padding-top:20px;color:#333333;${fontStyle_1}`)
            | A subscription request to LG Newsroom was received for this email address.
    tr
        td(style=`padding-top:20px;color:#333333;${fontStyle_1}`)
            | Click 'Confirm Subscription' button below to confirm. 
            br
            br
            | If you did not make this request, you may ignore this email.
    tr
        td(style='padding-top:30px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) Confirm Subscription
    tr
        td(style=`padding-top:40px;color:#333333;${fontStyle_1B}`)
            | Thank you for your interest in LG Electronics.

block footer
    +email-footer-newsroom()
