extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0123(rtl)

block header
    +email-header-rtl({title: "Product price about to expired"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Dear Customer,
            br
            br
            | 
            | You recevied this email, because your email in list monitor system email.
            |
            br
            | The below is a list of Products with prices expire within the next 24 hours but new prices record not registed yet.
            |
            br
            | Please register new prices record and sync to OBS.
    tr
        td(style=`padding-top:30px;color:#000000;${fontStyle_5B}`) B2C price record
    tr
        td(style='padding-top:16px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;border-top:1px solid #000000;')
                tr
                    td(align='center' style=`${thType2}`) SKU
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType2}`) Currenct Price
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType2}`) Expired Time
                tr
                    td(style=`word-break:break-all;${tdType3}`) 1 UK.F1447TD.ABWQEUK
                    td(align='center'  style=`word-break:break-all;border-right:1px solid #CBC8C2;${tdType3}`) &pound;1199.00
                    td(align='center'  style=`word-break:break-all;border-right:1px solid #CBC8C2;${tdType3}`) 2023-01-31 00:00:00 Europe/London

block footer
    +email-footer()
    