extends ./_template/_email_layout.pug

block meta 
    title ML0120

block header
    +email-header({title: "Products you`re watching are now back in stock"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Dear Chung thuy,
            br
            br
            | 
            | You requested we send you a reminder when the product below comes back in stock:
    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;border-top:1px solid #000000;')
                tr
                    td(align='center' style=`${thType1}`) Product Name
                    td(align='center' style=`border-left:1px solid #CBC8C2;${thType1}`) Price
                tr
                    td(style=`${tdType1}`) 
                        img(src='https://via.placeholder.com/60x60/eeeeee/000000' alt='model' width='60' height='60' style='vertical-align:middle;')
                        |
                        |
                        span &nbsp;
                        |
                        | LG gram 17"Ultra-Lightweight
                    td(align='center' style='word-break:break-all;border-left:1px solid #CBC8C2;${tdType1}') &pound;2,419.98
    tr
        td(style='padding-top:30px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) Buy now
    tr
        td(style='padding-top:60px;padding-bottom:60px;')
            span(style=`${brType1}`) &nbsp;
    +support()
    tr
        td(style='padding-top:60px;font-size:0;') &nbsp;
    +shop()

block footer
    +email-footer()
