extends ./_template/_email_layout.pug

block meta 
    title ML0103

block header
    +email-header({title: "Your Order Confirmation"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Hello Toronto Tokyo,
            br
            br
            | Your package could not be delivered and is being returned to us. We&apos;ll initiate the full refund once we get the package.
    tr
        td(style='padding-top:30px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) View details
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_1}`)
            | Your order 
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) #113000017342
            |
            | has been updated with a status of 
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) order
            |
            | cancelled.
    tr
        td(style='padding-top:20px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;border-top:1px solid #000000;')
                tr
                    td(align='center' style=`${thType1}`) Items
                    td(align='center' style=`border-left:1px solid #CBC8C2;${thType1}`) SKU
                    td(align='center' style=`border-left:1px solid #CBC8C2;${thType1}`) Qty
                tr
                    td(style=`${tdType1}`) LG Nano90 65 inch 4K NanoCell TV
                    td(style=`word-break:break-all;border-left:1px solid #CBC8C2;text-align:center;${tdType2}`) UK.F6V909WTSA.ABWQPUK
                    td(align='center' style=`border-left:1px solid #CBC8C2;text-align:center;${tdType2}`) 1
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_1}`)
            | If you have questions about your order, you can email us at
            br
            br
            a(href='https://www.lg.com/uk/support/email' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) Email-https://www.lg.com/uk/support/email
            |
            | Or call us 
            a(href='tel:1800-315-9999' style=`${anchor1}`) 1800-315-9999
            |
            | or 
            a(href='tel:1800-180-9999' style=`${anchor1}`) 1800-180-9999
            | .
            br
            | Our hours are Manday - saturday 9:00AM - 6:00PM IST
            br
            br
            | We hope to see you again soon.
    tr
        td(style='padding-top:60px;padding-bottom:60px;')
            span(style=`${brType1}`) &nbsp;
    +shop()

block footer
    +email-footer()
