extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0116(rtl)

block header
    +email-header-rtl({title: "Preparing For Delivery Storeview"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Chung thuy,
            br
            br
            | You order #113000017507 has been updated with a status of.
            br
            br
            | You can check the status of your order by 
            a(href='https://www.lg.com/uk' style=`${anchor1}`) logging into your account
            | .
            br
            br
            | If you have any questions about your order, you can email us at 
            a(href='mailto:orders@lgsupport.com' style=`${anchor1}`) orders@lgsupport.com
            | . or call us at 
            a(href='tel:0344-847-5454' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) 0344 847 5454
            | . Our hours are Monday to Friday 9:00am to 5:00pm.
    tr
        td(style='padding-top:30px;font-size:0;') &nbsp;
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(style=`padding:20px;background:#f6f6f6;border-radius:6px;color:#333333;${fontStyle_1}`) Test email shipment admin
    tr
        td(style='padding-top:60px;padding-bottom:60px;')
            span(style=`${brType1}`) &nbsp;
    +shop()

block footer
    +email-footer()
