extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0131(rtl)

block header
    +email-header-rtl({title: "Remind Purchase"})

block content
    tr
        td 
            img(src='https://via.placeholder.com/640x340/eeeeee/000000' alt='image' width='640' height='340' style='border-radius:10px;')
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_1}`)
            | Genuine LG refrigerator water filters are designed to significantly reduce contaminants, particulates and unwanted tastes and odours from drinking water and ice cubes.
    tr
        td(style='padding-top:60px;')
            b(style=`color:#000000;${fontStyle_6B}`) Why Use Genuine LG Water Filters?
    tr
        td(style=`padding-top:16px;color:#333333;${fontStyle_1}`)
            | LG product warranty provided with all filters. Correct filter design for your fridge model. Guaranteed filtration performance.
            |
            br
            | Third-party filters may also not fit correctly and can cause damage to the product or your property that's not covered under the terms of your manufacturers warranty.
    tr
        td(style='padding-top:30px;')
            img(src='https://via.placeholder.com/640x160/eeeeee/000000' alt='image' width='640' height='160' style='border-radius:10px;')
    tr
        td(style='padding-top:60px;')
            b(style=`color:#000000;${fontStyle_6B}`) Did you know that your refrigerator water filter should be replaced every six months?
    tr
        td(style=`padding-top:20px;color:#333333;${fontStyle_1}`)
            | It depends on how often you use the water from your refrigerator but the general rule is the sooner the better, to reduce the risk of water leakage or flooding. Some models have a filter change light which alerts when a filter change is required.
            |
            br
            | Is your fridge water dispensing slowly?
            |
            br
            br
            | If you've noticed that your water has been dispensing slower than normal, this could be due to the filter. Failing to change your fridge's water filter can cause scaling and deposit build-up in the water and ice machine, which can seriously damage your fridge. This build-up tends to slow down the system, causing low flow, and negatively affects the flavour of your water.
    tr
        td(style='padding-top:30px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) Find out more
    tr
        td(style='padding-top:40px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) Menu01
            span(style=`${pipeType1}`) |
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) Menu02
            span(style=`${pipeType1}`) |
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) Menu03
            span(style=`${pipeType1}`) |
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) Menu04
            span(style=`${pipeType1}`) |
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) Menu05
    tr
        td(style='padding-top:40px;font-size:0') &nbsp;
    +addToCart2()

block footer
    +email-footer()
