extends ./_template/_email_layout.pug

block meta 
    title ML0140

block header
    +email-header({title: "LG - Approved your {review/comment}"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Dear {Customer ID or Nickname} ,
            br
            br
            | 42LX3Q6LA Thank you for your review.
            |
            br
            br
            | Unfortunately, your review has been rejected for not complying with the Review Writing Rules.
            |
            br
            | Please try writing your review again!
            |
            br
            a(href='https://www.lg.com/uk' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) Write a review.
            br
            br
            b(style='font-weight:700;') Thanks again.
                br
                |LG Electronics!
    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;border-top:1px solid #000000;')
                tr
                    td(width='140' align='center' valign='middle' style=`min-width:140px;background-color:#f6f6f6;border-right:1px solid #CBC8C2;${thType1}`) Model Number
                    td(valign='middle' style=`word-break:break-all;${tdType2}`)
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='240' style='min-width:240px;')
                                    img(src='https://via.placeholder.com/240x240/eeeeee/000000' alt='model' width='240' height='240')
                                td(width='30') &nbsp;
                                td(valign='center')
                                    | WM3900HBA
                tr
                    td(align='center' valign='middle' style=`background-color:#f6f6f6;border-right:1px solid #CBC8C2;${thType1}`) Rating
                    td(valign='middle' style=`word-break:break-all;${tdType2}`) 
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    div(style='display:inline-block;width:123px;height:24px;background-image:url(../../assets/image/email/ico_starpoint_empty-245x48.png);background-size:123px;background-repeat:no-repeat;')
                                        div(style='width:90%;display:inline-block;height:24px;overflow:hidden;')
                                            img(src='../../assets/image/email/ico_starpoint_highlight-245x48.png' alt="startpoint 4.5" width='123' height='24' border='0')
                tr
                    td(align='center' valign='middle' style=`background-color:#f6f6f6;border-right:1px solid #CBC8C2;${thType1}`) Title
                    td(valign='middle' style=`word-break:break-all;${tdType2}`) Not Great features!
                tr
                    td(align='center' valign='middle' style=`background-color:#f6f6f6;border-right:1px solid #CBC8C2;${thType1}`) Review
                    td(valign='middle' style=`word-break:break-all;${tdType2}`) Written review goes here. This is what a short one looks like. Written review goes here. This is what a short one looks like. Written review goes here. This is what a short one looks like.

block footer
    +email-footer()
