extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0101(rtl)

block header
    +email-header-rtl({title: "Your Order Confirmation"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Hi Guest,
            br
            br
            | Thank you for placing your order with the LG Online Shop. 
            br
            br
            | Your order below has been shippied and should with you in 1-2 working days. You can check the delivery status of your order by following the below or logging into 
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) Your Account.
            br
            br
            | If you have questions about your order, you can 
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) contact us here
            | , or for advice and answers on everything else, 
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) visit our FAQ.
    tr
        td(style=`padding-top:60px;color:#000000;${fontStyle_6B}`) Your Order #113000017717
    tr
        td(style=`padding-top:16px;color:#333333;${fontStyle_1}`) Placed on 14 Dec 2022, 02:56:12
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_2}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Biling Info
                            tr
                                td(style='padding-top:12px;') test buyer
                            tr
                                td(style='padding-top:12px;')
                                    | 2 Birdham Place, Birdham Road Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            tr
                                td(style='padding-top:12px;') Brighton, BN2 4RZ
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0897456231
                    td(wdith='20' style='width:20px;') &nbsp;
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Shipping Info
                            tr
                                td(style='padding-top:12px;') LG Online Shop
                            tr
                                td(style='padding-top:12px;') 90034
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0344 847 5454
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_2}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Payment Method
                            tr
                                td(style='padding-top:12px;') Paypal
                    td(wdith='20' style='width:20px;') &nbsp;
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Shipping Method
                            tr
                                td(style='padding-top:12px;') (Panther) Installation (Expected delivery date: 01/20/2023)
    tr
        td(style=`padding-top:60px;color:#000000;${fontStyle_6B}`) Your Order #113000017681
    tr
        td(style=`padding-top:16px;color:#333333;${fontStyle_1}`) Placed on 14 Dec 2022, 02:56:12
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_2}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Biling Info
                            tr
                                td(style='padding-top:12px;') test buyer
                            tr
                                td(style='padding-top:12px;')
                                    | 2 Birdham Place, Birdham Road Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            tr
                                td(style='padding-top:12px;') Brighton, BN2 4RZ
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0897456231
                    td(wdith='20' style='width:20px;') &nbsp;
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Shipping Info
                            tr
                                td(style='padding-top:12px;') LG Online Shop
                            tr
                                td(style='padding-top:12px;') 90034
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0344 847 5454
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_2}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Payment Method
                            tr
                                td(style='padding-top:12px;') Paypal
                    td(wdith='20' style='width:20px;') &nbsp;
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Shipping Method
                            tr
                                td(style='padding-top:12px;') (Panther) Installation (Expected delivery date: 01/20/2023)
                            tr
                                td(style='padding-top:12px;') (Panther) Installation (Expected delivery date: 01/20/2023)
    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style=`${containerType1}`)
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-top:20px;')
                            tr
                                td(style=`padding-bottom:5px;color:#000000;${fontStyle_5B}`)
                                    img(src='../../assets/image/email/ico_small_installation.png' alt='icon' width='32' height='32' style='vertical-align:-8px;')
                                    | &nbsp;Installation
                            tr
                                td(style=`padding-bottom:20px;color:#ea1917;${fontStyle_2}`) (Panther) Installation (Expected delivery date: 01/31/2028)
                            tr
                                td
                                    table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                        tr
                                            td(style='vertical-align:top;')
                                                img(src='https://via.placeholder.com/80x80/eeeeee/000000' alt='model' width='80' height='80')
                                            td(width='20' style='width:20px;font-size:0;') &nbsp;
                                            td(style='min-width:490px;')
                                                table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                                    tr
                                                        td(style=`color:#666666;${fontStyle_2}`) SKU : F6V909WTSA.ABWQPUK
                                                    tr
                                                        td(style=`padding-top:8px;color:#000000;${fontStyle_3B}`) LG B1 65 inch
                                                    tr
                                                        td(style=`padding-top:8px;color:#333333;${fontStyle_1}`)
                                                            | Qty : 1 &nbsp;&nbsp;
                                                            b(style='font-weight:700;') &pound;2,099.98
                tr
                    td(style='padding-bottom:24px;font-size:0;') &nbsp;
                tr
                    td(style='padding-top:8px;border-top:1px solid #CBC8C2;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='400' align='right' style=`min-width:400px;padding-top:12px;color:#000000;${fontStyle_4}`) Subtotal (Tax included)
                                td(align='left' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;132,099.98
                            tr
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) Shipping &amp; Handling
                                td(align='left' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;30.0
                            tr
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) Tax
                                td(align='left' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;209.99
                            tr
                                td(align='right' style=`padding-top:16px;color:#000000;${fontStyle_6B}`) Grand total
                                td(align='left' style=`padding-top:16px;color:#000000;${fontStyle_6B}`) &pound;891,209.99
    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style=`${containerType1}`)
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-top:20px;')
                            tr
                                td(style=`padding-bottom:5px;color:#000000;${fontStyle_5B}`)
                                    img(src='../../assets/image/email/ico_small_installation.png' alt='icon' width='32' height='32' style='vertical-align:-8px;')
                                    | &nbsp;Delivery Only
                            tr
                                td(style=`padding-bottom:20px;color:#ea1917;${fontStyle_2}`) (Panther) Installation (Expected delivery date: 01/31/2028)
                            tr
                                td
                                    table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                        tr
                                            td(style='vertical-align:top;')
                                                img(src='https://via.placeholder.com/80x80/eeeeee/000000' alt='model' width='80' height='80')
                                            td(width='20' style='width:20px;font-size:0;') &nbsp;
                                            td(style='min-width:490px;')
                                                table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                                    tr
                                                        td(style=`color:#666666;${fontStyle_2}`) SKU : F6V909WTSA.ABWQPUK
                                                    tr
                                                        td(style=`padding-top:8px;color:#000000;${fontStyle_3B}`) LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ &reg; (64.5&apos;&apos; Diag)
                                                    tr
                                                        td(style=`padding-top:8px;color:#333333;${fontStyle_1}`)
                                                            | Qty : 1 &nbsp;&nbsp;
                                                            b(style='font-weight:700;') &pound;2,099.98
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-top:20px;')
                            tr
                                td(style=`padding-bottom:5px;color:#000000;${fontStyle_5B}`)
                                    img(src='../../assets/image/email/ico_small_installation.png' alt='icon' width='32' height='32' style='vertical-align:-8px;')
                                    | &nbsp;Installation
                            tr
                                td(style=`padding-bottom:20px;color:#ea1917;${fontStyle_2}`) (Panther) Installation (Expected delivery date: 01/31/2028)
                            tr
                                td
                                    table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                        tr
                                            td(style='vertical-align:top;')
                                                img(src='https://via.placeholder.com/80x80/eeeeee/000000' alt='model' width='80' height='80')
                                            td(width='20' style='width:20px;font-size:0;') &nbsp;
                                            td(style='min-width:490px;')
                                                table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                                    tr
                                                        td(style=`color:#666666;${fontStyle_2}`) SKU : F6V909WTSA.ABWQPUK
                                                    tr
                                                        td(style=`padding-top:8px;color:#000000;${fontStyle_3B}`) LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ &reg; (64.5&apos;&apos; Diag)
                                                    tr
                                                        td(style=`padding-top:8px;color:#333333;${fontStyle_1}`)
                                                            | Qty : 1 &nbsp;&nbsp;
                                                            b(style='font-weight:700;') &pound;2,099.98
                tr
                    td(style='padding-bottom:24px;font-size:0;') &nbsp;
                tr
                    td(style='padding-top:8px;border-top:1px solid #CBC8C2;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) Subtotal (Tax included)
                                td(align='left' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;132,099.98
                            tr
                                td(align='right' style=`padding-top:12px;color:#ea1917;${fontStyle_4}`) Discount
                                td(align='left' style=`padding-top:12px;color:#ea1917;${fontStyle_4}`) - &pound;1,000.00
                            tr
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) Tax
                                td(align='left' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;209.99
                            tr
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) Delivery + installation
                                td(align='left' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;30.00
                            tr
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) Service charge
                                td(align='left' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;18.00
                            tr
                                td(align='right' style=`padding-top:16px;color:#000000;${fontStyle_6B}`) Total
                                td(align='left' style=`padding-top:16px;color:#000000;${fontStyle_6B}`) &pound;891,209.99
    tr
        td(style='padding-top:30px;font-size:0;') &nbsp;
    +registerProductGuide()
    tr
        td(style='padding-top:60px;padding-bottom:60px;')
            span(style=`${brType1}`) &nbsp;
    +feedback()
    tr
        td(style='padding-top:60px;font-size:0;') &nbsp;
    +shop()

block footer
    +email-footer()
