extends ./_template/_email_layout.pug

block meta 
    title ML0125

block header
    +email-header({title: "Wishlist Back in stock"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Dear,
            br
            br
            | 
            | There are items in your Wish List that has been Re-Stocked!
    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style=`${containerType1}`)
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-top:20px;')
                            tr
                                td
                                    table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                        tr
                                            td(style='vertical-align:top;')
                                                img(src='https://via.placeholder.com/80x80/eeeeee/000000' alt='model' width='80' height='80')
                                            td(width='20' style='width:20px;font-size:0;') &nbsp;
                                            td(style='min-width:490px;')
                                                table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                                    tr
                                                        td(style=`color:#666666;${fontStyle_2}`) SKU : F6V909WTSA.ABWQPUK
                                                    tr
                                                        td(style=`padding-top:8px;color:#000000;${fontStyle_3B}`) LG B1 65 inch
                                                    tr
                                                        td(style=`padding-top:8px;color:#333333;${fontStyle_1}`)
                                                            | Qty : 1 &nbsp;&nbsp;
                                                            b(style='font-weight:700;') &pound;2,099.98
                tr
                    td(style='padding-bottom:24px;font-size:0;') &nbsp;
                tr
                    td(style='padding-top:8px;border-top:1px solid #CBC8C2;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='400' align='left' style=`min-width:400px;padding-top:12px;color:#000000;${fontStyle_4}`) Subtotal (Tax included)
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;132,099.98
                            tr
                                td(align='left' style=`padding-top:16px;color:#000000;${fontStyle_6B}`) Grand total
                                td(align='right' style=`padding-top:16px;color:#000000;${fontStyle_6B}`) &pound;891,209.99
    tr
        td(style='padding-top:40px;font-size:0') &nbsp;
    +addToCart2()

block footer
    +email-footer()
