extends ./_template/_email_layout.pug

block meta 
    title ML0130

block header
    +email-header({title: "Order Confirmation | Invoice"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Hello Yen Vu,
            br
            br
            | Thank you for your order to LG Electrinics. Once your package ships we will send you and email with a link to track your order. Your order details are indicated below:
    tr
        td(style='padding-top:16px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) Track your order
    tr
        td(style=`padding-top:60px;color:#000000;${fontStyle_6B}`) Your Your Invoice #131000021777

    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_2}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Biling Info
                            tr
                                td(style='padding-top:12px;') test buyer
                            tr
                                td(style='padding-top:12px;')
                                    | 2 Birdham Place, Birdham Road Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            tr
                                td(style='padding-top:12px;') Brighton, BN2 4RZ
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0897456231
                    td(wdith='20' style='width:20px;') &nbsp;
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Shipping Info
                            tr
                                td(style='padding-top:12px;') LG Online Shop
                            tr
                                td(style='padding-top:12px;') 90034
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0344 847 5454
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_2}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Payment Method
                            tr
                                td(style='padding-top:12px;') Paypal
                    td(wdith='20' style='width:20px;') &nbsp;
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Shipping Method
                            tr
                                td(style='padding-top:12px;') (Panther) Installation (Expected delivery date: 01/20/2023)

    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style=`${containerType1}`)
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding-top:20px;')
                            tr
                                td
                                    table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                        tr
                                            td(style='vertical-align:top;')
                                                img(src='https://via.placeholder.com/80x80/eeeeee/000000' alt='model' width='80' height='80')
                                            td(width='20' style='width:20px;font-size:0;') &nbsp;
                                            td(style='min-width:490px;')
                                                table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                                                    tr
                                                        td(style=`color:#666666;${fontStyle_2}`) SKU : F6V909WTSA.ABWQPUK
                                                    tr
                                                        td(style=`padding-top:8px;color:#000000;${fontStyle_3B}`) LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ &reg; (64.5&apos;&apos; Diag)
                                                    tr
                                                        td(style=`padding-top:8px;color:#333333;${fontStyle_1}`)
                                                            | Qty : 1 &nbsp;&nbsp;
                                                            b(style='font-weight:700;') &pound;2,099.98
                tr
                    td(style='padding-bottom:24px;font-size:0;') &nbsp;
                tr
                    td(style='padding-top:8px;border-top:1px solid #CBC8C2;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='400' align='left' style=`min-width:400px;padding-top:12px;color:#000000;${fontStyle_4}`) Subtotal (incl. GST)
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;132,099.98
                            tr
                                td(align='left' style=`padding-top:12px;color:#000000;${fontStyle_4}`) Shipping &amp; Handling
                                td(align='right' style=`padding-top:12px;color:#000000;${fontStyle_4}`) &pound;15,00
                            tr
                                td(align='left' style=`padding-top:16px;color:#000000;${fontStyle_6B}`) Grand total (incl, GST)
                                td(align='right' style=`padding-top:16px;color:#000000;${fontStyle_6B}`) &pound;891,209.99
    tr
        td(style='padding-top:40px;font-size:0;') &nbsp;
    +survey()
    tr
        td(style='padding-top:40px;font-size:0;') &nbsp;
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='10' style='min-width:10px;font-size:0;') &nbsp;
                    td(style=`color:#333333;${fontStyle_1}`)
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | If you have any questions about your order. you can email us at: 
                                    |
                                    a(href='https://www.lg.com/uk/support/email' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) obcanz@lge.com
                            tr <!-- line spacing -->
                                td(style='padding-top:10px;')
                                td(style='padding-top:10px;')
                            tr
                                td(width='14px' style='min-width:14px;vertical-align:top;') &bull;
                                td
                                    | Our hours are Monday - Sunday 8:00AM - 8:00PM AEST. except national holidays. We hope to see you again soon.
                                    |
                                    br
                                    | Thank you, 
                                    |
                                    a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) LG.com

block footer
    +email-footer()
