extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0144(rtl)

block header
    +email-header-rtl({title: "New Professional Repairer Registration Request"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Dear [Add Name],
            br
            br
            | A new Professional Repairer registration request has been submitted.
            br
            br
            | Please verify the request and uploaded documents:
            br
            | 1. Business registration certificate of customer
            br
            | 2. Liability insurance
            br
            br
            | and respond within 5 working days. 
    tr
        td(style=`padding-top:30px;color:#000000;${fontStyle_5B}`) Request details
    tr
        td(style='padding-top:20px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;border-top:1px solid #000000;')
                tr
                    td(align='center' style=`${thType1}`) GCSC number
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType1}`) Requestor name
                tr
                    td(style=`text-align:center;${tdType2}`) [add GCU number]
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) [add requestor name]

block footer
    +email-footer()
