extends ./_template/_email_layout.pug

block meta 
    title ML0114

block header
    +email-header({title: "Preparing For Delivery Storeview"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Chung thuy,
            br
            br
            | You order #113000017507 has been updated a status of Delivery Completed (Invoiced). 
            br
            br
            | You can check the status of your return by emailing us at 
            a(href='mailto:orders@lgsupport.com' style=`${anchor1}`) orders@lgsupport.com.
            |  or 
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) using your order number.
    tr
        td(style='padding-top:30px;font-size:0;') &nbsp;
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(style=`padding:20px;background:#f6f6f6;border-radius:6px;color:#333333;${fontStyle_1}`) Test RMA comment 
    tr
        td(style='padding-top:30px;font-size:0;') &nbsp;
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            | If you have questions about your order, you can email us at 
            a(href='mailto:orders@lgsupport.com' style=`${anchor1}`) orders@lgsupport.com.
    tr
        td(style='padding-top:60px;padding-bottom:60px;')
            span(style=`${brType1}`) &nbsp;
    +shop()

block footer
    +email-footer()
