extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0132(rtl)

block header
    +email-header-rtl({title: "Remind Review"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Hello Yen Vu,
            br
            br
            | Thank you for buying at com, LG Electronics, I hope you can spend a few minutes. To comment the product has been purchased recently.
    tr
        td(style='padding-top:30px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) Product comments

    tr
        td(style='padding-top:40px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;border-top:1px solid #000000;')
                tr
                    td(align='center' style=`${thType1}`) SKU
                tr
                    td(style=`word-break:break-all;text-align:center;${tdType2}`) UK.F6V909WTSA.ABWQPUK
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_2}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Biling Info
                            tr
                                td(style='padding-top:12px;') test buyer
                            tr
                                td(style='padding-top:12px;')
                                    | 2 Birdham Place, Birdham Road Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            tr
                                td(style='padding-top:12px;') Brighton, BN2 4RZ
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0897456231
                    td(wdith='20' style='width:20px;') &nbsp;
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Shipping Info
                            tr
                                td(style='padding-top:12px;') LG Online Shop
                            tr
                                td(style='padding-top:12px;') 90034
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0344 847 5454
    
    tr
        td(style='padding-top:40px;font-size:0') &nbsp;
    +addToCart3()

block footer
    +email-footer()
