extends ./_template/_email_layout.pug

block meta 
    title ML0122

block header
    +email-header({title: "Out of stock notification"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Hello,
            br
            br
            | 
            | This is an automatic notification about the low stock of the following product(s)
    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;border-top:1px solid #000000;')
                tr
                    td(align='center' style=`${thType1}`) Product Name
                    td(align='center' style=`border-left:1px solid #CBC8C2;${thType1}`) SKU
                    td(align='center' style=`border-left:1px solid #CBC8C2;${thType1}`) Warehouse
                    td(align='center' style=`border-left:1px solid #CBC8C2;${thType1}`) Salable Quantity
                tr
                    td(style=`${tdType1}`) LG gram 17"Ultra-Lightweight
                    td(style=`word-break:break-all;border-left:1px solid #CBC8C2;${tdType3}`) UK.F6V909WTSA.ABWQPUK
                    td(align='center' style=`word-break:break-all;border-left:1px solid #CBC8C2;${tdType3}`) E123 Test
                    td(align='center' style=`word-break:break-all;border-left:1px solid #CBC8C2;${tdType3}`) 9

block footer
    +email-footer()
