extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0105(rtl)

block header
    +email-header-rtl({title: "Shipping Confirmation"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Chung thuy,
            br
            br
            | We receied your return request. You wiill be notified when your request is reviewed. If you have any questions about your return, please contact us at 
            a(href='mailto:orders@lgsupport.com' style=`${anchor1}`) orders@lgsupport.com.
    tr
        td(style=`padding-top:60px;color:#000000;${fontStyle_6B}`) Your Return #113000001409 - Requested
    tr
        td(style=`padding-top:16px;color:#333333;${fontStyle_1}`) Placed on 14 December 2023 at 02:56:12 GMT
    tr
        td(style=`padding-top:30px;color:#333333;${fontStyle_2}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Shipping Address
                            tr
                                td(style='padding-top:12px;') test buyer
                            tr
                                td(style='padding-top:12px;')
                                    | 2 Birdham Place, Birdham Road Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            tr
                                td(style='padding-top:12px;') Brighton, BN2 4RZ
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0897456231
                    td(wdith='20' style='width:20px;') &nbsp;
                    td(width='310' valign='top' style='width:310px;vertical-align:top;')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                            tr
                                td
                                    b(style=`color:#000000;${fontStyle_5B}`) Return Address
                            tr
                                td(style='padding-top:12px;') LG Online Shop
                            tr
                                td(style='padding-top:12px;') 90034
                            tr
                                td(style='padding-top:12px;') United Kingdom
                            tr
                                td(style='padding-top:12px;')
                                    img(src='../../assets/image/email/ico_phone.png' alt='phone icon' width='12' height='12')
                                    | &nbsp; 0344 847 5454
    tr
        td(style='padding-top:30px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;border-top:1px solid #000000;')
                tr
                    td(align='center' style=`${thType1}`) Product
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType1}`) SKU
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType1}`) Condition
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType1}`) Resolution
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType1}`) Requested Qty
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType1}`) Qty
                    td(align='center' style=`border-right:1px solid #CBC8C2;${thType1}`) Status
                tr
                    td(style=`${tdType1}`) LG Nano90 65 inch 4K NanoCell TV
                    td(style=`word-break:break-all;border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) UK.F6V909WTSA.ABWQPUK
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) NEW (Unboxed)
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) Refund
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) 1
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) 1
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) Refund Requested
                tr
                    td(style=`${tdType1}`) LG Nano90 65 inch 4K NanoCell TV
                    td(style=`word-break:break-all;border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) UK.65NAN0906NA.AEK
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) NEW (Boxed)
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) Refund
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) 1
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) 1
                    td(align='center' style=`border-right:1px solid #CBC8C2;text-align:center;${tdType2}`) Refund Requested
    tr
        td(style='padding-top:12px;')
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;')
                tr
                    td(width='14px' style='min-width:14px;vertical-align:top;') *
                    td(style=`color:#646464;${fontStyle_2}`)
                        | DigitalRiver Ireland Ltd. is the authorized reseller and merchant of the products and services offered within this store.
    tr
        td(style='padding-top:60px;padding-bottom:60px;')
            span(style=`${brType1}`) &nbsp;
    +shop()

block footer
    +email-footer()
    