extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0146(rtl)

block header
    +email-header-rtl({title: "Verify your LG Account"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            | Dear
            br
            br
            | Thank you for creating an LG Account Please click [Verify Account] button below to complete the registration process
    tr
        td(style='padding-top:30px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) Verify account
    tr
        td(style='padding-top:60px;padding-bottom:60px;')
            span(style=`${brType1}`) &nbsp;
    tr
        td(style=`padding-bottom:16px;color:#000000;${fontStyle_6B}`)
            | Upgrade your experience with a LG membership.
    tr
        td
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:24px;border-radius:10px;background:#F6F6F6;')
                tr
                    td(width='286')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:12px 0;')
                            tr
                                td(width='48' style='font-size:0;')
                                    img(src='../../assets/image/email/ico_welcome_coupon_96x96.png' alt='icon' style='width:100%;')
                                td(width='12' style='font-size:0;') &nbsp;
                                td(style=`color:#000000;${fontStyle_1}`)
                                    | Welcome Coupon for 5% Discount
                    td(width='20' style='font-size:0;') &nbsp;
                    td(width='286')
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:12px 0;')
                            tr
                                td(width='48' style='font-size:0;')
                                    img(src='../../assets/image/email/ico_membership_benfit__96x96.png' alt='icon' style='width:100%;')
                                td(width='12' style='font-size:0;') &nbsp;
                                td(style=`color:#000000;${fontStyle_1}`)
                                    | Discount for LG Members
                tr
                    td(style='padding:12px 0;')
                        span(style=`display:block;font-size:0;border-top:1px solid #ffffff;`) &nbsp;
                    td(width='20' style='font-size:0;') &nbsp;
                    td(style='padding:12px 0;')
                        span(style=`display:block;font-size:0;border-top:1px solid #ffffff;`) &nbsp;
                tr
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:12px 0;')
                            tr
                                td(width='48' style='font-size:0;')
                                    img(src='../../assets/image/email/ico_free_delivery_96x96.png' alt='icon' style='width:100%;')
                                td(width='12' style='font-size:0;') &nbsp;
                                td(style=`color:#000000;${fontStyle_1}`)
                                    | Free Shipping for All Orders on LG.com
                    td(width='20' style='font-size:0;') &nbsp;
                    td
                        table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:12px 0;')
                            tr
                                td(width='48' style='font-size:0;')
                                    img(src='../../assets/image/email/ico_newsletter__96x96.png' alt='icon' style='width:100%;')
                                td(width='12' style='font-size:0;') &nbsp;
                                td(style=`color:#000000;${fontStyle_1}`)
                                    | Newsletter Subscription
    tr
        td(style='padding-top:30px;')  
    
    tr
        td
            ol(style='padding-right:1.2em;margin:0;')
                li(style=`${fontStyle_1B}margin:0;color:#000000;`)
                    | Welcome Coupon for 5% Discount
                    p(style=`${fontStyle_1}margin:0;color:#333333;`)
                        | By joining our Membership, you will receive a 5% discount coupon for the LG online store, valid for 180 days. One voucher is provided for each new member account registered on the LG.com/kz website. The voucher is valid only for products sold in the online store on LG.com/kz. To use the offer, the voucher code must be applied to the cart. Some coupon codes may be invalid for certain product categories or items already on sale: the welcome coupon will be applied to all products except accessories.
                li(style=`${fontStyle_1B}margin:0;color:#000000;padding-top:16px;`)
                    | Discount for LG Members
                    p(style=`${fontStyle_1}margin:0;color:#333333;`)
                        | Membership members receive a 2% discount on LG.com, applicable to all orders in the LG online store except accessories. This offer is valid as long as the LG Membership policy is in effect.
                li(style=`${fontStyle_1B}margin:0;color:#000000;padding-top:16px;`)
                    | Free Shipping for All Orders on LG.com,
                    p(style=`${fontStyle_1}margin:0;color:#333333;`)
                        | Free shipping for all orders on LG.com, except for purchased accessories. Free shipping: Products can only be delivered to addresses in Kazakhstan, managed by a third-party delivery agent collaborating with LG. To learn more, click on the Terms of Sale in Kazakhstan, which apply to purchases on our website.
                li(style=`${fontStyle_1B}margin:0;color:#000000;padding-top:16px;`)
                    | Newsletter Subscription
                    p(style=`${fontStyle_1}margin:0;color:#333333;`)
                        | Available only to Membership members who have consented to receive marketing-related materials.

block footer
    +email-footer()
