extends ./_template/_email_layout-rtl.pug

block meta 
    title ML0135(rtl)

block header
    +email-header-rtl({title: "Reward Point - Points Expiration Email"})

block content
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            b(style=`color:#000000;${fontStyle_6B}`) Dear Yen Vu,
            br
            br
            | To view more detalls, please Click
            |
            a(href='https://www.lg.com/uk' target='_blank' rel='noreferrer noopener' title='open in a new tab' style=`${anchor1}`) here
    tr
        td(style=`padding-top:30px;color:#000000;${fontStyle_6B}`)
            | The Transaction detail
    tr
        td(style=`padding-top:16px;color:#333333;${fontStyle_1}`)
            table(cellpadding='0' cellspacing='0' width='100%' border='0' style='width:100%;padding:12px 24px 24px;border:1px solid #CBC8C2;border-radius:10px;')
                tr
                    td(width='220' style='min-width:220px;font-weight:600;padding-top:12px;vertical-align:top;') Transaction amount
                    td(width='10' style='min-width:10px;') &nbsp;
                    td(style='padding-top:12px;vertical-align:top;') 7 point(s)
                tr
                    td(style='font-weight:600;padding-top:12px;vertical-align:top;') Transaction status
                    td(width='10' style='min-width:10px;') &nbsp;
                    td(style='padding-top:12px;vertical-align:top;') Completed
                tr
                    td(style='font-weight:600;padding-top:12px;vertical-align:top;') Current balance
                    td(width='10' style='min-width:10px;') &nbsp;
                    td(style='padding-top:12px;vertical-align:top;') 40 point(s)
                tr
                    td(style='font-weight:600;padding-top:12px;vertical-align:top;') Transaction comment
                    td(width='10' style='min-width:10px;') &nbsp;
                    td(style='padding-top:12px;vertical-align:top;') Earn points for purchasing order #131000024785
                tr
                    td(style='font-weight:600;padding-top:12px;vertical-align:top;') Expiration date
                    td(width='10' style='min-width:10px;') &nbsp;
                    td(style='padding-top:12px;vertical-align:top;') Nov, 26,2022, 3:02:50 AM
    tr
        td(style='padding-top:30px;font-size:0;') &nbsp;
    tr
        td(style=`color:#333333;${fontStyle_1}`)
            | Please update us if anything got you confused, we would be willing it help as soon possible.
            |
            br
            br
            b(style='font-weight:700;') Thank you, LG Electronics!
    tr
        td(style='padding-top:30px;')
            a(href='https://www.lg.com/uk/' target='_blank' rel='noreferrer noopener' style=`${buttonType1}`) Thanks, LG Online Shop
    tr
        td(style='padding-top:40px;font-size:0') &nbsp;
    +addToCart4()

block footer
    +email-footer()
