extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_headline.pug
include ../_common/_image.pug

block meta 
    - var componentId = "CS0112"
    - var componentName = "Scan QR Code"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    //- script(src=componentId+".js")
    script(src=componentId+".js" type="module")

block content

    .guide-text-option Scan
    .c-wrapper.CS0112.type-text
        .component.full.type-form
            .CS0112__container
                // scan qr code
                .c-scan-qr 
                    button(type="button" aria-label="").c-scan-qr__btn-close 
                    .c-scan-qr__focus 
                        .c-scan-qr__focus-unblur
                    +printLazyImage('../../mocks/CS0112/temp_scan.png')
                    .button.c-cta 
                        +defaultButton({name: 'Find my QR code', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(aria-label="")
    
    .guide-text-option msg.
    .c-wrapper.CS0112.type-text
        .component.full.type-form
            .CS0112__container
                // scan qr code
                .c-scan-qr.c-scan-qr__type-msg
                    button(type="button" aria-label="").c-scan-qr__btn-close 
                    .c-scan-qr__msg-box 
                        p Unable to access video stream (please make sure you have a webcam enabled)
                    .button.c-cta 
                        +defaultButton({name: 'Find my QR code', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(aria-label="")
