extends ../_common/_layout.pug
include ../_common/_image.pug
include ../_common/_carousel.pug
include ../_common/_headline.pug
include ../_common/_video.pug
include ../_common/_title-area.pug

block meta
    - var componentId = "ST0019"
    - var componentName = "Gallery 10Pickers"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content
    // An area for testing options when coding.
    // Please do not use it during development.
    .guide
        .grid-1600
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-st.html") List
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        'body' : [
                            {
                                'name' : 'Dark Theme',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'dark-theme'},
                                ]
                            }
                        ],
                        '.c-wrapper' : [
                            {
                                'name' : 'Margin',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'margin-top'},
                                    {'toggle' : true, 'add' : 'margin-bottom'},
                                ]
                            },
                            {
                                'name' : 'Top Border',
                                'buttons' : [
                                    {'toggle' : true, 'add' : 'border-top'},
                                ]
                            },
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                        //- '.c-text-contents__headline' : [
                        //-     {
                        //-         'name' : 'Text Align',
                        //-         'buttons' : [
                        //-             {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                        //-             {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                        //-             {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                        //-         ]
                        //-     }
                        //- ],
                        '.type-gallery .c-text-contents__bodycopy' : [
                            {
                                'name' : 'Text Align',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'align-text-left', 'remove' : 'align-text-center, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-center', 'remove' : 'align-text-left, align-text-right'},
                                    {'toggle' : false, 'add' : 'align-text-right', 'remove' : 'align-text-left, align-text-center'},
                                ]
                            },
                            {
                                'name' : 'Font Options',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'font-regular', 'remove' : 'font-bold'},
                                    {'toggle' : false, 'add' : 'font-bold', 'remove' : 'font-regular'},
                                    {'toggle' : true, 'add' : 'font-italic'},
                                    {'toggle' : true, 'add' : 'font-underline'},
                                ]
                            }
                        ],
                    };

    mixin galleryItem(type, text = true)
        .cmp-carousel__item.swiper-slide

            .c-gallery-picture
                .c-gallery-inner
                    case type
                        when 1
                            .image.c-image
                                .cmp-image(data-cmp-data-layer='')
                                    img.c-image__img(src='https://via.placeholder.com/952x620/999999/333333/?text=952x620', alt='', loading="lazy")
                            +floating-video("brightcove")
                        when 2
                            .image.c-image
                                .cmp-image(data-cmp-data-layer='')
                                    img.c-image__img(src='https://via.placeholder.com/952x620/999999/333333/?text=952x620', alt='', loading="lazy")
                            +floating-video("youtube")
                        when 3
                            .image.c-image
                                .cmp-image(data-cmp-data-layer='')
                                    img.c-image__img(src='https://via.placeholder.com/500x620/999999/333333/?text=500x620', alt='', loading="lazy")
                        when 4
                            .image.c-image
                                .cmp-image(data-cmp-data-layer='')
                                    img.c-image__img(src='https://via.placeholder.com/1440x850/999999/333333/?text=1440x850', alt='', loading="lazy")
                            +floating-video("youtube")
                        default
                            .image.c-image
                                .cmp-image(data-cmp-data-layer='')
                                    img.c-image__img(src='https://via.placeholder.com/952x620/999999/333333/?text=952x620', alt='', loading="lazy")
            .c-gallery-text
                if text 
                    .text.c-text-contents
                        .cmp-text.c-text-contents__bodycopy(data-cmp-data-layer="") 
                            // 20223-01-13 change font size
                            p.font-w-normal-24.font-m-normal-16 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                else
        if block
            block

    mixin thumbItem(type)
        case type
            when 1
                .cmp-carousel__item.swiper-slide.video-thumb
                    .image.c-image
                        .cmp-image(data-cmp-data-layer='')
                            img.c-image__img(src='https://via.placeholder.com/220x140/999999/333333/?text=220x140', alt='', loading="lazy")
            when 2
                .cmp-carousel__item.swiper-slide.video-thumb
                    .image.c-image
                        .cmp-image(data-cmp-data-layer='')
                            img.c-image__img(src='https://via.placeholder.com/220x140/999999/333333/?text=220x140', alt='', loading="lazy")
            when 3
                .cmp-carousel__item.swiper-slide.video-thumb
                    .image.c-image
                        .cmp-image(data-cmp-data-layer='')
                            img.c-image__img(src='https://via.placeholder.com/100x140/999999/333333/?text=100x140', alt='', loading="lazy")
            when 4
                .cmp-carousel__item.swiper-slide
                    .image.c-image
                        .cmp-image(data-cmp-data-layer='')
                            img.c-image__img(src='https://via.placeholder.com/100x140/999999/333333/?text=100x140', alt='', loading="lazy")
            default
                .cmp-carousel__item.swiper-slide
                    .image.c-image
                        .cmp-image(data-cmp-data-layer='')
                            img.c-image__img(src='https://via.placeholder.com/220x140/999999/333333/?text=220x140', alt='', loading="lazy")
        if block
            block
    
    // Component Markup
    .guide-text-type Type 1. Gallery
    .guide-text-option 10 Pickers
    .c-wrapper.ST0019.type-gallery.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    headline : {
                        style: 'font-w-light-56 font-m-light-28',
                        text : "Lorem ipsum dolor sit amet"
                    },
                })
                //- .title.c-text-contents
                //-     +headline('cmp-title c-text-contents__headline font-w-semibold-40 font-m-semibold-26')
                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem
                                +galleryItem(1, false)
                                +galleryItem(1)
                                +galleryItem(0, false)
                                +galleryItem(2)
                                +galleryItem
                                +galleryItem
                                +galleryItem
                                +galleryItem
                                +galleryItem
                        .cmp-carousel.swiper.c-carousel.c-carousel--thumbnail(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +thumbItem
                                +thumbItem(1)
                                +thumbItem(1)
                                +thumbItem
                                +thumbItem(2)
                                +thumbItem
                                +thumbItem
                                +thumbItem
                                +thumbItem
                                +thumbItem
                        .c-carousel__handler
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination()
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

    .guide-text-option Less than 5 Pickers
    .c-wrapper.ST0019.type-gallery.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    headline : {
                        style: 'font-w-light-56 font-m-light-28',
                        text : "Lorem ipsum dolor sit amet"
                    },
                })
                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem
                                +galleryItem(1, false)
                                +galleryItem(1)
                        .cmp-carousel.swiper.c-carousel.c-carousel--thumbnail(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +thumbItem
                                +thumbItem(1)
                                +thumbItem(1)
                        .c-carousel__handler
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination()
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

    mixin multimedia-download
        .c-attached-file__download
            p.font-w-normal-16.font-m-normal-14.c-attached-file__title Download :
            // 2023-01-27 : Add role to download link for tagging
            a.c-attached-file__item.total(href="#", target="_blank", role="button")
                span.font-w-normal-14.font-m-normal-14 9
            span.c-divider
            // 2023-01-27 : Add role to download link for tagging
            a.c-attached-file__item.zip(href="#", target="_blank", role="button")
                span.font-w-normal-14.font-m-normal-14 ZIP

    .guide-text-type Type 2. Gallery (Download)
    .c-wrapper.ST0019.type-download.margin-top.margin-bottom.bg-default
        .component
            .cmp-container
                +component-title-area({
                    headline : {
                        style: 'font-w-light-56 font-m-light-28',
                        text : "Lorem ipsum dolor sit amet"
                    },
                })
                .c-text-contents.c-attached-file
                    .c-attached-file__container
                        .font-w-normal-16.font-m-normal-16
                            | 9 Images
                        +multimedia-download
                .c-gallery.c-gallery-container
                    .carousel.panelcontainer
                        .cmp-carousel.swiper.c-carousel.c-carousel--gallery(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +galleryItem(3)
                                +galleryItem(4)
                                +galleryItem(1, false)
                                +galleryItem(1)
                                +galleryItem(2)
                                +galleryItem(0, false)
                        .cmp-carousel.swiper.c-carousel.c-carousel--thumbnail(data-cmp-data-layer="")
                            .cmp-carousel__content.swiper-wrapper
                                +thumbItem(3)
                                +thumbItem(4)
                                +thumbItem(1)
                                +thumbItem(1)
                                +thumbItem(2)
                                +thumbItem
                        .c-carousel__handler
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"prev"})
                            +carouselPagination()
                            .cmp-carousel__actions
                                +carouselBtn({type:"pagination", direction:"next"})

