extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_pop-msg.pug
include ../_common/_cart-price-total.pug

block meta 
    - var componentId = "ML000D"
    - var componentName = "Order Details"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

mixin myOrder(params)
    - let data = {...params}
    .my-order
        .my-order__txt 
            .font-w-normal-16.font-m-normal-12 No. 
                span !{data.orderNumber}
            .font-w-normal-16.font-m-normal-12 Date 
                span !{data.date}
        if data.linkText
            +linkButton({type:"text", icon:true, color:"red", name:data.linkText})

mixin buyProductPrice(params)
    - var priceStyle = params.priceFontStyle || "font-w-semibold-20 font-m-semibold-16"
    - var subPriceStyle = params.subPriceFontStyle || "font-w-normal-14i font-m-normal-12"
    - var soldOutStyle = params.soldOutFontStyle || "font-w-semibold-18 font-m-semibold-18"
    .price-area
        .price-box 
            .c-price(class=`${priceStyle}`)
                .c-price__purchase= params.purchase
                if params.qty
                    .c-qty.font-w-normal-16.font-m-normal-12 Qty : !{params.qty}
    //- [Start] 2023-09-13 : ADD- Includes $15 EHF fee
    if params.includeEHF
        span.price-area--EHF-fee.font-w-normal-16.font-m-normal-12 !{params.includeEHF}
    //- [End] 2023-09-13 : ADD- Includes $15 EHF fee

mixin buyProductBundlePrice(params)
    - var priceStyle = params.priceFontStyle || "font-w-semibold-18 font-m-semibold-14"
    - var subPriceStyle = params.subPriceFontStyle || "font-w-normal-14i font-m-normal-12"
    - var soldOutStyle = params.soldOutFontStyle || "font-w-semibold-18 font-m-semibold-18"
    .price-area
        .price-box 
            .c-price(class=`${priceStyle}`)
                .c-price__purchase= params.purchase
                if params.qty
                    .c-qty.font-w-normal-14.font-m-normal-12 Qty : !{params.qty}

mixin productMsg(params)
    - let data = { ...params }
    .buy-cart-list__msg 
        span.font-w-normal-16.font-m-normal-14 !{data.msg}
            if data.msgLink
                +linkButton({type:"text",color:`${data.msgLinkColor ? data.msgLinkColor : "black"}`, underline:true, name:data.msgLink})


mixin buyProductItemBundle(params)
    // [Start] 2023-05-23 : ADD- Change Delivery Case
    - let data = { ...params }
    .c-product-item__bundle-wrap
        .c-product-item
            .c-product-item__top-container
                .c-product-item__visual-image
                    a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="").image.c-image
                        +printLazyImage("https://via.placeholder.com/64x64/999999/333333")
            .c-product-item__bottom-container
                .c-product-item__bottom-container__text-box
                    .c-text-contents.c-product-item__layout
                        a(href="#" class="c-product-item__landing" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                            .text.c-text-contents__eyebrow.sku
                                if data.name
                                    .cmp-text(data-cmp-data-layer="" class="font-w-normal-12 font-m-normal-12")
                                        p
                                            span= data.name
                            if data.plag
                                .text.c-text-contents__plag 
                                    span.font-w-bold-12.font-m-bold-10.font-white= data.plag
                            .text.c-text-contents__headline
                                .cmp-text(data-cmp-data-layer="" class="font-w-normal-16 font-m-normal-14") 
                                    p= `${data.title ? `${data.title}` : "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"}`
                            if data.warrantyinfo 
                                .c-text-contents__warrantyinfo 
                                    each set in data.warrantyinfo
                                        .c-text-contents__warrantyinfo__box
                                            span.font-w-normal-16.font-m-normal-12.c-text-contents__warrantyinfo__title !{set.title} :
                                            span.font-w-normal-16.font-m-normal-12.c-text-contents__warrantyinfo__text !{set.text}
                        if data.purchase
                            +buyProductBundlePrice({installment: data.installment, discount: `${data.discount ? '20% off' : ''}`, purchase: `${data.purchase ? data.purchase : '£1,866.98'}`, priceInstallment: data.priceInstallment, purchase: data.purchase, qty: data.qty, previousPrice: data.previousPrice, discount: data.discount, membership: data.membership})
                    if data.deliveryStepNum || data.btnTrackOrder || data.btnReview || data.btnReturn
                        div.c-product-item__bottom-container__other
                            if data.deliveryStepNum
                                div.c-product-item__bottom-container__other--installaion
                                    if data.deliveryStepNum < 5
                                        .c-text-contents.c-installaion-text
                                            .font-w-normal-16.font-m-normal-12 !{data.deliveryNotice}
                                                if data.deliveryNoticeBoldDate 
                                                    span.c-installaion-text__bold !{data.deliveryNoticeBoldDate}
                                                    span )
                                    .delivery-box
                                        if data.deliveryStepText
                                            div(class=`delivery-step__item__step-text delivery-step--active-0${data.deliveryStepNum}`)
                                                .c-text-contents
                                                    span.font-w-normal-16.font-m-normal-12 !{data.deliveryStepText}
                                        ul(class=`delivery-step delivery-step--active-0${data.deliveryStepNum}`)
                                            - for(i=1; i<=5; i++)
                                                if data.deliveryStepNum == i
                                                    li.delivery-step__item.delivery-step__item--active
                                                else 
                                                    li(class="delivery-step__item")
                            if data.btnTrackOrder || data.btnReview || data.btnReturn
                                .c-button.button 
                                    if data.btnTrackOrder
                                        +linkButton({type:"text", color:"black", icon:true, name:"Track My Order", class:"c-button--track"})
                                    if data.btnReview
                                        +linkButton({type:"text", color:"black", icon:true, name:"Write a Review"})
                                    if data.btnReturn
                                        +linkButton({href:"#returnOrder", class:"js-pop-open", type:"text", color:"black", icon:true, name:"Return", roleButton:"true"})
        if data.changeDeliveryDate
            each set in data.changeDeliveryDate
                .c-product-item--change-date 
                    .c-text-contents.c-product-item--change-date__title 
                        .c-product-item--change-date__title__noti.font-w-normal-16.font-m-normal-12 !{set.notice}
                            if set.btnExpectedDeliveryDate
                                .c-product-item--change-date__btn-box.c-button.button
                                    a.cmp-button.c-button.medium.c-button--text-underline.js-pop-open(href="#historyTablePopup", data-cmp-data-layer="",role="button")
                                        span.c-product-item--change-date__title__underline.cmp-button__text.c-button__text.font-w-normal-16.font-m-normal-12 !{set.underline}
                                            em.c-product-item--change-date__title__date.font-w-bold-16.font-m-bold-12 !{set.date}
                            else                        
                                span.c-product-item--change-date__title__underline.font-w-normal-16.font-m-normal-12 !{set.underline}
                                    em.c-product-item--change-date__title__date.font-w-bold-16.font-m-bold-12 !{set.date}
                    if set.btnchangeDeliveryDate
                        .c-product-item--change-date__btn-box.c-button.button
                            +linkButton({href:"#CalendarPopup", class:"js-pop-open c-button__calendar", type:"box", color:"white", icon:true, name: "Change Delivry Date", roleButton: true})(role="button")
    // [End] 2023-05-23 : ADD- Change Delivery Case

mixin buyProductItem(params)
    - let data = { ...params }
    .c-product-item
        div(class=`${data.warrantyinfo ? 'c-product-item__top-container c-product-item__top-container--warranty' : 'c-product-item__top-container'}`)
            .c-product-item__visual-image
                a(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="").image.c-image
                    +printLazyImage("https://via.placeholder.com/100x100/999999/333333")
        .c-product-item__bottom-container(class=`${data.warrantyinfo ? 'c-product-item__bottom-container--warranty' : ''}`)
            .c-product-item__bottom-container__text-box
                .c-text-contents.c-product-item__layout
                    // [Start] 2023-04-24 : ADD - cancel case
                    if data.tagType &&  data.tagText
                        .c-text-contents__tag(class=`c-text-contents__tag--${data.tagType}`)
                            i.c-text-contents__tag__icon= data.tagText
                            span.c-text-contents__tag__text= data.tagText
                    // [End] 2023-04-24 : ADD - cancel case
                    a(href="#" class="c-product-item__landing" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                        .text.c-text-contents__eyebrow.sku
                            if data.name
                                .cmp-text(data-cmp-data-layer="" class="font-w-normal-16 font-m-normal-12")
                                    p
                                        span= data.name
                        .text.c-text-contents__headline
                            .cmp-text(data-cmp-data-layer="" class="font-w-normal-20 font-m-normal-16") 
                                p= `${data.title ? `${data.title}` : "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"}`
                    if data.warrantyinfo 
                        .c-text-contents__warrantyinfo 
                            each set in data.warrantyinfo
                                .c-text-contents__warrantyinfo__box
                                    span.font-w-normal-16.font-m-normal-12.c-text-contents__warrantyinfo__title !{set.title} :
                                    span.font-w-normal-16.font-m-normal-12.c-text-contents__warrantyinfo__text !{set.text}
                    +buyProductPrice({installment: data.installment, discount: `${data.discount ? '20% off' : ''}`, purchase: `${data.purchase ? data.purchase : '£1,866.98'}`, priceInstallment: data.priceInstallment, purchase: data.purchase, qty: data.qty, previousPrice: data.previousPrice, discount: data.discount, membership: data.membership, includeEHF : data.includeEHF})
                if data.deliveryStepNum || data.btnTrackOrder || data.btnReview || data.btnReturn
                    div.c-product-item__bottom-container__other
                        if data.deliveryStepNum
                            div.c-product-item__bottom-container__other--installaion
                                if data.deliveryStepNum < 5
                                    .c-text-contents.c-installaion-text
                                        .font-w-normal-16.font-m-normal-12 !{data.deliveryNotice}
                                            if data.deliveryNoticeBoldDate 
                                                span.c-installaion-text__bold !{data.deliveryNoticeBoldDate}
                                                span )
                                .delivery-box
                                    if data.deliveryStepText
                                        div(class=`delivery-step__item__step-text delivery-step--active-0${data.deliveryStepNum}`)
                                            .c-text-contents
                                                span.font-w-normal-16.font-m-normal-12 !{data.deliveryStepText}
                                    ul(class=`delivery-step delivery-step--active-0${data.deliveryStepNum}`)
                                        - for(i=1; i<=5; i++)
                                            if data.deliveryStepNum == i
                                                li.delivery-step__item.delivery-step__item--active
                                            else 
                                                li(class="delivery-step__item")
                        if data.btnTrackOrder || data.btnReview || data.btnReturn
                            //- .c-button__box
                            .c-button.button 
                                if data.btnTrackOrder
                                    +linkButton({type:"text", color:"black", icon:true, name:"Track My Order", class:"c-button--track"})
                                if data.btnReview
                                    +linkButton({type:"text", color:"black", icon:true, name:"Write a Review"})
                                if data.btnReturn
                                    +linkButton({href:"#returnOrder", class:"js-pop-open", type:"text", color:"black", icon:true, name:"Return", roleButton:"true"})
                if data.completed
                    each set in data.completed
                        div.c-product-item__bottom-container__completed(class=`completed--${set.completedType}`)
                            .c-text-contents.c-installaion-text
                                span.font-w-normal-16.font-m-normal-12 !{set.completedTxt}
    if data.return
        .c-product-item--return 
            .c-text-contents.c-product-item--return__title 
                .font-w-normal-20.font-m-normal-16 Return
            each set in data.return 
                .c-product-item--return__desc 
                    .c-text-contents.c-product-item--return__qty 
                        .font-w-normal-16.font-m-normal-14 Qty : !{data.qty} /
                    .c-text-contents.c-product-item--return__status 
                        .font-w-normal-16.font-m-normal-14 !{set.returnStatus} /
                    .c-text-contents.c-product-item--return__num 
                        if set.isReturnNumLink 
                            a.font-w-normal-16.font-m-normal-14(href=set.returnNumLinkUrl data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") !{set.returnNum}
                        else
                            .font-w-normal-16.font-m-normal-14 !{set.returnNum}
    // [Start] 2023-05-23 : ADD- Change Delivery Case
    if data.changeDeliveryDate
        each set in data.changeDeliveryDate
            .c-product-item--change-date 
                .c-text-contents.c-product-item--change-date__title 
                    .c-product-item--change-date__title__noti.font-w-normal-16.font-m-normal-12 !{set.notice}
                        if set.btnExpectedDeliveryDate
                            .c-product-item--change-date__btn-box.c-button.button
                                a.cmp-button.c-button.medium.c-button--text-underline.js-pop-open(href="#historyTablePopup", data-cmp-data-layer="",role="button")
                                    span.c-product-item--change-date__title__underline.cmp-button__text.c-button__text.font-w-normal-16.font-m-normal-12 !{set.underline}
                                        em.c-product-item--change-date__title__date.font-w-bold-16.font-m-bold-12 !{set.date}
                        else                        
                            span.c-product-item--change-date__title__underline.font-w-normal-16.font-m-normal-12 !{set.underline}
                                em.c-product-item--change-date__title__date.font-w-bold-16.font-m-bold-12 !{set.date}
                if set.btnchangeDeliveryDate
                    .c-product-item--change-date__btn-box.c-button.button
                        +linkButton({href:"#CalendarPopup", class:"js-pop-open c-button__calendar", type:"box", color:"white", icon:true, name: "Change Delivry Date", roleButton: true})(role="button")
    // [End] 2023-05-23 : ADD- Change Delivery Case
    if data.msg
        +productMsg(data)
    if data.bundle
        .c-product-item__bundle
            .c-product-item__bundle__items
                each set in data.bundle 
                        +buyProductItemBundle(set)

mixin buyCartList(params)
    - let data = { ...params }
    //- block : Buy Directly From LG
    .c-product-directly.c-medium-size
        //- .c-product-directly-item
        div(class=`${data.warrantyinfo ? 'c-product-directly-item c-product-directly-item--warranty' : 'c-product-directly-item'}`)
            +buyProductItem(params)

mixin myOrderDetail(params)
    - let data = { ...params }
    .my-orderDetail
        ul
            each set in data
                li
                    .c-text-contents__title
                        span.font-w-normal-16.font-m-normal-12= set.title
                    .c-text-contents__bodycopy
                        span.font-w-normal-24.font-m-normal-16 !{set.bodycopy}

mixin myShipping(params)
    .my-shipping
        ul  
            each set in params
                - let minixContents = []
                - for( let i = 0; i < Object.keys(set).length; i++ )
                    if Object.keys(set)[i] !== 'title' && Object.values(set)[i]
                        - minixContents.push(`<p class='font-w-normal-16 font-m-normal-14'>${Object.values(set)[i]}</p>`)
                li
                    if set.title
                        .c-text-contents__title
                            span.font-w-bold-10.font-m-bold-10= set.title
                    .c-text-contents__bodycopy!= minixContents.join("")

mixin myOrderItemInfo(params)
    - let data = {...params}
    .order-item-warp
        .order-item
            .order-item__image
                .image.c-image
                    +printLazyImage("https://via.placeholder.com/100x100/999999/333333")
            .order-item__info-text
                .order-item__code 
                    .c-text-contents
                        .c-text-contents__bodycopy
                            span.font-w-normal-16.font-m-normal-12 !{data.code} 
                .order-item__name 
                    .c-text-contents
                        .c-text-contents__bodycopy
                            span.font-w-normal-20.font-m-normal-16 !{data.name}

mixin checkoutOrderTotal(params)
    - let data = {...params}
    .buy-summary-area__payment.buy-summary-area__payment--guest
        .orderd-confirm-summery
            .orderd-confirm-summery__total 
                .c-text-contents.align-text-left.orderd-confirm-summery__total__total-title
                    .title.c-text-contents__bodycopy
                        span.cmp-text.font-w-semibold-24.font-m-semibold-20 Total
                .c-text-contents.align-text-left.orderd-confirm-summery__total__total-num
                    .title.c-text-contents__bodycopy
                        span.cmp-text.font-w-semibold-24.font-m-semibold-20= data.total
            .orderd-confirm-summery__list        
                +price-info({emphasis : false, useTooltip : false, bold : true, name : "Subtotal (Tax included)", price : "£4,199.96"})
                +price-info({emphasis : true, useTooltip : false, bold : true, name : "Discount", price : "£18.00", detail: [{"Welcome Coupon" : "£18.00"}]})
                +price-info({emphasis : false, useTooltip : false, bold : true, name : "Tax", price : "£419.99", detail: [{"VAT (20%)" : "£293.99"},{"WEEE Fee" : "£50.00"}]})
                +price-info({emphasis : false, useTooltip : false, bold : true, name : "Delivery + installation", price : "£0.00", detail: [{"OLW480B" : "£293.99"},{"TONE-UFP8+OLW480B" : "£50.00"}]})
                +price-info({emphasis : false, useTooltip : false, bold : true, type: "service",  name : "Service charge", price : "£0.00", detail: [{"Haul-away" : "£18.00"}]})
            if data.paymentMethod
                .orderd-confirm-summery__card
                    .c-text-contents.align-text-left
                        .c-text-contents__bodycopy
                            span.cmp-text.font-w-semibold-18.font-m-semibold-14 !{data.paymentMethod}
                    if data.cardType || data.cardNum || data.cardPeriod
                        .orderd-confirm-summery__card__detail
                            .orderd-confirm-summery__card__card-info.orderd-confirm-summery__card__card-info--left
                                div(class=`orderd-confirm-summery__card__card-info__thumb orderd-confirm-summery__card__card-info__thumb--${data.cardType}`)
                                .orderd-confirm-summery__card__card-info__text
                                    .c-text-contents.align-text-left
                                        .c-text-contents__bodycopy
                                            span.cmp-text.font-w-normal-16.font-m-normal-16 !{data.cardType}
                                            span.cmp-text.font-w-normal-16.font-m-normal-16 !{data.cardNum}
                            .orderd-confirm-summery__card__card-info.orderd-confirm-summery__card__card-info--right
                                .orderd-confirm-summery__card__card-info__text
                                    .c-text-contents.align-text-right
                                        .c-text-contents__bodycopy
                                            span.cmp-text.font-w-normal-16.font-m-normal-16 !{data.cardPeriod}

mixin errorMsg(params)
    - let data = {...params}
    ul.error-content-msg
        each set in data
            li.error-content-msg__item(class=`error-content-msg__item--${set.title}`)
                .error-content-msg__container
                    i.error-content-msg__icon(class=`error-content-msg__icon--${set.title}`)
                        span.sr-only= set.title
                    .error-content-msg__title.font-w-normal-12.font-m-normal-12= set.text
                button(type='button' class='error-content-msg__remove')
                    span.sr-only remove

mixin ML000D
    .c-wrapper.ML000D
        .component
            .fluid-container
                //- display product image
                .my-component.align-text-left
                    .c-text-contents
                        .text.c-text-contents__headline 
                            +headline("font-w-light-56 font-m-light-28", "h2", "Order Details")
                .my-component.my-summary-area
                    .my-summary-area__primary
                        +myOrder({orderNumber:"795987950587", date:"21 Jan. 2023"})
                        .buy-cart-list
                            // [Start] 2023-09-13 : ADD- Includes $15 EHF fee
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '1',
                                    name: "OLW480B",
                                    title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    deliveryStepNum:"5",
                                    deliveryStepText:"Delivery Completed",
                                    btnReview:false,
                                    btnReturn:false,
                                    includeEHF: "Includes $15 EHF fee",
                                    changeDeliveryDate: [{
                                        notice: "Delivery only",
                                        underline: "Expected Dlivery Date ",
                                        date: "02/01/2023",
                                        btnExpectedDeliveryDate : true,
                                        btnchangeDeliveryDate: false,
                                    }],
                                })
                            // [End] 2023-09-13 : ADD- Includes $15 EHF fee
                            // [Start] 2024-03-20 : ADD- Warranty / Service
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '1',
                                    title: "LG Premium Care 2 Year",
                                    warrantyinfo : [
                                        {
                                            title: "Model number", 
                                            text: "LRMVS2806S",
                                        },
                                        {
                                            title: "Serial number ", 
                                            text: "706RMHR3C001",
                                        }
                                    ],
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    completed: [
                                        {
                                            completedType: 'Delivery',
                                            completedTxt: 'Delivery completed',
                                        }
                                    ]
                                })
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '1',
                                    title: "Combis door change of direction service",
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    completed: [
                                        {
                                            completedType: 'Delivery',
                                            completedTxt: 'Delivery completed',
                                        }
                                    ]
                                })
                            // [End] 2024-03-20 : ADD- Warranty / Service
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '1',
                                    name: "OLW480B",
                                    title: "Combis door change of direction service",
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    deliveryStepNum:"5",
                                    deliveryStepText:"Delivery Completed",
                                    btnReview:false,
                                    btnReturn:true,
                                })
                            // [Start] 2023-05-23 : ADD- Change Delivery Case
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '2',
                                    name: "OLW480B",
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    deliveryStepNum:"2",
                                    deliveryStepText:"Preparing for Delivery",
                                    btnTrackOrder:true,
                                    installment: 2,
                                    changeDeliveryDate: [{
                                        notice: "Delivery + Installation",
                                        underline: "Expected Dlivery Date ",
                                        date: "02/01/2023",
                                        btnExpectedDeliveryDate : true,
                                        btnchangeDeliveryDate: false,
                                    }],
                                })
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '3',
                                    name: "OLW480B",
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    deliveryStepNum:"2",
                                    deliveryStepText:"Preparing for Delivery",
                                    btnTrackOrder:true,
                                    installment: 2,
                                    changeDeliveryDate: [{
                                        notice: "Delivery + Installation",
                                        underline: "Expected Dlivery Date ",
                                        date: "02/01/2023",
                                        btnExpectedDeliveryDate : false,
                                        btnchangeDeliveryDate: false,
                                    }],
                                })
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '3',
                                    name: "OLW480B",
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    deliveryStepNum:"2",
                                    deliveryStepText:"Preparing for Delivery",
                                    btnTrackOrder:true,
                                    installment: 2,
                                    changeDeliveryDate: [{
                                        notice: "Delivery + Installation",
                                        underline: "Expected Dlivery Date ",
                                        date: "02/01/2023",
                                        btnExpectedDeliveryDate : false,
                                        btnchangeDeliveryDate: true,
                                    }],
                                })
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '3',
                                    name: "OLW480B",
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    deliveryStepNum:"2",
                                    deliveryStepText:"Preparing for Delivery",
                                    btnTrackOrder:true,
                                    installment: 2,
                                    changeDeliveryDate: [{
                                        notice: "Delivery + Installation",
                                        underline: "Expected Dlivery Date ",
                                        date: "02/01/2023",
                                        btnExpectedDeliveryDate : true,
                                        btnchangeDeliveryDate: true,
                                    }],
                                })
                            // [End] 2023-05-23 : ADD- Change Delivery Case
                            .buy-cart-list__item
                                +buyCartList({
                                    id : '1',
                                    name: "OLW480B",
                                    title: "LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)",
                                    purchase: '£2,099.98',
                                    qty: "1",
                                    deliveryStepNum:"5",
                                    deliveryStepText:"Delivery Completed",
                                    return: [
                                        {
                                            returnStatus:"Return approved",
                                            returnNum:"88000000777",
                                            isReturnNumLink:true,
                                            returnNumLinkUrl:"#",
                                        },
                                        {
                                            returnStatus:"Return approved",
                                            returnNum:"88000000776",
                                            isReturnNumLink:true,
                                            returnNumLinkUrl:"#",
                                        },
                                    ], 
                                })
                        
                        .buy-cart-invoice
                            .text.c-text-contents__title.my-component__title-section
                                .font-w-normal-32.font-m-normal-20 Invoice
                            ul.buy-cart-invoice__box
                                li.font-w-normal-24.font-m-normal-16
                                    +textButton({name: 'Credit note', wSize: 'large', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: false})
                                    span 2024-04-01
                                li.font-w-normal-24.font-m-normal-16
                                    +textButton({name: 'Invoice', wSize: 'large', mSize: 'medium', buttonStyle: 'default', underline : true, isButton: false})
                                    span 2024-04-01
                        +productMsg({
                            msg: "Canceling an order is always possible so long as it has not yet been shipped. If you need help with your order, please ",
                            msgLink: "contact us",
                            msgLinkColor: "black",
                        })

                        //- .buy-cart-list__bottom-btn         
                        //-     .c-button.button
                        //-         +defaultButton({name: 'Invoice', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})(href="#")
                                                        
                    .my-summary-area__secondary
                        span.my-summary-area__secondary__title Shipping
                        +myShipping([
                            {
                                title:"SHIPPING",
                                name:"Robert Surrency", 
                                address:"Gv Globus, 776 Buckingham Avenue, Slough, Berkshire, SL1 4NL, United Kingdom", 
                                zipcode:"(415) 123-4560",
                            },
                            {
                                title:"BILLING",
                                name:"Robert Surrency", 
                                address:"Unit 5 Devonshire Court, Victoria Road, Feltham, Middlesex, TW13 7LU, United Kingdom", 
                                zipcode:"(415) 123-4560",
                            },
                        ])
                        //- +myShipping([
                        //-     {
                        //-         name:"Robert Surrency", 
                        //-         address:"Gv Globus, 776 Buckingham Avenue, Slough, Berkshire, SL1 4NL, United Kingdom", 
                        //-         zipcode:"(415) 123-4560",
                        //-     },
                        //- ])
                        span.my-summary-area__secondary__title Payment
                        //- +cartPriceTotal([
                        //- {
                        //-     isStickyBottom: false,
                        //-     isMobileBottomFixed: false,
                        //-     useToggleFoldBtn: false,
                        //-     taxInclude:true,
                        //-     discount: true,
                        //-     delivery: true,
                        //-     service: true,
                        //-     point: true,
                        //-     asidePaymentInfo: 'Credit Card',
                        //-     taxIncludeCN: true,
                        //-     taxIncludeVN: true,
                        //-     taxIncludeJP: true,
                        //-     taxIncludeCA:true,
                        //-     discountCN:true,
                        //-     discountVN: true,
                        //-     deliveryCN: true,
                        //-     deliveryVN: true,
                        //-     deliveryTH: true,
                        //-     deliveryCO: true,
                        //- },
                        //- ])
                        // RO CA-British Columbia, Quebec, New Brunswick
                        .cart-price-total
                            .c-product-price-sticky
                                .c-product-price-information.web
                                    .c-product-price-information__inner
                                        .button.c-product-price-information__btn-toggle
                                            button.cmp-button(aria-controls="productPriceDetailInformation" aria-expanded="true" data-cmp-data-layer="")
                                                span.cmp-button__text.sr-only open/close
                                        .c-product-total-price
                                            .c-product-total-price__box
                                                .text.c-product-total-price__text
                                                    .cmp-text.font-w-normal-32.font-m-semibold-20(data-cmp-data-layer="")
                                                        p Grand total
                                                .text.c-product-total-price__num
                                                    span.cmp-text.font-w-semibold-32.font-m-semibold-20(data-cmp-data-layer="")
                                                        strong $N,NNN.NN
                                        .buy-total__container.buy-total__container--discount-sapce
                                            .text.c-price-box.font-w-normal-24.font-m-normal-16(id="productPriceDetailInformation")
                                                .c-price-box__item.c-price-box__item--list
                                                    .c-price-info.c-price-info__subject
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            p Subtotal(Tax included)
                                                        .c-price-info__price.cmp-text.font-w-normal-20.font-m-semibold-14(data-cmp-data-layer="")
                                                            p $N,NNN.NN
                                                    .c-price-info.c-price-info__subject.font-red.font-semibold.c-price-info__discount
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            p Discount
                                                        .c-price-info__price.cmp-text.font-w-normal-20.font-m-semibold-14.font-red(data-cmp-data-layer="")
                                                            p -$NNN.NN
                                                    .c-price-info-detail
                                                        .c-price-info-detail__name.cmp-name.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                                            span Coupon
                                                        .c-price-info-detail__price.cmp-price.font-w-semibold-16.font-m-semibold-14(data-cmp-data-layer="")
                                                            span -$NNN.NN
                                                    .c-price-info.c-price-info__subject
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            p Delivery
                                                        .c-price-info__price.cmp-text.font-w-normal-20.font-m-semibold-14(data-cmp-data-layer="")
                                                            p Free
                                                    .c-price-info.c-price-info__subject
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            p Service charge
                                                        .c-price-info__price.cmp-text.font-w-normal-20.font-m-semibold-14(data-cmp-data-layer="")
                                                            p $NN.NN
                                                    .c-price-info-detail
                                                        .c-price-info-detail__name.cmp-name.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                                            span Haul-away
                                                        .c-price-info-detail__price.cmp-price.font-w-semibold-16.font-m-semibold-14(data-cmp-data-layer="")
                                                            span $NN.NN
                                                    // RO CA British Columbia
                                                    .c-price-info.c-price-info__subject
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            p Taxes
                                                        .c-price-info__price.cmp-text.font-w-normal-20.font-m-semibold-14(data-cmp-data-layer="")
                                                            p $NNN.NN
                                                    .c-price-info-detail
                                                        .c-price-info-detail__name.cmp-name.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                                            span PST+GST
                                                        .c-price-info-detail__price.cmp-price.font-w-semibold-16.font-m-semibold-14(data-cmp-data-layer="")
                                                            span $NNN.NN
                                                    // RO CA Quebec
                                                    .c-price-info.c-price-info__subject
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            p Taxes
                                                        .c-price-info__price.cmp-text.font-w-normal-20.font-m-semibold-14(data-cmp-data-layer="")
                                                            p $NNN.NN
                                                    .c-price-info-detail
                                                        .c-price-info-detail__name.cmp-name.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                                            span QST+GST
                                                        .c-price-info-detail__price.cmp-price.font-w-semibold-16.font-m-semibold-14(data-cmp-data-layer="")
                                                            span $NNN.NN
                                                    // RO CA New Brunswick
                                                    .c-price-info.c-price-info__subject
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            p Taxes
                                                        .c-price-info__price.cmp-text.font-w-normal-20.font-m-semibold-14(data-cmp-data-layer="")
                                                            p $NNN.NN
                                                    .c-price-info-detail
                                                        .c-price-info-detail__name.cmp-name.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                                            span HST+GST
                                                        .c-price-info-detail__price.cmp-price.font-w-semibold-16.font-m-semibold-14(data-cmp-data-layer="")
                                                            span $NNN.NN
                                                    // RO CA
                                                    .c-price-info.c-price-info__subject
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            .infoTooltipWrap 
                                                                .c-price__plus.font-black EHF
                                                                .infoTooltipArea
                                                                    button.btnInfoTooltip 
                                                                        span.hidden Infomation 
                                                                    .infoTooltipNote Please note, the EHF fee associated with this item is based on the delivery address postal code. For more details on the EHF fee visit.
                                                                        .linkMore
                                                                            a Learn More    
                                                                        span.bottomArrow
                                                                        button.btnClose 
                                                                            span.hidden close
                                                        .c-price-info__price.cmp-text.font-w-normal-20.font-m-semibold-14(data-cmp-data-layer="")
                                                            p $NNN.NN
                                                    .c-price-info.c-price-info__subject.c-price-info--payment-info
                                                        .c-price-info__title.cmp-text(data-cmp-data-layer="")
                                                            p Credit Card

block content
    // Component Markup
    +ML000D


block modal

block modal
    //- [Start] 2023-05-23 : ADD- Change Delivery Case
    // Pop-up Calendar
    .mem-modal
        +pop-msg-standard({id : `CalendarPopup`, size: "large"})
            .Buy-calendar
                .Buy-calendar__box
                .button.Buy-calendar__button
                    +button({type:"box", color:"red", size:"medium", name: "Save", class: "js-close--btn"})
                // [start] have to delete that case is dev
                .button.Buy-calendar__button
                    +linkButton({href:"#changeCompleted", class:"js-pop-open", type:"text", color:"black", icon:true, name:"Change completed", roleButton:"true"})
                    +linkButton({href:"#changeCompletedFailed", class:"js-pop-open", type:"text", color:"black", icon:true, name:"Error case", roleButton:"true"})
                // [End] have to delete that case is dev

    // Pop-up Change history
    +pop-msg-standard({id : `historyTablePopup`, size: "large"})
        .c-pop-msg__contents
            .c-text-contents.c-pop-msg__contents__text-box 
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__title
                    .cmp-text.font-m-normal-28.font-w-light-36(data-cmp-data-layer="") History of Expected Delivery Date
            .c-delivery-history-table
                // block : c-table
                .c-table
                    table
                        caption Year, Reports Type, Reports Type
                        colgroup
                            col(width="33.3%").cell-size.year
                            col(width="33.3%").cell-size.type
                            col(width="33.3%")
                        thead
                            tr
                                th(scope="col") Date
                                th(scope="col") From
                                th(scope="col") To
                        tbody
                            tr.bold
                                td.year 
                                    p 03/05/2023
                                td.type 
                                    p 10/05/2023
                                td
                                    p 20/05/2023
                            tr
                                td.year 
                                    p 03/05/2023
                                td.type 
                                    p 10/05/2023
                                td
                                    p 20/05/2023
                            tr
                                td.year 
                                    p 03/05/2023
                                td.type 
                                    p 10/05/2023
                                td
                                    p 20/05/2023
                            tr
                                td.year 
                                    p 03/05/2023
                                td.type 
                                    p 10/05/2023
                                td
                                    p 20/05/2023
                            tr
                                td.year 
                                    p 03/05/2023
                                td.type 
                                    p 10/05/2023
                                td
                                    p 20/05/2023
        .button.c-pop-msg__button-wrap
            +defaultButton({name: 'Close', wSize: 'medium', mSize: 'medium', color:"red", buttonStyle: 'highlight', isButton: false})

    // Pop-up Change Completed
    +pop-msg-standard({id : `changeCompleted`, wSize: 'medium', mSize: 'small', headline:"Change Completed", headerBorder: false})
        // block - text contents
        .c-text-contents 
            .text.c-text-contents__bodycopy
                .cmp-text.font-m-normal-16.font-w-normal-16(data-cmp-data-layer="") Changing the delivery date was successful.
        .button.c-pop-msg__button-wrap
            +defaultButton({name: 'Close', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-pop-msg__close-btn js-pop-close" aria-controls="popWishlistSignIn")
    
    // Pop-up Change Completed (Failed)
    +pop-msg-standard({id : `changeCompletedFailed`, wSize: 'medium', mSize: 'small', headline:"Error", headerBorder: false})
        // block - text contents
        .c-text-contents 
            .text.c-text-contents__bodycopy
                .cmp-text.font-m-normal-16.font-w-normal-16(data-cmp-data-layer="") Sorry, we are unable to process your request to change delivery date for ship id 
                    <span class="font-red">[XXXXXXXX]</span> due to getting rejection response or connection error with the carrier system
        .button.c-pop-msg__button-wrap
            +defaultButton({name: 'Close', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: true})(class="c-pop-msg__close-btn js-pop-close" aria-controls="popWishlistSignIn")
    // [End] 2023-05-23 : ADD- Change Delivery Case

    // Pop-up to Cancel Order
    +pop-msg-standard({id : `cancelOrder`, headline:"Cancel Order", classes : 'ML000D__modal-container ML000D__modal-container--cancel'})
        // block - text contents
        .c-pop-msg__contents
            .c-text-contents.c-pop-msg__contents__text-box 
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__title
                    .cmp-text.font-m-normal-20.font-w-light-24(data-cmp-data-layer="") Are you sure you want to cancel?
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__desc
                    .cmp-text.font-m-normal-14.font-w-normal-14(data-cmp-data-layer="") Applied coupons will be returned. <br/>Your paid amount will be released within maximum1-2 business days  after the cancellation is completed.
                    .cmp-text.font-m-normal-14.font-w-normal-14(data-cmp-data-layer="") the item(s) to be cancel requested
                        ul.c-pop-msg__contents__list.c-pop-msg__contents__list--dot
                            li LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)
        +errorMsg([
            {
                title: "error",
                text: 'The cancellation cannot be made.'
            }
        ])
        .button.c-pop-msg__button-wrap.c-pop-msg__button-wrap--no-divide-on-mobile
            +defaultButton({name: 'No', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(class="js-pop-close")
            +defaultButton({name: 'Yes', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(disabled='disabled')

    // Pop-up to Return Item
    +pop-msg-standard({id : `returnOrder`, headline:"Return Item", classes : 'ML000D__modal-container ML000D__modal-container--return'})
        // block - text contents
        .c-pop-msg__contents
            .c-text-contents.c-pop-msg__contents__text-box
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__title
                    .cmp-text.font-m-normal-20.font-w-light-24(data-cmp-data-layer="") Are you sure you want to return?
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__desc
                    .cmp-text.font-m-normal-20.font-w-light-24(data-cmp-data-layer="") Applied coupons will be returned. 
                    .cmp-text.font-m-normal-14.font-w-normal-14(data-cmp-data-layer="") the item(s) to be return requested
                        ul.c-pop-msg__contents__list.c-pop-msg__contents__list--dot
                            li LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)
        .button.c-pop-msg__button-wrap
            +defaultButton({name: 'No', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(class="js-pop-close")
            +defaultButton({name: 'Yes', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})

    // Pop-up to invoice
    +pop-msg-standard({id : `popInvoice`, headline:"Invoice #113000001522", classes : 'ML000D__modal-container ML000D__modal-container--invoice', size: "large"})
        .c-pop-msg__contents
            .ML000D__modal-container--invoice__container
                .ML000D__modal-container--invoice__box
                    +myOrderItemInfo({code:"OLED55C24LA", name:"LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)"})
                        +headline("font-w-semibold-46 font-m-semibold-26", h3, "Invoice")
                        +headline("font-w-semibold-46 font-m-semibold-26", h3, "#113000001522")
                    +myOrderDetail([
                        {title:"SKU", bodycopy:"65NAN0906NA"},
                        {title:"Price", bodycopy:"£2,199.99"},
                        {title:"Qty Invoiced", bodycopy:"1"},
                        {title:"Subtotal (Tax included)", bodycopy:"£2,199.99"}
                    ])
                +cartPriceTotal([
                    {
                        isStickyBottom: false,
                        isMobileBottomFixed: false,
                        useToggleFoldBtn: false,
                        taxInclude:true,
                        discount: true,
                        delivery: true,
                        service: true,
                    },
                ])
        .button.c-pop-msg__button-wrap.display-only-web
            // [Start] 2023-04-25 : UPDATE - Print Invoice
            +defaultButton({name: 'Print Invoice', wSize: 'large', mSize: 'medium', buttonStyle: 'default', isButton: false})(class="print js-print" href="#" data-css-url="../../main.css,../../dev.css,./ML000D.css" role="print")
            // [End] 2023-04-25 : UPDATE - Print Invoice

    // popInvoiceError
    +pop-msg-standard({id:'popInvoiceError', size: "small"})
        .c-pop-msg__contents.c-pop-msg__contents--popNotifyMeError
            .c-pop-msg__contents--icon.c-pop-msg__contents--icon-error
            p.align-text-center
                | The file cannot be opened.
                br
                | please try again
        .button.c-pop-msg__button-wrap
            +defaultButton({
                name: "Close", 
                wSize:"medium", 
                mSize:"small", 
                buttonStyle : "default", 
                isButton : true
            })(class="c-pop-msg__close-btn js-pop-close" aria-controls="popInvoiceError")