extends ../_common/_layout.pug
include ../_common/_pop-msg.pug
include ../_common/_forms.pug
include ../_common/_button.pug
include ../_common/_cart-price-total.pug


block meta 
    - var componentId = "ML000D"
    - var componentName = "Order Details"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")


block content
    .button.c-cta
        +defaultButton({name:"Return Item Popup disable", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight'})(href="#returnOrderDisable", class="js-pop-open")
        .guide-text-option Option : (CZ)
        +defaultButton({name:"Return Item Popup disable_CZ", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight'})(href="#returnOrderDisableCZ", class="js-pop-open")
        +defaultButton({name:"Return Item Popup Enable_CZ", wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight'})(href="#returnOrderEnableCZ", class="js-pop-open")
        
block modal
    // Pop-up to Return Item Disable
    +pop-msg-standard({id : `returnOrderDisable`, headline:"Return Item", classes : 'ML000D__modal-container ML000D__modal-container--return'})
        // block - text contents
        .c-pop-msg__contents
            .c-text-contents.c-pop-msg__contents__text-box
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__title
                    .cmp-text.font-m-normal-20.font-w-light-24(data-cmp-data-layer="") If you would like to return, please contact our Customer Service
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__desc
                    .cmp-text.font-m-normal-14.font-w-normal-14(data-cmp-data-layer="") the item(s) to be return requested
                        ul.c-pop-msg__contents__list.c-pop-msg__contents__list--dot
                            li
                                span LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)
        .button.c-pop-msg__button-wrap
            +defaultButton({name: 'Close', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="js-pop-close")
    // Pop-up to Return Item Disable [CZ]
    +pop-msg-standard({id : `returnOrderDisableCZ`, headline:"Return Item", classes : 'ML000D__modal-container ML000D__modal-container--return'})
        // block - text contents
        .c-pop-msg__contents
            .c-text-contents.c-pop-msg__contents__text-box
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__title
                    .cmp-text.font-m-normal-20.font-w-light-24(data-cmp-data-layer="") V případě reklamace nebo odstoupení od kupní smlouvy, prosím kontaktujte zákaznický servis.
        .button.c-pop-msg__button-wrap
            +defaultButton({name: 'Close', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})(class="js-pop-close")
    // Pop-up to Return Item Enable [CZ]
    +pop-msg-standard({id : `returnOrderEnableCZ`, headline:"Return Item", classes : 'ML000D__modal-container ML000D__modal-container--return'})
        // block - text contents
        .c-pop-msg__contents
            .c-text-contents.c-pop-msg__contents__text-box
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__title
                    .cmp-text.font-m-normal-20.font-w-light-24(data-cmp-data-layer="") Are you sure you want to return?
                .c-text-contents__bodycopy.c-pop-msg__contents__text-box__desc
                    .cmp-text.font-m-normal-20.font-w-light-24(data-cmp-data-layer="") Applied coupons will be returned. 
                    .cmp-text.font-m-normal-14.font-w-normal-14(data-cmp-data-layer="") the item(s) to be return requested
                        ul.c-pop-msg__contents__list.c-pop-msg__contents__list--dot.c-pop-msg__contents__list-packagedeal
                            li
                                span LG B1 65 inch Class 4K Smart OLED TV w/AI ThinQ® (64.5'' Diag)
                            li
                                span Side By Side Refrigerator LG LS66MXN | LINEARCOOLING™ | 24.5
                            li
                                span LG Portable Inverter Air Conditioner, Cooling, 14,000 BTU/h, Dual
        .button.c-pop-msg__button-wrap
            +defaultButton({name: 'No', wSize: 'medium', mSize: 'medium', buttonStyle: 'default', isButton: true})(class="js-pop-close")
            +defaultButton({name: 'Yes', wSize: 'medium', mSize: 'medium', buttonStyle: 'highlight', isButton: true})

