extends ../_common/_layout.pug
include ../_common/_button.pug
include ../_common/_image.pug
include ../_common/_headline.pug
include ../_common/_forms.pug
include ../_common/_pop-msg.pug
include ../_common/_video.pug
include ./_AL0001_list
include ../_common/_pagination.pug

block meta 
    - var componentId = "AL0001"
    - var componentName = "About Newsroom (List)"
    - var description = "description text"
    - var keywords = "keyword list"
    title #{componentId}. #{componentName}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

block styles
    link(rel="stylesheet", href=componentId+".css")

block scripts
    script(src=componentId+".js" type="module")

block content

    // An area for testing options when coding. 
    // Please do not use it during development.
    .guide 
        .grid-1600 
        .grid-1440
        .inner
            .guide-list
                a(href="../../list-al.html") List 
            .guide-title #{componentId}. #{componentName}
            .guide-wrapper
                script.
                    const guideList = {
                        '.c-wrapper' : [
                            {
                                'name' : 'BG Color',
                                'buttons' : [
                                    {'toggle' : false, 'add' : 'bg-default', 'remove' : 'bg-white, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-white', 'remove' : 'bg-default, bg-lightgray, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-lightgray', 'remove' : 'bg-default, bg-white, bg-darkgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-darkgray', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-black'},
                                    {'toggle' : false, 'add' : 'bg-black', 'remove' : 'bg-default, bg-white, bg-lightgray, bg-darkgray'},
                                ]
                            },
                        ],
                    }
                script(type='text/javascript').
                    window.addEventListener('DOMContentLoaded', function() {
                        const all = document.querySelectorAll('.c-wrapper')
                        document.getElementById('type7').addEventListener('click', async () => {
                            all.forEach(c => {
                                c.classList.add('hidden')
                            });
                            const target = document.querySelector(".type-experience").closest(".c-wrapper");
                            target.classList.remove('hidden')
                            document.body.classList.add('dark-theme');
                        });
                        document.getElementById('type9').addEventListener('click', async () => {
                            all.forEach(c => {
                                c.classList.add('hidden')
                            });
                            const target = document.querySelector(".type-signature").closest(".c-wrapper");
                            target.classList.remove('hidden')
                            document.body.classList.add('dark-theme');
                        });
                    }, false);
            .button-wrapper
                .guide-column
                    .target Dark Theme
                    ul.btn-list
                        li.btn-item 
                            +button({class:"type7", name:"Dark type7", roleButton:"true", size: "small"})(id="type7")
                            +button({class:"type9", name:"Dark type9", roleButton:"true", size: "small"})(id="type9")

    .guide-text-type Type1.
    .c-wrapper.margin-bottom(class=componentId)
        .component
            .cmp-container
                //- block : text-contents
                .title.c-text-contents__headline.al-headline-h1
                    // 2022-11-18 change the default font size
                    h2.cmp-title(data-cmp-data-layer="") Blog
                    .al-headline-sub-title.font-m-normal-12.al-mobile-only Find helpful information about your LG product.
            .cmp-container
                .c-bloglList
                    //- .c-search-box__float
                    //-     .c-finder
                    //-         //- block : search
                    //-         .c-search-box
                    //-             //- block : .c-search-box__body(--multi, --double)
                    //-             .c-search-box__body.c-search-box__body--double
                    //-                 //- element : c-search-box__form
                    //-                 .c-search-box__form
                    //-                     .c-input-item
                    //-                         label.font-w-semibold-16.font-m-semibold-14(for="keyword-01" class="sr-only") Enter the keyword
                    //-                         input(type="text" id="keyword-01", placeholder="Enter the keyword")
                    //-                         +iconButton({type:"button",color:"black", class:"delete", otherClass:"blogList__delete", name:"delete"})
                    //-                 .button
                    //-                     button(type="button").c-search-box__button
                    //-                         span.sr-only Search
                    - let lengthMobile = 3;
                    - let lengthDesktop = 6;
                    ul.c-list(role="list", data-length-mobile=lengthMobile, data-length-desktop=lengthDesktop)
                        +bloglList([
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air , door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: ["IFA2018","LifesGood","HashTagAnything","IFA2018","LifesGood","HashTagAnything","IFA2018","LifesGood","HashTagAnything","IFA2018","LifesGood","HashTagAnything"],
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "",
                                date: "dd/mm/yyyy",
                                hashtag: ["IFA2018","LifesGood","HashTagAnything","IFA2018","LifesGood","HashTagAnything"],
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                                txtBtn: true
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                                txtBtn: true
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                                txtBtn: true
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                                txtBtn: true
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                                txtBtn: true
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                                txtBtn: true
                            },
                            {
                                isURL: "https://via.placeholder.com/",
                                isALT: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titleName: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME BUY MORE SAVE MORE 10% OFF",
                                titlePreview: "With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer With Door Cooling+, door contents stay cool with blasts of cold air. And cold air",
                                date: "dd/mm/yyyy",
                                hashtag: [],
                            },
                        ])
                    .cmp-button.align-text-center.more-btn
                        +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
    
    .guide-text-type Type2.
    // Component Markup
    mixin printTab(div, num, selected)
        if selected
            li.cmp-tabs__tab.cmp-tabs__tab--active(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="0", data-cmp-hook-tabs="tab", aria-selected="true")
                if block
                    block
        else 
            li.cmp-tabs__tab(role="tab", id=`tabs-${div}-item-${num}-tab`, aria-controls=`tabs-${div}-item-${num}-tabpanel`, tabindex="-1", data-cmp-hook-tabs="tab", aria-selected="false")
                if block
                    block

    mixin printTabPanel(div, num, selected)
        if selected 
            .cmp-tabs__tabpanel.cmp-tabs__tabpanel--active(id=`tabs-${div}-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-${div}-item-${num}-tab`, tabindex="0" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block
        else 
            .cmp-tabs__tabpanel(id=`tabs-1-item-${num}-tabpanel`, role="tabpanel", aria-labelledby=`tabs-1-item-${num}-tab`, tabindex="-1" data-cmp-hook-tabs="tabpanel", data-cmp-data-layer="")
                if block
                    block

    mixin publicNotices(params)
        .c-publicNotices__container
            each data in params
                .c-publicNotices__tabName.c-text-contents
                    .title.c-text-contents-title
                        strong.cmp-title.c-publicNotices__name.font-w-light-56.font-m-light-28= data.tabName
                    .text.c-text-contents-sub-title
                        span.cmp-text.c-publicNotices__text.font-w-normal-32.font-m-normal-20= data.tabSubName
                ul.c-publicNotices__list
                    each notice in data.notices
                        li.c-publicNotices__item.c-text-contents
                            .title.c-text-contents-title
                                a.c-publicNotices__item--anchor(href="#" data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="") 
                                    .cmp-title.font-w-light-36.font-m-light-24= notice.itemTitle
                                    .date.c-text-contents-sub-date
                                        span.cmp-date.font-w-normal-16.font-m-normal-12.c-publicNotices__item--date= notice.itemDate
    
    .c-wrapper.margin-bottom(class=componentId)
        .component
            .cmp-container
                .c-publicNotices
                    .c-text-contents
                        .title.c-text-contents__headline.al-headline-h1
                            h2.cmp-title(data-cmp-data-layer="") Public Notices
                    .tabs.panelcontainer
                        .cmp-tabs(data-cmp-data-layer="", data-placeholder-text="false")
                            .cmp-tabs__inner
                                ul.cmp-tabs__tablist(role="tablist", aria-multiselectable="false")
                                    +printTab(1, 1, true) TAB NAME
                                    +printTab(1, 2, false) TAB NAME
                                    +printTab(1, 3, false) TAB NAME
                                    +printTab(1, 4, false) TAB NAME
                                    +printTab(1, 5, false) TAB NAME

                            +printTabPanel(1, 1, true)
                                +publicNotices([
                                    {
                                        tabName:"[TAB NAME1]",
                                        tabSubName:"Public Notices",
                                        notices:[
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                        ]
                                    },
                                ])
                                .cmp-button.align-text-center
                                    +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
                            +printTabPanel(1, 2, false)
                                +publicNotices([
                                    {
                                        tabName:"[TAB NAME2]",
                                        tabSubName:"Public Notices",
                                        notices:[
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                        ]
                                    },
                                ])
                                .cmp-button.align-text-center
                                    +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
                            +printTabPanel(1, 3, false)
                                +publicNotices([
                                    {
                                        tabName:"[TAB NAME3]",
                                        tabSubName:"Public Notices",
                                        notices:[
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                        ]
                                    },
                                ])
                                .cmp-button.align-text-center
                                    +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
                            +printTabPanel(1, 4, false)
                                +publicNotices([
                                    {
                                        tabName:"[TAB NAME4]",
                                        tabSubName:"Public Notices",
                                        notices:[
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                        ]
                                    },
                                ])
                                .cmp-button.align-text-center
                                    +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
                            +printTabPanel(1, 5, false)
                                +publicNotices([
                                    {
                                        tabName:"[TAB NAME5]",
                                        tabSubName:"Public Notices",
                                        notices:[
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                            {
                                                itemTitle:"Heading can be up to 100 characters lorem dolor",
                                                itemDate:"DD/MM/YYYY",
                                            },
                                        ]
                                    },
                                ])
                                .cmp-button.align-text-center
                                    +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})

    .guide-text-type Type3.
    .c-wrapper.margin-bottom(class=componentId)
        .component
            .cmp-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline.al-headline-h1
                        // 2022-11-18 change the default font size
                        h2.cmp-title.font-w-regular-54.font-m-regular-30(data-cmp-data-layer="") Newsroom
                .topics-list.topics-list--latest
                    //- 최신 뉴스가 있을 경우
                    - var latestNews = true
                    if latestNews
                        .c-latest-news
                            +latestTopic([
                                {
                                    isImg:true,
                                    imgUrl:"https://via.placeholder.com/",
                                    title:"LG's 2021 soundbars offer premium audio and ai features with sustainable designs",
                                    body: 'LG Electronics (LG) is commencing the worldwide rollout of the 2021 LG Soundbar lineup, with new models delivering a more premium audio experience, versatility and convenient control while upping the ante with eco-consciousness designs and packaging.',
                                    listType:'Corporate',
                                    date:'March 31, 2022'
                                }
                            ])
                        .c-latest-news
                            +latestTopic([
                                {
                                    isImg:false,
                                    imgUrl:"",
                                    title:"LG's 2021 soundbars offer premium audio and ai features with sustainable designs",
                                    body: 'LG Electronics (LG) is commencing the worldwide rollout of the 2021 LG Soundbar lineup, with new models delivering a more premium audio experience, versatility and convenient control while upping the ante with eco-consciousness designs and packaging.',
                                    listType:'Corporate',
                                    date:'March 31, 2022'
                                },
                            ])
            .al-border-top
                .cmp-container
                    .c-sort-filter
                        .c-finder
                            //- block : search
                            .c-search-box
                                //- block : .c-search-box__body(--multi, --double)
                                .c-search-box__body.c-search-box__body--multi.cmp-form
                                    //- element : c-search-box__form
                                    .c-search-box__form
                                        .c-search-box__form-item
                                            p.font-w-normal-20.font-m-normal-16 Topics
                                            +formSelect("", "topics", "All Topics", true)
                                                option(value="") All Topics
                                                option(value="Topics") Topics
                                                option(value="Topics") Topics
                                        .c-search-box__form-item
                                            p.font-w-normal-20.font-m-normal-16 Years
                                            +formSelect("", "years", "All years", true)
                                                option(value="") All years
                                                option(value="2022") 2022
                                                option(value="2021") 2021
                                        .c-search-box__form-item
                                            p.font-w-normal-20.font-m-normal-16 Month
                                            +formSelect("", "months", "All months", true)
                                                option(value="") All months
                                                option(value="January") January
                                                option(value="February") February
                                                option(value="March") March
                                                option(value="April") April
                                                option(value="May") May
                                                option(value="June") June
                                                option(value="July") July
                                                option(value="August") August
                                                option(value="September") September
                                                option(value="Octorber") Octorber
                                                option(value="November") November
                                                option(value="December") December
                                    .button.c-search-box__button
                                        +defaultButton({name: 'Search', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
            .cmp-container
                .topics-list
                    .empty-list
                        .c-text-contents
                            .no-data.c-text-contents-no-data
                                p.cmp-no-data.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Sorry, no matches were found. Try a new search.
                    .c-text-contents
                        .title.c-text-contents__headline
                            p.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") March 2022
                    +topicsList([
                        {
                            isImg:true,
                            imgUrl:"https://via.placeholder.com/",
                            title:'',
                            body: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg:false,
                            imgUrl:"https://via.placeholder.com/",
                            title:'designed with solid fundamentals, new lg q and k series are designed to impress',
                            bodyText: '',
                            listType:'',
                            date:'31/03/2022'
                        } ,
                        {
                            isImg:true,
                            imgUrl:"https://via.placeholder.com/",
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                    ])
                    .c-global-newsroom
                        .c-global-newsroom-box
                            .c-global-newsroom__box.c-text-contents
                                .title.c-text-contents_title
                                    strong.cmp-title.font-w-light-56.font-m-light-24(data-cmp-data-layer="") Global LG Newsroom 
                                .text.c-text-contents_bodycopy
                                    p.-cmp-text.font-w-normal-24.font-m-normal-12(data-cmp-data-layer="") The lastest news and updates,direct from Global LG.
                            .c-global-newsroom__box.c-button__box
                                //- +textButton({name: 'Button Sample', wSize: 'large', mSize: 'large', buttonStyle: 'down', isButton: false})(data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                                +circleButton({name: 'Global LG Newsroom ', wSize: 'large', mSize: 'large', buttonStyle: 'white arrow', isButton: false})(data-link-name="" data-link-destination="" data-link-menu="" data-link-page-type="")
                    +topicsList([
                        {
                            isImg:true,
                            imgUrl:"https://via.placeholder.com/",
                            title:'',
                            body:'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg:true,
                            imgUrl:"https://via.placeholder.com/",
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                    ])
                                    
                    .c-text-contents
                        .title.c-text-contents__headline
                            p.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") February 2022
                    +topicsList([
                        {
                            isImg: true,
                            imgUrl: "https://via.placeholder.com/",
                            title: '',
                            body: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: true,
                            imgUrl:"https://via.placeholder.com/",
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: true,
                            imgUrl:"https://via.placeholder.com/",
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title: 'designed with solid fundamentals, new lg q and k series are designed to impress',
                            bodyText: '',
                            listType: '',
                            date:'31/03/2022'
                        },
                        {
                            isImg:true,
                            imgUrl:"https://via.placeholder.com/",
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                    ])
            .cmp-container
                .topics-list__button.align-text-center
                    //- +pagination
                    +textButton({name: 'More', wSize: 'large', mSize: 'small', buttonStyle: 'down', isButton: true})

    .guide-text-type Type4.
    .c-wrapper.margin-bottom(class=componentId)
        .component
            .cmp-container
                .title.c-text-contents__headline.al-headline-h1.c-businessList--video__headline
                    // 2022-11-18 change the default font size
                    h2.cmp-title(data-cmp-data-layer="") Page Title : Headline
                    
                .c-businessList--video
                    .c-search-box__float
                        .c-finder
                            //- block : search
                            .c-search-box
                                //- block : .c-search-box__body(--multi, --double)
                                .c-search-box__body.c-search-box__body--multi.cmp-form
                                    //- element : c-search-box__form
                                    .c-search-box__form
                                        .c-search-box__form-item
                                            p.font-w-normal-20.font-m-normal-16 Sort By
                                            +formSelect("", "Sort By", "All", true)
                                                option(value="") All
                                                option(value="All") All
                                                option(value="All") All
                    .c-businessList--video-list
                        .c-businessList--video-list-box
                            +c-businessList-video-list([
                                    {
                                        title: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME",
                                        topic: "Reference",
                                        date: "11/02/2022",
                                    },
                                    {
                                        title: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME",
                                        topic: "Reference",
                                        date: "11/02/2022",
                                    },
                                    {
                                        title: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME",
                                        topic: "Reference",
                                        date: "11/02/2022",
                                    },
                                    {
                                        title: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME",
                                        topic: "Reference",
                                        date: "11/02/2022",
                                    },
                                    {
                                        title: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME",
                                        topic: "Reference",
                                        date: "11/02/2022",
                                    },
                                    {
                                        title: "BUY MORE SAVE MORE 10% OFF WHEN YOU BUY ANY 2HOME",
                                        topic: "Reference",
                                        date: "11/02/2022",
                                    },
                                ])
                                
                        .button.align-text-center
                            +textButton({name: 'More', wSize: 'large', mSize: 'medium', buttonStyle: 'down', isButton: true})
                            
                        .empty-list
                            .c-text-contents
                                .no-data.c-text-contents-no-data
                                    p.cmp-no-data.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Sorry, no matches were found. Try a new search.

    .guide-text-type Type5.
    .c-wrapper.margin-bottom(class=componentId)
        .component
            .cmp-container
                .title.c-text-contents__headline.al-headline-h1
                    // 2022-11-18 change the default font size
                    h2.cmp-title(data-cmp-data-layer="") Page Title : Headline
                .c-businessList
                    +businessList([
                        {
                            tabDate:"March 2022",
                            notices:[
                                {
                                    itemTitle:"Heading can be up to 100 characters lorem dolor",
                                    itemBodycopy:"With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezerWith Door Cooling+, door contents stay cool with blasts of cold air. And cold With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezerWith Door Cooling+, door contents stay cool with blasts of cold air. And cold",
                                    itemDate:"DD/MM/YYYY",
                                },
                                {
                                    itemTitle:"Heading can be up to 100 characters lorem dolor",
                                    itemBodycopy:"With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezerWith Door Cooling+, door contents stay cool with blasts of cold air. And cold With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezerWith Door Cooling+, door contents stay cool with blasts of cold air. And cold",
                                    itemDate:"DD/MM/YYYY",
                                },
                                {
                                    itemTitle:"Heading can be up to 100 characters lorem dolor",
                                    itemBodycopy:"With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezer",
                                    itemDate:"DD/MM/YYYY",
                                },
                            ]
                        },
                        {
                            tabDate:"February 2022",
                            notices:[
                                {
                                    itemTitle:"Heading can be up to 100 characters lorem dolor",
                                    itemBodycopy:"With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezerWith Door Cooling+, door contents stay cool with blasts of cold air. And cold With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezerWith Door Cooling+, door contents stay cool with blasts of cold air. And cold",
                                    itemDate:"DD/MM/YYYY",
                                },
                                {
                                    itemTitle:"Heading can be up to 100 characters lorem dolor Heading can be up to 100 characters lorem dolor Heading can be up to 100 characters lorem dolor Heading can be up to 100 characters lorem dolor Heading can be up to 100 characters lorem dolor Heading can be up to 100 characters lorem dolor",
                                    itemBodycopy:"With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezerWith Door Cooling+, door contents stay cool with blasts of cold air. And cold With Door Cooling+, door contents stay cool with blasts of cold air. And cold air in the freezerWith Door Cooling+, door contents stay cool with blasts of cold air. And cold",
                                    itemDate:"DD/MM/YYYY",
                                },
                            ]
                        },
                    ])
                .button.align-text-center
                    +textButton({name: 'More', wSize: 'large ', mSize: 'medium ', buttonStyle: 'down', isButton: true})

    .guide-text-type Type6-1. Announcement (Search text available)
    .c-wrapper.margin-bottom(class=componentId)
        .component.type-announcement
            .cmp-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline.al-headline
                        h2.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Announcements
                .c-sort-filter
                    //- block : search
                    .c-search-box
                        //- block : .c-search-box__body(--multi, --double)
                        form.c-search-box__body.c-search-box__body--multi.cmp-form
                            //- element : c-search-box__form
                            .c-search-box__form
                                .c-search-box__form-item
                                    //- p.font-w-normal-20.font-m-normal-16 Topics
                                    +formSelect("Topics", "topics2", "All Topics", false)
                                        option(value="") All Topics
                                        option(value="Topics") Topics
                                        option(value="Topics") Topics
                                .c-search-box__form-item.c-search-box__form-item--input
                                    +formText("text", "keyword", "topicsKeyword", false, "Enter a keyword", false, true, false, false, false, "Clear the form")
                            .button.c-search-box__button
                                +defaultButton({name: 'Search', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})
                .topics-list
                    .empty-list
                        .c-text-contents
                            .no-data.c-text-contents-no-data
                                p.cmp-no-data.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Sorry, no matches were found. Try a new search.
                    
                    .c-text-contents
                        .title.c-text-contents__headline
                            p.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Must Read
                    +topicsList([
                        {
                            isImg: false,
                            title: '',
                            body: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        }
                    ])
                    .c-text-contents
                        .title.c-text-contents__headline
                            p.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") All
                    +topicsList([
                        {
                            isImg: false,
                            title:'',
                            body: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title:'designed with solid fundamentals, new lg q and k series are designed to impress',
                            bodyText: '',
                            listType:'',
                            date:'31/03/2022'
                        } ,
                        {
                            isImg: false,
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },{
                            isImg: false,
                            title: '',
                            body: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title: 'designed with solid fundamentals, new lg q and k series are designed to impress',
                            bodyText: '',
                            listType: '',
                            date:'31/03/2022'
                        }
                    ])
                .topics-list__button.align-text-center
                    +pagination

    .guide-text-type Type6-2. Announcement (Search text not available)
    .c-wrapper.margin-bottom(class=componentId)
        .component.type-announcement
            .cmp-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline.al-headline
                        h2.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Announcements
                .c-sort-filter
                    //- block : search
                    .c-search-box
                        //- block : .c-search-box__body(--multi, --double)
                        form.c-search-box__body.c-search-box__body--multi.cmp-form
                            //- element : c-search-box__form
                            .c-search-box__form
                                .c-search-box__form-item
                                    //- p.font-w-normal-20.font-m-normal-16 Topics
                                    +formSelect("Topics", "topics3", "All Topics", false)
                                        option(value="") All Topics
                                        option(value="Topics") Topics
                                        option(value="Topics") Topics
                            .button.c-search-box__button
                                +defaultButton({name: 'Search', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: true})
                .topics-list
                    .empty-list
                        .c-text-contents
                            .no-data.c-text-contents-no-data
                                p.cmp-no-data.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Sorry, no matches were found. Try a new search.
                    
                    .c-text-contents
                        .title.c-text-contents__headline
                            p.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Must Read
                    +topicsList([
                        {
                            isImg: false,
                            title: '',
                            body: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        }
                    ])
                    .c-text-contents
                        .title.c-text-contents__headline
                            p.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") All
                    +topicsList([
                        {
                            isImg: false,
                            title:'',
                            body: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title:'designed with solid fundamentals, new lg q and k series are designed to impress',
                            bodyText: '',
                            listType:'',
                            date:'31/03/2022'
                        } ,
                        {
                            isImg: false,
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },{
                            isImg: false,
                            title: '',
                            body: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title:'',
                            bodyText: 'Lorem ipsum dolor sit amet consectetur.',
                            listType:'Corporate',
                            date:'31/03/2022'
                        },
                        {
                            isImg: false,
                            title: 'designed with solid fundamentals, new lg q and k series are designed to impress',
                            bodyText: '',
                            listType: '',
                            date:'31/03/2022'
                        }
                    ])
                .topics-list__button.align-text-center
                    +pagination

    .guide-text-type Type7. Experience
    .c-wrapper.margin-bottom(class=componentId)
        mixin experienceImg
            .c-image-area
                // block - image
                .image.c-image
                    +printLazyImage(`https://via.placeholder.com/960x600`, '')
        mixin experienceItem(itemType, idx) 
            if (itemType == 'lastest')
                .c-image-area
                    .image.c-image
                        +printLazyImage('https://www.lg.com/content/dam/channel/wcms/uk/2023_promotion/40off-speakers/_Desktop_1920x720_tandc_change_s.jpg', '')
                .c-text-contents
                    .text.c-text-contents__eyebrow
                        +textButton({name: 'textButton', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                    .title.c-text-contents__headline
                        p.cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="") Knock twice, see inside! The all new LG InstaView Door-in-Door™
                    .text.c-text-contents__editor
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Dec.12, 2022 dd/mm/yyyy
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") By Adrian Back
                    .text.c-text-contents__editor
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") By Adrian Back
                    .text.c-text-contents__editor
                        span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Dec.12, 2022 dd/mm/yyyy
                        
                    .button.c-cta
                        +defaultButton({name: 'Learn more', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        +defaultButton({name: 'Learn More', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                        +textButton({name : 'Learn More', wSize : 'medium', mSize : 'small', buttonStyle : "default", isButton : false})(role="button")

            else
                .c-experience-list__item--top
                    +experienceImg
                    .c-text-contents
                        .text.c-text-contents__eyebrow
                            +textButton({name: 'Inspiration', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        .title.c-text-contents__headline
                            p.cmp-title.font-w-light-36.font-m-light-24(data-cmp-data-layer="") Knock twice, see inside! The all new LG InstaView
                        if idx > 3
                            .text.c-text-contents__bodycopy
                                span.cmp-text.font-w-normal-16.font-m-normal-16(data-cmp-data-layer="") Of course, foods that are easily contaminated, like meat and fish, should be kept in the fridge at all times. But vegetables vegetables vegetables vegetables
                        .text.c-text-contents__editor
                            span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Dec.12, 2022 dd/mm/yyyy
                            span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") By Adrian Back
                        .text.c-text-contents__editor
                            span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") By Adrian Back
                        .text.c-text-contents__editor
                            span.cmp-text.font-w-normal-16.font-m-normal-14(data-cmp-data-layer="") Dec.12, 2022 dd/mm/yyyy
                .c-experience-list__item--bottom
                    .button.c-cta
                        if idx === 0 || idx % 3 == 0
                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
                        else if idx === 1 || idx % 3 == 1
                            +defaultButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'highlight', isButton: false})
                        else
                            +textButton({name: 'Button Text', wSize: 'medium', mSize: 'small', buttonStyle: 'default', isButton: false})
        .component.type-experience
            .cmp-container

                // block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline.al-headline
                        h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") LG Exprience
                // block : category link
                .c-tabs
                    .c-tabs__inner
                        .c-tabs__tablist
                            a.c-tabs__item.c-tabs__tab.c-tabs__tab--active(href="#" aria-selected="true") All
                            a.c-tabs__item.c-tabs__tab(href="#" aria-selected="false") Up & Coming
                            a.c-tabs__item.c-tabs__tab(href="#" aria-selected="false") Helpful Hints
                            a.c-tabs__item.c-tabs__tab(href="#" aria-selected="false") LG Lab
                            a.c-tabs__item.c-tabs__tab(href="#" aria-selected="false") Inspiration
                            a.c-tabs__item.c-tabs__tab(href="#" aria-selected="false") Our Stories
                // block : list
                .c-experience-list
                    .c-experience-list__lastest
                        .c-experience-list__item
                            +experienceItem('lastest')
                    ul.c-experience-list__list
                        - for (var x=0; x<9; x++)
                            li.c-experience-list__item
                                +experienceItem('', x)
                    .c-load-more
                        +pagination

    .guide-text-type Type8. Experience - Search Result
    .c-wrapper.margin-bottom(class=componentId)
        .component.type-experience
            .cmp-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline.al-headline
                        h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Search results for 
                            span.font-w-light-56.font-m-light-24 #instaview
                .c-sort-filter
                    .c-finder
                        //- block : search
                        .c-search-box
                            //- block : .c-search-box__body(--multi, --double)
                            .c-search-box__body.c-search-box__body--multi.cmp-form
                                //- element : c-search-box__form
                                .c-search-box__form
                                    .c-search-box__form-item
                                        p.font-w-normal-24.font-m-normal-16 Category
                                        +formSelect("", "category", "All Topics", true)
                                            option(value="") All
                                            option(value="Up & Coming") Up & Coming
                                            option(value="Helpful Hints") Helpful Hints
                                            option(value="LG Lab") LG Lab
                                            option(value="Inspiration") Inspiration
                                            option(value="Our Stories") Our Stories
                                    .c-search-box__form-item
                                        p.font-w-normal-24.font-m-normal-16 Sort by
                                        +formSelect("", "sortBy", "Sort by", true)
                                            option(value="2022") Recent
                                            option(value="2021") Past
                                .button.c-search-box__button
                                    +defaultButton({name: 'Search', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})
                .c-result-area
                    .c-result-area__controls
                        .c-result-area__result
                            span.sr-only Filter:
                            strong.c-result-area__count 1,360 
                            span Total results
                // block : list
                .c-experience-list
                    ul.c-experience-list__list
                        - for (var x=0; x<9; x++)
                            li.c-experience-list__item
                                +experienceItem('', x)
                    .c-load-more
                        +pagination
                // error
                .c-error-area
                    .c-error.c-error--404
                        .c-error__img
                        .c-text-contents.align-text-left
                            .title.c-text-contents__headline
                                h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                                    | We're sorry, your search did not return any results on LG Experience.
                            .text.c-text-contents__bodycopy 
                                p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                    | Check out other LG Experience articles.

                            .button.c-cta
                                +defaultButton({
                                    name: 'Go to LG Experience', 
                                    wSize: 'medium', 
                                    mSize: 'small', 
                                    buttonStyle: 'highlight', 
                                    isButton: true
                                })

    .guide-text-type Type9. LG SIGNATURE - Search Result
    .c-wrapper.margin-bottom(class=componentId)
        .component.type-signature
            .cmp-container
                //- block : text-contents
                .c-text-contents
                    .title.c-text-contents__headline.al-headline
                        h1.cmp-title.font-w-light-56.font-m-light-28(data-cmp-data-layer="") Search results for 
                            span.font-w-light-56.font-m-light-24 #SIGNATURE
                .c-sort-filter
                    .c-finder
                        //- block : search
                        .c-search-box
                            //- block : .c-search-box__body(--multi, --double)
                            .c-search-box__body.c-search-box__body--multi.cmp-form
                                //- element : c-search-box__form
                                .c-search-box__form
                                    .c-search-box__form-item
                                        p.font-w-normal-24.font-m-normal-16 Category
                                        +formSelect("", "category", "All Topics", true)
                                            option(value="") All
                                            option(value="Up & Coming") Up & Coming
                                            option(value="Helpful Hints") Helpful Hints
                                            option(value="LG Lab") LG Lab
                                            option(value="Inspiration") Inspiration
                                            option(value="Our Stories") Our Stories
                                    .c-search-box__form-item
                                        p.font-w-normal-24.font-m-normal-16 Sort by
                                        +formSelect("", "sortBy", "Sort by", true)
                                            option(value="2022") Recent
                                            option(value="2021") Past
                                .button.c-search-box__button    
                                    +defaultButton({name: 'Search', wSize: 'large', mSize: 'medium', buttonStyle: 'highlight', isButton: true})

                .c-result-area
                    .c-result-area__controls
                        .c-result-area__result
                            span.sr-only Filter:
                            strong.c-result-area__count 9,999 
                            span Total results
                // block : list
                .c-experience-list
                    ul.c-experience-list__list
                        - for (var x=0; x<9; x++)
                            li.c-experience-list__item
                                +experienceItem('', x)
                    .c-load-more
                        +pagination
                // error
                .c-error-area
                    .c-error.c-error--404
                        .c-error__img
                        .c-text-contents.align-text-left
                            .title.c-text-contents__headline
                                h1.cmp-title.font-w-light-36.font-m-normal-28(data-cmp-data-layer="") 
                                    | We're sorry, your search did not return any results on LG SIGNATURE.
                            .text.c-text-contents__bodycopy 
                                p.cmp-text.font-w-normal-16.font-m-normal-12(data-cmp-data-layer="")
                                    | Check out other LG SIGNATURE articles.

                            .button.c-cta
                                +defaultButton({
                                    name: 'Go to LG SIGNATURE', 
                                    wSize: 'medium', 
                                    mSize: 'small', 
                                    buttonStyle: 'highlight', 
                                    isButton: true
                                })
